[2022-10-19 16:06] vishnu-narayanan opened #5679 "document use of crowdin cli tool with selfhosted chatwoot to fetch latest translations"
**Is your enhancement request related to a problem? Please describe.**
[code]

**Describe the solution you'd like**
Use crowdin cli tool to pull latest translations to self-hosted servers.

**Describe alternatives you've considered**
n/a

**Additional context**
Originally reported at https://app.chatwoot.com/app/accounts/1/conversations/19249

[2022-10-19 17:44] fayazara opened #5680 "Bug: Automations updates are not available in the dashboard without a refresh"
**Describe the bug**

Automation runs in the background but the changes are not visible in Chatwoot dashboard unless we refresh.

**To Reproduce**

Steps to reproduce the behavior:
1. Add a automation - message outgoing -> add label
2. Send a message
3. See that label is not added
4. Refresh and see the label is visible.

[2022-10-19 17:49] fayazara commented on #5680
PS, We need to add a new endpoint for updating labels in a conversation - the above bug lead to a new issue - removing the current label, deleted all labels if there was only one.

[2022-10-19 19:23] #5112 closed

[2022-10-19 20:05] sojan-official commented on #5678
@matthiscock could you mention the server spec  ( memory ) .

[2022-10-19 20:07] #5675 closed

[2022-10-19 20:32] pranavrajs commented on #5679
@vishnu-narayanan I'm not sure if I understand the issue properly. For contributions, they can directly log into the Crowdin instance directly. For production usage, they can pull the latest version from Chatwoot. What is the use case for pulling the translations? The string may have changed in between even if they tried pulling the latest.

[2022-10-19 20:44] #5428 closed

[2022-10-19 20:55] #5677 closed, assigned to nobody

[2022-10-19 20:58] pranavrajs commented on #5622
@ssteeltm This is a confirmed bug, we will prioritize a fix in the upcoming sprints.

[2022-10-20 00:18] pranavrajs opened #5684 "Macros Frontend: Followup"
- [ ] **Stability:** Previous state appears when navigating to the new macro page without refreshing the app.
https://www.loom.com/share/b393faa54512407399f379f25069e288

- [ ] **Design:** The label font weight is not consistent.
<img width="221" alt="Screenshot 2022-10-19 at 5 08 00 PM" src="https://user-images.githubusercontent.com/2246121/196827978-a717e3b3-0553-4b23-91a7-83907e1a7f71.png">

-

[2022-10-20 03:35] julienmarie opened #5685 "Huge, slow and unecessary payload on /api/v1/accounts/x/contacts/x/conversations endpoint"
**Is your enhancement request related to a problem? Please describe.**
Noticed big slow downs on this endpoint and realized that it was loading the content of all messages in the conversations which is not needed at this point. It's mainly email based conversations that are heavy.

Attached a screenshot from NewRelic

**Describe the solution you'd like**
I don't think the messages of conversations

[2022-10-20 04:04] pranavrajs commented on #5672
@adam-nygate Thanks for the suggestion. We have received a lot of feedback where the conversations were assigned to people who were offline and were never attended in time. Hence this approach. At the moment, it would not assign to any offline agent.

With that in mind, we can provide an option to set the availability manually instead of using the availability based on whether you are active on th

[2022-10-20 04:21] pranavrajs commented on #5685
@julienmarie Thanks for reporting this, we will investigate this.

[2022-10-20 04:23] pranavrajs commented on #5685
@tejaswinichile Please take a look at this whenever you have time in the next sprint. It seems like we might be missing the pagination param. Paginating the conversations/message would solve the issue IMO.

[2022-10-20 04:23] apraditya commented on #3205
Hi @sabarish98, I'm interested taking this issue. Can I confirm that what's left is to get the `contacts_controller` refactored as service objects / concern?

[2022-10-20 04:24] julienmarie commented on #5685
Thanks @pranavrajs  :) Pagination seems ok, it's just the json object is returning all messages inside each conversation. In our case, we often receive html emails, and it seems quite heavy for the Rails JSON encoder.

[2022-10-20 04:31] julienmarie commented on #5685
@pranavrajs @tejaswinichile Would you like me to send you an example of the JSON response that took a minute ? Please tell me where to send it securely

[2022-10-20 04:37] sabarish98 commented on #3205
@apraditya, although I had left a comment months ago, I didn't hear back from the @tejaswinichile and thus didn't get it assigned / refractor anything regarding this. So, I may not be the right person to validate this.

@tejaswinichile : Please clarify

[2022-10-20 04:50] pranavrajs commented on #5685
@julienmarie Please send the payload to hello@chatwoot.com.

[2022-10-20 04:54] julienmarie commented on #5685
@pranavrajs Sent! Thank you!

[2022-10-20 08:17] muhsin-k opened #5688 "bug: Conversation read status is not working properly"
https://www.loom.com/share/0ef52825032249549527327ab76fce5c

[2022-10-20 08:29] adam-nygate commented on #5672
Thanks @pranavrajs, that makes sense. Setting the availability manually would also be a good solution.

[2022-10-20 10:34] Ghost108 opened #5689 "Push notifications and attachments"
Hi all,

since yesterday I am using a self hosted docker version of chatwoot.
My situation now:

- I can access the agent interface and the user interface (website widget) over my own domain and https
- Communication between user and agent works
- my iphone app (as agent) works

What does not work:
- Push Notifications with Firefox / Safari (normal?) - With Google Chrome it works

![Bildschirmfoto

[2022-10-20 10:50] vishnu-narayanan commented on #5679
@pranavrajs To fetch the latest translations for a language from Crowdin before it is merged and available in Chatwoot `develop` branch.

[2022-10-20 11:10] matthiscock commented on #5678
It has 11gb of ram (some of which is swap space)

It one one deadicated cpu (a premium amd)

Stacks of disk space

[2022-10-20 13:34] iamsivin commented on #5649
@tejaswinichile I have done an investigation about this issue and tested it locally. While trying it, I couldn't see any errors related to this. But I think this issue is present in firefox for windows machines with the audio file format.

Tested Devices -
Mac OS - 12.6
Browser - Firefox Dev Edition v.107.0b2

[2022-10-20 14:30] ssteeltm commented on #5622
Hello, upgraded to v2.10.
Issue with message works fine now.
But with private message it persists, continue to break line.

[2022-10-20 15:45] #3859 closed

[2022-10-20 15:48] pranavrajs opened #5690 "Test Issue from Volta"

[2022-10-20 15:57] sojan-official commented on #5649
ref: https://github.com/chatwoot/chatwoot/issues/4942 ?

[2022-10-20 16:32] intrealm commented on #5672
we recently upgraded from 2.5.0 to 2.8.1,
I could see a difference in behaviour since the upgrade

when 1 or more collaboratoring agents are available (no difference here)
  in 2.5.0 new/opened conversation gets assinged to an available agent
  in 2.8.1 new/opened conversation gets assinged to an available agent

when no collaborating agent is available
  in 2.5.0 new/opened conversation would sti

[2022-10-20 22:42] pranavrajs commented on #5672
@intrealm Makes sense, this is correct. The underlying idea was that none of the offline agents would be assigned a conversation. The conversations would be assigned in a round-robin fashion among the online agents.

I believe the right approach here would be to provide the flexibility to set the availability rather than making the assignment logic complex.

[2022-10-21 00:51] pranavrajs opened #5692 "Integrate Retool with Chatwoot"
**Context**: https://discord.com/channels/647412545203994635/1006470116432695368/threads/1032259204578279434

<img width="780" alt="Screenshot 2022-10-20 at 5 47 49 PM" src="https://user-images.githubusercontent.com/2246121/197085893-ebf6d661-3bb8-4b18-aab0-88b06a81d638.png">

**Investigation Results:**

The Retool app runs in a sandbox so the direct postMessage option doesn't work. We would have

[2022-10-21 02:13] #4942 closed

[2022-10-21 02:41] #5584 closed

[2022-10-21 03:45] Azfarrr opened #5696 "Stuck in webpacker:compile in 'rake assets:precompile RAILS_ENV=production'"
I don't know if it is permitted to post an issue that has been solved but I'll just post for other's reference.

This past week, I am trying to update my self hosted chatwoot installation, on AWS ubuntu 20.04 instance.I followed the official [guide](https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm/) on how to update my chatwoot version, and stuck on step `rake assets:precompile RAILS_

[2022-10-21 04:13] julienmarie commented on #2011
Would be great to be able to use deepl as well instead of Google Translate ( Deepl translation quality is way better)

[2022-10-21 04:58] iamsivin commented on #5193
Closing this issue since it's fixed by PR https://github.com/chatwoot/chatwoot/pull/5400

[2022-10-21 04:58] #5193 closed

[2022-10-21 05:07] iamsivin commented on #5301
Closing this issue since the PR is merged (https://github.com/chatwoot/chatwoot/pull/4440)

[2022-10-21 05:07] #5301 closed

[2022-10-21 07:29] Ghost108 commented on #5689
nobody?

[2022-10-21 08:45] intrealm commented on #5672
@pranavrajs thanks for confirming.

however looking at the documentations @ https://www.chatwoot.com/docs/product/inbox/routing-conversations-round-robin/
it clearly says **"If all the agents are offline, the system would distribute the conversations equally to all agents."**

can somebody confirm
if this feature was taken away in 2.8.1?
or if it is back in the 2.10 releases?
or maybe the document

[2022-10-21 09:08] matthiscock commented on #5678
Reserved by upping the server massively.
For those coming across this, i bumped the server on Digital Ocean to a Biggy ,and then post the install, was able to revert it back to a far more reasonable droplet level.

Seems a shame you have to do this to compile it.  I guess docker overcomes this.
Docs would be nice to say what level of droplet you need to compile, vs the droplet you need to actually

[2022-10-21 09:40] mmojadad opened #5701 "Some error in install.sh --install"
When i try install chatwoot on a fresh ubuntu 20.04 i get following error :

wget https://get.chatwoot.app/linux/install.sh
chmod +x install.sh

# ./install.sh --install
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/usr/lib/python3.8/json/__init__.py", line 357, in loads
    return _default_decoder.decode(s)
  File "/usr/lib/python3.8/json/decoder.py", line 337

[2022-10-21 10:21] mmojadad opened #5702 "HTTP/1.1 301 Moved Permanently on Docker"
I installed on ubuntu 20.04, Docker
I noticed root_base_1 not start and also in terminal

curl -I localhost:3000
HTTP/1.1 301 Moved Permanently
Content-Type: text/html
Location: https://localhost:3000/

------------- .env -----------

SECRET_KEY_BASE=a123123123123129841398237129871298713908198u323123111
FRONTEND_URL=https://mydomain.com:3000
DEFAULT_LOCALE=fa
FORCE_SSL=true
ENABLE_ACCOUNT_SIGNUP=f

[2022-10-21 10:56] Ghost108 opened #5703 "Error 429 after aktivating pre chat"
**Describe the bug**
I activated the option pre chat for the widget (fields fullname).
After click on "Unterhaltung beginnen" nothing happens.
If I disable the option "pre chat" it works.

**Screenshots**
![Bildschirmfoto 2022-10-21 um 12 51 05](https://user-images.githubusercontent.com/17011498/197179396-5970f338-4a59-4d62-a7a7-e012623dca3d.png)

**Browser logs**
[Error] Failed to load resource:

[2022-10-21 11:29] vishnu-narayanan commented on #5670
Could you please try again after updating `docker` and `docker-compose`?

ref: https://www.chatwoot.com/docs/self-hosted/deployment/docker#pre-requisites

[2022-10-21 11:33] vishnu-narayanan commented on #5678
@matthiscock Thank you for sharing what worked for you. Using the docker version would be the recommended way if you are in a highly resource-constrained environment.

The minimum recommended instance/droplet spec is 4vCPU with at least 8GB of RAM. Ref  https://www.chatwoot.com/docs/self-hosted/deployment/digital-ocean#create-a-droplet-vm

We will look into improving the memory/CPU usage during th

[2022-10-21 11:33] #5678 closed

[2022-10-21 11:39] vishnu-narayanan commented on #5689
Have you tried using an external cloud storage service for ActiveStorage?
ref: https://www.chatwoot.com/docs/self-hosted/deployment/storage/supported-providers

[2022-10-21 11:41] vishnu-narayanan commented on #5689
I am using Firefox and notification are working for me. Could you share your FF version and OS?

[2022-10-21 11:45] vishnu-narayanan commented on #5696
@Azfarrr Thank you for taking the time and effort to share this. 😅 Yeah, the assets compilation is quite resource-heavy, and we are looking into ways to bring that down.

A solution is to use docker-based deployment to skip the compilation stage from your end altogether.

[2022-10-21 11:47] vishnu-narayanan commented on #5701
@mmojadad This information is not enough to debug. Could you share more details?

https://github.com/chatwoot/chatwoot/blob/develop/.github/ISSUE_TEMPLATE/bug_report.md

[2022-10-21 11:52] vishnu-narayanan commented on #5702
@mmojadad

I noticed root_base_1 not start and also in terminal

This is expected and should be fine.

HTTP/1.1 301 Moved Permanently
Content-Type: text/html
Location: https://localhost:3000/

This is also expected since Chatwoot is redirecting you to the onboarding page. I will update the documentation to reflect this. Could you try `curl -I localhost:3000/api`?

You should install and use a prox

[2022-10-21 12:02] vishnu-narayanan commented on #5689
Does FF prompt you to allow notifications when clicking on the `Enable Push Notifications` button?
![image](https://user-images.githubusercontent.com/3526167/1971
91165-3ab7df45-9139-48a9-b68a-ab3d283f9c1d.png)

[2022-10-21 12:07] mmojadad commented on #5701
@vishnu-narayanan

Docker version 20.10.12, build 20.10.12-0ubuntu2~20.04.1
-------------------
docker info
Client:
 Context:    default
 Debug Mode: false

Server:
 Containers: 6
  Running: 5
  Paused: 0
  Stopped: 1
 Images: 4
 Server Version: 20.10.12
 Storage Driver: overlay2
  Backing Filesystem: extfs
  Supports d_type: true
  Native Overlay Diff: true
  userxattr: false
 Logging Driver: jso

[2022-10-21 12:09] CristianDuta opened #5704 "Bug: Identifier not persisted on customer created via Inbox API Channel"
**Describe the bug**

This relates to the public Inbox API where you can create a contact for an inbox. I create a contact and provide all fields but the only (most important) one that is not persisted in the DB, is the identifier. This leads to never being able to identify a contact by the identifier because it is never persisted. It always falls back on the email / phone number to identify the c

[2022-10-21 12:11] mmojadad commented on #5702
@ vishnu-narayanan
curl -I localhost:3000/api
HTTP/1.1 301 Moved Permanently
Content-Type: text/html
Location: https://localhost:3000/api

I walked based on documentation and expect to see response code 200, Please update documentation
About nginx , Yes i know but after install and config it based on documentation , On https://mydomain.com just default nginx welcome page show

[2022-10-21 13:16] Ghost108 commented on #5689
Yes and I allowed this

[2022-10-21 13:27] Ghost108 opened #5705 "The full name is not updating when creating a conversation from the widget"
Self hosted via Docker

If you activate the pre chat option wit the fields fullname and email, it works fine:
<img width="971" alt="Bildschirmfoto 2022-10-21 um 15 22 22" src="https://user-images.githubusercontent.com/17011498/197206436-f2efca36-0f48-4deb-a583-31475ac2cc90.png">

<img width="333" alt="Bildschirmfoto 2022-10-21 um 15 21 25" src="https://user-images.githubusercontent.com/17011498/19

[2022-10-21 14:39] mmojadad commented on #5702
After enable reverse proxy and ssl, Welcome page show . But after fill first e-form redirected to

https://chatafzar.ir/installation/onboarding

With following error, chatwoot-setup.log is empty!

![image](https://user-images.githubusercontent.com/13836821/197222178-4f8e438a-3c98-439d-8b38-ea1800303fb6.png)

[2022-10-21 15:05] walderfranco opened #5707 "problems accessing chatwoot Caprover"
Hi,
I have installed Chatwoot on Caprover using AWS Lightsail.
After installation everything works fine using the subdomain that caprover generates but after activating https and Websocket Support the application (chatwoot) gives me the following error.

![image](https://user-images.githubusercontent.com/49401126/197227601-0c33b2f8-5092-4521-a8b5-9220e66e6b01.png)

I don't know what could be happe

[2022-10-21 17:38] bonny1992 commented on #5670
Indeed updating docker's version to the latest available (as of today, `20.10.10`) made it work.

Any idea why it wasn't working with the version `19` trying the July (or even older) images? The other user said that the version `18` was enough to run it.

I had no issues with other updated Alpine-based images, but probably those were not using Ruby.

[2022-10-21 17:54] pranavrajs commented on #5707
@walderfranco It seems there is a missing env variable. Can you please make sure that you have set the FRONTEND_URL config? Please see the documentation [here](https://www.chatwoot.com/docs/self-hosted/configuration/environment-variables/#configure-frontend-url-domain).

[code]

[2022-10-21 17:55] pranavrajs commented on #5705
@Ghost108 Thanks for reporting the issue. @muhsin-k Can you please check if you can reproduce the behaviour?

[2022-10-21 17:56] pranavrajs commented on #5703
@Ghost108 There is a limit on the number of conversations you can create per hour. If you exceed that you would be blocked by the system. Is it happening on the first try?

[2022-10-21 18:04] Ghost108 commented on #5703
No, not on the first try. but why it will block with active pre chat option and will not block, if I disable the pre chat option?

[2022-10-21 18:21] pranavrajs commented on #5672
@intrealm Thanks for pointing this out. The documentation was outdated, I've updated it now.

[2022-10-21 20:53] Christilut opened #5708 "Ability to disable inbox on a website"
**Is your feature request related to a problem? Please describe.**
It would be nice if I could disable an inbox.

**Describe the solution you'd like**
A toggle button in the inbox configuration to disable an inbox so it no longer appears on my website, without having to remove the chatwoot code.

**Describe alternatives you've considered**
The only other way is to remove/update the code from the w

[2022-10-21 21:12] voko3456 opened #5709 "Support CSML Messages Wait & Url"
- Add support for CSML functions Wait, URL

[2022-10-21 21:31] iammattmartin commented on #5708
dupe of #4320 and nearly #273.

Long asked feature but nothing coming it seems.

[2022-10-21 21:38] walderfranco commented on #5707
I'm going to check, thanks

[2022-10-21 21:41] walderfranco commented on #5707
indeed, problem solved, I'm already inside the application. thank you.

[2022-10-21 21:41] #5707 closed

[2022-10-21 22:26] sojan-official commented on #5709
At the moment, it is not supported. We will take this up for future iterations

[2022-10-21 22:36] punyaikhwan opened #5710 "Reports By Company Name"
**Problem**
We need to see which company is the most active asking to customer service as well as the most nonactive. So, we can give a special treatment to the nonactive one.

**Solution**
It will be better if we can see report by company name. The company name is obtained from customer contact.

[2022-10-21 23:37] sojan-official commented on #3205
@apraditya Let me assign the issue to you. Refactoring the contacts controller should suffice.

[2022-10-22 01:05] #5375 closed

[2022-10-22 18:16] joejordanbrown commented on #5462
Setting the slug to /company/knowledge-base breaks the system after saving.

I didn't create a new issue as I'm guessing this would be fixed with "Add URL validation for the home page link."?

[2022-10-23 08:51] Ghost108 opened #5715 "chatbot dialogflow - no response"
Hi!

I configured a chatbot agent with the help of your documentation:
https://www.chatwoot.com/docs/product/channels/live-chat/integrations/dialogflow/

As you can see on the dialogflow web demo, my chatbot agent works:
https://bot.dialogflow.com/99fa2043-9073-4539-80bc-24b6f57ae48d

(for example write "Hallo" and you will get an answer)

A few screenshots:
A part of my google project id:

<img w

[2022-10-23 10:26] Ghost108 commented on #5715
I found the solution!!

I had to create a agent bot via super_admin web interface:
<img width="390" alt="Bildschirmfoto 2022-10-23 um 12 24 51" src="https://user-images.githubusercontent.com/17011498/197386913-ef7f8f3d-36f7-430e-b2e1-0cc8d28e6226.png">

Now my bot dialogflow works!
Could it be, that this step is missing in your documentation?

[2022-10-23 12:14] GyR4uk opened #5716 "Bug when editing words"
Bug when editing words

[Запись экрана от 23.10.2022 15:13:07.webm](https://user-images.githubusercontent.com/35705596/197391480-bbdf71ce-3567-4f6e-9b06-61c4190dfcec.webm)

[2022-10-23 17:53] smartdev58 opened #5717 "platform API accounts creation endpoint not working with features false flags"
POST request for platform API accounts to create an account doesn't work.

POST and PATCH endpoints need to work for following data format.
[code]

[2022-10-24 06:18] Ghost108 opened #5719 "Wrong color for action button"
**Describe the bug**
I set the color "green" for my chat widget. That works! But the action button of a bot answer is default blue:

<img width="383" alt="Bildschirmfoto 2022-10-24 um 08 12 56" src="https://user-images.githubusercontent.com/17011498/197459958-700be42c-9318-4d60-b498-9477cd2968f3.png">

**To Reproduce**

Steps to reproduce the behavior:
Create a dialogflow intent with a custom payl

[2022-10-24 09:23] duongvanphung commented on #5413
I need search by name, too

[2022-10-24 15:44] grimurd opened #5720 "feat: icelandic language support"
Can you add icelandic language support to crowdin?

[2022-10-24 17:41] pranavrajs commented on #5720
Added here. https://translate.chatwoot.com/chatwoot/is

[2022-10-24 17:42] #5720 closed

[2022-10-24 17:45] pranavrajs commented on #5716
Thanks for reporting the issue. Closing this as this is a duplicate of https://github.com/chatwoot/chatwoot/issues/5622

[2022-10-24 17:45] #5716 closed

[2022-10-24 17:52] vagner-dias opened #5721 "Location to see deleted messages"
@Giszmo At the moment, yes. We will add a log when a user deletes a message so that auditing is available.

_Originally posted by @pranavrajs in https://github.com/chatwoot/chatwoot/issues/1283#issuecomment-874240954_

Hello, @pranavrajs, could you please tell me where I can see these logs ?

Regards,

[2022-10-24 19:15] pranavrajs opened #5722 "Overflowing emoji box in react-native widget"
![overflowing-emoji](https://user-images.githubusercontent.com/2246121/197606996-7913ef50-266c-414b-9875-fef6a413be2a.jpg)

- Overflowing emoji box

[2022-10-24 20:12] hugodeco opened #5723 "Inbox Working Hours Matched"
Would be great if we can retrieve from API a calculated value of Inbox Working Hours.
its common to use this endpoint:
   - https://{{host}}/api/v1/accounts/{{account}}/inboxes/{{inbox}}

in order to get the inbox working hours, but the problem is:
when the external server that makes this request has a different timezone from the chatwoot host, we have to recalculate the working hours.

so would b

[2022-10-24 20:29] grupale commented on #5481
I'm using v2.10 and I'm having the same issue.

[2022-10-24 22:07] sojan-official opened #5724 "feat: support Oauth for Email Channel"
Microsoft has already begun deprecating basic authentication for office 365 using IMAP and SMTP. Unfortunately, there are no workaround app passwords like Gmail. It will be completely removed the first week of 2023. For reference,

https://learn.microsoft.com/en-us/exchange/clients-and-mobile-in-exchange-online/deprecation-of-basic-authentication-exchange-online

[2022-10-24 22:25] sojan-official commented on #5448
ref: https://discord.com/channels/647412545203994635/848225067770839071/1018423289741316096

[2022-10-24 22:36] sojan-official commented on #3449
The recommended spec now  4GB VM costs around 24$ on digital ocean. Though you might be able to run chatwoot at a much lower spec if your work load is less.
on Heroku, it depends on the specific dynos and addons that you opt for.

[2022-10-24 22:36] #3449 closed

[2022-10-24 22:37] sojan-official opened #5725 "feat: Ability to view all attachments shared in a conversation"
- a single view or filter to see all the attachments shared in a conversation so that I won't have to scroll through all the individual messages.

https://discord.com/channels/647412545203994635/650257251856285707/1034117186559688746

[2022-10-25 02:59] #5722 closed

[2022-10-25 05:17] pranavrajs opened #5730 "Macros - Release v1"
Macros CRUD operations and execution is completed already. During the test, we found a couple of improvements/bugs. The list is added below.

### Updates

#### Permissions:
- [x] Agents can update/delete their own macros.
- [x] Any agent or admin can only delete the macros they created or orphan macros (any macros created by an agent who was previously a part of the team).
- [x] A public macro cre

[2022-10-25 05:20] pranavrajs opened #5731 "Messages sent by the macro are shown as sent by the bot."

[2022-10-25 05:20] pranavrajs opened #5732 "“Send Attachment” action - UI issues"
The “Send Attachment” action shows the “Upload Attachment” option in the edit screen even though the file was uploaded previously.

- Fix the action behavior
- Fix the spelling mistake (Update it to `successfully`)

Loom: https://www.loom.com/share/fbb1cb41892f45c28e70cc3dc18cb769

[2022-10-25 05:28] pranavrajs opened #5733 "Macros - Allow adding a private note"
“Add private note” with content. (Use rich content editor, support @mentions as well).

Similar to "Send Message". Allow the agents to add an action to add private notes. Rich content or @mentions are not needed in v1. Those are good to have.

**A sample use case:**
We get invalid chats in our cloud. We can close it directly by sending a message to the customer and adding a private note on why we

[2022-10-25 05:29] muhsin-k commented on #5705
The issue is reproducible.

[2022-10-25 05:30] pranavrajs opened #5734 "Macros - Remove label"
Allow an agent to add a "Remove label" option in a macro. Input a list of labels, all those labels if added to the conversation would be removed when the macro is executed.

[2022-10-25 05:32] pranavrajs opened #5735 "Macros - Allow unassigning conversations from a team"
- Add “None” to “Assign team” (Un-assign a team).

[2022-10-25 05:33] pranavrajs opened #5736 "Macros - Assign agents"
- Add the “Assign Agent” option (Support both assign/unassign)

[2022-10-25 06:15] pranavrajs opened #5739 "Test the community plugin for Nuxt 3/Vue 3 and add it to the docs"
- Test the plugin available at https://opensource.huntersofbook.com/guide/nuxt-packages/chatwoot/
- Add it to the docs with the label `community maintained`.

[2022-10-25 06:15] pranavrajs commented on #5739
@fayazara Please take a look at this whenever you have time.

[2022-10-25 06:17] productdevbook commented on #5739
Vue 3: https://github.com/huntersofbook/huntersofbook/tree/main/packages/chatwoot-vue

Nuxt 3: https://github.com/huntersofbook/huntersofbook/tree/main/packages/chatwoot-nuxt

[2022-10-25 06:49] #5684 closed

[2022-10-25 08:05] #5594 closed

[2022-10-25 12:53] iammattmartin opened #5744 "Staff / Inboxes Permissions"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Currently, all staff can see all inboxes. So if you have multiple brands in one installation, there is no way to say Staff X can only see Inboxes 1 2 and 3. This is bad.

The option is to then split out the Inbox per brand to a new "account". This then has its own issues in that you have to

[2022-10-25 20:08] nithindavid opened #5747 "bug: Deleted agent with same email cannot be added again"
**Describe the bug**

If an agent is added, then deleted and later someone tries to add the same agent with the same email again, an "Agent email already in use, Please try another email address" message is displayed. The bug can be easily reproduced. It was possible to mitigate it by using different case letters.

[2022-10-25 21:52] nithindavid opened #5748 "bug: Pagination in contact page not working"
**Describe the bug**
In the contacts page, the total results are shown 28. The current page has 25 but when you click next page icon nothing happens

<img width="1759" alt="Screenshot 2022-10-25 at 2 48 49 PM" src="https://user-images.githubusercontent.com/1277421/197888861-d03d2f98-7a13-41b6-9ffb-800e17d0c626.png">

[2022-10-25 22:04] #5082 closed

[2022-10-25 22:09] sojan-official commented on #5744
@iammattmartin  Only administrators can see all inboxes. If you add your staff as agents, their visibility is limited to the specific inbox to which they are added as collaborators.

[2022-10-25 22:16] #5748 closed

[2022-10-25 22:22] nithindavid commented on #5730
@pranavrajs Can we have canned response support for macros?
This can be solved alternatively by having rich text editor there(With toggle option to support other channels)

[2022-10-25 22:26] glauberssoutodossantos opened #5750 "Automation does not send attachments on WhatsApp"
**Describe the bug**

When I have an automation programmed to send an audio or a PDF to the client, these types of attachments are not automatically posted.

This only occurs on WhatsApp.

![image](https://user-images.githubusercontent.com/99494469/197893536-e31b8950-da3b-4cef-9cc9-3feb7d799aee.png)

https://user-images.githubusercontent.com/99494469/197893581-30c7e2d8-7c89-475e-9b6e-677ded9db854.

[2022-10-25 23:17] #5719 closed

[2022-10-26 02:25] pranavrajs opened #5752 "Help Center Portal - Add missing validations"
- [x] Empty custom domain validations
- [x] Add URL validation for the home page link

[2022-10-26 02:26] pranavrajs opened #5753 "Editing a published article directly updates the content on the website"

[2022-10-26 02:27] pranavrajs opened #5754 "[CW-2585] Help Center: Support logo upload for the header"
- [ ] Allow admins to upload the logo on the header.

<sub>[CW-2585](https://linear.app/chatwoot/issue/CW-2585/help-center-support-logo-upload-for-the-header)</sub>

[2022-10-26 02:28] pranavrajs opened #5755 "Support images in the description"

[2022-10-26 02:32] pranavrajs opened #5756 "Help Center: Fix the article view count"
- The count is always 0

<img width="1110" alt="Screenshot 2022-10-25 at 7 34 52 PM" src="https://user-images.githubusercontent.com/2246121/197920938-43a219c0-2788-4e61-a552-f6fd68ef117f.png">

[2022-10-26 02:35] pranavrajs opened #5757 "Allow users to select the web widget"

[2022-10-26 02:36] pranavrajs opened #5758 "Display articles in the web widget"
TBD

[2022-10-26 02:37] pranavrajs commented on #5462
@joejordanbrown Makes sense, we will cover it in the missing validations ticket.

[2022-10-26 04:21] JWesorick commented on #4464
@maartenvn Do you have an example of sending the `config-set` for the workaround?

[2022-10-26 04:45] JWesorick commented on #320
Is this happening?

[2022-10-26 04:51] Azfarrr opened #5759 "Add a section in the help/guide for deleting agent"
**Is your enhancement request related to a problem? Please describe.**
No guide/FAQ on what will happen when an agent is deleted.

**Describe the solution you'd like**
A help page detailing what will happen to agent and all things related to the agent (assigned conversations, messages). Will all the agent messages be deleted together with the agent? etc

**Describe alternatives you've considered**

[2022-10-26 05:15] panaras10 commented on #5758
hey @pranavrajs  -- no offence but instead of planning and discussing new features, can you guys please focus on fixing the several bugs that were introduced with the latest updates?

[2022-10-26 06:17] sunilravilla opened #5760 "add -webkit-scrollbar css to widget to look nice"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
`// keep ::-webkit-scrollbar inside .conversation--container
// to avoid affecting other scrollbars
.conversation--container {
  &::-webki

[2022-10-26 06:57] sunilravilla commented on #5760
![image](https://user-images.githubusercontent.com/111700167/197955778-7c41909f-8af9-4439-b7b9-850cfe33eefc.png)
if i select white color for widget user-message text is merged with background color

[2022-10-26 10:27] iammattmartin commented on #5744
Thanks but there are times where you'll want an admin but to only see specific boxes. I just think the scope controls really need improving...

[2022-10-26 11:16] Ghost108 opened #5763 "widget shows agent offline"
**Describe the bug**
The web widget show agent as offline:
<img width="391" alt="Bildschirm­foto 2022-10-26 um 13 09 22" src="https://user-images.githubusercontent.com/17011498/198011864-c595f02f-2906-42c9-98f7-ee8df9e3a02b.png">
(=we are away at the moment)

Yes, thats right -> because I closed the window of my agent web interface.
BUT: I also using the ios chatwoot app

**Expected behavior**
If

[2022-10-26 14:05] voko3456 opened #5764 "Working Hours not working with agent bot"
it should if i send message out of working hours the conversation should not go to agent bot

[2022-10-26 14:22] walderfranco opened #5765 "Problem adding email channel inbox"
Hello, I have Chatwoot installed in Caprover but when I try to connect an email and it generates the forwarder it appears like this and google workspace does not accept it.

Is it some missing or misplaced environment variable?
xxxxxxxxxxx795a9aa@false

![image](https://user-images.githubusercontent.com/49401126/198051994-a37aa507-eb43-4898-be3b-77fbbaa63b2c.png)

[2022-10-26 14:56] rocktimsaikia commented on #5496
Yes. The same issue is happening in our product too. @Higher08 Did you find a way around it?

[2022-10-26 18:24] muhsin-k commented on #5496
@Higher08 Apologies for the delay here. We could be able to reproduce this issue from our side, and the team has already started working on it.

[2022-10-26 18:31] Ghost108 opened #5766 "user cant leave conversation when dialogflow bot send message"
**Describe the bug**
User can leave the conversation, when he/she gets an message of the option "channel greeting".
<img width="389" alt="grafik" src="https://user-images.githubusercontent.com/17011498/198107098-d8444e66-18ff-43a4-b2eb-dcdd99849219.png">

But if he/she gets an message from a dialogflow bot, the icon will not be visible:
<img width="391" alt="grafik" src="https://user-images.github

[2022-10-26 18:37] Ghost108 commented on #5703
any updates here?

[2022-10-26 18:39] Ghost108 commented on #5689
any updates here?

[2022-10-26 18:40] #5715 closed

[2022-10-26 23:18] pranavrajs commented on #5758
@panaras10 Can you please the bugs or issues you are facing? I can only see one of them reported here #5629 which is already in progress.

[2022-10-26 23:22] pranavrajs commented on #5759
@Azfarrr Thanks for pointing this out. We will add documentation for the same.

[2022-10-26 23:59] pranavrajs commented on #5356
Closing this as this is the duplicate of #4228

[2022-10-26 23:59] #5356 closed

[2022-10-27 00:02] pranavrajs commented on #5340
@cod3master This is the default behavior of modals in most places. Let me know if you have any specific instances where the outside click is creating major issues. Closing this out as we might not change this behavior.

[2022-10-27 00:02] #5340 closed

[2022-10-27 00:14] #1487 closed

[2022-10-27 00:17] pranavrajs commented on #5517
@softmarshmallow Can you please reach out to hello@chatwoot.com with your account information? It would be helpful to debug the issue with your account information. Closing this here as we would take in the cloud support channel.

[2022-10-27 00:17] #5517 closed

[2022-10-27 00:18] pranavrajs commented on #4661
Closing this as there was no activity for a long time. Please feel free to reopen if the issue still persists.

[2022-10-27 00:18] #4661 closed

[2022-10-27 00:25] pranavrajs commented on #1590
Closing this as we have not prioritized this so far.

[2022-10-27 00:25] #1590 closed

[2022-10-27 00:31] pranavrajs opened #5767 "Contact attachment messages are not working"

[2022-10-27 00:31] #5767 closed

[2022-10-27 00:32] pranavrajs commented on #4241
Closing this issue in favor of https://github.com/orgs/chatwoot/projects/31/views/2

[2022-10-27 00:32] #4241 closed

[2022-10-27 00:44] pranavrajs commented on #4276
Closing this as we will track the progress here. https://github.com/orgs/chatwoot/projects/31/views/3

[2022-10-27 00:44] #4276 closed

[2022-10-27 15:43] jochenstu opened #5770 "WA (Cloud API) Messages are sometimes not being delivered"
**Describe the bug**

WA messages dispatched through the web interface (not tested on mobile) using the WA Cloud API are regularly not being delivered for unknown reasons. This is correctly acknowledged in the interface, the checkmark being missing.
**To Reproduce**

Unclear. I have not been able to see a pattern. What *is* clear is that a message is never being delivered outside of the 24 hour co

[2022-10-27 16:18] iamsivin opened #5771 "bug: Text colour is getting merged with the light background colour."
**Describe the bug**

If the widget colour is light, the user-message text colour is not visible in the widget.
ref: https://github.com/chatwoot/chatwoot/issues/5760#issuecomment-1291584329

**To Reproduce**

Steps to reproduce the behaviour:
1. Go to inbox settings,
2. Click on the Widget colour.
3. Set it to white or a light colour and update it.
4. Come back to the widget and send a message now

[2022-10-27 19:35] #5629 closed

[2022-10-27 22:56] iammattmartin commented on #5758
I'd like to add a similar comment. Lots of focus being added for new features but still things like being able to continue conversations from the email sent is one. I get CW is trying to be all solutions to everyone but surely that is a core function otherwise if a guest comes to the site and goes, then changes computer, the conversation is lost with no way to resume via the site!

[2022-10-28 00:51] #5752 closed

[2022-10-28 02:05] panaras10 commented on #5758
Since 2.9.x we've had the following issues:

1) The chat timestamps are not updating correctly causing confusing across our agents
2) The chatbox has a weird bug where when you edit a message it adds a \n line
3) The websockets randomly shutdown showing "Chatwoot is Disconnected"
4) No Safari notifications?!?!

Thanks for the consideration. I understand that chatwoot needs to make money and mainta

[2022-10-28 03:01] julienmarie commented on #5182
As the code is detecting when the websocket is disconnected, would not it be possible to try to reconnect again when this happen?
something like that ?:

[code]

[2022-10-28 09:06] iammattmartin commented on #5758
I can confirm 1, 2 and 3 are replicated. We don't use Safari to confirm that.

[2022-10-28 12:35] xlttj commented on #273
@sojan-official This would be an insanely helpful feature. Currently I simply scale the chatwoot-web deployment in Kubernetes to 0 replicas. That results in lots of 503 errors, but hey, the widget's gone :) Another option would be to not include the widget code on the website, but since that currently requires a GitLab build, that's not an option.

[2022-10-28 14:02] marcelstoer commented on #2575
This should be reopened, see https://github.com/chatwoot/chatwoot/pull/5619#issuecomment-1291635767 for details.

[2022-10-28 14:48] vishnu-narayanan commented on #2575
@marcelstoer Yes, done.

[2022-10-29 09:00] mariusa commented on #5763
Recently we only see 'We are away at the moment' message, even though an agent has the inbox opened in a browser tab. We didn't set staff hours availability. This used to work.

There's also an error in console:
[code]

[2022-10-31 02:55] pranavrajs commented on #5763
@iamsivin Please check this behavior whenever you have time and see if you can reproduce the error mentioned above.

[2022-10-31 02:59] pranavrajs commented on #5764
@voko3456 Can you please share the use case? I think it would be better to have the cases handled by the bot if the team is offline.

[2022-10-31 06:52] tejaswinichile commented on #5730
@nithindavid "Send Canned response" something like this? And the save the content for canned responses?

[2022-10-31 06:54] fayazara commented on #5730
@tejaswinichile We already have the `send message` option, right.

[2022-10-31 07:21] tejaswinichile commented on #5730
@fayazara We would need at least a short code to be saved right, for canned responses?

[2022-10-31 09:57] iamkhalidbashir commented on #5462
Creating image or added embedded video links is crucial for us

[2022-10-31 09:58] iamkhalidbashir commented on #5755
@pranavrajs any ETA on this?

[2022-10-31 16:01] weppa-cloud commented on #5258
Hi, any update about this?
Thanks

[2022-10-31 16:35] #5688 closed

[2022-10-31 17:41] givetimetolife opened #5780 "docker build fails on apple m1 pro"
**Describe the bug**

`docker buildx build --platform=linux/amd64 -f docker/Dockerfile .` fails on apple silicon m1 pro (darwin arm64)

**To Reproduce**

Steps to reproduce the behavior:
1. `git clone https://github.com/chatwoot/chatwoot.git`
2.  `docker buildx build --platform=linux/amd64 -f docker/Dockerfile .  -t xxx`

**Expected behavior**

build FINISHED

**Screenshots**

n/a

**Browser logs*

[2022-10-31 17:47] arielesp opened #5781 "web widget is not showing on iOS"
The start chat, web widget is not showing when on iOS device

Works fine in Android and desktop browsers

Just paste widget code in html page, example
https://meu-servidor.com/teste1.html

Using chatwoot docker version, latest update to now.

**Docker**
Please share the output of the following.
- `docker version` Docker version 20.10.5+dfsg1, build 55c4c88
- `docker info`
Client:
 Context:    defa

[2022-10-31 17:55] smartdev58 commented on #5764
@pranavrajs @voko3456 As I investigated and tested the codebase I found in checking if active bot is assigned in the following code section in `hook_execution_service.rb` file:

[code]

[2022-10-31 18:11] pranavrajs commented on #5781
@arielesp This seems to be a problem with the SSL configuration. The URL `https://livechat.cactusgaming.net/` is not accessible in safari. Fixing the SSL certificates should fix this issue. Please feel free to reopen if it is not the case.

[2022-10-31 18:11] #5781 closed

[2022-10-31 20:34] DanielGannage commented on #5635
Yes, postgres is running properly. Simply running `redis server restart` always solves the issue. Its required every 3 days, otherwise we get the error

[2022-11-01 01:40] pranavrajs commented on #5635
@DanielGannage Can you try running using a dedicated Redis/Postgres service? It seems like your Redis and Postgres might be running out of memory if you are using the default Linux VM installation method.

[2022-11-01 03:46] uhlhosting commented on #1039
Any updates on this one?

[2022-11-01 05:59] pranavrajs commented on #5755
@nithindavid Please sync up with @fayazara to take this forward.

[2022-11-01 06:07] iamkhalidbashir commented on #5755
@pranavrajs I will surely do that. On a side note, the image might take some time, but can we include an embedded HTML code at the moment? That would take certainly less time than image uploading and would let us get what we want for time being.

[2022-11-01 07:24] sentry-io[bot] opened #5782 "ArgumentError: bad argument (expected URI object or URI string)"
Sentry Issue: [CHATWOOT-NN](https://sentry.io/organizations/chatwoot-p3/issues/3435111000/?referrer=github_integration)

[code]

[2022-11-01 07:26] tejaswinichile commented on #5782
This issue is particular because of not able to validating access token.

[code]

Attachment_payload:  `{"hash_with_indifferent_access"=>true, "id"=>"1767669113592185", "mime_type"=>"video/mp4", "sha256"=>"sgKx5g+2GarKA/6kfQ6VLf8humOYXrxQqtXkXSKgsWw="}`

inbox: `21521`

[2022-11-01 07:26] tejaswinichile commented on #5782
@sojan-official Should we re-authentication page for this?

[2022-11-01 10:40] muhsin-k commented on #5705
Currently, the contact name will only add if an email ID exists.

Reference
https://github.com/chatwoot/chatwoot/blob/develop/app/controllers/api/v1/widget/base_controller.rb#L53

We could do something like this,
[code]

 The issue with this approach is that the contact name will be rewritten if the contact already exists.

@pranavrajs @sojan-official

[2022-11-01 10:50] #5732 closed

[2022-11-01 11:27] BrutalBirdie commented on #5081
Bump.

Does no one else see the implication here?
This can be abused as a DDoS attack if the system has limited storage.
If the system is hooked up to a scalable filesystem then this could lead into immense costs.

[2022-11-01 12:36] vishnu-narayanan commented on #5780
Are you deploying on a k8s cluster having arm64 nodes?

[2022-11-01 12:42] vishnu-narayanan commented on #5765
It should be of the format `<random-hex-code>@domain.com`. Have you configured the conversation continuity-related variables?

https://www.chatwoot.com/docs/self-hosted/configuration/features/email-channel/conversation-continuity

[2022-11-01 14:17] weppa-cloud commented on #5770
The problem occurs when I send the template from this interface
![imagen](https://user-images.githubusercontent.com/69656828/199254201-bb9052ba-bc69-4af0-8fc7-234e5adc6685.png)

![imagen](https://user-images.githubusercontent.com/69656828/199254459-293b34b8-cec1-4303-a8aa-958d3d484c87.png)

When I have already created the new conversation and send the template like this, it is sent correctly
![ima

[2022-11-01 15:03] iamkhalidbashir commented on #4890
This should be a domain
MAILER_INBOUND_EMAIL_DOMAIN="inbound.mailer.mydomain.in"

[2022-11-01 16:10] tejaswinichile commented on #5782
Proposed solution:
-  Handle the error and mark the inbox in-active

[2022-11-01 21:37] DanielGannage commented on #5635
We have a dedicated postgres server on aws and the vm for redis is on azure. Do you mean to use something like Elasticache on Aws for redis?

After todays crash i took screenshots of what sidekiq looks like. Doesnt seem to be a memory leak.

**Before Restart**
Processes: 1
Threads: 10
Busy: 7
Usage: 70%
RSS: 427 MB

Version: 5.0.7
Uptime: 0 days
Connections: 19
Memory Usage: 1.82 M
Peak Memory Usa

[2022-11-01 22:22] sojan-official commented on #5635
ref: https://github.com/chatwoot/chatwoot/pull/5574

[2022-11-01 23:43] sojan-official commented on #3199
ref: https://github.com/chatwoot/chatwoot/pull/5574

[2022-11-02 00:22] #5771 closed

[2022-11-02 03:19] #4012 closed

[2022-11-02 03:37] harismateen commented on #5481
@pranavrajs is this the issue already settled in current release or still in-progress to fix?

[2022-11-02 03:44] panaras10 commented on #5763
I am able to replicate this error on our end too on some occasions. I think it has to do with Redis not refreshing the status correctly?

[2022-11-02 04:01] givetimetolife commented on #5780
Yes.

To fix this, I successfully built and deployed to k8s using a mac with an Intel chip,

But I think m1 pro should also build and deploy successfully , is it right??

[2022-11-02 05:18] iamsivin commented on #5763
@pranavrajs I tested it out with staging and couldn't reproduce it.

1. Tested it with business hours settings turned off.
     https://www.loom.com/share/8c4cc53fc5894260828afd1a342c4645

2. Tested it with business hours settings turned on. It is not updating automatically but shows while refreshing.
     https://www.loom.com/share/c0d858e458a24d33be6bcf05d81e8c5c

Correct me if I'm wrong.

Can y

[2022-11-02 09:12] mariusa commented on #5763
Hi, I'm using https://www.chatwoot.com/ (hosted by you)

1. open Inbox in a browser tab https://app.chatwoot.com/app/accounts/.../inbox/16877
2. in another browser profile, open the page which has embedded chat
3. click on chat icon
4. see attached
![2022-11-02_11-11](https://user-images.githubusercontent.com/1283842/199450147-0a19788a-989a-4193-baf2-c0fb059d9f6d.png)

[2022-11-02 09:13] mariusa commented on #5763
See also error in console message above, maybe it's related

[2022-11-02 13:34] WevrLabs commented on #2502
is this on the roadmap for the near future?
@sojan-official @pranavrajs

[2022-11-02 20:54] #5668 closed

[2022-11-02 21:30] pranavrajs opened #5789 "Bulk Actions: Assign Team"
Allow users to assign a team in bulk actions.

![image](https://user-images.githubusercontent.com/2246121/199605553-3d563105-333b-4ee2-b23d-84704f3b834b.png)

Note: The API already supports bulk updating the params.

Todo:
- Update the UI to include assign team option in the bulk actions

Created from: https://discord.com/channels/647412545203994635/650257251856285707/1035585140182745188

[2022-11-02 21:32] pranavrajs commented on #4522
Closing this as the change is completed.

[2022-11-02 21:32] #4522 closed

[2022-11-02 21:32] pranavrajs commented on #3941
Closing this as the change is completed.

[2022-11-02 21:32] #3941 closed

[2022-11-03 00:30] sojan-official commented on #5182
@julienmarie  Chatwoot reconnects to the WebSocket again automatically. We show the warning because there is no fail-safe for the events sent during the period when they were disconnected from webhooks. To ensure that the agents don't lose the updates during the disconnection, we encourage them to refresh the page using the warning.

ref: https://github.com/chatwoot/chatwoot/issues/995

[2022-11-03 00:31] #3199 closed

[2022-11-03 02:27] smartdev58 commented on #5764
Hi @voko3456 @pranavrajs Here is the video for the case that "out of office" is not being sent to the customer when an active bot is assigned:

https://www.loom.com/share/a18a14adbf3949a4b1bcc89f8b961dd6

Should we remove the following line to allow sending template message?
https://github.com/chatwoot/chatwoot/blob/c121b44df419696cd44601468e36064c680356d9/app/services/message_templates/hook_execu

[2022-11-03 02:36] sojan-official commented on #5764
ref: https://github.com/chatwoot/chatwoot/issues/5514
ref: https://github.com/chatwoot/chatwoot/blob/c121b44df419696cd44601468e36064c680356d9/app/services/message_templates/hook_execution_service.rb#L5

Automated messages are not sent for bot-connected inboxes at the moment

[2022-11-03 10:43] iammattmartin opened #5792 "feat: Ability to delete a conversation"
**Is your feature request related to a problem? Please describe.**
Currently the delete button only works for the contact, which then deletes all messages.

**Describe the solution you'd like**
Ability to only delete a message thread instead of the whole contact.

[2022-11-03 19:18] pranavrajs commented on #5739
Closing this as the documentation is live.

[2022-11-03 19:18] #5739 closed

[2022-11-03 20:47] #5766 closed

[2022-11-03 21:33] fhonline opened #5794 "Strange behavior when API channel uses business hours"
I would like to report a strange situation with Chatwoot: when we create an API-type channel and use the ENABLE BUSINESS HOURS part (we put the message and the time intervals) the messages triggered in the channel's webhook vary from company to company.

Today I use Chatwoot in SaaS mode, and for example, company 1 fires a json in the channel's webhook with the created conversation + created messa

[2022-11-03 21:39] fhonline commented on #5794
![image](https://user-images.githubusercontent.com/95591514/199839521-cc19038d-968f-4697-9527-b996e01dd8fa.png)

[2022-11-03 21:40] fhonline commented on #5794
![image](https://user-images.githubusercontent.com/95591514/199839731-cb154b5a-48fd-4726-9b10-406ebb82ee65.png)

[2022-11-03 21:43] fhonline commented on #5794
![image](https://user-images.githubusercontent.com/95591514/199840152-50be07bb-0534-4f54-9658-e70397d53475.png)

[2022-11-03 21:44] fhonline commented on #5794
The example above is from account 1

[2022-11-03 21:45] fhonline commented on #5794
The example above is from account 1

Now below I will show the shipments of company 2:

[2022-11-03 21:50] fhonline commented on #5794
![image](https://user-images.githubusercontent.com/95591514/199841249-65283b05-5102-43ea-8c71-94745ba46b15.png)

[2022-11-03 21:51] fhonline commented on #5794
![image](https://user-images.githubusercontent.com/95591514/199841384-7c900b70-80ff-4191-a258-f2ad570f72cd.png)

[2022-11-03 21:53] fhonline commented on #5794
![image](https://user-images.githubusercontent.com/95591514/199841587-60110cac-dcb3-4917-b3a5-6a15ee8ecd6f.png)

[2022-11-03 21:54] fhonline commented on #5794
now i will show you account 3

[2022-11-03 22:01] fhonline commented on #5794
![image](https://user-images.githubusercontent.com/95591514/199842712-cb9f618c-4709-4558-89d5-38c9c6b80bdb.png)

[2022-11-03 22:02] fhonline commented on #5794
![image](https://user-images.githubusercontent.com/95591514/199842895-c5cd2c14-8868-4629-adf8-d84957cde019.png)

[2022-11-03 22:03] fhonline commented on #5794
the 3 accounts have the same automation configuration and business hours, but both behave differently, not being possible to capture the automation message and the business hours message... in short, that would be the problem

I would like to know the pattern of this!

[2022-11-03 23:37] sojan-official commented on #5634
Currently, there isn't an API for WhatsApp cloud that will allow us to fetch avatars for WhatsApp Chats.
We will reopen this when it becomes available.

[2022-11-03 23:37] #5634 closed

[2022-11-03 23:39] sojan-official commented on #5770
@weppa-cloud @jochenstu  Thanks for the detailed reports.
let's track his over https://github.com/chatwoot/chatwoot/issues/5481

[2022-11-03 23:39] #5770 closed

[2022-11-03 23:44] sojan-official commented on #5446
We are closing this issue since there haven't been any recent updates. Please feel free to open a new one if the problem persists.

[2022-11-03 23:44] #5446 closed

[2022-11-03 23:46] sojan-official commented on #5481
tracking this over: https://github.com/chatwoot/chatwoot/issues/5128

[2022-11-03 23:46] #5481 closed

[2022-11-04 02:48] harismateen opened #5795 "Gravatar network shows error 404 - how to fix?"
**Describe the bug**

Hi, Gravatar network shows error 404 - how to fix?
Why need to fix: This is impacting to overall website performance due to gravator having 404 error.

**Screenshot:**
![image](https://user-images.githubusercontent.com/38554929/199874106-d9d82322-060f-4861-8b40-53af6c7b8c39.png)

**How to recreate:**
Created Website chat inbox --> Placed script inside body tag of the website

[2022-11-04 03:01] pranavrajs commented on #5795
@harismateen We don't use gravatar URL directly in the widget/dashboard now. This was changed in https://github.com/chatwoot/chatwoot/commit/6a6a37a67b071e96fcd887d1bd85675477fd6e59

Can you please make sure that you have the latest version of the Chatwoot web widget and the dashboard?

[2022-11-04 09:17] muhsin-k commented on #5705
@sojan-official / @pranavrajs  What would be the better approach here?

[2022-11-04 13:45] iamankits opened #5799 "Custom URL doesn't have SSL certificate on Self Hosted version"
Hello,

I am using a self hosted version of Chatwoot. I have used the normal linux manual install as shown here: https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm

I have also enable the help center, which works fine to be honest. One thing that is missing is an SSL certificate for custom domain for help center.
I used certbot to generate an SSL for the custom domain via command line.

[2022-11-04 15:56] parresoft9 commented on #3759
what is the state¿, i need this feature and now dosent working

[2022-11-04 18:11] pranavrajs commented on #5705
@muhsin-k

- If the contact is already identified, ie: we have a contact that exists in the database with the same email address or phone number or identifier, then we should not overwrite the information from the pre-chat form as it might mess up the existing contact.
- If the contact is new, we can use the pre-chat form information directly.

[2022-11-05 03:05] iamankits commented on #5799
Hello @pranavrajs,

I have already generated the SSL via Certbot by adding the help.domain.com in Nginx.conf fie. I just need to map it to the sub-domain help.domain.com. The issue is help.domain.com is using SSL of chat.domain.com.

Here is the nginx.conf file.
`server {
  listen 80;
  listen [::]:80;
  server_name help.domain.com chat.domain.com www.chat.domain.com;

  access_log /var/log/nginx/

[2022-11-06 00:14] ASchneiderBR commented on #5128
Hello everyone. I've just found this great solution for managing WA for business and just felt in love with it :) I'm trying it for the last couple of days but still not confident to fully integrate to my team because of this issue. This behavior also happens here: starting a conversation from contacts, using a template, does not get passed on to the user. I have to go to the message itself and th

[2022-11-07 01:40] pranavrajs commented on #4085
@nithindavid Please add an estimate to the ticket before you pick this up in the next sprint.

[2022-11-07 06:39] tejaswinichile commented on #5730
This is valid for only public macros created by an agent, as we are deleting the private Macros.

[2022-11-07 07:54] rocktimsaikia commented on #5496
@muhsin-k Do we have a timeline for when this will be fixed?

[2022-11-07 16:43] #5733 closed

[2022-11-07 16:45] tejaswinichile commented on #5733
Rich content will be handled later.

[2022-11-07 21:08] #4973 closed

[2022-11-07 21:12] pranavrajs opened #5806 "Dialogflow Improvements"
This is the placeholder ticket for Dialogflow improvements.

**Note:** Add Zenhub extension to view the updates, otherwise this will be an empty ticket without any action in it.

[2022-11-07 21:30] #2858 closed

[2022-11-07 21:30] #2355 closed

[2022-11-07 21:59] vishnu-narayanan opened #5807 "test issue"
test issue

[2022-11-08 00:02] #5704 closed

[2022-11-08 01:49] #5717 closed

[2022-11-08 02:07] satoshinotdead commented on #5799
You can wildcard on Cloudflare using their services or use Let's Encrypt via certbot to enable SSL on every single subdomain.

Are you using a CDN or proxy in front than your Nginx?

[2022-11-08 02:27] pranavrajs commented on #5468
@muhsin-k Please confirm whether we close this as the associated change for ignoring invalid inputs.

[2022-11-08 04:18] vishnu-narayanan opened #5811 "test issue 2"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**

Share a clear and concise description of what you expected to happen.

**Screenshots**

If applicable, add screenshots to help explain your problem.

**Browser logs**

Share

[2022-11-08 04:19] vishnu-narayanan opened #5812 "test issue 3"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions you've considered.

**Additional

[2022-11-08 04:22] vishnu-narayanan opened #5813 "test issue 4"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-11-08 05:23] #5813 closed

[2022-11-08 05:23] #5812 closed

[2022-11-08 05:23] #5811 closed

[2022-11-08 07:51] nhsdigigate opened #5815 "Is there any feature about chat button icon change?"
I need to change the "Chat Button Icon" on the website as the first entry point for the user. Is there already an option in the settings or is there a parameter for the chatwoodSDK to use a fontawesome icon or custom defined svg ?

Sadly, I can't find anything in the handbook or in the chatwood app settings.

I would be very excited if you could provide me further information.

Best regards,

Sour

[2022-11-08 08:38] Ghost108 opened #5817 "central support"
** Englisch Version **
Hi all!

I would like to draw attention to this forum => www.chatwoot-community.com
It's new and should serve as a central point for Chatwoot support, instead of multiple platforms (Github, Discord, ...).

These platforms are still available - however, I would find a central platform better and clearer.
I would be happy if you would support this idea. Support will be availab

[2022-11-08 12:43] vishnu-narayanan opened #5820 "test github auto-assignment for triaging issues"
- test gh auto assignment for triaging issues

[2022-11-08 12:47] vishnu-narayanan commented on #5820
ref: https://github.com/chatwoot/product/issues/641

[2022-11-08 12:47] #5820 closed

[2022-11-08 13:02] JanCizmar commented on #5622
+1

[2022-11-08 20:00] cpaybr commented on #5445
I added another two numbers and it works perfectly. For some reason the number I was trying to add is not accepted and still is not. I installed it on a smartphone and it works

[2022-11-08 22:17] sojan-official commented on #5817
Closing this as this isn't an issue.
also duplicate: https://github.com/chatwoot/chatwoot/discussions/5818

[2022-11-08 22:17] #5817 closed

[2022-11-08 23:33] sojan-official commented on #3398
@sanjayws Whatsapp location messages are now supported in Chatwoot Cloud for both 360 Dialogue & Whatsapp Cloud.
It will be available in the upcoming Chatwoot release for self-hosted instances.

<img width="611" alt="Screenshot 2022-11-08 at 3 32 01 PM" src="https://user-images.githubusercontent.com/73185/200698390-7db028e0-5a73-40c6-8e3b-55199a56d1eb.png">

[2022-11-09 00:56] sanjayws commented on #3398
Thanks @sojan-official appreciate your effort and thanks for updating here too.

[2022-11-09 02:25] iamankits commented on #5799
@satoshinotdead I am not using Cloudflare. I generated the cert using Let's Encrypt certbot. It will either take the domain chat.domain.com or help.domain.com SSL and use it on both the sub-domains creating a SSL error on any of the domains.

[2022-11-09 04:23] #5431 closed

[2022-11-09 07:17] eremeye commented on #5592
CSAT is disabled if agent bot connected to inbox.

take a look at app/services/message_templates/hook_execution_service.rb

[code]

[2022-11-09 07:37] InformaticaJBM commented on #5339
One more there

[2022-11-09 08:08] Ghost108 opened #5826 "No Assignment if web interface is close"
Hi all!

I have found a bug which should be fixed as soon as possible.

- I am logged on to the PC as agent (web interface)
- User writes a message via Widget
- Dialogflow responds with a custom payload: `{ "action": "handoff" }`
- User is assigned to me

Result: OK

https://user-images.githubusercontent.com/17011498/200773572-c79975e3-fb2f-45e0-9183-ae2a120d4b6a.mp4

- I am NOT logged on to the P

[2022-11-09 09:00] muhsin-k commented on #5496
We will fix this issue in v2.11.0

[2022-11-09 09:02] muhsin-k commented on #5496
Closing in favor of https://github.com/chatwoot/chatwoot/issues/5705

[2022-11-09 09:02] #5496 closed

[2022-11-09 11:34] mariusa opened #5828 "Improved contact display in agent Conversation view"
Hi and thanks for Chatwoot!

Would you please consider improving ontact display in agent Conversation view, as follows:

1. At top
![2022-11-09_13-21](https://user-images.githubusercontent.com/1283842/200817402-b08f3609-1884-445b-b6b6-7c323c6fec28.png)

Show "Our company" (inbox name) only if multiple inboxes. If just one, hide it.

2. on the Inbox name line: Show primary attributes, ONLY if set (

[2022-11-09 14:00] grupale commented on #5514
Hi @sojan-official ! Acording to this issue, in the API infox, if a conversatión is resolved and then re opened because an incoming message, the Greetings message, bussines hour and CSAT should be sended againg. I attatch and image as example of how it behaves now. Also the CSAT message should be translated acording to Account locale. Thanks

![image](https://user-images.githubusercontent.com/1093

[2022-11-09 17:52] #5736 closed

[2022-11-09 19:06] guiqis opened #5829 "API List All Messages not returning all messages"
**Describe the bug**

API Endpoint "List All Messages" not listing all messages from conversation. Only the last ones are returned.

**To Reproduce**

Steps to reproduce the behavior:
1. Run an API call to https://www.chatwoot.com/developers/api/#tag/Messages/operation/list-all-messages and check that only a few (or one) message is being returned.

**Expected behavior**

See all messages in the Pa

[2022-11-10 02:13] pranavrajs commented on #5679
@vishnu-narayanan This is not possible and it would create unnecessary stability issues with the installation which would be hard to debug. We would not allow users to manually pull the changes from Crowdin. It has to be updated in the codebase for them to use it.

[2022-11-10 02:13] #5679 closed

[2022-11-10 02:36] pranavrajs commented on #5763
@mariusa

Can you please share if this happens every time you load the page? We cannot reproduce this on our end.

- The inbox your shared doesn't have working hours configured. Please configure one.
- If you don't want to use the working hours. Please make sure that you are online (busy, offline wouldn't work). The online status indicator would take 1-2 minutes to update even if you open a window

[2022-11-10 02:40] pranavrajs commented on #5794
@fhonline Can you please share the webhook event you are listening to?

[2022-11-10 02:58] pranavrajs commented on #2690
@pucilpet Closing this as there was no activity for a long time. We have a 2-minute delay for the messages sent from the web widget. Undo action can be an enhancement. However, with the latest changes in the send message hotkeys, I guess this flow would be better. Let me know if it is not the case.

[2022-11-10 02:58] #2690 closed

[2022-11-10 03:00] pranavrajs commented on #2691
@pucilpet The WhatsApp cloud API doesn't support WhatsApp message deletion. To keep it consistent across WhatsApp channel providers, we will not be supporting this.

[2022-11-10 03:00] #2691 closed

[2022-11-10 03:05] pranavrajs commented on #3683
@sojan-official Do we need this ticket now as we have shipped the custom attributes feature?

[2022-11-10 03:05] pranavrajs commented on #4197
Closing this here as we would track the changes in #4216.

[2022-11-10 03:05] #4197 closed

[2022-11-10 03:07] pranavrajs commented on #5747
@nithindavid Can you please share a screencast? I cannot reproduce this on my end.

[2022-11-10 03:13] pranavrajs commented on #724
Closing this as we have [Dashboard Apps](https://www.chatwoot.com/docs/product/others/dashboard-apps/) now.

[2022-11-10 03:13] #724 closed

[2022-11-10 03:14] pranavrajs commented on #851
Closing this for now. We will reopen if needed in future.

[2022-11-10 03:14] #851 closed

[2022-11-10 03:15] pranavrajs commented on #980
@iammattmartin @hosnas We will prioritize this for the December release.

[2022-11-10 03:16] pranavrajs commented on #1027
Closing as the update notification is live.

[2022-11-10 03:16] #1027 closed

[2022-11-10 03:21] pranavrajs commented on #1215
Closing this as some of the other channels doesn't support this. To keep the behavior consistent, we would only consider the messages after a channel is connected for now.

We might revisit this in the future if there is enough engagement on this issue.

[2022-11-10 03:21] #1215 closed

[2022-11-10 03:44] pranavrajs commented on #775
Closing this as the typing indicator is already shipped, let us reopen if we have further things to be done here.

[2022-11-10 03:44] #775 closed

[2022-11-10 03:44] #951 closed

[2022-11-10 03:48] #1576 closed

[2022-11-10 03:49] muhsin-k commented on #5828
This is a great suggestion.

This may break the line if email/phone/id has more characters.

Don't understand this part.

We already have a "More button" to show more details.

+1

Don't understand this part as well.

This is an intended behaviour.

[2022-11-10 03:50] pranavrajs commented on #1529
@sojan-official Is it still relevant?

[2022-11-10 03:51] pranavrajs commented on #1498
@sojan-official Is this issue still relevant? Do we need to do anything here?

[2022-11-10 03:51] muhsin-k commented on #5828
@mariusa Thanks for the UX suggestions. Please add more details about the items that we didn't understand.

[2022-11-10 03:53] pranavrajs commented on #1459
@iammattmartin @WevrLabs Closing this as the merge contact option is available via phone, email, and identifier. Please let me know if I missed anything here.

[2022-11-10 03:53] #1459 closed

[2022-11-10 03:55] pranavrajs commented on #1432
Closing this as the issue is stale for a long time. Please feel free to reopen the issue if this is still needed.

[2022-11-10 03:55] #1432 closed

[2022-11-10 03:57] pranavrajs commented on #1318
Tracking it via #5420

[2022-11-10 03:57] #1318 closed

[2022-11-10 04:05] pranavrajs commented on #1964
Closed via https://github.com/chatwoot/chatwoot/pull/4864

[2022-11-10 04:05] #1964 closed

[2022-11-10 04:05] pranavrajs commented on #1953
@vishnu-narayanan Can you please try this and close it if it is not an issue now?

[2022-11-10 04:10] pranavrajs commented on #2010
@JennyPrabhu Closing this here as there was no activity for a long time. As @sojan-official suggested, the API returns availability_status which can be used to filter the list of online agents

[2022-11-10 04:10] #2010 closed

[2022-11-10 04:11] pranavrajs commented on #2006
@Jivings This issue got missed somehow, sorry about that. However, the latest updates should fix these issues. Please feel free to reopen if you still have this problem.

[2022-11-10 04:11] #2006 closed

[2022-11-10 04:13] pranavrajs commented on #1239
@sojan-official Do we need to keep this open? We have initiated_at URL on the events.

[2022-11-10 04:14] pranavrajs commented on #2176
@danjenkins We will support SSO providers via #5420. However custom auths would not be supported.

[2022-11-10 04:14] #2176 closed

[2022-11-10 04:18] pranavrajs commented on #2422
Closing this as there was no activity for a long time.

[2022-11-10 04:18] #2422 closed

[2022-11-10 04:19] pranavrajs commented on #2441
Closing this via #2853

[2022-11-10 04:19] #2441 closed

[2022-11-10 04:20] pranavrajs commented on #2495
Closing this as the issue is missing in sentry

[2022-11-10 04:20] #2495 closed

[2022-11-10 04:20] pranavrajs commented on #2555
Closing this as the issue is missing in Sentry

[2022-11-10 04:20] #2555 closed

[2022-11-10 04:21] #2509 closed

[2022-11-10 04:22] pranavrajs commented on #2489
Closing this in favor of https://github.com/chatwoot/chatwoot/issues/5372

[2022-11-10 04:22] #2489 closed

[2022-11-10 04:23] pranavrajs commented on #2666
Closing this as there was no activity for a long time. Let us re-open if we need to work on this.

[2022-11-10 04:23] #2666 closed

[2022-11-10 05:23] #4458 closed

[2022-11-10 05:54] Ghost108 commented on #5763
@pranavrajs the opening hours are already set
every day => 08:00 AM - 08:00 PM

[2022-11-10 06:03] muhsin-k commented on #1271
@pranavrajs
**Android**

Not yet.

**iOS**
It is working in the safari app and not in the chrome app.

![photo_2022-11-10 11 30 11](https://user-images.githubusercontent.com/12408980/201012779-68b4ec9d-dcd2-41bd-a359-ab7c1da7b7d0.jpeg)

I will work on these issues in next the sprint

[2022-11-10 07:02] mariusa commented on #5828
Thanks for considering!

We set user `id` to be the same as `email`. If they are the same, we'd prefer to hide the id from display, show only the email.

Right. Was suggesting that clicking on the name (which is larger than the "More details" link) would do the same. But the name shouldn't be in blue/underlined though, keep the current display style.

[2022-11-10 09:11] mariusa commented on #5763
Thanks,

I've cleared all data in browser, and now it works. The  `a.setLocale (App.vue:139:1)` error is also gone.

[2022-11-10 09:20] Ghost108 opened #5833 "which docker container need which envs?"
Hi all!

I need a short information, about which container need which envs.
I have 3 containers (postgres container excluded) where some envs are duplicated and I'm never sure where to edit which env. that's why I do it on all 3 to be on the safe side - more effort - but not sure if this is necessary.

**chatwoot container**
[code]

**redis container**
[code]

**sidekiq container**
[code]

[2022-11-10 09:44] GKG4 opened #5834 "WhatsApp New Message not sending"
When selecting a contact from the list and selecting the WhatsApp channel.
The first message selected as the template is not actually sent to the contact and only shows in the conversation history, however, sending another message template from the conversation window is working.

So basically, the first template sends request is not executing if sent from contacts.

[2022-11-10 09:51] Yordata opened #5835 "Conversations are not loading"
I am new to chatwoot.
I configured a new inbox for email but the messages aren't loading. I can see a number of messages but there is nothing loaded.

A clear and concise description of what the bug is.

configure mailbox

Steps to reproduce the behavior:
1. Go to 'new inbox
2. Click on 'create inbox
3. Scroll down to 'email
4. dashboard keeps loading. But when i goto contacts I see new contacts a

[2022-11-10 10:36] fhonline commented on #5794
Here we go: when a conversation is created outside of business hours, 3 events are triggered in the webhook:

1-conversation created
2-message created of the outbound type
3-message created of the incoming type

As I said in the previous images, the problem is that the messages created (outbound and incoming) when out of scheduled business hours do not follow a “standard” to be followed, it varies

[2022-11-10 11:31] iammattmartin commented on #5792
Sorry, I mean conversation.

[2022-11-10 11:36] glauberssoutodossantos commented on #2336
++1 for this feature

[2022-11-10 12:02] vishnu-narayanan commented on #5833
@Ghost108 Only rails and sidekiq containers need access to these environment variables.

[2022-11-10 12:06] vishnu-narayanan commented on #5799
@iamankits Have you tried using a wildcard certificate as @satoshinotdead suggested?

Generate a cert for `*.yourdomain.tld` using LetsEncrypt.

Ref: https://community.letsencrypt.org/t/acme-v2-production-environment-wildcards/55578

[2022-11-10 12:29] Ghost108 commented on #5833
okay, thanks! that means every time I want to change an env, I have to do it in both containers?

[2022-11-10 12:32] fayazara opened #5836 "Fix multiple selection of teams and agent in Macros actions"
Macros currently allows you to select multiple teams and agents for actions dropdown, which is not supposed to happen.

[2022-11-10 12:47] Ghost108 commented on #5833
I have already deployed it as da docker version on my synology nas.

[2022-11-10 13:14] Ghost108 opened #5838 "chatwoot doesnt send an email"
Hi!

I am using a self hosted docker version.
For testing I would like to reset my password - I get an success message but I get no mail.
my env:

![Bildschirm­foto 2022-11-10 um 14 12 38](https://user-images.githubusercontent.com/17011498/201101103-25029da3-19af-463e-8183-d526e3eb904b.png)

[2022-11-10 13:21] vishnu-narayanan commented on #5833
In that case, I think you need to make changes in both containers unless there is some way in Synology da to share env variables within apps.

Also, you could explore running Chatwoot using docker compose with Synology NAS.
Ref https://linuxhint.com/docker-compose-with-synology/

[2022-11-10 13:36] vishnu-narayanan commented on #1953
Looks good on FF android. Closing this issue.

[2022-11-10 14:34] notnotrishi opened #5839 "detect when users change twitter username or delete their accounts and notify in chatwoot"
Currently when Chatwoot syncs tweets to Twitter Inbox there's no way to know if the user deleted their account or changed their username since they sent the tweet. When we reply the tweet thus gets posted on the main timeline causing confusion

e.g.
![image](https://user-images.githubusercontent.com/6056505/201118983-2c1ae23f-2a6f-4452-9a25-e59e7b766318.png)

Either we need a way to know that the

[2022-11-10 14:39] #5836 closed

[2022-11-10 18:58] pranavrajs commented on #5834
@GKG4 This was already a reported bug as you can see in #5128. The fix is already merged in #5802. You should be able to get this patch in the next update on Nov 15.

[2022-11-10 18:58] #5834 closed

[2022-11-10 19:04] pranavrajs commented on #5839
@notnotrishi Thanks for the suggestion.

We might need to do a user lookup before sending the tweets and warn the agent.
https://developer.twitter.com/en/docs/twitter-api/users/lookup/introduction

[2022-11-10 20:44] luissakihama commented on #2898
Yes we would love that! But I was thinking, that maybe a combination of API Inbox with Dashboard App could  be a workaround solution for this. API Inbox could be integrated with Asterisk via REST to trigger calls and get status, and deploying an Dashboard App to receive / make calls via WebRTC. Is that make sense?

[2022-11-10 21:44] ASchneiderBR opened #5840 "Duplicate conversations and contacts (WA and Brazil numbers)"
**Describe the bug**

Hello. Here in Brazil, we had a change on mobile numbers a few years ago, they've added an extra leading digit to account the total numbers growth over the last years. The general change was to add a leading 9 over all current numbers. Most WA users have their accounts registered to the old number, without the leading digit. When we start a conversation with Chatwoot, we add

[2022-11-10 23:55] pranavrajs commented on #5763
Great! Closing this in that case.

[2022-11-10 23:55] #5763 closed

[2022-11-11 00:17] sojan-official commented on #1529
Yes, the warning still exists.

[2022-11-11 01:11] iammattmartin commented on #5815
#4490

[2022-11-11 06:04] Ghost108 commented on #5826
hi all,

I need support please. it is very important. thanks

[2022-11-11 06:04] sunilravilla opened #5842 "Docker image build issue"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**

Share a clear and concise description of what you expected to happen.

[code]

**Screenshots**

If applicable, add screenshots to help explain your problem.

**Browser logs**

[2022-11-11 06:44] fayazara commented on #5835
@Yordata Could you please share us the browser logs as well.

[2022-11-11 06:53] muhsin-k commented on #5828
@mariusa That Makes sense.

[2022-11-11 07:08] muhsin-k opened #5843 "Show inbox name in conversation only if the account has more than one inbox"
Currently, the inbox name is showing even though the account has only one inbox.

![Screenshot 2022-11-11 at 12 29 19 PM](https://user-images.githubusercontent.com/12408980/201285435-cfc41d4d-9d32-4e89-8ae4-7233886da399.png)

[2022-11-11 07:15] muhsin-k opened #5844 "[CW-383] Clicking contact name in conversation should open contact details panel"
- Add click action for a contact name in conversation
- When clicking the name, open the contact details panel

![Screenshot 2022-11-11 at 12 29 19 PM](https://user-images.githubusercontent.com/12408980/201286565-fc6b7df5-9999-4525-830e-061aa69ad948.png)

<sub>[CW-383](https://linear.app/chatwoot/issue/CW-383/clicking-contact-name-in-conversation-should-open-contact-details)</sub>

[2022-11-11 07:19] muhsin-k commented on #5828
- https://github.com/chatwoot/chatwoot/issues/5843
-https://github.com/chatwoot/chatwoot/issues/5844

[2022-11-11 08:09] muhsin-k commented on #5468
Confirmed.
https://www.loom.com/share/04f467f967934ea49e23e9133013f30a

@lwagner-getmomo Closing this issue, for now. Please feel free to reopen this if it is still an issue.

[2022-11-11 08:09] #5468 closed

[2022-11-11 08:13] muhsin-k opened #5845 "Campaigns improvements"
# Issues

- [x] https://github.com/chatwoot/chatwoot/issues/4201
- [x] https://github.com/chatwoot/chatwoot/issues/4097
- [x] https://github.com/chatwoot/chatwoot/issues/4026
- [ ] https://github.com/chatwoot/chatwoot/issues/3997
- [x] https://github.com/chatwoot/chatwoot/issues/3624
- [x] https://github.com/chatwoot/chatwoot/issues/3574
- [x] https://github.com/chatwoot/chatwoot/issues/3363
- [x]

[2022-11-11 13:34] Yordata commented on #5835
I noticed that the unread email is intital shoed in the conversations. But when I click it it's gone

[2022-11-11 14:20] vishnu-narayanan commented on #5842
@sunilravilla Could you please update the issue with steps to reproduce, information about your environment, and the details on your `docker` version?

[2022-11-11 14:30] Yordata commented on #5835
I think problem is solved now. I think it was related to  a bad smtp ./imap config.

[2022-11-12 06:32] ilearnbydoing commented on #2336
+1 for this feature.

[2022-11-12 23:53] satoshinotdead commented on #5799
Or you can share the logs, but I think that's related to your specific config and not to Chatwoot itself _(BTW maybe I can give a hand because I can't help coding)_.

[2022-11-13 08:49] farhanulju commented on #1941
+1

[2022-11-13 22:55] #4379 closed

[2022-11-14 07:21] harismateen opened #5848 "WhatsApp Cloud Channel unable to send audio message to the customer"
**Describe the bug**
Hi,
We are unable to send Audio message from chatwoot to the customer's whatsapp number.
Channel: WhatsApp Cloud API

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Open Convo
2. Click on --> click on mic icon and send audio message
3. Customer unable to received the audio message

**Expected behavior**
1. Go to

[2022-11-14 09:26] Ghost108 commented on #5826
@pranavrajs
No support for 5 days!

[2022-11-14 20:34] vagner-dias opened #5850 "User signature is not sent on whatsapp messages"
**Is your enhancement request related to a problem? Please describe.**
When a user has a signature defined, this signature is not appended to the whatsapp text sent to the customer

**Describe the solution you'd like**
The whatsapp message should have the user signature appended

**Example:**
When the signature is set, like this example
![image](https://user-images.githubusercontent.com/86367839/2

[2022-11-15 01:43] pranavrajs commented on #3606
Closing as the feature is complete.

[2022-11-15 01:43] #3606 closed

[2022-11-15 01:46] vagner-dias opened #5851 "Ability to send the same whatsapp template to multiple contacts"
**Is your enhancement request related to a problem? Please describe.**
Currently there is no option to send the same whatsapp template to multiple contacts at the same time

**Describe the solution you'd like**
The ability to select multiple contacts and send the same template for them

[2022-11-15 03:39] #5705 closed

[2022-11-15 04:02] pranavrajs commented on #5565
@tejaswinichile Adding this to the current sprint for priority.

[2022-11-15 04:02] tejaswinichile commented on #5851
We don't have `send WhatsApp templates` to multiple contacts integrated with us.

But we can consider this as a new feature, we will pick it up in the next release.

[2022-11-15 04:29] tejaswinichile commented on #5840
@ASchneiderBR If you edit the contact before the customer reaches out to you with a new number does it work?

<img width="150" alt="Screenshot 2022-11-15 at 9 57 18 AM" src="https://user-images.githubusercontent.com/10827585/201826387-70fcd47a-661b-41cd-b864-6f503e19dae9.png">

[2022-11-15 04:40] #5833 closed

[2022-11-15 08:30] Ghost108 opened #5854 ""Bots" section"
Hi all,

I know that this section is beta but is it normal that I have no content on this page?
![Bildschirm­foto 2022-11-15 um 09 22 45](https://user-images.githubusercontent.com/17011498/201868948-6b9f33ce-b3ae-4ba8-bd38-7d0603aed6ee.png)

I am using the self hosted docker version.

[2022-11-15 10:30] vagner-dias commented on #5850
Closing it to reopen as a feature request

[2022-11-15 10:30] #5850 closed

[2022-11-15 10:36] vagner-dias opened #5855 "[CW-2348] Ability to send the user identification on whatsapp messages"
Is your enhancement request related to a problem? Please describe.
When a user has a signature defined, this signature (or the user display name) could be appended to the whatsapp text sent to the customer

Describe the solution you'd like
The "signature" button could be enabled on the text field to append the user signature when writing whatsapp messages

![](https://uploads.linear.app/2847f7b9-2

[2022-11-15 10:38] vagner-dias commented on #5851
Great @tejaswinichile - Thank you for the attention !

[2022-11-15 14:49] vagner-dias commented on #4481
@sojan-official - FYI - I am using Whasapp Cloud API and I am having the same synptom.

If I send this on chatwoot:
![image](https://user-images.githubusercontent.com/86367839/201949151-8eb3c485-9011-4875-a12e-abd617f784ac.png)

the user gets this:
![image](https://user-images.githubusercontent.com/86367839/201949355-792b954f-98e0-4fee-9cb4-7ef5325abb59.png)

[2022-11-15 15:43] iamsivin commented on #5854
@Ghost108 We are working on it. You can disable it in the Super Admin console if needed.

[2022-11-15 15:44] iamsivin commented on #5854
Closing this issue since we are working on this.

[2022-11-15 15:44] #5854 closed

[2022-11-15 16:14] thilonel opened #5856 "deploy to Heroku button build failure"
I'm deploying just as the documentation suggests: https://www.chatwoot.com/docs/self-hosted/deployment/heroku/

A clear and concise description of what the bug is.

Build fails, see the build log attached.

Steps to reproduce the behavior:

1. I choose Europe as region provide a name (which is accepted) like chatwoot-demo-thilonel
2. I change the frontend url to match the app name like https://cha

[2022-11-15 19:18] vagner-dias commented on #5361
+1

[2022-11-15 23:13] sojan-official commented on #5815
closing in favour of #4490

[2022-11-15 23:13] #5815 closed

[2022-11-16 01:04] pranavrajs commented on #4717
@voko3456 This should be solved via https://github.com/chatwoot/chatwoot/pull/5768/files

[2022-11-16 01:04] #4717 closed

[2022-11-16 01:47] giquieu commented on #5848
@pranavrajs
I noticed that there were updates to the API Cloud, can I check this task?

[2022-11-16 02:47] pranavrajs commented on #5826
@muhsin-k Can you please test this out and see if you can reproduce the behaviour?

[2022-11-16 02:56] GKG4 commented on #5128
I am still having this issue, even after updating to 2.11

[2022-11-16 02:58] pranavrajs commented on #5128
@GKG4 Can you please clear the browser cache and try again? If you are on Linux installation, please try this command. https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm#if-precompile-fails

[2022-11-16 03:23] pranavrajs commented on #5128
Tested now, it seems to be working now @GKG4

[2022-11-16 05:05] gogobossStampolidis opened #5868 "Ability to add images to articles"
**Is your feature request related to a problem? Please describe.**
The ability to be able to add images to articles

**Describe the solution you'd like**
Add like a "upload image" button so we can add an image and below it more text if we want

**Describe alternatives you've considered**
Add options to add images boxes and then you add a url to the image and you can customize the size and the posi

[2022-11-16 05:15] pranavrajs commented on #5868
@gogobossStampolidis Thanks for the suggestion. We are already tracking this here. https://github.com/chatwoot/chatwoot/issues/5755

[2022-11-16 05:15] #5868 closed

[2022-11-16 08:45] muhsin-k commented on #5826
I am able to reproduce the issue. Seems like the agent presence update logic is not working properly in the mobile app.

[2022-11-16 10:12] vagner-dias commented on #5128
Working PERFECTLY on 2.11. Thanks guys!

[2022-11-16 10:24] voko3456 opened #5872 "Bug: in V2.10.0 WhatsApp cloud api templates not syncing with chatwoot"

[2022-11-16 10:24] voko3456 opened #5873 "Bug: in V2.10.0 WhatsApp cloud api template not sending after create new contact"

[2022-11-16 10:25] vagner-dias opened #5874 "(Docker installation) - Cannot create facebook messenger inbox - Facebook PopUp Window not opening"
Hello.

I am using a Docker installation which has just been updated to V2.11

When I start the process to create a facebook messenger inbox, a facebook popup window should appear but this is not happening.

(there is no popup blocker enabled in my browser and I have already tried to clear cookies, etc)

The only screen I get is this:
![image](https://user-images.githubusercontent.com/86367839/202

[2022-11-16 10:53] Vadorequest opened #5876 "phone_number is not saved to Contact, although provided and in E164 format"
**Describe the bug**

Although I'm invoking `setUser` with a valid E164 phone number, the phone number isn't updated in Chatwoot.

![image](https://user-images.githubusercontent.com/3807458/202146810-52de7399-35f4-4f12-844c-ab86143028de.png)

Also, I don't understand why some [Chatwoot documentation](https://www.chatwoot.com/docs/product/others/dashboard-apps/#contact-object) shows a phone number

[2022-11-16 11:03] Vadorequest commented on #5876
Well, the reason is because that phone number is already used by another contact, I forgot about that.

I got the error message when trying to set the phone number from the UI.

[2022-11-16 11:03] #5876 closed

[2022-11-16 11:45] glauberssoutodossantos commented on #5840
Hi @tejaswinichile i have the same problem. Follow the images bellow.

For exemple:

I create a contact with WhatsApp number +55 41 **9** 8888-7777 (notice the 9 after the country code).

The user respond my message and chatwoot create another contact and another conversation with number +55 41 8888-7777 (notice we do not have the 9 after the country code).

My first message.

![image](https://use

[2022-11-16 11:47] glauberssoutodossantos commented on #5851
+1

[2022-11-16 11:48] glauberssoutodossantos commented on #5851
This resolve this feature-request here: https://github.com/chatwoot/chatwoot/issues/5361

[2022-11-16 11:52] glauberssoutodossantos commented on #5843
I believe is better to collapse the inbox and labels bar. We we have one or two inboxes is not good the see that bar. It does not make any sense.

Look this issue here: https://github.com/chatwoot/chatwoot/issues/5360

![image](https://user-images.githubusercontent.com/99494469/202173670-2285fa37-78e7-4354-a9df-e8abf96a8f30.png)

[2022-11-16 12:04] grupale commented on #5514
Hi @pranavrajs this is fixed in v2.11? Thanks

[2022-11-16 14:25] sojan-official commented on #5873
duplicate https://github.com/chatwoot/chatwoot/issues/5128

[2022-11-16 14:25] #5873 closed

[2022-11-16 14:54] sojan-official commented on #3398
@Kr00t only incoming location messages are supported at the moment.

[2022-11-16 15:04] glauberssoutodossantos commented on #5855
+1

[2022-11-16 15:35] sojan-official commented on #5855
@vagner-dias Thanks for the feedback. We will have it in the pipeline for upcoming releases.

[2022-11-16 15:40] sojan-official commented on #3683
@pranavrajs, the request here is to have the ability to save meta information to messages, not conversations, i.e. to the `content_attributes`. So that they can associate internal ids or other data while creating messages through APIs.

[2022-11-16 18:14] glauberssoutodossantos commented on #5855
Some days ago this feature was request in discord channel :) :)

![image](https://user-images.githubusercontent.com/99494469/202260317-3c968b2d-23df-4ac8-9eff-9f87b87ad16f.png)

[2022-11-16 18:15] kuberaspeaking opened #5879 "Add Restack as a way to deploy Chatwoot on Kubernetes"
I would like to add detailed documentation of how to deploy Chatwoot with Restack either under [Deploying with Kubernetes](https://www.chatwoot.com/docs/self-hosted/deployment/helm-charts) or under [Deployments](https://www.chatwoot.com/docs/self-hosted/deployment/on-restack) as a separate page.
It will look something like [this](https://www.restack.io/docs/deploy-appsmith-on-kubernetes).
Let me k

[2022-11-16 19:38] pranavrajs commented on #5872
@voko3456 Can you please share a screencast or more about the behavior? Is it just some of the accounts or all of the accounts.

[2022-11-16 19:54] iammattmartin commented on #5834
We updated last night and this still remains a problem with templates. Attempted many times but the user never gets message.

If the WhatsApp contact sends one to the number in CW, two way messages then work fine.

[2022-11-16 20:09] pranavrajs commented on #5834
Please see this comment. https://github.com/chatwoot/chatwoot/issues/5128#issuecomment-1316231093

[2022-11-16 20:37] nithindavid commented on #5856
@thilonel Can you paste the build log here to see what went wrong?

[2022-11-16 21:14] nithindavid commented on #5372
Thanks for the feedback, I'll create an improvement ticket to do this.

[2022-11-16 21:22] nithindavid commented on #2659
Closing this as we have fixed both the mentioned issues in past releases.

[2022-11-16 21:22] #2659 closed

[2022-11-16 22:23] thannaske commented on #4397
I just checked back to see if there is anything new. The issue you referenced in your last answer has been closed but in the PR was no indication that this issue has been investigated or fixed. Are there any updates regarding the Slack support of Chatwoot?

[2022-11-16 23:43] #3015 closed

[2022-11-17 03:19] shyjal commented on #5374
@nithindavid Linear.app & Notion icon pickers are clean. Maybe you could build something similar.

![Screenshot 2022-11-17 at 8 47 18 AM](https://user-images.githubusercontent.com/1215425/202346455-47eda1ea-9446-4e58-aa0c-64a9b8f7a080.png)
![Screenshot 2022-11-17 at 8 47 29 AM](https://user-images.githubusercontent.com/1215425/202346458-a85d7b1b-7d4e-46e5-9572-b16589aa2ccf.png)

[2022-11-17 04:03] vagner-dias opened #5882 "Fresh docker install of V2.11 - ActionMailer fails with a "sender address must contain a domain" log entry"
**Describe the bug**
After a fresh docker based install, when I try to send a password reset email, the email is not send and a sender "address must contain a domain" log entry is shown in the logs

**.env**
[code]

Steps to reproduce the behavior:
Proceed with a Fresh, docker based, install, create a user and, in the login screen, click on "Forgot password" and type in the email.

**Expected beha

[2022-11-17 04:12] vagner-dias commented on #5882
Just to add some more details here, the email provider is Hetzner (mail.your-server.de). I have also double checked the email / password / login section.

I am moving from a V2.10 installation to this new installation - using the same .env file, but changing only the DNS name

[2022-11-17 04:17] vagner-dias commented on #5882
Closing the issue. I just found out that the double quotes in the MAILER_SENDER_EMAIL is not needed anymore.

I have just removed the double quotes and everything started working.

[2022-11-17 04:17] #5882 closed

[2022-11-17 07:00] #5734 closed

[2022-11-17 07:16] baptisteArno opened #5884 "Option to skip the "Welcome" screen before the chat begins"
I'd like to be able to directly display the chat instead of the Welcome screen. An option for this would be great!

I'm willing to contribute if someone tells me how to tackle this 😀

[2022-11-17 07:29] thilonel commented on #5856
It's there in the description. :)

[2022-11-17 08:50] tejaswinichile commented on #5565
@pranavrajs @te-dious I have checked the email export it's working fine.

Let me follow the steps mentioned above in the google doc with a different language.

@te-dious Can you send me the `original email/email export` for the `Acknowledged` reply that you mentioned here, in which you replied to the main email instead of translated email?

https://docs.google.com/document/d/1lIcFQ5R7X39H4dzBbYkV8

[2022-11-17 08:52] #5735 closed

[2022-11-17 10:34] jochenstu commented on #5872
As I have had the same issue, I suspect this is the same UX problem: It does sync, but not immediately and, to me, it is still unclear when it does. Since there is no clear indicator that it should take any time at all, as a user I immediately start to wonder if it's just not working.

I am not sure how to handle this gracefully. Can the syncing frequency be increased, to the point where it's a no

[2022-11-17 11:47] ASchneiderBR opened #5886 "Custom attributes as triggers, conditions and actions for automations and macros"
**Is your feature request related to a problem? Please describe.**
Hello! A really nice feature that I miss when using automation and macros, is the ability to use custom attributes for triggering, conditions and actions. I believe this could unlock so many possibilities, like using custom attributes as variables, creating very powerful "pseudo-bots" natively.

**Describe the solution you'd like**

[2022-11-17 11:52] ASchneiderBR commented on #5840
Hello @tejaswinichile, if you want to test this with me, using my persona mobile phone, I'll see the exact behavior of this issue. Just let me know of how can I send my mobile number privately. Thanks.

[2022-11-17 12:49] glauberssoutodossantos commented on #5886
+1

[2022-11-17 18:17] jacsonsantospht commented on #5360
Hi @sojan-official .
Is anyone working on this feature?

Have this example to hide secondary sidebar in conversations.
![Peek 17-11-2022 15-03](https://user-images.githubusercontent.com/87338089/202525611-2ee522d7-2684-4ba1-af0a-20ba9a725ac5.gif)

[2022-11-18 01:19] glauberssoutodossantos opened #5891 "Macros -> Send email to customer"
**Is your enhancement request related to a problem? Please describe.**

Now that we have the macros, there are opportunities for improvement.

**Describe the solution you'd like**
I would like, when registering a macro, to have the option to send an email with the conversation directly to the registered consumer's email. This action is still manual.

![image](https://user-images.githubusercontent.

[2022-11-18 01:27] glauberssoutodossantos opened #5892 "Automation -> Send email to customer"
**Describe the solution you'd like**

I would like that in the automation registration I had an option to send the email with the transcription of the conversation directly to the registered consumer's email.

![image](https://user-images.githubusercontent.com/99494469/202595440-0205ec04-50e9-4c34-a24f-91e9d8c7077d.png)

**Describe alternatives you've considered**
Do an integration via API and web

[2022-11-18 01:42] glauberssoutodossantos opened #5893 "Macros -> Use dynamic variables in message"
**Is your enhancement request related to a problem? Please describe.**

Macros is a very interesting feature that should save the agent a lot of time. To make it even better, it could have some basic treatments, such as automatically inserting the customer's name in messages as variables.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe

[2022-11-18 03:17] Jatin-MYST commented on #5724
@sojan-official Since it was removed from v2.11.
Whats the expected release of this feature now?

[2022-11-18 05:40] muhsin-k opened #5894 "Message templates"
### **Problem**

We have canned responses which are saved reply templates that are used to send out a reply to a conversation quickly. The agents can use canned responses to save replies to frequently asked questions, which will help reduce an agent's response time and productivity. An agent can access canned responses while chatting by typing **`/`**followed by the shortcode.

But the current app

[2022-11-18 05:41] muhsin-k commented on #5893
@glauberssoutodossantos We are working on it. You can track the progress here https://github.com/chatwoot/chatwoot/issues/5894

[2022-11-18 05:41] #5893 closed

[2022-11-18 07:06] lukibsubekti opened #5896 "Cannot create a Whatsapp inbox that previously had been deleted"
**Describe the bug**

The creation of a Whatsapp inbox fails for the phone number that previously had been used in another account even though it has been deleted from the former account.

**To Reproduce**

Steps to reproduce the behavior:
1. Create an account and an admin user for the account
2. Create an inbox for Whatsapp, for example, the phone number is +123123123
3. After the creation, delet

[2022-11-18 09:14] #5789 closed

[2022-11-18 10:00] sojan-official opened #5898 "feat: Pass current agent context to Dashboard apps"
ref: https://discord.com/channels/647412545203994635/1039643762856570881

---

We are developing our CRM embedded in Chatwwot, and if we had this user context, it would make the query in our CRM a lot easier.
Could you evaluate this implementation from the user's context? Would there be a deadline to implement?

It would help us a lot, @sojan.

Our customers are loving Chatwoot and this addition w

[2022-11-18 11:42] vishnu-narayanan commented on #5892
related: https://github.com/chatwoot/chatwoot/issues/5891

[2022-11-18 12:33] jhonyrdesouza commented on #5898
Wow! Thank you so much, @sojan-official! I will be following the issue. This feature will help us a lot!

[2022-11-18 14:51] tejaswinichile commented on #5892
This can be added on the
1. conversation_created event; although it won't make much of a sense here.
2. conversation_updated, when it's resolved.
3. messages_created with the filter of incoming and outgoing message.

Limitations:

1. Not every customer would have email registered with us: We can drop those customer in the conversation
2. If we have the customer's email, not necessarily customer ha

[2022-11-18 15:57] vishnu-narayanan commented on #3696
All major cloud providers block outbound traffic on port 25 as part of their spam protection measures. After installing the postfix server, the user should request AWS/GCP/Azure to enable traffic on this port for the postfix email server to work.

References
----
1. AWS https://aws.amazon.com/premiumsupport/knowledge-center/ec2-port-25-throttle/
2. GCP https://cloud.google.com/compute/docs/tutoria

[2022-11-18 18:55] pranavrajs commented on #5892
@tejaswinichile Sounds good. How do deal with spam here? This feature could be potentially used to spam customers.

[2022-11-18 19:00] pranavrajs commented on #5894
@muhsin-k Thanks for compiling this. The solution looks good.

This needs an investigation plain text output is required for all the channels except the website and email. The prose-mirror editor doesn't have the support for it. @nithindavid might be able to add a new schema to output non-markdown results.

I'm not sure if I understand this properly. I believe Canned Response and Message templates

[2022-11-18 19:01] pranavrajs commented on #3696
@vishnu-narayanan This sounds good. Do we need ask them to setup DKIM or SPF as well?

[2022-11-18 19:55] glauberssoutodossantos commented on #5892
@pranavrajs

Hey,

I don't believe it would be a potential spam, because according to the use case it would be for the purpose of a service to send the email of the conversation to the costumer, in the email that he informed, with the all the conversation that he was interacting.

If it were the mass sending of emails or SMS, a marketing campaign or something like that, I would even agree, but it

[2022-11-18 19:59] glauberssoutodossantos commented on #5892
@pranavrajs

complementing my previous chat, today we actually have this option, but it depends on a manual action by the agent, which can lead to a human error of forgetting.

What I am proposing is to automate this process both via automation and via macro, to avoid human forgetfulness.

![image](https://user-images.githubusercontent.com/99494469/202791752-3fdc5915-ce02-4a6e-b2cf-8c8354afdc67.pn

[2022-11-18 20:12] glauberssoutodossantos opened #5903 "Select which WhatsApp templates Chatwoot can use"
**Is your enhancement request related to a problem? Please describe.**

Today chatwoot syncs all whatsapp templates approved by facebook.

But many templates are examples of facebook, others are registered for integration of other tools and the like.

**Describe the solution you'd like**

I would like that in the inbox configuration, u as account administrator, I could select which templates will

[2022-11-18 20:20] glauberssoutodossantos opened #5904 "disable inbox - no need to delete channel"
**Is your enhancement request related to a problem? Please describe.**

Today when we need to pause the use of a certain channel/inbox, for example a specific WhatsApp number used for support, marketing campaigns and the like, the only solution is to completely delete the inbox.
But this is bad, since at the same time we lose all access to conversations previously on this channel.

**Describe the

[2022-11-19 20:17] broskees commented on #1039
+1

[2022-11-20 06:32] alex4o opened #5906 "Error performing Webhooks::InstagramEventsJob"
**Describe the bug**

I have setup an instagram connection for chatwoot. But when I send a message this is what I see.

**To Reproduce**

Steps to reproduce the behavior:

Setup a facebook app, and add the instagram webhook.

**Expected behavior**

See the messages that were send properly.

![image](https://user-images.githubusercontent.com/3462438/202889144-b289a998-2445-4dd8-98a5-f7e8bde662c6.pn

[2022-11-20 06:48] alex4o commented on #5906
Ok sry, fixed it https://www.chatwoot.com/docs/self-hosted/configuration/features/integrations/instagram-channel-setup please change this page with better description. Or if possible I will update the descriptions.

[2022-11-21 01:25] uro commented on #5178
Hey @smitmartijn, did you finish by replacing these variables? It looks like a convenient option.

Hey @pranavrajs , can I submit a PR with a configuration flag to send emails from the inbox address rather than the "support" one?

It should help with this issue and others
https://github.com/chatwoot/chatwoot/issues/4315
https://github.com/chatwoot/chatwoot/issues/3006

[2022-11-21 05:28] giquieu commented on #4481
Hello @sojan-official
I sent a PR about this Issue: https://github.com/chatwoot/chatwoot/pull/5907
Could you please review the PR? Also a test with 360Dialog.
I tested it only on WhatsApp Cloud and it's working.

[2022-11-21 05:33] giquieu commented on #5848
Hello @sojan-official
About API updates, on the developer.facebook panel it allows, select 14, so it has no impact on the implementation, since there is no change.

I made several simulations of sending the audio recording and could not reproduce the problem.
Every test the device received the messages.

@harismateen
Maybe sending the log here will make it easier...
It would also be nice to update

[2022-11-21 09:05] smitmartijn commented on #5178
Hi @uro - yes, the solution I suggested above has been working for me since I made this post. This is the change: https://github.com/smitmartijn/chatwoot/commit/caf74390e99cec2f64f605e3ea307bdbf7d8c5b2

I was waiting for someone to give the go-ahead here before I submitted a PR. You can take my change and roll with it, if you'd like to refactor it with that configuration flag you mentioned.

[2022-11-21 09:50] tejaswinichile commented on #5906
It seems you had added standby messages; they are only helpful when your pages are connected to multiple apps. We have added it to some of our customers using various apps; it is only beneficial if you implement the handover protocol on top of this webhook.

@alex4o We will surely change the description, and if you have a better suggestion from the customer's point of view you are always welcome w

[2022-11-21 09:50] #5906 closed

[2022-11-21 09:53] tejaswinichile commented on #5906
@alex4o If you are going to submit your app for review, make sure you do that on the live app. Facebook doesn't support test app webhook events for Instagram anymore.
You can receive the Instagram message webhooks only when the app is in live mode.

https://developers.facebook.com/support/bugs/468852858104743/

[2022-11-21 10:01] uro commented on #5178
Cheers. I wanted to achieve precisely the same thing and ended up finding your post.

I don't think changing the order there is the right approach as it will cause problems on other platforms, instead of this I would create a configuration flag which will define how this should behave.

Will submit a PR.

[2022-11-21 13:04] sojan-official commented on #5848
@giquieu, thanks a lot for taking a look. Let's wait for further info from @harismateen  and close this out if there are no further reports.

[2022-11-21 13:06] sojan-official commented on #5178
@uro, if you are interested in raising a PR, please feel free to go ahead :D

[2022-11-21 13:10] sojan-official commented on #4481
@giquieu  Thanks a lot for working on this. We will have it tested and merged.

[2022-11-21 13:12] vishnu-narayanan commented on #5842
Please reopen if you are facing this issue now.

[2022-11-21 13:12] #5842 closed

[2022-11-21 13:14] vishnu-narayanan commented on #5765
Please reopen if you are facing this issue now.

[2022-11-21 13:14] #5765 closed

[2022-11-21 14:02] tejaswinichile commented on #5565
I have followed the steps [here](https://docs.google.com/document/d/1lIcFQ5R7X39H4dzBbYkV8cOhUv31Gax6rAkGOdCJP6A/edit) and it's working fine with the long text and English/Thai replies.

@te-dious Can you confirm, if you are still facing this issue?

[2022-11-21 19:39] pranavrajs commented on #5892
@glauberssoutodossantos Thanks for the context. For this particular use case, I believe we can improve the existing automation rule here.

<img width="534" alt="Screenshot 2022-11-21 at 11 38 12 AM" src="https://user-images.githubusercontent.com/2246121/203143927-31fa0f29-b07f-49c4-adb3-cc80316a41f9.png">

Right now, it asks directly for the email. Instead, we could have 3 options, 1 for automatic

[2022-11-21 19:44] josep112 opened #5908 "Rest api avatar not working"
**Describe the bug**

I'm trying to create a contact with rest api and put an avatar by url, the contact is created but the avatar doesn't appear

**To Reproduce**

Steps to reproduce the behavior:

curl --location --request POST 'http://localhost:3000/api/v1/accounts/1/contacts' \
--header 'api_access_token: exxxxhRsisWh6mVd33wvkk' \
--header 'Content-Type: application/json' \
--data-raw '{
"inbo

[2022-11-21 19:44] pranavrajs commented on #5891
As the underlying action is the same we will track the progress over https://github.com/chatwoot/chatwoot/issues/5892

[2022-11-21 19:44] #5891 closed

[2022-11-21 19:48] pranavrajs commented on #5708
We will track the progress over https://github.com/chatwoot/chatwoot/issues/5904

[2022-11-21 19:48] #5708 closed

[2022-11-21 19:49] pranavrajs commented on #4320
We will track the progress over https://github.com/chatwoot/chatwoot/issues/5904

[2022-11-21 19:49] #4320 closed

[2022-11-21 19:51] pranavrajs commented on #5896
@lukibsubekti Please share any relevant logs to debug this further, there is too less information to take any action. Also, v2.2.0 is quite old, can you please upgrade to v2.11.0 and see if the issue still exist?

[2022-11-21 19:56] pranavrajs commented on #5903
@glauberssoutodossantos Thanks, This is a good suggestion. It might need a couple of changes to get this done. We will estimate the changes and take it accordingly.

[2022-11-21 21:01] pranavrajs opened #5910 "Search Improvements v1"
The search was not improved after its inception. We have been getting a lot of suggestions on search improvements, recently a lot of users seem to be frustrated about how the search functions. I’ve compiled some of the feedback below and a path for improvement.

**Problems:**

- Search is not yielding correct results right now, it is very hard to find some conversations in Chatwoot and navigate th

[2022-11-21 21:02] pranavrajs commented on #5406
We will track it at https://github.com/chatwoot/chatwoot/issues/5910.

[2022-11-21 21:02] #5406 closed

[2022-11-21 21:03] #5413 closed

[2022-11-21 21:23] pranavrajs opened #5911 "`Bulk Assign to Team - None` creates invalid activity message"
Last week, we shipped https://github.com/chatwoot/chatwoot/pull/5885, and the assignment, and un-assignment worked properly. However, there is an issue with the activity messages generated in the UI.

<img width="440" alt="Screenshot 2022-11-21 at 1 19 26 PM" src="https://user-images.githubusercontent.com/2246121/203160583-ecc9f31a-3efe-41b5-8204-154e3a171bd8.png">

The second message in the scree

[2022-11-22 02:44] pranavrajs commented on #5724
@Jatin-MYST This would be released before January 2023 as Microsoft would permanently disable the basic auth feature. For now, you can enable it using this guide. https://techcommunity.microsoft.com/t5/exchange-team-blog/basic-authentication-deprecation-in-exchange-online-september/ba-p/3609437

[2022-11-22 03:06] pranavrajs commented on #3939
Closing as completed.

[2022-11-22 03:06] #3939 closed

[2022-11-22 03:23] pranavrajs opened #5913 "API Updates to support conversation search"

[2022-11-22 03:30] pranavrajs opened #5914 "Update the search UI to include more search parameters"
**Frontend changes:**

- Remove the search pop out, Extend the command bar to include search results there, and use it to display the first 5 results.
- Create a view specifically for the search which lists more than 5 results.

[2022-11-22 07:20] Ghost108 opened #5915 "please remove this post. thx"
please remove this post. thx

[2022-11-22 10:21] #5915 closed

[2022-11-22 11:49] qqenglishbr commented on #1197
how is going this?

[2022-11-22 11:50] tejaswinichile commented on #5258
@weppa-clou The branch is updated with the latest fix and new develop merge.
We will be merging it ASAP.

[2022-11-22 14:04] hugodeco commented on #5150
Log from monitoring/sidekiq/morgue !

ConversationReplyMailer#reply_with_summary | {"_aj_globalid"=>"gid://chatwoot/Conversation/15718"}, 68939 | ActionView::Template::Error: "\xC3" from ASCII-8BIT to UTF-8

[2022-11-22 14:37] panaras10 opened #5918 "Chat Widget shows "we are away""
Chat widget shows "We are away" even though I have 3 agents logged in right now. We haven't set up business hours as we work 24/7 and there's no option for it (?!)

Can you please fix it?
<img width="796" alt="Screenshot 2022-11-22 at 16 35 44" src="https://user-images.githubusercontent.com/56270780/203341554-dcd8dfa2-708e-45e2-948b-b15fc36d8feb.png">
<img width="462" alt="Screenshot 2022-11-22 at

[2022-11-22 14:48] vishnu-narayanan commented on #5918
Could you check if you have business hours enabled for your inbox? If yes, please disable it to be always shown online.

![image](https://user-images.githubusercontent.com/3526167/203343445-af866a8d-4281-4c9b-bcfa-6b2340cabb84.png)

[2022-11-22 14:49] panaras10 commented on #5918
As I said on my initial message, we have **NOT** enabled business hours.

<img width="2054" alt="Screenshot 2022-11-22 at 16 49 16" src="https://user-images.githubusercontent.com/56270780/203344571-21af856a-1af4-4f10-b3c1-f8706dc71864.png">

[2022-11-22 18:20] gramakri commented on #5799
This was [reported](https://forum.cloudron.io/topic/8058/alias-web-domain-for-chatwoot) on the Cloudron package. I can confirm that once we added alias support in the chatwoot package, it just works. i.e chatwoot itself works fine without any changes.

[2022-11-22 18:49] pranavrajs commented on #5918
@panaras10 Have you added any of the online users as collaborators in the inbox?

[2022-11-22 18:53] panaras10 commented on #5918
Yes, all of them. I think it has something to do with redis as if I manually do a flushall, it fixes itself.

[2022-11-22 19:47] Diplomat-LV commented on #5747
@pranavrajs Please see the attached screenshot. Tested with Chatwoot v2.11.0

<img width="960" alt="Add_user" src="https://user-images.githubusercontent.com/118850916/203406889-ba61361e-0a5a-40ad-8ac6-cfae00577480.png">

[2022-11-22 20:06] Diplomat-LV opened #5919 "Latvian language not present in Site language list"
**Describe the bug**

Latvian language does not appear in Chatwoot v2.11.0 Site language list, despite the fact that the translation is fully complete.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Site language (Beta)' language list.
3. Latvian language will not be present in the list.

**Expected behavior**

Site language list should contain Latvian languag

[2022-11-22 20:29] pranavrajs commented on #5919
@Diplomat-LV Thanks for creating the issue, this will be fixed via #5920

[2022-11-22 20:43] pranavrajs commented on #5747
@tejaswinichile @sojan-official I figured out the bug here. It seems like if you use the downcased email, it would work without issues.

@Diplomat-LV Can you please confirm if `test.user@testdomain.com` works instead of `Test.User@testdomain.com`?

[2022-11-22 20:53] Diplomat-LV commented on #5747
@pranavrajs That is correct. test.user@testdomain.com works and error message is only present if upcased letters are used.

[2022-11-22 20:54] #5919 closed

[2022-11-23 01:23] akzeronet commented on #5799
It's great, just one thing, I was trying with the web domain alias... but the second domain by default redirects to docs.chatdron.com/**app/login** (like the first one), instead of docs.chatdron.net/hc/wiki ( Help Center)

[2022-11-23 07:55] sojan-official commented on #5552
- context menu will have mark unread option
 - it will hit conversation/id/unread endpoint
 - system will change conversation agent last seen timestamp to last message timestamp - 1

[2022-11-23 10:27] muhsin-k commented on #5208
@giquieu @lydenn

Yes. The Safari browser doesn't support `ogg` format audio files.

Did you able to fix this problem?

[2022-11-23 13:29] Ghost108 opened #5922 "Account limit exceeded. Upgrade to a higher plan"
Hi!

I deleted my web widget inbox and would create a new one.
But I cant: I get the response: Account limit exceeded. Upgrade to a higher plan

I have no inboxes at the moment - which limit is exceeded?

I am unsing the self hosted docker version.

[2022-11-23 14:24] sojan-official commented on #5922
@Ghost108, did you configure an inbox limit for your account via super admin ?

[2022-11-23 15:24] glauberssoutodossantos commented on #5922
@Ghost108 you need to configure your account here

![image](https://user-images.githubusercontent.com/99494469/203584111-db807292-2689-4746-9885-17f57aa677cb.png)

[2022-11-23 16:39] Ghost108 commented on #5922
No. No Limits

[2022-11-23 16:40] akzeronet opened #5923 "Help Center root domain redirection & Footer Tip (cloudron)"
It's great, just one thing, I was trying with the web domain alias... but the second domain by default redirects to docs.chatdron.com/**app/login** (like the first one), instead of docs.chatdron.net/hc/* ( Help Center)

...
Also, since cloudron is a read-only system in the part of the source code, it would be nice if we could use our corporate identity in the footer of the help center without detr

[2022-11-24 05:45] pranavrajs commented on #5918
@iamsivin Can you please test this behavior on our staging and see if you can reproduce it?

[2022-11-24 06:11] Ghost108 commented on #5922
![Bildschirm­foto 2022-11-24 um 07 09 56](https://user-images.githubusercontent.com/17011498/203707189-c2dd34dc-8b70-4013-abd1-a921584d3b85.png)
As you can see. I have to delete the database and "reinstall" chatwoot. Now it works.

[2022-11-24 06:52] Ghost108 opened #5926 "Agent bot has no access to account"
Hi!

Maybe it is my mistake OR I found a bug.

1. super admin login
2. create an agent bot
![Bildschirm­foto 2022-11-24 um 07 47 19](https://user-images.githubusercontent.com/17011498/203713201-f045f4cb-7513-413a-af0c-fd88317509ed.png)

Now I have two access tokens. My user token and the new bot token:

![Bildschirm­foto 2022-11-24 um 07 47 14](https://user-images.githubusercontent.com/17011498/20

[2022-11-24 07:06] sojan-official commented on #5922
@Ghost108  could have been a case of some migrations not being run.
Closing this as the issue is resolved.

[2022-11-24 07:06] #5922 closed

[2022-11-24 07:53] sojan-official opened #5927 "feat: Add unread button to conversation context header"
Should we keep a button next to the resolve button(adjacent to mute) to toggle the same and with a tooltip?

_Originally posted by @nithindavid in https://github.com/chatwoot/chatwoot/issues/5924#issuecomment-1326060493_

[2022-11-24 07:55] #5552 closed

[2022-11-24 11:21] Ghost108 opened #5930 "own bot system instead of dialogflow"
Hi all!

I am using the chatwoot webhooks. with php I process them and send bot responses.
This works fine.

BUT:

The user starts a conversation via web widget.
For debugging I am using the [API](https://www.chatwoot.com/developers/api/#tag/Conversations/operation/get-details-of-a-conversation) to get more details:

[code]

The Problem:
`[status] => open`

That means, the conversation will automa

[2022-11-24 11:50] #5782 closed

[2022-11-24 11:53] glauberssoutodossantos commented on #5927
Hi @sojan-official

Hi, how are you?

I don't believe more buttons is a good idea. In fact, I believe that chatwoot already has too many buttons and information on the screen, making everything very polluted.

Taking WhatsApp as an example, you can mark the conversation as unread from the context menu. As an example below.

![image](https://user-images.githubusercontent.com/99494469/203777733-db7b

[2022-11-24 14:36] josep112 commented on #5908
I saw that this avatar problem was solved as shown here -> https://github.com/chatwoot/chatwoot/commit/827f977a37b7d1caa813846cc53db6bd0576a60c , it is possible to change it via the web but via the api I can't create the contact or update it, I don't get an error either in the cwctl --logs web log, I tried updating with the api:
curl --location --request PATCH 'http://localhost:3000/api/v1/account

[2022-11-24 14:43] giquieu commented on #5208
Hello @muhsin-k
I was validating this. The divergence is occurring in the wavesurfer.
If there's no problem, I can continue...

[2022-11-24 17:07] sadden3194 opened #5935 "Missing translation and duplicate"
Hi all,

I found 2 "problems"

1. Missing translation:
If the user has not filled in the message field in the pre chat form, the message "Message is required" appears.
Here the German translation is missing

![Bildschirm­foto 2022-11-24 um 14 09 03](https://user-images.githubusercontent.com/17011498/203837113-fe834bbc-373f-48aa-9aea-4257c0f9cc62.png)

2. double hint
![Bildschirm­foto 2022-11-24 um

[2022-11-24 19:37] Ghost108 opened #5936 "optical issue - interactive message "cards""
Hi!

I am using this interactive message:
https://www.chatwoot.com/docs/product/others/interactive-messages#3-cards

If you send this type of interactive message without the paramter "media_url" the border / frame of the image is still displayed:

<img width="258" alt="Bildschirm­foto 2022-11-24 um 20 34 15" src="https://user-images.githubusercontent.com/17011498/203854978-4e1c248b-638d-4514-94fe-

[2022-11-24 21:16] pranavrajs opened #5938 "Production Deployment Error"
Due to one of these 4 commits the production deployment on Heroku is broken

86ca7f4a8d5e2b7d45033e85d5e100870ed0bfa0, 8b659de73d3813489489b249a9b3f8e95dbd2999, f2753df8df424b5b9137cad0da2e3f6da7ad2dda, c121b44df419696cd44601468e36064c680356d9

`REDIS_OPENSSL_VERIFY_MODE` is not working with these changes.

### Error message
SSL_connect returned=1 errno=0 state=error: certificate verify failed (se

[2022-11-24 21:17] pranavrajs commented on #5938
As a workaround, I've reverted these commits for now on one of our production instances.

[2022-11-24 23:52] pranavrajs commented on #5926
@Ghost108 You need to add the bot to an inbox to get access. Please use this API. https://www.chatwoot.com/developers/api#tag/Inboxes/operation/updateAgentBot

[2022-11-24 23:52] #5926 closed

[2022-11-25 00:15] pranavrajs commented on #5930
@Ghost108 Please see this document for more details on how you can implement a custom bot. https://www.chatwoot.com/docs/product/others/agent-bots/#adding-agent-bots-to-chatwoot

[2022-11-25 00:16] #5930 closed

[2022-11-25 06:35] Ghost108 commented on #5926
sorry but here is still something unclear to me. I create a bot via GUI, but then I have to assign it via API, because there is no GUI for this?

If so, I am still confused:

I created a new agent bot via the super_admin interface. Here you can see it with the ID 6.
![Bildschirm­foto 2022-11-25 um 07 19 56](https://user-images.githubusercontent.com/17011498/203914807-49604e8c-40aa-4631-a9d7-61ac01

[2022-11-25 07:02] Ghost108 commented on #5930
With your solution (https://github.com/chatwoot/chatwoot/issues/5926) I need the workarround via dialogflow not.
Thanks for this!

[2022-11-25 07:27] muhsin-k commented on #5208
@giqu Yes. You can continue on this. It seems like we need to convert it to an `mp3` file to support all browsers.

[2022-11-25 08:52] mariusa opened #5944 "Android app: show message read indicator"
The web app shows a message read indicator (2 checkmarks)
Please do the same for Android app, there are no indicators now.

Thanks!

[2022-11-25 09:12] #5944 closed

[2022-11-25 09:33] ricardovaltierra commented on #2683
Still required?

[2022-11-25 09:58] sojan-official commented on #5908
https://user-images.githubusercontent.com/73185/203954093-6efdb4ef-fcaa-4216-8468-2ba754a136a7.mov

@josep112  when specifying avatar URLs, the processing happens in a background job. So the avatar URL will only be available for the contact in a subsequent get request.

[2022-11-25 09:58] #5908 closed

[2022-11-25 10:01] #4975 closed

[2022-11-25 10:34] vishnu-narayanan commented on #5799
@gramakri Thank you for the update.

[2022-11-25 10:34] #5799 closed

[2022-11-25 10:35] vishnu-narayanan commented on #5799
@akzeronet Closing this since you opened a separate one for the new issue.

[2022-11-25 10:37] Ghost108 opened #5947 "Bot should start conversation"
Hi all!

It would be nice that my bot can start a conversation after the user starts the conversation.
For example:

1. User opens the web widget and clicks on the button "Unterhaltung beginnen" (=start conversation)
![Bildschirm­foto 2022-11-25 um 11 28 00](https://user-images.githubusercontent.com/17011498/203963989-6130876a-7027-4de1-85eb-eb84bb302e81.png)

2. After this my bot should send the

[2022-11-25 10:51] Ghost108 opened #5948 "Bot get no avatar"
Hi all,

I am using the self hosted docker version 2.11.0
I set this ENV to true
![Bildschirm­foto 2022-11-25 um 11 49 50](https://user-images.githubusercontent.com/17011498/203967457-f42a9306-e012-4c1c-9f14-b9e5772f7780.png)

But my Bot doesnt show the correct avatar (green circle with speech bubbles)
![Bildschirm­foto 2022-11-25 um 11 28 28](https://user-images.githubusercontent.com/17011498/203

[2022-11-25 12:52] sojan-official commented on #5938
## Debugging commits

- [ ] 86ca7f4a8d5e2b7d45033e85d5e100870ed0bfa0
- [ ] 8b659de73d3813489489b249a9b3f8e95dbd2999
- [ ] f2753df8df424b5b9137cad0da2e3f6da7ad2dda
- [ ] c121b44df419696cd44601468e36064c680356d9

[2022-11-25 13:09] sojan-official commented on #5938
Identified the breakage to be stemming from https://github.com/chatwoot/chatwoot/commit/86ca7f4a8d5e2b7d45033e85d5e100870ed0bfa0  . will be looking to debug further.

[2022-11-25 13:14] cduquev commented on #5258
I'll be really happy as future sponsor, if this issue is merged soon. We need Instagram approval urgently :(

[2022-11-25 14:57] iamsivin commented on #5918
@pranavrajs I tested it in staging not able to find it.
https://www.loom.com/share/e859af15cc544c6c8ab6219d58a0f698

[2022-11-25 14:57] vagner-dias opened #5950 "Option to disable the "message delete" button"
Hello,

Could you please tell me if there is an option to disable the "message delete" button in chatwoot?

![image](https://user-images.githubusercontent.com/86367839/204010659-46893728-b467-4cb0-b71e-9946e84ad4ca.png)

[2022-11-25 17:43] chatquick opened #5951 "Heroku build failed when change Chatwoot to Chatbot text"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. find ./ -type f -readable -writable -exec sed -i "s/Chatwoot/Chatbot/g" {} \;
2. https://heroku.com/deploy?template=https://github.com/chatbot/chatbot/tree/master
3. Scroll down to '....'
4. See the error
`-----> Detecting rake tasks

-----> Preparing app for Rails asset

[2022-11-25 18:02] pranavrajs commented on #5951
@chatquick It is hard for us to debug the issues when there is a change in the code. We can't support it. If any of the Chatwoot branches (develop or master) in its original form, please let us know.

[2022-11-25 18:02] #5951 closed

[2022-11-25 21:44] WEBudoGT commented on #5855
If it's not too much to ask, is it possible to include an option to make the "signature" on top of the message instead of at the bottom?
This way it looks cleaner (but it's just my opinion)
Thanks!

[2022-11-25 22:14] vagner-dias commented on #5855
Makes sense. It is stetically cleaner

[2022-11-26 00:25] juanbits opened #5953 "Failed to open TCP connection to graph.facebook.com:443 (getaddrinfo: Try again)"
Hi, i deployed chatwoot via docker

when i try to add a new Facebook Messenger inbox
- Ok. click on the button to login
- Ok. Login via facebook and finish the popup wizard
- Error. On auto-close the popup wizard, the main screen only shows "Authenticating you with Facebook..."
![image](https://user-images.githubusercontent.com/5168033/204065378-2f19f837-4e81-4b8b-b615-03853d6d1cd3.png)

-
- i got

[2022-11-26 00:38] iammattmartin commented on #5953
Do you have an adblocker enabled?

[2022-11-26 02:58] juanbits commented on #5953
@iammattmartin at the web browser? no

[2022-11-26 13:05] sadden3194 opened #5956 "[CW-2039] interactive message - cards"
Hi all,

I am using the self hosted docker version 2.11.0.
I send a interactive message (type cards) via api.

Response:
[code]

optical result:
<img width="279" alt="Bildschirm­foto 2022-11-26 um 14 04 07" src="https://user-images.githubusercontent.com/17011498/204090366-7e824f0e-98aa-44c8-bbe7-6998ca466910.png">

But if I choose the button "Mitarbeiter", nothing happens.
No reaction, no webhook

[2022-11-26 16:22] Ghost108 opened #5957 "interactive messages - button should not respond to double click"
Hi all!

the buttons of interactice messages should not respond to double clickes, because my bot responds twice, too.
Example:

Single click:
https://user-images.githubusercontent.com/17011498/204098572-f65470de-de42-4b0d-b61b-610fb1ad851b.mp4

Double click:
https://user-images.githubusercontent.com/17011498/204098588-1e15c5bc-906c-41a8-b713-7bbb53c28b6d.mp4

[2022-11-26 16:41] wiliammbr opened #5958 "messages api - send message template or add message tag for whatsapp messages"
I would like to send updates to my customers via Power Automate using WhatsApp Message Templates or Message tags (https://developers.facebook.com/docs/messenger-platform/reference/send-api).

Allow the Messages API endpoint for creating messages to allow passing tags or whatsapp templates with variables.

[2022-11-26 21:56] ammaraslam commented on #2710
Any update on this?

This would definitely make it easy to manage multiple inboxes.

@pranavrajs @sojan-official

[2022-11-27 06:40] murtaza-bagwala commented on #5756
@pranavrajs shall I pick this up ?

[2022-11-27 12:05] mohammadreza-s opened #5960 "Two factor authentication"
Is it possible to use two factor authentication for chatwoot login page?

[2022-11-27 15:03] seanlau555 commented on #1598
When the customCSS can be used?

[2022-11-27 16:05] Ghost108 commented on #5960
That would be nice!

[2022-11-27 19:24] #5689 closed

[2022-11-27 19:25] #5703 closed

[2022-11-27 19:26] Ghost108 commented on #5935
I would be happy to receive a response

[2022-11-27 19:26] Ghost108 commented on #5936
I would be happy to receive a response

[2022-11-27 19:27] Ghost108 commented on #5947
@pranavrajs
I would be happy to receive a response

[2022-11-27 19:27] Ghost108 commented on #5948
@pranavrajs
I would be happy to receive a response

[2022-11-27 19:28] KarzounApps commented on #3462
Hi there, link doesn't open, I think issue still persist

[2022-11-28 01:17] grupale commented on #5958
+1

[2022-11-28 01:23] ASchneiderBR commented on #5958
I would also like that! Thanks.

[2022-11-28 01:56] iamsivin commented on #5956
@Ghost108 Hey, it’s a bug and we will prioritize a fix in the upcoming releases

[2022-11-28 04:01] mohammadreza-s commented on #5960
Is there any idea?

[2022-11-28 05:06] pranavrajs commented on #5960
Duplicate #486

[2022-11-28 05:06] #5960 closed

[2022-11-28 06:23] nithindavid commented on #5927
@glauberssoutodossantos Thanks for the comment. We will keep this in mind. We are planning to have a Gmail like experience with the conversations. My viewpoint was, having most used buttons accessible would make it easy for users. Also, we could create a context menu and could move the least used actions like mute etc.
Let me know your thoughts

<img width="853" alt="image" src="https://user-image

[2022-11-28 06:29] fayazara commented on #5923
CC: @vishnu-narayanan could you please help on this.

[2022-11-28 06:30] fayazara commented on #5953
CC: @tejaswinichile can you please help here?

[2022-11-28 06:33] nithindavid commented on #5829
@guiqis I could not reproduce as the the API was returning correctly. Can you post the actual API response and the original thread?

<img width="853" alt="image" src="https://user-images.githubusercontent.com/1277421/204209245-2cb0cd7b-e9d5-4666-8415-cf6b610f4193.png">

<img width="853" alt="image" src="https://user-images.githubusercontent.com/1277421/204209363-77ca498f-5e34-41e1-9007-e6071e85d95

[2022-11-28 06:52] nithindavid commented on #5374
@shyjal Thanks for the example designs. We have created an issue on our side to work on this. Will update once this is completed.

[2022-11-28 06:54] nithindavid commented on #5958
@wiliammbr Can you bit more context for the end product? Are you expecting this to be as an improvement on the existing API?

[2022-11-28 07:10] vishnu-narayanan commented on #5923
@akzeronet This seems like a Cloudron specific request. Could you please post it on the Cloudron forum?

[2022-11-28 07:10] #5923 closed

[2022-11-28 07:23] sojan-official commented on #5953
ref: https://stackoverflow.com/questions/37144544/failed-to-open-tcp-connection

[2022-11-28 09:26] Ghost108 opened #5962 "start conversation via api not user-friendly"
Hi!

I am using the self hosted docker version 2.11.0
I would like to start a conversation via api if the user open the web widget.
It works, but not user-friendly

Steps to reproduce
1. The User open the widget
![Bildschirmfoto_2022-11-28_um_09 52 19](https://user-images.githubusercontent.com/17011498/204241254-dd752943-f6a9-4c41-8bbc-2f8643713423.png)

++ In the background: My php code get all d

[2022-11-28 09:46] tejaswinichile commented on #5962
No, it's not a bug the functionality we built is like that.

We would have a discussion on this, anything you would like to propose to make it more user-friendly? @Ghost108

[2022-11-28 09:49] tejaswinichile commented on #5950
@vagner-dias No; there is no functionality to disable the delete message. But we could surely include it in the future if it seems to be useful.

[2022-11-28 09:49] Ghost108 commented on #5962
Yes I would :)
It would be nice when the widget is opened, the user sees directly the chat screen (image 3).

[2022-11-28 10:09] Ghost108 commented on #5936
okay :)

[2022-11-28 10:35] mmojadad opened #5963 "Chatwoot Upgrade Docker Deployment"
Docker version of Chatwoot installed
Try upgade to version  2.11.0
In command line i try :

docker exec -it $(basename $(pwd))_rails_1 sh -c 'RAILS_ENV=production bundle exec rails c'
irb(main):002:0>
irb(main):002:0>rails db:chatwoot_prepare
(irb):1:in `<main>': undefined local variable or method `chatwoot_prepare' for main:Object (NameError)

I walked based on Documentation :
https://www.chatwoo

[2022-11-28 11:56] voko3456 opened #5964 "bug: super admin account features"
every time i edit the account features and press save there's no effect the feature still enabled after i disable it and press save

[2022-11-28 12:21] sojan-official commented on #5886
@ASchneiderBR Thanks for the report. Custom attributes are now available in automation trigger conditions
ref: https://github.com/chatwoot/chatwoot/pull/4548

We will consider the other requests for actions and macros for future releases.

[2022-11-28 13:54] wiliammbr commented on #5958
Hey @nithindavid ,

Yes, this is an improvement for the existing Messages API.
Basically, I wanted to send regular updates over user progress in a selection process via WhatsApp. But if I can't send approved WhatsApp templates, the user won't receive the messages since it falls in the 24 hour rule from Facebook. Also, I can try using Tags from the WhatsApp API, but I'm unable to pass those tags vi

[2022-11-28 14:03] aerostovtsev opened #5965 "Chatwoot integration with Google Analytics"
Hello!
In the documentation, I did not find integration with Google Analytics or other metric services.
How can I send visitor achievement goals events to Google Analytics:

1. Opened the widget
2. Opened and started a conversation
3. Completed and submitted the preliminary chat form
4. Started a conversation by clicking on campaign messages
5. Finished the conversation

[2022-11-28 14:05] ASchneiderBR commented on #5886
Thank you @sojan-official! I'm trying a self-hosted version, is it possible to update my instance so I can try this now? Thanks.

[2022-11-28 14:20] aerostovtsev opened #5966 "Two requests are sent via webhooks "converstation_updated""
I observe that two calls are sent from the chatwoot side via webhooks "converstation_updated". Here is a video example

**Play**

Steps to reproduce behavior:
1. Go to settings/categories
2. Add category
3. Add a Webhooks call endpoint, for example, you can use the https://webhook.site service
4. Subscribe to "converstation_updated" events
5. Add or remove a category in a conversation.
6. Check th

[2022-11-28 14:24] vishnu-narayanan commented on #3696
@pranavrajs Yes. That should improve the email reputation.

[2022-11-28 15:47] voko3456 opened #5967 "Macros: Add support for @mentions in the private note"
- Macros private notes does not support @mentions.

[2022-11-28 15:47] voko3456 opened #5968 "[CW-365] Add support for webhook actions in Macros"
<img width="657" alt="Screenshot 2023-01-06 at 5 38 45 PM" src="https://user-images.githubusercontent.com/2246121/211125518-d30cf0b0-a3b3-4394-80d6-b5886e270f63.png">

**Todo:**

- Add support for a webhook event in macros
- Accept URL and Payload as parameters.

**Validations:**

- URL param: Required, should be a valid URL.
- Payload: Can be empty. Use {} as default if empty. It should be a vali

[2022-11-28 16:02] vishnu-narayanan commented on #5948
@Ghost108 Could you please follow the issue templates when creating the issue? Please include steps to reproduce this issue.

[2022-11-28 16:18] vishnu-narayanan commented on #5935
@Ghost108 Thank you for the bug report. This is confirmed, and we will address this in the upcoming sprints.

[2022-11-28 16:19] #5953 closed

[2022-11-28 17:38] Ghost108 commented on #5948
Okay for the next time. But I guess my explaniation is clear?
If you have any question, please contact me :)

[2022-11-28 20:49] pranavrajs commented on #5967
@voko3456 We don't support it now. Support for this will be added in future updates.

[2022-11-28 20:53] pranavrajs commented on #5963
@mmojadad

`rails db:chatwoot_prepare` should be executed outside of the Rails console. You can do `docker exec -it <container-name>` and then run the `rails db:chatwoot_prepare`.

@vishnu-narayanan Please confirm. Also, please update the docs, as the docs seem to be confusing.

[2022-11-29 02:42] pranavrajs commented on #5756
@murtaza-bagwala Sure, please.

[2022-11-29 02:48] pranavrajs commented on #5947
@Ghost108 You can listen to `webwidget.triggered` event and start a conversation automatically. https://www.chatwoot.com/docs/product/others/webhook-events#webwidget_triggered

[2022-11-29 03:32] fayazara commented on #5964
@voko3456 Could you please share us some logs and provide more information to look into this.

[2022-11-29 03:45] #3696 closed

[2022-11-29 04:30] pranavrajs opened #5973 "Review AWS billing"

[2022-11-29 04:30] #5973 closed

[2022-11-29 06:23] tejaswinichile commented on #5565
@te-dious Can you please confirm, if you are still facing this issue?

If yes, would you be able to send the screencast video for the same?

[2022-11-29 07:00] Ghost108 commented on #5948
More Information:

1. Created a Bot: https://www.chatwoot.com/developers/api#tag/Account-AgentBots/operation/create-an-account-agent-bot
2. Then I assigend the bot to my inbox: https://www.chatwoot.com/developers/api#tag/Inboxes/operation/updateAgentBot
3. I added the env USE_INBOX_AVATAR_FOR_BOT = TRUE

Result: NO AVATAR

[2022-11-29 08:05] #5911 closed

[2022-11-29 09:09] Ghost108 opened #5977 "wrong colors in web widget"
**Describe the bug**

The web widget shows not everywhere the configured web widget color

**To Reproduce**

Steps to reproduce the behavior:
1. I set the widget color in the widget configurator (in my case it is green)

**Screenshots**
![Bildschirm­foto 2022-11-29 um 10 06 21](https://user-images.githubusercontent.com/17011498/204486403-c43cf0da-05eb-47d5-b6b2-8e47483fa637.png)

![Bildschirm­foto

[2022-11-29 10:22] sadden3194 opened #5979 "campaign doesn't send a message"
**Describe the bug**

Campaign doesn't work. No message will be sent.

**To Reproduce**

Steps to reproduce the behavior:
1. Create an Campaign via web interface like this:
![Bildschirm­foto 2022-11-29 um 11 21 29](https://user-images.githubusercontent.com/17011498/204503614-584e3b9d-ce95-42dd-a534-cd1171e477ef.png)
2. Open website, wait 2 seconds -> no message

**Environment**

- [ ] app.chatwoot

[2022-11-29 10:48] vishnu-narayanan commented on #5856
@thilonel I just tried and was not able to reproduce this. From the log you shared, the asset compilation stage failed which usually happens due to resource(mem/cpu) constraints. Could you try again?

![image](https://user-images.githubusercontent.com/3526167/204509489-f60793a4-2626-49a2-b0c8-b5c228e2d409.png)

[2022-11-29 10:54] voko3456 opened #5980 "there's no indication for new message"
when we receive new message its not showing the green counter for new messages received

[2022-11-29 12:00] sojan-official opened #5982 "feat: Ability to mark conversation read at source channel"
Some channels like Facebook, Whatsapp etc., support sending read receipts from the receiver end.  Chatwoot should send these receipts when the agent reads the message as an acknowledgement to the contact.

------

_Originally posted by @sojan-official in https://github.com/chatwoot/chatwoot/issues/5157#issuecomment-1329332045_

[2022-11-29 12:21] tejaswinichile opened #5983 "Save the portal custom_domain hostname in the backend"
When we are redirecting the portal's data to custom_domain, the Portal checks custom_domain against the hostname and we are saving the whole URL.

[code]

This validation over the domain URL we added after the functionality is deployed on the front end.
`return this.$t('HELP_CENTER.PORTAL.ADD.DOMAIN.ERROR');`

To fix this: Whenever we are saving the custom-domain URL, we need to save the hostname

[2022-11-29 13:28] Ghost108 commented on #5962
@pranavrajs @tejaswinichile
I have created a possible process that could be used to optimize the procedure:

![chatwoot2](https://user-images.githubusercontent.com/17011498/204537360-46335a1f-e691-47a0-be76-121cf71763ba.png)

Explanation:

1. User open the widget and it will shown screen 1. This screen is not necessary and it should directly shown screen 2

2a. If pre chat enabled => the pre chat

[2022-11-29 13:31] rogeriorizzo commented on #5291
csat is just sending the link to whoever makes the first conversation, when in the next sequential ones, it doesn't send it. Has anyone gone through this or is there some variable that I have to modify?

[2022-11-29 13:45] tejaswinichile commented on #5886
@ASchneiderBR You can cherry-pick the commit from the above PR, but we would suggest you wait until we add it in the sooner release so that we would know if there are any impacts of the above changes on our staging.

[2022-11-29 13:52] tejaswinichile commented on #5886
@ASchneiderBR Right now, we are not supporting actions for custom attributes but the conditions filters based on the custom attributes are there.

[2022-11-29 13:54] #4481 closed

[2022-11-29 14:10] ASchneiderBR commented on #5886
Helllo @tejaswinichile!

It would be nice to have in the `Actions` section something like `Update custom attribute`, then a box at its side to choose which custom attribute you want to update, then another box at the right that you can set the data to update to it, if the attribute is text, show a text filed, if a number, the number field, if an option list, show those options as a list to pick on

[2022-11-29 15:38] opencartcomvn opened #5985 "Node 12 no longer support Ubuntu 20"
File
https://github.com/chatwoot/chatwoot/blob/develop/deployment/setup_20.04.sh
Line 175
 curl -sL https://deb.nodesource.com/setup_12.x | bash -
Replace with
 curl -sL https://deb.nodesource.com/setup_14.x | bash -
It work for me

[2022-11-29 17:51] muhsin-k commented on #5980
There is still not enough information to debug the issue. Would you be able to provide a screencast of the behaviour?

[2022-11-29 22:22] Onionun opened #5987 "Containers rails and sidekiq exit almost immediately"
**Describe the bug**
After preparing the database `docker-compose run --rm rails bundle exec rails db:chatwoot_prepare` and  setting up and running the service `sudo docker compose up -d` the containers sidekiq-1 and rails-1 are exited within seconds after being launched.

**To Reproduce**

Steps to reproduce the behavior:
1. Set up Rocky Linux 8 server
2. Install Docker and Docker Compose
3. Foll

[2022-11-29 22:36] pranavrajs opened #5988 "Esc key doesn't close the command bar"
The escape key used to work before. With the recent changes, this key is not working when the command bar is open.

[2022-11-30 08:28] muhsin-k commented on #5980
@voko3456 We have tested this, and it this working fine.

https://www.loom.com/share/d3e74084ba744d31b94aed9dcce35847

[2022-11-30 11:20] Ghost108 opened #5993 "frequently disconnection"
**Describe the bug**

I have the agent chatwoot webinterface on my pc permanently open. Sometime - when I don't have the tab actively open, this error message comes up:
<img width="418" alt="Bildschirm­foto 2022-11-30 um 11 07 27" src="https://user-images.githubusercontent.com/17011498/204782758-141f083c-061f-4fb1-81e4-9fd8fdedf3f4.png">
(=Disconnected from chatwoot)

Here I have to do a manual re

[2022-11-30 11:29] Ghost108 commented on #5993
Update:

I still receive chat messages, although the message said that I am not connected
<img width="994" alt="Bildschirm­foto 2022-11-30 um 12 27 40" src="https://user-images.githubusercontent.com/17011498/204784794-ec53fd71-4c96-4836-87f1-30ce78e920d9.png">

[2022-11-30 17:29] Ghost108 opened #5995 "chat widget doesn't scroll automtically to the end"
**Describe the bug**
The chat widget doesnt scroll automatically to the end of conversation

**To Reproduce**

Steps to reproduce the behavior:
1. Open the chat widget an write some text messages, so that you have to scroll to see all messages
2. Reload the page and open the widget. You will see, that the widget shows automatically the last message (this is perfect!)
3. Close the conversation (as

[2022-11-30 17:35] Ghost108 opened #5996 "Darkmode Agent Dashboard and ios app"
It would be nice if the ios app and agent dashboard were available in dark mode

[2022-11-30 18:18] Ghost108 opened #5997 "Change more colors of web widget"
Hi all,

It would be nice, If I can change more colors of the web widget in the web widget configurator.
There must be a option to configure the colors for the light version and a seperted configurarion of colors for the dark mode.

<img width="396" alt="Bildschirm­foto 2022-11-30 um 19 10 18" src="https://user-images.githubusercontent.com/17011498/204876655-cfac97bb-13c5-410a-aeeb-779d6502272a.pn

[2022-11-30 20:08] vagner-dias opened #5998 "Restrict agents to only see messages assigned to their own teams"
Hello,

As per my understanding on how Chatwoot works, agents can see all messages of a specific inbox, so if I assign an agent to a specific team, this agent will still be able to see all messages from all the other teams if they click in "All conversations" and after that, in the "All" pane.

As an example: If I have one whatsapp inbox and two teams (sales and support), the support team will be

[2022-11-30 23:13] vxm5091 opened #5999 "Can't use local URL for webhook"
![image](https://user-images.githubusercontent.com/57078583/204926566-979c26d7-6318-45e5-b91b-5f49b746691d.png)

It looks like this field is validating for a standard URL, unless I'm missing something. Same validation error when using `localhost` as well.