[2021-09-07 23:04] valentinwinkelmann commented on #2502
That would be super cool as an integration!

[2021-09-08 04:07] #2869 closed

[2021-09-08 06:06] muhsin-k opened #2979 "enhancement: Merging Contact should copy additional attribute Information"
At the moment, merge contacts don't copy over additional attributes like social links, company names from mergee contact to base contact. So

- [ ] When we execute merge contact action, we should copy over the additional attributes from mergee contact to base contact.

this issue blocks: #2457

[2021-09-08 09:37] #2816 closed

[2021-09-08 11:14] benphelps opened #2983 "feat: Ability to change notification sound"
**Is your enhancement request related to a problem? Please describe.**
The default notification sound is very easy to miss.

**Describe the solution you'd like**
Have the option to choose between different sounds or upload your own custom sound.

**Describe alternatives you've considered**
Currently I replace the ding.mp3 manually myself with one from https://notificationsounds.com/

This is a col

[2021-09-08 12:17] valentinwinkelmann commented on #1707
I can delete the email, the name can not be deleted. The contact then remains without email. From a privacy point of view, a button to completely delete an entire contact & all associated conversations is clearly missing.

[2021-09-08 12:36] sojan-official commented on #1707
ref #1929

[2021-09-09 04:41] mkbadri commented on #2502
+1 definitely a value add, will be a really good combination.

[2021-09-09 17:23] hanthor opened #2985 "Snoozed conversation status"
**Is your enhancement request related to a problem? Please describe.**

Snoozed conversation don't show the Snooze conditions

**Describe the solution you'd like**

Have a list like Gmail that show how long the conversations will be snoozed for.

**Describe alternatives you've considered**
You could also put it in the notice in the conversation itself
 "agent" snoozed conversation until "condition

[2021-09-09 18:30] #1843 closed

[2021-09-09 19:38] hanthor commented on #2985
Can't tell the difference between snoozed for a week or snoozed until reply

[2021-09-09 19:41] hanthor commented on #2443
Tagging an agent should automatically make them a participant and send them a notification.

[2021-09-09 20:59] hanthor opened #2989 "bug: notices in message previews"
**Describe the bug**
![image](https://user-images.githubusercontent.com/5840441/132761650-6b98659d-ee22-48b1-bc84-90b991af87cf.png)

Message previews should ignore room notices

**To Reproduce**

Steps to reproduce the behavior:

Have a bot reopen a room because of new activity

**Expected behavior**

should show latest message or private note

[2021-09-10 10:14] valentinwinkelmann opened #2993 "[CW-1568] Trigger Dialogflow Bot when opening the chat."
**Is your feature request related to a problem? Please describe.**
If a Dialogflow bot is used and the visitor opens the chat, he must first write something to which the bot responds. This leads to the fact that the visitor first of all assumes he has a simple live chat in front of him, through which he reaches a human person. So he will most likely write wildly and think he is writing with a huma

[2021-09-10 10:20] valentinwinkelmann opened #2994 "Let Dialogflow read and work with the visitor's attributes and parameters"
**Is your feature request related to a problem? Please describe.**
The Dialogflow bot unfortunately does not have access to the visitor's attributes, which can be defined via setCustomAttributes() and setUser(). This is especially problematic when a logged-in user is to be authenticated automatically.
Ideally, I have a website where my customers can also log in. If I talk to the bot now, I would l

[2021-09-10 10:35] valentinwinkelmann opened #2995 "feat: Ability to trigger custom events through Chatwoot JS SDK"
**Is your feature request related to a problem? Please describe.**
For a current client support in our system, we want to be able to execute javascript commands directly at the client. We have created interactive javascript tutorials via Intro.js, which we want to execute to show the visitors certain things. However, it would certainly be useful for many other situations as well. I tried to find a

[2021-09-10 11:34] brundles commented on #2970
I cant even reply to the message, close it and then expect it to stay closed. It still pops up 😳

[2021-09-10 12:48] vishnu-narayanan commented on #2940
Closing this for now. Please feel free to reopen if you have more questions.

[2021-09-10 12:48] #2940 closed

[2021-09-10 20:01] #2738 closed

[2021-09-11 04:39] sojan-official commented on #2989
Note: Conversations in the list get reordered when a new activity message is added. We can revisit that behavior when taking a look at this.

[2021-09-11 04:59] sojan-official commented on #1989
ref: https://github.com/chatwoot/cloudron-chatwoot

[2021-09-11 10:20] GyR4uk opened #2996 "The anonymity of correspondence is violated"
Our users began to complain that they sometimes see the correspondence of other users.
This happens randomly.

[2021-09-11 19:05] tejaswinichile commented on #2919
Added the changes here https://github.com/ValiMail/devise-secure_password/pull/68
We are pointing our gem to the new fork.

[2021-09-12 05:53] tlawrie opened #2998 "Trigger Chat via SDK with pre-defined prompt"
**Is your feature request related to a problem? Please describe.**
Its related to a missing feature set that is available on Crisp and Intercom

**Describe the solution you'd like**

Ability to open the chat window via the SDK (toggle) and state the keyword or pre-defined message ID to pre-populate the window the a chat prompt.

This would allow you to take actions on the page such as have a user

[2021-09-13 00:49] iammattmartin commented on #2996
You'd need to give more information about your setup.

What users, do they share any common infra? Do you have a proxy/load balancer in front of your installation?

[2021-09-13 01:23] cgb opened #2999 "[CW-1866] Add date and timestamps to transcripts sent via email"
**Is your feature request related to a problem? Please describe.**
Using a website Inbox, users or admins receive a chat transcript without date or timestamps, making it difficult to gauge the inter-message response times and start/end times for a chat session

**Describe the solution you'd like**
The date and timestamp are available on every message within the Chatwoot admin interface.  For conta

[2021-09-13 04:15] muhsin-k commented on #2983
Chatwoot supports a audio  notifications in dashboard for new messages and conversations. But currently support only one sound.

### Problem

The current notification sound is short and easy to miss.

### Solution

The user should have the option to choose between different sounds.

### Todos

- [ ] Find some sounds which are completely free to use
- [ ] Add  sound dropdown to choose near audio no

[2021-09-13 04:20] muhsin-k opened #3000 "bug: Error in creating a new one off campaign"
### Discussed in https://github.com/chatwoot/chatwoot/discussions/2991

<div type='discussions-op-text'>

<sup>Originally posted by **mkbadri** September 10, 2021</sup>
Hi team, great work on the solution. Keen to explore more and just kicked off looking at chatwoot and looks very promising

I was trying to setup some campaigns to evaluate the process but I was stuck in creating it. I am not sure

[2021-09-13 04:40] muhsin-k commented on #2999
@cgb Thanks for the feedback and we will prioritize in the next sprint.

[2021-09-13 05:14] muhsin-k commented on #2985
@hanthor Thanks for the feedback and we will prioritize in the next sprint.

[2021-09-13 05:59] pranavrajs commented on #2443
@hanthor When a user is tagged in a conversation, they will get a notification via email/push. You can enable the notifications in the profile settings.

[2021-09-13 07:06] echodreamz commented on #273
This would be a great feature to have... or at least a way to manually check agent availability via the JS SDK, we'd instead either hide the chat icon or display a "submit a ticket" icon that links to our clientarea.

[2021-09-13 07:45] #2919 closed

[2021-09-13 07:54] sojan-official commented on #2998
Did you get a chance to take a look at
[code]

https://www.chatwoot.com/docs/product/channels/live-chat/sdk/setup#trigger-widget-without-displaying-bubble

[2021-09-13 08:02] GyR4uk commented on #2996
1) We use deploy via docker-compose.
2) Before chatwoot, there is only nginx.
3) The error occurred both accidentally and when the same email was used.

Under what conditions can I get access to the history of another user's correspondence at all?

[2021-09-13 08:13] #2895 closed

[2021-09-13 08:17] tlawrie commented on #2998
Hi @sojan-official thanks for your response.

Yes. That opens the chat window, however does not offer a mechanism to prepopulate with prompts.

[2021-09-13 09:03] pranavrajs commented on #2996
@GyR4uk There is still not enough information to debug the error. Would you be able to provide a screencast of the behaviour?

[2021-09-13 09:31] GyR4uk commented on #2996
I will try to repeat this bug and let you know

[2021-09-13 10:04] muhsin-k commented on #2998
@tlawrie This is a great suggestion and we will prioritize in the next releases.

[2021-09-13 10:26] #2865 closed

[2021-09-13 11:08] muhsin-k commented on #2985
**Todo**
- [ ] Add text near view details button
- [ ] Add a computed method for finding the snoozed text

| Snooze Type  | Snoozed Text |
| ------------- | ------------- |
| Next Reply | Conversation was snoozed until next reply  |
| Tomorrow  | Conversation was snoozed until tomorrow  |
| Next Week  | Conversation was snoozed till next Monday  |

**Design**
<img width="837" alt="Screenshot 2021-

[2021-09-13 11:29] jacka2021 commented on #2970
I second this 100 % @muhsin-k

It is causing irritation for people using my system, that they are not able to turn this off. It pops up again and again.

[2021-09-13 11:35] muhsin-k commented on #2970
@jacka2021 @brundles We are able to reproduce the error. This is a confirmed bug. We will prioritize in the next sprint.

[2021-09-13 12:38] #2973 closed

[2021-09-13 12:40] #1815 closed

[2021-09-13 14:34] vishnu-narayanan commented on #361
### Digital Ocean

*IMPORTANT: After you've read the link above, and before you build your app, please confirm that the answer to all of the questions below are "YES":*

-[ ] Should you wish to monetize the users of your 1-Click App, you have built-in your own mechanism to allow them to upgrade or to purchase licensing. (DigitalOcean does not currently provide a licensing engine, although we do pl

[2021-09-13 14:37] vishnu-narayanan commented on #2782
@sojan-official Did we receive any update from Docker support ?

[2021-09-13 14:39] vishnu-narayanan commented on #2704
Closing this for now. Please reopen if you have more questions.

[2021-09-13 14:39] #2704 closed

[2021-09-13 15:12] pranavrajs commented on #361
@vishnu-narayanan

Yes. We will have our own licensing system for EE edition software.

[2021-09-13 16:17] pranavrajs opened #3006 "Add support for email aliases of an email inbox"
Gmail allows you to create email aliases for an inbox. Add support for aliases in email inboxes in Chatwoot so that the users don't need to create multiple inboxes in Chatwoot.

Todo:

- [ ] Add an additional attribute to save alias for email inbox. (Figure out if an additional table is required)
- [ ] Match email from the aliases as well when an email is forwarded to Chatwoot.

[2021-09-13 18:41] sojan-official commented on #2782
ref : https://github.com/docker/hub-feedback/issues/1902

[2021-09-13 22:33] iammattmartin commented on #2999
Some consideration maybe should given on time stamps either for local install time to the host (i.e site viewed) or the vistor....

[2021-09-14 06:25] #2009 closed

[2021-09-14 06:25] #2365 closed

[2021-09-14 08:29] pranavrajs commented on #2911
@tejaswinichile There is a already a function which does a similar thing, please take a look at the following. https://github.com/chatwoot/chatwoot/blob/d76455e840015c52c0eacd20103d1b37975160c9/app/mailers/conversation_reply_mailer.rb#L109-L120

[2021-09-14 12:18] muhsin-k opened #3015 "Show last non-activity message in previous conversation"
The previous conversation does not have any meaningful information except the last engagement. The last non-activity message should be shown instead of resolution messages.

<img width="347" alt="Screenshot 2021-09-14 at 5 45 52 PM" src="https://user-images.githubusercontent.com/12408980/133255820-330ca420-e498-4ba3-ac8d-7946663d7ae0.png">

[2021-09-14 16:39] gramakri commented on #1989
@sojan-official ah, this is great! I will look into this this week. (girish from Cloudron here)

[2021-09-15 04:49] prakashdivyy opened #3017 "What Dockerfile that used in Dockerhub"
Hello, I want to ask about which Dockerfile that used in [Dockerhub](https://hub.docker.com/layers/chatwoot/chatwoot/release-v1.20.0/images/sha256-ebcde8f8e6615854200ce2e4456247c90421655f85696b71031c56a4d5f5ef4c?context=explore)?

I want to create a custom image, so that I can use it into [chatwoot helm chart](https://www.chatwoot.com/docs/self-hosted/deployment/helm-charts)

Thanks!

[2021-09-15 04:58] #3017 closed

[2021-09-15 14:51] #2856 closed

[2021-09-16 07:56] #2911 closed

[2021-09-16 08:25] vishnu-narayanan commented on #2648
Hey, we are not able to reproduce this issue from our end.

Please reopen if you are still facing issues.

[2021-09-16 08:25] #2648 closed

[2021-09-16 09:58] vishnu-narayanan commented on #361
https://github.com/digitalocean/marketplace-kubernetes/pull/260

[2021-09-16 10:25] vishnu-narayanan commented on #361
Market place listing under review.
![image](https://user-images.githubusercontent.com/3526167/133596165-6bdf493c-60e7-482d-b6a7-dc48a7d6637f.png)

[2021-09-16 17:41] pranavrajs commented on #361
@vishnu-narayanan Nice work! Does this mean it would be listed on their pages after approval?

[2021-09-16 18:06] vishnu-narayanan commented on #361
Yes, users should be able to install chatwoot as a 1 Click Kubernetes app within DigitalOcean.

[2021-09-17 05:26] muhsin-k opened #3029 "NoMethodError: undefined method `sid' for nil:NilClass"
<img width="1200" alt="Screenshot 2021-09-17 at 10 55 35 AM" src="https://user-images.githubusercontent.com/12408980/133729184-2e38a085-6c93-41d5-b759-ec621f6c9607.png">

**Sentry error details**

https://sentry.io/share/issue/33c21d44e9ed47a8ad283ce0eebb4c2f/

<img width="786" alt="Screenshot 2021-09-17 at 10 46 01 PM" src="https://user-images.githubusercontent.com/12408980/133828225-b5c6a613-c26

[2021-09-17 05:27] muhsin-k commented on #3029
@tejaswinichile Could you please look into this?

[2021-09-17 09:54] pranavrajs opened #3031 "Import API should throw an error if there is no valid file"
Contact Imports API now returns 200 success even if there is no file attached in the request. It should ideally throw a 422.

To reproduce:

1. POST to `/api/v1/accounts/${accountId}/contacts/import`.
2. API will return a 200 Success.
3. Look at the logs, it will throw an error in the worker processing.
<img width="1225" alt="Screenshot 2021-09-17 at 3 24 17 PM" src="https://user-images.githubuser

[2021-09-17 14:36] leoniscsem commented on #2960
Oh wait, this is actually what I have been looking for! I didn't check in this category, as I had expected this as a subcategory such as "install from source" (or the like)  in the self-hosted section. Thank you very much for pointing me to that.

[2021-09-17 16:44] #2504 closed

[2021-09-17 16:47] #2035 closed

[2021-09-18 16:00] clanto007 opened #3033 "Telegram Channel problems with groups"
**Describe the bug**

After configured telegram channel when someone contact the bot the system run and agent receive the message on chatwoot. But when the bot is inserted in a group chatwoot doesn't receive the messages from the groups. Tried in web and mobile app.

**To Reproduce**

Steps to reproduce the behavior:
1. Insert the bot in a group
2. Contact the group on telegram
3. See error

**Bro

[2021-09-18 21:33] iammattmartin commented on #3033
I think the general question might be, what use case is there for a CW convo/bot to be in a group?

[2021-09-18 22:17] clanto007 commented on #3033
It might be usefull for some situations, for exemple in our case we use groups for IT assistence to schools were in groups there is our contact plus digital team of schools, in this case when we write, or a member of digital team write to us is to responde to a problem and to have the other informed. Also in some businesses we have groups with internal IT teams so that all the internal teams know

[2021-09-18 22:19] iammattmartin commented on #3033
Just a pre-emptive question if it wasn't designed for that. They'll be able to confirm either way.

[2021-09-19 09:12] srameshr opened #3034 "Callback URL is not displayed after creating Twilio Whatsapp channel"
**Describe the bug**

Callback URL is not displayed after creating Twilio Whatsapp channel and the "Copy" button does not copy the URL to the clipboard.

**To Reproduce**

Steps to reproduce the behavior:
1. Create Twilio Whatsapp channel.
2. In the final step when the channel is created, the callback URL is missing from the UI

**Expected behavior**

The Callback URL should be shown

**Screenshot

[2021-09-19 10:41] sojan-official opened #3035 "Doc: Update the swagger for missing endpoints"
- [ ] Agent EndPoint
- [ ] Team Members Endpoint
- [ ] Canned Responses
- [ ] Kbase Endpoints
- [ ] Contact Notes Endpoints

[2021-09-19 10:43] sojan-official opened #3036 "feat: Support all attachment messages in telegram"

[2021-09-19 10:45] sojan-official opened #3037 "feat: Ability to send attachments to telegram"
# Acceptance

- [ ] Enable attachments option in reply box for telegram channel
- [ ] Send the attachment to the telegram conversation
- [ ] The attachment should be properly rendered in telegram depending on the type

[2021-09-19 10:47] sojan-official opened #3038 "feat: Ability to send attachments to Line Messenger"
# Acceptance

- [ ] Enable attachments option in reply box for line channel
- [ ] Send the attachment to the line conversation
- [ ] The attachment should be properly rendered in line depending on the type

[2021-09-19 10:48] sojan-official opened #3039 "feat: Ability to receive attachment in Line messenger Channel"
At the moment only text messages from line messenger are supported in chatwoot, We want to enable support for other types of messages send to chatwoot from line

[2021-09-19 10:51] sojan-official opened #3040 "feat: Ability to close and reopen the chat window via SDK"
The `window.$chatwoot.toggle();` provided by [Chatwoot SDK](https://www.chatwoot.com/docs/product/channels/live-chat/sdk/setup) can be inadequate in some cases because there is no way to know the current status of the chatWindow whether it toggled close or open. So we want to support passing the state explicitly into this function.

## Acceptance
- [ ] `window.$chatwoot.toggle();` retains current

[2021-09-19 11:01] sojan-official opened #3041 "feat: Render video messages in conversations"
Video Messages in Chatwoot are rendered as file attachments at the moment. We want to convert make them playable right in the conversation window

## Acceptance
- [ ] Incoming video attachments are labeled with video type
- [ ] Show a thumbnail of the video message in Chatwindow similar to image attachments
- [ ] On click of thumbnail, open up up the video in a modal where the agent can click and

[2021-09-19 11:06] sojan-official commented on #3033
Chatwoot is designed in a way to handle conversations from a single contact and multiple agents.  So at the moment, the telegram integration doesn't support group conversations.  We are looking into supporting multiple participants in the conversation for the future. But that's a larger effort and might take a while.

[2021-09-19 12:03] sojan-official commented on #1948
closing this since there hasn't been recent activity on this issue.Please reopen if the issue persists

[2021-09-19 12:03] #1948 closed

[2021-09-19 14:21] murtaza-webonise commented on #3031
@pranavrajs shall I pick this up ?

[2021-09-19 14:21] murtaza-bagwala commented on #3031
@pranavrajs shall i pick this up ?

[2021-09-19 14:38] pranavrajs commented on #3031
@murtaza-bagwala Please feel free to go ahead. Let me know if you need any help.

[2021-09-19 15:06] pranavrajs opened #3042 "Out of office responder creates a message even if the message is sent by an agent."
**To reproduce:**

- [ ] Enable business hours and "Out of office message" in business hour settings for an inbox.
- [ ] Reply to a conversation from the dashboard. It would create a reply message.

<img width="476" alt="Screenshot 2021-09-19 at 8 31 01 PM" src="https://user-images.githubusercontent.com/2246121/133932462-c39e7f98-e994-4296-9dc8-f0d192454268.png">

[2021-09-19 15:06] pranavrajs commented on #3042
@aswindevps Please take a look at this bug and share your findings here.

[2021-09-20 06:07] nithindavid opened #3045 "bug: Reply box goes hidden on iPad"
Estimation: 1

**Describe the bug**
The replybox goes beyond the screen pushing the reply button out of screen on iPad. This happens only when there are messages enough to make the conversation area scroll. ( Let’s say more than 10 messages). This could be a flex box issue.

**Screenshots**
![D7537A20-3D39-48A8-8C39-46ABBBA348A2](https://user-images.githubusercontent.com/1277421/133962076-63ac6e31

[2021-09-20 07:06] nithindavid opened #3047 "[CW-1870] Group messages by date"
**Context**
Right now all the messages shown in the dashboard conversation area is not grouped by date. The problem with this is that, it’s very difficult for users to distinct which message came on which date. The solution to this would to group the messages by date. Just like we have on the widget side.

![6BCCBE0F-EAAF-4E19-A858-4C1B9FD3422A](https://user-images.githubusercontent.com/1277421/13

[2021-09-20 07:14] brentco commented on #2830
Would this also mean the user would see that a conversation gets closed from API? I believe this use case would be quite popular:

1. User opens the chat
2. Bot gives greeting
3. User goes through the bot's flow
4. On end states in the bot, the bot will need to close the conversation
5. User can no longer talk and on they get a button to start a new chat (or on next page refresh this is automatic)

[2021-09-20 07:18] nithindavid opened #3048 "Design: rethink conversation header"
**Estimation** - 2
**Context**
With the future need to handle conversations on all channels we need to optimise the header to show more context about the conversation where as the current one is around the user. We could also think about bringing conversation actions like assigned agent, team and tags into header so the important context remains always seen.
Also would need to rethink the resolve

[2021-09-20 08:27] tejaswinichile commented on #3029
I couldn't dig more as the mentioned message with message_id = 6155 https://sentry.io/organizations/chatwoot-7d/issues/2655142384 is not available in the system.
The issue is with: Twilio client which couldn't create SMS and we are trying to extract the `sid` from non created message.
So to resolve this:
1. if we face the issue/exception with Twilio we should grab it in sentry.
2. And update the m

[2021-09-20 08:53] iamsivin commented on #2961
This issue will fix by this PR #3003

[2021-09-20 09:09] bulanni00 opened #3050 "Can I send pictures to Telegram customers?"
Can I send pictures to Telegram customers

[2021-09-20 09:22] sojan-official commented on #3050
we are tracking this on #3037

[2021-09-20 09:22] #3050 closed

[2021-09-20 11:01] srameshr opened #3052 "Agents have no way to set password after accepting the invite"
**Describe the bug**

After an agent accepts the invite via email, they are redirected to the app dashboard without having the ability to set a password which is extremely confusing while logging back into the account.

**To Reproduce**

Steps to reproduce the behavior:
1. As an admin add an agent
2. Agent gets an invite on their email
3. Click on the invite link
4. Agent is redirected to the dash

[2021-09-20 12:19] #2860 closed

[2021-09-20 12:41] nithindavid opened #3054 "Design: Complying and following carbon design system"
**Estimation** - 3
As of now there isn’t a clear design framework or system that chatwoot follows. This needs to change as the product is evolving. I have found carbon design system made by IBM and seems like a good candidate to consider.

https://www.carbondesignsystem.com/

**What to do**
-  Learn about carbon design system principles
- Efforts and documentation needed to follow this guideline
-

[2021-09-20 12:42] srameshr opened #3055 "Conversations arising from "Contact Us" page"
**Describe the bug**

When support tickets from different users who have different emails come in via a "Contact Us" page (which is just an SMTP from help@xyz.com) the conversations are grouped together under email inbox because the sender is help@xyz.com even though the end-users are different for each message in the same conversation.

Is there any way to "automagically" create new conversations

[2021-09-20 13:19] jaimyborgman opened #3056 "Not able to edit or remove campaigns"
**Describe the bug**

I'm currently testing out chatwoot but after creating a campaign I'm not able to edit nor remove the created item.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'campaigns'
2. Click on 'create an ongoing campaign'
3. Go to the campaigns overview page
4. Not possible to edit or remove the campaign

**Expected behavior**

There should be a possibility to edit and

[2021-09-20 13:33] pranavrajs commented on #3056
@jaimyborgman It would be helpful if you can share a screencast.

[2021-09-20 13:39] jaimyborgman commented on #3056
@pranavrajs see screenshot there is no ability to edit/remove a campaign

[2021-09-20 14:06] pranavrajs commented on #3056
@jaimyborgman There is a horizontal scroll on the table. I guess from the UX it is not clear 🤦 Can you please confirm whether this is the issue?

[2021-09-20 14:08] jaimyborgman commented on #3056
@pranavrajs haha that's weird i was trying to scroll which didn't work first and after refreshing twice it worked... or nevermind we can close this ticket 😅

[2021-09-20 14:08] #3056 closed

[2021-09-20 14:37] pranavrajs commented on #3054
@nithindavid

- Are there any specific reasons why you have considered the IBM design system?
- Have you considered any other design systems?

And, should we allow the standard to be evolving when we implement a new item rather than building everything at first? I agree that there should be a standard for spacing, colors, icons, fonts, etc which we already have. Can't we continue to follow the sam

[2021-09-20 15:02] murtaza-bagwala commented on #2974
@sojan-official shall I pick this up ?

[2021-09-20 15:09] pranavrajs commented on #2830
@brentco Yes, there will be a toggle that would help us achieve the same. https://github.com/chatwoot/chatwoot/issues/2827

"continuous conversation" will still be there. As per the feedback received, we figured that there is a need to have multiple threads of conversation with a customer. Having the same thread for different types of requests is often confusing.

[2021-09-20 15:48] #1989 closed

[2021-09-20 16:20] pranavrajs commented on #2762
@fayazara Please take a look at this issue and suggest if you need any more input on this.

[2021-09-21 01:30] bulanni00 commented on #3037
Can it be used now
I just tried the telegram but the bot could not receive the picture

[2021-09-21 04:46] #3042 closed

[2021-09-21 04:50] #3031 closed

[2021-09-21 07:32] murtaza-bagwala commented on #2974
@pranavrajs shall I pick this up ?

[2021-09-21 07:34] muhsin-k commented on #2974
@murtaza-bagwala Please feel free to go ahead.

[2021-09-21 07:48] vishnu-narayanan commented on #361
https://marketplace.digitalocean.com/apps/chatwoot

[2021-09-21 07:48] #361 closed

[2021-09-21 11:06] sojan-official opened #3058 "feat: UI to view team reports"
Acceptance criteria:

- Admin should be able to see reports of a particular team.
- Admin should have a button to download a CSV report for the team

note: APIS will be available after #2916

## Design

Reusing the design created for the inbox report, please modify it accordingly to team
- sidebar nav for accessing team reports
- filter to select specific team

<img width="1750" alt="Screenshot 20

[2021-09-21 11:07] sojan-official commented on #2916
@aswindevps Let's raise a PR with the backend and swagger changes alone for this one.  I have moved the design to a new ticket for @fayazara  to work on https://github.com/chatwoot/chatwoot/issues/3058

[2021-09-21 12:56] aswindevps commented on #2916
sure @sojan-official

[2021-09-21 13:37] tejaswinichile commented on #2652
@pranavrajs @sojan-official
Nit able to understand the requirement here, when we meant we should be able to edit CC and BCC email, did you mean here >> https://staging.chatwoot.com/app/accounts/3/conversations/1007 in the chatwoot window?

[2021-09-21 14:13] sojan-official commented on #2652
@tejaswinichile  When I am replying to an email conversation in Chatwoot, I should have the ability to specify a CC, BCC to that email . the editor should have the ability to specify cc and bcc as shown below

a component for this has been added already in : https://github.com/chatwoot/chatwoot/pull/2763

<img width="835" alt="Screenshot 2021-09-21 at 7 40 47 PM" src="https://user-images.githubuse

[2021-09-21 14:14] sojan-official commented on #2882
@sarhugo  feel free to go ahead.

[2021-09-21 17:18] pranavrajs commented on #2906
@fayazara Please spend 0.5 worth of effort to investigate the changes required for this and post your findings here.

Expectation: The steps required for migration if icons can be replaced. Otherwise, please share the challenges to include the pack.

[2021-09-21 17:25] sojan-official opened #3061 "feat: Remove separate credentials for Super Admins"
At the moment a user has to have two set of credentials for super admin and agent dashboard . Let's unify that.

- [x] Migration plan for existing credentials
- [x] On onboarding super admin user records are created as well

[2021-09-21 17:26] pranavrajs commented on #2970
@iamsivin Please make the bubble clickable along with this change.

![Screenshot 2021-09-21 at 10.55.51 PM.png](https://images.zenhubusercontent.com/5bcf4a59b198c93527505cd6/2812725b-0e5a-457a-bb58-513d14464be7)

[2021-09-21 17:29] #2908 closed

[2021-09-21 17:30] pranavrajs commented on #679
@tejaswinichile Deprioritizing this for this sprint. Please take this only if you have the bandwidth.

[2021-09-21 17:32] #3029 closed

[2021-09-21 17:34] tejaswinichile commented on #679
@pranavrajs Okay

[2021-09-21 17:35] pranavrajs commented on #2609
@vishnu-narayanan Can you please take this on priority in this sprint?

[2021-09-21 17:49] sojan-official opened #3062 "Bug: Filter widget conversation events with active conversation ID"
If user a with email: test@test.com is talking on the widget and user b uses the same email,  the messages send by agent to either conversation in dashboard will get delivered to both the user sessions irrespective of conversation id

- [ ] we should discard action cable events in widget unless the conversation id matches with current conversation ID

[2021-09-21 17:50] sojan-official opened #3063 "chore: Redirect to new conversation on creating a new message from contacts view"
when a conversation is created from the contacts tab, using the new message button.

Show a link to the user in success response which they can click and get redirected to the newly created conversation

[2021-09-21 19:24] murtaza-bagwala commented on #1585
@pranavrajs shall I pick this up ?

[2021-09-22 05:16] #2925 closed

[2021-09-22 06:13] clanto007 commented on #3033
Thank you very much

[2021-09-22 06:57] vishnu-narayanan commented on #2609
@pranavrajs on it

[2021-09-22 09:40] pushoo-sharma opened #3068 "Migration Error || Develop Branch"
Have referred to this Issue as well [ #1804](https://github.com/chatwoot/chatwoot/issues/1804)

The only difference is my **InstallationConfig id: nil**

[2021-09-22 09:44] pushoo-sharma commented on #3068
[code]

Branch - `Develop`

[2021-09-22 09:51] pushoo-sharma commented on #3068
Dropped the database and have redone it again the same issue persists.

[2021-09-22 12:56] Kaladharshini opened #3070 "CORS issue in making the API channel public"
ref: https://discord.com/channels/647412545203994635/650257251856285707/889874406363525120

In making the API channel public using the https://github.com/chatwoot/client-api-demo repo, CORS issue found.

**Access to XMLHttpRequest at 'https://{our-org-url}/public/api/v1/inboxes/{inbox_identifier}/contacts' from origin 'null' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header

[2021-09-22 13:21] GrygorievEvgeniy opened #3071 "Cannot use any other language exept en-US in dialogflow integration"
integrations/dialogflow/processor_service.rb
 def get_dialogflow_response(session_id, message)
    Google::Cloud::Dialogflow.configure { |config| config.credentials = hook.settings['credentials'] }
    session_client = Google::Cloud::Dialogflow.sessions
    session = session_client.session_path project: hook.settings['project_id'], session: session_id
    query_input = { text: { text: message, **l

[2021-09-23 06:04] fayazara commented on #2906
I was able to optimise all the icons from the Microsoft repo, using [SVGO](https://github.com/svg/svgo), brought the size down to nearly 4 mb (note, this is all the icons, close 4k)

Wrote a small script to convert them to .vue component files - https://github.com/fayazara/fluenticons/tree/v2/components/FluentIcon

I've also added `fill="currentColor"` attribute of svg to all the file, so we can d

[2021-09-23 06:43] sojan-official commented on #3068
@pushoo-sharma  please use `rake db:chatwoot_prepare` instead of `rake db:migrate`. . Some of the migrations are really old and the underlying data scheme would have changed, so for fresh set up creating a database from `db schema:load` is recommended than running migrations all the way from start.

[2021-09-23 07:22] #1929 closed

[2021-09-23 12:27] pranavrajs commented on #1585
@murtaza-bagwala This is already completed in one of the other PRs.

[2021-09-23 12:27] #1585 closed

[2021-09-23 18:50] #2882 closed

[2021-09-24 05:19] nithindavid commented on #2906
@fayazara Great! :D

[2021-09-24 05:19] #2906 closed

[2021-09-24 07:13] murtaza-webonise commented on #3039
Shall I pick this up ?

[2021-09-24 07:23] ririko5834 opened #3077 "Hosting on railway.app"
**Is your feature request related to a problem? Please describe.**
I don't know how to host this on railway.app

**Describe the solution you'd like**
Write guide how to host chatwoot on service https://railway.app
railway supports database plugins, so both database and chatwoot can be hosted on one plane
![image](https://user-images.githubusercontent.com/64729293/134634780-189c71e5-6b16-4a21-8757-

[2021-09-24 08:55] srameshr opened #3078 "Canned Responses support in contacts"
**Is your enhancement request related to a problem? Please describe.**
When I am initiating a message from the contacts page, I need access to canned responses. Right now, its only available in conversations.

**Describe the solution you'd like**
Same as conversations

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-09-24 08:57] srameshr opened #3079 "Adding more than one email and phone for a contact."
**Is your enhancement request related to a problem? Please describe.**
Right now, each contact can have only one email and phone associated with it. There should be a feature to add multiple emails and phone number to a single contact

**Describe the solution you'd like**
A + button next to phone and email to add more than one email or phone

**Describe alternatives you've considered**
N/A

**Addi

[2021-09-24 11:17] sojan-official commented on #3079
This is something that we are tracking But has complex implications as various channels are build with the assumption of a contact having a single phone number and email.  In the case of channels like email/phone, it means that we would have to think through the interfaces for selecting a particular email/phone in addition to the inbox.

Let's keep this as a spike, throw in ideas and investigate.

[2021-09-24 11:48] muhsin-k commented on #3079
@sojan-official Maybe we can support `Email` type in [custom attributes](https://github.com/chatwoot/chatwoot/issues/2863)

[2021-09-24 11:51] sojan-official commented on #3039
@murtaza-bagwala  please go ahead

[2021-09-24 14:33] murtaza-webonise commented on #3039
@sojan-official I need test line creds. If you could DM me ?

[2021-09-24 15:07] #3000 closed

[2021-09-24 22:00] WevrLabs commented on #3036
This bot is temporarily created in hopes to help with inspecting the content of the payload for various possible scenarios of file types sent from users.

https://t.me/payloaderbot

Just send anything to it (text, photo, sticker, file, file with caption, etc), and it will return the structure of the payload that resembles what Chatwoot webhook will be receiving.

# Example for a scenario for a fil

[2021-09-24 22:47] WevrLabs commented on #3036
This can also be referenced:
https://core.telegram.org/bots/webhooks#testing-your-bot-with-updates

What interests more here, is this snippet example:
## Message with a reply:

[code]

This can be beneficial as most of the time a user replies to a previously sent message, but this does not appear when it reaches Chatwoot (in channels like Messenger, WhatsApp, and Twitter).

However, using this uni

[2021-09-25 04:13] pranavrajs opened #3081 "List is not rendering properly in the dashboard UI"
<img width="425" alt="Screenshot 2021-09-25 at 9 41 08 AM" src="https://user-images.githubusercontent.com/2246121/134757464-bc979be7-8144-455f-abda-86c4c6eecd35.png">

The list seems to be broken in the dashboard UI. Numbers are not visible.

### To reproduce

Create a message with an ordered list using the rich content editor. Check whether the list is rendered properly or not.

[2021-09-25 15:43] GKG4 opened #3082 "Fetching only 25 Facebook Pages"
I have more than 40 Facebook pages, however, the self hosted version is fetching only first 25 pages.
Is there any way to edit .env variable to set it to higher number?

[2021-09-26 10:56] srameshr opened #3083 "Add notes to contacts"
**Is your enhancement request related to a problem? Please describe.**
A feature to add a note for each contact would help agents identity leads better.

**Describe the solution you'd like**
A note button in the contact details side menu and a string column in the contacts table to save the notes

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-09-26 17:22] SanjuSudheerM commented on #3081
@pranavrajs can I work on this?

[2021-09-27 08:01] muhsin-k opened #3086 "enhancement: Ability to copy conversation link and conversation id"

[2021-09-27 08:01] muhsin-k opened #3087 "bug: Disallow editing custom attribute key in edit modal"
Disallow the user to update `attribute_key` after creating a custom attribute since it will affect the already added attributes.

[2021-09-27 08:01] muhsin-k opened #3088 "enhancement: Show prompt on network disconnect"
Show prompt for reloading the page after network disconnect

**Steps**

- Check app is connected to the internet or not
- Add a popover near the upper right corner
- On clicking the refresh button, It should have action to refresh the page

**Design**
<img width="350" alt="network-disconnect" src="https://user-images.githubusercontent.com/12408980/134893983-2fec5919-5458-4733-a164-91227b1afb2b.png

[2021-09-27 08:01] muhsin-k opened #3089 "[CW-1269] feat: Add an option to crop the channel logo/profile avatar"
- Add the option to crop the channel logo or user avatar before uploading.
- Use https://github.com/Agontuk/vue-cropperjs package

**Referenece**
https://medium.com/swlh/image-crop-and-upload-in-vuejs-2d8d5c73c310

<sub>[CW-1269](https://linear.app/chatwoot/issue/CW-1269/feat-add-an-option-to-crop-the-channel-logoprofile-avatar)</sub>

[2021-09-27 08:01] muhsin-k opened #3090 "feat: Render contact custom attributes in conversation sidebar"
- Option to create a new contact custom attribute from the conversation sidebar
- Create a custom attribute component to display the value (Initially support `number`, `text`, `currency`, `percent`, `link` and `date`)
- Render all the custom attributes in the UI.
- Option to update/delete the attribute

[2021-09-27 08:01] muhsin-k opened #3091 "feat: Render contact custom attributes in contact sidebar"
- Option to create a new contact custom attribute from the contact sidebar
- Create a custom attribute component to display the value (Initially support `number`, `text`, `link` and `date`)
- Render all the custom attributes in the UI.
- Option to update/delete the attribute

[2021-09-27 08:02] muhsin-k opened #3092 "feat: Migrate existing contact custom attributes to the newly constructed schema objects"

[2021-09-27 09:21] johackim commented on #2712
Any news ?

[2021-09-27 09:48] sojan-official commented on #3039
Hey @murtaza-webonise,  We usually recommend individual developers to get personal credentials since they would need a line account for testing anyways. it's completely free

https://developers.line.biz/en/docs/messaging-api/getting-started/#using-console

[2021-09-27 10:14] akhilgkrishnan commented on #3036
@sojan-official Can I pick this up?

[2021-09-27 11:01] sojan-official commented on #3036
@akhilgkrishnan  please go ahead

[2021-09-27 11:09] sojan-official commented on #2782
@vishnu-narayanan  Seems like this is working now  ?

[2021-09-27 11:16] sojan-official commented on #3077
ref : https://github.com/chatwoot/chatwoot/discussions/3076

[2021-09-27 11:29] vishnu-narayanan commented on #2782
@sojan-official Looks like it. Closing the issue for now.

[2021-09-27 12:27] murtaza-bagwala commented on #3039
@sojan-official what other types of messages are we expecting ? I am working on integrating image/audio/video.

[2021-09-27 12:40] sojan-official commented on #3039
@murtaza-bagwala  ref: https://developers.line.biz/en/docs/messaging-api/message-types/

There are additional message types like stickers, location, etc. But for now let's stick with image, audio, and video. show unsupported message type for other types.

[2021-09-27 15:42] #2916 closed

[2021-09-27 17:05] srameshr opened #3095 "Instant preview of chat widget on customisation"
**Is your enhancement request related to a problem? Please describe.**
It would be more intuitive to create and modify the live chat widget if there is a live preview of it on the side that reflects the changes.

**Describe the solution you'd like**
![Screenshot 2021-09-27 at 10 35 15 PM](https://user-images.githubusercontent.com/8149408/134954058-d7738b10-178f-4596-aaac-7fde03db2747.png)

**Descr

[2021-09-27 17:08] srameshr commented on #3079
@sojan-official @muhsin-k Yes, custom attributes to contact would help.

[2021-09-27 20:15] benbehringer commented on #2704
Hey @vishnu-narayanan

Thanks for the infos. I followed the steps and built a custom docker image: https://hub.docker.com/r/taptreeben/chatwoot

Yet, I'm failing to use that image:

[code]

[2021-09-28 05:30] srameshr opened #3096 "Onboarding flow"
**Is your enhancement request related to a problem? Please describe.**
Instead of just showing a wall of guided help text on the right when a user signs up, an onboarding flow that redirects to set up live chat and other inbox channels would be more intuitive to use and understand.

**Describe the solution you'd like**
1. Sign Up
2. If there are no channels set up redirect to /onboard flow

**Desc

[2021-09-28 07:03] #1878 closed

[2021-09-28 07:24] vishnu-narayanan opened #3097 "security: Update nokigiri to v1.12.5 or later due to CVE reported"
**Describe the bug**

Ruby CI/Circle CI failing the bundler audit check due to the CVE reported in `nokogiri` a couple of hours back.

https://github.com/sparklemotion/nokogiri/security/advisories/GHSA-2rr5-8q37-2w7h

**To Reproduce**

Steps to reproduce the behavior:
1. Clone chatwoot.
2. Create a new branch and raise a PR.
3. Ruby CI and Circle CI checks fail citing CVE in `nokigiri`.
4. See err

[2021-09-28 07:35] PyB1l commented on #2074
We want on chat button click to open directly a new window for chating, instead of popup

[2021-09-28 08:23] vishnu-narayanan commented on #3097
@chatwoot/engineering

[2021-09-28 09:47] GKG4 commented on #3082
Any update on this small query, its no big deal to solve, just need to add LIMIT {variable}

[2021-09-28 10:08] pranavrajs commented on #3082
@GKG4 We didn't have a chance to test it out. We will check it out and see if we can reproduce the error.

If you are comfortable with sending a Pull Request, please feel free to do it. We are happy to guide you.

[2021-09-28 10:09] pranavrajs commented on #3095
Duplicate #2441

[2021-09-28 10:09] pranavrajs commented on #3095
Closing it here as #2441 has more context.

[2021-09-28 10:09] #3095 closed

[2021-09-28 10:14] GKG4 commented on #3082
You cant reproduce as its not an error, its about default limit of fetching FB Pages. Its fetching 25 pages only, and I have 40+ pages, therefore, you need to extend FB fetch code to increase this limit.

[2021-09-28 10:41] sojan-official commented on #3082
@GKG4 its not configurable via a variable. I think we would need to paginate through all the available pages for that account than stopping after the single API call

ref: https://github.com/chatwoot/chatwoot/blob/1761bec6152b3c7dedf0c97da4e6468914d7e881/app/controllers/api/v1/accounts/callbacks_controller.rb#L22

[2021-09-28 10:46] sojan-official commented on #3097
ref : https://github.com/Azure/azure-storage-ruby/issues/194

[2021-09-28 10:51] GKG4 commented on #3082
Apart from paginate, there is an option to set limit while querying, as per the Facebook Graph Explorer. You simply need to add Limit(100) or whatever number of pages you need to fetch, this will fetch in a single call without pagination.

[2021-09-28 10:54] GKG4 commented on #3082
@page_details = mark_already_existing_facebook_pages(fb_object.get_connections('me', 'accounts'))

if we change it to

 @page_details = mark_already_existing_facebook_pages(fb_object.get_connections('me', 'accounts.limit(100)'))

it should work, however, since I am .net developer, I cannot compile or run this code. If you can test it, much appreciated.

[2021-09-28 11:27] EntrepreneurAJ1 commented on #2336
+1 for wanting this feature

[2021-09-28 12:55] sojan-official commented on #3097
This vulnerability affects only JRuby users. So we could ignore the warning and see if any changes happen on azure-storage-ruby upstream.

[2021-09-28 13:55] #3040 closed

[2021-09-28 15:23] #2609 closed

[2021-09-28 17:55] sojan-official commented on #3081
@SanjuSudheerM  please go ahead

[2021-09-28 17:56] sojan-official commented on #3083
duplicate #2275

[2021-09-28 17:56] #3083 closed

[2021-09-28 18:13] srameshr commented on #2441
@pranavrajs @SanjuSudheerM  Will this be available in the next weeks release?

[2021-09-28 18:17] srameshr commented on #2096
@sojan-official Along with messages and stories could you also support comments as well? Each comment can be a new conversation under Chatwoot.

[2021-09-28 18:30] #1924 closed

[2021-09-28 18:32] srameshr commented on #3052
@pranavrajs Just following up on this. Any plans to change the flow?

[2021-09-28 21:03] iammattmartin commented on #2096
I asked this question about FB page comments but was told there was no plan. Would be nice to be a full 360 cover for the supported channels.

[2021-09-29 06:31] #2917 closed

[2021-09-29 07:26] #2109 closed

[2021-09-29 07:26] #2961 closed

[2021-09-29 07:30] #2928 closed

[2021-09-29 10:05] muhsin-k opened #3104 "bug: Remove temporary message if message is failed to send"
**Steps to reproduce**
- Go to a conversation
- Upload `SVG` file via drag and drop
- Click on the send button
- Temporary message "Uploading attachment" still showing even though the upload fails

https://user-images.githubusercontent.com/12408980/135248085-a70c1d2f-0cf4-4264-8562-3e937f2cd39b.mov

[2021-09-29 10:25] muhsin-k opened #3105 "enhancement: Open web widget when click on any un-read message"
The widget shows unread messages if the user misses any reply from the agent. Currently, the message is not clickable.

https://user-images.githubusercontent.com/12408980/135250797-f24dff34-97ee-4677-8e18-6351951854b2.mov

**Steps**
- Add an `on-click` event to  the unread message card
- On clicking the unread message card, open the widget

[2021-09-29 12:59] #3034 closed

[2021-09-29 13:14] muhsin-k opened #3107 "feature: Ability to remove user profile picture"
## Backend

- API to delete contact conferring to the following standards
[code]

## Frontend
- User should be able to see the delete option in the profile section

<img width="688" alt="Screenshot 2021-09-29 at 4 24 42 PM" src="https://user-images.githubusercontent.com/12408980/135255360-16da8d03-103b-47d8-ad5f-5b1fda2e0ef9.png">

- Clicking on the "Delete Avatar" button should delete the avatar.

[2021-09-29 14:03] #2985 closed

[2021-09-29 14:23] hanthor opened #3109 ""Show all" option in the status drop-down for the conversation list"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. I'm always frustrated when I can't see all the conversations in any single view I have to go between resolved snoozed and open and closed to get a good overview of conversations that have come in recently

**Describe the solution you'd like**
A clear and concise description of

[2021-09-29 16:39] pranavrajs commented on #3109
@hanthor Isn't this completed by https://github.com/chatwoot/chatwoot/pull/3102? We added an "All" filter in the status filter. Please feel to re-open the issue if it doesn't solve the issue.

[2021-09-29 16:39] #3109 closed

[2021-09-29 17:05] SanjuSudheerM commented on #3081
PR has given #3110

[2021-09-29 18:57] sojan-official opened #3111 "bug: Emoji rendering broken in specific systems"
this was only happened in chrome , but not in mozilla browser

![Capture](https://user-images.githubusercontent.com/73185/135331405-2acb1b89-06b4-480c-93b6-4bdb1956839f.jpg)

Note: Debug whether any other windows users are facing issues with compatibility for Unicode characters

[2021-09-30 02:58] aw-0 opened #3113 "Old Campaigns Disappeared"
**Describe the bug**

Campaigns that my team created prior to the new Campaigns tab (where you would create campaigns via the Inbox) do not appear in the new Campaigns tab and are unable to be edited in the UI. This is due to a 500 server error when trying to render the old campaigns.

**To Reproduce**

Steps to reproduce the behavior:
1. Create campaigns on a version of Chatwoot prior to 1.19.0
2

[2021-09-30 05:20] alfredfrancis opened #3114 "Wrong timestamp is displayed with the messages"
Hello, I understand that the timezone of the user will be used. But in my case, it's picking up some other timezone.

First, when the agent enters a message, it shows the local timezone. but immediately changes to a different timezone

my server timezone and the local timezone is set to Asia/Dubai.

A clear and concise description of what the bug is.

**Expected behaviour**

The local timezone of

[2021-09-30 05:24] pranavrajs commented on #3113
@aw-0 Can you please try upgrading to v1.20.0 and see if the error is still there? https://www.chatwoot.com/blog/v1-20-0/

[2021-09-30 05:28] pranavrajs commented on #3114
@alfredfrancis

1. Can you please share what is the version you are using?
2. Can you please share the message object as well. You can login to the rails console and execute the following commands

[code]

Please share the values of all attributes in the message object.

[2021-09-30 05:55] alfredcogniwide commented on #3114
1. I'm using latest version 1.20.0

2.
[code]

[2021-09-30 07:47] pranavrajs commented on #1218
Closed via #3084

[2021-09-30 07:47] #1218 closed

[2021-09-30 07:48] pranavrajs commented on #1217
Closed via #3084

[2021-09-30 07:48] #1217 closed

[2021-09-30 07:48] pranavrajs commented on #2780
Closed via #3084

[2021-09-30 07:48] #2780 closed

[2021-09-30 08:21] crazybiceps219 commented on #1372
Hi I'm facing a similar issue. I'm using s3. When users upload an image this error is reported in sentry.
Sentry issue link:
https://sentry.io/share/issue/f5bfb3bf297c4853a2dfa77c05b54507/

[2021-09-30 09:35] iamsivin opened #3118 "bug: emoji input header section gets broken"
**Describe the bug**

The emoji input header section gets broken.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to safari browser
2. Click on the emoji button

**screen recording**

https://user-images.githubusercontent.com/64252451/135426915-6e6a15b2-9685-4985-96fc-171e1a1b67d2.mov

**Desktop**
 - Mac OS
 - Safari
 - Version 15.0

[2021-09-30 10:04] srameshr opened #3120 "Add readonly attribute to woot input"
**Is your enhancement request related to a problem? Please describe.**
Add readonly attribute to woot input

**Describe the solution you'd like**
https://github.com/chatwoot/chatwoot/pull/3119

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-09-30 11:12] murtaza-bagwala commented on #2829
@pranavrajs just a question here, I can see the api which marks conversation as resolved but, do we store anything like `resolved_by` somewhere, which helps us identify who has resolved the conversation.

[2021-09-30 11:19] sojan-official commented on #3068
Feel free to reopen if the issue still persists

[2021-09-30 11:19] #3068 closed

[2021-09-30 11:41] B3EF opened #3122 "Reported 2 new security issues at huntr"
https://huntr.dev/bounties/ab189b9b-3de3-4739-82bf-d1cd156ebf32/
https://huntr.dev/bounties/61992885-e26c-4fde-b53e-cdbbd260ec67/

[2021-09-30 12:41] aw-0 commented on #3113
Thanks for the speedy response! We've already been running v1.20.0 for a while and the bug is still prevalent there.

[2021-09-30 13:43] vishnu-narayanan commented on #1596
@LucasMilhomem I just tried using `minio` as the active storage backend and it seems to be working.

Could you please try and let us know if you are still facing issues ?

## Steps I followed

1. Spin up a new machine and install docker, docker-compose.
2. Run `minio` as a standalone container.

[code]
3. Then I logged into the `minio` console(`http://<your-instance-ip>:9001`) and created bucket `

[2021-09-30 14:33] GKG4 commented on #3082
@sojan-official Is there any chance that you will be fixing this issue?
Because this is the only thing stopping me from using ChatWoot at the moment

I have few suggestions and if you are willing to discuss a bit, I am more than happy to contribute Open Source Windows version for Chatwoot, and probably Mac Version too.

[2021-09-30 14:57] murtaza-bagwala commented on #1925
@pranavrajs shall I pick this up?

[2021-09-30 15:02] pranavrajs commented on #1925
@murtaza-bagwala Sure. Please let me know if you need anything else from me.

[2021-09-30 15:06] murtaza-bagwala commented on #1925
@pranavrajs just to confirm currently super_admin can remove the users from the account right?
and we are just removing the association as of now?

[2021-09-30 15:07] pranavrajs commented on #1925
Yes, if there is only one account associated with that user, we can remove them from the DB.

[2021-09-30 16:37] #3120 closed

[2021-09-30 19:20] murtaza-bagwala commented on #1925
ok, thanks can you assign this ticket to me

[2021-09-30 19:26] sojan-official commented on #3082
@GKG4 Yes, We will be prioritizing it for our next week's issue intake.

We are always open to feedback. Please feel free to initiate a GitHub discussion/issue anytime for anything :)
We are also available on discord: https://discord.gg/cJXdrwS

[2021-09-30 19:38] sojan-official commented on #1596
closing this since the docs have been updated. We will reopen if required in the future.

[2021-09-30 19:38] #1596 closed

[2021-09-30 20:15] #3037 closed

[2021-09-30 20:31] brundles commented on #2970
Can I help in any way @iamsivin ? :)

[2021-10-01 06:54] MaximeKoitsalu commented on #3089
Hey Muhsin, this projects look really cool. I'd love to try and implement vuejs cropper in your application.

[2021-10-01 09:05] WevrLabs opened #3124 "feat: Support One off campaigns on Telegram"
One off campaigns are already enabled for SMS channels. It would be also great if it was enable for Telegram channels as well.

[2021-10-01 09:15] sojan-official commented on #3089
@MaximeKoitsalu  Feel free to give it a go. Lets us know if you need any help.

[2021-10-01 13:04] wweverma1 commented on #3107
@muhsin-k Can I start working on this feature?

[2021-10-01 14:34] sojan-official commented on #3107
@wweverma1  Please go ahead

[2021-10-01 16:26] wweverma1 commented on #3107
@sojan-official I'm having problems in setting up the project on my machine.
Can you help me with it?

[2021-10-01 18:59] sojan-official commented on #3107
@wweverma1  Sure could you provide information on the issues you are facing?

[2021-10-02 13:02] SanjuSudheerM commented on #3105
@muhsin-k Can I work on this?

[2021-10-02 15:44] srameshr opened #3126 "CHATWOOT_INBOX_TOKEN in global_config instead of ENV"
**Describe the bug**

Can I know why is CHATWOOT_INBOX_TOKEN a part of global_config instead of ENV? If its a part of ENV it would make more sense because the CHATWOOT_INBOX_TOKEN can be dynamically configured for different instances that has been deployed on different environments without having to manually change it each time.

**To Reproduce**

N/A

**Expected behavior**
N/A

**Screenshots**

N

[2021-10-02 18:02] AthiraKadampatta commented on #3086
Hello @muhsin-k
I would like to work on this, may I?

[2021-10-02 19:58] rishabhjha708 commented on #3107
hi @sojan-official can i take this up ?

[2021-10-03 02:45] seagalputra commented on #3088
Hi @muhsin-k, can I work on this issue? I would like to implement the online/offline status using [Online/Offline events](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/Online_and_offline_events) in Navigator API and it supposed to be enough to check whether user is online or not.

[2021-10-03 03:11] santhosh-chinnasamy commented on #3107
@rishabhjha708 yes it requires both backend and frontend changes.

[2021-10-03 03:19] santhosh-chinnasamy commented on #1589
@sojan-official I would like to work on this feature.

[2021-10-03 03:32] muhsin-k commented on #1589
@santhosh-chinnasamy Sure. Please feel free to go ahead.

[2021-10-03 08:12] thundersparkf commented on #737
Hey! Can I try to take this up?

[2021-10-03 09:09] srameshr opened #3129 "Provide wildcard URL's for campaigns"
**Is your feature request related to a problem? Please describe.**
The URL for campaigns that trigger a popup when a user is on a particular page requires the use of absolute URLs. But, most real-world use cases consist of very dynamic URLs for the same page.

For an example of Chatwoot, the account ID for each user gives a different URL for the same page:
[code]

**Describe the solution you'd lik

[2021-10-03 12:22] Vikash-P opened #3130 "Report download option for CSAT"
Hey Hi team,
I have been using this from last couple of months. The product is Awesome. However, Adding download option for downloading CSAT will work like ice on cake.

[2021-10-03 12:23] Vikash-P opened #3131 "Clone DB Access"
Hey Hi Team,
I think we should allow clone DB access for users . Wherein they can integrate it with their accounts and then can work seamlessly

[2021-10-03 12:43] NitinNR opened #3132 "profile image not updating"
using self hosted version.

is there any need to configure the env variables ?

[2021-10-03 16:57] pranavrajs commented on #3126
@srameshr CHATWOOT_INBOX_TOKEN is used to display the chatwoot widget inside Chatwoot. It doesn't make sense to move it to the environment variables.

I'm not sure what this means. Can you please provide more context?

Closing this as it doesn't seem to be something that is improving a workflow.

[2021-10-03 16:57] #3126 closed

[2021-10-03 16:58] pranavrajs commented on #3132
@NitinNR Please provide more context and follow the issue template. Please add logs from your instance, screenshots/screenshots without which debugging is not possible.

[2021-10-03 16:59] pranavrajs commented on #3131
@Vikash-P Please follow the issue template, and add more context. I don't understand what this issue is about. Which DB access are you taking about?

[2021-10-03 17:00] pranavrajs commented on #3130
This sounds like a good idea.

[2021-10-03 17:01] pranavrajs commented on #3122
Closing this here as we would be responding to the security issue in Huntr only.

[2021-10-03 17:01] #3122 closed

[2021-10-03 17:02] Vikash-P commented on #3131
Hi Pranava,

Thanks for your email. I would like to inform you that how can we do
analysis on reports of chatwoot. Do we have any postgres tables from where
we can directly connect/query and get our task done

On Sun, 3 Oct 2021 at 10:30 PM, Pranav Raj S ***@***.***>
wrote:

[2021-10-03 17:05] pranavrajs commented on #3113
@aw-0 This should be closed by https://github.com/chatwoot/chatwoot/pull/3123

[2021-10-03 17:05] #3113 closed

[2021-10-03 17:08] pranavrajs commented on #3096
@srameshr Closing this here as this issue is an idea and does not have clear directions on what can be done. Keeping it open doesn't make sense as it does not have any context for someone to pick it up. We can re-evaluate the onboarding flow, and can create a alternate flow with design and product spec.

[2021-10-03 17:10] pranavrajs commented on #737
@thundersparkf Sure! Do you have enough information on the ticket to start working on this?

[2021-10-04 04:39] AminulBD opened #3133 "Facebook continuously get disconnected"
We have deployed a server, the Facebook application is fully approved and everything is operational. But the issue I'm facing is with Facebook inbox which gets automatically disconnected for no reason.

I didn't change any password for my Facebook account or didn't touch anything after the Facebook connection. But it disconnected within a few hours or daily 3-4 times. I've to reconnect every time.

[2021-10-04 04:40] pranavrajs commented on #3133
@AminulBD Would you be able to share any logs which can be helpful here?

[2021-10-04 04:43] AminulBD commented on #3133
@pranavrajs  Which logs do you want?

[2021-10-04 04:49] pranavrajs commented on #3133
@AminulBD Please search for Facebook in Sidekiq worker logs. This seems like you might have missed setting some of the permissions in the Facebook developer app. It would be helpful if you can share something that can be used for debugging.

@sojan-official / @tejaswinichile I noticed that we are marking for reauthorization on every Facebook error. I think we should limit this to authentication er

[2021-10-04 04:49] #3045 closed

[2021-10-04 04:50] #3118 closed

[2021-10-04 05:03] AminulBD commented on #3133
@pranavrajs if you don't mind can you please tell me where the Sidekiq worker logs are stored? I'm just a noob for ruby things.

[2021-10-04 06:24] srameshr commented on #3096
@pranavrajs Im working on few designs and seeing how freshdesk and zendesk do it. Il share my updates here so you can evaluate if it makes sense to integrate that.

[2021-10-04 06:28] srameshr commented on #3126
@pranavrajs INBOX_TOKEN is currently set in a YAML config file. It's not dynamic or on-demand like loading it from ENV file. What I am asking for is to change
[code]

to

[code]

in vueapp.html.erb

[2021-10-04 06:31] srameshr commented on #3131
@Vikash-P CHeckout the API. You can query the API to to build any BI tools on top. If the API is not enough, you can query the PG DB directly

[2021-10-04 08:18] srameshr commented on #3096
@pranavrajs
How about a model like this (styled better in), that walks through all the modules and asks the user to take an action or skip that action. The current wall of text is kinda overwhelming and nobody reads through all of it and as soon as you setup one channel the rest of the information goes away.

![Screenshot 2021-10-04 at 1 43 47 PM](https://user-images.githubusercontent.com/8149408/

[2021-10-04 09:40] GrygorievEvgeniy commented on #2445
+1

[2021-10-04 09:48] Vikash-P commented on #3131
Hi @srameshr ,
Can you please help me with API

[2021-10-04 09:48] Vikash-P commented on #3130
Thanks @pranavrajs :)

[2021-10-04 09:48] #3130 closed

[2021-10-04 10:19] srameshr commented on #3131
@Vikash-P
API:  https://www.chatwoot.com/developers/api
DB: Use any standard PGSQL connector and ORM for your platform

[2021-10-04 10:29] wweverma1 commented on #3107
@sojan-official I am currently learning ruby so I thought I'll try to solve this issue, but I'm unable to solve it.
So can you please assign it to someone else.

[2021-10-04 10:58] Vikash-P commented on #3131
Thanks, I'll check it out.

On Mon, 4 Oct 2021 at 3:49 PM, Siddharth Ramesh ***@***.***>
wrote:

[2021-10-04 11:28] Vikash-P opened #3134 "Whats app integration via gupshup"
Hey hi,

Can we please support whats app integration via gupshup account too. Currently it is for Twillo

[2021-10-04 11:30] iammattmartin commented on #3134
Please search...

https://github.com/chatwoot/chatwoot/issues/1119

[2021-10-04 11:41] tejaswinichile commented on #3133
@pranavrajs We would take this into consideration.
1. Instead of Rails.logger log into Sentry.
2. rescue authorization errors separately and raise reauthorization from chatwoot app.
3. Check more exceptions to rescue from facebook and add rescue classes accordingly.

cc @sojan-official

[2021-10-04 12:08] tejaswinichile commented on #3114
@alfredcogniwide
`created_at: Thu, 30 Sep 2021 09:14:26.494438000 UTC +00:00,`
According to this, it's showing timing converted from UTC to IST which is correct. But it should have stored the DateTime according to your time zone.

Can you perform the following steps and provide us the output?

1. Send one Message from the chatwoot app like above (something unique would help).
2. Go to your server

[2021-10-04 12:38] tejaswinichile opened #3136 "Move Away from facebook_messenger"
Currently, facebook_messenger handles the Facebook message subscription.
We are the gem is stuck with graph API 3.2 which is the old version and we don't need extra features provided by the gem.

Build Facebook::Messenger Channel service inside chatwoot

Please follow the Messenger service guidelines while doing the same.

Refer #2955

[2021-10-04 13:00] tejaswinichile commented on #3082
@GKG4 We don't restrict the number of Facebook pages in chatwoot. It's not related to the pagination or limit.

fb_object.get_connections('me', 'accounts') = returns all the pages connected your account, this is the command that we run and send it to facebook to get the connected pages.

The issue might be with the access permission that your account has to the other pages. https://developers.face

[2021-10-04 13:04] GKG4 commented on #3082
@sojan-official Its not you who is putting the restrictions.
Its that if you do not set fetch limit, default number of pages FB send is 25. You need to provide either pagination or option to call more than 25 pages by adding limit variable into the queries.

I already have a custom app built in .net fetching all 40+ pages, therefore, I know that I have access to those pages.

[2021-10-04 13:49] muhsin-k commented on #3088
@seagalputra Please feel free to go ahead

[2021-10-04 14:12] santhosh-chinnasamy commented on #1589
@sojan-official / @muhsin-k can you review the pull request ?

[2021-10-04 14:26] thundersparkf commented on #737
Yes, first another method(users/show) has to be added to the Twitty repo of chatwoot and then the response of that endpoint has user's "profile_image_url_https" which will be used as an avatar. Right?

[2021-10-04 17:41] santhosh-chinnasamy commented on #3107
I am interested in taking this feature, assign it to me.

[2021-10-05 05:44] sojan-official commented on #737
@thundersparkf  I have assigned the issue.  let us know if you need any help while working on this.

[2021-10-05 09:05] #2850 closed

[2021-10-05 09:16] srameshr commented on #3096
@pranavrajs @sojan-official

Let me know if an onboarding like this makes sense for the main repo.

![Screenshot 2021-10-05 at 2 45 14 PM](https://user-images.githubusercontent.com/8149408/135995642-ce426108-ad44-49c6-8fb7-bcceed928a75.png)

[2021-10-05 09:51] tejaswinichile opened #3138 "Accept emoticons from instagram channels"
**Describe the bug**

When we send emoji from Instagram DM it raises an issue.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Instagram account
2. send message from insatgram to chatwoot.staging
3. send emojis from insatgram to chatwoot.staging
4. See error

**Expected behavior**

Accept and display emojis in chatwoot inbox

[2021-10-05 09:53] tejaswinichile commented on #3138
Handle #3133

[2021-10-05 10:28] sojan-official commented on #3133
@tejaswinichile the plan sounds good to me.

[2021-10-05 10:28] sojan-official commented on #3134
duplicate https://github.com/chatwoot/chatwoot/issues/1119

[2021-10-05 10:28] #3134 closed

[2021-10-05 13:00] sojan-official commented on #3129
duplicate: https://github.com/chatwoot/chatwoot/issues/2739

[2021-10-05 13:00] #3129 closed

[2021-10-05 13:35] sojan-official opened #3140 "epic: Chatwoot Webhooks APIs"
The chatwoot webhooks API has been left out of some of the recent improvements and could do with refactoring. This epic covers the changes required.

- [ ] feat: Support the full set of events: At the moment the webhooks only support a limited set of events like `conversation_status_changed` , `message_created` etc . ref: https://github.com/chatwoot/chatwoot/blob/develop/app/listeners/webhook_list

[2021-10-05 15:23] sojan-official commented on #3086
@muhsin-k  Could you provide a mock-up to @AthiraKadampatta

[2021-10-05 17:47] ilyakonovalenko commented on #1137
@pranavrajs Is it still under discussion? The feature looks like a must. Really helpful.

[2021-10-05 17:52] ilyakonovalenko opened #3141 "More widget settings via chatwootSettings"
**Is your enhancement request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Currently, chatwootSettings JS setting allows to set locale, button type. I would like to have an ability to pre-configure:
- widget title (which is inbox name now)
- widget color
- some texts which will override i18n values
- ability to hide agents avatars list

**Describe alternatives

[2021-10-05 18:21] sojan-official commented on #3096
@nithindavid  Could you take a look at this?

[2021-10-05 18:33] sojan-official commented on #3105
@SanjuSudheerM  please go ahead

[2021-10-05 18:40] #2974 closed

[2021-10-05 19:14] sojan-official commented on #3133
@tejaswinichile let's temporarily disable the reauthorization.
https://github.com/chatwoot/chatwoot/pull/3142/files

[2021-10-05 20:34] ilyakonovalenko opened #3143 "Gemfile lacks some gems"
**Describe the bug**
`bin/rails action_mailbox:ingress:postfix` command requires flay and rspec gems, however, both are not present in Gemfile

**To Reproduce**

Steps to reproduce the behavior:
1. Run `cd /home/chatwoot/chatwoot && bin/rails action_mailbox:ingress:postfix`
2. See error

**Environment**

Chatwoot was installed with Ubuntu official script.

**Additional context**

Adding those gems

[2021-10-06 07:24] ilyakonovalenko opened #3147 "Team names and labels should not be lowercased"
**Describe the solution you'd like**
Currently, team names and labels are getting lowercased on the dashboard and in the conversation settings. I believe it should be displayed in the same way the names are typed.

**Describe alternatives you've considered**
Alternatively, the names can be displayed based on some setting value.

[2021-10-06 07:26] ilyakonovalenko opened #3148 "Viber inbox"
**Describe the solution you'd like**
It would be nice to have an ability to add Viber accounts into inboxes. Viber supports free bot API which can be easily used to integrate.

**Additional context**
Viber API: https://developers.viber.com/docs/api/rest-bot-api/

[2021-10-06 07:29] ilyakonovalenko opened #3149 "VK.com inboxes"
**Describe the solution you'd like**
It would be nice to have a native VK.com inboxes. VK.com is a social network, it has webhooks and API to handle everything which happens in the communities: messages, wall messages, mentions, etc.

**Additional context**
Callback API is here: https://vk.com/dev/callback_api

[2021-10-06 09:01] iammattmartin commented on #3147
I'd like to see this too.

[2021-10-06 10:12] vishnu-narayanan commented on #2575
Dockerhub does not natively suport building `arm` based images using automated builds.

[2021-10-06 12:37] murtaza-bagwala commented on #1588
@pranavrajs shall I pick the last 2 tasks which are related to creating the APIs ?

[2021-10-06 14:15] srameshr opened #3157 "Send confirmation email when trying to log in if the account it not confirmed"
**Describe the bug**

If I forget to confirm my account after signing up and later try to log in again I am asked to confirm my account before logging in but the confirmation email which was sent to my email inbox a while ago is lost or buried somewhere in my inbox.

**To Reproduce**

Steps to reproduce the behavior:
1. Sign up
2. Logout
3. Try to sign in
4. You get the confirmation error.

**Expe

[2021-10-06 14:28] srameshr opened #3158 "Agents have no way of setting password after accepting the email invite"
**Describe the bug**

After accepting a staff invite, I get an SSO account confirmation link in the email that redirects me to the app page. But, before or after that step the app does not ask me to set a password for my agent account, and the next time I try to log in, it asks me for a password and since I have never done that, I have to click on reset password and log in. It feels like an extrem

[2021-10-06 14:29] sojan-official commented on #3082
@GKG4 Thanks for posting back. Nice Hack.
We will prioritize a proper fix :)

[2021-10-06 14:47] #3158 closed

[2021-10-06 15:07] tejaswinichile commented on #3138
Possible issue https://sentry.io/share/issue/0d5966d802874ba1a7ffcf4c1e9c7698/

Emoticons are visible till we don't send any image and get an empty `response.body` where it raises an exception.

[2021-10-06 18:23] #3058 closed

[2021-10-06 19:14] sunnyjey opened #3159 "Searching Phone number"
**Describe the bug**

The contact number is searchable only **without** Country code prefix. The search fails with country code suffix.

Suppose +910000000000 is added to the contact. If you search +910000000000 or 910000000000, it fails. But, searching with 0000000000 or 0000000 or any digits except country code works. This is causing a big problem, specially for API calls.

**To Reproduce**

Ste

[2021-10-07 05:29] GKG4 commented on #3082
@sojan-official
As of now, we have 24 hours window to reply, after that we cant reply to FB Messages
However, Facebook to give option for 7 days window, if we use `HUMAN_AGENT` tag

Is it possible, if you guide me, where I can add all these, I am willing to contribute?
Also, I am willing to add different message templates as per Facebook API

[2021-10-07 09:06] #3138 closed

[2021-10-07 09:10] tejaswinichile opened #3161 "Facebook rescue authorization errors"
Refer: https://github.com/chatwoot/chatwoot/issues/3133

We would take this into consideration.

- Instead of Rails.logger log into Sentry.
- rescue authorization errors separately and raise reauthorization from chatwoot app.
- Check more exceptions to rescue from facebook and add rescue classes accordingly.

[2021-10-07 09:11] tejaswinichile commented on #3133
This has been handled here for now https://github.com/chatwoot/chatwoot/pull/3142/files
Closing this ticket.

[2021-10-07 10:12] PyB1l opened #3163 "Agent profile cannot remove avatar image"
In our custom installation we setup an ibox with a few agents and we noticed that agent can set his avatar but ther is no way to remove it.

[2021-10-07 11:02] NitinNR opened #3164 "not updating to new version"
like i did all to update the older version to new version from doc but still not working like there is feature in new one called contact import but i'm not able to do so in my self hosted one

if I go for update the older it says already up to date

[2021-10-08 03:46] GKG4 commented on #3082
@sojan-official Since HUMAN_AGENT do not require any additional permission, and since Chatwoot is usually human operated only, we can make it defafult as well.

[2021-10-08 08:39] PyB1l opened #3170 "All urls redirect to /app/login"
**Describe the bug**
After updating to v1.20 in custom installation after succesfull login I am always redirected to login again, although I have all my cookies set up.

**To Reproduce**

**Expected behavior**

**Screenshots**

**Browser logs**

**Server logs**

**Environment**
We have a docker installation

**Desktop (please complete the following information):**
 - OS: Linux
 - Browser all
 - Ve

[2021-10-08 08:41] sojan-official commented on #3163
@PyB1l We are tracking this for upcoming releases.
https://github.com/chatwoot/chatwoot/issues/3107

[2021-10-08 08:41] #3163 closed

[2021-10-08 08:44] pranavrajs commented on #3157
Try resetting the password, it would auto-confirm the account. Wouldn't that work?

[2021-10-08 08:52] srameshr commented on #3157
It's not intuitive when the alert message says you need to confirm the
account but there is no way to resend the confirmation email.  Atleast
could you expose that API?

On Fri, Oct 8, 2021, 2:14 PM Pranav Raj S ***@***.***> wrote:

[2021-10-08 12:12] vishnu-narayanan opened #3172 "Update chatwoot default version in caprover"
- update chatwoot default version to `v1.20.0`
- add `INSTALLATION_ENV` variable

[2021-10-08 12:19] helpobras commented on #3140
Sorry for the muted video. I do not speak English.
what happens is that when doing the manual assignment the action is not being sent to the webhook. when the conversation ends, the two actions are sent as shown in the video.
https://youtu.be/mI4UeNXzu0k

[2021-10-08 13:15] tejaswinichile opened #3173 "chore: set instagram callback URL to webhook/instagram"
please refer https://github.com/chatwoot/docs/issues/113

- [ ] Update callback URL in facebook webhooks

[2021-10-08 14:04] vishnu-narayanan opened #3174 "bug: Chatwoot digitalocean 1-click app install fails randomly"
**Describe the bug**

Chatwoot 1-click k8s app in digital ocean marketplace fails to install randomly without any log.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Digitalocean marketplace.
2. Search for chatwoot.
3. Proceed to 1-click install.
4. See error.

**Expected behavior**

Chatwoot 1-click install should work smoothly.

**Screenshots**

n/a

**Browser logs**
n/a

**Server

[2021-10-09 13:30] amitchavan90 opened #3176 "AgentBot integration not working [Rasa]"
**Describe the bug**
Performed all the steps to add integration as mentioned in this documentation for Rasa Bot.
[https://github.com/chatwoot/rasa-agent-bot-demo/blob/master/readme.md](https://github.com/chatwoot/rasa-agent-bot-demo/blob/master/readme.md)
Somehow Messages from Chatwoot are not getting pass to Rasa. Chatwoot call `localhost:8000` to send messages to Rasa. After looking at logs foun

[2021-10-09 14:17] amitchavan90 commented on #3176
This issue is resolved. and problem is not in Chatwoot but calling localhost:8000 from chatwoot. I deployed the same script to another instance & served over apache on port 80. My same configuration worked for it. Chatwoot push all messages to it & rasa also receives those.
👍🏼

[2021-10-09 14:17] #3176 closed

[2021-10-10 15:29] ash-auctionvilla opened #3180 "Error 502 Bad gateway"
I am continuously getting Error 502 Bad gateway. The setup is behind a nginx reverse proxy. Sometimes its happening for the entire setup, sometimes a couple of requests.

The log says -

`chatwoot-rails_1  | I, [2021-10-10T15:22:20.759484 #1]  INFO -- : RoomChannel stopped streaming from MwHHsNPCRetVuWPj8XGCNsxs
`

**Screenshots**

![Screenshot_3](https://user-images.githubusercontent.com/3895369/

[2021-10-11 05:22] SanjuSudheerM commented on #3041
@sojan-official Can I work on this?

[2021-10-11 06:23] nithindavid opened #3182 "chore: [Widget multiple] Use old API for contact creation and fetching data"
**Estimation** - 1

**Context**
This is a follow up for making widget multiple conversation POC ready for production.
The  POC can be seen at https://github.com/chatwoot/chatwoot/compare/develop...widget-multi-poc

The current contact creation flow is described here - https://github.com/chatwoot/product/issues/251

- On the poc it uses `inbox_identifier` and `contact_identifier` for the API auth w

[2021-10-11 06:29] pranavrajs opened #3183 "Custom Filters: Allow complex filters on Conversations and contacts."
### Problem Statement

Even though Chatwoot supports individual filters, it does not support complex filters at the moment.
For eg: If a user wants to see the conversations that are created in a website channel that are tagged as #support-query and are assigned to a specific person in the team, it is not possible to achieve that at the moment.

### Solution

Develop a query structure to build a co

[2021-10-11 06:32] pranavrajs opened #3184 "Custom Views"
@pranavrajs commented on [Tue Oct 05 2021](https://github.com/chatwoot/product/issues/257)

Allow users to sort and filter conversations/contacts based on the attributes. Save the filter as a view and display it in the sidebar

### Conversation

- [x] #3663
- [x] #3664
- [x] #3743
- [x] #3744

### Contact

- [x] #3790
- [x] #3804
- [x] #3805
- [x] #3824

[2021-10-11 06:32] pranavrajs opened #3185 "Chatbots: Integration with CSML.dev"
#### Problem Statement:

Chatwoot should natively support chatbots so that people who are self-hosting the solution don't need to rely on third-party services like Dialogflow.

#### Build a Prototype:

Integrate with CSML.dev (https://github.com/CSML-by-Clevy/csml-engine), the open-source programming language to build bots. Their latest release v1.7.0 has a Postgres connector which makes it easier

[2021-10-11 06:41] pranavrajs opened #3186 "Create an endpoint for filter and create attribute key-value structure."

[2021-10-11 06:42] pranavrajs opened #3187 "Filter according to the received payload (consider an optimized query)"
1. Receive query params in the below structure
2.
[code]

2. On the basis of an endpoint build the query in the respective services.
3. The query will be connected with the query operator to the next filter.
For eg. for above the query would look like

[code]

Dynamic query building should check the optimized query.

***NOTE*** The ticket considers the conversation filter and contact filters.

[2021-10-11 06:42] pranavrajs opened #3188 "Create Modal Component, payload query builder, with validations."
To create a query as per #3186, we need to create a component in the frontend.

<img width="737" alt="design-2(3)" src="https://user-images.githubusercontent.com/2246121/136745108-dccdcc42-2558-40b6-b72d-ac9dc5bc8015.png">

**Figma Link:**
https://www.figma.com/file/aZJsiXHfKfJYeFHkS2ph14/Product-Design-Specs?node-id=0%3A1

[2021-10-11 06:42] pranavrajs opened #3189 "API integration for complex filters"
We would create the component to build the payload in #3188. Use the query generated to send it to the APIs for getting conversations or contacts as the result.

[2021-10-11 06:42] pranavrajs opened #3190 "Contacts view Filter."
Use the component in #3188 to generate the filter payload for contacts and send it in the contacts API to return custom segments of contacts.

[2021-10-11 07:18] nithindavid opened #3191 "chore: [Widget multiple POC] Revert API auth to use `cw_conversation`"
**Estimation** - 2

**Context**
This is a follow up for making widget multiple conversation POC ready for production.
The  POC can be seen at https://github.com/chatwoot/chatwoot/compare/develop...widget-multi-poc

The current contact creation flow is described here - https://github.com/chatwoot/product/issues/251

The POC uses `contact_identifier` and `inbox_identifier` to authenticate the endpoi

[2021-10-11 07:29] muhsin-k opened #3192 "feat: Ongoing campaign complex rules"
@muhsin-k commented on [Sat Aug 14 2021](https://github.com/chatwoot/product/issues/158)

## **What is an ongoing campaign ?**

The ability for customer send outbound messages to their contacts which would trigger more conversations.

It is essentially a welcome message configured to pop up based on various conditions. Now are primarily focusing on triggering messages on simple page rules ( visito

[2021-10-11 07:29] muhsin-k opened #3193 "feat: Ongoing campaign complex rules"
@muhsin-k commented on [Sat Aug 14 2021](https://github.com/chatwoot/product/issues/158)

## **What is an ongoing campaign ?**

The ability for customer send outbound messages to their contacts which would trigger more conversations.

It is essentially a welcome message configured to pop up based on various conditions. Now are primarily focusing on triggering messages on simple page rules ( visito

[2021-10-11 07:31] muhsin-k opened #3194 "feat: Show Pre-chat form before contact can reply to campaign messages"
## Problem

When a campaign message is sent, a new conversation is started but then does not capture the name/email. The problem here is conversations started with no contact details

A related issue we are going to solve,

[Capture Name/Email on Campaign message · Issue #2287 · chatwoot/chatwoot](https://github.com/chatwoot/chatwoot/issues/2287)

## Solution

Add the option to user show pre-chat

[2021-10-11 07:32] #3193 closed, assigned to nobody

[2021-10-11 07:39] muhsin-k opened #3195 "feat: Automation rules"
### Problem

There will be tons of repeatable tasks for any team that can be automated — like assigning a specific type of conversation to the right team or adding correct labels.

Ex: Suppose an agent receives a message from a premium customer in their chatwoot dashboard. Then, an agent can add the label "priority conversation" based on their plan and prioritize them. Now this flow is carried out

[2021-10-11 08:49] pranavrajs opened #3196 "Instagram account conversation triggers welcome message twice"
If a new conversation is created in Instagram account inboxes, then the welcome message is triggered twice. However, it is sent only once to the sender.

| Dashboard view | Instagram sender view |
| -- | -- |
| <img width="851" alt="Screenshot 2021-10-11 at 1 51 33 PM" src="https://user-images.githubusercontent.com/2246121/136760236-f84593cd-881b-4781-8c47-9b80b181bd85.png"> |  ![translate](https:

[2021-10-11 12:12] sojan-official commented on #3041
@SanjuSudheerM  sure :)

[2021-10-11 12:48] #2279 closed

[2021-10-11 13:36] #3039 closed

[2021-10-11 13:50] sojan-official opened #3199 "chore: Use connection pooling for Redis"
ref: https://github.com/mperham/connection_pool#migrating-to-a-connection-pool

- [x] ConnectionPool::Wrapper to wrap a single global connection, making it easier to migrate existing connection code over time.  ref: https://github.com/chatwoot/chatwoot/pull/2986
- [x] port to use `with`
- [x] remove Wrapper and use the simpler and faster ConnectionPool.

[2021-10-11 21:44] japps20 commented on #1074
@sony-mathew Another option is to use the format.

attachment - "Filename.pdf" [Click here to view]
attachment - "Another Filename.png" [Click here to view]
attachment - "A third Filename.pdf" [Click here to view]

Or

attachment -
"[Filename.pdf](Filename.pdf)"
"[Another Filename.png](Another_Filename.png)"
"[A third Filename.pdf](A_third_Filename.pdf)"

Including the list and name of the attachm

[2021-10-12 02:20] ash-auctionvilla commented on #3180
Sure, nginx log -
`2021/10/12 02:13:52 [error] 785#785: *10094 chatwoot-rails could not be resolved (3: Host not found), client: 172.xx.yyy.27, server: chat.domain.com, request: "GET /app/accounts/1/dashboard HTTP/2.0", host: "chat.domain.com"`

This happens `RoomChannel stopped streaming` for chatwoot.

Worth mentioning, the error keeps occurring every 4/5 minutes and stays with status 502 status

[2021-10-12 03:29] sony-mathew commented on #1074
@japps20 This makes more sense.  @sojan-official what do you think? Also, this could be a good first issue for hacktoberfest.

[2021-10-12 04:13] #3180 closed

[2021-10-12 05:37] SanjuSudheerM commented on #3041
@sojan-official Does this applicable to the widget?

[2021-10-12 06:27] #3088 closed

[2021-10-12 07:16] #3173 closed, assigned to nobody

[2021-10-12 09:14] nithindavid commented on #3096
I would prefer a page instead of modal for the onboarding flow.
I'll check the designs and will follow up with changes soon.

[2021-10-12 09:21] tejaswinichile opened #3205 "[CW-2832] Chore: set codeclimate.yml method count to default 20"
Refer the change here: https://github.com/chatwoot/chatwoot/pull/3198/files/474f348b2d59094c817ab57ee7a53e78a1ad1b71#diff-e97904d8a0443f46ad2c8ceb5fbe5355e52f6be540378ab8ea1e98870395d7de

<sub>[CW-2832](https://linear.app/chatwoot/issue/CW-2832/chore-set-codeclimateyml-method-count-to-default-20)</sub>

[2021-10-12 10:10] SanjuSudheerM commented on #3041
Sure @sojan-official, for now, I have raised PR #3201 by adding the video preview on the conversation view in the dashboard.

[2021-10-12 13:12] srameshr opened #3206 "Replace textarea with ReplyBox for initiating conversations from contacts"
**Is your enhancement request related to a problem? Please describe.**
I want access to quick replies as well as attachments while initiating conversations from individual contacts via "New Message" from the contacts screen.

**Describe the solution you'd like**
Replace textarea with ReplyBox component

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-10-12 13:17] muhsin-k commented on #3206
Duplicate: https://github.com/chatwoot/chatwoot/issues/2942

[2021-10-12 13:17] #3206 closed

[2021-10-12 15:00] tejaswinichile commented on #3195
Params structure we are getting at backend [API]

[code]
Example 1:

[code]

Meta Data for attributes and conditions

***********************************************************************
conditions we are supporting

[code]
***********************************************************************
actions we are supporting

[code]

******************************************************************

[2021-10-12 15:03] tejaswinichile commented on #3195
Params structure we are getting at backend [API]

[code]
Example 1:

[code]

Meta Data for attributes and conditions

***********************************************************************
conditions we are supporting

[code]
***********************************************************************
actions we are supporting

[code]

******************************************************************

[2021-10-12 17:09] muhsin-k commented on #2942
@srameshr Sure. Please feel free to go ahead

[2021-10-12 17:14] ash-auctionvilla commented on #2762
Sorry if this issue has been resolved already. But does #3137 solves this issue as @hodl suggested above? It seems to enforce validation in inboxes which is a problem itself.

[2021-10-13 05:27] vishnu-narayanan commented on #2575
Yarn install seems to have some issue on arm64 builds. Deprioritizing this for now.

[2021-10-13 07:20] muhsin-k commented on #3195
## Supported automation condition attributes

#### Standard Attributes

- Status - Open / Resolved / Pending / Snoozed / All
- Assignee - Person or None
- Contact - Contact or None
- Message (Support regex)
- Inbox
- Team
- ID
- Label or Labels

### Additional Attributes

- Browser
- City
- Country_code
- referer

### Contact fields

### Standard fields

- email
- name
- phone_number
- last_activi

[2021-10-13 14:30] ash-auctionvilla commented on #2762
The use case - identifying if users are already authenticated so that we may provide them account related/sensitive services.

i.e. a user places an order, realize they entered incorrect address and wants to change through website live chat. The agents should be able to see a verified flag as explained in #1682 - making sure no bad actor is impersonating the user.

[2021-10-14 06:21] #2970 closed

[2021-10-14 08:27] #3143 closed, assigned to sojan-official

[2021-10-14 11:11] lybrus opened #3217 "MAILER_SENDER_EMAIL unexpected character "<" in variable name near "<accounts@chatwoot.com>"
ENV variable MAILER_SENDER_EMAIL

**Expectation**

**Reality**

MAILER_SENDER_EMAIL=`BrandName <email@yourdomain.com>`
Rails doesn't start with `unexpected character "<" in variable name near "<accounts@chatwoot.com>`

How to reproduce

I just tried to run chatwoot in docker using instruction https://www.chatwoot.com/docs/self-hosted/deployment/docker Didn't change any default ENV variables values

[2021-10-14 13:45] vishnuv1995 opened #3218 "After update version v1.20.0 chatwoot and sidekiq service not working"
Hi,

I have updated my chatwoot version to v1.20.0 . After that  chatwoot and sidekiq service not working.

Redis password we have given in .env file.

**Logs:**
[code]

[2021-10-14 13:48] pranavrajs commented on #3218
@vishnu-narayanan / @sojan-official Can you please take a look?

[2021-10-14 18:27] sojan-official opened #3221 "chore: replace dependent: :destroy with :destroy_async"
Models in chatwoot like Account, Conversations, etc could have. a large number of associations.  replace the dependent : :destroy for these associations with `:destroy_async`

ref:
https://www.bigbinary.com/blog/rails-6-1-allows-associations-to-support-destroy_async-option-with-dependent-key
https://blog.saeloun.com/2020/11/18/rails-6.1-adds-support-for-destroying-dependent-associations-in-the-bac

[2021-10-15 04:02] lybrus commented on #3217
With value **accounts@chatwoot.com** is no errors

[2021-10-15 08:53] muhsin-k commented on #3195
Automation events  we are supporting,
[code]

***********************************************************************
Automation conditions  we are supporting,

[code]

***********************************************************************

***********************************************************************
Automation actions  we are supporting,

[code]

**************************************

[2021-10-15 13:45] lybrus commented on #3217
Yes, it works. It would be nice if you fix it in the template.

[2021-10-15 22:49] iammattmartin opened #3228 "Blank Pages on 1.21.0"
**Describe the bug**

Just upgraded to 1.21.0 and now seeing blank pages.

In the logs:

Oct 15 22:48:27 messenger chatwoot-web.1[2643]: 2021-10-15 22:48:27 +0000 HTTP parse error, malformed request ("GET /cable" - (54.177.43.203)): #<Puma::HttpParserError: Invalid HTTP format, parsing fails. Are you trying to open an SSL connection to a non-SSL Puma?>

Are there any notable changes required for n

[2021-10-16 01:25] cgb commented on #3228
Did you do db:migrate step?  I'm running in docker and that tripped me up last version update - the interface was half responding with partially rendered pages.

I'm running behind haproxy and have successfully updated to 1.21.0 a short while ago...

[2021-10-16 07:51] pranavrajs commented on #3228
@iammattmartin Can you try setting FORCE_SSL=false in the environment variables? Found this thread https://github.com/puma/puma/issues/1128

[2021-10-16 09:10] iammattmartin commented on #3228
My .env has not changed and is stlll `FORCE_SSL=false`.

We also do a db:migrate every upgrade.

[2021-10-16 10:45] iammattmartin opened #3230 "Ubuntu Install Script"
**Describe the bug**

https://raw.githubusercontent.com/chatwoot/chatwoot/master/deployment/setup_20.04.sh script seems invalid.

libreadline that is installed seems to not install v7 as required by the ruby-3.0.2 builder resulting in:

Libraries missing for ruby-3.0.2: libffi.so.6,libgdbm.so.5,libreadline.so.7. Refer to your system manual for installing libraries

`libreadline-dev is already the

[2021-10-16 11:22] iammattmartin commented on #3230
Re-run and was fine. MIght have been a down repo.

[2021-10-16 11:22] #3230 closed

[2021-10-16 13:27] iammattmartin opened #3231 "Migration Guide"
**Is your feature request related to a problem? Please describe.**
No.

Trying to debug the earlier issue, we've created a new server and wish to move our existing data.

Outside of moving the chatwoot_production database, what other data needs to be moved?

On moving that and restarting chatwoot, we are still getting the onboarding page.

[2021-10-16 15:40] pranavrajs commented on #3231
@iammattmartin You can log in to rails console and run the following command. This should remove the installation flag and get you to the login page.

[code]

[2021-10-16 16:40] pranavrajs commented on #3228
@iammattmartin I could reproduce this. It seems like `proxy_set_header Connection “”;` line in the Nginx config seems to be the culprit. Can you please try removing it and see if it works properly.?

[2021-10-16 16:56] saikumaru opened #3233 "Unable to build docker image- Win10"
**Describe the bug**
`docker-compose build` fails on Win-10

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
https://www.chatwoot.com/docs/contributing-guide/environment-setup/docker
1 Clone chatwoot on win-10
2 Follow instructions for docker build
3 docker-compose build
4 See error

**Expected behavior**
Docker build must be successfull.

A

[2021-10-16 18:32] iammattmartin commented on #3228
Can confirm this works.

[2021-10-16 19:24] one-juru opened #3234 "Chatwoot Docker not starting after unexpected restart"
**Chatwoot Docker outputs: Switch to inspect mode.**

I restarted my server yesterday, to apply the newest Updates, and the chatwoot base container wasn't starting again and just outputting the lines "Switch to inspect mode." I tried starting it with portainer and via the command line.

**To Reproduce**

Steps to reproduce the behavior:
1. Restart Server
2. Try to start docker containers with port

[2021-10-17 12:10] Robinjoeh commented on #3228
@pranavrajs Confirmed working!

[2021-10-17 18:20] nicolastefanac commented on #3228
I changed this and did a restart but it didn't work.

[2021-10-17 22:33] Robinjoeh commented on #3228
What distro are you running, and what file did you change (file path)?

[2021-10-17 23:08] iammattmartin opened #3235 "Instagram Webhook - Missing"
**Describe the bug**

Follow guide at https://www.chatwoot.com/docs/self-hosted/configuration/features/integrations/instagram-channel-setup

Webhook of URL/webhook/instagram generates a page not found error.

--
page you were looking for doesn't exist.

You may have mistyped the address or the page may have moved.

If you are the application owner check the logs for more information.
--

Logs show

[2021-10-17 23:25] nicolastefanac commented on #3228
I use debian 10 and i changed the nginx_chatwoot.conf file located in home/chatwoot/chatwoot/deployment/

[2021-10-17 23:35] iammattmartin commented on #3228
Is that the file nginx is actually using?

Usually run-time configurations are in /etc/nginx

[2021-10-17 23:38] WevrLabs commented on #3235
It was a typo.

The correct webhook URL is like this:
 https://{yourcwinstall}/webhooks/instagram

So 'webhooks' not 'webhook' :D

[2021-10-18 01:09] nicolastefanac commented on #3228
Thank you i solved it by editing the nginx_chatwoot.conf in /etc/nginx/

[2021-10-18 04:03] pranavrajs commented on #3235
@tejaswinichile Please check this out.

[2021-10-18 05:22] virajbahulkar commented on #3147
@muhsin-k I would like to work on this.

[2021-10-18 10:00] sojan-official opened #3238 "feat: Ability to receive private note events in webhooks"
At the moment I am able to receive only incoming and outgoing messages through webhooks, But i would also like to receive other message types like private notes and activities so that I can replicate the data in my custom interface.

ref: https://github.com/chatwoot/chatwoot/blob/3b3ab39ca3e3ab495d41dc7db36799ad41857d63/app/models/concerns/message_filter_helpers.rb#L8

- [ ] Change the condition t

[2021-10-18 11:09] lybrus commented on #3217
Fixed #3226

[2021-10-18 11:09] #3217 closed

[2021-10-18 11:19] sojan-official commented on #3238
note: incoming and outgoing messages are sent under the same event. So the integrations build on top should have a filter to handle that. But again there is a risk if the client isn't built to handle that.

so we could have private_message_created and activity_message_created event types

[2021-10-18 12:08] Vikash-P opened #3240 "feat: Autocomplete when filling cc and bcc"
Can we please add email id automatically if we are trying to add any member which is already available in chatwoot.
Also, if anyone has sent mail along with marking anyone CC. we should probably add it while replying all.same as G mail does

[2021-10-18 13:05] sanjayws opened #3242 "Blank CSAT Report but records exist in DB."
**Describe the bug**
Installed version 1.21.0 and ran a couple of chats with CSAT. We did 3 CSATs post chat, but i can't see them in reporting.

**To Reproduce**
Installation: - Plain script install with Ubuntu 20.04. No other customizations or changes.

Steps to reproduce the behavior:
1. Setup Telegram bot to receive and send chats
2. Close or "Resolve" a chat, then the other end has a link for

[2021-10-18 16:57] hanthor opened #3243 "Z order on the left hide button is wrong"
![image](https://user-images.githubusercontent.com/5840441/137775136-6d81688c-ffa5-479d-883c-4cb843bffcf5.png)

It will show even when viewing an image

![image](https://user-images.githubusercontent.com/5840441/137775207-9dfb39d6-ef6a-48ac-aab4-8951b401ac57.png)

[2021-10-18 17:14] jayeclark commented on #3243
@pranavrajs This is tagged hacktoberfest, but at a quick glance I didn't see contributor guidelines. Is this issue open to a community fix?

[2021-10-18 17:34] vishnu-narayanan commented on #3234
Yeah, it shouldn't require a reinstall. Is it something related to portainer ? Could you ssh in and see if it works with `docker-compose up` from the cli ?

[2021-10-18 21:47] WevrLabs opened #3244 "bug: Telegram attachment captions are not rendered"
**Describe the bug**

When sending an attachment of any type with a caption (image, file, audio, etc), the message received in Chatwoot does not include this caption. This can make conversations be out of context in some situations.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Telegram and send your bot any image (or file) and type a caption before sending it.
<img width="440" alt=

[2021-10-19 02:43] superspike7 commented on #3243
can I work on this?

[2021-10-19 03:39] virajbahulkar commented on #2884
Can I pick this up?

[2021-10-19 09:07] #3174 closed

[2021-10-19 09:30] virajbahulkar commented on #3244
@tejaswinichile I have added telegram bot but I'm not receiving messages on chatwoot dashboard, I have also assigned agent to it. Can you help me out here? I think I'm missing something

[2021-10-19 11:53] saikumaru commented on #3233
Yes, if you are mentioning about logging on to dockerhub on CMD and on Desktop, yes, I did logout and login again and retried the steps, but still failed.

[2021-10-20 06:43] pranavrajs opened #3247 "HTML emails are not rendered properly in the Slack Integration"
<img width="472" alt="Screenshot 2021-10-20 at 12 10 59 PM" src="https://user-images.githubusercontent.com/2246121/138041185-21b3205c-1617-47b3-9403-fe59e74dbd19.png">

![image](https://user-images.githubusercontent.com/2246121/138041225-14d30b60-034a-4c73-9603-045ec11219fa.png)
---

Email channel replies are not rendered properly in the Slack channel. This creates a nuisance for the users as the

[2021-10-20 06:49] pranavrajs commented on #3247
@tejaswinichile Please assess the effort, if it is less effort, please go ahead with the implementation.

[2021-10-20 07:03] tejaswinichile commented on #3247
**Notes**
Fix: If the channel is email either remove the HTML tags or apply the style in the HTML tags.

@pranavrajs I will go ahead with the implementation not much difference in effort between the quick fix and the actual fix.

[2021-10-20 07:05] wmily1 opened #3248 "@diaspora-france Thanks for reporting back. You could also customize the support_email at a global level from the super admin panel."
@diaspora-france  Thanks for reporting back.  You could also customize the support_email at a global level from the super admin panel.

it's just that if a value is set on the account, it will take precedence over the global config. / environment variables

<img width="1357" alt="Screenshot 2021-08-20 at 9 30 19 PM" src="https://user-images.githubusercontent.com/73185/130261174-799823d6-0f32-4703-

[2021-10-20 12:29] sojan-official opened #3251 "chore: Use climate control gem for handling env variables in tests [Tech debt]"
We have environment variables used in our RSpec tests which should be unset after the test context. Instead lets switch to https://github.com/thoughtbot/climate_control

example : https://github.com/chatwoot/chatwoot/blob/b0041ccf3fcb66e450f57940676d29a13e1f438e/spec/controllers/dashboard_controller_spec.rb#L13

ref : https://thoughtbot.com/blog/testing-and-environment-variables

## TODO
- [ ] Ide

[2021-10-20 18:06] voko3456 commented on #3195
@muhsin-k @aswindevps @pranavrajs @tejaswinichile can you add automation action to send interactive session message so customer can replay by clicking the button and save his replay on custom attributes so we can implement local chat bot example :
![whatsapp_illu_main_header_interactive_buttons_](https://user-images.githubusercontent.com/20530550/138146898-ebe16dd3-6e95-4bb8-a51f-4fd0bb574ae0.png)

[2021-10-20 18:33] jdsalchow opened #3253 "Wrong German translation of 'disabled'"
**Describe the bug**

In some places "disabled" is translated to German as "Behindert" which has a different meaning (disabled person / obstructed). The correct translation is "Deaktiviert".

**To Reproduce**
[code]

[2021-10-21 06:59] GyR4uk opened #3256 "For some time, the site stops working with operators"
For a while, the site stops working with operators, while showing them a page with the message "Retry later".
Basically, this happens when a message is sent by an operator.
![image](https://user-images.githubusercontent.com/35705596/138227353-e4f2c0dd-2113-4f0e-977f-2a41c71854ca.png)

[2021-10-21 08:08] sojan-official commented on #3243
@jayeclark  yep, please feel free to go ahead. ref: https://www.chatwoot.com/docs/contributing-guide

@superspike7 will pass it on to you if @jayeclark doesn't have the bandwidth.

[2021-10-21 09:23] #3248 closed, assigned to nobody

[2021-10-21 11:32] jayeclark commented on #3243
@sojan-official Thanks - I do have the bandwidth & will start on it this morning!

[2021-10-21 11:46] sojan-official commented on #3230
@vishnu-narayanan can we verify ?

[2021-10-21 14:05] koral99digital opened #3258 "running numbers"
Hello everyone!

i found some annoying bug, i wonder how come no one saw / found it before.
have you noticed that when you switch between the lists or between the conversations, the numbers are just moving and moving without stop?

see the video:

https://user-images.githubusercontent.com/86045174/138294221-14bc8131-0e3b-4e18-bff4-56f0ba2de916.mp4

seems like it doesnt always happen.
but when it h

[2021-10-21 18:45] sojan-official commented on #3243
@jayeclark Please take your time :)

[2021-10-22 02:43] muhsin-k opened #3260 "Attachment download in conversation always downloading twice"
1. Upload a file in conversation
2. Try to download the file
3. The file will download twice

[2021-10-22 05:12] #3253 closed, assigned to nobody

[2021-10-22 09:52] muhsin-k opened #3263 "feat: Migrate existing contact custom attributes to the newly constructed schema objects"
@muhsin-k commented on [Mon Sep 27 2021](https://github.com/chatwoot/product/issues/239)

**TODO**
1. Find the number of contacts which has custom attributes
2. Write a migration for existing contact custom attributes to the newly constructed schema objects

[2021-10-22 13:53] #3260 closed, assigned to iamsivin

[2021-10-22 14:24] vishnuv1995 opened #3265 "After update the version v1.21.1 chatwoot application not working"
Hi,

We have updated the chatwoot version as v1.21.1, Now the application not working and we are getting below message only in the log.

Deploy method is docker.

Logs for chatwoot service:
Switch to inspect mode

All other containers are working except chatwoot service.

In browser while login we have got the below message.

"Could not connect to Woot Server, Please try again later"

[2021-10-23 00:35] voko3456 commented on #3185
That's will be great 👍

[2021-10-23 12:08] abw660 opened #3269 "ى"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-23 15:46] #3269 closed, assigned to nobody

[2021-10-23 15:47] crottolo opened #3270 "feat: Support additional attachment types in Chatwoot"
I use twilio account in sandbox mode.

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'chat with client'
2. Click on 'nothing'
3. Scroll down to '....'
4. See error

after send message (client) with attachments same as xls xlsx, docx , you can't download a file.
csv format work

**Environment**

Describe whether you are using Chatwo

[2021-10-23 20:43] gino1312 opened #3271 "H"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-23 23:35] #3271 closed, assigned to nobody

[2021-10-24 07:53] koral99digital opened #3272 "Agent to see only 'mine'"
Hello everyone!

i'm not sure if this is a bug, or this is the how it meant to be...
i noticed that agents have "Mine" and "All" tabs.
in "All" tabs, they see all conversation that are in the system.

is there a way to disable this? the idea is that agents will only see conversations that are assigned to them

[2021-10-25 05:14] hongxy opened #3274 "Cannot add 2 facebook inboxes"
**Describe the bug**
I am running self-hosted chatwoot. I have 2 facebook pages, for different business, respectively. I would like to create 2 facebook inboxes (A/B) for each page.
I follow https://github.com/chatwoot/chatwoot/discussions/2072, and I can setup one facebook inbox, but I cannot add another facebook inbox.

Situation:
- facebook page A and B are under different facebook user account

[2021-10-25 07:28] pranavrajs opened #3277 "[CW-2831] feat: Conversation UX improvements"
* Search for emojis
* Read receipts so I can see if they've read my message
* Live typing like Intercom and Chaport have (So i can see what they're typing as soon as they start typing)
* skip the first screen, so go straight to the chat (without seeing "Hey! We're here to help you")

![image](https://uploads.linear.app/2847f7b9-2caa-474c-b261-1c9bdc2a5da6/2060fe01-957c-4fa3-8240-92947a0b4bc0/35681

[2021-10-25 10:22] #3244 closed, assigned to virajbahulkar

[2021-10-25 13:44] #3243 closed, assigned to jayeclark

[2021-10-26 12:32] #3274 closed, assigned to nobody

[2021-10-26 12:39] sarhugo opened #3287 "Agent typing indicator wrongly displayed when writing a private note"
**Describe the bug**

The agent's typing indicator is active even when agent writes a private note.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to a conversation as an agent
2. Write a private note
3. User will see the typing indicator

**Expected behavior**

Agent's typing indicator should be visible only when agent is writing something for the user, not for himself.

[2021-10-27 21:23] lowlyocean opened #3295 "Conversation doesn't show Contact details set via setUser()"
**Describe the bug**

Sometimes, even if window.$chatwoot.user.identifier_hash and window.$chatwoot.identifier are correct, some new conversation started from widget doesn't show in Inbox with expected Contact details. Instead it generates some random user like **something-blah-13** and the email etc. are left blank.

**To Reproduce**

Steps to reproduce the behavior:

1. Create Website Inbox
2. A

[2021-10-28 18:13] btcmaine opened #3304 "Email error <accounts@chatwoot.com>: Sender address rejected: not owned by user example@email.com"
Email fails to send (new signups, transcripts)

Steps to reproduce the behavior:
docker deployment on debian
set SMTP to any custom server that verifies sender

**Expected behavior**
MAILER_SENDER_EMAIL=example@email.com
should set the sender address

**Server logs**
2021-10-28T18:10:13.424Z pid=1 tid=28sd class=ActionMailer::MailDeliveryJob jid=b5f6ad87b3483b2ef12478a8 elapsed=0.681 INFO: fail
20

[2021-10-29 10:50] srameshr opened #3307 "Authorised Instagram page does not show up in the select element after facebook auth"
**Describe the bug**

After authorizing both FB Pages and Instagram accounts of which the user is an admin of, the authorized IG accounts does not show up in the "Choose Page" select box and on the contrary, FB pages are available inside the select box.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Inboxes and Add New Inbox
2. Click on Messenger and Authorize both IG and FB pages an

[2021-10-29 18:24] btcmaine commented on #3304
update:
MAILER_SENDER_EMAIL=noreply@example.com
changes the value for sign up confirmation and password reset emails but not transcript emails.

[2021-10-29 23:26] voko3456 commented on #3195
@muhsin-k
Please Add events
11-custom attributes updated
12-time since last message

[2021-10-29 23:37] voko3456 opened #3308 "Integrate with botpress chatbot"
BotPress ChatBot is open source chatbot support building advanced bot with flow builder
https://github.com/botpress/botpress

[2021-10-29 23:39] voko3456 opened #3309 "ability to send whatsapp 360dialog template message via Messages API"
right now if we send template message via 360dialog api it will not show in chat history we need to send WhatsApp 360dialog template message via Messages API then it can show in chat history

[2021-10-30 01:39] #2868 closed

[2021-10-30 06:44] #3087 closed

[2021-10-30 06:59] srameshr commented on #3307
@tejaswinichile Could you let me know if I am missing something here?

[2021-10-30 14:27] lowlyocean commented on #3295
Is there an ability to pull in non-minified version of the widget from deployed instance on Heroku, so as to be able to set breakpoints and better investigate the issue from my end?

[2021-10-30 16:53] iammattmartin commented on #3308
Duplicate of #2502

[2021-10-30 16:54] iammattmartin commented on #3307
I don't believe you see it separately. It'll come thought the same messenger inbox as facebook messages.

At least, that is how ours is working.

[2021-10-30 19:24] #3295 closed

[2021-10-30 21:58] matiasperes opened #3311 "Ability to receive and send images and audio using 360dialog whatsapp channel"
Hello, since I definitely need this features I'm gonna be implementing them. Any thoughts on what parts of the code I need to work on? Thanks

[2021-10-31 00:54] #3311 closed

[2021-10-31 00:55] matiasperes commented on #3311
already implemented on branch chore/whatsapp-attachments

[2021-10-31 11:52] sojan-official commented on #3295
@lowlyocean  were you able to resolve this issue?

[2021-10-31 12:26] sojan-official commented on #3307
There will only be a single Facebook page that would show up in the list that represents the messenger profile for both the Facebook page and Instagram profile.
Also you can connect a Facebook page to only one inbox in a chatwoot instance ( across all the accounts ).

[2021-10-31 12:26] sojan-official commented on #3308
closing in favor of #2502

[2021-10-31 12:26] #3308 closed

[2021-10-31 12:41] lowlyocean commented on #3295
Even though $chatoot.user is populated, it didn't mean that setUser succeeded in setting Contact info. In my app's Login response handler, I added a listener for chatwoot:ready which calls setUser. I also just call setUser once manually, in case chatwoot:ready fired already before login handler.

[2021-10-31 17:06] srameshr commented on #3307
@sojan-official I cross-checked all of it. I still don't get any messages I send to my IG account on my app.chatwoot.com instance. The same happens for my private hosted instance as well.
Also, sometimes, my private chatwoot instance agent account sends a bot message titled "GROUP NOT FOUND" when I try to add an IG channel

[2021-11-01 06:03] tejaswinichile commented on #3307
Do you see the messages from test webhooks to your instance? check if the webhooks are working?

[2021-11-01 06:38] #3247 closed

[2021-11-01 08:20] #3287 closed

[2021-11-01 08:27] #3187 closed

[2021-11-02 08:50] crottolo commented on #3270
did I correctly describe the issue?

[2021-11-02 14:34] tejaswinichile opened #3314 "TEAM_AVAILABILITY translations not working properly"
**Describe the bug**

check the translation for `TEAM_AVAILABILITY.Offline`  it's not getting translated.
https://app.chatwoot.com/app/accounts/1/conversations/10155

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://www.chatwoot.com/
2. Click on google to translate web browser
3. Scroll down to when you see the message "We are away at the moment"
4. The message should be in the

[2021-11-02 14:49] tejaswinichile opened #3315 "Enable quote support in the editor"
<img width="550" alt="Screenshot 2021-11-02 at 8 11 49 PM" src="https://user-images.githubusercontent.com/10827585/139870192-a6a80b6d-0eaa-41f3-b6fb-e071cdb257a8.png">

But when I posted it, it appeared with the angle bracket `<` as shown in the screenshot.

[2021-11-02 15:35] one-juru commented on #3234
I deleted every container and every persistent storage space, and tried to set it up again - but it still fails with the same error message and stops the container. Resetting the entire VPS would definitely solve that problem (tested on another fresh Ubuntu vm), but I wouldn't like to do that. Do you have any other idea?

[2021-11-02 16:07] one-juru commented on #3234
EDIT: It seems that the web interface works, even though the chatwoot_base container is stopped and exited with code 0 ("switch to inspect mode").

Do we even need that container? The installation seems to work fine without it...

[2021-11-02 23:09] cgb opened #3316 "Electron notifications for custom app"
Hey there,

I've been experimenting with building an Electron app with Chatwoot integration.  I've got the basic app working well but wondering if there is any way to hook into a "new message" event from Chatwoot to trigger the equivalent notification hook in Electron (i.e. https://www.electronjs.org/docs/latest/tutorial/notifications).

I'm not really a javascriptweb-developer so maybe it's obvio

[2021-11-03 05:16] akhilgkrishnan commented on #3314
@tejaswinichile I can pick this

[2021-11-03 07:10] pranavrajs commented on #3316
@cgb Would you be able to push the changes here? The team can take a look at it. https://github.com/chatwoot/desktop-app

[2021-11-03 07:11] pranavrajs commented on #3316
@cgb I'm sorry I misread the message that you are working on an electron app for Chatwoot. We don't have a new message event that you can listen to, but I think that would be a good addition to the SDK.

[2021-11-03 07:24] vishnu-narayanan commented on #3314
@akhilgkrishnan To add additional context, we manage translations via Crowdin. This issue is due to the missing Dutch translation in this file https://github.com/chatwoot/chatwoot/blob/develop/app/javascript/widget/i18n/locale/nl.json#L13.

Please use https://translate.chatwoot.com/

[2021-11-03 07:25] vishnu-narayanan commented on #3314
`TEAM_AVAILABILITY.OFFLINE` should be `Op dit moment zijn we niet aanwezig`

[2021-11-03 07:42] pranavrajs opened #3317 "Display account id in account settings"
<img width="488" alt="Screenshot 2021-11-03 at 11 41 15 AM" src="https://user-images.githubusercontent.com/2246121/140023965-df747f44-2b9d-4068-80ad-348dc4cd6a63.png">

In the API docs, we are asking the users to use the account id. It is not displayed anywhere in the application. The devs would need to deduce it from the URL which is a bad UX.

Todo:

- [ ] Display Account ID in the account setti

[2021-11-03 07:46] akhilgkrishnan commented on #3314
Thanks @vishnu-narayanan . Btw there are couple other languages having this issue eg: Malayalam

[2021-11-03 07:58] vishnu-narayanan commented on #3314
Yes, that is because not all languages are 100%  complete. You can check the progress for a language at https://translate.chatwoot.com/chatwoot

[2021-11-03 10:26] cgb commented on #3316
A whole electron app for Chatwoot, that would be a bit ambitious for me!  Although it only took an hour to wip up a proof of concept auto-loading my own website...  Maybe it won't be so hard.

I've spent some time trying to work out how or where a new message event might tie in to the SDK, I feel like it could be

https://github.com/chatwoot/chatwoot/blob/03b1a3d045bbfc221bcf07c8155eccd2d0d88905/a

[2021-11-03 12:13] pranavrajs opened #3320 "Permalink to a message"
**Context:**

- Sharing a particular message with teammates or people who have access to Chatwoot is hard right now as there is no link to the message. The agent would have to share the conversation link and ask the other person to scroll up or look for a message.

**Solution:**

Allow copying a permanent link to the message so that the agent can share the link directly.

[2021-11-03 12:45] vishnu-narayanan opened #3321 "Include previous messages for more context when sending @mention/@assign email notification"
**Is your enhancement request related to a problem? Please describe.**
Right now, an agent gets an email notification when they are mentioned/assigned in a conversation.

The `@mention` notification right now only includes the message in which they are mentioned. The `@assign` notification right now does not have any information other than the assignment.

**Describe the solution you'd like**
Incl

[2021-11-03 14:03] akhilgkrishnan commented on #3314
@vishnu-narayanan I can only see the en.json on widget folder

[2021-11-03 17:44] sojan-official commented on #1961
@imc67  The client with whom we worked initially modeled the integration would receive support queries through both DMs, as well as tweets.

This item was a lot amidst the other priorities I believe. The easiest fix I guess would be a setting for the Twitter inbox which can be toggled to stop creating conversations from tweets. We will prioritize or would be happy to support community contribution

[2021-11-03 22:21] ianhyzy opened #3325 "Add option to exclude tweets from account"
**Is your feature request related to a problem? Please describe.**
When I tweet with my brand account, they appear as new conversations in chatwoot, which I don't want

**Describe the solution you'd like**
Ignore by default or add option to ignore

[2021-11-04 03:14] roshanjonah opened #3328 "Issue with SMTP"
### Discussed in https://github.com/chatwoot/chatwoot/discussions/3327

<div type='discussions-op-text'>

<sup>Originally posted by **roshanjonah** November  4, 2021</sup>
I am using Helm Charts, I declared the following variables to use Postmark to deliver emails.

[code]

 But for some reason, none of the emails would go out. When I try to reset the password link on the UI to trigger email sendi

[2021-11-04 04:09] #3328 closed

[2021-11-04 09:26] azyzio commented on #1664
Hi @pranavrajs ,

I was in the middle of describing the findings I had about this issue and found this thread. I am happy to help you here, as I believe there is a high risk of data breaches caused by this behaviour.

My description of the problem:

If two identifiable contacts (created with the `$chatwoot.setUser` method with uniq identifier numbers) work from the same browser, they will me merge

[2021-11-04 09:52] atresnjo opened #3329 "Is there a way to disable the "new message notification" popup?"
![image](https://user-images.githubusercontent.com/41112852/140293268-48eb8966-a069-469c-86f2-31da5e6f07c9.png)

Is there a way to disable the notification popup as shown in the screenshot? :)

Thanks for the great work so far, guys! You're brilliant.

[2021-11-04 12:13] iammattmartin commented on #3325
Duplicate of https://github.com/chatwoot/chatwoot/issues/1043

[2021-11-04 15:00] ianhyzy commented on #3325
my bad, will close this

[2021-11-04 18:18] willph opened #3330 "Limit the number of agents a particular user can create"
If it were possible to determine how many agents each user could create.
User X = 5 agents, Y = 2 agents, z = 3..........

In SUPER_ADMIN account could have the option when creating each user to define the number he could create agents.

I hope you can understand, I don't know if I posted it correctly.

I didn't find this in the documentation.
If so, please indicate where.

Congratulations to the

[2021-11-05 11:52] brunoprietog opened #3331 "Using anycable as an adapter for actioncable"
[Anycable](https://anycable.io/) is an actioncable adapter written in Go that improves latency and scalability of actioncable dramatically. The main advantage is that you don't have to change any of the code, just the adapter and run the rpc server and anycable go. This would help reduce infrastructure costs for you and those using the self hosted version.

It would be great if you could consider

[2021-11-06 10:20] SanjuSudheerM commented on #3041
@sojan-official just a housekeeping note, Can we close this ticket as we have covered the tasks mentioned in the PR?

[2021-11-06 17:22] pranavrajs commented on #3041
Makes sense. :) Closing it now.

[2021-11-06 17:22] #3041 closed

[2021-11-07 09:03] voko3456 opened #3332 "not able to send template message via WhatsApp 360 dialog inbox"
![image](https://user-images.githubusercontent.com/20530550/140638828-50f9b4d7-dde0-47a5-9124-34301d3e0431.png)
it should be there's button to send message template and list all template messages in 360 dialog account and select one and send it

[2021-11-07 20:06] SanjuSudheerM commented on #3317
@pranavrajs Can I work on this?

[2021-11-08 05:43] pranavrajs opened #3335 "Command bar for productivity"
The command bar is supported by most of the applications right now. The palette that opens when clicking on `Cmd + K` is really useful to navigate through the application. I've been using Superhuman for quite some time, I use the command bar more often than the keyboard shortcuts.

Todos:

- [ ] Research about the existing projects which can be integrated directly to Chatwoot (open-source as well

[2021-11-08 05:45] pranavrajs commented on #3329
@atresnjo At the moment it is not possible, it can be a config on the SDK.

[2021-11-08 05:45] pranavrajs commented on #3330
@willph I don't completely understand the problem here. Do you want to limit the number of users an admin can invite? What is the use case?

[2021-11-08 05:54] pranavrajs commented on #3331
@brunoprietog Thanks for the suggestion, we have already looked at AnyCable as an alternative if something isn't scaling. As far as we know, nobody has reported any issues with scaling to a larger customer base. Is this issue related to any issues in scaling the usage?

[2021-11-08 05:59] pranavrajs commented on #3317
Sure, please feel free to.

[2021-11-08 06:02] fayazara commented on #3335
This is the library which we were discussing internally - https://github.com/ssleptsov/ninja-keys
Demo - https://ninja-keys-demo.vercel.app/

Here's a reactjs library called kbar which looks really good. - https://kbar.vercel.app/

[2021-11-08 06:18] fayazara commented on #3335
For commands we could write a few global bus events and add them in a seperate component and import it globally in the dashboard route component.

[2021-11-08 06:27] #2333 closed

[2021-11-08 07:17] pranavrajs commented on #1664
@azyzio The contacts should be merged. Even if somebody calls the `setUser` method, they would not be able to retrieve the previous messages/conversations from another browser. The messages are retrieved based on contact_inbox which is essentially the sessions for a user.

Here the problem is only with the real-time message behavior. The issue here is that the user has 2 browser sessions one with

[2021-11-08 07:25] Grienauer commented on #1039
+1

[2021-11-08 08:51] azyzio commented on #1664
Hi @pranavrajs ,

Thank a lot for the response.

We dug a little deeper in the meantime and we have adjusted our internal system to just remove the cw_conversation (and user) cookies on logout from our system. It is safer, but there might still be an issue when sessions have different expiries (the logout can happen while cw_conversation stays) and users are loosing their conversation history on l

[2021-11-08 10:10] pranavrajs commented on #1664
@azyzio I guess you missed implementing the `window.$chatwoot.reset()`.

https://www.chatwoot.com/docs/product/channels/live-chat/sdk/setup#refresh-the-session-use-this-while-you-logout-the-user-from-your-app

You have to reset the session when the user logs out or the session is invalidated. Your use case would be covered with the reset method.

However, the following one is a bug, setUser should

[2021-11-08 12:08] tejaswinichile commented on #3221
@akhilgkrishnan Check this https://github.com/chatwoot/chatwoot/pull/3336

[2021-11-08 13:55] distresscode opened #3339 "iOS: persistent notification count on app icon"
**Describe the bug**
Using Chatwoot iOS app - when receiving a chat, a new counter is added on the app's icon "1" and it doesn't go away even after the convo has been "resolved".

**To Reproduce**
iOS app with self-hosted instance of Chatwoot

**Screenshots**
https://ibb.co/grJqB3S

**Environment**
self-hosted on Cloudron v7.0.3

[2021-11-08 14:14] SanjuSudheerM commented on #3317
@pranavrajs Could you share your idea on where to put the account Id (any UX available), or shall I proceed as in the image?

<img width="500" alt="Screenshot 2021-11-08 at 7 40 06 PM" src="https://user-images.githubusercontent.com/23727388/140756979-03b15681-43d3-4505-98fa-ce9377a477c9.png">

[2021-11-08 14:20] tejaswinichile commented on #3195
@voko3456 It's pretty early to quote if we can fulfill your requirement mentioned here https://github.com/chatwoot/chatwoot/issues/3195#issuecomment-947911895 in the next release, but we can have an initial message to send to the customer,

1. if suppose the customer message contains a question related to food then we can send the related message as a reply.

After that how would we save the custo

[2021-11-08 14:54] reveal79 opened #3340 "Feature Request ( End Chat ) or similar"
We are going to use Chatwoot for internal chats, when a visitor clicks the chat button and speaks to the operator, and the operator answers the question and resolves the chat, is there any way to pass that resolved back to the visitor, if they type in the chatbox it will continue in that chat even though it resolved, I know an option is doing CSAT but I'm trying to see what else is available

If y

[2021-11-08 15:03] tejaswinichile opened #3341 "Endpoint to receive conversation automation rules and save the automation actions"
Input:

We will receive JSON structure like below at the backend

[code]

- [x] 1. The endpoint should read the JSON and take the action accordingly.
- [x] 2. Create a database model for automation rules.
- [x] 3. Check event calling for dynamic automation actions.

[2021-11-08 15:29] tejaswinichile opened #3342 "Perform automation actions based on rules"
**Is your feature request related to a problem? Please describe.**
PART 1: Save the automation, rule part is done in the last PR.
PART 2: Calling events automatically based on the automation actions, saved conditions, and available subscribers.

**Describe the solution you'd like**
We will be handling it via pub-sub pattern, we might use rails based gems for the same.

This is proposed flow might

[2021-11-08 15:29] tejaswinichile commented on #3195
- [ ] Endpoint to receive conversation automation rules and save the automation actions: https://github.com/chatwoot/chatwoot/issues/3341
- [ ] Perform automation actions based on rules ttps://github.com/chatwoot/chatwoot/issues/3342

[2021-11-08 15:48] fayazara commented on #3335
@pranavrajs  Here's a quick demo of the ninja-keys library. Ion icons are not working as expected, looking for a workaround.

https://user-images.githubusercontent.com/15716057/140773290-d0bddbb7-f438-47fc-adb8-93ac0ae4db3c.mp4

[2021-11-08 16:15] muhsin-k commented on #3335
@fayazara This is nice ❤️

[2021-11-08 16:29] pranavrajs commented on #3335
@fayazara Awesome man! This is nice. Let me know if you need any help.

[2021-11-08 16:31] pranavrajs commented on #3340
@reveal79 This would be solved by #2828

[2021-11-09 04:57] nithindavid opened #3343 "Enhancement: Show unread marker or widget toggle button"
**Context**

The widget shows the unread messages as bubbles when it arrives or page is reloaded. But when the user chooses to close the unread bubble view there is no visual cue on widget to remind the user that there are unread messages. We could solve this by adding a red marker on the bubble.

- Show only when unread count sent from widget is greater than 0

![image](https://user-images.github

[2021-11-09 05:43] shivamsinghchahar commented on #3321
@vishnu-narayanan Can I take this up?

[2021-11-09 06:37] vishnu-narayanan commented on #3321
@shivamsinghchahar Thank you for your interest. This ticket has not been vetted yet. Let us confirm that first.

@sojan-official @tejaswinichile Could you please share your thoughts on this?
cc: @pranavrajs

[2021-11-09 06:58] tejaswinichile commented on #3321
@vishnu-narayanan we can do this, my concern is that what if the very last comment doesn't make any sense should we still show that?

 If we decide this then @shivamsinghchahar  can pick this up.
It's a doable ticket won't take much of a input from our side.

How to show the message?
: We can show the notification as quoted text, and the assigned conversation text.

CC @sojan-official

[2021-11-09 07:19] vishnu-narayanan commented on #3321
Yes, since making sense of something like that is out of scope at the moment(NLP). I was thinking of sending a maximum of the last 3 messages if available.

[2021-11-09 10:02] tejaswinichile commented on #3195
@sojan-official
Since we are handling dynamic event action trigger based on conditions, we need to have a publish-subscribe pattern to handle such implementation. Where subscribers will continuously listen to the event is being called and we will publish the event only when the condition matches. https://ably.com/topic/pub-sub I am thinking to add a gem for Automation Rules event handling.

We can

[2021-11-09 12:54] brunoprietog commented on #3331
Thanks for your response! No, it's not really because of scaling issues, but a reduction in memory usage is always welcome, especially on small servers. I guess implementing anycable wouldn't require much effort, maybe the complicated part would be the upgrade only.

[2021-11-09 13:08] sojan-official commented on #3195
@tejaswinichile  Sounds like a good direction. we already have pubsub mechanism in chatwoot using the wisper gem.
https://github.com/chatwoot/chatwoot/blob/a34bb565af4604767c870e8ede72674f82d0de81/Gemfile#L75

We can refactor and enhance the current list of events to support all the required event types.
https://github.com/chatwoot/chatwoot/blob/a34bb565af4604767c870e8ede72674f82d0de81/lib/events/

[2021-11-09 13:09] tejaswinichile commented on #3195
@sojan-official Okay then I will use the same gem. Thanks :)

[2021-11-09 13:11] sojan-official commented on #3321
We could implement a mailer similar to our conversation summary mailer and add the last 3-5 messages in the conversation.

[2021-11-09 13:13] sojan-official commented on #3234
@one-juru  the base container is only required to build the web and worker containers.

[2021-11-09 13:15] sojan-official commented on #3270
@crottolo thanks for describing the issue in detail, I think it is because we are not supporting .docx and .xlsx file types internally. we will take this up as an enhancement.

[2021-11-09 13:21] #3234 closed

[2021-11-09 13:24] ghost opened #3347 "[CW-2835] No special characters in the web widget - Inter font"
**Describe the bug**

If you try to use some special characters in the web widget like for example: `ą, ę, ć, ż, ó` - they do not look like they are supposed to do.

**To Reproduce**

You can just send a message that contains these special characters in the web widget.

**Expected behavior**

Special characters should appear just like any other characters.

**Screenshots**

<details>

<summary> Pr

[2021-11-09 13:38] vishnu-narayanan commented on #3233
Yes, login in using the `docker login` command.

@saikumaru  Are you still having issues ?

[2021-11-09 13:53] sojan-official commented on #3265
@vishnuv1995  Could you link the installation documentation that you followed. it will be hard to debug the issue without logs from the container on whats preventing it from starting up.

[2021-11-09 14:50] sarzynski opened #3349 "Enforce User Identity Validation doesn't work properly for the website channel"
**Describe the bug**
Enforce User Identity Validation doesn't work properly for the website channel

**To Reproduce**
1. Enable Enforce User Identity Validation for the website channel
2. Send setUser without identifier_hash for an existing contact
3. User is recognized by the Chatwoot

**Expected behavior**
If Enforce User Identity Validation is enabled, the setUser method should not work unless

[2021-11-09 16:06] #1589 closed

[2021-11-10 08:12] vishnu-narayanan commented on #3321
Thank you @tejaswinichile @sojan-official. Assigning this to @shivamsinghchahar.

@shivamsinghchahar The consensus is to include the last 3-5 messages. Please feel free to start work on this and let us know if you have any questions.

[2021-11-10 10:23] PyB1l commented on #2552
I experience the same issue on custom installation. The issue seems to appear in
 `app/controllers/concerns/switch_locale.rb in switch_locale at line 11`

[2021-11-10 13:02] #3196 closed

[2021-11-10 16:15] crottolo commented on #3270
perfect. I think, if possibile, for all file not recognized, the link for download. After we can adjust the code for preview or other features...

[2021-11-10 16:16] B3EF commented on #3122
hi @pranavrajs  its been one month since i have reported the issue , any updates ?

[2021-11-10 18:27] srameshr commented on #3307
It was a bug with FB account for me. It worked with a new account

[2021-11-10 18:27] #3307 closed

[2021-11-10 18:31] srameshr opened #3355 "Support Facebook post comments"
**Is your feature request related to a problem? Please describe.**
Support reading and replying to comments on a post via the dashboard Messenger inbox channel

**Describe the solution you'd like**
New conversations in the Messenger inbox channel or a new channel

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-11-10 19:11] aw-0 opened #3356 "Unable to Create Super Admin Account"
**Describe the bug**

When following https://www.chatwoot.com/docs/self-hosted/monitoring/super-admin-sidekiq/ on a 1-Click Heroku Instance, I receive the following error when running `s = SuperAdmin.create!(email: "admin@xyc.com", password: "yourpassword")`:

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Create a 1-Click Chatwoot Heroku Instance
2. Follow https://www.chatwoot.com/

[2021-11-11 04:09] tuanhuydev commented on #3233
I can confirm the issue still happen after logging in. @vishnu-narayanan

[2021-11-11 04:15] sojan-official commented on #3356
@aw-0 If your installation is on Heroku, you need to run the rails console in the Heroku instance. In the screenshot, is seems like you are running the console in your local machine.

ref: https://devcenter.heroku.com/articles/getting-started-with-rails5#run-the-rails-console

[2021-11-11 04:18] #3349 closed

[2021-11-11 06:12] muhsin-k commented on #3263
Closing this issue since we are going store the existing attributes in text format

[2021-11-11 06:12] #3263 closed

[2021-11-11 09:53] #3091 closed

[2021-11-11 12:16] vishnu-narayanan commented on #3233
Could you please confirm if you can run the production `dokcer-compose` file ?
https://www.chatwoot.com/docs/self-hosted/deployment/docker

[2021-11-11 13:11] iammattmartin commented on #3355
Already discussed in 2096

[2021-11-11 13:32] #3194 closed

[2021-11-11 14:06] sojan-official commented on #3355
closing in favor of #2096

[2021-11-11 14:06] #3355 closed

[2021-11-11 14:29] srameshr commented on #3355
@sojan-official Oops, I forgot to look up the issue before posting it.

[2021-11-11 16:21] iammattmartin opened #3363 "[CW-33] 'Close' Campaign"
**Is your enhancement request related to a problem? Please describe.**
Yes. If you have multiple campaigns on different pages, or one say on the root domain (https://www.domain.com), which will trigger each time the page is changed, this is bad UX.

Whilst there is an X that shows, if you close this and go to another page, it pops up again. I don't believe it should do this repeatedly given the in

[2021-11-11 16:58] sojan-official commented on #3317
<img width="1176" alt="Screenshot 2021-11-11 at 10 27 20 PM"  src="https://user-images.githubusercontent.com/73185/141337948-a769682d-b308-42d3-a130-30005e026518.png">

@SanjuSudheerM let's use the code block instead, you can see an example on the profile settings page.

[2021-11-12 00:55] aw-0 commented on #3356
@sojan-official I'm running it in the instance using `heroku ps:exec -a [APP_NAME]`. Is that the right way to do it? Thanks for your help :)

[2021-11-12 05:45] sojan-official commented on #3356
@aw-0  I haven't tried sshing to dyno .  try `heroku run rails console` instead. you might have to specify the app name parameter as well.

[2021-11-12 10:04] PyB1l opened #3368 "How to disable conversation continuity?"
We have a self hosted version of chatwoot, and we would like to disable conversation continuity in email threads
 without disabling pre-chat form.

Is there any way to accomplish this feature?

[2021-11-12 10:05] tejaswinichile commented on #3363
@iammattmartin Can you add a screencast video of your issue? We will take a look at it in the future release.

[2021-11-12 10:14] tejaswinichile commented on #3368
@PyB1l
1. You can remove the forward rule from your email inbox, through email account settings.
2. And run these queries on your rails console
[code]

[2021-11-12 10:33] PyB1l commented on #3368
Thanks for your quick response. Do you think that It is also posible to close conversasion when an agent presses resolve?
I mean that even the client could not conitnue sending messages to the same conversation that an ganet has marked as resolved, but instead create a new one

[2021-11-12 10:35] sojan-official commented on #3368
@PyB1l  you can enable CSAT surveys for your inbox. when the survey is enabled after a conversation is resolved. Chatwoot will prompt the contact to rate the conversation and start a new one when required.

[2021-11-12 11:11] PyB1l commented on #3368
This workaround imlpies that the user must click on CSAT? Or it works anyways if CSAT is enabled?

[2021-11-12 11:27] sojan-official commented on #3368
<img width="427" alt="Screenshot 2021-11-12 at 4 56 56 PM" src="https://user-images.githubusercontent.com/73185/141459902-a2e3ba22-bb27-4f8e-823c-ceeebd450c98.png">

CSAT is optional

[2021-11-12 11:53] PyB1l commented on #3368
Thanks is should do the trick.. One last question (I promise!). When the agent resolves the conversation and the CSAT is displayed, is there a way to refresh the session? So that if a refersh tha page it should display the prechat form again and not the
CSAT button

[2021-11-12 12:09] sojan-official commented on #3368
@PyB1l  Not directly without writing code. But you could write a custom service that listens to chatwoot webhook events and create a new conversation against the contact using the APIs.

[2021-11-12 12:10] PyB1l commented on #3368
Is this a feature that could possible get into chatwoot someday?

[2021-11-12 12:18] sojan-official commented on #3368
@PyB1l  its something in our roadmap to have a setting that would let users choose the behavior they want
- either close conversations completely on the resolution
- or let contacts to reopen resolved conversations

[2021-11-12 12:23] #2461 closed

[2021-11-12 12:29] sojan-official commented on #2348
closing because of lack of activity.

[2021-11-12 12:29] #2348 closed

[2021-11-12 12:32] sojan-official commented on #3270
We will work on supporting the following attachment types.
- [ ] docx
- [ ] xlsx
- [ ] rar
- [ ] zip

[2021-11-12 12:43] iammattmartin commented on #3363
I'm not sure it needs a screen cast.

i.e put campaign on https://www.domain.com

Go to home page of that site, it pops up.
Change to another page, it'll pop up.

Close the popup with the X, change page, it'll pop-up again.

If the user presses the X to close the popup. It should not happen again, either for that session or cookie.

It will cause annoyance for someone that keeps appearing when the

[2021-11-12 13:11] sojan-official commented on #3309
closing in favor of https://github.com/chatwoot/chatwoot/discussions/3302

[2021-11-12 13:11] #3309 closed

[2021-11-12 13:20] muhsin-k commented on #3363
@iammattmartin Yes. I am able to reproduce this. Maybe we can add the option to disable triggering campaigns globally for the current session if the user closes the campaign.

cc @pranavrajs @sojan-official

[2021-11-12 13:21] iammattmartin commented on #3363
I'd say that would be a good thing.

[2021-11-12 13:21] sultanlive opened #3370 "Send file from WABA 360Dialog"
Please add this feature, and show the file (image, video) if sending from the interlocutor

[2021-11-12 14:07] PyB1l commented on #3368
I tried the following verifing tha t the aacount is correct but still when a user is

[code]

[2021-11-12 14:17] tejaswinichile commented on #3368
@PyB1l Have you removed the forwarder email too?

[2021-11-12 14:21] PyB1l commented on #3368
I am not sure where to do that, we use Amazon email service for our
instalation

On Fri, Nov 12, 2021, 16:17 Tejaswini Chile ***@***.***>
wrote:

[2021-11-12 14:24] sojan-official commented on #3370
already completed in https://github.com/chatwoot/chatwoot/pull/3299
will be available in the latest release.

[2021-11-12 14:24] #3370 closed

[2021-11-12 14:26] hiensarahly opened #3372 "Adding Zalo as a messaging channel"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...] --> Nope.

**Describe the solution you'd like**
A clear and concise description of what you want to happen. --> Integrate Zalo to the mix. Heavily used messaging app by individuals and businesses. Targeted in Vietnam.

**Describe alternativ

[2021-11-12 14:27] tejaswinichile commented on #3368
@PyB1l  Check the 5th point you must have configured the forwarder rule for some email id correct? When you will remove that and run `account.disable_features('channel_email')` this will ensure that you won't receive any email from conversations.

But if you are using the same email for notification on conversation created or conversation assigned those you will still receive.

[2021-11-12 14:29] sojan-official commented on #3363
The constant nudging from multiple campaigns wouldn't be the ideal experience.

But would it make sense to disable it for a certain amount of time like x hours or n number of days?  You might want to retarget the user again when you add a new campaign ( if you have a better offer or a new sale that's running )

[2021-11-12 14:33] PyB1l commented on #3368
@tejaswinichile I think these instructions refer to email channel, while my issue is in website channel, I need to disable chatwoot sending emails every time an agent sends a respose and the user is offline

[2021-11-12 14:34] PyB1l commented on #3368
We have a general email service setup that is needed for the agents (password change, converseation notifications etc). We just need to disable the mails goinh to chat clients

[2021-11-12 14:36] tejaswinichile commented on #3368
@PyB1l Let me check into this more.

[2021-11-12 14:43] PyB1l commented on #3368
Thanks @tejaswinichile the big picture is that in standart website channel with pre-chat form enabled, we need to disable sending emails to widget clients (although we get the emails from either pre chat form either `setUser` method)

[2021-11-12 15:49] PyB1l opened #3373 "chatwoot SDK events"
Hi there, is there any event from the SDK that indicates that the agent has marked the consversasion as resloved?
I know there is a general `chatwoot:ready` that fires when `chatwootSDK.run` or after `$chatwoot.reset` methods, but i was
wondering if there are other events we can handle from SKD

[2021-11-12 19:31] SanjuSudheerM commented on #3343
@nithindavid Can I work on this?

[2021-11-12 20:12] willph commented on #3330
It's just that I saw on the chatwoot.com site that there is a free plan for up to 2 agents.

With that I found interesting the part of limiting the number of agents that a user could create.

But I didn't find anything about it in the documentation.

[2021-11-12 23:44] iammattmartin commented on #3372
Any docs you can provide?

[2021-11-13 02:25] nithindavid commented on #3343
@SanjuSudheerM sure 👍

[2021-11-13 02:28] hanthor commented on #2096
So you closed the Facebook post comments issue, just hoping that this makes it into the scope of this issues. Also support for deleting other users' facebook post comments too

[2021-11-13 04:38] sanjayws opened #3376 "No close button for campaign on webchat through mobile"
**Is your enhancement request related to a problem? Please describe.**
The campaigns run at a certain interval for visitors on our websites. It pops up and shows a bit of information on it as intended. For desktops, we can close the dialog that pops up however, i don't seem to see a way to close it when in mobile view, for example Edge browser on iOS. It may be a problem, i am not sure, but i thin

[2021-11-13 06:15] #2552 closed

[2021-11-13 07:02] #2794 closed

[2021-11-14 05:58] aw-0 commented on #3356
Yep, that worked. Appreciate the support!

[2021-11-14 05:58] #3356 closed

[2021-11-14 15:30] jean-philippeansel opened #3378 "Feature request: Email signature"
It would be great if each agent could set in their **profile settings** a signature that would be automatically added to any outgoing emails (from email Inbox, but also conversation continuity, chat transcript).

There would be a text field that would allow HTML tags, so we could have a signature with logo image, bold text, etc.

I love Chatwoot, but this is the last missing feature preventing me

[2021-11-14 15:40] jean-philippeansel commented on #3304
@pranavrajs
I can confirm the issue.
All SMTP variables, including MAILER_SENDER_EMAIL, are perfectly set, but any emails sent from the Email Inbox as well as chat transcript are sent from accounts@chatwoot.com.
So all outgoing emails end up to SPAM.

[2021-11-14 16:03] jean-philippeansel opened #3379 "Enhancement request: customize email templates and subject related to conversation continuity"
**Is your enhancement request related to a problem? Please describe.**
Currently, emails sent using conversation continuity have the following title:
_[#ticket-number] New messages on this conversation_

And the message body starts with:
_Hi contact_name, You have new messages on your conversation._

This is OK, but it does not work for everybody. For example, I do not want a ticket number showing

[2021-11-14 16:15] jean-philippeansel opened #3380 "Translation issue - outgoing email sender (FROM)"
**Describe the bug**

By default, all emails sent by agents have the following "from" header in any language:
**Agent_Name from CompanyName <emailaddress@domain.com>**

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Profile Setting and set your language to "French"
2. Go to Email Inbox and add an answer to a conversation
3. Login to the recipient email address to open the message you'

[2021-11-15 06:34] muhsin-k opened #3383 "feat: Add support for List(Dropdown), Checkbox in Custom Attributes"
Currently custom attributes support text, link, number, and date. Add the following types,
1. List
2. Checkbox

**Todo**

**Backend**
- [x] #3399
   -  Add new field `values` in automation model (For supporting List)
   - Add list and checkbox values in `attribute_display_type`

**Front End**

**List**
- Add "List(Dropdown)" in display types (Create custom attribute modal)
- Add the option to ente

[2021-11-15 10:05] shivamsinghchahar commented on #1583
Hi @pranavrajs Can I take this up?

[2021-11-15 10:17] PyB1l commented on #3368
@sojan-official If I just comment out from `chatwoot/app/workers/conversation_reply_email_worker` the
following lines 9-14

[code]

Would this stop sending an email transcript to users?

[2021-11-15 10:22] sojan-official commented on #1583
@shivamsinghchahar  please feel free to go ahead.  I have updated the issue description with necessary details

[2021-11-15 10:27] sojan-official commented on #3368
@PyB1l  you will only need to comment out the reply_with_summary  part. without_summary is responsible for delivering replies to the conversations that come in via email channel.

[2021-11-15 10:32] PyB1l commented on #3368
Thanks!

[2021-11-15 10:43] PyB1l commented on #3368
@sojan-official Thanks for the insight. Do you think it would be better to change `chatwoot/app/moidels/message.rb` line 194 method `can_notify_by_mail` to this:

[code]

Would this affect only transcript or email channel as well?

[2021-11-15 11:52] #3335 closed

[2021-11-15 14:09] pranavrajs opened #3388 "Invalid emails can be passed in cc_emails, bcc_emails parameter"
**Context:** There is no validation for cc_emails, bcc_emails in the send message API

**Method & URL**: POST `/api/v1/accounts/<account-id>/conversations/<conversation-id>/messages`

**Todo**:
- [ ] Add email validations for cc_emails, bcc_emails params
- [ ] Throw a 422 error in the API if an invalid array of emails is passed

[2021-11-15 15:05] #2867 closed

[2021-11-15 15:05] #3090 closed

[2021-11-15 20:57] psifertex commented on #1237
I'm also keenly interested in this feature. We have a list of "support" options on our website one of which includes "contact us via chat" and right now we have to tell people "click the icon in the bottom right" which is really not a great experience. We should be able to have al ink in that page that will also trigger the popup.

[2021-11-16 06:13] shivamsinghchahar commented on #3321
@vishnu-narayanan I have raised a PR, could you take a look?

[2021-11-16 06:44] akhilgkrishnan commented on #3380
I can pick this up

[2021-11-16 06:53] tejaswinichile commented on #3380
@akhilgkrishnan Go ahead let us know if you face any issues.

[2021-11-16 09:35] ayushin opened #3395 "multi-party conversations?"
We build a lot of marketplaces and quite often the support requests involve more than two parties, i.e. the buyer, seller and also marketplace admin.

I was wondering how difficult it would be to implement multi party conversations in chatwoot to support the above scenario?

[2021-11-16 10:32] apvlv commented on #1374
Hello,

is this still planned?

Thank you very much.

[2021-11-16 10:32] hzilex opened #3396 "SMTP_TLS enviroment variable is missing in the document"
**Describe the bug**

A clear and concise description of what the bug is.
Some smtp server need ssl authentication to send mail. If with out set SMTP_TLS to true. It will get 'EOFError: end of file reached' in chatwoot-workers log. I think the SMTP_TLS may need to list in the document.

[2021-11-16 12:55] sojan-official commented on #1237
@psifertex @thejjw

Two options that you can consider as an interim workaround

## Trigger the widget using the SDK javascript hander
ref: https://www.chatwoot.com/docs/product/channels/live-chat/sdk/setup#trigger-widget-without-displaying-bubble

You can also open up the chatwoot chat by calling `window.$chatwoot.toggle('open');` using a javascript handler associated with any of the links or imag

[2021-11-16 13:05] sojan-official opened #3398 "feat: Support location messages in chatwoot"
Various channels like Facebook messenger, WhatsApp, etc support location messages. The ability for chatwoot to render these messages properly

## Tasks
- [x] Build a location message component for the Chatwoot dashboard
- [ ] Audit the channels that support location messages
- [ ] Make code changes and ensure those messages are rendered in chatwoot correctly

[2021-11-16 13:11] muhsin-k opened #3399 "chore: Add the support for list and checkbox in custom attribute model"
- [ ]  Add new field `values` in automation model (For supporting List)
- [ ] Add list and checkbox values in `attribute_display_type`

[2021-11-16 13:29] sojan-official commented on #3395
ref: #2443

[2021-11-16 13:31] ayushin commented on #3395
Closing this in favour of #2443

[2021-11-16 13:31] #3395 closed

[2021-11-16 13:40] muhsin-k commented on #3195
**Front End**
- [ ] feat: Automations route
- [ ] feat: Add the ability to create a new automation rule
- [ ] feat: Automations table
- [ ] feat: Add the ability to edit/delete/clone automation rules

[2021-11-16 13:42] muhsin-k opened #3401 "feat: Automations route"
**Steps**
- [ ]  Add  a route called "Automations" under the settings section
- [ ]  Show a button at top of the page called "Add automation"

[2021-11-16 13:46] sojan-official commented on #3396
@hzilex thanks for reporting this,

# Tasks
- [ ] Mention the environment variables `SMTP_TLS` and `SMTP_SSL` in .env.example
- [ ] Mention the same in our documentation : https://github.com/chatwoot/docs/blob/main/docs/self-hosted/configuration/environment-variables.md

[2021-11-16 17:55] #3399 closed

[2021-11-16 18:51] vedhapre commented on #3388
Hi is this issue still open? I can take it

[2021-11-16 19:12] psifertex commented on #1237
This is perfect! As far as I'm concerned this resolves my need for this issue entirely! Thanks.

[2021-11-17 06:10] vinayak-gaikwad commented on #3396
Hello, can I work on this?

[2021-11-17 06:55] tejaswinichile commented on #3396
@vinayak-gaikwad Sure, don't forget to raise PR against doc too.

[2021-11-17 07:23] vinayak-gaikwad commented on #3396
In the case of doc should I create a new issue or just raise PR with fixes

[2021-11-17 07:24] tejaswinichile commented on #3396
@vinayak-gaikwad You can mention this issue in the PR description.

[2021-11-17 10:30] hartois commented on #3148
Agree. It will be very good. We also need a Viber inbox.

[2021-11-17 11:12] tejaswinichile commented on #3388
@vedhapre Yes, the backend validation is not there. You can pick this up

[2021-11-17 12:11] voko3456 opened #3404 "not able to send 360dialog template message using Canned Responses"
not able to send 360dialog template message using Canned Responses

[2021-11-17 12:35] #3321 closed

[2021-11-17 12:55] shivamsinghchahar commented on #1583
@sojan-official Thanks a lot for the updated description! I have raised a PR. Could you take a look?

[2021-11-17 12:56] shivamsinghchahar commented on #2041
@pranavrajs Can I take this up?

[2021-11-17 13:25] #2806 closed

[2021-11-17 13:26] pranavrajs commented on #2041
Sure, please go ahead.

[2021-11-17 14:04] GrygorievEvgeniy commented on #2138
In russian locale the same problem, but cant fix it beacause havent
 {
        "TEXT": "Bot",
        "VALUE": Bot"
      }

[2021-11-17 14:14] sojan-official commented on #2138
This should be fixed in the latest release as we switched to a different approach
https://github.com/chatwoot/chatwoot/commit/f68a4b55bb5748ea90f1c4dc552f2f390aa70a46

[2021-11-17 14:26] #2138 closed

[2021-11-17 14:32] hartois commented on #1664
We have a system in which a user opens a website using a unique link. By the identifier in this link, we determine the user on the backend, we find him in the database. The user does not perform any login / logout operations.
And we cannot reset the session when the user logs out.
The process of identifying a user by ID and HMAC should occur when the chat starts, regardless of whether there is som

[2021-11-17 16:33] hiagodotme opened #3407 "Chatwoot Over Nginx And CloudFlare - Assets Problem"
**Describe the bug**

I have an android app, i am setting up a webview to provide support via chatwoot.
It turns out that the images of the channels are not loaded, this is due to my infrastructure.

**To Reproduce**
On the edge I have CloudFlare it receives the connection via HTTPS and forwards it via HTTP to my NGIXN reverse proxy. So far so good, it turns out that when referencing the image, Ch

[2021-11-17 16:34] #3396 closed

[2021-11-17 18:16] hiagodotme commented on #3373
I need it too...

[2021-11-18 02:06] sojan-official commented on #3373
Could you share the specific events that you are looking for, as well as the use case? It will be super helpful for us to spec out this.

[2021-11-18 05:02] #3221 closed

[2021-11-18 05:17] sanjayws opened #3409 "Link icon doesn't work in campaign editor"
Small bug but just to report it here.
If you set a campaign and write a note for visitors, the link icon doesn't do anything for me. This is on version 1.22.0.

**To Reproduce**

Steps to reproduce the behavior:
1) Go to campaign
2) Use for example ongoing
3) Edit a message, highlight a text, and click on link icon

**Expected behavior**
Prompt for a link.

**Screencast**

https://user-images.gith

[2021-11-18 08:36] PyB1l commented on #3373
It would be great to have an event when the agent resolves the conversation so that that I could call `reset` method  and disable multiple user conversations from the same session

[2021-11-18 08:39] #3401 closed

[2021-11-18 10:34] hiagodotme commented on #3373
Exactly, events like widget opened or widget closed is also interesting.

I'm already in production with chatwoot, I loved the software. I use it in a webview on my android app.

Knowing if the user clicked on the button to close the widget or else being able to disable it would be very good.

I am currently covering the close button with a div in absolute position.

[2021-11-18 10:52] rahulmr commented on #3218
You need to login to `redis-server` using `redis-cli` and perform `requirepass` or `AUTH`
modify the `.env` to have `REDIS_PASSWORD=RedisAdminPwd`

then
`redis-cli` (make sure `redis-server` is running)
[code]

[2021-11-18 11:59] tejaswinichile commented on #3195
@muhsin-k
Just to confirm
`Automation conditions` will be applied to the conversation record which is mentioned in `automation_event`, correct?
Like if we have automation_event on conversation created and conditions browser language `en`  so this condition will be applied on the record that was created in a recent event, right?

[2021-11-18 13:45] #3188 closed

[2021-11-18 15:07] shivamsinghchahar commented on #2041
@pranavrajs I have raised a PR (https://github.com/chatwoot/chatwoot/pull/3414). Could you take a look?

[2021-11-18 15:08] shivamsinghchahar commented on #2041
@pranavrajs I have raised a PR (https://github.com/chatwoot/chatwoot/pull/3414). Could you take a look?

[2021-11-19 05:32] muhsin-k opened #3417 "feat: Add the ability to create a new automation rule"
- Add the ability to create new automation using `automation_name`, `automation_description`, `automation_event`, `automation_conditions` and `automation_actions`

[2021-11-19 05:35] shivamsinghchahar commented on #3238
@sojan-official Can I give this a try?

[2021-11-19 06:22] #2520 closed

[2021-11-19 07:56] tejaswinichile commented on #3195
@sojan-official @muhsin-k
MVP for automation rule:

**Event: Message Created**

Supported Condition:
1. Filter on message type [Incoming and outgoing]
2. FIlter on substring e.g message contains words related to price assign it to the finance support team.
Supported Actions:
1. Assign a team
2. Send an email to the team

**Event: Conversation Created**

Supported Condition:
1. Filter on conversati

[2021-11-19 08:46] fayazara opened #3419 "Command Bar keyboard navigation skips commands lines"
**Describe the bug**

The "cmd+k" command bar jumps randonly when navigating with keyboard, if we have searched something.

**To Reproduce**

Steps to reproduce the behavior:
1. Open any conversation and Press "cmd+k"
2. Search for a command and clear it
3. Navigate with keyboard
4. See the navigation not working

**Expected behavior**

It should navigate through all the commands in the order

**S

[2021-11-19 08:55] rahulmr opened #3420 "More Agent/User Information in API : Like Sign In Count, Last Sign In, Last Sign Out and time spent per day per conversations"
**Is your feature request related to a problem? Please describe.**
Need to track agent working hours but the api for agent only provides below information.
Even the user details api does not provide information sign in count, sign in / sign out time for today

**Describe the solution you'd like**
There is no way to monitor the agents information in detail. Agents reports are very primitive.
Only n

[2021-11-19 11:40] tejaswinichile commented on #3195
One update:

[code]

Would look like this:
[code]
@muhsin-k Please take note of this change.

[2021-11-19 14:32] pranavrajs opened #3424 "Disable `setCustomAttributes`"
Question:

Is it possible to protect values that are sent with javascript for custom fields? So we can forbid users from manipulating custom-field inputs. We plan to store things like customer-id, phone-pin, and things like that inside such custom fields.

Quick option:

- Disable setCustomAttribute from the SDK based on an inbox setting.

Alternative:

"So there are 2 approaches. Either you disab

[2021-11-19 16:59] fabriciorissetto opened #3425 "Chatwoot self-hosted getting very slow with 10~15 users"
**Describe the bug**

Not sure it's a bug, I didn't find Chatwoot benchamark reports to compare with. But we are currently facing performance issues on chatwoot-web instance with just about 10~15 active users and 3k tickets in the database. Simple requests like `conversations/{id}/update_last_seen` starts taking too log (about 3+ seconds) to complete. When we look to the resources in our machine i

[2021-11-19 17:36] pranavrajs commented on #3425
@fabriciorissetto Thanks for the details. What version of Chatwoot are you running? It is quite interesting to see 3k `update_last_seen` calls for 10-15 users in ~50 minutes.

Would you be able to provide some more details for the questions below?

1. How many conversations do you handle per day (per agent)?
2. Would it be possible for you to update the method `update_last_seen` with the following

[2021-11-19 17:48] jaime-rivas commented on #1767
+1. We do not receive notifications (email or Slack) from older conversations, which makes reply times very slow since we only see those when we log into chatwoot.

[2021-11-19 17:53] pranavrajs commented on #3379
@jean-philippeansel Thanks for the feature request. As you mentioned, the template can be updated via the rails console. It doesn't allow you to update the subject line.

[2021-11-19 17:57] pranavrajs commented on #1767
@hartois Sorry for missing this ticket. This is a great suggestion and a good UX enhancement.

@jaime-rivas Have you enabled the notifications in profile settings?

[2021-11-19 18:01] pranavrajs commented on #3420
@rahulmr Thanks for creating the request. I would like to understand a little bit about the use-case. Are you trying to learn more about the productivity of an agent? Also, it would be great if you could share some of the benchmarks / KPIs you internally track for an agent.

[2021-11-19 18:07] jaime-rivas commented on #1767
Hi @pranavrajs - Thanks for following up and great job on chatwoot. We love it :)

Yes, I do. I think the issue is:
- A new conversation is created by User1 (we all receive email / push notification)
- Someone from the team (SupportPerson1) starts working on it and assigns the conversation to himself. When finished, he marks the conversation as resolved.
- Some weeks later, User1 sends a new messa

[2021-11-19 22:08] fabriciorissetto commented on #3425
Thanks for your quick response @pranavrajs. Our fork was made from [this](https://github.com/cloudhumans/cloudchat/commit/40d0b2faf32dd7f66a65469f6de24144af4a2717) version.

The number of calls for the `update_last_seen` endpoint was a surprise for us as well. Our number of conversations/day is quite low, around 450. We have 20 agents registered, usually 10~ of them active simultaneously. Trying t

[2021-11-20 02:08] tejaswinichile commented on #3425
@pranavrajs I was thinking that we can have this update in the background too.
cc @sojan-official

[2021-11-20 04:15] pranavrajs commented on #3425
@fabriciorissetto Thanks for the detailed information. Let us know how it goes.

@tejaswinichile This was my first thought, but I don't think the problem is with the update query. My understanding is that it might be the problem with the callbacks we execute after a conversation attribute is updated. This particular query doesn't have any associated side effect. `update_columns` is enough in this

[2021-11-20 08:08] voko3456 opened #3426 "not able to add new contact and send template message using 360dialog"
not able to add new contact and send template message using 360dialog

[2021-11-20 08:15] voko3456 commented on #3195
@tejaswinichile @muhsin-k please don't forget to add the most important action is to send webhook when custom attributes updated or label added

[2021-11-20 08:35] voko3456 opened #3427 "not able to send video attachment via whatsapp 360dialog"
not able to send video attachment via whatsapp 360dialog

[2021-11-20 13:09] voko3456 commented on #3426
![image](https://user-images.githubusercontent.com/20530550/142727532-597bf919-ebe4-44c2-8097-36fe71d2c922.png)

[2021-11-20 13:16] voko3456 commented on #3426
the button for send message is not working it should be i can send template message for new contact on 360dialog

[2021-11-20 16:55] Stephen-Lobo opened #3428 "feat: Update APIs for contact avatar"
**Describe the bug**

The thumbnail string for Contact is not getting updated.

**To Reproduce**

Steps to reproduce the behavior:
1. Send PUT / PATCH request to update thumbnail of the contact through API
2. All other fields get updated, except THUMBNAIL

**Additional context**

Tried through POSTMAN and also through local PHP API

[2021-11-21 09:31] rahulmr commented on #3420
@pranavrajs thanks for your reply. Yes you got it exactly, I have created a small vue page view to capture agent productivity. Currently, when I fetch agent details for a particular account I see only few details. Is there any way to capture more details like sign in, sign out, time spent per conversation per day, last sign in, last sign out, last active or availability, etc. I was also thinking o

[2021-11-21 09:42] rahulmr opened #3429 "Demo big or small sample contents using rails seed function"
**Is your feature request related to a problem? Please describe.**
Self hosted instance not having enough demo data to experiment with.

**Describe the solution you'd like**
Need a rake db task to create a full fledged demo data on the self hosted server.
It must include 3-4 of each => inboxes, channels, labels, teams,
Around 100 agents and 200 contacts.
100 conversations to spread across a good t

[2021-11-21 10:20] rahulmr commented on #3425
@pranavrajs can we implement this is our self hosted server as well seems like good change, does it has any side effects?

[2021-11-21 14:59] torquan opened #3430 "Message with image does not trigger webhook"
**Describe the bug**

For inboxes of type "api" a webhook is triggered if a message is sent in Chatwoot. There's also an event on the webhook that can be added in Settings -> Integrations.

If a message includes an image, there is no webhook triggered.

**To Reproduce**

Steps to reproduce the behavior:
1. Create API Inbox
2. Listen to the webhook, for quick reproduction for ex. via webhook.site
3

[2021-11-21 19:34] jean-philippeansel commented on #3379
@pranavrajs Thanks for your comment! But if I'm not mistaken, the only 2 templates that can be edited are conversation_assignment and conversation_creation (both are notifications agents.

The template I'm talking about is the one used for emails sent to customers when using conversation continuity. And if I'm not mistaken, it cannot be edited via the rails console (or maybe it's not documented ye

[2021-11-22 05:03] shivamsinghchahar commented on #3052
@sojan-official Can I take this up?

[2021-11-22 05:05] tejaswinichile commented on #3052
@shivamsinghchahar you can start working on it.

[2021-11-22 06:07] joelr45 commented on #2021
Hey guys, awesome platform. I am also seeing this persist with the latest:

`ActionView::Template::Error (uninitialized constant PlatformAppPermissibleDashboard):`

Steps to reproduce: Create user with access token.

[2021-11-22 06:15] muhsin-k opened #3431 "bug: Select input validation not working in conversation filter"
**To Reproduce**

Steps to reproduce the behavior:
1. Go to the Conversation page
2. Click on the 'Filter Conversation' button
3. Select "Status"
4. Click on the "Submit" button without selecting any value

**Expected behavior**

The validation error message should show under value input

**Screencast**

https://user-images.githubusercontent.com/12408980/142809723-578c4a1a-a2a0-4a7a-84e3-b3368179b

[2021-11-22 11:52] latrocha commented on #2371
Hi
I got the same issue. I solved it by using the same domain in the first admin user as the MAILER_SENDER_EMAIL enviroment variable.
For example, if you are using support.example.com as MAILER_SENDER_EMAIL, then create the first admin user as admin@support.example.com. Agents and admins created after that will work flawlessly but, if you use a different domain on the first user, it won't work.
It

[2021-11-22 15:22] wasannoom opened #3441 "chore: Update Inbox members swagger documentation"
**Describe the bug**

I try to use API for getting members in the inbox but got 404

**To Reproduce**

Steps to reproduce the behavior:
1. Use API same as (https://www.chatwoot.com/developers/api/#operation/get-inbox-members)
2. Got 404

**Expected behavior**

Should return a list of members

[2021-11-22 18:04] pranavrajs opened #3443 "setUser should reset the session if there is one already available"
**Context:**

setUser should reset the session if there is one already, it should not rewrite the contact details.

Created from #1664

And we cannot reset the session when the user logs out.
The process of identifying a user by ID and HMAC should occur when the chat starts, regardless of whether there is something in the cookie or not. If we set a new user ID, the session should be automatically

[2021-11-22 18:06] #1664 closed

[2021-11-22 18:06] #1682 closed

[2021-11-22 18:07] pranavrajs commented on #3430
@torquan I will test it out and see if I can reproduce this.

[2021-11-22 18:09] pranavrajs commented on #3428
@Stephen-Lobo Can you please share the payload you are using?

[2021-11-22 18:10] pranavrajs commented on #3427
@voko3456 Can you please share file type you are trying to send?

[2021-11-22 18:35] torquan commented on #3430
I just tried to make a video of this, but this happened:
- image messages did appear but were quite delayed (with a 2KB image)
- they were out of order
- one image message triggered a webhook event of type text without content.

Here's the video https://streamable.com/9sh0z7. It got a bit long, sorry for that. If there's a better way I can help, please let me know.

[2021-11-22 19:43] voko3456 commented on #3427
mp4,wmv

[2021-11-23 00:48] wasannoom commented on #3441
@pranavrajs I use this path. I'm not sure is correct or not?
`/api/v1/accounts/3/inbox_members?inbox_id=15`

and get error

`<!DOCTYPE html>
<html>

<head>
	<title>The page you were looking for doesn't exist (404)</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<style>
		body {
			background-color: #EFEFEF;
			color: #2E2F30;
			text-align: center;
			font-family: ari

[2021-11-23 04:12] #3431 closed

[2021-11-23 04:22] Stephen-Lobo commented on #3428
I am tried to use all PUT/PATCH/POST for {{host}}/{{api_version}}/accounts/{{account_id}}/contacts/some_contact_id through POSTMAN

with simple payload "
{
  "thumbnail": "url_of_some_picture.png"
}

This doesn't works.

if I send similar request with complex payload like :

{
  "thumbnail": "url_of_some_picture.png",
   "phone_number": "1232323",
    "otherparam": "param_options"
}

All other par

[2021-11-23 05:41] rahulmr commented on #3420
@pranavrajs any insights on this? I had further discussion and came to know that we also want time spent per conversation per day by agent along with a date filter.

[2021-11-23 08:18] tejaswinichile opened #3446 "feat: Consider business hours while generating the reports"
**Is your enhancement request related to a problem? Please describe.**
We are not considering the week's off days now while generating the report which affects the average resolution time.

**Describe the solution you'd like**
We should consider the week's off days that we mention in the settings while generating the report.

**Describe alternatives you've considered**
While generating the report

[2021-11-23 08:22] tejaswinichile commented on #3446
<img width="400" alt="report_fix" src="https://user-images.githubusercontent.com/10827585/142990603-1d680579-6517-478e-924a-fc69ed6c82a8.png">

[2021-11-23 09:56] #3409 closed

[2021-11-23 11:05] sojan-official commented on #3428
## Current behavior
- If an `avatar_url` parameter is passed in `setUser` method of widget SDK, chatwoot will update the contact Avatar.
- if no `avater_url` is passed. But the contact has an email address, Chatwoot renders the gravatar for the contact if present ( chatwoot doesn't locally cache the gravatar. it generates the hashed URL for gravatar in backend instead )
ref: https://github.com/cha

[2021-11-23 11:13] voko3456 opened #3448 "add support to replay to Instagram mention and comments"
add support to replay to Instagram mention and comments

[2021-11-23 11:17] tejaswinichile commented on #3448
This feature is on hold currently https://github.com/chatwoot/chatwoot/issues/2096 We are not yet supporting the FB comments and Instagram comments or mentions.

[2021-11-23 11:18] #3448 closed

[2021-11-23 12:07] #2557 closed

[2021-11-23 12:42] fabriciorissetto commented on #3425
Hello guys, updating you here: besides the suggested change has significantly improved that endpoint performance, it's still being called a lot and we disabled it again. We will investigate it further along these week. It seems to be an issue in the frontend, maybe some stage management issue on vue.js. I need to consider it might be related to a set of (really) small changes we did in the fronten

[2021-11-23 13:05] sojan-official commented on #3425
@fabriciorissetto  thanks for reporting. Will wait back for your findings.

@rahulmr  We will bring the change to develop as a fix once we hear back from fabricio along with any other changes if required.

[2021-11-23 13:41] sojan-official commented on #3441
@wasannoom we will need to update the swagger docs I think.
Here is the postman call for the same : https://www.postman.com/chatwoot/workspace/chatwoot-apis/request/162770-efac7f9b-5cb6-4f94-b1a3-67070b2b54b4

the correct URL is `{{host}}/{{api_version}}/accounts/{{account_id}}/inbox_members/{{inbox_id}}`

example :
[code]

[2021-11-23 13:42] Robinjoeh commented on #3378
Yeap - this should be highly prioritized. I helped a few organizations to test Chatwoot and this was the most critical thing for all of them. Using the email channel without signatures is a no-go for almost all organizations.

Even adding a basic text field (that accepts plain HTML), which is then appended to outgoing emails (sent by the specific user) would be sufficient to start with, and expand

[2021-11-23 13:48] jean-philippeansel commented on #3378
@Robinjoeh

Exactly! Basic text field that accepts plain HTML is enough, and users can host images externally if they need to include company logo, social network icons, etc.

This is the main issue (along with #3304 - All outgoing emails are sent from accounts@chatwoot.com) that prevents us from using Chatwoot.

[2021-11-23 13:51] sojan-official commented on #3424
throwing some ideas

- integrity indicator for custom attributes, add via setCustomAttibutes SDK call ( with out the security hash )
<img width="335" alt="Screenshot 2021-11-23 at 7 17 04 PM" src="https://user-images.githubusercontent.com/73185/143035700-f7bf98fd-66ca-4539-8a46-81514b1fb8c2.png">

- enhance update custom attributes endpoint with an optional hmac hash.  [ make it mandatory via inbo

[2021-11-23 15:29] wasannoom commented on #3441
@sojan-official It works! Thank you for your answer :D

[2021-11-23 15:29] #3441 closed

[2021-11-23 16:39] ugintl opened #3449 "Operations cost"
What will be the **minimum** cost of running this system on heroku and digital ocean. If anyone already using it, please share your experience. Thanks.

[2021-11-23 16:40] ugintl opened #3450 "Share your use case"
Hello community. If you are already using the system, Please share your use case here.

[2021-11-23 17:25] sojan-official commented on #1767
@muhsin-k  @tejaswinichile  We could probably have a use case for the upcoming automation based on this.

- Ability to unassign the conversation when the conversation is marked as resolved. ( so that round-robin will pick it up when its reopened again )

[2021-11-23 17:26] sojan-official commented on #3238
@shivamsinghchahar  we are still specing this out because of the case of existing integrations. Will update the issue once its complete.

[2021-11-23 18:35] iammattmartin commented on #3450
I'd recommend you raise in the discussions section instead.

This isn't really an issue.

[2021-11-23 18:37] #3450 closed

[2021-11-23 20:40] jdsalchow commented on #3378
This would be helpful indeed :)

[2021-11-23 21:25] rahulmr opened #3452 "Query: get List of conversations based on time like CSAT report"
Is there anyway we can list of conversations based on creation time?

For example, when I see the CSAT surveys page I see list of items which can be filtered based on creation date and also based on agent.

Is it possible to create a page with list of conversations which can be filtered based on creation date instead of all with respect to page number?

[2021-11-24 03:30] #3383 closed

[2021-11-24 04:21] nithindavid opened #3454 "bug: Cannot copy text content from sidebar"
With the new draggable sidebar feature there is no way one could copy text content from sidebar.

- We might need to disable the drag over content inside the content area
- Make only the title or collapsed box draggable, Show a different mouse pointer to tell user it's draggable `cursor: grab;`

https://user-images.githubusercontent.com/1277421/143174208-bc4c8f96-f0b1-4415-9096-ce4f00478b09.mov

@

[2021-11-24 06:38] Vikash-P opened #3457 "SSO based login"
Hi Team,

It's very difficult to understand who has replied to which mail. It would be great if chatwoot automatically understands through the login id used along with SSO based login enabling at their end

[2021-11-24 08:16] vishnu-narayanan commented on #3449
@ugintl You can get started with Chatwoot for `5 USD per month` droplet on DigitalOcean. Heroku would cost you around `14 USD per month`(assuming 2 Hobby dynos for web/worker and using Postgres/Redis as free addons).

[2021-11-24 08:27] #3314 closed

[2021-11-24 09:16] sojan-official commented on #3159
fixed in https://github.com/chatwoot/chatwoot/pull/3241

[2021-11-24 09:16] #3159 closed

[2021-11-24 09:22] 1t5j0y opened #3458 "setCustomAttributes call fails due to HMAC failed error"
**Describe the bug**

On an inbox with 'Enforce User Identity Validation' enabled, I am calling the JS setUser and setCustomAttributes methods. The setUser call is successful but the setCustomAttributes call fails.

Error response for the request to `PATCH https://<redacted>/api/v1/widget/contact?website_token=<redacted>` is
Code: `401 Unauthorized`
Body: `{"error":"HMAC failed: Invalid Identifier

[2021-11-24 10:09] DDoerner commented on #3427
I don't know whether it's the same issue, but when we send a file with whatsapp (be it a image or video) then we don't get notified via our slack integration. The file is visible in the chatwoot portal, but neither the file nor a notification about it is sent with the slack integration. As we solely work via the integration and not with the portal itself, we would miss these files.

@voko3456 is t

[2021-11-24 19:46] JosueRTV opened #3462 "Bug: Problem importing contacts info"
**Describe the bug**
Problem importing contacts info

When importing the csv file with id, name, identifier, email, and phone_number the phone_number and id are saved as custom_attribute

**To Reproduce**

Steps to reproduce the behavior

1. Generate CSV file with id, name, identifier, email, phone_number
2. In contacts select import > Browser > select file > import
3. Find the created contact (s)

[2021-11-25 08:33] jusce17 commented on #1704
This issue is almost a year old, and update on it ?

TIA

[2021-11-25 08:43] vishnu-narayanan commented on #1704
@jusce17 Did you encounter this issue recently?

[2021-11-25 08:51] jusce17 commented on #1704
Yes, 2 days ago and I've been struggling with it until now

[2021-11-25 11:27] jusce17 commented on #1704
Hey @vishnu-narayanan

I dont think it is an actual bug.

As I am running on MAC I edited my .env file and changed the `POSTGRES_HOST` from:

[code]

to

[code]
I have just started using chatwoot and I am not sure how mature it is for production kicks

[2021-11-25 12:55] joshymg commented on #3272
This is a badly needed feature. My client is about to shut down my project because of this. Back to searching for an alternate.

[2021-11-25 13:00] joshymg commented on #2443
"this let them follow the relevant conversation even when the assignment changes"
That will be a deal killer for me. If the 'participant' is removed from the conversation, then they should not be able to view that any longer.

[2021-11-25 13:22] sojan-official commented on #2443
@joshymg  `assignment` denotes ownership of the issue, `participation` denotes permissions to access the conversation/who should receive notifications.

- `assignment` is extra responsibility added to a participant
- removing a person from the participant list will remove their access to the conversation as well.

[2021-11-25 14:02] vishnu-narayanan commented on #1704
Is it working for you with `POSTGRES_HOST=host.docker.internal`?

It should be working with `localhost` btw. Could you see if you can access the `postgres` container locally?

[2021-11-25 14:30] jusce17 commented on #1704
@vishnu-narayanan  would you please guid me on how to do it ?
If by accessing locally you mean ` docker exec -it chatwoot-postgres-1 bash` , I can access it with no  problem

[2021-11-25 14:49] Alarees opened #3465 "using apache2 insted nginx"
i am tried to install chatwoot server on my server (ubuntu 20.04 ), but i had issue, and i think it's becouse chatwoot server trying to use `nginx` server and nginx conf, and nginx in my server not working
who to solve this issue ?

[2021-11-25 15:11] vishnu-narayanan commented on #1704
No. Since you are having an issue with accessing postgres against the `localhost`, try installing the `psql` cli locally and see if you can access the postgres db container.

`psql -h localhost -p 5432 -U postgres`

[2021-11-25 15:14] vishnu-narayanan commented on #3465
@Alarees Could you please update the issue description with more context ? Please follow the below template.

----
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

[2021-11-25 15:31] jusce17 commented on #1704
@vishnu-narayanan
I changed my `POSTGRES_HOST` to localhost

just running `psql -h localhost -p 5432 -U postgres` gives me :
[code]
if I spin up the container first `docker-compose up -d `

it asks me to login and works fine
[code]

Changing my  env to `POSTGRES_HOST=host.docker.internal` again and ran `psql -h localhost -p 5432 -U postgres`
it also asks me to login and works fine

[2021-11-25 15:31] jusce17 commented on #1704
I can access the container, but it looks like, the other containers cannot access it

[2021-11-25 17:59] tejaswinichile commented on #3195
**Notes:**
Assign Teams: We assign only one team, so team dropdown would have a single selection.

Assign Best Agent: We assign only one agent, so the agent's dropdown would have a single selection.

Send email to the team: The team should be part of the account. This will require 2 params, one for team ids and the other for the email content.

[2021-11-26 04:13] akhilgkrishnan commented on #3428
@sojan-official  I can pick this up

[2021-11-26 07:01] sojan-official commented on #3428
@akhilgkrishnan  please go ahead

[2021-11-26 07:52] rahulmr opened #3467 "timeoutable on devise in config does not work for agent login timeout"
**Describe the bug**

timeout_in config for devise does not work on self hosted chatwoot application

**To Reproduce**

In self hosted chatwoot applications when I change config\initializers\devise.rb
[code]
**Expected behavior**

Agent must be signed out automatically in 5 minutes of in activity.
This is not happening.

**Environment**

Chatwoot develop branch on ubuntu using docker-compose - ENV

[2021-11-26 11:30] TheIrritainer commented on #2021
Hello @sojan-official, I might have found a clue how to reproduce this bug;

apparently you run into this when you delete an account in the super admin. That account deletion does not clean the access_tokens and the platform_app_permissibles

hope it helps

[2021-11-26 14:53] sojan-official commented on #2021
@TheIrritainer  Thanks a lot for reporting back. Let me try to reproduce this with the mentioned test case.
We will add a migration to clean up the orphaned records.

[2021-11-26 14:59] kodermax opened #3468 "Bug on Signup"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '/app/auth/signup'

**Screenshots**

![image](https://user-images.githubusercontent.com/590985/143599393-1c5b4c4f-c7c3-40cb-9d70-fef6b6c3de29.png)

[2021-11-26 16:46] sojan-official commented on #3468
@kodermax  is it on a self-hosted instance or on app.chatwoot.com ?

[2021-11-26 19:05] Alarees opened #3470 "Error installing server"
**Describe the bug**

after the installation compleated, i get the flowing error (We're sorry, but something went wrong. If you are the application owner check the logs for more information.)

**To Reproduce**

Steps to reproduce the behavior:
1. run codes on [doc page](https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm)
[code]
2. entering yes when prompted about domain setup
3. navigat

[2021-11-26 19:26] #3107 closed

[2021-11-26 21:15] fabriciorissetto commented on #3425
Hello guys, we were able to find the problem. Here is a [recording](https://www.loom.com/share/2210c3be79284a519a72be5f8f4a9fe5) showing how to simulate the problem.

This chatwoot instance is a sandbox environment we use sometimes for testing (is not our production version). It was deployed about a month ago using the button "Deploy to Heroku".

Our engineer who found the problem, @pedrohenriquep

[2021-11-26 21:36] pedrohenriquepires commented on #3425
Hello folks,

As you can see in the @fabriciorissetto recording, the problem is at the `scrollToMessage` event listener, that is created on the `MessagesView` component.

![image](https://user-images.githubusercontent.com/6934800/143655949-a713f461-58c3-4dfb-b176-04769d0055f5.png)

This component never calls the `unmounted` lifecycle for some reason. I'm not a Vue developer, so I don't know exaclt

[2021-11-27 03:37] #3317 closed

[2021-11-27 03:56] #1583 closed

[2021-11-27 04:16] #3380 closed

[2021-11-27 10:08] #2041 closed

[2021-11-27 12:04] sojan-official opened #3474 "chore: Add validation for account auto resolution time"
At the moment a person can configure even value `999999` for account auto resolution time in the account settings page. Which in the backend would give an `::DatetimeFieldOverflow: ERROR: timestamp out of range`

- [ ] Set maximum auto resolution time period to 999 days
- [ ] Frontend validation to show error if range crosses that
- [ ] Backend validation to prevent values saved over 999 days

[2021-11-27 14:56] thundersparkf commented on #737
@sojan-official  Hey! Sorry for delay got caught up elsewhere. Was just trying it out and need a little bit of clarity. I presumed that you mean the customer's profile picture. I've already added the user_show method in twitty but now I'm a bit lost on where im supposed to use it.

[2021-11-28 14:24] WevrLabs commented on #3474
While on this, is it possible to add another validation for auto-resolution, by excludeling conversations where the last message is not from agent. That is, executing auto-resolve only on conversation where the last message or reply is from an agent.

Case scenario here is that a month we had a situation where internet access to agents and staff was ceased for a period of approximately 30 hours na

[2021-11-28 21:12] Giszmo opened #3475 "Please fix the Caprover Upgrade instructions!"
**Describe the bug**

I follow [the instructions](https://www.chatwoot.com/docs/self-hosted/deployment/caprover#upgrading-chatwoot-installation) but my chatwoot remains stuck on version `v1.10.0`.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Caprover -> apps -> chat-web -> deployment -> 5
2. Paste this exact block:
[code]
3. Click deploy
4. See version in Chatwoot Account settings

[2021-11-28 22:16] Giszmo commented on #3475
So I found #1347 to probably be the relevant duplicate which makes me want to change the topic: Please fix the Upgrade instructions! They don't say you have to do anything but paste that block of gibberish (to the laydeveloper) and hit "deploy".

[2021-11-29 11:15] #3475 closed

[2021-11-29 11:15] sojan-official commented on #3475
@Giszmo  Thanks for fixing this.

[2021-11-29 11:18] sojan-official commented on #737
@thundersparkf  no worries.
if you navigate to the setting -> inboxes. you can see that the inboxes have avatars that were fetched from their original channel. We are looking to have twitter avatars updated here as well.

let me know if you have any questions.

[2021-11-29 11:36] sojan-official opened #3476 "Bug: Invalid error message when updating a contact"
When updating contact information from the sidebar, with a phone number that is already associated to another contact, the system displays the invalid error "Duplicate email address" instead of "Duplicate phone number"

## Steps to reproduce

1. Create contact a with phone number: +12222222
2. Create contact B
3. Navigate to contact pannel, select contact B and try to update contact b with phone n

[2021-11-29 16:00] azyzio commented on #2520
We have just pushed the develop branch to production to discover this feature :) Looks great!

I wonder what how it is compatible with the previous approach of "forwarding" email via mailgun. It seems there are now two separate ways to implement email channel. Are you going to deprecate the "old" one? I'm not really sure what are the differences between them.

Best,
Adam

[2021-11-29 16:02] azyzio commented on #1664
Thanks a lot for prioritizing this!

[2021-11-29 18:25] fabriciorissetto commented on #3425
Thank you for your quick responses as well @pranavrajs :rocket:

[2021-11-30 15:20] #3426 closed

[2021-11-30 15:28] sojan-official commented on #3425
fixed in https://github.com/chatwoot/chatwoot/pull/3478

[2021-11-30 15:28] #3425 closed

[2021-11-30 17:10] vishnu-narayanan commented on #3470
@Alarees I am not able to reproduce this issue.  I just tried a fresh install and it seems to be working as expected. From your logs, it seems the installation part is successful.  The SSL on your domain also seems okay and thus `nginx` part should also be fine.

Could you check the rails server logs when you are trying to access the webpage ?

[2021-11-30 19:50] Alarees commented on #3470
Hi,
i just reinstall ubuntu on my server, and then install chatwoot server and it works fine,
and after that i install ispconfig
it looks like some of ispconfig configrations doesn't work will with chatwoot server

[2021-11-30 19:50] #3470 closed

[2021-11-30 19:50] Alarees commented on #3465
solved in #3470

[2021-11-30 19:50] #3465 closed

[2021-12-01 08:08] brentco opened #3484 "Allow always online status"
**Is your enhancement request related to a problem? Please describe.**
When the inbox is primarily covered by a bot, and no agents are online (because they don't need to be) the chat widget will say "away at the moment".

**Describe the solution you'd like**
A way to keep the status on online. Furthermore, it would be nice if instead of choosing between a list of "replies within x", let the inbox

[2021-12-01 08:14] brentco opened #3485 "Creating a new conversation for a user does not replace it in web widget"
**Describe the bug**
I was told in the past that when you create a new conversation for a certain user, the chat widget will load the new conversation instead of the existing one. This however doesn't happen. Above that, it will take a page refresh to have the chat widget realize it.

This ties in to being able to actually END a conversation so that a user can no longer talk in that conversation a

[2021-12-01 08:15] kacperc-activenow commented on #3458
I am having the same issue, but with some GET requests, is it normal? When I tried to replicate it on localhost, params used to verify HMAC - identifier and identifier_hash returned `nil` for the failed requests for some reason.

Also users get identified properly, but custom attributes are not being set at all.

![obraz](https://user-images.githubusercontent.com/60870179/144194699-d63ca425-d0eb-4

[2021-12-01 08:35] brentco opened #3486 "feat: Make conversation continuity in website channel optional"
**Is your enhancement request related to a problem? Please describe.**
I can't find where to disable transcripts. When the conversation is resolved (or there are new messages) the user always gets an email with the transcript.

**Describe the solution you'd like**
I would like to control this behavior by being able to disable such email communication unless explicitly requested by the user (at the