[2021-12-01 08:40] brentco opened #3487 "API to actually CLOSE a conversation"
**Is your enhancement request related to a problem? Please describe.**
Related to #3485 , when I resolve a conversation, the user does not see anything and can still talk in the conversation. This does not fit in a session-based chat approach where every time a user wants to chat, it starts a session (and blank conversation).

**Describe the solution you'd like**
An API to actually CLOSE a convers

[2021-12-01 08:40] brentco commented on #3487
Will experiment a bit more with CSAT and I will update this ticket if necessary.

[2021-12-01 08:43] brentco opened #3488 "API and SDK for custom events"
**Is your feature request related to a problem? Please describe.**
Today we had a requirement where when the agent or bot did something on their end, something happened in the customer's browser. For this, we created an additional websocket connection over which we send events.

**Describe the solution you'd like**
Considering Chatwoot already has a websocket connection, and already controls the c

[2021-12-01 08:45] brentco opened #3489 "Ability as super admin to confirm a user via GUI"
**Is your enhancement request related to a problem? Please describe.**
In our test environment we create agents with fake profiles (and thus fake emails). However, they are unusable until they are confirmed and a developer has to step in and execute rails commands to manually activate the user.

**Describe the solution you'd like**
As super admin or regular admin, be able to verify agents without

[2021-12-01 09:14] brentco commented on #2995
We have as a workaround implemented a sidecar websocket in which we send bi-directional events to the backend that controls the chat. I have posted this in my issue #3488

[2021-12-01 09:30] sojan-official commented on #3485
@brentco  the new conversation should be created with the same contact_inbox  under which the conversation is happening in the chat widget.

[2021-12-01 09:31] sojan-official commented on #3484
@brentco one option is to configure business hours in a way that you are available 24/7 .  The chat widget will rely upon the business hour configuration instead of the agent online status.

[2021-12-01 09:38] brentco opened #3490 "[CW-34] Disable user input in CSAT"
**Is your enhancement request related to a problem? Please describe.**
The normal flow of a bot conversation in my use case, is that Chatwoot sends a webwidget_triggered event to my bot and the bot starts talking. This event gets sent when the user clicks on the chatwoot bubble.

When resolving a conversation, and having CSAT enabled, I can achieve what I described in #3487. However, CSAT shows a

[2021-12-01 09:43] brentco commented on #3484
That indeed looks promising, however, when I save the time slots, it resets to time windows of 8 hours after saving.

[2021-12-01 09:46] sojan-official commented on #3484
@brentco  could you try configuring between 12:00 am to 11:30: pm (23.5 hours) slots?

[2021-12-01 09:48] brentco commented on #3484
@sojan-official Yep that works, I assume that's a small bug then?

[2021-12-01 09:51] sojan-official opened #3491 "bug: can't configure 24 hour working slots in business hours"
When I try to configure 24-hour working slots 12:00 am - 12:00 am in business hours, even though the UI responds with a success message, the slots get reset to the older values.

https://user-images.githubusercontent.com/73185/144212016-7b48d100-10b8-4b11-9acf-c364b6736864.mov

[2021-12-01 09:52] sojan-official commented on #3484
yep. logged https://github.com/chatwoot/chatwoot/issues/3491 to track the same.

[2021-12-01 10:04] brentco opened #3492 "bug: Sometimes chat widget icons are weird characters"
**Describe the bug**

Sometimes the chat widget icons don't seem to get loaded properly and they are just weird symbols.

**To Reproduce**

Steps to reproduce the behavior:
1. Call $chatwoot.reset();
2. Open chat bubble again

Alternatively, it also just occurred with:
1. Have chat open
2. Create a new conversation via API
3. Refresh chat page
4. Open chat bubble again

**Screenshots**

![image](h

[2021-12-01 10:09] kodermax opened #3493 "user id for window.$chatwoot.setUser"
What the user id should I pass to setUser(userId,...)?

[2021-12-01 11:04] brentco commented on #3493
Anything of your choosing as long as it's unique to a user.

[2021-12-01 12:05] sojan-official commented on #3493
as mentioned by @brentco it is recommended to pass the unique identifier you have in your system for the logged-in user.

[2021-12-01 12:05] #3493 closed

[2021-12-01 12:22] Stephen-Lobo opened #3495 "API Contact search + fails"
**Describe the bug**
Search contact via API fails if contact number contains **+** Prefix

**To Reproduce**
Steps to reproduce the behavior:

1. Search any contact with + and without + prefix through GET Command Via API / Postman
2. For eg use contact number +123456789. The search does not works.
3. Now search same contact number without +, it works.

**Expected behavior**
API Get command for sear

[2021-12-01 13:28] sojan-official commented on #2520
@azyzio We will be retaining both options. When SMTP and IMAP are enabled the email channel will use the provided configuration to work.  otherwise, it falls back to the "forwarding" approach.

SMTP and IMAP configuration is suited for inboxes where you receive relatively fewer emails ( under the provider's sync limits )  and have the advantage that the replies go from the email to which the custo

[2021-12-01 14:12] brentco opened #3497 "Feature: Desktop notifications for agents"
**Is your enhancement request related to a problem? Please describe.**
Audio notifications are not enough to alert an available agent to a new assigned conversation.

**Describe the solution you'd like**
Browser desktop notifications would be a bit better.

**Describe alternatives you've considered**
Mail notifications, but not as quick and maybe not as visible unless email client is customized.

[2021-12-01 15:39] chris-garner commented on #3373
It would also be great to have an event for things like `label_changed` or even better, build a mechanism for an agent to push any arbitrary event for a specific chat/context. For example, let's say an agent picked up a sales chat and they deem the lead to be of high value/likely to convert, it would be great if they could trigger an event (eg `likely_to_convert`) that allows the client-side to su

[2021-12-01 17:44] pranavrajs commented on #3487
We have an issue with ending the conversation. You can see the details here. https://github.com/chatwoot/chatwoot/issues/2830

I guess this issue would be solved via https://github.com/chatwoot/chatwoot/issues/2827. If so, please close this one :) We will take this up in the next releases.

[2021-12-01 17:47] pranavrajs commented on #3495
Hey Stephen, Can you please share a screencast? It seems like the API is working for me with or without + sign, and I see that we have covered this issue already here https://github.com/chatwoot/chatwoot/pull/3241/files

[2021-12-01 17:48] pranavrajs commented on #3497
@brentco We have browser push notifications already in Chatwoot. You can enable them in your profile settings. Can you please share whether you are using a self-hosted installation, if so are you on the latest version?

[2021-12-01 21:08] thedev105 commented on #3476
@sojan-official can I take this issue?

[2021-12-01 22:00] pranavrajs commented on #3476
@thedev105 Sure, please go ahead.

[2021-12-01 22:01] pranavrajs commented on #3052
@shivamsinghchahar I'm unassigning this ticket as there is no activity and we would like to prioritize a fix for this.

[2021-12-02 00:37] thedev105 commented on #3476
@pranavrajs PR #3500 is ready for review!

[2021-12-02 03:29] yangbailiang opened #3501 "Qmail was unable to send the message"
I configured the STMP of my qmail, but he couldn't send email, so the account I created couldn't be activated. This problem bothered me for two days.
[code]

[2021-12-02 06:15] yangbailiang commented on #3489
@brentco How can I activate my account manually

[2021-12-02 06:53] yangbailiang commented on #3501
I don't know how to check the specific logs. The information available from "docker compose logs - F" is very limited

[2021-12-02 08:45] Robinjoeh opened #3503 "bug: CCing people from other conversation"
**Describe the bug**

Chatwoot is CC:ing contacts based on the previous message.

**To Reproduce**

Steps to reproduce the behavior:
1. Open a conversation
2. Reply to a conversation and add CC recipient, email will be sent correctly
3. Reply to another conversation (from a different person) and the person you CC:ed in the previous conversation will be included in this one as well. The "CC" field

[2021-12-02 09:54] brentco commented on #3489
@yangbailiang With the following steps:
1. run command `bundle exec rails console`
2. ```user = User.find_by(email: "<agent email here>")
user.confirm
user.password = '<password here>'
user.save
[code]

[2021-12-02 09:56] brentco commented on #3492
@pranavrajs Aha okay that's good! Do you have a release date for the next release?

[2021-12-02 09:58] brentco commented on #3487
Ok, closing! Perhaps this can be used as extra information.

[2021-12-02 09:58] #3487 closed

[2021-12-02 10:00] brentco commented on #3497
@pranavrajs Ah, we are running self-hosted via Docker. The current version is v1.18.1. We are waiting for some upcoming features to upgrade everything.

[2021-12-02 10:06] brentco commented on #3485
Hi @sojan-official, it seems like a mistake on my end. Does it matter if this API call is invoked with bot API key or administrator API key? In my tests both seem to work (after page refresh) while in my backend calls it doesn't work... so I'll have to investigate on my end! I'll close this issue if it was my mistake.

[2021-12-02 10:09] brentco commented on #3490
@pranavrajs I suppose this is related to #2830 and could be fixed with that?

[2021-12-02 10:47] sojan-official commented on #2443
note: temporary workaround  shared by techworkpro on #discord
ref: https://discord.com/channels/647412545203994635/647729576427913228/915803454121848882

[2021-12-02 10:53] sojan-official commented on #3497
@brentco  We have made some significant changes over the recent versions. You could take a look at the changelog here
ref: https://www.chatwoot.com/changelog/

Browser push notifications are already available in chatwoot.

In the older version, you can configure them by adding the environment variables mentioned in this doc
https://www.chatwoot.com/docs/self-hosted/configuration/environment-variab

[2021-12-02 10:53] #3497 closed

[2021-12-02 11:11] Brokray opened #3504 "BUG : Changing availability as an agent does not work"
**Describe the bug**

As an agent, I try to change my availability, nothing changes, I am stuck as "Online".

**To Reproduce**

Steps to reproduce the behavior:
1. Connected as an agent (or administrator), anywhere on the platform.
2. Click on "Change" near the displayed status (usually "Online).
3. Click on "Busy", or "Offline".
4. Nothing change and there is no error thrown.

**Expected behavior

[2021-12-02 11:21] Brokray commented on #3504
It seem to works again after restarting, however, I do not understand how it happened in the first place, any idea? 🤔

[2021-12-02 11:37] sojan-official commented on #3504
@Brokray  did it happened randomly or any specific cases like just after an update ?

[2021-12-02 12:58] sojan-official commented on #3485
@brentco You can create a conversation using either API key it should be fine. Bot the objects have permissions to access the conversation to create an end point. it's just when it comes to other endpoints bot API key has limited access.

[2021-12-02 13:19] Stephen-Lobo commented on #3495
There is definitely search bug in current version. Pls see screenshot video:

https://user-images.githubusercontent.com/87435610/144429646-1fdf6c60-b996-49fd-91f5-01600be73ab6.mov

[2021-12-02 13:39] sojan-official commented on #3062
fixed in https://github.com/chatwoot/chatwoot/pull/3434

[2021-12-02 13:39] #3062 closed

[2021-12-02 14:00] sojan-official commented on #3454
@muhsin-k  @iamsivin  Let prioritize this based on the bandwidth.

[2021-12-02 17:12] sanjayws commented on #3308
I made a very simple yet workable Botpress integration with CW using the great guide from here https://github.com/chatwoot/rasa-agent-bot-demo. Do reach out, happy to share my very rudimentary php code.

[2021-12-02 17:12] sanjayws commented on #2502
I made a very simple yet workable Botpress integration with CW using the great guide from here https://github.com/chatwoot/rasa-agent-bot-demo. Do reach out, happy to share my very rudimentary php code.

[2021-12-03 03:12] #3190 closed

[2021-12-03 04:46] sojan-official commented on #2502
@sanjayws  if you have the code in a git repo, please feel free to share it. I am sure the community will be happy to play around with it and give feedback.

[2021-12-03 05:33] #3343 closed

[2021-12-03 07:20] sojan-official commented on #3488
closing in favor of https://github.com/chatwoot/chatwoot/issues/2995

[2021-12-03 07:20] #3488 closed

[2021-12-03 07:23] sojan-official commented on #3373
ref: https://github.com/chatwoot/chatwoot/issues/3373

[2021-12-03 07:49] #3476 closed

[2021-12-03 07:56] sojan-official commented on #3501
@yangbailiang could you double-check the spelling and value for `SMTP_ADDRESS`. In your config, you provided it is missing an `S` in the end.

[2021-12-04 16:35] ahmednamoha opened #3510 "JSSDK Option is Not Toggled Please toggle the "Login with Javascript SDK" Option to Yes in developers.facebook.com to use the JSSDK for Login."
JSSDK Option is Not Toggled
Please toggle the "Login with Javascript SDK" Option to Yes in developers.facebook.com to use the JSSDK for Login.

[2021-12-06 07:08] sojan-official commented on #3510
Go to your FB developer page, choose your FB app, for Facebook login settings, and turn on the SDK option

![144567664-2572d7ee-bef9-452e-bdb1-992ad22fedd4](https://user-images.githubusercontent.com/73185/144802586-013efeb2-354d-43b7-a4f1-61ad3b55fe3c.png)

ref: https://github.com/chatwoot/chatwoot/discussions/3397

[2021-12-06 07:08] #3510 closed

[2021-12-06 07:16] sojan-official commented on #1886
An improvement will be available in our latest release which will improve the canned response search.
The keyword search is performed across the short ode as well as the response content, so uses should see better search results.
ref: https://github.com/chatwoot/chatwoot/commit/add004a56e9c7155659f602f818775fa1a80b852

[2021-12-06 08:39] Robinjoeh commented on #3503
Have you been able to reproduce this? It has happened several times now, and if you need more info I'll be happy go gather more details.

[2021-12-06 09:08] #3454 closed

[2021-12-06 12:46] #2950 closed

[2021-12-07 05:44] ahmednamoha commented on #3510
thanks it is helped me

[2021-12-07 08:47] vishnu-narayanan opened #3513 "Modify linux script to provide a choice for the components to install"
**Is your feature request related to a problem? Please describe.**
The current version of the linux installation script is highly opinionated and installs all the dependencies together.  Make this configurable from the user side.

**Describe the solution you'd like**
Provide a choice to select the components to install. Ideally, the script should be able to just install chatwoot alone.
`Postgres`,

[2021-12-07 09:55] sojan-official commented on #3503
@Robinjoeh We have been able to reproduce the issue and we are working on fix for this

[2021-12-07 09:56] Robinjoeh commented on #3503
@sojan-official Perfect, keep up the good job!

[2021-12-07 11:53] voko3456 opened #3517 "add ability to send interactive session messages via automation"
![92940135-57560580-f414-11ea-955d-a29370edc450](https://user-images.githubusercontent.com/20530550/145024448-0bc9a664-22c5-4f97-b33a-157f385d5452.png)

[2021-12-07 12:19] tejaswinichile commented on #3517
We have this issue mentioned here https://github.com/chatwoot/chatwoot/issues/3195#issuecomment-947911895 I am closing this as it's an already mentioned requirement.

[2021-12-07 12:19] #3517 closed

[2021-12-07 18:14] #3503 closed

[2021-12-07 18:17] sojan-official commented on #3052
ref: https://github.com/chatwoot/chatwoot/issues/3157

[2021-12-07 18:17] sojan-official commented on #3157
@srameshr missed out on the follow-up on this issue. We could definitely improve this flow by adding a trigger to resend the confirmation email

[2021-12-07 20:21] NusretOzates opened #3520 "Inconsistency in the API documentation and webhook events documentation"
**Is your enhancement request related to a problem? Please describe.**
It is a very very tiny problem but I want to contribute :) In the API documentation, it says the ID of the Agent is the type of integer. In the documentation of the webhook events, the ID of the Agent seems like a string. But when I get a "message_created" event, the ID  of the Agent is an integer.

![image](https://user-images

[2021-12-07 22:01] dominikmukrecki opened #3521 "Portainer Docker Compose stack — base container not running"
**Describe the bug**

I am using these stack files (docker-compose.yaml and .env):

https://github.com/dominikmukrecki/chatwoot-portainer-stack.git

After setting up the stack in Portainer chatwoot_base container is not working and after restart immediately stops.

The same issue reproduces after using docker-compose up directly from the terminal.

**To Reproduce**

Steps to reproduce the behavior

[2021-12-08 03:38] heroic commented on #1886
We've added variables in canned responses in our fork. Happy to contribute it back. We're passing an extra parameter in the get api, `conversation id`, and adding contact level variables for now. It should be easy to add more variables based on need. We're using variables like Zendesk does.

Using liquid for templating, so it should be possible to even allow conditions, and some logic if so desire

[2021-12-08 04:49] sanjayws opened #3523 "Can't display advanced filters"
**Describe the bug**

I've setup 3 instances of CW on Ubuntu 20.04 using the linux script. On all 3 instances, i can't seem to find the advanced filters as stated in https://www.chatwoot.com/docs/product/others/advanced-conversation-filters.

Any advice would be highly appreciated. Thank you.

![image](https://user-images.githubusercontent.com/25242465/145150041-d4c2827a-afb5-43ce-a970-8a621b86b2b

[2021-12-08 09:17] Brokray commented on #3504
I am not quite sure, we did the update but only saw the problem like one week later (nobody tried to change their status in the meantime...).

So it may be just after an update, indeed!

[2021-12-08 10:49] sojan-official commented on #3504
@Brokray The availability statues are cached in Redis, So it could be an issue with the cache. Please keep us posted if this is reoccurring and we will take a look.

[2021-12-08 11:18] Robinjoeh commented on #3424
I don't think a setting to disable `setCustomAttributes` completely is a good option.

I've done some tests with this and noticed that the `setCustomAttributes` actually fails when HMAC authentication is enforced on the channel, meaning the parameters actually do not get saved in Chatwoot due to this.

I guess the easiest solution would be like @sojan-official suggested, to be able to enforce HMAC

[2021-12-08 11:29] sojan-official commented on #3523
@sanjayws advanced filters in UI will be available in our upcoming release.  the Linux installation will install the last stable release.

if you want to give it an early try.

ref: https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm#upgrading-to-a-newer-version-of-chatwoot

instead of the command `git checkout master && git pull` do

[code]

[2021-12-08 11:29] #3523 closed

[2021-12-08 11:34] sojan-official commented on #3521
@dominikmukrecki  The base image is meant to be an intermediate image to build the worker and web images, it is not required for the base image to be running for the chatwoot instance to work.  Are you able to access the installation otherwise?

@vishnu-narayanan  if you give the portainer installation a try anytime, let's keep a fork of the configuration in chatwoot org as well to track the issue

[2021-12-08 11:44] sojan-official commented on #1886
@heroic  Raising a PR would be awesome. The team can evaluate the approach and give feedback, as well as some of the community members to give a it a try as well.

[2021-12-08 11:51] sojan-official opened #3529 "chore: cannot access command bar when input area is in focus"
If I have the reply box in chatwoot active, I am not able to access the command bar using the keyboard shortcut.

[2021-12-08 12:01] tejaswinichile opened #3530 "Add foreign key with delete cascade for destroy_async"
**Describe the bug**

We have added destroy_async but the `destroy_async option should not be used when the association is backed by foreign key constraints in the database.`

Find all the foreign key and update it with the `cascade: delete`

**To Reproduce**

Try to delete a record that has dependent: destroy_async present, it won't delete the record because of foreign key violation

**Expected b

[2021-12-08 12:22] heroic commented on #3529
IMO adding `hotKeys.filter = () => true;` to commandbar.vue should fix this.

[2021-12-08 14:17] sojan-official commented on #1886
ref: https://github.com/chatwoot/chatwoot/issues/3078

[2021-12-08 15:18] sojan-official opened #3531 "chore: ability to customise the name and avatar of bot"
I would like to customize the name and avatar for bot messages

- [ ] email collect
- [ ] out of business hour notifications etc
- [ ] https://github.com/chatwoot/chatwoot/issues/4745

[2021-12-08 22:05] dominikmukrecki commented on #3521
Issue successfully resolved for now. Change in docker-compose.yaml

`env_file: .env`

into

`env_file: stack.env`

and upload all .env variables into Portainer stack creator :)

[2021-12-08 22:05] #3521 closed

[2021-12-09 05:41] #3052 closed

[2021-12-09 05:44] srameshr commented on #3157
@sojan-official Ok, I will work on it. But, you will accept that PR right? If it's a modal that says "Send confirmation email" with an action button that triggers the /confirmation-email api?

[2021-12-09 05:58] Zigyy-love commented on #3052
api 3519

Sent from my iPhone

[2021-12-09 05:59] Zigyy-love commented on #3052
Hi are you open for play

Sent from my iPhone

[2021-12-09 07:24] vishnu-narayanan opened #3532 "dockerhub builds failing"
**Describe the bug**

Dockerhub builds are failing since today morning.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://hub.docker.com/repository/docker/chatwoot/chatwoot/builds

**Expected behavior**

docker builds should pass

**Screenshots**

n/a

**Browser logs**

n/a

**Server logs**

n/a

**Environment**

n/a

**Desktop (please complete the following information):**
n/a

[2021-12-09 07:25] vishnu-narayanan commented on #3532
Appears to be an issue from upstream as multiple users are reporting the same.

https://forums.docker.com/t/failed-to-authorize-rpc-error-code-unknown-desc-failed-to-fetch-oauth-token-unexpected-status-401-unauthorized/118562/5

[2021-12-09 07:27] vvovkata opened #3533 "Bulgarian language on Crowdin?"
Hello, can you please add Bulgarian on Crowding? I will translate everything.
Thanks!

[2021-12-09 08:10] ArchismanKarmakar commented on #3449
Heroku is a PaaS, Digital Ocean is an IaaS.

DigitalOcean comes with an OS pre-installed so you are only responsible for OS updates and upgrades. OS updates usually only take a few minutes per month and the only impact might only be down for a 20 seconds if you decide to reboot. OS upgrades are more serious but maybe only occur 1 - 2 per year. They can slow down the VM for an hour, force reboots a

[2021-12-09 15:25] prajeshmadhavi commented on #2902
I haved used API Channel to integrate with 360 Dialog. You can do so.

[2021-12-09 15:41] sojan-official commented on #3532
i have raised a support ticket

[2021-12-09 15:47] sojan-official commented on #3533
Added Bulgarian
https://translate.chatwoot.com/chatwoot/bg

[2021-12-09 18:17] norbert-they commented on #2021
@sojan-official It also happens when you are creating users and accounts via API

[2021-12-09 20:49] voko3456 opened #3536 "add ability to register specific webhook events and add new webhook events"
1-It's better to add option to register specific webhook events instead of listening to many events that's may not used and consume resources.

2-Add new webhook events :
- label Added to contact
- custom attributes updated
- label removed from contact

[2021-12-09 21:20] apvlv commented on #1374
bump

[2021-12-10 08:29] vishnu-narayanan commented on #3532
Looks like builds are working again.
<img width="1293" alt="image" src="https://user-images.githubusercontent.com/3526167/145542190-4b83e06d-70d3-479a-b572-4226748ee268.png">

[2021-12-10 09:10] sultanlive opened #3538 "feat: Ability to send Buttons from Chatwoot WABA (360Dialog)"

[2021-12-10 09:18] sojan-official commented on #3532
👍

[2021-12-10 09:18] #3532 closed

[2021-12-10 13:39] sojan-official opened #3539 "chore: Improve email reply parsing"
At the moment chatwoot uses a homegrown logic to parse message content in emails that need to be appended to the conversation. But this function tends to break down for specific email payloads. Since there are gems out there that solve this let's replace this logic with an existing solution instead.

ref: https://github.com/chatwoot/chatwoot/blob/dcdeaa79543939ccf0a4be50ce4bcb6811cb0795/app/presen

[2021-12-10 13:42] sojan-official commented on #3539
ref : https://github.com/chatwoot/chatwoot/issues/2954

[2021-12-10 13:45] sojan-official commented on #2996
Please feel free to reopen this if it reoccurs

[2021-12-10 13:45] #2996 closed

[2021-12-10 18:57] sojan-official commented on #3462
Was able to replicate this on my end. We will take it up for the upcoming release.

## TODO

- [ ] Phone number doesn't get updated currently to contact attribute, instead of to a custom attribute
- [ ] Confer with contact merge logic when a duplicate phone number exists
- [ ] Should support company attribute

### Changes required

#### Backend
https://github.com/chatwoot/chatwoot/blob/c2519ea1eab

[2021-12-10 19:00] #698 closed

[2021-12-10 19:02] sojan-official commented on #1089
The ability to search messages is available in chatwoot now
![Screenshot 2021-12-11 at 12 31 55 AM](https://user-images.githubusercontent.com/73185/145627738-dc4f8ee8-6ed7-4fe5-96f4-e2a3ee222d7c.png)

[2021-12-10 19:02] #1089 closed

[2021-12-10 19:07] sojan-official commented on #1253
ref: https://github.com/chatwoot/chatwoot/discussions/2759

[2021-12-10 19:07] #1253 closed

[2021-12-10 19:09] sojan-official commented on #1277
ref: https://github.com/chatwoot/chatwoot/discussions/2759

[2021-12-10 19:09] #1277 closed

[2021-12-11 06:35] Alarees opened #3540 "database or platform api special validation"
**Is your enhancement request related to a problem? Please describe.**
**No**

**Describe the solution :**
the app i am using does not require email address, when i want to create chatwoot user with `Platform API`  can't becouse the api request email address which i don't have or i don't need

**Describe alternatives you've considered**
register user with phone number instead of email

**Additiona

[2021-12-11 06:39] sultanlive commented on #3538
For example:

[code]

But not working for 360Dialog WhatsApp

[2021-12-11 10:49] voko3456 opened #3541 "twitter mentions not coming in mentions section"

[2021-12-11 11:15] Jonaswinz opened #3542 "Docker Chatwoot Production deployment guide not working"
Hi, I just tried to set up an instance of chatwoot with docker, to try it out. I followed this instructions: https://www.chatwoot.com/docs/self-hosted/deployment/docker. I ran all commands in the required order, except the ubuntu ones, because I already have a running docker instance. I also only changed the passworts in the .env and docker-compose file.

After running db prepare command I get thi

[2021-12-11 12:43] Vikash-P commented on #3457
Any luck

[2021-12-11 13:29] Stephen-Lobo commented on #3495
@pranavrajs

Friendly bump.

[2021-12-11 15:27] pushand opened #3543 "2.0 installation fails"
**Describe the bug**

`rake assets:precompile RAILS_ENV=production` fails

**To Reproduce**

Steps to reproduce the behavior:
1. Created new DO Droplet
2. Have managed Redis and Postrgres databases
3. run `bundle`
4. run `yarn`
5. run `RAILS_ENV=production bundle exec rake db:create`
6. run `RAILS_ENV=production bundle exec rake db:reset`
7. all the above steps were a success
8. run `rake assets:p

[2021-12-11 16:34] pushand commented on #3543
was a memory issue. webpacker uses too much memory while compiling

[2021-12-11 16:34] #3543 closed

[2021-12-12 08:31] entttom opened #3544 "IMAP SMTP Username must be mail adress"
In v2.0.0 the smtp and imap username for a email channel must be a mail adress - in my case its a simple username without the domain part.
Maybe you can cancle the validation in further releases.

for everyone other facing this problem - with the chrome dev tools you can delete the the disable class from the submit button so you can save it - at least for the IMAP setting.
this workarround isnt wo

[2021-12-12 10:11] clanto007 opened #3545 "feat: Google Chat Integration"
**Is your enhancement request related to a problem? Please describe.**
Google Chat can be a very useful channel to have for customers with google workspace accounts so that they can use the chat included for support.

**Describe the solution you'd like**
A bot in google chat created in gogole workspace tenant. As for telegram bot.

[2021-12-12 15:41] WevrLabs opened #3546 "Deleting contact won't work if is still referenced from table "csat_survey_responses""
**Describe the bug**

Observed that when trying to delete a contact, sometimes it is not possible and returns 500 error.

**Additional context**

Upon inspecting the logs, it appears that the cause preventing the contact from being deleted is that it is still referenced from table "csat_survey_responses" ... Confirmed by deleting rows in this table which reference contact XXX , and then deleting c

[2021-12-13 05:43] nithindavid opened #3548 "Enhancement: Change button design for tables in settings page"
![image](https://user-images.githubusercontent.com/1277421/145758686-0f164677-d645-4c45-a6b8-c87b838b241d.png)

 - Use Icon buttons to reduce the repetition

[2021-12-13 06:38] nithindavid opened #3550 "Enhancement: Add keyboard shortcut for conversation actions"
![image](https://user-images.githubusercontent.com/1277421/145764046-9aad5595-a9f3-4fa8-a9fb-de778b6b0ba8.png)
- Add keyboard shortcut for action in the menu
- Show the shotcuts them on the list

[2021-12-13 06:44] nithindavid opened #3551 "bug: Space missing between message bubbles after sending"
![image](https://user-images.githubusercontent.com/1277421/145764769-6be5266f-4dee-48b3-90fc-6fa0fc79a74f.png)

[2021-12-13 07:07] #2957 closed

[2021-12-13 08:50] sojan-official commented on #3544
@aswindevps We could change the validation.

[2021-12-13 11:49] tejaswinichile commented on #3530
Add a sidekiq job for the migration.

[2021-12-13 13:36] entttom commented on #3544
@aswindevps  @sojan-official and it would be fantastic if there is an from field: right now the username is also the sender (in this case username: 80bc197d79b962)

<img width="635" alt="Bildschirmfoto 2021-12-13 um 14 35 06" src="https://user-images.githubusercontent.com/16444099/145822069-74338889-6c19-4fd2-b9af-7eedf2b4fdfb.png">

[2021-12-13 15:20] nithindavid opened #3554 "Enhancement: Add background color to draggable blocks in sidebar"
![image](https://user-images.githubusercontent.com/1277421/145838753-6a715b6c-b53c-48e1-b6d0-873ce5a1d257.png)

[2021-12-13 16:31] sanjayws opened #3556 "PlatformAppPermissible tokens break webUI"
**Describe the bug**
I tried to setup SSO using guide here https://www.chatwoot.com/docs/self-hosted/configuration/features/integrations/facebook-channel-setup.

Probably made a couple of mistakes, but eventually i was given the URL. This, however, seem to have broken the web page super_admin -> access token throwing error as below.
![image](https://user-images.githubusercontent.com/25242465/14585

[2021-12-13 16:35] sojan-official commented on #3556
closing in favor of https://github.com/chatwoot/chatwoot/issues/2021

[2021-12-13 16:35] #3556 closed

[2021-12-13 19:16] pranavrajs opened #3558 "Webhooks doesnot include conversation custom attributes"
The custom attributes on a conversation are not available in the webhook events even though contact custom attributes are present.

- [ ] Check whether the webhook payload is missing the data on all events, conversation_created, conversation_status_changed etc.

If the fix is small, please create a PR right away. If not, suggest the next steps.

### Additional items

- [ ] Verify whether the actio

[2021-12-13 19:16] pranavrajs commented on #3558
@muhsin-k Please take a look at this and see if you can reproduce this.

[2021-12-13 19:18] pranavrajs opened #3559 "Missing API param documentation - GET Messages"
https://www.chatwoot.com/developers/api/#operation/conversationNewMessageAttachment

This API is missing the documentation for pagination. There is no documentation on the `before` param, also page size is not available here.

@tejaswinichile Can you please update this document?

[2021-12-13 20:24] Jonaswinz commented on #3542
After a lot of try and error, it turns out that the alpine linux version 3.14 has some problems with docker 19.
 [base image](https://forums.docker.com/t/builds-with-alpine-linux-3-14-fail-on-docker-hub/112469)
I resolved the issue, by upgrading the docker engine to 20.

[2021-12-13 20:24] #3542 closed

[2021-12-13 20:55] pranavrajs opened #3560 "File picker and emoji picker is not enabled by default"
When you create a website inbox, the settings for emoji and file are turned off. This reduces the visibility of the feature.

<img width="291" alt="Screenshot 2021-12-13 at 12 55 02 PM" src="https://user-images.githubusercontent.com/2246121/145887352-ff7d36b8-bfc0-454b-b3d5-609490e55b14.png">

#### Todo

- [ ] Set emoji picker and file picker enabled by default

[2021-12-14 00:49] Jonaswinz opened #3561 "External smtp not working, after moving from windows to ubuntu."
Hi, i am currently trying to setup chatwoot with an external smtp server. When requesting a new passwort on docker desktop (windows) the email arrives with no issues. After moving the containers to my ubuntu server I get a 501 Syntax error. I also get this error, when I create the containers directly on the server.

Are there any options to debug the error further more ? Or does anybody has an ide

[2021-12-14 05:37] vishnu-narayanan commented on #3561
@Jonaswinz
1. Could you compare the `.env` file on both to see if there is any difference?
2. Are you self-hosting your mail server or using any external service?
3. Could you verify the smtp connectivity from your linux server manually using `telnet` ?

[2021-12-14 06:58] vishnu-narayanan commented on #3542
ref: https://github.com/chatwoot/chatwoot/issues/2845

[2021-12-14 10:19] Jonaswinz commented on #3561
@vishnu-narayanan

Both `.env` files are completly the same.  I am using an external mail server from ionos.

This are my smtp settings:

[code]

The mail server is reachable from the ubuntu maschine (Windows and ubuntu same result):

[code]

Both systems are running the same docker engine version: 20.10.11

[2021-12-14 12:56] #3513 closed

[2021-12-14 13:38] sojan-official opened #3565 "bug: Attachment bubble gets stuck when the API call fails"
ref: #3557

If the file upload fails for some reason, the UI doesn't communicate it to the end-users, instead it get stuck with the uploading bubble

## Widget
![Screenshot 2021-12-14 at 7 07 34 PM](https://user-images.githubusercontent.com/73185/146008787-aad9f6bf-18e1-4acd-8d68-23d89d1db6bd.png)

## Dashboard
- dashboard shows error message, but bubble is not removed

![Screenshot 2021-12-14 at

[2021-12-14 13:44] sojan-official commented on #3565
ref: https://github.com/chatwoot/chatwoot/issues/3270

[2021-12-14 14:00] sojan-official commented on #3565
ref: https://github.com/chatwoot/chatwoot/issues/3104

[2021-12-14 14:01] sojan-official commented on #3104
closing in favour of #3565

[2021-12-14 14:01] #3104 closed

[2021-12-14 14:03] sojan-official commented on #2824
Closing the issue since there hasn't been any recent activity. Let's reopen in case the problem persists.

[2021-12-14 14:03] #2824 closed

[2021-12-14 14:07] sojan-official commented on #1026
# ideas

- [ ] Ability to add attachments to canned responses
- [ ] Ability to send attachment messages in automation - #3195

[2021-12-14 14:21] fdstevex commented on #2983
This is a problem for us - agents are missing chat messages because they don't hear the little default click sound.

[2021-12-14 14:48] rahulmr commented on #3420
@pranavrajs @sojan-official guys any updates on this?

[2021-12-14 14:50] sojan-official opened #3567 "feat: Ability to use active storage direct upload"
Large file uploads could clog up the application server. They are also susceptible to requesting time outs from services like Heroku. So let's explore implementing file uploads via active storage direct upload

ref:
https://edgeguides.rubyonrails.org/active_storage_overview.html#direct-uploads
https://blog.commutatus.com/understanding-rails-activestorage-direct-uploads-a4aeca7eccf
https://devcente

[2021-12-14 14:52] sojan-official commented on #3567
ref: #1372

[2021-12-14 14:54] nithindavid opened #3568 "bug: Irregular padding on report page agent selector"
![image](https://user-images.githubusercontent.com/1277421/146021942-816b5e9b-18b9-4993-9b4e-2bbdb57b2082.png)

[2021-12-14 15:21] tejaswinichile commented on #3342
@sojan-official @muhsin-k

I have completed the required actions and events[message_created, conversarion_status_changed, conversation_created, conversation_updated] for the first release, the rest of the actions won't take much time as the skeleton is ready.

I am thinking to merge this PR first and test it out thoroughly then adding more actions and conditions. As adding everything at once will

[2021-12-14 16:31] maxkpower opened #3569 "Interactive Messages Form Snippet not working in Dialogflow"
**Describe the bug**
I am not 100% sure if this is a bug. I am testing Chatwoot with Dialogflow and trying all Interactive Messages.
The [form snippet](https://www.chatwoot.com/docs/product/others/interactive-messages#2-form) doesn't seem to work, all others work well.

**To Reproduce**

Steps to reproduce the behavior:
1. Copy the [form snippet](https://www.chatwoot.com/docs/product/others/intera

[2021-12-14 17:40] sojan-official opened #3570 "[CW-35] epic: Reporting improvements"
Collection of tech debts and Chores associated with reporting in chatwoot

* [ ] [https://github.com/chatwoot/chatwoot/issues/3242](https://github.com/chatwoot/chatwoot/issues/3242) ( possible issue with timezones, filters sending local time while the events stored in the backend are in UTC )
* [ ] **Clean up the tech debt associated with reporting v1**
  * [X] Rename events table to reporting_eve

[2021-12-14 19:54] #3569 closed

[2021-12-14 21:21] maxkpower commented on #3569
nice, thanks!

[2021-12-15 02:54] nsakibp commented on #1197
Please

[2021-12-15 03:17] pranavrajs commented on #3570
@sojan-official Added timezone option in reports.

[2021-12-15 03:33] pranavrajs opened #3572 "bug: Email content is missing"
One of the conversations in our prod account has an email with content missing. Here is the [link](https://app.chatwoot.com/app/accounts/1/conversations/11393) to the conversation. It looks like this attachment validation might be triggering this error.

- [ ] Investigate the root cause

[2021-12-15 03:37] pranavrajs opened #3573 "Conversation filter doesn't have an example filter in the documentation"
https://www.chatwoot.com/developers/api/#operation/conversationFilter

Even though the API is documented, there is no example provided in the documentation.

- [x] Provide an example filter (either write a page in the product documentation or update the API developer doc with a sample payload)

[2021-12-15 03:41] pranavrajs opened #3574 "bug: User can skip pre-chat if campaigns are enabled"
There are no clear re-producible steps here.

A customer reported that he is seeing unknown contact information in some of the conversations even though the pre-chat form is enabled. It seems there are a couple of similar contacts in the Chatwoot prod account as well. There is a common behavior among all these that those conversations are created from Campaigns.

An example conversation can be see

[2021-12-15 04:39] sojan-official commented on #1756
We have added the following in our recent updates which should cover the mentioned use cases

- conversation filters: https://www.chatwoot.com/docs/product/others/advanced-conversation-filters
- agent reports: https://www.chatwoot.com/docs/user-guide/reports#agent-reports

[2021-12-15 04:39] #1756 closed

[2021-12-15 07:07] pranavrajs opened #3575 "feat: Automations table"
// todo @muhsin-k @fayazara to add more context

[2021-12-15 07:07] pranavrajs opened #3576 "feat: Add the ability to edit/delete/clone automation rules"

[2021-12-15 07:09] pranavrajs opened #3577 "Update the command bar library to the original author"
We are using a forked version of CommandBar, @fayazara please update it to the original version as most of the changes are already available in the upstream.

[2021-12-15 07:33] pranavrajs opened #3578 "Create separate UI to display FB creds together in super_admin panel"
// Todo @nithindavid to take over the draft PR from @vishnu-narayanan
// @vishnu-narayanan / @sojan-official to add more context on the issue

[2021-12-15 07:34] pranavrajs opened #3579 "AWS Migration: List the steps to migrate the environment"
// Todo to be completed by @vishnu-narayanan

[2021-12-15 07:36] pranavrajs opened #3580 "AWS Marketplace listing"

[2021-12-15 13:42] #3551 closed

[2021-12-15 13:50] sojan-official commented on #1704
@vishnu-narayanan  anything we can do to help here?

[2021-12-15 13:53] sojan-official opened #3583 "epic: Swagger Documentation"
# Tasks
- [ ] Identify the missing attributes available for the contacts model ( example bio,company etc.) ( update widget, application, public apis)
- [x] https://github.com/chatwoot/chatwoot/issues/3599
- [x] https://github.com/chatwoot/chatwoot/issues/3962
- [x] Agent EndPoint
- [x] Team Members Endpoint : https://github.com/chatwoot/chatwoot/pull/4390
- [x] #4395
- [ ] #4396
- [x] #4327
- [x]

[2021-12-15 14:04] sojan-official opened #3584 "design: CRM screen header"
![Screenshot 2021-12-15 at 7 31 39 PM](https://user-images.githubusercontent.com/73185/146200415-b8556631-e982-491b-b721-cf2b129962c7.png)

following breakages observed while using chatwoot in a lower resolution screen, MacBook air 2017 13 inc

- [ ] no margin for search bar with title
- [ ] new contact button text splits to new line

cc: @nithindavid

[2021-12-15 14:09] sojan-official commented on #1209
closing in favour of https://www.chatwoot.com/docs/product/features/campaigns/ongoing

[2021-12-15 14:10] #1209 closed

[2021-12-15 14:43] sojan-official opened #3586 "feat: Fully configured Chatwoot Installation"
At the moment, after performing the installation the user has to manually configure SMTP server credentials for the agent emails to work.  Can we avoid the reliance on third-party providers and have chatwoot use a preconfigured SMTP server which the Linux installation script installs.

## Tasks
- [ ] Improve documentation for Email channels using postfix :  https://github.com/chatwoot/docs/issues/

[2021-12-15 14:58] sojan-official commented on #3195
@tejaswinichile  @muhsin-k potential use case

When phone number attribute of a contact gets updated 'Create conversation in an external Inbox with a specific message'

- Trigger a WhatsApp conversation with a user through API
- Switch the communication to SMS channel from live chat

ref:  https://discord.com/channels/647412545203994635/719548534302441565/920414786691432548

[2021-12-15 15:02] sojan-official opened #3587 "Bug: 360Dialog template message breakage"
[code]
ref: https://github.com/chatwoot/chatwoot/commit/d5c30760a793e8193e8205605af6a8155dafb0db#r61912336

## Notes
- template parsing fails when regexp characters are present in templates

### sample template
[code]

[2021-12-15 15:12] sojan-official commented on #2587
## Notes
- [ ] APIs to toggle a message into an error state if the message delivery to an external service failed
- [ ] Retry button to retrigger the message to external channel
- [ ] Expand the currently sent tick mark for all external channels so that the agent can be confident that the message was actually delivered

[2021-12-15 15:15] vishnu-narayanan commented on #1704
@sojan-official I cannot reproduce the issue from my end.

[2021-12-15 15:39] vishnu-narayanan commented on #3586
@sojan-official I don't have a strong opinion on this one. Can be done either way. IMO most of the users would be using an external provider and coming to AWS, SES would be the defacto standard.

[2021-12-15 15:43] vishnu-narayanan commented on #3580
ref:
1.  https://docs.aws.amazon.com/marketplace/index.html
2. https://docs.aws.amazon.com/marketplace/latest/userguide/best-practices-for-building-your-amis.html

[2021-12-15 15:46] sojan-official commented on #3586
@vishnu-narayanan the motivation primarily comes from
- the number of support queries in chatwoot related agent invite or password emails missing
- WordPress, GitLab etc comes packed with a native mechanism to send account emails like password resets

We could in future expand the interface into something similar to wp email
![wpsmtp2-708x516](https://user-images.githubusercontent.com/73185/146218

[2021-12-15 16:15] vishnu-narayanan commented on #3586
True the experience would be much better if we could bundle one together.

[2021-12-15 18:26] aaron5670 opened #3589 "Bug: Clean Chatwoot v2.0.0 on Caprover fatal error"
## Clean Chatwoot v2.0.0 on Caprover fatal error
I installed the latest v2.0.0 version on Caprover from one-click-apps and get the following error.

I can't get new conversations, it's always loading...
![image](https://user-images.githubusercontent.com/17295145/146243808-2f93080f-02c1-47dd-8fde-2194bf76fc21.png)

The network tab returns a 500 error on the request URL: https://support-web.my-capro

[2021-12-15 18:54] #1961 closed

[2021-12-15 19:29] semaf commented on #1289
@fsennj

The issue still exist on Ubuntu 20.04
It is interesting if you have a single line installer that is not working.

[2021-12-15 19:32] pranavrajs commented on #3586
@sojan-official I would consider AWS marketplace listing as a higher priority than this one. It improves the visibility of the product, helps me to navigate people directly to marketplace listing when making sales calls.

Let us pick this one up next sprint. Meanwhile, if @nithindavid or @sojan-official can provide the expected UX flow, that would make things easier.

[2021-12-15 21:01] piotrpelica opened #3590 "TLS1.2 support for SMTP outgoing emails"
**Describe the bug**

When using Office 365 to send outgoing mail, following error shows up in the logs. Microsoft uses STARTTLS for the SMTP (see [here](https://support.microsoft.com/en-us/office/pop-imap-and-smtp-settings-8361e398-8af4-4e97-b147-6c6c4ac95353)).

[code]

The web UI shows e-mail as sent correctly.

**To Reproduce**

Steps to reproduce the behavior:
1. Set up mail with Office 365 a

[2021-12-15 22:38] dominikmukrecki opened #3591 "forbidden: Provided scope(s) are not authorized [Google Cloud Storage]"
GCS is configured as follows: https://www.chatwoot.com/docs/self-hosted/deployment/storage/gcs-bucket, but `forbidden: Provided scope(s) are not authorized` error is returned after, for example, sending the image. Sent and received images are blank.

Services usage logs are without any activity.

![image](https://user-images.githubusercontent.com/64379788/146275688-7d6784ea-6dc8-4f8c-9919-eed552b6

[2021-12-15 23:04] dominikmukrecki opened #3592 "chore: Facebook Sender ID in Webhook calls"
**Is your feature request related to a problem? Please describe.**
Is there any possibility to retrieve Facebook Sender ID from the message/conversation/contact?

As you can see, here is an example of Sidekiq log:

I, [2021-12-15T22:54:26.704377 #1]  INFO -- : [521fe7ad-e099-47a3-9885-d7b9cfea22e6] [ActiveJob] Enqueued Webhooks::FacebookEventsJob (Job ID: 61139d80-9403-416b-876a-7113df212141) to S

[2021-12-16 01:54] apitel commented on #3589
I am having the same issue. Also clean Chatwoot v2.0.0 install on CapRover.

[2021-12-16 06:55] vishnu-narayanan commented on #1289
@semaf Please open a new issue if you've encountered this recently.

[2021-12-16 06:59] vishnu-narayanan commented on #3561
@Jonaswinz Interesting. Could you check this question out which describes a similar issue?

https://stackoverflow.com/questions/43373727/send-mail-error-501-syntax-error-in-parameters-or-arguments-on-server-but-not

[2021-12-16 07:00] vishnu-narayanan commented on #3561
https://stackoverflow.com/questions/31428950/unable-to-send-email-using-javamail-api-in-linux

[2021-12-16 07:30] #3548 closed

[2021-12-16 07:50] #3568 closed

[2021-12-16 11:44] vishnu-narayanan opened #3595 "chore: env variables not taking effect in cloudron installation"
**Describe the bug**
env vars not taking effect in cloudron

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'cloudron' and deploy a new chatwoot app
2. Add any env variable using the file manager and see if its taking effect,
3. See error

**Expected behavior**

Env variable should take effect.

**Screenshots**

n/a

**Browser logs**

n/a

**Server logs**

n/a

**Environment**
Selfhos

[2021-12-16 11:45] vishnu-narayanan commented on #3595
fixed by https://git.cloudron.io/cloudron/chatwoot-app/-/merge_requests/1

[2021-12-16 11:55] vishnu-narayanan commented on #3589
@aaron5670 @apitel Could you please ssh into your `caprover` instance and share the output of following ?

[code]

[2021-12-16 12:35] vishnu-narayanan commented on #3589
Tried a fresh install of `caprover` and then deployed chatwoot from the marketplace. Installation went fine and then was able to create a website inbox and verified its working.

https://chatwoot-web.cap.chatwoot.dev/api

@aaron5670 @apitel Not able to reproduce this issue from my end. Could you share more details?
1. Are you using a  fresh caprover install?
2. Could you share your caprover versio

[2021-12-16 12:36] vishnu-narayanan commented on #3589
@sojan-official Not sure if it's related but I'm getting web socket disconnections events in the console.

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/3526167/146372797-4b3d069a-7b8c-44d9-aedb-5bf9c312de2b.png">

[2021-12-16 12:48] apitel commented on #3589
@vishnu-narayanan I am also seeing the web socket disconnects.

CapRover 1.10.1

It was a fresh install of both CapRover and Chatwoot.

[2021-12-16 13:14] sojan-official commented on #3589
@vishnu-narayanan  did you enable the web socket support from the UI?
ref: https://medium.com/rommels-software-development-perspective/enabling-web-sockets-wss-websocket-secure-802ad5ae000f

if we don't have this in the docs, let's have it updated.

[2021-12-16 13:23] sojan-official commented on #3592
@dominikmukrecki  every conversation in chatwoot will have an associated contact_inbox ( contact_session ) . This session object contains an attribute called source_id which denotes the unique identifier for that contact in the external platform from where the conversation was created.

You can query the chatwoot API and fetch this information.
for example query the contactable inboxes endpoint fo

[2021-12-16 13:53] vishnu-narayanan commented on #3589
@apitel Could you confirm your docker version?

ref: https://github.com/chatwoot/chatwoot/issues/2845

[2021-12-16 13:53] sojan-official opened #3596 "bug: failure to update contact due to avatar validation"
Chatwoot introduced a validation on avatar files and limited it to specific files types and 15 Mb in size in recent versions.  After this change, some of the users who have had avatars uploaded before this change, are facing issues while trying to update profiles.

## Notes
- This is because the validation runs on any update of the parent object of avatarable
 ref:  https://github.com/chatwoot/cha

[2021-12-16 14:12] aaron5670 commented on #3589
@vishnu-narayanan

**Docker version:**
[code]

**Docker info**
[code]

[2021-12-16 14:21] sojan-official opened #3597 "feat: Native RASA integration in chatwoot"
The current RASA integration in chatwoot involves a lot of technical steps, where the user has to configure an Agent Bot and processing server [ref: https://github.com/chatwoot/rasa-agent-bot-demo] . This involves a lot of complexities and often users get stuck at various points. Hence bringing in a native rasa integration similar to how the Dialogflow integration in chatwoot functions.

## Change

[2021-12-16 14:25] sojan-official commented on #3589
@aaron5670 Could you check and confirm the following?

Configured a `FRONTEND_URL` env variable ( domain where you access chatwoot instance )
Configured environment variables for storage

ref: https://www.chatwoot.com/docs/self-hosted/configuration/environment-variables#configure-frontend-url

[2021-12-16 14:33] aaron5670 commented on #3589
Thank you! I added the ``FRONTEND_URL`` variable to my chatwoot-web application on Caprover, updated Docker to the latest version and reinstalled Chatwoot on it. Now it all works fine :).

[2021-12-16 14:33] #3589 closed

[2021-12-16 14:44] vishnu-narayanan opened #3598 "improve caprover installation experience"
-[ ] check if prefilling FRONTEND_URL is possible
-[ ] bundle SMTP server to have email notifications/password resets work out of the box

[2021-12-16 14:45] vishnu-narayanan commented on #3598
https://github.com/chatwoot/charts/issues/18

[2021-12-16 14:45] vishnu-narayanan commented on #3586
Related issue: https://github.com/chatwoot/charts/issues/18

[2021-12-16 14:50] Nirva-Software opened #3599 "feat: company management in widget setUser"
I quote from the documentation "Support for additional parameters is in progress."
So here some suggestions.

At the moment with setUser we can use: name, email, phone_number.
It would be nice if the fields company, city, country could be used as parameters of the setUser in the widget.
In particular for the company, there is already an icon displayed (briefcase) when we looked at a contact. So it

[2021-12-16 14:51] apitel commented on #3589
Resolved for me as well.

[2021-12-16 17:56] #3595 closed

[2021-12-16 18:44] sojan-official commented on #3140
ref
https://github.com/chatwoot/chatwoot/issues/3558
https://github.com/chatwoot/chatwoot/issues/3430
https://github.com/chatwoot/chatwoot/issues/3238

[2021-12-16 18:45] sojan-official commented on #3567
ref: https://github.com/chatwoot/chatwoot/issues/3430

[2021-12-16 18:52] romariolopezc commented on #2420
For me, the fix described didn't work. I had to create a version 5 redis and attach it to chatwoot and now is working

[code]

[2021-12-16 19:29] sojan-official commented on #3420
@rahulmr Thanks for the information. we will keep track of this and share further updates as we have them.

If you are looking into solving this on your end
- some of the information about the user like last sign in , sign out are available in the database even though not on the API. you can look into pulling that information out
ref: https://github.com/chatwoot/chatwoot/blob/5ee209c079fedf8f76e20

[2021-12-16 19:34] sojan-official commented on #1704
@jusce17  are you still facing the issue ?

[2021-12-16 19:37] sojan-official commented on #3457
closing in favor of https://github.com/chatwoot/chatwoot/issues/1318

[2021-12-16 19:37] #3457 closed

[2021-12-16 19:38] dominikmukrecki commented on #3591
Resolved: stack is up and running :)

GCS_CREDENTIALS should be with quotes wrapped. I am using Portainer to set my stack.

Not working:

`GCS_CREDENTIALS={   "type": "service_account",   "project_id": "redacted",   "private_key_id": "redacted",   "private_key": "redacted",   "client_email": "redacted",   "client_id": "redacted",   "auth_uri": "https://accounts.google.com/o/oauth2/auth",   "token_

[2021-12-16 19:38] #3591 closed

[2021-12-16 19:40] dominikmukrecki commented on #3592
Greetings @sojan-official, thank you for the detailed explanation. I am closing for now and will return with step by step solution after trials and errors. Cheers :)

[2021-12-16 19:40] #3592 closed

[2021-12-16 21:13] piotrpelica commented on #3590
I've resolved the issue by reinstalling without Docker

[2021-12-16 21:13] #3590 closed

[2021-12-17 05:13] nithindavid opened #3603 "feat: Support audio player on widget"
- Currently the widget does not support audio files like mp3, wav. So end user/visitor on widget has to download it every time to listen to it.
- Our dashboard supports playing audio files, we could use the same for widget also.

[2021-12-17 05:59] pranavrajs commented on #273
@sojan-official This seems like a feature that has been asked by a lot of people in the community. Shall we pick this up in the next sprint? Probably @aswindevps would be able to work on it.

Things to do here:

- [ ] Add an additional DB attribute `hide_widget_if_offline` to `Channel::WebWidget`
- [ ] Add the toggle option in the inbox settings
- [ ] If the users are offline and outside of busine

[2021-12-17 06:32] vishnu-narayanan commented on #3591
@dominikmukrecki Thank you for sharing 😄

[2021-12-17 06:42] rahulmr commented on #3578
@pranavrajs could you please also create some video for self hosted configuration of FB creds? I tried to integrate but it is not clear what all permissions must be given to the business app created on developers dashboard ? A details video on facebook setup for chatwoot would be really beneficial. Thanks for wonderful product. It will be good if you can maintain separate code for community editio

[2021-12-17 06:46] rahulmr commented on #3420
@sojan-official thanks a lot replying. I am already aware of `last_sign_in_at` but actually not able to find any information on something related to `sign_out` there is nothing like `last_sign_out_at`, I see only `sign_in_count` etc.
Seems like devise does not provide more information on sign_out or destroy session. Not sure how I can add sign_out time to any table.

[2021-12-17 07:12] mariusa commented on #273
Hi,

The desired behavior would be
If there's no agent online, hide the widget bubble.

(regardless of business hours; user = support agent)

[2021-12-17 09:32] FredrikZeiner commented on #2915
I'd like to take a look at this, if it's available. I have a few questions though.

From what I've seen code spelunking, it looks like the widget doesn't use tailwind all around? Is it desirable to do so?
Are there any guidelines in terms of the max size of PR's? I'd like to break this up into smaller deployable pieces, otherwise this PR will be absolutely humongous.

Chatwoot looks great today, b

[2021-12-17 14:15] sojan-official commented on #3541
@voko3456  if you refering to the mentions tab in the conversation sidebar. It will aggregate all the chatwoot conversations where the currently logged-in user was mentioned.

Agents in chatwoot can mention each other on conversations by using `@` in private notes

[2021-12-17 14:17] voko3456 commented on #3541
Aha thanks that wa misunderstood from me

[2021-12-17 14:18] sojan-official commented on #3540
Email is a mandatory field at the moment for chatwoot for users.

So a workaround you could do is supplement something like `userid@local.local` as a placeholder.

[2021-12-17 14:18] #3541 closed

[2021-12-17 14:59] sojan-official commented on #3538
@sultanlive  Chatwoot doesn't support interactive messages for channels other than the website at the moment. Its something which we are looking into.

[2021-12-17 15:12] sojan-official commented on #2915
@FredrikZeiner We prefer to ship work in small units. Though there isn't a strict limit on the line of code, changes beyond 400-500 lines usually take more extended review circles.

The idea of this spike aligns with your suggestion `to break this up into smaller deployable pieces.` ie.

- A PR to make the tailwind styles available into the dashboard pack, so developers could start using the tailw

[2021-12-17 22:45] pranavrajs opened #3606 "Set rich content editor in email messages as default"
**Problem:**

When the user press `enter` in the normal editor, it sends the message right away. Although it is ideal for chat messages, this behavior is not ideal for an email thread.

Also, the visibility of the feature is low.

**To discuss:**

- [ ] Can we set rich content editor in email thread by default?
- [ ] or Can move away from `Enter to send` and use something like `Cmd + Enter` to sen

[2021-12-17 23:01] pranavrajs opened #3607 "Mails sent from live.fr are not received in Chatwoot"
There is a bug reported by one of the Cloud users that any emails that are sent from `live.fr` are not received in Chatwoot.

For context, look at [this conversation](https://app.chatwoot.com/app/accounts/1/conversations/11661).

Transcript:

[code]

[2021-12-17 23:10] pranavrajs opened #3608 "Messages are created out of order"
Reported by a Cloud user using 360Dialog integration.

"The problem I have is that the messages arrive out of order. Even answers sent before coming after other information."

![image](https://user-images.githubusercontent.com/2246121/146617953-ca38e74c-fc6f-4d61-985a-eee6ca6c367f.png)
![image](https://user-images.githubusercontent.com/2246121/146617955-78a9d78d-c2e1-4e7c-bed4-f26e32a300d8.png)

M

[2021-12-18 00:15] nh2 opened #3609 "Pressing Enter in `Get notified by email` box does nothing"
Entering email address into the `Get notified by email` input box, and pressing <kbd>Enter</kdb> does not submit the email address as expected.

**To Reproduce**

Steps to reproduce the behavior:
1. Open chatwoot box.
2. Write a message and submit. Wait for `Give the team a way to reach you.` and `Get notified by email` to appear.
3. Enter email address into box.
4. Press enter.

**Expected behavi

[2021-12-18 03:46] pranavrajs commented on #273
@mariusa I think it is a conflicting take.

If the business hour feature is enabled, then checking the availability of the agents is not required, because you know exactly when people would be online.

If the inbox is not using the business hour feature, then it makes sense to check whether there is an agent online in the system.

Hope this clarifies the confusion.

[2021-12-18 05:02] pranavrajs commented on #3609
@nh2 I can reproduce this. We will pick it up in the next sprint.

@iamsivin Please take a look at this issue whenever you have time.

[2021-12-18 11:12] sojan-official commented on #3546
closing in favor of  https://github.com/chatwoot/chatwoot/issues/3530

[2021-12-18 11:12] #3546 closed

[2021-12-18 11:14] sojan-official commented on #3606
Both the proposals sound good to me

- There have been multiple reports of confusion about the enter to send checkbox

[2021-12-18 11:19] sojan-official commented on #3373
ref: https://github.com/chatwoot/chatwoot/issues/273#issuecomment-917901179

[2021-12-18 14:16] sojan-official commented on #273
@pranavrajs  looks good to me.  it seems to cover all the cases

### Widget should only be shown when agents are online
- no business hours configured
- hide_widget_if_offline = true

### Widget should be shown only during business hours
- business hours configured
- hide_widget_if_offline = true

### Widget should be shown always irrespective of agent / business hours
- hide_widget_if_offline = f

[2021-12-18 17:23] sanjayws commented on #3608
Don't know if this might help anyone, i had the same issue with 360 when my server was behind NAT/proxy. When i hosted it with public IP has no issues. This can be reproduced on my end many times.

[2021-12-18 22:28] dominikmukrecki opened #3612 "Icon instead of image after image upload"
**Describe the bug**

After uploading an image to the conversation, there is an icon instead of an image. After refreshing or changing view and returning image presents properly. As storage Google Cloud Storage is used, properly configured.

**To Reproduce**

Paste or upload images into the conversation.

**Expected behavior**

An icon instead of an image appears. Refreshing fixes the problem perm

[2021-12-19 02:37] sojan-official commented on #3612
closing in favor of https://github.com/chatwoot/chatwoot/issues/1372

[2021-12-19 02:37] #3612 closed

[2021-12-19 03:10] sojan-official commented on #3530
@tejaswinichile updated the issue to remove active storage tables. Just need to make this change for the records for which we added destroy async.

[2021-12-19 03:50] echodreamz commented on #273
Would be online and actually online are 2 different things... Our agents sometimes all pull off of chat if we have a very high-ticket load to focus on getting tickets answered and pushed out, even though, we are open. As well, businesses who are open 24/7, but agents may not be available 24/7 depending on background tasks etc. Both flags should be checked, check the hours of operation as well as i

[2021-12-19 04:17] #3530 closed

[2021-12-19 04:19] sojan-official commented on #3495
@pranavrajs  Seems like the previous PR opted for filtering the value on the frontend.  We could probably remove that and just implement a filter in the backend.

[2021-12-19 04:33] sojan-official commented on #2011
@pranavrajs  bump

[2021-12-19 05:25] sentry-io[bot] opened #3615 "bug: NoMethodError: undefined method `match' for in_reply_to"
At the moment chatwoot expects in_reply_to be a string. But it could be an array.

------
Sentry Issue: [CHATWOOT-1M2](https://sentry.io/organizations/thoughtwoot-04/issues/2870233209/?referrer=github_integration)

[code]

[2021-12-19 05:25] sojan-official commented on #3615
@tejaswinichile  @aswindevps

[2021-12-19 05:46] sojan-official opened #3617 "chore: Audit and Improve Translations to avoid breakages"
We have various brand names like 'Chatwoot', 'Twilio', 'Telegram' etc in translation files. They often get overwritten during translations.  Remove these strings from translations and have them hardcoded into the code.
Also, fix various other issues like attribute values being fetched from translations.

- [ ] app/javascript/dashboard/i18n/locale/en/login.json ( Chatwoot name in string often get r

[2021-12-19 10:53] apitel opened #3620 "feat: Push notifications for Safari"
This is a feature request. It would be great to have operator push notifications available for Safari as there are with other browsers. Not having this support makes it difficult to roll out as we would need to force our operators to switch browsers, when we currently have a working chat solution with full Safari support.

Thank you in advance for your consideration.

[2021-12-19 11:34] rahulmr commented on #3570
@sojan-official Do we have download CSAT Report option available? If not is it possible to implement such a button at the top corner? I tried to add such button at my end but the data is not coming properly.
 I want to download 2 types of data -

1.  After applying date and agent filter it should download all pages.
2. It should download only current page.

[2021-12-19 14:08] dominikmukrecki opened #3621 "Contacts without emails are not available"
**Describe the bug**

After creating contact without e-mail, it is not listed in the contact list. Providing email fixes this issue.

**To Reproduce**

Create contact without e-mail.

[2021-12-19 15:11] ahmednamoha opened #3622 "feat: Auto scroll conversations page"
![screen-capture](https://user-images.githubusercontent.com/55894443/146679946-13ae3a4a-1772-4dc4-accf-92bfcfa3a855.gif)

conversations page is not Auto scrolling

[2021-12-19 16:53] dominikmukrecki opened #3623 ".time class color is wrong in case of bot message, but marked private"
After sending a message from bot, but marked private, CSS issue appears (response below):

`{
"id": 845,
"content": "test message from api",
"inbox_id": 1,
"conversation_id": 3,
"message_type": 1,
"content_type": "text",
"content_attributes": {
},
"created_at": 1639932306,
"private": true,
"source_id": null,
"sender": {
"id": 4,
"name": null,
"avatar_url": "",
"type": "agent_bot"
}
}`

**Screensho

[2021-12-19 17:43] gcleaves opened #3624 "Ongoing web campaign uses agent real name, not display name"
The chat bubble displays the agent's **real name** when displaying the message. Instead, the agent's **display name** should appear.

**Reproduce**

Steps to reproduce the behavior:
1. Create an agent with a different full name versus display name in the agent profile.
2. Create an ongoing web chat campaign and assign it to the agent above.
3. Visit the web page with the chat widget and wait for c

[2021-12-19 19:09] gcleaves opened #3625 "bug: web chat campaign blocks page with iframe"
When the campaign is triggered and the message appears, some of the page is blocked. This happens because the entire chat widget seems to open even though it is invisible, see screen shot.

**Expected behavior**

The chat widget should behave as if it were closed and not overlay the page.

**Screenshots**

See this screenshot with Chrome developer tools open. It shows how the widget-holder is bloc

[2021-12-20 03:18] #3609 closed

[2021-12-20 03:51] fayazara commented on #3577
@pranavrajs there seem to be a lot of issues in the new update from the author. Some actions wont work unless we choose the command 3 - 4 times. Will try debuggin this with the author.

[2021-12-20 04:28] pranavrajs commented on #3577
Sounds good. Can you also please make sure that the changes from our fork are available in the upstream?

[2021-12-20 04:47] nithindavid opened #3626 "bug: Background inconsistencies with campaigns table"
![image](https://user-images.githubusercontent.com/1277421/146713225-f386cb2b-b28d-40a4-be9f-2d79103c83a6.png)

[2021-12-20 04:48] nithindavid commented on #3625
@gcleaves Thanks for reporting this, I Will look into this to get fixed.

[2021-12-20 10:43] sojan-official commented on #3621
@dominikmukrecki  At the moment chatwoot will only display contacts with atleast one identifiable attribute in the UI.
ie email, phone number or identifier.

[2021-12-20 10:45] sojan-official commented on #3570
@rahulmr  At the moment we don't have a download option for CSAT reports.

[2021-12-20 11:01] sojan-official opened #3627 "chore: quoted reply for a specific messages"
Ability to reply to a specific message through chatwoot.

- [ ] The message API should support `reply_to` attribute
- [ ]  Render quoted replies throughout Chatwoot UI properly ( dashboard / widget )
- [ ] Identify the external channels where quoted replies are supported and implement API changes as required  ( messenger, WhatsApp etc )

[2021-12-20 11:40] rahulmr commented on #3570
@sojan-official No issues, I was able to implement the same and it is working great.

Sorry no PR to submit but here is the code. You can refactor and add it in a better way.

[code]

[2021-12-20 12:54] vishnu-narayanan commented on #3579
@pranavrajs @sojan-official

## Migration steps
1. Decide on the AWS infra setup. Detailed in the next section.
2. DB migration is required.
3. For active storage, we are using s3 and no migration is needed.
4. DNS is also managed by Route53.
5. Monitoring, logging, alerting and APM are currently being used as add ons. Will need to switch to independent services. Also, this needs to be evaluated a

[2021-12-20 13:27] sahilmittal opened #3629 "Intermittent issue of panel getting freeze"
I am using self hosted version of chatWoot 1.8 and sometimes UI freezes with below error in browser console -

vue.common.prod.js:659 TypeError: Cannot read properties of undefined (reading 'key')
    at no (vue.common.prod.js:2144)
    at vue.common.prod.js:3122
    at b (vue.common.prod.js:3120)
    at vue.common.prod.js:3122
    at b (vue.common.prod.js:3120)
    at i.__patch__ (vue.common.prod

[2021-12-20 13:45] muhsin-k commented on #3629
@sahilmittal Is there any way to reproduce the issue you are facing?

[2021-12-20 16:11] TimoKoessler opened #3631 "Could not save SMTP settings for an inbox"
**Describe the bug**

SMTP settings for an e-mail inbox cannot be saved.

**To Reproduce**

Steps to reproduce the behavior:
Go to the Configuration-Tab of the Inbox-Settings of an Email-Inbox and try to save the SMTP-Settings.

**Browser logs**
Request: _/api/v1/accounts/1/inboxes/2_
[code]
Response:
[code]

**Server logs**
[code]

**Environment**

Selfhosted with Docker (using the provided docke

[2021-12-20 16:27] pranavrajs commented on #3629
@sahilmittal Notice that you are on 1.8. Can you please update to the latest version and see if it is still there? There were a lot of fixes during the last 2 releases.

[2021-12-20 18:20] #3270 closed

[2021-12-20 18:30] iammattmartin commented on #1237
Does the above not work for you in this sceanario?

[2021-12-21 02:20] #3258 closed

[2021-12-21 06:06] sultanlive opened #3632 "Not sent image file from 360Dialog WhatsApp"
**Not sent image file from 360Dialog WhatsApp**

[2021-12-21 08:16] sojan-official commented on #3632
@sultanlive  could you add more details. Did you mean that an image attachment was not received in chatwoot or vice versa?

[2021-12-21 08:18] sultanlive commented on #3632
@sojan-official I submitted an image from chatwoot, it didn't arrive to the client.
But the images come from clients

[2021-12-21 08:45] dominik-mukrecki opened #3633 "Use Webhook response as message reply"
**Is your feature request related to a problem? Please describe.**

I am currently using Webhooks and API for successful integration with my bot. Webhook is used after message_created event for each incoming message. But for creating a response message, there is a need for another API call.

**Describe the solution you'd like**

Could you provide a method for automatic generation of response in th

[2021-12-21 09:56] maartenvn commented on #1237
Unfortunatly no, because I need chat sessions and I need to set the user's name, which cannot be done directly in the URL.

[2021-12-21 12:19] sojan-official opened #3634 "chore: avoid Horizontal scroll on canned responses page"
<img width="1582" alt="Screenshot 2021-12-21 at 5 47 04 PM" src="https://user-images.githubusercontent.com/73185/146928719-ba178233-e0dc-43d5-b124-cf0d03ad0660.png">

lengthy canned responses make the canned responses page scroll horizontally, avoid this.

[2021-12-21 12:47] vishnu-narayanan commented on #3580
To be a marketplace seller, we would need to create an "AWS" account. Our current account seems to be AISPL(Amazon Internet Services Private Limited) one.

![image](https://user-images.githubusercontent.com/3526167/146930373-a74099d2-8cb5-4501-9230-caf8adb8af75.png)

ref:
1. https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/manage-account-payment-aispl.html#determine-seller
2. https://a

[2021-12-21 12:47] vishnu-narayanan commented on #3580
cc: @pranavrajs @sojan-official

[2021-12-21 14:30] sojan-official commented on #3580
@vishnu-narayanan  ref: https://github.com/chatwoot/product/issues/122 :D

[2021-12-21 15:35] tiagominatel opened #3638 "Error during chatwoot_prepare"
Hello guys,

i'm following help center's instructions to set up a self hosted chatwoot using docker, in my company we have separated cloud structures for database so i'm not using postgres or redis as containers, plus i can't have a superadmin user on postgres.
All that said i got the follow error while running `docker-compose run --rm rails bundle exec rails db:chatwoot_prepare` :

[code]
Is that

[2021-12-21 16:21] sojan-official opened #3639 "chore: Upgrade ruby and rails versions"
Update to the latest ruby and rails versions

ruby: 3.0.3
rails: 7.0.0

[2021-12-21 16:30] vishnu-narayanan commented on #3580
oops 😓 😄

[2021-12-21 19:15] dominikmukrecki commented on #3622
I am also opting for this feature :)

[2021-12-22 06:44] tejaswinichile commented on #3572
This is an email with HTML content that we received on hello@chatwoot.com. The message got created but there is no text content to show in the message.

cc @pranavrajs @sojan-official Might get fixed by https://github.com/chatwoot/chatwoot/pull/3611/files

[2021-12-22 06:48] tejaswinichile commented on #3572
My question is what should be the text content for this?

[2021-12-22 11:20] sahilmittal commented on #3629
@pranavrajs I noticed that the panel get stuck when too many conversations are pushed concurrently. I added the `errorHandler` to find the root cause -

[code]

This was the result -
[code]

On backtracking through the stacktrace, I reached to the following piece of code in /modules/conversations/index.js -

[code]

Could this info be of any help?

[2021-12-22 12:00] sojan-official opened #3642 "bug: slow action cable events and Uninitialized constant error in sidekiq"
We had a client report of a chatwoot instance where action cable events were particularly slow for conversation assignment and resolution.  Upon further debugging, there was a lot of sidekiq failures with uninitialized constant error.
![unnamed](https://user-images.githubusercontent.com/73185/147089677-13b3d423-a011-4cdf-9bcb-ff3edbe834c4.png)

[2021-12-22 12:05] sojan-official commented on #3642
The initial debugging was around rails autoloading issues. But since the issue wasn't reported on other instances running in similar environments, We ended up debugging further.

<img width="1340" alt="Screenshot 2021-12-22 at 4 31 14 PM" src="https://user-images.githubusercontent.com/73185/147089934-50a86413-f09b-4df5-aa81-058239832168.png">

Upon further investigation, we noticed a stale process

[2021-12-22 12:05] #3642 closed

[2021-12-22 12:30] sultanlive opened #3643 "Not sent CSAT from WhatsApp (360Dialog)"
CSAT working only in WebChat

[2021-12-22 12:46] #3539 closed

[2021-12-22 12:49] sojan-official commented on #3572
fixed by https://github.com/chatwoot/chatwoot/commit/44486fc8e1673866ba3ec4654c730b51bbd1b0d2

[2021-12-22 14:02] tejaswinichile commented on #3572
Used the similar email in forward https://app.chatwoot.com/app/accounts/1/conversations/11888

[2021-12-22 17:03] #3615 closed

[2021-12-22 18:14] ncr4development commented on #3631
I was able to solve this by making address and domain the same value (in my case smtp.gmail.com) seems that the error handling isn't very accurate.
However, after I Get the success response, the settings don't seem to persist.

Also using selfhosted on docker

[2021-12-22 19:13] sojan-official commented on #3572
@tejaswinichile  I have reverted some of the changes added over https://github.com/chatwoot/chatwoot/commit/44486fc8e1673866ba3ec4654c730b51bbd1b0d2 since it rewrites the original HTML content that we intend to store into content attributes.  Let's sync up on this later.

[2021-12-23 11:45] rahulmr commented on #3638
Got same error in the develop branch, when I checked out master branch it worked fine.

[2021-12-23 12:57] sojan-official commented on #3629
@sahilmittal  [1.8 ](https://github.com/chatwoot/chatwoot/releases/tag/v1.8.0)is quite old (14 Sep 2020) and the codebase has significantly evolved from that point over the last year.

I think the best bet here is to upgrade the installation to a newer version. We have made significant changes in how conversations are handled over the last few releases.

[2021-12-23 13:32] sojan-official commented on #3638
This error occurs when the chatwoot rails application attempts to run rails migrations right from the start. Some of the older migrations would then fail because the underlying data models changed as the code base evolved.

So when setting up an existing rails application into a new environment, it is recommended to do a `schema:load`  instead of running full migrations.

ref: https://axiomq.com/b

[2021-12-23 14:17] rahulmr commented on #3638
Thanks @sojan-official will try it out.

[2021-12-23 14:34] tiagominatel commented on #3638
Thanks @sojan-official it worked! 🎉

[2021-12-23 18:46] sojan-official commented on #3638
@tiagominatel  @rahulmr  ref:

[2021-12-23 18:46] #3638 closed

[2021-12-24 00:40] ximenasandoval commented on #3063
Hi! I'd like to work on this issue

[2021-12-24 05:06] SuprajaRamesh commented on #3596
Hi, I would like to help if it has not been taken yet.

[2021-12-24 05:20] GSY-PI opened #3646 "Compile Error"
**Describe the bug**

When install and running I get a application error at this step
rake assets:precompile RAILS_ENV=production
[code]
**To Reproduce**

Steps to reproduce the behavior:
4. See error

Share the server logs to debug the issue further

**Environment**
Self Hosted Ubuntu 20.4 / Linux VM

**Additional context**

Add any other context about the problem here.

[2021-12-24 07:14] sahilmittal commented on #3629
@sojan-official I agreed that the version is old, but just wanted to make sure that even if upgrade the version, will this problem be solved.

A couple of more observations -

1. If I comment any of the below lines, the panel works just fine -

1.1  File: /modules/conversations/index.js
      Line: `chat.agent_last_seen_at = lastSeen;`

1.2 File: app/javascript/dashboard/components/widgets/convers

[2021-12-24 11:51] voko3456 opened #3647 "limit number of agents(users) per account from Super Admin"

[2021-12-24 11:53] voko3456 opened #3648 "Add ability to Freeze(Deactivate) account via API"

[2021-12-24 14:29] iammattmartin opened #3649 "Delete contact fails with "Reuest failed with status code 500""
**Describe the bug**

Trying to delete once specific contact, generates a 500 error. All other contacts can be deleted without issue.

[code]

[2021-12-24 14:30] iammattmartin commented on #3649
This is the only contact with a CSAT (testing), so it appears it needs to delete the CSAT before trying to delete the contact.

[2021-12-24 14:41] iammattmartin commented on #3643
Is it trying to send one after the message window closes?

[2021-12-25 08:03] anoymouscoder commented on #3626
@pranavrajs @nithindavid Could you provide more information about this issue? And what is expect behaviours?

[2021-12-25 12:09] shivamsinghchahar commented on #3474
@sojan-official I can take this up.

[2021-12-25 13:19] shivamsinghchahar commented on #3474
@sojan-official Raised a PR for this here: https://github.com/chatwoot/chatwoot/pull/3651

[2021-12-25 23:05] angebagui commented on #2522
I have the same issue.

[2021-12-26 06:52] nithindavid commented on #3626
@anoymouscoder As you can see the screenshot, the white background is getting cut even before the table ends. (See the color change behind the delete button)
The expectation is to have white bg till end of the row/table.

[2021-12-27 04:12] KtKeaton commented on #1706
this is my sever log, I want to know what is wrong

[code]

[2021-12-27 06:42] sultanlive commented on #3643
@iammattmartin After Closing the dialog, it doesn't work on Whatsapp (360Dialog), but it does work on WebChat.

Unfortunately there are no logs. There is no CSAT message in chatwoot

[2021-12-27 18:19] iprithvitharun opened #3655 "Inconsistent language/words in the signup form"
**Is your enhancement request related to a problem? Please describe.**

Signup form uses several different terms — "Signing up", "register an account", "Submit", and "Create an account" to refer to the same action.

**Describe the solution you'd like**

Use consistent language across the signup form.

<img width="565" alt="signup-form" src="https://user-images.githubusercontent.com/58725708/147497

[2021-12-27 18:27] iprithvitharun commented on #3655
Please assign this to me. I am working on it already.

[2021-12-27 18:31] iprithvitharun opened #3656 "Titles in change password form isn't clear"
**Is your enhancement request related to a problem? Please describe.**

The "Password" title in the Change password form isn't clear. Not sure if the user has to enter the current or new password.

**Describe the solution you'd like**

The title needs to be changed to "New password".

<img width="881" alt="new-password" src="https://user-images.githubusercontent.com/58725708/147498309-56403d5e-cc6

[2021-12-27 18:32] iprithvitharun commented on #3656
Please assign this to me.

[2021-12-27 19:48] pranavrajs commented on #3656
@iprithvitharun Please feel to raise a PR for the same.

[2021-12-27 19:50] pranavrajs commented on #3649
@iammattmartin It seems like the association for CSAT is blocking the contact deletion.

@muhsin-k Didn't we encounter this before? I remember discussing this relationship. Can you please confirm if this issue is already fixed or not?

[2021-12-27 19:52] pranavrajs commented on #3646
@GSY-PI Can you please share the machine size you are using to compile this? It seems like there is not enough information on the logs to debug this.

[2021-12-27 19:53] pranavrajs commented on #3639
@sojan-official Rails removed the webpacker dependency, so this ticket might need a spike before upgrading it to the latest.

[2021-12-27 19:53] pranavrajs commented on #3643
@sultanlive Have you enabled the CSAT message option in the inbox settings?

[2021-12-27 20:35] pranavrajs opened #3657 "Greeting messages are executed while performing an activity"
If the greeting messages are enabled, the conversation created before this would trigger a greeting message if there is no outgoing message in the conversation.

Please take a look at the conversation [here](https://app.chatwoot.com/app/accounts/1/conversations/12016)

### Screenshot

<img width="466" alt="Screenshot 2021-12-27 at 12 32 44 PM" src="https://user-images.githubusercontent.com/2246121

[2021-12-28 07:13] muhsin-k commented on #3649
@pranavrajs I am able to delete contacts that have CSAT survey responses in one of his conversation.

[2021-12-28 15:43] muhsin-k commented on #3649
@iammattmartin Could you please share your chatwoot version? Seems like the issue already fixed in [v2.1](https://github.com/chatwoot/chatwoot/releases/tag/v2.0.1). We have added some migrations for clearing foreign key associations, which are preventing deletions (https://github.com/chatwoot/chatwoot/pull/3613)

[2021-12-28 23:30] pranavrajs opened #3662 "Add option for group by week / month in reports"
Got a customer request to include "group by week/month" option for reports.

It seems like a nice feature to include.

@sojan-official @tejaswinichile Please take a look at this request and assess the changes required.

[2021-12-29 00:02] iammattmartin commented on #3649
Upgrading has resolved this. It was 2.0.

[2021-12-29 00:02] #3649 closed

[2021-12-29 05:57] iamsivin opened #3663 "Add the ability to save custom filters as folders"

[2021-12-29 05:57] iamsivin opened #3664 "Display folders on sidebar"

[2021-12-29 15:16] iprithvitharun opened #3669 "Spacing typo in Add Canned Responses modal"
**Is your enhancement request related to a problem? Please describe.**

Unnecessary space (grammatical typo) at the end of a sentence.

<img width="598" alt="spaceing-issues-canned-response" src="https://user-images.githubusercontent.com/58725708/147676608-1f907e03-8d6b-44c6-bb73-c99c48f34469.png">

[2021-12-29 15:26] iprithvitharun opened #3670 "Inconsistent toast content for Copy action across the app"
**Is your enhancement request related to a problem? Please describe.**

"Code" in toast notification could be contextual and consistent with the value copied. The same can be said for different instances of Copy action in the app. Sometimes, it is Account ID, Access Token, Embed code, etc.

So, it would make sense to make it generic instead of mentioning "code" in the toast that could potentially

[2021-12-29 15:29] iprithvitharun opened #3671 "Error with plurals in Invite members onboarding guide"
**Is your enhancement request related to a problem? Please describe.**

"Email address" does not agree with the other words in the sentence.

<img width="535" alt="onboarding-invite-instruction" src="https://user-images.githubusercontent.com/58725708/147677831-9116d6db-8a98-4afc-a604-ac7a55ceef5f.png">

[2021-12-29 16:18] iprithvitharun opened #3672 "Typo in short code field placeholder"
**Is your enhancement request related to a problem? Please describe.**

In the Canned Responses section, it is used as "Short code". But in the placeholder, it is referred to as "shortcode".

<img width="599" alt="short-code-inconsistent-term-usage" src="https://user-images.githubusercontent.com/58725708/147682451-38dd6e7a-c667-43a3-8e3f-5409c49e1f96.png">

[2021-12-29 21:45] pranavrajs opened #3673 "Content updates"
- [x] https://github.com/chatwoot/chatwoot/issues/3672
- [x] #3671
- [x] #3670
- [x] #3669
- [x] #3656
- [x] #3655

[2021-12-29 21:46] pranavrajs commented on #3673
@iprithvitharun I created a holder issue so that it can be tracked together.

[2021-12-29 21:53] pranavrajs opened #3674 "Changes in env variables are not reflected in the installation"
The changes in the ENV variables are not updated in the installation. I believe this is due to the InstallationConfig and GlobalConfig changes in the https://github.com/chatwoot/chatwoot/pull/3288

**To reproduce:**

- [ ] Initialize a new installation with default settings
- [ ] Change the ENV variable to `ENABLE_ACCOUNT_SIGNUP` to true
- [ ] Restart the server

The expected behavior is that the

[2021-12-30 15:33] YeonV commented on #3638
Same error occurs to me....
How/where do i run those commands exactly?

![image](https://user-images.githubusercontent.com/28861537/147765687-025c7837-a427-4eeb-a144-a39bc36eb509.png)

This issue should be referenced here:
https://www.chatwoot.com/docs/self-hosted/deployment/docker

[2021-12-31 10:38] voko3456 opened #3677 "Error 500 status code: when i try to delete 360dialog WhatsApp contact"
Error 500 status code: when i try to delete 360dialog WhatsApp contact

![image](https://user-images.githubusercontent.com/20530550/147818776-c731fe12-32a5-4db9-96c4-b1d3943f0d0f.png)

[2021-12-31 15:11] iammattmartin commented on #3677
Worth searching... #3649

[2021-12-31 16:52] hasanbasri1993 commented on #3428
@akhilgkrishnan why removed ?

[2022-01-01 03:35] YeonV commented on #3638
How bro? could you please share the exact steps? <3

[2022-01-01 23:10] dominikmukrecki opened #3679 "Add ability to control agents privileges"
**Is your enhancement request related to a problem? Please describe.**
**Describe the solution you'd like**

I am preparing a Chatwoot instance for production and scale and wonder if the agent could delete important custom attributes by an accident. Also, the ease of deleting contact/conversation custom attributes prevents me to use them for building an external system. I would rather use an exter

[2022-01-03 06:43] #3656 closed

[2022-01-03 07:34] vishnu-narayanan commented on #1706
@KtKeaton This error occurs when Chatwoot cannot connect with `redis`. Could you verify your `redis` connectivity?

[2022-01-03 08:54] tomgewiese opened #3682 "Will the Ubuntu installation still be updated?"

[2022-01-03 09:50] sojan-official commented on #3596
@SuprajaRamesh  please go ahead

[2022-01-03 09:51] sojan-official commented on #3063
@ximenasandoval  please go ahead

[2022-01-03 09:54] sojan-official commented on #3570
ref: https://github.com/chatwoot/chatwoot/issues/3662

[2022-01-03 10:03] vishnu-narayanan commented on #3682
@tomgewiese Hey, that is certainly not the case. We recommend running chatwoot on `Ubuntu 20.04` and even having an installation script to help with that.

https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm

[2022-01-03 10:08] sojan-official commented on #3629
@sahilmittal  may be worth looking into https://github.com/chatwoot/chatwoot/issues/3425
We have a fix for this on our latest releases

[2022-01-03 10:32] vishnu-narayanan commented on #3674
@pranavrajs Updated the docs accordingly.

[2022-01-03 11:40] #3674 closed

[2022-01-03 12:17] sojan-official opened #3683 "feat: Ability to add custom attributes in messages to be used in internal integrations"
ref: https://discord.com/channels/647412545203994635/719548300868452362/923588811320066088

[2022-01-03 12:36] voko3456 opened #3684 "whatsapp360 dialog press replay button but i didn't receive the message in chatwoot"
![image](https://user-images.githubusercontent.com/20530550/147931260-8a645681-cb3e-4409-a4cc-06ada643a75e.png)

[2022-01-03 12:41] voko3456 commented on #3587
#3684

[2022-01-03 14:03] sagararyal commented on #3304
This issue is solved in v2.0

It now uses: `Agent Name | Inbox Name < MAILER_SENDER_EMAIL >`

[2022-01-03 16:11] TimoKoessler commented on #3631
Hello,
I could not reproduce the wrong success response @ncr4development observed.

Any updates on that issue?

Thanks and greetings,
Timo

[2022-01-04 03:32] KtKeaton commented on #1706
@vishnu-narayanan You are right, I later found out that I haven't installed Redis yet.

[2022-01-04 07:07] florianmonfort opened #3686 "Cannot confirm new accounts or reset password"
**Describe the bug**

Create a new account, or use Reset password feature, the person receives the email successfully but when clicking on the link in the email they always end up on the normal landing page. The account is still not confirmed AND cannot reset the password.

**To Reproduce**

- Create new account;
- OR reset password for existing account;
- Click on link in received email;

**Expec

[2022-01-04 07:40] #3573 closed

[2022-01-04 09:02] vishnu-narayanan commented on #3686
@florianmonfort

a temporary workaround would be to access the rails console and confirm the users manually.

[code]

[2022-01-04 09:17] sojan-official commented on #3686
@florianmonfort  Could you check whether you have the `FRONTEND_URL` environment variable configured correctly ?

[2022-01-04 11:27] sojan-official commented on #3631
@aswindevps  could you take a look ?

[2022-01-04 11:37] brentco opened #3687 "Default postgres port is not correctly used"
**Describe the bug**
When the `POSTGRES_PORT` variable is not explicitly defined, the default postgres port should be used. It does get used, but it seems that it is incorrectly filled in, resulting in the error below.

**To Reproduce**

Steps to reproduce the behavior:
1. Don't explicitly define the `POSTGRES_PORT` variable in the environment
2. Run chatwoot or try to perform a `db_prepare`

**Ex

[2022-01-04 11:44] sojan-official commented on #3687
@brentco  do you have the `DATABASE_URL` variable configured in your environment?

[2022-01-04 11:54] brentco commented on #3687
No, the database is configured using the following separate properties in my case:
- POSTGRES_HOST
- POSTGRES_USERNAME
- POSTGRES_PASSWORD
- POSTGRES_DB

Note that if `POSTGRES_PORT` is given, everything works fine. This issue was discussed in Discord with @vishnu-narayanan

[2022-01-04 14:16] vishnu-narayanan commented on #3687
@brentco Just to confirm, this issue is only when you try to do a DB migration viz `bundle exec rails db:chatwoot_prepare`. Otherwise, you are not having any issues omitting the POSTGRES_PORT env variable for the normal execution of chatwoot.

[2022-01-04 14:32] brentco commented on #3687
I do in fact have the problem always after 1.18.1. It just didn't appear until I tried accessing the agent dashboard. Then the same error showed in the actual chatwoot application. That of course makes sense I guess :)

[2022-01-04 16:20] #3578 closed

[2022-01-04 17:16] #3677 closed

[2022-01-04 18:08] nosovk commented on #3686
@florianmonfort check for // in urls. Probably you entered something like https://chatwoot.domain.com/ and resulting link looks like https://chatwoot.domain.com//reset-link
I faced similar issue and changing env helped

[2022-01-04 21:01] pranavrajs opened #3692 "Support more file extensions in the chat"
Just introduced the self-hosted version of chatwoot to our customers. The feedback from them about the chat is very good, which I want to forward to you. 😊

---

We would love to have file formats like :

Software | Accepted formats
-- | --
Altium (PROTEL) | *.PCB/DDB/PCBDOC
TARGET | *.T2001/300*
EAGLE | *.BRD
Autodesk® Fusion 360™ | *.fbrd
KICAD | *.brd/kicad_pcb
EXT. GERBER | *.ZIP/RAR/etc.
Gerb

[2022-01-05 04:09] aswindevps commented on #3631
@sojan-official sure, let me check.

[2022-01-05 04:12] ncr4development commented on #3631
An upgrade to the 2.0.2 image solved the issue for me today

[2022-01-05 06:40] tejaswinichile opened #3693 "[CW-376] Tech Debt: Create send message service."
Fix https://github.com/chatwoot/chatwoot/pull/3359#discussion_r770444096

<sub>[CW-376](https://linear.app/chatwoot/issue/CW-376/tech-debt-create-send-message-service)</sub>

[2022-01-05 06:50] aswindevps commented on #3631
@TimoKoessler Could you try "smtp_port": "587"? Please share the server logs.

[2022-01-05 08:54] aldhielman opened #3694 "Setting gmail SMTP Server as Email sender for Agent Verification"
**Describe the bug**

I try to set my self-hosted CW to use gmail as SMTP Server

**To Reproduce**

Steps to reproduce the behavior:
1. Install via linux script on Linux VM
2. Apps already running and i had tried the innboxe feature for 3 different channel (Telegram, Email dan Website) and working well
3. I add another agent with valid gmail email
4. Record created but status is Pending Verificati

[2022-01-05 09:06] TimoKoessler commented on #3631
I can confirm that it is working with port 587.

I have not tried this port because Strato does not list it in its [support documents](https://www.strato.de/faq/mail/so-lauten-die-strato-e-mail-server/) and there has never been a case where SMTP has not worked over port 465.
We use this port in numerous applications and in our own projects, for example with Nodemailer or Phpmailer.

Thanks for you

[2022-01-05 09:43] TimoKoessler commented on #3631
Unfortunately, I was a bit too hasty in closing this issue.

Saving the e-mail settings works without any error, but **no** outgoing messages can be sent from this mailbox.
It is currently not possible to change advanced settings like SMTP_OPENSSL_VERIFY_MODE=none for a mailbox, is it?

[code]

[2022-01-05 10:50] mtrofimiuk opened #3695 "RoomChannel#update_presence - Could not execute command"
Repeating error logs:

A clear and concise description of what the bug is.

Install version v2.0.2

**Expected behavior**
No errors in logs.

**Browser logs**

Share the browser logs to debug the issue further

**Server logs**

[code]

**Environment**
Self hosted on linux VM

[2022-01-05 12:00] sanjayws commented on #3694
Mine works, try with these?

SMTP_ADDRESS=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=<redacted>
SMTP_PASSWORD=<redacted>
SMTP_AUTHENTICATION=login
SMTP_ENABLE_STARTTLS_AUTO=true
SMTP_OPENSSL_VERIFY_MODE=peer

[2022-01-05 12:51] vishnu-narayanan opened #3696 "Have Linux installation have preconfigured SMTP server so that installation works out of the box"
- Have Linux installation have preconfigured SMTP server so that installation works out of the box

[2022-01-05 13:22] aldhielman commented on #3694
thanks @sanjayws for your suggest, I've tried to adjust my config as your suggest and it seems "partialy work".
I means for Reset Password, email are successfully sent to my agent's email, but for Confirmation Email after I add Agent doesn't work for now

[2022-01-05 17:24] mtrofimiuk commented on #3695
As a workaround, I have silenced these logs with this little hack, for some reason @current_account is not set:

[code]

[2022-01-05 19:39] iammattmartin opened #3697 "Adjust Height of Widget"
**Is your feature request related to a problem? Please describe.**
Yes.

The default height might not be suitable for all uses. In our case, we have some tagline text added but this then adds a scroll bar before people can see the submit button. Quite a bad UI/X situation.

We would need to increase by about 50px to make it that the text and button appear without any scrolling needed.

The dimensi

[2022-01-06 01:30] ganbaaelmer opened #3698 "SELF-HOSTED service with Facebook messenger"
Hello
I'm from Mongolia.
Because of my location its hard to use Cloud services. So i need to create server on my infrastructure.
So your SELF-HOSTED 19USD service can manage my rasa and facebook messenger requests.
I mean for beginning of the conversation rasa will answer Greeting or something then it will automatically send to Chatwoof.
It means my operators (human) can continue handle conversati

[2022-01-06 04:20] aldhielman opened #3699 "Register Button doesn't show even ENABLE_ACCOUNT_SIGNUP is set to true"
I have CW installation on Linux VM Server, and i have set ENABLE_ACCOUNT_SIGUNP=TRUE on .env config file
But the register button doesn't show on login page

this screenshot from app.chatwoot.com
![image](https://user-images.githubusercontent.com/16577318/148327480-47a430f8-7ca2-4e81-879f-ad5ab9c46d91.png)

this my screnshot from CW on my linux server
![image](https://user-images.githubusercontent.

[2022-01-06 04:51] aswindevps opened #3700 "Add openssl_verify_mode in email channel for smtp configuration."
Fixes: https://github.com/chatwoot/chatwoot/issues/3631

**Backend**
Add `smtp_openssl_verify_mode` column to email channel table.
The default value should be `none`

**Frontend**
Add a dropdown in the UI to select the openssl_verify_mode.
Values should be `none, peer, client_once, fail_if_no_peer_cert`

[2022-01-06 06:29] pranavrajs commented on #3699
@vishnu-narayanan This is the duplicate of https://github.com/chatwoot/chatwoot/issues/3674. This is a breaking change in my opinion as there is no context on how to recover from this.

The problem here is that we don't have a straightforward of creating SuperAdmins. Until the #3061 is tested and merged, I would suggest giving preference to ENV if it is available.

https://github.com/chatwoot/chat

[2022-01-06 06:56] sanjayws opened #3701 "Unable to receive documents and files in WhatsApp via 360Dialog"
**Describe the bug**

- I setup 360Dialog and basic texting and images work fine. However, i cannot receiving PDF or allowable mimes like .docx (person to CW)
- Sending documents however is fine (from CW to person)

**To Reproduce**
1) Use 360dialog
2) Send hello, followed by an allowable attachment, e.g. pdf

**Expected behavior**
Documents should be rendered in CW inbox.

**Server logs**
an 06 0

[2022-01-06 07:25] pranavrajs commented on #3699
@aldhielman That might be something different, not related to this issue. Have you set the FRONTEND_URL variable?

[2022-01-06 07:37] aldhielman commented on #3699
I've set with my own domain and it worked to open image or file when customer sent me chat via website widget

[2022-01-06 08:08] #3189 closed

[2022-01-06 08:34] vishnu-narayanan commented on #3696
Update
----
Tried setting up postfix and sending an email. The postfix configuration part appears to work fine and an email was sent.

Gmail rejected the email citing DMARC policies.

[code]

[2022-01-06 09:47] sojan-official commented on #3699
@pranavrajs  I don't think #3288, #3674 led to/were unintended breakages. But the failure to update our documentation/release notes led to confusion.

The intention of #3288 is to deprecate environment variables and promote configurations from the UI so that the changes would get reflected on the installation without server restarts. The code also has backwards compatibility for installations with

[2022-01-06 10:06] pranavrajs commented on #3580
@vishnu-narayanan Can’t we just create a separate account for this? Do we need to use the existing account?

[2022-01-06 13:45] sojan-official commented on #3696
@vishnu-narayanan ref: https://mxtoolbox.com/SuperTool.aspx?action=dmarc%3achatwoot.dev
should be because we have explicitly reject policy added for that domain. But in most installations, it should be okay?

[2022-01-06 13:54] sojan-official commented on #3692
We support some of the files mentioned above

[code]

ref: https://github.com/chatwoot/chatwoot/commit/6fe548411996ff4f43d8139ccce7e10796c82cec

[2022-01-06 14:06] sojan-official commented on #3695
@mtrofimiuk
- is it a new installation or an existing installation that was recently updated ?
- did you delete/merge any contacts recently?

[2022-01-06 14:08] sojan-official commented on #3698
ref: https://github.com/chatwoot/rasa-agent-bot-demo/issues/11

ref: https://www.chatwoot.com/docs/product/others/agent-bots

ref: #3597

[2022-01-06 14:55] vishnu-narayanan commented on #3696
@sojan-official You are right. Let me try another domain.

[2022-01-06 16:49] vishnu-narayanan commented on #3699
@pranavrajs Noted. Will revert.

cc: @sojan-official

[2022-01-06 22:12] vorletzter opened #3704 "Chatwood Self-Hosted (Docker): Setting FORCE_SSL=true breaks Websocket"
**Describe the bug**

Setting FORCE_SSL=true in Chatwood Self-Hosted (Docker) breaks WebSockets

**To Reproduce**

Steps to reproduce the behavior:
1. Setting FORCE_SSL=true in .env file (as described on https://www.chatwoot.com/docs/self-hosted/deployment/docker )
2. Adding a WebSite Channel and ingerating in
3. WebChat is not working, because wss:// is getting redirected with Status 301 to https

[2022-01-07 01:25] ganbaaelmer opened #3707 "Rasa training"
Hello.
I have question about chatwoot.
can chatwoot conversations into rasa training?
i mean can i train rasa by using chatwoot conversations

[2022-01-07 16:23] vishnu-narayanan commented on #3580
@sojan-official @pranavrajs

Yes

No, we definitely need another account. Proper AWS account and not our existing AISPL type.

Two followup questions
1. Should we worry about AWS credits since the new account won't have any. Not a big concern at the moment. Depends on the answer to the next question.
2. We need to fix which will be the main account. AWS/AISPL one. Right now, we have a couple of s3

[2022-01-07 18:51] latrocha opened #3709 "[CW-372] Error with labels and upper case"
When you label a conversation from the API, if you use an upper case letter, the label is placed, but you cannot see the conversation under the label. You can see it in the count , but you cannot remove it from the conversation.
Said label is automatically removed when you add another label.
If you have an open conversation which had that label, this behaviour will continue. if you remove the labe

[2022-01-07 21:52] #3419 closed

[2022-01-07 22:02] hanthor opened #3712 "Add option to get push notifications when any new messages come in on an inbox"
Add option to get push notifications when new messages come in on an inbox

Currently, you can only get notifications when there is a new conversation, or if it is assigned to you. But unassigned conversations have no option to get push notificaitons

[2022-01-07 22:24] pranavrajs opened #3713 "Setting up auto reply on Email Inbox, does not send out the Auto Reply."
- Setup an email inbox
- Configure Auto-reply

**Expected:** AutoReplies should be sent to the customer.

The customer doesn't receive automatic replies.

**Context:** Created from a report by the customer on live chat. Link to the conversation [here](https://app.chatwoot.com/app/accounts/1/conversations/11913)

[2022-01-07 22:40] pranavrajs opened #3715 "Support more than one attachment in the emails/website-live chat"
Chatwoot UI does not support adding more than attachments in the channel emails / website-live chat. Update the UI to attach multiple attachments in one message.

@sojan-official Does the API support this, or do we need modifications there as well?

[2022-01-08 00:30] hanthor commented on #3712
Or enable multi-assignments on conversations. Or assignment groups.

[2022-01-08 11:53] SuprajaRamesh commented on #241
Hi! I'd like to work on this if no one has picked this up already.

[2022-01-09 10:09] Soundmagic commented on #3304
I update to 2.0.2, but issue still persists. What do you mean by solved in v2.0 ?!?

[2022-01-09 14:51] Anisha-art commented on #3671
I have shared a pull request, fixed this issue, please check.

[2022-01-10 02:44] sanjayws commented on #3398
hi @sojan-official can you please assist where would i start if i wanted to build a quick hack for this? Would you be kind enough to point out the file(s) that i need to look at?

Thanks

[2022-01-10 04:59] #3671 closed

[2022-01-10 05:18] nithindavid opened #3719 "bug: conversation assignee dropdown shows agents who are not part of the inbox."
The conversation assignee dropdown shows agents who are not part of the inbox.

<img width="449" alt="Screenshot 2022-01-10 at 10 47 33 AM" src="https://user-images.githubusercontent.com/1277421/148721210-b74f4440-ab22-4e74-94fc-7133e3d63536.png">

![image](https://user-images.githubusercontent.com/1277421/148720942-fedba71e-eb3a-4efc-b29f-53dd4ff68d74.png)

[2022-01-10 06:26] #3669 closed

[2022-01-10 06:37] tejaswinichile commented on #2425
This issue got resolved for one of the customers by fixing the docker port, they were running chatwoot on port 4000(docker) but didn't change the port in the rails entry command to 4000, When they changed that it started working.

They were using aws SES

[2022-01-10 07:02] zivmiz1 opened #3720 "Expand API channel to send emails"
Right now when you create a web widget if the contact is offline and the agent send a message it goes to the contact's email.
in API channel there is only option to add webhook but not forward_to_email.

My suggestion is to add the option of forward_to_email also to API channel, and then you will have the option to also to send the message that were created by agents to the contact's email

[2022-01-10 07:12] #3341 closed

[2022-01-10 07:31] florianmonfort commented on #3686
Hello, we managed to fix it with latest version and double checking config as suggested. You can close this!

[2022-01-10 07:31] #3686 closed

[2022-01-10 11:05] mtrofimiuk commented on #3695
The existing installation was updated from v1. I did not merge any contacts.

[2022-01-10 19:21] dominikmukrecki opened #3722 "Allow adding "messaging_type": "MESSAGE_TAG" for Facebook messages sent through API"
**Is your enhancement request related to a problem? Please describe.**
I am building automated e-commerce and scheduling system on top of Facebook Messenger, backed with Chatwoot. To send automated messages outside 24h window I need to create a custom workaroud. It works but is not as much clean as it should be.

**Describe the solution you'd like**
Please, allow using `"messaging_type": "MESSAGE_

[2022-01-11 07:46] pfranck opened #3723 "Add custom action to integrate with external CRM"
**Is your feature request related to a problem? Please describe.**
I would like to trigger a manual action to an external application from the Chatwoot API. This will basically allow users to create contact into their CRM, create a ticket to their ticketing system, create an opportunity, ....

**Describe the solution you'd like**
I would like to add 2 button that triggers an API to send the follow

[2022-01-11 07:49] tejaswinichile commented on #3722
@dominikmukrecki I understand your request, right now we are not allowing messaging_type in Facebook messages and as of now, we don't have any provision to save it on our records and then show it in the inbox.

This seems like a doable thing and our other customers are also looking for this feature.

We would love to work on this in the upcoming release.
Once we start working on this we would upda

[2022-01-11 08:32] #2827 closed

[2022-01-11 13:27] dominikmukrecki commented on #3722
@tejaswinichile thank you for the prompt reply :) I currently managed this using private messages. Messages with MESSAGE_TAG are sent through Facebook Graph API to the customer. The same message is sent via Chatwoot API as private, so staff can read those automated responses. I am also thinking about using direct access to the database and inserting the message row with SQL query. Those solutions,

[2022-01-11 13:28] dominikmukrecki commented on #3722
@tejaswinichile thank you for the amazing work. I became a fan of your software :)

[2022-01-11 14:15] teawithfruit opened #3725 "Customize conversation email template"
I've just tested the SMTP conversation integration to which works very good.
Now I like to customize the email template which is used to. I've clicked through the repo and found the following file which I think of, that this is the email template:
[app/views/mailers/conversation_reply_mailer/email_reply.html.erb](https://github.com/chatwoot/chatwoot/blob/6a98a812e70cd76ad4ee1e9ca33af98ec4b7b3e9/ap

[2022-01-11 14:19] nithindavid opened #3726 "[CW-363] feat: Show context of original tweet on retweet"
**Context**
When retweets come in conversations, it's difficult to understand what's the parent tweet or link about parent tweet.

![image](https://user-images.githubusercontent.com/1277421/148959318-a8968e23-a196-47e4-aa7f-e89f6c25fc7b.png)

<sub>[CW-363](https://linear.app/chatwoot/issue/CW-363/feat-show-context-of-original-tweet-on-retweet)</sub>

[2022-01-11 15:09] teawithfruit commented on #3233
I've got the same problem an macOS when trying to make the development environment run with this description.
https://www.chatwoot.com/docs/contributing-guide/environment-setup/docker

[2022-01-11 16:57] panaras10 opened #3727 "Bug: posting a reply to a long chat does not auto scroll to the bottom"
As the title says, when posting a reply to a long chat, it does not auto scroll me to the bottom of the page to see the latest reply i just posted. This is after my update from 1.2.2 to 2.0.2

[2022-01-11 19:39] pranavrajs commented on #3719
@nithindavid This is working as expected. You can assign it to the inbox members or administrators. The list is fetched using `assignable_agents` which is returning the right set of agents.

[2022-01-11 19:43] pranavrajs commented on #3719
Closing this issue as it is not a bug.

[2022-01-11 19:43] #3719 closed

[2022-01-11 21:23] sojan-official commented on #3712
ref: #2443 #241

[2022-01-11 21:38] pranavrajs commented on #3577
Fixed via https://github.com/chatwoot/chatwoot/pull/3710

[2022-01-11 21:38] #3577 closed

[2022-01-11 21:51] pranavrajs opened #3731 "Zoho email parsing error"

[2022-01-11 21:52] pranavrajs commented on #3731
@tejaswinichile Can you please take a look at this?

[2022-01-11 22:00] pranavrajs opened #3732 "[CW-362] Email customization"
**Todo:**

- [ ] Add Inbox name in the email content.
- [ ] Update the email copy.

<sub>[CW-362](https://linear.app/chatwoot/issue/CW-362/email-customization)</sub>

[2022-01-11 23:10] pranavrajs commented on #3623
@dominikmukrecki  I can see `"private": true`. Are you using this attribute in the API?

[2022-01-11 23:11] pranavrajs commented on #3623
Sorry, my bad. I didn't realize you were creating a private message from bot.

[2022-01-11 23:12] pranavrajs commented on #3623
@iamsivin Can you please take a look at it in the next sprint.

[2022-01-11 23:20] #3672 closed

[2022-01-12 03:00] #2021 closed

[2022-01-12 03:12] pranavrajs commented on #3725
Can you please explain this part a little more? Are you looking for adding a signature or something similar?

[2022-01-12 03:15] pranavrajs commented on #3723
@pfranck Thanks for the suggestion.

[2022-01-12 03:20] #3699 closed

[2022-01-12 03:21] pranavrajs commented on #3697
@nithindavid Can you please look at this issue and suggest an alternative?

[2022-01-12 03:34] #3183 closed

[2022-01-12 03:38] pranavrajs opened #3735 "Filter conversations/contacts by custom attributes"
- [x] #3736
- [x] #3738

**Types & Support filters**

| Custom Attribute Type | Supported Filters |
| -- | -- |
| List | Is Equal, Is Not Equal, Is Present, Is not Present |
| Text | Is Equal, Is Not Equal, Contains, Does not contain |
| Number |  Is Equal, Is Not Equal, Is Present, Is not Present |
| Link | Is Equal, Is Not Equal, Is Present, Is not Present |
| Date | Is Equal, Is Not Equal, Is G

[2022-01-12 03:38] nithindavid commented on #3565
@sojan-official Can we close this issue? Anything else pending ?

[2022-01-12 03:39] pranavrajs opened #3736 "Support Custom Attributes in the API for contact & conversation filters"

[2022-01-12 03:43] pranavrajs opened #3738 "Support the UI to have Custom Attributes as filters"
- Add a new section in the filters dropdown with the list of supported custom attributes.

eg:
<img width="653" alt="Screenshot 2022-01-11 at 7 39 01 PM" src="https://user-images.githubusercontent.com/2246121/149060180-f24e33be-ecd0-4626-b408-e2b4336b218a.png">

[2022-01-12 04:06] iamsivin opened #3739 "API call is failing on selecting load more conversations after applying filter"
**Describe the bug**

The API call is failing when we click to load more conversations after applying the filter.

**To Reproduce**

Steps to reproduce the behaviour:
1. Go to Dashboard and open the filter modal
2. Click on status -> open and apply filter and now you can see the filtered conversation.
3. Open dev tool and go to Network tab and verify the filters API and go back to dashboard
4. Scr

[2022-01-12 04:07] #3565 closed

[2022-01-12 04:16] pranavrajs commented on #1372
@tejaswinichile Please share the update on this.

[2022-01-12 04:17] pranavrajs commented on #2954
Closed via https://github.com/chatwoot/chatwoot/pull/3611

[2022-01-12 04:17] #2954 closed

[2022-01-12 04:19] tejaswinichile commented on #1372
Note to self: Test it when #3567 is merged.

[2022-01-12 04:21] pranavrajs commented on #3567
@tejaswinichile @sojan-official Let us syncup on this issue.

[2022-01-12 04:25] tejaswinichile opened #3740 "Upload/Clone/Delete Automation rule API endpoint"
Add new endpoint for automation rule to edit, delete, and clone.

[2022-01-12 04:28] pranavrajs commented on #3580
@vishnu-narayanan Let us use a new account for Chatwoot AWS listing and the AISPL account for servers for now.

[2022-01-12 04:28] pranavrajs commented on #3580
@pranavrajs to create an AWS account with US Address.

[2022-01-12 04:40] tejaswinichile commented on #3731
Probably fixed by https://github.com/chatwoot/chatwoot/pull/3659 so we will ask them to test it after that is merged.

[2022-01-12 04:58] nithindavid opened #3741 "Refresh contact attributes while selecting a different conversation"
**Context**
 -  Select a conversation which is from a  contact with custom attributes,
 -  The values work as expected
 -  but if you select another conversation from another contact having custom attributes, the values for custom attributes do not change.

[2022-01-12 05:11] pranavrajs opened #3742 "[CW-361] The notification should not be sent after user logs out"
* [X] Mobile App notification [https://github.com/chatwoot/chatwoot-mobile-app/issues/430](https://github.com/chatwoot/chatwoot-mobile-app/issues/430)
* [ ] Web app notification

---

API:  DELETE /api/v1/accounts/<account-id>/notification_subscriptions

<sub>From [SyncLinear.com](https://synclinear.com) | [CW-361](https://linear.app/chatwoot/issue/CW-361/the-notification-should-not-be-sent-after-

[2022-01-12 05:27] pranavrajs commented on #3378
- [ ] API for saving Email Signature
- [ ] UI to select email signature

[2022-01-12 06:23] tejaswinichile commented on #3739
@fayazara Can you check this, when I am clicking on load more conversation it's sending me an query-operator 'AND' which should be `null`
<img width="350" alt="query-op" src="https://user-images.githubusercontent.com/10827585/149074759-401e671c-bccd-4564-81d6-cf8584e8b28d.png">

This is the received payload after load more conversation:
 {
  "payload"=> [
      {"attribute_key"=>"status", "filter_

[2022-01-12 06:26] fayazara commented on #3739
The drop-down ui also looks broken. Looking into it.

[2022-01-12 06:33] iamsivin commented on #3739
@fayazara @tejaswinichile I think this is occurring because passing payload to `filterQueryGenerator()`

[2022-01-12 06:37] iamsivin opened #3743 "Show conversations in the folder when the user click on the sidebar item"

[2022-01-12 06:37] iamsivin opened #3744 "Add the ability to delete the folder"

[2022-01-12 08:19] teawithfruit commented on #3725
A signature would be helpfull in the first step, but I think that the best soulution should be something like MJML.
https://mjml.io/

What do you think?

[2022-01-12 10:18] pomarc opened #3746 "chrome shows phishing alert on a new chatwoot installation."
**Describe the bug**
created a new ubuntu 20.04 VM, installed chatwoot as suggested with a custom domain ( at westeurope.cloudapp.azure.com), the app runs smoothly, but chrome blocks the page as phishing. in the search console, the page is rated as phishing.
Firefox happily shows the page. The application runs well on Firefox.

**To Reproduce**

Steps to reproduce the behaviour:
on a clean ubuntu

[2022-01-12 10:57] vishnu-narayanan commented on #3746
@pomarc did you set up SSL during the installation?

`*.westeurope.cloudapp.azure.com` looks like a domain managed by Microsoft. Are you able to generate SSL certs against this domain? My guess is no and In that case, I would suggest you use a domain you own.

[2022-01-12 17:05] iammattmartin commented on #3746
Probably not SSL related but that someone use has put a phishing page on a sub-domain of that domain and Chrome has just listed the whole lot.

Can you use a custom domain?

[2022-01-12 20:27] #3625 closed

[2022-01-12 21:10] sojan-official commented on #3404
closing in favor of https://github.com/chatwoot/chatwoot/issues/3587

[2022-01-12 21:10] #3404 closed

[2022-01-12 22:30] sojan-official opened #3749 "Adding private notes on tweet conversations requires selecting a tweet"
- There shouldn't be a need to select a specific tweet for adding private notes in tweet conversations

[2022-01-12 23:38] sojan-official commented on #3715
The API should support this.

[2022-01-12 23:40] pranavrajs commented on #2011
@sojan-official Moving this product discussion for prioritization.

[2022-01-12 23:41] pranavrajs commented on #3363
@sojan-official Adding this to production discussions for prioritization.

[2022-01-13 00:20] pranavrajs commented on #724
https://developer.atlassian.com/cloud/trello/guides/power-ups/managing-power-ups/

[2022-01-13 00:21] pranavrajs commented on #799
Closing this as there is no activity on this for a long time.

[2022-01-13 00:21] #799 closed

[2022-01-13 00:24] #846 closed

[2022-01-13 00:25] #961 closed

[2022-01-13 00:26] pranavrajs commented on #854
Closing in favour of #2011

[2022-01-13 00:26] #854 closed

[2022-01-13 00:33] #892 closed

[2022-01-13 00:34] pranavrajs commented on #892
Closing this as most of this should be covered in automation.

[2022-01-13 00:45] #984 closed

[2022-01-13 00:46] pranavrajs commented on #1006
Closing this as there was no activity here. @iammattmartin Please feel free to reopen if the actual problem is not solved.

[2022-01-13 00:46] #1006 closed

[2022-01-13 01:41] #3587 closed

[2022-01-13 03:03] sojan-official commented on #3720
@zivmiz1  Could you provide more information on how you are using the API channel?

Are you building a custom chat interface using the API channel?

[2022-01-13 03:13] sojan-official commented on #3398
@sanjayws  Chatwoot during its inception had support for location messages from Facebook. So we have some leftover code that you could leverage.

message objects in chatwoot can have attachments. you can use attachment objects to store your location coordinates
ref: https://github.com/chatwoot/chatwoot/blob/1c99294c8c52f3780ff73c7a6ffa892d2ce2b4a7/app/models/attachment.rb#L69

The easiest approach

[2022-01-13 03:15] sojan-official commented on #3707
you should be able to leverage rasa X if you have chatwoot conversations connected to rasa
ref: https://rasa.com/docs/rasa-x/user-guide/review-conversations

[2022-01-13 03:42] #3684 closed

[2022-01-13 04:57] muhsin-k opened #3752 "bug: Text overflow in contact bio"
![overflow-issue](https://user-images.githubusercontent.com/12408980/149267837-e7e074bf-ee82-4c1f-b08f-ac343e8a9a53.png)

[2022-01-13 05:27] sanjayws commented on #3398
Mr Sojan, i am not a Ruby dev, but i will try to look into this based on your guidance here. As i've said earlier, i will elated to work with the CW team by means of supporting the prioritisation of this and we can discuss this more.

Happy New Year and stay safe.

[2022-01-13 05:51] #3342 closed

[2022-01-13 06:41] pranavrajs opened #3755 "Styles are broken in some of the emails"
<img width="370" alt="Screenshot 2022-01-12 at 10 41 29 PM" src="https://user-images.githubusercontent.com/2246121/149278811-a1aaba1f-60e5-44c2-b4d9-677a7b9739fe.png">

[2022-01-13 08:38] Soundmagic opened #3757 "email-channel mail-adresse is not used as smtp-sender -> instead "accounts@chatwoot.com" is used"
- new mail-channel ist setup with adress shop@xxxx.de
- STMP is configured for this mail channel and succesfully saved
- when replying to a customer through this mail channel, all mails are send out as sender "accounts@chatwoot.com" instead of "shop@xxxx.de"

Expected Behavior:
smtp/mail sender of a mail channel is every time the mail-channels mail adress "here: shop@xxxx.de"

[2022-01-13 12:00] heroic commented on #3741
Please see the attached screenshots

First conversation selected for a user with custom attribute(external id - as highlighted)
<img width="1440" alt="Screenshot 2022-01-13 at 5 24 15 PM" src="https://user-images.githubusercontent.com/523335/149326143-0a338700-0e6a-4a39-9c4b-3c157f646b23.png">

Second conversation selected for another user with custom attributes. Everything in the side bar updated

[2022-01-13 12:24] dominik-mukrecki opened #3759 "[CW-360] Add Dialogflow CX integration"
**Is your enhancement request related to a problem? Please describe.**
Dialogflow CX is the maters-class chatbot solution. I managed to build a custom integration, but the built-in solution could be more efficient and clean.

**Describe the solution you'd like**
You can use Gem for Dialogflow v3 API, for example, this: https://rubygems.org/gems/google-apis-dialogflow_v3

Tip: After creating the fi

[2022-01-13 14:30] nithindavid commented on #3732
@pranavrajs
1. Does User mean, Agents or customers ?
2. Any suggestion or idea about the copy?

[2022-01-13 18:52] #3755 closed

[2022-01-13 18:54] #3749 closed

[2022-01-13 18:57] #3752 closed

[2022-01-13 19:15] #3063 closed

[2022-01-13 21:20] sojan-official commented on #3757
@aswindevps  could you take a look?

[2022-01-13 21:26] sojan-official opened #3761 "bug: Intermittent assignment notification delivery delays"
It has been observed in some accounts that the assignment notification delivery gets delayed by a few seconds.
This behaviour only happens with `conversation assignment` notifications and all the other notifications are working properlyl

[2022-01-13 22:49] pranavrajs opened #3762 "Icon colors are not recognizable"
The icon colors used to be white before which was more recognizable.

<img width="463" alt="Screenshot 2022-01-13 at 2 45 39 PM" src="https://user-images.githubusercontent.com/2246121/149420888-9bee33d3-621e-4467-939d-763e820e4ae6.png">

[2022-01-13 22:51] zivmiz1 commented on #3720
@sojan-official Exactly, I'm trying to build a custom chat that sends message using the API channel. And if the agent is sending a message back to the consumer and the consumer is offline I want to be able to send the message to the consumer's email instead

[2022-01-14 05:00] hostup commented on #3304
same issue here also updated but it shows from accounts@chatwoot.com

[2022-01-14 05:38] pranavrajs commented on #3304
@sojan-official @vishnu-narayanan Looks like there is something wrong with the configuration.

@hostup / @Soundmagic is it fresh installation, did you have any changes in your self-hosted installation?

[2022-01-14 05:38] #3761 closed

[2022-01-14 05:40] hostup commented on #3304
It's not fresh, but it's only 16 days old. I have changed the env file to this:

MAILER_SENDER_EMAIL="Chatwoot <chatt@hostup.se>"

[2022-01-14 06:39] shivamsinghchahar commented on #3634
@sojan-official Can I take this up?

[2022-01-14 06:45] shivamsinghchahar commented on #3596
@sojan-official If this is not being worked on then I can raise a fix.

[2022-01-14 07:36] Soundmagic commented on #3304
same for me, not fresh but only 7 days old. I change the env file to this
MAILER_SENDER_EMAIL="shop <shop@gastroshark.de>"

I enabled also the continously function.
I setup an Email channel with smtp only (not imap), incoming mails catch by postfix and forwarded via action mailer.
I restart the chatwoot service after every change.

Agent repley in email channel "shop" are send out still with "acco

[2022-01-14 07:38] pranavrajs opened #3766 "Assign the conversation to agent who opens the conversation"
- [ ] **Case 1:** Any conversation which is in Snoozed/Resolved/Pending status

If an agent opens a conversation that was resolved/snoozed/is pending, assign the conversation automatically to the agent who opened it.

- [x] **Case 2:** Any conversation created using a new message option in contacts

When a new message is created by an agent from the contacts screen, the conversation should be assi

[2022-01-14 07:38] Soundmagic commented on #3757
similar discussion ongoing in https://github.com/chatwoot/chatwoot/issues/3304#issuecomment-1012777762

[2022-01-14 08:28] Christilut opened #3767 "Unable to send mails using SES: "SocketError: getaddrinfo""
**Describe the bug**

Chatwoot is unable to send mails over SMTP using Amazon SES. It looks like it has trouble resolving the SES domain.

**To Reproduce**

docker-compose env vars:

[code]

Send transcript email. Check Sidekiq logs, the error appears.

**Expected behavior**

Should send email

**Server logs**

Sidekiq logs:
[code]

**Environment**

Self hosted on bare metal machine using docker-c

[2022-01-14 09:21] SuprajaRamesh commented on #3596
@shivamsinghchahar I'm working on this currently

[2022-01-14 13:12] SanjuSudheerM commented on #3554
@nithindavid Can I work on this?

[2022-01-14 14:31] iammattmartin opened #3769 "Labels via the SDK"
**Describe the bug**

This may simply be due to how we're doing this but the code sample below does not set a label.

[code]

Should this technically work? Examples for this in the docs are quite limited.

[2022-01-14 16:39] vaneetproton commented on #1598
![Screenshot 2022-01-14 220722](https://user-images.githubusercontent.com/94404033/149551637-9996fb90-7130-4652-bd0a-1a1ee1da5d42.png)
Chatwoot widget is misaligned or something don't know but the white bubble should be in the center. I have a self-hosted chatwoot app. Installation done via Ubuntu script and no modification has been done. Can someone please advise?

[2022-01-14 18:08] pranavrajs commented on #3304
@vishnu-narayanan This sounds like the issue with env.

@Soundmagic @btcmaine @hostup Would you be able to upgrade the version to 2.1.0 and see if the issue is still there? We had a fix for similar issue via https://github.com/chatwoot/chatwoot/pull/3702

[2022-01-14 18:30] fayazara opened #3770 "Advanced contacts filters - Phone filter does not work"
**Describe the bug**

Contacts advanced filter does not work for phone number `equal_to` as well as `contains`, returns empty array.

Steps to reproduce the behavior:
1. Go to Contacts page
2. Click on the filters icon
3. Select phone number as the attribute and enter a phone number from your contacts list
4. See empty contacts screen

[2022-01-14 18:31] vishnu-narayanan commented on #3304
@Soundmagic @btcmaine @hostup Could you also confirm your Chatwoot setup? Deployment method? Chatwoot version ?

[2022-01-14 18:32] sojan-official commented on #3634
@shivamsinghchahar  please go ahead

[2022-01-14 18:38] vishnu-narayanan commented on #3304
@pranavrajs `MAILER_SENDER_EMAIL` variable was not modified to use the GlobalConfigService. It is still fetching directly from env variable.

```ENV.fetch('MAILER_SENDER_EMAIL', 'Chatwoot <accounts@chatwoot.com>')```

ref: https://github.com/chatwoot/chatwoot/search?q=MAILER_SENDER_EMAIL&type=

[2022-01-14 19:27] heroic commented on #3741
@pranavrajs @nithindavid can this be opened?

[2022-01-14 19:36] pranavrajs commented on #3741
@heroic I can reproduce this error. Contact Attributes are not getting updated if there was an attribute shown previously.

[2022-01-14 20:20] Soundmagic commented on #3304
I update bevor my last post to 2.1.0 but issue persist

[2022-01-14 20:21] Soundmagic commented on #3304
Ubuntu 20 LTS via install script
Chatwoot 2.1.0

[2022-01-15 01:03] nithindavid commented on #3554
Sure

[2022-01-15 09:42] SuprajaRamesh commented on #241
@sojan-official @pranavrajs Do we need a separate table for this purpose? We can query this information from the messages table using the conversation_id, isn't it?

[2022-01-15 10:14] voko3456 opened #3772 "Display 360Dialog API key in WhatsApp Channel settings"
we are not able to get the 360dialog api key from whatsapp channel settings

if i generate the api key from 360dialog then i go to chatwoot and i add whatsapp channel i can enter the 360dialog api key but later if i want to copy the api key to from chtwoot its not showing even in 360dialog so i have to regenerate the api key from 360dialog again then i have to add new whatsapp channel with new api

[2022-01-15 10:23] voko3456 opened #3773 "Add user limits per accounts from Super Admin"
Add user limits per accounts from Super Admin

[2022-01-15 10:35] hostup commented on #3304
Yes I am using this setup.

[2022-01-15 10:45] amaljosea commented on #3626
Taking a look at this issue

[2022-01-15 11:01] heroic opened #3775 "[CW-359] App store reviews"
**Is your feature request related to a problem? Please describe.**
Customers for a mobile app tend to request support on reviews on app/play stores. A good to have feature would be to capture all reviews below 4 stars(configurable) to be captured as conversations, and replies to this conversation going as reply on the app/play store

**Describe alternatives you've considered**
We currently use Zen

[2022-01-15 12:02] tabrza opened #3776 "Mobile embed code"
**Is your enhancement request related to a problem? Please describe.**
Would there be a way for chat to be embedded in iOS, Android or cross-platfrom applications? I imagine such a use case would rise with increasing user mobile first requirements

[2022-01-15 23:56] aw-0 opened #3777 "Outdated Twitter Guide"
**Is your enhancement request related to a problem? Please describe.**
The [Twitter App Setup](https://www.chatwoot.com/docs/self-hosted/configuration/features/integrations/twitter-channel-setup) guide is outdated, especially during the `Create a dev environment` section, which I could find absolutely nothing about in the updated Twitter API V2 portal.

**Describe the solution you'd like**
An upda

[2022-01-16 14:43] SanjuSudheerM commented on #3554
#3778

[2022-01-16 19:48] voko3456 opened #3779 "Add the support for canned responses in contact messages"
Right now we can't send template message as canned response after add new contact and send message

![image](https://user-images.githubusercontent.com/20530550/149788240-8ae6cc9e-b561-4b81-9a4a-b68b05d73210.png)

[2022-01-17 03:48] #3663 closed

[2022-01-17 03:48] #3664 closed

[2022-01-17 03:48] #3743 closed

[2022-01-17 07:13] Soundmagic commented on #3304
Over the weekend I tried to fix this anyhow.
I did:
- resetting .env and start again --> not effect-> accounts@chatwoot.com is taken everytime
- I disables continously mailer in channel features via rail console --> not effect-> accounts@chatwoot.com is taken everytime
- I change the "accounts@chatwoot.com" in mailer_xxx.rb files --> not effect-> accounts@chatwoot.com is taken everytime
- I set up

[2022-01-17 07:31] Danielferencz21 opened #3781 "Czech Republic"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, add screenshots to help explain your problem.

**Browser logs**

Share the browse

[2022-01-17 07:48] #3781 closed

[2022-01-17 09:07] tejaswinichile commented on #3770
@fayazara The phone number works on number

[2022-01-17 09:46] Toninobandolero commented on #1969
Hello,
I'm having a problem similar to this, but I'm not sure if it's the same.

https://www.chatroot.com/docs/contributing-guide/environment-setup/docker

I have followed the manual from my vps with ubuntu 20.04 LTS. I also changed password for redis and postgres on .env and i used the same password for postgres on docker-compose.yml. Everything seems to be going well until I get to the end

dock

[2022-01-17 13:19] fayazara commented on #3770
Okay, I'll add a small message on the input.

[2022-01-17 13:35] sumit-s03 opened #3783 "postback event for card button(interactive messages)"
please help with message card issue. in create card message api, how to do with "postback" template is here :
 { "content": "card message", "content_type":"cards", "content_attributes":{ "items":[ { "media_url":"https://assets.ajio.com/medias/sys_master/root/hdb/h9a/13582024212510/-1117Wx1400H-460345219-white-MODEL.jpg", "title":"Nike Shoes 2.0", "description":"Running with Nike Shoe 2.0", "action

[2022-01-17 14:29] voko3456 opened #3784 "issue in pulling survey related translation files from crowdin"
issue in pulling survey related translation files from crowdin

![image](https://user-images.githubusercontent.com/20530550/149787940-fcad65c0-a17c-45eb-84ee-4115776b77f9.png)

![image](https://user-images.githubusercontent.com/20530550/149787985-cb277796-10ff-4fb0-82a9-36e9d9355b68.png)

im not able to find showing text in translation file

[2022-01-17 15:02] fayazara commented on #3738
![image](https://user-images.githubusercontent.com/15716057/149792921-a3f99fb2-4de5-4fdc-a0c6-474990537a46.png)

Would using the HTML `optgroup` make sense? or just use the Vue Multiselect component, it does have [grouping option](https://vue-multiselect.js.org/#sub-option-groups) and search too.

[2022-01-17 15:10] sanjayws opened #3787 "Overview for reports button showing "Download Agent Reports""
Shouldn't it show "Download Overview Reports" instead?

[2022-01-17 15:17] vishnu-narayanan commented on #1969
@Toninobandolero Did you run the migrations first before `docker-compose up`?

[2022-01-17 15:23] vishnu-narayanan commented on #3746
@pomarc If you are able to generate an SSL cert for that domain, I am not sure what might be causing the issue.

Let us know how it goes with a custom domain btw.

[2022-01-17 16:26] ammad-fareed opened #3788 "Twitter images are not shown in conversation messages"
If there's a message containing the images, it will show as a link to the message(not to the image). So, to see that image, we have to follow the link to see it on Twitter itself. I need the images to be in the message, not the link. Any suggestion/help will be appreciated, thanks.

[2022-01-17 18:02] pranavrajs commented on #3732
@nithindavid

There are 3 customer-facing emails.

1. **Conversation Transcript:** You can initiate a conversation transcript from the dashboard or the web widget. This would send out an email. This email is shown below.

<img width="927" alt="Screenshot 2022-01-17 at 9 50 39 AM" src="https://user-images.githubusercontent.com/2246121/149817626-297c34f6-9bde-4c89-8c0e-470165925e0a.png">

2. **Reply

[2022-01-17 18:42] iammattmartin commented on #3769
This did work but was a caching/session issue.

[2022-01-17 18:42] #3769 closed

[2022-01-17 18:45] iammattmartin opened #3789 "[CW-358] SDK with name and email provided, hides message box"
**Describe the bug**

When you set the user/email via the SDK, even with "pre chat form" enabled, we'd expect to see the pre-chat message and message box still there.

Even the check for "Visitors should provide their name and email address before starting the chat" refers to name/email only.

As the widget already has that data, only the message box should show but that appears to be hidden.

<su

[2022-01-17 19:00] pranavrajs commented on #3738
@fayazara I would suggest using Multiselect instead of optgroup.

[2022-01-17 19:57] pranavrajs commented on #1598
@vaneetproton Can you please share the URL to see what's going on?

[2022-01-18 01:37] nithindavid commented on #3788
@sojan-official @tejaswinichile Any thoughts on this?

[2022-01-18 02:07] #3626 closed

[2022-01-18 03:00] iamsivin opened #3790 "Add the ability to save custom filters as segments."

[2022-01-18 04:06] pranavrajs opened #3794 "[CW-357] Add an option to edit City/Country"
![image](https://user-images.githubusercontent.com/2246121/149869065-7b177541-2070-45dd-9a6a-27a8942a73ca.png)

![image](https://user-images.githubusercontent.com/2246121/149869095-55dc9840-9edb-4842-81d5-13f7a4927422.png)

The city and country fields are currently populated using the IP Address. There is no option to edit it.

- [ ] Update the UI to include the city (input) and country (dropdown)

[2022-01-18 07:23] sojan-official commented on #3788
We can prioritize this for future releases.
- one possible candidate could be a generic link preview for messages.

[2022-01-18 10:01] voko3456 opened #3795 "if i send template via 360dialog api using postman and customer press replay button still not working"
if i send the template via 360dialog api and customer press replay button still not working

[2022-01-18 13:35] tejaswinichile commented on #3777
Hey, @aw-0 I am a little unaware of `Twitter API V2` but I will check and make the necessary changes.

[2022-01-18 14:07] tejaswinichile commented on #3735
We have this structure for the filter request payload :
[code]
So for the custom attribute, we can have a similar structure where `attribute_key` would be the custom attribute definition key.
Consider following example for custom attribute `"Signedup at"` we have attribute key: `"signedUpAt"` below is the record,
[code]

So if we want to filter contacts for the given account we would want below pa

[2022-01-18 15:52] SNatis opened #3798 "Add the posibility to use sendmail on linux system"
I created a server with Chatwoot and Postfix.
Unfortunately, i couldn't find a way to configure Chatwoot to use sendmail.
I had to edit the "config/initializers/mailer.rb" file to change line 6 to config.action_mailer.delivery_method=:sendmail

[2022-01-18 16:14] voko3456 commented on #3684
#3795 still not fixed 😥

[2022-01-18 16:37] nithindavid opened #3799 "feat: API for saving Email Signature with profile settings"
**Context**
This is a follow up/breakdown of #3378.
With every agent in chatwoot we need to support email signatures. The email signature would come under profile settings. This would need changes to  `PUT /api/v1/profile` API. With support for `email_signature` and `email_signature_enabled` keys.

`email_signature` - Would need to support HTML text also. Would also need to take care sanitation he

[2022-01-18 17:40] iammattmartin commented on #3798
You shouldn't need to do that.

"relay" is the correct setting for any standard MTA.

https://www.chatwoot.com/docs/self-hosted/configuration/features/email-channel/conversation-continuity

[2022-01-18 18:08] SNatis commented on #3798
Hi !
Sorry, I only followed the documentation on the environment (https://www.chatwoot.com/docs/self-hosted/configuration/environment-variables ) where it is not mentioned this possibility. As I have not yet configured the e-mail channel I had not gone through it yet.

[2022-01-18 18:08] #3798 closed

[2022-01-18 19:55] pranavrajs opened #3802 "Close button in campaigns is not aligned with the chat bubble"
<img width="490" alt="Screenshot 2022-01-18 at 11 53 38 AM" src="https://user-images.githubusercontent.com/2246121/150008958-a8a02b24-e6fd-46b2-a5de-3b397bac3514.png">

@nithindavid Please take a look at this.

[2022-01-18 22:36] rodenp commented on #2011
Very interested to see this feature.
Are there any updates on the progress of this feature?

[2022-01-19 03:58] iamsivin opened #3804 "Display Segments on the sidebar"

[2022-01-19 03:58] iamsivin opened #3805 "Show contacts in the segment when clicks on a segment"

[2022-01-19 04:10] #3744 closed

[2022-01-19 04:24] nithindavid commented on #951
@vishnu-narayanan Can you please check if this is still relevant?

[2022-01-19 04:28] nithindavid commented on #1201
@darshit261991 I'm closing this issue as there is no response. Please feel free to reopen if you want to continue the conversation.

[2022-01-19 04:28] #1201 closed

[2022-01-19 04:30] nithindavid commented on #1162
@quacktacular  I'm closing this issue as there is no response. Please feel free to reopen if you want to continue the conversation.

[2022-01-19 04:30] #1162 closed

[2022-01-19 04:32] #1138 closed

[2022-01-19 04:33] nithindavid commented on #1125
@vishnu-narayanan Can you please have a look at this and see if this is still relevant or plans on this?

[2022-01-19 04:34] nithindavid commented on #1126
@vishnu-narayanan Can you please have a look at this and see if we can close this issue?

[2022-01-19 04:39] sanjayws opened #3807 "WhatsApp with 360Dialog: One contact but two separate conversations created in CW"
**Describe the bug**
We received two separate messages from a single WA contact created at the same time.

**To Reproduce**
Not sure how to reproduce. Just happened randomly.

**Expected behavior**
One contact should have a single conversation stream. It appears in this isolated case, have split the conversation into two from the same contact.

Private information has been redacted, common factor

[2022-01-19 04:48] nithindavid commented on #1109
@iammattmartin I think this would create confusions to the the user. Considering a user goes to 2-3 pages to check read something and they would expect the widget to be closed for a less intrusive experience.
By retaining the state the widget will be open on every page, creating an intrusion and might close the widget. Also If he closes the newly opened page and comes back to the original page whe

[2022-01-19 05:02] nithindavid commented on #1059
Closing this issue as we have now pre-chat forms to do this.

[2022-01-19 05:02] #1059 closed

[2022-01-19 06:01] nithindavid commented on #1249
Closing in favour of #1230

[2022-01-19 06:02] nithindavid commented on #1241
Similar issue #1350

[2022-01-19 06:03] nithindavid commented on #1228
Closing in favour of #2636

[2022-01-19 06:03] #1228 closed

[2022-01-19 06:06] nithindavid commented on #1362
Closing in favour of #234

[2022-01-19 06:06] #1362 closed

[2022-01-19 06:40] tejaswinichile commented on #1372
This has been fixed by https://github.com/chatwoot/chatwoot/issues/3612 but it should not appear in the future it will be fixed by #3567

[2022-01-19 06:40] #1372 closed

[2022-01-19 06:45] tejaswinichile commented on #3607
@pranavrajs Not able to understand the issue, I have asked the customer some questions for further investigation, but he has not replied.

Not sure how to proceed with this.

[2022-01-19 06:51] tejaswinichile commented on #1263
Ideas:

We can handle it before sending a message with minimal effort.
We can have a character count for the Twitter channel inbox editor. We will need UI/UX changes around it on channel check.

@pranavrajs @nithindavid  Thoughts?

[2022-01-19 06:52] tejaswinichile commented on #1140
#3777 Will be updated with this changes.

[2022-01-19 07:13] #3802 closed

[2022-01-19 07:16] nithindavid commented on #1543
@SmartManoj Closing this as there is no response. Please reopen if you are still facing this issue.

[2022-01-19 07:16] #1543 closed

[2022-01-19 07:46] #3474 closed

[2022-01-19 07:47] fayazara commented on #3735
Do we needto send the `attribute_model` for other filters too?

[2022-01-19 08:23] tejaswinichile commented on #3735
@fayazara

No.

You can just send it for the current filters and for the past filter, you can keep it `null`/`standard`/ or skip it.

@fayazara Is it possible to send the date-type filter in the `yyyy-mm-dd` format to the backend?

[2022-01-19 09:01] barryvdh opened #3810 "Postmark inbound webhook gives 404"
**Describe the bug**

I've setup Postmark with Inbound webhooks, using my own domain (inbound.mydomain.com). After sending a test message, it shows a 404 error.

The e-mail in the To matches the email in Chatwoot:
![image](https://user-images.githubusercontent.com/973269/150096946-499e15a6-7718-48fc-8b8f-d29e3c3891cb.png)

And the raw input + password is included:

![image](https://user-images.git

[2022-01-19 09:39] voko3456 opened #3811 "add ability assign chat to first responder automatically"

[2022-01-19 10:10] iammattmartin commented on #1109
I'd very much disagree here.

Looking at many other solutions, the consensus is that it retains state whilst in chat. I would not expect the window to close each time a page is changed whilst in conversation. This would confuse the user.

To the non-technical, they would wonder where their chat has gone. At least if it appears and they don't want it, they can close it.

[2022-01-19 10:38] thepixelmonk commented on #2830
how's this going?

[2022-01-19 10:47] barryvdh commented on #3810
Nevermind, was using the wrong route, because I copied the Sendgrid example.

[2022-01-19 10:47] #3810 closed

[2022-01-19 11:23] shivamsinghchahar commented on #3634
@sojan-official I'm checking `/app/accounts/1/settings/canned-response/list` page and I'm not able to reproduce this. Was this fixed or maybe I'm missing something?

[2022-01-19 11:57] tejaswinichile commented on #3467
We haven't initialized `devise: timeoutable` for user model, that's why it's not working.
You will need to add `devise :timeoutable, timeout_in: XX.minutes` in user model.

And we have `devise :rememberable` configured it work it conflicts with timeout https://github.com/heartcombo/devise/blob/main/lib/devise/hooks/timeoutable.rb#L26

If you still want to change that in your self-hosted version yo

[2022-01-19 11:57] #3467 closed

[2022-01-19 12:22] tejaswinichile commented on #3170
@PyB1l Can you confirm if you are still facing the issue?

[2022-01-19 12:25] tejaswinichile commented on #3132
https://user-images.githubusercontent.com/10827585/150129000-0d321d74-0d42-45ba-ad15-9163f0628357.mov

This is working fine for me.

@NitinNR Please reopen it if you are still facing the issue.

[2022-01-19 12:25] #3132 closed

[2022-01-19 12:45] tejaswinichile commented on #3114
@alfredcogniwide @alfredfrancis Can you confirm if you are still facing similar issues?

[2022-01-19 12:49] tejaswinichile commented on #2926
Tested on local works fine with `rails db:chatwoot_prepare`

[2022-01-19 12:58] tejaswinichile commented on #2815
@pranavrajs
<img width="72" alt="twitter" src="https://user-images.githubusercontent.com/10827585/150135149-6da94bea-f41b-4558-9d69-f5999030cc32.png">

<img width="95" alt="whatsapp" src="https://user-images.githubusercontent.com/10827585/150135160-23d341bc-4983-47fa-a49e-5275693f840b.png">

I this has been fixed on production.

[2022-01-19 13:19] tejaswinichile commented on #3757
@Soundmagic can you check the output in your console ENV.fetch('MAILER_SENDER_EMAIL')
If you are using the self-hosted version.

[2022-01-19 13:42] Soundmagic commented on #3757
here the output:
Loading production environment (Rails 6.1.4.3)
3.0.2 :001 > ENV.fetch('MAILER_SENDER_EMAIL')
 => "Gastroshark <shop@gastroshark.de>"
3.0.2 :002 >

Looks correct

[2022-01-19 15:08] vedangdate commented on #3132
I am putting up the screen recording for a reference.
PS: I recorded only the browser so the explorer window from which the file is being uploaded cant be seen, but it does open so I didn't make another recording.

[The Screen Recording](https://1drv.ms/v/s!Av0Qffzgfa4fgfRIY8xuoFWnaeQDzg)

[2022-01-19 16:10] danielzzz commented on #1039
+1

[2022-01-19 16:46] danielzzz opened #3813 "messages from a telegram bot don't get through"
Hi,

**Describe the bug**

I have connected my telegram bot, but when I send messages to it, they don't get through to chatwoot.
shall I do something more?
the account seems to be active an properly configured in chatwoot.

**To Reproduce**

Steps to reproduce the behavior:
1. Add a new telegram inbox
2. input the key
3. the bot is detected and added as an inbox
4. try sending a message from teleg

[2022-01-19 17:27] tejaswinichile commented on #3132
@vedangdate If this is a self-hosted version can you check the logs and add it here? Which version of chatwoot are you using?

[2022-01-19 17:32] danielzzz commented on #3813
hi, it's a docker-compose version.

I attach logs here.
basically I opened it, added a sample newly created bot. then sent a message to the bot from my telegram account.

sorry I don't know ruby very well, to see if there is some problem here..
[logs.txt](https://github.com/chatwoot/chatwoot/files/7899254/logs.txt)

thanks, dan

[2022-01-19 17:46] tejaswinichile commented on #3813
According to the logs I don't see any message reaching the telegram message controller endpoint.

Few questions:

1. Are you testing this on your local machine?
2. Have you gotten the bot token as mentioned in the doc for telegram https://www.chatwoot.com/docs/product/channels/telegram/
3. Have you added your local URL to the telegram bot? Because you would need to do that with ngrok to make the b

[2022-01-19 17:57] danielzzz commented on #3813
hi,

1) yes

2) yes, all good, I have everything that appears there

3) this is probably what I'm missing, but how should I configure ngrok here? would you please point me to the docs how to configure it?

thanks a lot, dan

[2022-01-19 18:05] danielzzz commented on #3813
ok, I got it to work.

followed the steps here
https://www.chatwoot.com/docs/contributing-guide/telegram-channel-setup

deleted the bot from chatwoot and registered it again.

verified the public url appears here:
https://api.telegram.org/bot{bot-auth-hash}/getWebhookInfo

and it seems to be working.

thanks a lot for your help!
dan

[2022-01-19 18:05] #3813 closed

[2022-01-19 21:16] #2815 closed

[2022-01-19 21:35] Robinjoeh opened #3814 "feat: Show the sender email address"
**Is your feature request related to a problem? Please describe.**
In conversations with multiple persons (aka original requester plus any CC:ed emails) it is impossible to see who sent an email in the conversation.

**Describe the solution you'd like**
Add the email header `From` to see who sent the email,  along with the other (existing) headers such as `To` and `Subject`.

![image](https://user

[2022-01-19 21:43] Robinjoeh opened #3815 "feat: Keep CC:ed emails in agent replies"
**Is your feature request related to a problem? Please describe.**
The list of CC:ed emails is always empty and the agent has to add the CC:ed contacts to every reply.

**Describe the solution you'd like**
Make sure to always include the latest email CC:ed emails in the field by default to make sure the agent does not forget to include them.

![image](https://user-images.githubusercontent.com/1322

[2022-01-19 23:24] sojan-official opened #3816 "chore: Simplify the inbox settings"
Spec in Progress...

- [ ]  Move Assignment settings to collaborators tab across all inboxes
- [ ]  Move CSAT to collaborators tab ( TBD )
- [ ]  Move Typical reply time in website widget to business hours tab

[2022-01-20 06:20] #3560 closed

[2022-01-20 06:58] tejaswinichile commented on #3735
@fayazara For text, date, link, checkbox, number data type we would have single value wrapped in an array.
E.g

[code]

So the data would look like:
[code]

Are we going to provide multiselect for the options anywhere?

[2022-01-20 06:59] sojan-official commented on #3634
@shivamsinghchahar verified that this is not an issue anymore.  thanks for checking it

[2022-01-20 06:59] #3634 closed

[2022-01-20 07:01] sojan-official commented on #3767
@vishnu-narayanan  could you take a look ?

[2022-01-20 07:19] vedangdate commented on #3132
Yes, it is a self hosted version using CapRover on a LightSail Ubuntu instance.
I started using Chatwoot yesterday, so I am hoping the one I installed, using the docs, is the latest one.

Docker Image: 2.0.0

The logs are as follows:

2022-01-20T07:14:54.542966076Z I, [2022-01-20T07:14:54.542861 #1]  INFO -- : source=rack-timeout id=7bf69eb9-ef26-4dd0-9dad-4895e5d6d507 timeout=15000ms service=10ms

[2022-01-20 08:26] tejaswinichile commented on #3132
Please check   Rails.application.routes.default_url_options is set properly, according to the logs avatar_url is not able to build the URL fetch the profile image which has been uploaded.

The issue is with the env config not related to uploads.

[2022-01-20 12:38] SanjuSudheerM commented on #3554
Just a housekeeping note, can we close this ticket?

[2022-01-20 13:02] #3554 closed

[2022-01-20 13:30] #3805 closed

[2022-01-20 13:31] #3804 closed

[2022-01-20 13:54] adcosoft-gb commented on #3036
Hello, on chatwoot when I receive an audio from telegram, I have the following message: No content available

How can I receive audio/video on chatwoot from telegram?

[2022-01-20 17:29] adcosoft-gb opened #3821 "How to I receive a gps position from telegram"
Hello, on chatwoot when I receive a gps position from telegram, I have the following message: No content available

How can I receive them on chatwoot from telegram?

[2022-01-20 17:40] iammattmartin commented on #3821
Support would need to be added in.

[2022-01-20 17:42] adcosoft-gb commented on #3821
I'm new, how can i add the support please?

[2022-01-20 17:46] iammattmartin commented on #3821
Well, you can code it yourself or you''ll need to consider this a feature request - or contact chatwoot and ask for a paid-for integration.

[2022-01-20 17:55] adcosoft-gb commented on #3821
no problem, thank you for your answer

[2022-01-20 20:45] pranavrajs opened #3822 "Campaign close button position is broken after the latest update"
<img width="484" alt="Screenshot 2022-01-20 at 12 43 58 PM" src="https://user-images.githubusercontent.com/2246121/150419291-7e515847-d0d2-415e-9fb8-9398eea629d4.png">

- [ ] Fix the position of the close button

[2022-01-20 20:45] pranavrajs commented on #3822
@nithindavid Can you please take this on priority?

[2022-01-20 20:58] pranavrajs commented on #3822
Duplicate #3802

[2022-01-20 20:58] #3822 closed

[2022-01-20 23:21] sojan-official commented on #3821
ref: #3398

[2022-01-20 23:30] #3740 closed

[2022-01-21 00:48] sojan-official commented on #3795
With  https://github.com/chatwoot/chatwoot/issues/3684 , we introduced the support for WhatsApp reply and button templates messages to chatwoot.

With that, you can send a button or list interactive messages directly through the API with the following payload
[code]

and receive responses from WhatsApp in the following format, which will be parsed by chatwoot.

[code]
----

But in case of a pre-ap

[2022-01-21 01:09] #3795 closed

[2022-01-21 02:35] giquieu commented on #1973
Hello everyone,
I'm interested in this functionality. I would like to contribute to this.
I would like to leave my opinion about the layout of the vue-audio-recorder component, which does not match the layout of the dashboard, I did some quick tests and it is not possible to change the layout of the component.
By component layout, I mean the way it records audio. He has several functions that he t

[2022-01-21 03:20] sojan-official commented on #1973
@giquieu  We don't have a specific preference for the component. It was just a sample reference. If you are interested in contributing feel free to make the choice about the component at your discretion. let us know if you need any help

[2022-01-21 03:31] iamsivin opened #3824 "Add the ability to delete a segment."

[2022-01-21 03:39] sojan-official commented on #1350
closing in favor of https://github.com/chatwoot/chatwoot/issues/1241

[2022-01-21 03:39] #1350 closed

[2022-01-21 05:26] cgb commented on #3316
Hey @pranavrajs , just checking in to see if you had any ideas on how a new message event could be signalled for something like electron to hook into and show notifications?

[2022-01-21 07:20] cgb opened #3825 "Conversation for authenticated user not showing as resolved on first load with no cookies"
**Describe the bug**

I've been testing with a Firefox browser and deleting cookies on close.  On newly opened Firefox, loading a Chatwoot URL that performs authentication via set_user, the chat popup will default to the previous conversation, with a texbox to write new messages, when the conversation is marked as resolved.

Refreshing the browser (without closing, so that the second page load inc

[2022-01-21 08:46] vedangdate commented on #3132
Is it possible to do this through the portal?
I checked both CapRover and Chatwoot, but I couldn't see such a setting on the portals.
Will I have to manually change the configuration in the code?
I see that this setting is there in a file called "production.rb"

[2022-01-21 08:52] tejaswinichile commented on #3132
You will have to change the .env file and restart the server again with
[code]

[2022-01-21 09:18] vedangdate commented on #3132
So I did try just adding the variable FRONTEND_URL in the CapRover's env variables section, just to see if my hunch would work and the issue was resolved. *cheers silently
I didn't need to make any changes in the actual code so am guessing the .env file has all it's properties in the CapRover's web-portal appConfig section.
Thank you for pointing out the issue! That saved me a lot of time. @tejasw

[2022-01-21 16:55] giquieu commented on #1973
Nice @sojan-official ,
I thought of using mic-recorder-to-mp3
Ref; https://www.npmjs.com/package/mic-recorder-to-mp3

And use the attachment structure to send the audio.
The audio will be recorded and sent as an attachment type message, what do you think?

[2022-01-21 18:55] pranavrajs commented on #241
@SuprajaRamesh Querying might not be effective, having a separate table is suggested as the query would be simple.

@sojan-official Thoughts?

[2022-01-21 19:00] sojan-official commented on #241
makes sense to me. Let's have it as a separate table, will be helpful in future if we want to add permissions based on participation.

[2022-01-21 21:49] pranavrajs commented on #3739
@fayazara Reopening this as the issue is not fully resolved. Please see the attached video and let me know if you have any doubts.

https://www.loom.com/share/53a03c94a0034ae5b36931b3ed08c628

[2022-01-21 21:52] sojan-official commented on #1973
@giquieu Sounds like a plan which we can go ahead with. Chatwoot should identify the file type to be mp3 and render the audio player 👍

[2022-01-21 21:56] pranavrajs commented on #3623
Verified by changing the attribute without a sender to a private note.

<img width="479" alt="Screenshot 2022-01-21 at 1 55 50 PM" src="https://user-images.githubusercontent.com/2246121/150605493-c0c39f73-ddf8-4b3b-a59c-6bf6f43a2f34.png">

[2022-01-21 21:57] pranavrajs commented on #3749
Tested, working in prod.

[2022-01-21 22:07] pranavrajs commented on #3664
<img width="196" alt="Screenshot 2022-01-21 at 2 07 13 PM" src="https://user-images.githubusercontent.com/2246121/150606571-97666dfb-7d8d-4771-92da-e99c1b93342b.png">

Looks good, nice work ❤️

[2022-01-21 22:08] pranavrajs commented on #3663
<img width="407" alt="Screenshot 2022-01-21 at 2 08 06 PM" src="https://user-images.githubusercontent.com/2246121/150606639-84bd9231-832a-4673-bb63-f4c7e12f2e87.png">

Nice work ❤️

[2022-01-21 22:12] #3790 closed

[2022-01-21 23:00] pranavrajs opened #3826 "Custom Views bugs/improvements"
### Segments

- [x] Change the name to segments everywhere instead of custom views
- [x] On saving segments in contact, it should redirect to the view and hide the option to save the filter again.
- [x] Pagination button in the contacts doesn't consider filter, it is bringing all the results
- [x] Filter returns unidentified contacts also
- [x] After saving (without refresh) if you click on the se

[2022-01-21 23:10] pranavrajs commented on #3596
@SuprajaRamesh Unassigning this as there was no activity.

[2022-01-21 23:15] pranavrajs commented on #3772
**Potential enhancements here:**

- [ ] Create a component to display sensitive data - For eg: API Token, Access Credentials etc. (@nithindavid) to provide the design spec.
  - [ ] By default show masked valye `A12*********`
  - [ ] Clicking on the show (eye icon), display the unmasked value.
  - [ ] Have a button to copy the value.
- [ ] Use the component in the inbox settings for 360Dialog.
- [

[2022-01-21 23:19] pranavrajs commented on #3330
Closing this here as we will take it up in https://github.com/chatwoot/chatwoot/issues/3773

[2022-01-21 23:19] #3330 closed

[2022-01-21 23:26] pranavrajs commented on #3775
@heroic Thanks for the suggestion, it seems like a great addition, will have to investigate the APIs and how it can be implemented.

[2022-01-21 23:29] pranavrajs commented on #3776
@tabrza We are working on the native integrations. You can see the progress for iOS here https://github.com/chatwoot/ios-sdk

If you looking for cross-platform applications, then you can use ReactNative SDK. Please see the document here.
https://www.chatwoot.com/docs/product/channels/live-chat/integrations/react-native-widget/

Please feel free to re-open the issue if you have more information to

[2022-01-21 23:29] #3776 closed

[2022-01-21 23:30] pranavrajs commented on #3078
Closing in favour of #3779

[2022-01-21 23:30] #3078 closed

[2022-01-21 23:31] pranavrajs commented on #3779
Todo:

- [ ] Support canned responses in contact message modal
- [ ] Replace/insert the content with canned responses when the user press enter.

[2022-01-21 23:39] pranavrajs commented on #3789
@iammattmartin

- we'd expect to see the pre-chat message and message box still there.
If the pre-chat form is enabled, then I believe that the pre-chat message and input to add a new message would be visible.

 I couldn't understand the issue. Would it be possible to share a screencast?

[2022-01-21 23:43] pranavrajs commented on #3787
@sanjayws The button is downloading the agent reports, not the overview. I believe the label is correct, however, I understand the confusion. We are working on a report UI update. This piece would be covered over there. Thanks

[2022-01-21 23:43] #3787 closed

[2022-01-22 00:01] WEBudoGT commented on #3622
Before version 2.0 it was a feature that worked just fine

[2022-01-22 01:17] sojan-official opened #3829 "bug: New account creation page get stuck even after account is created"
When a user who doesn't have any account user relationship logs in, Chatwoot shows up the account creation form.
But after creating the account using the form, the user still ends up remaining on the same page, until they manually refresh.

This leads to the user click create button multiple times and ends up creating multiple accounts

<img width="1333" alt="Screenshot 2022-01-21 at 5 18 47 PM" s

[2022-01-22 10:16] iammattmartin commented on #3789
When you do not pass the name/email via the SDK and have the form enabled, it asks the visitor to supply name, email and message.

When you pass over the name and email via the SDK and have the form enabled, it does not do this. It acts as if the form is disabled (i.e just goes straight in to a blank chat window).

Can send over a screen shot later.

[2022-01-22 11:10] iprithvitharun opened #3831 "Inconsistent agent term in Teams Settings page"
Agent is referred as “User” in this page which causes confusion. Throughout the app, only the term “Agent” is used
![Screenshot 2022-01-22 at 4 40 14 PM](https://user-images.githubusercontent.com/58725708/150636129-16ff0047-7e76-42d6-a759-7e3cf5c1c1e8.png)
.

[2022-01-23 06:47] GSY-PI commented on #3646
Yeah sorry, Linode Ubuntu 4 CPU, 160 GB Storage, 8 GB RAM

[2022-01-23 17:43] ajtatum opened #3833 "[CW-354] Merge Tags for Channel Greetings"
For this request, I'll provide an example.

Someone messages us via Chatwoot and we have their first name already, either through them being a previous contact or from their email or social media account, it would be awesome to be able to have the channel greeting be: "Hello {FirstName, 'there'}!"

What this would do is use the FIrstName of the contact and if that's not provided use some default t

[2022-01-23 19:09] ajtatum commented on #3777
Is this why when I authorize the app, I'm brought back to Chatwoot and asked to sign in with Twitter again?

[2022-01-23 20:02] robguthrie opened #3834 "Support reply-to header in emails? Can make PR"
**Is your enhancement request related to a problem? Please describe.**
I recently tried to integrate chatwoot into our systems. We don't actually want real time chat (we don't have capacity to deliver on realtime support, we're a tiny team in an uncommon timezone). But I really love chatwoot as a issue tracking system. It beats all the other open-source products out there.

Our main communication

[2022-01-24 05:25] ayushin commented on #2745
Is anybody still considering this?

[2022-01-24 10:33] #3831 closed

[2022-01-24 12:07] #3824 closed

[2022-01-24 12:57] giquieu commented on #1973
Nice, @sojan-official
Can you assign it to me?

[2022-01-24 18:07] pranavrajs commented on #3833
@ajtatum Sounds like a great enhancement. Adding this to the product discussions.

[2022-01-24 18:09] pranavrajs commented on #3834
@robguthrie Thanks for the feedback. This is a asked by other customers as well. If I understand this correctly, you are requesting to give preference for the `reply-to` header first and then the `from` header right?

Please feel free to raise a PR. Happy to guide you if you need anything.

[2022-01-24 18:12] pranavrajs commented on #1973
@giquieu The package you mentioned seems to be outdated and has not been maintained for a long time. Do you have any other suggestions around the same?

[2022-01-24 18:13] pranavrajs commented on #3646
@vishnu-narayanan Can you please take a look at this?

[2022-01-24 18:14] khushi200701 commented on #2616
Hey, I'm interested in working on this. Can you give more info?

[2022-01-24 18:15] pranavrajs commented on #3622
@WEBudoGT Yeah. It seems like a bug, introduced after the 2.0 release. We will investigate this.

[2022-01-24 19:25] giquieu commented on #1973
Hello Pranav,
Do not know. I can even look for another one if necessary.
The only arguments I have in favor is the code, which is simple, it just accesses the native MediaRecorder API and finally uses lamejs to convert to MP3.
Anyway, we can implement direct access to the MediaRecorder API, what do you think is better?

[2022-01-24 19:26] giquieu commented on #1973
Hello @pranavrajs ,
Do not know. I can even look for another one if necessary.
The only arguments I have in favor is the code, which is simple, it just accesses the native MediaRecorder API and finally uses lamejs to convert to MP3.
Anyway, we can implement direct access to the MediaRecorder API, what do you think is better?

[2022-01-24 19:38] pranavrajs commented on #1198
@sojan-official @tejaswinichile Please evaluate the effort required for Phase 1 as per the described spec. Let us prioritize this in the next sprint.

Note: This is only required for auto-assignment cases. In this iteration, we will not consider the case when an admin or another agent manually assigns a conversation to an agent.

[2022-01-24 19:43] pranavrajs commented on #3766
@sojan-official Can you please evaluate the effort required for this?

@tejaswinichile Can we achieve the first case by a minimal change in automation?

[2022-01-24 20:03] sojan-official commented on #3833
ref: #1886

[2022-01-24 23:27] pranavrajs commented on #3316
@cgb Sorry for missing this out, we will review it this sprint and get back to you with a possible implementation.

[2022-01-24 23:31] pranavrajs commented on #3735
@tejaswinichile Sorry for missing this out.

I guess the list option can have a multiselect. In all other cases, I don't see the need for multi-select.

Let me know if you need more clarification.

[2022-01-24 23:32] pranavrajs commented on #2011
@rodenp We will be prioritizing this in the upcoming sprint.

[2022-01-24 23:33] pranavrajs commented on #3607
@tejaswinichile Let us park this until we get a reply.

[2022-01-25 02:00] #3184 closed

[2022-01-25 02:24] ayushin commented on #2443
Is this going to be done any time soon?

We are building a service marketplace where we would like to use chatwoot for customers to communicate with service providers while customer support is able to monitor/intervene.

So we need a way for a chatwoot user to initiate a new conversation and add another user as a participant at the same time notifying the new participant (the service provider) of

[2022-01-25 02:43] ayushin commented on #2443
I can imagine that when a new conversation is created, a webhook is fired and when our platform recognises the booking number, it would call the chatwoot api and add the relevant participants and it would be done.

[2022-01-25 02:46] #3715 closed

[2022-01-25 02:50] pranavrajs commented on #1263
Isn't this the same as #2695? I guess we can close this issue.

[2022-01-25 02:50] pranavrajs commented on #1263
@iammattmartin Please feel free to re-open the issue if the problem still exist.

[2022-01-25 02:50] #1263 closed

[2022-01-25 02:51] pranavrajs commented on #1973
@giquieu I would suggest direct implementation as it would be easier to debug.

[2022-01-25 08:57] rodenp commented on #2011
Fantastic
Thank you so much.
I'm sure a lot of people will be excited to see this feature.

________________________________
From: Pranav Raj S ***@***.***>
Sent: Tuesday, 25 January 2022 12:33 AM
To: chatwoot/chatwoot ***@***.***>
Cc: rodenp ***@***.***>; Mention ***@***.***>
Subject: Re: [chatwoot/chatwoot] Feature: Machine translation of chat via Google translate (#2011)

@rodenp<https://github

[2022-01-25 10:31] roadtouk commented on #3376
You can see the close button in chatwoot website. Is it not available for all?

![Screenshot_20220125-091648.png](https://user-images.githubusercontent.com/85528361/150960171-419c8553-904a-4626-b8e9-2782a9829c40.png)

[2022-01-25 10:39] shivamsinghchahar commented on #3596
@pranavrajs Can I take this up?

[2022-01-25 11:03] voko3456 opened #3840 "Add filter by date in custom views to filter the conversion by date"
- [ ] Add support for last_activity_at filter
- [ ] Add support for created_at filter

| Attribute | Supported Filters |
|-|-|
| created_at | Is greater than, Is less than, Is x days before |
| last_activity_at | Is greater than, Is less than, Is x days before  |

[2022-01-25 14:24] tejaswinichile commented on #3731
@pranavrajs This code has been fixed on develop branch, can you help me to test it?

[2022-01-25 14:38] nithindavid opened #3842 "fix: Sidebar does not show active page for inbox settings page"
**Describe the bug**

The sidebar menu does not highlight the sub menu of inbox while on inbox settings page.

**To Reproduce**
![image](https://user-images.githubusercontent.com/1277421/150996034-0e1c8a32-b750-45f7-b77c-7d3b891d520d.png)

[2022-01-25 17:20] pranavrajs commented on #3731
@tejaswinichile

- Create a Zoho mail account
- Create a Chatwoot inbox with this mail
- Setup a forwarder in Zoho to the email address in Chatwoot. Zoho will ask for confirmation code.
- You would receive an email with confirmation in your `reply.chatwoot.com` email address. See if it is displayed correctly on the dashboard.

[2022-01-25 20:51] pranavrajs commented on #3840
@voko3456 I've updated the description so that this can be picked up easily.

[2022-01-25 20:52] pranavrajs commented on #3840
@tejaswinichile Can you please take a look at this and evaluate the effort to pickup this up in the next sprint?

[2022-01-25 20:53] pranavrajs commented on #3815
@nithindavid Can you please take a look at this and estimate the effort required?

[2022-01-25 21:56] pranavrajs opened #3845 "Add the API to change the status of multiple conversations at once"
- [ ] Accept conversation ids, status as the parameters
- [ ] Verify that the user has permission to resolve the conversation (should have access to the inbox / should be an admin). Return a 401 if conversation permissions are not available.
- [ ] Namespace under bulk_actions/status_change

**Additional thoughts:**
- Can be done as a job instead of doing it while calling the API.

[2022-01-25 21:57] pranavrajs opened #3846 "Add an option in the UI to select multiple conversations and change status"
- [ ] https://github.com/chatwoot/chatwoot/issues/4525
- [ ] https://github.com/chatwoot/chatwoot/issues/4523
- [ ] https://github.com/chatwoot/chatwoot/issues/4524
- [ ] https://github.com/chatwoot/chatwoot/issues/4522

----

- [ ] Update the UI to select multiple conversations at once.
- [ ] Update the store / actions to perform bulk action.

[2022-01-25 22:07] pranavrajs commented on #1437
Closing this as there is no activity for a long time, please feel to reopen this if it is still an issue.

[2022-01-25 22:07] #1437 closed

[2022-01-25 22:08] pranavrajs commented on #1181
Closing this as there is no activity for a long time, please feel to reopen this if s3_compatible is not helpful in this case.

[2022-01-25 22:08] #1181 closed

[2022-01-25 22:09] pranavrajs commented on #1841
Closing this as there is no activity for a long time, please feel to reopen this if it is still an issue.

[2022-01-25 22:09] #1841 closed

[2022-01-25 22:10] pranavrajs commented on #1863
@NitinNR Please update to the latest version and see if it is still an issue.

Closing this as there is no activity for a long time, please feel to reopen this if it is still an issue.

[2022-01-25 22:10] #1863 closed

[2022-01-25 22:12] pranavrajs commented on #2070
Closing this as we pushed a fix in https://github.com/chatwoot/chatwoot/pull/3434 and we will track the doc update in chatwoot/docs#8

[2022-01-25 22:12] #2070 closed

[2022-01-25 22:13] pranavrajs commented on #2615
Closing as there is no activity for a long time, please feel free to reopen the issue if this is still an issue.

[2022-01-25 22:13] #2615 closed

[2022-01-25 22:14] pranavrajs commented on #2207
@vishnu-narayanan @tejaswinichile Can you please take a look at this?

[2022-01-25 22:15] pranavrajs commented on #2507
Closing as there is no activity for a long time, please feel free to reopen the issue if this is still an issue.

[2022-01-25 22:15] #2507 closed

[2022-01-25 22:15] pranavrajs commented on #2713
Closing as there is no activity for a long time, please feel free to reopen the issue if this is still an issue.

[2022-01-25 22:15] #2713 closed

[2022-01-25 22:16] pranavrajs commented on #2718
The ideal way to do this is to listen for the webhooks for `message:created` and add more context in a private note via the API.

Closing this as it doesn't seem like bug or a feature that we can build.

[2022-01-25 22:16] #2718 closed

[2022-01-25 22:16] pranavrajs commented on #2724
Closing as there is no activity for a long time, please feel free to reopen the issue if this is still an issue.

[2022-01-25 22:16] #2724 closed

[2022-01-25 22:17] pranavrajs commented on #2814
Closing as there is no activity for a long time, please feel free to reopen the issue if this is still an issue.

[2022-01-25 22:17] #2814 closed

[2022-01-25 22:18] pranavrajs commented on #3427
@voko3456 Is this still an issue?

@DDoerner Slack case might be different. We can investigate it.

[2022-01-25 22:20] pranavrajs commented on #3331
This was part of our strategy if the action cable doesn't scale with traffic. It seems like the existing setup works without issue, so we would not be considering this soon.

Closing this as this is a future enhancement, would not be picked up immediately.

[2022-01-25 22:20] #3331 closed

[2022-01-25 22:20] pranavrajs commented on #2835
Closing as there is no activity for a long time, please feel free to reopen the issue if this is still an issue.

[2022-01-25 22:20] #2835 closed

[2022-01-25 22:21] pranavrajs commented on #3265
Closing as there is no activity for a long time, please feel free to reopen the issue if this is still an issue.

[2022-01-25 22:21] #3265 closed

[2022-01-25 22:22] pranavrajs commented on #3164
@NitinNR Can you please describe the steps you did to upgrade the instance? Also, can you please follow the steps described in the issue template before raising the request? It is hard to reproduce issues like this without context.

[2022-01-25 23:24] saeed205 commented on #2724
The best Persian / Arabic open source font that is free.
Best for RTL
https://github.com/rastikerdar/shabnam-font

[2022-01-26 00:36] pranavrajs opened #3848 "Issue with Pre-rendered websites"
Chatwoot is not loading on certain websites which allows pre-rendering.

[2022-01-26 00:39] #3848 closed

[2022-01-26 00:47] sojan-official commented on #3304
@Soundmagic  Could you access the rails console and see the value for.
[code]

[2022-01-26 00:58] #3061 closed

[2022-01-26 07:21] fayazara commented on #3735
@pranavrajs Will all these filters have a free input field? or dropdowns to select like we have for agents, teams.

[2022-01-26 08:09] voko3456 commented on #3427
@pranavrajs the issue was fixed im able to send video attachment so im going to close this issue

[2022-01-26 08:09] #3427 closed

[2022-01-26 08:13] aydenbottos commented on #2207
Necroposting much?

[2022-01-26 08:26] Soundmagic commented on #3304
Result:

3.0.2 :013 > Account.find(1).support_email
 => "Chatwoot <accounts@chatwoot.com>"

This is strange, because it is not the value I defined during creation of the channel.
 I will set this via rails to my mail adresse an dwill check again.

[2022-01-26 08:34] Soundmagic commented on #3304
okay, I can confirm after changing this, mails sent out with correct mail adresse.
Topic can be closed as resolved.

[2022-01-26 11:25] SamuelMoraesF opened #3850 "Can't send message for new contacts on 360Dialog"
**Describe the bug**

Message is not sent for new contacts

**To Reproduce**

Add a new contact and try to send a message using 360Dialog. AFAIK, we need to send user contact/phone to the following endpoint before sending a new message:

`https://waba.360dialog.io/v1/contacts`

**Environment**

Hosted server

[2022-01-26 16:16] agustinrudas commented on #868
This still hapenning on 2.1.1 . **Using production yaml.**
I made the test alot of times. The same error is showing up
![image](https://user-images.githubusercontent.com/78917059/151202144-7f2a21cc-caa0-472b-a019-255a2b7f8810.png)

[2022-01-26 16:25] agustinrudas opened #3852 "V.2.1.1 fails the web widget fetch (500 error code)"
**Describe the bug**

The widget show's a 500 error and not it's not loading.

**To Reproduce**

Use the docker-compose.production.yaml in a docker environment.
Create a site. Insert the widget.

**Expected behavior**

When you insert the widget in the site., shows a widget

**Screenshots**

![image](https://user-images.githubusercontent.com/78917059/151202682-b89c4f56-c8a7-4f70-a6a9-2e9fb5075d2e.

[2022-01-26 17:04] freddy36 opened #3853 "feat: Option to disable gravatar usage"
Due to EU GDPR regulations the current requests to gravatar are problematic (We would have to ask the chat visitor for consense first).

Due to this we would like to suggest an option to disable the usage of Gravatar completely.

[2022-01-26 17:18] iammattmartin commented on #3853
Might be worth checking this as you'll only get the gravatar if they are already supplying their email, which you'd need their permission to do in the first place (i.e storage).

[2022-01-26 17:23] iammattmartin commented on #3852
May only apply to docker. Non-docker builds OK on 2.1.1 and widget works normally.

[2022-01-26 17:42] pranavrajs commented on #3852
@agustinrudas Can you please try clearing the browser cache and retry?

[2022-01-26 18:20] freddy36 commented on #3853
If an agent hasn't set an avatar, the client will do an gravatar request for the agent too.
The client request can be suppressed by setting some dummy `avatar_url` with `setUser()`.

[2022-01-26 18:20] freddy36 commented on #1211
We would like to see this feature too.

[2022-01-26 18:24] pranavrajs commented on #3304
@sojan-official It seems like `MAILER_SUPPORT_EMAIL` in installation config is not updated/has more preference than the env variable.

[2022-01-26 18:28] pranavrajs commented on #3735
For Text, Number and Link, we can have a free form text field. For List, Checkbox we can have a dropdown. For date field, we can have a date picker.

[2022-01-26 18:38] pranavrajs commented on #3576
For the time being, if we have everything available in the frontend, we can use the getters to find the data.

However, I'd like to see this getting populated from the API itself. @tejaswinichile Please see if it takes more time to implement this on the API.

[2022-01-26 20:34] agustinrudas commented on #3852
@iammattmartin Copy that. But i use docker for security reasons.
@pranavrajs Done. But still the same. Even i try with other browser like edge. and still the same
![image](https://user-images.githubusercontent.com/78917059/151242684-e0c41f7d-4199-4423-9f62-4eede945a999.png)

[2022-01-26 21:47] Mytracknet opened #3855 "Push notifications for browser and mobile for every message"
As the title says - can we please have push notifications for browser and mobile for every single message of every conversation, not just when a chat is started?

[2022-01-26 22:32] lpadula commented on #1704
same problem here! cant connect to postgres

[2022-01-26 23:51] sojan-official opened #3856 "feat: Ability to customise prechat from text"
ref: https://discord.com/channels/647412545203994635/647729576427913228/934396944535650324

[2022-01-26 23:59] #3368 closed

[2022-01-27 00:01] #3596 closed

[2022-01-27 00:06] sojan-official commented on #3783
closing in favor of https://github.com/chatwoot/chatwoot/issues/1895

[2022-01-27 00:06] #3783 closed

[2022-01-27 00:06] sojan-official commented on #1895
Postback messages are not fully implemented at the moment, We will prioritize this for upcoming sprints

[2022-01-27 00:52] pranavrajs opened #3857 "Agent notification email rendering is broken"
<img width="632" alt="Screenshot 2022-01-26 at 4 23 34 PM" src="https://user-images.githubusercontent.com/2246121/151271486-54c3c996-d205-4570-9097-d019be5a934c.png">

The bubble is displayed outside of the text.

[2022-01-27 01:52] #3857 closed

[2022-01-27 03:11] iamsivin commented on #3826
Pending: https://github.com/chatwoot/chatwoot/issues/3739

[2022-01-27 03:48] pranavrajs opened #3859 "Notify the user that new conversations are available if on a custom view/filter"
We are releasing a new view for conversations using Folders (aka custom views). Users can define their views and workflows using custom filters. It is important that we show the conversations in real-time in the UI, otherwise, it will be hard to work on those views. Since we don't have percolation infra set up in the search queries we would need to approach this differently for the time being. Ins

[2022-01-27 03:58] nithindavid commented on #3815
Two ways to do this.
1. Keep the first emails CC and BCC
2. Keep the CC and BCC of last incoming email

Either way it looks like 1 pointer.

[2022-01-27 04:43] nithindavid commented on #2616
hello @khushi200701, Sorry this issue is actually completed and we did not update the status.

Let me know what kind of tickets on design would suit you, So I'll ping you on them if I find some tickets in that area.

[2022-01-27 04:59] pranavrajs commented on #3579
Closing it for now as we would only migrate RDS for the time being.

[2022-01-27 04:59] #3579 closed

[2022-01-27 05:16] #3826 closed

[2022-01-27 08:53] tejaswinichile commented on #3731
@sojan-official Can you have a look I am stuck here?
[code]
These are 2 email channels I created, I verified 2283 by checking `mail_object.body` records but it's not getting decoded in the presenter.
When I run it line by line it's working fine. I am not sure what is the issue.
When I verified the email address by manually checking the records, the email after that are working well.

[2022-01-27 10:27] #3567 closed

[2022-01-27 10:58] alejandroTecDam opened #3863 "User info is not visible in the conversations"
**Describe the bug**
User info is not visible

**To Reproduce**
I pass a user info with the identifier_hash generated from by User Identity Validation, but I can't see the info in the user conversation.

There is the code I do to pass the info. The custom attributes is passed correctly.
I have activated the Enforce User Identity Validation in the config.

[code]

[2022-01-27 11:27] Robinjoeh commented on #3815
@nithindavid BCC is hidden from the recipient, so you wouldn't be able to see these in the email that was sent by the user to Chatwoot.

The best is probably to get the CC:ed contacts from the last incoming message, since lengthy conversations may have different people added/removed throughout the lifetime of the conversation.

This is also how it works on most other email software, such as Gmail

[2022-01-27 12:09] #3842 closed

[2022-01-27 13:28] nithindavid commented on #3815
@Robinjoeh Thanks for the suggestion. We will go with as you suggested :)

[2022-01-27 18:09] tejaswinichile commented on #3731
@sojan-official I have found the issue, the HTML parser was removing the table and Zoho parser was sending the code inside the HTML table structure.

And while displaying the message we only considered the text_part[:reply] but now we are considering html_part[:reply] if text_part is not available.

[2022-01-27 19:27] Christilut commented on #3767
Anything I can try? Would like to start using Chatwoot but no emails is blocking that

[2022-01-27 23:45] #3731 closed

[2022-01-28 02:43] ayushin commented on #2443
Anybody interested in implementing this? We may be able to sponsor this feature.

[2022-01-28 06:43] aswindevps opened #3868 "IMAP email reply creates new conversation every time."
The problem is when replying to a conversation

1. Customer mail
2. Response from Chatwoot.
3. Customer reply again.
4. A new conversation is created every time.

https://discord.com/channels/647412545203994635/929464064982278178/931509807100342272

[2022-01-28 19:07] danielzzz opened #3869 "Problems setting inbound IMAP email"
**Describe the bug**

Hi, I have problems setting email inbox. I am not sure if I am missing something.

my idea is to connect chatwoot to an external email account with imap configuration.

I have create an inbox and setup the imap config, but no messages are being picked up.

do I need to configure something else?

I see the imap job is being scheduled then executed:
[code]
but nothing is being

[2022-01-28 19:21] danielzzz commented on #3869
suddenly I started getting the emails, sorry for the noise..

[2022-01-28 19:45] pranavrajs commented on #3852
@agustinrudas Judging from the error response which you have posted, it might be an issue with the secret you have set. Can you please try updating the SECRET_KEY_BASE with an alphanumeric value?

[2022-01-28 19:58] pranavrajs commented on #3869
Glad to know it is solved, do you know anything which might have triggered this? This could be something we are missing on the docs as well.

[2022-01-28 21:52] nosovk opened #3870 "[CW-352] enhancement: Track user across subdomains"
**Describe the bug**

When we use chatwoot on a product with few domains involved in customer journey it seems that user session not tracked across subdomains.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://www.mailcheck.co
2. Click on Start chat, write down test message
3. Go to https://app.mailcheck.co
4. Click Start chat

**Expected behavior**

I expect to see message from

[2022-01-28 23:49] sojan-official commented on #2443
@ayushin  thanks for providing the feedback. The implementation is still under discussion amidst the team and we don't have an ETA for this yet.

[2022-01-28 23:56] sojan-official commented on #3767
@Christilut  The emails are sent from sidekiq. looking at the docker-compose I can see that the environment variables are only made available to the rails server.  You would want to expose them to sidekiq as well .

[2022-01-29 08:29] danielzzz commented on #3869
hi @pranavrajs , thanks for reaching out.

I am not sure. Maybe it takes some time to kick in...?
The first few emails I sent to the account were not retrieved / passed through - then suddenly it started working.
I will keep monitoring it, as it makes me a bit anxious some emails may get lost.

as for the setup / docs, these things were a bit confusing for me:
- what was the forwarding email for (

[2022-01-29 08:40] danielzzz commented on #3869
generally these inboxes that are passive and managed by scheduled jobs, it would be great to have an option to trigger them manually, thanks!

[2022-01-29 10:09] Christilut commented on #3767
Thanks! That was exactly it. That wasn't clear for me from the docs :)

[2022-01-29 10:09] #3767 closed

[2022-01-30 21:51] voko3456 opened #3873 "Instagram has a messaging window of 7 days."
We are not able to contact via inestgram after 24 hour while it should we able to contact for 7 days

[2022-01-31 10:17] voko3456 opened #3875 "Support image previews in Twitter DM instead of rendering links"
I'm not able to preview twitter and Instagram dm images in chatwoot chat

[2022-01-31 11:19] Dhananjay-JSR commented on #3520
Made a Pull Request Over Here :- https://github.com/chatwoot/docs/pull/205

[2022-01-31 13:01] te-dious opened #3877 "Chatwoot Message Failing to Appear in "Mine" Tab Unless Page is Refreshed"
**Describe the bug**

The Chatwoot message does not appear in the "Mine" tab of the person to whom it was assigned until the page was refreshed. This causes the chat to not be responded to in a timely manner. And the only way to get the new message was to refresh the page. Turning on Push notification and audio notification didn't work as well, for these messages audio and push notifications are a

[2022-01-31 15:35] svk27 commented on #3777
Possibly yes - I am facing the same issue - Looking for an workaround for this right now.

[2022-01-31 15:36] svk27 commented on #3777
Were you able to find anything on this yet?

[2022-01-31 17:34] iprithvitharun opened #3879 "Non-inclusive language used in Settings"
**Is your enhancement request related to a problem? Please describe.**

The sentence assumes the gender of the users which is not inclusive and alienates people.

<img width="429" alt="Screenshot 2022-01-31 at 11 02 31 PM" src="https://user-images.githubusercontent.com/58725708/151843771-8b107abe-7993-4844-a67d-e6fc37f8e83b.png">

[2022-01-31 19:06] danielzzz commented on #1039
I started working on a mattermost integration, to be notified about new conversations, but I have noticed two problems:
- I am getting message_created and message_updated events for each message sent from the user
- conversation_started or conversation_status_changed seem not to be soported yet in webhooks.

[2022-01-31 19:54] prononext opened #3881 "Video & Audio Chat Functionality"
Dear Chatwoot Team,

are there any plans to include Video and Audio Chat into Chatwoot?
That would be really nice. Tawk.to has that function.

You could use the existing Jitsi Meet Code to get it working https://github.com/jitsi/jitsi-meet

There is also a Jitsi Meeting Scheduling Application, which could run nicely together with Chatwoot:
https://github.com/H2-invent/jitsi-admin

Of course the Vi

[2022-01-31 20:06] prononext opened #3882 "CustomCSS in Live-Chat-Widget"
It would be nice to have the possibility to get injected CustomCSS working inside the Live-Chat-Widget.

At the moment it is rendered in a frame, which does not allow any CSS.
Allowing the CSS rendering in the widget shortcode would be really nice.

Example:
`    <script>
      (function(d,t) {
        var BASE_URL="https://app.chatwoot.com";
        var g=d.createElement(t),s=d.getElementsByTagNa

[2022-01-31 20:19] prononext opened #3883 "[CW-367] Dialogflow - Custom Payload"
Is there any possibility to customize the payload on Dialogflow to hand over other data from dialogflow agent into Chatwoot?
The only custom payload that was working is the handoff https://www.chatwoot.com/docs/product/channels/live-chat/integrations/dialogflow#creating-a-handoff-intent

With additional Payload possibilities, Context/Entities of the Dialogflow conversations could be filled into th

[2022-02-01 03:24] JWesorick commented on #3373
Would be nice to have events for when they begin a conversation or send a message to track in front end analytics.

[2022-02-01 05:42] #3879 closed

[2022-02-01 07:39] ChrisvanChip commented on #900
Isn't it an idea to make the first admin automatically super admin? If a company requires more super admin accounts, they can do so through the console.

[2022-02-01 07:43] #3738 closed

[2022-02-01 08:35] tejaswinichile commented on #3840
- created_at: [is_less_than, is_grater_than]

[code]
- created_at: [x days before]

[code]

@pranavrajs For the is_x_days_before filter should I return the conversation/contacts got created x_days before the filter value date?

I was thinking it would be proportional to today's date like conversation created 3_days_ago.

I am not able to understand the filter, we can have a call once you are back,

[2022-02-01 11:04] #240 closed

[2022-02-01 12:15] voko3456 opened #3886 "PDF,CSV,TXT,XLS documents not showing in whatsapp 360dialog chat"
PDF,CSV,TXT,XLS documents not showing in whatsapp 360dialog

@sojan-official
@pranavrajs

can you please check this bug.

[2022-02-01 19:06] ChrisvanChip commented on #1941
I would definitely appreciate an integration through the use of DMs (direct messages).

With 140 million Monthly Active Users, Discord isn't a channel to ignore. Especially young adults are known with it, and a lot of large brands use it to communicate with their community in a more personal way. It's basically Slack but as a public park (if desired by the 'server' creator)

[2022-02-01 20:14] iammattmartin commented on #3886
Best not to @ people directly as creates unneeded notifications.

[2022-02-01 21:36] sojan-official commented on #900
@ChrisvanChip Starting from the upcoming release, the first user account on chatwoot will automatically be a super admin as well.

[2022-02-02 03:18] iamsivin opened #3887 "bug: Wrong colour for Twitter private note agent mention name"
**Describe the bug**

Wrong colour in agent mention name at the private note in Twitter channel conversations.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to the Twitter channel
2. Open a conversation
3. Sent a private note message
4. Now you can see this issue

**Expected behavior**

Should be in `--color-body`

<img width="304" alt="image" src="https://user-images.githubusercontent

[2022-02-02 03:24] sojan-official opened #3888 "feat: Provider APIs for SMS Channel"
Provider APIs for SMS channel prototype with bandwidth