[2021-06-24 09:16] #2166 closed

[2021-06-24 10:13] APPX-Studio opened #2507 "DialogFlow could not reply bots message"
**Describe the bug**
<img width="1404" alt="QQ20210624-180304@2x" src="https://user-images.githubusercontent.com/49307767/123244379-755da400-d516-11eb-894a-d75da6417a9e.png">
<img width="1404" alt="QQ20210624-180405@2x" src="https://user-images.githubusercontent.com/49307767/123244537-99b98080-d516-11eb-9189-b5e99be9dc17.png">
<img width="1398" alt="QQ20210624-180721@2x" src="https://user-images.g

[2021-06-24 10:33] pranavrajs commented on #2507
@APPX-Studio there is no error in the logs, it seems like the bot might not be configured correctly. Have you created the handoff intent as per the doc.

[2021-06-24 12:17] #2479 closed

[2021-06-24 12:20] sojan-official commented on #2425
ref : https://github.com/chatwoot/chatwoot/discussions/2460

[2021-06-24 12:26] vishnu-narayanan opened #2508 "Rails server fails to start when installing via Linux helper script - rvm gpg key issue"
**Describe the bug**

Rails server is not able to start up when set up via the Linux installation script. Upon checking the chatwoot `systemd` service log, it seems the issue is because of ruby version mismatch. Debugging further it seems `rvm` installation is failing and the script fails to install the required `ruby` version `2.7.2`.

Root cause for rvm installation failure is  `gpg` key import

[2021-06-24 12:29] sojan-official commented on #1959
@jtraulle Thanks for the offer. If the community is willing to raise a PR based on https://lcx.wien/blog/rails-actionmailbox-with-postal/ , we can work with them on getting it merged.
Otherwise, I will reach out once we have some bandwidth to pick this up.

[2021-06-24 12:34] sojan-official commented on #2488
@brentco  If you create a new conversation against the user contact inbox,  The widget will load the latest conversation ( empty) .

ref: https://www.chatwoot.com/developers/api/#operation/newConversation

let me know if this helps

[2021-06-24 12:45] sojan-official commented on #2508
ref : #2493

[2021-06-24 12:50] sojan-official commented on #273
@mariusa Applogies. I had the requirement mixed up with one of the recent changes we pushed. There isn't a setting to disable the widget completely if none of the agents is online.

We will keep this open for future prioritization.

[2021-06-24 12:56] sojan-official commented on #273
BTW one workaround for not showing widget as offline is to configure business hours.
The widget online status will then be calculated based on business hours instead of agent availability

[2021-06-24 13:23] mariusa commented on #273
Right, but that's always changing with small business. Agent (co-founder of business) could keep a browser tab open as available while doing personal stuff outside work hours.

Thanks for keeping this as future functionality!

[2021-06-24 17:18] sojan-official commented on #2492
@ddlogesh  if you are going to work on this.

Let's stop showing the reply time field for email inboxes as it isn't relevant in the case of the email channel

[2021-06-24 17:23] sojan-official opened #2509 "chore: Enable Rich text editor for API channels"
### Discussed in https://github.com/chatwoot/chatwoot/discussions/2484

<div type='discussions-op-text'>

<sup>Originally posted by **devrulabs** June 22, 2021</sup>
Agents do not get the Text Formatting option in the reply Box and also Enter to Send checkbox is missing:

![image](https://user-images.githubusercontent.com/82273807/122865685-59f96a00-d359-11eb-84fc-314125f31ed3.png)

However the sa

[2021-06-24 18:09] pranavrajs commented on #2479
@iammattmartin I guess the suggestion can be picked as an enhancement.

[2021-06-25 00:56] APPX-Studio commented on #2507
where can get logs?
<img width="1404" alt="QQ20210625-085535@2x" src="https://user-images.githubusercontent.com/49307767/123353008-2144d500-d593-11eb-8c34-0d8b9522ea90.png">

[2021-06-25 04:42] thejjw commented on #1237
+1 on this.
For example, an agent(operator) can have a call or in person contact then want to continue support on chatwoot conversation(chat). If a personalized link can be generated for a new conversation.. s/he can just give the link and continue on from there, rather than "go our website and somebody(hopefully me) can chat from there"
It would be very appreciated if this feature can be consider

[2021-06-25 05:04] sojan-official commented on #1539
fixed in https://github.com/chatwoot/chatwoot/pull/2236

[2021-06-25 05:04] #1539 closed

[2021-06-25 06:30] #2465 closed

[2021-06-25 07:15] pranavrajs commented on #1283
@nithindavid For now, let us show the delete option only to the assigned agent. We can revisit this at a later point.

[2021-06-25 07:26] #2478 closed

[2021-06-25 07:50] #2473 closed

[2021-06-25 08:07] #2471 closed

[2021-06-25 08:10] pranavrajs commented on #2473
![Uploading 2.0.png…]()

[2021-06-25 09:01] brentco opened #2513 "Allow superadmin to confirm users manually"
**Is your enhancement request related to a problem? Please describe.**
I NEED an email setup to create new accounts. This is not always possible.

**Describe the solution you'd like**
Allow a super admin to verify accounts without an email.

**Describe alternatives you've considered**
Created a temporary sendgrid account that uses gmail but this is blocked by many servers.

[2021-06-25 11:51] tasn commented on #2111
One additional change that would be great: have the image as an html component (rather than added by the JS). This was time to first render would be minimal and users don't get the icon only showing up after loading and running of the JS finished. It'll just look like part of the page (in a good way).

[2021-06-25 13:44] vishnu-narayanan commented on #2508
![image](https://user-images.githubusercontent.com/3526167/123433844-80353900-d5e9-11eb-8274-a594e8f09593.png)

[2021-06-25 15:49] #2508 closed

[2021-06-25 15:53] sojan-official commented on #2493
@hanzala-sohrab We tested the installation scripts on  Ubuntu 20.04, and it seems to be working. Could you check again on a new VM?

Could you also let us know the following information:

do you have any other services already running in your VM?
How much memory is allocated to the VM?

[2021-06-25 17:35] jike212 commented on #2371
This issue appears to have popped up again (I've now upgraded to 1.17.1) and it's not clear why. The domain is authenticated, I've even added a single-sender verification account with the same address as the inbox in Chatwoot but I still get the same SMTP 550 error.

[2021-06-25 17:38] brentco commented on #2488
Hi @sojan-official ,
Thanks for the information, but it's not quite what I'm looking for. Once the conversation "ends" the user should be unable to send more messages AND additionally, when they visit the chat page again, their closed chat should be gone.

[2021-06-25 18:36] sojan-official commented on #2513
While we will evaluate adding this as functionality to super admin.  you could verify accounts using the rails console.

[code]

[2021-06-25 18:38] brentco commented on #2513
Ah that's good that at least there is already an option, however, I don't expect the business people that will manage the instance to be able to execute things in the rails console.

[2021-06-25 18:42] sojan-official commented on #2513
You are right. That's not an expectation 😁
This is more of a workaround.

[2021-06-25 19:22] thundersparkf commented on #1119
I was experimenting with the Gupshup integration and I am facing this issue.

<img width="292" alt="Screenshot 2021-06-26 at 12 47 59 AM" src="https://user-images.githubusercontent.com/64605024/123474815-28fa8d00-d618-11eb-93fc-5ffce0a3565a.png">

Seems to be similar to the Telegram and Line integrations, where exactly do I look to clear this up?

[2021-06-25 20:48] iammattmartin commented on #1119
I can't see any commits for Gupshup, have you coded this yourself?

[2021-06-25 20:52] thundersparkf commented on #1119
Yeah. I'm new to Ruby on Rails, so I didn't want to push it yet. Sorry if the error description is too vague, I'm just trying to understand why this happens, cause I'm assuming Telegram and Line integrations would have a similar reason, so I can vague direction to move in.

[2021-06-25 20:54] iammattmartin commented on #1119
I'd recommend asking in the discussion tab or opening a new issue, as this one is for the FR. You could always link this back as PR once you've sorted that.

[2021-06-25 20:55] thundersparkf commented on #1119
Cool makes sense. Thank you!

[2021-06-25 21:27] Giszmo commented on #1283
Is there plans to actually let the assigned agent delete all traces of messages he authored?

[2021-06-25 21:28] sojan-official commented on #2472
Raises https://github.com/chatwoot/chatwoot/pull/2503 for the first 3 items.
Let's take up the remaining reporting APIs in another PR

[2021-06-25 21:29] sojan-official commented on #1890
Closing in favour of https://github.com/chatwoot/chatwoot/issues/2472

[2021-06-25 21:29] #1890 closed

[2021-06-26 04:12] jike212 commented on #2371
Further update:

I rolled my instance back to a previous snapshot of the VM using 1.16.2 and then ran the update to 1.17.1 which got things working again. Not sure what might have broken in the previous upgrade attempt but I'll close the issue.

[2021-06-26 04:12] #2371 closed

[2021-06-26 22:22] uzziwizzle commented on #2493
I had the same issue. I have tried with 4 VMs so far.

[2021-06-26 22:54] iammattmartin commented on #2466
Would there be a way to ensure a new conversation without using CSAT?

Also, when someone opens (or re-opens?) a previous conversation about one topic, if a new conversation, it might be nice to "link" them.

So when staff look, they could see a "customer created a new ticket, in reference to previous conversation[link]".

As much as there needs to be an ability to open multiple conversations as t

[2021-06-27 19:14] Lewiscowles1986 opened #2520 "IMAP ingest"
**Is your feature request related to a problem? Please describe.**
As a head of customer success, for a business with a single email support ingress, I would like to support imap email ingest, so that omni-channel support is supported (inbound). So that, the adminstrative overhead of configuring each agent their own email is avoided, a single record of customer communication (ideally per-issue) ca

[2021-06-28 05:06] jike212 opened #2522 "Outgoing Sendgrid issues: from address does not match a verified Sender Identity"
Running Chatwoot 1.17.1

Outgoing emails were previously working for me using Sendgrid however they seem to be quite fragile. Today, outgoing messages appear to have stopped working completely and I receive the following error in the worker logs:

[code]
The domain is validated (and was working previously) and the `MAILER_SENDER_EMAIL` environment variable is set as well.

The only thing I can thi

[2021-06-28 06:55] sojan-official opened #2524 "feat: CSAT Reporting API"
- [ ] Add an API to fetch the avg of the points
     (Date range filter),
      (group by date )
- [ ] Add an API to fetch the mean of the points
       ( date range filter, group by date )
- [ ] Swagger Documentation for the newly added APIs

[2021-06-28 07:07] sojan-official opened #2525 "Feat: One off SMS campaigns"
Ability to send a one-off campaign to contacts under a specific tag

[2021-06-28 07:09] sojan-official opened #2526 "Design: Update Design for Reports"
- New design to comply with the updated app design
- Improve from the tab-based design
- Split items into sidebar sections
- Accommodate filters
- Accommodate CSAT

[2021-06-28 07:23] nithindavid opened #2527 "New agent and team selector on conversations sidebar needs keyboard support"
The changes in PR #2516  keyboard support for going up and down on the options.

[2021-06-28 07:34] sojan-official opened #2528 "chore: update behaviour of CSAT component to submit on emoji selection"
At the moment CSAT response is submitted only after the user do two interactions
- emoji selection
- submit text feedback

Let's do submit separately for each of these interactions

[2021-06-28 07:45] sojan-official commented on #1216
reassigning due to lack of activity.

[2021-06-28 07:53] sojan-official opened #2530 "feat: Improved sidebar for agent dashboard"
- Update the sidebar of the chatwoot agent dashboard to accommodate a secondary navigation.

![image](https://user-images.githubusercontent.com/2246121/123600240-19479800-d814-11eb-882e-8baa9775a4e5.png)

[2021-06-28 12:17] FatGrizzly commented on #1589
@pranavrajs @sojan-official Any updates on this?

[2021-06-28 12:24] sojan-official commented on #1589
@FatGrizzly The team isn't actively working on this at the moment. This issue is open for contributions.

[2021-06-28 13:39] sojan-official commented on #2493
Could you share the logs ?

[2021-06-28 13:50] sojan-official commented on #2488
@brentco  At the moment the chat widget only supports one conversation. If a new conversation was created through the API. it will replace the existing conversation show to the user. they won't be able to send more messages.

We also have a new CSAT feature that is coming up, where you will get a similar behavior on conversation resolution.

[2021-06-29 01:09] iammattmartin commented on #2530
Being able to hide Inboxes with no conversations (from an earlier issue) would be helpful as with as many as we use, we never see the labels above the fold. I'm sure others will be the same.

[2021-06-29 05:10] redmagic0099 opened #2541 "Can not send email"
**Describe the bug**
chatwoot cannot send email.
I have this error : can't verify csrf token authenticity

**Server logs**
[code]

**Environment**
Chatwoot self hosting Dokcer
I configured s3 bucket and sendgrid

.env
[code]

[2021-06-29 06:23] pranavrajs commented on #2530
@iammattmartin Thanks for the suggestion. It makes sense. This would allow you to customer views filters and along with that we would add the ability to hide empty inboxes as an enhancement.

[2021-06-29 07:46] vishnu-narayanan opened #2543 "docker-compose build fails on apple silicon m1"
**Describe the bug**

`docker-compose build` fails on apple silicon m1 (darwin arm64)

**To Reproduce**

Steps to reproduce the behavior:
1. Clone chatwoot on m1
2. Follow instructions for docker build
3. `docker-compose build`
4. See error

**Expected behavior**

Docker build is successfull.

**Screenshots**
n/a

**Browser logs**
n/a

**Server logs**

[code]

**Environment**
Development environme

[2021-06-29 07:54] pranavrajs commented on #2543
@vishnu-narayanan this looks like you need to log in. Did you log in with the docker account locally?

[2021-06-29 07:58] vishnu-narayanan commented on #2543
@pranavrajs No, I am not logged in. A public image should not require a login.

[2021-06-29 08:13] vishnu-narayanan commented on #2543
Same result even after logging into the docker account.

[2021-06-29 09:02] #1711 closed

[2021-06-29 10:50] iammattmartin commented on #2530
I think the "add new inbox" may be redundant there too. After all, how often does someone add new inboxes compared to say filters or labels. Those two I could see have regular usage but inboxes, I'd think are fairly static once all configured.

[2021-06-29 10:53] FatGrizzly commented on #1042
@ishitaojha Any updates on this one?
The community is eagerly waiting for Dark Mode

[2021-06-29 10:58] iammattmartin commented on #1042
Doesn't appear to be.

For now we use Webcatalog to apply a dark mode. Works fairly well.

![Screenshot 2021-06-29 at 11 54 52 AM](https://user-images.githubusercontent.com/15971590/123786119-3db57a00-d8d1-11eb-84be-acca000ed152.png)

[2021-06-29 11:03] iammattmartin commented on #1042
Wonder if something like https://darkmodejs.learn.uno/ would be a quick fix.

[2021-06-29 15:29] #2472 closed

[2021-06-29 16:23] pranavrajs opened #2545 "Cannot scroll on mobile view if campaign is active"
Issues:

- Cannot scroll the website if the campaign is active
- The position of the campaign message is random
- Cannot see the close button

<img width="450" alt="Screenshot 2021-06-29 at 9 51 47 PM" src="https://user-images.githubusercontent.com/2246121/123833759-4f743d00-d924-11eb-889c-cf5264e7bb09.png">

[2021-06-29 20:06] josep112 opened #2547 "confidentiality and transfer"
** Is your feature request related to an issue? Please describe.**
Agents should have secrecy in messages and the ability to transfer the channel

** Describe the solution you would like **
An agent talking to a channel could only be seen by an agent with supervisor category. If the agent wanted to transfer the conversation to another agent, the messages would be visible in this case

[2021-06-29 21:38] iammattmartin commented on #2547
Do you have a use case?

Is this to limit agents to only see departments they are assigned to? or something more specific?

[2021-06-30 04:05] pranavrajs commented on #2547
@josep112 If I understand this correctly, you want the agents to see only the conversation they are assigned to, right? They shouldn't see anything else. If that is the case then #2443 should cover those, we can close this ticket.

[2021-06-30 04:07] pranavrajs commented on #2541
@redmagic0099 There is not enough information to debug this. Could you please share the entire logs as a text file. The logs you have shared is not related to email messages.

[2021-06-30 14:29] josep112 commented on #2547
@pranavrajs I looked for how to make a new type of participant user role but I didn't find this role in the agents I have only administrator and agent, where is this so I can test it?

[2021-06-30 14:42] iammattmartin commented on #2547
It's only an idea currently, not implemented. Would monitor #2443 and once complete, you should be able to do what you want.

[2021-06-30 15:02] #1219 closed

[2021-06-30 15:39] #2466 closed

[2021-06-30 15:54] pranavrajs commented on #2547
Closing this as it is a similar to #2443.

[2021-06-30 15:54] #2547 closed

[2021-06-30 18:09] drivasintelnexo opened #2548 "Error using PlatformAppApiKey"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. I generate following the instructions here: [](https://github.com/chatwoot/chatwoot/wiki/Building-on-Top-of-Chatwoot:-Platform-APIs)
2. Create my Platform App
3. receive the token in rails console
4. when i invoke platforms endpoints in postman to make tests using in hea

[2021-07-01 12:48] srameshr opened #2550 "Replace the Twilio inbox channel with two new easier to understand SMS & Whatsapp channel"
**Is your enhancement request related to a problem? Please describe.**
Twilio as a channel can sound confusing to some users. So, how about removing the Twilio icon/channel and putting up 2 new ones called SMS and Whatsapp?

Will you accept a PR for this specific request?

**Describe the solution you'd like**
Update Twilio channel by replacing it with SMS and Whatsapp channel in the /inboxes page.

[2021-07-01 14:35] #2543 closed

[2021-07-01 17:26] pranavrajs commented on #2550
@srameshr Yes, this makes sense. `SMS via Twilio`, `Whatsapp via Twillio` seems alright.

[2021-07-01 22:44] #2548 closed

[2021-07-01 22:45] drivasintelnexo commented on #2548
I was mistake in url params id in some endpoints with get request to platform api endpoints.

[2021-07-02 06:36] redmagic0099 commented on #2541
I received error:
[code]
 Is it a DMARC setting problem?

[2021-07-02 06:49] muhsin-k opened #2552 "InvalidTextRepresentation: invalid input syntax for type integer"
https://sentry.io/share/issue/76967561554647a193e428ff16eecfeb/

[2021-07-02 06:50] iamsivin commented on #1216
CtkDatetimePicker - https://chronotruck.github.io/vue-ctk-date-time-picker/
Github profile - https://github.com/chronotruck/vue-ctk-date-time-picker

vue2-datepicker - https://mengxiong10.github.io/vue2-datepicker/index.html#Range
Github profile - https://github.com/mengxiong10/vue2-datepicker

Any suggestion?

[2021-07-02 06:53] muhsin-k opened #2553 "NoMethodError: undefined method contact"
https://sentry.io/share/issue/14ccf0894aa646e6810436cd13991a76/

[2021-07-02 06:54] muhsin-k opened #2554 "Template Error: undefined method display_id"
https://sentry.io/share/issue/60a543b58ab747fdbd1873df1d0cc3b6/

[2021-07-02 06:55] muhsin-k opened #2555 "NoMethodError: undefined method email_assigned_conversation_new_message"
https://sentry.io/share/issue/6ba3fbacd1d44c62a075ba610aa328bd/

[2021-07-02 06:59] ayushin commented on #642
We'll be happy to contribute and be an early adopter.

Next step perhaps a terraform module so we can take advantage of managed cloud services, like cloud sql

[2021-07-02 09:22] #2528 closed

[2021-07-02 09:50] hackedunit opened #2557 "Strange permission issue for a user having agent and admin access to different Accounts"
**Describe the bug**

When a user has an agent access to an Account and also an Admin access to a different Account, the user is unable to click on Inboxes or create an Inbox under the account with Admin access. Looks like the permissions are not being applied to the user after he switches to the Account with admin access. Strange thing is that if the permission (in super admin) is applied in the

[2021-07-02 09:58] #914 closed

[2021-07-02 12:13] vishnu-narayanan commented on #2541
Looks like it. Could you please set up SPF, DKIM, and DMARC records for your domain ?

https://docs.sendgrid.com/ui/sending-email/how-to-implement-dmarc

[2021-07-02 15:34] sojan-official commented on #2557
@hackedunit  Thanks for reporting this, we will take a look.

[2021-07-03 08:18] TheCrott commented on #2493
@sojan-official I'm facing same issue on ubuntu 20.04
Here are logs from rails server and sidekiq

[code]

[code]

[2021-07-04 00:25] redmagic0099 commented on #2541
[code]
Should I append a:support.redmagic.com to spf record ?

[2021-07-04 05:05] kemilioo opened #2559 "postgres:5432 - no response"
**Describe the bug**

Keep getting this error when trying to run  ```bundle exec rails db:chatwoot_prepare```

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. docker-compose up -d
2. docker-compose run --rm rails bundle exec rails db:chatwoot_prepare

![image](https://user-images.githubusercontent.com/81754437/124373675-eb0c0180-dcc6-11eb-9f06-4f01950b2dff.png)

[2021-07-04 09:10] thundersparkf commented on #2559
Have you tried to exec into the container after the first step?

```docker exec -it <container-name>  bash```

And then
``` psql -h postgres -p 5432 -U chat_admin```

If not, I think that maybe the issue. Try with ```-U chatwoot```

[2021-07-04 12:52] bytefact opened #2560 "Facebook Chat messages customer name is set as "John Doe""
**Describe the bug**

On Facebook messenger Live mode, Facebook contact names are not setting correctly. Contact names are set as "John Doe".
But If resolving correct names for Facebook app admin.

**To Reproduce**
1. Chatwoot is runnnig on production environment.
2. Configured 2 facebook pages as external Channel.
3. Created a facebook app for messenger platform, sent review request to facebook a

[2021-07-04 12:59] #2560 closed

[2021-07-04 13:44] pranavrajs commented on #2560
@bytefact This is happening because your app is not approved yet or there is a permission issue in the Facebook developer app.

[2021-07-05 01:58] kemilioo commented on #2559
Thanks for the respond, now its working !

---
### Steps of Troubleshooting

I have fixed this issue, but not sure which process that success.

1. I gave DB permission to the new user [Step 1-6] > https://tableplus.com/blog/2018/04/postgresql-how-to-grant-access-to-users.html
2. Change new password inside ```.env``` and ```docker-compose.yml```. Both passwords need to be the same
3. Then I restart

[2021-07-05 01:58] #2559 closed

[2021-07-05 02:02] kemilioo commented on #2550
Hi @pranavrajs , i just hosted chatwoot in my local. Currently I having a difficulties in connecting chatwoot to the whatsapp business. Could you explain more on this?

[2021-07-05 05:37] #2463 closed

[2021-07-05 06:00] pranavrajs commented on #1283
Closed via #2532

[2021-07-05 06:00] #1283 closed

[2021-07-05 06:06] sojan-official commented on #2550
@kemilioo  We don't support the business API directly yet. you will need to obtain a WhatsApp number via Twilio before you can connect it.

ref : https://www.chatwoot.com/docs/product/channels/twilio-whatsapp-sms

[2021-07-05 06:31] #1864 closed

[2021-07-05 06:45] kemilioo commented on #2550
@sojan-official , Thanks for the respond. Now I understood on how to connect them.

[2021-07-05 08:04] muhsin-k opened #2563 "bug: Email button loading while submitting the CSAT button"
https://user-images.githubusercontent.com/12408980/124438177-7eac0380-dd95-11eb-9df9-fef591a7c518.mov

- Add a separate loader for both buttons. Currently, both buttons are using the same loading prop

[2021-07-05 08:25] brentco opened #2564 "Conversation closing (web widget)"
**Is your feature request related to a problem? Please describe.**
The primary use I have for Chatwoot is to use the chat widget to communicate with programmed flows in our custom backend through the use of all the callbacks and APIs that are available. As such, when a user clicks the chat button an event `webwidget_triggered` is sent to the backend. This is seen as a "create a new flow and start

[2021-07-05 09:41] EntrepreneurAJ1 opened #2565 "WebSocket connection to 'wss://chat.domain.tld/cable' failed"
Depending on the browser I'm using depends on whether the WebSocket connection works.
The issue is present on;
Google Chrome: Version 91.0.4472.114 (Official Build) (64-bit)
Brave Browser: Version 1.27.88 Chromium: 91.0.4472.124 (Official Build) dev (64-bit)
Chromium: Version 91.0.4472.114 (Official Build) Arch Linux (64-bit)
Falkon Browser: 3.1.0 (Handshake Error)
Edge Browser: Version 93.0.910.5

[2021-07-05 12:13] srameshr commented on #2550
@sojan-official @pranavrajs

![Screenshot 2021-07-05 at 3 40 44 PM](https://user-images.githubusercontent.com/8149408/124462967-d5263b80-ddaf-11eb-8462-5caf79abf249.png)
![Screenshot 2021-07-05 at 3 41 35 PM](https://user-images.githubusercontent.com/8149408/124462980-d9525900-ddaf-11eb-88a8-c01d8c4093c6.png)
![Screenshot 2021-07-05 at 3 42 15 PM](https://user-images.githubusercontent.com/8149408/

[2021-07-05 14:21] srameshr commented on #2550
Also, going further when Chatwoot supports new providers apart from Whatsapp & SMS via Twilio, we could provide a select box within each channel as a configurable option that loads appropriate form fields that the provider needs.

[2021-07-05 14:22] sojan-official opened #2567 "investigation: Standardise markdown rendering across Chatwoot"
- check slack markdown standard
- check twitter markdown standard
- implement the required standards

[2021-07-05 16:07] Giszmo commented on #1283
Looking at #2532 I think the answer to my question above is "Agents can remove all traces of their messages, leaving no way of auditing policy compliance by superiors"?

[2021-07-05 17:05] pranavrajs commented on #1283
@Giszmo At the moment, yes. We will add a log when a user deletes a message so that auditing is available.

[2021-07-05 17:37] pranavrajs commented on #2550
@srameshr Sounds good. We will get the review done soon.

[2021-07-06 03:08] djra26111990 opened #2568 "PLATFORM API ACCOUNT_ID RETURN NULL"
**Describe the bug**

I was trying to create an account, user account and users with the new Platform API.

I send the name account in a  POST request to /platform/api/v1/accounts using the PlatformAppApiKey,

I use the id in the response to create the account user, and finish to create the user, pass one POST Request to platform/api/v1/users with
{
"name": "userName",
"email": "UserEmail",
"passw

[2021-07-06 07:29] sojan-official commented on #2568
@djra26111990  You will need to create an account_user association after creating the user before they can log in to the dashboard.

https://www.chatwoot.com/developers/api#tag/Account-Users

[2021-07-06 08:43] popeeyy opened #2570 "Accept Multiple Responses From Dialogflow"
**Is your enhancement request related to a problem? Please describe.**
When using handoff with Dialogflow, you want to inform the user what is happening. If the user is just put in handoff mode and sit there for minutes screaming into the void until an agent responds, that's a bad experience. Even on the Chatwoot website there is a demo showing that you can have the bot reply with a message when i

[2021-07-06 08:55] popeeyy commented on #1886
I would also like to see variables in canned responses, and make sure they include custom variables that are set by the website page so we can give users information about their account easier. Adding onto this, it would be nice if we could also change the entire response based on a variable, such as their browser. For example, if you want to instruct someone to do something that changes based on

[2021-07-06 09:19] popeeyy commented on #1730
Is there going to be any fix for this soon? This seems to be happening when adding new lines to Dialogflow as well, the new lines won't appears in the chat widget on the website.

Widget: ![image](https://user-images.githubusercontent.com/29686338/124575686-74731f00-de00-11eb-8872-97a39a0d5f5f.png)
Dialogflow: ![image](https://user-images.githubusercontent.com/29686338/124575703-76d57900-de00-11eb

[2021-07-06 10:05] WevrLabs commented on #1021
For Twilio, I guess it's easier to implement. We already have it in WHMCS implemented in a custom addon we use to send invoice reminders. All the messages sent by this addon are logged in database, and along with every message sent, a message SID is returned from Twilio API response, this SID is then stored in the database to the corresponding message.

Then we have a callback file that receives t

[2021-07-06 10:46] brundles opened #2572 "Webhooks - incoming?"
**Is your enhancement request related to a problem? Please describe.**

I cant find documentation for incoming Webhooks.

I can see the "message created" webhook (https://www.chatwoot.com/docs/product/features/webhooks) but cannot find any information about incoming webhooks?

**Describe the solution you'd like**
I would like to be able to send information to Chatwoot (like an answer) via Webhook.

[2021-07-06 11:04] sojan-official commented on #2572
@brundles for sending information to chatwoot you can use our REST APIs https://www.chatwoot.com/developers/api

[2021-07-06 11:08] brundles commented on #2572
Hi @sojan-official - thank you for the quick reply. So no incoming webhooks yet, correct?

Thanks

[2021-07-06 11:36] sojan-official commented on #2565
@EntrepreneurAJ1  I have verified our installation script and it seems like the script on the current master is broken.
Please use the following steps which use develop version instead.

[code]

I have tested with the latest Chrome (Version 91.0.4472.114 (Official Build) (x86_64) and the sockets seems to be working fine on my end.

----
looking at the logs, what I can see is the requests to the `c

[2021-07-06 11:39] sojan-official commented on #2572
That is correct. At the moment, we don't have plans for incoming webhooks.

[2021-07-06 11:41] stap780 commented on #1843
Hello!
somebody have news about telegram integration?
i find that gemfile have telegram-bot gem. Maybe plans become reals?
I am looking for something that like rocketchat but more useful and on ruby. And telegram is last main feature that we need.
Our market Russia. And we thinking about using chatwoot as conversation platform for saas service like [Insales](https://www.insales.com/) (shopify anal

[2021-07-06 11:52] #2302 closed

[2021-07-06 11:59] #1166 closed

[2021-07-06 12:49] jbg opened #2575 "feat: Publish ARM64 container images"
**Is your enhancement request related to a problem? Please describe.**
The current public container images for chatwoot do not work on ARM64 servers.

**Describe the solution you'd like**
Provide multi-architecture images so that chatwoot can be run on ARM64 servers.

[2021-07-06 13:48] nithindavid commented on #2526
![image](https://user-images.githubusercontent.com/1277421/124611213-d9755600-de8e-11eb-8193-bfaf2fda97ea.png)

[2021-07-06 13:48] #2526 closed

[2021-07-06 13:51] nithindavid commented on #2530
@iammattmartin The redundant "add new inbox" makes sense. I'll try it without the filter.

[2021-07-06 14:22] EntrepreneurAJ1 commented on #2565
I have rerun the bash script which fixes the Ruby version issue, will retest on all the browsers listed above again both directly to the port and proxied via openlitespeed. Aswell as firewall off and on.

[2021-07-06 14:36] djra26111990 commented on #2568
@sojan-official But, in this order i need to consume the platform API endpoints?

First. Accounts
Second. Accounts_Users to give the new account_users role and associate with their account_id, right?
Third. Users with their name, email and password?

There is one question. I can associate multiple account_users to one account_id ? Like creating agents on the frontend side with email invitation?

[2021-07-06 14:49] pranavrajs commented on #2575
@vishnu-narayanan Can you please take a look at this?

[2021-07-06 14:50] pranavrajs commented on #2572
Closing as this is more of a question rather than a feature. Please feel free to reopen if needed.

[2021-07-06 14:50] #2572 closed

[2021-07-06 15:33] EntrepreneurAJ1 commented on #2565
Very strange still works on firefox but not chrome, in the bash file the PGP keys are dead by the way. Looks like my preferred web server doesn't play nice with secure web sockets so Ill close this issue for now seems to be an issue on my system with webpack as well so going to not use Chatwoot until I have a lot more time to mess around. Potentially a good platform though.

[2021-07-06 15:33] #2565 closed

[2021-07-06 17:17] sojan-official commented on #2568
That is correct. you can refer for an overview : https://github.com/chatwoot/chatwoot/wiki/Building-on-Top-of-Chatwoot:-Platform-APIs

[2021-07-06 17:21] sojan-official commented on #2541
@redmagic0099  could you try triggering an email? seems like you have the DMARC records in place.

[2021-07-06 17:57] srameshr commented on #2084
@sojan-official @pranavrajs
This is what we are using internally. I can send a PR for this. Does this look ok?

![Screenshot 2021-07-06 at 11 23 23 PM](https://user-images.githubusercontent.com/8149408/124645943-ab553d80-deb1-11eb-95ea-83a66a00198f.png)

[2021-07-06 18:23] pranavrajs commented on #2084
@srameshr This looks really nice! Please send a PR, we can collaborate on the same.

[2021-07-06 20:30] djra26111990 commented on #2568
I've follow the steps in the refer link that you post it here bro @sojan-official thanks for your help! it worked!

[2021-07-06 20:30] djra26111990 commented on #2568
i'm going to close the thread

[2021-07-06 20:30] #2568 closed

[2021-07-07 04:34] #2570 closed

[2021-07-07 05:41] muhsin-k opened #2580 "bug: Availability status is not reflecting in the agent multi-select until we refresh the page"
https://user-images.githubusercontent.com/12408980/124705780-cd7fa780-df13-11eb-83db-ae244686d44f.mov

[2021-07-07 05:54] #2563 closed

[2021-07-07 07:48] muhsin-k opened #2583 "bug: Showing delete option for deleted messages"
<img width="321" alt="Screenshot 2021-07-07 at 1 15 30 PM" src="https://user-images.githubusercontent.com/12408980/124720288-9e723180-df25-11eb-99fd-d69984d82670.png">

[2021-07-07 07:52] muhsin-k opened #2584 "bug: Attachments are showing after deleting a message"
https://user-images.githubusercontent.com/12408980/124720966-50116280-df26-11eb-8869-918618dfb84f.mov

[2021-07-07 11:29] iammattmartin opened #2586 ""This message was deleted""
When a message is deleted showing "This message was deleted", there should be an option to *not* show this on the widget.

If you're correcting a spelling, to have that show looks very bad.

The same applies to emails, it's looks incredibly unprofessional.

- This _really_ needs to be documented as to what the behaviour is going to be as I would not expect the widget to show the deleted message or

[2021-07-07 11:31] iammattmartin opened #2587 "Sent Email Indicator"
When sending an off-line message to someone which gets relayed by email, there is no way to see, from the admin side, when and if an email is sent.

This would be helpful in a case when a message is deleted (or edited if that functionality is ever added).

There may be times where the message needs to be caught before it is sent.

[2021-07-07 13:16] pranavrajs commented on #2586
@iammattmartin Makes sense, thanks for the feedback.

It creates confusion among the users when they send a message and it is deleted by the agent and disappears from the widget. The intention was to avoid this. So that when a user sends a message and the agent deletes it, the user would still be able to see the message with a deleted content.

For agent side messages, it makes sense to avoid show

[2021-07-07 13:17] iammattmartin commented on #2586
I agree with that. If the message deleted is from a user, that is fine - so they know what happened but I would say that staff doing so is to correct an error in a message that they've sent (and before delivery via email) etc.

[2021-07-07 13:18] pranavrajs commented on #2586
Sure, that makes sense. We will update the behaviour.

[2021-07-07 16:12] pranavrajs commented on #2564
@brentco Can you please try the latest develop image where we have enabled the CSAT surveys? With this option, you would be able to achieve the issue which you have mentioned. The user would not be able to create further messages.

[2021-07-07 23:16] mp051998 opened #2590 "Unable to start chatwoot due to PGConnectionBad Error"
I have been running chatwoot on a server for the past 3 days. When trying to make some API calls to it today I kept getting Internal Server Errors. So thought I'd restart the server, which I did. But after this, I was unable to start it again. This is the error I keep getting when trying to run chatwoot_prepare or reset or create.

[code]

Not sure why this happened. On trying to run it locally, I

[2021-07-07 23:21] mp051998 commented on #2590
The first thing I'm sure you'll tell will be that there's a password mismatch so I'll attach the docker-compose file as well.

[code]

[2021-07-08 05:06] srameshr commented on #2590
This happens to me all the time.  If I just run foreman from a new terminal it starts to work fine.

[2021-07-08 06:08] mp051998 commented on #2590
Oh, I run it in docker, Im not sure this fix applies to me.

[2021-07-08 08:34] muhsin-k opened #2594 "ArgumentError: invalid byte sequence in UTF-8"
https://sentry.io/share/issue/f7b2a3a3dc544289a6f72f6a90b696b8/

[2021-07-08 08:41] muhsin-k opened #2595 "TypeError: Cannot read property 'trim' of undefined"
https://sentry.io/share/issue/579a99050bc84a24b92ef6f31ece11fb/

[2021-07-08 08:53] hitesh240989 opened #2596 "Website Widget pop up on page load event"
Can you please help to enable the website widget to pop up as soon as any user will land on the home page?

Currently, the user has to click the widget then only it will show but it's better if any user visiting the website it should pop up immediately on page load.

Please advise if we can have this enhancement.

Thanks in advance.

[2021-07-08 09:23] muhsin-k commented on #2596
@hitesh240989 You could use the `toggle` method for opening the widget. https://www.chatwoot.com/docs/product/channels/live-chat/sdk/setup#trigger-widget-without-displaying-bubble

[2021-07-08 09:23] #2596 closed

[2021-07-08 10:54] mp051998 commented on #2590
I did a clean install again. It worked.

Not sure but I believe leaving the postgres port open allowed someone to modify the database credentials.
Chatwoot doesnt require exposing redis and postgres ports. It invites unnecessary trouble, my server ended up getting a crypto miner installed by a hacker lol.

[2021-07-08 10:54] #2590 closed

[2021-07-08 12:06] sojan-official commented on #2590
Yeah, there isn't a need to expose both those ports publically. We will revisit and update the documentation accordingly.

[2021-07-08 15:27] pranavrajs commented on #258
@nithindavid Reopening this as the feature is not live and only the component is merged.

[2021-07-08 15:38] pranavrajs commented on #900
@sojan-official Can't we close this issue?

[2021-07-08 15:39] pranavrajs commented on #993
Closing as this is already completed in the previous design updates.

[2021-07-08 15:39] #1053 closed

[2021-07-08 15:43] pranavrajs commented on #1475
Closing this as the feature is live via #2177

[2021-07-08 15:43] #1475 closed

[2021-07-08 15:47] pranavrajs commented on #1988
As per the conversation with lawyers, using local storage wouldn't help us remove the cookie banners as we are still using some form of storage to track the session.

[2021-07-08 15:47] #1988 closed

[2021-07-08 16:33] sojan-official commented on #900
Closing this since admin accounts are created during installation flow. We can revisit creating super admin accounts at a later point.

[2021-07-08 16:33] #900 closed

[2021-07-08 16:58] hitesh240989 commented on #2596
Thank you @muhsin-k

[2021-07-08 23:40] redmagic0099 commented on #2541
I couldn't send email.
sidekiq error:
[code]

[2021-07-09 01:38] kuangyl0212 opened #2599 "Set phone_number through Website SDK"
I checked the source code of web widget. I found there is no entry to set a contact's phone number.
![image](https://user-images.githubusercontent.com/16743234/125010294-d2219880-e098-11eb-8dc3-eb39e0884193.png)

Could you please add a phone number entry to window.$chatwood.setUser() something like following:

[code]

[2021-07-09 05:39] pranavrajs opened #2601 "Encoding issues with emails in Hebrew language"
![Screenshot 2021-07-09 at 00 15 16](https://user-images.githubusercontent.com/2246121/125028679-149da200-e0a6-11eb-9f0d-f6290bbc74b3.png)

The email content is replaced with `?` if the character is non-English.

[2021-07-09 07:04] #2583 closed

[2021-07-09 07:50] #2580 closed

[2021-07-09 09:10] pranavrajs opened #2603 "Reply from Slack is not parsed correctly"
<img width="382" alt="Screenshot 2021-07-09 at 2 39 16 PM" src="https://user-images.githubusercontent.com/2246121/125054167-8afccd00-e0c3-11eb-924d-62639a4fbd1d.png">

We have to unescape the content before using it in Chatwoot.

https://github.com/slack-ruby/slack-ruby-client#message-parsing

[2021-07-09 10:09] gerardbrunoquantion commented on #2590
I got a related problem. I'm doing a fresh install in my local machine according to this documentation: https://www.chatwoot.com/docs/self-hosted/deployment/docker and it ends up with the same error.

The only modification I'm doing to the docker-compose.yml and .env files is the postgres password. Any suggestion?

[2021-07-09 10:16] mp051998 commented on #2590
What worked for me was a fresh installation where I wget the docker-compose and .env files again. Don't reuse those files. Not sure why, but this is what worked for me.

[2021-07-09 10:17] gerardbrunoquantion commented on #2590
Already done that several times but got the same result. Thanks anyway for the quick response.

[2021-07-09 10:17] mp051998 commented on #2590
Also you don't need to expose the ports on redis and postgres.

[2021-07-09 10:18] mp051998 commented on #2590
Was it working before? Have you successfully set it up once before?

[2021-07-09 10:20] gerardbrunoquantion commented on #2590
I did in previous versions of Chatwoot, some months ago.

[2021-07-09 10:26] mp051998 commented on #2590
You may also need to change HOST in the .env file

[2021-07-09 10:33] gerardbrunoquantion commented on #2590
You mean the postgres host? I'm using the postgres service in docker-compose and the database connection is not resulting in a time out, so I guess the 'postgres' host is alright.

[2021-07-09 11:09] gerardbrunoquantion commented on #2590
It seems to be a problem related to my machine. I changed the postgres password to the one that I used when I first installed Chatwoot and it is working. I am pruning my docker system but I can't still use another password.

Anyway, this problem does not seem to be related with this repository. Thanks and I apologize for the inconvenience.

[2021-07-09 11:37] HariniKrishnan commented on #2553
Hi I would like to contribute for this issue, Shall I go ahead and take it?

[2021-07-09 11:39] sojan-official commented on #2553
@HariniKrishnan  Please go ahead. Let us know if you need any help.

[2021-07-09 11:44] HariniKrishnan commented on #2553
Thanks a lot @sojan-official. Sure will reach out for help..

[2021-07-09 12:03] sojan-official opened #2605 "enhancement: Expose the inbox identifier for API channels in UI"
ref: https://github.com/chatwoot/chatwoot/issues/1423#issuecomment-877129871

At the moment the inbox identifiers for public channels isn't exposed in the API/ UI. let's make it accessible

----

## changes required

- [ ] expose the value in API : add `channel.identifier`  to `app/views/api/v1/models/_inbox.json.jbuilder` if inbox type is an API inbox
- [ ] expose the option to copy this value in

[2021-07-09 12:14] sojan-official commented on #2541
@redmagic0099  you will need to verify the email MAILER_SENDER_EMAIL with SendGrid. Please follow the instructions shown in error.

ref: https://docs.sendgrid.com/for-developers/sending-email/sender-identity

[2021-07-09 12:15] #2603 closed

[2021-07-09 12:35] sojan-official commented on #2493
Hi everyone, I have checked the Linux install script on our master, and it seems like there are some breakages.
for the moment, please use the script on develop branch

[code]

ref: https://github.com/chatwoot/chatwoot/issues/2565#issuecomment-874685460
we will update the script on master with our upcoming release.

[2021-07-09 12:44] sojan-official commented on #642
@ayushin  Let us know if you need any help from the team.

[2021-07-09 12:53] sojan-official commented on #2507
@APPX-Studio  You will have to define appropriate intents in Dialogflow for the integration to work.  Could you please share the screen of the intents tab in your Dialogflow?

In the given screenshot, I see an error `Intent data is invalid`.

Also, to check if your bot is configured correctly in Dialogflow, you can use the 'try it now' section in your right sidebar.
Send a message in the try it no

[2021-07-09 12:57] mp051998 commented on #2590
I meant the main host but I think it wasnt your issue.

You may have mounted the previously used volume. Might be because of that. In that case why dont you try resetting the database?

docker-compose run --rm rails bundle exec rails db:reset

[2021-07-09 12:59] ayushin commented on #642
we are not using chatwoot as of yet, but really considering switching to it, as we've used a few other tools that were not ideal.

helm charts, terraform module and flutter client would definitely get us on board :-)

i'll see if when we can contribute, i'm monitoring these issues and will get in touch as soon as we have resources/ready

[2021-07-09 13:00] mp051998 commented on #2590
in the docker-compose file, the volumes being mounted are actually from root, so no matter which folder you docker-compose up from, it'll mount the same volume.

A better thing to do would be to mount it from the current directory. You can do this by adding a full-stop (period, '.') before the volume. Something like this:

Replace `/data/postgres:/var/lib/postgresql/data` with `./data/postgres:/va

[2021-07-09 13:22] HariniKrishnan commented on #2553
Hi can you please help me in reproducing this issue?

[2021-07-10 15:51] pranavrajs commented on #1042
@iammattmartin Tried it. It doesn't work. Please see the screenshot below :(
<img width="1920" alt="Screenshot 2021-07-10 at 9 20 56 PM" src="https://user-images.githubusercontent.com/2246121/125168793-ccc16c80-e1c4-11eb-87ef-eb8488d0f038.png">

[2021-07-10 16:01] ishitaojha commented on #1042
No Not yet I was working on it but Wasn't able to resolve

[2021-07-12 01:33] redmagic0099 commented on #2541
I already setup

[2021-07-12 06:58] #2490 closed

[2021-07-12 07:15] #2554 closed

[2021-07-12 07:37] gerardbrunoquantion commented on #2590
I moved the machine volume to a docker volume and got it working now. Thanks!

[2021-07-12 11:50] gerardbrunoquantion opened #2609 "Dialogflow integration not working"
**Describe the bug**

I have configured a Dialogflow hook but it's not working as expected. Chatwoot categorizes the conversation under the "bot" tag but Dialogflow responses does never reach the chat.

**To Reproduce**

1. Create a web inbox.
2. Follow the instructions given in the [official docs](https://www.chatwoot.com/docs/product/channels/live-chat/integrations/dialogflow).
3. Send "hello" m

[2021-07-12 17:04] #2550 closed

[2021-07-13 06:01] #2467 closed

[2021-07-13 08:11] lambk2211 opened #2615 "Not realtime when sent mess in inbox"
**Describe the bug**

I sent msg but not realtime,
**To Reproduce**

Steps to reproduce the behavior:

1. I run project in local in port 3000
2. create inbox and get script to embed to other project react in port 3001
3. chat and get result: not realtime
- #

`_

**Expected behavior**

msg realtime in two project
**Screenshots**

If applicable, add screenshots to help explain your problem.

**Brow

[2021-07-13 09:10] nithindavid opened #2616 "Design: Buttons for actions like delete, close modal needs better styles"
- Unify the action buttons styles
- Add hover effects

![image](https://user-images.githubusercontent.com/1277421/125425116-be12fed0-cf27-4dd6-9b75-9505ba8b69d9.png)

[2021-07-13 09:13] sbreiler-work commented on #1372
I've the same problem, regardless if agent or contact is uploading an image. It seems to me, chatwoot returns a reply despite Sidekiq-Job/s3 upload isn't done yet.

**Environment:**
Self hosted installation on Ubuntu 20.10, **_AWS-S3 Cloud Storage_**

**Desktop (please complete the following information):**
 - OS: Win
 - Browser: Chrome
 - Version: 91

**Log:**
https://gist.github.com/sbreiler-wor

[2021-07-13 09:48] Brokray opened #2617 "As an agent I would like to be able to answer from my smartphone"
First of all, I am sorry if this demand as already been made, I did not found anything about it.
Second, you are really doing an amazing job with Chatwoot! :)

**Is your enhancement request related to a problem? Please describe.**
The Chatwoot UI is not properly responsive, using a phone to answer to users is rather difficult.

**Describe the solution you'd like**
Make the interface responsive eno

[2021-07-13 10:25] sojan-official commented on #2617
@Brokray  We have ios and android apps available.

https://apps.apple.com/app/id1495796682
https://play.google.com/store/apps/details?id=com.chatwoot.app&hl=en

[2021-07-13 10:41] #1216 closed

[2021-07-13 13:02] iammattmartin opened #2619 "Zulip Integration"
**Describe the solution you'd like**
Whilst there is native Slack, this assumes that everyone uses that and keeps their data in the cloud. It would be nice to use some options where cloud and on-prem is supported.

Zulip remains another option and has a very good API for messaging (https://zulip.com/api/send-message) but also two-way changes within the app (https://zulip.com/api/get-events).

Give

[2021-07-14 01:34] DevS1993 commented on #2609
I have faced this issue. It is related to a library that is needed in google-protobuf. Can you share your Dockerfile?

[2021-07-14 01:56] DevS1993 opened #2620 "Two access tokens created for each new user"
**Describe the bug**

When a new user is created, a single access token should be created.

**To Reproduce**

[code]
[code]

**Expected behavior**

One access token should be created when a user is created.

**Screenshots**

![image](https://user-images.githubusercontent.com/21246070/125548307-ab3e39ba-e0f4-45c1-acda-9f811748738b.png)

[2021-07-14 07:16] gerardbrunoquantion commented on #2609
I am not using any Dockerfile. I use the images on Docker Hub in my docker-compose.yml as follows:

[code]

[2021-07-14 07:21] pranavrajs commented on #2620
@DevS1993 Thanks for reporting this. 👍

[2021-07-14 07:22] pranavrajs commented on #2617
At the moment, we don't plan to support the web on mobile devices. This could be a future enhancement. Closing this as the mobile apps are available.

[2021-07-14 07:22] #2617 closed

[2021-07-14 07:26] pranavrajs commented on #2615
@lambk2211 Are you running the worker thread? If it is not up then the messages wouldn't available in realtime.

Can you please share the steps you have taken, commands you ran to get this up and running? There is no much information on the issue to debug this further.

[2021-07-14 07:41] lambk2211 commented on #2615
@pranavrajs "Are you running the worker thread?" can you guide me run worker thread, thank you sir

[2021-07-14 08:24] sojan-official commented on #2615
@lambk2211  Along with running the rails server and webpack dev server,  you also need to run the sidekiq, which is our worker service.

Please refer to the `Procfile`
you can start sidekiq by running `bundle exec sidekiq -C config/sidekiq.yml`

[2021-07-14 11:34] gerardbrunoquantion commented on #2609
I have tried this solution creating a Dockerfile that extends the base chatwoot image but the docker-compose build results in an error when installing google-protobuf

**Dockerfile**

[code]

**Build error**

[code]

I have also tried this Dockerfile config, which does not result in an error on docker-compose build, but still got the library error
`LoadError (Error loading shared library ld-linux-

[2021-07-14 13:06] redmagic0099 commented on #2541
I found support_email and domain column mistake in postgres. I updated correct email and domain.

[2021-07-14 13:08] sojan-official commented on #2541
@redmagic0099  is it working now? :)

[2021-07-14 13:17] sojan-official commented on #2609
@gerardbrunoquantion  we will take a look

[2021-07-14 13:31] pranavrajs commented on #2609
@gerardbrunoquantion Can you please share the OS and the version as well?

[2021-07-14 14:28] sojan-official commented on #2553
@HariniKrishnan The issue occurs when chatwoot processes incoming emails from a contact who already exists in the database and the from address has a different character casing.

ie `john@acme.inc` exists in the database and In the following line `processed_mail.from.first` returns '`John@acme.inc`
https://github.com/chatwoot/chatwoot/blob/a5bc81b304ac9d0ada34ee360b7642bc53c07793/app/mailboxes/sup

[2021-07-14 15:14] Stephen-Lobo commented on #2609
We are also facing same issue.

- Self hosted environment
- Caprover
- DigitalOccean

[2021-07-14 15:42] redmagic0099 commented on #2541
Yes, Thanks

[2021-07-14 15:47] #2541 closed

[2021-07-15 02:44] TheCrott commented on #2493
Sweet

[2021-07-15 06:16] iamsivin opened #2633 "Enhancement : Add keyboard navigation for label dropdown."
- Add Support for arrow keys to navigate label dropdown items.
- Add Support for ESC key to close label dropdown.
- Add support for the Enter key to select the value in the label dropdown.

[2021-07-15 06:30] gerardbrunoquantion commented on #2609
Ubuntu 18.04.5 LTS

[2021-07-15 08:18] brentco commented on #2564
I'm sorry @pranavrajs I haven't had the time yet to try out the develop image!

[2021-07-15 08:37] lambk2211 opened #2635 "After sign in not show view"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Login

**Expected behavior**

A clear and concise description of what you expected to happen.

![photo_2021-07-15_15-34-42](https://user-images.githubusercontent.com/57747823/125756703-21a04cb1-e85f-44e5-a35d-181b4da75581.jpg)

If applicable, add screenshots to help expl

[2021-07-15 08:57] #2584 closed

[2021-07-15 09:23] HariniKrishnan commented on #2553
Thanks a ton for detailed explanation @sojan-official I tried to setup but in vain. Sure will fix and test in rspec.

[2021-07-15 09:54] #2620 closed

[2021-07-15 10:06] lambk2211 commented on #2635
ah, this is my fault, i forget create account for user

[2021-07-15 10:18] pranavrajs commented on #2635
Closing as the issue is solved.

[2021-07-15 10:18] #2635 closed

[2021-07-15 11:32] atapas opened #2636 "Bug: Create label color chooser hide the create button"
**Describe the bug**

When I try to create a label, it allows me to select a color for the label. After clicking on the color chooser,  the color selector hide the button to create the label.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to the 'Labels' menu from the left nav
2. Click on the Add Label button.
3. A modal appears to provide the details
![image](https://user-images.github

[2021-07-15 12:03] muhsin-k commented on #2636
Closing this as it is a duplicate of #1228

[2021-07-15 12:03] #2636 closed

[2021-07-15 15:40] #2586 closed

[2021-07-15 17:20] #2601 closed

[2021-07-15 17:21] pranavrajs commented on #2418
@srameshr The fix would work for the future emails.

[2021-07-15 17:21] pranavrajs commented on #2367
@TyCoolidge This was an issue with the way text content was captured. This has been fixed in the commit mentioned above. Future emails should not have an issue.

[2021-07-15 17:53] #2418 closed

[2021-07-15 19:14] iammattmartin opened #2641 "Avatar Generation when via Whatsapp (Twilio)"
**Describe the bug**

The avatar generated does not seem to tally with the number of the contact.

Avatar is shown as +7 but the start of the number was +44 7.

It's only a small issue but nice to have some consistency.

![Screenshot 2021-07-15 at 8 13 26 PM](https://user-images.githubusercontent.com/15971590/125844536-949e68ec-6faf-4822-83fd-e1d2572410ef.png)

[2021-07-15 19:16] ayushin commented on #2074
+1

[2021-07-16 04:22] sojan-official commented on #2499
https://github.com/chatwoot/chatwoot/pull/2498

[2021-07-16 04:22] #2499 closed

[2021-07-16 04:23] sojan-official commented on #2525
https://github.com/chatwoot/chatwoot/pull/2621
https://github.com/chatwoot/chatwoot/pull/2589

[2021-07-16 04:23] #2525 closed

[2021-07-16 04:25] sojan-official commented on #642
We will track further progress of Helm Charts in https://github.com/chatwoot/helm-chart

[2021-07-16 04:25] #642 closed

[2021-07-16 04:26] sojan-official commented on #2524
https://github.com/chatwoot/chatwoot/pull/2608

[2021-07-16 04:26] #2524 closed

[2021-07-16 04:29] sojan-official commented on #2474
ref: https://github.com/chatwoot/chatwoot/pull/2457

If the mergee contact is currently chatting on web widget, merging will break the live chat.
We will have to update the pubsub token on the widget

[2021-07-16 04:29] #2474 closed

[2021-07-16 04:31] #2367 closed

[2021-07-16 04:32] sojan-official commented on #2493
This should be fixed in our latest release.

[2021-07-16 04:32] #2493 closed

[2021-07-16 09:33] manuelmeurer commented on #1962
I just tried it again and it worked. 🤷

[2021-07-16 09:33] #1962 closed

[2021-07-16 12:54] sojan-official commented on #2257
Closing this since there weren't further reports of this incident.

[2021-07-16 12:54] #2257 closed

[2021-07-16 17:44] manuelmeurer opened #2646 "Remove channel avatar"
**Is your enhancement request related to a problem? Please describe.**
I just added a channel avatar but now I'd like to remove it again.
There doesn't seem to be a way to do this yet.

**Describe the solution you'd like**
There should be a button/checkbox to remote the channel avatar.

**Describe alternatives you've considered**
Just living with the fact that I can't remove it... :)

[2021-07-17 18:50] gerardbrunoquantion commented on #2609
@sojan-official @pranavrajs Any news on this issue?

[2021-07-18 02:51] TheCrott opened #2648 "Invalid response from domain when I install chatwoot"
**Describe the bug**

I want to install latest chatwoot and I'm using ubuntu 20.04 with root user.but I encountered error. Before running script, I already set A record with my vps public IP address

[code]

nginx status

[code]

Journalctl log
[code]

And when I want to restart chatwoot server under `chatwoot` user I got this error

[code]

[2021-07-18 15:47] pranavrajs commented on #1582
Snooze = a conversation status

**Backend:**

- Introduce a new status `snoozed`.
- Add attribute `snoozed_until` to conversation model.
- Add background job which toggles the conversation status back to open after snoozed time.
- Add an activity when a person snoozes the conversation.
- Research about the assumptions like if not open then it is resolved.
- Reopen conversation if Customer reply co

[2021-07-18 15:49] pranavrajs opened #2649 "Change the `bot` status to `pending`"
**Backend:**

- Change the enum value from bot to pending.
- Research about the places where bot status is used
    - Add a fallback to pending status in controllers.
    - Look for `bot?` checks in the codebase.

**Frontend:**

- Change all the values from bot to pending.
- Change button text to "Transfer to bot"

[2021-07-18 15:52] pranavrajs opened #2650 "Cleanup Contact Model"
- Migrate the attributes to match the schema.
    - Schema:
      - Full Name
      - Display Name - To be added
      - Email Address
      - Phone number
      - Social Profiles
          - Linkedin - *additional_attributes.social_profiles.linkedin*
          - Facebook - *additional_attributes.social_profiles.facebook*
          - Twitter
              - User name - *additional_attributes.scree

[2021-07-18 15:55] pranavrajs opened #2651 "Allow selecting Company from the list instead of text input"
Right now we don't have company object in the database. Once #2650 is complete, we need to allow the agent/admin to select the company name from the list while editing a contact.

- Add a fallback to the new company object.
- Add an option to search and select the company from the list.

[2021-07-18 15:58] pranavrajs opened #2652 "Support bcc/cc in email channel"
- Update the design for the message bubble to incorporate cc, bcc in emails.
- Support cc/bb preview
- Support editing cc/bcc in reply emails

[2021-07-18 16:05] pranavrajs opened #2653 "CSAT for every channel (backend)"
Right now, CSAT surveys are supported only in the web-widget channel. To support CSAT surveys in all channels, we would start by sending a link once the conversation is resolved.

Once the conversation is resolved, the system should create a message with input_csat type. In each send_on_service listener, there should be an additional check to alter the content to send the link for the CSAT survey.

[2021-07-18 16:07] pranavrajs opened #2654 "feat: CSAT response collection page"
To collect the CSAT response from all channels, we will be sending a link to the format. `<installation-url>/app/responses/<response-uuid>` to the contact once the conversation is resolved.

**Todo**:

- [ ] Create a responsive design to collect rating and feedback.
- [ ] Use the APIs from #2653 to find and submit the response.

[2021-07-18 16:12] pranavrajs opened #2655 "feat: Custom attribute schema"
The custom attributes are rendered as text right now. This is not ideal. We need to allow rich content rendering for the attributes. To support this, add an option to save a custom attribute schema of conversation/contact. The custom attribute schema would define the type of the object which would help the frontend to render the value.

- Create a model to save the custom attribute schema with the

[2021-07-18 16:15] pranavrajs opened #2656 "feat: Render custom attributes using custom_attributes DB Model"
Once #2655 is complete, the frontend can render custom attributes using the schema and allow rich content rendering.

- Render all the custom attributes in the UI.
- Create a renderer component to display the value.
   - Initially support `number`, `text`, `currency`, `percent`, `link`.

[2021-07-18 16:19] pranavrajs opened #2657 "feat: Add action to snooze the conversation, filter snoozed conversations"
- Add buttons to "Snooze", "Snooze until"
    - Snooze - Default one day snooze.
    - Snooze until - Open a modal to choose the date.

- Add a view to see the snoozed conversations

[2021-07-18 16:40] pranavrajs commented on #628
- [ ] Open conversation - J up K down
- [ ] Resolve Conversation - Shift + E
- [ ] Resolve and move to next - Shift + Cmd + E
- [ ] Switch to Private Note - Shift + P
- [ ] Switch to Reply - Shift + L
- [ ] Add Attachment - Shift + A
- [ ] Toggle Sidebar - Shift + O
- [ ] Toggle Rich Content editor - Shift + W
- [ ] Move to next tab in conversation list - Shift + N
- [ ] Switch Conversation status

[2021-07-18 22:19] iammattmartin opened #2658 "Optimise Widget"
**Is your enhancement request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Using Google PageSpeed Insights/Lighthouse, there are some improvements which could be made to the widget. As this is loaded on every page, it is probably wise to ensure this is as lightweight as possible.

[code]

[code]

[code]

[2021-07-19 06:53] pranavrajs opened #2659 "feat: Standardize content editor"
- [ ] Fix rendering issues with `hard_break`.
- [ ] Support canned response everywhere even if the rich content editor is not enabled.

[2021-07-19 08:06] sojan-official opened #2660 "feat: Ability to use SES inbound email parsing"
- Ability to use SES for incoming email parsing

[2021-07-19 08:35] pranavrajs opened #2661 "Conversation count is not displayed in the contacts table"
Conversation count is missing from the contact table

[2021-07-19 09:11] #2661 closed

[2021-07-19 09:12] Brokray commented on #2617
@sojan-official @pranavrajs
Definitely! However, I forgot a huge detail in my request.

My request came from agents that are using a **self-deployed Chatwoot**.

Is there any easy way to use a self-deployed architecture on mobile at the moment? If not, do you plan to support it?

[2021-07-19 09:17] Brokray commented on #2617
Thank you guys, I did not notice you could specify a self-hosted address on your mobile app.
Great job again ! 👌

[2021-07-19 11:48] rabeb00 opened #2663 "chatwoot and google chrome"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated
We use Chatwood in Google Chrome and it does not work fully...f.ex. i can't see if somebody is typing of wants to chat with me.
should i change my google chrome settings ..location, notifications ect.
help! With kind regards Ben

**Describe alternativ

[2021-07-19 11:59] sojan-official opened #2664 "chore: Add assigned_count to conversation APIs"
- add assigned_count to conversation get endpoint
- add assigned_count to conversation meta endpoint

[2021-07-19 13:17] sojan-official opened #2666 "feat: Platform API to control user access"
- [ ] APIs to regenerate access tokens
- [ ] APIs to invalidate session auth tokens

[2021-07-19 13:40] #2664 closed

[2021-07-19 20:14] iammattmartin commented on #2663
Are you using self-hosted or cloud versions?

and just to confirm, do you mean in the staff interface or widget?

[2021-07-19 20:51] rabeb00 commented on #2663
hi Matt, they use the self hosted version
i am analysing an incident for a department of our organization

Op ma 19 jul. 2021 22:14 schreef Matt ***@***.***>:

[2021-07-19 20:53] iammattmartin commented on #2663
Have you tested other browsers to see if the issue is consistently replicated?

Do you get any errors in the dev console for the widget or staff area also, if only happening in Chrome?

[2021-07-19 20:59] rabeb00 commented on #2663
in Firefox it works fine...

Op ma 19 jul. 2021 22:53 schreef Matt ***@***.***>:

[2021-07-19 21:00] iammattmartin commented on #2663
Ok, console logs with errors will be next step from Chrome.

[2021-07-19 21:01] rabeb00 commented on #2663
they only use the chatwoot app for chatting..texting ..

Op ma 19 jul. 2021 22:53 schreef Matt ***@***.***>:

[2021-07-19 21:02] rabeb00 commented on #2663
console logs?
How do i get the logs?

Op ma 19 jul. 2021 23:00 schreef Matt ***@***.***>:

[2021-07-19 21:09] iammattmartin commented on #2663
Maybe check https://support.happyfox.com/kb/article/882-accessing-the-browser-console-and-network-logs/.

I have tested with Chrome and cannot see an issue and get notified of someone typing.

[2021-07-19 21:22] rabeb00 commented on #2663
hi Matt, i will go to bed it;s late in The Netherlands. In our organization
we use a Proxy server with caching function. Maybe that's the issue.
Thank you for your support. With kind regards Ben Raben

Op ma 19 jul. 2021 om 23:09 schreef Matt ***@***.***>:

[2021-07-20 09:23] brentco commented on #2564
@pranavrajs I've upgraded our staging environment with the new version (v1.18.1) and I'm trying out the CSAT feature. It does indeed work as desired, except for one thing. Is it possible to automatically trigger a new conversation when the user reopens the chat widget (for example on the next page visit)? If not, is it possible to have the user not have to send a message to reopen a conversation?

[2021-07-20 10:16] sojan-official commented on #2648
@vishnu-narayanan  Could you take a look?

[2021-07-20 12:39] sojan-official opened #2667 "[CW-2833] feat: Ability to suppress / Hide System Default Message on API"
### Discussed in [https://github.com/chatwoot/chatwoot/discussions/2628](https://github.com/chatwoot/chatwoot/discussions/2628)

<div type='discussions-op-text'>

<sup>Originally posted by **Stephen-Lobo** July 14, 2021</sup>
Is there any way to hide / not to display the default system messages when a new Conversation / Label / Message created via API ?

Maybe passing 'true/false' option in the AP

[2021-07-20 12:44] sentry-io[bot] opened #2668 "Unhandled network error in app/javascript/dashboard/store/modules/contacts/actions.js"
Sentry Issue: [CHATWOOT-RG]
[code]

[2021-07-20 12:47] sentry-io[bot] opened #2669 "ReferenceError: FB is not defined"
[code]

[2021-07-20 12:50] sojan-official commented on #2564
@brentco You could create a new conversation for the user through API once the CSAT survey is submitted ( You can listen to the webhook `message_updated` event for input_csat message types )

if the user refreshes the page, chatwoot will pick up the new conversation which was created through the API

[2021-07-20 14:52] muhsin-k opened #2671 "feat: Add a public APIs to get and update CSAT response"
- Fetch CSAT details for a conversation
Method : GET
End point - `{{host}}/api/v1/survey_responses/{uuid}`
- Update CSAT details for a conversation
Method : PUT
End point - `{{host}}/api/v1/survey_responses/{uuid}`

[2021-07-20 19:41] rabeb00 commented on #2663
hi matt,
i think i found the couse...the protocol websocket is blocked...not allowed
on our proxy/firewall.
Could that be the issue, you also think?
with kind regards, Ben

Op ma 19 jul. 2021 22:14 schreef Matt ***@***.***>:

[2021-07-20 19:54] sojan-official commented on #2663
@rabeb00 Hey Ben, Chatwoot uses WebSockets to deliver real-time updates, like new messages, typing indicators, etc.
So without the WebSockets open, the chatwoot experience wouldn't be ideal.

[2021-07-20 20:03] rabeb00 commented on #2663
hi , is this somewhere documented?
I took my three days to detect this...
tomorrow the network department will enable websocket for a specific
website...
i am optimistic....
with kind regards, Ben

Op di 20 jul. 2021 21:55 schreef Sojan Jose ***@***.***>:

[2021-07-20 20:47] sojan-official commented on #2649
@pranavrajs  Should we decouple the bot references associated with conversation `status` completely.
ie: instead of "Transfer to bot", We could use "Mark as Pending"

- Leaves room for using the pending status for use cases outside Bots

Bot integrations can still rely on "pending" status as a marker for the bot's conversation ownership.
Lets laters add the ability to select 'bots' explicitly in t

[2021-07-20 21:11] iammattmartin commented on #2663
I'm not sure it needs to be. The "modern web" uses websockets a lot. As this uses existing ports and does not need any special ports, it would be unrealistic to expect every site you visit to say they need it.

The browser console should always be one of the first go-tos in situations like this and you'd have likely seen the websockets (wss://) timeout fairly quickly.

[2021-07-21 09:29] pranavrajs commented on #2649
@sojan-official Makes sense to me. Let us change the wording to "Mark as pending"

[2021-07-21 12:59] sojan-official opened #2679 "chore: Create conversation API should accept assignee & team"
Add ability for the conversation create API endpoint to accept an agent id & team id on creation

- if agent id is provided, round-robin is not triggered
- if team id is provided
  -  team_id attribute is updated
  - if agent id provided
    -   if the agent belongs to a team, the agent id is preserved
    -  if the agent doesn't belong to a team, auto-assign to an agent in the team

### Discussed

[2021-07-21 16:32] #2649 closed

[2021-07-21 17:55] HariniKrishnan commented on #2553
hi @sojan-official created PR. can you please review?

[2021-07-21 19:58] sojan-official commented on #2657
We could give some defaults into the drop down for the items which are used often like

- Snooze till later ( 4-5 hours )
- Snooze till tomorrow
- Snooze till next week
- Snooze till  ( custom date picker )

Since the interaction with date picker modal often takes multiple clicks

[2021-07-21 20:18] rabeb00 commented on #2663
Hi.
This case is still not solved...
So i attached an netwerk trace from Google Chrome latest version.
As said in our organiation ( 36000 desktops)  browser traffic to the
Internet must pass a proxy/firewall server.
Any idea?
Is there a setting in Google Chome that controls the websocket protocol ?
With kind regards, Ben

Op di 20 jul. 2021 om 22:03 schreef Ben Raben ***@***.***>:

[2021-07-21 21:39] iammattmartin commented on #2663
I would recommend updating your issue on github.

You need to look at the Google console as already advised. If you are getting websockets connection issues, it's an environment issue you'll need to resolve.

Chatwoot does not have any issues specific to Chrome otherwise it would be replicable and other users would be reporting it.

[2021-07-22 03:26] nithindavid commented on #2652
Here's the design for supporting cc,bcc in reply box and mail bubbles. Let me know if any changes are needed

https://www.figma.com/proto/VwTfCXWpQ3lBmYL8Dy3sKx/Layout?page-id=263%3A2&node-id=585%3A381&viewport=-631%2C-1072%2C0.6857694983482361&scaling=min-zoom

[2021-07-22 03:29] nithindavid opened #2683 "Disable session key `_chatwoot_session`"
Remove this session key as it is no longer used

[2021-07-22 06:19] pranavrajs commented on #2658
@iammattmartin Closing this as this is a duplicate of #2111

[2021-07-22 06:19] #2658 closed

[2021-07-22 07:01] rabeb00 commented on #2663
hi Matt,
the attachment shows the developers tool/ Console..in google chrome.
With kind regards, Ben

Op wo 21 jul. 2021 23:39 schreef Matt ***@***.***>:

[2021-07-22 07:01] muhsin-k opened #2686 "Enhancement: Disable "none" option from agent dropdown If agent is not selected"
https://user-images.githubusercontent.com/12408980/126600855-12b941e7-79b9-41cc-981b-dc46399acfcf.mov

[2021-07-22 09:37] iammattmartin commented on #2663
You'll need to update via Github as already advised.

[2021-07-22 11:01] #2686 closed

[2021-07-22 15:05] pucilpet opened #2690 "Add a small delay to the email channel (outgoing)"
**Is your enhancement request related to a problem? Please describe.**
In the v.1.18 you added the ability to delete messages. However, this does nothing for the email channel as the outgoing email is sent immediately.

**Describe the solution you'd like**
Consider adding a 30 second delay so that the accidental emails can be deleted before they are sent.

[2021-07-22 15:09] pucilpet opened #2691 "Deleting Whatsapp (Twilio) messages"
**Is your enhancement request related to a problem? Please describe.**
In the v.1.18 you added the ability to delete messages. For Twilio/Whatsapp the deletions are not respected.

**Describe the solution you'd like**
I would like to be able to redact/remove Whatsapp messages that are accidentally sent.

**Additional context**
I think the deletions can be done by updating the message body or by de

[2021-07-22 15:14] iammattmartin commented on #2690
I believe this is already the case.

I sent a message at  3:48 PM and it wasn't dispatched until 3:50PM.  Tested twice more and saw the same delays.

[2021-07-22 16:24] Patil2099 commented on #2683
I would love to work on this

[2021-07-22 19:30] sojan-official commented on #2657
Some of the functionalities mentioned in this ticket is already covered in https://github.com/chatwoot/chatwoot/pull/2682

What remains now is implementing the "custom" option to snooze menu group, along with a date picker

[2021-07-22 19:41] ayushin opened #2694 "SECURITY: empty identifier_hash allows impersonate any user"
Hi,

I am trying to use /widget from a webview in a mobile app and would like to pass the user identity hmac.

I've noticed first of all that the documentation says identity_hash but it does not exist anywhere in the code. I found identifier_hash but passing it to the widget does not do anything either.

It would be great if it was possible to pass it along with &web_token to the /widget

[2021-07-23 05:58] pranavrajs opened #2695 "Messages missing in Twitter"
Long messages sent from Chatwoot are missing on Twitter. There are no logs to debug this. We would have to figure out whether it is something with the character encoding/escaping.

TODO:

- [x] Fix sending long messages.
- [x] Show an indication to the agent if the message is not delivered to the end-user.

[2021-07-23 09:54] #1582 closed

[2021-07-23 09:54] pranavrajs commented on #2657
Let us leave that for now.

[2021-07-23 09:54] #2657 closed

[2021-07-23 11:06] sojan-official commented on #412
closing in favor of https://github.com/chatwoot/chatwoot/pull/2607

we will create individual issues for specific cypress flows

[2021-07-23 11:06] #412 closed

[2021-07-23 11:34] #2655 closed

[2021-07-23 13:07] sojan-official opened #2697 "feat: Support Uploading additional file types in Chatwidget"
- [ ] Makes a list of additional file types to be supported  [ doc, ppt, txt etc ]
- [ ] Add support for additional file types for attachments in the Chatwoot chat widget
- [ ] Add backend API validations for attachment file types

[2021-07-24 12:19] converso-chat opened #2700 "Change Logo and Name"
Hello,
How do I change the logo and also the installation name?

Thanks

[2021-07-24 17:07] #2700 closed

[2021-07-25 15:44] SanjuSudheerM commented on #2595
@muhsin-k Can I work on this?

[2021-07-25 21:49] benbehringer opened #2703 "Separate language selections for dashboard and widget"
**Is your feature request related to a problem? Please describe.**
We are an english speaking team, yet have users from non-english speaking countries (e.g., Germany). So switching languages for dashboard and widget at once is not very helpful.

**Describe the solution you'd like**
It would be great to be able to choose a language for the dashboard and have the widget language automatically switch

[2021-07-25 22:00] benbehringer opened #2704 "Edit translations from dashboard"
**Is your feature request related to a problem? Please describe.**
It is currently not possible for admins to easily update translations from the dashboard. For instance, they cannot switch from formal to non-formal communication in languages such as German ("Sie" vs. "du").

**Describe the solution you'd like**
It would suffice to be able to edit yml and json files of different languages straight

[2021-07-26 07:27] pranavrajs commented on #2703
@benbehringer You can set the language on the widget via SDK settings. https://www.chatwoot.com/docs/product/channels/live-chat/sdk/setup#sdk-settings

[2021-07-26 10:13] benbehringer commented on #2703
Ah, good to know thanks! Still it would be nice to have the widget language adapt to the browser language.

[2021-07-26 11:14] benbehringer commented on #2704
Is there a workaround to change the translations? I deploy using CapRover and tried to override translation files for the web container like that:

[code]

Works for de.yml but not for de.json. Any ideas?

[2021-07-26 17:47] sojan-official opened #2710 "Feat: Ability to give permission to an entire team as inbox collaborators"
### Discussed in https://github.com/chatwoot/chatwoot/discussions/2707

<div type='discussions-op-text'>

<sup>Originally posted by **sbreiler-work** July 26, 2021</sup>
Hi!

It would be nice to additionaly select one or more teams instead of individual agents inside the inbox settings (or am i missing something?).</div>

[2021-07-26 21:05] johackim opened #2712 "I don't receive incoming emails on my email channel"
**Describe the bug**

I setup Chatwoot with docker and I don't receive incoming emails on my email channel.

**To Reproduce**

Here my configuration :

[code]

I have an IMAP and SMTP server with [docker-mailserver](https://github.com/docker-mailserver/docker-mailserver).

I read this "[tutorial](https://www.chatwoot.com/docs/self-hosted/configuration/features/email-channel/conversation-continuity

[2021-07-27 06:18] SanjuSudheerM commented on #2595
#2702

[2021-07-27 06:18] jasonkwanhc opened #2713 "Pending State in API Channel"
I'm using Chatwoot v1.18.0 on Ubuntu. I'd like to know if I can reject messages on the server side. Whenever I sent a message in API Channel inbox it will send a webhook to my server. Is there any way I manipulate the outgoing message status in chatwoot? say respond to the webhook with a 5xx status?

[2021-07-27 06:30] pranavrajs commented on #2713
@jasonkwanhc Can you please share the use case? It seems like delivery status needs to be implemented similar to https://github.com/chatwoot/chatwoot/issues/1021

[2021-07-27 06:52] sojan-official commented on #2595
https://github.com/chatwoot/chatwoot/pull/2702

[2021-07-27 06:52] #2595 closed

[2021-07-27 10:24] AllanJard commented on #2545
I'm seeing this as well. It is due to https://github.com/chatwoot/chatwoot/blob/1d3b1c1ae55333c3df1c45d0989e81026b8eff01/app/javascript/sdk/sdk.js#L123 - which is basically just taking the whole screen when there is a notification about a new message.

[code]

Works around it by letting it just take what height and width it needs (still a little too much width really, but better).

[2021-07-27 14:59] pranavrajs commented on #2704
@vishnu-narayanan Would you please help @benbehringer to build a custom docker image from the official Chatwoot instance to update the translations?

[2021-07-27 15:09] brundles commented on #2011
Hi @pranavrajs - did you have a chance to consider the second part about outgoing translations?

[2021-07-27 15:17] brundles commented on #2011
Could this alternatively not be done using the API?

[2021-07-27 18:07] mmmbacon commented on #2679
Hello, I would like to try to tackle this issue. This will be my first contribution to an open source rails project. If you feel there is another issue that could use the attention first or would fit my skillset a bit better, please let me know. I am willing to help wherever. Thanks.

[2021-07-27 19:02] sojan-official commented on #2679
@mmmbacon, I think this will be a good issue for you to get started with. It's a minor change in the APIs to accept a couple of additional parameters. Please let us know if you need help with something or have questions.

[2021-07-27 21:19] sojan-official opened #2714 "Marketing playbook"

[2021-07-27 21:19] #2714 closed

[2021-07-27 21:32] sojan-official opened #2715 "chore: Email parser should consider `x-original-sender` header"
**Problem:**

For emails forwarded from google groups, Google rewrites the FROM address to the group email and the original email will be available under `X-Original-Sender`. This is not handled in Chatwoot at the moment. So instead of displaying the original email as the sender, Chatwoot would show group email as the sender.

**Fix:**

- Handle the case for 'X-Original-Sender' while creating a co

[2021-07-27 21:40] sojan-official opened #2716 "feat: Dedicated Tab for campaigns"
At the moment campaigns reside inside inbox settings, Let's move it out to a dedicated tab on the sidebar for easy access

[2021-07-27 21:46] sojan-official opened #2717 "feat: Modal showing all the available keyboard shortcuts"
- Define a shortcut to list all keyboard shortcuts
- show all the keyboard shortcuts in a modal
- Define UI element which can be clicked to view the keyboard shortcuts

[2021-07-27 21:48] brundles opened #2718 "Javascript manipulation of incoming strings in agents side?"
**Describe the solution you'd like**
I'm trying to add some Javascript to be fired upon incoming messages (wanting to manipulate the strings in the incoming messages).

As far as I can tell via Chromes network-inspector we get some nice JSON from /api/v1/accounts/1/conversations/1/update_last_seen each time a client writes.

How would I best catch this? Ie. where should I add my JS to manipulate t

[2021-07-27 21:56] sojan-official opened #2719 "chore: Render Links in custom attributes"
- If a custom attribute value is a link. render it as a clickable link inside the agent dashboard

[2021-07-28 05:13] thomas-thaulow commented on #2096
Any news on this request? We would be very interested in this feature

[2021-07-28 09:29] #2671 closed

[2021-07-28 10:52] brundles commented on #2719
Hi @sojan-official - just a related question:

Is it possible to send custom content with each message right now?

Or would this be deleting & adding a custom attribute each time?

[2021-07-28 12:57] semaf commented on #2712
Have the same issue. Setting the email (documentation) seems very complicated / explained.

[2021-07-28 13:39] semaf opened #2722 "Inbox Email Address is without a domain"
Hey,

I can not find where I should set the domain for the "Email Inbox" to get after setting up the correct email address?

At the moment is the email address listed like "f8873e1b603f241202f78e6ce30cb3e1@"

[2021-07-28 14:09] saeed205 opened #2724 "Use custom fonts"
The font used for RTL languages is not suitable, it would be much better if there was an easier way to customize the font.

[2021-07-28 16:06] #2719 closed

[2021-07-28 22:39] iammattmartin commented on #2722
Have you set `MAILER_INBOUND_EMAIL_DOMAIN` in the .env?

[2021-07-28 23:50] semaf commented on #2722
Yes did it

[2021-07-29 08:33] semaf commented on #2522
Have the same issue with verified domain and email addresses.

[2021-07-29 08:36] pranavrajs commented on #2668
Closing this as the context is not available, will create an issue with clear context.

[2021-07-29 08:36] #2668 closed

[2021-07-29 08:39] pranavrajs commented on #2718
@brundles I don't understand the requirement here. Do you want to change the message displayed to the agent?

[2021-07-29 08:42] pranavrajs commented on #2724
@saeed205 Tahoma is the fallback font for Arabic. Do you have any suggestions on the fonts? There is no other way to change the font without changing the code at the moment.

[2021-07-29 08:43] pranavrajs commented on #2722
@semaf It seems like the email documentation is not clear. We will add a video tutorial for the same in the coming weeks.

[2021-07-29 08:44] pranavrajs commented on #2712
@johackim @semaf As mentioned in #2722, it seems that the email documentation is not quite enough. We will be adding a video series for the same in the coming weeks.

[2021-07-29 08:45] pranavrajs commented on #2694
@ayushin Are you using the react-native SDK for the mobile apps?

[2021-07-29 08:46] ayushin commented on #2694
No, flutter and loading the widget in the webview

[2021-07-29 09:33] semaf commented on #2722
Reinstalled everything and now it has worked. But have another issue that the mails will not income to chatwoot as there is no any record at DNS.

[2021-07-29 09:53] iammattmartin commented on #2722
That is something you manage outside of Chatwoot and not something it provides.

[2021-07-29 12:05] brundles commented on #2718
Hi @pranavrajs - yes, exactly. So on the agents side I'd like to change the contents of the message, to add some supporting information based on the content. By manipulating it on the agentside, it would not be visible for the user, only for the agent.

So basically I just want to intercept the messages in the browser before they're rendered for the agent.

[2021-07-29 12:09] semaf commented on #2722
You are right. Just missing documentation for it how to setup exim, postfix etc for chatwoot to catch emails with **reply+**

[2021-07-29 12:14] #2476 closed

[2021-07-29 14:14] sojan-official commented on #1682
The verification badge is associated with `contact_inboxes`  objects.  Since a contact can have both HMAC verified and non-verified contact inboxes. It will be better to show the verified indication against each conversation.

[2021-07-29 15:25] iammattmartin commented on #2722
Looks like this has been skipped in the guide at https://www.chatwoot.com/docs/self-hosted/configuration/features/email-channel/conversation-continuity.

I suspect it just needs the pipe location of where to send the email. Configuring the MTA will be down to you generally.

[2021-07-29 19:22] semaf commented on #2722
Thats also unclear.

https://github.com/chatwoot/chatwoot/issues/2712

[2021-07-30 04:01] #2633 closed

[2021-07-30 15:55] ajilo297 opened #2729 "Add support for full screen on launch."
**Is your enhancement request related to a problem? Please describe.**
A very common pattern is to have a dedicated pop out.

**Describe the solution you'd like**
Something like `window.$chatwoot.popout();` would be ideal.

**Describe alternatives you've considered**
I have already tried loading with `https://app.chatwoot.com/widget?website_token=....`, But since there is no existing support to pr

[2021-08-01 12:45] #2037 closed

[2021-08-02 02:54] #1730 closed

[2021-08-02 03:24] #916 closed

[2021-08-02 09:59] nithindavid opened #2734 "Make private note on chat list distinguishable"
![image](https://user-images.githubusercontent.com/1277421/127843454-f5c2a26e-9ba0-455f-9258-eb4b1df96d83.jpeg)

Suggestion

- add a private note lock icon instead of reply icon

[2021-08-02 10:36] sojan-official opened #2735 "chore: Audit error tracing"
- [ ] Verify and validate the error tracing implementation across chatwoot code base
- [ ] Remove the unnecessary log statements and add appropriate ones if any of them are missing
- [ ] Document the known error cases and the ones that could be ignored.

ref: https://github.com/chatwoot/chatwoot/pull/2400#discussion_r680626404

[2021-08-02 10:36] sojan-official opened #2736 "chore: Audit error tracing"
- [ ] Verify and validate the error tracing implementation across chatwoot code base
- [ ] Remove the unnecessary log statements and add appropriate ones if any of them are missing
- [ ] Document the known error cases and the ones that could be ignored.

ref: https://github.com/chatwoot/chatwoot/pull/2400#discussion_r680626404

[2021-08-02 10:37] #2695 closed

[2021-08-02 10:38] sojan-official commented on #2736
duplicate of #2735

[2021-08-02 10:38] #2736 closed

[2021-08-02 10:52] sojan-official opened #2737 "chore: Upgrade rails and ruby versions"
- [x] Update ruby & rails versions - #2400
- [x] Update appropriate documentation pages : https://github.com/chatwoot/docs/pull/68
- [x] Update and verify appropriate installation setups & upgrade instructions
    - [x] Caprover
    - [x] Docker
    - [x] Codespaces
    - [x] Linux
    - [x] Heroku

[2021-08-02 10:59] sojan-official opened #2738 "feat: Add support for Line messenger"
Add a new channel type than support line messenger

ref: https://developers.line.biz/en/services/messaging-api/

[2021-08-02 12:48] tabrza commented on #2433
in addition to the above, can we add the functionality mentioned in [#2431](https://github.com/chatwoot/chatwoot/issues/2431) where to only create the conversation when information is entered. what i have noticed is that in certain cases users, in an attempt to click away the chat bubble, unintentionally start a conversation and then don't respond with the agent. this results in a cluttered inbox

[2021-08-02 12:59] tabrza opened #2739 "feat: Allow wildcard URL's for campaigns"
**Is your feature request related to a problem? Please describe.**
Currently campaigns are running on specific URLs

**Describe the solution you'd like**
Single campaign can run on multiple URLs. For example:
https://www.bbc.com/sport/*

This could include something like the following where anything ending in chat on the domain will have the campaign running
https://www.bbc.com/*/chat

**Additiona

[2021-08-03 00:02] iammattmartin opened #2742 "Delete Prompt Retains Entry"
**Describe the bug**

When deleting a Twilio WhatsApp inbox, you are asked to type the name of that inbox. You enter that, the delete button activates, you can delete.

If you then delete another inbox, the prompt appears but it has the text entered from the previous submission. That should be cleared once the deletion is complete.

[2021-08-03 00:06] iammattmartin commented on #1119
Would be nice to see if this can be added. Twilio's verification is fairly painful, to the point we've stopped using them.

[2021-08-03 05:02] sojan-official commented on #2433
@tabrza  Implementing that change in behavior could be tricky. but we could add a dismiss button on the hover of the chat bubble I suppose.

<img width="299" alt="Screenshot 2021-08-03 at 10 25 35 AM copy" src="https://user-images.githubusercontent.com/73185/127960482-af01a22a-c1ce-4dbc-8bcb-b3cbe87f7ba1.png">

[2021-08-03 05:28] tabrza commented on #2433
@sojan-official , i think that's a good idea - should help avoid users from unintentionally creating new conversations.

How would you see bot integration working at this level?

[2021-08-03 06:39] tabrza commented on #1131
@pranavrajs - what about using custom input types for users depending on field types in db? for example, enabling admin to prompt user for different combos on what they might require
option a) name and phone number
option b) name, email, phone number
option c) name, phone number, message
option c) name, fb link (enabling profile pull directly into contact creation), message

[2021-08-03 09:18] sojan-official commented on #2433
@tabrza  people who want to dismiss the bubble can do so by clicking the x mark.
- clicking on the bubble click trigger a new conversation

- If you have an agent bot connected to the inbox, the conversation will be created pending status by default, so it won't bother the support rep.
- the agent bot can trigger an input select message with 2 options asking whether they are interested in somethin

[2021-08-03 09:20] sojan-official opened #2744 "feat: Custom Fields in pre-chat form"
### Problem Statement

Right now, our pre-chat form only supports name, email and message. Adding more combinations of fields helps the customers in different business needs. So the customers can completely customize whatever details are required before starting a new conversation.

### Proposed solution

Add support for various combos,

- [ ] Name and phone number
- [ ] Name, email, phone number

[2021-08-03 09:21] sojan-official commented on #1131
@tabrza  I have logged another issue for the same.

[2021-08-03 09:56] ayushin opened #2745 "JWT based customer identification"
**Is your enhancement request related to a problem? Please describe.**

`https://app.chatwoot.com/widget` is an extremely useful tool for presenting chat widget in different situtions

Unfortunately it is impossible to pass a verified user identity to this url.

**Describe the solution you'd like**

I would like to be able to pass a JWT in the query string containing the user details signed with t

[2021-08-03 12:11] sojan-official opened #2746 "enhancement: Missing Conversation ID for Reports Event: first_response"
### Discussed in https://github.com/chatwoot/chatwoot/discussions/2681

<div type='discussions-op-text'>

<sup>Originally posted by **devrulabs** July 21, 2021</sup>
when the events are logged, is there a reason why the Conversation ID is not captured for first_response event ? would be good to have this , as it can help to identify the first response time for each conversation. this can be useful

[2021-08-03 14:08] #2281 closed

[2021-08-03 18:22] raikasdev opened #2748 "Custom SMTP server per user"
**Is your enhancement request related to a problem? Please describe.**
In customer perspective company's own SMTP server/domain in E-mails would look better.
So, allowing per user SMTP server, so custom SMTP can be set on SaaS and per user on self hosted.

**Describe the solution you'd like**
Add possibility to add custom SMTP settings for email channel.

**Describe alternatives you've considered*

[2021-08-03 19:00] sojan-official commented on #1941
ref: https://discord.com/channels/647412545203994635/722075616169689098/872174660064772166

Thoughts:
------------

Now that threads are available in discord, seems like a feasible solution. We could replicate the slack integration.

- Chatwoot conversation at the moment allows only one contact and n number of agents. So we would need to explore the limitations in that approach.
- Threads again se

[2021-08-03 19:02] sojan-official commented on #2748
This is something which we have in our pipeline. The ability to configure SMTP setting for each email inboxes.

[2021-08-03 22:27] raikasdev commented on #1941
Threads have to be based of a channel, and the threads permissions are inherited from that, but private threads are available to servers with boost level 2+.

I don't think that replacing Slack is necessary as Slack is still used, but Discord is also gaining popularity.

[2021-08-03 23:26] raikasdev commented on #1941
Discord bots can utilize direct messages with users, that probably could be used similarly to twitter dm integration?

[2021-08-04 07:02] ayushin commented on #2729
Like this idea! I would even just expand on the existing 'type' setting (currently `standard`,`expanded_bubble`) and just add `full_screen` - should be trivial thing to do just in the javascript widget.

[2021-08-04 08:12] diaspora-france opened #2751 "Cant change the notification email address"
**Describe the bug**

i did change the MAILER_SENDER_EMAIL value in .env but all emails sent to customers in notification go to accounts@chatwoot.com

**To Reproduce**

Steps to reproduce the behavior:
1. Send a message to the chat
2. reply when the custumer when he is offline
3. the notification is sent with the header : "Notifications from XXXX" <accounts@chatwoot.com>

**Expected behavior**

Th

[2021-08-04 08:20] sojan-official commented on #2751
@diaspora-france  did you restart the service after updating the environment variables?

[2021-08-04 08:25] diaspora-france commented on #2751
Hi,

and thank you for your responsiveness !

I did restart the service.

All of my setup is working fine. When I create an agent account, the email goes with the address configured in MAILER_SENDER_EMAIL. It's only notifications to customers

[2021-08-04 10:13] raikasdev opened #2752 "Fix finnish translations"
**Is your enhancement request related to a problem? Please describe.**
Finnish translations are missing some strings and have some weird ones.

**Describe the solution you'd like**
Translate them correctly.

**Additional context**
I am a native finnish speaker, interested doing this.

[2021-08-04 10:47] sojan-official commented on #2654
closed in https://github.com/chatwoot/chatwoot/pull/2685

[2021-08-04 10:47] #2654 closed

[2021-08-04 12:06] srameshr opened #2754 "Replace the string "Chatwoot" with {installationName}"
**Is your enhancement request related to a problem? Please describe.**
Replacing the string Chatwoot throughout the app takes forever because it's hardcoded in over 900 files.

**Describe the solution you'd like**
Replace string Chatwoot in translation and other JS and RB files with ```installationName``` variable that's provided via global config.

**Describe alternatives you've considered**
None

[2021-08-04 13:54] pranavrajs commented on #2754
This is not a focus area / a relevant effort for our roadmap. Closing this for now.

[2021-08-04 13:54] #2754 closed

[2021-08-04 14:54] vishnu-narayanan commented on #2704
Hey @benbehringer,

These localization assets are compiled and packed into the base image at an early stage. This is why this change you are attempting will not be possible with `chatwoot` base image.

For you to have an image with custom translations, please follow the steps.

1. Clone the repo
2. Replace/Add the translation files you need
3. Build the docker image
4. Use that image in Caprover

[2021-08-04 18:52] sojan-official commented on #1882
ref: https://github.com/chatwoot/chatwoot/pull/1876#issuecomment-798765538

[2021-08-04 18:52] #1882 closed

[2021-08-04 19:04] sojan-official commented on #678
note: at the moment we are doing a hard translation for things like activity messages, with account language.

Ex: "Agenx x assigned Y" will be translated to the account's language permanently before being stored to db. we might need to revisit this in a help desk where agents with different language settings collaborate

[2021-08-04 19:12] #2049 closed

[2021-08-04 19:18] sojan-official commented on #2013
Closing this since we haven't heard any other reports about this from the community.
Seems more of a docker daemon issue than an issue with chatwoot.

[2021-08-04 19:18] #2013 closed

[2021-08-05 01:52] thomas-thaulow commented on #2096
@sojan-official Instagram has already implemented it.

"We are currently in phase 2 of the global rollout of the Instagram Messaging. Instagram accounts with follower count between 1K-100K are able to connect to the API. We plan to include remaining accounts for the last phase by end of Q3. "

[2021-08-05 06:52] sojan-official commented on #2752
https://github.com/chatwoot/chatwoot/pull/2753

[2021-08-05 06:52] #2752 closed

[2021-08-05 07:41] sojan-official commented on #2751
We will take a look into this.

Meanwhile, do you have conversation continuity enabled? https://www.chatwoot.com/docs/self-hosted/configuration/features/email-channel/conversation-continuity

[2021-08-05 12:58] diaspora-france commented on #2751
Thanks ! No, we didnt enabled the conversation continuity yet.

[2021-08-05 13:06] mikehardenize opened #2760 "Add secure flag to cookie"
**Describe the bug**

The "_chatwoot_session" cookie does not have the Secure flag set, meaning it can be transmitted over http as well as https.

**Additional context**

I was looking at https://github.com/chatwoot/chatwoot/pull/1025/files and it seems like the secure flag was added in one place but not the other.

[2021-08-05 14:29] iammattmartin commented on #2760
Can confirm this happens on latest dev build too.

[2021-08-05 17:32] sojan-official commented on #2609
@gerardbrunoquantion  I can confirm the issue. we are working on a fix

[2021-08-05 19:44] sojan-official commented on #2609
ref : https://github.com/googleapis/google-cloud-ruby/issues/13306

[2021-08-06 08:35] Robinjoeh commented on #2760
#2683 #2693

[2021-08-06 09:10] ayushin commented on #2694
I also noticed that it is possible to provide an arbitrary user email and name without any identity hash and the user will be displayed in chatwoot.

So any user can impersonate any other user.

[2021-08-06 09:24] ayushin commented on #2694
What happens?

setUser('any user id', email: 'impersonated@email.com', name: 'Impersonated User')

assigns the conversation to the impersonated@email.com user instead of creating a new contact

What you expect to happen?

Clearly mark verified and unverified contacts and do not allow overwriting contact details of identified users by unidentified users.

[2021-08-06 09:26] ayushin commented on #2694
This can be solved with https://github.com/chatwoot/chatwoot/issues/2745

[2021-08-06 09:31] ayushin opened #2762 "Users can easily impersonate other users"
**Describe the bug**

Any user can impersonate any user by supplying their email / name to the javascript chat widget via setUser(...

**To Reproduce**

Call `setUser` without any `identifier_hash` for any existing user and start the chat. The conversation will be assigned to the exiting user and there is no way to tell this is not the original user you are talking to.

**Expected behavior**

Do n

[2021-08-06 09:32] ayushin commented on #2694
Duplicate of #2762

[2021-08-06 09:32] #2694 closed

[2021-08-06 10:58] mikehardenize commented on #2760
The cw_conversation cookie has the same issue. Has that also been removed?

[2021-08-06 12:17] pranavrajs commented on #2762
Please enable identity validation if you want to disable this behavior. https://www.chatwoot.com/docs/product/channels/live-chat/sdk/setup#identity-validation-using-hmac

[2021-08-06 12:18] pranavrajs commented on #2762
We can think of showing the session as verified as described in #1682

[2021-08-06 12:23] pranavrajs commented on #2760
The reason why we have not set the secure cookies is because we don't have control over how the self-hosted deployment is happening. Even though we encourage users to use `https` connection we have seen some installations on HTTP connections.

We have not fully tested the application with secure cookies and have not identified whether the application is working fine with this flag turned on.

[2021-08-06 12:27] pranavrajs commented on #2762
I'm closing this for now, please feel free to re-open if you don't feel that #1682 solves the problem.

[2021-08-06 12:51] sojan-official commented on #1682
We could also enable a toggle for mandatory identity verification.
When enabled no user sessions are created without identity verification.

[2021-08-06 13:03] WevrLabs commented on #1682
won't this prevent sessions from visitors?

[2021-08-06 13:09] WevrLabs commented on #1682
The feature was inspired by this:
https://help.crisp.chat/en/article/how-to-verify-user-identity-with-cryptographic-email-signatures-166sl01/

[2021-08-06 15:12] mikehardenize commented on #2760
I'm using the docker image. It would be nice to be able to just set an environment variable to pass into the container which adds the secure flag to cookies. There is no reason for it to not work if all traffic is https

[2021-08-06 15:12] iammattmartin commented on #2760
@pranavrajs Could you not look at the headers to determine if https and generate the cookie accordingly?

[2021-08-06 15:14] mikehardenize commented on #2760
I terminate SSL on an nginx proxy which sits in front of the docker container, so I don't think there are any headers which they could look at to determine if the cookie should have a secure flag. Hence my proposal for an environment variable.

[2021-08-06 15:17] iammattmartin commented on #2760
Not sure that's correct.

`proxy_set_header X-Forwarded-Proto $scheme;` ([link](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-Proto))

That sets a standard header setting the scheme that has hit Nginx which is passed downstream.

There are other ways of doing it too but this is one of the more common.

[2021-08-06 15:18] mikehardenize commented on #2760
Well yes. I could set a special header specifically for this purpose.

[2021-08-06 15:19] iammattmartin commented on #2760
and based on the guide at https://www.chatwoot.com/docs/self-hosted/deployment/docker for the nginx setup, reading that wouldn't be anything expected.

Could even be set on the @proxy location along with the other standard set_header variables.

It's just reliant on CW reading that and generating according.

[2021-08-06 15:20] iammattmartin commented on #2760
Infact, based on the standard guide at https://www.chatwoot.com/docs/self-hosted/deployment/docker this is already included.

Looks like CW just needs to read in that and generate accordingly.

[2021-08-06 15:21] mikehardenize commented on #2760
Looks like I'm already setting those headers. Been a while since I configured it.

[2021-08-06 15:22] iammattmartin commented on #2760
Snap. @pranavrajs If CW could look at that and adjust the header specifically, that would be great and then mean there is no worry about if someone is using http or https as it'll use the right setting automatically.

[2021-08-06 15:41] sojan-official commented on #1682
@WevrLabs  the toggle will be an optional feature for those who are more conscious about security. This will be in addition to the verification badge.

[2021-08-07 06:19] abraham-azzam opened #2766 "can't install ruby - Ubuntu 20.04"
<pre><font color="#4E9A06"><b>abraham@abraham-virtual-machine</b></font>:<font color="#3465A4"><b>~</b></font>$ rvm install ruby-3.0.2
Searching for binary rubies, this might take some time.
Found remote file https://rubies.travis-ci.org/ubuntu/20.04/x86_64/ruby-3.0.2.tar.bz2
Checking requirements for ubuntu.
Requirements installation successful.
ruby-3.0.2 - #configure
ruby-3.0.2 - #download
<fon

[2021-08-07 06:26] #2545 closed

[2021-08-07 07:13] sojan-official commented on #2766
@abraham-azzam  Could you give more information?

If this is an instance prepared using the chatwoot installation script. To upgrade the ruby install you would need to log in as `chatwoot` user

[code]

[2021-08-07 07:14] sojan-official commented on #2734
https://github.com/chatwoot/chatwoot/pull/2743

[2021-08-07 07:14] #2734 closed

[2021-08-07 07:17] #2737 closed

[2021-08-07 09:28] sojan-official opened #2767 "enhancement: Merging Contact should copy over information"
At the moment, merge contacts doesn't copy over information from mergee contact to base contact.So

- [ ] When we execute merge contact action, we should copy over the information from mergee contact to base contact.
- [ ] If the information for a particular field exists already in base contact that is not overwritten

this issue blocks: #2457

[2021-08-07 22:58] aw-0 opened #2768 "Feat: Add banners as a type of campaign"
**Is your feature request related to a problem? Please describe.**
Yes. My project uses Chatwoot (love it, by the way), and I use the live chat campaign feature a lot for marketing. However, when we'd like to make a site-wide announcement, the normal "send a message via the live chat" doesn't seem to cut it for UX.

**Describe the solution you'd like**
An option to display a campaign as a banner (

[2021-08-08 05:01] ayushin commented on #2762
@pranavrajs Thanks for your response, just can't seem where I can enable / enforce identity check in the admin on chatwoot.com?

[2021-08-08 05:25] ayushin commented on #1682
It would be great to allow such switch (require identifier hash) per inbox. You probably don't want it over the insecure channels like Web Live Chat and you want to automatically confirm user identity who replied from their e-mail address.

[2021-08-08 05:43] koral99digital opened #2769 "Mark as read from API?"
Hello

is there any way to mark the conversation as read, from the API?
right now, in order to mark the conversation as read, i must open it. is there any way to mark it as read from the API?

[2021-08-08 07:19] #2769 closed

[2021-08-08 09:58] sojan-official opened #2773 "chore: Merge Contact will break current chat"
If the mergee contact is currently chatting on the web widget, it will break the current chat.

fix: we need to send an action cable event and update the pubsub token.

[2021-08-09 06:37] #2742 closed

[2021-08-09 06:59] zbaloch commented on #2722
Not able to setup email channel.

[2021-08-09 07:38] #628 closed

[2021-08-09 09:03] redmagic0099 opened #2776 "Chatwoot widget is can't see in Safari and Firefox."
Chrome and Edge can see  but Safari and Firefox can't see  widget.
Using chatwoot v1.17.1 Self hosted  for EC2 instance(t2.medium)

Chatwoot log return 200 every time.
but Safari and Firefox web tool console logs these errors when couldn't show widgets
Uncaught TypeError: document.body is null
    createFrame DOMHelpers.js:8
    run sdk.js:120
    onload 33:(index)
Some cookies are misusing the re

[2021-08-09 09:17] vishnu-narayanan opened #2777 "bug: chatwoot live chat widget not loading on Firefox and Safari"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Open Firefox or Safari and go to https://www.infinitefleet.com/
2. See error.

**Expected behavior**

Chatwidget should be loaded on Firefox and Safari by default.

**Screenshots**

Chrome 92 / Mac OS
![image](https://user-images.githubusercontent.com/3526167/128684332-a

[2021-08-09 09:29] vishnu-narayanan commented on #2777
@sojan-official could you please take a look ?

[2021-08-09 10:13] nithindavid commented on #1577
Closing as this is fixed.

[2021-08-09 10:13] #1577 closed

[2021-08-09 10:14] nithindavid commented on #2100
Closing this issue as it's fixed.

[2021-08-09 10:14] #2100 closed

[2021-08-09 10:45] sojan-official commented on #2776
closing in favor of https://github.com/chatwoot/chatwoot/issues/2777

[2021-08-09 10:45] #2776 closed

[2021-08-09 10:49] pranavrajs commented on #2777
Please add the script to the end of the body, not at the head. The problem here is that body might not be initialized before chatwoot loads.

[2021-08-09 22:47] hodl commented on #2722
This is a nightmare. How the heck do you pipe into the actionmailer? Using bin/rails doesn't work. Using chatwoot/chatwoot/bin/rails doesn't work. Nothing seems to work.

[2021-08-09 22:48] iammattmartin commented on #2722
It is [pending](https://github.com/chatwoot/chatwoot/issues/2722#issuecomment-888926382) a guide. You'll need to wait for that or work it out yourself.

[2021-08-09 22:50] hodl commented on #2722
Maybe a hint please. I have been trying to work this out for months...

[2021-08-09 22:51] iammattmartin commented on #2722
Theres no "hint", we're waiting for a guide as yet unwritten.

[2021-08-09 23:03] hodl commented on #2722
Ah. I misunderstood your comment. Thanks.
When I try piping into action mailer either using this https://serverfault.com/questions/258469/how-to-configure-postfix-to-pipe-all-incoming-email-to-a-script or this technique https://stackoverflow.com/questions/58326314/postfix-setup-for-action-mailbox I get various different errors, but mostly I believe it is trying to use system ruby instead of the nv

[2021-08-10 04:23] #2717 closed

[2021-08-10 07:30] sojan-official opened #2780 "Feature: Filter reports by inbox"
- Filter reports by inbox
- Update API to accept inbox information

Acceptance criteria:

- Admin should be able to see reports of a particular inbox.
- Admin should have a button to download a CSV report for inbox

## Design

<img width="1750" alt="Screenshot 2021-08-15 at 7 41 01 PM" src="https://user-images.githubusercontent.com/73185/129481338-3c89cb8f-241b-467a-b883-65a046fda1d4.png">

[2021-08-10 07:40] sojan-official commented on #1484
fixed in https://github.com/chatwoot/chatwoot/pull/1683

[2021-08-10 07:40] #1484 closed

[2021-08-10 08:40] vishnu-narayanan opened #2782 "bug: docker hub build shields.io badge shows failing status"
**Describe the bug**

We are using `shields.io` Docker hub build badge. The badge is not reflecting actual status. Currently, it's showing failing even though the builds are passing.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://github.com/chatwoot/chatwoot
2. Check Dockerhub build badge

**Expected behavior**

Real build status is reflected.

**Screenshots**

<img width="13

[2021-08-10 18:27] hodl commented on #2762
Having the same issue, even when setting the `identifier_hash`.
Additionally I decided I would try setting a custom attribute of the `identifier_hash` using `setCustomAttributes` and while it initially works as expected as soon as the "malicious" user provides the spoofed email address the custom attribute changes to the `identifier_hash` of the "innocent" user!

[2021-08-11 04:45] srameshr opened #2783 "New inbox channel for Youtube support"
**Is your feature request related to a problem? Please describe.**
Channel to moderate and reply to comments on a Youtube channel.

**Describe the solution you'd like**
Youtube provides an API for CRUD operation on the comments resource: https://developers.google.com/youtube/v3/docs/comments

**Describe alternatives you've considered**
Chatwoot would be the first major platform to provide this int

[2021-08-11 05:04] pranavrajs commented on #2762
@ayushin @hodl Makes sense, we will add a toggle on the inbox settings to enforce the identification. So that if the identifier_hash is not available the call will fail.

[2021-08-11 05:12] ayushin commented on #2762
I think the next thing to consider is use a standard JWT for passing user details

https://github.com/chatwoot/chatwoot/issues/2745

[2021-08-11 06:26] muhsin-k opened #2784 "Pop out reply box to write long messages"
- Add expand icon under the reply box
- On clicking expand icon, show the reply box in a modal
- Add minimize icon in reply box modal
- User should be able to close the model by clicking on it

[2021-08-11 06:54] muhsin-k opened #2785 "Move the contact sidebar to an accordion"
- Convert existing contact sections to an accordion
- Save the section state in `ui_settings` attribute for a user.

![Screenshot 2021-08-11 at 12 04 15 PM](https://user-images.githubusercontent.com/12408980/128981078-c4ae710d-5263-4f28-a744-858bbb567610.png)

**Sample Example**

https://user-images.githubusercontent.com/12408980/128982984-7dbdd300-335c-4966-94e9-71a42e7c5621.mov

[2021-08-11 09:16] pranavrajs opened #2787 "Improvements in Keyboard Shortcuts"
- **Modal:**
    - Modal is not closed when clicking escape button. If the keyboard shortcuts modal is available, then clicking on ESC button should close the modal.
    - `Cmd + /` is the command for MacOS. What is the corresponding key in Windows/Linux.
- **Resolve and move to next:**
    - Cmd is the key in MacOS, what is the alternative key here for Windows/Linux?
    - Clicking `Cmd+Shift` op

[2021-08-11 14:59] #2716 closed

[2021-08-11 15:29] Yusaki-Akito opened #2791 "[Request] Ipad app landscape side"
**Is your feature request related to a problem? Please describe.**
Maybe becuase a lot of people start using ipad for there work it not good idea to reply the customer with vertical side

**Describe the solution you'd like**
The landscape side will let the agents to replay customer more effectively than vertical side

**Describe alternatives you've considered**
Using in browsers

[2021-08-11 18:24] WevrLabs commented on #2762
Besides failing, it could ask the user to login to thier account with X company, just to provide the user with a meaningful UX.

It could be something like this:

Of course, `X Company` and the url are customizable on the inbox settings.

Moreover, this should only be triggered in case the passed email exists previously in the database, but only if its contact identifier_hash was there, i.e the em

[2021-08-11 19:58] #2553 closed

[2021-08-11 21:02] sojan-official commented on #1827
Closing this since there hasn't been reports of this for a while. Let's reopen in case of reports.

[2021-08-11 21:02] #1827 closed

[2021-08-11 21:15] sojan-official commented on #2035
@azyzio  Sorry for the delayed response on this. I missed out on this in the sea of notifications 😅

At the time, we deprioritized this because

1) we already had the out-of-office message shown on the widget. So there was a question of whether we needed to show an additional response.
2) we added a timezone setting for the inbox that wasn't considered in the `out of office autoresponder` template

[2021-08-12 06:25] muhsin-k opened #2794 "Allow drag and drop for contact panel sections"
### Problem

The conversation has a sidebar that shows a list of sections related to the conversation lie contact details, assigned agent, etc. Currently, it is not possible to change the order of sections.

![drag-ndrop](https://user-images.githubusercontent.com/12408980/129560967-3a947f0e-86d3-48c1-8038-b98fb44a97fd.png)

### Solution

Add the ability to change the order of contact sections anyw

[2021-08-12 07:12] sentry-io[bot] opened #2795 "TypeError: Cannot read property 'focus' of null"
Sentry Issue: [CHATWOOT-WT](https://sentry.io/organizations/thoughtwoot-04/issues/2568989813/?referrer=github_integration)

[code]

[2021-08-12 10:53] hodl commented on #2762
Just keep in mind us that do not have user logins/accounts. I am creating a custom identifier set as a session cookie, and hashing that identifier. We hope the user will provide email address for best support results, but it isn't always the case. `identifier_hash` needs to be properly applied even if user doesn't provide an email address initially.

We also do not need the call to fail, we just n

[2021-08-12 11:07] nithindavid opened #2800 "feat: Settings section to config email footer for agents"
Estimation - 1
The email channel needs to have support for footer with replying agents name and email.

- The setting could go to profile settings page
- There should be a preview of footer
- It should have a Checkboxes and labels to show name, email, position on the footer
- The position is a new field and might need an input field
- Name and email can be used from profile data

[2021-08-12 12:55] Kpovoc opened #2801 "Matrix Integration"
I have a client who owns his own IT business, is a big advocate of open source, and has recently integrated Matrix (https://matrix.org) into all of his company communications and workflows. My client is very interested in using chatwoot to help promote customer engagement on his site, but wanted to know if it could integrate with Matrix.

I know there is an issue open in regards to Telegram and Di

[2021-08-12 13:42] vishnu-narayanan commented on #2777
@redmagic0099 Could you please try this out and let us know if the problem persists ?

[2021-08-12 14:07] vishnu-narayanan commented on #2782
Contacted Docker hub support to share more details about the issue. Waiting for a response.

[2021-08-12 17:14] iammattmartin commented on #2801
As it is open source, if you can do the work, just raise the PR and the team will check it to add.

I can't imagine any worthwhile additions will be rejected, just ensure they are documented and would benefit all.

[2021-08-12 17:51] Kpovoc commented on #2801
While I appreciate that sentiment, there are a couple of other factors at play here.

1) Not all open source projects will take any “worthwhile” additions. While the project may be open, it appears to be owned by a company, whom I assume have a design in mind that they’d like to sell to customers. If they have no interest in Matrix integration, then they are unlikely to accept my PR.

2) I have a

[2021-08-12 17:51] #2388 closed

[2021-08-12 17:53] iammattmartin commented on #2801
I think the point i'm trying to make is if you want to contribute and it'll benefit your client, surely there is no downside? You can build that in to their install as you/they need.

If it suits the product, it could then be added for all which would be win/win.

[2021-08-12 18:21] Kpovoc commented on #2801
They downside is that neither I nor my client is interested in maintaining a fork of the project with the needed functionality. It is upstream or nothing, I'm afraid.

[2021-08-12 18:41] sojan-official commented on #2801
@Kpovoc  We are definitely looking into how we can support matrix. But we are still learning more about the standard and ideating.
So could you detail more on how you see this integration working?

Also few questions.

- With the integration, is chatwoot going to act as a bridge to a matrix server, or do you see a use case whether the agents log into the agent dashboard ?
- Will chatwoot be publis

[2021-08-13 07:39] brentco opened #2806 "The swagger.json needs some fixing"
**Is your enhancement request related to a problem? Please describe.**
While the swagger.json is "valid enough" there are some violations to the spec that cause editors (including [https://editor.swagger.io](https://editor.swagger.io)) that are more strict (for example Postman) to be unable to validate the swagger for generation based on it.

**Describe the solution you'd like**
I suggest importin

[2021-08-13 08:10] #2795 closed

[2021-08-13 10:50] nithindavid commented on #2355
**Proposal**
- To get multiple conversations on widget, We would need to refactor the vuex store. Currently it supports only one conversation object. So this would be a major refactoring on the store side. I would like to propose the Normalised way to manage state documented on redux  https://redux.js.org/usage/structuring-reducers/normalizing-state-shape
I have done a basic research on the approa

[2021-08-13 11:08] nithindavid commented on #2791
@Yusaki-Akito This suggestion makes sense, Meanwhile we work on this I would recommend you to use our web version.

[2021-08-13 11:56] #2599 closed

[2021-08-13 13:17] sniperline047 commented on #2787
Since e.keyCode is deprecated ([Refer here](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/keyCode)) Pressing **Esc**  doesn't close the modal

Update eventListener in

 with
`    document.addEventListener('keydown', e => {
      if (this.show && e.code === 'Escape') {
        this.onClose();
      }
    });`

[2021-08-13 13:29] pucilpet commented on #2801
I am interested in this feature as well. In my opinion it would be kind of useless if the bridge would only be for the website chat. So ideally it should support all channels (and all messages, private notes included).

[2021-08-13 14:12] paescuj opened #2811 "Contacts with same email address are merged although identifier is different"
**Describe the bug**

I'm using Chatwoot on a portal where the email address of the customers are not yet known. However customers can already be differentiated based on an ID. So when initializing the Chatwoot widget, I'm using this ID to identify customers like this:
[code]

With the help of the email collection bot, the customers are then asked for their email address.
As soon as they have ente

[2021-08-13 15:06] pranavrajs commented on #2811
@paescuj This is done to reduce duplication in the system. Can you please provide an example use case where the id is different and the email is the same?

[2021-08-13 15:08] pranavrajs commented on #2811
I see that problem is that the pre-chat form/email collect box is triggered even if the `setUser` method is used. May be we can remove those if the `setUser` method is used.

[2021-08-13 16:00] paescuj commented on #2811
The use case is the following:
I have an portal where customers can login and start to chat. The email of the customers aren't known yet.
They can submit their email address via Chatwoot widget (email collection bot).
A customer can be anyone who has a login to this protal, so one person could even have two logins and then submit the same email address.
It is true that this case is not very likely

[2021-08-13 16:23] sojan-official commented on #2811
@paescuj  identifier, email, phone number .. all three of these attributes are considered as unique identifiers in chatwoot.  So these attributes can't be duplicated across contacts. The merge functions assume that they are the same user and merges in this case.

For this specific case, let me talk to the team and get back.

[2021-08-13 16:27] paescuj commented on #2811
I see! Thank you very much!

[2021-08-13 17:28] B3EF opened #2813 "Reported Issues at Huntr"
hi @pranavrajs, @sojan-official, @nithindavid

https://huntr.dev/bounties/1625475209542-chatwoot/chatwoot/
https://huntr.dev/bounties/1625474692857-chatwoot/chatwoot/
https://huntr.dev/bounties/1625472546121-chatwoot/chatwoot/
https://huntr.dev/bounties/1625472018080-chatwoot/chatwoot/
https://huntr.dev/bounties/1625470476437-chatwoot/chatwoot/

please verify the reports.

[2021-08-13 18:43] farooqch11 opened #2814 "Webpacker can't find superadmin.css"
**Describe the bug**

Aug 13 18:19:51 ip-172-31-27-146 chatwoot-web.1[2870]: [85533391-7bb7-4c4f-a4d9-445a947a25d5] ActionView::Template::Error (Webpacker can't find superadmin.css in /home/chatwoot/chatwood/public/packs/manifest.json. Possible causes:
Aug 13 18:19:51 ip-172-31-27-146 chatwoot-web.1[2870]: 1. You want to set webpacker.yml value of compile to true for your environment
Aug 13 18:19:

[2021-08-14 09:03] pranavrajs opened #2815 "Channel icon is missing when the conversation is created"
**Describe the bug**

<img width="393" alt="Screenshot 2021-08-14 at 2 29 15 PM" src="https://user-images.githubusercontent.com/2246121/129440823-38701adf-b0e6-4f4a-adac-0b7f3d440501.png">

When the conversation is created from Whatsapp/Twitter/Facebook, the icon indicating Whatsapp/Twitter/Facebook is missing until the page is reloaded.

**To Reproduce**

Steps to reproduce the behavior:
1. Send

[2021-08-14 09:08] pranavrajs commented on #2813
@B3EF Sure! We will be prioritizing the fixes in the v1.20 release. We will track the changes and communication in the  Huntr.dev. Closing it here for now.

[2021-08-14 09:08] #2813 closed

[2021-08-14 09:09] pranavrajs commented on #2814
@farooqch11 Can you please share whether you are try to deploy this in production or development?

[2021-08-14 09:10] farooqch11 commented on #2814
development works tottaly fine. its happening in production.

On Sat, 14 Aug 2021, 2:09 pm Pranav Raj S, ***@***.***> wrote:

[2021-08-14 09:10] B3EF commented on #2813
Ok

[2021-08-14 09:10] pranavrajs commented on #2806
@brentco Thanks for reporting this. Do you have a suggestion on the changes needed? If so, please feel to raise a PR, otherwise, the team can take a look at it in the next release.

[2021-08-14 09:11] farooqch11 commented on #2814
this happened after taking latest pull.

On Sat, 14 Aug 2021, 2:10 pm farooq ashraf, ***@***.***> wrote:

[2021-08-14 09:13] pranavrajs commented on #2800
Footer can be common to all channels.

For eg: In Twitter/Whatsapp channels, while replying to the user, large brands add a footer at the end. An example is shown below.

<img width="604" alt="Screenshot 2021-08-14 at 2 42 38 PM" src="https://user-images.githubusercontent.com/2246121/129441135-f235d265-c8bc-426f-a4b3-3464edac127b.png">

[2021-08-14 09:14] brentco commented on #2806
Sure thing, I can go through and fix it :)

[2021-08-14 09:16] pranavrajs commented on #2814
@farooqch11 Can you please try this command and compile it again? https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm#if-precompile-fails

[2021-08-14 09:17] pranavrajs commented on #2806
Great! Let me know if you need any help. Please see this document to understand how we maintain the Swagger documentation.

https://www.chatwoot.com/docs/contributing-guide/api-documentation

[2021-08-14 09:29] pranavrajs opened #2816 "Multiline support for channel greeting message"
Chatwoot supports a greeting message to be set so that the system would respond automatically when a conversation is created. It is not possible to add multiple lines to this message.

### Problem

If you need to set an auto-response message as shown below on an email channel, then the existing system would shrink it to a single message.

**Expected:**
[code]

**Current output:**
[code]

### Solut

[2021-08-14 09:48] farooqch11 commented on #2814
this error is coming when i run

RAILS_ENV=production rake assets:clean assets:clobber assets:precompile

ERROR in ./app/javascript/packs/application.js
Module build failed (from ./node_modules/babel-loader/lib/index.js):
Error: Cannot find module ***@***.***/plugin-transform-runtime'
Require stack:
-
***@***.***/core/lib/config/files/plugins.js
- ***@***.***/core/lib/config/files/index.js
- ***@*

[2021-08-14 10:20] muhsin-k opened #2817 "Disable "none" option from assign team dropdown If the team is not selected"
https://user-images.githubusercontent.com/12408980/129442871-1f1e6dd1-54cb-49da-aa06-7afa98f6232d.mov

[2021-08-14 16:22] mohmmd256 opened #2818 "[Help] Linking Facebook page"
Hello all,

Trying to help out a friend setup their Chatwoot instance (Linux VM type of deployment). When it comes to try linking a Facebook page, it gets stuck in this screen, and the below errors appear in log:

<img width="1215" alt="Screen Shot 2021-08-11 at 7 05 23 PM" src="https://user-images.githubusercontent.com/7905931/129451533-97ea336c-b54a-4d8e-b87f-bf07e34e0d9d.png">

[code]

### Envi

[2021-08-15 08:09] sojan-official commented on #2311
requires removing the condition here that limits attachments to whats app alone:
 https://github.com/chatwoot/chatwoot/blob/70d41ffcdda51f48389e67d93f05de3a3892aa7b/app/services/twilio/send_on_twilio_service.rb#L19

ref: https://support.twilio.com/hc/en-us/articles/223179808-Sending-and-receiving-MMS-messages

## Acceptance
- [ ] Create an SMS via Twilio inbox
- [ ]  Try sending an MMS message to

[2021-08-15 08:12] sojan-official commented on #1878
Reopening this since the previous PR added the ability to edit URL in webhook integration.

[2021-08-15 08:39] sojan-official commented on #2035
## Acceptance

- [ ] Ability to configure business hours for all channels [ currently only Web widget is supported ]

- [ ] Enable the out of office auto-responder for all channels, ref: https://github.com/chatwoot/chatwoot/blob/develop/app/services/message_templates/hook_execution_service.rb#L8

## Testing
- [ ] Website Channel
  - autoresponder messages get sent correctly when a message comes in

[2021-08-15 08:54] sojan-official opened #2819 "fix: DEPRECATION WARNING: Rendering actions with '.' in the name is deprecated"
Fix the deprecation warnings appearing in test logs:
ref: https://app.circleci.com/pipelines/github/chatwoot/chatwoot/17289/workflows/fe55f80e-e364-42b7-9ef2-cb3a28436046/jobs/17278

[code]

[2021-08-15 08:56] shyjal commented on #1545
This is a necessary feature. Export and import of contacts.

[2021-08-15 13:28] sojan-official opened #2822 "enhancement: Display email channel configuration while editing"
At the moment, chatwoot doesn't display the `forward to email` address for an email channel anywhere after creating a new email inbox.  One would have to recover this from the DB or recreate a new inbox, which is very painful.

## Acceptance
- [ ] When editing an email inbox configuration tab should be shown
- [ ] The configuration tab should show the `forward to email` address and instructions

#

[2021-08-15 13:41] sojan-official commented on #1950
<img width="840" alt="Screenshot 2021-08-15 at 7 09 17 PM" src="https://user-images.githubusercontent.com/73185/129480542-d60a94ae-7bfe-4f7d-9966-48c6f27e8fa7.png">

Chatwoot now support html emails in conversation view

[2021-08-15 13:41] #1950 closed

[2021-08-15 13:43] sojan-official commented on #2766
Closing since there is no further updates on this issue

[2021-08-15 13:43] #2766 closed

[2021-08-15 13:49] sojan-official commented on #2652
CC, BCC components is now available

https://github.com/chatwoot/chatwoot/pull/2763/files
Story book path:  path=/story/components-replybox-emailhead--add

[2021-08-15 14:39] sojan-official opened #2823 "enhancement: APIs to filter reports using inbox, agent & labels"
At the moment the reporting API only renders reports across the account. Ability to filter these reports based on inbox, agents & labels

This API requirement blocks the following issues :
- https://github.com/chatwoot/chatwoot/issues/2780
- https://github.com/chatwoot/chatwoot/issues/1218
- https://github.com/chatwoot/chatwoot/issues/1217

## Acceptance
- [ ] refactor the reporting & report summa

[2021-08-15 14:39] sojan-official commented on #2780
blocked by: https://github.com/chatwoot/chatwoot/issues/2823

[2021-08-15 14:40] sojan-official commented on #1218
blocked by: https://github.com/chatwoot/chatwoot/issues/2823

[2021-08-15 14:40] sojan-official commented on #1217
blocked by: https://github.com/chatwoot/chatwoot/issues/2823

[2021-08-15 18:31] jabelone opened #2824 "Unable to process inbound emails due to 'ActiveStorage::FileNotFoundError'"
**Describe the bug**
Chatwoot cannot process incoming emails from send grid.

**To Reproduce**

Steps to reproduce the behavior:
1. configure incoming emails via sendgrid as per the [documentation](https://www.chatwoot.com/docs/self-hosted/configuration/features/email-channel/setup).
2. Send an email to the configured address.
3. Email never arrives to the chatwoot inbox and the below error is log

[2021-08-16 04:29] pranavrajs commented on #2824
@jabelone Have you configured storage as described here? https://www.chatwoot.com/docs/self-hosted/deployment/storage/supported-providers

The docker images need external storage to be added for the attachments/inbound emails to work.

[2021-08-16 05:12] jabelone commented on #2824
Thanks for your reply. Yeah I’ve configured S3 storage and confirmed that chatwoot uploads files, by the looks of it, whenever it tries to process an inbound email.

[2021-08-16 05:27] pranavrajs opened #2825 "Email improvements: Mention notification"
**Problem:**
Right now, when we send a notification about a mention, it doesn't have much context as shown below. It should ideally have who mentioned you in the conversation and what was the message.

<img width="1129" alt="Screenshot 2021-08-16 at 10 48 04 AM" src="https://user-images.githubusercontent.com/2246121/129514593-5e8aea50-6f13-4a43-832f-536ecec99a07.png">

**Solution:**

- [ ] Change

[2021-08-16 08:18] pranavrajs opened #2827 "Add a toggle to disallow users to send messages after a conversation is resolved."
**Context:**

Right now, if the CSAT survey is enabled then we disallow the end-users to send a message when the conversation is resolved. This should be a configuration in the website channel settings.

**Todo:**

- [ ] Add a boolean variable, `allow_messages_after_resolved` to the inbox model. Set default value to true.
- [ ] Update the inbox APIs to include the boolean attribute.
- [ ] Change t

[2021-08-16 08:21] pranavrajs opened #2828 "End conversation from chat widget"
**Context:**

Provide an option to the user to end the conversation once they are done with it. This would move the conversation from the queue.

**Changes:**
- [ ] Add a dropdown on the widget to select the end conversation button. Design attached. Move the existing open in a new window button to the dropdown.
- [ ] Add an API to resolve the conversation.
- [ ] Add an activity message "Conversati

[2021-08-16 08:23] pranavrajs opened #2829 "Reports: Log how many conversations were closed by the users themselves"
When we add #2828 to the product, it is important to understand how many conversations were resolved by the users themselves. This identifies the value this feature provides to the customers.

On the reports, we need to add 2 more metrics:

- The number of conversations resolved by the users themselves.
- The percentage of conversation resolved by the user themselves.

Things to do:

- Create an A

[2021-08-16 08:26] pranavrajs opened #2830 "epic: End Conversation flow"
**Context:**
Right now, even if the user has got their solution, there is no way to close the conversation and move on. This has an impact on large organizations as they deal with a lot of requests and they would have to wait for the user to give a confirmation on their end to close the conversation.

**Things to do:**

- [x] https://github.com/chatwoot/chatwoot/issues/2827
- [x] https://github.co

[2021-08-16 08:29] pranavrajs commented on #2564
@brentco Closing this conversation in favour of #2830

[2021-08-16 08:29] #2564 closed

[2021-08-16 08:30] pranavrajs commented on #2488
Closing this in favor of #2827

[2021-08-16 08:30] #2488 closed

[2021-08-16 20:21] iammattmartin commented on #2828
I'd just like to add that hiding the expand option probably isn't great and the end chat should really be more visible.

Often the three dots is used for things like sound, email transcript and contact details. Not core functionality for the window itself.

[2021-08-17 10:25] codeinforest opened #2835 "Docker: livechat_rails_1 and livechat_sidekiq_1 only live on few seconds"
**Describe the bug**
Everything work except livechat_rails_1 and livechat_sidekiq_1. These container auto shutdown after few seconds.

**To Reproduce**

Steps to reproduce the behavior:
1. Follow this instruction: https://www.chatwoot.com/docs/self-hosted/deployment/docker
2. Run: ```docker-compose up -d```
3. Wait for seconds (~ 30s)
4. See error

=== UPDATE ERROR DETAILS ===
[code]

[code]

I al

[2021-08-17 11:09] sojan-official commented on #2801
@pucilpet  could you detail the value add here.

- does the matrix integration act as a channel to notify the agents?

[2021-08-17 11:33] sojan-official commented on #2818
ref : https://github.com/chatwoot/chatwoot/discussions/2072

[2021-08-17 12:20] vishnu-narayanan commented on #2835
@codeinforest  Could you please share the value you have set for `FRONTEND_URL` in `.env` file ?

[2021-08-17 13:00] codeinforest commented on #2835
First, let's me answer your question.
My URL is: https://domain.ext (without slash).

=== UPDATE ===
It's work if I use ```docker-compose up -d``` then wait for ~1 minute (without visit website or do anything elese, if not, the process will be broken).
But I got a new error is:
[code]
When trying to embed scripts into my website. The error url is: ***https://domain.ext/widget?website_token=5CQfg1F

[2021-08-18 07:52] vishnu-narayanan commented on #2835
@codeinforest I just tried this and I am not able to reproduce this error from my side.

If you are still facing the issue, could you please share the exact steps to reproduce and detailed logs ?

[2021-08-18 09:58] #2825 closed

[2021-08-18 16:26] atresnjo opened #2840 "Continue conversations based on a custom id?"
Hey guys, brilliant work on chatwoot! I'm checking it out to see if it would be the right fit for us.

Our goal is to map our user account ID's with each conversation, so even if the user deletes his cookies he should be able to continue his conversation based on the account ID we pass to chatwoot.

I've tested it with setUser, but even though the ID is always the same, once I delete the "cw_conve

[2021-08-18 17:34] pucilpet commented on #2801
Ideally it would work the same as the Slack integration - so that the agents are not only notified but they can respond to channel messages, too.

[2021-08-18 17:40] sojan-official commented on #2840
@atresnjo  if you verify the user session using hmac authentication, you can persist conversations across sessions.
https://www.chatwoot.com/docs/product/channels/live-chat/sdk/identity-validation

[2021-08-18 19:24] sojan-official commented on #2814
@farooqch11 are there any customizations done over the chatwoot code?  could you share the spec of the environment where you are running chatwoot ?

[2021-08-19 12:33] diaspora-france commented on #2751
Hi,

I did fix the issue by changing directly in DB the value of support_email in the account table

[2021-08-19 19:21] B3EF commented on #2813
hi @pranavrajs , can you check and verify the bug at huntr , it will help me grab a small amount of bounty , at huntr until a fix is confirmed the adversary page will be private.
?

[2021-08-20 08:01] vishnu-narayanan opened #2843 "upgrade to v1.19.0 fails on caprover"
Thank you for new release and lot of new features.

I just tried to upgrade Chatwoot from 1.18 to the latest version, but it failed.

Ubuntu on Caprover DigitalOccean as per upgrade instructions at https://www.chatwoot.com/docs/self-hosted/deployment/caprover

We received following error.

`[Warning] One or more build-args [VAPID_PRIVATE_KEY POSTGRES_USERNAME REDIS_URL SMTP_ENABLE_STARTTLS_AUTO SM

[2021-08-20 08:04] vishnu-narayanan commented on #2843
@Stephen-Lobo Could you please log into your Caprover instance and share the output of the following commands ?
[code]

[2021-08-20 08:08] vishnu-narayanan commented on #2843
New Update:

We tried once again to install 1.19v. Got successful Message :

[code]

But, now at the frontend, We're getting :

[code]

<img width="639" alt="Screenshot 2021-08-19 at 5 01 51 PM" src="https://user-images.githubusercontent.com/87435610/130062707-11da7db0-c076-4e3a-a0cd-3f3cf2dc1869.png">

We have already re-booted docker as well as droplet. It didnt work.

@vishnu-narayanan  @sojan-

[2021-08-20 08:08] vishnu-narayanan commented on #2843
@Stephen-Lobo Could you please log into your Caprover instance and share the output of the following commands ?
[code]

[2021-08-20 08:22] gj315 opened #2844 "chatwoot response is very very slow"
Hi team,

chatwoot response is very very slow for me.

We are having the almost 30-40 users which are using my self hosted chatwoot system.

Can you please suggest me what are the server specifications will be good for 40 people.

Currently my server configuration is -

Intel Xeon Platinum 2.7GHz

6 cpu
4 gb ram
100 gb disk

It's VPS not the dedicated server.

[2021-08-20 08:52] vishnu-narayanan opened #2845 "bug: chatwoot docker image v1.19.0 using alpine-3.14 breaking in old docker versions"
**Describe the bug**

The latest chatwoot docker image `v1.19.0` is based on `ruby:3.02-alpine` which in turn in using `alpine:3.14` under the hood.  Alpine 3.14 has some breaking changes and this is causing unexpected failures.

**To Reproduce**

Steps to reproduce the behavior:
1. Follow docker instructions on a server
2. `docker-compose up`
3. See error

**Expected behavior**

Chatwoot should b

[2021-08-20 08:53] vishnu-narayanan commented on #2845
References:
https://github.com/docker-library/ruby/issues/351
https://wiki.alpinelinux.org/wiki/Release_Notes_for_Alpine_3.14.0#faccessat2

[2021-08-20 08:54] vishnu-narayanan commented on #2843
#2845

[2021-08-20 12:57] vishnu-narayanan commented on #2843
@Stephen-Lobo For the time being until we work this out, feel free to use this tag `hotfix-v1.19.0` if you need this update asap.  Please note this is not a permanent solution.

web
[code]

worker
[code]

[2021-08-20 13:08] vishnu-narayanan opened #2847 "feat: ability to disable keyboard shortcuts"
**Is your feature request related to a problem? Please describe.**

Accidental keyboard shortcut invocations can cause Agents to lose a message text midway or mark a conversation resolved. Some might want to turn this behavior off.

**Describe the solution you'd like**

Setting to enable/disable keyboard shortcuts.

**Describe alternatives you've considered**
n/a

**Additional context**
https://ap

[2021-08-20 13:08] vishnu-narayanan commented on #2847
cc: @pranavrajs @sojan-official  @iamsivin

[2021-08-20 15:35] sojan-official commented on #2015
@iamsivin  ref: https://github.com/chatwoot/chatwoot/blob/eb80324eaafc9451fd4b2a24cbdefb3ac5c065d8/app/javascript/dashboard/components/widgets/conversation/ReplyBox.vue#L393

we need to remove the condition that limits this to website inbox

[2021-08-20 15:38] sojan-official commented on #1545
In interim,
- contacts could be downloaded iterating through the API
- We also have an API to upload a contacts CSV ( ref: https://github.com/chatwoot/chatwoot/wiki/Building-on-Top-of-Chatwoot:-Importing-Existing-Contacts-and-Creating-Conversations#use-the-api )

[2021-08-20 15:56] sojan-official commented on #2844
@gj315 by 30-40 users, do you mean the agents logged into chatwoot?
Could you give more info on the conversation channels you use in chatwoot?

If you have a website widget enabled on any website, what's the estimated number of online users there?

[2021-08-20 16:02] sojan-official commented on #2751
@diaspora-france  Thanks for reporting back.  You could also customize the support_email at a global level from the super admin panel.

it's just that if a value is set on the account, it will take precedence over the global config. / environment variables

<img width="1357" alt="Screenshot 2021-08-20 at 9 30 19 PM" src="https://user-images.githubusercontent.com/73185/130261174-799823d6-0f32-4703-

[2021-08-20 16:02] #2751 closed

[2021-08-21 10:58] WaqqaR commented on #1183
Hi, I am having the same issue @pranavrajs

[2021-08-21 15:08] pranavrajs commented on #2847
@vishnu-narayanan Instead of disabling the shortcuts, we can disable the shortcuts while the input box is active.

[2021-08-22 06:47] abraham-azzam opened #2848 "foreman can't run"
abraham@Abrahams-MacBook-Pro chatwoot-develop % foreman start -f Procfile.dev
[code]

[2021-08-22 10:31] gj315 commented on #2844
Hi @sojan-official ,

Thank you for the reply.

30-40 users i mean accounts that login to the system.
we use only API as a channel to send and receive data. each account like this sends 200 messages per day, and receive 200 messages per day, all from the API channel

[2021-08-22 12:59] petrsoudek commented on #1787
solved

[2021-08-22 13:06] sojan-official commented on #1787
@petrsoudek  Thanks for the update, if you could add the steps you did to solve the issue might be helpful for the future :)

[2021-08-22 13:06] #1787 closed

[2021-08-22 14:32] sojan-official commented on #2848
Please check the error message : "Redis::CannotConnectError: Error connecting to Redis on redis:6379 (SocketError)"

- ensure you have redis installed in your machine
- ensure you have the correct credentials configured in your `.env` file.

if you are following any of our documentation and the instructions are not clear, do let us know and we will have it updated.

[2021-08-22 14:32] sojan-official commented on #2848
Please check the error message : "Redis::CannotConnectError: Error connecting to Redis on redis:6379 (SocketError)"

- ensure you have redis installed in your machine
- ensure you have the correct credentials configured in your `.env` file.

if you are following any of our documentation and the instructions are not clear, do let us know and we will have it updated.

[2021-08-22 14:48] khaled7777 opened #2849 "i hope you can add whtsapp via chat-api.com as new integration channel"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-08-22 15:34] sojan-official commented on #2849
please refer to: https://github.com/chatwoot/chatwoot/discussions/2759

[2021-08-22 15:34] #2849 closed

[2021-08-22 15:55] sojan-official opened #2850 "feat: Ability to send and receive Instagram messages"
ref:  https://github.com/chatwoot/chatwoot/issues/2096#issuecomment-903290199  before getting started

## Requirements
1. Rebrand the Facebook inbox to Messenger inbox and provide the ability to connect Instagram connected Facebook pages.
brand guidelines : https://en.facebookbrand.com/facebookapp/assets/messenger/
<img width="1454" alt="Screenshot 2021-08-22 at 9 09 49 PM" src="https://user-image

[2021-08-22 15:58] sojan-official commented on #2096
## Context

Instagram messaging has been one of the most asked features in Chatwoot. With the APIs currently open, Let's take up the opportunity to bring in Instagram messaging into Chatwoot as well as improve the overall messenger API experience in Chatwoot.

## Goals

- Ability to connect Instagram page to a Chatwoot Inbox so that the agents can handle messages from Chatwoot inbox instead
- Conf

[2021-08-22 17:36] sojan-official commented on #1929
## Acceptance

## Backend
- API to delete contact conferring to the following standards
[code]
- triggering API should clear the following information
[code]
- Swagger documentation for the delete API
-  Test and document the following implications hold when the same contact sends another message
   -  Website inbox: The current chat stops working if the user refreshes the page, a new contact gets

[2021-08-22 18:18] sojan-official commented on #2009
As described in the original issues, Where there is a long chat thread that gets continued over email, Chatwoot sends out the summary template, which gets sent back to Chatwoot when the contact replies.  Hence a new message gets created as shown below, which doesn't look great when rendered in chatwoot.

<img width="526" alt="Screenshot 2021-08-22 at 11 38 32 PM" src="https://user-images.githubuse

[2021-08-23 05:32] vishnu-narayanan commented on #2847
@pranavrajs That could fix also work. Adding further, it is nice to have shortcuts even when the textbox is active. Like making the text bold or say adding a label via shortcuts. A Gmail like behavior would be optimum.

[2021-08-23 05:36] iamsivin commented on #2847
@pranavrajs @vishnu-narayanan  I think it will fix by this PR https://github.com/chatwoot/chatwoot/pull/2790

[2021-08-23 06:24] nithindavid opened #2852 "feat: Group widget configurations as sections by type in settings"
**Estimation** - 1

![image](https://user-images.githubusercontent.com/1277421/130399836-60272923-d4a2-4706-8d66-56b86c941497.png)

Right now all the configurations on the page are mixed. We need to organise the settings section to different sub sections
1) General settings -  visual and general settings like color, headings, title etc
2) Advanced settings - features like, CSAT, auto assignment, r

[2021-08-23 06:35] nithindavid opened #2853 "feat: Add widget preview on inbox settings page"
Estimation - 2

- The left side of the page has 3-column  space on the left side of widget settings page
- Make sure the preview box is `fixed` positioned and closable
- Refer #2523 for the dummy widget component
- Update widget preview for settings
1. Welcome Heading
2. Welcome Tagline
3. Widget Color
4. Channel Avatar

[2021-08-23 06:47] nithindavid opened #2854 "feat: Update email designs to match chatwoot theme"
Estimation - 2

- Improve the email color scheme and typography to match the installation color scheme
- If installation has no color scheme default to chatwoot dashboard color scheme

Note: Estimated 2 as email setting up and templating email

[2021-08-23 07:46] vishnu-narayanan commented on #1183
@WaqqaR Could you please share more details?

1. Please share the output of `docker info` and `docker version`.
2. Steps followed and the error log for the step at which you are having issues.

[2021-08-23 14:56] san-coding commented on #2641
Hi , I would like to work on this issue, I am new to open source, how can I do my first contribution, please guide me

[2021-08-23 16:04] #2015 closed

[2021-08-23 16:16] pranavrajs opened #2856 "chore: Add date range filter to super admin dashboard query"
### Context

SuperAdmin dashboard metrics return all-time data. We need to introduce a date range filter to reduce the query size as well and to get granular information.

### Solution

- [ ] Limit the query to last week's information.
- [ ] Add a date-range filter on the dashboard. The default value should be last week.

[2021-08-23 16:30] #2653 closed

[2021-08-23 17:16] pranavrajs commented on #2009
@sojan-official I think it is better to adopt what Github has been doing such that we hide the content with a button to display the information. There might be cases where someone is forwarding an email content with a long thread of information which would be the first message in the conversation.

An example of Github's behavior can be seen in the following comment. https://github.com/chatwoot/ch

[2021-08-23 17:37] muhsin-k opened #2857 "bug: Bot activity status translation is missing"
![Screenshot 2021-08-23 at 11 06 15 PM](https://user-images.githubusercontent.com/12408980/130491932-d882be05-8888-4f06-88a6-15f14f8121aa.png)

[2021-08-23 17:48] pranavrajs commented on #2828
@iammattmartin There is not enough space for the end chat button which is why we went with this design. This makes sense. Let us revisit the design.

[2021-08-23 17:56] pranavrajs commented on #2824
@jabelone Can you please confirm whether adding the storage fixed this issue?

[2021-08-23 17:57] pranavrajs commented on #2365
@yourbabyscan Can you please confirm if you still have the issue?

[2021-08-23 17:58] pranavrajs commented on #2354
Closing this as there is no further information. @rafpaf Please feel free to re-open the conversation if the issue is not resolved.

[2021-08-23 17:58] #2354 closed

[2021-08-23 18:01] pranavrajs commented on #2265
@timcowlishaw Closing this in favor of #2828

[2021-08-23 18:01] #2265 closed

[2021-08-23 18:02] sojan-official commented on #2857
the status bot should be deprecated in favor of pending, could you add the test conditions to recreate this?

[2021-08-23 18:08] pranavrajs commented on #2041
### Todo:

- [ ] Include the messages in the email template with the conversation.
- [ ] Change the template content to the following.

[code]

[2021-08-23 18:10] pranavrajs commented on #2170
Closing as this is already available via https://www.chatwoot.com/docs/product/channels/live-chat/integrations/google-tag-manager

[2021-08-23 18:10] #2170 closed

[2021-08-23 18:14] pranavrajs commented on #2074
@PyB1l Can you please share the use case for the same?

[2021-08-23 18:17] pranavrajs commented on #2073
@0x0ece Sorry, this got lost in the issues. The integration sounds straightforward, I will take this up in the coming releases.

[2021-08-23 18:33] pranavrajs commented on #2045
### Context

Message sent from Twitter is shown as an incoming message. It should be an outgoing message.

### Todo:

- [ ] We already have a check on the Direct Message Parser service to check if the sender ID is equal to the tweet author id. There might be a change in the payload. Verify whether the message payload is correct and the data types are valid.

https://github.com/chatwoot/chatwoot/bl

[2021-08-23 18:34] pranavrajs commented on #723
Closing this in favour of #2011

[2021-08-23 18:34] #723 closed

[2021-08-23 18:35] pranavrajs commented on #1271
@muhsin-k Have we done the changes for both iOS and Android?

[2021-08-23 18:42] pranavrajs commented on #1596
@vishnu-narayanan Can you please go through this ticket in this release and confirm whether this bug still exists?

[2021-08-23 18:43] pranavrajs commented on #1815
This might be a good ticket for @fayazara to get started.

[2021-08-23 18:45] pranavrajs commented on #1948
@strafrecht Sorry for missing this issue. Is this still happening? Can you please provide some more information like docker logs to help me debug this further?

[2021-08-23 18:48] pranavrajs commented on #1964
@sojan-official Is it still relevant? Looks like a good candidate for a backend ticket.

[2021-08-23 18:49] pranavrajs commented on #1963
@sojan-official I guess we add page parameter as well.

[2021-08-23 21:59] yourbabyscan commented on #2365
Hi @pranavrajs, unfortunately, yes. :(

I thought I'd set up automatic updates in heroku so that I would receive future updates, and the problem would go away over time, however I realised a few days ago, I'd set this up against a fork rather that the original so hadn't been getting updates. I got quite excited with hopes that updating might resolve this frustration, however, following a successfu

[2021-08-24 04:24] pranavrajs commented on #2365
@yourbabyscan Would you be able to share one such email (original EML version)? If not here, please share it on hello@chatwoot.com. Here is an article on how to download the original message(https://support.google.com/mail/answer/9261412?hl=en)

[2021-08-24 04:47] nithindavid opened #2858 "feat: Refactoring store to support multiple conversations on widget"
- Refactor store to support for multiple conversations by changing actions, getters, mutations
- Specs for newly written modules

[2021-08-24 04:50] nithindavid opened #2859 "chore: Add support for css variables on widget side"
We use the below files to bring in css variables on dashboard side. We could use the same on widget side to bring in support for css variables and there by moving to single source for variables.
[code]

[2021-08-24 04:56] nithindavid opened #2860 "enhancement: refactor usage of foundation-everything on dashboard"
**Estimation** - 1

Currently we use foundation underneath to style our app and also for scss utilities.

Foundation by default has lots of utilities and components and everything is can be included/initiated with `@include foundation-everything($flex: true);`  in `app/javascript/dashboard/assets/scss/_woot.scss`.

This includes styles for components and libraries which we do not need. If we could

[2021-08-24 05:09] muhsin-k commented on #2433
**Todo:**
**Backend:**
- [ ] Add attribute `trigger_only_during_business_hours` in campaign model and set default value as false
- [ ] Add check box named "Trigger only during business hours" in Add/Edit Campaign modal

**Frontend:**
- [ ] Trigger campaign only If `working_hours_enabled` is true (https://github.com/chatwoot/chatwoot/blob/develop/app/javascript/widget/helpers/campaignTimer.js#L12)

[2021-08-24 05:38] sojan-official commented on #2009
updated acceptance.

[2021-08-24 06:26] sojan-official opened #2861 "feature: Support DataDog APM"
Ability to to use Datadog APM with chatwoot

[2021-08-24 06:44] sojan-official opened #2862 "feature: Ability to add custom attributes to user"
For external systems integrating chatwoot using the platform APIs, having the ability to associate custom attributes to users would be helpful to associate external data to the user model.

example: add an external user identifier to the chatwoot user, so that I wouldn't need to retain an association table separately.

[2021-08-24 06:48] nithindavid commented on #1929
The merge contact -> https://github.com/chatwoot/chatwoot/pull/2457 has context menu next to contact info which is a good place to keep the `delete contact` option.

[2021-08-24 07:08] gj315 commented on #2844
@sojan-official Please check

[2021-08-24 08:46] tejaswinichile commented on #2650
@pranavrajs

Currently, any filter query doesn't need any optimization
1. For Additional attributes-based filters, we can add new scopes. Sift provides some filtrate options to use such scopes for search purposes. I was unable to do a search based on multiple parameters through the filtrate option so in that case, we can have our own scopes based on the additional attributes.
2. http://localhost:3

[2021-08-24 08:48] #2715 closed

[2021-08-24 09:11] vishnu-narayanan commented on #2843
Verified this is working fine after upgrading the docker engine to the latest version.
[code]

[2021-08-24 09:13] vishnu-narayanan commented on #2843
If you are not able to upgrade the docker version on your caprover instance, please use the `chatwoot:hotfix-v1.19.0`docker image based on `alpine-3.13`.

Long term, please upgrade your docker version.

[2021-08-24 09:13] #2843 closed

[2021-08-24 10:17] vishnu-narayanan commented on #2845
Please use the `alpine:3-13` based chatwoot `hotfix-v1.19.0` release as a temporary fix. Upgrade your docker components(docker, runc, and libseccomp) to the latest as a long-term solution.

Future chatwoot releases will be using alpine-3.14 exclusively.

cc: @sojan-official

[2021-08-24 10:17] #2845 closed

[2021-08-24 10:40] muhsin-k commented on #2857
Closing since not able to reproduce the issue

[2021-08-24 10:40] #2857 closed

[2021-08-24 10:46] pranavrajs commented on #2784
- Center align the popup
- Specify bigger height and length of the popout box.

[2021-08-24 10:58] muhsin-k opened #2863 "feat: Custom attributes"
@muhsin-k commented on [Sat Aug 21 2021](https://github.com/chatwoot/product/issues/170)

A custom attribute tracks facts about your contacts/conversation — like the subscription plan, or when they ordered the first item — as opposed to an event, which tracks recurring customer actions.

### Problem

Currently, the [custom attributes](https://www.chatwoot.com/docs/product/channels/live-chat/sdk/se

[2021-08-24 10:59] muhsin-k opened #2864 "feat: Custom attributes route"
@muhsin-k commented on [Sat Aug 21 2021](https://github.com/chatwoot/product/issues/172)

**Steps**
- [ ]  Add  a route called "Attributes" under the settings section
- [ ]  Show a button at top of the page called "Add attribute"

**Design mock**
![Screenshot 2021-08-21 at 11 13 35 AM](https://user-images.githubusercontent.com/12408980/130311909-744c6385-ad95-4bbb-9182-43b5c6d777ee.png)

[2021-08-24 10:59] muhsin-k opened #2865 "feat: Add the ability to edit/delete custom attributes"
- Upon clicking the edit/delete button in the attribute table. The user should be able to edit/delete the attributes

**Note**
- The `attribute_type` and `attribute_model` are not editable

[2021-08-24 10:59] muhsin-k opened #2866 "feat: Add the ability to create a new custom attribute"
- Start once issue #2864  is complete
- On clicking the "Add attribute" button on the attributes page, show a modal for entering the new attribute details.
- Add the ability create a new attribute using `attribute_display_name`,  `attribute_description`, `attribute_display_type` (number, text, currency, percent, link.),  `attribute_model`(conversation_attribute or contact_attribute).
- The `attrib

[2021-08-24 11:00] muhsin-k opened #2867 "chore: Update `deleteCustomAttribute` method in SDK"
**Steps**
- [x] Created separate endpoint for deleting custom attribute (widget/contact/destroy_custom_attributes)
- [x] When invoking `deleteCustomAttribute`, call the destroy_custom_attributes POST API
- [x] Add `contact.updated` event in dashboard for contact real time update

[2021-08-24 11:00] muhsin-k opened #2868 "feat: Render conversation custom attributes in conversation sidebar"
- Option to create a new attribute from the conversation sidebar
- Create a custom attribute component to display the value (Initially support `number`, `text`,`link` and `date`)
- Render all the custom attributes in the UI.
- Option to update/delete the attribute

**Reference**

[Create custom attributes for contact from CRM](https://github.com/chatwoot/chatwoot/pull/2299)

[2021-08-24 11:00] muhsin-k opened #2869 "feat: Custom attribute table"
- Add 2 tabs called `Conversation attributes` and `Contact attributes`
- Add a table under the tabs
- On clicking contact attributes, show the list of all the contact custom attributes in the table
- On clicking conversation attributes, show list all the conversation custom attributes in the table
- Supports pagination and filter
- Show edit/delete button

### Investigation
- [ ] Figure out the ma

[2021-08-24 11:00] muhsin-k opened #2870 "enhancement: Add the field `attribute_description` in the CustomAttribute model"
- Add field `attribute_description` to store a description about contact and conversation

[2021-08-24 12:58] sojan-official commented on #1964
@pranavrajs will spec it out

[2021-08-24 15:13] WaqqaR commented on #1183
docker info:

[code]
docker version:
[code]
Steps:
Im following all the steps in https://www.chatwoot.com/docs/contributing-guide/environment-setup/docker
When I do `docker-compose up` it all seems fine apart from webpack. This is the full error im getting:
[code]
![image](https://user-images.githubusercontent.com/5804896/130642572-45f176f3-6f3e-47cd-be14-e3599491b5f4.png)

[2021-08-24 15:14] tejaswinichile commented on #2823
@sojan-official  If I'm not wrong

We should remove the hardcoded  `type: : account` from the ReportsController other params works fine just have to make sure that it would work with a new filter. And new type `label`

One doubt:
we don't provide a download option for `type: :account`?

[2021-08-24 15:47] #2870 closed

[2021-08-24 16:00] sojan-official commented on #2823
@tejaswinichile  `type:account` When passed to the builder,  a summarized report for all data in account for a specific date range is generated. We don't have a download CSV option for this report since the report would contain the same data as shown in the UI.  ( this API is used in our reports landing page )

<img width="1680" alt="Screenshot 2021-08-24 at 9 24 33 PM" src="https://user-images.gi

[2021-08-24 16:15] pranavrajs commented on #2870
@muhsin-k Don't we need to add it in the APIs?

[2021-08-24 16:51] muhsin-k commented on #2870
@pranavrajs Yes. I missed. I will make separate PR for this

[2021-08-24 19:14] #2722 closed

[2021-08-24 19:34] #2861 closed

[2021-08-25 08:41] #2817 closed

[2021-08-25 10:10] nithindavid opened #2879 "feat: Refactor actions on widget side to support multiple conversations"
**Estimation** - 2
- Currently the store doesn't support multiple conversations. We have started the efforts to refactor the store here -> #2851
- This is a follow up to #2851 to make the actions compatible with the mentioned pull request
- While refactoring make sure to move existing business logic in actions to helpers to keep the store logic clean and simple
- With current reactor we have made

[2021-08-25 11:57] sojan-official commented on #2844
@gj315  Thanks for the information, Could you configure an APM and see where the bottleneck is?
https://www.chatwoot.com/docs/self-hosted/monitoring/apm-and-error-monitoring

If you are open to it we could have one of our engineers take a look at the installation. Please feel free to reach out at `hello@chatwoot.com`

[2021-08-25 12:06] sojan-official commented on #2811
ref: https://discord.com/channels/647412545203994635/647729773723779073/878258089680306258

But I've come to the conclusion that in order to prevent this, maybe reset the cookie in the session, whenever a new setUser value is passed by sdk, instead of merging or updating the current session.
Because in your mentioned case scenario, a shared computer, sometimes yes, the visitor doesn't wait until t

[2021-08-25 12:11] nithindavid opened #2880 "spike: Refactor API on widget side to support multiple conversations"
This needs to be done before  #2879.

Currently the widget API's are made to support a single conversation. eg. the end point `api/v1/widget/messages` creates messages but once multiple conversation comes in we need to specify the conversation.  Other API's that might need changes are listed below

1. getConversation `GET` =>  `/api/v1/widget/messages`
2. updateMessage `PUT` => `/api/v1/widget/mes

[2021-08-25 12:12] sojan-official commented on #2811
note: We will revisit the contact merge action in cases where a contact identifier is already provided.

[2021-08-25 12:23] sojan-official commented on #2880
Let's draft the spec for `api/v2/widget/*`, designed to support multiple conversations, and swap to the new endpoints when other pieces are ready. I think endpoints similar to our client APIs would work.
ref: https://www.chatwoot.com/developers/api#tag/Conversations-API

[2021-08-25 13:41] vishnu-narayanan commented on #1183
@WaqqaR Could you please pull the latest changes from develop, rebuild your images and try again?

[2021-08-25 15:53] sarhugo opened #2882 "Business hours doesn't respect timezone with daylight savings time"
**Describe the bug**

At widget the timezone offset is sent but it doesn't take dst in mind. The problem is that at [widget settings](https://github.com/chatwoot/chatwoot/blob/4a23a393f76f7bc39b791c067bb2fabc51f8fda1/app/views/widgets/show.html.erb#L26) the offset is taken from the timezone itself and it has no context of the current date. Solution should be to get the offset from a current date i

[2021-08-25 17:55] nithindavid opened #2883 "enhancement: Change agent reports filename to include date as report name"
**Estimation** - 1

Currently the agent reports under Reports => Download agent reports (Green button on right top) downloads the reports as CSV. But the file is always `download` which could be changed to include `Date` so that files are distinguishable.

https://stackoverflow.com/questions/7034754/how-to-set-a-file-name-using-window-open

[2021-08-25 17:59] nithindavid opened #2884 "enhancement: No unit for time based graphs on reports page graph"
**Estimation** - 1

On reports page we have sections for First response time and Resolution Time. Which plots a graph with time series on the Y axis. But it mentions no unit for the axis. We need to mention the unit on the axis

<img width="1012" alt="Screenshot 2021-08-25 at 11 27 25 PM" src="https://user-images.githubusercontent.com/1277421/130841683-cffbd1a4-6ee7-4c3c-8ed4-864961e7b22d.png">

[2021-08-26 05:08] tejaswinichile opened #2887 "Display user name in mention email if display_name is not present."
**Describe the bug**

When the user mentions the agent in conversation it sends one email mention_conversation_email where we use display_name of a sender. If display_name is not present for the sender then the email template should display the sender name in the email.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to conversation
2. Click on a private note
3. Mention agent in the conv

[2021-08-26 09:46] #2887 closed, assigned to tejaswinichile

[2021-08-27 05:27] muhsin-k opened #2895 "bug: Selected agent profile picture is not showing in multi-select"
https://user-images.githubusercontent.com/12408980/131073460-971efcd2-42b2-433f-be94-726e7e0f8005.mov

[2021-08-27 13:31] jberenback opened #2898 "[CW-2008] feat: Adding VOIP Integration/Support"
One of the reasons our team is hesitant to consider Chatwoot as we look for something other than Zendesk is the fact we can not support VOIP. Since we are a website that does rely on phone calls (much less than a call center), we need VOIP. If we were to migrate to a new system, all of these items (texting, voice, email, chat etc), would need to be encompassed under one umbrella so that we wouldn'

[2021-08-28 14:52] SanjuSudheerM commented on #2883
@nithindavid I would like to work on this ticket. What would be the expected filename be?

[2021-08-29 05:11] ariaseta opened #2902 "Add new inbox WhatsApp using https://www.360dialog.in $5/mo"
**Is your enhancement request related to a problem? Please describe.**
no

**Describe the solution you'd like**
Add new inbox whatsapp from 360dialog like respond.io or uchat.com.au

**Describe alternatives you've considered**
Right now, only 360dialog who provide API only with reasonable price

**Additional context**

[2021-08-29 14:43] Stephen-Lobo commented on #2609
Any new update on this issue ?

[2021-08-30 04:26] nithindavid opened #2906 "spike: Find efforts to switch to Microsoft fluent icons"
As of now there isn't a straightforward library for vue to use fluent icons.
- We need to see how to use the svg icons. By creating new package or use an existing one
- find how to reduce the bundle size. (Tree shaking)
- efforts to switch to ion icons in existing codebase
- customisation options like color, fill styles

[2021-08-30 05:14] nithindavid commented on #2884
@himanshu007-creator let me where you are stuck

[2021-08-30 05:20] nithindavid commented on #2883
@SanjuSudheerM You could use ‘agent-report-DD-MM-YYY.csv’

[2021-08-30 05:46] vishnu-narayanan commented on #1183
@WaqqaR Thank you for reporting back. Closing this issue for now.

[2021-08-30 05:46] #1183 closed

[2021-08-30 06:02] nithindavid opened #2907 "enhancement: Add support prototyping classes on dashboard"
**Estimation** - 1

Foundation has support for prototyping utility classes. This would let us use classes like `margin-x`, `padding-y` on the dashboard side to make development bit more easy.

**Ref**  https://get.foundation/sites/docs/prototyping-utilities.html

- [ ] Enable prototyping
- [ ] Make sure units on spacing classes matches our existing css variables - https://get.foundation/sites/docs

[2021-08-30 06:24] nithindavid commented on #2052
Duplicate of #2859

[2021-08-30 06:24] #2052 closed

[2021-08-30 06:30] nithindavid opened #2908 "design: Make sections one sidebar collapsible"
The https://github.com/chatwoot/chatwoot/pull/2839 would need a better design on the sidebar and it's header to

- [ ]  make the headers look clickable
- [ ] Collapsible headers
- [ ] Sections should look distinguishable

[2021-08-30 06:46] nithindavid opened #2909 "enhancement: Refactor getters on widget to support multiple conversations"
**Estimation** - 2

**Context**
Currently the getters on widget are suited only for a single conversation. The existing module can be found here `app/javascript/widget/store/modules/conversation/getters.js`. The refactor would make this module to support multiple conversation which is mentioned on the below issues.
https://github.com/chatwoot/chatwoot/issues/2879
https://github.com/chatwoot/chatwo

[2021-08-30 07:25] nithindavid opened #2910 "feat: Vue component with story for conversation list item"
**Estimation** - 1

Expected to create a component which shows a conversation, which is going to be used in a list of conversations.
Would expect props for avatar, agent name, user name, last message, timestamp.
- On hover the arrow on the right is expected turn to `color-woot` and background of card to grey
- Upon clicking it should fire click event with id of conversation
- The date object shoul

[2021-08-30 07:42] pranavrajs commented on #2557
I can confirm this bug.

**Todo:**

- [ ] Remove the active account user from the user model.
- [ ] Deprecate `role` from the user payload.
- [ ] Use roles from accounts array in the response payload.
- [ ] Make changes in the UI to use account role instead of role attribute.

[2021-08-30 08:00] pranavrajs opened #2911 "Use the name of the sender from the mail object"
### Context

Right now, the name of the contact in an email channel is taken from the first part of the email. We need to extract the name of the user from the mail object.

For eg: in the email below, the name of the contact would be saved as Sony (from Sony@chatwoot.com) instead of Sony Mathew.

https://github.com/chatwoot/chatwoot/blob/65f3e83afd9cdf1d5f94a818ab89d5ad50a31d49/spec/fixtures/file

[2021-08-30 08:16] pranavrajs opened #2912 "Outbound conversations should be assigned to person creating the message"
### Context

When a new message is created from the contact side panel, the auto-assignment system assigns the conversation automatically to an available agent. This creates confusion on the agent side as they don't have a context about the conversation.

### Solution

Instead of assigning it to a random person, if a new conversation is initiated by an agent, assign the conversation to the initiat

[2021-08-30 08:40] nithindavid opened #2913 "feat: Change widget intro page to include existing conversations"
Estimation - 2

- Should show loading state when previous conversations are being fetched
- If conversations are there show the below view with conversations.
![image](https://user-images.githubusercontent.com/1277421/131311271-07fa8a9b-aa1f-468c-9552-8003ad14bcad.png)
- Make sure the start conversation footer stays sticky when conversations list is long and scrollable
- If no conversations are th

[2021-08-30 08:52] nithindavid commented on #2907
Need to see how future with tailwind would overlap.

[2021-08-30 09:00] nithindavid opened #2914 "enhancement: Show conversation resolved message on widget"
**TBD**

![image](https://user-images.githubusercontent.com/1277421/131314396-79047f9a-6033-4bf1-8cf4-ea0743bcd363.png)

[2021-08-30 09:05] nithindavid commented on #2860
Figure out how to use cache on frontend side to solve this.

[2021-08-30 09:06] nithindavid opened #2915 "spike: Efforts to bring in tailwind on dashboard"
**Estimation** - 1

- Find the configurations effort needed to add tailwind UI to dashboard
- Since widget already uses tailwind, unify the configurations
- Style changes and tweaks needed on the foundation side, especially with spacing and css variables
- Moving existing color palettes and variables into tailwind
- Strategy to sideline foundation code as much as possible and how to write styles w

[2021-08-30 09:09] nithindavid commented on #2859
rem size differences on dashboard will be a blocker. Move sizes of dashboard to match the sizes on widget first before starting this.

[2021-08-30 12:05] sojan-official commented on #2738
@Brij2027 The issue intends to add support for line messenger in chatwoot so that a business can manage the customer communications in Line using chatwoot.

If you were looking to contribute, We already have an internal effort going on for this. Let me know if you need help finding another issue.

[2021-08-30 12:12] sojan-official commented on #2902
please refer https://github.com/chatwoot/chatwoot/discussions/2759

[2021-08-30 12:12] #2902 closed

[2021-08-30 12:31] himanshu007-creator commented on #2884
https://github.com/chatwoot/chatwoot/blob/3941c6f32ba05dad1bb730b60ed9f111aca38afc/app/javascript/dashboard/i18n/locale/ne/report.json#L10

will it be good to mention here in the description, if i replace <code>Total</code> with <pre>Total <br>(time in Hrs)</pre>

[2021-08-30 12:55] sojan-official opened #2916 "Feat: API to Filter reports by teams"
- [ ] API to Filter reports by teams
- [ ] Update API to accept team information
- [ ] API to download team report
- [ ] Swagger documentation updates

[2021-08-30 12:55] WevrLabs commented on #2913
Before this goes live, I think some points should be addressed first.

This is concerning the stored chat sessions and contacts merging behavior.

Let's draw this scenario first, so that a clear image can be formed.

Suppose we have User A and User B.
Both of them use the same computer to access their accounts (while unlikely, but just to simplify the idea).
User A visits the website, login to the

[2021-08-30 12:58] sojan-official commented on #2913
We are looking into over in https://github.com/chatwoot/chatwoot/issues/2811 :)

[2021-08-30 13:29] sojan-official opened #2917 "feat: Ability to import contacts to chatwoot"
# Acceptance

- [x] API to import contacts: ( already available at : `/api/v1/accounts/:account_id/contacts/import`)
- [ ] Update swagger documentation
- [ ] Import contact button in contacts page
- [ ] Ability to attach a csv in the modal
- [ ] Ability to download a sample csv
- [ ] The uploaded contacts should appear once the import is finished

# Design

## Import button on contacts screen
<img

[2021-08-30 14:09] sojan-official opened #2919 "chore: Ability to use special characters in password"
Problem: When I am signing up for a new chatwoot account, Sometimes the password generated by my password manager isn't accepted by chatwoot which is frustrating.

Cause: Chatwoot uses https://github.com/ValiMail/devise-secure_password for ensuring the password restrictions. The gem has a specific whitelist of allowed special characters.  This needs to be updated to support: https://owasp.org/www-

[2021-08-31 06:05] Vikash-P opened #2923 "Reply all not available"
Team,
Do we have reply all feature

[2021-08-31 08:24] #2866 closed

[2021-08-31 09:04] muhsin-k opened #2925 "feat: Add add/edit/delete APIs for contact/conversation custom attributes"
**Why?**

- To update custom attributes of contact/conversation via API

**Steps**
- Add field `custom_attributes` (type is `jsonb`)  in conversation model
- Add Create/Update APIs
- Migration to add the existing custom attributes to the newly constructed schema objects.
    - Create an in-memory array to save the available custom attribute.

[2021-08-31 09:40] pcitsdev opened #2926 "Migration issue"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behaviour:
1. Clone the project
2. Create db(separate dbs,  if db is already created)
3. Run migration
4. See error

**Screenshots**

![image](https://user-images.githubusercontent.com/70881215/131479410-286f2f90-d7bc-49e5-9aac-de5b9a79725b.png)

after commenting line 39 in app/model

[2021-08-31 09:42] #2646 closed

[2021-08-31 10:00] #2767 closed

[2021-08-31 10:01] sojan-official commented on #2773
https://github.com/chatwoot/chatwoot/pull/2812

[2021-08-31 10:01] #2773 closed

[2021-08-31 10:38] muhsin-k opened #2928 "bug: Show meaningful error message if file upload fails"
Message attachment support the following types -> 'image/png', 'image/jpeg', 'image/gif', 'image/bmp', 'image/tiff', 'application/pdf', 'audio/mpeg', 'video/mp4', 'audio/ogg', 'text/csv. Show proper error message If user try to upload a unsupported formats

**Steps to reproduce**
- Go to a conversation
- Upload `svg` file via drag and drop

**Screenshots**
<img width="1552" alt="Screenshot 2021-08

[2021-08-31 10:40] sojan-official commented on #2926
if it is a new set up please use `rails db:chatwoot_prepare` which is equivalent to `rake db:prepare`. could you link the docs which you followed?  we will update it

[2021-08-31 13:27] sojan-official commented on #2850
ref : https://github.com/fbsamples/original-coast-clothing-ig/issues/1

[2021-08-31 13:36] #2165 closed

[2021-08-31 14:15] #2085 closed

[2021-08-31 14:44] SanjuSudheerM commented on #2883
PR Raised #2931

[2021-08-31 14:59] wilso199 commented on #2895
Hi @muhsin-k are you looking for contributors for this bug? I would be interested in working on it.

[2021-08-31 15:13] SanjuSudheerM commented on #2910
@nithindavid Can I work on this?

[2021-08-31 16:57] muhsin-k commented on #2895
@wilso199 Please feel free to go ahead

[2021-09-01 04:02] rohitsh1691 opened #2940 ""systemctl restart chatwoot.target" command is not working windows wsl : ubuntu20.4"
Is there any alternative command to run all services for chatwoot in wsl.

![image](https://user-images.githubusercontent.com/12787353/131609793-5b95a2b4-8349-468c-9dbc-8db057b7b9ca.png)

[2021-09-01 04:44] Brij2027 commented on #2738
Yes I'm looking for contribution but I'm a newbie so if you can provide me
with some simple issue to deal with that'll be great.Thanks in advance.

On Mon, Aug 30, 2021, 5:36 PM Sojan Jose ***@***.***> wrote:

[2021-09-01 06:21] pranavrajs commented on #2940
@vishnu-narayanan Can you please take a look at this?

[2021-09-01 07:27] #2923 closed

[2021-09-01 08:05] muhsin-k opened #2942 "feat: Add support for rich content messages in new conversation"
The user is able to create a new conversation with a particular contact. Currently, the current message field doesn't support rich content messages. Use the rich content editor used in the message layout here as well.

<img width="600" alt="Screenshot 2021-09-01 at 1 32 36 PM" src="https://user-images.githubusercontent.com/12408980/131635180-4c43c122-bd12-484b-ab5e-5cd1bbd498c0.png">

**Note**
- A

[2021-09-01 08:25] rohitsh1691 commented on #2940
@vishnu-narayanan I am using windows subsystem for Linux and in that command "systemctl" command doesn't work. Is there any way to start all services for the chatwoot from the service command?

[2021-09-01 08:29] pranavrajs commented on #2942
@muhsin-k Please restrict the rich content editor usage based on the inbox channel type.

[2021-09-01 08:43] vishnu-narayanan commented on #2940
WSL does not support `systemd` as of now.

https://github.com/systemd/systemd/issues/8036
https://github.com/Microsoft/WSL/issues/1579

[2021-09-01 08:44] vishnu-narayanan commented on #2940
There are some workarounds to get it working partially. Maybe you could try those.
https://github.com/Microsoft/WSL/issues/1579

[2021-09-01 10:32] dnnzz opened #2943 "404 not found in web widget"
**Describe the bug**

    <script>
      (function(d,t) {
        var BASE_URL="https://MY_HEROKU_APP_NAME.herokuapp.com";
        var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=BASE_URL+"/packs/js/sdk.js";
        s.parentNode.insertBefore(g,s);
        g.onload=function(){
          window.chatwootSDK.run({
            websiteToken: 'NVJGEz15DnE78xDGrWXfp2j7',

[2021-09-01 10:49] dnnzz commented on #2943
Redeployed heroku app and its works like charm idk why.

[2021-09-01 10:49] #2943 closed

[2021-09-01 13:42] #2784 closed

[2021-09-01 18:46] #2746 closed

[2021-09-01 23:04] Sergezdv opened #2947 "Security: CVE-2021-22942"
**Describe the bug**

**To Reproduce**

`bundle exec bundle audit check -v`

[2021-09-02 03:41] pranavrajs commented on #2947
@Sergezdv The `actionpack` is already on the version 6.1.4.1

https://github.com/chatwoot/chatwoot/blob/2ddd508aee8fa18ba86b76c364e4fa7049a372c1/Gemfile.lock#L23-L29

Please feel free to re-open if the issue still exist.

[2021-09-02 03:41] #2947 closed

[2021-09-02 08:49] nithindavid commented on #2915
@pranavrajs @fayazara Please add if you guys find anything other than the mentioned points.

[2021-09-02 09:20] fayazara commented on #2915
- Configure PurgeCSS properly to reduce CSS footprint and file sizes.
- Could use the official [form](https://github.com/tailwindlabs/tailwindcss-forms) plugins, [typography](https://github.com/tailwindlabs/tailwindcss-typography) plugins if necessary, goes very well with tailwindcss classes.

[2021-09-02 09:40] pranavrajs commented on #2915
@fayazara We already have a purge configuration in Tailwind. I guess we could add the dashboard files also to the list. See here

https://github.com/chatwoot/chatwoot/blob/develop/tailwind.config.js#L4

[2021-09-02 11:18] nithindavid commented on #2907
Closing this as we do not see putting more efforts into foundation. Since moving forward we will be switching to tailwind.

[2021-09-02 11:18] #2907 closed

[2021-09-03 07:14] nithindavid opened #2950 "Enhancement: improve sidebar close/open toggle design"
**Estimation** - 1

**Context**
Chatwoot has right sidebars on conversations page and on contact page. This usually has conversations or contact info.

The sidebar can collapsed with button on the right side of page. But the toggle button position and styles are different on contact and conversation page. Also once collapsed we need to go to header to open it again.

**What needs to be done  **
-

[2021-09-03 08:33] fayazara commented on #2816
@sojan-official @tejaswinichile we need to skip sending the Greeting message if the conversation is a tweet, can we handle this in the backend please?

[2021-09-03 10:39] ruben-tss opened #2954 "Sidekick CPU 99% DeserializationError"
**Describe the bug**

This error happens with some emails as for example those one that comes from ionos (hosting provider) when they send us the first email when you create an email account.

When this error happends the CPU reachs 99%, sidekick gets stuck and we need to restart the service.

All the deployment was made under docker.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a

[2021-09-03 12:49] pranavrajs commented on #2954
@ruben-tss Thanks for reporting this. Can you please share the original EML export of the email if possible? You can share it with hello@chatwoot.com. This would help in debugging the issue faster.

[2021-09-03 13:13] ruben-tss commented on #2954
@pranavrajs email sent, thanks for the support! :smile:

[2021-09-03 15:51] sojan-official commented on #2816
@fayazara  it should be a minor change, I will have it updated on your PR

[2021-09-03 16:04] muhsin-k opened #2957 "bug: Expanded reply box is not closing after the message is sent"
**To Reproduce**
- Go to the reply box
- Click the expanded button to open the replybox in a modal
- Compose the message and send

[2021-09-03 17:16] wilso199 commented on #2883
@nithindavid Just a housekeeping note - I think the work for this feature has been complete.

[2021-09-03 18:07] pranavrajs commented on #2957
@muhsin-k we can close the editor by clicking on close button right?

[2021-09-03 18:07] #2883 closed

[2021-09-03 18:07] pranavrajs commented on #2883
@wilso199 Thanks for informing 👍

[2021-09-03 19:09] andrezimpel commented on #1587
This would be very valuable for my customers too!

[2021-09-04 12:28] #2862 closed

[2021-09-04 14:35] mohmmd256 commented on #2818
Hi everyone

So we figured out the cause of this issue.

It was this option in the **Advanced Settings** section of the Facebook app:

<img width="767" alt="Screen Shot 2021-09-04 at 12 23 01 PM" src="https://user-images.githubusercontent.com/7905931/132098086-0d1a0308-8ae3-42e0-a303-c640922b59c9.png">

Once disabled, we were able to link the page immediately and receive messages on Chatwoot.

[2021-09-04 14:35] #2818 closed

[2021-09-04 15:16] sojan-official commented on #2818
@mohmmd256  thanks a lot for documenting this.

[2021-09-04 15:54] sojan-official commented on #2282
Should this be optional?  The sender configured in the campaign might not be online at the time when the campaign was triggered. The round robin gives a better chance for an available agent to pick up that conversation.

[2021-09-04 16:27] sojan-official commented on #1437
We have made additional changes and more SMTP configurations available in our previous releases. Just wanted to see if any of that helps or the issue still exists.

[2021-09-04 16:30] #1450 closed

[2021-09-04 16:30] sojan-official commented on #1450
closing since this was because the environment variable was missing. The id is valid per RFC if the domain value is populated.

[2021-09-05 17:42] leoniscsem opened #2960 "make manual installation documentation available"
**Is your enhancement request related to a problem? Please describe.**
I want to install Chatwoot on an existing machine, where nginx, Postgres, Ruby and Redis are already installed and configured to our needs. I tried to find a clear documentation for a manual setup, but to no avail - I could only find the Bash script for installation.

**Describe the solution you'd like**
The installation proces

[2021-09-05 17:48] sojan-official opened #2961 "chore: Ability to differentiate between tweets and DMs"
## Acceptance

Ability to differentiate between Twitter tweets and messages in a single glance

## Design
### Dashboard
<img width="596" alt="Screenshot 2021-09-05 at 11 15 56 PM" src="https://user-images.githubusercontent.com/73185/132136446-90066ac5-a7f5-4440-8907-294d07d72373.png">

### Icon

svg zip :
[twitter.svg.zip](https://github.com/chatwoot/chatwoot/files/7112076/twitter.svg.zip)

[2021-09-05 17:56] sojan-official commented on #1843
Remaining Tasks

- [ ] Add specs
- [ ] Ensure recieving image attachments works
- [ ] Test & Merge the PR

[2021-09-05 17:59] sojan-official commented on #2738
Remaining Tasks

- [ ] Add specs
- [ ] Test & Merge the PR

[2021-09-05 18:11] sojan-official commented on #2147
will be covered as a part of https://github.com/chatwoot/chatwoot/issues/2306

[2021-09-05 18:11] #2147 closed

[2021-09-05 18:18] sojan-official commented on #1493
@jbg are you still facing this issue?

[2021-09-05 18:36] sojan-official commented on #2489
You could use our keyboard shortcuts to navigate to the next conversation

![Screenshot 2021-09-06 at 12.03.09 AM.png](https://images.zenhubusercontent.com/5d8c823e1165610001736621/1aea9d70-70f4-4d6b-8c2a-24f4df6b56c9)

[2021-09-05 18:38] sojan-official commented on #2527
closed in https://github.com/chatwoot/chatwoot/pull/2516

[2021-09-05 18:38] #2527 closed

[2021-09-05 18:49] #2785 closed

[2021-09-06 02:28] datnguyen293 opened #2966 "feat: Sync conversation history when adding a new channel like Facebook"
**Is your enhancement request related to a problem? Please describe.**
I'm now adding Facebook page and writing code for a new channel for our local messaging provider like Facebook Messenger. When adding new channel, I would like to see the conversation history from that channel so I can use Chatwoot only to continue the works.

**Describe the solution you'd like**
Pulling conversation history. T

[2021-09-06 07:58] WevrLabs opened #2967 "[Bug]: new messages sound alert is not working on widget"
**Describe the bug**

The new messages notification sound appears to be not working on the widget.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to a page where the widget is loaded.
2. Initiate a conversation.
3. Reply to the conversation from agent dashboard.
4. You'll notice as a visitor you don't hear the sound alert for new messages on the widget.

**Environment**

This was observ

[2021-09-06 08:20] sojan-official opened #2968 "feat: ActionCable Events for Agent Notifications"
## Acceptance

At the moment, the chatwoot notification center as well the badge counter on the bottom left doesn't get updated in realtime, We need to implement action cable events for notification creation so that the counters and notification center gets updated in real-time

- [ ] Define Action cable events for notification creation
- [ ] Emit events to action cable of the subscribers of these

[2021-09-06 09:23] pranavrajs commented on #2306
@aswindevps Can you please take a look at this issue? Please raise concerns if you have any.

[2021-09-06 09:28] pranavrajs commented on #2919
@tejaswinichile Can you please take a look at this and see if you have any questions / concerns?

[2021-09-06 10:46] brundles opened #2970 "Chat box does not stay closed after its closed, but instead reappears after page refresh"
**Describe the bug**

If I chat with a customer, and I send a reply to them that they do not see, then this reply will be slightly visible next time they come back. This is super and expected behavior.

However, of the client closes that chatbox because they perhaps understood the message (or just dont care), then the box will re-appear next time the reload the page (or visit other page).

**To Re

[2021-09-06 17:09] tejaswinichile opened #2971 "Enhancement: Restrict Twilio SMS if the message size is>5MB"
Please check: https://support.twilio.com/hc/en-us/articles/360018832773-Twilio-Programmable-SMS-Supported-File-Types-and-Size-Limits-for-MMS-Media-Messages

Twilio supports message content+attachments up to 5MB.

If the message size is > 5MB then it returns the error, currently, we are handling the error but not restricting the user to send the content within the limits.

Refer ticket: https://git

[2021-09-06 18:35] #2311 closed

[2021-09-07 05:42] iamsivin opened #2973 "Enhancement: Update the contact page sidebar with the updated design"
**Present design**

<img width="316" alt="Screenshot 2021-09-07 at 11 09 33 AM" src="https://user-images.githubusercontent.com/64252451/132290138-d0822871-780b-453e-b7f6-f6056fe3d715.png">

**Update with new design**

<img width="328" alt="Screenshot 2021-09-07 at 11 11 20 AM" src="https://user-images.githubusercontent.com/64252451/132290271-0326b434-bc70-4009-8af9-ffcd7210ac0d.png">

[2021-09-07 09:15] muhsin-k commented on #2966
@sojan-official / @tejaswinichile Could you please look into this?

[2021-09-07 10:38] sojan-official opened #2974 "Bug: content_type is nil for new message in webhook events"
ref: https://discord.com/channels/647412545203994635/650257251856285707/884475687170342962

![Chatwoot_content_type](https://user-images.githubusercontent.com/73185/132331038-fc8e3324-ae39-4232-a0b8-79f0869f455c.jpeg)

## Acceptence
- [ ] Ensure content_type can't be null
- [ ] Backfill old data with content_type : 'text' for old messages through a migration

[2021-09-07 12:13] sojan-official commented on #2966
In an API channel, you could create a conversation in `pending` status and backfill the messages in the conversation before toggling the conversation status to `open` and assign it to an agent.

[2021-09-07 12:47] sojan-official commented on #2960
We have some documentation on what's going under the hood.

requirements for the environment: https://www.chatwoot.com/docs/contributing-guide/environment-setup/ubuntu
how an environment can be set up : https://www.chatwoot.com/docs/contributing-guide/project-setup

Though this is more directed towards a contributor standpoint.

[2021-09-07 13:56] datnguyen293 commented on #2966
That's good idea. Can I apply them same strategy for Facebook Messenger?

Thanks

[2021-09-07 17:10] sojan-official commented on #2966
@datnguyen293  for channels like Facebook messenger we have it in our pipeline to sync older conversations on inbox creation using the Facebook conversations API