[2020-12-07 17:09] pranavrajs commented on #1497
@DataTables We don't have that feature right now, but I guess it would be solved by #1475. I'm interested in knowing whether you had a live chat before and you experience lesser conversations now?

[2020-12-07 17:28] pranavrajs commented on #1496
@icjohnson There are 2 concepts, email inboxes and conversation continuity. Hope the following diagram helps you understand it better.

<img width="762" alt="Screenshot 2020-12-07 at 10 50 24 PM" src="https://user-images.githubusercontent.com/2246121/101382999-9b0abf00-38de-11eb-845d-1bb1f52306df.png">

I guess this would answer your question. We don't have documentation on email inboxes as we wer

[2020-12-07 17:30] pranavrajs commented on #1497
@DataTables If you feel #1475 would solve the issue you are having, please close this one. Otherwise please feel free to provide your thoughts.

[2020-12-07 18:19] DataTables commented on #1497
Brilliant, thanks for the fast reply. I agree the other issue covers my feature request. Apologies, I did search before and didn't find it.

Chatwoot is our first chat app, so I've not no other usage to base a comparison on I'm afraid. Having used the client side interface, I don't think it can be down to chatwoot - the clientside interface is intuitive!

[2020-12-07 18:19] #1497 closed

[2020-12-07 18:59] icjohnson commented on #1496
Fantastic - That would be great!

Any help you can provide to help me get this working would be a boon.

Thank You,

Sent from ProtonMail mobile

-------- Original Message --------
On Dec. 7, 2020, 12:28 p.m., Pranav Raj S wrote:

[2020-12-07 19:42] icjohnson commented on #1496
Sorry,

In the conversation continuity diagram below, step 3, when the user hits reply, it is the 'agents email address' that populates the "To:" address in the reply rather than an email address that routes to the ActionMailbox API. If I manually populate the "To:" address to the email of the account that forwards to ActionMailbox the conversation isn't linked (ie can't see the reply chatwoot) ei

[2020-12-07 20:56] pranavrajs commented on #1496
@icjohnson This is happening because your setup is not complete. It would be of the format < reply+{some_random_hex_id}@subdomain.yourdomain.com>. Once the doc is up, you should be able to set it up.

[2020-12-07 21:00] icjohnson commented on #1496
Great - I'll await your doc with great interest...

Thank so very much!

Ian

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Monday, December 7, 2020 3:56 PM, Pranav Raj S <notifications@github.com> wrote:

[2020-12-07 21:36] ktyborowski opened #1498 "yaml key duplication results in not all calls appearing in API docs"
I've noticed that some duplicate keys appear in the swagger paths yaml files. This results in only one of the duplicated calls appearing in the final swagger.json.

Some examples of this:
https://github.com/chatwoot/chatwoot/blob/2880f4942a03a4a4ee40b023d00ae24da99e8ab7/swagger/paths/index.yml#L4-L8

https://github.com/chatwoot/chatwoot/blob/2880f4942a03a4a4ee40b023d00ae24da99e8ab7/swagger/paths/c

[2020-12-08 10:43] KonstantinReido commented on #1480
@pranavrajs I see in DB in table `messages` several records with NULL in `content` column.

[2020-12-08 14:46] vishal-pandey opened #1499 "Conversations loading freeze on Agent Delete"
When we delete Agent who had conversation assigned before, conversations in all tab do not load.

I am attaching the error message from the terminal which we got.

![Screenshot from 2020-12-07 15-11-47](https://user-images.githubusercontent.com/19498820/101498535-3741ce00-3992-11eb-9053-56525b35d253.png)

[2020-12-08 16:41] pranavrajs commented on #1499
@vishal-pandey This is happening because the conversation is not unassigned when the user is removed from the account. We will fix it soon.

[2020-12-08 17:19] #1499 closed

[2020-12-08 17:24] pranavrajs commented on #1480
content can be null if the message is an attachment message. Are you using API Channel?

[2020-12-08 17:28] pranavrajs commented on #1498
@pixpack Thanks for reporting, will take a look.

[2020-12-08 18:36] pixpack commented on #1498
@pranavrajs Cool! I will be working on this a bit myself too. Additionally I will probably add some meaningful examples to the requests and maybe migrate the API docs to Open API 3.0 spec.

[2020-12-08 19:46] pranavrajs commented on #1498
@pixpack Cool! Please feel free to create a PR.

[2020-12-08 20:00] vishal-pandey commented on #1499
Thanks @pranavrajs 🙂

[2020-12-09 19:53] amblerkr commented on #692
I added a Korean translation. Could you add Korean to the site?
https://translate.chatwoot.com/chatwoot/ko

[2020-12-10 09:31] KonstantinReido commented on #1480
@pranavrajs If I got it right, then answer NO :) I just installed Chatwoot some time ago on Heroku and using it with my system via default widget.

[2020-12-10 10:23] pranavrajs commented on #692
@amblerkr Sure will do.

[2020-12-10 19:37] zayn008 commented on #1454
This would be amazing. There are currently no free providers, I think Apple could even sponsor it given how poor the pickup of ABC has been

[2020-12-12 06:38] #1378 closed

[2020-12-13 13:53] fiantinangon commented on #675
Hi wana ask about this issue @sojan-official , is there any API to create agent bot ?

[2020-12-14 02:53] fiantinangon opened #1510 "Can't assign & Get List of Agent bot"
**Describe the bug**

i've created agent bot using rails command,and also I've got the agentbot token but when I trying to get lists agent bot using `/agent_bots` the list is empty

<img width="817" alt="Screen Shot 2020-12-14 at 9 43 34 AM" src="https://user-images.githubusercontent.com/9161278/102034855-9d46af00-3df1-11eb-8fd2-04b50f62964d.png">
<img width="1018" alt="Screen Shot 2020-12-14 at 9

[2020-12-14 06:35] tabrza opened #1511 "Chat window open on page load"
Hello!
We've been experimenting with chatwoot but think maybe users are still not quite geared to using chat widgets as we are not getting many 'bites' through chat. To help test this we were considering having the chat window open on page load to help encourage the user interact with an agent and drive conversions. In mobile view the window would have to remain closed as it would otherwise take o

[2020-12-14 08:09] amblerkr commented on #692
thanks. If Korean is supported, I will promote this service widely.

[2020-12-14 10:05] sojan-official commented on #675
@fiantinangon  At the moment there isn't an API to create agent bots. You have to create them via the rails console.  We are evaluating how to structure the APIs for this.  let us know if you have specific use cases that you would like to have support for.

[2020-12-14 12:10] fiantinangon commented on #675
Thanks, @sojan-official I've opened a discussion on discord and open ticket related to the issue while implementing agent bot #1510

[2020-12-14 16:33] pranavrajs commented on #1511
@tabrza At the moment, it is not possible to auto-open the widget on load. Let me see if there is a simple way to do it. I'll get back on this.

[2020-12-14 16:48] icjohnson commented on #1496
Sorry to bother pranavrajs.  Is there an ETA on this document as of yet?  Thanks!

[2020-12-14 16:49] sojan-official commented on #1510
In the URL you are sending the request you need to change  `:account_id`  and `:inbox_id` to the numeric account id and inbox ids.

[2020-12-14 21:07] fiantinangon commented on #1510
Yes I've set the value through postman param field
<img width="1019" alt="Screen Shot 2020-12-15 at 4 05 28 AM" src="https://user-images.githubusercontent.com/9161278/102135763-03cbdb80-3e8b-11eb-91ba-6af7e7c55aff.png">

[2020-12-15 09:20] pranavrajs opened #1515 "chore: Fix the warning `Redis.exists_returns_integer` will be removed in 5.0."
[code]

[2020-12-15 10:46] iammattmartin commented on #1263
This appears to still be a problem and the same thing happened today. Long tweet reply just vanished. Had to send via Twitter UI.

I would say this needs some focus because long-er tweets just vanish but give the impression they've been sent. They need to fail if they have not been passed to twitter.

[2020-12-15 16:53] sojan-official commented on #1510
@fiantinangon  Could you check the `Rails.env` value of the console and your rails server?  Make sure both of them are the same.
The `GET /agent_bots` doesn't have any conditions associated so its stumps me that the endpoint returns nil even when you have records in the database. Only thing I can think of is the console could be running in `development` environment and rails server in `production`

[2020-12-15 17:21] chethanagopinath commented on #1228
@pranavrajs Thank you so much for your patience and my apologies for being so late. I hope I can still work on the issue. I also had a couple of follow up questions on it -
1) On the `Add label` modal, when I click on the color picker, choose a color, and click anywhere within the `Add Label` modal, but NOT on the color picker, the color picker should disappear and I will be shown the modal. I mad

[2020-12-15 17:53] pranavrajs commented on #978
Moving this to the next milestone as it is not complete.

[2020-12-15 17:55] AwakenTheJaken commented on #1511
I'm not sure if this would help you, but there is a JS function `$chatwoot.toggle()` that you could use on your page load event. As for mobile you might consider doing a check the user agent before toggling the widget. Hope that helps!

[2020-12-15 19:30] sojan-official commented on #692
@amblerkr We have enabled Korean on the latest release. Thanks a lot for the translations. Do let us know if you find something missing :D

[2020-12-16 02:59] amblerkr commented on #692
thanks.
By the way, can I change the front phrase of the chat window? I've changed it a bit more smoothly.
Typically 일반적으로 → 보통

[2020-12-16 03:11] fiantinangon commented on #1510
Thanks @sojan-official I've rechecked and yes the suspect is miss `env` as you thought , This issue has ben resolved thanks

[2020-12-16 03:12] #1510 closed

[2020-12-16 10:00] daghendrik commented on #1496
Also looking for documentation on this. Having trouble getting conversation continuity to work. Using caprover and the latest version (v1.11.0)

[2020-12-16 10:10] daghendrik opened #1521 "Trouble with Enabling IP Logging"
Updated Caprover to the latest version (v.1.11.0). Followed the instructions at https://www.chatwoot.com/docs/self-hosted/enable-ip-logging for enabling IP Logging. Added ENV variables as per documentation

Logged into both worker and web docker instances (caprover) and executed the rails command to set my account id.

Failed on second command (account = Account.find(account_id)):

[code]

Using t

[2020-12-16 11:02] pranavrajs commented on #1521
@daghendrik The account id should the Chatwoot account id. Your URL will be like `<your-installation-url>/app/accounts/<account-id>/dashboard`. I think we need to change the doc to indicate that the account_id is the chatwoot account_id not the Maxmind DB id.

[2020-12-16 11:07] pranavrajs commented on #1496
@icjohnson @daghendrik Sorry for the delay. I will get to the documentation this week.

[2020-12-16 12:12] iammattmartin commented on #1121
As the Geo IP stuff is now added, would be nice to be able to set in the Inbox a list of countries to never generate the widget for. Drop down list and selector would be ideal.

[2020-12-17 02:12] ruruiye commented on #1488
+1 for this feature, searched for a long time. I think user can select the channel name when connect to slack. I have used that feature for other apps.

[2020-12-17 10:17] daghendrik commented on #1521
@pranavrajs Thanks! That makes sense. It worked :-)

[2020-12-17 10:17] #1521 closed

[2020-12-17 12:45] Giszmo opened #1522 "Add href to "initiated from" url"
**Is your enhancement request related to a problem? Please describe.**
Users approach us when surfing different articles on our project and comment on details of those articles. To quote the article, I need to open it myself and not only know the url, so I have to copy the url to get there.

**Describe the solution you'd like**
Please wrap the `Initiated from [url]` with a `href`: `<a href="[url]"

[2020-12-17 13:02] pranavrajs commented on #1522
This is a nice suggestion, we will consider in this sprint.

[2020-12-17 19:49] #1522 closed

[2020-12-17 22:52] Giszmo commented on #1346
Please also look into the color of links in notes.

![Screenshot from 2020-12-17 19-49-26](https://user-images.githubusercontent.com/96378/102553280-68608380-40a1-11eb-891a-f18e76e3a52e.png)

[2020-12-17 23:36] Giszmo opened #1524 "Improve work speed by increasing clickable areas, reducing distances and adding hotkeys"
**Is your enhancement request related to a problem? Please describe.**
When working through conversations labeling them, I don't want to be slowed down by having to hit far apart tiny rectangles with my mouse.

When I click on a conversation - on the left side of the screen, I have to click on the very right side to "Edit" the Labels which I have to do in the center of the screen, hitting tiny rec

[2020-12-18 15:44] pranavrajs opened #1529 "[CW-2862] Fix warning "Overwriting existing method Conversation.open""
[code]

<sub>[CW-2862](https://linear.app/chatwoot/issue/CW-2862/fix-warning-overwriting-existing-method-conversationopen)</sub>

[2020-12-19 16:58] sojan-official commented on #1529
https://github.com/rails/rails/issues/31234

[2020-12-20 06:08] muhsin-k opened #1532 "Fix add agent select placeholder translation"
![error](https://user-images.githubusercontent.com/12408980/102706420-a3e88280-4246-11eb-8f36-edb25e23bdcd.png)

[2020-12-20 06:21] #1532 closed

[2020-12-22 05:53] pranavrajs opened #1537 "Automatic link generation is failing in some cases"
Automatic conversion of links in messages are not working properly in some cases.

### 1. **Message content:** Schedule a call here. https://calendly.com/chatwoot
This works fine.

### 2. **Message content:** Schedule a call here (https://calendly.com/chatwoot)

This breaks and generates a link with a URL `https://calendly.com/chatwoot)`

[2020-12-22 10:41] pranavrajs opened #1539 "Title in the emails are not picking up the account locale"
[code]

[2020-12-22 12:45] pranavrajs opened #1540 "Contacts: Remove beta, update the styles"
- Remove the beta tag from all translation files.
- Use bg-white as the background for contacts tab instead of grey.
- Use animations on sidebar movement.

[2020-12-22 12:53] #1468 closed

[2020-12-22 12:56] pranavrajs commented on #1469
I don't understand the issue here. Closing it as it is not a bug or an enhancement request.

[2020-12-22 12:56] #1469 closed

[2020-12-22 13:01] pranavrajs commented on #769
@sojan-official Closing as this would not be going ahead this. We are collecting full name, company name and email and would keep the flow as it is now.

[2020-12-22 13:01] #769 closed

[2020-12-22 13:05] pranavrajs commented on #945
@iammattmartin I did a couple of research on this, we couldn't a good method to support push on electron shell which built outside of Chatwoot. I'm closing this and we would find a solution for https://github.com/chatwoot/chatwoot/issues/1345 in this sprint.

[2020-12-22 13:05] #945 closed

[2020-12-22 13:11] pranavrajs commented on #1458
@nithindavid Do you have any suggestions for a good audio player?

[2020-12-22 13:19] pranavrajs commented on #628
@muhsin-k Just take a look at this and let me know if you need any more information.

[2020-12-22 13:19] muhsin-k commented on #628
@pranavrajs Sure

[2020-12-22 13:21] pranavrajs commented on #1003
@nithindavid Closing this as I believe this is complete already.

[2020-12-22 13:21] #1003 closed

[2020-12-22 13:23] pranavrajs commented on #978
@nithindavid Please take a look at the https://www.npmjs.com/package/marked package to see if we can make use of this.

Things to note if we are support markdown instead of HTML editor, we would need to see how we can render the content in emails and in the external channels like FB or Twitter.

[2020-12-22 13:26] pranavrajs commented on #1357
@sojan-official Can you please estimate this requirement?

[2020-12-22 13:29] pranavrajs commented on #1248
@Giszmo Can we close this issue? Is it still an issue?

[2020-12-22 15:30] Giszmo commented on #1248
I had left it to you to fix the underlying confusion in the context of this issue but I'm good now, so if you ask me I don't need any further help with this.

[2020-12-22 15:30] #1248 closed

[2020-12-22 16:55] pranavrajs commented on #1489
@sojan-official to provide designs for the notification screen.

[2020-12-22 16:56] pranavrajs commented on #1444
**Contact Attributes**

- Full Name
- Display Name
- Email Address
- Phone number
- Social Profiles
    - Linkedin
    - Facebook
    - Twitter
        - User name
        - Follower Count (Can be used for sort)
        - Following Count (Can be used for sort)
- Location
    - City
    - Country
    - Address (Full text)
- Timezone
- Bio
- Website
- Avatar
- Company (A separate model)

**Custom At

[2020-12-23 06:56] pranavrajs opened #1542 "Canned responses should be available to paste at any point in the chat"
- Canned responses should be available at any point in the chat. Right now, it works only at the start of the conversation
- Allow canned responses in private notes.

[2020-12-23 07:49] SmartManoj opened #1543 "Conversations are not shown if the user is agent"
**Describe the bug**

If he is assigned as Admin, it shows.

**Browser logs**

No logs

**Server logs**

No errors

**Environment** Heroku

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser Edge
 - Version 87

[2020-12-23 07:51] pranavrajs commented on #1543
@SmartManoj Can you please provide a screencast of the bug?

[2020-12-23 08:03] SmartManoj commented on #1543
![image](https://user-images.githubusercontent.com/7231077/102973801-6a07cc80-4523-11eb-88a4-c4806db23e61.png)
Agent screen

[2020-12-23 08:04] pranavrajs commented on #1543
Please add the user to the inbox in Inbox settings. Settings -> Inbox -> Settings -> Collaborators -> Add the agent there.

[2020-12-23 08:05] pranavrajs commented on #1543
@SmartManoj Please close this issue if the above-mentioned step works for you.

[2020-12-23 08:10] SmartManoj commented on #1543
Edited

[2020-12-23 08:15] pranavrajs commented on #1543
Please post the screenshot of "Whatsapp channel settings -> Collaborator tab".

[2020-12-23 08:15] SmartManoj commented on #1543
This Solved

[2020-12-23 08:17] SmartManoj commented on #1543
Then only admins and collaborators should be shown in assign agent field. Right?

[2020-12-23 08:19] pranavrajs commented on #1543
Yeah is it showing the list of all agents irrespective of permissions?

[2020-12-23 09:40] fiantinangon opened #1544 "Report matrix base on label"
**Is your feature request related to a problem? Please describe.**
We have a use case where labels have an important role in business processes, so we need more matrix related to label, for example: how much conversation on label A this month/week, and growth conversation on that label

**Describe the solution you'd like**
Add more matrix related to label data on the report

[2020-12-23 09:42] fiantinangon opened #1545 "feat: Export Contacts"
**Is your feature request related to a problem? Please describe.**
This feature helps the user to download contact data (name/phone/email/etc.) as csv files

**Describe the solution you'd like**
Add download contact button on the contact list

[2020-12-23 09:44] pranavrajs commented on #1544
@fiantinangon There is already an issue on this. Closing this as it is a duplicate of #1217

[2020-12-23 09:44] #1544 closed

[2020-12-23 09:45] pranavrajs commented on #1545
This is a nice suggestion, we have thought about import/export contacts. We will consider this in future releases.

[2020-12-23 12:56] Regerta opened #1546 "[CW-2073] feat: Show Number of Unread Conversation on Page Title"
**Is your feature request related to a problem? Please describe.**
I always open chatwoot on my browser tab but i rarely open it, sometimes i miss messages from my clients (even with push notification enabled).

**Describe the solution you'd like**
- Adding realtime number of unread message or conversations on page title. eg: (15) Chatwoot
  Where (15) is number of current unread messages.

- And

[2020-12-23 14:50] pranavrajs commented on #1546
@Regerta Thanks for the suggestion. This is a nice one! We can bring this in.

[2020-12-23 14:59] sojan-official commented on #1489
#  Notification Center V1 Mocks

## Notification Center page

![Notifications](https://user-images.githubusercontent.com/73185/103009539-ecf94900-455c-11eb-9045-df2dfd3e2b68.png)

## Sidebar States

### pending notifications
![pending notifications](https://user-images.githubusercontent.com/73185/103009552-f1bdfd00-455c-11eb-9cea-3fb2f4fd80a2.png)

### no notifications
![Inactive notifications](ht

[2020-12-24 07:45] pranavrajs opened #1548 "feat: Password less login to Chatwoot"
The system allows the users to login via auth token. The same feature can be extended for a login link. User can request an expiring link for login.

**Acceptance Criteria:**

- On the login screen Chatwoot allows user to request a magic link to be sent to the email
- System sends a link with 5-minute expiry for login.
- User clicks on the link and he is signed in without a password

[2020-12-24 10:30] lgezyxr opened #1549 "Can't receive message on slack side, undefined method `id`"
Hello, I just deployed chatwoot on my k8s cluster. I setup the slack integration but no message came out. I checked the log and it says

Can anyone help me with this error?

[2020-12-24 11:07] lgezyxr commented on #1549
looks like it failed because of slack channel wasn't successfully created.

[e3b3efc6f9beec99342c5b8b8c4ff0ab] Slack::Web::Api::Errors::NameTaken (name_taken):
[e3b3efc6f9beec99342c5b8b8c4ff0ab]
[e3b3efc6f9beec99342c5b8b8c4ff0ab] lib/integrations/slack/channel_builder.rb:25:in `find_or_create_channel'
[e3b3efc6f9beec99342c5b8b8c4ff0ab] lib/integrations/slack/channel_builder.rb:9:in `perform'
[e3b3

[2020-12-24 11:13] pranavrajs commented on #1549
@lgezyxr Do you have a slack channel named #customer-conversations already which is private? Slack integration works with public channels only.

[2020-12-24 11:18] lgezyxr commented on #1549
I have the channel but its public. I've used official chatwoot for test before this deployment and that created one channel for me. I delete the old chatwoot bot and also rename the self-host version chatwoot app to chatwoottest in slack so it won't have conflict.

[2020-12-24 11:24] lgezyxr commented on #1549
I also find that, in the integrate page of webapp, after I click on "slack->connect", it will show an install prompt from slack, and after I click "allow", it will come back to the integrate page and receive a 500 http error from slack.

[2020-12-24 13:23] #800 closed

[2020-12-24 17:12] iammattmartin commented on #953
I can see #800 was closed which adds yesterday etc. Would be nice if we could still customise the formatting instead of the assumption of the US date format.

[2020-12-25 07:45] #731 closed

[2020-12-26 05:48] #1540 closed

[2020-12-26 21:55] mariobrostech opened #1555 "[CW-2490] Add option to delete Chatwoot accounts"
**Is your feature request related to a problem? Please describe.**
Many privacy-conscious users (myself included) wish to delete the accounts they used to register for a service once they're done using it. Also, as part of the European Union's GDPR policies, many users would like to exercise their "right to be forgotten", which provides the user an option to delete their account and all data assoc

[2020-12-27 13:55] pranavrajs commented on #1555
@mariobrostech Thanks for the feedback. We will be getting this as a feature in the next releases. We look forward to building "no questions asked" cancellations as you mentioned and wouldn't want people to contact us for account deletions.

[2020-12-27 13:57] pranavrajs commented on #1549
@lgezyxr It looks like the slack channel is not listed in the API. Is it happening on Chatwoot cloud or your self hosted installation?

[2020-12-27 20:32] diego-vieira opened #1557 "Getting ActionView::Template::Error (Missing host to link...) when trying to update profile"
**Describe the bug**

When saving Account Settings, a 500 error is returned.

**To Reproduce**

Steps to reproduce the behavior:
1. Deploy using Docker with tag v1.11.1
2. Create an account
3. Go to Account Settings
4. Click Update Profile
5. A 500 error is returned.

**Expected behavior**

For the update profile to update.

**Screenshots**

![image](https://user-images.githubusercontent.com/93079

[2020-12-27 20:48] diego-vieira commented on #1557
After setting up SMTP settings it worked.

[2020-12-27 20:48] #1557 closed

[2020-12-28 02:47] lgezyxr commented on #1549
Its my self hosted installation

[2020-12-28 05:43] pranavrajs commented on #1549
@lgezyxr Can you please share the entire logs from the time you try to connect the Slack account -> redirect from slack from auth?

[2020-12-28 05:51] lgezyxr commented on #1549
[code]

[2020-12-28 05:55] lgezyxr commented on #1549
Behind is the log of the kubernetes pod which runs self hosted web server.

[2020-12-28 05:56] pranavrajs commented on #1549
@lgezyxr Looks like there is some issue with the channel name. Can you please delete `#customer-conversations` channels as described here (https://slack.com/intl/en-in/help/articles/213185307-Delete-a-channel) and try again?

[2020-12-28 14:45] SmartManoj opened #1558 "active_storage broken?"
**Describe the bug**

Image not displayed
![image](https://user-images.githubusercontent.com/7231077/103221564-f9a8e300-4948-11eb-9a0f-f61c25cddd58.png)

**To Reproduce**
[Widget link](https://helpfulbalance.co/admin.html)
[Image link](https://helpfulbalancechat2.herokuapp.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBKUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--18a

[2020-12-28 14:48] pranavrajs commented on #1558
@SmartManoj The error is `ActiveStorage::FileNotFoundError (ActiveStorage::FileNotFoundError)`. Heroku would remove temporary folders on restart. You would need to configure a CloudStorage.

https://www.chatwoot.com/docs/configuring-cloud-storage

[2020-12-28 14:50] SmartManoj commented on #1558
Isn't it static file?

[2020-12-28 14:52] SmartManoj commented on #1558
![image](https://user-images.githubusercontent.com/7231077/103222457-5ce74500-494a-11eb-8f96-76627934c5ff.png)
[Here](https://www.chatwoot.com/) how [this image](https://chatwoot-dev.s3.us-west-2.amazonaws.com/variants/69qhlqkdyrcvwoo2fhexoiwbuqlw/cdd62c3c9a6c36a841a33253d25772e57ebf25b24b68dccdb5f7b9bc291c88eb?response-content-disposition=inline%3B%20filename%3D%22logo%20copy.png%22%3B%20filename

[2020-12-28 14:56] pranavrajs commented on #1558
No, it is not. It is taken from the file you uploaded in the Inbox Settings.
<img width="832" alt="Screenshot 2020-12-28 at 8 26 17 PM" src="https://user-images.githubusercontent.com/2246121/103222842-f282d480-494a-11eb-9402-c636482d7610.png">

[2020-12-28 14:56] #1558 closed

[2020-12-28 14:59] SmartManoj commented on #1558
defaults to brand-assets/logo_thumbnail.svg?

[2020-12-28 15:02] SmartManoj commented on #1558
![image](https://user-images.githubusercontent.com/7231077/103223233-c9167880-494b-11eb-98e4-6850431ea673.png)
but twilio has a custom flag

[2020-12-29 02:34] galaxy79 commented on #1119
@pranavrajs is there a plan to integrate Gupshup in future?

[2020-12-29 11:12] converso-chat commented on #1119
Hi! I would agree to hire someone to help with this implementation. Gupshup is excellent. If anyone else is interested we can share and fund this implementation

[2020-12-29 11:14] iammattmartin commented on #1119
They can do work, for a fee:

https://www.chatwoot.com/pricing

You'd need to consider their enterprise pricing though for custom work if you cannot do it yourself or find someone to do it for you.

[2020-12-29 21:33] hiagodotme opened #1564 "It is impossible to identify a contact through conversation"
**Describe the bug**

I am finalizing an integration via API. It happens that when receiving a message sent by the attendant via ChatWoot it is not possible to recover the created contact.

For me to send a reply, I need the value stored in the email property and I can't get this data, not even trying to retrieve the details of the conversation.

**Expected behavior**

I believe I should be able t

[2020-12-29 22:06] #1564 closed

[2020-12-29 22:07] hiagodotme commented on #1564
Sorry, it was a mistake of mine. The information is available at `$.payload.conversation.meta.sender`.

[2020-12-29 23:18] RonWalker22 opened #1565 "Frontend(webpack) not updating in test environment"
**Describe the bug**
Frontend(webpack) is not updating when running chatwoot in test environment.

Even when I restart the servers, changes don't show up. Looks like it took a snapshot of the frontend and won't update.

**To Reproduce**

Steps to reproduce the behavior:
1. follow [this guide](https://github.com/chatwoot/chatwoot/wiki/Cypress-Tests-for-chatwoot) to prepare database and start chatwo

[2020-12-30 08:16] srameshr opened #1566 "Email inbox is disabled in the latest version."
**Describe the bug**

The UI to activate the email inbox is disabled in the latest version of the app hosted on heroku.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '/app/accounts/1/settings/inboxes/new'
2. Click on 'Email'
3. See an interaction error where the UI is disabled with a not supported message above.

**Expected behavior**
 Email should be available as a channel because

[2020-12-30 09:29] sojan-official commented on #1566
@srameshr The email inboxes are intentionally disabled since the feature isn't quite ready for production use. We are internally testing it out in beta, and it should be enabled across installations with in the next two releases.

[2020-12-30 09:29] #1566 closed

[2020-12-30 11:15] pranavrajs commented on #1565
@RonWalker22 I'm not sure whether I understood the problem, can you please provide me with a little bit more context on what you are trying to achieve? Are you trying to write test cases?

[2020-12-30 12:43] RonWalker22 commented on #1565
I have written many cypress tests for chatwoot and they all work fine, as you can see [here](https://vimeo.com/495747621). The only issue is that I have to run the tests in a development environment instead of a test environment.

When I attempt to run the cypress in a test environment the frontend is not updating. So let’s say I add a class to an element, the frontend will recompile but the eleme

[2020-12-30 13:38] hiagodotme commented on #427
I have the same problem = /

[2020-12-30 16:28] Syleron commented on #642
Any update on this?

[2020-12-31 04:00] nithindavid opened #1567 "Fix colors for attachments in private note"
![image](https://user-images.githubusercontent.com/1277421/103393804-c2a21f80-4b4a-11eb-87bd-8a6d7916bd6e.png)

[2020-12-31 04:01] nithindavid opened #1568 "Large file name overflow issue while previewing"
![image](https://user-images.githubusercontent.com/1277421/103393828-e1a0b180-4b4a-11eb-89ac-a8e1c2dee7af.png)

[2020-12-31 22:14] taylanguneyaktas opened #1571 "Chatwoot and whatsapp business api use together"
Hi,
Does anyone use whatsapp business api official with chatwoot  ?

I installed it on my own server, it works /  https://34.65.206.160:9090/

[2021-01-01 09:52] pranavrajs commented on #1571
@taylanguneyaktas At the moment, we don't have the official integration. We would like to build this. If you have official Business API access, we would like to talk to you. Can we connect over a call for more details? Please feel free to schedule a call at https://calendly.com/chatwoot

[2021-01-03 14:40] pranavrajs opened #1576 "feat: Who else is looking at the ticket"
To improve agent collaboration and to avoid agent collision, add an indicator for the agent to see who else is viewing the ticket in addition to who is typing now.

[2021-01-03 14:45] pranavrajs opened #1577 "Avoid Reply box resetting to normal message after sending a private note"
Right now, after a private note is sent to the customer, the reply box resets automatically to normal message behaviour. This creates confusion and agent would send a private note without realizing that the message type is reset to normal message

Acceptance criteria:

- Stay at the same message type even after a message is sent. ie; If the agent has sent a private note, the message type should st

[2021-01-03 14:45] pranavrajs commented on #1576
@nithindavid Please fill in the thoughts you had.

[2021-01-03 14:58] pranavrajs opened #1578 "Use dynamic literals for user name in the activity messages"
Use dynamic literals like `{{userid}}` for user name instead of hardcoded names. This helps when a user changes the name, the updated name would be visible in activity messages.

Related: #423

[2021-01-03 15:01] pranavrajs opened #1579 "Use dynamic literals for label name in activity messages."
Use `{{labelId:labelName}}` instead of the hardcoded string in the activity messages.

Acceptance criteria:

- Label names are dynamic.
- Ability to click on the label name, this would display all the conversations tagged with the label.

[2021-01-03 15:13] pranavrajs opened #1580 "Integrate with Clearbit"
Allow users to connect their Clearbit accounts. When a contact is identified, query Clearbit and store the information about the user.

Acceptance criteria:

- Add Clearbit to the list of integration apps
- Allow users to set a Clearbit token installation wide.
- On contact updated event:
  - If user email is available, Query Clearbit with the email and update `additional_attributes`
- Display att

[2021-01-03 15:14] pranavrajs opened #1581 "Integrate with FullContact"
Allow users to connect their FullContact accounts. When a contact is identified, query FullContact and store the information about the user.

Acceptance criteria:

-  Add FullContact to the list of integration apps
- Allow users to set a FullContact token installation wide.
- On contact updated event:
  - If user email is available, Query FullContact with the email and update additional_attributes

[2021-01-03 15:23] pranavrajs opened #1582 "Snooze a conversation"
Sometimes the agent needs to wait for a couple of days to provide an update to the user. There is no way to move a conversation out of the inbox.

- Provide an option to the agents to snooze a conversation for `x` hours/days, until that time it won't be displayed in the inbox.
- Provide a filter to see snoozed conversations

Alternative available:

- Tag a conversation with a label, this would all

[2021-01-03 15:25] pranavrajs opened #1583 "chore: Improve Conversation Auto resolution job logic"
When we implement the conversation auto resolution job, chatwoot didn't have a mechanism to implement cronjobs, Now that we have `sidekiq-cron` . let's revisit this implementation.

## Current Logic
A single job is enqueued for each conversation to keep track of resolution. It also gets re-enqueued when the conversation is reopened
ref: https://github.com/chatwoot/chatwoot/blob/a2764e5c1dbd65abbf6

[2021-01-03 15:28] pranavrajs opened #1584 "[CW-2863] Rules for auto-resolving"
- Allow admin to set rules for auto resolving a conversation.

Examples for this feature:

- If the last message is from the agent and user has not responded in x days
- If the last message contains a string `yyy` and the medium is Twitter, then auto-resolve in x days.

@sojan-official This is not completely spec-ed out, we would need to have a discussion on the same.

<sub>[CW-2863](https://linea

[2021-01-03 15:31] pranavrajs opened #1585 "Save the state of contact sidebar (open/closed)"
Instead of the default open state, save the last state of the contact sidebar against each user and display the sidebar based on that value.

Acceptance criteria:

- Create a new DB model for each user `UserUISettings` or something similar
- Save the state of contact sidebar in DB
- Load the settings on initial load, display the sidebar based on the flag available.

[2021-01-03 15:36] pranavrajs opened #1586 "Allow minimizing/reordering the sections in contact sidebar"
At the moment, if there is a lot of information about user and conversation, the agent needs to scroll down to see the labels and previous conversations. To avoid this allow the agents to minimize the sections (accordion style) and reorder the position of the sections so that the agents can see relevant info at first glance itself.

- Update the UI to add an accordion for each section of contact s

[2021-01-03 15:41] pranavrajs opened #1587 "Allow admins to configure a section in the contact sidebar to display an iFrame"
If there is an external system which has information about the customer that needs to be displayed to the agent, there should be some sort of integration between the systems. As a first step towards this, we can start with allowing the admins to configure an iframe to be displayed on the sidebar.

- Create a section in settings to configure sidebar widgets
- Allow admins to configure a URL with/wi

[2021-01-03 15:46] pranavrajs opened #1588 "List inboxes available to a particular agent in their settings"
- Add a separate settings page for each agent.
- List the inboxes where the agent has access to.
- Add the UI to provide access inboxes from agent settings.
- Add API to list inboxes accessible to an agent
- Add API to add/remove inbox permission to an agent.

[2021-01-03 15:54] pranavrajs opened #1589 "Autogenerate push notification keys"
Right now, our users have to generate a VAPID key and update in the ENV for the browser notification to work. This is an unnecessary additional step.

- Autogenerate VAPID keys on installation or initial boot. (https://github.com/zaru/webpush#generating-vapid-keys)
- Save the generated VAPID keys to the database and cache it in Redis along with global cache.
- Use it for registering push notificat

[2021-01-03 15:58] pranavrajs opened #1590 "Create a SuperAdmin page for configuring FB/Twitter/Slack apps"
At the moment, the FB/Twitter/Slack apps on self-hosted instances of Chatwoot are configured via environment variables. This is a pain when you want to update the credentials or you need to verify the credentials are correct.

To avoid this,

- Create a DB config for external integrations like FB/Twitter/Slack.
- Allow users to view the credentials in the Super admin page.
- Provide status of the

[2021-01-04 04:01] nithindavid opened #1591 "Change the way mobile notifications are described"
**Current**
- A new conversation ID-34 has been created

**Proposed**
- [New ticket] - Conv-34 has been created in chatwoot
- [Assigned to me] - Conv-34 has been assigned to you
- [New message] - New message in conv -34

**Why**
It's difficult to filter the idea from the notification message as every notif text looks the same.

[2021-01-04 08:21] sojan-official commented on #1579
should be  `{{label:id}}`  ? where we transform the string dynamically and convert it to label name ?

[2021-01-04 09:22] nithindavid opened #1592 "Assign conversation to first responding agent automatically"

[2021-01-04 11:20] vahid-neuralinc opened #1593 "Option to link a custom webpage on the Welcome Screen."
It would be nice if users have option users have an option to link a custom webpage from the welcome screen. This way the users will be able to use the blank space more intelligently e.g. by linking that to a blog, custom landing page, helpdesk or a form etc.

[Currently, it looks like this:](https://drive.google.com/file/d/1EmFRzEq9A4IWDXhtDRrPZrMHYpurm_H7/view?usp=sharing)

[After, it looks like

[2021-01-04 15:03] sojan-official opened #1594 "feat: Make the twitter user avatar clickable"
In the tweet conversations view, We should make the avatar and username clickable

<img width="679" alt="Screenshot 2021-01-04 at 8 23 13 PM" src="https://user-images.githubusercontent.com/73185/103548559-faeb8a00-4ecb-11eb-8438-52e908d311af.png">

[2021-01-04 16:35] randhipp opened #1595 "Manual refresh or changing tab in mobile app required to see new messages / updates"
**Describe the bug**

After Caprover one-click deployment and initial setup, I see new messages but only upon manual refresh or changing tab in mobile app

**To Reproduce**

Steps to reproduce the behavior:

- Take advantage of the 1-click deploy with caprover app
- using tags 1.11.1
- Complete initial setup as per docs and using API webhook
- Access chatwoot dashboard as an agent and view convers

[2021-01-04 18:15] LucasMilhomem opened #1596 "MinIO configuration"
I followed the instructions to configure minIO as object storage and it doesnt work

i've configured chatwoot on docker-compose along side with redis and postgres, now im trying to add minio(i dont know if its the best option as simple object storage) but look like he doesn't use my bucket, i might be missing something in this config, so im trying to use the documentation config like this:

[2021-01-04 18:25] pranavrajs commented on #1596
@LucasMilhomem Thanks for creating the issue, let me try to debug this during this sprint.

[2021-01-04 20:48] vahid-neuralinc opened #1598 "feat: Option to inject custom styles / css"
There should be an option to inject custom style or css so that users can customize look and feel of the chat widget as per their need.

For example:

I want to change

[this, with shadows and rounded corners](https://drive.google.com/file/d/17vO30P6i2T_ZOYfzj77Gg1nRsL94zK90/view?usp=sharing)

to

[this, without shadows and rounded corners](https://drive.google.com/file/d/1JNbkMdZgvOQZ1KD-D97xAFJW

[2021-01-04 20:49] vahid-neuralinc opened #1599 "Option to customize the bot icon or avatar"
There should be an option to customize the bot icon or avatar. Provides better control over the look and feel.

[2021-01-04 22:19] vahid-neuralinc opened #1600 ""We are offline" message is misleading."
In website chat widget > welcome screen > status is shown online as long as agent has:

- The agent has admin panel open in browser

- The agent has mobile app opened

As soon as the agent closes the browser window/tab or the mobile app, the status changes to offline i.e. "We are offline"

This is misleading for the website visitors since the agent might be available but it's just he has closed th

[2021-01-05 03:37] randhipp opened #1601 "Register new user API endpoint in community edition"
**Is your feature request related to a problem? Please describe.**
can't register new user via API, only via web browser.

**Describe the solution you'd like**
I have a saas that register a new user, i would like to register a new user too in chatwoot via API, but it seem impossible now.

I need to have chatwoot account_id in return and saved it on my saas database

**Describe alternatives you've

[2021-01-05 04:36] #1594 closed

[2021-01-05 06:02] randhipp commented on #1053
We proudly integrating chatwoot for multiple whatsapp chat in 1 account at [Wafvel](https://wafvel.com)

- ![image](https://user-images.githubusercontent.com/25372728/103611842-b60c3580-4f55-11eb-9c99-026354bf93bf.png)
- Wafvel help developer to integrating whatsapp chat notification or/and gateway to an app using our API ( 4 team members )

try our services at https://wafvel.com

thanks Chatwoot

[2021-01-05 07:09] sojan-official commented on #1601
https://github.com/chatwoot/chatwoot/pull/1456 will cover this

[2021-01-05 10:12] nithindavid opened #1604 "Chore: Ui sidebar UI improvements"

[2021-01-05 13:36] pranavrajs opened #1606 "Push notification settings are not visible in Firefox."
I cannot see the push notification settings in Firefox. It looks like an issue with CSS.

[2021-01-05 14:37] #1406 closed

[2021-01-05 15:07] nithindavid opened #1607 "feat: Provide a one click copy option to key customer attributes"
![image](https://user-images.githubusercontent.com/1277421/103670623-cd701080-4f9f-11eb-91ef-193b6951dc5c.png)

The email copy icon is always showing, show it only on hover

[2021-01-05 15:07] nithindavid opened #1608 "Change sidebar tag colors"
**Why?**
![image](https://user-images.githubusercontent.com/1277421/103670464-9ac61800-4f9f-11eb-9d78-d73c96bfda8c.png)
 The colors seem out of place with our current palette

[2021-01-05 15:33] pranavrajs commented on #1599
@vahid-neuralinc There is an env variable USE_INBOX_AVATAR_FOR_BOT, you can set it to true to use inbox avatar as the image for bot. Let me know if that fixes your usecase.

[2021-01-05 15:35] pranavrajs commented on #1600
@vahid-neuralinc This should be fixed by #1491

[2021-01-05 15:36] pranavrajs commented on #1600
We will be displaying the online/offline status based on the business hours set by the inbox admin instead of the availability of the user.

[2021-01-05 16:49] iammattmartin commented on #1608
Can you give more detail as to the issue?

The tag colour is set when it is created and can be changed via the GUI (maybe even the API).

[2021-01-05 16:50] iammattmartin commented on #1607
It does always show but changes colour on mouse-over.

What is the issue exactly?

[2021-01-05 16:52] vahid-neuralinc commented on #1599
I see @pranavrajs but I am using the chatwoot cloud solution actually and cloud users cannot use this option.

[2021-01-05 18:28] Christilut commented on #427
Same problem here. Maybe one of my env vars is wrong or missing but I have no way to tell now.

[2021-01-05 18:29] pranavrajs commented on #427
@hiagodotme @Christilut Can you please share logs?

[2021-01-05 18:34] Christilut commented on #427
This is my docker-compose:
[code]

This is the only thing in the docker logs:
[code]

I can't `exec` into the container either because it's permanently restarting

[2021-01-05 19:05] pucilpet commented on #1057
Should probably add underscores_in_headers on; to other deployments as well (I had the same issue on Caprover).

[2021-01-05 19:29] sojan-official commented on #1057
@pranavrajs  we could probably move towards. `api-acess-token` and keep the underscore version as a fallback.
and update the documentation for the same.

[2021-01-05 21:49] WevrLabs commented on #1607
I agree

[2021-01-06 04:47] sorumehta opened #1613 "Websocket support to communicate with mobile apps"
**Is your feature request related to a problem? Please describe.**
Websocket connection with mobile clients, so that they can exchange messages with Chatwoot because they cannot listen to a webhook url

**Describe the solution you'd like**
From what I understand, right now a new message event is notified using a callback to the webhook url only. This works fine for servers, but isn't ideal for mob

[2021-01-06 05:55] pranavrajs commented on #1613
@sorumehta We already support websocket on the mobile app. Mobile apps exchange messages in realtime. Can you please provide a little bit more context on the issue you are facing?

[2021-01-06 05:58] pranavrajs commented on #1608
@nithindavid The label colors are choosen by the user just like the way github label colors work. I don't think matching it to a color palette is feasible one. Closing this for now. Feel free to reopen if you think there is a room for improvement.

[2021-01-06 05:58] #1608 closed

[2021-01-06 06:04] pranavrajs opened #1615 "[CW-2866] chore: Standardise the access token based authentication in Chatwoot"
Underscore headers needs to be turned on in Nginx for our access token to work. This creates confusion around the usage. To overcome this issue,

- let's stick to a standard format of authentication instead of `api_access_token`
- Also Keep the existing attribute as a fallback so that the existing integration won't break

## Acceptance
- [ ] Read the provided references to ensure `Bearer` is the a

[2021-01-06 06:04] pranavrajs commented on #1057
@sojan-official Sure, created an issue here https://github.com/chatwoot/chatwoot/issues/1615

[2021-01-06 06:05] pranavrajs commented on #642
@Syleron @ayushin We will get to this in the next release (v1.13.0)

[2021-01-06 06:07] pranavrajs commented on #1599
@vahid-neuralinc Let me put this as a config for the inbox. 👍

[2021-01-06 06:12] sorumehta commented on #1613
@pranavrajs Oh! I guess I missed it because it wasn't mentioned in the API docs. Can you point me to a resource which can help me understand more on how to send messages to Chatwoot via websocket?

[2021-01-06 07:44] vahid-neuralinc commented on #1599
@pranavrajs that would be great. Thank you very much.

[2021-01-06 08:13] sojan-official commented on #1613
@sorumehta We don't have documentation for this yet. But if you take a look at how the chatwoot dashboard gets updated, you will get an idea.  Chatwoot instance has a WebSocket server open at `ws://localhost:3000/cable.`

Each user in chatwoot has a pubsub token attribute used to subscribe to the updates coming through WebSocket.
So once the user connects to the socket.  He sends a subscribe comma

[2021-01-06 09:56] muhsin-k opened #1616 "chore: Add count and current page in notification API response"
Working on [chatwoot/issues/1489](https://github.com/chatwoot/chatwoot/issues/1489).

API URL —> `<BASE_URL>/api/v1/accounts/:accountId/notifications?page=1`

API Method —> `GET`

- Add the missing details count and current page in the meta object.

[2021-01-06 10:00] muhsin-k opened #1617 "chore: notification unread count API"
Working on [chatwoot/issues/1489](https://github.com/chatwoot/chatwoot/issues/1489).

Make a separate API for returning the notification unread count for showing unread count in the sidebar.

[2021-01-06 11:57] soerenCCC opened #1618 "Redis password not used for the default user, but set in env file"
**Describe the bug**
The Frontend doesn't show up, just a short message that something went wrong.
<img width="571" alt="image" src="https://user-images.githubusercontent.com/45003287/103765252-2762eb80-501d-11eb-857e-43e804f34a5b.png">

The logs show:
[code]

**To Reproduce**

.env file:
[code]

Steps to reproduce the behavior:
docker-compose -f docker-compose.production.yaml build
docker-compose

[2021-01-06 12:26] #1221 closed

[2021-01-06 12:48] pranavrajs commented on #1618
@soerenCCC we will take a look at this

[2021-01-06 16:32] sorumehta opened #1621 "BUG: Cannot create a new account: #<NoMethodError: undefined method `auto_resolve_duration' for #<Account:0x0000559f7dd5b548>>"
**Describe the bug**
While attempting to create a new account, getting the following in logs:
#<NoMethodError: undefined method `auto_resolve_duration' for #<Account:0x0000559f7dd5b548>>

**To Reproduce**

Steps to reproduce the behavior:
1. rails db:reset
2. Go to chatwoot app
3. Fill in signup details
4. Click submit

**Expected behavior**

New account being created

**Screenshots**

If applicab

[2021-01-06 16:33] sorumehta commented on #1613
@sojan-official  Thanks for the explanation.

[2021-01-06 16:33] #1613 closed

[2021-01-06 19:32] pranavrajs commented on #1621
@sorumehta Can you please share the entire logs after you do a db:reset? I could not reproduce this.

[2021-01-06 20:47] milansimek commented on #1099
One thing I noticed is the following:

There are two sets of instructions regarding deploying using docker:

1. https://www.chatwoot.com/docs/deployment/deploy-chatwoot-with-docker
2. https://www.chatwoot.com/docs/installation-guide-docker#production-environment

However, it seems deployment should be done using this docker compose file:

https://github.com/chatwoot/chatwoot/blob/develop/docker-co

[2021-01-07 01:19] vinothmdev commented on #1567
Can I work on this issue?

[2021-01-07 02:14] nithindavid commented on #1567
@vinothmdev Yes 👍 please use same color of text used in the message to  the color the attachment

[2021-01-07 03:58] nithindavid opened #1622 "Update reply box UI to accommodate formatting"
**Why?**
With upcoming formatting toolbar and attachment preview, The reply box needs to revamp it's design.

[2021-01-07 04:12] nithindavid opened #1624 "Fix reply box mode switch after sending message"
**why?**

Reply box switches from note mode to reply after creating a note, which is a confusing UX.

[2021-01-07 04:59] sorumehta commented on #1621
@pranavrajs Its working now for me too. Not sure what happened exactly. But I am closing the issue now. Will let you know if I encounter it again. Thanks

[2021-01-07 04:59] #1621 closed

[2021-01-07 05:27] pranavrajs commented on #1624
Duplicate #1577

[2021-01-07 05:27] #1624 closed

[2021-01-07 08:17] #1357 closed

[2021-01-07 09:34] randhipp commented on #1601
hi @sojan-official im testing new dev server using branch develop with merged feat/platform-apis
what to fill in this permissible_type ?
or i need to to something in super_admin dashboard?

![image](https://user-images.githubusercontent.com/25372728/103876147-e266b400-5105-11eb-89f6-1c452a9419af.png)

![image](https://user-images.githubusercontent.com/25372728/103875868-86039480-5105-11eb-98aa-fe0

[2021-01-07 09:43] sojan-official commented on #1601
@randhipp  from the rails console create a platform app with the following command

[code]

once you have the access token for platform app. you can do the following via the APIs
use this postman collection: https://www.getpostman.com/collections/7e83266e1db9d66ffa31

1.  Create an account
2. Create a User
3. Create an Account User
4. Call Login User API to and authenticate the user to the system

[2021-01-07 09:50] randhipp commented on #1601
@sojan-official Thanks for pointing the right direction for me, just wanna try the possibility to integrating with my app as soon as possible. love the bleeding edge one  :smile: :smile:

[2021-01-08 00:21] gucci-ninja commented on #1568
Hey! Can I work on this?

[2021-01-08 03:00] zayn008 commented on #1454
@sojan-official any update on this? I contacted someone who said they’d be willing to contribute the changes needed but they’re asking for $150. Do you think we could do a mini crowd fund for it? It would be an amazing feature, I could potentially fund it myself

[2021-01-08 05:49] pranavrajs commented on #1568
@gucci-ninja Sure, please feel to take it.

[2021-01-08 05:51] pranavrajs commented on #1454
@zayn008 Do you have access to Apple Business APIs?

[2021-01-08 06:20] nithindavid commented on #1607
The idea was to add the same clipboard icon for phone number also. When two icons comes line by line, it might not look good.
On the other hand my assumption was if the user has the intention of copying the email/phone, they will definitely hover which will show the icon. So from that point user might learn about it.

@iammattmartin @WevrLabs @pranavrajs @sojan-official Let know if this sounds goo

[2021-01-08 07:42] nithindavid opened #1626 "Add character count for reply box new UI"
**How**
- Show characters remaining warning message only when limit reaches 50 characters or less.

<img width="827" alt="Screenshot 2021-01-08 at 1 07 07 PM" src="https://user-images.githubusercontent.com/1277421/103987419-755d2800-51b2-11eb-961e-03a99dc47852.png">

@pranavrajs @sojan-official Any thoughts on the text used ?

[2021-01-08 07:42] nithindavid commented on #1568
@gucci-ninja Sorry for the confusion, I updated the reply-box design, which fixed this issue in #1623. Let me know if you want to take up #1626

[2021-01-08 07:43] nithindavid commented on #1568
Fixed in  #1623

[2021-01-08 07:43] #1568 closed

[2021-01-08 07:49] gucci-ninja commented on #1568
@nithindavid all good, I can take 1626

[2021-01-08 07:49] gucci-ninja commented on #1626
I can work on this

[2021-01-08 08:13] nithindavid commented on #1626
@gucci-ninja Thabks for taking up, please branch out and work on top of #1623 which has the new reply box. Let me know if you need help.

[2021-01-08 09:35] sojan-official commented on #1454
we will have to look into the requirements to qualify as an MSP.

ref: https://register.apple.com/resources/business-chat/BC-GettingStarted.pdf
[code]

[2021-01-08 10:50] sorumehta opened #1627 "Bug: 404 Error in contactInboxCreation API"
**Is your enhancement request related to a problem? Please describe.**
The problem is that currently the API to create a new contact takes in "inbox_id" as a body parameter. And then you cannot use the same email_id again to start a conversation in another inbox of the same account. This is annoying, since each inbox belong to different channel/purpose and same user can belong to multiple inboxes.

[2021-01-08 11:27] sojan-official commented on #1627
@sorumehta  once you have the contact you can create a contact_inbox relationship with other inboxes as well.
https://www.chatwoot.com/developers/api#operation/contactInboxCreation

The intended flow is lookup for the contact using search API first if contact doesn't exist create it
if it already exists you can either start a conversation using one of existing contact inbox source_ids
or create a

[2021-01-08 12:10] sorumehta commented on #1627
@sojan-official Thanks for the quick response! I tried the contactInbox creation API by sending a POST request to
https://app.chatwoot.com/api/v1/accounts/2651/contacts/1111823/contact_inboxes
Where 2651 is my account id and 1111823 is the contact id.

But I got 404- resource not found.

[2021-01-08 15:28] zayn008 commented on #1454
I have a verified business chat account setup and running through JivoChat for now. I'd be happy to grant access/Api keys to you or Sojan for testing purposes as well

Apple's documentation is here: https://developer.apple.com/documentation/businesschatapi

To be honest, having used Business Chat as a provider and a customer, I can say Apple really only cares about the branding. Once that's approv

[2021-01-08 15:33] pucilpet commented on #1627
Actually I am doing this on a self hosted instance and I am getting the 404 error, too.

[2021-01-08 17:26] iammattmartin commented on #1607
I think the icon next to anything that you have the function on is good and with some colour change on mouseover so you know it does something.

In reality, it should be on any data layer that you may need to copy. Email, phone, twitter id etc.

[2021-01-08 18:40] pucilpet opened #1632 "Enhancement: Truncate long messages"
**Is your enhancement request related to a problem? Please describe.**
Some times we get long messages to chatwoot, for example from API. They are too long and take up all of the screen. I mean in the agent view.

**Describe the solution you'd like**
Would be really helpful if long messages were truncated and a button was shown to "read the rest" which would then roll out the complete message.

**

[2021-01-08 19:52] sojan-official commented on #1607
@nithindavid  I think we can go with the idea of having the clipboard option becoming available for all data elements that required to be copied often.

So customer attributes like email, phone, Twitter etc

But for doing this, I believe having the copy icon available on hover will a good direction in terms of UI/UX.

---

# copy icon visible by default
- good for feature discoverability
- with th

[2021-01-08 19:55] sojan-official commented on #1627
let me take a look and get back on this

[2021-01-08 20:16] gucci-ninja commented on #1626
@nithindavid what branch has the new reply box?

[2021-01-08 20:32] nithindavid commented on #1626
@gucci-ninja yes that's the one, there's 'ReplyBox' file, please see the changes in the above branch which had the same character counter, we just need to replicate the same code in new reply box.

[2021-01-08 22:39] gucci-ninja commented on #1626
@nithindavid Sorry for the questions. I don't have any dummy data to work with locally so it's a bit hard to test my changes. Any ideas on what to do?

[2021-01-09 05:11] nithindavid commented on #1626
@gucci-ninja We just need the count of characters inside reply box, SO by default there will be a chat in the local installation after you login, which should be enough to test this feature I guess. If you are stuck let me know, I'll explain in detail.

[2021-01-09 05:25] nithindavid commented on #1632
@pucilpet This is a nice suggestion 👍

[2021-01-09 17:06] taylanguneyaktas commented on #1571
.

[2021-01-09 17:07] taylanguneyaktas commented on #1571
.

[2021-01-09 17:07] #1571 closed

[2021-01-09 21:29] viapratica commented on #1571
We were integrating with an unofficial API, we reached 60% of the project but decided to suspend the investment by the hour. There are some peculiarities of Chatwoot that invibialize the direct integration. You need to create a connector between the API, whether official or not.

[2021-01-09 21:30] viapratica commented on #1571
We were integrating with an unofficial API, we reached 60% of the project but decided to suspend the investment by the hour. There are some peculiarities of Chatwoot that invibialize the direct integration. You need to create a connector between the API, whether official or not.

[2021-01-09 21:40] pranavrajs commented on #1571
@viapratica Anything we can help on this? Are you using the API channel?

[2021-01-10 12:11] taylanguneyaktas commented on #1571
hi,
delete all issue delete , please

[2021-01-10 12:16] taylanguneyaktas commented on #1465
delete all my issues

[2021-01-10 12:25] iammattmartin commented on #1465
Theres no need to do this at all. You can just close them. Please don't rename things that have been already completed. It is destructive.

[2021-01-10 16:02] xinjie-zhang opened #1636 "How to send image message via API?"
https://www.chatwoot.com/developers/api#operation/conversationNewMessage

In this document, I could not find an example to send a message with image. Does anyone know how to do it?

[2021-01-10 17:44] pranavrajs commented on #1636
@xinjie-zhang Can you please try this postman collection? It has a sample on how to upload the file as a message. You would need to use multipart/form-data content and use `attachments[]` attribute to send the file.

https://www.postman.com/collections/050de41bc0ed46e37663

[2021-01-11 02:07] xinjie-zhang commented on #1636
Great! It works. Are there any examples for other content type, like "input_email""cards""input_select""form""article" ?

[2021-01-11 05:14] sorumehta commented on #1627
@sojan-official  are you able to reproduce it at least?

[2021-01-11 06:42] pranavrajs commented on #1636
https://github.com/chatwoot/chatwoot/wiki/Creating-Bot-Messages-Types

Please check this wiki. Closing this as the original issue is solved.

[2021-01-11 06:42] #1636 closed

[2021-01-11 10:23] hartois commented on #1606
You are about this?

Google Chrome:
![image](https://user-images.githubusercontent.com/11641656/104168983-ea796900-540f-11eb-9916-94a4eab639bd.png)

Should I see these settings in self-hosted installation?

[2021-01-11 10:36] hartois commented on #1606
Release: v1.11.1

[2021-01-11 12:03] pranavrajs commented on #1606
@hartois Have you configured the env variables? https://www.chatwoot.com/docs/environment-variables#push-notification

[2021-01-11 12:29] hartois commented on #1606
@pranavrajs Oh thank you! I missed it

[2021-01-11 12:34] hartois opened #1639 "Integrate widget into webpage inline"
Is it possible to integrate the chat widget inside the page, rather than as a pop-up element?

[2021-01-11 13:14] sojan-official commented on #1639
yes, you can trigger the chatwoot widget using

[code]
https://www.chatwoot.com/docs/website-sdk#to-trigger-widget-without-displaying-bubble

Also, you can hide the bubble by default using the following config

[code]

[2021-01-11 13:31] hartois commented on #1639
This is not exactly what I wanted:

![image](https://user-images.githubusercontent.com/11641656/104188371-3507df00-542a-11eb-8578-e1d27a4709c8.png)

I want the chat to be located inside the content as the arrow shows

[2021-01-11 16:35] iammattmartin commented on #1639
Check out #1325 and consider an iframe.

[2021-01-11 18:01] diego-vieira commented on #1566
@sojan-official is there something we can do to help testing?
That’s the only feature that’s preventing me from using chatwoot.

Many thanks

[2021-01-12 06:41] hartois commented on #1639
Thanks

[2021-01-12 06:41] #1639 closed

[2021-01-12 09:10] KonstantinReido commented on #1480
@pranavrajs even after switching on 1.11.1 I still see in Sidekiq failed jobs.

With arguments like this:
`
"contact.updated", {"_aj_serialized"=>"ActiveJob::Serializers::TimeWithZoneSerializer", "value"=>"2021-01-08T11:08:44Z"}, {"contact"=>{"_aj_globalid"=>"gid://chatwoot/Contact/2924"}, "_aj_symbol_keys"=>["contact"]}
`
And error message like this:
`ActiveJob::DeserializationError: Error while

[2021-01-12 09:15] #1604 closed

[2021-01-12 11:08] sojan-official commented on #1480
@KonstantinReido  There are cases where contacts get merged, ie we have a contact with email `abc@xyc.com`. He later starts a new session in another browser window and in the email collect form enter his email.  Chatwoot will merge both the contact records for the same email. But a job scheduled previously might still be in a queue in sidekiq. By the time sidekiq pick up the job, the merged contac

[2021-01-12 15:19] milansimek commented on #1618
@pranavrajs @soerenCCC I encountered the same issue. Seems it's related to the following difference between `docker-compose.yaml` and `docker-compose.production.yaml`:

Development compose:
https://github.com/chatwoot/chatwoot/blob/develop/docker-compose.yaml#L100

Production compose:
https://github.com/chatwoot/chatwoot/blob/develop/docker-compose.production.yaml#L46

Note these two lines missing

[2021-01-13 11:34] #1616 closed

[2021-01-13 11:59] sorumehta commented on #1627
@pranavrajs Are we going to investigate this further?

[2021-01-13 12:36] #1622 closed

[2021-01-13 12:46] pucilpet opened #1645 "feat: Separate webhook calls by inbox"
**Is your feature request related to a problem? Please describe.**
No, it's a feature request.

**Describe the solution you'd like**
I would like to be able to separate the webhook subscriptions by event and/or by channel/folder. So e.g. I would have a separate webhook post for folder 1 and event "message created" and a separate webhook for folder 3 and conversation closed.

**Additional context**

[2021-01-13 13:46] #1626 closed

[2021-01-13 15:00] milansimek opened #1647 "SMTP related environment variables not used in production.rb"
Several variables present in the `.env` file are not being used in `config/environments/production.rb`

See `.env.example`:
https://github.com/chatwoot/chatwoot/blob/develop/.env.example#L51

`SMTP_AUTHENTICATION` and `SMTP_ENABLE_STARTTLS_AUTO` are configurable in this file.

However, in `production.rb` these values are hard-coded:
https://github.com/chatwoot/chatwoot/blob/develop/config/environm

[2021-01-13 15:05] sojan-official commented on #1647
@milansimek  thanks for spotting that. feel free to go ahead.

[2021-01-14 00:38] jcomo commented on #1606
This might not be the same problem as @hartois was having, but I'm not seeing it in Firefox either. I'm using the cloud-hosted version (for good measure, I verified the vapid key is in `window.chatwootConfig`) and Firefox version 84.0.2

I _think_ the issue is in the Safari detection here: https://github.com/chatwoot/chatwoot/blob/develop/app/javascript/dashboard/routes/dashboard/settings/profile/

[2021-01-14 06:31] pranavrajs commented on #1606
@jcomo This is correct. It is the CSS which is breaking here. This was supposed to work only in the Safari browser, I guess the latest Firefox matches it.

[2021-01-14 07:38] josephktcheung opened #1648 "Support location messages from Whatsapp in Chatwoot"
**Is your enhancement request related to a problem? Please describe.**
From https://github.com/chatwoot/chatwoot/blob/dad737021f11f2e56d5d769e7161de55de9cc1fe/app/helpers/file_type_helper.rb#L2-L12, the message builder only supports `:image` and `:file` attachments. I wonder if we can extend the support to other existing file types as listed in `attachment.rb` https://github.com/chatwoot/chatwoot/

[2021-01-14 08:14] pranavrajs commented on #1648
@josephktcheung I don't understand the issue here. We support any type of files. The method above is used for rendering, right now we only support image rendering, rest everything would be displayed as shown below.

<img width="314" alt="Screenshot 2021-01-14 at 1 44 00 PM" src="https://user-images.githubusercontent.com/2246121/104562591-915b4080-566e-11eb-85d8-c6a0e2419f27.png">

[2021-01-14 08:29] josephktcheung commented on #1648
@pranavrajs thanks for quick reply. Let's take location message as an example, I want to create a message with location latitude and longitude just like Facebook location message, how would I do that using the API?

[2021-01-14 08:57] josephktcheung commented on #1648
A bit more context:

We're using Chatwoot's custom API channel https://www.chatwoot.com/docs/channels/api/configure to connect to WhatsApp. We want to forward messages from WhatsApp to Chatwoot using the Rest API, which may contain image, audio, video, file, location messages.

I understand that Chatwoot's UI only supports image rendering https://github.com/chatwoot/chatwoot/blob/develop/app/javas

[2021-01-14 11:14] sorumehta commented on #1627
Okay figured it out. Docs don't say anything about passing inbox_id (although its pretty obvious). Closing the issue

[2021-01-14 11:14] #1627 closed

[2021-01-14 12:12] sojan-official commented on #1627
@sorumehta  thanks for spotting that 🤦‍♂️ . I have raised a PR to fix the docs.

[2021-01-14 15:09] dctmc opened #1651 "Make contacts & conversation isolated in Inboxes"
it's be helpful if contacts and chats will be isolated in inbox/channel.. just operator connected to inbox  can view/share/make conversations

[2021-01-14 16:44] pucilpet opened #1652 "Suggestion: Create a Matrix room for general Chatwoot discussion"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
You could create a room/channel on a public network (matrix.org for example - _easy_) or you can self-host a matrix server (_more control_ but some effort to get started)

**Describe alternatives you've considered**
Your Discord - but it's not FOSS and many people dislike using it.

**Addit

[2021-01-14 17:52] hartois opened #1653 "Conversation without messages"
If conversation does not have messages (created over API) we have JS error in UI

**To Reproduce**

Create conversation, but does not send messages
Open JS console
Open Inbox

Inbox will be empty, error in JS-console

**Expected behavior**

Listing empty conversations

**Screenshots**

![image](https://user-images.githubusercontent.com/11641656/104629056-0861fa80-56aa-11eb-9e0c-475cf7b11e3b.png)
!

[2021-01-14 20:10] sojan-official commented on #1601
@randhipp  this is merged to develop now.

[2021-01-14 20:11] #1601 closed

[2021-01-15 03:00] mooseable opened #1655 "Integration for Microsoft Teams"
**Is your feature request related to a problem? Please describe.**
Not a problem, new feature request

**Describe the solution you'd like**
Exact same as you have integration with Slack, but for the Microsoft Teams platform

**Describe alternatives you've considered**
None

**Additional context**
Pairing this with other feature requests for SSO, tied with with Azure/Microsoft SSO for logins would

[2021-01-15 04:05] sony-mathew commented on #1074
I think it would be better to take this on once we have a rich text editor and we save the content of a message in a conversation as HTML or other rich text formats.

[2021-01-15 06:12] SmartManoj commented on #1093
Creating a separate conversation with a title would be better?

[2021-01-15 09:33] DataTables opened #1658 "Links send from Slack have `<>` surrounding them, making them invalid."
**Describe the bug**

I've got Slack integration setup (with huge thanks to your help on that before!) and have noticed that when sending a message from Slack that contains a link, the link has `<>` characters placed around it. That results in the link having a trailing `>` when auto linked in the chat client making the link invalid.

**To Reproduce**

With Slack integration setup:

1. Start a cha

[2021-01-15 10:02] pranavrajs commented on #1658
I guess this is a duplicate for #1537. I have not seen the issue with Slack, will test it out.

[2021-01-15 10:20] DataTables commented on #1658
Probably yes. Interestingly we do actually use `()` in some of our API doc links - e.g. https://datatables.net/reference/api/draw() . We do allow it to work without the parenthesis as well though - I just point it out as there are valid use cases.

[2021-01-15 10:35] pranavrajs commented on #1658
@DataTables Yeah, that makes sense. We are moving towards Github like markdown based editor, so this should be solved through that.

[2021-01-15 10:38] DataTables commented on #1658
Looking forward to that - I saw the latest commit was related to that.

I think this can probably be closed off as a duplicate then.

[2021-01-15 12:12] joeczucha commented on #1496
I'm having similar issues to @icjohnson, but using Mandrill:

1) The email sent to a user has the FROM address set correctly but the REPLY TO address is the agent's own email address. @pranavrajs mentioned that this was because "your setup is not complete" but I can't find anything in the documentation about what additional steps need to be taken.

2) Manually overriding the email when composing a

[2021-01-15 14:48] kmander commented on #1566
@sojan-official I'm also in the same boat as @diego-vieira – we, unfortunately, can't consider switching to Chatwoot until an email inbox feature is enabled. Happy to be involved in testing this and providing feedback.

[2021-01-15 15:35] pranavrajs commented on #1658
@DataTables Let me test out the slack integration. I will close it afterwards.

[2021-01-15 16:52] srameshr commented on #1566
Amy estimations on when the next release with this feature enabled will be
released?

On Fri, Jan 15, 2021, 8:19 PM Keith Mander <notifications@github.com> wrote:

[2021-01-15 20:35] pranavrajs commented on #1566
@kmander @srameshr We would allow you to test it in the release which is going out tomorrow. We will add instruction for the same.

 #1659 was an ugly piece which has to be resolved before putting it for public beta.

[2021-01-16 12:12] iammattmartin commented on #1652
Or Rocket.Chat. Both options are possible there too.

[2021-01-16 16:42] pranavrajs commented on #1652
@pucilpet This is something we want to explore on, there is a lot of interest going on in Matrix. This wouldn't be prioritized immediately, but it is something I personally like to explore on. If you have some pointers on where to start, it would be nice.

[2021-01-16 16:45] pranavrajs commented on #1655
@mooseable SSO with teams/Gapps/Slack is something we have plans on. Chat integration is something we can think of. We have not received much interest in that integration yet.

[2021-01-16 16:46] pranavrajs commented on #1653
@hartois Any idea how you got a conversation without a message. Do you use API Channel?

[2021-01-16 16:47] pranavrajs commented on #1651
@dctmc Can this be solved with multiple accounts?

[2021-01-16 16:48] pranavrajs commented on #1648
Just updating the title to "Support location messages in Chatwoot"

[2021-01-16 16:49] pranavrajs commented on #1645
@pucilpet Would it help if we give you an option to disable specific events?

[2021-01-16 16:50] pranavrajs commented on #1618
Sounds like the prod docker-compose is not updated. @milansimek Would you mind sending a pull request?

[2021-01-17 01:53] pucilpet commented on #1645
Yes, that would be a good start. 👍

[2021-01-17 01:59] pucilpet commented on #1652
Well it all depends on which route you decide to go for - a self hosted server or a matrix.org room.

If you decide to try the self hosted one and are some what familiar with ansible, that playbook I linked is a super easy way to get started and you can get a basic setup up and running in less than 15 minutes. If and when you are ready to explore it and if you need any help... feel free to ping me

[2021-01-17 17:15] #1617 closed

[2021-01-17 18:45] hartois commented on #1653
@pranavrajs, yes, API Channel.
[code]

[2021-01-17 18:52] pranavrajs commented on #1653
@hartois Sorry, I didn't see `created over API` part, we need to filter out the conversation without messages.

[2021-01-17 18:55] hartois commented on #1653
May be.
But why can't there be a conversation without messages? So to say "preliminary"...

[2021-01-17 18:57] hartois commented on #1653
The controller should not return "null" anyway as an element of the messages array

[2021-01-17 19:10] pranavrajs commented on #1653
@hartois True! I agree.

[2021-01-17 20:36] pranavrajs commented on #866
API for this is merged, will be continuing the work in 1.13.0

[2021-01-17 20:44] pranavrajs commented on #1043
@iammattmartin I have researched about this about a couple of times. The easiest solution is to keep the conversation, but create it in the resolved state by default. Otherwise, we would not be able to maintain the thread.

The second part of the problem is actually solved already.

[2021-01-17 20:44] hartois opened #1664 "Identify contact"
How can I identify in API contact that created when chat started from web widget?
And vice verse - how can I set in web widget contact, that already created from API?

In my case I should use same contact for different channels: web widget and several channels over API.
I would like set own uniq ID (may be uuid) in one channel and use it in other channels.

As I understand it, this will allow me t

[2021-01-17 20:45] pranavrajs commented on #947
The API to delete the message is merged in #1353, the UI would be completed in 1.13.0

[2021-01-17 20:48] hartois commented on #1664
Documentation say that I can set user_id
![image](https://user-images.githubusercontent.com/11641656/104855504-41a2a080-591e-11eb-8472-de533b98d535.png)

But I does not see it in return of API methods "list", "get" and I cannot use it in "search contact".

[2021-01-17 21:02] hartois commented on #1664
Separately, I would like to note that if the setting of a unique user ID in the widget is used, then we should NOT use cookies to identify him. Otherwise, two sessions that we open for in different browser tabs, which we want to identify as different contacts (by ID from the external system) will be used by the backend as one contact.

[2021-01-18 05:50] #1220 closed

[2021-01-18 06:24] hartois commented on #1325
@pcolby, do you have any problem clearing the conversation on page refresh in that using case?

[2021-01-18 08:49] hartois commented on #1325
I realized that I needed what is described in #1237

[2021-01-18 09:15] hartois commented on #1664
I found another serious problem.
If you open two different sites in the same browser, with different widget tokens, the conversation is mixed: a message sent for example by an agent appears in both conversations.
![image](https://user-images.githubusercontent.com/11641656/104894742-210e3100-5986-11eb-86fc-d41b4ed013c0.png)
![image](https://user-images.githubusercontent.com/11641656/104894759-24a1b

[2021-01-18 09:30] pranavrajs commented on #1664
@hartois I didn't understand the issue you mentioned in the last comment. Could you please share a screencast?

[2021-01-18 09:31] pranavrajs commented on #1537
Closed via #1642

[2021-01-18 09:31] #1537 closed

[2021-01-18 09:32] pranavrajs commented on #978
Closed via #1657

[2021-01-18 09:32] #978 closed

[2021-01-18 09:40] sojan-official commented on #1542
the possible use case for canned responses in private notes :

When transferring a conversion across team ( support to engineering ), There is a template which the agent has to fill out for the other team.

[2021-01-18 10:19] hartois commented on #1664
https://user-images.githubusercontent.com/11641656/104902356-b661f300-598f-11eb-828b-fe4aab7f3f2f.mp4

[2021-01-18 10:36] hartois commented on #1664
Hm...
I'm clear cookies on both sites and cannot repeate bug

[2021-01-18 10:46] hartois commented on #1664
Ok, I'm CAN repeate issue.
I check additionally, but it looks like this happens if you run a SetOser with the same identifier.

[2021-01-18 10:51] hartois commented on #1664
@pranavrajs
If we believe that the setUser is establishing a chat session, then when the widget starts, the same conversation should be loaded on different sites. If we believe that this is a user (contact) identifier, then the conversations should be different.

[2021-01-18 11:00] kgdev commented on #1425
In app/builders/contact_builder.rb, we should change

      contact = account.contacts.create!(

to

      contact = account.contacts.find_by(email: contact_attributes[:email])
      contact ||= account.contacts.create!(

[2021-01-18 11:03] soerenCCC commented on #1618
worked for me. thank you!

[2021-01-18 11:14] sojan-official commented on #1425
@kgdev  thanks for looking into this. Equivalent change for this has been committed to develop via https://github.com/chatwoot/chatwoot/commit/13073629bb2412ef6fc0e112485aa70f891f496d

this should be fixed now v1.12.0

[2021-01-18 11:20] sojan-official commented on #1664
@hartois  in release v1.12.0 we have introduced hmac user identity verification for web widgets .

if you pass the contact identifier hash along with other parameters in `setUser` ,  the same conversation will be loaded on different browsers.

ref: https://github.com/chatwoot/chatwoot/blob/develop/docs/channels/identity-validation.md

let us know if this fixes the issue.

[2021-01-18 11:30] hartois commented on #1664
@sojan-official

This is very intresting feature, but in other case I need another: same contact, but different conversations.
In my case this is conversations with two different departments.

Ideally I can define the external unique id of the contact and the external unique id of the conversation.

[2021-01-18 11:34] Rid opened #1666 "1.12.0 Compilation fails"
**Describe the bug**

After updating dependancies running `rake assets:precompile RAILS_ENV=production` produces a compilation failure:

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Clone repo
2. Install depedancies
3. Run `rake assets:precompile RAILS_ENV=production`
4. See error

**Expected behavior**

Compilation to complete successfully

**Server logs**

Accessing the server c

[2021-01-18 11:43] Rid commented on #1666
It seems that `GEM_HOME` and `GEM_PATH` were not properly set, please disregard.

[2021-01-18 11:43] #1666 closed

[2021-01-18 12:04] sojan-official commented on #1664
@hartois  chatwoot doesn't support conversations sharing across channels with email conversation continuity as the only exception.  ie, a conversation created for contact via API won't be shown in the web widget for that contact.

But the agents in your chatwoot installation can see all the conversations associated with that contact in the dashboard

---

I am not sure I fully understand the use c

[2021-01-18 12:19] hartois commented on #1664
I'm updating to v1.12.0

Example:
two sites: site1.com and site2.com each with its own inbox and own websiteToken
One customer who has userCode "id-0001" in my own system.

I start a conversation through a widgets on the sites.
I use setUser with HMAC.

I generate ```hash_hmac ('sha256', $this->**userCode**, $this->**websiteToken**)``` and put it in JS var **hmacCode**.

setUser (**hmacCode**, {na

[2021-01-18 12:25] hartois commented on #1664
@sojan-official
Please tell me if I am not using HMAC correctly or doing something wrong.

[2021-01-18 12:39] hartois commented on #1664
Opening same page, with same hmac_hash passed to setUser in two different browsers

https://user-images.githubusercontent.com/11641656/104916619-612fdc80-59a3-11eb-93a8-5a822286b42c.mp4

[2021-01-18 13:01] hartois commented on #1664
@sojan-official

Another case:
different sites, **same user identifier**, different hmac_hash

First site:
[code]
Second site:
[code]
As administrator I see two different contacts (different emails):
![image](https://user-images.githubusercontent.com/11641656/104918789-53c82180-59a6-11eb-804c-bccf78962dbe.png)
![image](https://user-images.githubusercontent.com/11641656/104918803-588cd580-59a6-11eb

[2021-01-18 14:45] hartois commented on #1237
I'm also need this feature

[2021-01-18 15:34] digitalescapade opened #1667 "Heroku deploy fails (1click button or manually git clone and push)"
Heroku deploy fails each time I try, even if I clone manually git repo and push it to an heroku app.
See (end of) the logs below.
Any idea of workaround ?
![image](https://user-images.githubusercontent.com/65152965/104935122-229e2000-59ab-11eb-8ee3-aa16521337ac.png)

[2021-01-18 15:52] pranavrajs commented on #1667
@digitalescapade We will test it out soon and push a fix if there is an error.

[2021-01-18 15:57] pranavrajs commented on #1658
Closing this as the invalid link issues are fixed. However `<>` still remains. This is probably due to difference in markdown specs. Slack use mrkdwn where we use Common Markdown format

[2021-01-18 15:58] #1658 closed

[2021-01-18 16:00] DataTables commented on #1658
Thank you :-)

[2021-01-18 16:51] sojan-official commented on #1664
@hartois  the hmac identifier is supposed to sent differently : https://github.com/chatwoot/chatwoot/blob/develop/docs/channels/website-sdk.md#identity-validation

[code]

[2021-01-18 17:48] hartois commented on #1664
@pranavrajs where I must set **user_id** on which was generated hmac_hash?

[2021-01-18 17:53] hartois commented on #1664
I'm also try next:

First site:
[code]

Second site:
[code]

Thi is correct?

[2021-01-18 18:13] hartois commented on #1664
@sojan-official
Every time I set same user_id (first arg of setUser) on different sites I got same result - mixed conversation as in screencast

[2021-01-18 18:30] hartois commented on #1664
Screencast with configs from previous comment:
https://user-images.githubusercontent.com/11641656/104951795-445fcd00-59d4-11eb-806e-d55dc4752656.mp4

[2021-01-18 18:45] pranavrajs commented on #1664
@hartois Thanks for the detailed explanation. Let us try to debug, we will get back to you soon.

[2021-01-18 22:55] pucilpet opened #1669 "Bug: API Add Labels does not work with v1.12.0"
**Describe the bug**

When I try to add labels using API, the label is not added.

**To Reproduce**

Steps to reproduce the behavior:
1. Try to add a label with API /api/v1/accounts/{account_id}/conversations/{id}/labels
2. Label is not added
3. I get an empty payload as a result

**Expected behavior**

I expect that a label is added to the conversation.

**Browser logs**

Api returns:

[
{
"paylo

[2021-01-19 02:45] BlueBeN82 commented on #1655
Would love to see that as well.

[2021-01-19 06:07] pranavrajs commented on #1669
@pucilpet Can you please share the request payload?

[2021-01-19 07:14] hartois commented on #1664
I noticed another problem related to this. If the cookie has already been set and we are use setUser with a new user_id, then it looks like not a new contact is being created, but the old one is updated.

Once again I am convinced that when using an external unique user ID, cookies are a bad idea.

[2021-01-19 10:35] pranavrajs opened #1672 "Improve Linux installation flow"
Instead of compiling assets at the user end, generate a compiled version of assets against each release so that user only needs to install Ruby dependencies and do not need to compile the assets at their end.

[2021-01-19 11:17] #1667 closed

[2021-01-19 13:55] kgdev opened #1673 "m.messages may contain null"
**Describe the bug**

vue.common.prod.js:659 TypeError: Cannot read property 'created_at' of null
    at conversations.js:13
    at Array.filter (<anonymous>)
    at o.unreadMessagesCount (conversations.js:11)
    at o.unreadCount (ConversationCard.vue:113)
    at pn.get (vue.common.prod.js:1445)
    at pn.evaluate (vue.common.prod.js:1495)
    at o.unreadCount (vue.common.prod.js:1607)
    at o.h

[2021-01-19 14:20] sojan-official commented on #1673
tracking this in #1653

[2021-01-19 14:20] #1673 closed

[2021-01-19 14:39] pucilpet commented on #1669
Now I got it to working after I sent the payload using --data-raw

--data-raw '{
  "labels": [
    "label1"
  ]
}'

Earlier I was using form/json to send the data but that does not seem to work anymore. So I guess this issue can be closed.

[2021-01-19 14:39] #1669 closed

[2021-01-21 04:35] josephktcheung opened #1678 "Cannot save additional attributes via conversations API"
**Describe the bug**

https://github.com/chatwoot/chatwoot/blob/develop/app/controllers/api/v1/accounts/conversations_controller.rb#L90 sets `additional_attributes` to `params[:additional_attributes]`, however `params[:additional_attributes]` is a `ActionController::Parameters` and not a `Hash`, hence it cannot pass the validation in https://github.com/chatwoot/chatwoot/blob/develop/app/models/con

[2021-01-21 06:00] shadowsberg opened #1679 "Error after clean instalation"
**Describe the bug**

After doing a clean install on Ubuntu 18.04 using the script, I immediately accessed my domain on port 3000 and I only see a message saying We're sorry, but something went wrong.
url chat.konectcoin.com
A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'chat.konectcoin.com'
2. See error

**Expected behavior**

A c

[2021-01-21 06:02] pranavrajs commented on #1679
@shadowsberg Can you please share the logs? You can check whether there is a log file at `log/production.log` or please share the relevant output from `cat /var/syslog`.

[2021-01-21 06:06] shadowsberg commented on #1679
I don't know how to access those logs, those routes don't return anything

[2021-01-21 06:16] shadowsberg commented on #1679
I got this inside the folder log / scout_amp.log

No configuration file loaded, and no configuration found in ENV. For assistance configuring Scout, visit https://$
[01/20/21 23:14:35 -0500 box.konectcoin.com (522)] INFO : Scout Agent [2.6.9] Initialized
[01/20/21 23:14:35 -0500 box.konectcoin.com (522)] INFO : Not Loading Instruments
[01/20/21 23:14:35 -0500 box.konectcoin.com (522)] INFO : Scout

[2021-01-21 07:29] pranavrajs commented on #1679
@shadowsberg This doesn't matter as you are using the self-hosted instance. Can you please share the output of `cat /var/log/syslog`?

[2021-01-21 08:04] pranavrajs opened #1680 "Move activestorage attachments to CDN path"
@sojan-official Please research about moving active storage URL to CDN instead of Rails app.

[2021-01-21 13:06] shadowsberg commented on #1679
Jan 21 07:36:26 box chatwoot-web.1[3231]: I, [2021-01-21T07:36:26.832629 #3231]  INFO -- : [e3578077-a613-4581-b398-1407e866fce6] Started GET "/" for 62.210.10.77 at 2021-$
Jan 21 07:36:26 box chatwoot-web.1[3231]: I, [2021-01-21T07:36:26.835488 #3231]  INFO -- : [e3578077-a613-4581-b398-1407e866fce6] Processing by DashboardController#index a$
Jan 21 07:36:26 box chatwoot-web.1[3231]: I, [2021-01-

[2021-01-21 16:56] shadowsberg commented on #1679
I managed to solve the problem, the issue is that my server was completely clean and the language seems to be affecting, it was in English but I think that the utf-8 was not configured, reconfigure the premises, uninstall postgres and run the script and I'm done , Thanks a lot

[2021-01-21 16:56] #1679 closed

[2021-01-21 19:34] pranavrajs commented on #1591
@sojan-official This seems to be a low hanging fruit, would you be able to take this up soon?

[2021-01-22 13:21] WevrLabs opened #1682 "Identity Verification Badge"
**Is your feature request related to a problem? Please describe.**
We can make use of the HMAC verification feature, by displaying a badge that indicates this session is verified (sample context attached).

## Verified:
![Screen Shot 2021-01-22 at 2 27 29 PM](https://user-images.githubusercontent.com/66124192/105495871-605dba00-5cc5-11eb-88b3-6970dae6f1f7.png)

## Unverified:
![Screen Shot 2021-01

[2021-01-22 14:32] skylide opened #1684 "smtp problem"
Hello, I find that your documentation concerning the smtp configuration is very poorly done. I can't connect to my smtp server.
host: 87.106.20.236
port: 25
tls or ssl
mail: contact@flowhost.fr

by taking the same configuration nothing works?
MAILER_SENDER_EMAIL=contact@flowhost.fr
SMTP_PORT = 25
SMTP_DOMAIN =
# if you are running docker-compose, set SMTP_ADDRESS value as "mailhog",
# else set the

[2021-01-22 14:35] pranavrajs commented on #1684
@skylide Please share the output error log using `cat /var/log/syslog`

[2021-01-22 15:14] skylide commented on #1684
`Jan 22 14:37:33 chatwoot kernel: [    0.000000] Linux version 4.15.0-134-generic (buildd@lgw01-amd64-035) (gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04)) #138-Ubuntu SMP Fri Jan 15 10:52:18 UTC 2021 (Ubuntu 4.15.0-134.138-generic 4.15.18)
Jan 22 14:37:33 chatwoot kernel: [    0.000000] Command line: BOOT_IMAGE=/boot/vmlinuz-4.15.0-134-generic root=UUID=cfadafca-7199-49b1-a353-072629b7fcdf ro co

[2021-01-23 20:14] skylide opened #1686 "blank page when you want to confirm the account by email"
Hello, is it normal to have a blank page when you want to confirm the account by email?

[2021-01-23 20:28] pranavrajs commented on #1686
@skylide Is there any error on the browser console?

[2021-01-23 21:12] skylide commented on #1686
I found the problem. However, I noticed one thing. When you delete an agent already confirmed and want to add it, chatwoot does not send a confirmation email again

[2021-01-24 19:29] #1489 closed

[2021-01-25 08:42] ruruiye commented on #1549
@pranavrajs deleted the channel and retry again, same issue. and I don't think the public change has any problem.

[2021-01-25 14:28] hartois commented on #1493
I'm also need this feature

[2021-01-25 19:05] magnuslo opened #1691 "Norwegian translation option"
I would like to help translating Chatwoot to Norwegian but there is no option for it on [Crowdin](https://translate.chatwoot.com). I would appreciate it if the option could be added. Thanks!

[2021-01-25 19:11] ghost opened #1692 "Support Outgoing Mail Variable Like MAILER_SENDER_NAME Or Something Similar"
**Is your enhancement request related to a problem? Please describe.**
As a user, I would like to be able to configure a from name for system generated emails in the environmental configuration. The [documentation](https://www.chatwoot.com/docs/environment-variables) and default .env file configuration file does not provide a variable for an outgoing from email name, only a from email address (**M

[2021-01-25 19:21] sojan-official commented on #1691
@magnuslo I have added Norwegian. Thanks a lot.

https://translate.chatwoot.com/chatwoot/no

[2021-01-25 19:21] #1691 closed

[2021-01-25 19:23] sojan-official commented on #1686
@skylide  Thanks a lot for reporting this. We have it in our radar. will keep you posted once we have an update.

[2021-01-25 19:38] petrsoudek opened #1693 "Language issue"
Hi, I need to change same little things in app/javascript/widget/.../cs.yml, but when I edit it the widget is still in english. Is this an issue? I tried to change en.yml too, but Widget shows the same all the time. Even if i deleted that language files, nothing happened. So my question is how to change something in language locales.

My code on the website:
[code]
Thanks very much Petr

[2021-01-26 13:24] pranavrajs commented on #1693
@petrsoudek Can you please change the order and try the following?

[code]

[2021-01-26 13:26] pranavrajs commented on #1692
@sudo-create I guess this would be solved by #1485

[2021-01-26 13:32] lybtt opened #1696 "docker production issue"
I run chatwoot with docker, it likes this:

![image](https://user-images.githubusercontent.com/38394058/105851250-c75cd500-601d-11eb-87ec-5a3a78f8a54d.png)

 Now I want to change some words in html, how to make the modified html effective?

![image](https://user-images.githubusercontent.com/38394058/105851357-ee1b0b80-601d-11eb-84dd-8d3cd130ea41.png)

[2021-01-26 14:34] iammattmartin commented on #1696
Why hello?

This is not a message greeting.

[2021-01-26 14:42] lybtt commented on #1696
This is just one example :)

[2021-01-26 14:44] iammattmartin commented on #1696
You'll likely be on your own here but it's not a bug in any case.

[2021-01-26 14:48] lybtt commented on #1696
I'm so sorry,  I used the template and forgot to change the label.

[2021-01-26 14:56] iammattmartin opened #1697 "Make formatting buttons on/off and retained."
**Is your enhancement request related to a problem? Please describe.**
Current formatting options are only shown when you click on the icon.

**Describe the solution you'd like**
It would be better to always show formatting so that each option is one click away. I personally wondered where they were after upgrade until I clicked on the non-descript button that looked like a quote more than somethi

[2021-01-26 14:58] iammattmartin commented on #1697
Just as a side comment. Some of the options shouldn't show when they're not supported i.e WhatsApp.

That only supports limited formatting such as **bold**, _italic_, underline, ~strikethrough~ and <pre>pre<pre>.

[2021-01-26 15:01] iammattmartin commented on #1696
Worth closing if you've sorted it then.

[2021-01-26 15:26] dejavoodooo opened #1698 "channel avatar random file error"
**Describe the bug**

The channel avatar uploaded to app loses file reference after some period of time.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to inboxes
2. Click on settings for inbox
3. Upload image for channel avatar

**Expected behavior**

File should remain accessible to chatwoot and chatwoot widget.

**Screenshots**

If applicable, add screenshots to help explain your pro

[2021-01-26 17:13] sojan-official commented on #1698
@dejavoodooo  have you configured a cloud storage provider?
https://www.chatwoot.com/docs/configuring-cloud-storage

[2021-01-26 17:22] dejavoodooo commented on #1698
I did not realize this was required.

[2021-01-26 17:23] dejavoodooo commented on #1698
The file uploads and works for a short period of time then gets lost. I'm assuming local fs does not persist?

[2021-01-26 17:31] sojan-official commented on #1698
@dejavoodooo  yep that's correct. The Heroku filesystem is ephemeral

https://help.heroku.com/K1PPS2WM/why-are-my-file-uploads-missing-deleted

We are working on improving our onboarding so that this is communicated.

[2021-01-26 17:36] dejavoodooo commented on #1698
Firs time using Heroku. Thank you for this! Sorry for the trouble.

[2021-01-26 17:36] #1698 closed

[2021-01-26 18:34] #423 closed

[2021-01-27 10:59] ilovebamboo opened #1700 "Investigate memory issues during compilation"
**Describe the bug**
We're sorry, but something went wrong.
If you are the application owner check the logs for more informatio

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercont

[2021-01-27 13:11] sojan-official commented on #1700
@ilovebamboo Could you provide us with the configuration of your server ?
how much memory is available on the machine ?

[2021-01-27 13:17] ilovebamboo commented on #1700
1gb 1ram Ubuntu 18.04.1 LTS
![image](https://user-images.githubusercontent.com/6214084/105996305-1ae62600-60e5-11eb-9a48-7a19b41f9eb9.png)

[2021-01-27 13:18] ilovebamboo commented on #1700
http://101.33.33.91:3000/installation/onboarding

[2021-01-27 13:45] sojan-official commented on #1700
@ilovebamboo  its seems we are experiencing an asset build failure in machines with less memory in our latest version. we are looking into this.

But you could try building on a machine with 2-4 gb memory meanwhile.

[2021-01-27 21:56] iammattmartin commented on #1700
Or just adding a swap if virtual memory is 1GB or less.

[2021-01-27 22:53] orlando opened #1702 "Cannot run migrations due error"
**Describe the bug**

On a new installation, when running `rails db:migrate` it fails with the following error.

**To Reproduce**

Steps to reproduce the behavior:
1. On a new installation, run `rails db:migrate`

**Expected behavior**

Migrations should finish on a new database without errors.

**Screenshots**

If applicable, add screenshots to help explain your problem.

**Browser logs**

Share

[2021-01-28 05:06] sojan-official commented on #1702
@orlando if its a fresh installation.  please use `rake task db:chatwoot_prepare` instead of the `rake db:migrate` .
running migrations all the way from the start might have error since the underlying data models would have changed in the latest versions of code.

if the issue is happening while upgrading from an older version to a newer one, do let us know.

[2021-01-28 20:41] orlando commented on #1702
Hey @sojan-official

Great! Looks like this command did the trick. I think we should add this information to the Docker setup page. Here's a PR for that in case you want to merge it.

https://github.com/chatwoot/docs/pull/1

Thanks!

[2021-01-28 23:44] masdeval commented on #1615
Hi. I have been working for two days trying to solve an error I believe is related to token authenticity.

I configured a WhatsApp inbox bounded with Twilio. On my side the error is in Twilio::CallBackController :

[code]
In the Twilio platform the message is:

`Error 11200: There was a failure attempting to retrieve the contents of this URL.
`
Probably because my callback is returning 404.

I hav

[2021-01-29 11:39] pranavrajs commented on #1702
Closing as https://github.com/chatwoot/docs/pull/1 is merged.

[2021-01-29 11:39] #1702 closed

[2021-01-29 15:20] srameshr opened #1704 "postgres:5432 - no response Self hosted Docker"
**Describe the bug**

Running ```docker-compose run --rm rails bundle exec rails db:reset``` fails with the following logs.

[code]
**To Reproduce**

Steps to reproduce the behavior:
1. Follow the steps here in a a fresh folder: https://www.chatwoot.com/docs/installation-guide-docker

**Expected behavior**

The app should be accessible at localhost:3000

**Screenshots**

NA
**Browser logs**
NA

**

[2021-01-29 16:18] srameshr opened #1705 "Cant access 0.0.0.0:3000"
**Describe the bug**

Cant access 0.0.0.0:3000 after running ```docker-compose up```

**To Reproduce**

Steps to reproduce the behavior:
1. Follow docker dev guide here: https://www.chatwoot.com/docs/installation-guide-docker

**Expected behavior**

0.0.0.0:3000 should be accessible

**Screenshots**

N/A

**Browser logs**

N/A

**Server logs**

[code]
**Environment**

Self-hosted docker on MacOS

[2021-01-29 18:05] srameshr opened #1706 "terminated by SIGTERM - foreman"
**Describe the bug**

Project setup errors. Running ```foreman start -f Procfile.dev``` fails

**To Reproduce**
1. Followed all the steps in Installing for Mac and Quick Project setup.

**Expected behavior**

**Screenshots**

NA
**Browser logs**

NA
**Server logs**

[code]
**Environment**

MacOSX Mojave. Non docker env setup.

**Desktop (please complete the following information):**
 - OS: [e.g. i

[2021-01-29 18:15] whande1992 opened #1707 "Delete contacts"
**Is your enhancement request related to a problem? Please describe.**
Over time, the registrations become more and more
 getting polluted, it's bad to manage, you need an option to exclude.

**Describe the solution you'd like**
Have an option in the contact register that allows you to delete it, and also allow the exclusion by the API.

[2021-01-29 19:37] srameshr commented on #1566
@pranavrajs Can we do it?

[2021-01-29 21:29] ilyakonovalenko opened #1708 "Twitter authorization does not work"
I have configured .env file for Twitter according to the documentation.
However, after clicking on "Sign in with Twitter" an error occurred: "We're sorry, but something went wrong.
If you are the application owner check the logs for more information."

However, no logs are written for the issue. API keys are for sure active and environment is created for the app. So where to look?

**To Reproduce*

[2021-01-29 21:40] masdeval opened #1709 "Twilio::CallbackController:create not found"
**Describe the bug**

I have configured a WhatsApp inbox bounded to Twilio. On my server, the error is in Twilio::CallbackController :

[code]
In the Twilio platform the message is:

    `Error 11200: There was a failure attempting to retrieve the contents of this URL.

`
The address of my installation is masdeval.ddns.net:3000.
The callback I am using is http://masdeval.ddns.net:3000/twilio/callb

[2021-01-30 06:40] ilyakonovalenko commented on #1707
You can just delete email from the contact data, contact will disappear from the list then.

[2021-01-30 11:12] pranavrajs commented on #1708
@ilyakonovalenko do you have access to Twitter business APIs?

[2021-01-30 11:15] pranavrajs commented on #1709
@masdeval Can you please run `::Channel::TwilioSms.all` in rails console and see if you have Twilio Channel registered correctly. Incoming `account_sid` and `phone_number` has to match, otherwise, a 404 will be returned.

[2021-01-30 11:16] pranavrajs commented on #1706
Please provide a valid REDIS_URL `Redis::CannotConnectError: Error connecting to Redis on redis:6379`

[2021-01-30 11:18] pranavrajs commented on #1705
`An unexpected error occurred: "https://registry.yarnpkg.com/date-fns/-/date-fns-2.16.1.tgz: ESOCKETTIMEDOUT"` This seems to be a network issue. @srameshr Is there any firewall restrictions?

[2021-01-30 11:20] pranavrajs commented on #1697
https://faq.whatsapp.com/general/chats/how-to-format-your-messages/?lang=en
Facebook also supports a code block in addition to those four.
https://www.facebook.com/help/147348452522644

@iammattmartin I believe we had disabled formatting for non-website/email channels. If it is still available, then it is a bug.

This can be saved in the db against a user. If you have turned it on, then we can kee

[2021-01-30 11:26] ilyakonovalenko commented on #1708
@pranavrajs Can you please let me know how and where to check it? I just followed your instruction to create app and environment.

[2021-01-30 11:42] pranavrajs commented on #1708
Please follow this guide https://www.chatwoot.com/docs/twitter-app-setup

[2021-01-30 12:15] amitpatelx opened #1710 "Bug: Text overlaps in conversation area"
**Describe the bug**

Time of the message overlaps in conversation area with channel name

**To Reproduce**

Steps to reproduce the behavior:
1. Send a conversation through any channel
2. Visit Dashboard immediately
3. Check the conversation area

**Expected behavior**

Text should not be overlap. Instead of `less than a minute ago` may be we can use `just now`

**Screenshots**

![Chatwoot](https:

[2021-01-30 12:33] pranavrajs opened #1711 "Change the notification text for mention notification type."
Right now, the notification text for mention is `You have been mentioned in the #[conversation-id] by [user.name]`. Change this to the actual message.

Format: `[#<conversation-id>] <actual-message-content>`

eg: `[#34] This seems like a bug. @sojan-official can you please take a look?`

[2021-01-30 13:42] ilyakonovalenko commented on #1708
@pranavrajs As stated already that is whay I followed. Account Activity API is active for the environment as well.

[2021-01-31 07:35] #1480 closed

[2021-01-31 09:22] Jiiniasu opened #1714 "Agent Name cannot be shorter than 4 characters if edited by Admin"
**Describe the bug**

Admins cannot set Agent Name to anything shorter than 4 characters on users while the users themselves do not have this restriction when editing Full Name.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to **Settings**
2. Add an agent or edit an existing agent
3. Enter an **Agent Name** shorter than 4 characters
4. See Agent Name field light up in red and the Edit/

[2021-01-31 10:54] ilovebamboo commented on #1700
http://101.32.180.94:3000/installation/onboarding
![image](https://user-images.githubusercontent.com/6214084/106381693-93a2f600-63f5-11eb-815c-f53ab00333f4.png)
 Same result

[2021-01-31 13:49] ilovebamboo commented on #1700
I have succeeded,the applation minimal needs CPU:2Core RAM:2G.

[2021-01-31 15:41] #1395 closed

[2021-01-31 16:14] #1696 closed

[2021-01-31 16:17] #1705 closed

[2021-01-31 16:17] #1706 closed

[2021-01-31 16:56] sojan-official commented on #1700
@ilovebamboo  thanks for reporting back :)

[2021-02-01 05:30] amitpatelx opened #1715 "Question: Patterns / Practices to enhance chatwoot without modifying it"
I have a scenario where customers are onboard in multiple steps. I want to keep what chatwoot is giving as is and don't want to litter with the custom MVC thing on top of it.

What best practices/patterns are you using/proposing for such scenario?

Can we use chatwoot as engine to the host application(app with custom onboarding steps)? If so, any challenges you faced/envision like webpacker integr

[2021-02-01 06:20] #1715 closed

[2021-02-01 14:33] karthik-sivadas commented on #1714
@pranavrajs I would like to take the task. In my opinion, the validation in the agent edit and add form seems correct. Should I add validation in the user's profile setting with `minLenght(4)` or should I reduce the length in agent forms?

[2021-02-01 14:34] pranavrajs commented on #1714
@karthik-sivadas yes, that is correct.

[2021-02-01 15:39] ahmlouati opened #1717 "Deployment on clevercloud"
**Describe the bug**
Deployment failed on clevercloud

**Server logs**

Compiling...
2021-02-01T15:47:34+01:00 warn - The `conservative` purge mode will be removed in Tailwind 2.0.
2021-02-01T15:47:34+01:00 Compilation failed:
2021-02-01T15:47:34+01:00 from line 305 of node_modules/foundation-sites/scss/components/_button.scss, in mixin `foundation-button`
2021-02-01T15:47:34+01:00 on line 78 of n

[2021-02-01 15:54] pranavrajs commented on #1717
@ahmlouati What is the server RAM and CPU you are trying to use?

[2021-02-01 15:54] Nirva-Software opened #1718 "ChatWoot crashes : Segmentation faults on 1.12.2"
Hello,

We have a self-hosted installation using the docker image (1.12.2) + postgresql + redis

We are not able to reproduce the issues but the server has crashed recently:

* [2021-01-31T22:42:11.249647 #1]  INFO -- : RoomChannel#update_presence
/gems/ruby/2.7.0/gems/concurrent-ruby-1.1.7/lib/concurrent-ruby/concurrent/synchronization/abstract_lockable_object.rb:37: [BUG] Segmentation fault at 0

[2021-02-01 16:01] pranavrajs commented on #1718
@Nirva-Software This is not a known issue. A quick search shows the following similar results. We would have to look deeper.

1. https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=966653
2. https://github.com/bigcommerce/gruf/issues/94#issuecomment-589721841

cc: @sojan-official

[2021-02-01 18:13] Jiiniasu commented on #1714
Question: Why are you **adding** a 4 character minimum requirement for the names?
What practical use has this feature got other than giving me and other people with short names grief?

[2021-02-01 18:22] sojan-official commented on #1714
@Jiiniasu The number `4` was arbitrary, I think inspired by the character limit for usernames placed by services like Twitter.
The key here for us is to have consistent validation across both the forms and also ensure that the validation will force the end-user to input a meaningful string.

Do you have any recommendations in terms of character limits? does making the minimum requirement to 2 char

[2021-02-01 18:27] Jiiniasu commented on #1714
Wouldn't the minimum of _one_ character make sense?
Without too much knowledge about names in languages such as chinese, japanese etc. I'd bet that single-character names isn't impossible.

[2021-02-01 19:06] masdeval commented on #1709
It's returning an empty brackets => []

[2021-02-01 19:10] pranavrajs commented on #1709
You have to create an inbox as described here https://www.chatwoot.com/docs/channels/whatsapp-sms-twilio

[2021-02-01 19:14] masdeval commented on #1709
I have done this already. You can have access to my installation at HTTP://masdeval.ddns.net:3000

[2021-02-01 19:16] masdeval commented on #1709
Please, to login, use masdeval@yahoo.com.br and the default password

[2021-02-01 19:20] pranavrajs commented on #1709
@masdeval deleted the last comment as it has login credential.

[2021-02-01 19:44] #1707 closed

[2021-02-01 19:51] #1717 closed

[2021-02-01 19:51] ahmlouati commented on #1717
It was a memory problem parnav :) Thanks for your support

[2021-02-02 14:43] hstanev opened #1721 "Dynamic control of bubble visibility at runtime"
Sometimes it comes handy to be able to hide/show the bubble depending on runtime conditions e.g. some modal dialog is shown thus hide the bubble. Another example would be having a dedicated button for toggling the widget at certain states of the app.

An idea would be adding to the sdk  something like window.$chatwoot.showBubble() , window.$chatwoot.hideBubble() as well as
a window.$chatwoot.bubbl

[2021-02-02 15:50] srameshr opened #1722 "Provide in detail documentation on the ideal AWS hosting architecture + services for self hosted Chatwoot"
**Is your enhancement request related to a problem? Please describe.**
I would love a tutorial on how and what different AWS services do I use and how do I connect them all for a self-hosted Chatwoot for internal user. Im sure the team would have hosted many instances on AWS but not documented it for public use.

**Describe the solution you'd like**
Documentation or tutorials.

**Describe alternat

[2021-02-02 16:38] pranavrajs commented on #1722
@srameshr Do you have a preference over hosting on raw Linux EC2 instance vs Docker? We can set up a tutorial using AWS soon.

[2021-02-02 18:01] srameshr commented on #1722
@pranavrajs I would and I believe most people would prefer something like using a combination of AWS resources to host the app.
For example,
1.using AWS Managed Aurora to host the PostgresDB.
2. Using Elasticache for reddit
3. Nonpersistent scalable servers EBS for the app api.
4. Connecting all of the pieces etc

Or if you think docker is the best way to host scalable Chatwoot on AWS that would b

[2021-02-02 18:54] orlando commented on #1722
at @debtcollective we are deploying Chatwoot to AWS using ECS, RDS, and Elasticache. It is deployed via Terraform https://github.com/debtcollective/infra/tree/master/modules/services/chatwoot If you want to take a look.

[2021-02-02 20:03] ahmlouati opened #1723 "Integrate chatwoot on my app"
**Describe the bug**

A clear and concise description of what the bug is.
I have created a website inboxes and I added the script generated on my app. But I have found the error bellow.

![image](https://user-images.githubusercontent.com/70566996/106655688-f7feba80-6599-11eb-9744-643d7c1e8123.png)

[2021-02-03 03:43] lgezyxr commented on #1549
Turns out it's because of the limitation of return number of the [slack list api](https://api.slack.com/methods/conversations.list).
When the number of slack channels beyond 100, the conversations_list method would only return the first 100 of them.
I've fixed that on my machine by using a loop with passing the "next_cursor" parameter to the api. Please add me to the contributors so that I can hel

[2021-02-03 04:36] srameshr commented on #1722
@orlando Seems like this is something I was looking for. I am really new to terraform. Would you like to write a tutorial on medium or any blogs or documentation on how this setup works with Chatwoot specifically? I would really love to go through it as it would help us in our setup.

[2021-02-03 04:53] pranavrajs commented on #1723
@ahmlouati Can you please share the logs? There is no information here for us to debug.

[2021-02-03 07:41] ahmlouati commented on #1723
***logs
2021-02-03T08:38:50+01:00 I, [2021-02-03T07:38:50.252056 #5778] INFO -- : [6d224460-a64d-42d6-b39f-d9dd23c10556] Rendered dashboard/index.html.erb within layouts/vueapp (Duration: 0.1ms | Allocations: 4)
2021-02-03T08:38:50+01:00 I, [2021-02-03T07:38:50.254099 #5778] INFO -- : [6d224460-a64d-42d6-b39f-d9dd23c10556] Completed 200 OK in 10ms (Views: 2.4ms | ActiveRecord: 0.0ms | Allocations:

[2021-02-03 08:01] pranavrajs commented on #1723
@ahmlouati Have you set `SECRET_KEY_BASE` in the env variables? Looks like it is missing.

[2021-02-03 08:20] ahmlouati commented on #1723
Yes, I have already set it .
![image](https://user-images.githubusercontent.com/70566996/106718201-02a06a80-6601-11eb-97e6-ca7e9128525b.png)

[2021-02-03 08:22] ahmlouati commented on #1723
Yes I have already set it :)
![image](https://user-images.githubusercontent.com/70566996/106718418-527f3180-6601-11eb-9daf-7e229a602313.png)

[2021-02-03 11:28] pranavrajs commented on #1714
Since this was accepting full name, we expected it to have a minimum number of characters, but I agree with your point. @karthik-sivadas Can you please update the PR to include the changes in validation as well. Let us just keep 1 letter validation for now.

[2021-02-03 14:55] iammattmartin opened #1730 "New lines in messages lost"
**Is your enhancement request related to a problem? Please describe.**
When sending a message where you press shift+enter for a new line, although the message can be typed out like this, the formatting is lost once sent.

This should be retained so it is sent as typed/displayed when typing.

[2021-02-03 16:01] orlando commented on #1425
Here's a PR to fix the Mailgun env variable in the docs https://github.com/chatwoot/docs/pull/4

[2021-02-03 16:24] orlando commented on #1722
@srameshr if that blog post happens, I'll post the link here.

[2021-02-03 21:19] iammattmartin commented on #1723
If that is the value, may not be valid.

Try generating a better looking key ;)

https://stackoverflow.com/questions/29187296/rails-production-how-to-set-secret-key-base

[2021-02-04 02:01] srameshr commented on #1722
Hopefully it does! It would help a lot of folks.

On Wed, Feb 3, 2021, 9:55 PM Orlando Del Aguila <notifications@github.com>
wrote:

[2021-02-04 07:52] pranavrajs commented on #1693
@petrsoudek Can't we close this? It looks like the issue was the translation not available right?

I'm closing it now. If it is still not resolved, please let me know.

[2021-02-04 07:52] #1693 closed

[2021-02-04 07:53] pranavrajs commented on #1700
@ilovebamboo I just changed the title for better clarity.

[2021-02-04 07:55] pranavrajs commented on #1678
@sojan-official Can you please take a look at this ticket?

[2021-02-04 07:56] #1700 closed

[2021-02-04 12:00] pranavrajs commented on #1730
@iammattmartin Just to clarify this, is it happening on the web or mobile app?

[2021-02-04 12:02] iammattmartin commented on #1730
Web.

[2021-02-04 14:02] #1723 closed

[2021-02-04 14:02] ahmlouati commented on #1723
Thanks @iammattmartin

[2021-02-04 14:38] #1714 closed

[2021-02-04 17:01] seizmo commented on #1708
Same here. Here are the logs:

`
rails_1     | [71c72b0e-9f0f-4ad5-9c01-dcbb20457120] NoMethodError (undefined method `id' for nil:NilClass):
rails_1     | [71c72b0e-9f0f-4ad5-9c01-dcbb20457120]
rails_1     | [71c72b0e-9f0f-4ad5-9c01-dcbb20457120] app/controllers/twitter/authorizations_controller.rb:9:in `create'
rails_1     | [71c72b0e-9f0f-4ad5-9c01-dcbb20457120] app/controllers/application_cont

[2021-02-04 20:16] hartois commented on #1664
Can you reproduce bug with setUser from once browser?

[2021-02-05 07:07] #1549 closed

[2021-02-06 17:19] iammattmartin opened #1737 "Like / Retweet on Twitter"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
It would be nice to support retweeting and liking of posts. Easily accompilishable be two more icons within the message bubble (along with the reply and popout).

There are instances where both being used would be helpful negating the need to login to Twitter.com or a client to do just that.

[2021-02-07 07:24] #1697 closed

[2021-02-08 09:59] pranavrajs commented on #1653
Closed via #1683

[2021-02-08 09:59] #1653 closed

[2021-02-08 09:59] pranavrajs commented on #1664
@hartois Yes, we could. It will be fixed soon.

[2021-02-08 11:09] #1606 closed

[2021-02-08 18:28] iammattmartin commented on #1131
Is there an updated release for this?

It was originally set to be in 1.8.0 but now 1.13.0 which is a good 5 releases later.

It's nice to get some other small wins out of the way but as for as website widgets/chat goes, this really is fundamental in capturing data (and stopping silly chats with one word messages).

[2021-02-08 18:49] pranavrajs commented on #1131
@iammattmartin I understand the pain, we would definitely cover this as a part of v1.13.0 releasing on Feb 15.

[2021-02-08 21:42] Deeoon opened #1744 "Error Installer on Caprover"
Hi,
I've been trying to install Chatwoot using Caprover on a vps running Ubuntu 18.04 for several times.
However I always get the same error in the Caprover console: ERROR: relation "installation_configs" does not exist.
Thank you in advance.

**Browser logs**
We're sorry, but something went wrong.
If you are the application owner check the logs for more information.

chatwoot-web.admin.staative.c

[2021-02-09 03:45] sojan-official commented on #1744
@Deeoon  did you try it with the latest version of chatwoot or the default version which was present in caprover ?

[2021-02-09 08:45] Deeoon commented on #1744
I tried using the latest version of chatwoot
![chatwoot latest](https://user-images.githubusercontent.com/25846405/107338196-8eac0980-6abb-11eb-8b59-cfc04bbd9e90.png)

[2021-02-09 12:48] sojan-official commented on #1744
@Deeoon  could you give it a try with  `v1.12.2`. Also, ensure that the database doesn't have any tables created from the previous installation attempts.

[2021-02-09 12:52] sojan-official commented on #1704
@srameshr  could you check whether the docker container for Postgres is running ?

[2021-02-09 13:34] Deeoon commented on #1744
I get exactly the same error :
`2021-02-09T13:32:49.056979308Z I, [2021-02-09T13:32:49.016674 #1] INFO -- : [2eb076d3-520e-4dc2-8229-98dabd326159] Completed 500 Internal Server Error in 6ms (ActiveRecord: 2.0ms | Allocations: 316)
2021-02-09T13:32:49.057006043Z F, [2021-02-09T13:32:49.020062 #1] FATAL -- : [2eb076d3-520e-4dc2-8229-98dabd326159]
2021-02-09T13:32:49.057017123Z [2eb076d3-520e-4dc2-82

[2021-02-09 14:57] dctmc commented on #1651
yes, can be solved, but in this case better to have an superuser option to manage user accounts in system using web interface.

[2021-02-09 17:55] sojan-official commented on #1651
@dctmc if you are using a self-hosted installation you can leverage our super admin interface to allocate multiple accounts across the users.

https://github.com/chatwoot/chatwoot/wiki/Creating-a-super-admin-and-accessing-sidekiq

[2021-02-10 14:10] whande1992 opened #1746 "Improve API documentation on the conversationSearch endpoint"
I'm using the API for messages, but there was a difficulty in the endpoit to search for conversations, it is possible to use "query params" but it does not exemplify which fields I can use, I carried out some tests using the return of the query as a basis but without success.

I would like the documentation of this route to be improved, showing the fields that are accessible to use in the "q" para

[2021-02-10 15:11] masdeval commented on #1709
Where could I find logging for the inbox creation process? I would like to verify whether there was some error during the channel creation.
I found the chatwoot/log/development.log file and there is nothing there regarding this.

[2021-02-10 15:17] hartois opened #1747 "Duplicate webhook call"
Latest snapshot from develop (commit da94e65d2034645b4635f1049f3bb38ec3717890).

When I send mesage from operator I have duplicate webhook call.
In log I see one ```[SendReplyJob]```,  but two ```[EventDispatcherJob]```

Different Job ID, but same message ID, same event content

[2021-02-10 15:25] hartois commented on #1747
Also I see two lines
[code]

each before own
[code]

[2021-02-10 15:41] hartois commented on #1747
If I comment out in webhook_listener.rb::deliver_webhook_payloads():
[code]
some of "Account webhooks" or "Deliver for API Inbox" block - it's solve problem

I don't understand what is account webhooks. I set only one webhook in settings.

[2021-02-10 15:43] WevrLabs commented on #1458
Adding this feature could have a great deal on support experience and save time.

[2021-02-10 15:49] WevrLabs commented on #1458
Can't this be achieved by just rendering the `<a>` element of the download link into an `<audio>` element `if` the attachment file is an audio media? same way done with images.

Modern browsers seem to have native support for playing audio files inline, if elements were identified as `<audio>` in html output, without the need for additional libraries or audio players:
https://developer.mozilla.org

[2021-02-10 15:49] hartois commented on #1747
I realized my mistake - webhook in the channel and webhook in the integrations.
I think it will be easier to understand when https://github.com/chatwoot/chatwoot/issues/1361 is implemented

[2021-02-10 15:49] #1747 closed

[2021-02-10 16:49] whande1992 commented on #1498
I look forward to the Open API 3.0 documentation

[2021-02-10 17:08] sojan-official commented on #1498
@whande1992  you could also give our postman a shot https://www.postman.com/chatwoot

[2021-02-11 10:36] NitinNR opened #1752 "Signup button not showing when we go for login"
I self hosted the chatwoot on linux server.

[2021-02-11 11:41] pranavrajs commented on #1752
@NitinNR Please set ENABLE_ACCOUNT_SIGNUP=true in the .env file. It is set to false by default.

[2021-02-11 11:41] #1752 closed

[2021-02-11 11:56] #1458 closed

[2021-02-11 12:30] pranavrajs commented on #1709
If you are default environment variable, production.log might not be generated. You could see the logs by `tail -f /var/log/syslog`

[2021-02-11 19:33] orlando commented on #1131
Thanks @pranavrajs, looking forward to this feature.

[2021-02-12 09:14] tds-1 commented on #594
{
   "content_type":"cards",
   "content_attributes":{
      "items":[
         {
            "media_url":"https://assets.ajio.com/medias/sys_master/root/hdb/h9a/13582024212510/-1117Wx1400H-460345219-white-MODEL.jpg",
            "title":"Nike Shoes 2.0",
            "description":"Running with Nike Shoe 2.0",
            "actions":[
               {
                  "type":"link",

[2021-02-12 10:57] srameshr commented on #1722
@pranavrajs How about creating a Multi A-Z AWS cloud formation template for Chatwoot? This would be easier than individually writing docs for all the dependent AWS services.

[2021-02-12 13:41] Giszmo commented on #1341
The linked PR and there the linked issue doesn't explain well how OP's issue would be resolved in the context.

We need to know which agent resolved how many issues and we need a record of that resolution. Also for me it is a feature that the client doesn't see I hit "resolved" as I do that after every answer I gave. After all many users will not reply back and it's cluttering the UI to keep those

[2021-02-12 13:49] Giszmo opened #1756 "Show conversations filtered by agent"
**Is your feature request related to a problem? Please describe.**
I'm curious if an agent was active recently and how he handles conversations but I can't find a way to search for his conversations.

**Describe the solution you'd like**

Wherever an agent is mentioned, it should be clickable to see that agent's stuff.

The search box should feature an agent dropdown.

**Describe alternatives you'

[2021-02-12 15:03] pklreak commented on #1231
Another option could be this pre-chat toggle like chatbot.com does, could be easier:
![Screenshot 2021-02-12 at 16 02 00](https://user-images.githubusercontent.com/78969224/107784536-dd6fd280-6d4b-11eb-88cc-efc46fde0291.png)

[2021-02-12 17:26] #1591 closed

[2021-02-12 20:37] iammattmartin commented on #1450
I'd say this needs to be given a bit of a bump.

We're seeing lots of our emails from CW go in to spam from those using SpamAssassin as it hits this rule.

`INVALID_MSGID           1.167 Message-Id is not valid, according to RFC 2822`

[2021-02-13 03:17] nithindavid opened #1757 "Refactor shouldShowInboxes to a generic name"
- The function is generic but the function name isn't
- Occurrence in `app/javascript/dashboard/components/layout/Sidebar.vue`

[2021-02-13 03:25] Giszmo opened #1758 "feat: Allow to suspend an agent"
**Is your enhancement request related to a problem? Please describe.**

An agent has no time anymore but might come back later and also I don't want to lose the information that he was doing the conversations he did. The "Delete" dialog does not tell me if that information gets deleted when deleting him.

**Describe the solution you'd like**

There should be a second option to temporarily suspend

[2021-02-13 09:08] pranavrajs commented on #1450
@iammattmartin I have pushed a fix for this, let us test it out and see if that fixes it.

[2021-02-13 09:17] pranavrajs commented on #1450
@iammattmartin Could you please share the output of the following commands? (Login to rails console using `bundle exec rails console`)

[code]

[code]

[code]

[2021-02-13 09:41] pranavrajs commented on #1758
@Giszmo This is a good suggestion, we can consider having a disabled state for an agent. Deleting would delete the agent from the account, the messages sent by the agent would not be deleted.

[2021-02-13 12:47] nm commented on #1496
+1 for documentation on this. Trying to get this working using Postmark.

[2021-02-13 14:58] agustinrudas commented on #1684
Hello, i follow this guide to setup the email part. https://docs.gitlab.com/omnibus/settings/smtp.html
In my case i use office 365. and was easy to setup following the snipet code inside the url.
Another hint is use double quotes when is a string declaration like this.
SMTP_USERNAME="contact@flowhost.fr"

Another thing i made is to add additional variables like this. see the url for more info.
smt

[2021-02-13 15:10] agustinrudas commented on #1704
This happend to me when i setup a wrong password
The password need to be set in (.env) file and (docker-compose.yaml) file too.
sometimes the postgress instance is already running. and other postgress instance is trying to be created at the same time.
i suggest:
docker-compose down (and also check if all docker instance of this project are stopped and deleted.)
docker-compose build
docker-compose

[2021-02-13 16:15] iammattmartin commented on #1450
Not sure if you want that output before or after upgrade, but before:

[code]

Let me know if I should do after upgrade and we'll get that done.

[2021-02-14 06:36] srameshr opened #1764 "Send website_token in the /inboxes response"
**Is your enhancement request related to a problem? Please describe.**
There is a general requirement of wanting to have the website_token when an inbox for a website is created. The current API sends it as a part of script string of the JSON response.

### **The key is part of the swagger doc but not in the actual response.**

**Describe the solution you'd like**
website_token key in the JSON res

[2021-02-14 06:46] srameshr commented on #1764
@pranavrajs
Here is the PR: https://github.com/chatwoot/chatwoot/pull/1765

[2021-02-14 07:36] pranavrajs commented on #1450
It looks like the MAILER_INBOUND_EMAIL_DOMAIN is not set which is probably why it is generating the wrong message_id. I will add SMTP_DOMAIN/SMTP_ADDRESS as a fallback, @sojan-official any thoughts on this?

[2021-02-14 12:39] iammattmartin commented on #1450
This was our original setup from CW.

Is it worth setting this value in that case?

[2021-02-14 13:23] Giszmo commented on #1758
Would conversations assigned to him turn unassigned?

[2021-02-15 07:26] hartois opened #1767 "Notify about new messages in unassigned conversation"
**Is your enhancement request related to a problem? Please describe.**
Operators does not known about new messages in old unassigned conversation.

**Describe the solution you'd like**
1. Option "Push notification about new messages in unassigned conversations from my inboxes"
2. Make caption "All" is boldest when it have active unassigned conversations. Or another marker about it.

[2021-02-15 07:33] hartois commented on #1767
Info about new messages shoul be in two places - menu and tab:
![image](https://user-images.githubusercontent.com/11641656/107917566-2d7fac80-6f79-11eb-8a3b-6a3233143533.png)

[2021-02-15 07:38] #1764 closed

[2021-02-15 10:28] VandrerenErik commented on #1651
I'm getting the following error when trying to access:

![Untitled](https://user-images.githubusercontent.com/54407345/107934853-7aaf4e80-6f78-11eb-96cf-19864d1b8f28.jpg)

[2021-02-15 10:57] sivin-git opened #1770 "Bug: Links inside private note is not visible"
**Describe the bug**

Because of white color the link is not visible and readable inside private note.

<img width="372" alt="Screenshot 2021-02-15 at 4 23 33 PM" src="https://user-images.githubusercontent.com/64252451/107937893-95022000-6faa-11eb-8ffa-c9ead90d17da.png">

[2021-02-15 12:19] sojan-official commented on #1651
@VandrerenErik  Could you get us the logs from the backend if any ?

[2021-02-15 12:54] VandrerenErik commented on #1651
[scout_apm.log](https://github.com/chatwoot/chatwoot/files/5981635/scout_apm.log)

If there the log file you are looking for is another one, tell where to fetch it for you please.

[2021-02-15 12:54] nithindavid opened #1773 "Fix url overflow on Webhook settings page"
![image](https://user-images.githubusercontent.com/1277421/107949157-d995b780-6fba-11eb-96d4-71e0258548b8.png)

[2021-02-15 12:54] #1770 closed

[2021-02-15 13:11] srameshr opened #1774 "What is the Callback URL which FB has to hit in order to integrate FB inbox"
**Describe the bug**

There is no documentation on the webhook callback URL that has to be provided to FB in order for the integration to work.
For example: app.chatwoot.com/{path_name_required}

**To Reproduce**

https://ibb.co/NCkf6dK

**Expected behavior**

The doc should include the callback URL path

**Screenshots**

https://ibb.co/NCkf6dK
**Browser logs**

NA
**Server logs**

NA
**Environmen

[2021-02-15 13:14] sojan-official commented on #1774
@srameshr  does this documentation help ?
https://www.chatwoot.com/docs/facebook-setup

[2021-02-15 13:26] pranavrajs commented on #1774
Moving this discussion to docs repo as the discussion is related to documentation.

[2021-02-15 13:30] sojan-official commented on #1651
@VandrerenErik  could you make the request and see
[code]

[2021-02-15 13:52] RonWalker22 commented on #1744
@Deeoon  Did you ever slove this? While migrating, I'm getting what I think is the same error: `undefined local variable or method "locked" for #<InstallationConfig:0x00007fcaa487c618>
Did you mean?  lock!` although I'm not using Caprover, I'm just working locally.

[2021-02-15 14:16] RonWalker22 commented on #1744
Looking at the docs, my issue was I was using `rails db:migrate` on a fresh install when I should have been using `rails db:chatwoot_prepare`.

[2021-02-15 14:51] VandrerenErik commented on #1651
Here you have

[syslog.txt](https://github.com/chatwoot/chatwoot/files/5982227/syslog.txt)

[2021-02-15 18:23] #1567 closed

[2021-02-15 18:40] #1773 closed

[2021-02-15 18:44] #1131 closed

[2021-02-15 19:05] iammattmartin commented on #1131
@sojan-official @pranavrajs

I've just tested this in the latest dev repo and it appears to not show anything but also looks like it may have broken the box layout.

Seeing an extra box and formatting is off for the "type your message" input.

![Screenshot 2021-02-15 at 7 04 16 PM](https://user-images.githubusercontent.com/15971590/107984831-b968f700-6fc0-11eb-92c9-d2e67942b70c.png)

[2021-02-15 19:17] pranavrajs commented on #1131
@iammattmartin We will merge #1776 right away, it would fix this. There is a setting you need to enable for this to work.

[2021-02-15 19:22] iammattmartin commented on #1131
Ah! Will monitor that and test on my dev install.

[2021-02-15 19:30] pranavrajs commented on #1131
@iammattmartin This has been merged, please try redeploying the latest and see if it works.

[2021-02-15 19:40] iammattmartin commented on #1131
That works!

Although one thing to note, it now misses off the original intro message. So that if someone sends a message, there's nothing to explain that we'll respond within X period.

Might cause people to message multiple times without knowing what is going on.

[2021-02-15 19:47] pranavrajs commented on #1131
@iammattmartin I don't understand the intro message you mentioned, just test it out with the pre-chat form.

<img width="449" alt="Screenshot 2021-02-16 at 1 16 40 AM" src="https://user-images.githubusercontent.com/2246121/107987760-a243fc80-6ff4-11eb-9213-1cc9a09a96ba.png">

[2021-02-15 19:50] iammattmartin commented on #1131
Hmm. I did get that but took a few minutes. Will continue testing.

[2021-02-15 22:28] iammattmartin commented on #1708
We too are getting the same error as @seizmo from our current integration that was setup correctly and has not changed.

[2021-02-16 02:58] khromov commented on #1744
Having the same issue with CapRover and version `v1.12.2`:

[code]

If the issue is related to migrations that don't run during CapRover install, is there some simple way to run the migration manually? (Maybe through some URL?)

[2021-02-16 05:12] pranavrajs commented on #1708
@seizmo @iammattmartin Not sure what went wrong. I will check it out.

[2021-02-16 05:36] hartois opened #1778 "Date/time localization"
How can we localize date/time in conversations?
![image](https://user-images.githubusercontent.com/11641656/108022603-ea354480-7031-11eb-8429-06e994d96f9e.png)

[2021-02-16 08:46] NitinNR opened #1780 "error":"undefined method `reject' for nil:NilClass""
(just want to send text)
code:
#where i called the functions
mid = createNewConversation("48511241-ccd1-4b5d-9739-c75c5599f310")
print("incoming message")
send_message_To_woot(message,"incoming",str(mid))

#createNewConversation method:

def createNewConversation(sid):
  print("creating conversation")
  dictToSend = {
    "source_id": sid,
    "additional_attributes": {}
  }
  res = requests.post(

[2021-02-16 09:50] sojan-official commented on #1780
@NitinNR I believe the code you posted here is python, there isn't much we can do to help there.. If you receive the error in chatwoot installation. please provide the request logs on chatwoot side, the error trace.

[2021-02-16 11:16] jlar0che opened #1781 "Customize the time a user is muted and also add simplified ability in GUI to delete conversations and contacts"
**Is your enhancement request related to a problem? Please describe.**
Our team is using Chatwoot for customer support and we often get spam messages / requests due to the nature of our work. IT is training staff on usage of Chatwoot and have instructed them to mute any spam requests. Unfortunately, when we mute a spam entry there is a popup that says the user will be muted for **just six hours**.

[2021-02-16 11:40] hartois opened #1782 "Feature: Message actions"
**Is your feature request related to a problem? Please describe.**
In my CRM I need implement processing on some messages selected by operator.
In particular, I need some images that the client sends to be saved in CRM.
But at the same time, the operator must preview and approve them beforehand.

**Describe the solution you'd like**
I would like to see predefined (for example, in a selectbox) acti

[2021-02-16 13:20] srameshr commented on #1496
@pranavrajs Can we use AWS SES for email continuity? Currently, we are using the organizations AWS SES to send a confirmation email once   the staff team registers

[2021-02-16 13:38] iammattmartin commented on #1781
I think this may be part duplicate of #1007 (blocking and muting for X period) and  #1283 (delete conversations).

[2021-02-16 14:05] #1708 closed

[2021-02-16 16:02] srameshr opened #1785 "1.13.0 has email inbox from the UI disabled"
**Describe the bug**

If it's already available for beta use, why not just enable it with a warning? There is a thread running on this issue that's been open for a couple of months.

**To Reproduce**

Go to create new inbox.

**Expected behavior**

Enable email channel inbox.

**Screenshots**

NA

**Browser logs**

Share the browser logs to debug the issue further

**Server logs**

Share the serve

[2021-02-16 18:07] srameshr opened #1786 "/notifications call fails with 500 in 1.13.9"
**Describe the bug**

Visting https://chatwoot.org.xyz/app/accounts/1/notifications fails with the below error:

**To Reproduce**

Steps to reproduce the behavior:
1. Go to  https://chatwoot.yourord.xyz/app/accounts/1/notifications
2. Click on notifications on the bottom left.
4. See an error in the console

**Expected behavior**

Should not throw an error.

**Screenshots**

NA

**Browser logs**

[2021-02-16 19:03] petrsoudek opened #1787 "Chatwoot-worker service crashing after update"

[2021-02-17 04:47] sivin-git opened #1788 "Enhancement: Improve the design of user mention tag in private note."
**Describe the issues**

Improve the design of the user mention tag in the private note.

<img width="550" alt="Screenshot 2021-02-17 at 8 32 02 AM" src="https://user-images.githubusercontent.com/64252451/108157546-00fa9a80-7109-11eb-98e8-626578acf61c.png">

[2021-02-17 05:45] sivin-git opened #1790 "Bug : Fix the width issue of timestamp in notification."
**Describe the bug**

Fix the width issue of timestamp in notification.

<img width="419" alt="Screenshot 2021-02-17 at 10 36 22 AM" src="https://user-images.githubusercontent.com/64252451/108161455-14116880-7111-11eb-8c0b-4574826f673d.png">

[2021-02-17 06:01] pranavrajs commented on #1786
@sojan-official Wasn't this fixed in #1768?

[2021-02-17 06:25] srameshr commented on #1786
@pranavrajs Also please take a look at #1785

[2021-02-17 09:06] sorumehta opened #1795 "Ability to add custom status for conversations"
**Is your feature request related to a problem? Please describe.**
Currently the only status we an assign to an open conversation is "Resolved". But sometimes, a query isn't really resolved. For eg., you might want to mark it as "escalate".

**Describe the solution you'd like**
A new settings page where you can create custom status to mark the conversations.

[2021-02-17 09:08] sorumehta commented on #1795
@sojan-official @pranavrajs I can create an initial pull request for it if this feature request makes sense to you. Would need your help in implementing it also.

[2021-02-17 09:15] sojan-official commented on #1795
@sorumehta  Thanks for bringing this in. This is an idea we have been tracking internally.  In short, we would want to have the ability for the account administrator to define custom status along with default uneditable ones `bot,open,resolved` .

Feel free to start playing around. We will get back with a detailed spec / help. you alongside on the PR
cc: @pranavrajs

[2021-02-17 10:01] srameshr opened #1796 "After Oauth Twitter inbox redirects back to inbox/new"
**Describe the bug**

After authenticating with Twitter, the app is redirected back to:
[code]
instead of adding an agent page.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to add new inbox page
2. Click on Twitter and then click on sign in with Twitter
3. The popup successfully authorizes Twitter.
4. The callback URL is hit with a 302: ```https://chatwoot.xyz.me/twitter/callback?oaut

[2021-02-17 10:12] pranavrajs commented on #1796
@sojan-official ` #<TypeError: no implicit conversion of String into Integer>` Oauth verification is complete, and it is redirecting afterwards with this error.

[2021-02-17 10:13] pranavrajs commented on #1785
@srameshr We will add the setup instructions this week.

[2021-02-17 13:05] pklreak commented on #1374
Also, maybe add the collect email input text in the SDK, to make sure all text would be configurable

[2021-02-17 22:46] fv3rdugo opened #1800 "Shows the release version deployed"
I think it's a good idea to show the actual version deployed for good maintenance and future updates.
For example, in the footer of the dashboard once the user is validated.
Release v1.13.0

[2021-02-17 23:35] iammattmartin commented on #1800
This is shown.

Account Settings  > bottom of the screen.

[2021-02-18 05:49] pranavrajs commented on #1800
<img width="569" alt="Screenshot 2021-02-18 at 11 18 35 AM" src="https://user-images.githubusercontent.com/2246121/108311463-0f18eb80-71db-11eb-9f31-2918ce508ce5.png">

@fv3rdugo There is a footer which shows the current version and the update notification. Please feel free to reopen the ticket if you don't find it.

[2021-02-18 05:50] #1800 closed

[2021-02-18 06:13] fv3rdugo commented on #1800
Sorry. I promise I've been looking everywhere. Thanks for the answers.

[2021-02-18 06:24] tds-1 opened #1801 "Unable to send bot message types"
I want to send attachments to chatwoot, are incoming attachments supported?
I referred the link "https://github.com/chatwoot/chatwoot/wiki/Creating-Bot-Messages-Types" to send messages to chatwoot via the API. I am not getting any response in chatwoot UI whereas API is returning a success response.

`url = f'{api_endpoint}/{account_number}/conversations/{conv_id}/messages'`
[code]

[code]

[2021-02-18 06:59] srameshr commented on #1796
@sojan-official Anything on this?

[2021-02-18 07:18] sojan-official opened #1802 "feat: Ability to specify custom Login URLs when using platform APIs"
I need to redirect the users visiting chatwoot sign-in URL to be redirected to a custom sign-in URL since all users are created via Platform APIs.

[2021-02-18 11:09] sojan-official opened #1803 "Password reset page show cannot connect to woot server for email not present in the system"
## Issue

When you make an error in the email address you are trying to do a password reset for, the following error messages appears

<img width="842" alt="Screenshot 2021-02-18 at 4 36 17 PM" src="https://user-images.githubusercontent.com/73185/108348309-a005bc00-7207-11eb-880b-8d51314cff0f.png">

## Acceptance
Return appropriate error: could not find the email address

[2021-02-18 11:45] sojan-official commented on #1796
@srameshr  Are you able to reproduce this error consistently? or was it a one-off error?

[2021-02-18 11:57] sojan-official commented on #1781
ref #1707  #947

[2021-02-18 12:46] sojan-official commented on #1744
@Deeoon  @khromov  Just tested this out on a fresh installation and I can reproduce the error. Let me get back once we have a fix for this

[2021-02-18 14:03] adnanmirza1 opened #1804 "Migration errror - undefined local variable or method `locked' for #<InstallationConfig:0x00005644fa624ea0>"
Error while migrating
undefined local variable or method `locked' for #<InstallationConfig:0x00005644fa624ea0>

[2021-02-18 14:19] srameshr commented on #1796
It is consistent. Ive tried like a dozen times and it fails everytime

On Thu, Feb 18, 2021, 5:15 PM Sojan Jose <notifications@github.com> wrote:

[2021-02-18 17:59] pranavrajs commented on #1804
@adnanmirza1 Can you please the document you are following to install the software?

[2021-02-18 20:36] gustavosbarreto commented on #642
Any update on this?

[2021-02-19 08:19] srameshr commented on #1796
@sojan-official I see a new error now regarding the port number for webhook. I am using pagekite to test the app and I am using an https URL for twitter callback:

[code]

[code]

[2021-02-19 08:41] sojan-official commented on #1796
@srameshr  are you testing this in your local ? Do you have the `frontend_url` env variable configured to be the page kite URL ?

[2021-02-19 08:43] srameshr commented on #1796
No, frontend url is localhost. Il give it a try with pagekit url

[2021-02-19 08:46] srameshr commented on #1796
@sojan-official Damn, that was the error. Replaced frontend URL with page kit and it works fine! I'l send a PR to mention the caveat in the docs section.

[2021-02-19 08:46] #1796 closed

[2021-02-19 11:19] sivin-git opened #1810 "Enhancement: Redesign multi-select ui"
**Describe the issue**

Redesign multi-select UI to match the overall theme.

https://user-images.githubusercontent.com/64252451/108497861-18d14a80-72d2-11eb-9229-6957e5f7fc0b.mov

[2021-02-19 12:37] srameshr commented on #1785
@pranavrajs Can I know if this is coming up?

[2021-02-19 18:18] pranavrajs commented on #947
This will be completed along with the UI changes in Message component.

[2021-02-19 18:19] pranavrajs commented on #1345
This is tracked via #1738, the changes are working, but we need to add an ability to mute the notifications, otherwise, it will be an annoying feature. Moving it to the new milestone as the development would be continued.

[2021-02-19 18:49] adnanmirza1 commented on #1804
I'm following nothing, just cloned master and bundle install
rake db:create
than error in migration

[2021-02-20 09:20] #1790 closed

[2021-02-20 09:20] #1788 closed

[2021-02-20 11:40] pranavrajs commented on #1804
for dev setup, please use ‘rake db:create, rake db:schema:load rake db:migrate’

[2021-02-20 13:42] vishal-pandey opened #1814 "Contact Search Bug"
In the contact section when you have searching the contact and in between any new contact is created it also appear in the searched section even though it doesn't match the search criteria.

I am attaching the screenshot of the dashboard with the search to depict the bug. Please take a look.

![image](https://user-images.githubusercontent.com/19498820/108597450-155fc100-73af-11eb-8c7e-43f1315c9351

[2021-02-20 13:58] vishal-pandey opened #1815 "Upgrade vue-router v4"
Hi @sojan-official
I was looking at the packages Chatwoot use and found that vue-router version 2.2.0 is being used which is kind of become old (4 years) and are missing on some new functionalities like dynamic routing,  vue-slots  which may be useful for implementing the more advanced UI and navigation.

Please comment about the possibility of upgrade.

https://github.com/chatwoot/chatwoot/blob/c

[2021-02-21 20:32] muzammal-murtaza opened #1817 "Env file"
I am getting error while login with facebook, i think env file is missing, can i get env file?

[2021-02-22 05:22] #1810 closed

[2021-02-22 08:39] sojan-official commented on #1817
@muzammal-murtaza  if you on a self-hosted installation. please follow the instructions to set up Facebook

https://www.chatwoot.com/docs/facebook-setup

[2021-02-22 13:42] pranavrajs commented on #1817
Moving to discussions as this is not an issue that needs to be tracked.

[2021-02-22 13:43] #1817 closed

[2021-02-22 18:45] adnanmirza1 commented on #1804
Hey! yes it fixed the error thanks

[2021-02-22 18:45] #1804 closed

[2021-02-22 18:48] adnanmirza1 opened #1822 "When click on any social icon for creating inbox, such as facebook, it keeps on loading saying that "Authenticating with facebook" and does not proceed""
When click on any social icon for creating inbox, such as facebook, it keeps on loading saying that "Authenticating with facebook" and does not proceed"
When i click on add inbox and choose a channel (Any channel) for example: if i choose Facebook it keeps on loading and shows message that  "Authenticating you with facebook"  but does not proceed.
![chattttt](https://user-images.githubusercontent.

[2021-02-23 04:18] iammattmartin commented on #1822
Are you using Firefox with Facebook guard plugin installed?

[2021-02-23 05:32] pranavrajs commented on #1822
@adnanmirza1 Have you completed the setup as described here? https://www.chatwoot.com/docs/facebook-setup

[2021-02-23 11:40] sojan-official commented on #1744
@Deeoon  @khromov  Raised a PR for this on https://github.com/caprover/one-click-apps/pull/366 . Issue should be resolved once its merged

[2021-02-23 14:16] iammattmartin opened #1824 "Intro sent after first message when email removed"
In this instance, visitor sent message and entered name and email. The email was invalid so we removed this prior to sending the update.

On sending the update, the auto-greeting message then appeared.

That should not trigger if the message is sent by the staff user, even if the email is removed as it then looks silly.

**To Reproduce**

Steps to reproduce the behavior:
1. Start message, enter em

[2021-02-23 16:20] Giszmo opened #1825 "Checking for new messages is painfully slow and repetitive"
**Describe the bug**

Going to the tab (/app/accounts/1/inbox/1) of my relevant inbox, I do not get the latest messages, especially if 3h ago the computer was suspended.
Hitting F5 reloads something but doesn't load the latest reply on the active chat for example neither.
I have to close the tab and open it again.

On the Android app it's even worse. When I open it, it often requires me to log in

[2021-02-23 20:24] sojan-official commented on #1786
this should be addressed on `v1.13.1`. Let us know if the issue persists

[2021-02-23 20:24] #1786 closed

[2021-02-24 05:53] pranavrajs commented on #1825
@Giszmo Can you please try to update to the latest version of Web (1.13.1) and Mobile app and see if the problem still exists?

[2021-02-24 12:49] sojan-official commented on #1099
updated https://www.chatwoot.com/docs/deployment/deploy-chatwoot-with-docker with further instructions. We will continue working on improving the documentation further

[2021-02-24 12:49] #1099 closed

[2021-02-24 12:50] sojan-official commented on #1142
we have updated docker deployment guides: https://www.chatwoot.com/docs/deployment/deploy-chatwoot-with-docker .
We will continue our work on documentation further.

[2021-02-24 12:50] #1142 closed

[2021-02-24 12:52] sojan-official commented on #427
we have updated docker deployment guides: https://www.chatwoot.com/docs/deployment/deploy-chatwoot-with-docker .
We will continue our work on documentation futher.

[2021-02-24 12:52] #427 closed

[2021-02-24 12:54] sojan-official commented on #1618
we have updated docker deployment guides: https://www.chatwoot.com/docs/deployment/deploy-chatwoot-with-docker .
We will continue our work on documentation further.

[2021-02-24 12:54] #1618 closed

[2021-02-24 13:02] sojan-official commented on #261
we have basic documentation around our main models like conversations and inboxes now.
let's create specific tasks based on requests for the other models.

https://github.com/chatwoot/chatwoot/wiki/Building-on-Top-of-Chatwoot:-Importing-Existing-Contacts-and-Creating-Conversations

[2021-02-24 13:02] #261 closed

[2021-02-24 13:09] sojan-official commented on #365
we have the docker based installation: https://www.chatwoot.com/docs/deployment/deploy-chatwoot-with-docker
as well as the script for ubuntu: https://www.chatwoot.com/docs/deployment/deploy-chatwoot-in-linux-vm

[2021-02-24 13:09] #365 closed

[2021-02-24 14:30] imantonio commented on #723
@robson-jardim you basically described what we do at [Unbabel](https://unbabel.com/)!

We already integrate with several platforms (Salesforce, Zendesk, Freshdesk, Helpshift, Kustomer, and others) and you can check our API docs [here](https://developers.unbabel.com/). Chat API is the real-time, machine-translation endpoint and Ticket API is our asynchronous, human-translation endpoint.

I'd be sup

[2021-02-24 16:01] iammattmartin commented on #1825
I believe it does. We have the latest version and if the page is left, until we hard refresh, it does not update.

This sometimes affects conversations since resolved, that you go click resolve again and it re-opens them.

Same with updates, it could have been updated elsewhere, it looks unanswered so a new one is posted and then you refresh and both appear - this looks bad.

[2021-02-24 18:04] iammattmartin opened #1827 "Channel greeting message no longer works when pre-chat form active"
**Describe the bug**

When using pre-chat form in v1.13.1 (dev), it no longer fires the **Channel greeting message** after the visitor has entered the name/email/message.

It does fire if you disable pre-chat form.

![Screenshot 2021-02-24 at 6 03 40 PM](https://user-images.githubusercontent.com/15971590/109044706-a3e38380-76ca-11eb-88f2-d62737531525.png)

[2021-02-24 18:07] pranavrajs commented on #1827
I guess #1824 is related to this. @sojan-official Can you please take a look at this?

[2021-02-25 15:29] muhsin-k opened #1830 "Fix attachment rendering if the message content is empty in private note"

[2021-02-25 16:05] soorajshankar opened #1832 "Add GH Icon in the website footer."
it'd be nice if you add GitHub Icon here.
![image](https://user-images.githubusercontent.com/8408875/109179664-242fe480-77b0-11eb-9dc4-02377496a388.png)

 Header or footer is the first place to look for the Github link with most of the OSS projects.

[2021-02-25 17:10] #1830 closed

[2021-02-26 05:56] srameshr commented on #1785
@pranavrajs Will it be under conversation continuity or a new setup page?

[2021-02-26 10:28] KonstantinReido opened #1834 "Improve doc for Identity validation section"
Hi :)

In your documentation, you describe how to add `identifier_hash` (https://www.chatwoot.com/docs/website-sdk#identity-validation) and how to generate it (https://www.chatwoot.com/docs/website-sdk/identity-validation). But not clear how it works. Maybe I missing something but should be a possibility to disable unsigned requests (without `identifier_hash`).

I added `identifier_hash`, but don'

[2021-02-26 14:31] KonstantinReido commented on #1480
@pranavrajs Still have conversations without messages.

<img width="414" alt="Skjermbilde 2021-02-26 kl  15 21 28" src="https://user-images.githubusercontent.com/172571/109312597-e7b3c580-784f-11eb-85f5-963b04241b57.png">

v1.13.0

[2021-02-26 14:57] karthik-sivadas commented on #1737
@pranavrajs Is anyone working on this issue? May I pick this?

[2021-02-26 15:52] sojan-official commented on #1737
@karthik-sivadas  feel free to go ahead

[2021-02-26 17:51] #1565 closed

[2021-02-27 15:40] pranavrajs commented on #1834
@KonstantinReido Thanks for the feedback, we will definitely try to improve it. Moving this to /docs repository as the documentation related changes are tracked there.

[2021-02-27 20:35] muzammal-murtaza opened #1840 "Inbox is not creating for fb channel"
**Describe the bug**

Whenever i try to create inbox of facebook i get following error on console
_**Missing host to link to! Please provide the :host parameter, set default_url_options[:host], or set :only_path to true excluded from capture: DSN not set

[code]

**Screenshots**
![Screenshot from 2021-02-28 01-34-55](https://user-images.githubusercontent.com/68580311/109399532-2d15e700-7965-11eb-9

[2021-02-28 00:49] viapratica commented on #1709
I also followed this tutorial, everything is created, both in Twilio and chatwoot, but same thing, there is nothing in the rails console,

[7] pry(main)> ::Channel::TwilioSms.all
=> []

 The URL with final /twilio/callback does not exist.

"The page you were looking for doesn't exist.
You may have mistyped the address or the page may have moved.
If you are the application owner check the logs for

[2021-02-28 07:41] pranavrajs commented on #1840
Please set `FRONTEND_URL` as described here. https://www.chatwoot.com/docs/environment-variables#configure-frontend-url

[2021-02-28 07:43] pranavrajs commented on #1840
Closing the issue as it is not a bug. @muzammal-murtaza Please feel free to reopen this if it does not resolve your problem.

[2021-02-28 07:43] #1840 closed

[2021-02-28 09:54] muzammal-murtaza commented on #1840
Now inbox is created but i am not getting messages, do i need more comfiguration for that?

[2021-02-28 10:14] muzammal-murtaza opened #1841 "ActiveStorage::FileNotFoundError: ActiveStorage::FileNotFoundError"
**Describe the bug**

I am getting this error after creating inbox for facebook.

**Screenshots**
![Screenshot from 2021-02-28 15-14-27](https://user-images.githubusercontent.com/68580311/109414946-ab12d600-79d7-11eb-88d3-342d5054b240.png)

[2021-02-28 13:02] viapratica commented on #1709
Is there a command on the console to create the path /twilio/callback for Twilio?
The route to Twitter /twitter/callback exists in my installation.

Thanks

[2021-02-28 13:46] sojan-official commented on #1840
@muzammal-murtaza  please finish the set up as described here https://www.chatwoot.com/docs/facebook-setup

[2021-02-28 13:47] sojan-official commented on #1841
do you have a storage provider configured with your chatwoot installation?

ref: https://www.chatwoot.com/docs/configuring-cloud-storage

[2021-02-28 14:18] pranavrajs commented on #1832
Closing as this is done.

[2021-02-28 14:18] #1832 closed

[2021-02-28 14:19] pranavrajs commented on #1832
<img width="357" alt="Screenshot 2021-02-28 at 1 40 04 PM" src="https://user-images.githubusercontent.com/2246121/109421589-06f05580-79fe-11eb-9bab-60e8d70cd9bb.png">

[2021-03-01 05:29] pranavrajs commented on #1824
Closed via #1842

[2021-03-01 05:29] #1824 closed

[2021-03-01 08:47] pranavrajs commented on #1744
Closing as the fix is merged in Caprover.

[2021-03-01 08:47] #1744 closed

[2021-03-01 09:00] trashcluster opened #1843 "Telegram Integration"
Hi, I have considered building a Telegram bot as a communication channel but i see that telegram is already in the list, only greyed out.
Is this feature soon coming up or would you need help implementing it ?

[2021-03-01 09:08] sojan-official commented on #1843
@trashcluster  We had plans to implement a telegram integration, But it got deprioritized because of the lack of community interest around it.
If you thinking to contribute, we will happy to help you with the PR.

[2021-03-01 11:09] srameshr commented on #1785
@pranavrajs @sojan-official Any help on this, please?

[2021-03-01 11:12] nithindavid commented on #1785
@srameshr  This will come with the next release.

[2021-03-01 11:47] hartois commented on #1843
I also need integration with Telegram. I plan to implement through Channel:Api

[2021-03-01 11:57] srameshr commented on #1785
@nithindavid Please don't close until the release is out. I will manually close it myself later.

[2021-03-01 13:11] viapratica commented on #1709
There is something very strange about the project that the developers have not yet observed or documented. I spent last night installing versions with Docker and testing to see if any of them raised the endpoint for Twilio and nothing, went to the chatwoot / chatwoot version: v1.3.0, after each test I ran the following commands:

docker container rm $ (docker container ls -aq)
docker system prune

[2021-03-01 14:39] trashcluster commented on #1843
I thought about implementing Telegram integration as a standalone telegram client using MTproto, that way the end-user will have the most seamless experience as it will seem like a real telegram user and not a bot.

[2021-03-01 16:25] NitinNR opened #1844 "I can't pass additional attributes.why?"
Response of that api generated request not containing the additional attributes which had pass with that request, please give me the solution.

[2021-03-01 18:19] pranavrajs commented on #1844
@NitinNR Can you please follow the issue template to create an issue?

Please share the payload you are passing and the response you are getting.

[2021-03-01 21:48] viapratica commented on #1709
After a lot of reinstalling, now I have the following result:

[1] pry (main)>::Channel::TwilioSms.all
=> #<Channel::TwilioSms::ActiveRecord_Relation:0x11d64>

Is this progress?

The only error in /var/log/syslog

Can't verify CSRF token authenticity.

[2021-03-01 22:40] viapratica commented on #1709
One question, does anyone in the world use Twilio in chatwoot or is it just decoration?

https://app.chatwoot.com/twilio/callback

"The page you were looking for doesn't exist.

You may have mistyped the address or the page may have moved.

If you are the application owner check the logs for more information."

And for anyone to think they’re in the wrong place.

Twitter

https://app.chatwoot.com/

[2021-03-02 06:02] pranavrajs commented on #1709
@viapratica I don't understand what you are trying to accomplish. This URL(https://app.chatwoot.com/twilio/callback) will give you a 404 in the following cases.

1. If you hit URL from the browser, this URL does not accept GET request. I accept only POST request. You have to try it with Postman or any other tool similar to that.
2. If your Twilio Credentials does not match. There needs an exact ma

[2021-03-02 06:26] NitinNR commented on #1844
request:
dictToSend = {
      "content": message,
      "message_type": msg_type,
      "private": False,
      "content_type": "cards",
      "additional_attributes":{"name":"nitin"},
      "content_attributes": {
        "items":[
          {
            "actions":[
            {
              "text":message

            }
            ]
          }
        ]
      }

    }

response:
{'id': 2456

[2021-03-02 10:29] srameshr opened #1847 "Sidebar icon colors according to brand guidelines"
**Is your enhancement request related to a problem? Please describe.**
Having colors that reflect the inbox used makes it easy to identify that inbox subconsciously

**Describe the solution you'd like**
Add colors according to the inbox brand icon

**Describe alternatives you've considered**
N/A

**Additional context**
Here is a PR for that: https://github.com/chatwoot/chatwoot/pull/1846

[2021-03-02 10:29] srameshr commented on #1847
@pranavrajs @sojan-official

[2021-03-02 12:07] sojan-official commented on #1843
@trashcluster I agree with you that a conversation via a real telegram user would feel more personal. But adding an integration via bot would open up additional APIs like payments, storefront etc.

It also seems like most of the customer support software providers have gone with using telegram bots instead of the user accounts.

[2021-03-02 12:09] viapratica commented on #1709
I don't know where I got lost in previous installations, my Linux is Ubuntu 18.04, the first time I did the installation there was no way out on the rails console:

7] pry(main)> ::Channel::TwilioSms.all
=> []

but in this last installation, there was a way out:

[1] pry (main)>::Channel::TwilioSms.all
=> #Channel::TwilioSms::ActiveRecord_Relation:0x11d64

From yesterday to today I deleted the Twi

[2021-03-02 12:10] viapratica commented on #1709
Yes, you are right, I had done the tests with GET and not with POST. Excuse me!

[2021-03-02 12:57] #1847 closed

[2021-03-02 14:15] #1709 closed

[2021-03-02 18:02] NitinNR commented on #1844
Please tell me the fix

[2021-03-02 19:11] iammattmartin commented on #1844
Please be patient. If you've paid for support, you can reach them by email for urgent assistance.

[2021-03-03 07:41] sojan-official commented on #1651
@VandrerenErik I checked the logs and there aren't any errors except for the 401 unauthorized.
which version of chatwoot are you running? is there any code changes?
Could you also try accessing the URL from an incognito window or after clearing cooking and cache ?

[2021-03-03 07:48] sojan-official commented on #1480
@KonstantinReido  I have not seen this happening in our managed installations. Do you have logs for the requests that create these conversations?

[2021-03-03 07:49] sojan-official commented on #1787
@petrsoudek do you still have this issue persisting?
could you give more information about your installation environment and chatwoot version?

[2021-03-03 11:52] VandrerenErik commented on #1651
Sorry I forgot to mention the issue was solved, it was caused by an nginx "misconfiguration", removing the "www" subdomain solved the issue.

[2021-03-03 11:55] sojan-official commented on #642
Work on this is slightly delayed amidst the other higher priority items. If anyone from the community has already put in effort into this, the team will be happy to review and work with them.

Otherwise, please bear with us for a little bit longer.

[2021-03-03 11:58] sojan-official commented on #1651
@VandrerenErik  Thanks for reporting back 😃

[2021-03-03 11:58] #1651 closed

[2021-03-03 12:01] sojan-official commented on #1825
@iammattmartin is it the case that the page will miss some updates if the internet connection was disrupted.  Or are you experiencing it on a regular basis?

[2021-03-03 12:37] iammattmartin commented on #1825
Very regularly. Happens if a window/tab is not used in a while. It could be due to a loss in connection but I would say that needs to be improved as there is no visual indication in the interface that it has lost a connection.

[2021-03-03 13:04] sojan-official commented on #1825
@iammattmartin  thanks for the feedback we are working on some changes to address this.

[2021-03-03 23:36] whande1992 opened #1852 "Doubt - How to send image by API?"
Hello, how do you send images via API?

[2021-03-04 00:11] whande1992 commented on #1852
https://github.com/chatwoot/chatwoot/wiki/Creating-Bot-Messages-Types

[2021-03-04 00:11] #1852 closed

[2021-03-04 06:55] nithindavid opened #1853 "Feature: Adding support for short code API with twilio"
Estimation - 3
**Context**
Chatwoot supports integration with twilio API. Right now it assumes the twilio phone number to a normal phone number which includes country code. Twilio also has a short code API which is mainly used for promotional purposes and high volume purposes.
https://www.twilio.com/docs/sms/api/short-code

- If Chatwoot would not force a + in front of the phone number, the short

[2021-03-04 08:03] sojan-official opened #1854 "Bug: Additional `/` appearing when message are sent to slack"
When messages are sent to slack via the chatwoot integrations, an additional `/` seems to be appearing in front of the message.

possible reason: mismatch between markdown flavour used in between frontend and whats required by slack

[2021-03-04 08:45] sojan-official commented on #1785
We have added instructions to enable the email channel.

https://www.chatwoot.com/docs/self-hosted#email-channel-setup

[2021-03-04 08:45] #1785 closed

[2021-03-04 08:48] sojan-official commented on #1496
we have added instructions to enable email channel
https://www.chatwoot.com/docs/self-hosted#email-channel-setup

if there are further issues in email or conversation continuity let's start a discussion and capture it there.

[2021-03-04 08:48] #1496 closed

[2021-03-04 08:49] srameshr commented on #1785
@sojan-official It will be enabled for every account when ENABLE_SIGNUP is set to true right?

[2021-03-04 08:51] sojan-official commented on #1785
@srameshr  For the newer installations, it will be enabled by default. For older installations, you will have to enable it for the accounts via console.

[2021-03-04 13:54] #1345 closed

[2021-03-04 14:16] sojan-official commented on #703
We have merged audio alerts into the current develop branch. This should be available from v1.14.0

[2021-03-04 14:42] stevenolay commented on #620
I am getting a related, but slightly different issue. I'm getting a 404

[code]

Could I be missing something?

[2021-03-04 14:47] sojan-official commented on #620
@stevenolay could you post more information about your chatwoot environment? is it an ubuntu installation ?

[2021-03-04 14:50] stevenolay commented on #620
@sojan-official Thanks for the quick reply.

I am running chatwoot in k8s pods. I deployed the worker and the web service using the Dockerfiles found here: https://www.chatwoot.com/docs/deployment/deploy-chatwoot-with-docker#steps-to-build-images-yourself

[2021-03-04 14:54] sojan-official commented on #1844
@NitinNR  the payload you are trying to send suggests that you are hitting the message creation endpoint. Messages don't have an attribute called `additional_attributes`. If you want to update additional_attributes, do it while you are creating the conversation.

Also when creating an issue it's helpful for the team to have the `end_point` you are trying to hit along with the payload.

[2021-03-04 14:54] #1844 closed

[2021-03-04 14:58] sojan-official commented on #1718
seems like a Debian specific issue. There isn't any specific workaround we can do on the chatwoot side.

https://wiki.debian.org/gitlab/#gitlab_crash_work_around_.28install_grpc_from_rubygems.org.29

[2021-03-04 14:58] #1718 closed

[2021-03-04 15:02] sojan-official commented on #620
@stevenolay  if you Nginx running as a frontend proxy. please ensure the following directives are set
ref: https://www.nginx.com/blog/websocket-nginx/

[code]

[2021-03-04 16:27] NitinNR commented on #1844
But we always create conversation only once if it is not exist.need to filter the messages that's why

[2021-03-04 16:29] NitinNR commented on #1844
So, you mean that just create blank additional attributes field when conversation get created then update when sending to messages end point  right?

[2021-03-04 17:22] sojan-official commented on #1844
depends on how you decide to build on top of chatwoot. Chatwoot supports multiple conversations for a single contact. So you could create additional conversations.

[2021-03-04 17:23] sojan-official commented on #1844
At the moment we don't support update conversation objects, so the only time when you can add additional attributes to the conversation is during the conversation creation.

[2021-03-04 17:27] NitinNR commented on #1844
But we can't create new conversations for each message this will be annoying for users.

[2021-03-04 17:29] sojan-official commented on #1844
@NitinNR  Could you describe what's your use case and how the additional attributes help you?

[2021-03-04 18:10] NitinNR commented on #1844
Like whenever a new message get created it should cary more additional attributes like anything we need to pass for further logic that's why we want to add additional data in it.

[2021-03-05 04:55] amitpatelx commented on #620
I am facing the same issue posted in discussion https://github.com/chatwoot/chatwoot/discussions/1855

[2021-03-05 07:09] sojan-official commented on #620
@amitpatelx let's handle it on the discussion.

[2021-03-05 10:17] srameshr commented on #1785
@sojan-official I gave it a try. It does not enable the email inbox UI. It still has the inactive class added to it. I followed the instruction for the inbox channel as well as conversation continuity. Here is my account details after logging

1. ```Account.find(1)```

[code]

2. ```Account.enabled_features```
 ``` => {"inbound_emails"=>true, "channel_email"=>true, "channel_facebook"=>true, "chann

[2021-03-05 14:05] MatthieuBietry opened #1858 "Bot conversation displayed in the "Agent" conversation tab"
**Describe the bug**

We have an agent_bot setuped in an inbox, handleling the conversation from start. This inbox is plugged with an API endpoint.

When we received a new user message, the message is correctly handled by the agent_bot, but it appear in an agent "Mine" tab.

If we refresh the page, the conversation well appear in the "bot" tab (dropdown).
In database, the conversation have a "bot"

[2021-03-05 18:33] whande1992 commented on #1801
I also have this problem, I believe that it could enable receiving an image in base64. I will follow up on this case.

[2021-03-06 04:14] amitpatelx commented on #620
I could get around the issue and posted solution in the discussion #1855

[2021-03-06 04:36] iammattmartin commented on #1692
Would be nice for this to per set per Inbox like what can be done with the email address....

[2021-03-06 09:00] the-jojo-jj opened #1861 "docker installation problem on register"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Docker based instalation
2.  docker-compose run --rm rails bundle exec rails db:reset
3. docker-compose up -d

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**
<img width="1369" alt="Screen Shot 2021-03-06 at 15 57 5

[2021-03-06 14:41] muzammal-murtaza opened #1862 "Not getting messages for FB inbox even after configuring through given facebook guide on site"
**Describe the bug**

I am not getting inbox messages for FB inbox.

[2021-03-06 14:56] muzammal-murtaza commented on #1862
should i need to add some environment vars?

[2021-03-06 15:03] NitinNR commented on #1844
Ok somehow I managed to achieve my goal.

[2021-03-06 15:08] NitinNR opened #1863 "Need to know about can't connect to woot server"
I have self host chatwoot on linux server.also configured the mail service.but when admin adds agent and he gets mail of invitation link where agent can enter password but after he submit it then error msg pops up and say can't connect to woot server something like that.how I can solve this?

[2021-03-06 16:11] pranavrajs commented on #1863
Please share any error or server log to debug this.

[2021-03-06 16:12] pranavrajs commented on #1862
Please share the steps you have followed. Have you sent the FB app for verification?

[2021-03-06 16:13] pranavrajs commented on #1861
@the-jojo-jj Where did you get the URL `/register`, our signup URL is `<installation-url>/app/auth/signup`?

[2021-03-06 16:15] pranavrajs commented on #1780
Closing as there is no activity on this ticket for a while. Feel free to reopen the ticket if you think this is still an issue.

[2021-03-06 16:15] #1780 closed

[2021-03-06 18:38] iammattmartin opened #1864 "Sounds trigger on events"
**Describe the bug**

Following the newly added sound notifications, these appear to trigger at odd times.

When closing a ticket the sound triggers as does when a ticket is re-opened, assigned and un-assigned.

I would assume the sound should only trigger when a message is updated (from a chat message) instead of any type of update?

[2021-03-06 18:43] iammattmartin commented on #1864
Rel: #1345

[2021-03-06 19:12] pranavrajs commented on #1864
I guess this should be closed by #1859

[2021-03-06 19:13] pranavrajs commented on #1864
#1859 would limit the sound alert to only incoming messages and private notes from other users.

[2021-03-06 23:21] oTree-org opened #1865 "Setting email via setUser not working if identifier_hash is passed"
**Describe the bug**

If I pass identifier_hash, the user's email is not set, and they are prompted for their email. If I comment out identifier_hash, the email is properly set. (I use identifier_hash because it enables different chat sessions in each browser tab.)

**To Reproduce**

[code]
**Environment**

I am self hosted, just set up today via Heroku button. Tested on Chrome and FF.

[2021-03-07 02:09] iammattmartin opened #1866 "Screen Sharing"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Ability to see the screen, or at least the browser window of the visitor. This could help with support help or even sales queries when talking through things with the visitor.

Should either be allowed during an active chat by default, or the staff can send a share request to the user which

[2021-03-07 02:26] the-jojo-jj commented on #1861
Hi @pranavrajs thanks for your insight.
yes, i was pointing to the wrong url, indeed i didn't check .env file.

thanks.

[2021-03-07 02:26] #1861 closed

[2021-03-07 02:28] the-jojo-jj commented on #1863
@NitinNR
please check .env file, maybe you put wrong url.

[2021-03-07 04:53] NitinNR commented on #1863
Which variable should I configured becoz this problems comes only when agents redirect through the mail link to set their password(they were actually able te set the pass but when they submit ,that error occured).it is all ok with password reset for admin,sending invitation link to agents etc

[2021-03-07 05:34] NitinNR commented on #1863
ok.when we use it on mobile device then this error occurred but when we enable  desktop mode then error gone and after submit the password it successfully redirect to panel.is panel only compatible with desktop view or the things are different than what I think? Please let me know what is happening here thank you !

[2021-03-07 07:45] pranavrajs commented on #1865
@oTree-org You have to generate identifier hash as shown in https://www.chatwoot.com/docs/website-sdk/identity-validation

[2021-03-07 07:46] pranavrajs commented on #1865
Can you please share how you are generating the identifier_hash?

[2021-03-07 09:17] oTree-org commented on #1865
Hi, thanks for the info! However, I am still unable to get it to work. I used the Python code:

[code]

Now my JS looks like:

[code]

My console.log() is printing properly. But:

(1) the user is still prompted for their email, and in the chatwoot admin UI we have no email for them (just an id like sparkling-sky-162)
(2) when i have 2 tabs open in the same browser testing 2 users, it mixes their c

[2021-03-07 09:19] oTree-org commented on #1865
By the way, that JS code is from my browser's "view source". On the server side I generate a unique ID for each user:

[code]

[2021-03-07 11:31] muzammal-murtaza commented on #1862
Yes i have verified the app too and follow all these steps,

In the app settings add your Chatwoot installation url as your app domain.
In the products section in your app settings page, Add Messenger
Go to the Messenger settings and configure the call Back URL with {your_chatwoot_url}/bot
Configure a verify token, you will need this value for configuring the chatwoot environment variables
You mig

[2021-03-07 13:27] sojan-official commented on #1801
For attachments, you need to use multipart/form-data instead of JSON.
refer: https://github.com/chatwoot/chatwoot/discussions/1809

[2021-03-07 13:27] #1801 closed

[2021-03-07 13:27] sojan-official commented on #1801
@tds-1  the card type messages are not supported in the dashboard at the moment. they will only get rendered in the widget.

[2021-03-07 14:25] sojan-official commented on #1785
@srameshr If it was an older installation upgraded to 1.13.1. The email channel won't be enabled automatically for newly created accounts.  You would have to find the specific account via `Account.find(account_id)` and add channel_email as an enabled feature.

[2021-03-07 14:54] successful-fella opened #1867 "Invalid forward email on setting up Email inbox"
I followed [this guide](https://www.chatwoot.com/docs/conversation-continuity) to setup email channel which is recently enabled on Chatwoot. I'm getting some-alphanumeric@false ID to forward incoming support emails to.

![image](https://user-images.githubusercontent.com/61019742/110243690-74156500-7f81-11eb-8324-850bf47c54da.png)

**To Reproduce**

Steps to reproduce the behavior:
1. Fill environm

[2021-03-07 15:09] sojan-official commented on #1867
@successful-fella  do you have conversation continuity set up on this installation ?
https://www.chatwoot.com/docs/conversation-continuity

[2021-03-07 22:07] MatthieuBietry opened #1869 "A transferred conversation does not appear in the inbox of the assigned agent"
**Describe the bug**

When I transfer (or assign) a conversation to a second agent, if this second agent does not already have an open conversation, the transfered conversation does not appear and an error occured.
However, if it already has an open conversation, the operation works.

The problem seems to be when we update an assigned conversation on the action cable message, the `allConversations

[2021-03-08 05:42] pranavrajs commented on #1867
@successful-fella Removed the label `Bug` as it seems that it is a setup issue.

[2021-03-08 05:53] successful-fella commented on #1867
@pranavrajs Thank you. I'm still not sure if this is a setup issue. I'm trying to verify if I've done everything correctly.
In any case, it would be better to add a error/warning notification while settings up email inbox so to let users know that it has not been configured properly.

[2021-03-08 08:01] KonstantinReido commented on #1480
@sojan-official my setup deployed on Heroku (i don't have access to log files), the issue happens once in several days or even less frequent, so will be difficult to see it in logs.

[2021-03-08 08:03] pranavrajs commented on #1480
@KonstantinReido Can you please try upgrading to 1.13.1, there was an error with inbox_member assignment? It was fixed via https://github.com/chatwoot/chatwoot/pull/1797.

[2021-03-08 12:18] srameshr commented on #1785
@sojan-official
So, I had installed Chatwoot version 1.13 a month ago and now upgraded to 1.13.1 and also ran DB migrations. So, does it mean anyone who creates a new account from now, on our instance will not have an email channel enabled by default? If that's the case this issue has to be re-opened.

[2021-03-08 12:43] srameshr commented on #1785
@sojan-official That's the case. I just updated version 1.13.1 and ran db migration commands and created a new account. It does not have channel_email enabled by default. Why is this the case?

[2021-03-08 15:36] successful-fella commented on #1867
I'd SSH into docker container, enabled inbound_emails, and set account domain on rails console. I can see random-hex@domain.com now. I previously thought that Chatwoot recently enabled the email channel so I would not have to run commands mentioned at end of that guide. Though the email channel still won't create new conversations, that may be an issue with my postfix configuration and not chatwoo

[2021-03-08 15:36] #1867 closed

[2021-03-08 16:06] pranjal0819 commented on #1555
I am not able to return 2xx response.

[2021-03-08 18:24] sladyn98 commented on #1555
CC @nithindavid @sojan-official

[2021-03-08 20:07] brundles opened #1875 "Manipulate messages content before they are delivered to visitor/agent?"
**Is your feature request related to a problem? Please describe.**
No. It's a question that I cant find in the docs and was suggested by Nithin to post it here :)

**Describe the solution you'd like**
I would like to string-manipulate messages from visitors/agents before they are delivered to the other party.

Ideally server-side, but could also be client-side.

As an example, if I want to make a

[2021-03-09 01:57] srameshr commented on #1785
@sojan-official Is there any way that this can be enabled automatically?

[2021-03-09 06:10] pranavrajs commented on #1875
It looks like you are suggesting #1280

[2021-03-09 08:20] aekanshpartani opened #1877 "Getting access token"
**Is your feature request related to a problem? Please describe.**
I am working on using chatwoot APIs to integrate with our panel. But when we create a new user using platform APIs I don't get access token, I just get pub_sub token in response.

**Describe the solution you'd like**
It will be great to get the access token as well either while creating or through a separate API maybe by using emai

[2021-03-09 09:14] sojan-official opened #1878 "feat: Ability to edit out going address of API Channel"
At the moment on chatwoot, After creating an API channel, there isn't the ability to edit the webhook URL

### Acceptance:

- [ ] As an admin, I should be able to come back and edit the webhook URL for an existing API channel
- [ ] Verify the event payloads are correctly delivered to the new webhook URL post update

[2021-03-09 09:42] sojan-official commented on #1877
@aekanshpartani  the intention while building platform APIs was to return the access_token too in with the response body. Think we missed it out. We will take this up for our upcoming release.

also If you are interested in taking it up, feel free to raise PR.

[2021-03-09 09:51] aekanshpartani commented on #1877
@sojan-official Okay thanks. Will try to make it work.

[2021-03-09 11:01] sivin-git opened #1880 "Fix: Canned responses table short code width"
**Describe the issue**

 Fix the Canned responses table short code width breaking issue.

<img width="1154" alt="Screenshot 2021-03-09 at 4 19 11 PM" src="https://user-images.githubusercontent.com/64252451/110460502-47ce2580-80f4-11eb-9833-4c175c1ee4f1.png">

[2021-03-09 11:36] srameshr opened #1882 "Run chatwoot prepare and migrate as a part of docker image"
**Is your enhancement request related to a problem? Please describe.**
I don't want to run migrate and prepare db scripts after installing a docker image on my machine.

**Describe the solution you'd like**
Run the command as and when the image is deployed to a container.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-03-09 11:36] srameshr commented on #1882
PR: https://github.com/chatwoot/chatwoot/pull/1876

[2021-03-09 12:12] sojan-official commented on #1785
@srameshr  We will have a migration toggling it on by default for all accounts in `1.14.0`

[2021-03-09 12:21] JennyPrabhu opened #1883 "admin must be able to see the BOT conversations as well"
**Is your feature request related to a problem? Please describe.**
My admin must be able to see the BOT conversations as well.

**Describe the solution you'd like**
The BOT messages to be displayed in the admin console.
So the ability to transfer the conversation between one inbox (chatbot) to another (human agent).

**Describe alternatives you've considered**
Tried using the chatbot integration (

[2021-03-09 12:49] srameshr commented on #1785
So that's on the 14th of this month?

[2021-03-09 12:52] sojan-official commented on #1555
@sladyn98  @pranjal0819 The reason why this issue was in limbo because we were still specing out how we can add the option to delete user data.
Implementing the delete option on the user profile has some caveats.

---

Chatwoot being a business software, we associate the ownership of conversational data to the `Account` model instead of the `User` model.

Deleting a `User` record can leave the sys

[2021-03-09 13:00] sojan-official commented on #1883
Admins / Agents already have the ability to filter and view BOT conversations. They can assign these conversations to themselves if they feel it's relevant.

<img width="969" alt="Screenshot 2021-03-09 at 6 28 52 PM" src="https://user-images.githubusercontent.com/73185/110474210-6852ab80-8105-11eb-83aa-5f7896889fe7.png">

[2021-03-09 13:00] #1883 closed

[2021-03-09 13:07] #1880 closed

[2021-03-09 18:54] Brokray opened #1886 "Support variables in canned response"
**Is your enhancement request related to a problem? Please describe.**
- [x] Agents are frustrated using canned responses as they are quite unreadable (the autocomplete box is narrow, see screenshot).
- [x] Agents find it really difficult to search through canned responses, as you have to know the exact keyword to find them.
- [ ] Add a {{agentName}} kind of variable in canned responses, so that t

[2021-03-09 19:05] nithindavid commented on #1886
Hey @Brokray
1. We have updated the design, in our latest release it's long and occupies full width.
2. I'll look into improving the search experience.

[2021-03-09 22:00] Brokray commented on #1216
Do you guys have any update on this feature request ? :)

[2021-03-09 22:14] Brokray commented on #1886
Thank you for the quick feedback.
I will definitely update my hosted Chatwoot then, thanks.

Something else one of my agent just brought up :
- Add a `{{agentName}}` kind of variable in canned responses, so that they can feel personalised for the end user.

But this idea is more of a new feature. Would you like me to create another ticket for the later idea ?

[2021-03-09 22:18] psifertex opened #1887 "emoji support for slack integration"
**Is your enhancement request related to a problem? Please describe.**
Currently when sending emoji via slack to a web-user, the emoji will come through with the slack text name, such as `:frowning:`

This is true even if the slack user pastes a native emoji and doesn't use the slack picker.

Interestingly, emoji coming the other way work just fine.

**Describe the solution you'd like**
I'd like t

[2021-03-10 09:30] nithindavid commented on #1869
This issue is already taken care in #1849. Will close this once that PR is merged and tested.

[2021-03-10 09:54] Tapao-NonSen opened #1888 "[CW-2872] Mark as done on facebook inbox when click resolve on chatwoot"
**Is your feature request related to a problem? Please describe.**
Maybe it might be if you are a person that annoying the red dot that already resolve on chatwoot but on facebook page it not mask as done

**Describe the solution you'd like**
To let the agent know that all conversations are already done by agent on chatwoot

**Describe alternatives you've considered**
I haven’t  thinking about it

[2021-03-10 11:13] pranavrajs commented on #1888
Thanks for the suggestion. I'm not sure whether there is an API to do it. The feature would be helpful.

[2021-03-10 12:44] Brokray opened #1889 "Propose conversation's time metrics (elapsed time since start and since last message)"
**Is your feature request related to a problem? Please describe.**
Sometimes you just want to know how long the conversation took and for how much time you are waiting for an answer or the user is waiting for.

**Describe the solution you'd like**
Two timers :
- [ ] One could indicates elapsed time since conversation beginning.
- [ ] One that indicates elapsed time since last action in the convers

[2021-03-10 12:57] Brokray opened #1890 "Feat: Add a rating system to rate agents."
**Is your feature request related to a problem? Please describe.**
When the conversation is resolved our administrator does not really have any way of telling if the agent's answer was acceptable for the end user.

**Describe the solution you'd like**
If the feature is activated : on conversation resolution propose a simple rating system with a customizable message.
This would rate the conversatio

[2021-03-10 13:03] Brokray opened #1891 "Feat: See end user answer as they type."
**Is your feature request related to a problem? Please describe.**
In another livechat it was possible to see what the end user was typing in real time. This would let our agents prepare their answer at the same time.
They would gain a lot of time in answering.

**Describe the solution you'd like**
See a temporary answer in real-time next to the "isTyping" widget.
Also have a documentation on how

[2021-03-10 13:09] Brokray opened #1892 "Enhancement: Display agent status on assignation."
**Is your enhancement request related to a problem? Please describe.**
Whenever an agent wants to assign somebody else in a conversation it is kind of tedious as they don't know instantly who is available. (See screenshot).

**Describe the solution you'd like**
Categorize the agents you can assign to with "Online" agents first, then "Busy" and finally "Offline" ones.

**Describe alternatives you'v

[2021-03-10 13:21] pranavrajs commented on #1886
@Brokray No need, I just updated the title.

[2021-03-10 13:22] pranavrajs commented on #1887
@psifertex Are you aware of any standard by which we can transform it to emoji? It is not defined here https://unicode.org/emoji/charts/full-emoji-list.html

[2021-03-10 15:36] WevrLabs opened #1894 "Pre-chat form asks for name and email even when these are set in SDK"
Hi there,
It appears that the pre-chat form still asks the user for their name and email address, even though these may have already been set via the SDK.

Name and Email already set in SDK:
![Screen Shot 2021-03-10 at 8 43 26 AM](https://user-images.githubusercontent.com/66124192/110654666-05294d80-81c7-11eb-968e-26018a75deff.png)

Pre-chat form should not ask for name and email if set in SDK:
![

[2021-03-10 18:01] psifertex commented on #1887
Yup, they publish it here: https://github.com/iamcal/emoji-data

Here's a write up on someone else doing the same thing: https://aaronparecki.com/2017/02/05/8/day-47-slack-emoji

[2021-03-10 19:45] NitinNR commented on #1863
![image](https://user-images.githubusercontent.com/46310938/110687929-0b3f1e80-8207-11eb-821a-5b0338a3fb44.png)
the issue is mention in above image.when i tried to send mail to agent or forget password on mobile device.

[2021-03-11 03:40] iammattmartin commented on #1891
Near duplicate of #1137.

Needs to be optional as may breach privacy regs in some countries.

[2021-03-11 05:57] aekanshpartani opened #1895 "Card Messages - Postback buttons doesn't work"
**Describe the bug**

While using Card Messages, the postback button does nothing on click

**To Reproduce**

Steps to reproduce the behavior:
Use same request from here for card message - https://github.com/chatwoot/chatwoot/wiki/Creating-Bot-Messages-Types
Try clicking Add To Card button (postback button). It doesn't work.

**Expected behavior**

Just like input options it should be posting back

[2021-03-11 07:46] sojan-official commented on #1863
@NitinNR the error you have posted is related to email notifications, It isn't related to the problem you posted above.
You will have to get the logs from the server when a user submits the password as you stated originally.

[2021-03-11 07:51] NitinNR commented on #1863
How I can get server log related to error?

[2021-03-12 10:07] #1647 closed

[2021-03-12 18:16] psifertex commented on #1887
I've found a bunch of other libraries that make this trivial, for example:

https://github.com/jrobertson/emoji2020

I don't know ruby but it /looks/ like adding that library and replacing: https://github.com/chatwoot/chatwoot/blob/develop/lib/integrations/slack/incoming_message_builder.rb#L86

With:

[code]

should basically solve this with a one line change!

[2021-03-12 18:40] psifertex commented on #1887
Now that I think about it some more, it might actually be better to render as an html image which would require something slightly more complicated such as using the first link I pasted above and having the images available in a directory. Still relatively straight forward and would be much less susceptible to font issues on various websites.

[2021-03-13 06:12] #234 closed

[2021-03-13 15:11] NitinNR opened #1899 "why we cant delete messages and forward it?"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions you've considered.

**Additional

[2021-03-13 16:45] iammattmartin opened #1900 "Improvement to path when offline"
**Is your enhancement request related to a problem? Please describe.**
No

**Describe the solution you'd like**
When offline (i.e outside of business hours), the out of hours text is only small and may be overlooked.

When you start the chat, you only then see "we are offline" and nothing in the chat window.

I would suggest that either at the top of the window with text on a highlighted backgroun

[2021-03-13 16:46] iammattmartin opened #1901 "Alternative behaviour when offline"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
For us at least, we use CW as more a chat software simply because of the inability currently continue a conversation across different devices. (prev raised on #980)

In an ideal world, we could specify what happens out of hours, such as:

- Not showing the widget at all
- Showing a contact f

[2021-03-13 16:49] iammattmartin commented on #1899
You'll need to fill out the actual questions in your post as to what enhancement you want as your subject isn't giving enough details.

[2021-03-13 16:53] iammattmartin opened #1902 "GeoIP lookup stopped in latest release"
**Describe the bug**

Not seeing a geoIP lookup after the latest dev build push in to 1.13.1 today.

**To Reproduce**

Start chat
Check visitors credentials
GeoIp data missing