[2020-08-05 11:12] pranavrajs commented on #1120
@danirolopes Yes, this is the current behaviour we would make necessary changes to see resume the previous session.

[2020-08-05 12:16] #971 closed

[2020-08-05 15:19] converso-chat commented on #1119
Gupshup is like Twilio. However, we can use our own numbers, it also has options of Interactive buttons with Call to Action, Quick Reply, call ... Besides costing only $ 0.001 and Twilio $ 0.005. Gupshup is much better than Twilio. But it is just a suggestion of mine.

[2020-08-06 09:51] #1008 closed

[2020-08-06 09:59] jensJJ opened #1124 "Deploying Chatwoot to Heroku (Button) receive error: webpack not found + actioncable"
**Describe the bug**
Deploying Chatwoot to Heroku (Button) receive error: webpack not found and actioncable.

**To Reproduce**
Steps to reproduce the behavior:
1.Click on Heroku Deploy in Github and use the master branch default

**Expected behavior**
Successful deploy expected

**Desktop (please complete the following information):**
Firefox 79.0 64bit, Windows

**Additional context**
Error Debug

[2020-08-06 11:01] pranavrajs commented on #1124
[code]
Not sure why this is failing, @jensJJ Can you please try again and see if the error is consistent?

[2020-08-06 11:08] pranavrajs commented on #1124
Looks like npm registry is having some issues, this could be due to that https://status.npmjs.org/

[2020-08-06 11:11] jensJJ commented on #1124
I tried 5x also with changing Europe/USA location. Same error.

[2020-08-06 12:00] sojan-official opened #1125 "Feature: Generate backups from admin panel"
- [ ]  add an option in super admin pannel to generate database backups into storage
 - [ ] documentation on how to back up your storage ( for unmanaged solutions like Linux VMS )

[2020-08-06 14:26] rjroot commented on #1122
Would be great to include active users on sites/properties, their current page if that help us push a notification (trigger). Can it also include referrer info?
Features such as daily,weekly,monthly visitor count,page view count can be pushed at some later stage if devs permit.

[2020-08-07 12:15] WevrLabs commented on #895
Any ETA for this feature? It'll probably be one of the most crucial additions to Chatwoot.

[2020-08-07 14:58] pranavrajs opened #1126 "Deploy to Heroku using Docker images"
Right now the Heroku deployment is following traditional Rails App deployment pattern, one of a couple of drawbacks for this approach is that the build process has to pull all the dependencies and compile it every time a new user is deploying the application. This is not required. As the same release is being deployed by everyone, it doesn't make sense to ask the users to wait until the compilatio

[2020-08-07 14:59] pranavrajs commented on #1124
@jensJJ It seems to be an issue with the npm registry. I tried a deploy now and it works. I've created an issue to use prebuilt images on Heroku instead of compiling the app everytime. https://github.com/chatwoot/chatwoot/issues/1126

[2020-08-07 14:59] #1124 closed

[2020-08-09 00:03] iammattmartin opened #1127 "Hide Empty Inbox"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Where you have a few (20+ Inboxes), these crowd the left hand panel, even when they may all be empty. An option to hide those inboxes which have no active messages would make things a bit more streamlined.

**Describe alternatives you've considered**
None

[2020-08-09 00:04] iammattmartin opened #1128 "Stream Messages"
**Is your enhancement request related to a problem? Please describe.**
No

**Describe the solution you'd like**
The inbox view is static and appears to not update unless the page is refreshed. It would be nice to have this refresh/poll at regular intervals so if you have the page open in a tab, or in an app like "Fluid" when you go to it, it won't look like it has no messages (unless you manually

[2020-08-09 06:14] pranavrajs commented on #1128
@iammattmartin I couldn't completely understand the issue. Is this the duplicate of #995

[2020-08-09 06:14] pranavrajs commented on #1127
@iammattmartin This is a good suggestion.

[2020-08-09 12:43] #919 closed

[2020-08-09 17:25] iammattmartin commented on #1128
Looks like it is quite similar.

I was just talking about the inbox messages, so brand new conversations appear without having to refresh but I suspect this could all be related under to the same bit of work. :)

[2020-08-09 18:03] pranavrajs commented on #1128
Yes, this is the same. Closing the issue as it is a duplicate

[2020-08-09 18:03] #1128 closed

[2020-08-09 18:16] pranavrajs opened #1131 "Feature: Require name, email and message before starting a conversation"
### Problem

In the current design, the user can start a conversation with a `Hi` or `Hey` and expects the agent to reply to the message. While it may be okay with a lot of people, it would be better for some businesses to have the complete context about the query before agent can start working on it.

### Solution

Add an additional screen before creating the conversation which asks for the email

[2020-08-09 18:44] pranavrajs opened #1132 "Feature: Display Online Status, response time on the widget"
### Problem

In the current widget view, team availability is shown as a toast and there is no information about the time people will take to reply.

### Solution

- Remove the existing message input box and show an agent availability along with the response time.

### Acceptance criteria

- Add a DB field for the user to choose the response time
  - Replies in a few minutes
  - Replies in a few h

[2020-08-10 06:47] pranavrajs commented on #895
@WevrLabs We will take this one in the next sprint.

[2020-08-10 08:47] pranavrajs opened #1133 "Feature: Allow users to set custom attributes via SDK"
### Problem

The companies have more information about the customer like account name, his billing pattern or any other information they want the customer support agents to want to see. There is no way now to set this information

### Solution

Provide a new method on SDK `setCustomContactAttribute()` which would set the information about the customer.

[2020-08-10 11:32] WevrLabs commented on #1131
Very Nice!
How this will work in case Name and Email already been passed by the Website SDK?
I suggest in such case, to display the normal look once the user clicks the "Send Message" button, i.e: the normal look of the widget, with just minor adjustments like this:

<img width="429" alt="Screen Shot 2020-08-07 at 7 18 53 PM" src="https://user-images.githubusercontent.com/66124192/89778484-e74f198

[2020-08-10 12:44] pranavrajs commented on #1131
@WevrLabs If the name, email is already available, then we will skip this screen.

[2020-08-10 16:09] WevrLabs commented on #1133
If these could also be set or edited from the Dashboard directly as well, it would be a plus, because of other channels that do not support the Website SDK (WhatsApp, Twitter, etc)

[2020-08-10 17:57] NikhilGupta1997 commented on #698
Hi Sojan. Is there any plans to have this issue part of release 1.8.0?
FreshDesk and Zendesk are very useful tools and integration with them will make it so much easier for the agents.

[2020-08-10 20:55] iammattmartin commented on #1133
Maybe just to expand on this.... having the ability to set a data source to pull that data via JSON or similar in a preset format could be even more powerful.

This means it could update in near-realtime instead of being what is submitted at chat time.

[2020-08-10 20:58] iammattmartin commented on #1131
If someone chats and that information has already been passed, instead of just having the "type your message" prompt, it would still be good to preset a similar info grab as per @pranavrajs screen shot but just missing the name/email capture.

It could be as simple as "please enter your question below", or even contextual to add more of a personal feel...

"Hi [name], blah blah blah, type your que

[2020-08-11 03:56] sojan-official commented on #698
@NikhilGupta1997  As email conversations are coming into chatwoot, we are still evaluating how we can make a useful integration out of this. So at the moment it's still in spec phase.

[2020-08-11 04:27] #982 closed

[2020-08-11 11:15] converso-chat opened #1135 "Default Locale not set"
**Describe the bug**
Hello! Shouldn't the "LANG" variable in Heroku's "Config Vars" set the default language I select? I replaced en_US.UTF-8 with pt_BR.UTF-8 and did not change it. Am I doing it wrong or is there another way to set the default language?

Thanks

[2020-08-11 13:45] iammattmartin opened #1136 "Full Name vs Display Name"
**Describe the bug**
In the widget/email from 1.7.0, the name set in the "Display Name" is not used or is inconsistent. Instead the "Full Name" continues to be used as noted case #972.

**Expected behaviour**
Given the title of "Display Name", we'd expect to see that in the widget and used in emails and the full name used to staff/admin.

It seems that both the Display Name and Full Name are mixed

[2020-08-11 13:56] pranavrajs commented on #1136
@iammattmartin Sorry I missed the previous comment on this.

This is the current behaviour.

1. Display Name: It will be used everywhere except agent listing for admin
2. Full Name: It will be used only in the agent listing for admin

Upcoming release: We will provide a config for the admin to set what name type should be used in Dashboard and widget.

Is the current behaviour mentioned above cons

[2020-08-11 13:58] iammattmartin commented on #1136
Still a bug as far as I can see.

I set each option to different values.

Display: Name 1
Full: Name 2

In the Widget, I got "Name 2" based on the Full Name setting but in the email, I got "Name 1" for the Display Name.

So it appears that the email is correct and using the display name but the widget is still using the full name incorrectly.

[2020-08-11 17:50] iammattmartin commented on #1136
This was mostly resolved due to an issue with the updater not clearing the cached objects.

Although I can see that the name under the "Collaborators" tab in the UI uses the Display Name and not the Full Name as well as the current logged in staff name (bottom left).

I'd probably expect that, given the conditions you mention, it should be using the Full Name..?

I think the simple rule of, if in

[2020-08-11 17:58] pranavrajs commented on #1136
This makes sense we will check this out.

[2020-08-11 18:02] pranavrajs commented on #1136
Also on that note, we would want to keep message area using Display Name instead of Full Name. I've mentioned below the places where it would be ideal to use Display Name instead of long full Name

1. Message sent by indicator

<img width="298" alt="Screenshot 2020-08-11 at 11 30 00 PM" src="https://user-images.githubusercontent.com/2246121/89931979-94b74f80-dc2a-11ea-84db-aae3623d989f.png">

2. A

[2020-08-11 18:05] iammattmartin commented on #1136
I think everywhere that is only viewable to staff, should always be the full name of the agent.

At least for us, we'll be using the staff's first name on the display option, so if you have multiple people with the same name, that will get confusing on the admin side.

(Additionally, we may look to add the job title on the full name: i.e "First Last (Job)", for dealing with staff across teams.

I

[2020-08-11 18:06] pranavrajs commented on #1136
@iammattmartin Make sense, I believe a toggle both FullName vs Display Name is best here.

[2020-08-11 18:25] pranavrajs commented on #1135
@converso-chat Can you please more info about this. Please share a screenshot or the page where you are facing the issue. Also please add the steps you have done.

[2020-08-11 18:37] converso-chat commented on #1135
Hello. As a post here from GIT I changed and Heroku the LANG variable, as shown in the image. However, in English, I would like to use Brazilian Portuguese as the default language. aA purpose, I am updating the language pt_br and I will post next, the language of the mobile app has already translated 100% and I will also post

Thanks

![image](https://user-images.githubusercontent.com/64017660/899

[2020-08-11 23:02] iammattmartin opened #1137 "Peak Preview"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
For website chats, being able to see what the user is typing in near-real time will allow the staff member to prepare a response or look up that information before the question is fully sent. This improves support responsiveness and leads to a better experience.

This is supported by similar

[2020-08-11 23:49] iammattmartin commented on #1100
Just like to scope in that changing the text for the expanded blob would required as well from this as the word "chat" is a bit misleading for a blanket statement as it isn't really a chat when some messages are not live/real time.

(Already discussed via email but adding here given a task already exists for others to be able to search).

[2020-08-11 23:52] iammattmartin opened #1138 "View Third Party Profile"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Similar to the link for the original tweet on the 1.7.0 release for twitter, it would be nice for an added scope that the user profile in CW links back to their Twitter profile.

In addition, the same should apply to Facebook.

[2020-08-12 06:28] sojan-official commented on #1135
@converso-chat  at the moment we don't have the ability to change the language of chatwoot at the installation level.
We are working on this capability over  https://github.com/chatwoot/chatwoot/issues/830

[2020-08-12 06:28] #1135 closed

[2020-08-12 07:16] mohmmd256 commented on #1137
Might add an option to **disable agent typing status** in this case, as if the customer sees the agent typing as they are preparing the response, client may stop writing to wait for the agent to finish, however, the agent is building upon client's input, but will stop typing as well once the clients stops, and then client "restarts" typing, agent "restarts" preparing response, client stops, etc ..

[2020-08-12 08:49] iammattmartin commented on #1137
Or disable agent typing status within X seconds of the client typing, and entirely when they are typing :)

[2020-08-12 10:43] nelajc opened #1139 "Routing Error. No route matches [GET] "/monitoring/sidekiq""
**Routing Error. No route matches [GET] "/monitoring/sidekiq"**
I tried to setup chatwoot using docker and surely followed all the steps but unable to access sidekiq on,
http://0.0.0.0:3000/monitoring/sidekiq

**To Reproduce**
Steps to reproduce the behavior:
1. Access Rail App http://0.0.0.0:3000 (**good**)
2. Access Mailhog http://0.0.0.0:8025 (**good**)
3. Access Sidekiq http://0.0.0.0:3000/mon

[2020-08-12 12:20] tabrza commented on #1131
In addition, if the team is offline, a similar screen could be used. In the inbox settings option the admin can select whether this screen should be show always, only if offline or never. Perhaps different header options should be possible if it were used in this case scenario.

[2020-08-12 12:27] tabrza commented on #682
An alternative to the above is how [intercom](https://www.intercom.com/) handles it. Users can either search for an 'article' or if they were to scroll down, see news updates/QnAs
![image](https://user-images.githubusercontent.com/21217850/90014584-c8dd4f80-dcc0-11ea-9db2-56180ef4864b.png)

another example is from freshworks:
![image](https://user-images.githubusercontent.com/21217850/90014745-0c3

[2020-08-12 12:31] sojan-official commented on #682
@tabrza  this should be covered in #1002

[2020-08-12 20:25] sojan-official commented on #1139
@nelajc could you let us know where you find the instructions `Add SIDEKIQ_AUTH_USERNAME and SIDEKIQ_AUTH_PASSWORD in .env (still routing error)`

In the latest versions of chatwoot, sidekiq access was moved to our super admin area

1) In your rails console type the following to create a super admin
[code]
2) Access yourchatwoot.com/super_admin
3) authenticate and you can find sidekiq option on th

[2020-08-12 20:27] sojan-official opened #1140 "Chore: Explore using latest Twitter APIs(V2)"
Explore how to leverage the latest Twitter v2 APIs to improve the Twitter experience on Chatwoot.

https://developer.twitter.com/en/products/twitter-api/early-access/guide#rollingout

[2020-08-13 14:16] xpayserver opened #1142 "Docker 1.7 db migration crash"
**Describe the bug**
I spend all night trying to deploy via docker but no luck as some postgres tables not created apparently. Docker compose is here: https://github.com/xpayserver/btcpayserver-docker/blob/a/docker-compose-generator/docker-fragments/opt-add-chatwoot.yml

First issue is if I have existing postgres container, I cannot make it create another database. Good practice is for the applica

[2020-08-13 14:37] xpayserver commented on #1142
I have fix by running ` docker exec -ti chatwoot sh -c "export DISABLE_DATABASE_ENVIRONMENT_CHECK=1 && bundle exec rails db:reset"`

But no way to have db set up automatically on first load?

[2020-08-13 14:40] xpayserver opened #1143 "subpath no work"
**Describe the bug**
Cannot use chatwoot on subpoath of domain (xyz.com/support)

I have configure nginx to rewrite url from subpath to container (https://github.com/xpayserver/btcpayserver-docker/blob/a/Production/nginx.tmpl#L99)
and also configure frontend url env var to have full path (https://github.com/xpayserver/btcpayserver-docker/commit/4723c02f005b6f4c6caac5adcf04100490c66de5#diff-041e5b6

[2020-08-13 14:44] pranavrajs commented on #1142
@xpayserver Sorry about this experience. Are you trying to upgrade the server from 1.6 to 1.7 or are trying to do a fresh install?

[2020-08-13 16:10] sojan-official commented on #1143
Chatwoot is designed with the expectation that it will be run on a dedicated root domain/subdomain. Features are built with that expectation.
So running it in a subpath is not something we are looking into at the moment.

[2020-08-13 16:10] #1143 closed

[2020-08-13 16:51] xpayserver commented on #1142
it ok, I greatly appreciate FOSS. fresh install

[2020-08-14 05:26] nelajc commented on #1139
Hi @sojan-official

that SIDEKIQ_AUTH_USERNAME and SIDEKIQ_AUTH_PASSWORD, I found it in here [https://github.com/chatwoot/chatwoot/issues/431](url)

1. unable to see the rails console.
2. i was able to access that page but when I enter the super admin credentials it will just load the page.
3. answer's in number 2.

[2020-08-14 06:16] sojan-official commented on #431
In the latest versions of chatwoot, sidekiq access was moved to our super admin area

In your rails console type the following to create a super admin
[code]
Access yourchatwoot.com/super_admin

authenticate and you can find sidekiq option on the sidebar

[2020-08-14 06:18] sojan-official commented on #1139
@nelajc  that was instructions for the older version, please ignore that.

1. how did you try to access the rails console ?
2. we don't create a super admin by default, so the credentials will only work after you create the user via rails console.

[2020-08-14 08:49] markopolojarvi opened #1145 "Postgres on other than 5432 port doesn't work"
**Describe the bug**
I have an external Postgres database which uses non-standard port. Chatwoot doesn't seem to have an option to set custom port for Postgres. If I set IP:CUSTOM_PORT as POSTGRES_HOST, Chatwoot will attempt to connect to IP:CUSTOM_PORT:5432.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to setup Postgres with custom port.

**Expected behavior**
Chatwoot should either

[2020-08-14 09:33] nelajc commented on #1139
@sojan-official

hmmm rails console not on installation guide. can give me step by step on how to do it?

[2020-08-14 09:34] pranavrajs commented on #1145
@markopolojarvi You can make use of the `DATABASE_URL` env variable instead of setting `POSTGRES_USERNAME`, `POSTGRES_HOST` and `POSTGRES_PASSWORD`

This was missing in the documentation. I've added it via #1146.

Please let us know if that works.

[2020-08-14 09:37] pranavrajs commented on #1139
@nelajc

1. Open the directory where Chatwoot code is available.
2. Run `bundle exec rails console`. If you are running on production mode, `RAILS_ENV=production bundle exec rails console`
3. You should be able to run the command specified in the comment above.

[2020-08-14 13:12] markopolojarvi commented on #1145
Something is still a bit wonky. I'm not sure if it's user error or the code ;)

[code]

It looks like it's not reading DATABASE_URL at all.

[2020-08-14 13:20] pranavrajs commented on #1145
@markopolojarvi  Can you share the config you are using?

[2020-08-14 13:26] markopolojarvi commented on #1145
Docker ENVs:

[code]

[2020-08-14 13:32] pranavrajs commented on #1145
@markopolojarvi

It should `DATABASE_URL` not `DATABASE_URI`

[2020-08-14 13:35] markopolojarvi commented on #1145
Ah, sorry, it was that originally. I just tested it with URI to see if there was a typo somewhere and I left it. Still doesn't work with DATABASE_URL.

[2020-08-14 13:39] pranavrajs commented on #1145
That's weird. Let us see if you have correct config. Attached below is a sample config for production use.

You would be able to see 2 containers running the same base image with a different command. One for the actual app and another one for the SideKiq(worker). Are you sure that the same config is set for both rails and sidekiq containers?

https://github.com/chatwoot/chatwoot/blob/f5374e0cd9dc4

[2020-08-14 13:46] markopolojarvi commented on #1145
Looks about right. I created two containers based on instructions at https://www.chatwoot.com/docs/deployment/deploy-chatwoot-with-docker and everything is running on top of them. Both are using same envs.

[2020-08-14 13:52] pranavrajs commented on #1145
@markopolojarvi Let me quickly run with this config and see if there is any error.

[2020-08-14 15:55] quacktacular commented on #1145
I modified my `rails.sh` and it appears to be working now:
[code]

[2020-08-14 16:01] pranavrajs commented on #1145
@quacktacular This is a good find. Can you raise a PR? I can work on top of this. Looks like there might be one more place we need to make this change

[2020-08-15 04:23] angelosorno opened #1148 "SMTP Notification on Heroku Deploy"
Hi, we're try to deploy the latest version on Heroku many times, but i don't understand, why the notification for a new account for agent don't run. We put the SMTP credential (SES by Amazon) like the tutorial. I don't know if AWS SES it's diferent that:

MAILER_SENDER_EMAIL=_email-smtp.us-east-1.amazonaws.com_
SMTP_ADDRESS=mail@domain.com
SMTP_USERNAME=******
SMTP_PASSWORD=******

This is our dep

[2020-08-15 06:32] pranavrajs commented on #1148
@angelosorno Under your resources tab in Heroku app, you will be able to see 2 dynos.
1. Web
2. Worker

<img width="1252" alt="Screenshot 2020-08-15 at 12 01 40 PM" src="https://user-images.githubusercontent.com/2246121/90306897-163f0400-deef-11ea-9f0c-cfc68ca0226c.png">

Can you confirm whether both Dynos are "ON"?

[2020-08-15 06:35] dixytudla commented on #243
Hi @pranavrajs this would be an awesome feature! Has this been tested yet?

[2020-08-15 06:47] angelosorno commented on #1148
Worker it's turn off
![imagen](https://user-images.githubusercontent.com/54144166/90307120-24facc00-de99-11ea-8be6-8a3504d66d43.png)

[2020-08-15 06:50] pranavrajs commented on #1148
@angelosorno Please turn on the worker, everything should work fine.

[2020-08-15 06:50] pranavrajs commented on #1148
@angelosorno Closing this, for now, feel free to re-open if this does not fix your issue.

[2020-08-15 06:51] #1148 closed

[2020-08-15 06:51] angelosorno commented on #1148
Sr. Prana, really thank you.

![imagen](https://user-images.githubusercontent.com/54144166/90307185-a6eaf500-de99-11ea-9249-e3f76c8d8017.png)

All it's all right

[2020-08-15 16:07] CL545740896 opened #1150 "how can i get the doc about via api channel ?"
**Describe the bug**
A clear and concise description of what the bug is.
i want to know what different  about  webhook  ang  via api  inbox channel ?
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add scree

[2020-08-15 16:45] jensonpaul commented on #1139
I have the Chatwoot installed using CapRover on Ubuntu 20.04. It is working fine.
Just need to access the super_admin. How do I access the rails console?

[2020-08-16 03:29] sojan-official commented on #1139
@jensonpaul  access the server you have caprover running in
run `docker exec -it $(docker ps --filter name=srv-captain--chatwoot-web -q) /bin/sh`

this will let you access to the container where you are running chatwoot-web service.
make sure to change `chatwoot-web` if you are running the container under a different name.

now you have use the instructions posted by @pranavrajs  in earlier commen

[2020-08-17 03:30] nelajc commented on #1139
Hi @pranavrajs .
on number 2.. i am running chatwoot using docker, what container should I execute that command. we have a total of 7 containers in chatwoot docker. is this container named webpack on your github repository compose? [https://github.com/chatwoot/chatwoot/blob/develop/docker-compose.yaml](url)

[2020-08-17 05:55] #964 closed

[2020-08-17 22:13] iammattmartin opened #1154 "Twitter generating Conversations for blocked users"
**Describe the bug**
If a blocked user tweets your @username, this is converted to a new conversation. Usually on Twitter, you would not expect to see this at all. You would not know it happened.

Even if you reply, they will not see the message either.

**To Reproduce**
Steps to reproduce the behavior:
Block @username
Tweet from that username to a username in your CW installation
New conversation

[2020-08-18 06:55] pranavrajs commented on #1154
@iammattmartin I did a little bit researching and found that there is a field `user_has_blocked` to see if a blocked user mentions the account. We could build this enhancement.

[2020-08-18 14:13] iammattmartin commented on #980
It looks like Intercom do this in a similar way with a link (as well as allowing email replies).

![Screenshot 2020-08-18 at 3 11 13 PM](https://user-images.githubusercontent.com/15971590/90523920-59a2a800-e165-11ea-9603-7a9335c41145.png)

Clicking goes to the site and the original conversation shows again.

[2020-08-20 01:51] nelajc commented on #1139
**FIXED:**

instead of:
`s = SuperAdmin.**new**(email: "admin@xyc.com", password: "yourpassword")`

I used:
`s = SuperAdmin.**create**(email: "admin@xyc.com", password: "yourpassword")`

you can list super admins that was successfully created using:
`SuperAdmin.all`

[2020-08-20 01:52] #1139 closed

[2020-08-22 17:00] quacktacular opened #1162 "Reviewing resolved conversations causes too much memory usage"
**Describe the bug**
When I navigate to Conversations > All and select "Resolved" the request takes over 10 seconds and a memory usage spike of over 512mb occurs. Request is to: `https://my_chatwoot_instance.com/api/v1/accounts/1/conversations?status=resolved&assignee_type=all&page=1`

In my case I run 10 replicas of Chatwoot in an ECS cluster, each task with a 512mb memory limit. This request cau

[2020-08-23 12:22] mattes3 opened #1164 "window.chatwootSettings is undefined"
**Describe the bug**

I get an error message when loading the messenger script for the website inbox:

`Uncaught TypeError: window.chatwootSettings is undefined`

The bug is in this code: https://github.com/chatwoot/chatwoot/blob/cdd385b269a4a6031f5251f33cd445dbad389970/app/javascript/packs/sdk.js#L16

Ten lines earlier, a constant called `chatwootSettings` is created with a check for undefined. T

[2020-08-23 12:50] #1164 closed, assigned to pranavrajs

[2020-08-23 14:51] nithindavid opened #1165 "Conversation header style improvements"
- Update the conversation header design
- Update the contact side panel design

[2020-08-23 14:55] mattes3 opened #1166 "User avatar is not displayed"
**Describe the bug**

The avatar URL that I set in the `setUser()` call is not displayed in the desktop UI of Chatwoot.

**Expected behavior**

When I call this:

[code]

a HTTP PATCH request is sent to the Chatwoot server. The request payload contains a valid URL in the `avatar_url` field. Name and email appear in the conversation in Chatwoot. Nice!

I expected that the user's avatar would also s

[2020-08-23 16:59] pranavrajs commented on #1166
@mattes3 The avatar upload is a background job, it might take a little bit of time. Can you please share if there are any server error logs?

[2020-08-23 17:36] mattes3 commented on #1166
In the log of the web app, I see these:

[code]

In the log of the worker app, I find these:

[code]

So, the logs look fine to me. But the avatar does not appear in the UI.

[2020-08-24 16:09] pranavrajs commented on #1166
@mattes3 Can you share the log when the file is accessed. Please share both browser console logs and the server logs.

[2020-08-25 02:23] dixytudla opened #1170 "Facebook 24 hour reply restriction"
I every one!

Just curious if the Facebook 24 hour reply restriction is absolutely necessary? I asked cause I don't recall seeing it in the past versions. I only saw it when I upgraded to v1.7.2. I was on the developer version for a while.

Thanks in advance for the replies!

[2020-08-25 04:13] sojan-official commented on #1170
It's a Facebook platform restriction that we have to adhere to https://developers.facebook.com/docs/messenger-platform/policy/policy-overview/

In the previous version, we weren't showing the notice but the messages sent after 24-hour window might get discarded at the messenger side. We wanted to ensure chatwoot users understand this caveat.

[2020-08-25 05:43] #1170 closed

[2020-08-25 17:58] converso-chat opened #1171 "Dialogflow Integration"
**Is your enhancement request related to a problem? Please describe.**
Hello. I set up a greeting message for Twilio's WhatsApp channel, but it is not sent when starting a conversation. Another question is whether we can integrate a platform like Dialogflow, Watson for Chatbots.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternativ

[2020-08-26 08:26] mattes3 commented on #1166
@pranavrajs Here are some logs:

This is the console of chatwoot in Firefox:

[code]

In the network part of the Firefox console, I see a GET request:

[code]

The GET request fails with status 500 (server error). On the server side, I see these log entries. It seems as if the file simply cannot be found. Where is it stored?

[code]

[2020-08-26 08:29] mattes3 commented on #1166
Chatwoot is running in two Docker containers within a [CapRover](https://caprover.com/) installation. Neither the web app nor the worker app have persistent directories (a.k.a. Docker volumes). Maybe the problem is that the container has been restarted and the photos are gone?

[2020-08-27 07:26] pranavrajs commented on #1171
@converso-chat There are 2 items mentioned in this issue

1. Hello. I set up a greeting message for Twilio's WhatsApp channel, but it is not sent when starting a conversation

This looks like a bug. Can you confirm whether the greeting message is not sent in Whatsapp conversation?

2. Another question is whether we can integrate a platform like Dialogflow, Watson for Chatbots.

This is possible wi

[2020-08-27 07:28] pranavrajs commented on #1166
@mattes3 That seems like the issue.

https://caprover.com/docs/persistent-apps.html#removing-persistent-apps
This is a good resource.

@sojan-official Can you please take a look?

[2020-08-27 07:28] pranavrajs commented on #1150
@CL545740896 We don't docs around API Channel, we will try to write one by this weekend.

[2020-08-27 11:44] mattes3 commented on #1166
Wow, I switched the storage configuration to amazon, and suddenly everything works correctly with S3, except when there is a conversation that comes in from Twitter. The Twitter avatar is not used, right?

[2020-08-27 21:12] mattes3 commented on #1166
Just found out that Twitter avatars also appear when a new tweep contacts me or responds to me. So: everything seems to be O.K. now with storage='amazon'.

[2020-08-28 07:58] pranavrajs commented on #920
@RonWalker22 It looks like this is a duplicate for #1058. I'm closing this in favour of #1058 and it will be completed in #1174. Please feel free to reopen if this is not the case.

[2020-08-28 07:58] #920 closed

[2020-08-28 12:09] #1058 closed

[2020-08-28 20:37] jensJJ opened #1176 "Widget not showing german locale de, all other yes"
**Describe the bug**
Widget not showing german locale de, all other yes
Using 'de' (german) locale doesn't switch to german.

**To Reproduce**

Steps to reproduce the behavior:

[code]

1. So I tried fr,es they all work, but not de.
2. login into VM, as chatwoot user
3. ~/chatwoot/app/javascript/widget/i18n/locale/de.json
4. edited the missing translations
5. rake assets:precompile RAILS_ENV=produ

[2020-08-29 13:31] converso-chat commented on #1171
Really the greeting messages are not sent to Twilio / WhatsApp. As for Rasa my installation is in Heoku, I will install a place to try the BOT works. Thank you.

[2020-08-29 17:15] pranavrajs commented on #1176
@jensJJ I can see that there are some translations are missing for German, would you be able to contribute to German here https://translate.chatwoot.com/chatwoot/de?

[2020-08-30 16:16] #1150 closed

[2020-08-30 18:19] RonWalker22 opened #1180 "unused `router.js` file within app/javascript/widget"
It looks like the router file was replaced but never removed.

The **new file** `Router.vue`, located in app/javascript/widget/views

The **old file** `router.js`, located in app/javascript/widget

Do we still need the old file?

[2020-08-30 22:19] #1180 closed

[2020-08-31 00:43] jacob0929 commented on #1022
@kristinh12 are you still working on this? would like to pick this up otherwise

[2020-08-31 13:53] AleSocks opened #1181 "Object storage of alibabcloud"
As a Chinese customer, we can't get faster storage

[2020-09-01 02:19] iammattmartin commented on #1181
Can you link to some docs so that the developers don't have to hunt around?

Help them, help you.

[2020-09-01 06:51] MirzayevFarid commented on #1053
We’re using Chatwoot on Radity

- Radity

- ![logo-midnight@3x](https://user-images.githubusercontent.com/29518613/91811146-173a9a00-ec40-11ea-9d20-981cfcf59877.png)

- https://radity.com
- Radity develops digital products and build web and mobile applications (20 Team members)

Thanks for such an amazing work!

[2020-09-01 09:42] ghost opened #1183 "Running Chatwoot with Docker under Windows will fail starting webpack container due to exec "$@" command fails"
**Describe the bug**

Just followed the documentation under https://www.chatwoot.com/docs/installation-guide-docker and deployed chatwoot locally within a Docker Windows environment. After running `docker-compose` up all containers started, except the chatwoot_webpack_1 ones. It reports an error 127. The console output shows:
 `webpack_1   | Ready to run webpack development server.
webpack_1   |

[2020-09-01 12:50] AleSocks commented on #1181
https://www.alibabacloud.com/help/product/31815.htm?spm=a2c63.m28257.a1.4.5cf1bd3fqhR8t3

[2020-09-01 16:54] kristinh12 commented on #1022
@jacob0929  Ah, my bad, I had completely forgotten about this, you can go ahead!

[2020-09-01 17:39] pranavrajs commented on #1183
@mrgodlive Are you trying to run in it production mode or development mode?

[2020-09-01 17:42] pranavrajs commented on #1181
@AleSocks There is no direct support for Alibaba Cloud now, can you please try https://marketplace.alibabacloud.com/products/201074001/AWS_S3_compatible_API_for_Alibaba_Cloud-cmjj021922.html?innerSource=search as it seems to be S3 compatible. You can use our s3_compatible adapter for storage. Let me know this works, otherwise, we can investigate the effort required to make this work.

[2020-09-02 07:26] mrgodlive commented on #1183
Sorry, I forgot to told. It is the developement mode.

[2020-09-02 09:55] pranavrajs opened #1184 "Add Slack Message ID to external_source_id"
Right now, incoming messages sent to Slack does not have external_source_id attached to it. This often leads to the problem where the developer has to go through the logs to understand whether it is delivered or not.

[2020-09-02 09:57] pranavrajs opened #1185 "I18n locale is creating abnormal behaviour on SuperAdmin console"
Super Admin console is not currently set to use i18n files. However, setting I18n.locale on each request creates abnormal behaviour with super admin console. The text used in the console changes erratically.

[2020-09-02 09:58] pranavrajs opened #1186 "Echo messages from Facebook are not saved to Chatwoot"
If a person replies from the Facebook messenger, that message is not displayed in Chatwoot

[2020-09-02 11:09] pranavrajs commented on #1185
![photo_2020-09-02 16 37 48](https://user-images.githubusercontent.com/2246121/91974038-d6737b80-ed3a-11ea-8200-810b63dc97a7.png)

Irregular i18n locale selection due to caching?

[2020-09-02 15:52] yellow1912 opened #1188 "Alternative channel for email?"
**Is your feature request related to a problem? Please describe.**
When we integrate chatwoot with a platform that already has built in CRM of some sort, the email sending and syncing etc may already happen on that specific CRM.

The system I'm working on for example has a nice integration with Google's gmail api that does allow sending and pulling emails nicely. All the information is basically s

[2020-09-02 18:20] pranavrajs commented on #1180
@RonWalker22 This file is not necessary, thanks for bringing it up.

[2020-09-03 03:13] lybtt opened #1189 "how to use webpack docker?"
hi, I used docker-compose -f docker-compose.production.yaml up run chatwoot.

[code]

The deployment process was very difficult，but fortunately, it worked.

Then, I create a inbox in the web app, and I copy the code to my website.
[code]
I get the error, no-referrer-when-downgrade.

I check the /packs/js/sdk.js,  No such file or directory.

So maybe I need webpack first? what should I do?

[2020-09-03 07:03] pranavrajs commented on #1188
@yellow1912 I don't understand the issue. Let me tell you what I have understood so far.

1. You have a CRM with Gmail integration.
2. You would see emails coming in CRM inside Chatwoot.

Are you looking for an API channel? If so, can you please take a look at https://www.chatwoot.com/docs/channels/api/configure

[2020-09-03 07:09] #695 closed

[2020-09-03 07:09] pranavrajs commented on #694
https://translate.chatwoot.com

[2020-09-03 07:09] #694 closed

[2020-09-03 07:09] pranavrajs commented on #692
https://translate.chatwoot.com

[2020-09-03 07:09] #692 closed

[2020-09-03 07:10] pranavrajs commented on #691
Closing as the translations are moved to https://translate.chatwoot.com

[2020-09-03 07:10] #691 closed

[2020-09-03 07:10] pranavrajs commented on #689
Closing as the translations are moved to https://translate.chatwoot.com

[2020-09-03 07:10] #689 closed

[2020-09-03 07:10] pranavrajs commented on #690
Closing as the translations are moved to https://translate.chatwoot.com

[2020-09-03 07:10] #690 closed

[2020-09-03 07:11] #973 closed

[2020-09-03 07:17] lybtt commented on #1189
Yes, the Chatwoot instance is setup to use http, but I deployed a Chatwoot instance a long time ago use http, it works very well now. Has it been changed recently？

![image](https://user-images.githubusercontent.com/38394058/92083361-81963a80-edf8-11ea-9833-27bef65ecbb6.png)

![image](https://user-images.githubusercontent.com/38394058/92083422-98d52800-edf8-11ea-93d9-4795f004cf0d.png)

[2020-09-03 07:20] lybtt commented on #1189
Yes, the Chatwoot instance is setup to use http, but I deployed a Chatwoot instance a long time ago use http, it works very well now（maybe beacuse I deployed it with development mode?）. Has it been changed recently？should I use https?

![image](https://user-images.githubusercontent.com/38394058/92083571-d0dc6b00-edf8-11ea-95a2-c25c88d13830.png)

![image](https://user-images.githubusercontent.com/3

[2020-09-03 08:34] jackflax opened #1194 "How to authenticate into api using curl?"
I've been trying to authenticate into API.  I get the below message, any help would be greatly appreciated!!

{"errors":["You need to sign in or sign up before continuing."]}

I've been using curl/php:

$server = "https://xxxxxxx.xxx";
$accesstoken = "Authorization: Bearer xxxxxxxxxxxapitokenfromprofilexxxxxxxxxxxxx";

$apidata = array("content" => "Test", "message_type" => "outgoing", "private" =

[2020-09-03 08:45] pranavrajs commented on #1194
Please see this section https://www.chatwoot.com/developers/api/#section/Authentication

[2020-09-03 08:45] #1194 closed

[2020-09-03 11:54] sojan-official opened #1196 "Bug: Integrations page is broken on safari"
<img width="1676" alt="Screenshot 2020-09-03 at 5 23 15 PM" src="https://user-images.githubusercontent.com/73185/92111665-44d33f00-ee0a-11ea-937e-0cd68fa6366b.png">

Integrations page styles are broken on safari

[2020-09-03 12:06] sojan-official opened #1197 "[CW-2852] feature: Integration with Hubspot"
Integration with Hubspot

<sub>[CW-2852](https://linear.app/chatwoot/issue/CW-2852/feature-integration-with-hubspot)</sub>

[2020-09-03 13:46] lybtt commented on #1189
sorry, I made a mistake, I found the file(/packs/js/sdk.js) in the container, so maybe it's the problem with HTTPS, I will use https to setup the Chatwoot later. Thank you.

[2020-09-03 14:02] sojan-official commented on #1189
@lybtt  Feel free to reach out if you face any other issues.

[2020-09-03 14:02] #1189 closed

[2020-09-03 14:30] sojan-official opened #1198 "[CW-2854] feature: Ability to limit open conversations per agent"
The number of open conversations an agent can handle is limited. So how can we consider this case in a round-robin assignment?

----
## Changes Required

### Phase 1

- [x] In the inbox settings for auto-assignment, Introduce an option for a max limit of conversations that an agent can handle in that inbox.
- [x] The auto-assignment logic will respect this setting during execution
  - [x] if the n

[2020-09-03 15:20] AlessandraFrancez commented on #1198
Thanks for opening this, some food for thought:

- It could be 2 types of limit:
A soft limit that applies to round robin assignment
A hard limit that prevents agents to assigning more than X conversations to themselves

- Looking at competitors' approaches, Zendesk for example also has a "personal limit" that agents can set

[2020-09-04 13:21] darshit261991 opened #1201 "Redis::CommandError in DashboardController#index"
**Redis::CommandError in DashboardController#index**

When I start docker on my Mac and open localhost:3000 I get following error.
![Screen Shot 2020-09-04 at 6 49 31 PM](https://user-images.githubusercontent.com/28289275/92243755-96013280-eedf-11ea-8705-e6b92ee81771.png)

[2020-09-04 13:43] #1186 closed

[2020-09-05 01:22] jacob0929 commented on #1022
@sojan-official im trying to setup the project with some issues

im trying to follow the setup instructions and when I try to install Postgres with `apt-get`

trying to run command
`sudo apt install postgresql postgresql-contrib`

I get

[code]

would love some help with this.

[2020-09-05 15:36] sojan-official commented on #1022
@jacob0929  which operating system/environment where you are running chatwoot?

[2020-09-05 17:53] jacob0929 commented on #1022
I am using a Mac
On Sat, Sep 5, 2020 at 11:36 AM Sojan Jose <notifications@github.com> wrote:

[2020-09-06 01:45] jacob0929 commented on #1022
@sojan-official im also trying to install the Postgres on my Mac but the rails project does not seem to be working when running
`bundle exec rake db:create`

I usually use sql and not pg so im not too familiar with it. is it hard to set up on a Mac?

[2020-09-06 05:14] sojan-official commented on #1022
@jacob0929 did you go through these guides?
- set up the machine using - https://www.chatwoot.com/docs/installation-guide-mac-os [ install dependencies ]
- https://www.chatwoot.com/docs/quick-setup [ set up the project ]

since you are on the mac, you should be installing Postgres using

[code]

Also feel free to reach out to us on discord if you are facing more issues: https://discord.gg/cJXdrwS

[2020-09-06 17:24] pranavrajs commented on #1201
@darshit261991 It looks like you have not set the Redis password, can you please share the config you are using?

[2020-09-06 18:03] darshit261991 commented on #1201
You talking about .env file right? Here is the screen shot of .env file attached.

<img width="882" alt="Screen Shot 2020-09-06 at 11 32 32 PM" src="https://user-images.githubusercontent.com/28289275/92332163-3ea6c200-f099-11ea-94ce-dc4ece74c601.png">

[2020-09-07 09:49] #784 closed

[2020-09-07 12:54] #850 closed

[2020-09-07 16:38] iammattmartin opened #1205 "Record Reactions (Twitter/Facebook)"
**Is your enhancement request related to a problem? Please describe.**
Yes, reactions to messages in Facebook and Twitter are not recorded.

**Describe the solution you'd like**
Often people may respond to a message with a 👍 or similar. No text reply is needed from them, or from the staff replying. Currently, this is not logged so it just looks like someone has not responded. Likewise, customer wo

[2020-09-07 16:41] pranavrajs commented on #1201
@darshit261991 Please share docker-compose file as well.

[2020-09-08 06:02] pranavrajs commented on #1122
Moving this v1.9.x to research more about GDPR implications.

[2020-09-08 06:14] sojan-official commented on #1185
the mailer issue should be fixed in : https://github.com/chatwoot/chatwoot/pull/1204

[2020-09-08 08:37] NikhilGupta1997 opened #1207 "Chats not ordered by timestamp in inbox"
**Describe the bug**

When an inbox has more than 20 or more chats, the chats no longer seem to be ordered based on the timestamp. This is noticed specifically when the page is reloaded and we click on "load more conversations"

**Expected behavior**

I expect the chats to be in decreasing order based on timestamp.

**Screenshots**

<img width="421" alt="Screenshot 2020-09-07 at 2 36 31 PM" src="h

[2020-09-08 10:00] sojan-official opened #1208 "Feature: Ability to associate an owner to a contact"
- [ ] Ability to assign an agent as a lead owner for a contact
- [ ] Conversations get transferred to the lead owner when present
- [ ] Agents get notified when an owned lead starts a conversation

[2020-09-08 17:26] seanvm opened #1209 "Feature: Outbound/Welcome Messages"
**Is your feature request related to a problem? Please describe.**
We find that our conversions are much higher when we can engage our leads in a chat. With _other_ chat providers we found that we had much more engagement and believe it was due to their "outbound message" feature - essentially a welcome message configured to pop up after 10 seconds.

**Describe the solution you'd like**
We would l

[2020-09-08 17:52] pranavrajs commented on #1209
<img width="517" alt="Screenshot 2020-09-08 at 11 16 29 PM" src="https://user-images.githubusercontent.com/2246121/92510356-5745e200-f229-11ea-8f98-78428881ea98.png">

We have this unread message indicator which can be converted to build this feature. I understand this is a marketing use case and we have people requesting a similar feature.

As a first step to improve the UX around bubble indicato

[2020-09-08 18:48] seanvm commented on #1209
I noticed that, and we are currently trying out the "expanded" bubble, although it still seems to gain significantly less interaction than a welcome message.

Our use case doesn't require page or segment targeting. Our primary target is first-time visitors to the website.

However, I know other companies use features like this as a way to target existing customers in-app and let them know about im

[2020-09-08 20:27] iammattmartin commented on #1209
I'd agree on this.

Although scope should be considered for logic too.

I.e been on page for X seconds, or visited Y amount of pages. likewise, being able to show a message based on the page they're on too would be very powerful a bit less robotic.

[2020-09-09 01:26] iammattmartin opened #1210 "launcherText appears not to work"
**Describe the bug**

Following the SDK docs, I added:

[code]

The position and type work as expected but the launcherText does not.

Currently running v1.7.2 and have forced an upgrade again but this appears to not have helped.

[2020-09-09 01:40] iammattmartin opened #1211 "Ability to set brand icon as staff/agent avatar"
**Is your feature request related to a problem? Please describe.**
When used in a multi-brand environment, it isn't always possible to set staff avatars to the brand as they may be working cross brands. Likewise, some may not want to use their face.

**Describe the solution you'd like**
Ability to use the inbox icon, or a pre-set brand avatar for all staff, or those that don't have an avatar (or s

[2020-09-09 05:57] #1210 closed

[2020-09-09 05:57] pranavrajs commented on #1210
@iammattmartin This was a mistake in the documentation, it should be `launcherTitle` instead of `launcherText`

[2020-09-09 06:01] pranavrajs commented on #1211
I like the enhancement. This can be done. If there is no avatar for the user, and there is an avatar available for inbox we can use that.

[2020-09-09 06:12] pranavrajs commented on #1210
Thanks for reporting, this has been deployed to the site as well.

[2020-09-10 02:43] yani94 commented on #756
I have tried set both the followings env to
`FRONTEND_URL=https://mydomain.com`
`FORCE_SSL=true`

but it redirects the images attachment to https://127.0.0.1:3000 instead and not my domain.

[2020-09-10 08:14] dtharindu opened #1213 "Popup Chat Messages based on the web page of the user"
When the user is on a particular page popup a personalized message to initiate the conversation with the user.

Eg: If the customer is on the pricing page -> popup a message from the chat widget and ask "Do you have any questions regarding pricing?

[2020-09-10 10:56] pranavrajs commented on #1213
Seems like this is a duplicate of #1209. Please feel free to reopen the issue if it is not the case.

[2020-09-10 10:56] #1213 closed

[2020-09-10 13:49] #895 closed

[2020-09-10 13:49] #1118 closed

[2020-09-10 13:49] #1075 closed

[2020-09-10 17:31] sojan-official commented on #1185
ref: https://guides.rubyonrails.org/i18n.html#managing-the-locale-across-requests

[2020-09-10 19:02] pranavrajs opened #1215 "Sync older Facebook messages to Chatwoot"
Provide an option to fetch older messages from Facebook if possible

Action items:

- Investigate if the APIs are available.
- Estimate the effort required.

[2020-09-10 19:07] pranavrajs opened #1216 "Feature: Show reports for a custom time range"
- Add a date range picker instead of 7 days / 30days
- Update the API if required

Acceptance criteria:

- identify the date range picker to be used in chatwoot

[2020-09-10 19:08] pranavrajs opened #1217 "Feature: Filter reports by labels"
- Filter reports by labels

Acceptance criteria:

- Admin should be able to see reports of a particular label
- Admin should have a button to download a CSV report for labels

## Design

<img width="1745" alt="Screenshot 2021-08-15 at 7 47 47 PM" src="https://user-images.githubusercontent.com/73185/129481488-ebab0b38-2a31-49ed-91b0-d402526d2b1c.png">

[2020-09-10 19:09] pranavrajs opened #1218 "Feature: Filter reports by agents"
- Filter reports by agents

Acceptance criteria:

- Admin should be able to see reports of a particular agent.
- Admin should have a button to download a CSV report for  agents

## Design

<img width="1746" alt="Screenshot 2021-08-15 at 7 43 15 PM" src="https://user-images.githubusercontent.com/73185/129481380-9f403f1c-8ba5-464f-b186-f3092596c9a4.png">

[2020-09-10 19:11] pranavrajs opened #1219 "Enhancement: Allow drag and drop, copy & paste image/files in the agent input box."
- Allow drag and drop files on the input box
- Allow copy & paste image

[2020-09-10 19:13] pranavrajs opened #1220 "Enhancement: Integrate rich content editor for the agent"
- Implement Trix or Quill.js instead of the text area
- Update the API to sanitize the input

[2020-09-10 19:14] pranavrajs opened #1221 "Enhancement: Preview attachments before sending it to the user"
Right now, messages are sent as soon as the file is selected.

- Show a preview of the attachments before sending to the user.
- No need to allow more than one attachment right now.

[2020-09-10 19:18] #818 closed

[2020-09-10 22:46] iammattmartin commented on #947
@pranavrajs Do you know the current slated release for this. We have a few convos with data we'd really not want to keep.

[2020-09-11 07:17] #1165 closed

[2020-09-11 07:18] pranavrajs commented on #1171
@converso-chat I tried looking at the greeting message and it is sent correctly to the user.

<img width="501" alt="Screenshot 2020-09-11 at 12 46 48 PM" src="https://user-images.githubusercontent.com/2246121/92881971-1cac9700-f42d-11ea-96a5-175ce78809ff.png">

[2020-09-11 11:07] pranavrajs commented on #947
@iammattmartin This was removed from v1.7.0 as it was not complete at that time, we will get it done on the v1.9.x release

[2020-09-11 15:03] stschindler opened #1222 "Registration broken"
**Describe the bug**

After deploying and setting up Chatwoot 1.7.2 using Docker, upon trying to register, the web app says "Could not connect to Woot Server, Please try again later". The following log entry appears in production.log:

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Launch Chatwoot using the Docker deployment guide.
2. Migrate/create database.
3. Open a browser and g

[2020-09-11 23:34] iammattmartin opened #1223 "Interaction Updates"
**Is your feature request related to a problem? Please describe.**
At the moment, we see the URL that the user has requested the chat from. We don't see any change to this so if they've moved away from that page, we're not to know.

Likewise, if they've used the popout window, it would be good to know.

**Describe the solution you'd like**
I think it would be useful to integrate interactions on th

[2020-09-12 03:19] Giszmo commented on #1166
Trying to figure out why my new, self-hosted (caprover) instance doesn't allow to add a twitter inbox, I also found those logs:

[code]

and sure enough, the avatar I set isn't shown.

Is `storage=amazon` something I have to define somewhere? I'm confused. Just took my first steps.

[2020-09-12 05:56] mattes3 commented on #1166
Hi @Giszmo , the settings that you need to make are described here: https://www.chatwoot.com/docs/configuring-s3-bucket-as-cloud-storage
Cheers,
Matthias

[2020-09-12 14:25] pranavrajs opened #1225 "Notify user if Slack connection has expired"
- Move Integration: Hook to disabled status.
- Save the exception
- Send an email to the account administrators stating that the integration has been disabled.

[2020-09-12 16:25] Giszmo commented on #1166
I think it's unrelated. I disabled "Force HTTPS by redirecting all HTTP traffic to HTTPS" and now many issues are gone, although not all. It's a bit worrying that chatwoot relies on plain text communication but I have to dig deeper.

[2020-09-12 17:20] pranavrajs opened #1227 "Emojis doesnot render correctly in all platforms."
![image](https://user-images.githubusercontent.com/2246121/93001081-342d7200-f54a-11ea-977d-282d5a5cc355.png)

- **Browser**: Firefox 80.0
- **Operating System**: Generic Linux 0

[2020-09-12 17:33] Giszmo commented on #1227
My screenshot. The system is Ubuntu 20.04 with latest updates. On Chromium the smileys look fine.

[2020-09-12 22:36] Giszmo opened #1228 ""Add label" dialog does not show buttons to Create/Cancel"
**Describe the bug**

When I open the color picker in the "Add label" dialog, the buttons scroll off-dialog and I cannot scroll them back in.

**Screenshots**

![Screenshot from 2020-09-12 19-23-00](https://user-images.githubusercontent.com/96378/93006051-ec005680-f52d-11ea-9995-b2292efe3e47.png)

**Environment**

Server: CapRover on Digitalocean, running whatever the process gave me when installi

[2020-09-12 22:52] Giszmo opened #1229 "Add callbacks to the JS sdk"
**Is your enhancement request related to a problem? Please describe.**

I'm always frustrated when [...] I don't get feedback about an api call.

**Describe the solution you'd like**

Instead of calling [the sdk](https://github.com/chatwoot/chatwoot/blob/develop/app/javascript/packs/sdk.js) in a fire-and-forget style, I'd like to get called back on success/error.

[code]

is ok for issues that hap

[2020-09-13 03:30] Giszmo opened #1230 "$chatwoot.setLabel() is not reliable"
**Describe the bug**

Adding one label fails while adding another label works just fine.

**To Reproduce**

I defined two labels: `paid` and `maybepaid`. I might have camelCased `maybePaid` in my original input but it's now shown as mentioned above.
On the client side I call `$chatwoot.setLabel("paid")` which works. The conversation needs to be reloaded to see the effect but the label gets added.

[2020-09-13 06:14] pranavrajs opened #1231 "Feature: GDPR Consent request"
<img src="https://user-images.githubusercontent.com/2246121/93011698-0d0c8a00-f5b6-11ea-8e29-517ab1f4cb58.png" alt="widget-consent-form"  />

- Allow the administrator to configure a consent form on inbox settings
- Ask the user for consent in the widget
- If user accepts it, mark that the contact has provided a consent.

### Todo

- Work on a standard consent template language.

[2020-09-13 13:29] pranavrajs commented on #1227
Related: https://bugzilla.mozilla.org/show_bug.cgi?id=1544717

[2020-09-13 13:41] Giszmo commented on #1227
guess that's not a ChatWoot issue then. Close?

[2020-09-13 20:37] iammattmartin commented on #1231
Re: Work on a standard consent template language.

I think this should be admin definable within the admin area as either a free text field with mark up or HTML editor as every entity is different as to what they need to cover.

[2020-09-13 20:39] iammattmartin commented on #1230
Usually, the version can be found within Settings > Account Settings > bottom of page unless a few releases behind as that was only added in the last 2~ releases.

Maybe worth upgrading in any case if that isn't there.

[2020-09-14 03:30] Giszmo commented on #1230
v1.7.2

[2020-09-14 07:16] pranavrajs commented on #1231
@iammattmartin yes, that is the idea. This will be configurable in inbox settings for each inbox. A standard consent template language should only be used as a starting point.

[2020-09-14 08:12] pranavrajs commented on #1230
@Giszmo

This is known the label addition is not realtime.

Is there any error, we support only the predefined labels, you cannot add labels only the fly. This is done to reduce the irregularities in labels for eg: as you said maypbepaid can be written as mayBePaid or may-be-paid or mayBePaid and so on. To reduce the duplicate label there is no other standard way. So if you are using label on widg

[2020-09-14 08:25] pranavrajs commented on #1229
@Giszmo Can you please explain the use case why feedback is required? The need for Chatwoot SDK to provide callbacks on every method is relevant only if you are building something on top of the Chatwoot. It is not the case here. I don't really understand why fire and forget API calls are not useful.

[2020-09-14 08:26] pranavrajs commented on #1227
Yes, I think so. Closing it for now. If we can replicate this in multiple environments we will reopen this issue.

[2020-09-14 08:26] #1227 closed

[2020-09-14 08:28] pranavrajs commented on #1223
This can be made available with CRM module coming in v1.9.0

This is more of an analytics thing, we would get to this once CRM is in place.

[2020-09-14 08:32] pranavrajs commented on #1222
@sojan-official Can you please provide the steps to rerun the config loader here? It looks like the feature_flags are not created.

[2020-09-14 09:50] sojan-official commented on #1222
@stschindler  could you try restarting the rails servers and give it another try.

run the following command from rails console to reload config
[code]

Also had you tried running `rake db:seed` in your set up process

[2020-09-14 11:56] pranavrajs opened #1234 "Enhancement: Improve UX around availability status"
### Problem

Right now, the option to change availability status is hidden in profile settings. People might not realize that they have an option offline. To improve this UX, provide a setting right on the sidebar to change the status

### Design

<img width="391" alt="Screenshot 2020-09-14 at 5 24 24 PM" src="https://user-images.githubusercontent.com/2246121/93082974-73c19e80-f6af-11ea-90da-ac981

[2020-09-14 12:36] pranavrajs commented on #1145
Closing as #1147 is merged.

[2020-09-14 12:36] #1145 closed

[2020-09-14 14:37] mysticaltech commented on #1231
Looking good... Really looking forward to that much needed feature!

[2020-09-14 14:41] sojan-official commented on #756
@yani94  could you reopen this as a separate issue?
also, did you restart the server after setting the environment variables ?

[2020-09-14 20:05] Giszmo commented on #1229
Whatever business logic that uses the sdk does so to achieve something and successful calls are part of that.

In our case the user gets invited to go to the [paid service] page and if he then proceeds to click "pay", I want the invoice-id to be added to the chat and also I want to tag him as ["maybepaid"](https://github.com/chatwoot/chatwoot/issues/1230) before forwarding him to the payment proce

[2020-09-14 20:12] Giszmo commented on #1230
The concept was understood. As I said:

so subsequently I tried to set only those and no new on-the-fly labels.

So once again, with screenshots:

I have these labels defined:

![Screenshot from 2020-09-14 17-06-34](https://user-images.githubusercontent.com/96378/93133050-fe54ce80-f6ac-11ea-9e9f-eed163671b9d.png)

I am in this chat dashboard ...

![Screenshot from 2020-09-14 17-07-08](https://user

[2020-09-15 01:35] yani94 commented on #756
@sojan-official okay I will create a separate issue and I restart the server after change the settings

[2020-09-15 01:43] yani94 opened #1235 "Redirect image attachment domain not working"
I have tried set both the followings env to
`FRONTEND_URL=https://mydomain.com`
`FORCE_SSL=true`

but it redirects the images attachment to https://127.0.0.1:3000 instead and not my domain.

_Originally posted by @yani94 in https://github.com/chatwoot/chatwoot/issues/756#issuecomment-689940548_

[2020-09-15 06:02] stschindler commented on #1222
After executing those commands and restarting, it worked. I'm no Rails guy, so I have no clue about what I did wrong. Can you elaborate? ;-)

[2020-09-15 08:36] CL545740896 commented on #1132
i hope it can coming soon

[2020-09-15 21:32] clixnet opened #1236 "Conversation Reply Mailer Template Error undefined method for "available_name""
Seeing this failed job in sidekiq:

Queue
mailers

Job
ConversationReplyMailer#reply_with_summary

Arguments
{"_aj_globalid"=>"gid://chatwoot/Conversation/20"}, "2020-09-15 18:31:21 UTC"

Error
ActionView::Template::Error: undefined method `available_name' for #<AgentBot:0x00007fde1c17bd38>

[2020-09-15 23:25] iammattmartin opened #1237 "Link Generator to Initiate Chat"
**Is your feature request related to a problem? Please describe.**
No. Currently, CW relies upon the widget for a site. Now that the popup has been added, it could be easy to have a link generator so that a text link could be inserted within the text content to initiate chat, or even HTML formatted emails sent out for other things like invoices.

**Describe the solution you'd like**
Link generator

[2020-09-16 06:03] pranavrajs commented on #1235
@yani94 Are you running it production mode? (RAILS_ENV=production)

[2020-09-16 06:04] pranavrajs commented on #1132
@CL545740896 This would part of 1.8.1 release.

[2020-09-16 06:06] pranavrajs commented on #1222
We had a couple of installation configs which needs to run before you can use the service. This was supposed to be run as part of the installation process. Somehow it didn't work in this case. I guess we might need better documentation around the installation process and commands used. Closing this as it is fixed.

[2020-09-16 06:06] #1222 closed

[2020-09-16 06:09] pranavrajs commented on #1229
This will not be supported as anyone with the token (which is public) will be to brute-force what labels are defined in the account which is not ideal.

[2020-09-16 06:14] pranavrajs commented on #1229
[code]

In my opinion, this implementation is wrong. You should not be depending on whether the data is registered in Chatwoot or not to forward your customer to payment. If you want to do that, you can use our APIs. The frontend flow should not be dependant on what SDK returns. Moreover, Chatwoot at present does not have an analytics function and this falls right into that.

[2020-09-16 06:16] #1236 closed

[2020-09-16 13:04] sojan-official opened #1239 "feature: Include the messaged triggered from url in webhook events"
As I am leveraging chatwoot webhook events/APIs to build on top, receiving the URL where the user is currently chatting from will be helpful.

[2020-09-16 15:46] Giszmo commented on #1229
So then please tell me why the sdk is exposed in the first place if the user is not allowed to make sure the call worked. If I do:

[code]
`$chatwoot.setCustomAttributes({orderId: orderId})` has no effect as it is itself dispatched async and never actually gets executed as the user already is navigating away. I now have to hack 200ms of wait but would rather want to wait for success and not for a

[2020-09-17 00:03] iammattmartin opened #1240 "Feature: Use Gravatar Image if contact has no avatar attached to it"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
For customers that use email, they have no avatar. It would be nice to just pull from Gravatar as we already have their email and this would add to a more personable touch.

It is fairly common and acceptable that this is done which is why people set up their gravatar in the first place.

[2020-09-17 00:31] Giszmo opened #1241 "Allow richer "Welcome Tagline""
**Is your enhancement request related to a problem? Please describe.**

I try to communicate to the user what the chat is about but it wouldn't fit into a short and simple tag line. I'd like to link to a more in detail page. Links don't work. At least not using markdown or html syntax.

**Describe the solution you'd like**

The "Welcome Tagline" should allow markdown or at least some markdown like

[2020-09-17 01:38] yani94 commented on #1235
i'm running in linux vm production mode

[2020-09-17 07:23] pranavrajs commented on #1240
@iammattmartin We use to have gravatar before. I don't remember why we removed it. This seems like a nice addition.

[2020-09-17 07:25] pranavrajs commented on #1229
We will keep this feedback. It would take a significant effort to do this.

[2020-09-17 16:04] sojan-official commented on #1230
ref:  #1229

[2020-09-17 16:05] iammattmartin commented on #1241
I would say this goes for the initial message too.

[2020-09-17 17:46] clixnet opened #1244 "Mail Channel Inbox Setup (Additional Instructions)"
Hi Chatwoot Team:

I've setup mail channel inbox.  Followed the continuity instructions in setting up sendgrid and dns properly.

I've confirmed sendgrid inbound parse is posting correctly to chatwoot.  However, no email is showing up in channel and I'm not sure where to start as I'm not seeing any errors.

Are there any more detailed instructions on setting up or additional tips anyone could prov

[2020-09-17 17:53] vishal-pandey opened #1246 "Facebook inbox filename bug"
**Description**

I have added Facebook inbox in Chatwoot also using S3 for storage,
When a user sends a file it's name appears on the dashboard as `<timestamp>..pdf` (e.g. `1600359806..pdf`) not the actual file name sent.

**To Reproduce**

Steps to reproduce the behaviour:
1. Configure Facebook app credentials in .env file
2. Configure S3 credentials in .env file
3. Add a new Facebook inbox from

[2020-09-17 18:01] pranavrajs opened #1247 "ArgumentError: 'agente' is not a valid role"
[code]

https://sentry.io/share/issue/41b0f3ce6e5f43a59524c3a0d8cbf9c3

[2020-09-17 20:02] Giszmo opened #1248 "Can't answer on Twitter inbox"
**Describe the bug**

When receiving messages on a Twitter inbox, my answers get recorded on ChatWoot but on twitter they don't appear.

**Expected behavior**

Whoever sends me an IM on Twitter should receive my answer exactly the way I see it in ChatWoot.

**Screenshots**

I chatted the account that I configured for the inbox but never saw the replies:

![Screenshot from 2020-09-17 16-59-16](http

[2020-09-17 20:27] Giszmo commented on #1248
Apparently something is wrong with websockets. In the server logs I read:

[code]

and in CapRover I have set the app as per this screenshot:

![Screenshot from 2020-09-17 17-27-02](https://user-images.githubusercontent.com/96378/93524567-132e9d80-f90b-11ea-8709-dcc6ca368405.png)

[2020-09-17 22:48] iammattmartin commented on #1101
Maybe to add to this, we have locked down some URLs from non-trusted IPs:

- / (index)
- /app
- /super_admin

We're allowing:

- /* (anything else)

It would be good to know any locations which are admin only, i.e such as for mobile app if they differ to the above list.

[2020-09-18 02:02] Giszmo commented on #1248
I just answered to a public tweet but again, no tweet was visible on Twitter.

[2020-09-18 02:43] Giszmo commented on #1230
So poking around a bit more I noticed that using undefined labels does work in that the label gets stored even though it was not defined beforehand which does raise DOS concerns. To test that, I ran

[code]

(against my self-hosted instance) and got this:

![Screenshot from 2020-09-17 23-26-40](https://user-images.githubusercontent.com/96378/93548660-0b3c2100-f93e-11ea-9748-ee2035fe0650.png)

As t

[2020-09-18 06:39] sojan-official opened #1249 "[CW-2857] Enhancement: Removing labels is inconsistent"
## current behaviour

- If I define `labelx` in chatwoot interface and add it to n conversations.
- later I remove the previously defined `labelx` from dashboard
- the `labelx` still remains in the conversations

## intended behaviour

- when i remove an existing label
- it should show a prompt showing the label will be removed from x number of conversations
- on confirmation labels should be clea

[2020-09-18 07:51] pranavrajs commented on #1244
@clixnet Are you trying to use email channel or conversation continuity?

If you are trying to use the email channel, it is still under a feature flag. It might not work. We will release in the upcoming releases.

If you are trying to use the conversation continuity, can you try setting up the following using the rails console?

[code]

Once you have done this, you should be able to see the email

[2020-09-18 10:13] coder8338 opened #1250 "Please delete"

[2020-09-18 10:17] coder8338 commented on #1250
@pranavrajs please can you delete this issue? I've opened it on the wrong account

[2020-09-18 14:33] pranavrajs commented on #1101
@sojan-official I did some research on this. This seems to be a straightforward task, we need to define an env variable for allowed IP address.

More information: https://guides.rubyonrails.org/routing.html#advanced-constraints

@iammattmartin The list you provided seems good to me. I guess you can add the API endpoints also to the list. Let me get back to you on what APIs need to be on the allowe

[2020-09-18 16:22] clixnet opened #1251 "RESOLVE not working"
Conversations that are marked resolved end up coming right back.  It is not working right.  They disappear from list, but the count stays the same, then reloading shows them right back.

[2020-09-18 17:26] pranavrajs commented on #1251
@clixnet Can you please follow this format https://github.com/chatwoot/chatwoot/blob/develop/.github/ISSUE_TEMPLATE/bug_report.md while creating bugs? There is too little information about what the error is. If you could share browser console logs/server logs, that would be great.

[2020-09-18 18:27] iammattmartin opened #1252 "Improve Login Process"
**Is your enhancement request related to a problem? Please describe.**
Currently, the session time out seems fairly short. I am having to re-login every few days.

**Describe the solution you'd like**
It would be nice to be able to define how long a session lasts as well as being able to remember credentials on the login page (both, or at least the username).

[2020-09-18 21:19] #1251 closed

[2020-09-18 21:20] clixnet commented on #1251
Issue was caused by unrelated project code.  It has been resolved.  Thank you.

[2020-09-18 21:24] clixnet commented on #1244
Thank you for the additional instructions.  I was referring to the email channel, but this information is helpful too.  Thanks again!

[2020-09-18 21:24] #1244 closed

[2020-09-19 00:35] aag1990 opened #1253 "Integration with MessageBird"
MessageBird is another Whatsapp API provider that I would like to link to my Chatwoot. MessageBird has done a great job with their API documentation on the website, I hope that would help to apply the integration more easily.
It would be a significant add if Chatwoot integrates with MessageBird to get WhatsApp, SMS, voice messages, and other communication channels.
Thank you for the great work Cha

[2020-09-19 19:12] iammattmartin opened #1257 "Feature: Staff "take" Conversation"
**Is your enhancement request related to a problem? Please describe.**
To speed up conversation assignment. It would be nice if a staff member could "take" a convo instead of having to select their name from what could be a large drop-down list.

**Describe the solution you'd like**
Simply a button next to the drop-down with "Take" or "Own" would be good enough. This could take a ticket when an ow

[2020-09-19 23:43] Giszmo commented on #240
Avatar and/or name would be highly appreciated.

[2020-09-19 23:44] Giszmo opened #1258 "Agent avatar is disappearing"
**Describe the bug**

After setting the avatar in the agent's profile it is shown bottom left for example. Refreshing the site also preserves the avatar. At a later point though (next day?) the avatar is unset or disappeared.

**To Reproduce**

???

**Environment**

CapRover ChatWoot v1.7.2

**Additional context**

This happened twice now and once before potentially corrupting the database with th

[2020-09-20 10:40] pranavrajs commented on #1258
@Giszmo Have you configured any Cloud storage? Otherwise, the attachments will be removed from Caprover temp storage on restart https://www.chatwoot.com/docs/configuring-cloud-storage

[2020-09-20 12:51] Giszmo commented on #1258
I installed using caprover but did not configure "cloud storage".

That said, if the standard installation is by default losing data, that is a bug. If the disk runs full, that is expected. If the performance is not optimal, that might be a short-coming of not using "cloud storage" but I have 72GB free on the server and no performance issues, so losing data is perceived as bug.

[2020-09-20 13:25] pranavrajs commented on #1258
@Giszmo This is already discussed in #1166. This is not the problem with Chatwoot, it is the way docker deployments, in general, is working. We need to define a volume for locally uploaded storage items, otherwise, Caprover restarts would clear the locally uploaded files. We have not yet investigated how supporting a local volume would affect the deployment if it is using more than one servers. Th

[2020-09-20 13:26] #1258 closed

[2020-09-20 13:27] pranavrajs commented on #1166
@Giszmo

I don't understand what you meant by this. We recommend HTTPS deployments and using FORCE_SSL to true. Can you explain this in detail?

[2020-09-20 13:32] Giszmo commented on #1166
Issues are getting mixed here. Sorry for opening #1258. The title of #1166 was not clearly related. #1166 should probably get its title and description updated to what it is now seen to be about according to what @pranavrajs explained in #1258. Probably something like

* **Title:** CapRover installations "forget" uploaded files
* **Description:** CapRover file storage is volatile and gets deleted

[2020-09-20 13:33] pranavrajs commented on #1248
@Giszmo Can you please share the browser and server logs, otherwise there is too little information for us to reproduce the error?

[2020-09-20 13:34] pranavrajs commented on #1257
@iammattmartin This is a nice suggestion. We will see how we can update the UI around this.

[2020-09-20 13:39] Giszmo commented on #1166
@pranavrajs

I just re-enabled force_ssl and it appears to work as expected. Feel free to delete the 3 comments about this as it's unrelated anyway.

[2020-09-20 16:49] #1247 closed

[2020-09-20 16:55] Giszmo commented on #1248
So in the conversation, sending a reply I see no `console.log()` and I see two requests both of which succeed.

[code]

On CapRover deployment I see logging going on. The app chat-web has nothing happening around those replies. The chat-worker produces these `INFO` logs:

[code]

(lengthy or private data replaced by `...` or an identifier string.)

[2020-09-20 17:41] pranavrajs commented on #1248
@Giszmo Can you please share the chatwoot-worker logs as well? Send reply job is enqueued correctly, there is no error in that.

[2020-09-20 17:49] pranavrajs commented on #1235
@yani94 Can you please share the server logs of both worker and web along with browser logs? The information available here is not enough for us to debug the issue.

[2020-09-20 20:54] Giszmo commented on #1248
Above is the worker. The web log is empty for the time frame.

[2020-09-21 13:12] #1246 closed

[2020-09-21 15:06] Giszmo commented on #1230
Turns out the issue is with the label and not the sdk.

To reset stuff, on the capRover server I run:

[code]
Which leaves me with a clean-ish panel:

![Screenshot from 2020-09-21 11-59-38](https://user-images.githubusercontent.com/96378/93783396-04ddcb80-fc02-11ea-8633-e2e00bf1dfca.png)

I create the labels "paid" and "maybepaid" written exactly like this:

![Screenshot from 2020-09-21 12-01-56](

[2020-09-21 15:12] iammattmartin opened #1263 "Twitter character count"
**Describe the bug**

When replying to a tweet of a third party in a conversation (clicking reply to this tweet icon), the counter does not seem to take this into consideration.

We sent a tweet reply today with 0 characters left. Sent but it never appeared. We suspect this may have just been dropped due to the character count.

Although this then presents another issue, these messages seem to be

[2020-09-21 15:53] sojan-official commented on #1230
identified the issue to be with a stale label defined in actsastaggable tags table.   ActAsTaggable will be removed as a part of #1249 , so this shouldn't occur in future.

so closing in favour of #1249

[2020-09-21 15:53] #1230 closed

[2020-09-21 17:14] #140 closed

[2020-09-21 21:30] Giszmo commented on #1248
I just noticed that the Twitter inbox is confusing sender and recipient for DMs.

I sent a DM to somebody and in the hover text it states that that somebody is the sender.

To reproduce I send a DM from WalletScrutiny to LeoWandersleb and the chatwoo conversation claims it's the other way round.

[2020-09-22 05:51] pranavrajs commented on #1263
@iammattmartin Is it possible to share the logs during that time?

Delivery status needs to be shown to the agent. We need to improve the UX around it.

[2020-09-22 05:56] #1081 closed

[2020-09-22 15:59] iammattmartin commented on #1263
Any ideas what an error would look like in the production log?

I have the ActionCableBroadcastJob but can't see anything that represents an error.

[2020-09-22 17:23] chethanagopinath commented on #1228
Hi @pranavrajs, I was looking for issues to work on for Hacktoberfest and I would love to pick this up if possible. Thanks!

[2020-09-22 17:30] pranavrajs commented on #1228
@chethanagopinath Sure, feel free to take it. It is an issue with event propagation. vue-clickaway events are not captured if the component is loaded inside the modal.

[2020-09-22 17:33] chethanagopinath commented on #1228
@pranavrajs Awesome, I will check it out. Could you assign me to it as I am unable to do it :/

[2020-09-23 06:04] kohki-shikata opened #1266 "How do I fully translate in Japanese language"
**Is your feature request related to a problem? Please describe.**
I need to use chatwoot in Japan. So I'll fully translate to Japanse language this product.
However, I think it seems to config/ja.yml, config/device.ja.yml are ready for be translated partially.
I need to **fully** translate this product. How do I do?

**Describe the solution you'd like**
I beleive anyone can tell me what files to

[2020-09-23 07:15] pranavrajs commented on #1266
@kohki-shikata Please create an account and update the translations at https://translate.chatwoot.com/chatwoot/ja Once it is completed, we will bring that into the repository.

[2020-09-23 07:15] #1266 closed

[2020-09-23 09:57] #243 closed

[2020-09-23 12:23] cdunford opened #1268 "feat: Add support for events for a contact"
**Describe the bug**

The docs indicate the website SDK can be used to add labels to the conversation by calling `addLabel` like:

[code]

However, `addLabel` does not appear to be defined on `$chatwoot`.

**To Reproduce**

Use the following code:

[code]

**Expected behavior**

`addLabel` should exist and should add a label to the conversation

**Browser logs**

[code]

**Environment**

app.chatw

[2020-09-23 13:57] pranavrajs commented on #1268
@cdunford This was a mistake in the documentation. The method to be used is `setLabel` not `addLabel`

[2020-09-23 14:22] cdunford commented on #1268
Thanks. I noticed setLabel on the prototype and tried it in the ready
callback but my new conversation did not have the label. Does it need to be
called at a specific time?

On Wed, Sep 23, 2020, 09:57 Pranav Raj S, <notifications@github.com> wrote:

[2020-09-23 14:42] pranavrajs commented on #1268
@cdunford Have you created the label on the backend? We do not support labels to be created on the fly, predefined-labels can only be used.

[2020-09-24 01:41] iammattmartin commented on #1042
@Nancy-Chauhan Did you have any luck with this?

[2020-09-24 12:07] cdunford commented on #1268
Yes the label already exists:

![image](https://user-images.githubusercontent.com/1405868/94142767-c849e400-fe3c-11ea-88f5-7db095e09da6.png)

I call `setLabel` on `chatwoot:ready`:

[code]

Chat doesn't have any labels when it's started:

![image](https://user-images.githubusercontent.com/1405868/94142939-06df9e80-fe3d-11ea-8b81-b7444ae9a12d.png)

[2020-09-24 12:36] sojan-official opened #1270 "feature: Ability to schedule proactive reminders to the customer to ensure query was resolved"
## Use case:

Impact - increase the agent's productivity.

[2020-09-24 14:42] cdunford commented on #1268
Am I perhaps misunderstanding what this statement means: `Please note that the labels will be set on a conversation if the user has not started a conversation. In that case, the following items will not have any effect:`

I interpret that to mean I must call `setLabel` before a conversation is started; I actually don't see how I would call it after anyway.

[2020-09-24 16:24] Giszmo opened #1271 "Invite the user to install the app when using chatwoot on mobile"
**Is your enhancement request related to a problem? Please describe.**
ChatWoot backend is hardly usable on a moderately small mobile screen

**Describe the solution you'd like**
The page should show me a dismissable notification: "You appear to be using ChatWoot on a mobile. Did you know it's even more awesome on its dedicated app? Find them here for [Android]() and [iPhone]()."

**Describe alter

[2020-09-24 16:43] Giszmo commented on #1053
We are using ChatWoot at [WalletScrutiny](https://walletscrutiny.com/) for general Bitcoin Wallet support. As huge fans of open source we love the hackability.

[2020-09-24 17:58] pranavrajs commented on #1268
@cdunford Understood the problem. At the moment there is no other way to see whether the conversation has started or not. In the coming releases, we will move this to events. So instead of labels on conversation, you will be able to set events on a contact which would resolve this problem. Updating the title and keeping it open for now.

[2020-09-24 18:00] pranavrajs commented on #1271
@Giszmo Thanks for the suggestion, this is a good one to tackle.

[2020-09-24 18:01] pranavrajs commented on #1271
Additional context to the person who picks this up. Add an additional check for DISPLAY_MANIFEST before displaying this message.

[2020-09-24 18:02] pranavrajs commented on #1248
On hover, you will see the agent name who has sent the message.

[2020-09-24 18:09] pranavrajs commented on #830
@enderahmetyurt unassigning this from you as it was not picked up for a long time.

[2020-09-24 21:18] Giszmo commented on #1248
So if nopara is none of our 3 agents, this is a bug?

![Screenshot from 2020-09-24 18-13-59](https://user-images.githubusercontent.com/96378/94201355-471d3c00-fe92-11ea-8295-5bf406fdd5e9.png)

[2020-09-25 00:54] iammattmartin commented on #1271
Just to add. Maybe worth trying to intercept the email so it opens the app.

Although this may be hard for self-hosted instances.

[2020-09-25 02:24] Giszmo commented on #1271
Could you elaborate? The app allows to configure "push notifications" yet I have so far never been notified very timely using a self-hosted instance. Why is that not instant? Why are even mails delayed by hours? Why would that be better if not self-hosted?

[2020-09-25 02:26] iammattmartin commented on #1271
I mean email notifications that you can click on that open the app natively, not go to the web GUI.

Your follow up questions are not really relevant to the initial post though. It's a beta app firstly. Emails from self-hosted at least for us are not delayed several hours so this seems to be an issue with your setup as it's not a CW bug at least.

[2020-09-25 03:05] Giszmo commented on #1271
You can register programmatically for custom servers I think. If not, there is certainly other ways.

[2020-09-25 05:45] pranavrajs opened #1273 "Long file name appears to be broken in the UI"
**Describe the bug**
<img width="531" alt="Screenshot 2020-09-25 at 11 08 13 AM" src="https://user-images.githubusercontent.com/2246121/94230345-69a96680-ff1f-11ea-9695-fa79cc988718.png">

**To Reproduce**

- Upload a file from Widget/Facebook with a long file name.
- View the conversation in the agent dashboard.

[2020-09-25 07:04] pranavrajs opened #1274 "bug: Undefined method `Conteggio'"
https://sentry.io/share/issue/07435c54663746c5b09fa9dfda829dfc/

[code]

[2020-09-25 09:53] versedpro opened #1275 "Conversation limits for agents"
Is it possible that one agent can only handle 2 open conversations at once, the system doesn't give them 10.   Some agents can handle more open conversations than others.  This is to be able to load balance accordingly.

I assume to implement this stuff setting the limitation of open conversations to agent when its creating or adding.

[2020-09-25 10:45] pranavrajs commented on #1275
@versedpro It seems like this is a duplicate issue. Please see #1198

[2020-09-25 10:45] #1275 closed

[2020-09-25 13:29] AlejandroCarballo opened #1277 "Integration with Infobip"
Infobip is a WhatsApp API provider that I would like to link to my Chatwoot. Infobip has done a great job with documenting their API on the website and integration with java language programming,
It would be great if Chatwoot integrates with Infobip to get WhatsApp, SMS, voice messages, and other communication channels.
Thanks for the excellent job!

[2020-09-25 18:35] naresh3599 commented on #1273
Hi, @pranavrajs. would like to pick this one and contribute! ❤️
Please assign me.

[2020-09-25 21:03] sojan-official commented on #1273
@naresh3599  let us know if you need any help :)

[2020-09-26 09:49] NikhilGupta1997 opened #1278 "Date Separators in Chat History"
**Is your enhancement request related to a problem? Please describe.**
Similar to most messaging services, it would be great if the conversation history in ChatWoot can be demarcated using dates.

**Describe the solution you'd like**
I propose adding a date separator in the message history to reflect the date when those messages were created.
Here is a screenshot of my proposed solution
<img width

[2020-09-26 09:50] NikhilGupta1997 commented on #1278
@sojan-official/ @pranavrajs  You can assign this issue to me. I'll submit a pull request shortly.

[2020-09-26 10:53] xgp commented on #567
+1 for wanting this. It would be easier for a lot of orgs to use Chatwoot if it was easier to integrate their existing IdPs. It might be overly restrictive to do this just for Keycloak, as opposed to a more general integration of OpenID or JWT-based systems.

Alternatively, auth could be replaced with something like [OmniAuth](https://github.com/omniauth/omniauth), which could either use a standar

[2020-09-26 17:03] #856 closed

[2020-09-26 22:24] iammattmartin commented on #1046
Cont of the email sent, this is fairly important.

There appears to be no way to fix this via the GUI when it happens apart from deleting the Inbox and recreating, losing all history associated.

[2020-09-27 12:53] somenugget commented on #1234
Hi @pranavrajs. I would like to take this issue 😋 Could you assign me?

[2020-09-27 12:59] sojan-official commented on #1234
@somenugget  let us know if you need any help :)

[2020-09-27 13:26] #1274 closed

[2020-09-27 13:28] pranavrajs opened #1280 "feat: Profanity filter in conversation"
- Allow admin to configure a profanity filter for messages
- Allow admin to configure the words used in the filter.
- Replace all matching content in the message with ****
- Apply the filter for both agent and user.

#### A sample message would look like the one below

<img width="193" alt="Screenshot 2020-09-27 at 6 56 48 PM" src="https://user-images.githubusercontent.com/2246121/94366076-3455720

[2020-09-28 11:57] naresh3599 commented on #1273
Yeah sure,

[2020-09-28 15:07] iammattmartin opened #1283 "Feature: Delete/Unsend Message"
**Is your feature request related to a problem? Please describe.**
If a staff member accidentally sends a message or pastes something into a message that needs to be removed, currently there is no way to do this.

For website conversations, it would be nice to be able to delete/unsend/hide a message within a period of time (i.e 10 seconds).

**Describe the solution you'd like**
An option on a mess

[2020-09-28 22:53] bogorad opened #1284 "heroku: Can't log back in"
**Describe the bug**

Can't log in after creating the first user and logging out.

**To Reproduce**

Steps to reproduce the behavior:
1. 'Single-click' deploy to Heroku.
2. Fix the 'dyno' bug - enable the second dyno.
3. Create the first user.
4. Log off.
5. Log back on - get user/password incorrect.
6. Try to create a user with the same email - get this error:

"You have already signed up for an

[2020-09-29 04:52] yani94 commented on #1235
@pranavrajs thanks for all your reply, turn out I'm missing this line `proxy_set_header Host $host;`  when I try to configure nginx. I will close this issue as it already solved.

[2020-09-29 04:52] #1235 closed

[2020-09-29 06:52] pranavrajs opened #1285 "Bug: Clicking multiple times creates a selection for the text"
<img width="211" alt="Screenshot 2020-09-29 at 12 21 45 PM" src="https://user-images.githubusercontent.com/2246121/94523112-5adbf000-024e-11eb-99d3-6d3ddad5ef90.png">

Clicking multiple times creates a selection for the text on widget

[2020-09-29 12:31] sojan-official commented on #1284
@bogorad  have you configured an email service on your Heroku installation?
You would have to verify the user first before you can start using the user.

[2020-09-29 12:32] bogorad commented on #1284
I wish it was explained somewhere. Thank you for your prompt reply!

[2020-09-29 13:54] #1284 closed

[2020-09-29 19:43] pranavrajs commented on #1046
Closed via https://github.com/chatwoot/chatwoot/pull/1286

[2020-09-29 19:43] #1046 closed

[2020-09-29 20:01] enderahmetyurt commented on #830
Sorry i could not work it

[2020-09-29 20:10] iammattmartin opened #1287 "Facebook One-Time Notification"
**Is your enhancement request related to a problem? Please describe.**
Facebook are testing a one-time notification so that you can send one message outside of the 24 hour period. This seems to be a free-form text but currently CW will block any messages after 24 hours.

This may need to be considered if this is enabled on the page as it would be useful to be able to do this.

https://developers.f

[2020-09-30 08:48] pranavrajs commented on #1287
@iammattmartin Earlier Facebook allowed us to send the messages if the purpose of the message is non-promotional. They changed the API to disallow the message after 24 hours. Then there was an addition of the tags to support customer support use case. I think this is the latest in that series. We will research about this and if the API is stable we will take that to development.

[2020-09-30 16:02] jensJJ opened #1289 "Installing Chatwoot via Linux VM Script"
**Describe the bug**

Does not install RVM. I used this script many times last months, but now it breaks. Seems repository errors?

**To Reproduce**

Steps to reproduce the behavior:
https://www.chatwoot.com/docs/deployment/deploy-chatwoot-in-linux-vm
https://github.com/chatwoot/chatwoot/blob/develop/deployment/setup.sh

**Expected behavior**

Should start up the server

**Screenshots**

**Browser

[2020-10-01 01:21] Giszmo commented on #1248
I see this is tagged "need more info" and "waiting-for-reply". I provided the info and I'm happy to help debug this hands-on.

[2020-10-01 01:25] Giszmo commented on #1283
I see no reason for a time limit. Allow unpublishing, turning it into "this message was deleted" for the visitor.

I'd just like to make sure the agent remains auditable internally, so please never actually delete messages.

[2020-10-01 02:13] iammattmartin commented on #1283
Time limit is in relation to emails. If that message has already been sent, there would be no point in deleting/hiding it as they will already have a copy you cannot change.

Deletion should always be possible. Data may be added to a reply by both the user or staff that cannot be stored, such as a card CVV; storing this in any format is against card rules.

There may also be a GDPR request for dat

[2020-10-01 02:24] monarch0111 commented on #1022
@sojan-official Can I take this up? Seems there has been no activity on this in some time

[2020-10-01 04:49] pranavrajs commented on #780
Closing this as it is completed in #1191

[2020-10-01 04:49] #780 closed

[2020-10-01 04:50] pranavrajs commented on #1042
@Nancy-Chauhan Unassigning this as this was not picked up yet.

[2020-10-01 04:55] pranavrajs commented on #1176
Closing this via #1276

[2020-10-01 04:55] #1176 closed

[2020-10-01 05:07] pranavrajs opened #1290 "Fix "method_complexity" issue in app/controllers/devise_overrides/confirmations_controller.rb"
Method `create` has a Cognitive Complexity of 8 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/chatwoot/chatwoot/app/controllers/devise_overrides/confirmations_controller.rb#issue_5f738e3f977c600001000343

[2020-10-01 05:09] monarch0111 commented on #1022
@pranavrajs Hello, can I claim this issue to work on?

[2020-10-01 05:12] pranavrajs commented on #1022
@monarch0111 Sure, I have the ticket to you.

[2020-10-01 06:58] onlywicked commented on #1240
I would like to work on this issue.

[2020-10-01 07:07] pranavrajs commented on #1240
@onlywicked Great! I'm assigning this to you.

[2020-10-01 07:11] somenugget commented on #1290
@pranavrajs can I take this issue?

[2020-10-01 07:14] somenugget commented on #937
Can I take this issue?

[2020-10-01 07:41] apclarity commented on #1273
is this issue still open?

[2020-10-01 09:44] sojan-official commented on #1290
@somenugget  please go ahead :)

[2020-10-01 10:16] monarch0111 commented on #1022
@pranavrajs How can I translate template to each language? Is there any tool?'

[2020-10-01 11:07] monarch0111 commented on #1077
@pranavrajs Is this still under consideration? If yes, I would like to work on this. Seems to be very small enhancement.

[2020-10-01 11:09] pranavrajs commented on #1289
@jensJJ Is there any error log which you can share?

[2020-10-01 11:24] jensJJ commented on #1289
@pranavrajs Hi, I have to run the script now from the master repo not develop It does not install node.js, today it installed RVM (master branch). The develop branch I tried yesterday didn't work, so I need to install it after I run the script once. Then it compiled the data and launches the Server on Port 3000. Then I get We're sorry, but something went wrong

LOG (re-run)
https://gist.github.com

[2020-10-01 11:27] pranavrajs commented on #1077
@monarch0111 Please feel free to take. Please use the copy "{agent_name} self-assigned this conversation"

[2020-10-01 11:43] monarch0111 commented on #925
@sojan-official The redis gem chatwoot is using supports SENTINEL [configuration by default](https://github.com/redis/redis-rb#sentinel-support).

I guess this is pretty straight forward to add based on ENV variables and parsing sentinel config provided by user.

[2020-10-01 12:29] sojan-official commented on #925
@monarch0111  if you would like to take this on, feel free to.
We could introduce a new environment variable `REDIS_SENTINELS` and inject it to
`app_redis_config` in  `/config/initializers/redis.rb`

seems straight forward as you suggested.

[2020-10-01 12:35] monarch0111 commented on #925
Sure. Will take this up. Thanks!

[2020-10-01 17:38] Nico385412 commented on #1285
Hi ! i would like to fix this use, can you assign me ? ^^

[2020-10-01 19:11] #1077 closed

[2020-10-01 21:18] jcomo opened #1296 "bug: setUser SDK function is broken"
**Describe the bug**

Cannot call setUser because an internal function call throws a TypeError every time.

**To Reproduce**

Steps to reproduce the behavior:
1. Load the widget SDK
2. Call setUser
3. See error

**Expected behavior**

It should not throw an error

**Screenshots**

N/A

**Browser logs**

[code]

**Server logs**

N/A

**Environment**

Chatwoot SDK

**Desktop (please complete the fol

[2020-10-02 01:26] danirolopes commented on #1296
Same problem here! I'm using chatwoot for some time, and this problem started yesterday

[2020-10-02 04:47] #1296 closed

[2020-10-02 05:23] akashdotsrivastava commented on #418
@pranavrajs
Hi. I am new to chatwoot.
If this is still needed, can I take this issue?

[2020-10-02 05:33] pranavrajs commented on #418
@akashdotsrivastava Yes, it is still needed. You can take the issue. Let me know if you need anything from me.

[2020-10-02 05:46] #1234 closed

[2020-10-02 09:35] pranavrajs commented on #1296
@danirolopes The fix has been deployed. Let me know this doesn’t work.

[2020-10-02 09:57] #1290 closed

[2020-10-02 11:00] sojan-official opened #1298 "enhancement: Add validation error for label create modal"
# Enhancement

Label names in chatwoot only support alphabets, numbers, hyphen and underscore.
At the moment the available validation doesn't show the user any errors, which would leave the user confused.

So let's add a validation error describing this behaviour

### Current behaviour
<img width="1273" alt="Screenshot 2020-10-02 at 4 29 03 PM" src="https://user-images.githubusercontent.com/73185/

[2020-10-02 11:04] #1022 closed

[2020-10-02 11:35] m4tr1k commented on #1298
@sojan-official Hi! Can I work on this issue please?

[2020-10-02 12:05] chanukya-y commented on #1216
Hi @pranavrajs,  i would like to work on this feature.

[2020-10-02 12:24] sojan-official commented on #1216
@chanukya-y  let us know if you need any help.

[2020-10-02 12:31] sojan-official commented on #1298
@m4tr1k sure. let us know if you need any help :)

[2020-10-02 13:26] m4tr1k commented on #1298
@sojan-official the setup is quite a ride 😅

when running `bundle exec rake db:create` it shows an error:
[code]

I don't know what to do next... Can you help me please?

[2020-10-02 13:29] m4tr1k commented on #1298
Also I changed ruby version on Gemfile to 2.6.3 to run `bundle`, I don't know if has any implications....

[2020-10-02 13:33] sojan-official commented on #1298
@m4tr1k  do you have Postgres installed on the machine and running on port 5432 ?
Could you also check whether the Postgres credentials provided in .env file is the correct ones ?

the app should work with `2.6.3` as well.

[2020-10-02 13:38] m4tr1k commented on #1298
@sojan-official you're talking about these credentials?
![image](https://user-images.githubusercontent.com/12871065/94929275-c4613600-04bc-11eb-9d46-462be2ced040.png)

I'm not used to working with Ruby and Postgres, although I already verified that I have Postgres installed on the machine.

[2020-10-02 13:41] sojan-official commented on #1298
@m4tr1k  no worries, could you also check whether Postgres server is running? if you installed Postgres via brew you could restart  via `brew services restart postgres`

[2020-10-02 13:44] m4tr1k commented on #1298
@sojan-official
![image](https://user-images.githubusercontent.com/12871065/94929970-acd67d00-04bd-11eb-8a45-470ef6cf4efe.png)

postgres server is now running? Or do I need to do something in order to check it?

[2020-10-02 13:45] sojan-official commented on #1298
@m4tr1k  no this should be good. you can now continue with the commands.

[2020-10-02 13:47] m4tr1k commented on #1298
@sojan-official running `bundle exec rake db:create` still gives the error, this time with the database creation
[code]

[2020-10-02 13:55] sojan-official commented on #1298
@m4tr1k seems like the Postgres user and role is missing with the installation. could you try https://stackoverflow.com/a/35308200/939299

[2020-10-02 13:58] pranavrajs commented on #1289
I can confirm that the script does not work.

[code]

[2020-10-02 14:02] pranavrajs commented on #1289
Oh, wait! I was testing on 20.04. @jensJJ Are you sure that the Ubuntu version is 18.04?

[2020-10-02 14:08] jensJJ commented on #1289
Yes, can confirm 100% it is 18.04, cause I tried on many servers also on Virtualbox.

[2020-10-02 14:32] pranavrajs commented on #1289
@jensJJ I cannot reproduce this on 18.04. It is working fine. While checking the logs you shared. I found the following

[code]

Can you please try a fresh install?

[2020-10-02 15:03] narendran-kannan commented on #1273
Working on this!

[2020-10-02 15:23] jensJJ commented on #1289
Hi, I tried again on a fresh installation on 18.04.05 LTS Ubuntu 64 bit.

I still get an error: see the gist

https://gist.github.com/jensJJ/36b152a040b63953db3b8e5074384127

[2020-10-02 15:51] jensJJ commented on #1289
I again fresh installed and first installed nodejs manually and then ran the script. Then it works.

[2020-10-02 17:25] chanukya-y commented on #1216
@sojan-official , I have the application installed in my local machine. I have few things to confirm.

- I'm planning to use the plugin https://www.npmjs.com/package/vue2-daterange-picker for daterange picker. Is this okay ?
- I would like to know what would be the default range for the reports , that will be used when user opens the reports page initially.

Demo of the above mentioned plugin can

[2020-10-02 17:37] m4tr1k commented on #1298
@sojan-official sorry for the late response and for being quite annoying with this situation
Your link helped a bit and I am able to create the database now. Also I can't use `admin` as username, I have to use my username to create the database.
But running the reset command it gives me this error:

[code]

[2020-10-02 17:52] m4tr1k commented on #1298
@sojan-official I found out that I forgot to set up a variable in the env file and I can now host in localhost:3000

But it is giving me this error:
![image](https://user-images.githubusercontent.com/12871065/94954018-5dee0f00-04e0-11eb-9e03-9715e60e93b3.png)

[2020-10-02 17:58] m4tr1k commented on #1298
@sojan-official I figure it out and it's now working! Thanks for your patience and now it's time to work on the issue 😆

[2020-10-03 07:27] monarch0111 commented on #1225
@pranavrajs Can you please assign this to me? I would like to explore this.

[2020-10-03 07:43] akashdotsrivastava commented on #418
@pranavrajs
While working on this, I realized the time metric we should use to auto-resolve conversations, while not there in `develop` yet, has been introduced in #1281 (`last_activity_at` in `conversations`). I can do my changes for this issue on top of those changes if that's okay.

But I saw a couple of test cases failing for #1281, so I added a [PR fixing those test cases](https://github.com/

[2020-10-03 08:34] pranavrajs commented on #418
@akashdotsrivastava This sounds like a good idea, please feel free to build on top of #1281. I will try to get it merged today. Thanks for the spec fixes.

[2020-10-03 08:49] pranavrajs opened #1303 "Replace text-sms icon on left sidebar if the inbox is a Whatsapp inbox"
Whatsapp inbox uses an SMS, replace it with a whatsapp inbox. We use ionicons v2(https://ionicons.com/v2/) Replace the icon with appropriate icon for whatsapp.

### Before
<img width="233" alt="Screenshot 2020-10-03 at 2 16 21 PM" src="https://user-images.githubusercontent.com/2246121/94987333-677c8300-0583-11eb-82df-f8e9be11e028.png">

### After
<img width="237" alt="Screenshot 2020-10-03 at 2 17

[2020-10-03 08:51] pranavrajs opened #1304 "Fix long label names getting broken in the sidebar"
<img width="236" alt="Screenshot 2020-10-03 at 2 20 03 PM" src="https://user-images.githubusercontent.com/2246121/94987359-8e3ab980-0583-11eb-94bc-0d9b282ca1a4.png">

### Solution

- Truncate the text and provide a tooltip on hover.

[2020-10-03 08:55] pranavrajs opened #1305 "Name and email address overflow in the customer sidepanel"
<img width="308" alt="Screenshot 2020-10-03 at 2 22 55 PM" src="https://user-images.githubusercontent.com/2246121/94987430-fc7f7c00-0583-11eb-8ea5-b24573860490.png">

### Acceptance criteria

- **Name**: Break the word and show the name in the second line.
- **Email**: Truncate the email address, show full email address on hover.
   Provide a button on the right to copy the full email address.

[2020-10-03 09:03] sarawukl commented on #1303
I'm working on this issue.

[2020-10-03 09:17] pranavrajs commented on #1303
@sarawukl Sure, I will assign this ticket to you.

[2020-10-03 09:50] sojan-official commented on #1225
@monarch0111  do let us know if you have any questions :)

[2020-10-03 09:54] pranavrajs commented on #1216
@chanukya-y Thanks for the research. I'm concerned about the size of the package. Can you please suggest alternatives?

[2020-10-03 09:54] #925 closed

[2020-10-03 11:29] akashdotsrivastava commented on #418
@pranavrajs Thanks

Couple of questions.

1. I understand the description says adding the auto_resolve_duration field to accounts. But from the looks of it, I don't really see many actual settings like properties for accounts, on the UI. I see most of them at the inbox level. So should we still add this setting to an account, or to an inbox?

2. What exactly is going to trigger the auto-resolve?

[2020-10-03 12:09] sojan-official commented on #418
@akashdotsrivastava

1. We can keep it `account settings`, for now, The inbox settings are starting to getting cluttered. We will move this to workflows when we introduce that feature later.

2.  At the moment we don't have any sort of cron jobs in chatwoot. Sidekiq handles repetitive tasks.
I get the concern you mentioned with the dependency on Redis.  But let's go with the approach you mentioned

[2020-10-03 12:44] akashdotsrivastava commented on #418
@sojan-official Got it. Thanks.

[2020-10-03 13:24] amd-9 commented on #1304
May I try to fix this bug?

[2020-10-03 13:29] sojan-official commented on #1304
@amd-9  please feel free to go ahead.

[2020-10-03 13:38] xlanor commented on #1305
@pranavrajs , I would like to be assigned this and give this a shot.

As I am new to the codebase, is there any guide for me to narrow down which files to take a look at?

[2020-10-03 14:17] monarch0111 commented on #1225
@sojan-official I have a question, at what step should the hook status be confirmed? I see there are different places from where we call `Slack::Web::Client` methods, any one of them can throw an error for hook disabled / oauth revoked.

One way I think can of is to create a wrapper class around `Slack::Web::Client`, which will handle exceptions regarding to slack apis. Please let me know if there

[2020-10-03 14:29] sojan-official commented on #1225
@monarch0111  Idea of having a wrapper class is great and would be the cleaner approach 👍. But if you don't want to put in that much effort, we can just handle the exception in  ` lib/integrations/slack/send_on_slack_service.rb`  : `send_message` method.

The other slack API calls would happen during the auth flow and chances of an expired token in that flow is slim. Its mostly when we relay the m

[2020-10-03 15:20] pranavrajs commented on #1305
@xlanor Feel free to take it. You can start looking at `ContactInfo.vue`

[2020-10-03 15:23] monarch0111 commented on #1225
Thanks for the insight, for now I will go with smaller approach as adding new class will have higer complexity. I will work on refactoring / adding wrapper class in another PR.

----
From https://github.com/chatwoot/chatwoot/pull/1286/files, I understand concern can be used to display error message on UI. Once I am done with the changes, I will raise an issue to implement UI changes.

[2020-10-03 18:15] richardonrails commented on #940
+1 -- having your cursor focused in the textbox should not leave a perpetual typing indicator. It makes the end user feel like more is coming when the agent might just be waiting.

[2020-10-03 18:28] richardonrails commented on #273
I see that there's now an email form if no agents are online.

However I was wondering if there's a way to actually hide the widget completely if no agents are online. Is this possible?

[2020-10-04 07:28] monarch0111 commented on #1225
@sojan-official @pranavrajs

What do you mean by this? Do we store exception somewhere or it is capturing exception in Sentry?

[2020-10-04 09:59] sojan-official commented on #1225
@monarch0111   sorry for the lack of clarity in the description there.  We just store a count of the error in Redis that's all.

If its a handled exception, we don't capture it in sentry. We usually write the message to the logs though. refer the following block.
https://github.com/chatwoot/chatwoot/blob/807f79ef5d03098f5f0f70e4937779c98b498700/app/services/facebook/send_on_facebook_service.rb#L11

[2020-10-04 10:11] sojan-official commented on #273
@richardonrails  Not at the moment, But we are working on refining the inbox settings and email collect will be made optional when we finish that.

[2020-10-04 11:17] monarch0111 commented on #1225
Got your point, thanks! :)

[2020-10-04 11:40] sojan-official commented on #937
@somenugget  feel free to take this if you have the bandwidth :)

[2020-10-04 17:27] #1303 closed

[2020-10-04 20:21] somenugget commented on #937
I need some help with this issue from the product perspective.

At this moment `Conversation#mute!` not only mutes conversation but also sets it's status to `resolved`(what was a bit confusing for me 🤔).
And it's not totally clear what should be done with `unmute`?:
* only unmute

or

* onmute
* change status back to `open`

[2020-10-05 06:46] sojan-official commented on #937
@somenugget  sorry for the lack of clarity there.
- At the moment, when a new customer message arrives in a resolved conversation, it will get reopened unless its muted.

With this change, lets only focus on `unmute` -> ie `remove the conversation mute key from Redis`

For the moment.  let the agent manually toggle the conversation back to open if required or the system will automatically change i

[2020-10-05 07:25] fsennj commented on #1289
Hello Jens, is there any specific manual how to manually install nodejs or nothing special about that?

[2020-10-05 07:43] fsennj commented on #1289
with standard installation i get this failure:

yarn install v1.22.5
[1/5] Validating package.json...
error @chatwoot/chatwoot@1.8.0: The engine "node" is incompatible with this module. Expected version ">=10.x". Got "8.10.0"
error Found incompatible module.
info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this command.

[2020-10-05 07:58] somenugget commented on #937
Thank you for clarification. I'll prepare PR later today

[2020-10-05 12:25] #1185 closed

[2020-10-05 17:22] #1207 closed

[2020-10-05 17:56] akashdotsrivastava commented on #1280
@pranavrajs This looks like something I can work on. Is it okay if I take this?

[2020-10-05 17:58] pranavrajs commented on #1280
@akashdotsrivastava Feel free to take it :)

[2020-10-05 18:37] sojan-official opened #1317 "[CW-1869] Prioritise conversations based on customer mood"
At the moment chatwoot conversations are prioritized based on last activity.
We could explore bringing in additional parameter like  customer mood, the total value of customer etc to prioritize the sorting

ref: https://github.com/ankane/informers

<sub>[CW-1869](https://linear.app/chatwoot/issue/CW-1869/feature-prioritise-conversations-based-on-customer-mood)</sub>

[2020-10-05 18:50] gabrielhicks commented on #1042
I am interested and would appreciate working on this for hacktoberfest. If there is any specificity toward color schemes etc please let me know!

[2020-10-06 04:37] vfasoulas opened #1318 "feat: SSO via External Authentication, Oauth integration"
**Is your feature request related to a problem? Please describe.**
No, It's an Enhancement

**Describe the solution you'd like**
With this feature will be possible to login as an agent my google, microsoft, or facebook account.
I suggest, a general oauth implementation for example with environment variables, to be possible to login with any oauth server for example company oauth services.

**Descr

[2020-10-06 06:24] fsennj commented on #1289
what have you done about the unmet dependencies:

[3/5] Fetching packages...
info fsevents@2.1.3: The platform "linux" is incompatible with this module.
info "fsevents@2.1.3" is an optional dependency and failed compatibility check. Excluding it from installation.
info fsevents@1.2.11: The platform "linux" is incompatible with this module.
info "fsevents@1.2.11" is an optional dependency and faile

[2020-10-06 17:38] iammattmartin commented on #1240
Question, does this only apply to admins? Looking at the code it seems to be but I could be wrong. @pranavrajs

[2020-10-06 18:06] pranavrajs commented on #1240
This applies to agents & admins only, I've noticed that. We can extend it to contacts also.

[2020-10-06 18:07] iammattmartin commented on #1240
That was certainly my original thought on it more than staff. Has real limited use for staff but i'd say more useful for users/visitors.

[2020-10-07 10:47] onlywicked commented on #1240
Okay, I'll integrate it for the users/visitor.

[2020-10-07 12:22] leganz opened #1321 "Gmail connection failed"
**Describe the bug**

Cannot send mails (at all) via Gmail

**To Reproduce**

Steps to reproduce the behavior:
1. Fresh installation of Chatwoot
2. Add Gmail Config to environment variables

MAILER_SENDER_EMAIL=mustermann@gmail.com
SMTP_ADDRESS=smtp.gmail.com
SMTP_USERNAME=mustermann@gmail.com
SMTP_PASSWORD=PASSWORD
SMTP_PORT=465
SMTP_AUTHENTICATION=login
SMTP_ENABLE_STARTTLS_AUTO=true

**Expected

[2020-10-07 12:45] ckc opened #1322 "Client side browser live chat widget needs manual refresh"
**Describe the bug**

As title mentioned, client side cannot got instance update message from agent

**To Reproduce**

Steps to reproduce the behavior:
1. Guest go to 'floating chatbutton'
2. Click on 'chat window'
3. Send message without problem
4. Client cannot get message from agent without whole web page reload (F5)

**Additional context**

I'm not sure is it problem or same with #411 ?

May I

[2020-10-07 16:20] PaoloC68 commented on #1059
It seems to me that this is tightly connected with #1131 ,the issues could merge

[2020-10-07 16:32] #1196 closed

[2020-10-07 18:41] WevrLabs commented on #1322
Maybe the "worker" isn't activated and running?

[2020-10-07 21:46] iammattmartin commented on #1321
Does Gmail need OAUTH now which may prevent this working?

[2020-10-08 06:32] #937 closed

[2020-10-08 07:48] sojan-official commented on #1321
@leganz like @iammattmartin  mentioned. This should have to do with google. Please refer this StackOverflow thread: https://stackoverflow.com/a/32019587/939299

seems like you need to use an app password.

[2020-10-08 07:58] sojan-official commented on #1322
@ckc  if you are running chatwoot on Heroku ensure the worker is turned on.  Also, ensure the `FRONTEND_URL` environment variable is set.

[2020-10-08 10:09] leganz commented on #1321
I am afraid thats not the solution cause the setting "less secure" is already in use.
I can confirm that it works for other applications but not for CW. Is it maybe an incorrect environment variable ?

[2020-10-08 12:25] pcolby opened #1325 "Support for launching the widget straight into full-screen on loading"
**Is your feature request related to a problem? Please describe.**
No. Its just an additional feature :)

**Describe the solution you'd like**
I'd like to be able to embed the chat widget, already open, as the main central item on the webpage. This would be something similar to the pop-out window, but loaded directly, and without having to click to open.

**Describe alternatives you've considered*

[2020-10-08 16:10] iammattmartin commented on #1325
I'm sure this will be possible as the popout to external window is now possible so using the URL from that could work for you but it is getting that URL in the first place which you'll need.

[2020-10-08 16:21] iammattmartin commented on #1325
I'd say this would be achieveable with one I raised a while back #1237.

As being able to link generate would allow embedding in signatures and images on the site we well as full size windows etc.

[2020-10-08 16:26] iammattmartin commented on #1321
Maybe try port 587? This is the TLS/STARTTLS port.

465 is SSL and considered deprecated by [some](https://www.sparkpost.com/blog/what-smtp-port/) people and [some](https://www.mailgun.com/blog/which-smtp-port-understanding-ports-25-465-587/) others.

[2020-10-08 17:07] akashdotsrivastava commented on #1280
@pranavrajs Just a few questions/confirmations before I get into actual code

1. Where does this setting/s live? Inbox level or account level? Asking because [This discussion](https://github.com/chatwoot/chatwoot/issues/418#issuecomment-703093522) suggests new settings on the account level.

2. Does it have to be just words, or phrases too that should be allowed and masked as individual profanitie

[2020-10-09 05:37] sony-mathew opened #1328 "Security: CVE-2020-8264"
**Describe the bug**

[code]

**Screenshots**

<img width="1367" alt="Screenshot 2020-10-09 at 11 06 45 AM" src="https://user-images.githubusercontent.com/2040199/95547006-9aa99100-0a1f-11eb-8e7d-2234c41fe726.png">

[2020-10-09 06:03] #1328 closed

[2020-10-09 09:08] pranavrajs opened #1330 "Activity message for mute / unmute conversation"
When an agent mute/unmute the converstion, add an activity message "#{agent_name} has muted the conversation"

[2020-10-09 10:12] leganz commented on #1321
Changing the port didn't resolved the issue for me :'/

[2020-10-09 13:26] TravisGM92 commented on #1330
Can I start working on this issue? Also a point of clarification (and this will be my first time contributing to chatwoot so please be patient with me); is 'activity message' the same as 'flash message'?

[2020-10-09 13:30] pranavrajs commented on #1330
@TravisGM92 Feel free to take. Activity message is a type of message (See message_type in https://github.com/chatwoot/chatwoot/blob/develop/app/models/message.rb#L42)

You can refer to https://github.com/chatwoot/chatwoot/pull/1291/files which does something similar to this.

[2020-10-09 14:52] TravisGM92 commented on #1330
@pranavrajs is it best practices to push up after I've written a test, to make sure I'm writing it correctly?

[2020-10-09 14:56] pranavrajs commented on #1330
@TravisGM92 It is upto you, you can push the changes and put it draft mode. Once you create the PR, you would be able to see the diff coverage which should be helpful to figure out missing test cases.

[2020-10-09 14:58] TravisGM92 commented on #1330
@pranavrajs Oh yeah I guess I meant for this specific issue. So we haven't created an activity message for when an agent mutes, so I wrote the test first and it should fail because we haven't made that feature yet.

[2020-10-09 15:01] pranavrajs commented on #1330
@TravisGM92 Yeah, that is correct.

[2020-10-09 18:43] TravisGM92 commented on #1330
@pranavrajs So I recognize a lot of what's going on in here but I'm having trouble understanding where to start. I understand writing the test, but I tried copying what the example you sent me above did to no avail. Any chance you'd be willing to point me in the right direction? If not I understand, I can un-assign myself

[2020-10-10 14:05] #1322 closed

[2020-10-10 17:10] #1304 closed

[2020-10-11 02:52] iammattmartin commented on #1325
@pcolby You may be able to get this to work by copying the popout link i.e

https://domain/widget?website_token=xxxxxxxxxxxxx&locale=en

Conversation continuation won't work but this *may* work. It does open a chat window.

[2020-10-11 18:18] AliNazariii opened #1337 "NPM package"
Hi
I couldn't find any npm package to use chatwoot as a dependency in my react project. Are there any npm packages for chatwoot?

[2020-10-11 23:38] pcolby commented on #1325
Thanks @iammattmartin, yes, it looks like this will give me what I want. I wasn't sure if dropping the `cw_conversation` parameter would still work, but a quick test seems to suggest it will be just fine.

The pop-out domain in my case is `app.chatwoot.com` (ie we're using the hosted service), so I'll probably iframe it into a basic branded template (to get it under our preferred domain), and see

[2020-10-12 07:36] nevros opened #1338 "Support push on offical mobile app with self hosted Chatwoot"
**Describe the bug**
As an agent I need to be aware when there is a chat message. Having issues here with the web app and not mobile app. When the web page or mobile application is open a new chat message is displayed on the screen with 1-2 seconds which is great.

***Web page***
When moving focus off the web page, to another application or tab, there is no notification of a new chat.

***Mobile a

[2020-10-12 12:57] sojan-official commented on #1338
@nevros mobile notifications won't work with self-hosted instances at the moment ( if you are using the mobile app published on AppStore ) .  You will have to use the custom build mobile apps https://github.com/chatwoot/chatwoot-mobile-app  with the appropriate FCM keys. we are still figuring out how to handle this case.

The VAPID_KEYS are for the browser push notifications on your desktop.
for t

[2020-10-12 13:17] nevros commented on #1338
@sojan-official
Mobile app makes sense, thank you for explaining this. FYI Rocket chat uses a central proxy server that is offered as a free service.

With the browser settings I am only able to find this within my profile.
![image](https://user-images.githubusercontent.com/2770413/95750701-40435580-0ce9-11eb-941a-3e056c0fff2d.png)

The email notification works well, so those settings are operatio

[2020-10-12 14:44] iammattmartin commented on #1338
"FYI Rocket chat uses a central proxy server that is offered as a free service."

.... subject to new usage limits.

It's worth noting that RC is far more mature and has been around far longer to mean admin if this isn't too much a drain on resource. CW is far younger and dev time would be spent on far better things.

[2020-10-12 14:49] WevrLabs commented on #1338
You mentioned updating the VAPID krys? I faced a similar issue few days ago, as a result of changing my keys.
I worked around it by clearing the notifications subscriptions from the browsers I previously subscribed to, and also I deleted the rows from the notifications_subsciptions table in the database. And then resubscribed again in the browsers.

[2020-10-12 15:23] udl commented on #823
I'm interested in solving this issue. Can you give me some more details? Where exactly is the postgres SSL CA cert missing?

[2020-10-12 17:13] pranavrajs commented on #1338
@nevros @iammattmartin @WevrLabs

We had a discussion about this already. One of the problem why push won't work on official app is because your instance doesnot have the credentials of our Firebase app. One of the things we can do here is to setup a proxy kind of server like the one which Rocket.chat uses, so your instance would be sending a payload to centralized Chatwoot instance which would de

[2020-10-12 17:13] pranavrajs commented on #1338
Relabeling it as an enhancement

[2020-10-12 17:15] pranavrajs commented on #1337
We don't have any package yet. You can just copy the code you get in inbox settings and call it in `componentDidMount` of your Root component. Closing the issue as it is already tracked in #320

[2020-10-12 17:15] #1337 closed

[2020-10-12 17:16] pranavrajs commented on #1330
@TravisGM92 I don't understand the problem you mentioned, can provide me a little bit more context on what you are trying to achieve?

[2020-10-12 17:18] pranavrajs commented on #1321
@leganz This is hard to reproduce with Gmail because of the details mentioned above. Let me check this with other providers and see if it is something to do with the environment variables.

[2020-10-12 18:30] iammattmartin commented on #1136
Is there any chance of pushing this out in a release soon @pranavrajs. Wire more using it, having the abbreviated name internally is causing some degree of confusion.

[2020-10-12 23:30] nevros commented on #1338
After deploying the entire stack again within Docker the push settings appeared correctly. Should have realized that restarting the docker container will not pick up environment variable changes within the compose file. Web notification are now working perfectly, thank you.

![image](https://user-images.githubusercontent.com/2770413/95798325-6d215800-0d3d-11eb-9ee4-053c7b0db889.png)

Understand th

[2020-10-12 23:30] #1338 closed

[2020-10-13 07:39] pranavrajs commented on #1136
@iammattmartin We don't have much feedback on this one from our users. So instead of spending more time on this to see whether a toggle is required or not, I would just use `Display Name` for the widget & emails and use `Full Name` in the dashboard.

[2020-10-13 12:42] RonWalker22 commented on #1325
@pcolby to have the widget open automatically, all you need to do is change one value in `window.$chatwoot` object.

look here https://github.com/chatwoot/chatwoot/blob/develop/app/javascript/packs/sdk.js

change `isOpen: false` to `isOpen:true`

If I remember correctly, that's all I needed to do. If there's more to it, look at my pull request:   #875

Also in that pull request I talk about the ne

[2020-10-13 12:57] iammattmartin commented on #1325
I believe he means full screen instead of open in situ.

[2020-10-13 18:46] #1136 closed

[2020-10-14 03:33] nevros opened #1341 "Resolve conversation should remove agent & clear history"
**Is your enhancement request related to a problem? Please describe.**
When an agent clicks on "Resolve" to close the conversation the customer does not see any change, there is no difference for them.  24 hours later if the customer opens up the chat again they will see the same conversation and will be routed to the same agent and appended.

But that agent might not be available (on leave or wha

[2020-10-14 05:37] pranavrajs commented on #1325
@pcolby Would it be helpful if we expose a function like `window.$chatwoot.popout()` which would pop the conversation window? Your use case seems business specific, I would prefer to keep custom logic outside Chatwoot. With the new method on SDK, you can call the function whenever you want and achieve the result you have been suggesting.

[2020-10-14 05:49] pcolby commented on #1325
Thanks @iammattmartin and @pranavrajs!

I don't think this concept is "business specific" - ClickDesk, for example, offers it as standard feature.

That said, it look like I can get the behaviour I want by hosting a single status page at `chat.our-domain.io` with content like this:

[code]

So, assuming that the `iframe` URL I've distilled is semi-supported (ie not _likely_ to break often?) then I

[2020-10-14 05:51] pranavrajs commented on #1325
@pcolby This seems to be fine. I don't think this URL would have backwards-incompatible changes. If something is there which is breaking, we can work out an alternative. Feel free to close this ticket.

[2020-10-14 05:59] #1325 closed

[2020-10-14 08:41] leganz commented on #1321
Yeah no worries - I can understand that this is hard to reproduce - let me know if I can help by providing additional information.

[2020-10-14 15:05] iwolfm opened #1343 "Wrong transcript sent on multi installation environment"
I have setup to instances of chatwoot via Linux VM script. Everything works fine until I send a transcript via  e-mail.

Installation 1 database: chatwoot_production, port 3000
Installation 2 database: chatwoot_demo, port 3001

The second installation sends the transcript from the first installation. Everything else seems to work fine.
I have updated both installations to the most current release.

[2020-10-14 18:46] pranavrajs commented on #1341
@nevros We have received similar feedback from other users, so we are attempting to incorporate multiple conversations in the widget via #1206 . You can have more than one thread of conversation on the widget and it should resolve this problem.

[2020-10-14 18:47] pranavrajs commented on #1343
@iwolfm Are you using a shared Redis instance?

[2020-10-14 19:10] iwolfm commented on #1343
@pranavrajs  yes

[2020-10-14 19:31] nevros commented on #1341
@pranavrajs Very interested to see how this will work, it does sound like it will address most of this use case.
The updated chat widget looks great, nice work.

[2020-10-15 07:27] iwolfm commented on #1343
@pranavrajs : I create an additional instance of redis and it works fine. Thanks!

[2020-10-15 07:27] #1343 closed

[2020-10-15 17:07] iammattmartin opened #1345 "Enhancement: Add sounds to staff view."
**Is your enhancement request related to a problem? Please describe.**
Yes, when staff have the admin area open and dealing with a chat, unless they keen a concisious view of that, conversation in a running chat may be forgotten.

The visitor gets a discreet noise on a new message, extending this to staff would be good as an optional setting per staff member.

This will help that when people are l

[2020-10-16 15:56] mohmmd256 commented on #1345
Might also bring this to attention:

![Screen Shot 2020-10-16 at 5 54 10 PM](https://user-images.githubusercontent.com/7905931/96280881-d1ac1380-0fd8-11eb-910f-3d5bbaeccc01.png)

[2020-10-16 16:40] pranavrajs commented on #1345
We have looked at the different ways to enable this. Most of it has been hacky and that's the reason why we suggested to go ahead with the push notification. I can see that this has growing interest. We will take a look at it again.

@mohmmd256 Are you talking about the widget side? We don't have one on dashboard.

[2020-10-16 16:43] iammattmartin commented on #1345
Push is good but if you have a massive monitor (I use a 49" ultra wide screen), these are often missed due to being top right corner.

Also, we use Fluid (https://fluidapp.com/) to have CW in an app box so we can keep on the dock. Push notifications don't work for it.

When there is a native CW app/wrapper that may fix that but then the notification view and being able to see them still remains a

[2020-10-16 16:48] mohmmd256 commented on #1345
@pranavrajs Yes correct, I am referring to the widget.

[2020-10-17 13:38] RonWalker22 opened #1346 "Improve color contrast (Accessibility)"
**Is your enhancement request related to a problem? Please describe.**
Within the conversation panel, the background and text, of the agent’s messages, combine for a poor [color contrast rating](https://developer.mozilla.org/en-US/docs/Web/Accessibility/Understanding_WCAG/Perceivable/Color_contrast)

The same is true for the user's messages in the web widget.

![Screen Shot 2020-10-17 at 6 22 34 A

[2020-10-17 13:54] RonWalker22 commented on #1346
I just realized this issue is pervasive throughout the agent's dashboard with many titles and buttons.

[2020-10-17 15:29] RicardoRamirezR opened #1347 "Upgrading Chatwoot installation on Caprover"
Hi there,

I followed the update procedure to work with to the latest version of Chatwoot in caprover. I ran the process but the version 1.7.2 still sowed up.

Any clues?

[2020-10-17 17:34] pranavrajs commented on #1347
@RicardoRamirezR Are you using the tag latest? If so it would be cached in Caprover and it wouldn’t be updated. You need to use the specific version for upgrade

[2020-10-18 08:46] mathamonkey commented on #1305
Hi,
Is it still open?

[2020-10-18 14:30] RicardoRamirezR commented on #1347
Yes @pranavrajs, putting the version worked! Thank you!

[2020-10-18 14:30] #1347 closed

[2020-10-18 18:02] #1132 closed

[2020-10-19 06:44] sojan-official commented on #1305
@mathamonkey seems like @muhsin-k opened a PR already for this.

[2020-10-19 06:56] mathamonkey commented on #1305
Yes, please let me know if there is any other beginner issue that I can contribute to.

[2020-10-19 09:27] #1305 closed

[2020-10-19 13:34] converso-chat opened #1350 "Line Break in Welcome Message"
Hello. The welcome message cannot be placed with a line break? I need to insert a small menu to call our chatbot

Thanks

[2020-10-20 05:47] mathamonkey commented on #1271
Hi, I would like to give this a try.
Can you please assign it to me and define the acceptance criteria.

[2020-10-20 07:22] pranavrajs commented on #1240
@sojan-official This issue is not complete. Reopening now

[2020-10-20 08:19] pranavrajs commented on #947
@iammattmartin Allowing the admin/agents to delete a conversation might have an unintended sideeffect. If widget is open and admin tries to delete the conversation, the conversation on the widget becomes orphaned. We need to look at the implication in detail.

As a starting point we will allow the agent/admin to delete a message which solve the spam messages / GDPR request.

[2020-10-20 17:26] Brokray opened #1355 "Allow attachments through API channel."
**Is your enhancement request related to a problem? Please describe.**
Agents can not send any attachments while using an inbox with an **API** channel, and this is kind of frustrating.

**Describe the solution you'd like**
Simply have the same feature as the **Website** channel for example.

I deeply apologised if this enhancement has already been requested, I did not find any issue on the matter

[2020-10-20 19:45] pranavrajs commented on #1355
@Brokray API already supported it, this was disabled in the UI. I've created a PR to fix it.

[2020-10-21 07:33] #1355 closed

[2020-10-21 07:35] sojan-official commented on #1273
fixed in #1306

[2020-10-21 07:35] #1273 closed

[2020-10-21 07:46] mathamonkey commented on #1271
Hi @pranavrajs
A gentle reminder!

[2020-10-21 08:51] Brokray commented on #1355
Thanks a lot for your quick response ! :)

[2020-10-21 08:56] Brokray opened #1357 "Enhancement: Be able to specify browser informations through API channel."
**Is your enhancement request related to a problem? Please describe.**

I did not find any documentation on the subject, nor any endpoint allowing to modify `additional_attributes` by API.
Did I miss something ?

If not, I thought it would be great if we could specify browser informations through API (like your widget does).

**Describe the solution you'd like**
Maybe on creation of a conversation

[2020-10-21 11:32] somenugget commented on #1239
Hi there. Can I take this issue?

[2020-10-21 11:49] sojan-official commented on #1239
@somenugget  let us know if you need any help.

[2020-10-21 14:41] anandsork opened #1358 "Question about Performance"
This is not an issue, but a question.
 How is the performance of the system for self-hosted solution? Can it handle 1000s of users at a time? The messages will reach to millions within 6 months of time. Any specific OS configuration needed for server & DB?

[2020-10-21 23:41] chethanagopinath commented on #1228
@sojan-official Hi, I was actually working on this. Not sure why I was unassigned :(

[2020-10-21 23:58] chethanagopinath commented on #1228
@sojan-official Hi, I was actually working on this. Not sure why I was unassigned :( I know that it's been a long time since I commented, but I was stuck with some stuff, so if possible, I would like to work on this and finish it.

[2020-10-22 01:36] versedpro opened #1359 "CVE-2020-8264 bug in rails version 6.0.3.4"
**Describe the bug**

I have upgrade chatwoot with v1.9 new release and I faced a trouble.
CVE-2020-8264 bug : chatwoot-web.1.service throw error

Here error log when I run chatwoot-web.1.service:
[code]

[2020-10-22 06:59] sojan-official commented on #1228
@chethanagopinath  sorry about that. I think I misread the previous comment  😅 . I have reassigned it to you.

[2020-10-22 07:07] #1358 closed

[2020-10-22 09:11] versedpro commented on #1359
I have fixed this issue...
tried to run this command ```bundle install --path vendor/cache```
It will install new gems.

Thanks chatwoot, keep up good working!

[2020-10-22 09:11] #1359 closed

[2020-10-22 13:05] chethanagopinath commented on #1228
@sojan-official Haha, I checked it now and I understand why you would think that. :) Thanks again.

[2020-10-23 07:27] pranavrajs commented on #1350
@converso-chat Can you share a screenshot or a mockup with the intended behaviour?

[2020-10-23 09:18] pranavrajs commented on #1271
@mathamonkey To start with, let us try to implement native banners.

For iOS, please see:
https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/PromotingAppswithAppBanners/PromotingAppswithAppBanners.html

Please see the section `Implementing a Smart App Banner on Your Website`

For android, please see:

https://developers.google.com/web/fundamental

[2020-10-23 12:40] iammattmartin commented on #1346
This probably lends itself to #1100 too. Being able to customise all colours throughout all interfaces would be a big plus.

[2020-10-23 13:53] alfredfrancis opened #1361 "Add option to edit webhook url for the API channel"
**Is your feature request related to a problem? Please describe.**
No. It's an enhancement

**Describe the solution you'd like**
We need to have an option to edit the webhook URL for the API channel.

[2020-10-23 21:34] iammattmartin opened #1362 "Enhancement: "We are offline" widget text."
**Is your enhancement request related to a problem? Please describe.**
In the latest release, the widget now shows "We are offline". This kind of text isn't too desirable as sometimes all staff may be "offline" even though they'll log back in immediately on getting message.

**Describe the solution you'd like**
The text location is good but should be customisable per Inbox as it is better to give

[2020-10-24 04:09] mathamonkey commented on #1271
Okay, Sure.

[2020-10-25 15:06] #1188 closed

[2020-10-25 17:10] #836 closed

[2020-10-25 17:10] #1289 closed

[2020-10-25 18:29] pranavrajs commented on #1289
@fsennj We did a small change on the script. Can you please take a look and see if it is working for you? Please see the updated documentation at https://www.chatwoot.com/docs/deployment/deploy-chatwoot-in-linux-vm

[2020-10-25 18:29] pranavrajs commented on #836
@matthewwwillard We have updated the script to work on 20.04. Can you please take a look and see if it is working for you? Please see the updated documentation at https://www.chatwoot.com/docs/deployment/deploy-chatwoot-in-linux-vm

[2020-10-25 19:16] fsennj commented on #1289
Hi All,

getting these now:

warning " > babel-loader@8.1.0" has unmet peer dependency "webpack@>=2".
warning " > foundation-sites@6.5.3" has unmet peer dependency "jquery@>=2.2.0".
warning " > foundation-sites@6.5.3" has unmet peer dependency "what-input@>=4.1.0".
warning " > url-loader@2.3.0" has unmet peer dependency "webpack@^4.0.0".
warning " > vue-loader@15.9.0" has unmet peer dependency "cs

[2020-10-25 19:26] pranavrajs commented on #1289
[code]

You can ignore, these are just build warnings. It shouldn't break anything.

[2020-10-25 19:54] fsennj commented on #1289
Mhm still it doesn't work.. as said will try again tomorrow on a fresh install..

Holen Sie sich Outlook für Android<https://aka.ms/ghei36>

________________________________
From: Pranav Raj S <notifications@github.com>
Sent: Sunday, October 25, 2020 8:26:16 PM
To: chatwoot/chatwoot <chatwoot@noreply.github.com>
Cc: fsennj <f.sennj@ks-tech.at>; Mention <mention@noreply.github.com>
Subject: Re: [ch

[2020-10-26 08:56] azyzio commented on #234
Hey,
Let's reopen the conversation about this :) We're considering switching to chatwoot and it is the most essential missing thing in our case.

I could potentially help on the back-end side (don't know vue.js unfortunately), but would be good to discuss the concept in more detail first.

**1. What do you think the working hours should be associated with:**
- Whole account
- Specific agents
- Inb

[2020-10-26 14:20] fsennj commented on #1289
Sorry tried in 18.04 as well as in 20.04 not working either.. not sure what i do wrong (to be honest i guess i cant do anything that wrong) but the system is not coming up. Wheter over direct link IP:3000 or domain name in nginx.

Von: Pranav Raj S <notifications@github.com>
Gesendet: Sonntag, 25. Oktober 2020 20:26
An: chatwoot/chatwoot <chatwoot@noreply.github.com>
Cc: Franz Senn jun. <f.sennj@k

[2020-10-27 07:17] azyzio commented on #234
@pranavrajs @sojan-official
Any thoughts here?

[2020-10-27 09:30] pranavrajs commented on #234
@azyzio Thanks for writing up the details.

I believe we might need to add the config or some kind of inheritance to the inboxes because we support multi brand inboxes. Adding the config on account is a good start.

I believe it's essential to keep the working hours separate for each day of week as probably 90% of businesses are closed / have different hours on e.g. weekends.

This sounds good.

A

[2020-10-27 18:52] #1225 closed

[2020-10-27 20:44] #1122 closed

[2020-10-27 22:25] azyzio commented on #234
Hey @pranavrajs ,

Thanks for the response. I have just pushed the required changes on the back-end. As I mentioned: unfortunately I won't be able to help with vue.js.

Eventually, I followed your suggestion and associated working hours with inboxes.

Please let me know if you have any questions or concerns regarding my approach.

Best,
Adam

[2020-10-27 22:36] azyzio commented on #234
Regarding the needs on the front end, I can see the following:
- The toggle turn turn on / off working hours feature for a given inbox.
- The tab to update working hours for each day of week (with the ability to turn the given day of week off altogether) and an out-of-office message for a given inbox.
- The place to change the account timezone (I can see it in the above tab, but not 100% sure it's

[2020-10-28 02:52] gnomex commented on #823
Hi, where do you want to add the certificate?

I suppose at containers, if so, which env, staging and production?

[2020-10-28 05:39] pranavrajs commented on #234
@azyzio Thanks for the effort you put on the PR. Let me go through the PR. We will figure out what changes needs to be done on the frontend.

[2020-10-28 10:10] sojan-official commented on #823
@gnomex  we didn't get the chance yet to research this in detail yet. But if you are planning to take a look.  let's go with the approach that, someone wanting to use an SSL CA certificate will have to build containers including the cert from chatwoot base image.

in chatwoot, let's provide an environment variable, which could be used to specify the location of the certificate and make the require

[2020-10-28 12:15] mikehardenize opened #1371 "POSTGRES_PASSWORD is printed out by docker container"
**Describe the bug**

I'm using your docker image, from docker-compose. I pass through a POSTGRES_PASSWORD environment variable. Chatwoot prints this password out when running:

[code]

This isn't ideal because it then ends up in our logs. I've tried reducing the log level, but it gets printed out regardless.

**Additional context**

I'm using an image built on the base docker image `chatwoot/chat

[2020-10-29 04:46] pranavrajs commented on #1371
@mikehardenize This is unfortunate. Thanks for reporting. We will provide a quick fix for it.

[2020-10-29 08:12] robinWongM opened #1372 "Bug: Server responds with a broken image url on file upload"
**Describe the bug**

It seems that server will respond with the image url before it succeed the uploading when an agent is uploading an image. The browser will fetch the image when the image isn't ready and user will get a "broken" image.

**To Reproduce**

Steps to reproduce the behavior:
1. Click on attachment icon in a chatbox
2. Select an image to upload
3. Wait until an broken image appears

[2020-10-29 10:13] yihyang commented on #1330
Hi @pranavrajs I have created a PR in https://github.com/chatwoot/chatwoot/pull/1373

Feel free to let me know what should I update, thanks

[2020-10-29 10:22] jaime-rivas commented on #1362
+1!

[2020-10-29 13:32] AwakenTheJaken commented on #866
+1 for this, we were planning on using chatwoot 🚀 as a replacement for Livezilla 🤮 but without this feature and the ability to route a user to a specified team it makes it difficult for us to make the jump.

[2020-10-29 14:06] sojan-official commented on #1280
Closing this for now based on the technical discussions.  With #1353 ( ability to delete message ) should suffice meanwhile.

[2020-10-29 14:06] #1280 closed

[2020-10-29 14:59] sebastienlabine opened #1374 "Allow translation for Website Inbox Welcome Heading, Welcome Tagline and Channel greeting message"
**Is your feature request related to a problem? Please describe.**
We have users who speak both french and english.  Would love to have the website popup chat greet them in their respective lang based on HTML Lang attribute or Url path (/fr/..)

**Describe the solution you'd like**
We would like to have a translation tab for each language we want to support and be able to edit each key for this pa

[2020-10-29 16:02] fv3rdugo opened #1375 "ERROR: new encoding (UTF8) is incompatible with the encoding of the template database (SQL_ASCII)"
**Describe the bug**

I follow your documentation https://www.chatwoot.com/docs/deployment/deploy-chatwoot-in-linux-vm and the script fails when create the database.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://www.chatwoot.com/docs/deployment/deploy-chatwoot-in-linux-vm and follow the procedure.
2. Execute the 18.04 script in the VM linux console and,
3. See error
PG::Inva

[2020-10-29 16:11] fv3rdugo commented on #1375
I fix this issue defining the locales before execute the _setup.sh_ script.
I repeat the whole process from scratch:
 dpkg-reconfigure locales
 wget https://raw.githubusercontent.com/chatwoot/chatwoot/develop/deployment/setup_18.04.sh -O setup.sh
 chmod 755 setup.sh
 ./setup.sh

I hope this helps someone.

[2020-10-29 19:19] pranavrajs commented on #1375
@fv3rdugo Do you think it happens in all cases? I tested this script on DigitalOcean and Aws, it worked fine. Am I missing something?

[2020-10-30 06:36] #1285 closed

[2020-10-30 07:29] converso-chat commented on #1350
Hello,
I have no image, I already exclude it. But is like that:

"Hello, this is the first line </br>
And this is the second line </br>
Three lines "

Understood?

Thanks

[2020-10-31 08:39] pranavrajs commented on #1374
@sebastienlabine We have thought about this. One of the things we are considering to do is to move the exisiting settings to SDK, so that along with locale you can pass the welcome title and tagline. This would be done in future releases.

[2020-10-31 08:42] pranavrajs commented on #1372
@robinWongM Are you using Cloud storage like S3 or GCS? If not, could you please try it with any cloud storage. Our current docker images doesnot support disk based file uploads. This is a known issue as seen in #1166

[2020-10-31 10:17] robinWongM commented on #1372
I haved tried self-hosted minio which is S3-compatible, and chatwoot behaved the same. Unfortunately I couldn't use other cloud storage since the Kubernetes host is unable to access the Internet directly.

When I use local storage, chatwoot container is configured to persist its `/app/storage` on a Persistent Volume (while the docker-compose.production.yml doesn't). So when chatwoot is restarted (

[2020-11-01 07:23] #418 closed

[2020-11-01 09:44] muhsin-k opened #1378 "Upgrade vue-i18n"
- Upgrade `vue-i18n` to the latest version

[2020-11-01 11:32] akashdotsrivastava commented on #817
@pranavrajs I'd like to give this a shot if it is still needed.

[2020-11-01 15:23] muhsin-k opened #1379 "Enhancement: Add status color for status in agent availability menu"
<img width="222" alt="Screenshot 2020-11-01 at 3 18 50 PM" src="https://user-images.githubusercontent.com/12408980/97799686-8c811600-1c55-11eb-848a-c538ba24491f.png">

[2020-11-02 08:02] fv3rdugo commented on #1375
I tried to installing from ubuntu_18.04 LXC image on a Proxmox server. I think the postgresql's template1 had SQL_ASCII by default instead of UTF8. That was the problem.
In other systems surely the default encoding is unicode and there is no such problem. There may be a way to set unicode by default. Sorry, I don't know how to do it for now.

[2020-11-02 09:18] pranavrajs commented on #817
@akashdotsrivastava Sure, you might need to take a look at the Twitty gem as well. https://github.com/chatwoot/twitty

I don't think we have implmented the method to toggle typicing indicator in the gem.

[2020-11-02 17:23] sorumehta opened #1381 ""error": "undefined method `reject' for nil:NilClass" when I create a new message using API"
"error": "undefined method `reject' for nil:NilClass" (status 422)
"Can't verify CSRF token authenticity." On server.

The steps I followed

1. I created a new 'API' type inbox from the dashboard, then created a new contact with the following API in Postman: https://app.chatwoot.com/api/v1/accounts/1709/contacts
This worked.

2. Then I created a new conversation using this API: https://app.chatwoo

[2020-11-03 09:54] pranavrajs commented on #1381
@sorumehta It looks like you are not passing the correct payload for the content type `cards`. Please take a look at https://github.com/chatwoot/chatwoot/wiki/Creating-Bot-Messages-Types

[2020-11-03 12:09] sorumehta commented on #1381
@pranavrajs  You are right, I got the response after using correct payload. Thanks 👍
But I didn't get any callback (from API inbox) when I sent a message from chatwoot dashboard. Any suggestions on that?

[2020-11-03 12:25] pranavrajs commented on #1381
@sorumehta Have you added a right callback? I'm closing this ticket as it is not a bug, please create a discussion if you still need help.

[2020-11-03 12:25] #1381 closed

[2020-11-03 12:44] sorumehta commented on #1381
Okay. Thanks for your help :)

[2020-11-03 17:03] eashman commented on #1321
It's related to this:

https://github.com/caprover/one-click-apps/issues/180

The issue is the way the install config for Caprover works. It doesn't prompt you for the SMTP info on install, and as a result, the SMTP variables don't end up in the chatwoot-worker app.  All the online guides only mention putting those vars into the main app from what I saw (or I missed it that you have to do it in tw

[2020-11-04 06:53] #1379 closed

[2020-11-05 18:36] #1371 closed

[2020-11-05 21:04] erdemolcay commented on #1248
@Giszmo Did you enter the following Twitter related environment variables for the **worker** app on CapRover?

[code]

[2020-11-05 23:00] andrewdmaclean opened #1384 "Unable to Login As Super_Admin"
**Describe the bug**
When attempting to connect to the super_admin URL on a heroku-hosted instance, I am unable to login with my credentials

**To Reproduce**

Steps to reproduce the behavior:
1. Go to `XYZ.herokuapp.com/super_admin/sign_in`
2. Input Email & Password
4. See error - "Couldn't find SuperAdmin"

**Expected behavior**

Access to Super Admin Dashboard

**Screenshots**

![image](https:/

[2020-11-06 00:03] Giszmo commented on #1248
Now it works. The CapRover config was missing. Thanks.
The app should maybe detect that and push the user to fix it instead of partially working.

[2020-11-06 05:33] sojan-official commented on #1384
@andrewdmaclean  super admin uses separate credentials.
you need to create a super admin user before accessing the page

https://github.com/chatwoot/chatwoot/wiki/Creating-a-super-admin-and-accessing-sidekiq

[2020-11-07 02:33] andrewdmaclean commented on #1384
@sojan-official that was it!

Thanks for the help 👌

[2020-11-07 05:36] #1384 closed

[2020-11-07 06:26] sivin-git opened #1386 "Sort label links on sidebar for homepage"
**Is your enhancement request related to a problem? Please describe.**
When there are too many labels it is difficult to find the needed labels.

**Describe alternatives you've considered**
Sort the labels by alphabetical order.

[2020-11-07 06:51] #1386 closed

[2020-11-07 18:51] ron226 opened #1388 "like"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions you've considered.

**Additional

[2020-11-07 20:36] #1388 closed

[2020-11-08 10:40] Anvit3 opened #1390 "Signup page"
When you go onto the signup page hdhdhdbdbdb

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, add screenshots to help explain your problem.

**Browser

[2020-11-08 11:32] #1390 closed

[2020-11-08 11:33] #227 closed

[2020-11-10 06:38] mickeylovesrape opened #1394 ""Deploying in production" documentation issue"
The embedded links in docs/README.md are inconsistent with the current file structure of the docs folder. Clicking on the embedded URL's redirects to a 404 not found github page since the URL's are not updated.

[2020-11-10 06:56] L-U-C-K-Y commented on #1197
Hubspot integration would also be very helpful for us!

[2020-11-10 06:58] pranavrajs commented on #1394
@mickeylovesrape I understood the problem. Can you please try www.chatwoot.com/help-center/ in the meantime?

[2020-11-10 07:04] pranavrajs opened #1395 ""docs/Readme" links donot work in Github"
The embedded links in docs/README.md are inconsistent with the current file structure of the docs folder. Clicking on the embedded URL's redirects to a 404 not found github page since the URL's are not updated.

[2020-11-10 07:26] sgchecho opened #1396 "I"
#[echo "# 564683" >> README.md git init git add README.md git commit -m "first commit" git branch -M main git remote add origin https://github.com/sgchecho/564683.git git push -u origin main                 ]() **Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. S

[2020-11-10 07:26] #1396 closed

[2020-11-10 09:55] #44 closed

[2020-11-10 17:25] sandys commented on #1171
we would be highly interested in dialogflow integration as well

[2020-11-11 10:40] pranavrajs opened #1399 "Upgrade ruby to the latest version"
[code]

[2020-11-12 10:07] versedpro opened #1402 "Bug: Changing of availability status doesn't affect agents' status on setting->agents page"
**Describe the bug**

When an agent changes his/her availability status himself/herself, it doesn't affect on setting->agent page.

**Expected behavior**

When agents change their availability status themselves, the admin has to see their status changes on list of agents(Setting->Agents).

[2020-11-12 10:49] pranavrajs commented on #1402
@versedpro Could you please provide a screencast of the behaviour?

[2020-11-12 18:39] nithindavid opened #1403 "UI Chore"

[2020-11-12 18:48] #1403 closed

[2020-11-13 06:15] bsbarkur opened #1406 "Load testing using Locust on Self hosted Chatwoot"
**Describe the bug**

DB started throwing errors when doing load testing using locust for 500 users at spawn rate of 6 users sec. Could you please tell us what is the purpose of the display_id and index below and why concurrent inserts to db are failing at higher loads ?

**Server logs**

The DB logs were showing this:

2020-11-13 04:41:07.991 UTC [4251] ERROR:  duplicate key value violates unique

[2020-11-13 11:54] pranavrajs commented on #1406
@bsbarkur Can you please describe the way you have tested the application? Is it tested on a single or a swarm of Docker? Did you try calling the API or have emulated the UI clicks using Locust?

display_id - This is the ticket number for a conversation in a particular account.

For a page with 1M views per month, a 4GB server should be good enough. Our production app handle close to 40rps now, ha

[2020-11-13 12:04] sorumehta commented on #1406
@pranavrajs I think due to concurrent new conversation requests in this case, the display_id assigned to more than one new conversations is same, which is causing the unique constraint error while writing to the conversations table.
Is there a way to assign incremental display_ids to concurrent conversations requests?

[2020-11-13 12:14] pranavrajs commented on #1406
@sorumehta I understood that.

`display_id` is kind of auto_increment field specific to the account. This logic might be executed at the model callbacks. I have not figured out a way to do it at the DB level. If that is possible, then this problem would resolved.

[2020-11-13 12:26] sorumehta commented on #1406
@pranavrajs

I think creating a sequence object in the db and using nextval() might help? I am not sure. If it works for me I will create a pull request.
Do let me know your thoughts on this.
Thanks.

[2020-11-13 12:28] pranavrajs commented on #1406
@sorumehta Feel free to raise request, we can test it out.

[2020-11-13 14:26] #1240 closed

[2020-11-13 14:28] pranavrajs commented on #234
Moving this 1.11.0 as the UI work is not complete.

[2020-11-13 15:11] versedpro commented on #1402
I assume something went wrong during I was installing dependencies or upgrading chatwoot.
Could you give me any tip about how to reflect the changes of availability status from back-end(or database) to front components or store?
Thanks in advance.

[2020-11-13 20:04] phayes opened #1409 "Script generator should set `g.defer = true;`"
**Is your enhancement request related to a problem? Please describe.**
Chatwoot significantly slows down the loading of my webpage since loading of resources tend to pile up behind the chatwoot javascript file. This is likely because chatwoot is a cross-origin load so carries a heavier cost to load.

**Describe the solution you'd like**
Script generator should set `g.defer = true;` so that chatwoo

[2020-11-14 09:20] iammattmartin commented on #1409
This may need further testing.

I've not noticed any slowness on any of my sites with this but changing the code as noted, then makes the button not appear for some considerable time.

The tradeoff, for some, may not be worth it so it may be better being documented than autogenerated.

[2020-11-14 13:37] pranavrajs commented on #1409
I guess we make it async rather than defer. Instead of making the script synchronous, async would be a better choice.

We will investigate the impact and would take an action. As @iammattmartin said, having a choice and a better documentation around it would be nice.

cc: @nithindavid

[2020-11-15 02:12] SmartManoj opened #1411 "Any plan to port to Python?"

[2020-11-15 03:52] pranavrajs commented on #1411
No, there are no plans.

[2020-11-15 03:52] #1411 closed

[2020-11-15 14:27] sbauch commented on #1318
Is the chatwoot team interested in PRs that add this functionality?

I'm a maintainer of [Osso](https://github.com/enterprise-oss/osso), a ruby service that enables SAML-based SSO via OAuth from an app like chatwoot. We're considering using chatwoot in our stack, and would prefer to be able to login using SSO, so we could implement OAuth support in chatwoot generally in order to support our SAML =

[2020-11-16 05:16] #1154 closed

[2020-11-16 12:55] SmartManoj opened #1414 "Messages not delivered"
**Describe the bug**

Incoming messages from WhatsApp are working but not Outgoing messages

**To Reproduce**

Steps to reproduce the behavior:
1. Send a message from the inbox

**Browser logs**

None

**Server logs**
[code]
**Environment**

self-hosted - Heroku

[2020-11-16 13:37] SmartManoj commented on #1414
For website too

[2020-11-16 14:07] pranavrajs commented on #1414
@SmartManoj I don't understand the issue here. Please see https://github.com/chatwoot/chatwoot/discussions/1400.

[2020-11-16 14:15] SmartManoj commented on #1414
Turning on the worker solved the issue.

[2020-11-16 14:18] #1414 closed

[2020-11-16 14:45] pranavrajs commented on #1318
@sbauch Thanks for introducing Osso, let us take a look at the library, will revert to you if it is suitable for our pipeline.

cc: @sojan-official

[2020-11-17 05:21] sojan-official commented on #1402
<img width="1682" alt="Screenshot 2020-11-17 at 10 49 53 AM" src="https://user-images.githubusercontent.com/73185/99349793-d78c6180-28c2-11eb-925d-dc4c1cb48d45.png">

[2020-11-17 07:40] Sx3 opened #1422 "Emails are not working on Chatwoot fresh install"
We are running Chatwoot on
Ubuntu 20.04

//Mail outgoing
MAILER_SENDER_EMAIL=accounts@chatwoot.com
SMTP_PORT=1025
SMTP_DOMAIN=chatwoot.com
//if you are running docker-compose, set SMTP_ADDRESS value as "mailhog",
//else set the value as "localhost"
SMTP_ADDRESS=mailhog
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_AUTHENTICATION=
SMTP_ENABLE_STARTTLS_AUTO=

we don't use authentication for our email server so

[2020-11-17 08:00] sojan-official commented on #1422
@Sx3 I think you need to change the SMTP_DOMAIN and SMTP_ADDRESS.
probably switch the `SMTP_ADDRESS` to localhost ?

[2020-11-17 17:31] Sx3 commented on #1422
yes it is `SMTP_ADDRESS` = localhost ..but no emails

[2020-11-17 17:33] sojan-official commented on #1422
@Sx3  Could you share the logs?

[2020-11-17 17:37] pranavrajs commented on #1422
@Sx3 I'm removing the bug label since it seems to be an issue with the configuration.

[2020-11-17 20:47] ayushin commented on #642
anybody working on this?

[2020-11-17 21:17] ayushin opened #1423 "flutter/dart client?"
Are there any plans / work done on building a flutter chat client?

[2020-11-18 06:21] Sx3 commented on #1422
Okay mailgun confis works.

[2020-11-18 06:21] #1422 closed

[2020-11-18 08:43] KonstantinReido opened #1425 "Conversation continuity doesn't work"
**Describe the bug**

I tried to configure "Conversation continuity" by this [instration](https://www.chatwoot.com/docs/conversation-continuity) but:
1) found that the system expects that will be set MAILGUN_INGRESS_API_KEY, not MAILGUN_INGRESS_SIGNING_KEY
2) when the system receives an email from Mailgun it generates an error (logs below)

**To Reproduce**

Steps to reproduce the behavior:
1. Set

[2020-11-18 09:25] pranavrajs commented on #1425
@KonstantinReido I guess this is probably a setup error. @sony-mathew Can you please take a look at this?

[2020-11-18 10:32] sony-mathew commented on #1425
@KonstantinReido Does the email continuity work with the new environment variable `MAILGUN_INGRESS_API_KEY` set?

I guess this gap is due to a missed documentation when Rails version was upgraded. We will create a task to update the documentation and thanks for bringing this up to our notice.

[2020-11-18 10:48] KonstantinReido commented on #1425
@sony-mathew with this environment variable I start to receive requests from Mailgun but facing with the second issue in Sidekiq (you can see logs above)

[2020-11-18 11:05] sony-mathew commented on #1425
@KonstantinReido Cool. I will test the email continuity with Mailgun and get back to you. Expect some delay for this.

[2020-11-19 04:09] Giszmo opened #1427 "Avatars are embedded without ssl, triggering security warnings in modern browsers"
**Describe the bug**

Visitors to my page are being greeted with a security warning or even disabled css/js due to chatwoot's avatars being served unsafely without ssl.

**To Reproduce**

Steps to reproduce the behavior:
1. Navigate to [my website](https://walletscrutiny.com/)

**Expected behavior**

The avatars should be embedded using the (working) https urls.

**Screenshots**

Most users see:

[2020-11-19 04:11] Giszmo commented on #1427
Ironically those objected images are not even hosted anymore as I have not yet figured out how to persist them.

[2020-11-19 05:07] Giszmo commented on #1131
The instant availability of a chat input is very inviting to the user but results in people just saying "Hi" to check if you reply instantly or whatever. Those people that don't really want to engage in a conversation are the ones I would like to get rid of but without scaring away those that actually have something more involved to say.

How about letting the user write his initial message and th

[2020-11-19 10:21] iammattmartin commented on #1131
Agree on this. The amount of "Hi" messages that we get, reply to and then never hear anything again is crazy.

[2020-11-20 06:54] tabrza commented on #1345
@pranavrajs - what are your thoughts on moving forwards on this?

[2020-11-20 10:08] #1399 closed

[2020-11-20 10:17] hiaselhans opened #1430 "Deploy chatwoot under an url prefix"
**Is your feature request related to a problem? Please describe.**

I'd like to have chatwood be available under the main domain with a prefix. e.g:
https://mydomain.com/chatwoot/

**Describe the solution you'd like**

cleanest would be to extract this information from FRONTEND_URL env variable.

[2020-11-20 10:35] sojan-official commented on #1430
ref: #1045

[2020-11-20 10:55] hiaselhans commented on #1430
hmm too bad :/

It's not an uncommon requirement tough to run chatwoot behind a reverse proxy in a prefixed path....
could you point me to one or two places where those assumptions are used?
setting asset_path would at least solve the js/css tag side of it...

[2020-11-20 12:40] iammattmartin commented on #1430
I'd say it is fairly uncommon for such types of app due to the way CW is built and intended for use.

You could try this yourself but the results would not be good.

[2020-11-20 12:50] piotrblasiak opened #1432 "CSP nonce support"
Currently it is not possible to use a strict CSP policy for styles with wootchat, is it uses inline styles without support for nonce.
It would be great if it was possibe to start woothchat with a nonce that it would then use for all inline styles, like:

wootchatSDK.run({ nonce });

[2020-11-20 13:04] azyzio commented on #830
I took it

[2020-11-20 14:16] piotrblasiak opened #1434 "Unable to close chat window when hideMessageBubble: true"
**Describe the bug**

When using:

chatwootSettings = { hideMessageBubble: true };

And toggling the chat, at least on desktop the chat window does not have an X to close it. I believe it would be preferrable to have it there always (like it is when opened up on mobile).

Also, it should be possible to set the distance from the bottom of the browser window as now it has a weird huge gap (see scree

[2020-11-20 15:37] pranavrajs commented on #1345
@tabrza #989 changes only the sound file, it doesn't solve the problem.

[2020-11-20 15:40] pranavrajs commented on #1430
@hiaselhans Since this is not a blog or page which you need to host to external users, it doesn't make sense to put effort to support prefix unless there is a solid use case. Could you please describe the use case?

[2020-11-20 16:26] pranavrajs commented on #1427
@Giszmo I was checking the config. Please set FRONTEND_URL with `https` value `https://chat-web......`

<img width="402" alt="Screenshot 2020-11-20 at 9 29 58 PM" src="https://user-images.githubusercontent.com/2246121/99822437-3844c400-2b79-11eb-94a6-b315dcfcc468.png">

[2020-11-20 16:26] #1427 closed

[2020-11-20 16:38] Giszmo commented on #1427
Thanks. That fixed it. It should probably default to https, not to http these days.

[2020-11-20 16:41] hiaselhans commented on #1430
thx for your message @pranavrajs ...

For my use case it is a docker/kubernetes deployment with nginx reverse proxy.
It is true that many companies use 'service.companydomain.com' for their services, but i see many of them switching to companydomain.com/service. I prefer the later because it simplifies local testing/deployment (service.localhost vs localhost/service)

If it is a big effort to achi

[2020-11-20 16:55] pranavrajs commented on #1430
@hiaselhans I understand. The frontend url logic completely relies on the fact that the Chatwoot installation would be on subdomain not on a relative URL. This seems like a significant change and a lot of testing would be required to confirm that the app is working without issues. It is technically possible, but it is hard for us to take a look at this right now. If you are willing or have time, p

[2020-11-20 17:00] pranavrajs commented on #1427
@Giszmo I understand that. Since we do not handle the SSL installation in our installation flow, we have kept this open. This would be included in the future build, we would change this to HTTPS as default then.

[2020-11-20 19:10] sojan-official commented on #1430
@hiaselhans We don't encourage installation under a relative URL because we have features in our future pipeline with the assumption of having a full domain name/ subdomain name available for chatwoot instance.

One example is the knowledge base feature we are building, which would grow into a self-service portal for the customers.  you wouldn't want this portal to be exposed to customers as  `xyc

[2020-11-20 21:17] hiaselhans commented on #1430
Well, okay. I'm closing this then....

My private take on this is that you seem to have a good looking piece of software.
If it's widely acessible (oauth, sub-path) there can be quite a big audience for it.
On the other hand i think it's very hard to compete with confluence.

and, even if that's the roadmap, i don't see a problem having just another container there to serve `xyc.com/support` or `s

[2020-11-20 21:18] hiaselhans commented on #1430
and thx @pranavrajs . I'll see if i go ahead with it.

[2020-11-20 21:18] #1430 closed

[2020-11-21 00:55] samzye commented on #427
Is this still not fixed, i just installed chatwoot image in plesk docker, and i get this. "Switch to inspect mode."

[2020-11-21 13:29] pranavrajs commented on #1432
@piotrblasiak Thanks for creating this issue, this needs an investigation on what changes need to be done, we will take it in the future releases.

[2020-11-21 17:13] #1402 closed

[2020-11-22 10:58] machalex opened #1437 "Emails account confirmation never received."
Impossible to receive email confirmation account.
I've installed application both on linuxVM and Heroku.

I've configured SMTP env vars with my own SMTP server config, as describe here:
https://www.chatwoot.com/docs/environment-variables

But nothing work : email account confirmation never received.

Any Ideas ?

[2020-11-22 20:57] vishal-pandey opened #1438 "Phone number search support in contact search"
I started using the contact search its great to organise all the contacts in one place. The one thing that I think would be really helpful is to be able to search contacts also on the phone numbers.

Currently, I am not able to search contact using phone number I am also attaching a screenshot here.

![chatwoot_contact_search](https://user-images.githubusercontent.com/19498820/99916956-679f3080-2d

[2020-11-23 05:19] #1434 closed

[2020-11-23 05:23] pranavrajs commented on #1437
@machalex Can you please share server logs? Without that, it is hard to debug this. Also, please share more information like the provider you are using (MailGun/MailChimp) etc.

[2020-11-23 05:30] #1438 closed

[2020-11-23 08:47] KonstantinReido opened #1441 "feature: Ability to have a configuration in admin panel to disable signups"
**Is your enhancement request related to a problem? Please describe.**
On the login page, I see "Create new account", but in our case, only users who I added should have access to the system, so better to hide this link.

**Describe the solution you'd like**
Possibly some configuration option available via super admin panel.

[2020-11-23 10:47] sojan-official commented on #1441
for now please use https://github.com/chatwoot/chatwoot/discussions/1428 as a solution

**We can have this as a configuration option in super admin pannel in the future.**

[2020-11-23 16:58] sojan-official opened #1444 "feature: Sort and display online contacts"
ref: https://discord.com/channels/647412545203994635/719548300868452362/780416006857424907

[2020-11-23 17:36] machalex commented on #1437
@pranavrajs Sorry for missing information.
the only info I have in logs is :

2020-11-23T17:23:58.328038+00:00 app[web.1]: I, [2020-11-23T17:23:58.327959 #4]  INFO -- : RoomChannel is transmitting the subscription confirmation

Regarding the SMTP server, I used my own SMTP provider, supplied with my domain provider. I've used these envvars for configuration :

MAILER_SENDER_EMAIL=my@domain.com
SMT

[2020-11-23 20:19] sojan-official opened #1445 "bug: Emails are sent event if the customer is online on the widget"
ref: https://discord.com/channels/647412545203994635/647412545686208527/780524702467883079

[2020-11-23 20:21] sojan-official commented on #1437
@machalex  could you check in sidekiq whether the workers are working correctly and whether the email job was processed successfully?

ref: https://github.com/chatwoot/chatwoot/wiki/Creating-a-super-admin-and-accessing-sidekiq

[2020-11-23 21:02] machalex commented on #1437
@sojan-official Thanks for your support.
Effectively, it seems that sidekiq is not active, and jobs are in queue.

![image](https://user-images.githubusercontent.com/11045936/100014995-89ea8a00-2dd7-11eb-826e-5265187cdab6.png)

What should I do to activate it ?

Thanks in advance.

[2020-11-23 21:13] machalex commented on #1437
Ok, it seems I've found how to activate sidekiq.
Thanks a lot for your support @sojan-official  @pranavrajs

[2020-11-24 08:01] vishal-pandey opened #1447 "Label Title Overflow"
When the title of the label is long it doesn't get truncated and push the open/resolved/bot dropdown and the user won't be able to use it.

I am attaching the screenshot for better understanding.

![label_overflow_bug](https://user-images.githubusercontent.com/19498820/100064889-18532000-2e59-11eb-982a-a5d02a1a092a.png)

[2020-11-24 11:15] pranavrajs commented on #1437
@machalex Closing this as it seems your problem is solved.

[2020-11-24 13:04] #830 closed

[2020-11-24 17:26] pranavrajs opened #1449 "Add documentation to upgrade ruby / pg in Linux VMs"
The ruby upgrade or pg update process on Linux VMs are not documented. This creates a confusion.

[2020-11-24 17:42] iammattmartin commented on #940
This also occurs when the reply option changes from "private note" back to "reply" even if the mouse does not have focus.

[2020-11-24 17:54] iammattmartin opened #1450 "Message-ID potentially invalid, per RFC2822"
**Describe the bug**

Message-ID in mail on self-hosted sent from CW seems invalid. i.e

```Message-ID: <conversation/xxx-xxxx-xxxx-xxx/messages/xxx@>```

There should be hostname or domain after the @

Both SMTP_ADDRESS and SMTP_DOMAIN are set in the .env file so not sure where else this would need to be set or if this is just an oversight?

I would however say that using the same domain as the s

[2020-11-24 17:59] azbub opened #1451 "AWS SMTP not working"
**Describe the bug**

Running a fresh chatwoot installation on top of CapRover.
Adding ENV variables to woot-web and woot-worker to setup the SMTP server.

[code]

I am expecting an email to be sent whenever I add a new Agent, however nothing is being sent, I am watching AWS SNS email stats and nothing on that dashboard either.

PS : the Administrator account I created is "Pending verification".

[2020-11-24 18:10] machalex commented on #1437
Hi @sojan-official and @pranavrajs
Sorry but emails account confirmation still not sent.
Sidekiq is working but jobs not working

![image](https://user-images.githubusercontent.com/11045936/100134515-a09ce980-2e88-11eb-83d1-101d65986efa.png)

Any Ideas ?

[2020-11-24 18:10] machalex opened #1452 "Hi @sojan-official and @pranavrajs"
Hi @sojan-official and @pranavrajs
Sorry but emails account confirmation still not sent.
Sidekiq is working but jobs not working

![image](https://user-images.githubusercontent.com/11045936/100134515-a09ce980-2e88-11eb-83d1-101d65986efa.png)

Any Ideas ?

_Originally posted by @machalex in https://github.com/chatwoot/chatwoot/issues/1437#issuecomment-733148242_

[2020-11-24 18:53] pranavrajs commented on #1451
@azbub Can you please share the worker logs?

[2020-11-24 18:53] pranavrajs commented on #1450
@sony-mathew Can you please take a look into this?

[2020-11-24 18:54] pranavrajs commented on #1452
Closing this as it is a duplicate of #1437

[2020-11-24 18:54] #1452 closed

[2020-11-24 18:56] pranavrajs commented on #1437
@machalex This looks like the SMTP credentials are invalid. Could you please tell us what is SMTP provider used here?

[2020-11-24 21:31] machalex commented on #1437
SMTP provider is same as my domain provider., SMTP is attached to my domain and works perfectly with any mail client as outlook, mail OS or others....
But it's not clear about which envvars should I use with my own SMTP provider ?

[2020-11-25 07:04] hmnhf commented on #1437
@machalex Are you able to [connect to your mail server](https://knowledge.broadcom.com/external/article/164907/test-smtp-authentication-with-messaging.html) and [send an email with telnet](https://linuxconfig.org/send-an-email-using-telnet) on chatwoot's server? If not, there could be some firewall issue. (E.g. port 587 being blocked by ufw or something else.)

[2020-11-25 07:22] #1447 closed

[2020-11-25 09:41] sojan-official opened #1454 "feat: Business Chat Channel"
Explore having apple business chat as a channel

ref: https://developer.apple.com/documentation/businesschatapi/integrating_with_business_chat

[2020-11-25 10:10] DataTables opened #1455 "Slack messages not coming through"
**Describe the bug**

I've installed ChatWoot (awesome btw!) using the Linux install instructions, with a small amount of tinkering to install it on CentOS 8.2. I'm now trying to get the Slack integration to work. I've [followed the instructions here](https://www.chatwoot.com/docs/slack-integration-setup), and I see the Chatwoot App in my Slack client, but when writing messages in the widget or th

[2020-11-25 10:23] pranavrajs commented on #1455
@DataTables Have you connected the slack channel with your account on Chatwoot? (Settings -> Integrations)

On a side note, Would you be willing to make a PR on the changes you made? I'd happy to test and help you out if something is missing.

[2020-11-25 10:31] DataTables commented on #1455
That looks like the step I was missing... Thank you. However, When I go to the integrations in ChatWoot:

![image](https://user-images.githubusercontent.com/278219/100215560-0af56e80-2f09-11eb-89f7-5d219d6dceda.png)

I get the Slack App allow page:

![image](https://user-images.githubusercontent.com/278219/100215644-282a3d00-2f09-11eb-8d96-2d42eeaf775b.png)

Click allow and end up back on the Chat

[2020-11-25 10:35] DataTables commented on #1455
I've just spotted that I'm getting a 500 error from https://...com/api/v1/accounts/2/integrations/slack when the settings -> integrations page is loaded now. Production environment, so I'm not sure what logs I can get from where?

[2020-11-25 10:55] pranavrajs commented on #1455
@DataTables This looks like there are some issues with Slack integration. Can you please post the logs? It will available in the `<path-to-chatwoot-code>/log/production.log` file

[2020-11-25 11:24] DataTables commented on #1455
There doesn't appear to be such a file I'm afraid. I've just done a search of the entire file system and there isn't a `production.log` anywhere. Do I need to enable logging somehow?

[code]

[2020-11-25 12:23] pranavrajs commented on #1455
@DataTables Please see the env var `RAILS_LOG_TO_STDOUT`. If it is available or set to true, please remove it. After restarting the server, you should be able to see the logs.

[2020-11-25 12:48] DataTables commented on #1455
Thank you so much for the help with this btw!

I enabled the logs and discovered I had a typo in one of my slack options in the config file. Fixing that I've been able to connect the Slack integration in the ChatWoot UI, so my apologies for that.

However, the messages still aren't coming through in Slack. This is the log of setting a "TESTING" message to the widget:

[code]

Any idea what I might

[2020-11-25 13:55] sojan-official commented on #1455
@DataTables  could you check whether the sidekiq workers are running properly / or if there are any errors in the worker jobs?

https://github.com/chatwoot/chatwoot/wiki/Creating-a-super-admin-and-accessing-sidekiq

the messages are delivered to slack via a background job. So if the slack connection is correct and message are getting created in chatwoot properly.  Something going wrong in the back

[2020-11-25 15:02] DataTables commented on #1455
Thanks for the link! I've done that and sidekiq is running:
![image](https://user-images.githubusercontent.com/278219/100244277-a5b47400-2f2e-11eb-8ae2-8ee750f54589.png)

The "Failed" are e-mail errors (different issue - I'll look at that later). When perform communication between the widget and the inbox, I see the "Processed" count going up. The "Failed" count stays the same. I don't see a way t

[2020-11-25 21:16] machalex commented on #1437
@hmnhf Hi, yes, I tested it, and I'm effectively able to connect to mail server from chatwoot server.
Still not receive emails for account conformations.

[2020-11-26 07:23] pranavrajs opened #1458 "Audio player for audio message"
If the conversation is happening in Whatsapp, people tend to use audio messages along with text messages. The current interface shows a download button for all file types except the image files. This makes it harder for the support agents to hear the content as they have to download it first and play it locally.

### Feature

Identify a good library to support inline audio player and play audio in

[2020-11-26 16:06] iammattmartin opened #1459 "Contact Card/Grouping Improvements"
In the current release with the contacts list, there may need to be a consideration to contacts with only a mobile/cell number such as from WhatsApp.

These contacts are not grouped in one meaning that if you have multiple conversations from the same number, they appear as separate contacts.

This appears to happen if those conversations are via different inboxes, which is fine but this does not t

[2020-11-26 17:19] pranavrajs commented on #1459
@iammattmartin I guess this would be covered in #258

[2020-11-26 17:20] pranavrajs commented on #1459
Instead of just email address, merge via phone number would also make sense.

[2020-11-26 17:20] iammattmartin commented on #1459
I suspect so, yes 👍

[2020-11-26 18:47] #940 closed

[2020-11-27 02:03] fiantinangon commented on #1451
i've experince same issue with this env :

MAILER_SENDER_EMAIL=email@gmail.com
SMTP_ADDRESS=smtp-relay.sendinblue.com
SMTP_USERNAME=USERNAME
SMTP_PASSWORD=PWD

[2020-11-27 08:06] pranavrajs commented on #1451
@fiantinangon Can you see if the `SMTP_PORT` variable is correct? By default, it takes 587. I'm not sure that is the case with sendinblue.

[2020-11-27 09:01] fiantinangon commented on #1451
hi @pranavrajs , yap i also set port 587 on env variable,
<img width="405" alt="Screen Shot 2020-11-27 at 4 00 34 PM" src="https://user-images.githubusercontent.com/9161278/100430702-b64d2180-30c9-11eb-8938-8107c4a6e82b.png">
<img width="714" alt="Screen Shot 2020-11-27 at 4 01 13 PM" src="https://user-images.githubusercontent.com/9161278/100430722-bc430280-30c9-11eb-862c-8c14b2cd5556.png">

[2020-11-27 09:03] pranavrajs commented on #1451
@fiantinangon Can you please share the logs?

[2020-11-27 09:07] fiantinangon commented on #1451
@pranavrajs

[code]

[2020-11-27 09:13] fiantinangon commented on #1451
@pranavrajs i test the smtp it's works well, but why I never get any email from chatwoot deployed on heroku
![Uploading Screen Shot 2020-11-27 at 4.14.03 PM.png…]()

[2020-11-27 11:14] pranavrajs commented on #1451
@fiantinangon I cannot see worker logs, can you check if this helps. https://github.com/chatwoot/chatwoot/discussions/1400#discussioncomment-127473

[2020-11-27 11:21] fiantinangon commented on #1451
Oh i see, ok i'll try hope that help thanks @pranavrajs

[2020-11-27 11:25] fiantinangon commented on #1451
Yeah it's work perfectly after turn on worker process thanks @pranavrajs

[2020-11-27 11:58] pranavrajs commented on #1451
@azbub I'm moving this to discussions as it has grown from the initial context. If we find a bug on the same, we will happy to recreate the ticket.

[2020-11-27 11:58] #1451 closed

[2020-11-28 01:47] WevrLabs commented on #1459
Speaking of merging, currently in a use case such as if a user contacted via widget (and then a contact is created based on sdk input), if this user comes back later from a different session (even if not logged in, and just provided the email) this conversation will be linked to the previously created contact. (I have some reservations with this behaviour concerning identity spoofing, but I employ

[2020-11-30 08:43] taylanguneyaktas opened #1465 "Chatwoot and Chatwoot Mobile App / Turkish(tr) %100 i translated."
Chatwoot and Chatwoot  Mobile App / Turkish(tr) %100 i translated.

Chatwoot admin panel  Site language (Beta) no Turkish(tr) why not ? :(

[2020-11-30 08:50] taylanguneyaktas commented on #1465
Can I update manually?
http://daytonamotor.herokuapp.com Where can I enter ftp information?

[2020-11-30 14:47] iammattmartin commented on #1465
Please register those at http://translate.chatwoot.com/.

[2020-11-30 15:22] pranavrajs commented on #1465
@iammattmartin I gues the translation is complete. We are bringing the language via #1466

[2020-11-30 15:24] iammattmartin commented on #1465
Ah. @taylanguneyaktas just a case of waiting for the next release.

[2020-11-30 17:17] machalex commented on #1437
Any ideas ?

[2020-12-01 07:47] pranavrajs commented on #1465
Fixed via #1466

[2020-12-01 07:47] #1465 closed

[2020-12-01 08:17] SmartManoj opened #1468 "Isn't file content type and file encoding different?"
https://github.com/chatwoot/chatwoot/blob/a5ceddc454efe56a0837053bd8ad1e6b970e4270/app/services/twilio/incoming_message_service.rb#L106

[2020-12-01 08:26] SmartManoj opened #1469 "Can't we just attach file_resource here?"
https://github.com/chatwoot/chatwoot/blob/a5ceddc454efe56a0837053bd8ad1e6b970e4270/app/services/twilio/incoming_message_service.rb#L103-L107

Like in https://github.com/chatwoot/chatwoot/blob/a5ceddc454efe56a0837053bd8ad1e6b970e4270//app/builders/messages/message_builder.rb#L24

if we rename file_type to content_type in local_resource.rb file

[2020-12-01 12:39] mike9011 opened #1471 "Fetch operators status via front-end"
**Is your feature request related to a problem? Please describe.**
I would like to fetch the online status of the operators on the front-end. So i'm able to change elements on the website depending on the status.

**Describe the solution you'd like**
Invokes your callback with a boolean value based on whether any of the operators are online or not.
Example: https://docs.chaport.com/api/js/v1/#ison

[2020-12-01 17:56] mike9011 opened #1473 "Installation not successful withLinux VM script"
**Describe the bug**
I'm trying to install Chatwoot on Ubuntu with the bash script from the documentation, but it fails every time i run it.
I tried it 5 times on Ubuntu version 20.04 (clean installation) and 3 times on Ubuntu version 18.04, but no matter what i do, it always fails and the server isn't reachable at port 3000.

**To Reproduce**

Steps to reproduce the behavior:
1. Follow instructio

[2020-12-01 18:44] pranavrajs commented on #1473
[code]

@mike9011 I can see this error, can you please try `./setup.sh master` and see if that works?

[2020-12-01 18:45] pranavrajs commented on #1473
Also can you please try `https://raw.githubusercontent.com/chatwoot/chatwoot/master/deployment/setup_18.04.sh` instead of `https://raw.githubusercontent.com/chatwoot/chatwoot/develop/deployment/setup_18.04.sh`?

[2020-12-01 19:03] mike9011 commented on #1473
That did the trick! Thank you very much for the fast reply and the great software!

[2020-12-01 19:03] #1473 closed

[2020-12-02 04:09] saaiful opened #1475 "Proactive Chat Invitation"
With this feature, instead of waiting for the visitor to come and talk to you, the chat opens automatically as soon as the user enters web page or in a specific page with a delay.

Imagine, in checkout page if user waits 60 second, a chat window opens and asks if the user need any help regarding checkout. It is way more user friendly and attracts more customer.

Or in specific product page it open

[2020-12-02 07:55] pranavrajs opened #1476 "Investigate changes required for Messenger API Europe updates"
https://developers.facebook.com/docs/messenger-platform/europe-updates/

[2020-12-02 11:25] pranavrajs commented on #1475
@saaiful This is something which we have in the pipeline, you will hear more about this in future releases.

[2020-12-02 11:25] pranavrajs commented on #1471
@mike9011 This sounds like a nice feature to add, thanks for the suggestion.

[2020-12-02 11:49] DataTables commented on #1455
I've been looking at this again, and running sidekiq manually I can see its logging:

[code]

I don't see anything that I immediately relate to Slack, but wondering if either of you do / is this what you would expect?

[2020-12-02 12:52] pranavrajs commented on #1455
Hey @DataTables,

Would you be able to execute the following commands and share the output?

[code]

Please share the logs you exactly as you see except the tokens.

[2020-12-02 12:54] pranavrajs commented on #1455
There are 2 possible reasons for this.

1. Slack Integration setup is not complete.
2. Slack channel 'customer-conversations' is private.

The output of the above commands would help us to guide you on this.

[2020-12-02 13:12] DataTables commented on #1455
Damn me - I'm so sorry. I went through what you described and it was showing:

So it looked like everything is as it should be. What I was missing was that I need to join the channel myself - it doesn't just automatically show up in my Slack which I'd been fully expecting.

I'm a muppet - my apologies! It looks like the integration is working just fine.

[2020-12-02 13:12] #1455 closed

[2020-12-02 13:59] DataTables opened #1479 "Reply from Slack as an agent"
**Is your enhancement request related to a problem? Please describe.**

When replying to a thread with the Slack integration it shows up in the Customer's widget as "Bot". It is fantastic that we can reply from Slack, but is it possible to set the reply to be as from a specific agent (we could create a generic "Support" one for example)?

This is how it shows in the widget at the moment:

![image]

[2020-12-02 14:01] pranavrajs commented on #1479
@DataTables If you use the same email address in Slack and Chatwoot, it would recognize the user and create message under his/her name.

Let us say the user has a name agent@example.com in Slack, please use the same email address in Chatwoot also. This should solve the issue you mentioned.

[2020-12-02 14:03] pranavrajs commented on #1455
@DataTables Haha! No worries.

[2020-12-02 14:10] DataTables commented on #1479
That's done it - thanks! Awesome stuff this.

[2020-12-02 14:13] #1479 closed

[2020-12-02 16:42] KonstantinReido opened #1480 "Issue with conversations"
**Describe the bug**

In the list of conversation on the counter, I see 8, but the list contains only 1. Also, the system sends email notifications to admin, but without a visible message.
<img width="399" alt="Screen Shot 2020-12-02 at 16 42 55" src="https://user-images.githubusercontent.com/172571/100901860-fb5bc400-34cc-11eb-985a-d276e20258cc.png">

I think it can be related. On "Retries" page

[2020-12-04 07:56] pranavrajs opened #1481 "Filter conversations using a date range"
Support filtering conversations using dates

- [ ] Add API to support from and to date
  - [ ] Create filters on both created_at and last_activity_at attributes.
- [ ] Add a filter on the UI for the date range.

[2020-12-04 19:18] pranavrajs commented on #1480
@KonstantinReido Can you please share the browser logs?

[2020-12-05 06:16] pranavrajs opened #1484 "ActiveJob::DeserializationError"
[code]

Sidekiq jobs fail with the above error.

[2020-12-05 21:26] KonstantinReido commented on #1480
@pranavrajs like this?
[code]

[2020-12-05 21:51] ReactRaja commented on #1437
I cant recieve confirmation when using the chatwoot hosted one, let alone the self hosted(which also didnt work for me)

[2020-12-06 16:01] pixpack opened #1486 "Add buttons, rich responses to widget for better Rasa integration"
**Is your feature request related to a problem? Please describe.**
Currently, the widget can't display rich responses from Rasa. Especially buttons.

**Describe the solution you'd like**
Add the possibility to attach buttons to a response as it's done in [Rasa Webchat](https://github.com/botfront/rasa-webchat).

**Describe alternatives you've considered**
Using Rasa Webchat as a widget for Chatwoo

[2020-12-06 20:59] tolunayakbulut commented on #1053
We prefer Chatwoot at [Global CTO Forum](https://globalctoforum.org/).

- Global CTO Forum
- ![global-cto-forum](https://user-images.githubusercontent.com/31761883/101292176-f07f9700-381e-11eb-9deb-6c453b1fe734.png)
- https://globalctoforum.org/

Global CTO Forum connects world's leading CTOs and technology stakeholders. (Team members = 10)

Thank you so much!

[2020-12-06 22:47] icjohnson commented on #140
All,

My apologies for sending this note here.  I can't seem to find anywhere else to get information?

I have set up conversation continuity ( https://www.chatwoot.com/docs/conversation-continuity ) thinking that that would allow me to have conversations initiated by sending email to one of the ActionMailer Ingresses (Postfix relay in my case).  While I have this working and I can see the email m

[2020-12-07 05:29] pranavrajs opened #1487 "In product documentation for Slack"
- Describe how to connect Slack channel
- Add a demo video for the same
- Describe how Chatwoot identifies the user from Slack using the email address and uses Bot in case email match is a failure

[2020-12-07 05:30] pranavrajs opened #1488 "Allow users to use a custom slack channel name"
Right now, the default Slack channel name is assumed as #customer-conversations.

Allow the users to select a different channel name or create a new channel from the UI.

[2020-12-07 05:34] pranavrajs opened #1489 "Notification center on the web"
- Display all the notifications for the user
- Show a badge when new notifications are available
- Update page title to indicate that there is a new notification. eg: `(1) ....`

[2020-12-07 05:38] pranavrajs commented on #1480
@KonstantinReido Do you use API channel and are there any conversation without any messages?

[2020-12-07 05:41] pranavrajs opened #1490 "ActiveRecord::RecordNotUnique: PG::UniqueViolation: ERROR: duplicate key value violates unique constraint "index_notification_subscriptions_on_identifier""
https://sentry.io/share/issue/68e878216f9046dda6941b5118010230

[2020-12-07 08:24] KonstantinReido commented on #1480
@pranavrajs do you mean this?

<img width="459" alt="Screen Shot 2020-12-07 at 10 22 14" src="https://user-images.githubusercontent.com/172571/101326604-2d2aad00-3876-11eb-8dae-ef7c2dfbb8e8.png">

I checked the response of API on the tab where the counter is incorrect.

[2020-12-07 12:45] pixpack opened #1493 "Enable/Disable and customize intro "Get notified by email" message"
**Is your enhancement request related to a problem? Please describe.**
Currenty I don't see a way to disable or customize the intro message when a user sends a message.

**Describe the solution you'd like**
- Add an option to enable and disable the intro message.
- If the intro message is enabled, add options to fully customize it.

[2020-12-07 13:25] pixpack commented on #1486
I've dug into the codebase and I actually found different types of rich messages that are supported. However I think that the documentation on this is insufficient. Detailed explanation on how to send messages with a different `content_type` should be added to the documentation or api reference.

I've also tested the `form` and `input_select` content types and it works well in the widget, but user

[2020-12-07 13:55] pranavrajs commented on #1486
@pixpack Rich content types are only supported in the widget side, we don't the support in dashboard. This would be covered in #1108

[2020-12-07 14:37] #1486 closed

[2020-12-07 16:17] icjohnson opened #1496 "Email Conversation Continuity = No Conversation Continuity"
All,

System Configuration:

# Mail Outgoing
MAIL_SENDER_EMAIL: support@mycompany.com (O365 Account)
SMTP_PORT: 587
SMTP_DOMAIN: mycompany.com
SMTP_ADDRESS: smtp.office365.com
SMTP_USERNAME: support@mycompany.com
SMTP_PASSWORD: *******
SMTP_AUTHENTICATION: login
SMTP_ENABLE_STARTTLE: ### true

# Mail Incoming
RAILS_INBOUND_EMAIL_SERVICE: relay
RAILS_INBOUND_EMAIL_PASSWORD:  ***********************

[2020-12-07 16:29] DataTables opened #1497 "Start conversation"
**Is your enhancement request related to a problem? Please describe.**

I've been surprised by how few conversations we've had with customers through chatwoot (that's nothing against chatwoot - I'm just explaining where I'm coming from with this request!) - so I was wondering if I could start a conversation with customers on the site.

**Describe the solution you'd like**

The admin pages could sh