[2019-08-19 14:44] manojmj92 opened #12 "Make documentation beginner friendly"
Currently, there is no documentation in the ReadME that can help beginners get started with the project.

There should be documentation on how to run chatwoot in local environment, and this should contain details right from installing `rvm`, installing `postgres` etc.

[2019-08-21 17:17] subintp opened #15 "Assign agent selectbox layout is broken"
![image](https://user-images.githubusercontent.com/1742357/63453145-a0cc5f00-c465-11e9-860b-77211b6a47d4.png)

[2019-08-21 17:17] subintp commented on #15
This is happening at agent selection also.

[2019-08-25 06:13] #15 closed

[2019-08-25 06:14] pranavrajs opened #16 "Signup/Forgot Password Email links are incorrect"

[2019-08-25 07:39] pranavrajs opened #17 "Agent Invitation email content needs to be updated"
- [ ] Add who has invited, which inbox etc.

<img width="665" alt="Screenshot 2019-08-25 13 08 11" src="https://user-images.githubusercontent.com/2246121/63647054-79151980-c739-11e9-9adb-d07f5a2df289.png">

[2019-08-25 07:40] pranavrajs opened #18 "Remove agent from Inbox returns 422"
- setup chatwoot
- connect  a facebook
- as the administrator go to the inbox settings
- add an agent
- refresh the page and try to remove the agent

[2019-08-25 14:29] #16 closed

[2019-09-16 06:54] saint739 commented on #12
I can't install too.

git clone ...
npm install
apt install imagemagik postgresql postgresql-server-dev-11
bundle
cp shared/config/database.yml config/database.yml
cp shared/config/application.yml config/application.yml
cp .env.sample .env
#after I create user and db in psql and write it in config/database.yml
rake db:create
(in /var/www/chatwoot)
rake aborted!
ArgumentError: invalid uri scheme ''

[2019-09-22 06:01] pranavrajs commented on #12
@saint739 You must be missing the Redis URL, I've updated the development docs in `docs/development`. You can specify the Redis URL as shown in https://github.com/chatwoot/chatwoot/blob/master/docs/development/project-setup/environment-variables.md#configure-redis-url

[2019-09-22 06:02] pranavrajs commented on #12
@saint739 Also, please go through https://docs.chatwoot.com/docs/development/environment-setup/ubuntu to see if you missed any dependencies.

[2019-09-28 19:34] kirillarutyunov commented on #12
I had the same error

Solve it by setting redis_url.

Full docs available here: https://docs.chatwoot.com

[2019-09-29 14:17] pranavrajs opened #34 "Add email as a channel"
- [ ] Admins should be able to configure email of the form `yourcompany@support.chatwoot.com`
- [ ] All emails coming to this email should be treated as a ticket
- [ ] Parse attachments and add it to the conversation

[2019-09-29 14:18] pranavrajs opened #35 "Add twitter as a channel"
- [ ] Configure Twitter app for Chatwoot
- [ ] Admins should be able to add their pages
- [ ] Subscribe to the webhook events in Twitter SDK

[2019-09-29 14:19] pranavrajs opened #36 "Add WeChat as a channel"
- [ ] Admins should be able to configure WeChat app for Chatwoot
- [ ] Support messages for WeChat

[2019-09-29 14:20] pranavrajs opened #37 "Add specs for rails controllers"
- [ ] Add rspec for rails controllers

find the list of rails controllers without test coverage here

https://codeclimate.com/github/chatwoot/chatwoot/code?q=controllers
Feel free to pick any and raise a PR for the same.

[2019-09-29 14:22] pranavrajs opened #38 "Add test suites for Vue.js"

[2019-09-29 14:22] pranavrajs opened #39 "Add documentation to setup Facebook app"
ref : #180

- documentation on how to set up the facebook app so one can work with chatwoot in local

[2019-09-29 14:23] pranavrajs opened #40 "Docker support for development and deployment"
- [ ] Create Docker images
- [ ] Use docker compose for development

[2019-09-29 14:24] pranavrajs opened #41 "Support for Google Cloud Storage as storage for Chatwoot"
- [ ] Chatwoot supports only S3 as storage, allow users to configure GCS/S3/Azure Storage

[2019-09-29 14:25] pranavrajs opened #42 "Support for Azure Cloud Storage as storage for Chatwoot"
Related #41

[2019-09-29 14:27] pranavrajs opened #43 "Research about the effort required to use ActionCable instead of Pusher"
- [x] Remove Pusher from the dependancy
- [x] Use action cable instead of Pusher

[2019-09-29 14:30] pranavrajs opened #44 "Add Customer view"
- [ ] Create/Read/Update customer profiles

[2019-10-02 02:49] pranavrajs opened #45 "Fix "similar-code" issue in app/javascript/src/store/modules/cannedResponse.js"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/chatwoot/chatwoot/app/javascript/src/store/modules/cannedResponse.js#issue_5d87480887cf19000100019c

[2019-10-02 02:50] pranavrajs opened #46 "Fix "Rubocop/Metrics/ClassLength" issue in app/models/conversation.rb"
Class has too many lines. [145/100]

https://codeclimate.com/github/chatwoot/chatwoot/app/models/conversation.rb#issue_5d87480c87cf1900010003c4

[2019-10-02 02:50] pranavrajs opened #47 "Fix "Rubocop/Metrics/ClassLength" issue in app/builders/messages/message_builder.rb"
Class has too many lines. [118/100]

https://codeclimate.com/github/chatwoot/chatwoot/app/builders/messages/message_builder.rb#issue_5d87480b87cf190001000224

[2019-10-02 02:50] pranavrajs opened #48 "Fix "similar-code" issue in app/javascript/src/store/modules/AccountState.js"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/chatwoot/chatwoot/app/javascript/src/store/modules/AccountState.js#issue_5d87480887cf19000100019b

[2019-10-02 02:51] pranavrajs opened #49 "Fix "method_lines" issue in babel.config.js"
Function `exports` has 69 lines of code (exceeds 25 allowed). Consider refactoring.

https://codeclimate.com/github/chatwoot/chatwoot/babel.config.js#issue_5d87480387cf19000100018d

[2019-10-02 02:51] pranavrajs opened #50 "Fix "Rubocop/Metrics/MethodLength" issue in app/builders/messages/message_builder.rb"
Method has too many lines. [28/10]

https://codeclimate.com/github/chatwoot/chatwoot/app/builders/messages/message_builder.rb#issue_5d87480b87cf190001000225

[2019-10-02 02:51] pranavrajs opened #51 "Fix "Rubocop/Metrics/MethodLength" issue in app/models/attachment.rb"
Method has too many lines. [26/10]

https://codeclimate.com/github/chatwoot/chatwoot/app/models/attachment.rb#issue_5d87480c87cf190001000397

[2019-10-02 02:52] pranavrajs opened #52 "Fix "Rubocop/Metrics/AbcSize" issue in app/controllers/passwords_controller.rb"
Assignment Branch Condition size for set_headers is too high. [25.71/15]

https://codeclimate.com/github/chatwoot/chatwoot/app/controllers/passwords_controller.rb#issue_5d87480b87cf190001000335

[2019-10-02 02:52] pranavrajs opened #53 "Fix "Rubocop/Metrics/AbcSize" issue in app/models/attachment.rb"
Assignment Branch Condition size for push_event_data is too high. [25.51/15]

https://codeclimate.com/github/chatwoot/chatwoot/app/models/attachment.rb#issue_5d87480c87cf190001000396

[2019-10-02 02:52] pranavrajs opened #54 "Fix "Rubocop/Metrics/AbcSize" issue in app/models/conversation.rb"
Assignment Branch Condition size for create_activity is too high. [23.75/15]

https://codeclimate.com/github/chatwoot/chatwoot/app/models/conversation.rb#issue_5d87480c87cf1900010003c1

[2019-10-02 02:52] pranavrajs opened #55 "Fix "method_count" issue in app/javascript/src/store/modules/conversations/index.js"
`mutations` has 23 functions (exceeds 20 allowed). Consider refactoring.

https://codeclimate.com/github/chatwoot/chatwoot/app/javascript/src/store/modules/conversations/index.js#issue_5d87480387cf19000100018a

[2019-10-02 02:52] pranavrajs opened #56 "Fix "Rubocop/Metrics/MethodLength" issue in app/builders/messages/message_builder.rb"
Method has too many lines. [17/10]

https://codeclimate.com/github/chatwoot/chatwoot/app/builders/messages/message_builder.rb#issue_5d87480b87cf190001000226

[2019-10-02 02:53] pranavrajs opened #57 "Fix "method_count" issue in app/models/plan.rb"
Class `Plan` has 22 methods (exceeds 20 allowed). Consider refactoring.

https://codeclimate.com/github/chatwoot/chatwoot/app/models/plan.rb#issue_5d87480487cf190001000191

[2019-10-02 02:53] pranavrajs opened #58 "Fix "Rubocop/Metrics/MethodLength" issue in app/controllers/api/v1/inbox_members_controller.rb"
Method has too many lines. [15/10]

https://codeclimate.com/github/chatwoot/chatwoot/app/controllers/api/v1/inbox_members_controller.rb#issue_5d87480b87cf1900010002c5

[2019-10-02 02:53] pranavrajs opened #59 "Fix "Rubocop/Metrics/AbcSize" issue in app/controllers/api/v1/callbacks_controller.rb"
Assignment Branch Condition size for reauthorize_page is too high. [20.32/15]

https://codeclimate.com/github/chatwoot/chatwoot/app/controllers/api/v1/callbacks_controller.rb#issue_5d87480b87cf19000100027b

[2019-10-02 02:53] pranavrajs opened #60 "Fix "Rubocop/Metrics/MethodLength" issue in app/models/conversation.rb"
Method has too many lines. [15/10]

https://codeclimate.com/github/chatwoot/chatwoot/app/models/conversation.rb#issue_5d87480c87cf1900010003c5

[2019-10-02 02:53] pranavrajs opened #61 "Fix "Rubocop/Metrics/MethodLength" issue in app/models/conversation.rb"
Method has too many lines. [14/10]

https://codeclimate.com/github/chatwoot/chatwoot/app/models/conversation.rb#issue_5d87480c87cf1900010003c7

[2019-10-02 02:53] pranavrajs opened #62 "Fix "Rubocop/Metrics/AbcSize" issue in app/models/conversation.rb"
Assignment Branch Condition size for notify_status_change is too high. [19.92/15]

https://codeclimate.com/github/chatwoot/chatwoot/app/models/conversation.rb#issue_5d87480c87cf1900010003c2

[2019-10-02 02:54] pranavrajs opened #63 "Fix "ZeroUnit" issue in app/javascript/src/assets/scss/views/settings/inbox.scss"
`0px` should be written without units as `0`

https://codeclimate.com/github/chatwoot/chatwoot/app/javascript/src/assets/scss/views/settings/inbox.scss#issue_5d87481187cf190001000626

[2019-10-02 02:54] pranavrajs opened #64 "Fix "EmptyLineBetweenBlocks" issue in app/javascript/src/assets/scss/widgets/_billing.scss"
Rule declaration should be followed by an empty line

https://codeclimate.com/github/chatwoot/chatwoot/app/javascript/src/assets/scss/widgets/_billing.scss#issue_5d87481187cf190001000642

[2019-10-02 02:54] pranavrajs opened #65 "Fix "SpaceBeforeBrace" issue in app/javascript/src/assets/scss/widgets/_billing.scss"
Opening curly brace `{` should be preceded by one space

https://codeclimate.com/github/chatwoot/chatwoot/app/javascript/src/assets/scss/widgets/_billing.scss#issue_5d87481187cf190001000647

[2019-10-02 02:54] pranavrajs opened #66 "Fix "PropertySortOrder" issue in app/javascript/src/assets/scss/widgets/_conversation-view.scss"
Properties should be ordered background-color, float, font-size, height, width

https://codeclimate.com/github/chatwoot/chatwoot/app/javascript/src/assets/scss/widgets/_conversation-view.scss#issue_5d87481187cf19000100066b

[2019-10-02 02:54] pranavrajs opened #67 "Fix "SelectorDepth" issue in app/javascript/src/assets/scss/widgets/_conversation-view.scss"
Selector should have depth of applicability no greater than 3, but was 4

https://codeclimate.com/github/chatwoot/chatwoot/app/javascript/src/assets/scss/widgets/_conversation-view.scss#issue_5d87481187cf1900010006b9

[2019-10-02 02:54] pranavrajs opened #68 "Fix "EmptyLineBetweenBlocks" issue in app/javascript/src/assets/scss/widgets/_conversation-view.scss"
Rule declaration should be followed by an empty line

https://codeclimate.com/github/chatwoot/chatwoot/app/javascript/src/assets/scss/widgets/_conversation-view.scss#issue_5d87481187cf1900010006ce

[2019-10-02 02:54] pranavrajs opened #69 "Fix "PropertySortOrder" issue in app/javascript/src/assets/scss/widgets/_conversation-view.scss"
Properties should be ordered margin-left, margin-top, white-space

https://codeclimate.com/github/chatwoot/chatwoot/app/javascript/src/assets/scss/widgets/_conversation-view.scss#issue_5d87481187cf1900010006d0

[2019-10-02 02:54] pranavrajs opened #70 "Fix "LeadingZero" issue in app/javascript/src/assets/scss/widgets/_emojiinput.scss"
`0.6` should be written without a leading zero as `.6`

https://codeclimate.com/github/chatwoot/chatwoot/app/javascript/src/assets/scss/widgets/_emojiinput.scss#issue_5d87481187cf1900010006df

[2019-10-02 02:55] pranavrajs opened #71 "Fix "Shorthand" issue in app/javascript/src/assets/scss/widgets/_login.scss"
Shorthand form for property `padding` should be written more concisely as `$space-large` instead of `$space-large $space-large`

https://codeclimate.com/github/chatwoot/chatwoot/app/javascript/src/assets/scss/widgets/_login.scss#issue_5d87481187cf190001000703

[2019-10-02 02:55] pranavrajs opened #72 "Fix "method_complexity" issue in app/javascript/src/helper/APIHelper.js"
Function `parseErrorCode` has a Cognitive Complexity of 6 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/chatwoot/chatwoot/app/javascript/src/helper/APIHelper.js#issue_5d87480387cf19000100018c

[2019-10-02 02:55] pranavrajs opened #73 "Fix "method_complexity" issue in app/javascript/src/routes/index.js"
Function `validateAuthenticateRoutePermission` has a Cognitive Complexity of 7 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/chatwoot/chatwoot/app/javascript/src/routes/index.js#issue_5d87480387cf190001000189

[2019-10-02 02:55] pranavrajs opened #74 "Fix "Rubocop/Style/StringLiterals" issue in bin/webpack-dev-server"
Prefer single-quoted strings when you don't need string interpolation or special symbols.

https://codeclimate.com/github/chatwoot/chatwoot/bin/webpack-dev-server#issue_5d87480d87cf190001000492

[2019-10-02 02:55] pranavrajs opened #75 "Fix "Rubocop/Style/StringLiterals" issue in bin/webpack-dev-server"
Prefer single-quoted strings when you don't need string interpolation or special symbols.

https://codeclimate.com/github/chatwoot/chatwoot/bin/webpack-dev-server#issue_5d87480d87cf19000100048b

[2019-10-02 02:56] pranavrajs opened #76 "Fix "SelectorDepth" issue in app/javascript/src/assets/scss/widgets/_sidemenu.scss"
Selector should have depth of applicability no greater than 3, but was 5

https://codeclimate.com/github/chatwoot/chatwoot/app/javascript/src/assets/scss/widgets/_sidemenu.scss#issue_5d87481187cf190001000777

[2019-10-02 02:56] pranavrajs opened #77 "Fix "DeclarationOrder" issue in app/javascript/src/assets/scss/widgets/_tabs.scss"
Expected item on line 26 to appear before line 23. Rule sets should be ordered as follows: `@extends`, `@includes` without `@content`, properties, `@includes` with `@content`, nested rule sets

https://codeclimate.com/github/chatwoot/chatwoot/app/javascript/src/assets/scss/widgets/_tabs.scss#issue_5d87481187cf19000100079c

[2019-10-02 02:56] pranavrajs opened #78 "Fix "DeclarationOrder" issue in app/javascript/src/assets/scss/widgets/_thumbnail.scss"
Expected item on line 3 to appear before line 2. Rule sets should be ordered as follows: `@extends`, `@includes` without `@content`, properties, `@includes` with `@content`, nested rule sets

https://codeclimate.com/github/chatwoot/chatwoot/app/javascript/src/assets/scss/widgets/_thumbnail.scss#issue_5d87481187cf1900010007a2

[2019-10-02 02:57] pranavrajs opened #79 "Fix "HexLength" issue in app/javascript/src/assets/scss/_variables.scss"
Color `#FFFFFF` should be written as `#FFF`

https://codeclimate.com/github/chatwoot/chatwoot/app/javascript/src/assets/scss/_variables.scss#issue_5d87481187cf1900010005bb

[2019-10-02 02:57] pranavrajs opened #80 "Fix "SelectorFormat" issue in app/javascript/src/assets/scss/views/_signup.scss"
Selector `hero__title` should be written in lowercase with hyphens

https://codeclimate.com/github/chatwoot/chatwoot/app/javascript/src/assets/scss/views/_signup.scss#issue_5d87481187cf1900010005ca

[2019-10-02 03:03] #79 closed

[2019-10-02 03:07] #71 closed

[2019-10-02 03:14] MatheusRich commented on #40
@pranavrajs Can I tackle this one?

[2019-10-02 03:15] pranavrajs commented on #40
@MatheusRich Please feel free to do it. I'm assigning this one to you.

[2019-10-02 03:19] MatheusRich opened #84 "ArgumentError: invalid uri scheme"
I'm trying to get chatwoot runinng locally and during the setup I got this error (`ArgumentError: invalid uri scheme ''`)  after running `bundle exec rake db:create`.

This happens because when the redis initializer runs it calls `uri = URI.parse(ENV['REDIS_URL'])`, and the env REDIS_URL is empty (see `application.yml`).

How to get this working in development?

[2019-10-02 03:28] pranavrajs commented on #84
@MatheusRich Hope you have followed the setup guide. Please see the following section to setup the redis URL. If it works please feel free to close the issue.

https://docs.chatwoot.com/#/development/project-setup/environment-variables?id=configure-redis-url

[2019-10-02 03:30] MatheusRich commented on #84
Whoops, I didn't know this exist at all :sweat_smile:. Maybe we should link it on README.md (which was what I was following)

[2019-10-02 03:34] pranavrajs opened #85 "Write documentation for setup in Mac OS"
We have a dependencies section in our development guide. We currently have the Ubuntu installation guide. We need to add macOS development guide

https://www.chatwoot.com/docs/installation-guide-ubuntu

[2019-10-02 03:34] pranavrajs opened #86 "Write documentation for setup in Windows"
We have a dependencies section in our development guide. We currently have the Ubuntu installation guide. We need to add Windows development guide

https://www.chatwoot.com/docs/installation-guide-ubuntu

[2019-10-02 03:44] pranavrajs commented on #84
@MatheusRich Added a link to detailed documentation [here](https://github.com/chatwoot/chatwoot#detailed-documentation)

I've also added a Common errors section [here](https://docs.chatwoot.com/#/development/project-setup/errors?id=argumenterror-invalid-uri-scheme)

I'm closing this issue, please feel free to reopen the issue if the above didn't fix the issue.

[2019-10-02 03:44] #84 closed

[2019-10-02 03:45] pranavrajs commented on #12
Closing this as docs.chatwoot.com is up and we are tracking the documentation for Mac(#85) and windows(#86) separately.

[2019-10-02 03:45] #12 closed

[2019-10-02 05:08] sdesani commented on #74
@pranavrajs, created PR for same - https://github.com/chatwoot/chatwoot/pull/89

[2019-10-02 05:08] sdesani commented on #75
@pranavrajs, created PR for same - https://github.com/chatwoot/chatwoot/pull/89

[2019-10-02 05:37] fluffynuts commented on #73
I'd like to give this a go (:

[2019-10-02 05:58] fluffynuts commented on #73
Ok, I have something that looks right to me -- I don't see Javascript tests in the project (perhaps I'm just missing them?), however I do see rails tests -- do they test the frontend too? I'd really like to confirm that my logic is the same. I don't mind starting on some Javascript tests if that would be acceptable.

[2019-10-02 05:59] kirillarutyunov commented on #70
I will do it 🙃

[2019-10-02 06:26] kirillarutyunov commented on #65
I will do it 🧐

[2019-10-02 06:30] alvintang commented on #72
Hi. I'd like to help out with this. Is there a way I can check via codeclimate if the submitted PR passes the Cognitive Complexity allowed?

[2019-10-02 06:35] fluffynuts commented on #73
I've attached a zip file with the spec I wrote to prove the new function works like the old. It would be neat if I could also add tests to your app -- if you open a new issue, I'll set it up to have tests running and get this suite in there too (:

[2019-10-02 07:20] pranavrajs opened #97 "Setup Javascript tests framework"
- [ ] Identify the framework to be used.
- [ ] Initialize the repo with basic specs.

[2019-10-02 07:20] pranavrajs commented on #73
@fluffynuts Thanks for the update. I've created an issue for the same. https://github.com/chatwoot/chatwoot/issues/97

[2019-10-02 07:56] jash-kothari commented on #46
Can i pick this up?

[2019-10-02 07:57] jash-kothari commented on #52
Can i pick this up?

[2019-10-02 07:57] jash-kothari commented on #51
Can i pick this up?

[2019-10-02 07:57] jash-kothari commented on #47
Can i pick this up?

[2019-10-02 08:16] HelioStrike commented on #63
PR: #99

[2019-10-02 08:20] fluffynuts commented on #97
I'd like to work on this, with the suggestion to use Jest for the test framework.

I've also had experience with mocha and jasmine; jest is quite easy to get up and running, and, in addition, facilitates:
- incremental testing based on git status
- parallel testing, with each spec isolated from each other

Thoughts?

[2019-10-02 09:37] #75 closed

[2019-10-02 09:38] #74 closed

[2019-10-02 09:55] pranavrajs commented on #97
I've added the label

I've worked with Jest and mocha. Jest seems to be a good option. Please go ahead if you are interested.

[2019-10-02 10:10] pranavrajs commented on #52
@jash-kothari Please go ahead, assign this issue to yourself and please start working on it, if you are interested.

Please read the contributing guide as well. https://github.com/chatwoot/chatwoot/blob/master/docs/contributing.md

[2019-10-02 10:17] #63 closed

[2019-10-02 10:21] pranavrajs commented on #38
Closing as this is a duplicate of #97

[2019-10-02 11:56] jaquesdias opened #104 "Fix "Rubocop/Metrics/MethodLength" issue in app/models/conversation.rb"
Method has too many lines. [16/10]

https://codeclimate.com/github/chatwoot/chatwoot/app/models/conversation.rb#issue_5d87480c87cf1900010003c5

[2019-10-02 14:02] pranavrajs commented on #104
Closed via #105

[2019-10-02 14:02] #104 closed

[2019-10-02 19:11] MatheusRich commented on #97
For testing I would suggest [Cypress](https://www.cypress.io).

[2019-10-02 19:22] MatheusRich commented on #61
I'm refactoring this file! So I'll tackle the issues related to `conversation.rb`

[2019-10-02 20:03] MatheusRich commented on #38
@pranavrajs This should be closed, right?

[2019-10-02 23:21] #38 closed

[2019-10-03 08:25] #53 closed

[2019-10-03 18:59] enderahmetyurt commented on #85
I can write could you assign me this issue?

[2019-10-03 22:57] #58 closed

[2019-10-04 07:27] enderahmetyurt commented on #85
Thanks @pranavrajs 🙏

[2019-10-04 07:31] pranavrajs commented on #85
Please read the contributing guidelines as well :)

https://github.com/chatwoot/chatwoot/blob/master/docs/contributing.md

[2019-10-04 07:34] pranavrajs commented on #97
@MatheusRich We are looking for unit tests first, that's why Jest is taken into consideration, and yes for an end-to-end test Cypress or RobotFramework can be considered

[2019-10-04 13:20] MatheusRich commented on #97
@pranavrajs In fact Cypress [can do unit testing too](https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests.html#Test-Structure). But I understand it's good to use an already known lib

[2019-10-04 15:14] donquxiote commented on #45
I'll take this issue.

[2019-10-05 08:40] pranavrajs commented on #45
@donquxiote Thanks, but please see the contributing guides.

https://github.com/chatwoot/chatwoot/blob/master/docs/contributing.md

[2019-10-05 08:43] pranavrajs opened #112 "BrowserslistError: Unknown browser query `android all`"
- [ ] Fix the warnings shown in console output. Please see the attached screenshot.

<img width="860" alt="Screenshot 2019-10-05 16 42 40" src="https://user-images.githubusercontent.com/2246121/66252509-26df0380-e78f-11e9-9c9a-1f77f15b95fd.png">

[2019-10-05 08:44] pranavrajs opened #113 "You should write display: flex by final spec instead of display: box"
- [ ] Fix the console error shown during development.

[code]

[2019-10-05 08:45] pranavrajs opened #114 "Contrast ratio of #fff on #ffc82c is pretty bad"
[code]

[2019-10-05 08:46] pranavrajs opened #115 "Fix warning "center is not a valid value for vertical alignment. Use top, bottom, middle, or stretch.""
### WARNING: flex-grid-row-align(): center is not a valid value for vertical alignment. Use top, bottom, middle, or stretch.

[code]

[2019-10-05 08:47] pranavrajs opened #116 "WARNING: Contrast ratio of #fff on #13ce66 is pretty bad, just 2"
[code]

[2019-10-05 08:47] pranavrajs opened #117 "WARNING: Contrast ratio of #fff on #ffc82c is pretty bad"
[code]

[2019-10-05 08:47] pranavrajs commented on #116
[code]

[2019-10-05 09:07] #73 closed

[2019-10-05 09:12] #62 closed

[2019-10-05 09:15] #50 closed

[2019-10-05 09:18] pranavrajs opened #118 "Add tests for inbox_members_controller"
- [ ] Add test case for inbox_members_controller

[2019-10-05 09:59] kkv98 commented on #40
@MatheusRich Can I join with you?.I am going to start learning docker.

[2019-10-05 11:44] TheIncredibleHarsh commented on #118
Can I try this?

[2019-10-05 17:18] AlexisChavez97 commented on #52
Is this still open?

[2019-10-05 18:08] MatheusRich commented on #40
@kkv98 You can take if you want to. 😄 I'll comment anything on your PR if I find something that could be improved.

[2019-10-05 18:30] nisusam commented on #112
@pranavrajs This issue also mentioned here

https://github.com/browserslist/browserslist/issues/382

we have to perform `yarn upgrade` to resolve this issue

[2019-10-05 19:57] laurenball commented on #17
@pranavrajs I'd be happy to pick this up. Do you have a preference for wording or format?

[2019-10-05 20:17] moises995 commented on #85
Hello, do you still need help? By the way a question how do you work to do the documentation?

[2019-10-05 22:24] enderahmetyurt commented on #85
no thanks. i will do it @moises995

[2019-10-06 01:56] shreve commented on #117
Foundation wants the contrast to be 3 or greater. There are two ways to fix this:

1. Pick a warning color with a higher luminance contrast against white.
2. Disable contrast warnings in foundation.

If you prefer the latter, I can handle that.

[2019-10-06 03:27] pranavrajs commented on #112
@nisusam Thanks for looking into this issue, I can't blindly use `yarn upgrade` as it might break other packages. `browserslist` is not a dependency which is in `package.json`, the work would be to figure out the packages using `browserslist` and upgrade it to an acceptable version.

If you `yarn list`, you can see there are multiple packages which is using it

[code]

[2019-10-06 03:35] pranavrajs commented on #117
@shreve Thanks for taking the time to look at the issue. I would prefer to go with solution 1 rather than disabling all contrast warnings. Please feel free to assign this to yourself before you plan to work on it.

[2019-10-06 06:50] nisusam commented on #112
@pranavrajs Agreed.

[2019-10-06 07:32] sojan-official commented on #56
fixed in #100

[2019-10-06 07:32] #56 closed

[2019-10-06 14:16] #65 closed

[2019-10-06 14:33] #78 closed

[2019-10-06 14:35] pranavrajs commented on #35
@sojan-official Please break it into Vue/Rails work if needed.

[2019-10-06 16:19] Jeff-Duke commented on #80
@pranavrajs I've opened #127 for this. The PR updates all the double-underscore selectors to double-hyphen to make them consistent with the rest of the app.

[2019-10-07 05:18] kirillarutyunov commented on #80
@Jeff-Duke This need to discuss, because BEM naming use double-underscore for elements of block. Check here: http://getbem.com/naming/.

Double-hyphen used for modifiers.

We need more information from @pranavrajs about naming in CSS in this project. There are 2 ways:
1. Not to use BEM,
2. Configure codeclimate checker for double-undescore selectors.

[2019-10-07 12:19] fluffynuts commented on #97
Just a heads-up that I _am_ looking into this, currently having trouble getting Jest to perform the required Babel transforms so that tests can be written with the same syntax as prod code; in particular, statements like:
[code]
are not being transformed correctly. There must be something I'm Doing Wrong -- will update when I figure it out (:

[2019-10-07 12:39] pranavrajs commented on #97
@fluffynuts Thanks for taking a look, could you please raise a PR, so that I'd be able to take a look and help.

[2019-10-07 14:40] nithindavid commented on #118
@TheIncredibleHarsh Yes please! Let us know if you need some help 👍 Thanks

[2019-10-07 14:41] nithindavid commented on #117
@shreve Let us know if you are taking up this issue :)

[2019-10-07 14:46] nithindavid commented on #115
The fix is simple `app/javascript/src/assets/scss/widgets/_modal.scss` has
`@include flex-align($x: justify, $y: center);`.
 We need to pass `middle` instead `center` for `$y: `.

[2019-10-07 14:58] #70 closed

[2019-10-07 15:11] #76 closed

[2019-10-07 19:36] #66 closed

[2019-10-07 19:36] #68 closed

[2019-10-07 19:36] #69 closed

[2019-10-07 19:39] pranavrajs opened #128 "Fix "method_complexity" issue in app/models/conversation.rb"
Method `run_round_robin` has a Cognitive Complexity of 11 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/chatwoot/chatwoot/app/models/conversation.rb#issue_5d9b93b4d887000001000191

[2019-10-07 19:40] pranavrajs opened #129 "Fix "similar-code" issue in app/javascript/src/api/account.js"
Similar blocks of code found in 3 locations. Consider refactoring.

https://codeclimate.com/github/chatwoot/chatwoot/app/javascript/src/api/account.js#issue_5d9b93b9d8870000010001a4

[2019-10-07 20:01] #77 closed

[2019-10-07 20:42] luchiago commented on #128
Hi, I would like to work on that.

[2019-10-08 04:26] pranavrajs commented on #80
@kirillarutyunov I agree that we want to follow BEM, I will try to read the docs on codeclimate configuration and change it to our requirements.

[2019-10-08 10:15] TheIncredibleHarsh opened #131 "Facing this issue while doing rake db:create"
bundle exec rake db:create                           rake aborted!
ArgumentError: invalid uri scheme ''
/Users/harshkumar/.rvm/gems/ruby-2.6.3/gems/redis-4.1.2/lib/redis/client.rb:438:in `_parse_options'
/Users/harshkumar/.rvm/gems/ruby-2.6.3/gems/redis-4.1.2/lib/redis/client.rb:83:in `initialize'
/Users/harshkumar/.rvm/gems/ruby-2.6.3/gems/redis-4.1.2/lib/redis.rb:45:in `new'
/Users/harshkumar/.r

[2019-10-08 10:34] pranavrajs commented on #131
https://docs.chatwoot.com/#/development/project-setup/errors

[2019-10-08 10:34] #131 closed

[2019-10-08 21:19] austinratcliff commented on #37
Hey @pranavrajs! 👋 I'd love to pick up this issue for Hacktoberfest. Is that ok even though it's not labeled with `Hacktoberfest`?

[2019-10-09 21:51] n1rna commented on #129
I would like toe work on this issue.

[2019-10-09 22:08] n1rna commented on #72
pushed my refactor on this function.

[2019-10-10 03:47] #72 closed

[2019-10-11 00:01] laurenball commented on #17
bump @pranavrajs; I'm planning to knock this out this weekend if you're still looking for some work here

[2019-10-11 03:44] pranavrajs commented on #17
@laurenball Please feel free to take it up. I'll post the content today.

[2019-10-11 19:55] sojan-official commented on #37
@austinratcliff  Please feel free to pick this up, if you are still available.

[2019-10-12 05:17] #85 closed

[2019-10-12 18:08] #46 closed

[2019-10-13 07:16] pranavrajs opened #137 "Create Email inbox flow in frontend"
- [ ] Admins should be able to configure email of the form yourcompany@support.chatwoot.com

[2019-10-13 07:16] pranavrajs opened #138 "Create conversations from emails"
- [ ] when a customer replies to email notifications sent in #139 , it should be appended to the conversation
 - [ ] Parse attachments and add it to the conversation

[2019-10-13 07:16] pranavrajs opened #139 "Send emails when agent reply to the conversation in dashboard"

[2019-10-13 07:16] pranavrajs opened #140 "[Feature] Email Channel"
- [x]  #139
- [x]  #138
- [x]  #137
 - [ ] All emails coming to the email (yourcompanyname@support.chatwoot.com) should be treated as a ticket.

[2019-10-13 07:18] #34 closed

[2019-10-13 13:44] pranavrajs opened #141 "User name is missing in assignment message"
<img width="767" alt="Screenshot 2019-10-13 18 50 14" src="https://user-images.githubusercontent.com/2246121/66716637-a1420000-eded-11e9-80fc-fb898cfe06dd.png">

[2019-10-13 13:46] #141 closed

[2019-10-13 20:07] sojan-official opened #143 "Refactor callbacks_controller.rb to attach inbox id to facebook pages model"
Facebook pages model should have the inbox id as well.

ref: https://github.com/chatwoot/chatwoot/pull/110/files#r334294307
ref: #110

[2019-10-13 21:01] ogabriel commented on #143
Hi.

I got interested in tracking and fixing the issue, this can be assign to me?

[2019-10-13 21:12] sojan-official commented on #143
@ogabriel  i have assigned you the ticket.  feel free to pick up any unassigned issues anytime.

thanks for the interest.

[2019-10-14 08:54] sojan-official opened #146 "Refactor users table"
The users table is getting pretty bloated with the extra information, we should leave it alone for devise information and move out the other information to a separate table probably.

[2019-10-14 08:54] #17 closed

[2019-10-14 15:37] laurenball commented on #146
planning to pick this up sometime this week!

[2019-10-14 18:45] #114 closed

[2019-10-14 19:17] AndreiUngur commented on #117
Should be solved by https://github.com/chatwoot/chatwoot/pull/144

[2019-10-14 19:18] AndreiUngur commented on #116
Should be solved by https://github.com/chatwoot/chatwoot/pull/144

[2019-10-15 17:22] the-spectator opened #148 "Unable to start webpack-dev-server"
### Steps to reproduce
1. Fresh clone chatwoot application
2. yarn install
3. ./bin/webpack-dev-server

### Expected behavior
The webpack-dev-server starts without error

### Actual behaviour
The web-dev-server fails with following error message:
[code]
### Other information
Node version: **v12.6.0** with nvm
Yarn version: **v1.19.1**
Issue reproduced at: master, 01b72ca05142eadd39142b66a91724f73b

[2019-10-16 06:40] sojan-official opened #151 "Add rubocop & eslint to the circle ci runs"
- [ ] Add rubocop to circle CI
- [ ] Add eslint to circle CI runs

[2019-10-16 07:00] #148 closed

[2019-10-16 07:00] pathaknv commented on #151
@pranavrajs I could pick this one.

[2019-10-16 07:01] pranavrajs commented on #148
@the-spectator Please see the latest master branch, the command should be working.

[2019-10-16 07:02] pranavrajs commented on #151
@pathaknv Thanks. Please feel free to work on this, I've assigned the issue to you.

[2019-10-16 07:17] the-spectator commented on #148
@pranavrajs I have tested on the master branch and it is working now :tada:

[2019-10-16 07:20] the-spectator commented on #115
@nithindavid Can I apply your suggested fix?

[2019-10-16 07:27] nithindavid commented on #115
@the-spectator Yes please 😄 Go ahead.

[2019-10-16 17:15] #115 closed

[2019-10-16 21:40] sojan-official opened #154 "Move Pushercall in PusherListener to sidekiq background jobs"
We are making  API calls to pusher in PusherListener.

[code]

We should add a sidekiq job to handle this call in the background.

[2019-10-19 06:24] lnarayan92 commented on #154
@sojan-official I could pick this one

[2019-10-19 09:32] sojan-official commented on #154
@lnarayan92  please go-ahead

[2019-10-19 18:46] sojan-official opened #158 "Switch from carrierwave to active storage for avatars and attachements"
- we use carrierwave aws : this should be changed to active storage for avatars and attachments

[2019-10-19 23:42] Jsscrdng commented on #37
Can i get this one?

[2019-10-20 17:25] pranavrajs opened #164 "Set default avatar image if profile image is not available"
- [ ] Create a component to display the first two letters of the name of the agent

[2019-10-20 17:33] pranavrajs opened #165 "Set a default image for a channel if profile image is not available"
- [ ] Inbox item is missing a default image

<img width="1532" alt="Screenshot 2019-10-20 23 02 30" src="https://user-images.githubusercontent.com/2246121/67163525-b559a480-f38d-11e9-933b-ae90edec5ee2.png">

[2019-10-20 21:21] sabunt commented on #151
I used rubocop todo

[2019-10-20 21:42] sabunt commented on #151
@pranavrajs  please merge my PR #168

[2019-10-20 22:57] himynameisdave commented on #165
I can do this!

[2019-10-21 05:36] pranavrajs commented on #165
@himynameisdave Please feel free to take it.

[2019-10-21 05:56] sojan-official commented on #37
@Jsscrdng  go ahead :)

[2019-10-21 15:04] josemiguelo commented on #164
Can I take this one? I can do this!

[2019-10-21 15:05] pranavrajs commented on #164
@josemiguelo Please feel free to take this. :)

[2019-10-21 15:26] rojasTob commented on #164
Hi @pranavrajs  if there is another good first issue, I'm here ready to work.

[2019-10-22 01:54] josemiguelo commented on #128
Should this PR still be open?

[2019-10-22 06:50] pranavrajs commented on #47
Closing as it is completed.

[2019-10-22 06:50] #47 closed

[2019-10-22 06:52] pranavrajs commented on #51
Closing as it is completed.

[2019-10-22 06:52] #51 closed

[2019-10-22 06:53] #55 closed

[2019-10-22 06:54] pranavrajs commented on #57
Closing as it is completed.

[2019-10-22 06:54] #57 closed

[2019-10-22 06:55] #64 closed

[2019-10-22 06:55] #67 closed

[2019-10-22 06:55] #80 closed

[2019-10-22 07:02] #52 closed

[2019-10-22 08:19] nursoltan-s opened #171 "Stuck at bundle install"
Hello Folks! I am willing to contribute this open source project. This is so awesome project.

But I am having little issue on installing gem dependencies. When i run `bundle install` it stucks at `Fetching git://github.com/rails/rails.git` step.

My OS: Ubuntu 18.04
Ruby version manager: rbenv
Ruby version: 2.6.3

![screenshot](https://user-images.githubusercontent.com/7783676/67268679-ab4bb900-f

[2019-10-22 15:14] #171 closed

[2019-10-22 17:12] laurenball commented on #146
quick update: i've started work on this but got sidetracked by work deadlines. I'm planning to wrap this up this weekend at the latest

[2019-10-22 19:28] sojan-official commented on #146
thanks for the update @laurenball

[2019-10-23 00:50] nursoltan-s opened #172 "Fix [Disable Generating CoffeeScript file when generate]"
After every rails generate command it creates coffee file in /app/assets/javascripts folder. Since we don't need them. I think this is good idea to disable generation of coffee files.

[2019-10-23 02:26] nursoltan-s commented on #86
Hi.
I created a PR for this issue. #174

[2019-10-23 02:41] nursoltan-s commented on #158
@sojan-official
Hi, can you assign me to this issue?

[2019-10-23 04:52] josemiguelo commented on #164
Just adding some tests to the implementation

[2019-10-23 06:19] pranavrajs commented on #172
@nursoltan-s Thanks for the suggestion. :) @sojan-official will take a look at the PR.

[2019-10-23 10:30] sojan-official commented on #172
#173  closes this

[2019-10-23 10:30] #172 closed

[2019-10-23 13:23] donquxiote commented on #45
I've had some IRL things come up so I can't guarantee I'll have time to work on this before the end of october. If some one else is looking for a hacktoberfest ticket, they should take it.

[2019-10-23 22:18] josemiguelo commented on #165
Hi @himynameisdave. Are you still working on this? I can help :)

[2019-10-23 23:57] himynameisdave commented on #165
@josemiguelo I am not, feel free to jump on it!

[2019-10-24 10:19] nursoltan-s commented on #49
It seems fixed on Codeclimate. Is it necessary to work on this?

[2019-10-24 10:25] sojan-official commented on #44
The model here in question is `contacts`

[2019-10-24 10:26] sojan-official commented on #49
@pranavrajs  can you verify and close this ?

[2019-10-24 10:26] #49 closed

[2019-10-24 11:01] nursoltan-s opened #176 "Disable generating stylesheets"
I just realized that we are not using stylesheets in back-end. Stylesheets are used in vue app. I think it's a good idea to stop generating stylesheets everytime rails g command runs.

It's similar to #172 issue.

[2019-10-24 11:39] sojan-official commented on #176
fixed in #177

[2019-10-24 11:39] #176 closed

[2019-10-24 20:07] #43 closed

[2019-10-24 20:11] sojan-official commented on #158
@nursoltan-s I have assigned the issue, let us know if you need any help.

[2019-10-25 20:36] josemiguelo commented on #164
@pranavrajs I'm looking into these three cases:
1. When the src for the image is a valid string:
- and the URL is a valid one
- and the URL is a invalid one
2. When the src for the image is invalid (null or undefined)

For the two cases where image is not going to render, it is going to show the avatar. Is this the expected behaviour? Just to be on the same page..

[2019-10-25 22:33] sojan-official commented on #164
@josemiguelo  that sounds good to me.  👍🏻

@rojasTob  do you have any preference, ie front end ( vue.js ) vs backend (rails ) ? I can find something for you to pick up.

[2019-10-25 22:36] sojan-official commented on #154
@lnarayan92  Hey there, we recently removed pusher in favor of action cable. Might affect this issue slightly.  Just a heads up if you are still working on this.

[2019-10-25 22:37] sojan-official commented on #151
fixed in #168

[2019-10-25 22:37] #151 closed

[2019-10-25 22:39] sojan-official commented on #117
resolved in #144

[2019-10-25 22:39] #117 closed

[2019-10-25 22:40] sojan-official commented on #116
resolved in #144

[2019-10-25 22:40] #116 closed

[2019-10-25 22:41] sojan-official commented on #97
closed in  #133

[2019-10-25 22:41] #97 closed

[2019-10-25 22:44] sojan-official commented on #18
@pranavrajs  this is because of `Can't verify CSRF token authenticity`.

[2019-10-25 22:46] sojan-official commented on #41
once  #158 is done, this should be straightforward. we want to use active storage to handle this

[2019-10-25 22:47] sojan-official commented on #42
once  #158 is done, this should be straightforward. we want to use active storage to handle this

[2019-10-25 22:47] sojan-official commented on #86
#174 fixes this

[2019-10-25 22:47] #86 closed

[2019-10-25 22:52] sojan-official opened #180 "Add documentation on using serveo.net or ngrok for local development"
- documentation on how to configure the facebook app in development mode  ( ref #39)
- how to configure the bot url
- how to run the bot endpoint in local using ngrock or serveo.net

[2019-10-25 22:56] sojan-official opened #181 "Document how one can contribute to the documentation"
- the documentation currently lives in https://www.chatwoot.com/docs

[2019-10-26 13:03] josemiguelo commented on #164
@rojasTob

[2019-10-26 17:20] lnarayan92 commented on #154
@sojan-official Thanks for the heads up, I had just started with this issue.
what is the plan going forward?

[2019-10-27 04:54] sojan-official commented on #154
@lnarayan92 whatever happened in `pusher_listener` now happens in `app/listeners/action_cable_listener.rb` .  we can move the  `send_to_members`  method to sidekiq.

In short. we move the `action cable broadcasts to background job` .  let me know if you have any questions.

[2019-10-27 07:30] pranavrajs opened #185 "Fix "method_lines" issue in app/javascript/dashboard/components/widgets/chart/BarChart.js"
Function `mounted` has 32 lines of code (exceeds 25 allowed). Consider refactoring.

https://codeclimate.com/github/chatwoot/chatwoot/app/javascript/dashboard/components/widgets/chart/BarChart.js#issue_5db52e4230b57200010001a7

[2019-10-27 09:36] sarslanoglu commented on #185
@pranavrajs I can take a look if it's possible

[2019-10-27 12:01] pranavrajs commented on #185
@sarslanoglu Please feel free to take it.

[2019-10-27 17:01] lnarayan92 commented on #154
got it, thanks!

[2019-10-28 05:10] nursoltan-s commented on #44
Sorry i am unable to do this. Can you assign someone else

[2019-10-28 05:13] sojan-official commented on #44
@nursoltan-s  no worries. thanks for looking into this :)

[2019-10-28 14:02] rojasTob commented on #164
Hi @sojan-official, I would like to work on backend if is it possible.

[2019-10-28 15:30] pranavrajs commented on #185
closed via #189

[2019-10-28 15:30] #185 closed

[2019-10-28 16:19] sarslanoglu commented on #181
@sojan-official I can take a look if it's available

[2019-10-28 17:48] sojan-official commented on #181
@pranavrajs  could you see if this issue is workable?

[2019-10-28 17:52] sojan-official commented on #158
@rojasTob  Could you give this a check. if it's not the right fit, will find another one for you.

[2019-10-29 07:22] pranavrajs commented on #181
@sarslanoglu This issue is regarding how we deploy the documentation website, It would be better if anyone of the Chatwoot team is able to do it.

[2019-10-29 14:05] rojasTob commented on #158
@sojan-official I will try to solve it.

[2019-10-29 16:28] sarslanoglu commented on #181
@pranavrajs Sure, no problem

[2019-10-29 18:06] #164 closed

[2019-10-30 07:40] vinay0x opened #194 "Add agent button icon is misaligned"
**Describe the bug**
Add agent button icon is misaligned

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings
2. Click on Agents
3. Add new agent button on the top right

**Expected behavior**
The icon needs to be properly aligned. A better contrast would be white text on the green background. Black looks odd.

**Screenshots**
![image](https://api.monosnap.com/file/download?id=MzTf

[2019-10-30 07:45] vinay0x opened #195 "Generic message is shown when a select dropdown search returns nothing"
**Describe the bug**
A generic message is shown when a select dropdown search returns nothing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Conversations
2. Click on any conversation
3. Type something in the agent selector on the top right

**Expected behavior**
Show a proper message - "No agents found"

**Screenshots**
![image](https://api.monosnap.com/file/download?id=jsAgJhOChQaM

[2019-10-30 13:45] nithindavid opened #196 "Collapse to smaller header when conversation is active"
**Describe the bug**
The header is to be shown only when the conversation hasn't started. When user sends a message it should collapse the `Banner` header to a smaller one. The smaller component is already in the widget source components.

**Screenshots**
![image](https://user-images.githubusercontent.com/1277421/67863175-6a881b80-fb49-11e9-9138-500e97e669ee.png)

[2019-10-30 13:48] nithindavid opened #197 "Adjust padding of bubbles to avoid clutter."
**Describe the bug**
Spacing between agent and user bubbles seems to be very close, Adjust them to have a good visual breathing space. also the bubble appears odd when text breaks to multiple lines.

**Screenshots**
![image](https://user-images.githubusercontent.com/1277421/67863370-ca7ec200-fb49-11e9-8621-329fc8087b43.png)

[2019-10-30 13:50] nithindavid opened #198 "Widget footer needs a style cleanup"
**Describe the bug**
The widget footer looks needs to be changed to a cool one.
- Change button to icon only

**Screenshots**
![image](https://user-images.githubusercontent.com/1277421/67863577-2b0dff00-fb4a-11e9-8676-1cc2bd875f30.png)

[2019-10-30 16:35] sojan-official commented on #198
we can take inspiration from how intercoms widget functions

[2019-10-30 18:36] sojan-official commented on #158
@rojasTob  at this point we don't have to care about backward compatibility. there is no production systems running the software.  so we can switch over and call it day.

so basically
- add active storage
- remove the existing avatar field
- port the functionality to the active storage way and make sure it works

with active storage, people who want to run the system would have more options to cho

[2019-10-31 02:59] Atsoamazed commented on #165
is this still open?

[2019-10-31 07:26] pranavrajs commented on #165
@Atsoamazed Yes, it is. @josemiguelo Please reply if you are working on it.

[2019-10-31 13:00] josemiguelo commented on #165
Yes. I am working on it. Sorry for the delay

On Thu, Oct 31, 2019, 2:26 AM Pranav Raj S <notifications@github.com> wrote:

[2019-10-31 13:35] pranavrajs commented on #165
@josemiguelo Please don't be sorry. I just wanted to know if it is something you are working on.

Cheers.

[2019-11-05 05:34] pranavrajs commented on #112
Closing as it is no longer an issue.

[2019-11-05 05:34] #112 closed

[2019-11-05 05:35] #61 closed

[2019-11-05 05:35] #113 closed

[2019-11-05 05:35] #54 closed

[2019-11-05 05:36] #45 closed

[2019-11-05 05:37] #48 closed

[2019-11-09 20:56] sojan-official commented on #198
fixed in https://github.com/chatwoot/chatwoot/commit/7e3409c3e1c62db0627fcc4ea2570df2f13f9824

[2019-11-09 20:56] #198 closed

[2019-11-10 17:28] #195 closed

[2019-11-17 20:02] gerroon commented on #40
Is there a working Docker container for this?

[2019-11-17 20:07] pranavrajs commented on #40
@gerroon No, we don't have it. You need to follow the instructions provided at chatwoot.com/docs for the project setup.

[2019-11-18 00:05] RonWalker22 opened #213 "seed fail(unknown attribute 'inbox' for Contact)"
**Describe the bug**

seeding the database fails with `UnknownAttributeError: unknown attribute 'inbox' for Contact`

perhaps there were changes to the Contact model and someone forgot to update the seed file.

**To Reproduce**

seed the database on a fresh install

**Expected behavior**
no error

[2019-11-18 05:16] RonWalker22 opened #218 "readableTime overlapping message text [firefox]"
**Describe the bug**
Within Firefox the time is overlapping with message text when newlines are used for both standard reply and private note.
**To Reproduce**
1. create a message, within a conversation, with newlines in Firefox.

**Expected behavior**
Just like in chrome, the time should not be overlapping message text.

**Screenshots**

#### Firefox before fix(Overlapping bug)
![Firefox before f

[2019-11-18 05:18] sojan-official commented on #213
fixed in #214

[2019-11-18 05:18] #213 closed

[2019-11-18 06:12] gerroon commented on #40
@pranavrajs

This is for deployment not for development, I am pretty sure that the docker question will come up frequently. In any case please update this issue once you guys find time to make an official Docker container.

[2019-11-18 06:34] SarathSantoshDamaraju commented on #165
Is it still open?

[2019-11-18 06:41] pranavrajs commented on #165
@SarathSantoshDamaraju Yeah, please feel free to take it.

[2019-11-18 07:14] SarathSantoshDamaraju commented on #165
Sure !! Taking it.

[2019-11-18 10:45] hsyntnc commented on #40
@MatheusRich if you're not working on it yet i'm planning to dockerize it tonight.
Can you please share current status?

[2019-11-18 11:09] sojan-official commented on #40
@hsyntnc I don't think anyone is actively working on this. feel free to pick this up if you have time.
Lets us know if you need any help.

[2019-11-18 14:09] ptman commented on #40
How does #222 look?

[2019-11-18 14:38] aadrian commented on #40
@ptman It looks great. Thank you for the quick solution!

[2019-11-18 19:48] hsyntnc commented on #40
@ptman it looks great man. I've been working all day and got some time for it now but i guess i'm a bit late.
wp.

[2019-11-19 07:56] pranavrajs commented on #218
Fixed via #219

[2019-11-19 07:56] #218 closed

[2019-11-19 07:58] pranavrajs opened #223 "Font in widget input in Firefox looks different"
**Describe the bug**
Font family in widget input does not match the standard fonts in firefox.

**To Reproduce**
Steps to reproduce the behavior:
1. Open widget in Firefox.
2. Inspect the font in input.

**Expected behavior**
Fonts should match

**Screenshots**
<img width="402" alt="Screenshot 2019-11-19 at 1 26 09 PM" src="https://user-images.githubusercontent.com/2246121/69127516-627c2580-0ad0-1

[2019-11-19 08:36] ptman commented on #40
@hsyntnc sorry, I didn't mean to steal it from you, but I wanted to try chatwoot myself

besides, it still need improvement, any ideas?

[2019-11-19 15:39] aadrian commented on #40
A docker-compose file for a demo, to include the client (site) integration part too?

[2019-11-19 17:32] ptman commented on #40
can you point me to documentation regarding that?

[2019-11-19 17:59] sojan-official commented on #40
@ptman  thanks a lot for working on this.  I have added some review comments. will be happy to collaborate over the PR if you need help.

My understanding of docker is a little limited.  So @hsyntnc  @MatheusRich  if you could have a look. that be super helpful.

[2019-11-20 11:47] manojmj92 opened #227 "Standard-ify API responses"
Right now we are using the simple `render json: object` way to render API responses.

While this is all right for a small product and a small team, I think we are now at a stage where we should be worrying about maintainability, given that more and more contributors are showing interest to contribute to our project.

Keeping this in mind, I would like us to adopt to some standard while rendering A

[2019-11-20 17:02] ThisIsRuddy commented on #181
Is there an issue with the docs? When I go to the docs url it only shows 1 card which is the intro message.

![Screenshot_20191120-170116](https://user-images.githubusercontent.com/1761171/69260252-81a1b280-0bb7-11ea-8a57-f6e225fd9b95.png)

[2019-11-20 17:25] pranavrajs commented on #181
@ThisIsRuddy It was glitch on mobile screens. You may please reload now. You should be able to see a screen like the one below.

<img width="781" alt="Screenshot 2019-11-20 at 10 53 14 PM" src="https://user-images.githubusercontent.com/2246121/69262015-b2e6a680-0be8-11ea-88f3-3a96236abddf.png">

You should be able to see a second hamburger menu.

[2019-11-20 17:27] ThisIsRuddy commented on #181
@pranavrajs Thank you, its working as expected now 🎉😁

[2019-11-21 04:24] sony-mathew commented on #40
Hey guys, do you mind if I contribute to this.?

[2019-11-21 04:46] pranavrajs commented on #129
Closing as the corresponding issue is not available.

[2019-11-21 04:46] #129 closed

[2019-11-21 04:46] pranavrajs commented on #128
Closing as the corresponding issue is fixed

[2019-11-21 04:46] #128 closed

[2019-11-21 06:15] pranavrajs commented on #227
@manojmj92 I agree there is a need to standardize the APIs. I'd like to stick with jbuilder now. We can probably remove all `render: json` code for now. I'd like to work on things that people want us to build. Let us prioritize on fixing issues we have currently and the features users requested for. Once we are stable, let us come back to this and take this up.

[2019-11-21 06:28] pranavrajs opened #229 "Display time in time ago format while displaying conversations"
- [x] Instead of 11:57 AM, show it as `a few seconds ago`  or `2 minutes ago`

<img width="406" alt="Screenshot 2019-11-21 at 11 57 27 AM" src="https://user-images.githubusercontent.com/2246121/69312874-19ee7480-0c56-11ea-94b6-62f52730b01b.png">

[2019-11-21 06:33] #229 closed

[2019-11-21 08:02] muhzi4u opened #232 "Remove docsify dependency"
Right now we are not using `docsify` any more. It is better to remove the `docs` script from the project

[2019-11-21 09:12] #232 closed

[2019-11-21 10:16] TJoker024 commented on #180
Hi ! I would like to work on this issue, but being new to this project, could you give me some tips and pointers about where is should look at ? thank you !

[2019-11-21 16:07] aadrian commented on #40
@ptman unfortunately there doesn't seems to be any documentation regarding integration.

As a matter of fact, the documentation seems to be quite "slim", and this is something the community can't really create, since we all need the documentation in first place to be able to further help :) .

[2019-11-22 04:18] pranavrajs opened #234 "As a business owner, I would like to set business hours on the widget"
- [ ] Create UI to accept business active hours from the UI
- [ ] Create a DB field to store the business hours
- [ ] Create an API to update the business hours.
- [ ] Provide an indication in widget if current time is outside of the business hours.

[2019-11-22 04:19] pranavrajs opened #235 "As a business owner, I would like to customize the position of the widget."
- [ ] Support left aligned and right aligned widget
- [ ] Add a DB field to store the config
- [ ] Display the widget based on the config

[2019-11-22 04:21] pranavrajs opened #236 "As a business owner, I would like to customize the color of the widget."
- [x] Add a DB field to store the hex value
- [ ] Implement Color Picker in the UI
- [x] Update the color the widget based on the config

[2019-11-22 04:23] pranavrajs opened #237 "As a business owner, I would like to display my business logo in the widget"
- [ ] Provide UI to upload the logo
- [x] API to upload the image, name
- [x] Display logo on the widget if it is available

[2019-11-22 04:33] pranavrajs opened #238 "As an agent, I would like to update my name, profile picture"
- [ ] Add a profile section for the agent
- [ ] Allow the agent to update his name
- [ ] Allow the agent to upload image from the UI
- [x] API to update agent name, email and password
- [x] API to update avatar - dependant on #158

[2019-11-22 04:35] pranavrajs opened #239 "As an agent, I would like to set my online status"
- [ ] Set online/offline status

[2019-11-22 04:37] pranavrajs opened #240 "As an agent, I would like to see other agent's image in the conversation"
In the present scenario, we can see who sent the message by hovering on the message

- [ ] Display an avatar right next to the message to show who sent the message

[2019-11-22 04:39] pranavrajs opened #241 "As an agent, I would like to know which all agents have participated in the conversation"
- [x] Add participant table to store the conversation participants. Table references a conversation and, a contact, or a user.
- [ ] Whenever a new user/contact replies to the conversation add them to the participant table.
- [x] Show the list of participants a new table in the sidebar
- [ ] tagging agents add thems to participants table
- [ ] ability to receive notifications from participating co

[2019-11-22 05:44] pranavrajs opened #242 "As an end-user, I would like to know whom I'm talking to, through the widget"
- [ ] Display agent name and avatar image

[2019-11-22 05:52] pranavrajs opened #243 "As a business owner, I would like to search for conversations"
- [ ] Search by any of the following attribute
  - Contact name
  - Content in Messages
  - Agent Name

[2019-11-22 05:53] pranavrajs opened #244 "Investigate the effort required to add Elasticsearch"
- [ ] Figure out the gems to be used
- [ ] Figure out if any additional configuration is required

[2019-11-22 05:54] pranavrajs opened #245 "As an agent, I would like to add labels to the conversations"
- [x] Add DB support for labels
- [x] API for labels
- [x] API to filter conversations by label
- [x] Display labels in conversation sidebar

[2019-11-22 05:55] pranavrajs opened #246 "As an agent, I would like to see the conversations tagged to a particular label"
- [ ] Clicking on labels should display all conversations labelled under that particular label

[2019-11-22 05:57] pranavrajs opened #247 "Use filters in conversations API to filter by Status or Assignee type"
- [ ] Update API to accept status, assignee type
- [ ] Update frontend to add the required filters

[2019-11-22 05:58] pranavrajs opened #248 "Add pagination to Conversation API"
- [x] Add page or before attribute to get the conversations in pages
- [ ] Update the UI to add the page param

[2019-11-22 05:58] pranavrajs opened #249 "Investigate the use of bullet gem"
- [ ] Add bullet gem to find N+1 queries

[2019-11-22 06:01] pranavrajs opened #250 "Add intermediate pending state for widget messages"
Messages are displayed only on actioncable event right now. Add an intermediate state for a better UX

- [ ] Push the message to the store when hit send
- [ ] Show a timer icon to the message to display that it is not sent yet
- [ ] Update the store and display a tick mark when actioncable event is received

[2019-11-22 06:02] pranavrajs opened #251 "Disable subscription for open source edition"
- [ ] Hide subscriptions under a feature flag

[2019-11-22 06:04] pranavrajs opened #252 "As a end user, I would like to send files/images to the agent"
- [ ] Support files/images to be sent in the UI
- [x] Add API for file upload

[2019-11-22 06:04] pranavrajs opened #253 "As an agent, I would like to send files/images to the user"
- [x] Handle file/image upload in UI
- [x] APIs for attachment upload

[2019-11-22 06:06] pranavrajs opened #254 "Support pagination messages in widgets"
In the present scenario, we only show the last 50 messages in the widget

- [ ] Add support to bring older messages, call paginated API as in dashboard

[2019-11-22 06:10] pranavrajs opened #256 "As an agent, I would like to update contact's email address, name, phone from the sidepanel"
- [ ] Update the UI to handle input boxes wherever required
- [ ] API to update the contact

[2019-11-22 06:11] pranavrajs opened #258 "As an agent, I would like to merge contact if the email address is already available"
In the event of email address update

- [ ] Handle the UI to query for the email address to see if it already exist
- [ ] Prompt the agent to merge the contact
- [ ] Create a UI to merge the contact
- [x] API to merge two contacts

[2019-11-22 06:13] pranavrajs opened #259 "As an agent, I would like to the view contact's previous conversations"
- [ ] API to fetch previous conversations of the contact
- [ ] Add an entry to sidebar

[2019-11-22 06:14] pranavrajs opened #260 "Configure once click deploys with "Deploy to Heroku" button"
- [ ] Investigate the changes required for Heroku deployment
- [ ] Add app.json with sufficient information

[2019-11-22 06:17] pranavrajs opened #261 "Define Basic models, provide enough documentation for the user to understand the model"

[2019-11-22 06:18] pranavrajs opened #262 "Add user documentation, create videos on how to use Chatwoot"
- [ ] Create screencast to provide information on how Chatwoot works

[2019-11-22 06:42] sojan-official commented on #40
@aadrian we didn't see the repo taking off suddenly. Hence there are some rough edges. At the moment we are working to improve the dev/product documentation and deployment instructions.

We are openly listening to any feedback on this. Please feel free to reach out with any issues.  / ideas on improving this.

[2019-11-22 06:51] gruz0 opened #264 "Install linters locally"
Hey!

I want to add some useful tools like `Makefile` to install linters locally to prevent sending invalid commits to the repo by running all linters locally.

How it may looks like:

1. I've [bin/install_linters_dependencies.sh](https://github.com/gruz0/inspirer-web/blob/master/bin/install_linters_dependencies.sh)
2. Then create a `Makefile` with target `install_linters` (https://github.com/gruz

[2019-11-22 06:54] aadrian commented on #244
@pranavrajs what would be the role of Elasticsearch in this project since Postgres does have full text search out of the box?

[2019-11-22 06:58] pranavrajs commented on #244
@subintp @sojan-official Please share your thoughts.

[2019-11-22 07:00] Suleman-Elahi opened #265 "Bundle Command Finsihes with Error"
Platform : Linux
Ruby Version: 2.6.5p114
Gem Version: 3.0.3
running `bundle` command after `yarn install` throws the following error.

![image](https://user-images.githubusercontent.com/24384996/69404625-be8ab800-0d23-11ea-97f2-3fbe554504d9.png)

[2019-11-22 07:13] sojan-official commented on #265
@Suleman-Elahi  could you run the command `gem install nokogiri -v '1.10.5' and give us the output if it's erroring out?

if it succeeds, please proceed from the step `bundle` again.

[2019-11-22 07:22] Suleman-Elahi commented on #265
[code]
mkmf.log file: https://paste.ee/p/PIMEB

[2019-11-22 07:31] gruz0 commented on #265
@Suleman-Elahi, try to install libxml2 first: `brew install libxml2`

[2019-11-22 07:33] sojan-official commented on #265
@Suleman-Elahi  if you are on ubuntu/ other flavors of linux.  use the appropriate commands to install the packages @gruz0  suggested.

[code]

[2019-11-22 07:59] pranavrajs opened #266 "Setup subdomains for accounts, provide data isolation"
We should be providing data isolation to each account, contact/conversations should not be linked across the orgs. With the existing setup, only change we would require is to add subdomain for each account, rest of the data isolation is in place already.

- [ ] Setup subdomain for each account

[2019-11-22 10:41] Suleman-Elahi commented on #265
Thank you @sojan-official and @gruz0

That actually worked. I am using Enso OS. Now, I am having troubles with next command so I am finding it a bit hard to set this up on my own as I am not a Ruby expert. I'll wait until a Docker image is available or docker-compose.

![image](https://user-images.githubusercontent.com/24384996/69415046-e6851600-0d39-11ea-811c-b1845ee8d5b2.png)

[2019-11-23 05:17] pranavrajs opened #267 "As an end user, I should be able to formatted content in the messages"
- [x] Highlight the links
- [x] Handle line breaks

[2019-11-23 15:48] karthik-sivadas commented on #260
@pranavrajs I would like to take up this task. Had some confusion regarding the implementation as in should I create a script to deploy the app or wait till the docker task is completed. IMHO it would be better to use docker to deploy this in Heroku as it would avoid updating in two places for changes in deployment procedure.

[2019-11-23 18:53] pranavrajs commented on #260
@karthik-sivadas I guess creating app.json schema should work for now.
https://devcenter.heroku.com/articles/app-json-schema

I don't think this task has dependancy over docker image.

[2019-11-23 18:59] #267 closed

[2019-11-23 19:57] #40 closed

[2019-11-23 20:19] sony-mathew commented on #260
I would like to help with this task as I have some prior context on this @pranavrajs @karthik-sivadas .

[2019-11-23 21:05] sojan-official commented on #265
@Suleman-Elahi  #270  is merged and you should be able to use docker for the set up now.
Let us know if you face any issues.

[2019-11-23 21:07] sojan-official commented on #40
Hey guys, we just merged https://github.com/chatwoot/chatwoot/pull/270

which covers the shortcomings that came up in various discussions.
- remove the extra steps to set up the software
- docker for production and development
- update the documentation all over.

Let us know if you guys require anything in addition. Thanks a lot for the effort spent over this as well.

@gerroon  @aadrian

[2019-11-23 21:18] sojan-official commented on #180
@TJoker024  chatwoot also supports facebook messenger as a messaging channel along with the web widget. So get the facebook widget up and running.  One has to follow the steps here at https://developers.facebook.com/docs/apps/#register

add these values to the appropriate variables in .env file
[code]
one should also run a ngrok server  / servio server pointed to the local app and use the url in m

[2019-11-23 23:29] petebytes opened #273 "Hide widget or show contact/email form if no agents are Active/Online"
It can be annoying to think you can Chat with someone but no one is available to respond.

This feature would just not show the widget if no agents are online.
A possible improvement over just hiding widget is providing an email form.

[2019-11-24 08:33] sojan-official commented on #273
@petebytes  we will be pushing out fix for this in the next couple of days.
 If no agents are available the chatbox will switch over to the flow where we collect the email and show a user message saying they will get the response through email once agents become available.

we are also working to integrate the email workflow into chatwoot.

[2019-11-24 08:36] sojan-official commented on #239
ref : #273

[2019-11-24 08:37] sojan-official commented on #140
ref: #239 273

[2019-11-24 08:41] aadrian commented on #273
would it be possible to have a 3rd state too (not just online/offline)? Something like an "early ping", to the offline agents in case no agent is available ? This way the until the user completed the form, an agent could get online?

[2019-11-24 08:41] sony-mathew commented on #260
I have started working on this.

[2019-11-24 08:43] sojan-official opened #274 "Ability to pass the user information to chatwidget via parameters when initializing a widget."
The js SDK should have the option to update the user information via API

- [ ]  ability to update user details on widget initialize
- [ ]  ability to label the conversation through the js sdk
- [ ]  trigger chat window from anywhere

[2019-11-24 08:44] sony-mathew commented on #273
@aadrian This sounds like a good idea. Would it make sense to you to have this as a separate issue and work on this on notification front rather than on a widget front.?

[2019-11-24 08:51] aadrian commented on #273
@sony-mathew sure.

To be able to implement it, I suppose it would need 2 parts:  a widget part (the detection if a user is on the page, not a bot/crawler, to avoid false signals), and the back-end part, to be able to use these pings and decide to if to send notifications if no agent is online and the owner configured that it would make use of this functionality.

[2019-11-24 08:55] sojan-official commented on #244
@aadrian  The initial requirement here is searching through the chat message for which the full text search might suffice.

But I see search requirements for us involving multiple data models, especially on the filtering front. .
So let's invest in a robust search and index solution.

ref: https://github.com/ankane/searchkick

[2019-11-24 11:49] #260 closed

[2019-11-24 13:19] pranavrajs opened #278 "Add SMTP server environment variables to docs"
- [x] Document the variables used for SMTP settings

[2019-11-24 13:24] #278 closed

[2019-11-24 13:39] #251 closed

[2019-11-24 14:04] sony-mathew commented on #140
The 3 subtasks for this task are :

* #137 Create Email inbox flow in frontend
* #138 Create conversations from emails
* #139 Send emails when agent reply to the conversation in dashboard

[2019-11-24 14:06] sony-mathew commented on #138
I'm taking this.

[2019-11-24 17:18] subintp commented on #248
@pranavrajs  I am taking this up.

[2019-11-24 17:19] subintp commented on #247
@pranavrajs I am taking this up.

[2019-11-24 20:19] sojan-official opened #282 "Add documentation on how chatwoot can be deployed to production"
Add documentation on production deploy

- heroku

1.  one click deploy

- docker

1. basic instructions

[2019-11-24 20:21] sojan-official commented on #264
@pranavrajs  thoughts ?

[2019-11-24 20:42] sojan-official commented on #143
Inbox belongs to Channel now, hence this is fixed.

[2019-11-24 20:42] #143 closed

[2019-11-25 04:35] pranavrajs commented on #264
@gruz0 We used `lint-staged` package to manage pre-commit hooks. We have `eslint` running on commit. I guess PR #283 should fix the issue. Please let me know if you have any additional thoughts.

[2019-11-25 05:04] gruz0 commented on #264
Ok.

[2019-11-25 05:04] #264 closed

[2019-11-25 10:55] pranavrajs commented on #158
@karthik-sivadas Would you be interested to take a look at this one?

[2019-11-25 12:50] muhzi4u commented on #35
@pranavrajs I would like to work on twitter channel integration.

[2019-11-25 13:21] karthik-sivadas commented on #158
@pranavrajs yeah sure. If no one working on this  then I will start working on this.

[2019-11-25 13:43] rojasTob commented on #158
@pranavrajs  Hi, I was working on this. Sorry for my late message :(

[2019-11-25 17:16] sojan-official commented on #158
@rojasTob  You can continue working on this. Meanwhile, if you need any help feel free to raise a WIP/Draft PR and we will be happy to help.

[2019-11-25 17:18] subintp commented on #248
@pranavrajs  API change is done. Can you please takeup the frontend ?

[2019-11-25 18:25] #249 closed

[2019-11-25 19:33] alayhi opened #286 "Define Scalability procedures and requirements - Documentation"
Please inform us of how best to scale this applciation based on best practices that inform your own development.

Thank you :)

[2019-11-25 21:15] kolaente opened #287 "Provide pre-built docker images on docker hub"
**Describe the solution you'd like**

As someone who wants to install and use chatwwot, I would love to only have a docker container I could then integrate in my docker compose setup without having to build it first. That way, I don't have to deal with building and pusing the image every time I want to update it.

This could be set up easily using [docker automated builds](https://docs.docker.com/

[2019-11-25 21:48] kolaente opened #289 "Building chatwoot in docker is broken"
**Describe the bug**

**To Reproduce**

Steps to reproduce the behavior:

1. Try build the docker image from a clean checkout of the repo (with the fix from #288 already applied)
2. Step 8 (Frontend) fails:
[code]

After digging into it a little, it looks like it expects a folder (presumably with css files in it) under `app/assets/stylesheets` which does not exist. Not knowing much about ruby or t

[2019-11-26 04:06] pranavrajs commented on #289
@kolaente Could you please specify the OS and docker version you are using?

[2019-11-26 04:51] Suleman-Elahi commented on #265
At least there is still one issue....

![image](https://user-images.githubusercontent.com/24384996/69600398-74ad1500-1036-11ea-9a8b-afcbbe5294fb.png)

[2019-11-26 06:45] kolaente commented on #289
@pranavrajs sure, I'm on Nixos 19.09 with docker 19.03. May I ask how the host OS is relevant? This is docker, it should work regardless of the host os.

[2019-11-26 06:46] sojan-official commented on #265
you have to run the following steps before doing `docker compose up`

[code]

please ref : http://localhost:8000/docs/quick-setup . [ Docker set up instructions ]

[2019-11-26 06:46] kolaente commented on #289
@sojan-official why was this closed? Because of the PR? This issue is not resolved.

[2019-11-26 06:48] sojan-official commented on #289
@kolaente I thought the PR fixed it. My bad. let me reopen this

[2019-11-26 07:06] pranavrajs commented on #289
@kolaente It should work regardless of OS. We are not using rails asset pipeline, instead, we are using webpacker. sprockets should not through an error in this case. I was just trying to figure out if we missed any commands.

[2019-11-26 08:07] #289 closed

[2019-11-26 08:08] sojan-official commented on #289
@kolaente  we just merged in a fix. let us know if you face anymore issues.

[2019-11-26 09:12] sojan-official commented on #287
@kolaente  we have hooked docker hub auto builds to master.
https://hub.docker.com/r/chatwoot/chatwoot/

let me know if you need any other help.

[2019-11-26 09:12] #287 closed

[2019-11-26 10:11] sojan-official commented on #286
To be honest, It still very early for us to talk about scalability.  We have been following the best practices while developing this application. But we haven't done load testing of any scale on this yet.

Only validation we can talk about now is the deployment of chatwoot we have on our main website. It handled around 10k pageviews a day, from hackernews, when we were trending there.  We received

[2019-11-26 12:16] nithindavid opened #292 "The header should collapse after a conversation from widget starts"

[2019-11-26 15:49] rojasTob commented on #158
@sojan-official Thanks!

[2019-11-26 16:20] petebytes opened #294 "Question: Is there a way to change an agents password?"
The seed file provides a way to provide a password, but I cannot find anyplace in the UI to change password even when creating a new agent.

Thanks - this project is pretty awesome.

[2019-11-26 16:24] petebytes opened #295 "Question: How do you confirm new agent when deploying to heroku?"
Deployed to Heroku and added a new agent(administrator) which resulted in a pending confirmantion state.
Never received email and checked Spam :)

[2019-11-26 16:32] pranavrajs opened #296 "Add documentation to setup SMTP server in Chatwoot"
- [ ] Add documentation on how to configure SMTP settings using Sendgrid/Mailgun/Mailchimp

[2019-11-26 16:33] pranavrajs commented on #295
@petebytes I guess we might have missed telling the users to configure their own SMTP servers for emails. You will be able to see 3 config variables which need to be added to get the emails working.

https://www.chatwoot.com/docs/environment-variables

@sony-mathew Let us add SMTP settings to Heroku one-click deploy as optional param if it is possible.

I added this https://github.com/chatwoot/cha

[2019-11-26 16:34] pranavrajs commented on #294
@petebytes Thanks for the feedback. You have to use the reset password flow for now. We will add that missing piece soon.

[2019-11-26 16:36] petebytes commented on #295
Wow fast response - I think just a review all env vars and which should be added to heroku deployment. If they are not accessible in the UI after deployment.

[2019-11-26 17:04] petebytes opened #297 "On Heroku Cannot delete agent (John) created by seed file"
**Describe the bug**
After deploying to heroku, I configured the SMTP server (Sendgrid)
- Added a new Agent (Administrator)
- Confirmed Agent
- Tried to delete John
Received message "Cannot connect to woot server..."

Was able to change John to agent, but also not able to change password or email.

**Desktop (please complete the following information):**
- macOS 10.15.1
- Firefox
- 70.0.1 64 bit

[2019-11-26 17:14] petebytes commented on #295
I just set the ENV vars in heroku after deployment and worked fine.
Thanks

[2019-11-26 17:14] #295 closed

[2019-11-26 17:14] petebytes commented on #294
That works - thanks!

[2019-11-26 17:17] petebytes commented on #297
Is there a way to delete, change password or status to Verification Pending for an agent via rails console?

I changed the email but was unable to delete or change acct to Verification Pending.

[2019-11-26 17:22] pranavrajs commented on #297
I guess this might be the issue https://github.com/chatwoot/chatwoot/issues/18

Could you please post the logs from `heroku run logs` if that is okay?

[2019-11-26 17:30] sony-mathew opened #298 "Start documenting APIs"
Currently, we do not have documentation on any API endpoints that Chatwoot supports. We should start documenting these API endpoints.

As a starting point for this, we should use any standard tooling to document these endpoints. We could use swagger to do this.

The idea is to initialize swagger docs here (for one simple API) and provide a way to contribute to this incrementally.

This should prov

[2019-11-26 17:31] petebytes commented on #297
I was able to reset password using send_reset_password_instructions from console.
So at least I can lock down access :)

[2019-11-26 17:35] petebytes commented on #297
Here is the log portion pertaining to this issue
[code]

[2019-11-26 18:35] kolaente commented on #289
@sojan-official Thanks, it seems to work now.

[2019-11-26 18:48] kolaente commented on #287
Awesome, thanks!

[2019-11-26 19:22] kolaente opened #299 "Running chatwoot with docker in production is broken"
**Describe the bug**
I tried to run chatwoot with docker using the pre-built images and got a rails error about missing secrets:

[code]

This is my docker-compose setup:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Copy the `docker-compose` file from above
2. Try to run it with `docker-compose up`

**Expected behavior**

It should not ask for secret keys via the console. Instead

[2019-11-26 19:32] sojan-official commented on #299
@kolaente you should be able to bypass this error by setting environment variable `SECRET_KEY_BASE`  with a value secure random hash value.  Apologize for the lack of documentation here, please leave this issue open. will close once add this to documentation.
we will also update the database.yml to pick up the environment variable when provided as well.

TODO
------

- [ ] update database yml to u

[2019-11-26 19:36] kolaente commented on #299
@sojan-official Great, thanks!

Though now I get this when trying to access chatwoot with my browser:
![image](https://user-images.githubusercontent.com/13721712/69666321-5a9e2180-108c-11ea-93c2-bb4cfda25505.png)

Which makes sense, I assume in production mode, it won't show the logs to end users. Where are these logs stored?

[2019-11-26 19:42] sojan-official commented on #299
@kolaente the logs should be in '/logs' folder.

please also ref https://www.chatwoot.com/docs/quick-setup  [ Docker section ]

you might need to run `docker-compose run server bundle exec rake db:reset`
if the database set up wasn't done yet.

let us know if you run into more issues.

[2019-11-26 19:47] kolaente commented on #299
I took a look at the docs:

[code]

Looks like the frontend assets are not found / not compiled during build time.

[2019-11-26 19:52] sojan-official commented on #299
@pranavrajs  we would need your help here.

[2019-11-26 19:58] sojan-official opened #302 "[Bug] Administrator can delete himself even if there are no other verified admins available"
**Describe the bug**
An administrator can delete himself when there are no other active admins available

**To Reproduce**
Steps to reproduce the behavior:
1. Send Invite to a new admin
2. The delete admin option becomes available next to the current admin
3. Click on that and you receive an error 'error connecting to woot server`
4. See error

**Expected behavior**
- Administrators shouldn't be a

[2019-11-26 19:59] sojan-official commented on #302
@pranavrajs  thoughts.

[2019-11-26 22:53] petebytes opened #306 "Private note is shown to receiver as if it were a message."
When agent/administrator adds a Private Note the message is sent like a normal message.

macOS multiple browsers.

[2019-11-27 03:31] #297 closed

[2019-11-27 03:42] #18 closed

[2019-11-27 04:12] sojan-official opened #307 "[Feature] Ability to use chatwoot in local languages"
**Is your feature request related to a problem? Please describe.**
- I would like to let my agents use chatwoot in the local language
- I would like to translate chatwoot completely into my local language

**Describe the solution you'd like**
- language option in agent/account settings so each individual can choose language of choosing
- the organization set to have a particular language as a fall

[2019-11-27 04:14] sojan-official commented on #292
@nithindavid  @pranavrajs  this is fixed in #293 right ?

[2019-11-27 04:15] #286 closed

[2019-11-27 04:42] #306 closed

[2019-11-27 05:13] sojan-official opened #310 "[Feature] Agents should be able to edit their details"
**Is your feature request related to a problem? Please describe.**
As an agent in chatwoot system, I am not able to edit my details

**Describe the solution you'd like**
Have an interface where I can update basic details like name and display picture

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2019-11-27 05:16] sojan-official commented on #310
ref: #294  should be able to edit passwords as well

[2019-11-27 05:21] pranavrajs commented on #310
@sojan-official This is a duplicate of https://github.com/chatwoot/chatwoot/issues/238

[2019-11-27 05:21] #310 closed

[2019-11-27 05:21] sojan-official commented on #254
ref: #284

[2019-11-27 05:41] sony-mathew opened #311 "Add link to the docs on environment variables with one-click deploy button"
Currently, the one-click button on README stands alone without any documentation.
Without setting the env variables correctly, the emails do not go out, Facebook integration does not work. So we need to point to the documentation on setting the correct env variables while deploying on the README right next to the deploy button.

[2019-11-27 06:40] pranavrajs opened #313 "Migrations breaks in production"
[code]

[2019-11-27 07:12] #313 closed

[2019-11-27 08:36] #311 closed

[2019-11-27 12:50] pranavrajs commented on #299
@kolaente Just an update here, this is happening in production because CSS files are not generated as RAILS_ENV is not available during build time. We will have a fix soon.

We have a fix for Postgres password which is merged to master. The latest master should not have that problem.

[2019-11-27 18:10] fuzzmonkey opened #316 "group conversations"
hey! We're looking at integrating a chat system into our app and this looks like it would be a really great fit! Thanks for open sourcing!

**Is your feature request related to a problem? Please describe.**
We are a mortgage lender looking to offer mortgages to groups of people. Ideally we'd like to be able to have group conversations, where an operator or customer could add another user to their

[2019-11-28 04:57] pranavrajs opened #317 "Use a standard to make the design consistent across platforms"
- [ ] Use open source font 'Inter'

[2019-11-28 05:33] #223 closed

[2019-11-28 05:33] #317 closed

[2019-11-28 08:02] sojan-official commented on #316
@fluffynuts  Thanks a lot for exploring chatwoot.

Our system is envisioned in a way that customer initiates a conversation and multiple agents work on it. The ability for multiple parties to chat from the customer side isn't something we are actively exploring

You may be able to get your use case by making additional code changes on top of chatwoot.  Please let us know if there is anything we ca

[2019-11-28 08:56] aadrian commented on #316
"Group support" might be also helpful for cases where the customer initiates (or must initiate) the conversation, but really also needs the help/support of colleagues in order to be able to interact with the target party/site. Unfortunately in many business scenarios - this is the case :)  .

Without this feature, for these cases, the "conversation" is always moved over more classic media like ema

[2019-11-28 11:06] sojan-official commented on #316
@fuzzmonkey  @aadrian   The team talked about this and we could see this feature being helpful for many use cases.  We might not have the bandwidth to take this up on our immediate releases. But we can explore this further, for the subsequent sprints. We welcome any effort from the community on this as well.

Meanwhile, our product team would really love to understand your specific use cases. If y

[2019-11-28 12:13] Suleman-Elahi commented on #265
The `docker-compose` is now working. But can you tell me how I use it locally? I have changed localhost to my public IP after enabling port forwarding in router. I am able to access Chatwoot externally but the inbox script doesn't work after I add it to test HTML page. Also, the Facebook integration doesn't work; the loader keeps rotating.

![Screenshot_20191128_173218](https://user-images.githubu

[2019-11-28 16:26] pranavrajs opened #320 "Add an NPM package for chatwoot widget"
Right now, the web-widget script used to load widget is not a good way to include the widget in react/vue projects. We need to publish an npm package for users to load widget

[2019-11-28 17:57] pranavrajs opened #321 "[Chore] Add yarn and bundle cache to docker-compose for development"
The local development takes a considerable amount of time to install gem and yarn packages. Investigate the possibility to add caches

[2019-11-28 18:04] #299 closed

[2019-11-28 18:20] petebytes commented on #321
I can take this one on

[2019-11-28 18:23] sojan-official commented on #321
thanks a lot @petebytes . I have assigned it to you .

[2019-11-28 19:26] pranavrajs commented on #299
Here is a working docker-compose file I used for production @kolaente

[code]

[2019-11-28 19:54] sojan-official commented on #265
make sure you run the docker compose with RAILS_ENV variable set to development in docker compose file.

After you have the chatwoot app running, login using the credentials . `john@acme.inc` and password:  `123456` you can also open the window  localhost:3000/widget_tests  , this page will have the web widget running and you can test out the messaging via that.

-----------------

looking at the

[2019-11-29 11:10] sojan-official opened #324 "Feature: Integrate Chatwoot into Slack"
**Is your feature request related to a problem? Please describe.**
Sometimes I might not be logged in to chatwoot, I would still like to not miss the message. So a slack integration would be super helpful

[2019-11-29 12:12] #250 closed

[2019-11-29 12:28] pranavrajs opened #325 "[Enhancement] Add an option to resolve multiple conversations at once"
**Is your enhancement request related to a problem? Please describe.**
If I have a lot of open conversations, it is very hard to resolve conversations. I've to click on resolve, click another conversation, wait for it to load, and click on resolve again.

**Describe the solution you'd like**
Select multiple conversations at once and resolve them altogether.

**Todo:**

- [x] #3845
- [x] #3846

[2019-11-29 12:32] mukesh4139 opened #326 "Can we add annotate to the project?"
Hi everybody,

I was going through the project with the intention of understanding different models and their associations and eventually see if I can contribute in some meaningful way. I personally feel model annotations give great insight into the models. Can I open a PR for this?

Link to the GEM:
https://github.com/ctran/annotate_models

[2019-11-29 12:53] sojan-official commented on #326
Hey @mukesh4139

think it will be a good idea to have some documentation/annotations in the code, especially when we are striving to make this repo a beginner-friendly one.  Feel free to take this up.

Will be happy to help if you have any questions over how the data models are tied together . Connect us on discord https://discord.gg/cJXdrwS or over the GitHub issues

good luck

[2019-11-29 15:13] pranavrajs opened #328 "Fix "Rubocop/Metrics/BlockLength" issue in lib/tasks/auto_annotate_models.rake"
Block has too many lines. [45/30]

https://codeclimate.com/github/chatwoot/chatwoot/lib/tasks/auto_annotate_models.rake#issue_5de1313a7c47d10001000256

[2019-11-29 15:20] mukesh4139 commented on #328
Can we exclude this file from rubocop?
Rubocop suggests `Align the elements of a hash literal if they span more than one line.`

I think the readability of the current version is better than the aligned one.

Eg.

Suggested by Rubocop
[code]

vs
Current Version
[code]

[2019-11-30 09:17] mukesh4139 commented on #298
We have a few gems which can create API documentation using the acceptance specs without any effort.

Specs and Documentation both can be covered with this approach.

https://github.com/zipmark/rspec_api_documentation
https://github.com/jejacks0n/apitome

[2019-11-30 12:07] sojan-official commented on #298
@mukesh4139  I am cool with generating the API documentation from specs.
another option is https://github.com/rswag/rswag if we are going to rely on swagger.

But I would like an approach where some API documentation is embedded into the code via some sort of annotation, so whoever makes changes to the API wouldn't forget to update the same for API as well.

https://github.com/fotinakis/swagger-bl

[2019-11-30 13:37] sojan-official opened #330 "Chore: Fix flaky test rspec ./spec/mailers/confirmation_instructions_spec.rb:17"
This test has been failing in random builds, investigate and fix it

Test : rspec ./spec/mailers/confirmation_instructions_spec.rb:17
Build : https://circleci.com/gh/chatwoot/chatwoot/517

[2019-11-30 13:38] sojan-official commented on #328
closing this we added this to ignore list.

[2019-11-30 13:38] #328 closed

[2019-11-30 13:40] sojan-official commented on #326
closed in #327

[2019-11-30 13:40] #326 closed

[2019-11-30 15:52] pranavrajs commented on #292
Closed via #293

[2019-11-30 15:52] #292 closed

[2019-12-01 04:46] #247 closed

[2019-12-01 05:50] sojan-official opened #332 "Chore : Set up Test Coverage in code climate"
upload test coverage results from circle ci to code climate
ref: https://docs.codeclimate.com/docs/circle-ci-test-coverage-example

[2019-12-01 13:43] pranavrajs opened #335 "Upgrade FB Channel API calls to v5.0"
- [ ] Use FB v5.0 API calls

[2019-12-01 14:15] pranavrajs opened #336 "Add documentation on how to add website live chat widget inbox"
- [ ] Add inbox creation steps.

[2019-12-01 17:51] sojan-official opened #338 "Chore : Cache ruby gems in circle builds"
It seems like the gems are not being cached in circle builds Investigate this to see if we can reduce the build times.

[2019-12-02 03:27] #332 closed

[2019-12-02 11:37] sojan-official commented on #282
Based on the feedback we received. seems like users are finding it hard to understand what to do after doing something like a heroku deployment. So let's write clear instructions on available options to deploy and also the set up after deploy

- [ ] Deploy to Heroku instruction
- [ ] Instruction on how to login
- [ ] Adding Agents

[2019-12-02 13:23] sojan-official opened #339 "Bug: From emails are hardcoded in the code"
**Describe the bug**
From emails are hardcoded in the code. this should be a setting or env variable

**To Reproduce**
Steps to reproduce the behavior:
- app/mailers/application_mailer.rb
- app/mailers/assignment_mailer.rb
- config/initializers/devise.rb
-spec/mailers/confirmation_instructions_spec.rb

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screens

[2019-12-02 13:33] sojan-official opened #340 "Feature: Super Admin dashboard"
**Is your feature request related to a problem? Please describe.**
Its hard to know all the env variables i need to set up to get chatwoot up and running

**Describe the solution you'd like**
Have a super admin dashboard similar to wordpress, where the user can set up all the required values to get chatwoot server up and running

![wordpress dashboard](https://i1.wp.com/wordpress.org/support/files

[2019-12-03 06:06] sojan-official commented on #238
ref : #294

[2019-12-03 10:36] sojan-official commented on #330
this is because the name generated by faker contained a quote. which got escaped in the email .
trying to match

[code]

[2019-12-03 10:54] sojan-official commented on #338
https://blog.voom.flights/effective-caching-for-yarn-bundler-and-the-rails-asset-pipeline-in-circleci-5ba60c22c983

[2019-12-03 13:56] #338 closed

[2019-12-03 17:24] #339 closed

[2019-12-03 21:55] Xolsurf3r opened #344 "Cannot set password"
**Describe the bug**
Cannot set new password(other than from default user) for newly registered user after email verification.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Verification Email
2. Click on Verify Now
3. Enter NEW password in the boxes
4. See error.

[2019-12-04 06:30] sojan-official commented on #344
@Xolsurf3r  could you also post a screenshot / logs if any ?

[2019-12-04 19:37] sojan-official commented on #158
hey, @rojasTob do you have a branch on which you are working?  I am working on profile pictures for agents and would like to do it with active storage.

I could build on top of what you have, so we won't have to duplicate the effort.

[2019-12-04 20:27] mukesh4139 commented on #266
We can use the Apartment Gem and provide subdomain isolation.
https://github.com/influitive/apartment

Any other suggestions are welcome.

@pranavrajs
Can you assign this to me, I can work on this on the upcoming weekend.

[2019-12-05 18:07] sojan-official opened #348 "Enhacement : Ability for admin to send out password reset email for agents"
**Is your enhancement request related to a problem? Please describe.**
Admin should be able to send reset password email to the agent

**Describe the solution you'd like**
-  Login as admin
- Click Settings
- Click Agents
-  Click edit next to an agent
- In the edit modal, have option to reset agent password
- this will send an email to the agent with a link to reset password

**Mock**

![Screensh

[2019-12-06 03:06] sojan-official commented on #266
@mukesh4139   apartment doesn't officially support rails 6 at the moment: https://github.com/influitive/apartment/issues/617

The gem provided data isolation via creating separate `schemas`/`databases`.  The solution we are looking for here doesn't require to go that deep. All the data models in the codebase have an account id attribute,  So it's relatively easy to isolate records belonging to tha

[2019-12-06 05:37] mukeshchdy commented on #266
@sojan-official  Please let me know the higher priority item.

[2019-12-06 05:39] mukesh4139 commented on #266
@sojan-official  Please let me know the higher priority item.

[2019-12-06 06:22] sojan-official commented on #266
@mukesh4139  do you think https://github.com/chatwoot/chatwoot/issues/348  is a good fit?

[2019-12-06 06:26] sojan-official commented on #348
@mukesh4139

[2019-12-06 06:51] mukesh4139 commented on #348
@sojan-official this looks fine. I have not worked on Vue before. But I think there is the minimal change required on the frontend, I will figure out.

[2019-12-06 06:53] sojan-official commented on #321
closed in #347

[2019-12-06 06:53] #321 closed

[2019-12-06 23:19] joer14 opened #350 "SMS Channel Integration"
**Is your feature request related to a problem? Please describe.**

I'm curious what the community thinks about adding support SMS as a channel/integration.
It seems like it could be really useful to provide this type of functionality as an option, as it would allow users to interact with the support team without using a web interface.

**Describe the solution you'd like**
Maybe allow admin to con

[2019-12-07 14:29] kolaente commented on #299
@pranavrajs I got it working with this config:

[code]

However, when I try to create an account, I get this error:
![image](https://user-images.githubusercontent.com/13721712/70376166-4c5ec980-1906-11ea-8afd-910e73480aa2.png)
How do I set the host?

[2019-12-07 14:41] pranavrajs commented on #350
@joer14 This is definitely something we are considering for next sprint. We have received the same feedback from other users. We appreciate PRs if you think you can contribute.

[2019-12-08 16:59] sojan-official commented on #299
@kolaente  you would need to set an additional env variable.

[code]

let us know whether it fixed your issue. will update the documentation and docker file with the same.

[2019-12-09 21:03] sojan-official commented on #238
https://evilmartians.com/chronicles/rails-5-2-active-storage-and-beyond

[2019-12-10 16:11] sojan-official commented on #239
https://www.rubydoc.info/github/rails/actioncable/ActionCable/Connection/Base

[2019-12-10 16:40] pranavrajs opened #356 "Sample env file is missing Database environment variables"
**Describe the bug**
Sample env file is missing Database environment variables

**Expected behavior**
- [ ] Sample env file should have database variables defined.

[2019-12-10 16:54] #356 closed

[2019-12-11 07:57] alfredfrancis commented on #282
this is very much needed

[2019-12-11 15:27] #254 closed

[2019-12-12 07:54] freinhard commented on #307
What about starting with the channel (website) widget? To me this seems to be a low hanging fruit.

[2019-12-12 10:03] max-carroll opened #359 "As an agent, I would like be alerted when a customer sends me a message"
**Scenario 1**

Given Im an agent
And I have the web client for chatwoot open
When a customer initiates a conversation
Then I should get a notification

**Scenario 2**

Given Im an agent
And I am in a conversation with a customer
When a customer sends me another message
Then I should be alerted

**Conversation**

Do we want to be alerted in different ways  for each scenario or will one suffice?

C

[2019-12-12 11:40] sojan-official commented on #307
@freinhard  Considering the whole breadth of the feature, it's a good suggestion to make the customer-facing side translated.
But the front end of the app is already built with translation in mind.  So it's having the language files for other languages and having a setting for the admin/agent to switch to another available language if we want the agent side to be multilingual.

When someone starts

[2019-12-12 21:12] #59 closed

[2019-12-13 07:38] sojan-official commented on #348
Fixed in #351  🎉

[2019-12-13 07:38] #348 closed

[2019-12-13 09:51] sojan-official commented on #359
@max-carroll  the initial version had audio notifications, which ended up being a nuisance when a bunch of messages comes in via multiple conversations,  cause of which we had to pull back the feature.

But alerting the agent is definitely a priority and we are looking into improving the previous implementation. we are also considering push notifications as an alternative.

[2019-12-13 09:56] #194 closed

[2019-12-13 10:04] max-carroll commented on #359
Awesome, in that case shall I close this issue, or shall I modify it based on what you said?

[2019-12-13 13:10] sojan-official commented on #359
@max-carroll I think we don't have any Github issues tracking this change. so let's keep this open until the change is merged.

[2019-12-14 11:06] sojan-official opened #361 "Make chatwoot available in digitalocean marketplace"
We would like to make chatwoot available  and instant deployable app in digital ocean marketplace

https://marketplace.digitalocean.com/

# tasks

- [x]  Research whether any extra work will be required to do this  ( https://github.com/digitalocean/marketplace-partners/blob/master/getting-started.md )
- [x] Test out the snapshot deployment as mentioned by digital ocean getting started guide

[2019-12-15 17:40] pranavrajs opened #365 "[Enhancement] Make linux installation easier"
We would like to make chatwoot available for all Linux.
Research about https://snapcraft.io/

[2019-12-16 07:17] pranavrajs commented on #242
Closed via https://github.com/chatwoot/chatwoot/pull/367

[2019-12-16 07:17] #242 closed

[2019-12-16 07:19] pranavrajs commented on #359
Taking it out of v1.0.0, will prioritize in the next sprint.

[2019-12-16 07:20] pranavrajs commented on #234
@sojan-official Taking it out of v1.0.0, we can prioritize this in next sprint.

[2019-12-16 07:32] pranavrajs commented on #320
Moving this out of v1.0.0, will be prioritized in the next sprint.

[2019-12-17 17:07] Skeyelab commented on #282
I agree with the need for this.  I use Heroku daily and find that some of the settings that ChatWoot uses are not common on Heroku.  For example, we technically shouldn't need to define the individual Postgres credential values and we should use `ENV["DATABASE_URL"]` instead. (however, that is a different discussion)

[2019-12-17 17:22] pranavrajs commented on #282
@Skeyelab ENV["DATABASE_URL"] should work automatically.

[2019-12-18 06:16] prabhumarappan commented on #165
@pranavrajs can we close this issue?

[2019-12-18 06:29] pranavrajs commented on #165
@prabhumarappan Yeah! Thanks

[2019-12-18 06:29] #165 closed

[2019-12-18 16:26] rojasTob commented on #158
Hi @sojan-official , sorry for my late answer. I was working on a branch of a forked project. These days I have not worked on that, sorry I was sick. I hope to continue this week. I apologize.

[2019-12-18 18:19] sojan-official commented on #158
@rojasTob no worries, i hope you are feeling better now.  We ended up adding active storage for the work we did over user model.

But avatars and attachments still remain with carrierwave, so feel free to continue with this issue. Good luck and thanks a lot again for working on this.

[2019-12-19 23:54] alekseyp commented on #138
I'm interested a lot in that feature, mostly to replace old ticketing system.

Will it work with multiple IMAP accounts?
Or maybe email can be forwarded to single Chatwoot address, and then it will look at "TO" address to decide which inbox should it send to?

[2019-12-21 17:24] #302 closed

[2019-12-21 17:26] pranavrajs commented on #302
A logged-in administrator cannot remove himself, right now.

[2019-12-22 17:42] sojan-official opened #376 "[Documentation] Change the development instructions to use docker"
At the moment we have a separate install instructions for various environments. Let's stick to the style using docker, so that development environments stay consistent.

- [ ] Update the documentation all over to ensure that instructions are to use docker

[2019-12-23 06:34] sojan-official commented on #344
@Xolsurf3r  there was a minor bug in the URL generation in mailers, that is fixed now.
Ensure that the correct  value for environment variable `FRONTEND_URL` is set.

https://www.chatwoot.com/docs/environment-variables

Lets us know if it's still reoccurring.

[2019-12-23 06:34] #344 closed

[2019-12-23 07:03] pranavrajs commented on #138
@alekseyp This is work in progress, will be available soon.

This is how it will be implemented. For every inbox, you will have an associated email address at chatwoot. You can fwd your support tickets to this email which would create the conversations.

[2019-12-25 05:31] pranavrajs opened #384 "[Bug] Canned Response short code update is not working"
**Describe the bug**
I cannot update the short code in a canned response

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Canned Responses'
2. Click on Edit
3. Update the shortcode
4. Submit

**Expected behavior**
The short code is updated

[2019-12-25 06:22] #384 closed

[2019-12-26 04:58] pferder opened #388 "Cannot signup on Heroku deploy"
After the one-click deploy I tried to create an account, and this is what I'm getting for response.

xhr.js:166 POST https://bioconstruccion-chat.herokuapp.com/api/v1/accounts.json 500 (Internal Server Error)

What could it be? Thanks!

[2019-12-26 05:14] pranavrajs commented on #388
@pferder This looks like a bug, we will debug this. Meanwhile, were you able to login with this default credentials? https://www.chatwoot.com/docs/quick-setup#login-with-credentials

[2019-12-26 06:22] #388 closed

[2019-12-26 06:32] pranavrajs commented on #388
@pferder This was a bug introduced in one of the recent changes. This has been fixed, you should be able to signup after you redeploy.

[2019-12-28 17:14] pranavrajs commented on #236
Fixed via #387

[2019-12-28 17:14] #236 closed

[2019-12-29 17:42] pzupan opened #399 "Adding Agent to One Inbox adds that Agent to all Inboxes"
**Describe the bug**
When you add an agent to one inbox, it adds that agent to all inboxes.

**To Reproduce**
Steps to reproduce the behavior:
1. Add two inboxes on the dashboard.
2. Add a new Agent.
3. Add that new agent to the last inbox.

**Expected behavior**
The Agent should only be associated with the last inbox.

**Desktop (please complete the following information):**
 - OS: Windows 10
 -

[2019-12-29 18:06] pranavrajs commented on #399
@pzupan Thanks for reporting this. I looks like it is an issue with the views getting cached in frontend.
If you refresh the page, the list of agents would be correct. The agents are not added to other inboxes as described. We will have a fix for that soon. Meanwhile, you could refresh the settings page to see the correct list of agents who have access to the inbox.

[2019-12-29 18:21] pzupan commented on #399
Thanks @pranavrajs.  I'll see if I can shake free some time to assist with this project.  I like what you're doing....

[2019-12-30 06:23] #399 closed

[2020-01-03 13:47] mbronek7 commented on #154
Hi I would like to work on this issue as my first  open source contribution with ruby ;)

[2020-01-03 17:15] sojan-official opened #402 "[Feature] Ability for a user to have multiple accounts"
**Is your feature request related to a problem? Please describe.**
Currently, a user can have only one chatwoot account with an email

**Describe the solution you'd like**

- [x]  Split the role attribute from users to a new roles table
- [x]  The ability for a user to have multiple accounts via the roles table
- [ ]  UI supports toggling the current account
- [ ]   UI support adding a new account

[2020-01-03 17:18] mbronek7 commented on #154
Hi Could you give me some feedback

[2020-01-04 17:23] sojan-official commented on #154
@mbronek7  thanks a lot for working on this.
will check the PR over this weekend and will let you know our thoughts

[2020-01-04 18:42] #60 closed

[2020-01-04 18:54] sojan-official opened #404 "[Chore] Add content security policy"
Currently the `config/initializers/content_security_policy.rb` isn't defined in chatwoot code base.
Let's fix this based on https://edgeguides.rubyonrails.org/security.html#content-security-policy

[2020-01-04 19:02] sojan-official commented on #336
we have the documentation here at : https://www.chatwoot.com/docs/channels/website

[2020-01-04 19:02] #336 closed

[2020-01-04 19:04] #265 closed

[2020-01-04 19:04] sojan-official commented on #266
closing this since we will be doing an alternative approach to this with: https://github.com/chatwoot/chatwoot/issues/402

[2020-01-04 19:04] #266 closed

[2020-01-05 17:02] sojan-official opened #406 "[Enhancement] Option to disable account registration in community edition"
**Is your enhancement request related to a problem? Please describe.**
In the community edition of chatwoot, we need an option to disable account registration.

**Describe the solution you'd like**
Add an environment variable which will disable showing the register account link in the front end and also disable the calls to the account creation api

**Describe alternatives you've considered**
nil

[2020-01-06 17:02] #154 closed

[2020-01-07 14:31] sojan-official commented on #42
ref : https://github.com/chatwoot/chatwoot/pull/393

[2020-01-07 14:31] sojan-official commented on #41
ref : https://github.com/chatwoot/chatwoot/pull/393

[2020-01-07 14:38] nithindavid opened #407 "Enhance design of Chatwoot widget"

[2020-01-07 17:29] #158 closed

[2020-01-07 17:43] sojan-official commented on #42
closed in https://github.com/chatwoot/chatwoot/pull/393

[2020-01-07 17:43] sojan-official commented on #41
closed in https://github.com/chatwoot/chatwoot/pull/393

[2020-01-08 02:53] pranavrajs commented on #42
@sojan-official Please add the variables to .env and to the docs.

[2020-01-08 03:06] pranavrajs commented on #41
@sojan-official Please update the env variables in .env.example and the docs.

[2020-01-08 08:31] sojan-official opened #409 "Chore: Review rubocop configurations"
Verify and fix these issues

- [ ] Rubocop ends up changing the schema.rb  on commits
- [ ] Rubocop config doesn't get considered when committing from UI tools like fork

[2020-01-08 08:33] sojan-official commented on #335
https://github.com/chatwoot/chatwoot/pull/393 updates the messager callbacks as required for v5.0 api

[2020-01-09 04:16] MichaelArriaga commented on #359
I have to manually refresh in order to see updates or new conversations. Is this normal?

[2020-01-09 04:31] MichaelArriaga opened #411 "Manual refresh required to see new messages/updates"
**Describe the bug**
After Heroku one-click deployment and initial setup, I see new messages but only upon manual refresh (This includes initial an subsequent conversation updates)

**To Reproduce**
Steps to reproduce the behavior:
1. Take advantage of the 1-click deploy with heroku button
2. Complete initial setup as per docs and paste widget with correct app url into rails app layout (5.2).
3. A

[2020-01-09 04:35] pranavrajs commented on #411
@MichaelArriaga This seems to be related to https://github.com/chatwoot/chatwoot/commit/f02d422b6af23d3bac4485249277daa50d80f444 commit. Did you deploy `master` branch or `develop` branch?

[2020-01-09 04:37] MichaelArriaga commented on #411
HI @pranavrajs, I used the development branch. I'm not realizing that development is the default selected branch on the chatwoot repository.

[2020-01-09 04:39] pranavrajs commented on #411
@MichaelArriaga I think there should not be any problem with the `master` branch, we will try to resolve this in `develop` soon.

[2020-01-09 04:39] pranavrajs commented on #359
@MichaelArriaga This is not normal, it should be a bug.

[2020-01-09 04:40] MichaelArriaga commented on #411
Thank you very much for being so responsive. I'm redeploying the master branch and will report shortly if the bug disappears

[2020-01-09 04:47] pranavrajs opened #412 "[Specs] Add Cypress tests"
**Is your enhancement request related to a problem? Please describe.**
It is not feasible to do manual QA every time a PR is merged. JS & Ruby specs do not cover all our integrations properly, we should aim to add cypress test for P1 flows in this sprint.

**Describe the solution you'd like**
1. Initialize Cypress test framework.
2. Add cypress tests

[2020-01-09 04:48] MichaelArriaga commented on #411
That fixed the issue. Thanks!

[2020-01-09 04:49] pranavrajs commented on #411
@MichaelArriaga Thanks for the update. This actually seems like a small issue, we will have a fix soon on `develop` branch.

[2020-01-09 06:31] #411 closed

[2020-01-09 09:35] max-carroll commented on #359
Hoewever in my opinion, being alerted when receiving a message would be desired behaviour, I am actually awaiting this feature before I transition over to chatwoot

[2020-01-09 09:46] sojan-official opened #413 "[Bug] Contact Email attribute is case sensitive"
**Describe the bug**
The contact merge action considers  'test@test.com' and 'Test@test.com' as two different emails

**Expected behavior**
 - store contact emails in downcase
 - downcase the email parameter before searching for contact with existing email

[2020-01-09 17:45] sojan-official commented on #140
we have merged #273 , which enables the chat widget to collect the emails.  I guess we can pick up  #139 next which would send an email to the end customer when an agent replies to the conversation.

Another addon could be the ability for the customer to reply from the same email thread.

Afterwhich we can pick up  #138 , #139 which would enable us to provide email ticketing functionality, without

[2020-01-09 17:54] sojan-official commented on #146
The initial idea we had for the user models have changed with the recent developments in the project.
we will break the roles and account attribute from users in #402 .  and that's the only viable refactoring I can see for this now.

hence closing this ticket in favor of #402

[2020-01-09 17:54] #146 closed

[2020-01-10 12:55] ManojKiranA opened #414 "PHP SDK"
**Is your feature request related to a problem? Please describe.**
I am working on a PHP (Laravel) Framework.
It would be helpful SDK or Composer package

**Describe the solution you'd like**

1. May be Creation a Dedicted Package with Vue SPA like.
Examples:
[Telescope](https://github.com/laravel/telescope)
[Horizon](https://github.com/laravel/horizon)

2. Creating a Package that utilizes the **A

[2020-01-10 14:43] egorsmkv commented on #414
What should this SDK do?

[2020-01-10 14:49] egorsmkv opened #415 "Add other languages"
I want to use your software on my websites but people on them don't speak English so I want to have the software in people's languages.

How can we add other localizations?

[2020-01-10 15:00] pranavrajs commented on #415
@egorsmkv We have already thought about this and have created the software with a view that we support multiple languages at a later time. If you see https://github.com/chatwoot/chatwoot/tree/develop/app/javascript/dashboard/i18n i18n folder. You could see the list of text we use in Chatwoot. If you can make a translation doc for the text in this folder in the language you want, that would be grea

[2020-01-10 15:02] pranavrajs commented on #414
@ManojKiranA Could you please elaborate this requirement? What is the exact use case you are looking for?

[2020-01-10 17:07] egorsmkv commented on #415
So I need to create a folder as https://github.com/chatwoot/chatwoot/tree/develop/app/javascript/dashboard/i18n/locale/en for my targeted language and then also create a file here https://github.com/chatwoot/chatwoot/tree/develop/app/javascript/dashboard/i18n

Correct?

[2020-01-10 17:08] egorsmkv commented on #415
By the way, how to change a language or it's automatically will be changed?

[2020-01-10 17:21] pranavrajs commented on #415
@egorsmkv We will add settings to change the language in dashboard.

Correct?

Yes, that is correct.

[2020-01-10 18:09] egorsmkv commented on #415
Okay, then add please this setting and any other language in order I have opportunity to test my translations.

[2020-01-10 18:32] sojan-official commented on #307
ref #415

[2020-01-12 04:49] pranavrajs opened #416 "Conversation count does not update after resolving conversation"
**Describe the bug**
The conversation counts should be updated in real-time whenever some action occurs in the conversation listing page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Conversations'
2. Click on a conversation
3. Click on resolve
4. The count of conversations is not updated.

**Expected behaviour**
The count of conversation needs to be updated after every action.

**

[2020-01-12 05:00] pranavrajs opened #417 "Activity messages are counted as incoming messages in reports"
**Describe the bug**
Activity messages are counted as incoming messages

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Conversations', open a conversation
2. Click on 'Resolve'
3. Go to reports.
4. The incoming message count will be increased by 1.

**Expected behaviour**
Activity messages should not be counted in incoming or outgoing messages.

[2020-01-12 05:05] pranavrajs opened #418 "Auto resolve after `n` days of inactivity"
**Is your enhancement request related to a problem? Please describe.**
Add a feature to resolve the conversation after `n` days of inactivity. If I'm waiting for a response from the customer and he has not responded in `n` days, the conversation needs to resolved automatically.

**Describe the solution you'd like**
Add a setting in account `auto_resolve_duration` which can be set by an admin, if t

[2020-01-12 05:11] pranavrajs opened #419 "Add a realtime event for contact resolution/update"
**Is your enhancement request related to a problem? Please describe.**
Whenever a contact is updated, or the user has provided an email through email collect hooks, the dashboard is not updated momentarily.

**Describe the solution you'd like**
Add an update event for contact, listen for the event in frontend and update the vuex store.

[2020-01-12 13:58] pranavrajs opened #420 "Heroku deployment fails with NameError"
[code]

[2020-01-12 14:01] #420 closed

[2020-01-12 18:23] pranavrajs opened #423 "Tag agents in a private note"
**Is your enhancement request related to a problem? Please describe.**
As an agent, I might need some internal help to resolve an issue. I should be able to tag another agent in a private note. Once the tagging is done, a mail should be sent to the corresponding agent providing the details about the conversation.

**Describe the solution you'd like**
Use `+` or `@` to tag a person. Show the list o

[2020-01-13 05:47] #259 closed

[2020-01-13 06:41] pranavrajs commented on #407
Closed via #408

[2020-01-13 06:41] #407 closed

[2020-01-13 08:55] #413 closed

[2020-01-13 09:46] nithindavid opened #425 "New widget design enhancements"
- More intuitive close button on mobile
- Better collapsed header

[2020-01-13 15:57] SebastiaanKloos commented on #287
When using the above image the container stops working and outputs this to the log: Switch to inspect mode.

[2020-01-13 16:04] pranavrajs opened #427 "Pre-built container images stops working"
When using the above image the container stops working and outputs this to the log: Switch to inspect mode.

Reference #287

[2020-01-13 16:05] pranavrajs commented on #287
@SebastiaanKloos I've created an issue for this, we will inspect the issue. https://github.com/chatwoot/chatwoot/issues/427

[2020-01-13 19:23] sojan-official commented on #427
@SebastiaanKloos  could you help us with the steps you used to run the container?

[2020-01-13 19:26] SebastiaanKloos commented on #427
I’ve just pulled the container in Plesk and ran it. I even tried it manually from the command line

[2020-01-13 19:27] SebastiaanKloos commented on #427
I just installed it manually with the github repository by making my own docker image. Now it seems to work better. Now I see this: Cannot GET /

[2020-01-13 19:29] sojan-official commented on #427
@SebastiaanKloos  did you set the environment variables as required ?

https://www.chatwoot.com/docs/environment-variables

[2020-01-14 10:13] SebastiaanKloos commented on #427
@sojan-official Yes I have! The env variables should be fine.

[2020-01-14 10:26] SebastiaanKloos commented on #427
@sojan-official I just pulled the image and tried to run it

[2020-01-14 10:48] pranavrajs commented on #417
Closed via #429

[2020-01-14 10:48] #417 closed

[2020-01-14 15:03] aermike commented on #427
# docker-compose up
Building base
Step 1/35 : FROM ruby:2.6.5-alpine AS pre-builder
2.6.5-alpine: Pulling from library/ruby
e6b0cf9c0882: Pulling fs layer
39db6355b3f6: Pulling fs layer
e92d591b4e43: Pulling fs layer
150febec43bc: Waiting
f8893432dbd7: Waiting
ERROR: Service 'base' failed to build: error pulling image configuration: Get https://production.cloudflare.docker.com/registry-v2/docker/r

[2020-01-14 16:36] alfredcogniwide opened #430 "Support custom message channels via REST APIs"
**Is your enhancement request related to a problem? Please describe.**
There should be an option to integrate the live chat to any custom channel using API integration.

**Describe the solution you'd like**
Provide an option to configure callback URLs. Also, provide documentation to initialize, chat and disconnect via API requests

[2020-01-15 06:39] alfredcogniwide commented on #430
@sojan-official I'm ready to work on this feature. Can anybody give me a quick walkthrough of the source code or share any documentation?

[2020-01-15 07:35] sojan-official commented on #430
@alfredcogniwide  sure. will do a loom video by this weekend.  The documentation is a little sparse and a work in progress.  But will try best to get to the queries asap.

If you get the chance to go over the codebase and lets us know the questions.  we are also available on discord https://discord.gg/cJXdrwS if you need any immediate assistance.

[2020-01-15 13:19] alfredcogniwide commented on #430
Ok

[2020-01-17 08:06] #425 closed

[2020-01-17 21:31] Leocn opened #431 "Sidekiq error"
**Describe the bug**
I start this project local successfully through docker
[code]

**To Reproduce**
When i test 0.0.0.0/sidekiq, it redirects to 0.0.0.0/auth/sign_in, and shows
`{"success":false,"error":{"Use POST /sign_in to sign in. Get is not supported"}}`
The same error happened
https://queschainchatwoot.herokuapp.com/sidekiq

Did i miss sth?

[2020-01-18 06:20] sojan-official commented on #431
The sidekiq url is 0.0.0.0/monitoring/sidekiq.
On production you need to set environment variables as mentioned in env.example to access

SIDEKIQ_AUTH_USERNAME=
SIDEKIQ_AUTH_PASSWORD=

[2020-01-18 15:10] muhzi4u opened #432 "Widget last message style is not matching with the other message styles"
![error](https://user-images.githubusercontent.com/12408980/72665870-a0df8380-3a32-11ea-93c6-d2c865d869bf.png)

[2020-01-18 16:24] Leocn commented on #431
Its ok now.
The sidekiq url is 0.0.0.0/sidekiq.

[2020-01-18 19:50] sojan-official commented on #431
@Leocn  thanks for the update. just for people referring to this in the future.  latest develop  has the above-mentioned changes where sidekiq url be at .

`0.0.0.0/monitoring/sidekiq`

and production will need  the following env variables set to access sidekiq admin

[code]

this change will be there from v1.1.0

[2020-01-18 19:50] #431 closed

[2020-01-19 08:47] #432 closed

[2020-01-21 06:52] pranavrajs opened #435 "As an agent, I would like to view labels of a conversation in sidebar"
- [ ] Show labels in sidebar

[2020-01-21 07:48] pranavrajs opened #437 "As an end-user, I should be able to see the list of agents in the widget."
- [x] API to list the available agents
- [ ] Update UI to show the list of agents.

[2020-01-21 13:12] #435 closed

[2020-01-21 16:43] #42 closed

[2020-01-21 16:43] pranavrajs commented on #41
Fixed via #439

[2020-01-21 16:43] #41 closed

[2020-01-22 04:48] maxtheman opened #441 "Unable to send emails"
Hi there,

I installed Chatwoot via the one-click heroku button on Nov 29, 2019. Had to poke around to get the environmental variables set correctly, but everything went fine. Crucially for this issue, I verified that I was able to send emails via sendgrid for account confirmation. I still have this heroku instance running.

Now after the holidays I wanted to get set up for local development. Ever

[2020-01-22 04:55] maxtheman commented on #441
Of course, as soon as I posted this I figured out the answer. It was dumb. The Sidekiq process on Heroku had defaulted to off. Now that I turned it on I have successfully delivered all of my test emails.

[2020-01-22 04:55] #441 closed

[2020-01-22 18:14] sony-mathew commented on #139
I'm taking this up and working on this.

[2020-01-22 18:37] sony-mathew commented on #139
As the conversations are in the format of chat messages, the agent/customer tends to send short messages in a frequent interval rather than one long message. Considering this fact, when there is a new message activity on a conversation, we will be sending an email after a few minutes from the point when the first message was sent. This email content will have a couple of previous messages and all

[2020-01-23 17:29] #139 closed

[2020-01-23 20:18] sojan-official commented on #140
We merged #139 - email to customers containing the agent response when an agent responds to a message.
next up we will pick #138  where will create messages when the user replies via email

[2020-01-24 15:28] DavidSteinbauer opened #446 "Docker Security Issue – Public Redis Server"
**Describe the bug**
I got a note from the German Institute of Cybersecurity who where scanning my server with Chatwoot on it:

[2020-01-24 16:47] pranavrajs commented on #446
@DavidSteinbauer Could you please describe the deployment process you have followed?

[2020-01-26 17:35] sony-mathew commented on #446
@DavidSteinbauer This issue has been resolved on priority and a hotfix has been merged with a new tagged release. You can find the new release here:  https://github.com/chatwoot/chatwoot/releases/tag/v1.0.3

The same fix has been merged to `develop` branch, if you are following the up-to-date changes.
With this hotfix, we now have an option to set a password to the `redis-server` which is run with

[2020-01-26 17:35] #446 closed

[2020-01-26 17:37] sony-mathew commented on #446
The documentation for the same has been updated here :
https://www.chatwoot.com/docs/installation-guide-docker#development-environment

and here :
https://www.chatwoot.com/docs/installation-guide-docker#development-environment

[2020-01-28 01:26] antodoms commented on #427
is this issue still happening?

[2020-01-28 01:54] vishnu-narayanan commented on #427
@aermike  If this issue, still has not been resolved
1. Are you running this behind a proxy ?
2. Is your server time up to date ?

[2020-01-28 06:10] aermike commented on #427
Issue has been resolvet after last update
Issue can be closed

[2020-01-28 06:17] pranavrajs commented on #427
Closing this as it is complete.

[2020-01-28 06:55] hexclann opened #450 "Installation on cPanel?"
**Is your feature request related to a problem? Please describe.**
A popular open source live chat application called [livehelperchat](https://github.com/LiveHelperChat/livehelperchat) supports easy installation on cpanel and other control panels.

**Describe the solution you'd like**
If chatwoot offers similar installation like the above application. It can be easily deployed on a we hosting cont

[2020-02-02 09:10] pranavrajs commented on #450
@hexclann From my understanding cPanel supports PHP installations. I'm not sure whether we can support this right away. As there is a quite a bit of research involved, we will take this up in the next sprint along with v1.3.0

[2020-02-02 17:08] pranavrajs opened #454 "Reset password not working"
[code]

[2020-02-02 17:16] pranavrajs commented on #239
@sojan This has been done via #452

[2020-02-02 17:16] #239 closed

[2020-02-02 17:17] pranavrajs opened #456 "Feature: Exclude the agent from auto-assignment if he/she is offline"
- [ ] Exclude the agent from auto-assignment if he/she is offline

[2020-02-02 17:18] pranavrajs opened #457 "Feature: Allow the agent to set busy/away status"
- [ ] Add a toggle on the dashboard to set whether the user is away/busy

[2020-02-02 17:22] #454 closed

[2020-02-02 19:10] sojan-official commented on #35
Closing this issue for now since twitter DMs are working.
Will take up the subsequent work in the next release.

[2020-02-02 19:10] #35 closed

[2020-02-03 04:47] pranavrajs opened #458 "Docker builds breaks in production"
[code]

cc: @sojan-official

[2020-02-03 05:36] pranavrajs opened #459 "Heroku deployment fails with "cannot detect rake tasks""
![photo_2020-02-03_11-05-53](https://user-images.githubusercontent.com/2246121/73628090-3b67d580-4675-11ea-9099-4196258979ba.jpg)

[2020-02-03 06:59] hexclann commented on #450
@pranavrajs It also supports nodejs apps and Softaculous app installer supports PHP, javascript and python scripts as well. But the chatwoot uses posgres but most of the cpanel will have mysql, that would be a problem i guess?

[2020-02-03 07:40] pranavrajs opened #460 "Feature: Setup Docker build tests in PR branches"
- [ ] Run docker tests on PR branches

[2020-02-03 08:51] pranavrajs commented on #459
Closed via 067411b

[2020-02-03 08:51] #459 closed

[2020-02-03 08:51] pranavrajs commented on #458
Closed via 067411b

[2020-02-03 08:51] #458 closed

[2020-02-03 13:57] aermike opened #463 "Is open source or not?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When try to make an user appear 14days try.
Production version I cannot set
<img width="705" alt="Capture" src="https://user-images.githubusercontent.com/4247309/73658875-ceb50100-469d-11ea-9562-bee2bd90d15a.PNG">

**Describe the solution y

[2020-02-03 14:16] pranavrajs commented on #463
@aermike This is completely opensource, you can host it on your own. Pardon me for not updating the text used in Signup page.

I've updated this in #464

[2020-02-03 14:27] aermike commented on #463
Thank you

[2020-02-03 14:27] #463 closed

[2020-02-04 23:30] tjaoc commented on #427
I have the last image Docker and have the error Switch to inspect mode. I download today.

[2020-02-05 05:11] qburst-vishnunarayanan commented on #427
@tjaoc Hello, Thank you for reaching out.

Could you share more details ?
1. Which platform are you running this ?
2. OS version ? Docker version ? Docker Comopse version ?
3. How have you tried to run the application ?
4. Could you share the complete log ?

[2020-02-05 05:13] vishnu-narayanan commented on #427
@tjaoc Hello, Thank you for reaching out.

Could you share more details ?
1. Which platform are you running this ?
2. OS version ? Docker version ? Docker Comopse version ?
3. How have you tried to run the application ?
4. Could you share the complete log ?

[2020-02-05 05:47] SebastiaanKloos commented on #427
Same issue.

I’m using docker with Plesk. The container logs show the same message.

Don’t use docker compose.

Just pulled the image and tried to run it.

[2020-02-05 05:57] #437 closed

[2020-02-05 06:21] pranavrajs opened #465 "Fix grammar mistake in agent online status"
It should be `Sojan and Pranav are available`

[2020-02-05 06:26] #465 closed

[2020-02-05 07:08] tjaoc commented on #427
@vishnu-narayanan

1. DigitalOcean
2. Ubutnu 18.04, Docker 19.03.05, Docker Compose 1.22.0 build f46880fe
3. Yes i tried and the first run stop.
4. Only information in log is: Switch to inspect mode.

[2020-02-05 07:12] SebastiaanKloos commented on #427
Check this out:
https://forums.docker.com/t/container-exiting-and-log-says-only-switch-to-inspect-mode/16431/2

[2020-02-05 07:16] SebastiaanKloos commented on #427
You can fix this issue by running the container with -it option.

For example:

`docker run -it chatwoot`

[2020-02-05 08:22] pranavrajs opened #467 "Duplicate DMs in Twitter Integration"
- [x] Filter out DMs which are originating from the same app

[2020-02-05 13:20] #467 closed

[2020-02-05 13:45] sojan-official commented on #427
@SebastiaanKloos  @tjaoc apologies for not having this documented.

chatwoot docker image at the moment has extra dependencies like redis, postgres etc and that's the reason why `docker run chatwoot/chatwoot` is failing when ran without these dependencies set up.

we are working on making this process smoother and also adding some documentation on running chatwoot in production using docker.  Mean

[2020-02-05 15:22] SebastiaanKloos commented on #427
When doing it manually, I get the following error in the browser when navigating to the port

[2020-02-05 16:46] sojan-official commented on #427
@SebastiaanKloos could you share the URL you are using to access the chatwoot service ?
 If you are trying this on your VM in the cloud, ensure the port is open to public via network settings.

[2020-02-06 08:25] JasoonS opened #469 "Docker-compose doesn't setup postgress correctly, unable to login/create new user"
**Describe the bug**
I am unable to login to chatwoot or create new users. Database doesn't seem to be configured correctly.

**To Reproduce**

1. Use the following docker-compose and env file:
Using this docker-compose:
[code]

And this env file:
[code]

2. Then run `docker-compose up`

3. Visit http://localhost:3000 . This redirects you to login page. Enter the following credentials (from [here]

[2020-02-06 11:57] sojan-vineti commented on #469
@JasoonS after doing the `docker compose up`, did you run `docker-compose run --rm rails bundle exec rails db:reset`  so that the database is set up correctly .

[2020-02-06 12:07] sojan-vineti commented on #469
@JasoonS after doing the `docker compose up`, did you run `docker-compose run --rm rails bundle exec rails db:reset`  so that the database is set up correctly .

[2020-02-06 12:08] sojan-official commented on #469
@JasoonS after doing the `docker compose up`, did you run `docker-compose run --rm rails bundle exec rails db:reset`  so that the database is set up correctly .

[2020-02-06 14:50] JasoonS commented on #469
I'll give that a try as soon as I get a chance end let you know, I didn't run that. Thanks for the help!

[2020-02-06 17:44] vishnu-narayanan opened #471 "Contribution guidelines - missing permission for assigning issues"
**Describe the bug**
Contribution guidelines asks to assign issue before starting work to avoid conflicts. Normal users would be missing the assign permission on GitHub.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any issue
2. Try to assign an issue from a normal GitHub account

**Expected behavior**

**Screenshots**

**Additional context**
https://www.chatwoot.com/docs/contributin

[2020-02-06 19:24] sojan-official commented on #471
@vishnu-narayanan  could you raise a PR to update the docs to reflect the change you suggested.
the wording could be somewhere on the line `Comment on the issue that you are interested to work on. The maintainers will guide from there.`

[2020-02-07 06:35] #471 closed

[2020-02-07 16:17] sojan-official commented on #37
@venarius if you are still working on this. Could you also take a look at the controllers without any specs? i think we can increase our test coverage significantly then.

https://codeclimate.com/github/chatwoot/chatwoot/code?q=controllers  should give a list.

[2020-02-07 16:27] venarius commented on #37
@sojan-official already doing it. I just started with the controllers that had already some tests first :)

[2020-02-08 06:46] pranavrajs commented on #197
Closed as it is stale

[2020-02-08 06:46] #197 closed

[2020-02-08 23:35] hexclann commented on #450
![Screenshot_2020-02-08-23-02-31-506_org mozilla firefox-01](https://user-images.githubusercontent.com/59732888/74093572-8eb8a880-4af9-11ea-93b4-1f696c24ae9f.jpeg)

Hmmm....pgsql and redis are present already

[2020-02-09 06:09] pranavrajs commented on #450
@hexclann Our app is written in ruby on rails which is not supported I guess. Anyway we will do a research on this.

[2020-02-09 10:18] JasoonS commented on #469
It got it working, thanks. Just a few more other things for me to work through now.

[2020-02-09 10:18] #469 closed

[2020-02-10 08:52] JasoonS opened #484 "Cannot create new users or recieve messages"
**Describe the bug**

When I try create a new user I get this error displayed on the UI:
`ERR Client sent AUTH, but no password is set`

In the developer console the network request gets this response:
`{"error":"500 error","message":"ERR Client sent AUTH, but no password is set"}`

When I send a message from my UI (that I get from the small generated script tag snippet) the message doesn't go thr

[2020-02-10 08:56] pranavrajs commented on #484
`ERR Client sent AUTH, but no password is set`

This looks to be an error from Redis, Could you please cross check the redis password and the one which you set in REDIS_PASSWORD is correct.

If you are using redis image from docker the following would be the correct configuration
[code]

[2020-02-10 13:33] JasoonS commented on #484
Thanks @pranavrajs , yes I'm using the default docker image.

I really appreciate it, I'll let you know when I've tried it. I'm going through everything slowly here (I'm working on my own startup). When I've got everything working I'll write a full tutorial on how I set it up :)

[2020-02-10 14:38] vishnu-narayanan opened #485 "Feature: Add docker app deployment option"
**Is your feature request related to a problem? Please describe.**
A simple and less error-prone way to quickly try out Chatwoot.

**Describe the solution you'd like**
`$ docker app install chatwoot/chatwoot`

**Describe alternatives you've considered**

#### Flatpak
+1
- future of Linux app packaging
- looks promising and supported by community

-1
- From primary research, not supporting webapps

[2020-02-10 14:41] vishnu-narayanan commented on #485
Will check and raise PR.
cc: @sojan-official @pranavrajs

[2020-02-10 22:09] JasoonS commented on #484
Hi, @pranavrajs . Yes it was due to an incorrect redis password.

Now I'm able to get and send messages from my website (everything running on localhost).
But the messages don't go through automatically, I have to reload my website to get any response from the 'agent'. Also, for the agent to receive a message from my website I have to either click the  websites in the side bar again to reload cont

[2020-02-11 02:08] bfitec commented on #359
Will this be fixed soon? @pranavrajs My Drift subscription renews on the Feb 15th and we're rushing to replace it with ChatWoot! Should I try to do a manual deployment instead of a heroku deployment?

Thank you for all your hard work on this, very excited to see where this goes and the hosted version.

[2020-02-11 05:55] pranavrajs commented on #484
It is built with websocket, so you should get the updates automatically without refresh. Are you seeing any errors?

[2020-02-11 09:16] pranavrajs opened #486 "Security: Add provision to enable 2FA for login"
- Add a provision to setup Google Authenticator / Authy for 2FA

[2020-02-11 09:25] JasoonS commented on #484
This must be the error:
[code]

[2020-02-11 16:40] joedarc commented on #227
Even making use of something like [Active Model Serializers](https://github.com/rails-api/active_model_serializers) might help with this for now, [looks like you could integrate Grape later](https://github.com/ruby-grape/grape#active-model-serializers).

I know this issue wasn't pertaining directly to performance, but I know in the past when I swapped from using Jbuilder to serializers the perform

[2020-02-12 06:23] sojan-official commented on #227
@joedarc  Thanks for the input :D
We started with jbuilder, cause of the ease at which we can construct complex json objects with it. It's been particularly helpful when you are at the ship it fast mode.

But Active model serializers are definitely in our consideration and is what we use in some of the other projects. So once things are stable we will definitely revisit this.

----

http://www.car

[2020-02-12 18:48] pranavrajs commented on #324
@sojan-official / @sony-mathew Let us prioritise this for this sprint.

[2020-02-12 19:27] sony-mathew commented on #324
@pranavrajs Sure thing. Before we start the integration, I would like to have more clarity on this.

1. Is it a two-way integration that we are looking at meaning, are we only pushing the notification messages onto slack or are we also receiving the replies from slack and adding it to the conversation?
2. Would it be an app in the Slack apps marketplace or API based on the user?

[2020-02-13 18:41] sojan-official opened #490 "Can inboxes in the sidebar have channel type indicator ?"
**Is your enhancement request related to a problem? Please describe.**
When I see chatwoot dashboard , with multiple inboxes. its really hard to differenciate which inbox is which

![Screenshot 2020-02-14 at 12 09 33 AM](https://user-images.githubusercontent.com/73185/74467148-8cba6500-4ebe-11ea-8bdf-3558bf9566f8.png)

**Describe the solution you'd like**
an icon or color indicator next to the inb

[2020-02-14 12:43] aermike opened #491 "Cannot start chatwoot install from docker"
**Describe the bug**
A clear and concise description of what the bug is.
Try to run docker-compose run --rm rails bundle exec sidekiq
and get this error

2020-02-14T12:40:56.648Z pid=1 tid=gtdbqlmad INFO: Booted Rails 6.0.2.1 application in development environment
2020-02-14T12:40:56.648Z pid=1 tid=gtdbqlmad INFO: Running in ruby 2.6.5p114 (2019-10-01 revision 67812) [x86_64-linux-musl]
2020-02-14

[2020-02-14 13:50] pranavrajs opened #492 "Provide an API to create webhook for each inbox"
### Acceptance criteria

- [ ] Admins should be able list/add/update/delete webhooks for each inbox by API
- [ ] API should be accessible only by admins
- [ ] Each inbox can have more than one webhook.

[2020-02-14 13:51] pranavrajs opened #493 "As a admin, I should be able to add webhooks in Inbox Settings"
- [x] Add a tab in account for webhooks
- [x] List all the webhooks currently available
- [x] Allow add/edit/delete webhooks

[2020-02-14 13:58] pranavrajs commented on #324
To start with we will only have messages from Chatwoot being sent to Slack, not the other way around.

It would not be in the Slack app marketplace.

[2020-02-14 17:49] #492 closed

[2020-02-14 21:36] sojan-official opened #494 "Feature: Ability to set an account name"
**Is your feature request related to a problem? Please describe.**
 there should be an ability to set an account name by the admin in settings.

**Describe the solution you'd like**
- [ ] admin setting to set an account name
- [ ] hardcoded chatwoot name should be removed from emails and the account name should where it makes sense
- [ ] web widget should use the account name

[2020-02-14 21:42] sojan-official opened #495 "Bug : Inbox Filter indicator is removed when a conversation is selected"
**Describe the bug**
When I filter the conversations for a particular inbox and select a conversation, the indicator showing the filter is cleared

**To Reproduce**
Steps to reproduce the behavior:
1. Go to chatwoot app with multiple inboxes
2. Click on the inbox filter in the dashboard for a particular inbox
3. Watch the inbox name appear as selected
4. Click on a conversation in that inbox
5. th

[2020-02-14 21:46] sojan-official commented on #414
Closing because of no further activity.

[2020-02-14 21:46] #414 closed

[2020-02-14 21:50] sojan-official opened #496 "Bug: Wrong error message when existing agent email is reused for a new agent"
**Describe the bug**
Wrong error message when existing agent email is reused for a new agent
" cannot connect to server "

**To Reproduce**
Steps to reproduce the behavior:
1. Go to agents screen
2. add agent with email 'test@test.com'
3. try to add another agent with same email 'test@test.com'
4. See error

**Expected behavior**
The error should say agent already exists

**Desktop (please complet

[2020-02-14 21:54] sojan-official opened #497 "Bug: Conversation counters aren't updated in real time"
**Describe the bug**
The conversation counter isn't updated in real-time when a new conversation comes into the system .

![Screenshot 2020-02-15 at 3 21 34 AM](https://user-images.githubusercontent.com/73185/74570355-6a017c80-4fa2-11ea-9c0a-bebb9cd219f3.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Trigger an incoming message from widget to chatwoot platform
2. Watch the top counters

[2020-02-14 21:59] sojan-official commented on #376
Closing this out since there is a mixed reaction towards this towards making docker as the primary development environment.  There is also a huge preference for running the rails app via foreman with out a container.

[2020-02-14 21:59] #376 closed

[2020-02-14 22:01] sojan-official commented on #245
ref : https://github.com/chatwoot/chatwoot/pull/488

[2020-02-14 22:08] sojan-official opened #498 "Enhancement: Agent auto assignment setting"
**Is your enhancement request related to a problem? Please describe.**
It's really hard to understand agent auto-assign logic.

**Describe the solution you'd like**
- [ ] admin setting to enable/disable agent auto-assign

**Describe alternatives you've considered**
none

**Additional context**
none

[2020-02-14 22:13] sojan-official opened #499 "Copy: Update the website channel created screen with instructions"
when someone creates a website channel,  the following screen is rendered.  but it does not contain any instructions on what to do with the text. Lets updates this page with instructions

![Screenshot 2020-02-15 at 3 41 34 AM](https://user-images.githubusercontent.com/73185/74572445-24927e80-4fa5-11ea-9855-2771f643caf0.png)

[2020-02-14 22:19] sojan-official commented on #484
@JasoonS could you pull the latest image and give it a try. we had pushed some changes upstream to resolve this.  Also, could you see whether your sidekiq worker is processing the jobs correct, or whether there is in pending jobs over on sidekiq ?

you can access sidekiq by using the url:
`[yourdomain or ip]/monitoring/sidekiq`

if the rails env is set to production, please set the following envir

[2020-02-14 22:22] sojan-official commented on #196
closed in https://github.com/chatwoot/chatwoot/pull/426

[2020-02-14 22:22] #196 closed

[2020-02-15 07:03] pranavrajs commented on #416
Duplicate #497

[2020-02-15 07:03] #416 closed

[2020-02-15 07:07] pranavrajs commented on #498
@sojan-official Can you make Agent auto assignment a project and 3 separate tickets for the line item you mentioned?

[2020-02-15 07:20] pranavrajs opened #500 "Enhancement: Include avatar_url in sign_in API response"
The user object returned in sign_in API doesn't have avatar_url.

[2020-02-15 08:26] vishnu-narayanan commented on #491
@aermike Have you set environment variable `REDIS_PASSWORD` in the `.env` file ?

[2020-02-15 17:27] #500 closed

[2020-02-15 17:33] sojan-official opened #502 "Copy: Agent assignment explanation in settings page"
**Is your enhancement request related to a problem? Please describe.**
It's really hard to understand agent auto-assign logic.

**Describe the solution you'd like**
- [ ] Copy changes to explain how auto-assign works

**Describe alternatives you've considered**
none

**Additional context**
none

[2020-02-16 07:57] vishnu-narayanan opened #503 "Docs: Update docker setup manual"
**Is your enhancement request related to a problem? Please describe.**
Refactor docker setup manual to be simple and concise.

**Describe the solution you'd like**
n/a

**Describe alternatives you've considered**
n/a
**Additional context**
n/a

[2020-02-16 11:50] #238 closed

[2020-02-16 11:50] #294 closed

[2020-02-16 16:44] pranavrajs opened #505 "Asset precompile fails in heroku/docker"

[2020-02-16 16:51] #505 closed

[2020-02-16 20:52] bfitec commented on #498
This would be really nice! Due to the severity of each request we get in we generally like our entire team to be notified about a support chat and the agent assignment right now doesn't work well if someone on our team is out of the office for lunch/vacation/sick or whatever reason.

[2020-02-17 03:57] pranavrajs commented on #245
Closed via #488

[2020-02-17 03:57] #245 closed

[2020-02-17 06:12] aermike commented on #491
No
I set it up and come with an update

[2020-02-17 07:44] vishnu-narayanan commented on #491
@aermike We are not able to reproduce this issue. If you are still getting this error, could you please share the complete steps to reproduce this on our end ?

[2020-02-17 08:44] aermike commented on #491
After set up Rail Password and docker-compose build
it runs
Isssue na be closed

[2020-02-17 11:05] vishnu-narayanan commented on #491
Glad that it now works. Thank you.

[2020-02-17 12:01] nithindavid opened #510 "Visual enhancements to improve the dashboard"
- Better active states for Sidebar menu items
- Icons to see Inbox items in sidemenu

[2020-02-17 14:22] #503 closed

[2020-02-17 20:24] venarius opened #514 "Overflow set to scroll on various places on dashboard"
**Describe the bug**
When you hover certain areas in the dashboard UI with your mouse, a scrollbar comes up even though the content is not overflowing. That is caused on various places because of the `overflow: scroll` on :hover. A better option would be `overflow: auto` so that it only scrolls when the content is actually overflowing.

If that's an actual bug and not intended I will happily fix t

[2020-02-18 17:18] ghosteathuman commented on #496
Dropping a quick note about some investigation done, it is because the Axios call to the Agents Controller gets a 422 response, which causes it to error out and display the default API ERROR_MESSAGE.

[2020-02-19 04:56] sojan-official commented on #496
@ghosteathuman  thanks for taking a look into this.

[2020-02-19 05:05] pranavrajs commented on #510
Fixed via #511

[2020-02-19 05:05] #510 closed

[2020-02-19 05:08] pranavrajs opened #515 "Feature: Send an email to all inbox members if auto assignment is turned off for the inbox"
### Premise

If you have an inbox with auto assignment turned off, all members of the inbox should get a notification saying that there is a new conversation in the inbox.

@sojan-official We need to decide the content of the email.

[2020-02-19 07:22] nithindavid commented on #514
Hey @venarius, I couldn't reproduce this on my side but it looks like your suggestion is better. You can take this up :) Thanks 👍

[2020-02-19 08:01] pranavrajs opened #516 "Chore: Review and remove 'twitter' gem"
Chatwoot uses internally built Twitty gem for all Twitter use cases. Review the usage of twitter gem, if it is not being used, remove it Gemfile.

[2020-02-19 08:17] pranavrajs opened #517 "Bug: Hide contact panel when user switches the inboxes"
**Describe the bug**
Empty contact panel is visible while switching the inboxes.

**To Reproduce**
Steps to reproduce the behaviour:
1. Open a conversation, click on view profile
2. Switch inbox.

**Expected behaviour**
Contact panel should hide when inbox is changed.

**Screenshots**
<img width="1440" alt="Screenshot 2020-02-19 at 1 48 11 PM" src="https://user-images.githubusercontent.com/2246121

[2020-02-19 08:45] sony-mathew commented on #515
@pranavrajs I'm taking this up and starting work on this.

[2020-02-19 08:47] sony-mathew commented on #298
@sojan-official  I think for a V1 of this we can go with normal Swagger documentation and take it from there depending on the maintainability and ease of access.

[2020-02-19 09:06] pranavrajs opened #518 "Enhancement: Update the message create webhook event to include more details"
Current webhook event payload does not contain much information about the conversation and the inbox. This is an enhancement request to update the payload of the webhook event to match the following.

[code]

[2020-02-19 10:18] aermike opened #519 "http links are not visible in vistor windows"
**Describe the bug**
A clear and concise description of what the bug is.
When an agent send to visitor an link, at the visitor is white text on white
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
See link text
**Screenshots**
If applicab

[2020-02-19 11:05] aermike opened #520 "an admin have posibility to add same site with same domain at him"
**Describe the bug**
A clear and concise description of what the bug is.
domain: 3clicks.ro
admin who created: Aditza
admin who recreate: John
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
If an domain have an admin, other admin don't ha

[2020-02-19 11:08] aermike commented on #519
<img width="2320" alt="chatwoot" src="https://user-images.githubusercontent.com/4247309/74829086-eedcf500-5318-11ea-9941-475c9e3fe96b.png">

[2020-02-19 11:11] aermike opened #521 "agent list not shown all agents"
**Describe the bug**
A clear and concise description of what the bug is.
Am conversation is assigned to an agent
If I want to assign to other agent list is blank
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
<img width="964" alt="chatwoo

[2020-02-19 11:22] venarius commented on #519
Will try to recreate it 👍

[2020-02-19 15:50] venarius commented on #521
Hello @aermike,
have the agents you want to assign verified their email? You can only assign a conversation to a verified agent.

[2020-02-20 05:14] sony-mathew commented on #491
I faced this issue again. Looks like a valid issue. When the the `.env` file has line with `REDIS_PASSWORD` set as empty, the value for this in the initializers comes as an empty string `""`. From the initial investigation, this is causing the issue. I will be opening a PR soon to resolve this.

[2020-02-20 05:22] #491 closed

[2020-02-20 05:29] #519 closed

[2020-02-20 06:11] aermike commented on #521
No
I don't have an agent with mail verified
Default user, which is an admin, can be assigned?

[2020-02-20 08:05] pranavrajs commented on #498
Fixed via #513

[2020-02-20 08:05] #498 closed

[2020-02-20 08:06] pranavrajs commented on #418
@sojan-official De-prioritizing this and moving this to next sprint.

[2020-02-20 08:06] pranavrajs commented on #243
@sojan-official Moving this icebox

[2020-02-20 08:12] venarius commented on #521
Yes

[2020-02-20 08:15] pranavrajs commented on #521
@venarius Thanks for looking into this issue.

@aermike Conversation can be assigned only to the verified agents or administrators. Hope that should resolve your query.

[2020-02-20 08:16] pranavrajs commented on #520
@aermike Could you please explain a bit more on the issue you are facing right now?

[2020-02-20 08:56] aermike commented on #520
Hi
I create an admin(without verification) on his name Aditza, who has 2 inboxes (3clicks.ro and chat.3clicks.ro)
After that login with default user john doe@acme..bla and create 2 inboxes (main and 3cliks.ro)
You can  you observe that are 2 admins (one confirmed and one not confirmed) with same imboxes(site domain - I interpret).
Ideea is to check unicity of inboxes (or domain, subdomain), that I

[2020-02-20 08:59] aermike commented on #521
Yes
Thank you

[2020-02-20 08:59] #521 closed

[2020-02-20 10:52] pranavrajs commented on #516
Close via #528

[2020-02-20 10:52] #516 closed

[2020-02-20 14:18] #517 closed

[2020-02-20 19:16] sojan-official opened #533 "Fix flaky tests related to user email"
https://app.circleci.com/jobs/github/chatwoot/chatwoot/1134
[code]

throws email taken error. let's fix this flaky test

[2020-02-20 19:19] sojan-official opened #534 "Fix flaky tests Confirmation Instructions notify"
https://app.circleci.com/jobs/github/chatwoot/chatwoot/1133

[code]

[2020-02-22 08:54] #495 closed

[2020-02-22 08:57] #499 closed

[2020-02-22 09:51] nithindavid opened #536 "URL text going out of bubble"
**Screenshots**
<img width="414" alt="Screenshot 2020-02-20 at 10 50 50 AM" src="https://user-images.githubusercontent.com/1277421/75090257-015c6600-5587-11ea-8917-027e88b50706.png">

[2020-02-22 12:01] pranavrajs commented on #536
Closed via #537

[2020-02-22 12:02] #536 closed

[2020-02-22 12:40] pranavrajs commented on #490
Closed via #511

[2020-02-22 12:40] #490 closed

[2020-02-22 13:01] pranavrajs opened #539 "Security: Upgrade serialize-javascript"
GHSA-h9rv-jmmf-4pgx
moderate severity
Vulnerable versions: < 2.1.1
Patched version: 2.1.1
regular expressions Cross-Site Scripting (XSS) vulnerability
Impact
Affected versions of this package are vulnerable to Cross-site Scripting (XSS). It does not properly mitigate against unsafe characters in serialized regular expressions.

This vulnerability is not affected on Node.js environment since Node.j

[2020-02-22 13:32] #539 closed

[2020-02-22 13:36] #496 closed

[2020-02-22 13:45] #514 closed

[2020-02-22 14:00] pranavrajs opened #541 "Bug: Heroku deployment fails with "Cannot find module '@babel/plugin-proposal-class-properties'""
[code]

[2020-02-22 14:38] nithindavid opened #543 "Widget close button doesn't have link cursor"

[2020-02-22 14:46] #541 closed

[2020-02-22 14:55] pranavrajs commented on #543
Closed via #544

[2020-02-22 14:55] #543 closed

[2020-02-23 07:24] #298 closed

[2020-02-23 08:18] nithindavid opened #547 "Hide who's available section for widget after first interaction"

[2020-02-23 09:46] #547 closed

[2020-02-23 10:21] sony-mathew opened #549 "Document Conversation APIs"
### Problem
As of now we have limited documentation on the API endpoints that the app supports. This makes it difficult for people to work on integrations and enhancements on APIs. The payload structure for requests or the structure of the responses needs to be documented.

### Solution
This requires a broader effort to have all the APIs documented. As a primary step, we have added the documentati

[2020-02-23 14:57] nithindavid opened #550 "Add close button for right sidebar panel"

[2020-02-23 15:43] pranavrajs commented on #550
Closed via #551

[2020-02-23 15:43] #550 closed

[2020-02-23 19:21] #549 closed

[2020-02-24 04:42] pranavrajs opened #553 "Bug: Yarn.lock discrepencies"
yarn command produces a difference in yarn.lock

[2020-02-24 05:02] #553 closed

[2020-02-24 10:52] pranavrajs opened #555 "Sidekiq service is missing in sample production docker-compose"
- [ ] Add Sidekiq service to production sample docker-compose file

[2020-02-24 16:03] giladno opened #556 "Missing option to add an attachment"
I have the proper setup for `ACTIVE_STORAGE_SERVICE=amazon` (including access keys), but there is no attachment button or anything similar to allow users to send screenshots. I also tried dragging a file to the chat window - but no luck.

[2020-02-24 16:39] pranavrajs commented on #556
@giladno Thanks for the feedback, the UI for file upload is still in development.

Closing this as it is a duplicate for #252 and #253

[2020-02-24 16:39] #556 closed

[2020-02-24 16:49] sony-mathew commented on #555
I'm taking this up.

[2020-02-24 19:03] pranavrajs opened #558 "Enhancement: Set force_ssl to true in production environment"
A user has reported that the HTTP traffic is not upgraded to HTTPS. It turns out that force_ssl flag is by default false. We need to add a new ENV variable for the user to configure this flag.

More context here: https://blog.bigbinary.com/2016/08/24/rails-5-adds-more-control-to-fine-tuning-ssl-usage.html

[2020-02-24 19:53] #555 closed

[2020-02-25 05:33] pranavrajs commented on #493
### Default screen

<img width="892" alt="Screenshot 2020-02-25 10 53 25" src="https://user-images.githubusercontent.com/2246121/75217833-31da1500-57be-11ea-90dc-be63cb6e583d.png">

### Register Webhook Modal

<img width="890" alt="Screenshot 2020-02-25 11 02 17" src="https://user-images.githubusercontent.com/2246121/75217877-5b933c00-57be-11ea-8196-06ee4f6a7080.png">

### List available webhooks

[2020-02-25 05:47] pranavrajs opened #559 "Feature: Add provision for third party bots"
- [x] Add a model to include third party bots
- [x] Provide callback when a message is received.

[2020-02-25 08:23] alfredfrancis commented on #518
Is there any documentation on how to use the webhooks feature? I couldn't find anything in the Admin Console.

[2020-02-25 09:41] sojan-official commented on #518
@alfredfrancis  we are adding this to the admin console . have a look at https://github.com/chatwoot/chatwoot/issues/493

[2020-02-25 15:41] sojan-official commented on #484
Closing this since there is no further activity.

[2020-02-25 15:41] #484 closed

[2020-02-25 15:45] sojan-official commented on #520
@aermike  A single account can have multiple administrators.  if you want to create isolated tenants.  You can create a new user via the signup option or via console.  add add the additional domains to them

example :
- login with default user ( john@acme.inc) - add  3clicks.ro and chat.3clicks.ro
- logout

- signup with ( aditza )
- add the additional domains in that account.

john won't be able

[2020-02-25 15:58] aermike commented on #520
Hi
This steps are doing, only with aditza first user add him 3clicks.ro and after thar john@acme.com.
In this ticket I mean he posibility to add same domain 3clicks.ro(which is identical at the two users).
Suplimentary treated cases of subdomain(ex wix.com and have subdomain name1.wix.com, name2.wix.com) at aditza and ...its absolutelly corect to have name3.wix.com at john@acme.com.
But is incorec

[2020-02-25 16:06] sojan-official commented on #520
@aermike  we don't validate whether a domain name was already added by another user, since the domain names are just for the user to identify a particular inbox.  the real magic happens with the script that the user adds to his website, which makes the chat window appear.

so even if john@acme.com can add name1.wix.com which was already added by aditza. john wouldn't receive any messages from name

[2020-02-26 04:14] pranavrajs commented on #518
Closed via #562

[2020-02-26 04:14] #518 closed

[2020-02-26 06:06] #558 closed

[2020-02-26 15:45] #248 closed

[2020-02-26 19:30] sony-mathew opened #565 "Update the source of `json_refs` gem"
For the swagger documentation, we had used `json_refs` gem to combine the fragmented files and resolve the references in them.

At the time of using, this gem did not have the ability to recursively resolve the references. So we had to fork this into one of our own and make the required changes. So this fork was used as the source for the gem.

Along with this, we had raised a PR (https://github.c

[2020-02-26 19:49] #565 closed

[2020-02-26 19:54] sojan-official commented on #565
ref : https://github.com/tzmfreedom/json_refs/pull/1

[2020-02-26 20:20] sojan-official commented on #515
We will be introducing email notification settings for each agent where they can control the emails which they want to receive.

[2020-02-26 20:27] sojan-official commented on #359
We will be implementing audio alerts
- [ ] in the widget when a new message arrives for contact
- [ ] in the dashboard when agents get a new message

[2020-02-27 15:13] aermike commented on #520
On Tuesday, February 25, 2020, 06:06:45 PM GMT+2, Sojan Jose <notifications@github.com> wrote:

@aermike we don't validate whether a domain name was already added by another user, since the domain names are just for the user to identify a particular inbox. the real magic happens with the script that the user adds to his website, which makes the chat window appear.

so even if john@acme.com can add

[2020-02-27 15:17] aermike opened #567 "integrate user autentication with OAuth2 solution like keycloak"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
users can only autenticate with chatwoot mechanism
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternat

[2020-02-29 04:05] sojan-official opened #570 "Feature: Email notification Settings"
**Is your feature request related to a problem? Please describe.**
As an agent, I should be able to control the email notifications I receive from chatwoot

**Describe the solution you'd like**
- An agent should have a page to see & manage email settings
- An agent can toggle on/off the notification based his preferences
- Notification options
   - on conversation creation ( whenever a new convers

[2020-02-29 05:50] #406 closed

[2020-02-29 12:13] #493 closed

[2020-02-29 15:11] #570 closed

[2020-02-29 16:43] sojan-official commented on #37
@venarius  our test coverage is at 60% ( https://codeclimate.com/github/chatwoot/chatwoot ) . thanks a ton for the great work.

[2020-03-01 05:25] pranavrajs opened #577 "[Bug] Close button in new webhook modal doesnot work"
- [ ] Cannot close the modal with close button

[2020-03-01 05:53] #577 closed

[2020-03-01 09:56] fr0der1c commented on #415
@pranavrajs Will this be added to v1.3.0 release?

[2020-03-01 13:36] #515 closed

[2020-03-01 13:37] sojan-official commented on #515
agents can opt for email notifications on conversation creation now.

![Screenshot 2020-03-01 at 7 06 55 PM](https://user-images.githubusercontent.com/73185/75626704-d52c8f00-5bef-11ea-8411-8620f58eec54.png)

[2020-03-01 13:45] sojan-official commented on #359
we are having some technical issues in enabling the audio notification on the dashboard side, But the v1.2 release contains audio notifications on the widget side when customer receives a new message from agent.

We will move the remaining work on this issue to v1.3. we will also explore browser push notifications as an alternative.

[2020-03-01 14:21] sojan-official commented on #415
@fr0der1c  we are still prioritizing the issues to be worked on v1.3.0 release. we will bump this to the top of the list.

[2020-03-01 14:28] sojan-official commented on #520
Closing this for now since it's intended behavior.

[2020-03-01 14:28] #520 closed

[2020-03-01 15:11] sojan-official opened #580 "Feature: Support an Emoji selector in the chat widget"
**Is your feature request related to a problem? Please describe.**
I would like to have an option to select emojis on the chat widget

**Describe the solution you'd like**
Right next to the send button in the chatbox, we will have an emoji selector

**Describe alternatives you've considered**
none

**Additional context**
none

[2020-03-01 16:52] ndom91 commented on #359
What about allowing other forms of agent / dashboard notification? So that the agents don't always need to keep the dashboard open.

For example, you could do simple email notifications on new chats. Or Telegram / Pushbullet - both easy to implement.

[2020-03-01 17:08] sojan-official commented on #359
@ndom91 Thanks for the ideas.  We are exploring several options here.  In today's release, we added the option to opt-in for email notifications whenever a new conversation is created in the inbox.  we didn't want to do this for each message response since that can generate a huge amount of email.

We have a [mobile app](https://github.com/chatwoot/chatwoot-mobile-app) being developed so that shou

[2020-03-01 17:10] ndom91 commented on #359
@sojan-official yeah I agree - only on new conversation, good stuff. Thanks for the quick response / update

[2020-03-01 21:17] sojan-official opened #581 "Bug: close button missing on mobile chat window"
![2020-03-02 02 45 34](https://user-images.githubusercontent.com/73185/75634029-ff05a600-5c2f-11ea-835c-d7e947f125f9.jpg)

Close button is not visible in chatwoot window on mobile webpages

[2020-03-03 05:57] nithindavid opened #582 "Email notification style improvements"

[2020-03-03 07:09] pranavrajs commented on #582
Closed via #584

[2020-03-03 07:09] #582 closed

[2020-03-03 07:17] pranavrajs opened #585 "Security: CVE-2020-5247"
ruby-advisory-db: 430 advisories
Name: puma
Version: 4.3.2
Advisory: CVE-2020-5247
Criticality: Unknown
URL: https://github.com/puma/puma/security/advisories/GHSA-84j7-475p-hp8v
Description:

  If an application using Puma allows untrusted input in a response header, an
  attacker can use newline characters (i.e. CR, LF) to end the header and
  inject malicious content, such as additional headers

[2020-03-03 07:30] #585 closed

[2020-03-03 18:33] sony-mathew opened #589 "User friendly URLs on the documentation requests"
Currently with swagger documentation, when you click on a particular request on the left navigation bar, the URL of the page changes to something that is constructed from the request params and is highly unreadable and very long.

This makes it very difficult to understand the URL and also to share it.

We need to make this short and more readable if possible.

[2020-03-03 19:11] #589 closed

[2020-03-04 04:39] pranavrajs opened #591 "Feature: Support image type messages on widget and dashboard"
- [ ] Support images

<img width="227" alt="Screenshot 2020-03-04 at 10 11 22 AM" src="https://user-images.githubusercontent.com/2246121/75845885-80ac2e00-5e00-11ea-8567-b62d5d676fca.png">

[2020-03-04 04:40] pranavrajs opened #592 "Feature: Support file type messages on widget and dashboard"
If the uploaded file is not an image, display a file icon with file name in the message.

<img width="276" alt="Screenshot 2020-03-04 at 10 10 59 AM" src="https://user-images.githubusercontent.com/2246121/75845872-72f6a880-5e00-11ea-8674-e2416c3daf9e.png">

[2020-03-04 04:40] pranavrajs opened #593 "Feature: Support options message type on widget and dashboard"
User should be able to select one of the options in the message.

<img width="283" alt="Screenshot 2020-03-04 at 10 10 40 AM" src="https://user-images.githubusercontent.com/2246121/75845856-67a37d00-5e00-11ea-83ad-9a0e12c16a05.png">

[2020-03-04 04:42] pranavrajs opened #594 "Feature: Support card options in widget and dashboard"
Render messages with a link with a message and description as a card.

<img width="540" alt="Screenshot 2020-03-04 at 10 13 35 AM" src="https://user-images.githubusercontent.com/2246121/75845988-d254b880-5e00-11ea-8e92-7539babc991b.png">

[2020-03-04 04:45] pranavrajs opened #595 "Feature: Support carousel message type in the widget and dashboard"

[2020-03-04 04:48] pranavrajs opened #596 "Bug: Replies sent to the Tweets are created as a new conversation"
When a user replies to a tweet from Chatwoot, it is created as a duplicate conversation. This is not happening in Twitter DMs.

[2020-03-04 04:49] pranavrajs opened #597 "Bug: Links sent in conversation email does not open in the browser"
When a user clicks on the links in the emails sent from Chatwoot, it is not loaded in the browser. This is happening if the conversation is not assigned to the logged-in user.

[2020-03-04 05:03] pranavrajs opened #598 "Feature: Ability to create a Personal Access Token for each user"
While integrating the APIs user would need to create a non-expiry token for each account. Add a provision in the profile settings to create a Personal Access Token.

[2020-03-04 07:20] pranavrajs commented on #350
This would be a stretch goal for this sprint.

[2020-03-05 20:13] #559 closed

[2020-03-07 18:09] #581 closed

[2020-03-08 06:51] aermike opened #603 "Create triggers for widget"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Posibility to create some triggers for widget
Data triggers (time trigger, scroll trigger, page trigger, on page leave trigger)
**Describe alt

[2020-03-08 06:51] aermike commented on #603
https://ro.wordpress.org/plugins/wp-live-chat-support/

[2020-03-08 06:56] pranavrajs commented on #603
@aermike This would be covered in https://github.com/chatwoot/chatwoot/issues/274 Please close this if #274 includes your query.

[2020-03-08 13:49] #603 closed

[2020-03-08 16:39] pranavrajs commented on #596
Closed via #599

[2020-03-08 16:39] #596 closed

[2020-03-08 16:39] pranavrajs commented on #597
Closed via #602

[2020-03-08 16:39] #597 closed

[2020-03-09 18:28] sojan-official commented on #409
fixed in  #601 &&  #604

robocop now scans migrations as well .
changed lint staged to ignore schema.rb  from the linter

[2020-03-09 18:28] #409 closed

[2020-03-09 22:04] tomjohnburton opened #605 "Unauthorized after creating account"
**Describe the bug**
My password is not saved correctly. I can't log back in.
**To Reproduce**
Steps to reproduce the behavior:
I deployed using Heroku. Changed my password and I confirmed I received a `200`. Logged out and when trying to log back in I receive 401.
**Expected behavior**
To be able to log in

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (p

[2020-03-09 22:33] tomjohnburton commented on #605
UPDATE:
Same deployment, different login. These are the logs
[code]

[2020-03-10 04:04] pranavrajs commented on #605
@tomjohnburton Have you verified the account?

[2020-03-10 06:47] tomjohnburton commented on #605
I’m not receiving any emails to do so

On Tue 10. Mar 2020 at 05:04, Pranav Raj S <notifications@github.com> wrote:

[2020-03-10 12:26] sojan-official commented on #605
@tomjohnburton   let's ensure that the email configuration is done right.  you can do that by setting the appropriate environment variables of your email provider. [ref](https://www.chatwoot.com/docs/environment-variables#configure-emails )

My assumption is that you have signed up for an account and got auto logged in. You went into the profile settings and changed the password. Signed out an tri

[2020-03-10 15:55] tomjohnburton commented on #605
I've added the environment variables to the Heroku deployment. Do I need to redeploy?

[2020-03-10 15:58] sojan-official commented on #605
@tomjohnburton  you won't have to.  But, ensure that your worker dyno is running as well. The mails are sent out from the sidekiq worker.

[2020-03-10 16:04] tomjohnburton commented on #605
Dyno is up as far as I can see. Still no emails sadly. I'm using my personal gmail with an App Password configured

[2020-03-10 16:12] sojan-official commented on #605
@tomjohnburton  anything showing up in the logs ?  I haven't given it a try with the gmail smtp settings. I will try it out and let you know if there is anything that's missing.
the easiest options will be sendgrid, ses, mailgun etc.

[2020-03-10 16:23] tomjohnburton commented on #605
Found this while trying to link SendGrid
[code]

[2020-03-10 17:08] sojan-official commented on #605
@tomjohnburton  could you try setting the 'FRONTEND_URL' environment variable as well?  [ref](https://www.chatwoot.com/docs/environment-variables#configure-frontend-url)

The value of this variable should be the URL of your Heroku installation.

[2020-03-10 17:39] tomjohnburton commented on #605
@sojan-official that fixed it! thanks for your help!!!

[2020-03-10 17:39] #605 closed

[2020-03-10 18:32] #598 closed

[2020-03-11 03:44] weblle opened #607 "Heroku: hostname does not match the server certificate excluded from capture: DSN not set"
**Describe the bug**
I'm trying to use herkou to host chatroot. So I am figuring out setting configurations for SMTP. But i've run into this snag. It's not working with my smtp server for sending emails. I keep getting this debug information on heroku log.
hostname "mail.<domain>.com" does not match the server certificate excluded from capture: DSN not set

What should i do? Should I use sendgrid?

[2020-03-11 04:10] sojan-official commented on #607
@weblle  I think it's an ssl mismatch problem with your SMTP server.  could you verify the SMTP settings locally?  Sendgrid, SES, mailgun should work. could you give SendGrid a try and let us know ?

[2020-03-11 04:15] weblle commented on #607
Thank you for a prompt reply.
Do you suggest i add it as an Heroku addon or just add the smtp details as config variables?

[2020-03-11 04:16] sojan-official commented on #607
@weblle  the SMTP details as environment variables is the suggested approach.

[2020-03-11 04:32] weblle commented on #607
thank you very much @sojan-official. it worked

[2020-03-11 04:32] #607 closed

[2020-03-12 15:53] #594 closed

[2020-03-14 06:42] pranavrajs opened #611 "Chore: Add documentation on how to setup Twitter"
- [ ] Setup Twitter App
- [ ] How to configure Twitter in Chatwoot

[2020-03-15 04:46] sojan-official opened #612 "Enhancement: Move to the next conversation when i resolve a the current conversation"
**Is your enhancement request related to a problem? Please describe.**
When I resolve a conversation I would like the system to redirect me to the next conversation.

**Describe the solution you'd like**
When I resolve a conversation I would like the system to redirect me to the next conversation.

**Describe alternatives you've considered**
none

**Additional context**
none

[2020-03-16 04:11] pranavrajs opened #613 "Chore: Add web widget script in the API response"
- [ ] Add web widget script in the API response for inbox, website/inbox etc.

[2020-03-16 06:38] #593 closed

[2020-03-16 07:02] #613 closed

[2020-03-16 09:51] niklaskorz opened #616 "Huge disk usage for logs"
**Describe the bug**
After a week of uptime on a production website, chatwoot's log directory takes up 25 gigs of storage.

**To Reproduce**
Steps to reproduce the behavior:
1. Run chatwoot in a website with many visitors
2. Wait a week
3. Watch PostgreSQL crash because there's no available disk space

**Expected behavior**
Log rotation, maximum (configurable) log size

[2020-03-16 14:04] pranavrajs commented on #616
@sony-mathew @sojan-official Could you please look into this?

[2020-03-16 14:08] pranavrajs commented on #616
@niklaskorz Thanks for reporting this. Most of our deployments are on Heroku, so we didn't notice this issue. We will look at this on priority.

[2020-03-16 16:29] tomjohnburton opened #617 "Facebook set up error"
When I try to set up a facebook inbox I get the following error

![image](https://user-images.githubusercontent.com/39559415/76779506-bca1a480-67ab-11ea-872d-9bd155901b3c.png)

[2020-03-17 09:03] sojan-official commented on #617
@tomjohnburton  configuring Facebook integration in the self-hosted version requires setting a few additional environment variables [ref](https://www.chatwoot.com/docs/environment-variables#configure-fb-channel). But the current documentation we have on that isn't comprehensive.

we will release an. updated documentation page in the upcoming days on configuring the facebook channel.

[2020-03-17 09:16] tomjohnburton commented on #617
Thanks Sojan!

On Tue 17. Mar 2020 at 10:03, Sojan Jose <notifications@github.com> wrote:

[2020-03-17 11:45] tabrza opened #620 "Websocket handshake"
**Describe the bug**
When deploying the master branch of chatwoot i'm getting the following error in the console:
[code]
error points to action_cable.js and the following function:
[code]
specifically pointing to this line:
[code]

I believe this results in my having to refresh the page on the inbox side to receive the message and then also refresh the page on the client side to receive agent mess

[2020-03-17 12:39] pranavrajs commented on #620
@tabrza Have you set FRONTEND_URL env variable? https://www.chatwoot.com/docs/environment-variables#configure-frontend-url

[2020-03-17 12:42] tabrza commented on #620
thanks for the quick response @pranavrajs !
when not in development mode from what i can see in the code it should grab it automatically?

[2020-03-17 13:12] pranavrajs commented on #620
@tabrza It will not be set automatically, you have to set it yourselves.

[2020-03-17 14:13] tabrza commented on #620
@pranavrajs - even after setting it myself i'm seeing the same error. the  error:
[code]
pointed to the correct address in the console.. additionally, i failed to add this in the initial issue post. my apologies
[code]

is there anything else that i should be looking at?

[2020-03-17 16:20] tabrza commented on #620
additionally, while the build does push changes through, i still do get some 'fails'
[code]

[2020-03-17 17:10] tabrza commented on #620
not sure if this is related to the above but i am facing the following as well when deploying to dokku. the build does push through.
[code]

[2020-03-17 20:24] #616 closed

[2020-03-17 20:30] sojan-official commented on #616
@niklaskorz  we have released a new version `1.2.3` that addresses this.  Debugging this issue made us realize that the log settings in production was set as `debug` which gives very verbose logs.  We have limited the logging to `info` which is more apt for production. Also by default, the logs are limited to 1 GB and your last shifted log file.

You also have the option to fine-tune logging via f

[2020-03-17 20:44] sojan-official commented on #620
@tabrza  we haven't tried deploying chatwoot with doku, So it will be slightly hard to debug this issue without the full context. Would it help if we schedule a quick call ? someone from our team can join and work with you in debugging the issue.

https://calendly.com/chatwoot/

or if you have a publicly accessible URL of the installation we can take a quick look at it.
you can shoot an email at `

[2020-03-18 10:46] tabrza commented on #620
Hi @sojan-official, super generous of you. thanks so much!! scheduling a call with you right now. Cheers

[2020-03-18 17:58] sojan-official opened #622 "Enhancement: Use tokens specific to accounts to while encrypting data related to it"
**Is your enhancement request related to a problem? Please describe.**
Right now `Widget::TokenService` use rails secret to encrypt the tokens. This would cause issues in case of data migrations:
- between accounts on different installations
-  hosted solution -> self hosted & vice versa

**Describe the solution you'd like**
Generate account-specific tokens and use these tokens to encode/decrypt t

[2020-03-18 20:06] pranavrajs opened #623 "Bug: PG Violation Error while updating email from widget"
- [ ] PG Violation error while updating email from widget

[2020-03-19 11:37] whiteyhat opened #625 "Docker Swarm deployment fails"
**Describe the bug**
When following your guidelines for the docker deployment it fails when creating a docker swarm stack

**To Reproduce**
Steps to reproduce the behaviour:
1. Docker-compose set up:
[code]
2. Deploy stack
3. Services are up and running
4. Trying to sign up fails
5. See error below
![Captura de pantalla 2020-03-19 a las 12 36 32](https://user-images.githubusercontent.com/31220861/

[2020-03-19 11:38] whiteyhat commented on #625
If I try to access the `/sidekiq` route

![Captura de pantalla 2020-03-19 a las 12 37 49](https://user-images.githubusercontent.com/31220861/77063728-7aac7480-69de-11ea-9ba3-e6395ef9780e.png)

[2020-03-19 12:00] whiteyhat commented on #625
This log is suspicious.. Any thoughts?

[code]

[2020-03-19 12:36] tabrza commented on #620
hey guys, thanks for making the time for the chat. Getting the following error when deploying using heroku (as suggested by sojan). Thought I would share here as discussed:
[code]

[2020-03-19 12:49] sojan-official commented on #625
@whiteyhat  could you connect to one of the  rails nodes and run  the following command

[code]

[2020-03-19 12:54] #625 closed

[2020-03-19 13:44] tabrza commented on #620
Still facing issue for handshake on heroku deployment for some reason.. no errors in console with heroku deployment

[2020-03-19 17:07] tabrza opened #626 "One click deploy does not work as intended - conversations not updated live"
**Describe the bug**
When deploying app through one click deploy, app gets created as intended. Conversations between the agent and a user are not updated in real time forcing the user to refresh the page on each occasion.

**To Reproduce**
Steps to reproduce the behavior:
1. One click deploy
2. Embed the script into the body of an html page
3. Start conversation
4. Notice that messages remain gre

[2020-03-19 17:41] MajesteitBart commented on #626
You probably have to turn on one of the dynos, by default, one is turned off.

[2020-03-19 17:59] tabrza commented on #626
@MajesteitBart that was it! thank you

[2020-03-19 17:59] #626 closed

[2020-03-19 18:00] tabrza commented on #620
Resolved: heroku doesn't enable the dynos by default. switched it on and we're cruising now.
thank you @sojan-official and @pranavrajs for the support!

[2020-03-19 18:00] #620 closed

[2020-03-19 18:33] MajesteitBart commented on #626
That's great! The dyno, frontend url and db:migrate bugged me for hours :smile:

[2020-03-20 07:26] sojan-official commented on #497
we will create an endpoint to fetch the meta

[2020-03-20 07:30] sojan-official opened #627 "Bug: Emails still contain links which are not account specific"
Emails still contain links which are not account specific.

[2020-03-20 07:31] sojan-official opened #628 "feat: Keyboard shortcuts for conversation actions"
**Is your enhancement request related to a problem? Please describe.**
don't have Keyboard shortcuts for conversation actions

**Describe the solution you'd like**
- Need to have Keyboard shortcuts for conversation actions
  - Resolve conversation
  - Reopen conversation
  - Go to the next conversation
  - Go to the previous conversation
  - Go to
    - all conversations tab
    - mine tab
    - u

[2020-03-20 07:34] sojan-official commented on #37
Closing this since most of the controllers are covered now . We will create specific issues for the remaining ones.

[2020-03-20 07:34] #37 closed

[2020-03-20 07:35] sojan-official commented on #427
Closing this since no recent updates on this ticket

[2020-03-21 06:04] nithindavid opened #629 "UI engancements"

[2020-03-21 07:19] sojan-official opened #631 "[CW-4] Feature: Integration with zapier"
**Is your feature request related to a problem? Please describe.**
Ability to connect chatwoot to zapier

**Describe the solution you'd like**
Ability to connect chatwoot to zapier .

<sub>[CW-4](https://linear.app/chatwoot/issue/CW-4/feature-integration-with-zapier)</sub>

[2020-03-21 07:34] sony-mathew opened #632 "Docker container build failing on logging related issue"
**Describe the bug**
When you build a chatwoot docker container for production, it's failing. There build log in docker hub supporting this.

**To Reproduce**
Remove the `app/log/production.log` and build a docker container for production.

**Expected behavior**
This shouldn't throw any error.

**Screenshots**
Failure logs:
[code]

**Desktop (please complete the following information):**
 - OS: Ma

[2020-03-21 14:55] pranavrajs opened #633 "Security: CVE-2020-5267"
[code]

[2020-03-21 14:58] pranavrajs opened #634 "Security: CVE-2020-7598"
[code]

[2020-03-21 15:24] #633 closed

[2020-03-21 15:31] #634 closed

[2020-03-22 06:14] #629 closed

[2020-03-22 10:24] #253 closed

[2020-03-22 11:43] tabrza opened #638 "Unable to re-assign oneself to conversation after unassign"
**Describe the bug**
An agent is unable to re-assign themselves to a conversation they have un-assigned themselves from.

**To Reproduce**
Steps to reproduce the behavior:
1. In conversation, click on drop down and select un-assign
2. Click on drop down and agent will not be able to find themselves in the list

**Expected behavior**
If agent un-assigns themselves, they should be able to see themse

[2020-03-22 12:10] vfasoulas commented on #274
please do not postpone again this feauture to next version

[2020-03-22 14:24] pranavrajs commented on #274
@vfasoulas Nope, we are on it. 👍

[2020-03-22 15:21] pranavrajs commented on #632
Closed via #637

[2020-03-22 15:21] #632 closed

[2020-03-22 15:26] pranavrajs commented on #638
@tabrza I tried to reproduce this, couldn't reproduce this issue. Could you please post a screencast if possible?

[2020-03-22 17:06] pranavrajs opened #639 "Conversations ordering should be based on last message time stamp"
Current conversation ordering is based on conversation created_at timestamp, this should be based on last message's created_at timestamp

[2020-03-23 04:40] vfasoulas commented on #274
thanks

[2020-03-23 15:20] MaheshCasiraghi opened #641 "Bug: Rake db Initialization Fails"
**Describe the bug**
Bug: Rake db Initialization Fails when setting up docker development environment

**To Reproduce**
Steps to reproduce the behavior:
1. Run `docker-compose run --rm rails bundle exec rails db:reset` after building the docker image, as per documentation at: https://www.chatwoot.com/docs/installation-guide-docker

4. See error:

[code]

**Expected behavior**
Initialize Postgres D

[2020-03-23 16:01] MaheshCasiraghi commented on #641
Found problem: default log level in .env evaluates to 1 and breaks db migration: https://github.com/rails/rails/issues/14538.

[2020-03-24 18:04] #639 closed

[2020-03-25 12:38] MaheshCasiraghi opened #642 "[Question] Helm Chart?"
**Is your enhancement request related to a problem? Please describe.**
I have been trying to setup Chatwoot on Kubernetes, but I ran into some problems when translating docker-compose to helm charts.

**Describe the solution you'd like**
Is there a plan to provide an official helm chart within the main repo?

[2020-03-25 13:25] nithindavid opened #643 "As a user, I would like to send files/images to the agent"

[2020-03-25 14:06] Kerren-Entrostat commented on #641
For anyone that is experiencing this problem, I found the way to solve it. Note this is only applicable if you're following the instructions around starting it up for development using `docker-compose`.

If you copied `.env.example` into `.env` then go to line 62 where it says `LOG_LEVEL=` and change it to:

[code]

[2020-03-25 14:07] Kerren-Entrostat commented on #641
I'd suggest this be reopened that the `.env.example` file is updated with this change? I can do it if you would like.

[2020-03-25 15:17] pranavrajs commented on #641
@Kerren-Entrostat We will update that. 👍

[2020-03-25 15:19] pranavrajs commented on #642
@MaheshCasiraghi This came up in our discussion earlier, we didn't pursue because none asked for it. We will take it up in the next sprints. However, if you think you could contribute this, please feel free to do it.

[2020-03-25 22:22] sojan-official commented on #415
Closing this since its a duplicate of #307

[2020-03-25 22:22] #415 closed

[2020-03-25 22:26] sojan-official commented on #494
https://github.com/chatwoot/chatwoot/pull/645  contains API to update account name

[2020-03-26 00:48] d-mo commented on #138
Is this still expected to be available soon?

[2020-03-26 14:47] fv3rdugo opened #646 "docker chatwoot_sidekiq_1 & rails_1 go down"
docker **chatwoot_sidekiq_1**  & **chatwoot_rails_1** start and end immediatly
All the others dockers are running from docker-compose up.

**To Reproduce**
Steps to reproduce the behavior:
I follow your steps:
[code]
and docker chatwoot_sidekiq_1 start and go down.

[code]
Some logs from console:
[code]

[2020-03-27 01:12] fv3rdugo commented on #646
If you copied .env.example into .env then go to line 62 where it says LOG_LEVEL= and change it to:

LOG_LEVEL=info

Solution provided by  @MaheshCasiraghi in issue [641](https://github.com/chatwoot/chatwoot/issues/641).

[2020-03-27 01:12] #646 closed

[2020-03-27 03:44] sojan-official commented on #646
@fv3rdugo  thanks for the update. we will update .env.example in this release with a default value, so the new users won't face this issue.

[2020-03-27 10:01] tabrza commented on #638
@pranavrajs sorry, it's been an absolutely crazy week. Please note the image below - I can't re-assign myself once i have un-assigned myself
![image](https://user-images.githubusercontent.com/21217850/77744721-d5c41400-703b-11ea-89c4-9fc1d67991ff.png)

[2020-03-27 14:08] pranavrajs commented on #638
@tabrza Have you verified your account?

[2020-03-28 05:55] sojan-official commented on #623
merged in https://github.com/chatwoot/chatwoot/pull/624

[2020-03-28 05:55] #623 closed

[2020-03-28 06:13] #617 closed

[2020-03-28 06:17] sojan-official commented on #641
closed in https://github.com/chatwoot/chatwoot/pull/647

[2020-03-28 06:17] #641 closed

[2020-03-28 09:49] tabrza commented on #638
i tried using the following but get a nomethod error:
[code]

steps taken:
heroku run rails c
u = User.find_by(email: 'youremailaddress')
u.confirm

response:
NoMethodError (undefined method `confirm' for nil:NilClass)

[2020-03-28 14:14] sojan-official commented on #638
@tabrza could you see if there is any output when you enter
[code]

alternatively, you can just print the variable `u` after assigning it.  This error basically says that there is no user assigned to the `u` variable.   The other possibility is that you are not using the correct value for  `youremailaddress` .  that value should be replaced by the email address of user you are trying to confirm.

[2020-03-28 14:51] tabrza commented on #638
Thanks for getting back to me so quickly @sojan-official !
Getting the following response:
[code]

[2020-03-28 14:57] tabrza commented on #638
never mind. misspelling in the find. very smart at my end...
regardless, good to know that unverified users cannot log back in nor have conversations assigned to them.
have a great weekend @sojan-official

[2020-03-28 14:57] #638 closed

[2020-03-29 03:15] pranavrajs commented on #611
Closed via #648

[2020-03-29 03:15] #611 closed

[2020-03-29 03:39] pranavrajs opened #650 "Bug: Conversation reply template breaks when a file is sent to the user"
- [ ] Conversation reply template does not handle file messages.

[2020-03-29 04:04] #627 closed

[2020-03-29 13:59] thg303 opened #654 "NoMethodError (undefined method `selected_email_flags=' for #<NotificationSetting:0x00005600229eb1c8>"
**Describe the bug**
it's not possible to create an agent.

**To Reproduce**
Steps to reproduce the behavior:
0. drop and recreate the database, run migrations and seed the database.
1. Login to the panel using "john@acme.inc" and "123456"
2. Click on 'settings'
3. Click on 'Add Agent'
3. Fill the form with valid information, Agent Name: "Jiim", email: "jim.johnson@gmail.com", Agent Type: "Adminis

[2020-03-29 13:59] thg303 commented on #654
btw, I faced this on "Master" branch as well as "v1.2.4" release tag

[2020-03-29 16:54] sojan-official commented on #654
@thg303  do either `rake schema:load` or `rake db:setup` instead of running all the migrations, then do the seeding. Since the old part of the codebase is still in. some of the migrations are out of sync.

Also, it's advisable to set up a database using `rake schema:load` or `rake db:setup`  at the setup than running all the migrations 😄  . Let us know if you still face any issues.

[2020-03-30 06:45] #643 closed

[2020-03-30 06:49] #591 closed

[2020-03-30 10:11] thg303 commented on #654
thank you @sojan-official it worked.

[2020-03-30 10:11] #654 closed

[2020-03-30 10:37] #650 closed

[2020-03-30 11:41] aermike opened #656 "Cannot create database"
**Describe the bug**
A clear and concise description of what the bug is.
 bundle exec rake db:create --trace
** Invoke db:create (first_time)
** Invoke db:load_config (first_time)
** Invoke environment (first_time)
** Execute environment
rake aborted!
NameError: wrong constant name

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See

[2020-03-30 17:58] aermike commented on #656
resolvet with
Bug: Rake db Initialization Fails #641

[2020-03-30 17:58] #656 closed

[2020-03-30 18:20] sojan-official opened #657 "[CW-2848] Feature: Trigger Outgoing Messages based on events"
**Is your feature request related to a problem? Please describe.**
Currently, chatwoot conversations are only triggered when a user initiates the conversation. I would like to have the ability to configure outgoing Messages in chatwoot based on Events.

**Describe the solution you'd like**
-  Ability to pre-configure outgoing messages in chatwoot for specific events
- the events could be  `user's

[2020-03-31 06:48] sojan-official commented on #402
The backend changes for this are done in v1.3.0 .
We will have a frontend interface for this in v1.4.0

[2020-04-01 09:01] weblle opened #660 "Update an Heroku chatwoot instance?"
**Is your feature request related to a problem? Please describe.**
My chatwoot instance is setup with heroku. When a new release is made, it would be nice to be able to update the heroku instance as well. I'm not sure how to go about this.

**Describe the solution you'd like**
A documentation of how to go ahead with the update process

**Describe alternatives you've considered**
None, as i don't w

[2020-04-01 17:17] aermike opened #661 "Application start with 127.0.0.1:3000 and cannot be accessed"
**Describe the bug**
A clear and concise description of what the bug is.
20:15:53 backend.1  | Puma starting in single mode...
20:15:53 backend.1  | * Version 4.3.3 (ruby 2.6.5-p114), codename: Mysterious Traveller
20:15:53 backend.1  | * Min threads: 100, max threads: 100
20:15:53 backend.1  | * Environment: development
20:15:53 backend.1  | * Listening on tcp://127.0.0.1:3000
20:15:53 backend.1

[2020-04-02 03:25] pranavrajs commented on #660
@weblle We will add documentation on deployment to Heroku and monthly updates in the following week.

[2020-04-02 03:25] pranavrajs commented on #661
@aermike Could you please provide more context?

[2020-04-02 09:56] aermike commented on #661
OS: CentOS 7.7
Install after manual
Set enviroments variable after manual(if you want i put history , and .env file)
When start server I can't connect to 3000 port(It accept connection only from localhost I think)
Firewall is stopped

[2020-04-02 17:23] aermike commented on #661
[root@guacamole ~]# screen -r
20:16:09 frontend.1 | ℹ ｢wdm｣: Hash: e5dee66890c767d436e1
20:16:09 frontend.1 | Version: webpack 4.42.0
20:16:09 frontend.1 | Time: 20188ms
20:16:09 frontend.1 | Built at: 04/01/2020 8:16:09 PM
20:16:09 frontend.1 |                                                                                      Asset       Size       Chunks                         Chunk Names
20:

[2020-04-02 18:03] pranavrajs commented on #661
@aermike Are you running in development mode?

[2020-04-03 06:41] aermike commented on #661
@pranavrajs  Yes
I attach database.yml (without passsword and user settings), and .env if you please, help me to find my
[files.zip](https://github.com/chatwoot/chatwoot/files/4425413/files.zip)

 mistake
Thank you

[2020-04-03 07:34] #274 closed

[2020-04-03 07:35] nithindavid opened #662 "UI enhancements"
- [ ] Fix icon width in sidebar

[2020-04-03 07:50] pranavrajs opened #663 "Chore: Upgrade to latest ruby version"
- [ ] Upgrade to latest ruby version

[2020-04-03 20:15] zgagne commented on #307
Hi, I would like to work eoth you on this project and it seems like a good way to start here. In fact, we have 3 days left to make this feature. I would like to know how this is going.

- Did someone started the translation?
- What are the languages that we want? (I can do French translation)
- Should we launch a translating project on Crowdin (Free for Open-Source Projects)

[2020-04-04 03:49] pranavrajs commented on #307
@zgagne Thanks. We have done a basic setting to save the language in an account.

These are the list of language we intend to support. We were expecting this to be added in the next couple of sprints.
https://github.com/chatwoot/chatwoot/blob/bab9d663d29c0503ced4feb6809e00946a853f74/config/initializers/languages.rb

We were thinking of adding German now.

I've explained it above. It's great that y

[2020-04-04 04:57] sojan-official opened #664 "Chore: Improve the email collect form"
**Is your enhancement request related to a problem? Please describe.**
improve the email collect form ux

**Describe the solution you'd like**
- validate emails
- input not focused
- pressing enter doesn't work

**Describe alternatives you've considered**
none

**Additional context**
none