[2022-03-24 19:39] sojan-official commented on #4204
@jordan-brough I took a look at the code and I think the PR looks great.  We do some QA over the changes from our end.
But lets go forward with adding tests and taking it out of draft mode.

[2022-03-24 20:33] triptronics opened #4278 "bug: Avatar and assets not loading due to incorrect URL"
**Describe the bug**

Avatars and assets such as attachments are showing as 404 not found. When using the browser inspector, the links do not have the custom port assigned to the service, just the base URL. We are using port 3544 through an Nginx proxy and set upstream as rails:3000 - this is a docker environment.

Our Front facing URL set in .env for example is https://ourdomain.com:3544 however,

[2022-03-25 01:12] ETMitch21 commented on #714
I would absolutely love to see a knowledge base implemented into Chatwoot. I feel like it's just about the only thing missing from this incredible software! I'm excited to know others feel the same way.

[2022-03-25 01:37] vishnu-narayanan commented on #4268
Single Repo approach
----

The current repo `chatwoot/chatwoot` serves as the source of truth.  All development and discussions happen over this repo. There will not be a separate `chatwoot-foss` repo.

### Creating release artifacts

When cutting a release, we could have an automated GitHub action that could strip the `/enterprise` folder and create a `ce` artifact along with `ee`. This can be ac

[2022-03-25 01:51] vishnu-narayanan commented on #4268
Multi Repo Approach
----
The current repo chatwoot/chatwoot serves as the canonical source of truth. All development and discussions happen over this repo. There will be a separate chatwoot-foss repo which will be stripped of all proprietary code and fully MIT.

### How?
`master`, `develop` and other release branches would be kept in sync with `chatwoot-foss` repo. Feature branches can be skipped.

[2022-03-25 05:35] pranavrajs commented on #4129
@SebastianBitsch Sorry I couldn't investigate this yet, will prioritize for the next sprint.

[2022-03-25 05:36] pranavrajs commented on #4233
@sojan-official Sounds good, is there anything more required to pick this ticket? If not, let take it to the next sprint.

[2022-03-25 05:50] pranavrajs commented on #4180
@tejaswinichile `previous_values` seems like a better naming, @sojan-official thoughts?. Can you please share an example when we have two values changed together? Will it create 2 events or one event with 2 values?

[2022-03-25 05:57] #2942 closed

[2022-03-25 06:10] Austinstevesk opened #4280 "failed to load command: sidekiq"
I am trying to run the images I build from the provided Dockerfiles; worker and web images but I get an error **failed to load command: sidekiq**.

OS: Linux [Ubuntu]
Here are the Dockerfiles I used:

**Web Dockerfile:**

FROM chatwoot/chatwoot:latest
RUN chmod +x docker/entrypoints/rails.sh
RUN gem uninstall bundler
RUN gem install bundler -v 2.3.8
ENTRYPOINT ["docker/entrypoints/rails.sh"]
CMD b

[2022-03-25 06:29] sentry-io[bot] opened #4281 "TypeError: Not enough arguments"
Sentry Issue: [CHATWOOT-1XS](https://sentry.io/organizations/thoughtwoot-04/issues/3074188934/?referrer=github_integration)

[code]

[2022-03-25 06:40] sentry-io[bot] opened #4282 "Slack::Web::Api::Errors::MissingScope: missing_scope"
Sentry Issue: [CHATWOOT-17X](https://sentry.io/organizations/thoughtwoot-04/issues/2683754210/?referrer=github_integration)

[code]

[2022-03-25 06:41] pranavrajs commented on #4282
@tejaswinichile Let us investigate the effort required to mark the Slack accounts without the correct permission with reauthorization_required and send them the email to reconnect.

[2022-03-25 08:56] sultanlive opened #4284 "Create Account Bug"
**Describe the bug**

From api create Account by /platform/api/v1/accounts/ - Self-Hosted

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

![Снимок экрана 2022-03-25 в 14 47 34](https://user-images.githubusercontent.com

[2022-03-25 08:59] sojan-official commented on #4284
@sultanlive could you provide the following details
- the version of chatwoot you are using?
- is there any customizations done over the code?
- have you run all the migrations after updating chatwoot versions?

[2022-03-25 09:17] sojan-official commented on #4180
`previous_changes` seem to be inspired by the rails method naming: https://api.rubyonrails.org/classes/ActiveModel/Dirty.html

looking at some of the other method names over there, we could also consider
we can go with `changes` or `changed_attributes`  as well.

[2022-03-25 09:18] sultanlive commented on #4284
I updated to the latest version and everything worked.

[2022-03-25 09:18] #4284 closed

[2022-03-25 09:28] sojan-official commented on #4115
@giquieu  Thanks a lot for the detailed investigation.  I think we can go ahead with the  `videojs-record` library since it's also `MIT` licensed: https://github.com/collab-project/videojs-record

Also the options like record video, screen etc sounds promising towards future as you suggested.
Please feel free to go ahead. let us know if you need any help from our end.

[2022-03-25 09:29] sojan-official commented on #4198
@ammaraslam  Thanks a lot for all the feedback. We will keep it in our backlog and prioritise accordingly.

ref: #4216

[2022-03-25 09:30] sojan-official commented on #3140
@franzvezuli  Thanks for the feedback, we will keep it in mind as we work over this epic.

[2022-03-25 09:31] sojan-official commented on #4193
@hashlash  Both the reset password email and verification email works pretty much with the same configuration. So it's rare that one would work and the other won't.  Could you try the verification email again for a different email address ?

[2022-03-25 09:34] sojan-official commented on #4263
@23oijoifsd At the moment conversation continuity and account notification emails work using a generic chatwoot email on cloud accounts. But for email channels with `IMAP` and `SMTP` configured, the emails should be sent under the email address which you have configured.

if that's not the case in your account, it should be a bug.

cc: @aswindevps

[2022-03-25 10:16] sentry-io[bot] opened #4285 "Bug: undefined method `conversation' for nil:NilClass breaking notifications page"
Sentry Issue: [CHATWOOT-15Q](https://sentry.io/organizations/thoughtwoot-04/issues/2647709895/?referrer=github_integration)

[code]

[2022-03-25 10:21] sojan-official commented on #4285
## Investigation

This error occurs when the underlying primary actor ie `message`/`conversation` has been deleted from the system and associated notifications were not removed.  Since we don't have a `delete` conversation option available in the system, the possible chance is the user might have an inbox where conversations and notifications were created. But he later deleted the inbox.

## fixes

[2022-03-25 10:33] hashlash commented on #4193
Thanks for the idea.

After trying again some more, I found that the email verification can only be sent once for one email address. Even if I've deleted the **Agent** (from `/app/accounts/2/settings/agents/list`).

It seems deleting the **Agent** doesn't remove the corresponding **User** (which stores the verification and email data). Is this intentional? I tried to find something about it on the

[2022-03-25 10:38] sojan-official commented on #4193
@hashlash Due to the multi-tenant nature of Chatwoot, User records are not deleted when you remove an agent from an account, Since the same User might have access to a different account.

We will be adding the ability to delete users from super admin in upcoming sprints though
#4164

[2022-03-25 10:43] #3304 closed

[2022-03-25 10:44] hashlash commented on #4193
Okay cool! I think the docs could also be improved. Perhaps by participating in [Google Season of Docs](https://opensource.googleblog.com/2022/02/the-2022-season-of-docs-application-for-organizations-is-open.html)? But sadly the submission deadline for this season is today at 18:00 UTC :cry:

[2022-03-25 10:54] sojan-official commented on #4233
@pranavrajs should be good to go. Let's remove the invalid params prior to save.

[2022-03-25 10:56] psschand16 commented on #4219
@sojan-official Thanks.
resolved

[2022-03-25 10:56] #4219 closed

[2022-03-25 11:05] zawmn opened #4286 "chatwoot:ready event trigger twice"
Hello

I used window.$chatwoot.toggle(); in chatwoot:ready event to open chat windows on page load.
It is working well with version v1.19.0.
But I upgraded my chatwoot version to v2.3.2 and it is no longer working.
When I trace the code, chatwoot:ready event is trigger twice in new version and which result calling toggle function twice.
With v1.19.0, chatwoot:ready event is trigger once on page lo

[2022-03-25 11:24] sojan-official opened #4287 "feat: Widget Builder"
ref: https://github.com/chatwoot/product/issues/333 reported by @fayazara

**Problem statement**: We see users and clients asking for custom widget changes, color customizations, height adjustments.

**Existing solution**: Only way to change this currently is writing code and make different templates

**Nature of the problem**: Nice to have

**Suggested solution**: We provide a widget builder and

[2022-03-25 11:26] sojan-official commented on #1598
We are still evaluating the best way to provide this functionality. Providing APIs to inject raw CSS into widgets could come with few caveats,

- It will significantly hinder the pace at which Chatwoot can ship new features in the widget since the team would have to be way too cautious about changing the HTML structure.
- Chatwoot widget updates in future could break end-users CSS customizations.

[2022-03-25 11:26] sojan-official commented on #3882
@prononext  closing in favour of https://github.com/chatwoot/chatwoot/issues/1598#issuecomment-1078927481

lets track this over the original issue #1598

[2022-03-25 11:26] #3882 closed

[2022-03-25 11:28] sojan-official commented on #4274
@triptronics  #1598 was a proposal. it is not implemented yet.

closing in favour of https://github.com/chatwoot/chatwoot/issues/1598#issuecomment-1078927481
let's track this over the original issue #1598

[2022-03-25 11:28] #4274 closed

[2022-03-25 11:33] sojan-official commented on #4267
@Azfarrr  Thanks for the feedback, We will look into this or our upcoming sprints.

At the moment the external system will have to keep track of the conversation id is to determine if it's a new one.

[2022-03-25 11:39] sojan-official commented on #4193
@hashlash  no worries. Thanks for the suggestion about `Google Season of Docs`. We will take a look :D

[2022-03-25 11:39] #4193 closed

[2022-03-25 12:06] pranavrajs commented on #4286
@zawmn This is unexpected, I've added fix for the same.

[2022-03-25 12:11] pranavrajs opened #4289 "Add unit test cases for SDK methods"
The SDK has evolved a lot and is covering a lot of logic, we don't have test cases on the SDK pack which introduce chances for trivial issues.

Todo:

- Create a mock IframeHelper, to mimic events from widget
- Add test cases for all the logic in inside SDK.

[2022-03-25 12:38] psschand16 opened #4290 "Unable to build base image in docker-compose.test.yaml"
**Describe the bug**

Base Image build is failing in docker-compose.test.yaml
**To Reproduce**

build the base image in test docker file

Steps to reproduce the behavior:
cp docker-compose.test.yaml docker-compose.yaml
docker-compose run --rm rails bundle exec rails db:chatwoot_prepare
docker-compose up -d

**Expected behavior**

build should be successful.

**Screenshots**

If applicable, add scr

[2022-03-25 13:32] #4052 closed

[2022-03-25 14:14] substr2837 commented on #4124
@sojan-official  Could you please give me access to the repo cause I'm not able to push my commit

[2022-03-25 14:55] #4286 closed

[2022-03-25 14:55] #1891 closed

[2022-03-25 14:58] sojan-official commented on #4124
@substr2837  The workflow which we follow is that you create a fork of the repo, commit the changes over there and raise the PR from your fork.

[2022-03-25 15:28] pranavrajs commented on #4180
@tejaswinichile / @sojan-official I'm also curious around the content payload as well. The one which @tejaswinichile shared is confusing, it would be better to standardize the payload now. Can you please share the responses to the questions on the previous comment?

[2022-03-25 15:35] sojan-official commented on #3035
closing in favor of https://github.com/chatwoot/chatwoot/issues/3583

[2022-03-25 15:35] #3035 closed

[2022-03-25 15:44] substr2837 commented on #4124
Thank you @sojan-official for the information

[2022-03-25 16:28] sojan-official commented on #4180
@pranavrajs

- it will create one event
- the payload format which @tejaswinichile shared has values of two attributes changed

ie, previous changes will always be an array with the first element being old value, second element new value

------

updated at  ( string ): a[0] -> old value , a[1] -> new value
custom attributes ( object ) : a[0] hash of old values, a[1] -> hash of new values

[2022-03-25 19:13] #3962 closed

[2022-03-26 01:07] 23oijoifsd commented on #4263
That's not the case for me, it only sends with mailer@chatwoot.com despite SMTP configured, I didn't configure IMAP though

[2022-03-26 01:11] 23oijoifsd commented on #4263
<img width="1129" alt="Screen Shot 2022-03-26 at 9 08 42 AM" src="https://user-images.githubusercontent.com/94162758/160218743-46fa848b-13f4-45ae-9bbb-934c805a7497.png">

[2022-03-26 01:20] 23oijoifsd commented on #4263
I also tried a different configuration with SMTP service smtp2go.com too with around the same configuration, but it still didn't work, here's a sample screenshot of the result.
<img width="1001" alt="Screen Shot 2022-03-26 at 9 16 13 AM" src="https://user-images.githubusercontent.com/94162758/160219039-f8adc387-94ee-4432-b715-273ecb3aeb3b.png">

[2022-03-26 02:00] manodiler commented on #3646
Hi, I have the exact same error on Ubuntu 18.04, Digital Ocean

[2022-03-26 02:13] substr2837 commented on #4287
Can I work on this?

[2022-03-26 10:55] 23oijoifsd commented on #4263
Update: Yay thank you it works when I add my IMAP configuration @sojan-official! Perhaps maybe the documentation could be a bit more specific that in order to send from a certain email address they need to setup IMAP and SMTP, since maybe some people won't configure IMAP since they will just set the email forwarding rule, and when they set up SMTP they will wonder why it sends as mailer@chatwoot.c

[2022-03-26 10:55] #4263 closed

[2022-03-27 05:59] ChrisvanChip commented on #4271
There are several use cases where this is beneficial.

For example, when Dialogflow recognizes the intent as bug and the customer confirms that, it should be assigned to an engineer automatically. Or, when an issue with billing arises, Dialogflow can ask the customer some questions and redirect the ticket immediately to the applicable representative.

Benefits:
• Less workload on the employees (as

[2022-03-27 11:12] ammaraslam opened #4298 "Automation rule not being saved"
**Describe the bug**

Automation is not being saved.

**Expected behavior**

It should assign open chats to specific teams as per automation rule, but the team tab is not being saved in the automation even though the message appears of it being updated.

**Recording**

https://user-images.githubusercontent.com/99071637/160278785-5f3b4765-5220-49b4-8438-f1495727240b.mp4

Browser:  Chrome
OS : Windo

[2022-03-27 11:21] ammaraslam opened #4299 "[CW-2299] Display name and full name both are showing on widget"
**Describe the bug**

I've set Display name as **Sarah** and full name as test test ; considering the display name is Sarah, it should show Sarah everywhere on the widget - this seems like related to active agents where widget only shows the name of the active agent but when clicked on the widget, it switches to display name.

**Expected behavior**

It should show the display name if it's set by u

[2022-03-28 03:06] nithindavid opened #4302 "bug: Chatwoot does not show prechat form through campaigns"
**Describe the bug**

The pre chat form works when I start conversation from widget home. But when there's an active campaign and a bubble, and I start conversation by clicking the bubble, the prechat form does not show up.

[2022-03-28 03:07] nithindavid commented on #4302
@pranavrajs @muhsin-k @sojan-official Let me know your thoughts and if there's already an issue

[2022-03-28 05:10] u4d3rc0v3r commented on #4091
any update on this? having same issue

[2022-03-28 06:30] muhsin-k commented on #4302
I just tested using cloud version and it is working fine

https://user-images.githubusercontent.com/12408980/160339030-112b4f27-a358-443d-b145-352eaa065275.mov

[2022-03-28 06:45] aswindevps opened #4305 "Live agent load report API"
Create a reporting API to fetch the below metrics

1. Account level conversation metrics

| Open           | Unattended | Unassigned |
| ----------- | ------------ | ------------ |
|          10       |           5         |          5          |

2. User based conversation metrics for the account.

| User            | Open           | Unattended |
| ----------- | ----------- | ------------ |
|

[2022-03-28 06:46] aswindevps commented on #4305
https://github.com/chatwoot/product/issues/366

[2022-03-28 07:38] #4041 closed

[2022-03-28 07:45] skyblue opened #4306 "Get error in sentry"
![image](https://user-images.githubusercontent.com/248937/160350359-68d762d4-debe-4c2b-ae00-a3b8de4f3ddb.png)

[code]

[2022-03-28 08:08] mattiamarras opened #4307 "automate label"
Automation is not working.
I am trying to assign a label for a specific content but it does not work.
I tryed also a simple rule but there is not effect.

![image](https://user-images.githubusercontent.com/62311149/160354428-0be47be1-615c-41b8-937f-4dde5e2313ad.png)

[2022-03-28 08:50] sojan-official commented on #4263
@23oijoifsd Thanks for the update

[2022-03-28 08:51] sojan-official opened #4311 "bug: SMTP shouldn't be configurable with out IMAP enabled"
Update: Yay thank you it works when I add my IMAP configuration @sojan-official! Perhaps maybe the documentation could be a bit more specific that in order to send from a certain email address they need to setup IMAP and SMTP, since maybe some people won't configure IMAP since they will just set the email forwarding rule, and when they set up SMTP they will wonder why it sends as mailer@chatwoot.c

[2022-03-28 08:53] pranavrajs commented on #4307
@mattiamarras I see the condition has "message Type != incoming message", would this be the reason for it?

[2022-03-28 09:05] sojan-official commented on #4302
@nithindavid  can we get the details of whether self-hosted or cloud? as well the version if it self hosted?

[2022-03-28 11:10] pranavrajs opened #4312 "Allow custom sort in conversations"
Right now, the conversations are sorted based on the last activity. The last active conversation would come at the top.

This behavior often is a problem with customer service agents because the attention is by default going to the latest item, not the one which was created before. This results in a breach of SLA and poor experience with the support agents.

### Solution:

- [x] #4800
- [x] Update

[2022-03-28 12:16] vishnu-narayanan opened #4313 "Improved chatwoot logging levels"
**Is your feature request related to a problem? Please describe.**

At the moment, we are logging almost everything as `info`. Change this to reflect appropriate logging levels. This can help in reducing log volumes as well improve the log visualizations.

**Describe the solution you'd like**
Accurate log levels for the information Chatwoot is logging.

**Describe alternatives you've considered**

[2022-03-28 12:44] #4313 closed

[2022-03-28 12:51] sojan-official commented on #4306
@skyblue  could you include the chatwoot version?

[2022-03-28 12:53] tejaswinichile commented on #4298
We are fixing this in  https://github.com/chatwoot/chatwoot/pull/4033

[2022-03-28 13:02] sojan-official opened #4315 "[CW-1629] feat: Ability to customise the name of sender in emails sent from chatwoot"
Hi, i would like to hide the agent name in the sender of the emails, how can I do it?
I don't want that that customer see, for example, John from Corporate but only the name of the brand for all the agents.

Thanks.

M.

_Originally posted by @mattiamarras in https://github.com/chatwoot/chatwoot/discussions/4308_

<sub>[CW-1629](https://linear.app/chatwoot/issue/CW-1629/feat-ability-to-customise-t

[2022-03-28 13:20] sojan-official opened #4316 "feat: Ability to embed the agent dashboard inside an iframe"
ref: https://discord.com/channels/647412545203994635/650257251856285707/957967475377586178

[2022-03-28 13:23] sojan-official commented on #4007
feature-request from discord :
ref: https://discord.com/channels/647412545203994635/650257251856285707/957146579641434142

[2022-03-28 13:28] sojan-official commented on #4213
@sagararyal  thanks for the information. We will keep this in our backlog for further prioritisation.

[2022-03-28 13:35] kubre commented on #4316
Currently, if you try to embed the agent dashboard interface inside an Iframe you get an error. Only iframes with same-origin can embed the agent dashboard.

Also even if you add a header inside code for X-Frame-Options manually, the application Logs you in but you won't be redirected to the dashboard automatically.

Can there be an option to toggle on so the application can be embedded into an if

[2022-03-28 13:45] sojan-official commented on #2993
note: trigger `welcome` event on widget open for Dialogflow.

ref: https://cloud.google.com/dialogflow/es/docs/intents-default#welcome

[2022-03-28 14:37] gvdseype commented on #3038
Hi, I would like to contribute to this feature. (This would be my first open source contribution)

[2022-03-28 15:47] muhsin-k opened #4318 "feat: HTML sanitizer component"
**Problem**
There are many places we are using `v-html` to display HTML content, which may lead to **XSS** attacks. So we need to make sure that the HTML that's being rendered is sanitized and that it's safe to render in the browser.

**Solution**
- Create new component for displaying HTML content
- Pass element, content, class as props. Use `DomPurify` method to sanitize it.
- Whenever v-html has

[2022-03-28 18:08] sojan-official commented on #4124
closed in https://github.com/chatwoot/chatwoot/pull/4294

[2022-03-28 18:08] #4124 closed

[2022-03-28 18:23] sojan-official commented on #3489
You can confirm the user from super admin dashboard now but setting a confirmed at date
<img width="1202" alt="Screenshot 2022-03-28 at 11 53 24 PM" src="https://user-images.githubusercontent.com/73185/160462207-0e82be05-0c9e-46a5-bf3f-f198ac8392b4.png">

[2022-03-28 18:23] #3489 closed

[2022-03-28 22:12] ammaraslam opened #4320 "feat: Ability to Disable Chat widget with out deleting inbox"
**Describe the solution you'd like**
There should be an inbox disable option, suppose we do not want to take chat from this specfic inbox for a specific time (3 or 4 days), we would have to go with the inbox delete route or either removing code from the website to disable it. This feature can be beneficial for the larger audience.

Disable Inbox - No live chat widget on the website

[2022-03-28 22:16] ammaraslam opened #4321 "feat: Automatic widget color scheme as per the website theme"
**Describe the solution you'd like**
There should be an skinnable theme option for the chat widget to match the website theme, Inspiration can be taken from the Material You design language of Google. As of now, you have to select colours manually for the widget which are static until you change it.

**Describe alternatives you've considered**
None.

[2022-03-29 02:44] skyblue commented on #4306
docker image : v2.3.1

[2022-03-29 04:48] loama commented on #3632
@sojan-official I am using GCP, the problem seems to be the redirection.

When I test doing a direct HTTP request to Twilio I get this message

[code]

(redacted url for security)

That happens with the heroku redirect links that chatwoot generates and send, but not with the gcp direct links.
To me, it seems like twilio doesn't like to follow redirections.

[2022-03-29 04:58] substr2837 commented on #4183
Can I work on this issue?

[2022-03-29 05:01] #4305 closed

[2022-03-29 05:55] kamran2hameed commented on #4235
@sojan-official yes.

[2022-03-29 06:12] tejaswinichile opened #4323 "Automation message should have sender who created the automation"
We send messages in automation currently we have an administrator as a sender of these messages. Instead of this, we should have a separate selection from the front end to select the sender of the message.

[2022-03-29 07:57] #4051 closed

[2022-03-29 08:47] sojan-official commented on #4235
@kamran2hameed let us know if it helps.

[2022-03-29 08:53] sojan-official commented on #4287
@substr2837 We don't have the full specs mapped out for this one. Will keep you posted once its updated

[2022-03-29 11:12] vishnu-narayanan commented on #4268
- [ ] Run ci tests against foss codebase for every PR (strip enterprise folder and spec)
- [ ] Run gh action to generate a docker image for CE edition
- [ ] Modify Linux installation script to support CE installation

[2022-03-29 11:27] pranavrajs commented on #4268
@vishnu-narayanan Sounds good

[2022-03-29 11:59] #4179 closed

[2022-03-29 13:15] sojan-official opened #4327 "Conversation meta endpoint"

[2022-03-29 13:27] sojan-official commented on #3632
@loama  Thanks for debugging. We will look into this.

[2022-03-29 13:54] sojan-official commented on #4320
ref: #https://github.com/chatwoot/chatwoot/issues/273

[2022-03-29 14:21] #3825 closed

[2022-03-29 15:38] pranavrajs opened #4328 "Login button is missing in Safari"
![image](https://user-images.githubusercontent.com/2246121/160650159-84ad1261-3c86-4fea-b367-9d810f00d7f8.png)

- Can't see the login button

[2022-03-29 15:39] JNajera commented on #3996
Looking to the Freshdesk UI can be hidden and if you need to mark as "SPAM" the conversation, it should be possible.

![Screenshot_3_29_22__9_33_AM](https://user-images.githubusercontent.com/616661/160649382-547f0861-fe91-49bc-a344-78d675016584.png)

Also, a nice feature to have after mark as SPAM a conversation, is to ask is the contact should be mark as SPAM.

![Helpdesk___Actiun](https://user-i

[2022-03-29 16:52] dmpanch opened #4329 "Couldn't save IMAP/SMTP settings for an inbox"
**Describe the bug**

IMAP/SMTP settings for an e-mail inbox cannot be saved.

**To Reproduce**

Go to the Configuration-Tab of the Inbox-Settings of an Email-Inbox and try to save the IMAP or SMTP Settings.

Domain/email/password changed for security purposes.

**IMAP Browser logs**

Request: `PATCH /api/v1/accounts/2/inboxes/2`
[code]

Response: `{"status":500,"error":"Internal Server Error"}`

[2022-03-29 17:04] dmpanch commented on #4329
Same when trying to create Telegram bot

[code]

Is the issue somewhere in the data storage area?

[2022-03-29 17:33] tejaswinichile commented on #4180
[code]

[2022-03-29 18:04] dmpanch commented on #4329
My fault, wrong network config, adding rails container to the external network fixed the issue.

[Working docker-compose.yml.](https://pastebin.com/MqdWFaUY)

[2022-03-29 18:04] #4329 closed

[2022-03-29 19:01] dmpanch commented on #4312
It would be nice to add something similar to [Zammad SLA](https://admin-docs.zammad.org/en/latest/manage/slas.html).
Without SLA rules it's impossible to make a predictable support service.

[2022-03-30 02:38] #4054 closed

[2022-03-30 05:56] sultanlive commented on #3632
Tech support response 360 dialog
[code]

[2022-03-30 06:07] #4180 closed

[2022-03-30 10:09] muhsin-k commented on #4233
@sojan-official Should we consider the `email` attribute too?

[2022-03-30 11:15] Vadorequest commented on #4233
I don't know what are the specs for the email, but I would say yes for it,
too.

On Wed, Mar 30, 2022, 12:09 Muhsin Keloth ***@***.***> wrote:

[2022-03-30 11:18] fobos531 opened #4335 "on iOS devices - websocket connection is not re-established in the chat widget on window focus"
**Describe the bug**

When integrating the chat widget, I noticed an issue on iOS where the websocket connection used by the chat widget is not re-established when the browser loses and regains focus. This leads to inconsistent behaviour where messages that were sent while the browser was out of focus and then regains it don't appear UNTIL you reload the website.

**To Reproduce**

Steps to reprod

[2022-03-30 11:44] sojan-official commented on #4233
@muhsin-k let's do it for all attributes supplied by `setUser`

[2022-03-30 11:51] sojan-official commented on #2587
ref: #https://github.com/chatwoot/chatwoot/issues/2099

[2022-03-30 15:04] aldhielman opened #4337 "Instagram handle CDN Url requirement"
Thank you for update that handle story mention, but on App review requirement on Facebook to get advanced access so my chatwoot can be production-ready I need to follow this [guide](https://developers.facebook.com/docs/messenger-platform/instagram/app-review). On section handle CDN Url, our apps are not permit to store data on local. instead only store link / url to content.
I've updated my bare-m

[2022-03-30 15:41] cromulus commented on #567
+1 for Omniauth.

Why not? Omniauth and devise work seamlessly alongside each other, and omniauth will open up a bunch of auth possibilities.

[2022-03-30 15:50] psschand16 commented on #4290
@pranavrajs @vishnu-narayanan please let me know your thoughts on this.

[2022-03-30 16:01] vishnu-narayanan opened #4338 "add visual indicator when an integration is connected/active"
**Is your enhancement request related to a problem? Please describe.**

Clear visual indication when an integration/application is connected/active.

Slack is fully connected and active at this stage. It would be nice to have a visual indicator on this page to know slack is connected without clicking on `configure` and navigating to another page.

![image](https://user-images.githubusercontent.com

[2022-03-30 16:16] sojan-official commented on #4338
For integration pages at the moment, we have the indications inside the subpage of that integration.

<img width="1601" alt="Screenshot 2022-03-30 at 9 45 57 PM" src="https://user-images.githubusercontent.com/73185/160882320-9295d1b7-6739-4d22-aba1-903b4754c5f5.png">

we should move both integrations and applications to one single tab with a similar indication as shown for Dialogflow

[2022-03-30 16:57] ffroehlcke commented on #3853
Same her! Please add an option to disable the usage of Gravatar.

[2022-03-30 17:23] giquieu commented on #4115
@sojan-official
To convert the recorded audio to ogg with Opus codec, I'm using opus-rencoder, recommended by video-js.
(https://github.com/chris-ruadmin/opus-recorder)
To do the conversion it is necessary to use encoder code provided by the lib, in this case, I needed to add the js file to the project.
In config/webpack/environment.js I added:
environment.loaders.append('opus', {
   test: /encode

[2022-03-30 17:46] tejaswinichile opened #4339 "Make sure only one slack hook present per account"
Make sure only one slack hook is present per account.

[2022-03-30 18:16] vishnu-narayanan opened #4341 "Run ci tests against foss codebase for every PR"
Run ci tests against foss codebase for every PR (strip enterprise folder and spec)

[2022-03-30 18:27] sojan-official commented on #4321
ref: #4287

[2022-03-30 18:30] sojan-official commented on #4321
@ammaraslam  thanks for the suggestion. This sounds like a pretty cool feature to have but might require significant engineering effort. We will keep it open for future releases.

[2022-03-30 18:34] sojan-official commented on #4315
All emails sent out by chatwoot are sent out as the email used in the smtp configuration.
It would be much cleaner in terms of branding if the sender name would also be configurable next to the email-address.

This would make the emails received by our clients much more professional.

_Originally posted by @sdobbelaere in https://github.com/chatwoot/chatwoot/discussions/4340_

[2022-03-30 18:38] sojan-official commented on #3920
Let's reopen the issue if it still persists.

[2022-03-30 18:38] #3920 closed

[2022-03-30 18:38] sojan-official opened #4343 "epic: Line Channel"
Tracking issues related to line channel

- [ ] https://github.com/chatwoot/chatwoot/issues/4073
- [ ] https://github.com/chatwoot/chatwoot/issues/3920
- [ ] https://github.com/chatwoot/chatwoot/issues/3038

[2022-03-30 19:02] sonny-devp opened #4344 "It is not possible to send multimedia files. 360 dialog integration."
Mounted on a VM with ubuntu. self-hosted, using local storage,
The multimedia message is sent in chatwoot. But the end user does not receive it

[2022-03-30 19:16] #2697 closed

[2022-03-30 19:34] sojan-official commented on #4056
closing in favour of https://github.com/chatwoot/chatwoot/issues/4315 so we can track all requests in one issue.

[2022-03-30 19:34] #4056 closed

[2022-03-30 19:36] sojan-official commented on #3954
closing in favour of https://github.com/chatwoot/chatwoot/issues/4315 so we can track all requests in one issue.

[2022-03-30 19:36] #3954 closed

[2022-03-30 19:37] sojan-official opened #4345 "epic: Email Channel"
## Issues
- [x] https://github.com/chatwoot/chatwoot/issues/4315
- [x] https://github.com/chatwoot/chatwoot/issues/4311
- [x] https://github.com/chatwoot/chatwoot/issues/4218
- [x] https://github.com/chatwoot/chatwoot/issues/4166
- [x] https://github.com/chatwoot/chatwoot/issues/4151
- [x] https://github.com/chatwoot/chatwoot/issues/4130
- [x] https://github.com/chatwoot/chatwoot/issues/4094
- [x]

[2022-03-30 19:41] sojan-official commented on #3561
closing this issue. because of the lack of activity. feel free to reopen if it persisits

[2022-03-30 19:41] #3561 closed

[2022-03-30 19:42] sojan-official commented on #3486
fixed in https://github.com/chatwoot/chatwoot/pull/3817

[2022-03-30 19:42] #3486 closed

[2022-03-30 19:44] sojan-official commented on #3218
closing this because of the lack of recent activity. please feel free to reopen if the issue persists.

[2022-03-30 19:44] #3218 closed

[2022-03-30 19:46] sojan-official commented on #2748
SMTP configuration is now available for email inboxes
https://github.com/chatwoot/chatwoot/pull/3298

[2022-03-30 19:46] #2748 closed

[2022-03-30 19:48] sojan-official commented on #2492
this has been fixed in recent releases

[2022-03-30 19:48] #2492 closed

[2022-03-30 19:50] sojan-official commented on #2425
closing this because of the lack of recent activity. please feel free to reopen if the issue persists.

[2022-03-30 19:50] #2425 closed

[2022-03-30 19:56] sojan-official commented on #3720
closing in favor of https://github.com/chatwoot/chatwoot/issues/4007 so that we can track everything in a single issue.

[2022-03-30 19:56] #3720 closed

[2022-03-30 20:18] sojan-official commented on #4306
@skyblue  I looked into our sentry and wasn't able to find an instance of this error.
Could you also look into the arguments that were passed into the job?

also is this error event occurring consistently ?

[2022-03-30 20:22] sojan-official commented on #4109
Closing this issue as it hasn't been active for a while. Feel free to reopen if it persisits

[2022-03-30 20:22] #4109 closed

[2022-03-30 20:43] sojan-official commented on #2712
We now have native IMAP and SMTP support for the email channels which should reduce the complexity of setup.
Let us know if it's not helpful.

https://www.chatwoot.com/docs/product/channels/email/configure-imap

[2022-03-30 20:43] #2712 closed

[2022-03-30 20:44] sojan-official commented on #3501
Closing this issue because of inactivity. Feel free to reopen if the issue persists.

[2022-03-30 20:49] sojan-official commented on #4290
@psschand16  which version of Chatwoot are you using ? have you made any customizations to the code?

[2022-03-30 20:52] ammaraslam opened #4346 "Shortcut to switch assigned conversations"
**Is your feature request related to a problem? Please describe.**
nopem

**Describe the solution you'd like**
There should be a new shortcut feature to switch between assigned conversations, this can be helpful in the time of high load (Ctrl + Alt + Arrow up Arrow down) keys would be great for this.

Other shortcuts are great thou 🔥

[2022-03-30 20:56] sojan-official opened #4347 "epic: Messenger Channel"
## Issues

- [x] https://github.com/chatwoot/chatwoot/issues/4235
- [x] https://github.com/chatwoot/chatwoot/issues/4337
- [x] https://github.com/chatwoot/chatwoot/issues/4121
- [x] https://github.com/chatwoot/chatwoot/issues/4445
- [ ] https://github.com/chatwoot/chatwoot/issues/4767
- [ ] Sync Existing conversations to chatwoot when a page is connected ( to spec )
- [ ] https://github.com/chatwo

[2022-03-30 20:56] sojan-official commented on #2096
closing in favor of https://github.com/chatwoot/chatwoot/issues/4347

[2022-03-30 20:56] #2096 closed

[2022-03-30 21:13] semaf commented on #2712
It was much more easier than before but we had to give up chatwoot as it does not support creating new emails.

[2022-03-31 07:30] pranavrajs commented on #4107
@fayazara Please check this out when you are available.

[2022-03-31 07:31] pranavrajs commented on #4107
As the first we would sort the inboxes based on the alphabetical order, the next iteration would have it sorted based on the number of open conversations.

[2022-03-31 07:48] sojan-official commented on #3853
@jaime-rivas  @ffroehlcke  Could you share more details behind the requirement to disable gravatar?
Is it aesthetics, or are there compliance issues that you are facing?

[2022-03-31 08:04] sojan-official commented on #4316
@kubre After talking to the team, the conclusion is that at the moment there isn't a clean way to implement this.
We will look into ways to solve this in upcoming sprints if there is enough interest around this.

Meanwhile, you could take a look into the Platform APIs to generate SSO URLs for accounts, which you can use to open the interface in a new tab/embedding in frames.

https://github.com/ch

[2022-03-31 08:31] sojan-official opened #4349 "epic: Agent Productivity"
## Issues

- [x] https://github.com/chatwoot/chatwoot/issues/3550
- [ ] https://github.com/chatwoot/chatwoot/issues/4346
- [x] https://github.com/chatwoot/chatwoot/issues/3972
- [x] https://github.com/chatwoot/chatwoot/issues/4264
- [ ] https://github.com/chatwoot/chatwoot/issues/4590
- [ ] https://github.com/chatwoot/chatwoot/issues/2710
- [x] https://github.com/chatwoot/chatwoot/issues/2983
- [x

[2022-03-31 10:10] sojan-official commented on #2712
@semaf we have added the ability to create outbound conversations from contacts pannel.

![new conv 3](https://user-images.githubusercontent.com/73185/161010722-d97833f1-9696-4304-a626-049b41489924.gif)

[2022-03-31 10:17] sojan-official commented on #4271
@ChrisvanChip  Thanks for sharing the use case. We are looking into prioritising this for upcoming releases.

[2022-03-31 10:20] sojan-official commented on #2587
ref: https://github.com/chatwoot/chatwoot/pull/4224#issuecomment-1083047454

.

[2022-03-31 10:35] sojan-official opened #4350 "feat: Ability to disable "end conversation" option in chatwidget"
## Changes Required

- add a toggle for `web_widget` channel
- "End conversation" option should be disabled if  the configuration is turned off

----

## Ref

https://discord.com/channels/647412545203994635/650257251856285707/958688734654652436

[2022-03-31 10:54] sojan-official commented on #2993
ref: https://cloud.google.com/dialogflow/es/docs/contexts-input-output#input_contexts
set inbox name, contact name, etc as context variables so that advanced intents can be configured.

ref: https://discord.com/channels/647412545203994635/848225049059917834/958016971000135700

So to summarize.
3 different inboxes use the same bot.
A user visits a chats via (for example the web) but for a specific

[2022-03-31 12:05] #4114 closed

[2022-03-31 12:12] #3807 closed

[2022-03-31 12:17] sojan-official opened #4353 "epic: Conversation Enhancements"
## Issues

- [ ] https://github.com/chatwoot/chatwoot/issues/3627
- [ ] https://github.com/chatwoot/chatwoot/issues/3277
- [x] https://github.com/chatwoot/chatwoot/issues/2587
- [x] https://github.com/chatwoot/chatwoot/issues/2099
- [x] https://github.com/chatwoot/chatwoot/issues/1021
- [ ] https://github.com/chatwoot/chatwoot/issues/1632
- [ ] https://github.com/chatwoot/chatwoot/issues/1109
- [

[2022-03-31 12:19] sojan-official commented on #4092
Closing this issue because of inactivity. Feel free to reopen if the issue persists

[2022-03-31 12:19] #4092 closed

[2022-03-31 13:11] marcel-necker commented on #3853
Here are a few things to consider:
- Compliance: As mentioned by @freddy36, this could be a compliance issue since a request is made to an external URL (gravatar.com) at repetitive intervals. This could potentially be used for tracking or analytics purposes (e.g. like Google Fonts does) that require an explicit user consent
- Aesthetics/Buggy: A request every minute which results in a 404 not foun

[2022-03-31 13:22] tejaswinichile commented on #4181
@pranavrajs where do we mention the attribute changed?
We have conversation.updated in place but we don't mention the data updated or any payload in the automation rule.

[2022-03-31 14:52] #3945 closed

[2022-03-31 14:54] #3887 closed

[2022-03-31 15:04] jaime-rivas commented on #3853
@sojan-official I concur with @marcel-necker

[2022-03-31 15:50] #4209 closed

[2022-03-31 18:28] jean-philippeansel commented on #1074
@sojan-official It would be even better if it was multilingual by design:

**English**
attachment - "[Filename.pdf](https://github.com/chatwoot/chatwoot/issues/Filename.pdf)" "[Another Filename.png](https://github.com/chatwoot/chatwoot/issues/Another_Filename.png)" "[A third Filename.pdf](https://github.com/chatwoot/chatwoot/issues/A_third_Filename.pdf)"

**French:**
Pièces jointes - "[Filename.pd

[2022-04-01 04:51] pranavrajs commented on #4228
@sojan-official This name is not just used in email, the name would be used in the widget & survey forms also. I believe the requirement for disabling the sender is different from this one and cannot be combined.

This approach might make it a little bit complex as we would need to one more attribute to store the name that needs to be displayed on the webwidget/surveys.

[2022-04-01 04:59] weppa-cloud commented on #2994
Would be useful for the Dialogflow bot update contact fields Like email or custom fields

[2022-04-01 05:04] weppa-cloud commented on #3759
Please @jordan-brough  would be very nice having Dialogflow CX integration

[2022-04-01 09:38] fayazara commented on #4107
Should there be an option to sort? or is it sorted alphabetically by default?

[2022-04-01 11:08] pranavrajs opened #4356 "Add support for new automation actions"
**Missing Actions:**

- Send Message
- Send Attachment
- Send email to team

**Missing Conditions:**

- Add conditions based on contact and conversations for all the events

@tejaswinichile To provide a sample payload, Postman collection, description about attributes.
@fayazara to work on a custom component to implement the actions.

[2022-04-01 11:31] ffroehlcke commented on #3853
@sojan-official Same here

[2022-04-01 12:33] jordan-brough commented on #3759
@weppa-cloud I don't know why you mentioned me on this?

<img width="949" alt="image" src="https://user-images.githubusercontent.com/23050/161263809-ab99c81d-6202-42e5-8dab-84670945c7e8.png">

[2022-04-01 15:11] pranavrajs commented on #4107
@fayazara Let us do a default alphabetical sort in the sidebar. If it is possible to add a sort option on the settings page, that would be good.

[2022-04-01 15:33] #4328 closed

[2022-04-01 15:56] pranavrajs commented on #4181
@tejaswinichile As discussed we just need to add the condition for attribute change.

 [ Attribute Changed ] - [Attribute Name] - [From] - [To]

From and To are optional.

[2022-04-02 13:21] jordan-brough commented on #4204
@sojan-official I've added some tests to #4242 and I've taken it out of draft mode. If y'all can take a look that would be great.

[2022-04-02 13:45] jean-philippeansel commented on #3620
Same here! It would be great to have working push notifications on Safari.

[2022-04-03 02:54] uhlhosting opened #4358 "Upgrade from 1.7.0 loosed all data"
**Describe the bug**

After upgrading from 1.7.0 version shipped with BTCPAYServer, data is lost.

I tried upgrading from 1.7.0 one step upgrade to next release and so on, after several hops, all data including agents and teams were gone.

Using docker deployment with the following code:

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to

[2022-04-03 10:13] gurjeetsinghvirdee opened #4359 "Auto Reply after fetching canned response"
**Is your enhancement request related to a problem? Please describe.**
I just started using chatwoot then I find a canned response but problem is that we can't send auto-responses to the user

**Describe the solution you'd like**
Can we somehow fetch the canned response data to auto-response, I m working on my project I added a chatwoot live integrated bot but if I ask something to a bot related t

[2022-04-04 04:09] harismateen opened #4361 "WhatsApp web integration"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Hi, Would like to integrate chatwoot with whatsapp via Online Live Support

**Describe the solution you'd like**
Able to connect with users via whatsapp web (send and received whatsapp messages)

**Additional context**
API Docs: https://onl

[2022-04-04 04:20] NitinNR opened #4362 "Why create new conversions even the conversation already created"
If the conversation already created by some integration why there is option in that contact details that is responsible for creating the new conversation again.

why need to create multiple conversations for the same contact (user)

[2022-04-04 05:00] pranavrajs opened #4363 "Automation Webhook Events Payload"
Automation webhooks have the following payload.

- Event name is of the format: `automation_event: event_name`.
- Event data doesn't contain which automation triggered the webhook.

**Todo:**

- [ ] Update the event so that it does not contain spaces in the name. For eg: `automation_event.message_created` or `automation_event:message_created`
- [ ] Add a key "automation", include the automation [i

[2022-04-04 05:16] pranavrajs commented on #4361
@harismateen We only support official Business APIs with WhatsApp. APIs built on top of WhatsApp web are unofficial ones. If you need an integration with Chatwoot, please explore the API channel interface to build one.

https://www.chatwoot.com/docs/product/channels/api/create-channel

[2022-04-04 05:16] #4361 closed

[2022-04-04 05:18] pranavrajs commented on #4359
Does this API help? @gurjeetsinghvirdee  https://www.chatwoot.com/developers/api/#tag/Canned-Response

[2022-04-04 05:21] pranavrajs commented on #4358
@uhlhosting There is too little information to debug from here. Can you please the following?

1. Did you loose all the conversations, contacts, everything in the database or just agent information?
2. "shipped with BTCPAYServer" - What does this mean? Were you using it with some other server?
3. Please describe the steps, commands you ran while upgrading the server.

[2022-04-04 05:30] pranavrajs opened #4365 "Yellow color shades are inconsistent"
After merging #4334, the yellow colors got changed and the colors are inconsistent in some places. Please see the following cases

1. Availability status should have a light shade, now it is seen in darker shade.
<img width="219" alt="Screenshot 2022-04-04 at 10 52 15 AM" src="https://user-images.githubusercontent.com/2246121/161479648-2afb2e08-40ab-4821-9071-70dc83b07c1e.png">

2. Snooze until, u

[2022-04-04 05:59] pranavrajs opened #4366 "Emoji Picker missing emojis"
<img width="355" alt="Screenshot 2022-04-04 at 11 26 34 AM" src="https://user-images.githubusercontent.com/2246121/161482386-4387ce17-dfb3-4513-a779-3e7d0e4280e6.png">

Platform: Mac OS Monterey 12.3
Browser: Firefox 98.0.2

**Todo:**

- [ ] Investigate new Unicode Emoji version
- [ ] Update to the latest version

[2022-04-04 06:08] pranavrajs opened #4367 "The notification count is wrong in the realtime-notification update"
The real-time notification update is returning the total number of notifications if the user has more than one accounts. It should only return the number of notifications in the current account.

**The problem:**

<img width="599" alt="Screenshot 2022-04-04 at 11 34 46 AM" src="https://user-images.githubusercontent.com/2246121/161483167-719bdf6e-14b6-4818-a2d3-ca9b163bd3a2.png">

As seen here the

[2022-04-04 06:25] startshineye opened #4368 "Modifying the files in the docker container restart does not take effect"
**Describe the bug**
self-hosted accoring to  https://www.chatwoot.com/docs/self-hosted/deployment/docker;when I Modifyed the /app/app/javascript/dashboard/i18n/locale/zh_CN/login.json in container and restart;

**Steps to reproduce the behavior**
1. Modifying the files in the docker container login.json
<img width="1345" alt="image" src="https://user-images.githubusercontent.com/19678129/16148514

[2022-04-04 06:28] pranavrajs opened #4369 "Notification object is sending too much information in the payload"
Notification Websocket event is sending too much information in the payload. As per the documentation update done [here](https://github.com/chatwoot/docs/pull/238/files#diff-3a92f5e20bf09c5e1ab46e7750ec2adafc8150d9159939e644b212fdc55b3a5cR474), it is returning messages in a conversation created/assigned event which is not desirable.

Please only include attributes that are absolutely necessary.

[2022-04-04 06:30] pranavrajs commented on #4369
@sojan-official Please review the payload for notification action cable events.

[2022-04-04 06:38] pranavrajs commented on #4368
@startshineye The frontend files are compiled using Webpacker. So if you are using a production docker image of Chatwoot, changing these files inside the container wouldn't make a difference as the app would be loading pre-compiled assets.

If you need to make a change in the file, you cannot use our official images. You would have to build the docker image locally using this [file](https://github

[2022-04-04 07:10] estellecomment opened #4371 "PII in logs"
**Describe the bug**
There is Personnaly Identifiable Information (PII) in logs.
(Maybe there are settings for this that I missed, thank you for your patience if it's the case ! This is our first chatwoot deployment.)

**To Reproduce**

Steps to reproduce the behavior:
1. Send an email to support from an email account that has never sent before
2. A new contact is created by chatwoot. The log says

[2022-04-04 07:20] estellecomment commented on #4371
cc @jdauphant @LucasCharrier @pli01

[2022-04-04 08:11] startshineye commented on #4368
@pranavrajs
1.Copy the Dockerfile to the root directory of chatwoot,then excute 'docker build -t chatwoot:1.0.0 .'
2.Error at step 13
 ERROR [pre-builder  7/13] RUN if [ "production" = "production" ]; then   bundle config set without 'development test'; bundle install -j 4 -r 3;   else bu  161.9s
<img width="1362" alt="image" src="https://user-images.githubusercontent.com/19678129/161501741-2f975f

[2022-04-04 08:28] uhlhosting commented on #4358
@pranavrajs

1. It seems reverting back to lower version shows agents back.
2.  BTCPay Server has some additional applications that can be installed sideway the app itself. The above is the config they use, yet that was made to run with chatwoot 1.7.0.
3. To upgrade I just replaced the release version in the above example.

[2022-04-04 08:30] pranavrajs commented on #4371
@estellecomment Would you be able to try setting LOG_LEVEL=error and see if it still produces logs with PII?

@sojan-official @vishnu-narayanan This would be a good place for us to start the efforts to standardize logging across Chatwoot.

[2022-04-04 08:33] pranavrajs opened #4374 "epic: Error Tracking & Logging"
- [ ] Standardize the logging framework in Chatwoot, create a common class for logs, and mask PII.
- [x] https://github.com/chatwoot/docs/issues/252
- [x] https://github.com/chatwoot/product/issues/367
- [ ] https://github.com/chatwoot/chatwoot/issues/4371
- [x] #4375
- [x] https://github.com/chatwoot/chatwoot/issues/4592
- [x] https://github.com/chatwoot/chatwoot/issues/4138

[2022-04-04 08:39] pranavrajs commented on #4358
@uhlhosting It seems like you have not migrated the database, hence this is not a bug or an issue. Please see the following steps to properly migrate the database and server.

1.7.0 is quite old. So I'm afraid you can directly change the version number to the latest and expect the app to work without issues. Please do a migration from 1.7.0 -> 1.8.0 -> 1.9.0 -> ... -> 2.3.2. It's time-consuming bu

[2022-04-04 09:04] #4367 closed

[2022-04-04 09:11] sojan-official opened #4375 "chore: Replace Sentry.capture_exception with Chatwoot.capture_exception"
At the moment we have `Sentry.capture_exception` throughout the code base, Replace these with a generic method like
`Chatwoot.capture_exception` so that people can use other error trackers than sentry as well.

ref: #4138

[2022-04-04 09:13] muhsin-k opened #4376 "chore: `agent_last_seen_at` field missing in conversation public API"
- `agent_last_seen_at` is required to calculate un read count

[2022-04-04 09:14] sojan-official commented on #4138
@Startouf Thanks for the report. we will consider this for upcoming sprints.

[2022-04-04 10:14] sojan-official commented on #4337
@aldhielman Thanks for the report. we will consider this for upcoming sprints.

[2022-04-04 10:29] sojan-official commented on #3620
## notes

The current implementation of push notifications in Chatwoot is done using `webpush` [api](https://www.w3.org/TR/push-api/) , which unfortunately safari doesn't support. So the current implementation for other browsers can't be extended for safari.
ref: https://github.com/zaru/webpush/issues/49

At the moment implementing push notifications for support will involve dedicated effort in th

[2022-04-04 10:46] sojan-official commented on #4302
duplicate: https://github.com/chatwoot/chatwoot/issues/3574

[2022-04-04 10:46] #4302 closed

[2022-04-04 10:52] sojan-official opened #4379 "epic: Campaigns"
# Issues

- [ ] https://github.com/chatwoot/chatwoot/issues/4201
- [ ] https://github.com/chatwoot/chatwoot/issues/4097
- [ ] https://github.com/chatwoot/chatwoot/issues/4026
- [ ] https://github.com/chatwoot/chatwoot/issues/3997
- [ ] https://github.com/chatwoot/chatwoot/issues/3624
- [x] https://github.com/chatwoot/chatwoot/issues/3574
- [ ] https://github.com/chatwoot/chatwoot/issues/3363
- [ ]

[2022-04-04 10:53] sojan-official opened #4380 "feat: email campaigns"
Ability to send email campaigns from chatwoot

[2022-04-04 10:57] sojan-official commented on #4346
@ammaraslam Thanks for the report. we will consider this for upcoming sprints.

[2022-04-04 11:39] tejaswinichile commented on #4181
[code]

@pranavrajs @fayazara I am going with the above-mentioned hash for the `attributed_changed` operation.

[2022-04-04 12:53] #4376 closed

[2022-04-04 13:07] voko3456 opened #4381 "unknown characters(????) in email channel"
please see this below image i think there's issue in email body  characters for Arabic language

![image](https://user-images.githubusercontent.com/20530550/161550164-c94d65de-70e1-4cc7-9128-f90c3a9fa019.png)

[2022-04-04 13:17] pranavrajs commented on #4381
@voko3456 Would it be possible to send the email export to hello@chatwoot.com? Here is a guide for the same. https://support.google.com/mail/answer/9261412?hl=en

@tejaswinichile Please take a note of this issue.

[2022-04-04 13:19] pranavrajs commented on #3574
@sojan-official I think this must be fixed via https://github.com/chatwoot/chatwoot/pull/4234

[2022-04-04 13:24] sojan-official commented on #4381
possible duplicate : https://github.com/chatwoot/chatwoot/issues/4094

[2022-04-04 13:36] pranavrajs commented on #4381
@sojan-official It could be a duplicate.

[2022-04-04 13:57] #4341 closed

[2022-04-04 16:16] colenh commented on #4118
im fairly sure that the provider i use, Sendgrid, uses basic authentication

https://docs.sendgrid.com/for-developers/sending-email/authentication

[2022-04-04 18:11] tejaswinichile commented on #4381
@sojan-official @pranavrajs I have sent the emails n this conversation: https://staging.chatwoot.com/app/accounts/3/conversations/2431

1. once by setting my Gmail language to Arabic
2. And second by directly copying the text from the internet and sent in while the Gmail language setting was set to English.

We do have support for UTF-8 characters, but as I was going through some documents, some m

[2022-04-04 19:18] uhlhosting commented on #4358
Ok,

So we moved and deployed fresh instance on caprover, yet it seems every time we make adjustements to .env variables and the app gets restarted, all images we setup previously for Chat team are gone. We would need to reupload it. We use local storage, and the default caprover deployment. Any ideas why this happends?

[2022-04-04 19:27] voko3456 commented on #4381
@voko3456 I already send it to hello@chatwoot.com

[2022-04-05 04:48] sojan-official commented on #4115
@giquieu It should be okay to add it to the webpack environment.

[2022-04-05 07:52] sentry-io[bot] opened #4386 "ActionView::Template::Error: undefined method `contact_last_seen_at' for nil:NilClass"
Sentry Issue: [CHATWOOT-23A](https://sentry.io/organizations/thoughtwoot-04/issues/3145175545/?referrer=github_integration)

[code]

[2022-04-05 07:59] sojan-official commented on #4094
closing in favor of https://github.com/chatwoot/chatwoot/issues/4381

[2022-04-05 07:59] #4094 closed

[2022-04-05 08:13] sojan-official commented on #3574
lets reopen if we get further reports then

[2022-04-05 08:13] #3574 closed

[2022-04-05 08:19] sojan-official commented on #4358
@uhlhosting ref: https://github.com/chatwoot/chatwoot/issues/1166

[2022-04-05 08:30] #4386 closed

[2022-04-05 10:06] vishnu-narayanan opened #4388 "Run gh action to generate a docker image for CE edition"

[2022-04-05 11:42] sojan-official commented on #682
closing in favor of https://github.com/chatwoot/chatwoot/issues/714

[2022-04-05 11:42] #682 closed

[2022-04-05 11:43] sojan-official commented on #2154
closing in favour of https://github.com/chatwoot/chatwoot/issues/714

[2022-04-05 11:43] #2154 closed

[2022-04-05 11:47] sojan-official opened #4395 "chore: Swagger Docs for Kbase Endpoints"

[2022-04-05 11:47] sojan-official opened #4396 "chore: Swagger docs for Contact Notes Endpoints"

[2022-04-05 12:29] uhlhosting commented on #4358
@sojan-official not sure how that helps. What I see there people having issues with local storage, we dont want to use S3 for it to work... So sorry the app clearly states the option to use local storage, that local storage does not work well. We can replicate the issue any time we restart tthe app. Super admin is lost, and it seems also the users avatar. Plus for more than 2 days continually tryi

[2022-04-05 12:37] uhlhosting commented on #3544
Same for us: Postal uses usernames in form user/domain not like usual emails, please fix or give workaround.

[2022-04-05 14:43] vishnu-narayanan commented on #3646
@manodiler We recommend running this on a fresh Ubuntu 20.04 machine. Could you check if you are getting the same on a 20.04 machine?

[2022-04-05 15:09] vishnu-narayanan commented on #3646
@GSY-PI @manodiler I am not able to reproduce the issue from my end. I just tried this on a fresh Ubuntu 20.04 instance.

[code]

Could you both try the following?

On a fresh Ubuntu 20.04 instance,

[code]

Answer `no` to both SSL and database setup options since we just want to verify the compilation.

[2022-04-05 15:30] thannaske opened #4397 "Missing slack messages from chat widget"
**Describe the bug**
I've tested the Slack integration with Chatwoot and unfortunately there seems to be an issue with the bridge between the chat widget on the website and the Slack channel. When starting a new conversation on the website via the chat widget, the thread gets created within the Slack channel. Also, when answering from a customer's point-of-view, all messages are getting piped into

[2022-04-06 02:04] ammaraslam opened #4400 "Searchable Chat ID from all chats & contacts"
**Describe the solution you'd like**
I'm not sure if this already exists but there should be conversation ID with every chat generated visible in chat details and a 🔍 button with All chats so that someone can directly access that specific chat thought chat ID without trying to find it in resolved/open chats.

**Problems it'd solve**
1. Straight forward way to find the required chats - one would on

[2022-04-06 05:31] skyycodes commented on #4201
@sojan-official
 For the first issue, we can take approval of the content from whatsapp.
And, for the second issue, it depends on the person/company using chatwoot. every company have it's own contact policy (sending whatsapp message in this case) in their t&c, privacy policy etc. They mention why and how they can contact the user in their policies.

[2022-04-06 07:06] #4381 closed

[2022-04-06 07:40] vishnu-narayanan commented on #4368
@startshineye Do not change the location of the Dockerfile. Make your required changes and build a new image like this.

[code]

[2022-04-06 08:24] #4350 closed

[2022-04-06 08:53] sojan-official commented on #4358
@uhlhosting  using `local_storage` in caprover is tricky because the underlying docker containers aren't persisting the stored assets.  For production, it is recommended to use a dedicated storage provider like AWS, Azure etc. and in case you want to use a self-hosted solution, we support Minio: https://www.chatwoot.com/docs/self-hosted/deployment/storage/supported-providers/#using-amazon-s3-compa

[2022-04-06 08:53] sojan-official commented on #3544
@entttom  @uhlhosting  We are working on a fix for this in our upcoming releases.

[2022-04-06 10:18] psschand16 commented on #4290
@sojan-official Thankyou so much.
It works now after the fix from https://github.com/chatwoot/chatwoot/issues/1618.

But one question , is the docker image compatible with arm64

[2022-04-06 10:37] uhlhosting commented on #3544
Any ETA time for this?

I just want to say, that this for me worked in past on version 1.7.0 the one that comes with btcpayserver. Anyhow, will wait for a fix for this.

[2022-04-06 10:37] sojan-official commented on #4290
@psschand16  not at the moment. we are tracking this over https://github.com/chatwoot/chatwoot/issues/2575
let's take the discussion forward over there if required.

[2022-04-06 10:37] #4290 closed

[2022-04-06 12:27] alceil commented on #2383
Can you assign me this @pranavrajs . I would like to work on it. And also can you point me to the file of the relevant code since the codebase is huge?

[2022-04-06 13:11] Austinstevesk commented on #4280
@vishnu-narayanan Yes, I was running both postgres and redis together.

I'm not sure what's up with this since I managed to create the base image and the web + worker images out of it.

[2022-04-06 15:44] #4388 closed

[2022-04-06 17:49] sojan-official commented on #4280
@Austinstevesk  have you made any customisations to the code ?

[2022-04-06 17:53] sojan-official commented on #3544
@uhlhosting  we are tracking this for  the upcoming release on April 15

[2022-04-06 18:37] #4369 closed

[2022-04-06 21:21] Austinstevesk commented on #4280
@sojan-official no, I just pulled it as it is. What I just did was create an image using the Dockefile provided, extended it to web and worker images but on running it I get the issues.

[2022-04-07 03:52] #4337 closed

[2022-04-07 03:55] aldhielman opened #4407 "Invalid installation URL"
I try to installed Chatwoot on mobile device (Android and iOS), I'm using self-hosted server,  I've set server url to my domain but when i try to set on my android device  i get response "Invalid Instalation URL". on iOS device it works perfectly

Thanks

[2022-04-07 04:31] #4107 closed

[2022-04-07 04:53] #4264 closed

[2022-04-07 05:43] iprithvitharun opened #4408 "Grammatical mistakes in the "Enable channel greeting" field"
**Is your enhancement request related to a problem? Please describe.**
* Grammatical mistakes in the description. Subject pronoun **they** (plural) contradicts the verb **starts** (plural).

**Describe the solution you'd like**
Make the verb used (starts) singular.

**Additional context**
![Screenshot 2022-04-07 at 11 07 06 AM](https://user-images.githubusercontent.com/58725708/162128530-7293a7c4-

[2022-04-07 08:03] nithindavid opened #4409 "enhancement: Expanded reply box should not close when clicked outside"
While using the expanded reply box to compose a big message, The reply box will close if I accidentally click outside the reply box area or the backdrop. It's behaving similar to a modal now, would be better not to close it automatically.

@pranavrajs @sojan-official @fayazara Thoughts ?

[2022-04-07 08:08] muhsin-k commented on #4318
I am thinking of using [vue-dompurify-html](https://github.com/LeSuisse/vue-dompurify-html) for sanitizing the HTML content. It is a small wrapper around `DOMPurify`.

[2022-04-07 08:09] muhsin-k commented on #4318
@pranavrajs @nithindavid I am thinking of using [vue-dompurify-html](https://github.com/LeSuisse/vue-dompurify-html) for sanitizing the HTML content. It is a small wrapper around `DOMPurify`. Any thoughts?

[2022-04-07 09:37] pranavrajs commented on #4318
@muhsin-k Looks fine to me, please see if the dom purify versions match.

[2022-04-07 09:39] pranavrajs commented on #4409
@nithindavid I'm not sure about the outside click, Stick box seems good to me, but I would prefer to keep the behaviour of closing it with an ESC button.

[2022-04-07 09:47] fayazara commented on #4409
Only close it via ESC or clicking on the close button?

[2022-04-07 09:51] pranavrajs commented on #4409
@fayazara I mean both, sorry I was not clear before.

[2022-04-07 12:04] daedeloth opened #4410 "Automatically 'open' ticket when agent writes an answer"
**Is your feature request related to a problem? Please describe.**
We have Dialogflow setup to automate answering the most commong questions. We also have Slack setup to be able to answer questions from within slack. We always monitor the pending (automated) messages, and we intervene when the chatbot isn't being very helpful.

However, when an agent writes a message from slack, the ticket stays i

[2022-04-07 12:57] sojan-official commented on #4410
@pranavrajs  @tejaswinichile  potential use case for automation?

Event:
- Message created
condition:
- Conversation status pending
- Message author type: agent ( agent array )
Action:
- Change conversation status

[2022-04-07 13:17] Ersonusaini commented on #4410
Contact me Install chatwoot on any cloud vps server like aws or gcp or digitalocean etc.
https://wa.me/+919782533298

[2022-04-07 13:19] nithindavid opened #4411 "Add helper text for custom fields in contact sidebars"
![image.png](https://uploads.linear.app/2847f7b9-2caa-474c-b261-1c9bdc2a5da6/ec4d7705-bf58-49fc-abd3-077155a91831/77f3c538-5de3-4872-a255-c049548c9673?signature=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXRoIjoiLzI4NDdmN2I5LTJjYWEtNDc0Yy1iMjYxLTFjOWJkYzJhNWRhNi9lYzRkNzcwNS1iZjU4LTQ5ZmMtYWJkMy0wNzcxNTVhOTE4MzEvNzdmM2M1MzgtNWRlMy00ODcyLWEyNTUtYzA0OTU0OGM5NjczIiwiaWF0IjoxNzEzOTI2NDY5LCJleHAiOjMzMjg0ND

[2022-04-07 13:27] Vadorequest commented on #4411
It looks great!

If it can support Markdown, it'd be even better, as we could add links within the description. (assuming we could click on those), but that's a "nice to have" IMHO.

[2022-04-07 13:59] vishnu-narayanan commented on #4280
@Austinstevesk This is because your worker docker file has both `ENTRYPOINT` and `CMD` defined. Could you rebuild your worker image with this change and try again?

Worker Dockerfile:
[code]

[2022-04-07 16:07] nithindavid opened #4413 "Enhancement: Add keyboard shortcut helper for woot-button"
<img width="947" alt="image" src="https://user-images.githubusercontent.com/1277421/162248140-1267e0fe-9961-4fe5-9f10-9e62f976012f.png">

@fayazara @pranavrajs @sojan-official Thoughts?

[2022-04-07 17:34] iammattmartin opened #4415 "Facebook / Twitter"
We are repeatedly seeing both Facebook and Twitter just stop working. There is no feedback when this happens and our configuration (keys etc) has not changed.

Again we've had to re-connect Facebook and we then lose all historic messages received since the link was broken (i.e they show in Facebook only). There must be a better way to check and notify of this instead of a link at the bottom of Faa

[2022-04-07 17:50] iammattmartin commented on #4415
+ and it seems on Twitter, the webhook is registered on Inbox add (as it appears deleted on removal) which fixes it but you cannot re-add an existing twitter account as would be the only way to refresh it. Deleting the inbox to re-add is not viable!

[2022-04-07 18:05] tejaswinichile commented on #4415
@iammattmartin I suppose this is the self-hosted version?
If you have your Twitter and Facebook apps, can you check recent errors in your Facebook app? You can find it on the Messenger settings page. And make sure the business settings are correct for the page as the app can manage the page.

For Twitter, I will try to reproduce the above issue if you could elaborate more when that appears. If you

[2022-04-07 18:10] iammattmartin commented on #4415
It is.

There were no errors in the Facebook app. Re-linking has fixed it, as it always does but we lose the message timelines.

For twitter, that error happens when you try and re-add the same twitter account to fix the re-linking. The only way to fix a Twitter account is to delete it and re-add it which then immediately works. It's not viable for this to be done when there are messages attached

[2022-04-07 18:37] Austinstevesk commented on #4280
@vishnu-narayanan, perfect, this worked like a champ. Thank you.

[2022-04-07 19:28] #4280 closed

[2022-04-07 19:43] head-dunce commented on #703
Is there a way to get a more annoying sound when a website chat comes in? It seems to just make a little click noise. My previous chat would make a doorbell ringing sound over and over until I ran back to the computer and interacted with the person. I'm often doing things around the office and won't hear that little click.

[2022-04-07 22:20] iammattmartin commented on #4415
As an aside, it would be good to know how to re-initiate the webhooks call to Twitter without having to delete/re-add an account.

[2022-04-08 02:41] mane06 opened #4417 "Quitar Powered by Chatwoot"
Hello, first of all I want to say that Chatwoot is a great software, and I would like to know if there is a way to remover Powered by Chatwoot del widgetincrustado con el sdk?

![IMG_20220407_214033](https://user-images.githubusercontent.com/50756282/162352450-794c2b45-616d-41cd-9a02-071d1859f18d.jpg)

[2022-04-08 05:28] tejaswinichile commented on #4415
Sure, we would take it as an investigation ticket for the upcoming sprints, @iammattmartin  Thanks for the detailed research on the issue. 👍🏼

[2022-04-08 05:46] pranavrajs commented on #4417
@mane06 You can edit the code to remove it. Closing this here as this is not an issue.

[2022-04-08 05:46] #4417 closed

[2022-04-08 05:50] #4151 closed

[2022-04-08 06:15] nithindavid opened #4418 "enhancement: persistent assign to me banner on conversation"
**The problem**

https://user-images.githubusercontent.com/1277421/162375496-a14c097e-cd22-41f9-ac7c-8ddb2c09a61f.mov

Also current logic is very primal and doesn't make much proactive appearance according to situations where it could be shown.

**Cases when the banner could be shown**

1. When conversation is unassigned
2. When conversation is assigned to another agent but no agent has sent any m

[2022-04-08 07:06] nithindavid opened #4420 "enhancement: Multilingual support welcome title and intro text"
![image](https://user-images.githubusercontent.com/1277421/162382580-749f1332-b5f8-4077-939c-97c501c3eaa6.png)

@pranavrajs @sojan-official thoughts?

[2022-04-08 07:16] pranavrajs commented on #4420
Duplicate https://github.com/chatwoot/chatwoot/issues/1374

[2022-04-08 07:16] #4420 closed

[2022-04-08 07:18] #3446 closed

[2022-04-08 09:10] sojan-official commented on #703
@head-dunce  tracking this over : https://github.com/chatwoot/chatwoot/issues/2983

[2022-04-08 09:17] sojan-official commented on #4181
@tejaswinichile We will have to make some changes to the condition filter service I believe for us to accommodate this feature. Rather than the current model where we query all the conversations where the rules match and then check whether the conversation is present in that array,  we would have to switch to a model where we validate the object against each rule.

another option would be to intro

[2022-04-08 09:27] sojan-official commented on #4111
closing in favor of #4210

[2022-04-08 09:27] #4111 closed

[2022-04-08 09:29] sojan-official commented on #3789
@iammattmartin  are you still facing this issue ?

[2022-04-08 09:33] sojan-official commented on #3233
closing this based on the recommended solution. lets reopen if the issue persists

[2022-04-08 09:33] #3233 closed

[2022-04-08 09:36] iammattmartin commented on #3789
Yup. Has not changed.

[2022-04-08 09:38] sojan-official commented on #2180
Closing this issue because of inactivity. Feel free to reopen if the issue persists

[2022-04-08 09:41] sojan-official opened #4424 "Epic: Widget Improvements"
## Issues

- [ ] https://github.com/chatwoot/chatwoot/issues/3329
- [ ] https://github.com/chatwoot/chatwoot/issues/4335
- [ ] https://github.com/chatwoot/chatwoot/issues/4299
- [ ] https://github.com/chatwoot/chatwoot/issues/4289
- [ ] https://github.com/chatwoot/chatwoot/issues/4287
- [ ] https://github.com/chatwoot/chatwoot/issues/4233
- [ ] https://github.com/chatwoot/chatwoot/issues/4026
- [

[2022-04-08 10:48] sojan-official opened #4426 "feat: Reoccurring Campaigns"
customer request: reoccurring SMS or email campaigns for cases like weekly or monthly appointments

[2022-04-08 16:24] voko3456 opened #4430 "Auto delete users associated with acount after deleting account from super admin"
Auto delete users associated with acount after deleting account from super admin

[2022-04-08 17:48] aswindevps commented on #4118
SMTP authentication mechanisms.

- PLAIN
- LOGIN
- CRAM-MD5
- XOAUTH
- XOAUTH2
- NTLM
- GSSAPI

[2022-04-08 19:44] arstahl opened #4432 "Bot Messages delivery isn´t natural like human would do it"
we have installed the self hosted Chatwoot solution, now we have developed a Chatbot in Dialogflow. Through the Chat window, we are getting back the messages.
The problem is, that the message  delivery in the chat window  isn't  natural like a human would answer on it.

We know that in Dialogflow is the setting but Chatwoot can't handle it. So we need a solution for it in coding.

[2022-04-08 23:26] ammaraslam opened #4433 "Inbox and label in automation condition"
**Describe the solution you'd like**
@tejaswinichile @sojan-official  Can we add inbox - label tab in automation conditions? so that actions can be performed on specfic inbox and labels as well - what I'm tryna do is utilize send transcript on this 1 inbox when condition will be met.

[2022-04-09 07:20] alexanderadam commented on #2180
Some modal libraries or other extensions are setting Z-index as well.
Thus it would make sense to have it configurable for Chatwoot to avoid interfering.

[2022-04-10 07:48] ChrisvanChip commented on #4432
I had the same, it doesn't really feel natural because you get a wall of text instantly.

The solution to this: **Delay responses naturally**

Simulate a 120 WPM employee by letting the bot show a "typing" state and then sending the received response (with a delay).

Typing indicators for chatbots has even been researched for its effectiveness:
[The Role of Typing Indicators in Human-Chatbot Inter

[2022-04-10 10:35] arstahl commented on #4432
@ChrisvanChip Hi thank you a lot. Where I can do the setting?

[2022-04-10 16:10] ChrisvanChip commented on #4432
@arstahl It doesn't exist currently, so this issue should be considered as feature request 😅

[2022-04-11 06:02] pranavrajs opened #4436 "Draft messages introduces random characters in the reply box"
Draft messages feature adds a random character if `\` is present in the message content.

**To reproduce:**

- Switch to the branch which has a draft messages feature
- Type some text and add `\`, wait for a second (or click outside)
- Start typing again.

**Interim fix**: I have reverted the feature for now

[2022-04-11 06:11] pranavrajs opened #4437 "Page zooms in if we click on pre-chat form input"
<img width="411" alt="Screenshot 2022-04-11 at 11 39 48 AM" src="https://user-images.githubusercontent.com/2246121/162675287-82b3730a-602c-416c-b58f-3f8113b2f003.png">

Context: https://app.chatwoot.com/app/accounts/1/conversations/14253

[2022-04-11 06:54] vishnu-narayanan commented on #3646
Please reopen if the issue persists.

[2022-04-11 06:54] #3646 closed

[2022-04-11 07:05] #4311 closed

[2022-04-11 08:59] kamran2hameed commented on #4235
Hi @sojan-official, when this will be done. any time estimate. it's urgent for me.

[2022-04-11 10:13] #4118 closed

[2022-04-11 12:11] sojan-official commented on #3868
findings:  at the moment for SMTP emails the conversation continuous threads will break when `MAILER_INBOUND_EMAIL_DOMAIN` environment variable wasn't configured.

https://github.com/chatwoot/chatwoot/blob/1194188f135a0b7e59e6db1471e7a5781dde6ba8/app/mailers/conversation_reply_mailer.rb#L131

https://github.com/chatwoot/chatwoot/blob/1194188f135a0b7e59e6db1471e7a5781dde6ba8/app/mailers/conversatio

[2022-04-11 14:07] #3544 closed

[2022-04-11 14:07] #4218 closed

[2022-04-12 02:02] aldhielman opened #4444 "Unable Team Collaboration"
Supposed I have chat from customer on Inbox A, but unfortunately i can handle those chat so i assign those conversation to Team ZZZ, but the member of the Team ZZZ have no access on Inbox A. It's make my assignmet to Team ZZZ cannot "delivered" to Team ZZZ (either the member) and they cannot handle those conversation.

Did I miss something ?
How make it possible to Team ZZZ participate on those co

[2022-04-12 04:34] tejaswinichile opened #4445 "Facebook app review for Human agent"
To send message outside of the standard message window Instagram needs to have advanced access to Human-agent permission

Refer: #3722

[2022-04-12 05:09] muhsin-k opened #4446 "chore: Sync pre-chat fields on custom attribute destroy"
Currently, the field from pre-chat is not deleting when we remove custom attribute. Add a job to clear custom field from all widget pre-chat fields if custom attribute removed.

[2022-04-12 05:14] muhsin-k opened #4447 "chore: Add `custom_attributes` in `campaign.triggered` event"
Add the support for parameter `custom_attributes` in `campaign.triggered` event in order to update attributes in campaign execution

[2022-04-12 06:22] sentry-io[bot] opened #4449 "TypeError: Failed to fetch"
Sentry Issue: [CHATWOOT-1ZY](https://sentry.io/organizations/thoughtwoot-04/issues/3114377880/?referrer=github_integration)

[code]

[2022-04-12 06:34] sentry-io[bot] opened #4450 "Koala::Facebook::ClientError: type: OAuthException, code: 230, message: (#230) User consent is required to access user profile,..."
Sentry Issue: [CHATWOOT-1NC](https://sentry.io/organizations/thoughtwoot-04/issues/2904876710/?referrer=github_integration)

[code]

This is a user consent issue when users used to follow the page but now they unfollowed it.
This happens when the user blocks the Facebook page or Instagram business account.

[2022-04-12 06:38] gulsenkeskin opened #4451 "Installing Chatwoot via Linux VM Script"
I'm trying to install chatwoot by following the steps in the https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm link.

But after running the ./install.sh master command, I get the following error.

![image](https://user-images.githubusercontent.com/63197899/162896459-7ce786b1-ad32-4213-886d-276f40185688.png)

![image](https://user-images.githubusercontent.com/63197899/162896279-067a6fa4

[2022-04-12 06:50] vishnu-narayanan commented on #4451
@gulsenkeskin It looks like you are running the script as a normal user. The script needs to be run as `root`. Could you try again as `root` user?

[2022-04-12 08:05] gulsenkeskin opened #4452 "Installing Chatwoot via Linux VM Script"
I'm trying to install chatwoot by following the steps in the https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm link.

But after running the `sudo -i -u chatwoot` command, I get the following error.

![image](https://user-images.githubusercontent.com/63197899/162911884-a603f3ed-48cb-41ba-b5ad-8541770fcfde.png)

[2022-04-12 08:39] #4452 closed

[2022-04-12 08:52] sojan-official commented on #4432
Thanks for sharing the feedback on this. We have APIs to stimulate typing indicators, we will have it updated in the documentation. We will also look into the built-in integration like Dialogflow and see how we can improve the flow

[2022-04-12 10:19] pranavrajs commented on #4268
Closing this as the docker builds are complete and omnibus installation would be tracked over https://github.com/chatwoot/product/issues/204

[2022-04-12 10:19] #4268 closed

[2022-04-12 10:27] pranavrajs commented on #3846
@nithindavid Please work on the design and UI flow for this ticket this sprint.

[2022-04-12 12:23] sojan-official opened #4454 "chore: Show appropriate error message in frontend when twitter authorization fails"
At the moment we are redirecting users to the inbox page even if the authorization flow back to the inbox page without showing an appropriate error message. We should display appropriate error messages to let the user know what went wrong

[2022-04-12 12:29] vishnu-narayanan opened #4455 "add ability to enable and disable official channels"
**Is your feature request related to a problem? Please describe.**
Allow self-hosted users to enable/disable various channels. Facebook, Twitter and the likes have a lengthy approval process and it will be a much better user experience to enable channels once it is fully functional.

**Describe the solution you'd like**
Global setting to enable/disable certain channels viz Facebook, Twitter, Whats

[2022-04-12 13:39] sojan-official commented on #4455
note: Disable Email channel forwarding method unless conversation continuity is configured.

[2022-04-12 14:04] tejaswinichile opened #4457 "Tech: Remove #status_update from Automation and user #update"

[2022-04-12 14:56] pranavrajs opened #4458 "Add Custom Attributes support in automation"
- Update the UI to support custom attributes for conversation / contact.

[2022-04-12 14:59] pranavrajs opened #4459 "Support contact/conversation attribute conditions in event"
- For message events, we need to support conditions with conversation and contact attributes.
- For conversation events, we need to support conditions with contact attributes.

@tejaswinichile

- Create a Loom video explaining the API.
- Share the API spec and sample payload for all the events.

Todo:

- Implement the UI with all the conditions.

Order: Message -> Conversation -> Contact

[2022-04-12 15:03] nithindavid opened #4460 "enhancement: Support embeddable URL for livechat widget in settings page"
Currently to embed chatwoot widget in a block or as an independent page we need to enable popout chat. [Sending Information into Chatwoot | Chatwoot](https://www.chatwoot.com/docs/product/channels/live-chat/sdk/setup#enable-popout-window) And from the window that open up, We need to copy the url and use it within your frame.

<img width="1253" alt="image" src="https://user-images.githubusercontent

[2022-04-12 15:10] ChrisvanChip commented on #4432
@sojan-official Would it be possible to add a 2 second delay to each bot message? This would already improve the experience a lot.

[2022-04-12 15:12] pranavrajs commented on #4458
@tejaswinichile Please share a sample API spec/payload and a loom video here as well.

[2022-04-12 15:23] pranavrajs opened #4461 "Spike: Implement the multiselect in custom filters, automations"
The attribute list is quite long, it would be good if users can search for the attributes while applying a filter or adding a new automation.
**Todo:**
- Investigate the effort required to implement the multi-select component for this usecase

[2022-04-12 19:28] maartenvn opened #4464 "Fetch old conversations when inside an IFrame"
**Is your feature request related to a problem? Please describe.**
My team is trying to embed the widget directly into our application without using the SDK using an IFrame.

However because of the line below the old conversations for the user with given `cw_conversation` token are not fetched.
https://github.com/chatwoot/chatwoot/blob/923b4637db3d255da9607b0b60206c23d4cee02c/app/javascript/widget

[2022-04-12 19:59] #3875 closed

[2022-04-13 03:01] hisunnymay opened #4466 "Incorrect query parameter in API documentation"
**Describe the bug**

When I tried to use the query parameter`report_type` descibed in [Get Account reports summary(API)](https://www.chatwoot.com/developers/api/#operation/list-all-conversation-statistics), I got response:
[code]
However, when I changed `report_type` to `type`, I got response:
[code]
It seems that  [Get Account reports summary(API)](https://www.chatwoot.com/developers/api/#operat

[2022-04-13 06:14] gulsenkeskin opened #4467 "Installing Chatwoot via Docker Compose"
When I run `docker-compose up -d ` on https://www.chatwoot.com/docs/self-hosted/deployment/docker link I get a 302 response
![image](https://user-images.githubusercontent.com/63197899/163111674-fbc64dd4-1567-4656-bf6a-c6bd474d9544.png)

When I paste the http://localhost:3000/installation/onboarding link into the browser, I get the response "This site cannot be reached. localhost refused to connect

[2022-04-13 06:32] aldhielman opened #4468 "Cannot Retrieve Long-duration Video Attachment on Whatsapp Channel"
**Describe the bug**
Agent can't see video attachment that over 30 second

**To Reproduce**

Steps to reproduce the behavior:
1. Customer sent video attachment that have over 30s duration
2. Agent can't see those file (No content available)

**Expected behavior**
Agent be able to see those video attachment at any duration/size as long as server still have storage left

**Server logs**

On sentry i

[2022-04-13 06:34] #4409 closed

[2022-04-13 07:08] vishnu-narayanan commented on #4466
@hisunnymay Hey, thank you for reporting this. Would you like to raise a PR to fix this issue?

[2022-04-13 07:14] vishnu-narayanan commented on #4467
@gulsenkeskin Welcome to Chatwoot. Please try to use the issue templates when creating issues. This helps us to understand and respond to your issue with better clarity.  Also, it would be best to avoid screenshots when sharing logs/errors and post them as text(This makes it searchable and improves readability for everyone involved).

[2022-04-13 07:16] vishnu-narayanan commented on #4467
This information is not enough to debug.

1. Could you share the output of `docker ps` ?

[2022-04-13 09:01] pranavrajs opened #4469 "Custom Fields Followup"
- [x] https://github.com/chatwoot/chatwoot/pull/4456
- [x] https://github.com/chatwoot/chatwoot/pull/4463
- [x] When setUser is used, pre-chat forms are not visible.
- [x] After setUser, user information is asked again in the pre-chat form if the campaign is clicked.
- [x] Dark mode colors - Checkbox bg and Date Icon
![image](https://user-images.githubusercontent.com/2246121/163142043-faee0c2d-976

[2022-04-13 10:18] pranavrajs commented on #3972
- [ ] Research about the popup plugin
- [ ] Fix the UI in the profile
- [ ] Check if the private note is following the same pattern
- [ ] Use the same settings for normal editor as well.

[2022-04-13 11:30] gulsenkeskin commented on #4467
![image](https://user-images.githubusercontent.com/63197899/163169242-58151114-b81e-4422-a681-afebd0a976b3.png)
i had to send an image because copy paste didn't work

[2022-04-13 13:32] tejaswinichile commented on #4457
Fixed by https://github.com/chatwoot/chatwoot/pull/4442

[2022-04-13 14:22] gulsenkeskin commented on #4467
I am trying to install on ubuntu server 20-04 in virtual machine

[2022-04-13 14:38] gulsenkeskin commented on #4467
Yes I am trying to access from the host machine. I will try. Thank you

[2022-04-14 00:53] jose632silva opened #4472 "Personalization"
Hello good night, does anyone know if it is allowed to put the client's logo?
Just like the name?
And if so, do you have any tutorials about it?
Grateful!

[2022-04-14 01:30] jose632silva commented on #2559
How to access the database?
Please!

[2022-04-14 06:30] gulsenkeskin commented on #4467
When I tried curl -I 127.0.0.1:3000/installation/onboarding I got 200 ok results. Maybe someone needs it.

[2022-04-14 06:31] #4467 closed

[2022-04-14 07:34] sojan-official commented on #4127
closing in favor of https://github.com/chatwoot/chatwoot/issues/4115

[2022-04-14 07:34] #4127 closed

[2022-04-14 07:54] tejaswinichile commented on #4356
- [ ] new endpoint to upload_attachment

[2022-04-14 08:06] #4356 closed

[2022-04-14 08:07] lkhagvasurenAm commented on #1222
Does someone know how to fix this error?
![error](https://user-images.githubusercontent.com/67008920/163342060-12ccd6e5-1aa0-4d79-870e-4ee567ba9888.png)

[2022-04-14 08:46] pranavrajs opened #4474 "Automation followup issues"
- [ ] Muting the conversation via automation is not generating an activity message.
- [ ] Webhook events should not send pubsub_token.
- [ ]  Assignee list is not available in Conversation Updated - Agent API is not called
- [ ] Do we need to consider the activity message

cc: @sojan-official @tejaswinichile @fayazara

[2022-04-14 09:43] sojan-official opened #4476 "bug: typing indicator not working on website widget"
debug why typing indicator not working on website widget

[2022-04-14 12:52] sojan-official commented on #4235
@kamran2hameed did you try deleting the inboxes in chatwoot and reconnecting? it didn't work after that?

[2022-04-14 12:53] sojan-official commented on #2383
@alceil  you can look into adding validation in

https://github.com/chatwoot/chatwoot/blob/develop/app/models/integrations/hook.rb

[2022-04-14 12:53] sojan-official commented on #4408
@iprithvitharun  thanks for reporting, we will take this up in upcoming releases

[2022-04-14 13:18] mattiamarras opened #4477 "Contact import"
Hi, why importing the sample file of the contact the phone number is imported as Contact Attribute and not as Contact Phone Number? Where is the problem?

![image](https://user-images.githubusercontent.com/62311149/163398775-53362452-6306-43b6-b186-8d8b1fc5e238.png)

[2022-04-14 13:18] sojan-official commented on #4444
@aldhielman we can consider an enhancement not to list the teams in the assignment list if none of its members has access to that inbox

[2022-04-14 13:19] #4477 closed

[2022-04-14 13:23] sojan-official opened #4478 "epic: Automations"
Tracking various community requests related to automation

- [ ] https://github.com/chatwoot/chatwoot/issues/4433
- [x] https://github.com/chatwoot/chatwoot/issues/4459
- [x] https://github.com/chatwoot/chatwoot/issues/3951
- [ ] https://github.com/chatwoot/chatwoot/issues/4542
- [x] https://github.com/chatwoot/chatwoot/issues/4590
- [x] https://github.com/chatwoot/chatwoot/issues/4717
- [x] https

[2022-04-14 13:23] sojan-official commented on #4433
@ammaraslam  We will consider this for upcoming releases.

[2022-04-14 13:26] sojan-official commented on #4460
ref: https://github.com/chatwoot/chatwoot/issues/4464

[2022-04-14 13:28] sojan-official commented on #4468
@aldhielman  chatwoot prevents requests from running over 15 seconds. So i guess this error is related to that. We will take a look into this in upcoming releases.

[2022-04-14 13:31] sojan-official commented on #4430
closing in favor of https://github.com/chatwoot/chatwoot/issues/1925

[2022-04-14 15:39] gtmadev commented on #1374
Options via the JS SDK would be ideal. That way, you can implement any client-side i18n solution and set the options via those frameworks. Would yield the greatest flexibility.

[2022-04-15 05:00] voko3456 commented on #3772
@pranavrajs @nithindavid please any update to this

[2022-04-15 05:02] #4141 closed

[2022-04-15 11:08] mattiamarras opened #4481 "bug: Files in Whatsapp arrives with a different name"
Hi, if I send a file via WhatsApp to the end customer it arrives with a different name (null.pdf or Untitled).

[2022-04-15 15:53] Rarora86 opened #4489 "Not getting messages from FB page"
**Messages are not coming into Chatwoot for one of the Facebook page**

We have around 9 FB pages synced with Chatwoot and suddenly on March 29, 2022, messages stopped coming from one our FB page 'Tier5' into Chatwoot. Page URL https://www.facebook.com/tier5development

I deleted that inbox and recreated it. Still the issue was there.
As suggested by Pranav and Tejaswini, I checked the permissions

[2022-04-15 16:16] alceil commented on #2383
Okay thanks @sojan-official

[2022-04-16 05:12] shivamsinghchahar commented on #4466
@vishnu-narayanan Can I take this up?

[2022-04-16 07:40] Auraya86 opened #4490 "Chat Button change Icon"
I need to change the "Chat Button Icon" on the website as the first entry point for the user.  Is there already an option in the settings or is there a parameter for the chatwoodSDK to use a fontawesome icon or custom defined svg ?

Sadly, I can't find anything in the handbook or in the chatwood app settings.

I would be very excited if you could  provide me further information.

Best regards,

Au

[2022-04-16 09:40] hisunnymay commented on #4466
@vishnu-narayanan I tired to find the `QUERY PARAMETERS` defined in API documentation but it seems that there is no definition for `QUERY PARAMETERS` in [Summary API](https://github.com/chatwoot/chatwoot/blob/develop/swagger/paths/application/reports/summary.yml)

I am sorry but I don't know how to fix the issue because I don't know where I can fix it.

![image](https://user-images.githubuserconte

[2022-04-16 19:44] supriyapalaparthi98 opened #4491 "Chatwoot Production database uas unable to create"
![image](https://user-images.githubusercontent.com/81329368/163689260-ae123d2b-c75d-4090-ba98-7fb0cbeca752.png)

A clear and concise description of what the bug is.

I was trying to install chatwoot through docker using this link https://www.chatwoot.com/docs/self-hosted/deployment/dockerwhile installing I was getting this error

[2022-04-17 06:38] shivamsinghchahar commented on #4466
Raised a fix, please let me know if I'm missing something.

cc @vishnu-narayanan @sojan-official

[2022-04-17 06:43] shivamsinghchahar commented on #4183
Is this still being worked on? Can I take this up if not?

cc// @muhsin-k

[2022-04-18 06:08] #4466 closed

[2022-04-18 07:10] tejaswinichile commented on #4489
@Rarora86

1. Can you make sure the Instagram account is not the owner of any of the other pages.
2. We are not able to get any events from Facebook for this particular page, can you verify since what is the difference between this page and other pages? Like as permission, ownership, and Instagram connectivity.

cc @sojan-official

[2022-04-18 07:29] sojan-official commented on #4183
@shivamsinghchahar  I have updated the assigment. Thanks for picking this.

[2022-04-18 07:37] sojan-official commented on #4491
@supriyapalaparthi98  have you completed step 3 ?
[code]

You will need to have PostgreSQL and Redis installed in your server and the values need to be updated in `.env` file. I can see that the docs can be a little confusing, we will have it updated.

[2022-04-18 08:36] #4446 closed

[2022-04-18 11:30] sojan-official commented on #4490
@Auraya86  Thanks for creating the issue. At the moment it is not possible through SDK or a setting.  We will track this for future releases.

[2022-04-18 13:35] #4476 closed

[2022-04-18 16:18] arstahl commented on #4432
@sojan-official Thank you

[2022-04-18 17:16] ammaraslam opened #4501 "Toggle to hide the sidebar"
The toggle to hide the sidebar only appears when zoom is set on 125 or higher than that, but shouldn't it be there regardless of what the browser zoom is to achieve the cleaner look, as the sidebar doesn't concern agents - they only handle chats but the chat window is kinda small.

https://user-images.githubusercontent.com/99071637/163845195-ed3cc2e7-5140-489a-b0d5-f02d8210639c.mp4

Gmail new UI i

[2022-04-18 18:50] voko3456 opened #4504 "Automation Bug : send message action was send without event trigger"
bug description
we create rule base  chatbot with automation rules

example if customer press 1 we will send -> hello
if he press 2 we send -> hi

 we create event message created and conditions = message type = incoming & message content = 1 or message content = ١ ( ١ =1 in arabic)

issue 1 : the issue is when customer start chat the send message is working fine but some times the send message ac

[2022-04-18 19:03] pranavrajs commented on #4504
@voko3456 Would you be able to share some of the screenshots of such a conversation, it would be helpful to debug this faster.?

[2022-04-18 19:15] voko3456 commented on #4504
![Screenshot_20220418-221413_WhatsAppBusiness](https://user-images.githubusercontent.com/20530550/163862810-546c57d0-f0f3-4a33-8278-e6943bf622d7.jpg)
@pranavrajs

[2022-04-18 22:45] Rarora86 commented on #4489
@tejaswinichile This is a Facebook page and it is not connected with any Instagram account.
![image](https://user-images.githubusercontent.com/103764897/163888709-d0ffa48f-8b2a-40a3-897b-4cc112860a53.png)

The permission for this 'Tier5' page is same as our other Facebook pages. As far as ownership is concerned, I am the 'Admin' for the Tier5 page and the 'Editor' for the rest of our pages.
![imag

[2022-04-18 23:24] voko3456 commented on #4504
This live video for the issue : https://res.cloudinary.com/dxf8gs73d/video/upload/v1650324096/021722-720x1600_j7knbj.mp4

[2022-04-19 00:35] Automated-Ninja commented on #4088
I have also encountered this bug running Chatwoot 2.4.0. Everything is exactly as ChrisvanChip described it - I can create SuperAdmins with no issue in the ruby console, however, I am unable to log in via <my.domain>/super_admin, the page simply refreshes with no error or message.

Environment
Digital Ocean VM running Ubuntu 20.04 (LTS) x64 - Chatwoot version 2.4.0
- 4vCPU
- 8 GB memory
- 160 GB S

[2022-04-19 02:41] Automated-Ninja opened #4505 "SuperAdmin page cannot be accessed. Login attempts simply refresh the page."
I have encountered a similar issue to the one that occurred in issue #4088  - I can create SuperAdmins with no issue in the ruby console, however, I am unable to log in via <my.domain>/super_admin, the page simply refreshes with no error or message.

I have tried updating the SuperAdmin's credentials in ruby console as suggested by @sojan-official in #4088 , however, this has not resolved the issu

[2022-04-19 06:40] pranavrajs commented on #4436
- Add a UI flag for draft messages
- Add a settings section for beta features in the profile settings.

[2022-04-19 06:51] #3722 closed

[2022-04-19 07:17] #2744 closed

[2022-04-19 12:13] jean-philippeansel opened #4506 "[CW-2376] Add signature for new email conversations"
You added Rich text and Cc to new conversation and that's great!
Now it would be nice if we could also have signature for new email conversations.

<sub>[CW-2376](https://linear.app/chatwoot/issue/CW-2376/add-signature-for-new-email-conversations)</sub>

[2022-04-19 13:13] mattiamarras commented on #3462
Sorry, I have not understand which workaround should I use to import the contact, I am trying to import my customer list (6.000 rows) but without success. The software respond "Contacts saved successfully" but is not true. I am using the v2.4.0.

[2022-04-19 15:01] tejaswinichile commented on #4489
Notes:

Related errors: https://sentry.io/share/issue/ae7c2f45e6054ec38ba273209cd2b77b/
Cause: https://developers.facebook.com/docs/messenger-platform/handover-protocol/#exclusive-mode

[2022-04-19 15:26] jtperez2 commented on #4115
Hello everyone , i think i'm having the same trouble with Whatsapp via Twilio. It's possible that this fix can help us?

[2022-04-19 16:17] iammattmartin commented on #4415
Was there any update on this? We urgently need a way to re-link twitter accounts. For a customer support tool which doesn't do one of the basic things, it's pretty concerning that it has taken nearly 2 weeks to get anything on this - all the while - we're missing messages in one of the core channel types.

[2022-04-19 18:42] sojan-official opened #4510 "chore: Improve user update via platform APIs"
When the platform update API is called with a new user email, Chatwoot will still follow the same behaviour as in the dashboard where the user will have to confirm the new email activation link until the email gets updated on the user record.

In the case of platform APIs, this might not be the ideal behaviour since the original app will already have a flow to update the user emails. Hence we need

[2022-04-19 18:59] sojan-official commented on #4481
@mattiamarras  could you add more details on which provider you are using for whatsapp ?

[2022-04-19 19:14] sojan-official commented on #1648
Closing in favour of https://github.com/chatwoot/chatwoot/issues/3398

[2022-04-19 19:14] #1648 closed

[2022-04-19 19:16] sojan-official opened #4512 "epic: Whatsapp Channel"
Epic Tracking the Whatsapp Related Tickets in Chatwoot

## Bugs
- [x] https://github.com/chatwoot/chatwoot/issues/4481
- [ ] https://github.com/chatwoot/chatwoot/issues/4468
- [x] https://github.com/chatwoot/chatwoot/issues/3850
- [x] #5078
- [x] https://github.com/chatwoot/chatwoot/issues/5128
- [x] https://github.com/chatwoot/chatwoot/issues/4995
- [x] https://github.com/chatwoot/chatwoot/issues

[2022-04-19 19:29] ahmedshabib commented on #4368
I faced the same problem, just modify the docker memory to 4 gb, and it was successful.

[2022-04-19 19:46] ahmedshabib commented on #4091
The problem seems to be with the vue-jest package depending on desync.
I removed vue-jest from package.json file and it worked !!

[2022-04-19 19:54] sojan-official commented on #4091
@ahmedshabib  thanks a lot for reporting back. We will take a look.

[2022-04-19 19:54] mattiamarras commented on #4481
Ciao Sojan, i am using https://www.360dialog.com/, using the native integration of Chatwoot.

[2022-04-20 04:48] lkhagvasurenAm commented on #3559
How to fix the problem on the video? help me
this video -> [](https://drive.google.com/file/d/1byXQvDWVG6xNZi8r_4wTSapwDIwDeyk5/view?usp=sharing)

[2022-04-20 05:19] #4447 closed

[2022-04-20 06:34] shivamsinghchahar commented on #4183
@sojan-official I have raised a fix for this, let me know if any changes are needed. Thanks!

[2022-04-20 08:09] udit-pandey opened #4514 "no requests being made to webhook url configured in agent bot"
I have created an agent bot and have attached it to an inbox. Messages from end user using chatwoot chat client are not coming to my bot server and therefore the end user is not getting any responses except from the once given by online agent.

Response from list inbox api:
`{
            "id": <REMOVED PERSONALLY IDENTIFIABLE INFO>,
            "avatar_url": "",
            "channel_id": <REMOVED

[2022-04-20 10:33] #2099 closed

[2022-04-20 16:43] AndersonOuverney commented on #2084
Hello pessoal good afternoon,
How have I advanced in this activity?

[2022-04-20 19:06] sojan-official commented on #4501
@ammaraslam  Thanks for the feedback.  The team will keep it in mind for future design iterations.

[2022-04-20 19:11] sojan-official commented on #4505
@Automated-Ninja  Could you share the logs from the rails server instead of the worker? it would be the rails server that is responsible for authenticating a super admin.

`chatwoot-web.1.service`

[2022-04-20 19:37] voko3456 opened #4520 "Bug : automation rules not ahowing after we add it and save it"
Bug : automation rules not ahowing after we add it and save it

We ad the automation rule and save it and it's working but after we go to automation page : its showing no automation rules was found

[2022-04-21 03:37] gtmadev commented on #4228
This also points to a usability issue within the chatwoot admin (for inboxes). For example, I might need to have 2-3 different website inboxes - one for in-app, one for the website, and one for the help site. I need them all showing the same brand. Thus, in the chatwoot admin, all of the inboxes have the same name and I have no idea which inbox this really represents (the app, the website, or the

[2022-04-21 05:14] Automated-Ninja commented on #4505
Hello @sojan-official, thank you for your time.

I was able to resolve the issue by deleting all SuperAdmins via the ruby console and creating a brand new SuperAdmin.
I suspect the issue may have been caused by the passwords I set for the previous (non-functional) SuperAdmins. I use a password manager to generate complex passwords and I wonder if one of the symbols used prevented the ruby console

[2022-04-21 05:55] nithindavid opened #4522 "enhancement: Make conversation card selectable"
### Context
To bring in bulk actions for conversations list in chatwoot dashboard, we need to make the conversation card selectable. This would also need states for hovering the card.

**Current**
<img width="482" alt="image" src="https://user-images.githubusercontent.com/1277421/164382639-aa0d87e0-7c0a-4e97-8a4f-b0fc9e951a1d.png">

### New states for conversations card

**Default state**
Note: No

[2022-04-21 05:57] #4318 closed

[2022-04-21 05:58] nithindavid opened #4523 "feat: Create checkbox component"
**Checkbox component**
Creating a checkbox component to look in sync with our design system. We need to make this on top of

**States to style**
- Default
- Hovered
- Focused/Active
- Disabled

**Props**
- size ( Only default size now)
- checked (Bool, false)
- indeterminate (Bool, false)
- disabled (Bool, false)
- value (String, "")

**Events **
- change ( Function that is called whenever the sta

[2022-04-21 05:58] #4469 closed

[2022-04-21 06:41] pranavrajs commented on #4520
Closing as the issue is resolved.

[2022-04-21 06:41] #4520 closed

[2022-04-21 06:43] pranavrajs commented on #4506
@jean-philippeansel Thanks for the suggestion, we are working on a new UI for the message compose screen, will include this during that work.

[2022-04-21 06:57] nithindavid commented on #4522
Need to finish #4523 before this

[2022-04-21 07:29] nithindavid opened #4524 "feat: Dismissible popover for selecting and assigning agents"
**Context**
This will have a container which is a popover and it should be dismissible either with `esc` key press or close button click. Need to show two views. First one will be the agent selection screen with search option.
- The view should be scrollable
- When an agent is selected it should change the view to the confirmation screen where the selected agent info is displayed along with confir

[2022-04-21 07:43] nithindavid opened #4525 "feat: Bottom sticky panel for bulk actions"
**Context**
Once a conversation is selected we need a panel to do the further actions on the selected conversations. This panel will be shown as sticky at the end of conversations list.
- The actions button should have active state when selected.
- Show indeterminate state when not all the conversations in the current tab is selected
- When the checkbox is selected all the visible conversations in

[2022-04-21 07:47] nithindavid commented on #3846
I have created couple of frontend tasks for the epic.

https://github.com/chatwoot/chatwoot/issues/4525
https://github.com/chatwoot/chatwoot/issues/4523
https://github.com/chatwoot/chatwoot/issues/4524
https://github.com/chatwoot/chatwoot/issues/4522

Let me know your thoughts @pranavrajs @sojan-official @fayazara

[2022-04-21 08:17] sultanlive opened #4526 "[CW-37] feat: Request CSAT again"
How to make CSAT ask again every time a conversation ends?

<sub>[CW-37](https://linear.app/chatwoot/issue/CW-37/feat-request-csat-again)</sub>

[2022-04-21 10:41] jalberto opened #4527 "Allow "interactive messges" in campaigns"
**Describe the solution you'd like**
Some enhancements I would love to see:

- To use interactive messages as part of campaigns
  - this will add much more flexibility in how we can interact and communicate with users
- More flexibility in "where" to display "campaigns interactive messages"
  - as a banner in top/bottom
  - as a modal in the center
  - this would be ideal for important notificatio

[2022-04-21 15:22] #4459 closed

[2022-04-21 15:28] WevrLabs opened #4528 "feat: Canned replies with attachments"
Could be a good idea to introduce ability to add an image or attachment to a canned response.

[2022-04-21 15:48] pranavrajs opened #4529 "Custom fields drag and re-order is not working properly"
**Issue:**
I can reorder the pre-chat form field in the inbox settings, but the order of pre-chat form fields is reset when the update is clicked. Please see the attached loom video

**How to reproduce:**
https://www.loom.com/share/4a147f5b06a64f5b8fdc438d8d01c481

[2022-04-21 19:18] elassadi commented on #4091
any update on this one ? Docker production build failed with the deasync error  mentioned above with for master branch
<pre><code>
docker production build -f docker/Dockerfile
#15 64.65 error /app/node_modules/deasync: Command failed.

#15 64.65 Exit code: 1
#15 64.65 Command: node ./build.js
#15 64.65 Arguments:
#15 64.65 Directory: /app/node_modules/deasync
</code></pre>

[2022-04-21 19:33] drexlma opened #4531 "Stats/Reports of campaigns"
how often was such a camp. triggered.

[2022-04-21 19:47] HSE-Group commented on #1545
We are interested in using Chatwoot as our chat tool, but the export contacts feature is very important to pass them to other software... or if there was an integration with HubSpot, Orocrm, Suitecrm or Odoo crm....

[2022-04-22 06:14] pranavrajs commented on #4410
@sojan-official That makes sense, we just need to add "open conversation" Action.

[2022-04-22 06:36] pranavrajs commented on #4504
Closing it here as the investigation steps are taken.

[2022-04-22 06:36] #4504 closed

[2022-04-22 08:46] jean-philippeansel opened #4532 "bug: Have a setting to prevent IMAP fetching from being disabled when there is an error"
Currently, thanks to  #4176 , when Chatwoot encounters an error while fetching IMAP, it automatically disables new email fetching.
But sometimes, IMAP servers can temporarily time out. For example, my IMAP server is on my Synology NAS, and around midnight, my NAS does a lot of backup tasks and my IMAP server times out. So every morning, I have to manually re-enable email fetching in Chatwoot.

So

[2022-04-22 10:56] nithindavid commented on #3846
@pranavrajs Close this issue after reviewing the design?

[2022-04-22 10:58] pranavrajs commented on #4415
@iammattmartin

A couple of questions on this.

What does this mean? Do you lose data when you re-authorize Facebook?

Facebook has changed the ways apps worked from what they had in the past, they added thread-locks which would have resulted in a set of complexities, such as webhooks not being received by other apps. Please make sure you have only added Chatwoot to your page. Please see this for

[2022-04-22 11:00] pranavrajs commented on #3846
Let us keep this for now. If you need, we can create separate tickets for design next time.

[2022-04-22 11:09] iammattmartin commented on #4415
This is largely for Twitter as there is no way to re-link a twitteraccount.

I have tried that but got  an error.

[code]

No limits have been hit on the Twitter account/app though.

[2022-04-22 11:12] pranavrajs commented on #4415
@iammattmartin Please use `inbox_id = 22`, not inbox

[2022-04-22 11:15] iammattmartin commented on #4415
Have changed:

[code]

[2022-04-22 11:29] nithindavid commented on #3846
Makes sense 👍

[2022-04-22 11:40] drdaga opened #4533 "Cannot send attachment to whatsapp via 360dialog"
I am not able to send any attachment via whatsapp 360dialog

only images are to send

check the attached screenshot

![image](https://user-images.githubusercontent.com/45959508/164707550-3b78c547-f894-4171-9843-213f9aef0011.png)

[2022-04-22 11:44] pranavrajs commented on #4415
Oops! Sorry, it should have been this

[code]

[2022-04-22 11:49] iammattmartin opened #4534 "Upgrade wiped "Pre Chat Form" settings and won't now save options"
**Describe the bug**

In trying to debug the other issue, I upgraded.

Now, the text we had set in the pre-chat form has been replaced with the default text and the "Visitors should provide their name and email address before starting the chat " option is now unchecked.

Even if we save/check that, it returns unchecked!

[2022-04-22 11:50] iammattmartin commented on #4534
Shows version: v2.4.1

[2022-04-22 12:22] pranavrajs commented on #4534
@iammattmartin Are you running develop branch? This feature is not released in 2.4.1

[2022-04-22 12:23] pranavrajs commented on #4415
@iammattmartin

Please try the below one. It should work.

[code]

[2022-04-22 12:24] iammattmartin commented on #4534
It looks that way but that was originally what was deployed by your team :)

Safe to switch back to main?

[2022-04-22 12:25] iammattmartin commented on #4415
One step further but another error:

[code]

[2022-04-22 12:32] pranavrajs commented on #4415
@iammattmartin Can you please share the full log?

[2022-04-22 12:35] pranavrajs commented on #4534
@muhsin-k Please advice.

[2022-04-22 12:37] iammattmartin commented on #4415
After entering the second command, that is the only line returned. There is no other information output.

Do you mean the system logs?

[2022-04-22 13:37] muhsin-k commented on #4534
@iammattmartin We have added some changes in pre-chat form which is not released yet. Did you switch to develop branch to test out anything?

I just switched from develop to v2.4.1 and pre-chat form settings working as expected

https://user-images.githubusercontent.com/12408980/164725335-c7ef5b2f-e975-4aa9-b4f8-13e0e6513810.mov

[2022-04-22 13:38] iammattmartin commented on #4534
I've gone back to main.

The develop was the original branch checked out on the install from your team. It's not an issue but have reverted and all works now. Will leave on main.

[2022-04-22 13:40] #4534 closed

[2022-04-22 16:22] hploscar opened #4535 "Agent Bot Avatar not displayed in web widget."
**Describe the bug**

Agent Bot avatar not displayed in web widget.

**To Reproduce**

Steps to reproduce the behavior:
1. create an agent bot from the agent bot console following these instructions https://www.chatwoot.com/docs/product/others/agent-bots#creating-agent-bots-via-rails-console
2. have the environment variable USE_INBOX_AVATAR_FOR_BOT set to true

**Expected behavior**
should see inb

[2022-04-22 16:33] hploscar opened #4536 "$chatwoot.reset() t.t0.response is undefined"
**Describe the bug**

when exec `window.$chatwoot.reset()`, this error appears in the js console.
![Captura de pantalla de 2022-04-22 11-26-32](https://user-images.githubusercontent.com/8766769/164755768-41aae634-5676-47d5-80e8-77ee7d859fca.png)

**To Reproduce**

Steps to reproduce the behavior:
1. run `window.$chatwoot.reset()` from js or browser console

**Expected behavior**

Chatwoot session

[2022-04-22 16:42] sojan-official commented on #4358
tracking the issue with storage over https://github.com/chatwoot/chatwoot/issues/3598

[2022-04-22 16:42] #4358 closed

[2022-04-22 17:10] hploscar commented on #4536
more context:

this happens only if `window.$chatwoot.setUser()` has been executed previously

[2022-04-22 17:19] sanjayws commented on #4512
Pls add location support too 😅

[2022-04-22 17:42] sojan-official commented on #4533
@drdaga  could you specify the version of chatwoot you are using ?

[2022-04-22 21:13] ammaraslam opened #4538 "Chat transcript history"
**Describe the solution you'd like**

History button with send transcript button to view what time transcript was sent on what email, why this is important? I've set the automation to send the transcripts but there's no way to know whether it was sent or not, however for that, I can check my email inbox.

But visitor on the website asked for a transcript and my team have sent it to him but there's

[2022-04-23 08:07] aksanoble commented on #4514
Followed the same instructions. AgentBot doesn't call the outgoing_url. I don't see `outgoing_url` anywhere in the repo! Please help!

[2022-04-23 09:34] aksanoble commented on #4514
@udit-pandey I was facing the same issue. Are you using docker to run chat-woot? In which case you may have to bind ports or to call the endpoint on the host use `http://host.docker.internal:8000/rasa` also note that the endpoint should be `/rasa`

[2022-04-23 15:51] pranavrajs commented on #4536
@hploscar Thanks for reporting this, we will debug this further.

[2022-04-23 16:04] Parthib314 commented on #4338
Hi,Is this issue still opened. I am new to open source and I would like to contribute on this issue?

[2022-04-23 16:12] Parthib314 commented on #2859
Hey @nithindavid  ,can I work on this issue?

[2022-04-24 01:57] startshineye commented on #1666
I also meet this problem
GEM_HOME and GEM_PATH as Following:
<img width="499" alt="image" src="https://user-images.githubusercontent.com/19678129/164952483-6bd2d527-396d-446a-8986-a4a73a5aa9a7.png">

how can I config?
@Rid

[2022-04-24 11:08] pranavrajs opened #4539 "Disable conversation_opened, conversation_resolved in favour of conversation_status_changed"
- Use conversation_status_changed going forward

[2022-04-24 16:32] voko3456 opened #4541 "Enhancement : send interactive session messages type list | buttons"
Whatsapp api support interactive session messages type list | buttons
This is the docs for sending interactive session message:
https://developers.facebook.com/docs/whatsapp/guides/interactive-messages/

I try to send it via whatsapp api /messages endpoint and it's working but it's not showing in chatwoot conversation

[2022-04-24 16:42] voko3456 opened #4542 "feat: Support last message time in automation conditions"
1-add event time since last message
Example : if customer last message since 23 hours we will send him message ( "the conversation time was ended please replay if you want to complete the session")
This will help business to avoid send alot of template messages so customer will reply and it will open new 24 hour window session time

[2022-04-24 17:22] iprithvitharun opened #4544 "chore: The Change password desc is not clear"
**Describe the bug**

The description is not clear about the implications of changing the password.

**Screenshots**
![change-pass-desc](https://user-images.githubusercontent.com/58725708/164988554-704adcd1-f0bd-42fe-98f1-d1d3441b1e7a.png)

[2022-04-25 00:52] uhlhosting commented on #3598
any progress here? Its a pitty all data is lost upon making changes to env variables in caprover.

[2022-04-25 06:55] #4233 closed

[2022-04-25 09:19] AmmarAlbar opened #4546 "bug: Not receiving WhatsApp messages"
After updating the self-hosted installation of Chatwood to v2.4.1, WhatsApp 360 dialog stopped receiving new conversations.

I added the same WhatsApp 360 dialog account to the cloud chatwoot and it worked fine.

Is there any troubleshooting you recommend us to follow, We tried to install new setup and we faced the same issue

[2022-04-25 11:21] Vadorequest opened #4547 "Improve documentation about how to configure Twilio for Chatwoot"
**Is your enhancement request related to a problem? Please describe.**
I got lost in the process of configuring Twilio for Chatwoot.
I successfully created the Twilio Inbox on Chatwoot, but then I was asked to configure Twilio callbacks and I don't know where to do that.

Video: https://youtu.be/4UpwUL4pUEg

**Describe the solution you'd like**
Once the Inbox has been added, a video tutorial about

[2022-04-25 12:14] #3536 closed

[2022-04-25 12:14] #4539 closed

[2022-04-25 13:25] sentry-io[bot] opened #4549 "NoMethodError: undefined method `first' for nil:NilClass"
Sentry Issue: [CHATWOOT-27W](https://sentry.io/organizations/thoughtwoot-04/issues/3223040837/?referrer=github_integration)

[code]

[2022-04-25 16:16] hploscar opened #4552 "bug: GET /dashboard/audios/ding.mp3 NS_BINDING_ABORTED error"
**Describe the bug**

On page change, chatwoot tries to get the dashboard ding.mp3 file and throws `NS_BINDING_ABORTED` error.
this is intermitent, so it does not happen every time.

**To Reproduce**

Steps to reproduce the behavior:
1. navigating between pages inside a web with chatwoot js enabled.

**Expected behavior**
No errors.

**Screenshots**
![error1](https://user-images.githubusercontent.

[2022-04-25 18:05] iammattmartin commented on #4415
@pranavrajs Any work around the error to re-auth twitter so messages are incoming again?

[2022-04-25 20:02] ammad-fareed commented on #4546
@pranavrajs @seagalputra We are having the issue in receiving the WhatsApp messages on Version 2.4.1. The messages are being received and sent back on the previous versions with the same credentials. Kindly assist.

[2022-04-26 03:34] #3779 closed

[2022-04-26 04:33] pranavrajs commented on #4546
@ammad-fareed @AmmarAlbar Are there some logs which we can see?

[2022-04-26 04:39] pranavrajs commented on #4547
@Vadorequest Thanks for the report, this UX needs to be improved. Can you please if this document is helpful? https://www.chatwoot.com/docs/product/channels/whatsapp/twilio

[2022-04-26 05:48] Vthechamp22 commented on #1704
I'm facing the same issue here.

[2022-04-26 06:09] sojan-official opened #4554 "[CW-2830] chore: Unify the request gems used across Chatwoot"
We are using multiple HTTP libraries in chatwoot. let's unify the usage and use a single gem or two as required

- [ ] identify all the HTTP libariries used in chat [ rest-client, HTTParty, down ]
- [ ] compare different gems . identify the required ones. [ also consider faraday / other gems ]
- [ ] unify the usage and add to documentation and review guidelines

<sub>[CW-2830](https://linear.app/c

[2022-04-26 06:50] Vadorequest commented on #4547
Yes, this documentation helped me. But I had to ask the support which send me the same link, it'd have been better to rather have that link in the last step of the process.

[2022-04-26 07:24] SebastianBitsch commented on #4276
Hi, @sojan-official any updates on this?

[2022-04-26 08:28] pranavrajs commented on #4415
@pranavrajs As far as we know, there is no API for re-authorising. We can check if the webhook subscription is available, if not ask to resubscribe. This is what the script should do, I'm not sure why it is throwing a cryptic error.

Can you please share what you get as a result of these following commands? Please execute these steps one by one and share the result.

[code]

[2022-04-26 08:33] pranavrajs commented on #4415
@iammattmartin Please make sure that you execute the above commands in production rails console.

[code]

[2022-04-26 09:43] #4549 closed

[2022-04-26 09:51] pranavrajs opened #4555 "Remove agent from assigned converstion if they are removed from the account"
Bug: The agent is still assigned in a conversation even if they are removed from the account.

To reproduce:

- Add an agent
- Assign a conversation
- Remove them from the conversation

Note: The agent cannot access the conversation as they don't have access to the account, hence it is not a security issue.

[2022-04-26 09:57] pranavrajs opened #4556 "Live Agent Report pulls data from all accounts"
- Live agents reports should only show the counts for the current account, it shows the numbers from all accounts.

Todo:

- Scope the query to the account only
- Sort the list based on the number of open conversations
- Rename Total to Open Conversations
- Change loading text to "Loading agent metrics" instead of "Agent Loading"
- Change loading text to "Loading conversation metrics" instead of "

[2022-04-26 10:40] iammattmartin commented on #4415
[code]

[2022-04-26 12:52] #4556 closed

[2022-04-26 12:57] sentry-io[bot] opened #4558 "Error: Error: Request failed with status code 429"
Sentry Issue: [CHATWOOT-287](https://sentry.io/organizations/thoughtwoot-04/issues/3226034961/?referrer=github_integration)

[code]

[2022-04-26 15:30] pranavrajs opened #4559 "Unattended conversation returns wrong metrics"
The unattended conversation is returning the wrong metrics for each agent.

The query is checking for the first reply from the agent which is incorrect as the conversation might be transferred from another agent and in that case the first reply might be from another agent.

**Todo:**

1. Change first_response_count query to `account.reporting_events` instead of `scope.reporting_events`.

https://g

[2022-04-26 15:55] startshineye opened #4560 "Emoji picker"
I want to update the Following svg's   width and height. how can  I set it?

<img width="774" alt="image" src="https://user-images.githubusercontent.com/19678129/165341478-ad6d6365-7339-408c-b81f-6393b61977bf.png">

[2022-04-26 15:56] WevrLabs opened #4561 "feat: Option do delay channel greeting message by X seconds"
Add an option in inbox settings to delay sending of channel greeting message by X seconds.

[2022-04-26 16:25] pranavrajs commented on #4561
@WevrLabs This could be a good additional for automation.

[2022-04-26 16:27] gtmadev opened #4562 "500 Error: Unable to Update IMAP Settings"
**Describe the bug**

When attempting to configure an IMAP account, I get a generic error: Unable to Update IMAP Settings.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to inbox settings for an email channel
2. Click on configuration
3. Click checkbox to enable IMAP
4. Add IMAP settings, click "Update IMAP Settings"
5. See error: "Unable to Update IMAP Settings"

**Expected behavior**

[2022-04-26 16:35] pranavrajs opened #4563 "Campaign triggers first_response reporting event"
Campaigns trigger the first_response reporting event even without agents responding to it. If an outgoing message is created from a campaign, it should not be marked as first-response.

**To reproduce:**

- Create a campaign
- Go to website where web widget is live
- Wait for the campaign message to appear. Click on the campaign.
- See the database/reports to see the first_response time of the con

[2022-04-26 16:36] pranavrajs commented on #4563
@sojan-official @aswindevps

I would suggest we add an attribute in the message to figure out whether it is created by a campaign and discard the event based on it.

[2022-04-26 16:39] pranavrajs commented on #4562
@gtmadev Did you run rake `db:migrate` after updating the image. It seems like the attribute is missing which is most likely due to missing database migration.

[2022-04-26 16:44] gtmadev commented on #4562
I jumped into the Rails container and tried running that. Note: I am NOT a Rails dev, so I am just trying this without really knowing much about Rails. The output follows. am I running this from the wrong path?

`/app # rake db:migrate
rake aborted!
Gem::LoadError: You have already activated rake 13.0.3, but your Gemfile requires rake 13.0.6. Prepending `bundle exec` to your command may solve this

[2022-04-26 16:47] gtmadev commented on #4562
Okay.. I followed this guidance.. `Prepending `bundle exec` to your command may solve this.`, and the command worked. So I will try to see if I can now update IMAP.

[2022-04-26 16:48] gtmadev commented on #4562
And... we are good. IMAP Settings accepted and all working again. Thanks for the tip!

[2022-04-26 16:50] pranavrajs commented on #4562
Closing this as the issue is solved. :)

[2022-04-26 16:50] #4562 closed

[2022-04-26 16:51] iammattmartin opened #4564 "New visitors don't see widget."
**Describe the bug**

No widget shows and instead generates a 500 error.

Logs indicate some internal issue.

[code]

[2022-04-26 16:54] pranavrajs commented on #4564
@iammattmartin Did you change anything after https://github.com/chatwoot/chatwoot/issues/4534, this seems like DB is out of sync with the code?

Can you please try running 2.4.1 and see if this is fixing the issue?

[2022-04-26 16:55] iammattmartin commented on #4564
We're running from main now and seem to be up to date?

[code]

Is there a specific branch we should be running from here? The original was 'develop'.

[2022-04-26 17:00] pranavrajs commented on #4564
@iammattmartin Please switch to master. We use master and develop in this repository.

[2022-04-26 17:14] pranavrajs commented on #4564
https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm#upgrading-to-a-newer-version-of-chatwoot

Please see this guide, if you face any further issues.

[2022-04-26 17:18] pranavrajs commented on #4560
The icon is rendered using the [FluentIcon](https://github.com/chatwoot/chatwoot/blob/develop/app/javascript/shared/components/FluentIcon/Index.vue) component, it accepts size param. You can edit the code [here](https://github.com/chatwoot/chatwoot/blob/1bf2da180bc33074173063cbc813db3cd5fb62a1/app/javascript/widget/components/ChatAttachment.vue#L12).

[2022-04-26 17:18] #4560 closed

[2022-04-26 17:38] iammattmartin commented on #4564
This has worked. Will update our upgrade steps with these instead of mirroring the original install.

[2022-04-26 18:54] voko3456 opened #4565 "Tweet Automations should be disabled due to Usage regulations"
Right now we have automation inbox condition to filter the inbox that we will send message action to it but we want to send message to twitter dm message not twitter tweets replies because twitter will suspend the app because sending replies on Twitter tweets replies mentions

Automation actions should work with dm only

[2022-04-27 04:34] pranavrajs commented on #4565
Adding more context:

[2022-04-27 07:52] pranavrajs commented on #3559
@lkhagvasurenAm The video is not shared with us, can you please make it public?

[2022-04-27 08:06] pranavrajs commented on #4437
@iamsivin Can you please test Safari on iPhone and Mac?

[2022-04-27 09:05] Vadorequest opened #4567 "Send SMS campaigns filtered by custom attributes"
**Is your feature request related to a problem? Please describe.**
I'd love the ability to use our custom attributes to send out SMS campaigns.
Currently, we can only use tags, but we find custom attributes to be more precise.

Tags don't evolve well with time, in my opinion, because it's easy to add one but hard to remove. So, while it's great for "static" metadata, data that doesn't change over

[2022-04-27 09:55] danielslyman opened #4569 "Telegram Messages not received"
Hello, first of al thank you for creating this amazing application!

I am running a self-hosted dockerized instance of Chatwoot on a public server.

Created Telegram bot (twice) as described in the docs, messages are not being received by Chatwoot instance.

Chatwoot via JavaScript integration runs smoothly, so Chatwoot "per se" is working.

Is there any other trick to get this running?

Basically

[2022-04-27 13:26] #4559 closed

[2022-04-27 14:07] MaoBueno opened #4572 "Facebook messages not showing"
Hello

I am trying to configure the facebook channel in chatwoot but the messages do not appear.
Created facebook app (Facebook developers) as described in docs, set environment variables FB_APP_ID, FB_APP_SECRET and FB_VERIFY_TOKEN. After the Facebook channel in chatwoot was created, but the Chatwoot instance is not receiving the messages.

The expectation is that a message will be sent through t

[2022-04-27 14:40] #4565 closed

[2022-04-27 17:43] sirtonhao opened #4573 "How customize Icon/logo for widget?"
How customize icon/logo widget directly from code?

is there any way to customize the widget logo?

[2022-04-27 19:03] sojan-official commented on #4573
ref: https://github.com/chatwoot/chatwoot/discussions/2701

[2022-04-27 19:03] #4573 closed

[2022-04-27 19:05] sojan-official commented on #4569
could you follow the docs mentioned here to make sure that the webhook is properly registered?
https://www.chatwoot.com/docs/contributing-guide/telegram-channel-setup

you would need to make a call to the following URL to ensure that the telegram webhook registration is successful

GET https://api.telegram.org/bot{your_bot_token}/getWebhookInfo

[2022-04-27 21:40] Vadorequest opened #4574 "Courier integration"
**Is your feature request related to a problem? Please describe.**
Would it make sense for Chatwoot to integrate with [Courier](https://www.courier.com/)?
It manages so many channels, it could be a "one integration to rule them all".

https://www.courier.com/

[Discussion](https://discord.com/channels/647412545203994635/719548300868452362/968217058561122325)

[2022-04-28 01:06] ammaraslam opened #4575 "Inbox collaborators UI"
**Is your enhancement request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Match the UI of Inbox collaborators to team members UI so that agent can be added easily or to add all agents at once, checkbox UI of teams looks much user friendly than the Inbox UI.

**Before (Doesn't have option to select all agents)**
![33333](https://user-images.githubusercontent.c

[2022-04-28 03:11] ammaraslam commented on #4538
Matches #4047

[2022-04-28 11:09] iammattmartin opened #4578 "bug: Ghost Messages"
**Describe the bug**

In the last two or three releases a nasty bug appears to have been introduced.

When someone starts a message, there are times when they then start another. We just assumed they were closing their browser and starting again. However, it showed both "people" online which wouldn't happen if they were different sessions as far as I can see.

We tried to replicate this yesterday

[2022-04-28 12:51] pranavrajs commented on #4578
@iammattmartin Do you have the "end conversation" button enabled on the widget, if so it would allow users to close the conversation?

[2022-04-28 12:52] iammattmartin commented on #4578
No, this is not enabled.

[2022-04-28 14:57] sojan-official commented on #3462
@mattiamarras  you could write a script that will iterate over the contact lists and create contacts using the contact create API.  Meanwhile, we are looking into the bugs in import contacts.

[2022-04-28 15:03] sojan-official commented on #4532
@jean-philippeansel Thanks for the feedback, We will have this prioritized for upcoming sprints based on the team's bandwidth.

[2022-04-28 15:26] sojan-official opened #4579 "epic: CRM"
## Issues

- [x] https://github.com/chatwoot/chatwoot/issues/1545
- [x] https://github.com/chatwoot/chatwoot/issues/3462
- [ ] #4567

[2022-04-28 16:55] shivamsinghchahar commented on #4090
@sojan-official Is this issue still relevant? Can I take this up?

[2022-04-28 17:59] sojan-official commented on #4090
@shivamsinghchahar yep.  I believe sidekiq-cron has this issue fixed in their main branch. let's switch to that and see if it resolves the warnings.

[2022-04-28 18:08] shivamsinghchahar commented on #4023
@sojan-official Raised a PR for this directly, feel free to close if it doesn't look good.

[2022-04-28 18:18] shivamsinghchahar commented on #4090
@sojan-official Just updated `sidekiq-cron` here: https://github.com/chatwoot/chatwoot/pull/4581 Looks like the warnings are gone.

[2022-04-28 19:13] #4090 closed

[2022-04-28 19:18] sojan-official commented on #4538
@ammaraslam  Thanks for the feedback. We will have this tracked over #4047

[2022-04-28 19:18] #4538 closed

[2022-04-28 19:21] sojan-official opened #4582 "epic: UI/UX enhancements"
## issues

- [ ] https://github.com/chatwoot/chatwoot/issues/4575

[2022-04-28 19:22] sojan-official commented on #4575
@ammaraslam  Thanks for the feedback. We will have it tracked for upcoming releases.

[2022-04-28 21:00] voko3456 opened #4583 "Add ability to add automation rule via api"
I would like to add automation rules via api for each account instead of go to accounts gui and add them manually

[2022-04-28 21:26] giquieu commented on #3428
I can implement this function.
@sojan-official  what do you think?

[2022-04-28 21:28] hasanbasri1993 commented on #3428
Please implement this

[2022-04-29 06:14] shivamsinghchahar commented on #4037
Tried switching to the original repo. The required changes are there but it seems they haven't released `2.0.2` yet, the current version is `2.0.1`.

I can take care of this when they release `2.0.2`.

cc// @sojan-official

[2022-04-29 06:15] vishnu-narayanan opened #4586 "ce edition spec action failing for external PRs"
**Describe the bug**

- The GitHub action that runs CE spec is failing for PRs from external contributors.

**To Reproduce**

Steps to reproduce the behaviour:
1. Raise a PR from the fork.
2. Wait for the actions/tests to start.
3. See error.

**Expected behaviour**

- gh action should execute normally.

**Screenshots**

n/a

**Browser logs**

n/a

**Server logs**

- https://github.com/chatwoot/ch

[2022-04-29 07:09] pranavrajs commented on #4583
@voko3456 API is already available, it is just that the documentation is not done yet.

[2022-04-29 07:11] pranavrajs commented on #4578
@iammattmartin Since it is not reproducible as you mentioned, it would be good to have any additional information to debug this.

[2022-04-29 07:13] pranavrajs commented on #4574
@Vadorequest How do you envision this integration? Is it for incoming messages, a channel like Facebook or Twitter or is it deliver the notifications?

[2022-04-29 07:14] pranavrajs commented on #4567
@Vadorequest Thanks for sharing this. This is something we have in mind, we are working on contact segments, which would eventually be a part of the audience in this form.

[2022-04-29 07:26] Vadorequest commented on #4574
I don't know exactly, I simply found this, which seems to do something Chatwoot could use.

I guess, if Courier can be used to integrate faster with other providers (to lift some work Chatwoot woulnd't have to do) then it makes sense. But I'm not 100% sure, maybe it's rather a concurrent compared to Chatwoot?

I just wanted to bring some attention on it, since it might be useful.

[2022-04-29 09:08] #4586 closed

[2022-04-29 14:31] iammattmartin commented on #4578
https://cloud.custserv.net/f/6b6f1648cea642c5a1e8/?dl=1

Video showing the issue.

[2022-04-29 15:02] iammattmartin commented on #4415
Is there any known way on refreshing the token @pranavrajs?

[2022-04-30 05:12] udit-pandey commented on #4514
I am currently using the SAAS version.
Also, when i hit their client APIs, it gives a 404 response. Dont know if its an issue in the way I am calling APIs or the API docs are'nt updated.

[2022-04-30 08:25] danielslyman commented on #4569
Thanks for your answer, am I correct in assuming, that I cannot integrate Telegram on a self-hosted version of Chatwoot without an ngrok server? The webhook works correctly. I am running quite a few docker services on that server instance so I'd rather not use ngrok, is there any workaround?

[2022-05-01 13:26] ChrisvanChip commented on #714
Hi @sojan-official, is there an estimate on how long these priorizations will take? We're really looking forward to an integrated knowledgebase.

[2022-05-02 04:39] drdaga commented on #4533
i updated to 2.4

[2022-05-02 07:26] iamsivin commented on #4437
Tested with Chatwoot website. Not able to figure out this issue.

[2022-05-02 07:44] #4115 closed

[2022-05-02 08:18] #4437 closed

[2022-05-02 08:24] pranavrajs commented on #4415
@iammattmartin Have you reset the Twitter app credentials for some reason? 401 unauthorized means that your existing tokens are expired, as far as I know, the Twitter auth token is active until the token is available. I'll research ways to go around this issue.

[2022-05-02 08:41] aksanoble commented on #4514
I checked with the team and they informed me that AgentBots are currently supported on the self-hosted version only. I've got it working on a self-hosted instance.

[2022-05-02 08:47] udit-pandey commented on #4514
great.

[2022-05-02 08:54] udit-pandey commented on #4514
Also, I have never seen big projects built using ruby (maybe because i dont have much industrial experience). Is it good to choose ruby over java, python to build products as large as this? Just want to get some opinions.

[2022-05-02 10:27] sojan-official commented on #4514
@udit-pandey the choice of language is a decision based on your team's expertise.  😃 But if you opt for ruby

<img width="1147" alt="Screenshot 2022-05-02 at 2 54 59 PM" src="https://user-images.githubusercontent.com/73185/166220240-6fae6510-5125-4db2-bc99-fc5950857799.png">

ref: https://rubyonrails.org/

[2022-05-02 10:49] udit-pandey commented on #4514
Nice. I think the stars have aligned finally and I'll be starting my journey in ruby soon :stuck_out_tongue_closed_eyes:.
Thanks for all the answers. Will close the issue.

[2022-05-02 10:49] #4514 closed

[2022-05-02 11:34] NitinNR opened #4589 "can we add date picker?"
can we add date picker in live chat like other bot replies e.g input, button ,select etc, so is it possible to add date time picker or it is already added just need to format the payload accordingly or is it remaining to work on?
I am using these payloads from  : https://github.com/chatwoot/chatwoot/wiki/Creating-Bot-Messages-Types

[2022-05-02 12:23] iammattmartin commented on #4415
This may have happened after the tweets had already stopped to try and fix the issue but given there is no output from CW, it is impossible to know what happens.

Either way, there needs to be monitoring or a check in place to monitor this. We were relying on CW to deliver mentions/messages but as we weren't getting that, we didn't think we had any - which was no the case and led to customer annoy

[2022-05-02 13:10] tejaswinichile commented on #4415
@iammattmartin

Displaying the error or notifying that something is broken is doable, it might be available in Sentry if you have that connection with your app.

 If any error appears to be from the Twitter side I am not sure right now but you would have to re-connect to your existing account with the new inbox.

Are you getting the below error after deleting the previous Twitter inbox?

https://g

[2022-05-02 13:13] iammattmartin commented on #4415
Hard to say, if we delete the Twitter inbox, we lose all the history. This is not a workable solution as mentioned before. We shouldn't need to delete something to fix a problem that could only then happen again in the future.

However, adding a new twitter account again that had no history worked as expected. So it is a solution but just not viable without the loss of data.

Either we need to be

[2022-05-02 13:15] urumat opened #4590 "feat: Support hours in Auto-resolve instead of days"
Is it possible to automatically close a conversation within hours instead of days?

[2022-05-02 14:36] pranavrajs opened #4591 "Message with Attachment triggers an unnecessary message if Slack is connected"
**To Reproduce:**

- Connect Slack integration to the account
- Create a message with an attachment

**Dashboard View:**

<img width="475" alt="Screenshot 2022-05-02 at 8 05 08 PM" src="https://user-images.githubusercontent.com/2246121/166252547-1497b5bc-28cd-4798-a44a-1f517dbcb835.png">

**Slack Thread View:**

<img width="376" alt="Screenshot 2022-05-02 at 8 06 03 PM" src="https://user-images.gi

[2022-05-02 14:40] pranavrajs commented on #4589
@NitinNR We don't support dates now, can be added as an enhancement.

[2022-05-02 14:41] pranavrajs commented on #4590
@matiasperes No it is supported, this can be added as an enhancement.

[2022-05-02 14:43] pranavrajs commented on #4578
@iammattmartin Can you please share if there was an error in the browser console?

[2022-05-02 15:32] matiasperes commented on #4590
Thank you for your quick reply. Could you point me to the file where that is implemented?

[2022-05-02 16:15] iammattmartin commented on #4578
Nothing when the page is re-loaded and the chat vanishes.

But when the message is sent and the chat re-appears, I get this.
<img width="753" alt="Screenshot 2022-05-02 at 5 14 43 PM" src="https://user-images.githubusercontent.com/15971590/166268723-f9e813ed-e902-418b-afe6-982609a86d20.png">

[2022-05-02 19:26] #4220 closed

[2022-05-02 22:49] rmundel opened #4592 "APM and Tracing: Add support for Honeybadger"
It would be nice for Chatwoot to support [honeybadger.io](https://honeybadger.io) as another exception trancing option. It's very inexpensive, supports multiple languages and frameworks.

I'm no Ruby developer, but there's as extensive documentation on how to do it: https://docs.honeybadger.io/lib/ruby/integration-guides/rails-exception-tracking/#installation.

[2022-05-03 05:46] pranavrajs commented on #714
@ChrisvanChip A product spec is in progress. You can expect the feature by the July release.

[2022-05-03 06:39] pranavrajs opened #4593 "Help Center V1"
Help Center allows support teams to create articles, reply faster and scale along with the increasing support requests.

As the product feature is broad, we will be delivering the product in version, here is a high-level view of how the entire product will be delivered.

**v1:**
This version would allow agents/admins to add articles and publish the help center in different locales. Help Center wil

[2022-05-03 06:39] pranavrajs opened #4594 "Portals"
- A Help Center in Chatwoot is known as a portal.
- An account in Chatwoot can have more than one portal.
- Each portal is identified by a unique slug in the URL. By default Chatwoot provides a public URL in the format `<installation-url>/hc/<slug>`. Users can add their custom domains to a portal.
- A portal can be made available in more than one locale. A default locale is available for a portal.

[2022-05-03 06:41] danielslyman commented on #4569
Okay, I managed to get it to work with Ngrok. May I suggest that you add to your documentation that "local machine" would actually include all forms of self-hosted solutions? Could you also explain how come the Heroku instance does not need to have this? I would love to learn.

[2022-05-03 06:44] pranavrajs opened #4595 "Generate / Renew SSL automatically for a custom domain"
- Research on how to generate SSL automatically
- Can we use CertBot?
- Do we need to use a third-party provider like Cloudflare for Chatwoot Cloud?

[2022-05-03 06:45] pranavrajs opened #4596 "Categories"
- A portal has more than one category.
- Each category can be made available in a different locale.
- Each category can have a linked category in another locale.
- Each category can have a subcategory.
- Each category has a name, a description, a locale and a published status.

**Todo:**

- [x] #4597
- [x] #4598

[2022-05-03 06:49] pranavrajs opened #4597 "Add APIs to list/edit/create/archive/destroy categories"
**Model**

- name
- description
- locale
- position
- linked_category_id
- parent_category_id
- status - draft / published / archived
- slug

**Dashboard APIs:**

- [x] Create a category
- [x] Edit a category
- [x] Destroy a category
- [x] List all categories - Should support filter locale and pagination, order by position

[2022-05-03 06:53] pranavrajs opened #4598 "Add a public API to list published categories in a portal"

[2022-05-03 06:55] pranavrajs opened #4599 "Portal Dashboard APIs"
**Portal Model:**

- config - Returns a JSON with available_locales, default_locale
- color - Portal brand color
- homepage_link - will show return to YYY.com
- name - Internal name of the portal
- page_title - External name of the portal
- slug - Used to identify the portal (Unique across installation)
- custom_domain
- status - draft / published / archived

**Portal Members:**
- user_id
- portal

[2022-05-03 06:55] pranavrajs opened #4600 "Add a public API to return the details of a portal."

[2022-05-03 07:06] pranavrajs opened #4601 "Articles"

[2022-05-03 07:13] pranavrajs opened #4602 "Design HelpCenter based on the mocks"
- [ ] #4603
- [ ] Design Public pages for a help center

[2022-05-03 07:14] pranavrajs opened #4603 "Design Admin Help Center pages"
- [ ] Allow admins to perform CRUD on all the portals in an account
- [ ] Allow agents/admin to perform CRUD in all categories in a help center
- [ ] Allow agents to CRUD perform articles in a help-center

**Initial suggestion:**

![help-center-admin](https://user-images.githubusercontent.com/2246121/163693421-15802ccd-f3ca-47ef-a5b5-8858257a8b9a.png)

**Updated suggestion:**

As per the internal

[2022-05-03 07:20] pranavrajs opened #4604 "Allow end-users to perform a text searches in articles"
- Allow full-text search in articles
- Should support title and article content
- Research if fuzzy search can be implemented.

[2022-05-03 07:20] pranavrajs opened #4605 "List all published articles in a given category and a locale in a portal."
**List all articles:**

As an input, the API will expect the following params,
- portal_slug
- category_slug
- locale

It will return all the published articles in the given category and locale.

**Get the details of one article:**

**Input** - article_slug
Returns the article object if it is published.

[2022-05-03 07:34] pranavrajs commented on #714
Closing in favour of #4593

[2022-05-03 07:34] #714 closed

[2022-05-03 07:34] pranavrajs commented on #4395
Closing in favour of #4594

[2022-05-03 07:34] #4395 closed

[2022-05-03 07:35] pranavrajs commented on #4397
@thannaske Sorry for missing this out. @tejaswinichile Can you please check this out along with #4591

[2022-05-03 07:37] pranavrajs commented on #4400
<img width="889" alt="Screenshot 2022-05-03 at 1 06 38 PM" src="https://user-images.githubusercontent.com/2246121/166418553-aa1f5496-da7a-44dc-9cb6-16fc348c408b.png">

Please feel free to reopen the issue if the filter is not usable in this case.

[2022-05-03 07:37] #4400 closed

[2022-05-03 07:38] pranavrajs commented on #4235
Closing this as there was no activity in the last couple of days.

[2022-05-03 07:38] #4235 closed

[2022-05-03 09:41] NitinNR commented on #3164
I am following the steps mentioned here : https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm#upgrading-to-a-newer-version-of-chatwoot and checking logs by this : https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm#viewing-logs for the errors but nothing seems disturbing here. is there any other way to check the logs for update issue?please let me know,thank you

[2022-05-03 14:09] eduin1178 opened #4609 "feat: Configurable notification sound"
It would be great if the notifications had a longer or louder sound especially in the web application or even better if it could be configured (load the audio)

Thank you

[2022-05-03 14:33] ammaraslam commented on #4400
@pranavrajs Thanks for replying. I explored the filter but I am not sure where to find the conversation ID? like I am not seeing it anywhere in Chat details.

[2022-05-03 14:54] ammaraslam commented on #4400
Seems related #3086

[2022-05-03 15:56] #4572 closed

[2022-05-03 16:16] MaoBueno opened #4611 "Configure agent and inbox limit"
**Describe the bug**

When I enter the super administrator in the "accounts" option in limits and define a limit for agents or inboxes I get the error "The change you wanted was rejected."

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'https://{installation-domain}/super_admin'
2. Click on 'accounts'
3. Click on 'edit'
4. //configure limit of agents or inboxes//
5. Click on 'Update

[2022-05-03 16:41] MaoBueno opened #4612 "instagram subscription"
**Describe the bug**

When I go to edit the instagram subscription in the facebook developers app I get the error "Unable to validate the URL"

Steps to reproduce the behavior:
1. Go to 'https://developers.facebook.com/'
2. Click on 'webhooks'
3. Click on 'instagram'
4. See error

![ig-1](https://user-images.githubusercontent.com/50222850/166499897-631c16e2-d5a7-4e76-b273-688e27a0026a.jpg)
![ig-2]

[2022-05-04 06:41] sojan-official commented on #4574
@Vadorequest Thanks for creating the issue. Based on our research on Courier,  it seems like a solution to handle transactional notifications. It doesn't give APIs to handle the responses from these channels. So Chatwoot will have to work over the native APIs of these providers anyway.

[2022-05-04 08:28] sojan-official commented on #4073
seems like you can't retrieve the actual sticker image. so rather let's create a message saying the user sent a sticker instead.

[2022-05-04 09:11] sojan-official commented on #3038
line supports image and audio messages with specific restrictions. We will have to enforce validations to accept these specific types of attachments.

ref:
https://developers.line.biz/en/reference/messaging-api/#image-message
https://developers.line.biz/en/reference/messaging-api/#video-message
https://developers.line.biz/en/reference/messaging-api/#audio-message

[2022-05-04 09:34] perry commented on #4073
@sojan-official in the payload received from LINE they will send a `stickerId`. You can then render the image (or save it) using the following template.

`https://stickershop.line-scdn.net/stickershop/v1/sticker/{{ stickerId }}/iphone/sticker@2x.png`

Example:

`https://stickershop.line-scdn.net/stickershop/v1/sticker/13/iphone/sticker@2x.png`
![](https://stickershop.line-scdn.net/stickershop/v1/s

[2022-05-04 09:45] sojan-official commented on #4073
@perry  Thanks for the info.  Let me take a look at this and get back.

[2022-05-04 14:30] Vadorequest commented on #4574
Okay, too bad. Thanks for following-up!

[2022-05-04 14:30] #4574 closed

[2022-05-04 15:29] hploscar commented on #4552
@pranavrajs yes, it is happening in web page with SDK when visiting with Friefox.
Everything seems to work fine as far as I have checked, but this error is a bit annoying.

[2022-05-04 18:35] sentry-io[bot] opened #4616 "NoMethodError: undefined method `id' for nil:NilClass"
Sentry Issue: [CHATWOOT-1G5](https://sentry.io/organizations/thoughtwoot-04/issues/2809897998/?referrer=github_integration)

[code]

[2022-05-04 18:40] sentry-io[bot] opened #4617 "NoMethodError: undefined method `any?' for nil:NilClass"
Sentry Issue: [CHATWOOT-28R](https://sentry.io/organizations/thoughtwoot-04/issues/3232451110/?referrer=github_integration)

[code]

[2022-05-04 19:01] #4616 closed

[2022-05-05 04:51] pranavrajs commented on #4415
<img width="928" alt="Screenshot 2022-05-05 at 10 18 59 AM" src="https://user-images.githubusercontent.com/2246121/166865051-4698e8bc-8f52-46c5-8937-a6aaaaaaed44.png">
https://developer.twitter.com/en/docs/authentication/faq

@tejaswinichile @sojan-official These are the cases where the OAuth token can be expired. I guess we can add a flow in the inbox settings page to reauthorize the app which wo

[2022-05-05 05:38] sentry-io[bot] opened #4619 "Twilio::REST::RestError: [HTTP 401] 20003 : Unable to fetch page"
Sentry Issue: [CHATWOOT-16T](https://sentry.io/organizations/thoughtwoot-04/issues/2661118261/?referrer=github_integration)

[code]

[2022-05-05 05:58] sentry-io[bot] opened #4620 "ActionView::Template::Error: undefined method `additional_attributes' for nil:NilClass"
Sentry Issue: [CHATWOOT-222](https://sentry.io/organizations/thoughtwoot-04/issues/3131250614/?referrer=github_integration)

[code]

[2022-05-05 08:22] sentry[bot] opened #4622 "TypeError: Cannot read properties of null (reading 'file_type')"
Sentry Issue: [CHATWOOT-29B](https://sentry.io/organizations/thoughtwoot-04/issues/3250619416/?referrer=github_integration)

[code]

[2022-05-05 09:45] fayazara opened #4624 "Chore: Refactor Automations code"
As automations have scaled and more features have been added, refactor the current code base, make it modular and generic.

[2022-05-05 10:25] vishnu-narayanan opened #4625 "chore: update newrelic gem to support log forwarding"
New relic gem 8.6+ supports agent log forwarding. Upgrade the gem to support this feature.

[2022-05-05 11:15] vocuzi commented on #469
Can we also have this step in this guide here : https://www.chatwoot.com/docs/self-hosted/deployment/docker ?

I spent past hour looking for a solution to the problem, it got fixed after running this :
`docker-compose run --rm rails bundle exec rails db:reset`

[2022-05-05 18:00] rmundel commented on #4572
Hey @MaoBueno
How did you solve this issue?

[2022-05-05 18:27] #4625 closed

[2022-05-05 18:33] sojan-official commented on #4491
@vocuzi  thanks for the comment.

Closing this issue since there haven't been recent reports. let's reopen in case the issue persists.

[2022-05-05 18:34] sentry-io[bot] opened #4628 "TypeError: Failed to fetch"
Sentry Issue: [CHATWOOT-1XA](https://sentry.io/organizations/thoughtwoot-04/issues/3069415142/?referrer=github_integration)

[code]

[2022-05-05 18:38] beeyev opened #4629 "feat: Indicate delivery status of emails when system has information about it"
chatwoot says that an email was successfully sent, but it was not.

Logs show that email message was actually rejected by a server

[code]

[2022-05-05 22:59] startshineye opened #4630 "WidgetBody font-size"
I want to Change  font size of message;
when I change  font-size from "--font-size-nano" to "--font-size-mini";It does not work.

[code]

result:
<img width="356" alt="image" src="https://user-images.githubusercontent.com/19678129/167040335-aaa03eaa-e855-4865-a816-8e5e7b37f3f1.png">

[2022-05-06 02:19] edryansaltat commented on #2983
The agent-side audio notification sound doesn't seem to work for me. I've enabled it in the profile settings for 'All Conversations' but still won't work. This is a very crucial feature for me.

[2022-05-06 06:27] vocuzi commented on #4491
To replicate the issue try setting up chatwoot with docker compose on Ubuntu 20. Sorry forgot to mention this in the last comment itself.

[2022-05-06 06:31] #4529 closed

[2022-05-06 07:35] pranavrajs commented on #4629
@beeyev

`Sent != Delivered`. Sent in Chatwoot means that it was sent to the email server successfully. The email server generates a message-id against this message which means that it accepted the mail content. I'm not sure what is wrong here.

Can you please share which email server are you using and would be able to get the message object if possible?

[2022-05-06 08:01] nithindavid opened #4632 "Redesign for account switcher toggle on sidebar"
This is a follow up to improve design on #4613

https://www.figma.com/proto/VwTfCXWpQ3lBmYL8Dy3sKx/Layout?page-id=263%3A2&node-id=1523%3A541&viewport=333%2C48%2C0.51&scaling=min-zoom&starting-point-node-id=1523%3A541

[2022-05-06 08:49] vishnu-narayanan commented on #4629
@beeyev This means your message was rejected by the receiving mail server as `spam`. Are you using a self-hosting email? Look into `SPF/DMARC/DKIM` and see if you have set this up for your mail server.

[2022-05-06 08:56] #4491 closed

[2022-05-06 09:25] #4632 closed

[2022-05-06 11:27] beeyev opened #4634 "feat: Ability to manually create a new email conversation via API"
I believe that it could be really useful if we could manually create an income message to an email dialog via api.
Here is my case:

I want users to be able to create a ticket via a custom HTML form on my website.
They submit a form which contains only a textarea (with user's text) and one attachments. Under the hood, I reach user's email from website's database and make an api call to chatwoot, s

[2022-05-06 12:44] sojan-official opened #4635 "feat: SLA management"
ability to define SLA policies and manage conversations based on that

[2022-05-06 12:48] sojan-official opened #4636 "epic: Interactive messages"
Goal: A unified API for interactive messages in Chatwoot, which would be translated accordingly into the implementation of the underlying channel.

## issues
- [ ] https://github.com/chatwoot/chatwoot/issues/4541
- [x] https://github.com/chatwoot/chatwoot/issues/4527
- [x] https://github.com/chatwoot/chatwoot/issues/3538
- [ ] https://github.com/chatwoot/chatwoot/issues/4589
- [ ] https://github.c

[2022-05-06 14:00] #1721 closed

[2022-05-06 17:05] darkpixel opened #4639 "Slack Integration Works except for attachments/images"
I've been using ChatWoot for a few months under Kubernetes (deployed through the Helm chart).  I decided to set up Slack integration today.  It works beautifully....except for images/attachments.

I can text my ChatWoot number and the text comes in to both ChatWoot and Slack.
I can reply from ChatWoot or Slack and it gets back to me.

Sending an image from Slack fails to reach ChatWoot or my phone

[2022-05-06 17:58] matiasperes commented on #2010
Any update on this?

[2022-05-07 12:27] #4187 closed

[2022-05-07 14:30] pranavrajs opened #4640 "Countdown time for campaigns"
Along with the time scheduled, it would be good to show how much time is left to execute the campaign.

[2022-05-07 21:38] ammaraslam opened #4641 "Urdu Translation"
I'm free for a while, would like to translate chatwoot into urdu, can you guys please add urdu project as well?

Thanks.

[2022-05-08 02:27] rmundel commented on #4636
Also Add Twilio Wpp buttons would be nice
https://www.twilio.com/blog/using-whatsapp-quick-reply-buttons-for-more-engaging-customer-experiences

[2022-05-08 09:51] beeyev opened #4642 "chatwoot fails to start if I enable s3_compatible with minio"
I followed [this ](https://github.com/chatwoot/chatwoot/issues/1596) instruction to configure working with `minio`
[code]
Everything seems correct, but unfortunately, chatwoot  fails to start with this messages:

[code]

[2022-05-08 10:05] aswindevps opened #4643 "Show unattended conversations in Dashboard"
Frontend

- Add an unattended tab for conversations in the dashboard.
- Show unattended conversation count.
- Clicking on the Unattended tab should show the conversations.

The above changes should work with existing filters in the dashboard.

Depends on :

- https://github.com/chatwoot/chatwoot/issues/4645
- https://github.com/chatwoot/chatwoot/issues/4707

[2022-05-08 10:07] beeyev opened #4644 "chatwoot opens a link to an attachment without a port in it."
I have chatwoot working using this address `http://localhost:3000/`
`FRONTEND_URL=http://localhost:3000/`
If I click a link to open an attachment:
![image](https://user-images.githubusercontent.com/326840/167291318-665e1e5e-c38d-4cf7-8179-35d00994a6b2.png)

chatwoot opens a link without `:3000` port in it, and as the result, it does not work.
![image](https://user-images.githubusercontent.com/3268

[2022-05-08 10:14] aswindevps opened #4645 "Add first_reply_created event in conversation"
Backend

- Add a new column ( `first_reply_created_at` ) in the conversation model.
- Update the column on first_reply_created event.
- Add a migration to update the existing conversations in the database.

- [ ] Test migration with prod data.

[2022-05-08 14:04] angelolpa opened #4646 "[CW-2301] feat: Ability to send attachment in new conversation"
Hello how are you?

on the new conversation screen currently does not allow sending an attachment in an email conversation.

it would be very interesting already at the beginning of the email that you will send already send the attachment

![](https://uploads.linear.app/2847f7b9-2caa-474c-b261-1c9bdc2a5da6/f501ab07-501d-4565-9cef-9fe03666412b/f5b7ae5e-dbab-474c-97c7-b36dc1cb7514?signature=eyJhbGci

[2022-05-08 22:15] Doodles2life commented on #4646
I just created a github account just to suggest the same exact thing.  Many conversations in live chat need to be paused while customer support investigates a given subject. Often times the agent will need to send the customer a document once that research has completed.  Adding the given attachment to a new conversation would be ideal
![Snag_4ae34381](https://user-images.githubusercontent.com/105

[2022-05-09 07:02] tejaswinichile opened #4648 "Facebook authentication issue on v13"
The issue occurs while authenticating. The link that presents v12. but the Facebook application is in v13.
![unknown](https://user-images.githubusercontent.com/10827585/167357085-34c182b6-b35c-4290-8fc7-406910c893d1.png)

[2022-05-09 07:57] shgninc commented on #348
I need to reset password, manually as admin, not by sending email.
How can i do that?

[2022-05-09 08:34] #4563 closed

[2022-05-09 08:53] #4375 closed

[2022-05-09 10:20] sojan-official opened #4650 "epic: Integrations"
## Issues

- [ ] #4651

[2022-05-09 10:20] sojan-official opened #4651 "feat: Shopify Integration"

[2022-05-09 10:25] sojan-official commented on #4642
@vishnu-narayanan  could you take a look ?

[2022-05-09 12:21] aswindevps commented on #4645
Migration

[code]

Migration Run Details

[code]

This is taking too much time to run. We might need to consider a different approach.

[2022-05-09 12:24] juls0730 commented on #3388
Is this issue still open, I see a pull request that has been closed before it was merged mentioned, if it is I could pick this up

[2022-05-09 12:54] pranavrajs commented on #4641
Added, please see the languages here.

https://translate.chatwoot.com/chatwoot/ur-IN
https://translate.chatwoot.com/chatwoot/ur

[2022-05-09 12:54] #4641 closed

[2022-05-09 13:01] sojan-official commented on #3388
@juls0730  please go ahead.

[2022-05-09 13:30] sojan-official opened #4653 "feat: Ability to start conversations from conversation tab"
At the moment in chatwoot to create a new conversation against a contact, one has to navigate to contacts page. This workflow could be made much simpler by having the conversation button in contact card of conversations page as well.

## Card on contacts page

<img src='https://user-images.githubusercontent.com/73185/167419545-60231459-8a2a-4d78-87ed-7f073eceb60b.png' width='500'>

## Card on Conv

[2022-05-09 13:40] sojan-official opened #4655 "feat: Ability to send date picker in interactive form messages"
Ability to send date fields in interactive messages that will render a proper date picker component.

[2022-05-09 13:48] #4591 closed

[2022-05-09 14:54] maxmoreno20 opened #4657 "413 Request Entity Too Large, wsp audio files"
hi, when trying to send an audio by whatsapp, exceeding 2mb (10 seconds), it throws me an error 413 Request Entity Too Large

![Captura de Pantalla 2022-05-09 a la(s) 10 47 50](https://user-images.githubusercontent.com/46489513/167437115-81a0ae8b-e018-4d3c-82fe-ba594fd1ba0c.png)

[2022-05-09 18:03] vishnu-narayanan opened #4658 "fix security issues in docker images"
**Describe the bug**

- fix security issues in docker images reported from synk scans

[2022-05-09 18:51] sojan-official opened #4660 "bug: Agent Reports counts are broken when they have access to multiple accounts"
![Image](https://user-images.githubusercontent.com/73185/167476758-f27a16b9-14c6-42c9-8da8-178b0fd0d1a7.png)

Agent overview reports seems to be displaying data across all the accounts at the moment. We want to scope it to the specific account which administrator is viewing at the moment.

## Fix

https://github.com/chatwoot/chatwoot/blob/f64cf85ab24e933e9469d0eab45c748f4f859f3e/app/helpers/report

[2022-05-09 18:58] #4510 closed

[2022-05-10 04:30] jamespsteinberg opened #4661 "Slack webhook isnt called on heroku one click deploy"
Just did a fresh install from the heroku deploy and added the slack webhook.

Did a curl test of the webhook and all is good.
I am running the hobby dynos with free postgres and redis.

I tried to upgrade from the older chatwoot when it was using the chatbot instead of the webhook and it broke. So this was a completely new install.

[2022-05-10 05:33] Akshitkaushik opened #4662 "Rasa Integration Url error :3000/widget_test"
Hi Chatwoot Team,

i want to integrate rasa chatbot to chatwoot. i follow your docs and youtube video and implement, At the end i run all services rasa and php and chatwoot services after i hit the url - localhost:3000/widget_test . i got the error pls help me

NOTE ERROR:
                            The page you were looking for doesn't exist.
                            You may have mistyped the

[2022-05-10 07:36] sojan-official commented on #4645
# Notes

- We will update the new column with current_time for existing conversations.
- We will create sidekiq job for backfilling first_reply_created_at for existing conversation
- the job will iterate over accounts and enqueue individual jobs for each account.
- the migration will enqueue this job to sidekiq

[2022-05-10 10:49] klipitkas commented on #4532
Hello, we are experiencing the same issue using Google Suite (gmail). Sometimes it disconnects twice within a few minutes and we need to manually save the settings to re-enable it. Ideally we should be able to either set a timeout or number of email fetching attempts before considering the email inbox as disconnected.

[2022-05-10 11:41] vishnu-narayanan commented on #4338
@Parthib314 Sorry about the delayed response here. Please feel free to take this up.

cc: @sojan-official

[2022-05-10 13:50] #4648 closed

[2022-05-10 14:14] tejaswinichile opened #4666 "Sentry: Instagram/Facebook exceptions and errors"
https://sentry.io/organizations/chatwoot-p3/issues/3252869687

[2022-05-10 14:20] tejaswinichile opened #4667 "Notify: Facebook session expired"
https://sentry.io/organizations/chatwoot-p3/issues/3253139854/

To fix this issue we need some way to notify user/admin/agent to update the Facebook token that is re-authorize the session

[2022-05-10 15:08] #4657 closed

[2022-05-10 16:23] hiagodotme opened #4669 "The close chat button on mobile doesn't work in firefox."
**Describe the bug**
The close chat button on mobile doesn't work in firefox.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a web widget
2. Embed on your page.
3. Navigate to it using Firefox for Android.
4. Here is the error, it is impossible to close the conversation window.

**Expected behavior**

The close button should appear, just like in google chrome for android.

**Environ

[2022-05-10 16:26] hiagodotme opened #4670 "doc: How to associate contact with inbox via API"
I didn't find in the documentation how do I associate a contact with an inbox through the API. When I try to start a conversation only email inbox is displayed.

[2022-05-11 08:59] #4666 closed

[2022-05-11 10:22] vishnu-narayanan commented on #4368
Closing as there has been no activity for more than a month. Please reopen if the issue persists.

[2022-05-11 10:22] #4368 closed

[2022-05-11 10:58] pranavrajs commented on #4669
@iamsivin Can you please check this out and see if can be reproduced?

[2022-05-11 11:43] vishnu-narayanan opened #4673 "sidekiq not respecting rails log level"
**Describe the bug**

Sidekiq is not respecting the `rails` log level at the moment. Have a setting to control the `sidekiq` log level or have a single variable to control both `rails` and `sidekiq`.

**To Reproduce**

Steps to reproduce the behaviour:
1. Change rails log level to `WARN`.
2. Restart the app and tail logs.
3. Sidekiq will still be logging at `INFO`
4. See error

**Expected behavior

[2022-05-11 11:49] iammattmartin commented on #4415
This is so very frustrating. Again today, we get messages on Facebook but not on CW.

Needing yet another reconnect with loss of messages.

We are at the point now that we cannot rely upon the software as it is just not reliable enough.

[2022-05-11 16:37] pranavrajs commented on #4669
@hiagodotme Would you be able to share a screencast? It seems like the functionality is working as expected.

[2022-05-11 18:00] hiagodotme commented on #4669
@pranavrajs e @iamsivin i tried to reproduce but it worked, sorry for the alert. The boy sent a printscreen, he works remotely so he didn't have his equipment in hand to perform the test. If we can reproduce I reopen this issue, you can close! Sorry for the inconvenience.

![firefox-erro](https://user-images.githubusercontent.com/11755715/167915951-7e44d397-a029-46f8-8d88-92ef0bc5cc5a.png)

[2022-05-11 18:00] hiagodotme commented on #4669
@pranavrajs e @iamsivin i tried to reproduce but it worked, sorry for the alert. The boy sent a printscreen, he works remotely so he didn't have his equipment in hand to perform the test. If we can reproduce I reopen this issue, you can close! Sorry for the inconvenience.

![firefox-erro](https://user-images.githubusercontent.com/11755715/167915951-7e44d397-a029-46f8-8d88-92ef0bc5cc5a.png)

[2022-05-11 18:49] pranavrajs commented on #4669
@hiagodotme No worries, feel free to reopen if needed.

[2022-05-11 18:49] #4669 closed

[2022-05-11 21:47] ammaraslam commented on #4047
Any ETA for this? this would be really helpful, considering as of now, we're using GSheet to keep track of who was sent a transcript.

TIA

[2022-05-11 22:26] iammattmartin commented on #4415
I don't think that is really required.

Facebook re-linking works but the "reconnect" box at the bottom is always showing, even when the integration is working.

There just needs to be a massive improvement on re-connecting twitter accounts without having to delete and re-add and also monitoring of said linking of both Facebook and Twitter.

Having a unreliable client to manage these accounts is c

[2022-05-12 14:23] a-varma-shopper opened #4678 "Couldn't configure outgoing mail server"
**Describe the bug**

I've been trying to setup outgoing email server. I have tried both mailgun and SMTP methods, but both have not worked for me yet. I've attached my smtp conf below:
`MAILER_SENDER_EMAIL="MyCompany.com support@mycompany.com"
 SMTP_ADDRESS=smtp.gmail.com
 SMTP_USERNAME=xyz.mycomany@gmail.com
 SMTP_PASSWORD=eciiakoskohomhck
 SMTP_AUTHENTICATION=login
 SMTP_ENABLE_STARTTLS_AUTO=tr

[2022-05-13 06:04] #4673 closed

[2022-05-13 07:05] heroic commented on #3775
@pranavrajs Hi, is there any timeline for this?

[2022-05-13 07:36] vishnu-narayanan commented on #4642
@beeyev I see that you are setting `STORAGE_ENDPOINT=http://minio:9000`.

Is `minio` resolvable from chatwoot web/worker containers? Could you confirm?

[2022-05-13 08:37] sentry-io[bot] opened #4680 "ActiveRecord::RecordNotUnique: PG::UniqueViolation: ERROR: duplicate key value violates unique constraint "index_contact_inboxe..."
Sentry Issue: [CHATWOOT-1B](https://sentry.io/organizations/chatwoot-p3/issues/3254045532/?referrer=github_integration)

[code]

[2022-05-13 10:01] jcmatoskx commented on #2898
Would love to see VOIP support as well, being able to have on customer history whenever they contacted us or were contacted by phone would be amazing, as well as being able to know who is the customer who is calling us and immediately be able to easily look at their contact history.

[2022-05-13 10:36] sojan-official commented on #4678
@a-varma-shopper  could you access sidekiq and see if you have any error or dead jobs?
You can access sidekiq by going to installationurl/super_admin and clicking the sidekiq option in sidebar

[2022-05-13 10:36] sojan-official commented on #3775
@heroic We don't have an ETA for this yet.

[2022-05-13 10:39] sojan-official commented on #4415
@iammattmartin  The reauthenticate button at the bottom is always shown for Facebook pages irrespective of the integration status. This is shown for users who would like to reconfigure the permissions allocated to the chatwoot app.

[2022-05-13 10:40] iammattmartin commented on #4415
Noted, but then this means there is no visible way to know the state between facebook and the app. No alerts, nothing visual and until we start getting messages via FB which we only find by logging in there, we are not to know.

[2022-05-13 10:46] sojan-official commented on #4662
the url should be `http://localhost:3000/widget_tests`

[2022-05-13 10:47] sojan-official commented on #4661
@jamespsteinberg  are you following this guide ? https://www.chatwoot.com/docs/self-hosted/configuration/features/integrations/slack-integration-setup/

[2022-05-13 10:49] sojan-official commented on #4646
@angelolpa @Doodles2life Thanks for the feedback. we are prioritizing this for upcoming releases.

[2022-05-13 10:54] sojan-official commented on #4636
@rmundel  You should be able t send the buttons even now.  You can get a button template approved on Twilio, add the body text as a canned response in chatwoot and send the same message body from chatwoot so that  the template message will be rendered on the WhatsApp end

ref: https://www.twilio.com/docs/whatsapp/buttons#sending-templates-with-buttons

[2022-05-13 10:56] sojan-official commented on #4644
let's track this together over https://github.com/chatwoot/chatwoot/issues/4278

[2022-05-13 10:56] #4644 closed

[2022-05-13 11:05] sojan-official commented on #2010
@JennyPrabhu  @matiasperes  `/api/v1/accounts/1/agents` should return you all the agents which have the attribute `availability_status` which can be filtered to fetch the online agent?

[2022-05-13 11:10] sojan-official commented on #4639
@darkpixel  could you tell us which version of Chatwoot you are using?
you can view this by accessing `/api/` url

[2022-05-13 11:49] sojan-official commented on #4037
@shivamsinghchahar  sounds good 👍

[2022-05-13 12:22] sojan-official commented on #4531
@drexlma Thanks for the feedback. We will prioritize this for our future releases.

[2022-05-13 13:59] a-varma-shopper commented on #4678
Thanks,
It worked, there was a dead job after all.

[2022-05-13 13:59] #4678 closed

[2022-05-13 22:16] hostprolimited opened #4683 "bug: We're sorry, but something went wrong"
![SharedScreenshot1](https://user-images.githubusercontent.com/64754518/168396069-e1778bcc-9145-4cee-b2ef-a41c47ad476d.jpg)
I get the following error when i install chatwoot

[2022-05-13 22:17] hostprolimited commented on #4683
error log
error log

May 13 21:54:56 localhost systemd[1]: Reached target Local File Systems.
May 13 21:54:56 localhost systemd[1]: Starting Load AppArmor profiles...
May 13 21:54:56 localhost systemd[1]: Starting Set console font and keymap...
May 13 21:54:56 localhost systemd[1]: Starting Create final runtime dir for shut

[2022-05-14 18:21] pranavrajs opened #4684 "The links in the widget does not open a new tab"
![photo_2022-05-14 23 50 50](https://user-images.githubusercontent.com/2246121/168443860-f9b1efce-0515-4074-b9d4-f7dc78c52bf7.jpeg)

[2022-05-14 20:34] fifi98 commented on #4335
Having the same problem. It quite affects the user experience on iOS devices.

[2022-05-15 11:48] mattiamarras commented on #3462
@sojan-official i made a script with php in order to import 6.000 contacts through API but often i obtain this error.
How can I solve this issue? It happens also if I limit to one request per second.

Retry later
Retry later
Retry later
Retry later
Retry later
Retry later
Retry later
Retry later
Retry later
Retry later
Retry later
Retry later
Retry later

[2022-05-15 11:59] sojan-official commented on #3462
@mattiamarras  are you working on a self-hosted instance? If so set the environment variable `ENABLE_RACK_ATTACK=false`

[2022-05-15 12:36] mattiamarras commented on #3462
@sojan-official self-hosted, i add the varible to the env file and then restart the service or the machine?
thank you

[2022-05-15 13:21] sojan-official commented on #4683
@hostprolimited  could you mention the guide which you are following ?

[2022-05-15 18:46] hostprolimited commented on #4683
I managed to fix the issue, What's now disturbing is the mobile app

[2022-05-16 08:07] vishnu-narayanan commented on #4683
@muhsin-k any pointers here?

[2022-05-16 09:02] jgrau commented on #4532
We are experiencing the same thing with google suite on a fairly regular basis (once or twice a week).

[2022-05-16 09:18] CodeLeom commented on #4684
@pranavrajs kindly close this issue, since it is now solved.

[2022-05-16 09:21] muhsin-k commented on #4683
@hostprolimited Could you please share a screencast?

[2022-05-16 09:25] sojan-official commented on #4684
closed in https://github.com/chatwoot/chatwoot/pull/4685

[2022-05-16 09:25] #4684 closed

[2022-05-16 11:26] #4653 closed

[2022-05-16 17:43] jtperez2 commented on #4115
we updated to v2.5.0 which includes this fix, but still I'm sending wav instead of ogg.
Channel: Whatsapp by Twlio
Storage: S3
Is there something else to do in order to make it work??

Thanks team!

[2022-05-16 17:44] muhsin-k opened #4687 "chore: Sync pre-chat fields on custom attribute update"
Currently, the field from pre-chat is not updating when we update custom attribute. Add a job to update custom field from all widget pre-chat fields if custom attribute updated.

[2022-05-17 06:26] tejaswinichile opened #4688 "Enhancement: Facebook re-authentication mailer for agents"
**Is your enhancement request related to a problem? Please describe.**
We don't send any emails to agents related to the Facebook sessions expired.

**Describe the solution you'd like**
Send a similar mail that we send to an admin about the expired session.
And send when the session expired while receiving messages from old open conversation contact.

**Describe alternatives you've considered**
-

[2022-05-17 06:29] tejaswinichile opened #4689 "Enhancement: respective code changes for HUMAN_AGENT message tag"
**Is your enhancement request related to a problem? Please describe.**
Add message_tag human_agent for Instagram

**Describe the solution you'd like**
Send the message tag with Instagram messages.

**Describe alternatives you've considered**
NA

**Additional context**
We got permission for HUMAN_AGENT message_tag to make it work on Instagram. Now we should make these changes for the code to send t

[2022-05-17 07:18] pranavrajs opened #4690 "Send resolved message to Slack, allow resolving from Slack."
Context:

To do:

- [ ] Add a button on the Slack message to resolve the conversation
- [ ] Investigate the possibilities to share activity messages in Slack.

[2022-05-17 09:33] sojan-official commented on #4532
Based on looking into this. The immediate changes which we can do

- [ ] Increase the error threshold for email channels to a higher number of 15
- [ ] Reset the error threshold back to zero on successful fetches.

[2022-05-17 11:53] Vadorequest commented on #4690
Thanks @pranavrajs for following-up.

I'd also like for the following information to be forwarded to the `customer-conversations` Slack channel :
- Origin of the contact (which Inbox)
- Specify which custom fields (contact/conversation) to forward (I don't want them all, there are too many and some are highly sensitive, but a few of them would definitely make support much easier)
- Add a link to t

[2022-05-17 14:54] pranavrajs commented on #4690
@Vadorequest Sounds good, it seems like an enhancement which can be done along with the same request.

[2022-05-17 15:31] #4211 closed

[2022-05-17 16:06] mattiamarras opened #4696 "Upgrading to 2.5 Aborted (core dumped)"
Hi, in a local installation on Google Cloud Platform i have got this error short after giving this command: rake assets:precompile RAILS_ENV=production

7fc685ea5000-7fc685ea7000 r--p 00000000 08:01 9926                       /usr/lib/x86_64-linux-gnu/libz.so.1.2.11
7fc685ea7000-7fc685eb8000 r-xp 00002000 08:01 9926                       /usr/lib/x86_64-linux-gnu/libz.so.1.2.11
7fc685eb8000-7fc685

[2022-05-17 17:33] pranavrajs commented on #4696
@mattiamarras Can you please share the spec of your machine, how much RAM is available?

[2022-05-18 04:36] mattiamarras commented on #4696
Google Cloud Compute Engine n2-standard-4 has 4 cores and 16 memory

              total        used        free      shared  buff/cache
available
Mem:          16000         859        4888          39       10252
14801
Swap:             0           0           0

Something else to check?

Il giorno mar 17 mag 2022 alle ore 19:33 Pranav Raj S <
***@***.***> ha scritto:

[2022-05-18 12:56] vishnu-narayanan commented on #4696
Are you trying to upgrade your installation? Or Is this a fresh install?

[2022-05-18 14:25] mattiamarras commented on #4696
Hi, i am upgrading.

Il mer 18 mag 2022, 14:56 Vishnu Narayanan ***@***.***> ha
scritto:

[2022-05-18 16:05] pranavrajs opened #4700 "Document APIs for webhooks"
CRUD actions for webhooks are missing in the API documentation.

[2022-05-18 17:48] mattiamarras commented on #4696
Hi, i'am trying again after stopping all services and it is going well but
i have some new problem sending emails that before was not shown.
Problem solved for this issue.

Il giorno mer 18 mag 2022 alle ore 17:56 Vishnu Narayanan <
***@***.***> ha scritto:

[2022-05-18 18:02] mattiamarras opened #4701 "Upgraded to 2.5"
Hi, i upgraded to 2.5 and now when i respond to a message in a conversation a see this error:
![image](https://user-images.githubusercontent.com/62311149/169111310-bd6f5cb6-582f-4ef9-9bf6-6af3774e8959.png)

and if i search in the network chrome inspection tab i see a call failed to https://MYSITE/api/v1/accounts/1/conversations/928/messages
with this response
{"error":"PG::UndefinedColumn: ERROR:

[2022-05-18 18:05] sojan-official commented on #4701
@mattiamarras  did you run the DB migrations?
[code]

[2022-05-18 18:05] sojan-official commented on #4696
closing in favor of https://github.com/chatwoot/chatwoot/issues/4701

[2022-05-18 18:06] #4696 closed

[2022-05-18 18:10] mattiamarras commented on #4701
Yes

Il giorno mer 18 mag 2022 alle ore 20:05 Sojan Jose <
***@***.***> ha scritto:

[2022-05-18 20:12] iammattmartin commented on #4578
Is there any further debug we can do on this @pranavrajs ?

[2022-05-19 04:16] #4645 closed

[2022-05-19 09:33] dominikmukrecki opened #4705 "Pass conversation information like those for webwidget throuhg API"
**Is your feature request related to a problem? Please describe.**
Is there any way to pass conversation information for conversations other than web widget ones?
![image](https://user-images.githubusercontent.com/64379788/169261076-c9d8fbd5-c489-40c0-9054-da7f0d0a7378.png)
I mean other inboxes (i.e. Facebook). Can I use API to add or modify this?

Please notice that described are different from c

[2022-05-19 16:13] #4700 closed

[2022-05-19 16:29] sojan-official commented on #3462
@mattiamarras  that is correct.

[2022-05-19 16:31] sojan-official commented on #4505
Closing this issue since the original issue is resolved. Let's reopen if it persists.

[2022-05-19 17:14] sojan-official commented on #4047
@ammaraslam  We are still working out the spec for this.

[2022-05-19 17:26] sojan-official commented on #4670
You can associate a contact to an inbox while creating the contact through API by specifying an inbox ID.
https://www.chatwoot.com/developers/api/#operation/contactCreate

Other than that you will only be able to associate contacts to the inboxes of types email, SMS, WhatsApp, and API channel while creating a new conversation.
https://www.chatwoot.com/developers/api/#operation/newConversation ( sp

[2022-05-19 17:33] sojan-official commented on #4634
@beeyev Thanks for the feedback, We will have it in our pipeline for future roadmap.

[2022-05-19 17:49] sojan-official commented on #4655
closing in favor of https://github.com/chatwoot/chatwoot/issues/4589

[2022-05-19 17:49] #4655 closed

[2022-05-19 17:52] sojan-official commented on #4533
@drdaga what's the issue you are experiencing? are the attachments not arriving at the end customer?

[2022-05-19 19:17] aswindevps opened #4707 "chore: Update conversations API to include unattended conversations."
Backend

- Introduce a new param(`reply_status`) to filter unattended conversations.

[2022-05-20 03:17] sojan-official commented on #2859
@Parthib314 if you still have the bandwidth, feel free to go ahead.

[2022-05-20 05:41] fayazara opened #4709 "Feat: Whatsapp templates"
**Is your feature request related to a problem? Please describe.**
Add a feature to parse and send whatsapp templates from the dashboard.
Acceptance criteria
- [ ] Component for selecting templates
- [ ] Component for parsing the templates and a send option
- [ ] Integrate above components in conversation page
- [ ]  Integrate aboce components in contact page

**Describe the solution you'd like**

[2022-05-20 12:48] sojan-official opened #4712 "feat: Whatsapp Cloud API support"

[2022-05-20 12:53] sojan-official commented on #4705
When you are creating a new conversation through API, you can supplement this information via the `additional_attributes` hash. ref: https://www.chatwoot.com/developers/api/#operation/newConversation

[2022-05-20 12:57] sojan-official commented on #4701
@mattiamarras  the given error means that the following migration wasn't run
https://github.com/chatwoot/chatwoot/blob/develop/db/migrate/20220506163839_add_additional_attributes_to_message.r

[code]

--
please double-check running the migrations and see if its working properly.

[2022-05-20 13:03] sojan-official commented on #4611
could you provide logs from the rails server?

[2022-05-20 13:06] sojan-official commented on #4542
@voko3456 Thanks for the feedback, We will have it in our pipeline for future roadmap.

[2022-05-20 13:08] sojan-official commented on #4592
@rmundel Thanks for the feedback, We will have it in our pipeline for future roadmap.

[2022-05-20 13:13] sojan-official commented on #4569
@danielslyman  Thanks a lot for posting back the findings. Closing the original issue as it is resolved now.

[2022-05-20 13:13] #4569 closed

[2022-05-20 13:18] sojan-official commented on #4590
@matiasperes  the attribute is available in the accounts model
ref: https://github.com/chatwoot/chatwoot/blob/11ea8a3032a7199c71308fbcc5d52056d73412a9/app/models/account.rb#L35

the logic is available over :

https://github.com/chatwoot/chatwoot/blob/develop/app/jobs/account/conversations_resolution_scheduler_job.rb
https://github.com/chatwoot/chatwoot/blob/develop/app/jobs/conversations/resolutio

[2022-05-20 13:34] sojan-official commented on #4526
@sultanlive  At the moment Chatwoot limits CSAT survey to 1 per conversation. This is to do with how we calculate some of the reporting metrics.  If you are using a web widget a workflow that you can follow is to not allow new messages in conversations after it is resolved.( so that multiple resolution events wont occur in a conversation thread )

<img width="761" alt="Screenshot 2022-05-20 at 7 0

[2022-05-20 18:00] sojan-official commented on #3164
@NitinNR check yoururl.com/api and see if the version is updated on the API

[2022-05-20 18:01] sojan-official commented on #4612
@MaoBueno have you configured the `IG_VERIFY_TOKEN` environment variable?
ref: https://www.chatwoot.com/docs/self-hosted/configuration/features/integrations/instagram-channel-setup/

[2022-05-20 20:03] rmundel commented on #4712
Woah! It means I can connect direclty to Whatsapp without Twilio or 360Dialog?

[2022-05-21 06:01] sojan-official commented on #4712
@rmundel  that is correct.

[2022-05-21 09:50] drdaga commented on #4712
so u have released it or planning to release ??

[2022-05-21 12:00] voko3456 opened #4714 "Ability to remove twiter and web widget from account add new inboxe list in super admin"

[2022-05-21 13:56] mattiamarras commented on #4701
I made a fresh installation before reading your message, i will try for the
next upgrade.

Il giorno ven 20 mag 2022 alle ore 14:57 Sojan Jose <
***@***.***> ha scritto:

[2022-05-21 15:57] sojan-official commented on #4712
@drdaga  it in development at the moment.

[2022-05-21 15:58] sojan-official commented on #4701
closing the issue for now. will reopen if it persists in future.

[2022-05-21 15:58] #4701 closed

[2022-05-21 15:59] sojan-official commented on #4714
@voko3456  Thanks for the feedback, We will have it in our pipeline for future roadmap.

[2022-05-21 16:02] sojan-official commented on #2513
closing this since super admin now have the ability to update the confirmed date for users, which marks them as confirmed

[2022-05-21 16:02] #2513 closed

[2022-05-21 16:04] sojan-official commented on #1441
You can configure the installation config `ENABLE_ACCOUNT_SIGNUP` on super admin now to disable signups

[2022-05-21 16:04] #1441 closed

[2022-05-21 16:05] sojan-official opened #4715 "epic: Super Admin"
## Issues
- [x] https://github.com/chatwoot/chatwoot/issues/4714
- [x] https://github.com/chatwoot/chatwoot/issues/4611
- [x] https://github.com/chatwoot/chatwoot/issues/4455
- [x] https://github.com/chatwoot/chatwoot/issues/4164
- [x] https://github.com/chatwoot/chatwoot/issues/1590
- [x] https://github.com/chatwoot/chatwoot/issues/1125
- [ ] https://github.com/chatwoot/chatwoot/issues/1101
- [x]

[2022-05-21 17:25] mattiamarras commented on #3462
Ok, problem solved.

[2022-05-21 20:18] MaoBueno commented on #4611
2022-05-21T19:45:42.324444+00:00 app[web.1]: I, [2022-05-21T19:45:42.324327 #9]  INFO -- : RoomChannel#update_presence
2022-05-21T19:45:48.003659+00:00 app[web.1]: I, [2022-05-21T19:45:48.003562 #9]  INFO -- : RoomChannel#update_presence
2022-05-21T19:45:48.004283+00:00 app[web.1]: I, [2022-05-21T19:45:48.004229 #9]  INFO -- : RoomChannel#update_presence
2022-05-21T19:45:50.481745+00:00 app[web.1]

[2022-05-21 21:35] WevrLabs commented on #4712
Hope it gets prioritized

[2022-05-21 22:17] egorky commented on #4701
Hi! How do I run this command with the docker version? Thanks in advance.

[2022-05-22 01:41] jersonjunior commented on #4683
I have the same problem, how was it fixed?

[2022-05-22 06:19] ErmakovSergey opened #4716 "Enable Ukrainian language"
Enable Ukrainian language, please

[2022-05-22 07:38] #4707 closed

[2022-05-22 09:13] voko3456 opened #4717 "bug: automation rules work on multiple accounts"
We received complain today account ID 19
He said that he have automation rules send message action was sanded with content not belong to his account ID

Then after I see his account I see that the content of send message action is belong to account ID 23 not 19

when i see the  automation in account ID 19 it's different from account ID 23 but the account ID 19 is sending messages belong to account

[2022-05-22 11:37] mattiamarras commented on #4701
I am using Ubuntu not Docker.

M.

Il giorno dom 22 mag 2022 alle ore 00:17 egorky ***@***.***>
ha scritto:

[2022-05-22 14:33] sojan-official commented on #4701
@egorky ref:  https://www.chatwoot.com/docs/self-hosted/deployment/docker#running-rails-console

[code]

[2022-05-22 14:56] egorky commented on #4701
thanks, @sojan-official , that worked and now I don't have those errors either.

[2022-05-23 00:40] ammaraslam opened #4718 "Ability to assign team to inbox"
**Is your enhancement request related to a problem? Please describe.**
Nope.

**Describe the solution you'd like**
Ability to assign teams to Inbox instead of single agent (having both options would also be great), It's easy to manage (add or remove) if a user has 100+ web inbox.

I know it's possible to assign teams to inbox via automation but it's not feasible considering the amount of inboxes.

[2022-05-23 02:57] giquieu commented on #3428
Hey,
@sojan-official, I sent a PR, could you please check if it meets the suggestions?

[2022-05-23 07:16] #4716 closed

[2022-05-23 07:42] XuJinNet commented on #1039
+1

[2022-05-23 08:50] sojan-official commented on #3428
@giquieu  Thanks for the effort. We will take a look and take it forward.

[2022-05-23 10:09] sojan-official commented on #4718
closing in favor of https://github.com/chatwoot/chatwoot/issues/4718

[2022-05-23 10:09] #4718 closed

[2022-05-23 11:01] NitinNR opened #4721 "bug: Dialogflow multiple responses not working with live chat"
In 2.5.x version of chatwoot dialogflow multiple response are not working but it was working in 2.4.x

please let me why is this happening?

[2022-05-23 12:36] sojan-official opened #4723 "epic: API Channel"
## issues

- [ ] #4724
- [ ] https://github.com/chatwoot/chatwoot/issues/4732

[2022-05-23 12:36] sojan-official opened #4724 "feat: Ability to enforce hmac_authentication for API channel"

[2022-05-23 12:52] ammaraslam commented on #4718
Thankyou for replying, Sojan. Where can I track this considering this is #4718

[2022-05-23 13:22] sojan-official commented on #4718
@ammaraslam  wrong link. sorry : https://github.com/chatwoot/chatwoot/issues/2710

[2022-05-23 13:24] sojan-official commented on #4609
closing in favor of https://github.com/chatwoot/chatwoot/issues/2983

[2022-05-23 13:24] #4609 closed

[2022-05-23 13:48] sojan-official commented on #4528
@WevrLabs Thanks for the feedback, We will have it in our pipeline for future roadmap.

[2022-05-23 13:57] sojan-official commented on #4683
@jersonjunior  could you share the logs ?

[2022-05-23 16:17] iprithvitharun opened #4726 "Grammatical mistake in help text for a dropdown in Inbox setting"
<img width="707" alt="Screenshot 2022-05-23 at 9 47 02 PM" src="https://user-images.githubusercontent.com/58725708/169863171-7b3cbb5b-1a11-4c95-9a78-6b1beb686305.png">

[2022-05-23 18:42] Vadorequest opened #4728 "Auto-merging of contacts with different IDs shouldn't happen - Chatwoot mistakenly merges users"
### **Is your enhancement request related to a problem? Please describe.**
Our users get overridden when we use "impersonate" our users, the conversation get attached to the most recently used user and so on. Here is a video that explains things with a bit more detail: https://watch.screencastify.com/v/HTnpujP9i1mAm6NKNtqm

It's a SaaS product, I have absolutely no control over how it behaves inte

[2022-05-23 19:02] psifertex opened #4729 "feat: update slack contact with actual email"
When a chat session has updated their email address, it would be a huge usability improvement if the contact shown in slack could update to include their email. Even just showing it as a message in the thread would be great. Right now the only way to find the email is to separately login to the chatwoot interface which is annoying since the whole point of being integrated in slack is we can do it

[2022-05-23 19:05] psifertex commented on #4729
Whereas the web UI shows:
<img width="868" alt="Screen Shot 2022-05-23 at 3 04 11 PM" src="https://user-images.githubusercontent.com/140215/169888934-d9f14221-f97b-4df1-b2d9-8a3d942af3a9.png">

[2022-05-23 20:49] sojan-official opened #4730 "epic: Website Channel"
## Issues

- [x] #4731
- [x] https://github.com/chatwoot/chatwoot/issues/4320
- [ ] https://github.com/chatwoot/chatwoot/issues/4728
- [x] https://github.com/chatwoot/chatwoot/issues/2811
- [x] https://github.com/chatwoot/chatwoot/issues/4735
- [ ] #4740

[2022-05-23 20:50] sojan-official opened #4731 "feat: Contact Form"
ref: https://discord.com/channels/647412545203994635/977596177014988880/978355633290113135

A chatwoot-powered contact form for the website channel which I can embed on my website So that I can respond from chatwoot later, which will be sent to the customer's emails

## alternatives
- [ ]  SDK method to create conversation on behalf of an identified customer without the chat bubble: Which could be