[2022-02-02 04:54] pranavrajs opened #3891 "Pull exisiting emails while connecting IMAP"
There was a feature request to bring all the emails in the system to Chatwoot once we connect an email channel with Chatwoot. You can see the thread [here](https://app.chatwoot.com/app/accounts/1/conversations/11910).

[2022-02-02 05:24] pranavrajs commented on #1039
@danielzzz We don't have a conversation_started event, but we have a conversation_created event. conversation_status_changed is also available. Let me know if you are not receiving any of those.

[2022-02-02 05:30] pranavrajs commented on #3840
@tejaswinichile This is the use case. I want to see all the conversations that are in an open state that was created X days before. I want to look at this every day and see if we need to take any action on it. With the custom views, we can save this filter, and I can come back to this filter every day to see the conversations we need to take action on.

This would be an is_less_than filter, but th

[2022-02-02 07:57] ChrisvanChip commented on #3883
Especially custom attributes will be really useful for this. The chatbot can easily fill in the contact information & properties while waiting for an agent.

Natural-Language Processing feels more natural than a long contact form.

[2022-02-02 09:19] aswindevps commented on #3458
Both setUser and setCustomAttribues calls are tested in develop branch and it's working when we enforce the user identity validation. Please check the attached screen recording.
https://user-images.githubusercontent.com/5848740/152125125-0ec86423-9124-4c12-9109-d724ca290d3c.mp4

@pranavrajs please validate from your side.

[2022-02-02 12:23] pranavrajs commented on #3869
Reopening this issue as it seems that the product does not explain itself.

[2022-02-02 12:24] pranavrajs commented on #3869
cc @nithindavid as it is a UX issue.

[2022-02-02 12:27] pranavrajs commented on #3869
@danielzzz Thanks for the detailed comment. This is really helpful. I get that the UX around the email channel is confusing.

To answer your questions. You need to set both IMAP and SMTP for an email channel to work. Chatwoot does not ship with a default email server. The forwarder option in the email should not be shown ideally if you are using SMTP/IMAP.

[2022-02-02 12:32] danielzzz commented on #1039
I was not receiving these, I will confirm.

this was for example in a case when a customer opened some conversation previously, then it was resolved, then they sent in more messages (in this case I believe it should trigger new conversation event, shouldn't it?)

I will have to test yet if it triggers the hook for a totally new customer.

I was testing it through a telegram inbox.

thanks, dan

[2022-02-02 12:40] danielzzz commented on #3869
thanks, but it's strange because I think I tested it with just imap and I believe it was sending messages out.
I will try again, anyway.

[2022-02-02 13:16] #3417 closed

[2022-02-02 13:16] #3575 closed

[2022-02-02 13:45] #3576 closed

[2022-02-02 14:07] #3799 closed

[2022-02-02 15:13] prononext commented on #3883
what specs are needed? The general handoff payload is working fine.
I would suggest to give the possibility to hand over

- all contact data which is available in Chatwoot including
- all contact attributes and
- conversation attributes; also
- handover customization to specific team or agent is needed

Via custom payload in Dialogflow.
Have a great day!

[2022-02-02 18:52] iammattmartin opened #3896 "Staff email template appears incorrectly"
**Describe the bug**

Staff email notifications appear to be rendered incorrectly. The same does not happen for visitors.

The bubble appears to be underneath the text. Whereas in the visitor email the text is within the bubble.

![Screenshot 2022-02-02 at 6 50 15 PM](https://user-images.githubusercontent.com/15971590/152218667-135f1b7f-796e-48f2-808d-a55a965b827b.png)

[2022-02-02 21:03] drexlma opened #3897 "No webhook Request on conversation opened"
We only Recive   [event] => message_created.

i need an event for opening Conversation. conversation_status_changed is not sendet

[2022-02-03 03:39] pranavrajs commented on #3896
Duplicate https://github.com/chatwoot/chatwoot/issues/3857

This case was also covered in the PR. This would be available in the next release.

[2022-02-03 03:39] #3896 closed

[2022-02-03 04:35] #3558 closed

[2022-02-03 04:41] #1954 closed

[2022-02-03 06:23] pranavrajs opened #3899 "Add a resolve action directly in Dialogflow integration"
- [ ] Along with handoff intent, we need to add a resolve intent so that the bot can directly resolve the conversation without transferring it to an agent.

[2022-02-03 06:35] #3899 closed

[2022-02-03 06:47] sojan-official opened #3901 "bug: One off campaign scheduled time seems to be wrong"
## UI

<img width="1272" alt="Screenshot 2022-02-02 at 10 44 30 PM" src="https://user-images.githubusercontent.com/73185/152294059-19c04f97-0663-4825-b4cc-5fde0107be94.png">

## response  payload

[code]

## Bug

`scheduled at` should be `Feb 3` for both the cases in UI, but seems to be not.

[2022-02-03 06:59] pranavrajs opened #3902 "Delayed rollout of direct uploads"
As per https://github.com/chatwoot/chatwoot/pull/3768, we would move to Direct Uploads from the UI. The reason behind this change is to fix the issues such as files not being sent to third-party integrations, messages taking time to send, etc. Even though this change is inevitable, it poses some risk in migrating existing Chatwoot installations.

For this to work the IT Admin has to update the S3/

[2022-02-03 08:57] voko3456 opened #3903 "Add New Action to Automation To Send Attachment"
Add New Action to Automation To Send Attachment

[2022-02-03 08:59] voko3456 opened #3904 "Add New Action to Automation To Send multiple Choice message to support interactive session message"
Add New Action to Automation To Send multiple Choice message to support interactive session message

[2022-02-03 09:02] tejaswinichile commented on #3902
@pranavrajs

If we define the DIRECT_UPLOAD at the configuration we would need to add the check at the frontend of it is enabled or not.
1. Suppose DIRECT_UPLOAD true the use [onDirectFileUpload](https://github.com/chatwoot/chatwoot/pull/3768/files#diff-4035b7b3fa6e8a2258fcf57b6e68d6476b5a96b2c368fe299ea2f42603f637a4R447)
2. Build the [message payload](https://github.com/chatwoot/chatwoot/pull/376

[2022-02-03 10:03] sdobbelaere commented on #3378
+1 email signature is a must to use the service.  Branding is important.

[2022-02-03 10:58] vishnu-narayanan opened #3905 "[CW-370] Add a build ID to distinguish deployments based on develop branch"
**Is your feature request related to a problem? Please describe.**
Currently, continuous deployments using the `develop` branch are not distinguishable since we don't create a tag for every merge to develop.

**Describe the solution you'd like**
Generate a build number that is incremented for every merge to develop/master. Have this be displayed next to the version on the settings page.

**Describ

[2022-02-03 12:34] jhengstermann commented on #3700
Any news regarding this? Currently we can't use the email client with our provider

[2022-02-03 23:06] sojan-official commented on #3905
We could use the commit id.
Could have it returned on the url/api end point as well

ref: https://blog.andrewvc.com/making-life-easier-with-git-shas-in-your-http
https://stackoverflow.com/questions/8407126/getting-current-git-commit-version-from-within-rails-app

[2022-02-03 23:22] #3888 closed

[2022-02-04 02:09] sojan-official opened #3909 "feat: WooCommerce Integration"
ref: https://discord.com/channels/647412545203994635/650257251856285707/936397237083312138

[2022-02-04 02:16] sojan-official opened #3910 "feat: Dialogflow bot template"
rather than having to start from scratch if there are example templates that could be preloaded and customised. it be super helpful

-----

ref: https://discord.com/channels/647412545203994635/719548300868452362/936936814109921291

ref: https://discord.com/channels/647412545203994635/719548300868452362/937594013018632202

[2022-02-04 02:23] sojan-official opened #3911 "enhancement: Support additional custom payloads via dialogflow"
ref: https://discord.com/channels/647412545203994635/848225049059917834/936765422450147349

![unknown](https://user-images.githubusercontent.com/73185/152462043-1fd2c58a-833b-472b-81cc-366bdcbb2061.png)

[2022-02-04 03:40] pranavrajs commented on #3911
Duplicate  https://github.com/chatwoot/chatwoot/issues/3883

[2022-02-04 03:40] #3911 closed

[2022-02-04 07:44] #3840 closed

[2022-02-04 15:24] iamsivin opened #3913 "bug: Blank page after deleting contact"
**Describe the bug**

Shows blank page after deleting a contact from the contact note page

**To Reproduce**

Steps to reproduce the behavior:
1. Go to the contact page.
2. Select a contact.
3. Delete it from the contact note page.
4. Now you can see it.

**Expected behavior**

After deleting contact from the contact note page want to go back to all contact list view.

**Screenrecording**

https:/

[2022-02-05 06:26] jatinvinkumar commented on #2848
@abraham-azzam  i am having the same issue. Were you able to resolve? If so, could you please share steps? Thanks

[2022-02-05 11:01] ChrisvanChip opened #3914 "feat: Scroll to the latest message automatically (autoscrolling)"
**Is your feature request related to a problem? Please describe.**
For every message the customer sends, I have to scroll down to see the new message. This causes a lot of frustration in the end, because it just doesn't feel fluent and it gets boring over time.

**Describe the solution you'd like**
- When I'm already at the bottom & a new element (message) comes in -> Scroll to bottom
- When I'm n

[2022-02-05 11:02] ChrisvanChip commented on #3914
Looks like it's related to #3622, can be merged.

[2022-02-06 04:10] lilsweetkara opened #3915 "Reset is resetting the user as well, won't keep things in one conversation"
First of all, I am a terrible coder. I learned a few things from my husband, who is a software engineer, but I am generally speaking terrible at this. Sorry.

I am trying to have the chat bubble appear only for logged in users. I have a simple (crappy) node app using EJS.

I am using app.chatwoot.com
I have three problems.

1) I am using a terrible hack to hide it if the user is not logged in. I a

[2022-02-06 05:34] sojan-official commented on #3914
Closing in favour of #3622

[2022-02-06 05:34] #3914 closed

[2022-02-06 10:00] Christilut opened #3916 "New conversations do not appear after network reconnect from standby"
**Describe the bug**

Chatwoot does not automatically reconnect after the network connection is lost. In this case from keeping the chatwoot tab open and putting the computer into standby.

**To Reproduce**

Steps to reproduce the behavior:
1. Open chatwoot dashboard. No conversations are pending.
2. Close laptop lid
3. Open laptop a while later
4. Go to chatwoot tab
5. No conversations appear
6.

[2022-02-06 12:04] lilsweetkara commented on #3915
My husband just pointed out this ticket to me:

https://github.com/chatwoot/chatwoot/issues/1120

So yes. I had managed to stuff up the code (I was using the wrong token for HMAC) and that's why chat logs were not persistent.

I think you should add that to the documentation. I created my very first pull request _everrrrr_... please let me know what I did wrong :dagger:

I am closing this ticket,

[2022-02-06 12:12] lilsweetkara opened #3917 "Hide chat button if not logged in"
[DISCLAIMER: First of all, I am a terrible coder. I learned a few things from my husband, who is a software engineer, but I am generally speaking terrible at this. Sorry.)

I am trying to have the chat bubble appear only for logged in users. I have a simple (crappy) node app using EJS.
I am using app.chatwoot.com

I am using a terrible hack to hide it if the user is not logged in. I am currently d

[2022-02-06 12:14] lilsweetkara opened #3918 "How to reset the user on logout for multi-page site"
[DISCLAIMER: First of all, I am a terrible coder. I learned a few things from my husband, who is a software engineer, but I am generally speaking terrible at this. Sorry.)

I am trying to have the chat bubble appear only for logged in users. I have a simple (crappy) node app using EJS.
I am using app.chatwoot.com

I placed the element in the header, and basically run a reset/hide it if the user is

[2022-02-06 20:20] #3903 closed

[2022-02-06 20:20] #3904 closed

[2022-02-06 21:13] WevrLabs opened #3919 "Feat: Notifications DND mode - Ability to automatically disable notifications (push, email, mobile app, etc) during specific days/hours"
As an agent, sometimes when out of office or work hours, I want to be able to have notifications disabled automatically during the specified days/hours, and then automatically re-enabled again when current time is not in the specified days/hours.

Additional feature related, is the ability to receive a one-time notification when the notifications are re-enabled, saying for example "You have x pend

[2022-02-07 04:18] nithindavid opened #3920 "bug: Line channel is not working for outgoing messages"
**Describe the bug**

We are having problem sending message out to our customer in Line@ (official account) channel. Where our customer cannot see the message that we sent through Chatwoot.

**Additional context**

Reported by a customer on cloud account.

[2022-02-07 05:13] pranavrajs commented on #3917
@lilsweetkara This seems like a feature we can build into Chatwoot itself and give you an option to disable it if the user is not set.

Are you building a single-page application? If you are not, then I would suggest moving the SDK script to this block so that the SDK would be initialized only if the user is loggedIn.

Let me know what you think.

[2022-02-07 05:16] pranavrajs commented on #3916
@Christilut Doesn't it show the alert as shown below to refresh once you disconnect from the network (close the lid)?

![image](https://user-images.githubusercontent.com/2246121/152728253-2248de5a-9ca6-4563-aa02-a8cedd9d679f.png)

We don't have the mechanism to auto-fetch the conversations, however, the alert shown above seems to be enough to share there has been updates which you have not seen.

[2022-02-07 05:19] lilsweetkara commented on #3917
No it is not a single page application (I think I need to be 20 times more
experienced to write one).

However, I need to load the SDK for each page because I need to reset()
chatwoot if the user is not logged in. See my other ticket for details
(although I am probably doing it all wrong there too)

On Mon, 7 Feb 2022, 1:14 pm Pranav Raj S, ***@***.***> wrote:

[2022-02-07 05:23] lilsweetkara commented on #3917
Sorry the other ticket I am referring to is
https://github.com/chatwoot/chatwoot/issues/3918 -- that's where you will
really realise I don't know what I am doing!

On Mon, 7 Feb 2022, 1:18 pm Lil Sweet Kara, ***@***.***> wrote:

[2022-02-07 05:31] spanjeta commented on #1101
Yes. Agree. Admin panel should have settings for safe IP and restricted url

[2022-02-07 06:57] #2303 closed

[2022-02-07 07:58] muhsin-k commented on #3766
The second case is the duplicate of #2912

[2022-02-07 08:13] #2912 closed

[2022-02-07 09:09] tejaswinichile commented on #3845
@pranavrajs Just to confirm, when we say conversation_ids, are those conversations' display_id or primary id?

[2022-02-07 09:35] pranavrajs commented on #3845
@tejaswinichile Yes, display_ids not primary ids.

[2022-02-07 11:51] pranavrajs commented on #3784
@sojan-official I believe that the proofreading step is messing up the translation. Is there a way we can update the text which was proofread before?

[2022-02-07 11:54] pranavrajs commented on #3886
@voko3456 This must be solved via #3768. Let me test it out and come back.

[2022-02-07 12:06] giquieu commented on #3902
Hi, @pranavrajs @tejaswinichile
Contributing... after implementation #3768, all attachments sent through API channels are being stored with file_type of type image (model default).
So not showing the correct bunble in chat.
Inside the method app/builders/messages/message_builder.rb process_attachments
The file_type stopped being assigned

[2022-02-07 12:41] Christilut commented on #3916
I've seen that notification but it doesn't always show.
I just closed my macbook for an hour or so and then opened it while chatwoot was open, but no notification.

Maybe an idea to keep track of the last succesful ping/request to the server and with `navigator.onLine` to auto refresh the page, if the last ping was a certain amount of time ago? Maybe 5 minutes?

[2022-02-07 12:53] sultanlive commented on #3632
Have a news?

[2022-02-07 13:01] pranavrajs commented on #3916
@Christilut Makes sense, let me investigate this and update as necessary.

[2022-02-07 13:02] tejaswinichile commented on #3902
@giquieu We have merged the new code without direct upload here: [branch without direct upload](https://github.com/chatwoot/chatwoot/tree/branch-without-direct-uploads) you can take the pull of the same. We are going to have these changes optionally we are working on it currently.

[2022-02-07 13:56] giquieu commented on #3902
OK,
Do you think there might be a problem with passing the file_type in the process_attachments?
Assigning the file_type, attachments sent by API are correctly visualized again in the preview.

[2022-02-07 14:26] vishnu-narayanan commented on #3580
Awaiting approval from aws marketplace team.

[2022-02-07 16:47] tejaswinichile commented on #3902
@giquieu No, it won't be an issue.

[2022-02-07 19:24] sabarish98 commented on #3205
Hi @tejaswinichile, just reverting the method count value to 20 / removing the introduced code is the change with respect to this issue? I believe we will have to do that after the `contacts_controller` was refactored as service objects / concerns. Is that done?

[2022-02-07 19:36] sabarish98 commented on #3887
Hi @iamsivin, I am pretty new to Vue, but I would like to take a stab at this. Can you assign it to me ?

[2022-02-07 23:10] giquieu commented on #3916
I was looking at this function today and I noticed that it might be interesting not to show the close button... Showing only the refresh button will induce the user to click only the right button.
Of course, that is not the case in this issue.

[2022-02-07 23:15] sojan-official commented on #2844
closing this because of inactivity. lets reopen if the issue presists

[2022-02-07 23:15] #2844 closed

[2022-02-07 23:17] #2186 closed

[2022-02-08 00:35] iamsivin commented on #3887
Sure

[2022-02-08 01:49] jschaf opened #3930 "AudioContext warning when loading Chatwoot widget on Chrome"
**Describe the bug**

Any use of chatwoot widget causes a warning in the console on Chrome about AudioContext.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://www.chatwoot.com/
2. Open the console
4. See error: The AudioContext was not allowed to start. It must be resumed (or created) after a user gesture on the page. https://goo.gl/7K7WLu

**Expected behavior**

Chatwoot shou

[2022-02-08 02:16] sojan-official commented on #2848
@jatinvinkumar  Did you check your redis configurations in your local machine?

[2022-02-08 02:22] sojan-official commented on #3632
@sultanlive  can you add the following information?

- are you using self-hosted installation / chatwoot cloud?
- if self-hosted, could you specify the chatwoot version
- could you specify the image formate/size of the image
- is the issue persistent for all uploads or its happening only at times.

[2022-02-08 02:33] sojan-official commented on #3784
if you have proofreading permissions, you can switch to proofreading view and update the translations which are already marked as done

<img width="1103" alt="Screenshot 2022-02-07 at 6 30 31 PM" src="https://user-images.githubusercontent.com/73185/152906748-6995cfa9-ff99-4c3b-8c99-aadb2e627731.png">
<img width="1248" alt="Screenshot 2022-02-07 at 6 30 44 PM" src="https://user-images.githubusercon

[2022-02-08 02:41] sojan-official commented on #3920
@nithindavid  verified that this is working on our end.
Is there more specifics to this report like the message type ?

<img width="404" alt="Screenshot 2022-02-07 at 6 41 05 PM" src="https://user-images.githubusercontent.com/73185/152907810-0561a73c-a642-4a35-b2b2-d069e0d0040d.png">

[2022-02-08 04:17] noobnooc commented on #3852
I had the same problem on my self-hosted server and this solved my problem (I was using a uuid as SECRET_KEY_BASE before). Thanks a lot.

[2022-02-08 04:46] pranavrajs commented on #3852
@agustinrudas Can you please confirm?

[2022-02-08 06:34] sultanlive commented on #3632
I did not find in the source codes, the method using "https://waba.360dialog.io/v1/media"

It is mandatory to submit an image. Read more "https://docs.360dialog.com/whatsapp-api/whatsapp-api/media"

[2022-02-08 06:44] sojan-official commented on #3632
The API also supports sending a url where the attachment is hosted instead of using a media url

ref: https://github.com/chatwoot/chatwoot/blob/7b2ff2f112936c0905f4ef3ef608e1cae790ac38/app/models/channel/whatsapp.rb#L85

Could you confirm whether you are having the issue?

[2022-02-08 06:48] sultanlive commented on #3632
Yes, really did not notice this code. But I checked what Chatwoot sends to the file url.

The following request is sent:

curl --location --request POST 'https://waba.360dialog.io/v1/messages' \
--header 'D360-API-KEY:PgK7PJGcxfzUu6SeJICv7d7jAK' \
--header 'Content-Type: application/json' \
--data-raw '{
     "recipient_type": "individual",
     "to": "77476010836",
     "type": "image",
     imag

[2022-02-08 06:53] sultanlive commented on #3632
How to off redirects to file?
Leave a link to a direct file

[2022-02-08 09:55] pranavrajs opened #3935 "Automation: Release bugs/enhancements"
- [ ] Change the title of the item from "Message Contains" to "Message Content"
- [ ] When updating the automation, the alert says "Automation rule added successfully"
- [ ] Update doesn't work - I updated a rule, changed the condition, and hit save. It didn't update the automation.

[2022-02-08 10:30] pranavrajs commented on #3458
@1t5j0y It seems like the latest changes have a fix for this issue. I'm no longer able to reproduce this on develop.

[2022-02-08 10:30] #3458 closed

[2022-02-08 10:41] pranavrajs commented on #3629
@sahilmittal Should we keep this open? Does change as mentioned in #3425 work for you?

[2022-02-08 11:09] #3766 closed

[2022-02-08 11:26] #3700 closed

[2022-02-08 13:44] lilsweetkara commented on #3918
I have the feeling I really did something that is worse than the atomic bomb, and everybody is too embarrassed to answer.
I know I am terrible at this, I won't be offended. Really.

[2022-02-08 16:10] pranavrajs opened #3938 "Add support for Created At, Last Activity At filters in the UI"
As per https://github.com/chatwoot/chatwoot/issues/3840, the support in the API for last_activity_at and created_at is added. Add this to the UI for the conversation filter as well.

- [ ] For Is greater than, Is less than use date picker.
- [ ] For is X days before, use number input, validation number should be greater than 0, less than 999
- [ ] Support the filter both on conversation and contac

[2022-02-08 16:16] pranavrajs opened #3939 "Add an option to assign agent/teams to multiple conversations at once"
If we apply a filter and assign the matching conversations to a specific agent, now we have to go to each conversation and assign it to the person. Instead of doing this, we need to make sure that we allow users to select multiple conversations at once and assign agent/teams

Todo:

- [x] #3940
- [x] #3941

[2022-02-08 16:16] pranavrajs opened #3940 "Add the API to change the assigned agent/teams of multiple conversations at once"
- [ ] Accept conversation ids, assignee_id, or team_id as the parameters
- [ ] Verify that the user has permission to assign the conversation (should have access to the inbox / should be an admin). Return a 401 if conversation permissions are not available.
- [ ] Namespace under bulk_actions/status_change

**Additional thoughts:**
- Can be done as a job instead of doing it while calling the API.

[2022-02-08 16:17] pranavrajs opened #3941 "Add an option in the UI to select multiple conversations and assign an agent"
- [ ] Update the UI to select multiple conversations at once.
- [ ] Update the store/actions to perform bulk action.

[2022-02-08 16:22] pranavrajs opened #3942 "Add an option to add labels to multiple conversations at once"
If we apply a filter and add a label to the matching conversations, now we have to go to each conversation, open it and assign a label. Instead of doing this, we need to make sure that we allow users to select multiple conversations at once and assign a label

Todo:
- [ ] Add the API to add a label to multiple conversations at once
- [ ] Update the UI to support adding labels to multiple conversat

[2022-02-08 16:22] pranavrajs opened #3943 "Add the API to add/remove labels to/from multiple conversations at once"
- [ ] Accept conversation ids, labels, action (add/remove, can be done as POST/DELETE as well) as the parameters
- [ ] Verify that the user has permission to assign the conversation (should have access to the inbox / should be an admin). Return a 401 if conversation permissions are not available.
- [ ] Namespace under bulk_actions/status_change

Additional thoughts:

- Can be done as a job instead

[2022-02-08 16:28] pranavrajs opened #3944 "Custom Filter: Use correct input type while rendering filter for custom attributes"
In Custom Filters, custom attributes use a text input irrespective of the type of the attribute. The attributes should use the following input types.

| Attribute Type | Input Type |
| -- | -- |
| List | Multi-Select |
| Number | Number input |
| Text | Input |
| Checkbox | A dropdown that has True/False as options |

[2022-02-08 16:37] pranavrajs commented on #3930
@jschaf I can reproduce this, thanks for reporting this issue. Let us debug this further and come up with a solution.

[2022-02-08 16:38] pranavrajs commented on #3919
@WevrLabs Looks like a nice feature to have.

[2022-02-08 16:40] pranavrajs commented on #3915
@lilsweetkara Closing this ticket as we would continue the discussions in #3918

[2022-02-08 16:40] #3915 closed

[2022-02-08 16:42] pranavrajs commented on #3901
@tejaswinichile Another date issue I guess. Let us look at the API and see if we can standardize the date format everywhere.

[2022-02-08 16:44] pranavrajs commented on #3897
@sojan-official @muhsin-k I believe the conversation_created event is not firing in webhooks, let us add that as well and along with that please debug conversation_status_changed event.

[2022-02-08 16:45] pranavrajs commented on #3877
@te-dious This seems like an issue with the setup. Do you see any browser console errors?

[2022-02-08 16:47] pranavrajs commented on #3875
@aswindevps Let us investigate and implement the changes required to properly render images from Twitter instead of rendering it as a t.co link.

[2022-02-08 16:49] pranavrajs commented on #3870
@nosovk Thanks for sharing this, we don't support subdomains at this as it creates confusion around where to store the cookies (whether it should be on the parent or on the subdomain). We need more time to investigate the best practices around this.

[2022-02-08 16:55] pranavrajs commented on #3863
@alejandroTecDam Can you please share if there are any errors in your browser console/network tab?

@muhsin-k I think we can throw an error event if there is any error in identifier_hash.

[2022-02-08 17:00] pranavrajs commented on #3850
@SamuelMoraesF You can only send WhatsApp approved templates when you are sending an outbound message. Can you please confirm whether you are using a WhatsApp-approved message? Otherwise it wouldn't deliver the message.

[2022-02-08 17:01] pranavrajs commented on #3825
@cgb Missed this one, will investigate this and let you know whether there is a bug or not.

[2022-02-08 17:06] pranavrajs commented on #3811
Closed via #3867

[2022-02-08 17:06] #3811 closed

[2022-02-08 17:07] pranavrajs commented on #3807
@sanjayws I'm not sure there is enough information to debug this. Can you add some relevant logs from server? Is it happening regularly?

[2022-02-08 17:08] pranavrajs commented on #3788
Closing in favor of #3875

[2022-02-08 17:08] #3788 closed

[2022-02-08 17:09] lilsweetkara commented on #3918
The only issue I see is that this code is in the header of EVERY page. So, my users are going to call a reset() EVERY time they view a page while not logged in. I need to do it in every page, because I don't actually know, on any page load, whether the user was previously logged in or not. It just seems to be very wasteful...

[2022-02-08 17:09] pranavrajs commented on #3770
@fayazara Is it still happening?

[2022-02-08 17:11] pranavrajs commented on #3735
Closing as done. Nice work folks. 🎉

[2022-02-08 17:11] #3735 closed

[2022-02-08 17:15] SamuelMoraesF commented on #3850
Yes, it's an approved message.

I just can send messages to contacts that I already messaged before. For new contacts I receive the response "1006 Resource not found - unknown contact". According to API:

`Before sending a message, make sure you meet the prerequisites and use the /v1/contacts endpoint for each number. Otherwise, you may receive a 1006 "Resource not found - unknown contact" error`

[2022-02-08 17:17] pranavrajs commented on #3631
@aswindevps Since #3700 is completed, can we close this as well?

[2022-02-08 17:18] pranavrajs commented on #3621
Closing this as the expected behavior is to show contact with identifiable information.

[2022-02-08 17:19] pranavrajs commented on #3608
Closing this as the case was not reproducible by the team.

[2022-02-08 17:19] #3608 closed

[2022-02-08 17:26] iamsivin opened #3945 "bug: Clicking the agent name in private note it acts as a link"
**Describe the bug**

In a Twitter channel conversation, the agent name mentioned in a private note acts as a link and opens in a new tab.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to the Twitter channel and open a conversation.
2. Click private note and send a message tagging someone.
3. Now you can see the color issue mentioned in #3887
4. And click on the mentioned name it will

[2022-02-08 17:36] pranavrajs commented on #3821
Duplicate of #3398. Closing it as we can track the progress there.

[2022-02-08 17:36] #3821 closed

[2022-02-08 17:37] pranavrajs commented on #3170
Closing as there was no activity. @PyB1l Feel free to open this again if the issue is still not fixed.

[2022-02-08 17:38] #1126 closed

[2022-02-08 17:40] pranavrajs commented on #1126
Closing this as we can revisit it later.

[2022-02-08 17:42] nosovk commented on #3870
Ok, in common we can allow to set cookie domain in script initialization as additional param, because common practice to split landing and application causes history flapping, which looks weird for visitors.

[2022-02-08 18:01] Soundmagic commented on #3875
Please extend the enhancement  to Mail channel as well.

[2022-02-08 18:16] TimoKoessler commented on #3631
Yes, that should fix it, thank you. Looking forward to the release.

[2022-02-08 18:16] #3631 closed

[2022-02-08 18:41] sabarish98 commented on #3887
@iamsivin : Hi, I was trying to setup the local environment using docker and faced with this issue. Do you have any idea on this

[code]

Also, I could see that there is another issue(#3945) and it's a common fix for both this issue and #3945. I will ensure that the other one gets fixed as well

[2022-02-08 20:35] maxacarvalho commented on #3918
This issue is driving me crazy 🤣

It does not make any sense, if I call the `window.$chatwoot.reset();` the event `chatwoot:ready` keeps being fired without end, so the `window.$chatwoot.reset();` will be called again and again and again.

It seems to me that nobody is using the `window.$chatwoot.reset();` since I find it impossible that nobody is getting the same issue, I'm simply following the i

[2022-02-08 20:59] voko3456 commented on #3784
@sojan-official I try to select proofreading and show all but I'm still not able to find this syntax-> "Dear customer please take few moments to complete the feedback about the conversation "

[2022-02-08 21:51] xreal commented on #3071
A good default is maybee the browser language? And maybe a selectbox on the Prechat page.

[2022-02-08 22:06] maxacarvalho commented on #3918
If I understood correctly, the `reset` method happens here [https://github.com/chatwoot/chatwoot/blob/23965fbaa3c729ab8da21c015e2682f1efb16422/app/javascript/packs/sdk.js#L108](https://github.com/chatwoot/chatwoot/blob/23965fbaa3c729ab8da21c015e2682f1efb16422/app/javascript/packs/sdk.js#L108).

Every time that the `reset` is fired a new `chatwoot:ready` event is fired, and that causes an infinite

[2022-02-08 23:32] lilsweetkara commented on #3915
Thank you!

On Wed, 9 Feb 2022 at 00:40, Pranav Raj S ***@***.***> wrote:

[2022-02-09 01:21] cgb commented on #3825
Thanks @pranavrajs , much appreciated.

[2022-02-09 03:57] sojan-official opened #3947 "bug: Channel Greetings not working for email inbox"
ref: https://discord.com/channels/647412545203994635/654017096812068864/940778290841530379

[2022-02-09 04:14] sojan-official commented on #3887
@sabarish98  could you link the set-up doc that you are following?

[2022-02-09 04:24] sabarish98 commented on #3887
@sojan-official : I was following this doc to run chatwoot on Docker - https://www.chatwoot.com/docs/contributing-guide/environment-setup/docker

[2022-02-09 04:43] pranavrajs commented on #3947
Closed in favour of #3713

[2022-02-09 04:43] #3947 closed

[2022-02-09 04:51] iamsivin commented on #3887
@sabarish98 Solving the issue (https://github.com/chatwoot/chatwoot/issues/3945) will solve this issue. You can see this issue by inspecting elements using dev tools. In all other channels, the private note agent mention name is inside a `<span>` tag in this Twitter channel conversations case it is inside `<a>` tag wrapping `<span>` tag and it acts as a link.

[2022-02-09 05:27] sahilmittal commented on #3629
@pranavrajs Haven't tried upgrading the chatwoot yet and had settled with the #3 solution for now. You can close this one if you're not able to repro the same with the latest version

[2022-02-09 05:31] #3629 closed

[2022-02-09 06:13] vishnu-narayanan commented on #3887
@sabarish98 If you are not logged in to your docker hub account, could you try logging in and retrying?

[2022-02-09 07:33] muhsin-k commented on #3897
@drexlma I have tested the `conversation_status_changed` event, It seems like it is working whenever the conversation status changes.

https://user-images.githubusercontent.com/12408980/153139163-d93c5ca9-507d-4019-bb7e-873f6010509d.mov

Could you please share more details like whether you are using Chatwoot Cloud (app.chatwoot.com) or a self-hosted installation of Chatwoot, Application version et

[2022-02-09 07:44] sabarish98 commented on #3887
@vishnu-narayanan : I logged in and tried and it didn't succeed. But I got it to run.
Followed this to solve the issue - https://github.com/docker/compose/issues/8449#issuecomment-892881479.

But while docker-compose build runs, it stops while it's trying to install the ` google-cloud-storage 1.34.1` gem. I ran it a couple of times and it error'ed out at the same place.

Do you folks have any idea

[2022-02-09 09:05] #3913 closed

[2022-02-09 10:06] pranavrajs opened #3951 "Automation enhancements"
**New events:**

- [ ] Contact Created
- [ ] Contact Updated
- [ ] Label Added
- [ ] Label Removed

**Conditions:**

- [x] #4458
- [x] #4459

**Actions**

- [x] #4015
- [x] #4179

[2022-02-09 10:07] pranavrajs commented on #3951
@tejaswinichile @fayazara Can you please take a look at this ticket and estimate the effort?

[2022-02-09 10:50] vishnu-narayanan commented on #3887
@sabarish98  Could you please open a separate issue with more context as we are hijacking this unrelated thread? 😅

[2022-02-09 11:10] sabarish98 opened #3952 "Issues with setting up development environment using Docker"
_Opening this issue as a part of the discussion in chatwoot#3887_

While trying to setup local dev environment with docker, a couple of issues show up.

1.  The first one where pull access is denied error is thrown on `docker-compose build` command.

https://github.com/docker/compose/issues/8449#issuecomment-892881479 - solved this one. I believe this could also be captured under the common errors

[2022-02-09 11:15] fayazara commented on #3951
@pranavrajs What conditions will `Label` events have?

[2022-02-09 11:16] sabarish98 commented on #3887
@vishnu-narayanan, I have opened #3952. We can continue this there

[2022-02-09 13:39] tejaswinichile commented on #3951
@pranavrajs

1. Adding new events and new conditions would 1.5-2 days task, can be done the current implementation
2. New conditions with custom attributes might need more time, the ballpark estimate would be 1.5 days efforts for the conditions part.

We can create 2 separate issues one for events and actions and the other for conditions then it would be easy to move ahead.
So we can fix 1st on pr

[2022-02-09 14:21] Austinstevesk opened #3953 "[Help] Linking Twitter has an authorization loop"
Hello, I am trying to link twitter using the self-hosted method on a linux server. I have already set the parameters required by the .env file and created a twitter app. My callback url is as of this format [https://mydomainurltochatwoot/twitter/callback](url) and I already have the frontend_url set on my .env as [https://mydomainurltochatwoot](url).

Just after creating the inbox, a pop up appear

[2022-02-09 14:43] fayazara commented on #3951
For frontend, it should take around 2 days for adding them. (+ 0.5 buffer)

I mean the conditions are related to the event type - Here's the [model](https://github.com/chatwoot/chatwoot/blob/develop/app/javascript/dashboard/routes/dashboard/settings/automation/constants.js), for contacts, I will use the same `Filters`  we used in the Contacts filter, so I will need this for labels.

[2022-02-09 15:52] ajtatum commented on #3713
I'll admit that I'm a tad disappointed that channel greetings don't work for emails, but having this implemented would be outstanding!

[2022-02-09 17:21] sojan-official commented on #3713
@ajtatum  We will be verifying the issue in our current sprint and will be fixing the breakages.

[2022-02-09 18:57] robguthrie opened #3954 "Email sent from chatwoot has a very bare FROM header"
**Is your enhancement request related to a problem? Please describe.**

When someone receives an email from us, via chatwoot, it comes from "contact@loomio.org". This feels a bit unfriendly.

Emails arrive in customer inboxes look like this:
<img width="363" alt="image" src="https://user-images.githubusercontent.com/486367/153270421-752fe393-4215-4b9e-b509-71e54ba43eab.png">

**Describe the soluti

[2022-02-09 19:43] Austinstevesk commented on #3953
Sorted this out; the development environment is key, that's the main problem, Head to products > Development environment and link you app; use the value provided as the name as the label for environment in .env

[2022-02-09 19:43] #3953 closed

[2022-02-09 22:49] maxacarvalho commented on #3918
Any update here?

[2022-02-09 23:05] iammattmartin commented on #3954
Something that is possible via command line. Can't find the email where I had this.

Would be nice for it to be Inbox defined...

[2022-02-10 00:05] robguthrie commented on #3954
Yea, that would be neat.

[2022-02-10 00:17] albabar commented on #3954
What is your `MAILER_SENDER_EMAIL` env value set to?

[2022-02-10 03:12] sojan-official commented on #3953
@Austinstevesk  Thanks for reporting back.

[2022-02-10 07:35] alejandroTecDam commented on #3863
Thanks for your answer,
I've tried to create a new event like
`window.addEventListener('chatwoot:error', function (error) {
            console.log(error)
        });`
But doesn't display nothing in the console, I'm doing something wrong?

[2022-02-10 08:03] pranavrajs commented on #3863
@alejandroTecDam This is not implemented yet, @muhsin-k would take care of the implementation of the event.

[2022-02-10 11:48] sultanlive commented on #3632
@sojan-official Hi, how disable redirects for attachment files?

[2022-02-10 13:50] #3834 closed

[2022-02-10 15:58] pranavrajs commented on #3954
@robguthrie Just to understand the scenario better, please share the details below.

1. Is this the email inbox or website live-chat continuity?
2. Are you using SMTP/IMAP config in the email inbox?

We are already sending the name as "Pranav from Chatwoot <p...@chatwoot.com>" in most cases except the case where you have used SMTP/IMAP to connect the email.

[2022-02-10 19:11] sabarish98 commented on #3887
@iamsivin : I managed to setup the environment locally. But to use the twitter channel, I will have to add the twitter environment variables. I believe the account activity API is only available for enterprises. Do you have any test credentials with which I can set it up?

[2022-02-10 19:34] sojan-official commented on #3952
@sabarish98  were you able to fix the issue?

[2022-02-10 19:39] sabarish98 commented on #3952
No @sojan-official, I went ahead with setting up Dev environment locally.

 I am not sure what's the issue but while running bundle install locally too, it took a long pause at the same place, but it completed successfully.
I might be wrong but maybe it would have something to do with any timeouts setup while running the commands in the container then?

[2022-02-10 20:21] robguthrie commented on #3954
Yes this is SMTP/IMAP via the web interface. IE: Both IMAP and SMTP boxes are ticked and configured.

The benefit of this is we can easily keep all our email correspondence in the gmail account, which has been useful when we've been migrating between support tools... (IE: from Zammad to Chatwoot).

I guess.. we could have the same setup with the config via ENV's but, the UI kinda told me this was

[2022-02-10 23:38] sojan-official opened #3961 "feat: Allow MMS in bandwidth Channel"
Ability to send and receive MMS messages in bandwidth SMS channel

[2022-02-10 23:52] sojan-official opened #3962 "doc: Add canned responses endpoints to swagger Doc"
- Add swagger documentation for canned responses end points

[2022-02-11 00:41] sojan-official commented on #3952
@sabarish98 Thanks for the update. we will verify this before closing the issue.

[2022-02-11 00:45] sojan-official commented on #3918
@maxacarvalho Thanks for debugging. We are taking a look at this.

[2022-02-11 00:48] lilsweetkara commented on #3918
@sojan-official Sojan, I just wanted to apologise for not being able to provide a good report like maxcarvalho did. I sure did my best. Thanks for helping.

[2022-02-11 00:51] sojan-official commented on #3850
@SamuelMoraesF Thanks for reporting.  We will verify this and have a fix for the same.

[2022-02-11 01:45] #3762 closed

[2022-02-11 04:20] joshymg commented on #2443
Any possibility of a temporary fix using some front-end tweak?
e.g.: Hide the "Unassigned" and "All" tabs on the Agent dashboard and the mobile App. Agents need to see only the conversations explicitly assigned to them.

[2022-02-11 05:57] nithindavid commented on #3918
@lilsweetkara @maxacarvalho Thanks for finding this. The `window.$chatwoot.reset` and `ready` goes into loop. Will create an issue

[2022-02-11 06:15] nithindavid opened #3963 "bug: Calling sdk event reset results in infinite loop with ready event"
https://github.com/chatwoot/chatwoot/issues/3918#issuecomment-1033037680

[code]

As you can see above, that's just copy and paste from the Chatwoot docs, nothing else, but the log message console.log('chatwoot:ready');, will keep firing again and again until I remove it from the code.

So please, help us out, how can we reset the session? Please provide a step-by-step explanation, or a snippet of

[2022-02-11 06:59] fayazara commented on #3770
Yes, the contains filter does not work.

[2022-02-11 07:04] pranavrajs commented on #3918
@maxacarvalho

We use this method on our prod instance and as mentioned before we are calling it only when the user clicks on Logout, and not on chatwoot:ready / page load. I guess the problem here was that the reset method was not designed to be used inside `chatwoot:ready`. I think this is a product bug that should have been captured before. Thanks for reporting.

[2022-02-11 10:08] muhsin-k commented on #3599
@pranavrajs Are attributes like description, company name, location enough, or do we need to consider the social profiles?

[2022-02-11 11:52] rahulmr commented on #1481
@pranavrajs  is this implemented? If not what is the ETA?

[2022-02-11 12:50] sultanlive commented on #3632
@sojan-official  I sent from chatwoot cloud, file Also, the file is not stored directly, but by redirect.

https://app.chatwoot.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOVVnRHc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--33bf1bc286a14ea07d2c8a9d4ecc26f73cd8cb7f/Снимок%20экрана%202022-02-10%20в%2017.44.27.png

[2022-02-11 14:07] tejaswinichile commented on #3940
Will be fixed by #3934

[2022-02-11 14:07] tejaswinichile commented on #3943
Will be fixed by #3934

[2022-02-14 03:52] iamsivin opened #3971 "bug: Throwing NavigationDuplicated error when we click active conversation card"
**Describe the bug**

When we accidentally click the active conversation card it is throwing NavigationDuplicated error

**To Reproduce**

Steps to reproduce the behavior:
1. Go to dashboard
2. Click on any conversation from the chat list
3. Click that active conversation from the chat list once more.
4. Now you can see this error is throwing in console

**Expected behavior**

If we click an activ

[2022-02-14 04:14] #3897 closed

[2022-02-14 04:43] pranavrajs opened #3972 "Use Command + Enter to send the message instead of Enter key"

[2022-02-14 04:47] giquieu commented on #1973
Hi,
As I used the attachment mechanism, I'll wait for the merge from https://github.com/chatwoot/chatwoot/pull/3966. So I can refactor to consider the feature flag.

[2022-02-14 05:04] iamsivin commented on #3887
@sabarish98 Sorry for it we don't have a way to share the credentials or set up a demo account for you. Is it is possible to pick up something else?

[2022-02-14 05:50] #3901 closed

[2022-02-14 10:16] #3814 closed

[2022-02-14 10:22] #3741 closed

[2022-02-14 10:54] mohammedfarish opened #3975 "Gravatar 404 Error"
Please look at the following case. The website widget is fetching an image with 404 code.

![image](https://user-images.githubusercontent.com/62788088/153849036-3b7cd9b5-000b-4a96-870e-dd9221086aff.png)

Our website is prerendered at build, as you can see in the below screenshot, and this 404 code is interfering and failing the build process.

![image](https://user-images.githubusercontent.com/627

[2022-02-14 11:42] sojan-official commented on #3887
@sabarish98 BTW, You can get development credentials for the messaging API, which has some limits. But it should be sufficient to test out this case.

[2022-02-14 11:58] pranavrajs opened #3976 "Error in render: "TypeError: from is undefined""
<img width="701" alt="Screenshot 2022-02-14 at 5 27 44 PM" src="https://user-images.githubusercontent.com/2246121/153860182-275cd556-7916-4401-a03c-d10d7e077003.png">

[2022-02-14 12:03] sabarish98 commented on #3887
@sojan-official : Thanks for pointing this out Sojan, will make use of this then.

I'll try using that and let you know @iamsivin

[2022-02-14 12:07] #3976 closed

[2022-02-14 12:57] sojan-official opened #3979 "chore: Webhook Url shouldn't be mandatory for API inbox"
In the case of API Channels, if a user is consuming events via WebSockets / API fetch, a webhook URL isn't a requirement.
So we should make the field optional during inbox creation.

## Changes required
- [ ] remove requirement of webhook URL for API inboxes
- [ ] Change code so the webhook events are fired only for API inboxes where webhook URL is configured

[2022-02-14 13:45] sojan-official commented on #2847
fixed in https://github.com/chatwoot/chatwoot/pull/2790

[2022-02-14 13:45] #2847 closed

[2022-02-14 15:11] mohammedfarish commented on #3975
nevermind I found a workaround myself to ignore the script tag during build.

[2022-02-14 15:11] #3975 closed

[2022-02-14 17:48] #3195 closed

[2022-02-15 02:32] aldhielman opened #3981 "Instagram Story mention not show on inbox"
I've already set self-hosted server for Chatwoot and successfully integrating with Instagram (Messenger) according  according this [guide](https://www.chatwoot.com/docs/self-hosted/configuration/features/integrations/instagram-channel-setup). After that i decided to submit Subscription on Facebook Developer page so my chatwoot can production-ready to serve our customer. Facebook have terms & condi

[2022-02-15 03:21] sojan-official commented on #3981
@aldhielman  We don't support Instagram story mentions at the moment.  it will be available in future releases.

[2022-02-15 04:22] aldhielman commented on #3981
maybe i can add those functionality manually with webhook or someting like that ?

[2022-02-15 05:08] #3378 closed

[2022-02-15 07:14] fayazara commented on #3951
Do we have an api which returns all the conversations at once? This is for `Mute conversation` and `Snooze/Resolve conversation` action. Need this to show the conversation list in a dropdown.

@tejaswinichile @pranavrajs

[2022-02-15 07:27] pranavrajs commented on #3951
@fayazara Why do you need the list of conversations?

Mute conversation or Snooze/resolve doesn't take any arguments.

[2022-02-15 07:39] fayazara commented on #3951
Oh understood, got it mixed with somehting else.

[2022-02-15 08:52] sojan-official commented on #3981
@aldhielman it will require a bit of work to get it working.
ref: https://github.com/chatwoot/chatwoot/issues/2096

[2022-02-15 10:26] vishnu-narayanan commented on #3704
@vorletzter I just tested this out on our docker instance with `FORCE_SSL=true` and everything seems to be working fine. We are using `nginx` for the proxy/ssl termination layer though.

Please find attached the image in which the environment variable was changed from `FORCE_SSL=false` to `FORCE_SSL=true`. The web browser was able to establish wss:// connection with both settings.

<img width="127

[2022-02-15 10:27] danielzzz opened #3984 "question: create a new conversation / issue internally"
Hi, I was wondering if it's possible to create a conversation / issue from within chatwoot.
The use case for this would be to manage issues detected internally, that don't involve external users.

thanks, dan

[2022-02-15 11:40] #3662 closed

[2022-02-15 11:41] #3713 closed

[2022-02-15 17:00] sojan-official opened #3992 "feat: SDK APIs to trigger contact messages"
ref: https://discord.com/channels/647412545203994635/650257251856285707/943111730781880330

[2022-02-15 17:12] sojan-official opened #3993 "feat: Ability for dialogflow integration to start a conversation"
ref: https://discord.com/channels/647412545203994635/848225049059917834/941607941516177419

[2022-02-15 17:19] #3971 closed

[2022-02-15 17:42] Abhay907 commented on #3462
i am unable to find import/bulk import contacts logic. Please help me out

[2022-02-15 21:15] voko3456 opened #3995 "Add automation action send message"
I hope you can add action to send messages should be there's two types of messages :

1-send text message

2-send multiple options message (interactive session message)

[2022-02-15 21:20] voko3456 commented on #3951
#3995

[2022-02-15 21:58] sagararyal opened #3996 "[CW-2004] feat: Ability to Block/Blacklist Contacts"
**Is your feature request related to a problem? Please describe.**
By default, all spam and marketing messages reach support desk.  In some cases this can be solved by deleting the contact. Other solution is to mark the issue as Resolved. If CSAT is enabled, this sends the email to the spammers, further encouraging for more spam content.

**Describe the solution you'd like**
A Blacklist button nex

[2022-02-15 22:47] joeczucha commented on #3231
Was running into this exact same issue and the above command fixed it, but took me a while to find it.

I appreciate that the onboarding step can be important, but it's quite counter-intuitive that you can deploy an existing codebase, clone an existing database but then arrive at a completely different result.

[2022-02-16 07:02] sojan-official commented on #3462
ref: https://www.postman.com/chatwoot/workspace/chatwoot-apis/request/162770-4290c9b1-dd56-45a3-b25e-cc5ce3a65298  ( this is the API end point )

[2022-02-16 07:41] ChrisvanChip opened #3997 "feat: SDK API to trigger campaign"
**Is your feature request related to a problem? Please describe.**
I'm interested in using the ongoing campaign feature to engage users during their onboarding journey. Unfortunately, the only possibility is to trigger by page visit, which isn't really versatile and not useful on Single-Page Applications.

**Describe the solution you'd like**
I would like to trigger a campaign using JavaScript. Aa

[2022-02-16 07:43] ChrisvanChip commented on #3984
It would be an interesting feature, it would really improve the team's productivity (as less software is necessary) and we don't have to use issue tracking software anymore.

[2022-02-16 07:44] ChrisvanChip commented on #3972
I'd rather like to see a toggle instead of just changing the keybinds. I'm really used to Shift + Enter for new lines, due to other helpdesk software.

[2022-02-16 08:38] sojan-official commented on #3984
As a temporary workaround, you could create contacts with some sort of an internal format for email address
contact1@acme.local -> create an outbound conversation for this contact.  and keep track of the rest of the conversation over this thread.

[2022-02-16 08:39] sojan-official commented on #3997
ref: #3992

[2022-02-16 08:42] sanjayws commented on #3398
Hello. Happy new year. Anyway we can up priority this?

Appreciate all your work.

[2022-02-16 08:57] danielzzz commented on #3984
yes, this was my thinking for now. but I haven't find a way to create a new outbound conversation in chatwoot. could you please point me to some docs on how to do it, pls?

thanks, dan

[2022-02-16 11:17] ChrisvanChip commented on #3984
In your contact list (on your sidebar), you can select a contact and press the blue chat icon.

![Screenshot_20220216-121639_Chrome](https://user-images.githubusercontent.com/31969757/154253951-de4092ce-36ce-4887-95ca-631af90bb4f2.jpg)

[2022-02-16 14:18] Soundmagic opened #4001 "[CW-2375] Add image in email signature for branding purpose"
Since 2.2.0 mail signatures per profil can be define. Thats fine, but we need to add an image/logo for branding purpose as part of the mail signature.

As of now no image can be added to the signature in user profil.

<sub>[CW-2375](https://linear.app/chatwoot/issue/CW-2375/add-image-in-email-signature-for-branding-purpose)</sub>

[2022-02-16 15:06] sojan-official opened #4003 "[CW-36] feat: Disable CSAT for Auto resolved conversations"
### Discussed in https://github.com/chatwoot/chatwoot/discussions/4002

<div type='discussions-op-text'>

<sup>Originally posted by **1t5j0y** February 16, 2022</sup>
I'm on version 1.22.0

I have a 30 day auto resolve conversation configuration at the account level and have enabled CSAT on my website inbox.

Is there a way to disable sending the customer satisfaction survey for conversations that

[2022-02-16 16:09] vishnu-narayanan commented on #3952
@sabarish98 Apologies for the delay here.

So from what I understand, the local docker setup is failing but you are able to complete the setup locally.

Are you on a M1 mac? Also if possible, could you share the output for `docker version` and `docker info` ?

[2022-02-16 16:14] hendrikrust commented on #3972
I agree with @pranavrajs. Non-technical support users who are not used to keyboard shortcuts will press ENTER for a new line and will end-up sending many one-liner responses.

[2022-02-16 17:14] aldhielman opened #4004 "Dialogflow not work on API Channel"
I have tested dialogflow to integrate with FB, IG, Widget Chat and telegram and all is running well (including Agent Handoff mechanism)
but when i try integrate my API Channel Inbox that use samae credential JSON file as for other Inbox (FB, IG etc) it looks doesn't work.

currently i use postman to create new message from client, message successfully shown on Chatwoot but no reply from Dialogflow

[2022-02-16 17:19] #3695 closed

[2022-02-16 17:44] jaime-rivas commented on #3853
We are in a similar situation. It would be great to have the option to fully disable the usage of Gravatar.

Thanks for the great work!

[2022-02-16 21:20] voko3456 commented on #3951
I hope you can add
 1-send attachment as action and
 2-update custom attributes as action and
3-send message as action

[2022-02-16 21:42] omercan opened #4007 "feat: Ability to continue the conversation which is opened from API with E-mail"
We want to develop a support suite for our users in our Dashboard.

Our users can create support tickets from our Dashboard and see the status of their support tickets. When there is an update from the support or success team, they should receive an e-mail.

But also, we want our users to reply from their e-mails to update conversions. Or vice versa, those who create a ticket from e-mail can also

[2022-02-17 00:00] zaengerlein commented on #1039
Looking forward to a Mattermost integration 🥳🙏

[2022-02-17 01:05] aldhielman opened #4008 "failed to initiate new chat session on Messengger Inbox that integrate with Dialogflow"
I have problem with my Messenger Inbox with Dialogflow integration to handle intent. I've apply Agent Handoff mechanism as describe in [here](https://www.chatwoot.com/docs/product/channels/live-chat/integrations/dialogflow#creating-a-handoff-intent) . After particular session chat is Resolved by our agent than i try to send new message from Facebook but it seems no Dialogflow Bot to answer (status

[2022-02-17 05:50] aswindevps commented on #3446
@pranavrajs Need more investigation. Hence adding back to Icebox.

[2022-02-17 06:07] sojan-official commented on #3446
@pranavrajs Since this would change the behaviour of calculations of the metrics, Should we enable it based on a setting ?

- probably a checkbox near the business hours configuration / or in reports  ( Calculate reports based on business hours? )

[2022-02-17 10:56] pranavrajs commented on #3972
Thanks for providing the feedback @hendrikrust @ChrisvanChip. We are also evaluating what is the best of both worlds.

A toggle can be done which seems like the easiest option, but I'm uncertain about the visibility of the toggle to most of the users (I mean I couldn't still picture where and how someone would find this option).

[2022-02-17 10:57] pranavrajs commented on #1973
@giquieu Since #3966 is merged, I guess you can move forward with the PR. Let us know if you need any help.

[2022-02-17 10:58] pranavrajs commented on #1481
@rahulmr The API for this is completed via https://github.com/chatwoot/chatwoot/issues/3840. We are working on the UI for it now via https://github.com/chatwoot/chatwoot/issues/3938

[2022-02-17 13:33] pranavrajs commented on #3599
@muhsin-k As discussed previously, let's keep description, company name, city, country_code, social_profiles. Location is a deprecated attribute, let us focus on city_name, country_code for now.

[2022-02-17 13:48] pranavrajs opened #4012 "Deprecation warning: Autoloading during initialization"
[code]

cc: @tejaswinichile @sojan-official

[2022-02-17 13:55] pranavrajs commented on #4008
@aldhielman The sentry error you mentioned is fixed in https://github.com/chatwoot/chatwoot/pull/3978.

Let me summarize the issue here.

1. The conversation was handled by the bot.
2. It was transferred to an agent via Handoff.
3. Then it was resolved by the agent.
4. Customer sends a message again, it goes to the agent instead of a bot.

If this is the issue, the behavior is as per our current d

[2022-02-17 14:00] pranavrajs commented on #4007
@omercan I'm not sure whether I understand this completely. Are you using trying to create a message (originating from the user) in an email inbox?

How does the conversation start, is it by sending an email to the support desk or submitting a message on your dashboard?

[2022-02-17 14:03] pranavrajs commented on #4001
@nithindavid This might be a good place to see if we can split the signatures into plain text and HTML/rich content signature. Let us use Rich content on website live-chat and email, and plain text on rest of the channels.

[2022-02-17 14:05] pranavrajs commented on #3992
Closing this for #3997, let us discuss both there, no need to have duplicate tickets.

[2022-02-17 15:12] #3727 closed

[2022-02-17 15:33] tejaswinichile commented on #3951
@pranavrajs

One doubt, We should check above mentioned conditions only for contact-related events, right?

[2022-02-17 17:23] omercan commented on #4007
Both. The user should also be able to see and respond to a ticket that he/she starts by sending an email from the dashboard.

Similarly, when a response is received to a support request from the administration panel, they should be able to add new messages by responding from the email that is sent to the customer.

**Scenario 1:**

User creates support ticket via e-mail:
<img width="1413" alt="Scr

[2022-02-17 17:51] g00g1 commented on #3304
I hope my fix will save others a few hours of debugging :)

1) go to the [rails console](https://www.chatwoot.com/docs/self-hosted/monitoring/super-admin-sidekiq#access-rails-console)
2) check if you seeing the same output:
[code]
3) execute next commands (do not forget to change chat@example.com to your own):
[code]

[2022-02-18 00:43] #4008 closed

[2022-02-18 03:03] iamsivin opened #4014 "bug: Contact conversations are showing in the chat list of mentions dashboard"
**Describe the bug**

Contact conversations are showing in the chat list of mentions dashboard when we expand the previous conversation section in the sidebar you can see in the below screen recording.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to mentions dashboard
2. Click on any chat which has a previous conversation
3. Expand the previous conversation header and look into the ch

[2022-02-18 04:23] pranavrajs opened #4015 "Add more actions to the automations"
- [x] Send the email notification to the team (team_ids as an input)
- [x] Assign to an agent (agent_id as an input in the action)
- [x] Send an email transcript to specified email (email as an input in the action)
- [x] Mute conversation (no input)
- [x] Change status to snooze/resolved (no input)
- [x] Send a webhook event to specified URL (webhook URL as an input in the action)

{
   event_name

[2022-02-18 05:29] johanndrews commented on #3972
Thinking of the mail channel, you send more likely longer text, instead of short replys.

[2022-02-18 05:39] #3916 closed

[2022-02-18 08:04] sojan-official commented on #3304
@g00g1  Thanks a lot for reporting this back.

[2022-02-19 02:57] aldhielman opened #4019 "Send Attachment on API Channel"
Are chatwoot support to send message with attachment on API Channel ?. It seems not fully described on API Documentation about Attachments schema on create message payload

[2022-02-19 03:13] #4019 closed

[2022-02-19 11:19] nguyenhuuloc304 commented on #2548
I encountered the same issue even I checked endpoint correctly. I am using docker env.

Hi @drivasintelnexo Could you help to take a look and advise what I am wrong? Thank you.

![image](https://user-images.githubusercontent.com/21157325/154798626-0dd3ae80-ff81-4325-9ac1-2701296bf216.png)
![image](https://user-images.githubusercontent.com/21157325/154798644-b3090d76-b13f-4fdd-a9b6-15925ffb9b09.png

[2022-02-19 11:29] ddlidded commented on #947
Is there any update on this?

[2022-02-19 12:31] jonas-hoebenreich opened #4020 ""No content available" for e-mail messages without body"
**Describe the bug**
If a user sends an email to an inbox monitored by chatwoot, but only puts his question in the subject, with an empty message body, the email will not be processed properly. Instead, an empty chat history appears, in which it is not possible to read the message.

**To Reproduce**
Send a blank email to Chatwoot and only specify the subject line

**Expected behavior**
The message

[2022-02-19 13:01] jonas-hoebenreich opened #4021 "Truncate email signature"
**Is your enhancement request related to a problem? Please describe.**
If you have a slightly longer email signature, it takes up a lot of the space.
![image](https://user-images.githubusercontent.com/64426524/154801388-4a4ece4a-7bc9-4247-aa01-d080fb2fe58b.png)

**Describe the solution you'd like**
It would make more sense to display only the first two lines, for example, and hide the rest.
The em

[2022-02-19 16:43] #3332 closed

[2022-02-19 21:36] dominikmukrecki opened #4022 "bug: Cannot create inboxes, also existing inboxes not visible"
All existing inboxes disappeared and creating new ones is not possible. On the other hand, those inboxes (existing and created) are present in the database. I am not able to reproduce the issue, but currently working on fixing it by myself. I can display messages using the All Conversations filter on the left side panel.

**Screenshots**

![image](https://user-images.githubusercontent.com/64379788

[2022-02-19 21:53] dominikmukrecki commented on #4022
Temporary fix: downgrade into v2.0.2.

[2022-02-19 22:03] dominikmukrecki commented on #4022
Suggestion: it seems like lack of a Postgres column allow_messages_after_resolved in the inboxes table. It appears in 2.1.x. Please tell me if I am wrong, but I am not able to investigate this issue further. Cheers :)

[2022-02-20 06:39] bhavyajhaaa commented on #2522
<img width="816" alt="sendgrid_error" src="https://user-images.githubusercontent.com/47248872/154831010-3c0d4dd6-5c64-4cc7-b182-0b63c5326413.png">
@pranavrajs @sojan-official Having the same issue. Please help with this.

![image](https://user-images.githubusercontent.com/47248872/154831607-ddf60fec-3901-40fc-8b3d-5c9954e180ad.png)

The email id is contact@weunlearn.org and weunlearn.org is verifi

[2022-02-20 06:50] pranavrajs commented on #4022
@dominikmukrecki Can you please try upgrading to 2.2.0 and see if you have any issues?

[2022-02-20 08:23] dominikmukrecki commented on #4022
Greetings :) Only 2.0.2 works, I tried 2.2.0 now.

[2022-02-20 12:00] Robinjoeh commented on #4015
Just a thought: How about adding 'assign a Team' as well (so you can route different inboxes automatically to a certain team).

[2022-02-21 04:10] #3863 closed

[2022-02-21 05:03] Ajay-joshi-mtr commented on #4020
Hi @jonas-hoebenreich  As you mentioned specifically for empty message body this errors occurs, I would like to add that we are already facing the same issue along with the message body. So, I think this issue is in email inbox channel. Please get it resolved asap.

[2022-02-21 08:53] sojan-official commented on #3777
@aswindevps  could you take a look at this as a part of https://github.com/chatwoot/chatwoot/issues/3875 while you set up twitter.

cc: @pranavrajs

[2022-02-21 12:39] sagararyal commented on #4020
+1 @Ajay-joshi-mtr .

I think this should be P1 issue. Affecting many messages with non empty body on email channel.

[2022-02-21 12:40] sojan-official commented on #2522
@bhavyajhaaa could you specify the following information

- which is installation environment which you are using?
- did you update `MAILER_SENDER_EMAIL` variable with an email address that is from your verified SendGrid domain?

[2022-02-21 12:43] sojan-official commented on #4022
@dominikmukrecki

- did you perform and upgrade directly from. 2.0.2  -> 2.2.0 ?
- did you run the `rails db:chatwoot_prepare` command after updating the images ?
ref: https://www.chatwoot.com/docs/self-hosted/deployment/docker#upgrading

[2022-02-21 12:46] sojan-official commented on #2548
@nguyenhuuloc304 platform apps have access only to the resources it create. I guess account 1 might not have been created by your platform app.

you can run this script to add permissions for platform apps on objects which weren't created by the platform app

run the following in a rails console in your chatwoot installation
[code]

[2022-02-21 12:55] sojan-official opened #4023 "feat: the public contact api ca should accept a phone_number parameter"
### Discussed in https://github.com/chatwoot/chatwoot/discussions/4013

<div type='discussions-op-text'>

<sup>Originally posted by **ramphy** February 17, 2022</sup>
Hello,

Why the public contact api cannot create a phone_number variable?

I'm  trying to use the public contact api, to integrate my API with Chatwoot.

https://app.chatwoot.com/public/api/v1/inboxes/{inbox_identifier}/contacts
{

[2022-02-21 12:55] bhavyajhaaa commented on #2522
@sojan-official
- We're deploying on AWS ECS using the official chatwoot image.
- We verified domain and single sender for contact@weunlearn.org

![image](https://user-images.githubusercontent.com/47248872/154959249-84d1cf01-1747-4590-8707-63b7d7b77aec.png)

[2022-02-21 13:06] sojan-official commented on #2522
@bhavyajhaaa could you make sure that the environment variables are updated inside your worker containers as well?
 also, that both the worker and web services were restarted after the variables were updated.

[2022-02-21 13:07] nithindavid opened #4025 "Email signature being sent out with all channels"
With the new email signature feature. If you enable it when writing an e-mail and leave it on after sending it, every chat message gets the signature as well. Even the one's where email signature is not supposed to work.

[2022-02-21 13:18] sojan-official commented on #4004
@aldhielman  We will take a look and get back with updates.

[2022-02-21 13:25] bhavyajhaaa commented on #2522
@sojan-official
![image](https://user-images.githubusercontent.com/47248872/154963687-67efad40-5497-4d25-aff6-e9e5558ac9d7.png)
this is inside the containers and both have the same value.
The services are restarted after updation too.

[2022-02-21 13:30] sojan-official opened #4026 "feat: Ability to trigger campaigns via API"
ref: https://discord.com/channels/647412545203994635/647729576427913228/943207330487615498

------

The ability to trigger campaigns via API will open up more room for unique use cases.

## Current limitations

-  Campaigns will be triggered only if no conversation exists for the contact
-  Campaigns trigger logic happens in frontend based on page rules in case of web widget channel

## Thoughts
-

[2022-02-21 13:40] sojan-official commented on #2522
@bhavyajhaaa  The only thing I can think of in this case is the value of the `MAILER_SENDER_EMAIL` that is getting sent to SendGrid isn't the right one. Everything else seems right.

Could you open up a rails console inside the container and check the value?
[code]

if it's not returning the correct value, you might need to check with SendGrid support.
Could also try configuring an alternative ema

[2022-02-21 14:50] pranavrajs opened #4028 "Consider timezone in reports"
Consider timezone while computing the report. The reports are currently pulled using the server time, instead, we should provide an option to use the agents/admins browser timezone or a timezone they can set in their profile.

[2022-02-21 15:26] bhavyajhaaa commented on #2522
@sojan-official
Realised the error was in env variable name - "MAILER_SENDER_EMAIL " instead of "MAILER_SENDER_EMAIL"
But a new error is showing up now.
![image](https://user-images.githubusercontent.com/47248872/154984524-976deda7-5444-4cce-b2f6-c9fb656b2a7c.png)

[2022-02-21 18:20] HT-Moh opened #4029 "Issue with Email SMTP - Sender mismatch - From email"
I am using docker v2.2.0
Here is my Email env configuration,  .

    - SMTP_ADDRESS=mail.infomaniak.com
    - SMTP_DOMAIN=infomaniak.com
    - SMTP_ENABLE_STARTTLS_AUTO=true  # I tried both true and false
    - SMTP_PORT=465
    - SMTP_USERNAME=login@login.com
    - SMTP_PASSWORD=passs

![image](https://user-images.githubusercontent.com/34759569/155008737-4e8683f8-37f6-4618-aae4-de3af6656be9.png)

[2022-02-21 20:34] fayazara commented on #3944
@pranavrajs For `List-Multiselect` combo, I think we should have `Plant text` because when setting a list type attribute to a conv, it just allows us to choose one.

[2022-02-22 02:49] iamsivin opened #4036 "Add support for pasting multiple files from the clipboard"
**Enhancement**

Now Chatwoot only allows pasting a single file from the clipboard even if we copy multiple files. So we want to add support for pasting multiple files from the clipboard.

**Bug**

1. When we copy a file from the finder and paste it into the normal editor if the input is active then the file name will show in input.
2. When we paste an image from the clipboard for attachment, if t

[2022-02-22 03:43] nguyenhuuloc304 commented on #2548
Hi @sojan-official
Thank you so much for your explanation. Then I am trying to create new account using platformAppApiKey, However, I faced another issue as below. Could you help me advice how to fix it? Thank you.

![image](https://user-images.githubusercontent.com/21157325/155059105-42985c19-7ce8-49b9-8755-69d0cfc0b9b2.png)

[2022-02-22 07:39] mohammad362 commented on #686
any new news for this feature?

[2022-02-22 08:16] sojan-official opened #4037 "chore: switch back the device_secure_password gem to original repo"
We created a fork of device_secure_password gem to accommodate the special characters change

https://github.com/chatwoot/devise-secure_password/commit/de11e8765654b8242d42101ee9c8ffc8126f7975

which seems to have made it to the base repo : https://github.com/ValiMail/devise-secure_password/commit/1cc18b97b909635f2cef2b0f29357c8cf2391d2f

so let's switch back to the original gem after testing the

[2022-02-22 09:08] punndcoder28 commented on #1669
Hi @pranavrajs I have been trying to use the create labels api for a conversation and like @pucilpet mentioned we get a successful response but it is empty
[code]

Our request payload is
[code]

We are user version 2.1.1. Currently using python `requests` to make any `https` calls.

[2022-02-22 09:14] HT-Moh commented on #4029
I had a typo issue but now I am getting Sender mismatch, I think this error usually when the from email from does not match the one using for SMTP credentials.
how do you specify from Email?

[code]

[2022-02-22 09:28] #3491 closed

[2022-02-22 09:38] pranavrajs commented on #1669
Can you please share the API URL, payload, response, or a postman collection?

[2022-02-22 09:43] pranavrajs opened #4039 "User filter on CSAT reports"
- [ ] Add user filter on `/api/v1/accounts/1/csat_survey_responses` API
- [ ] Allow multiple `user_ids` to be passed in the params
- [ ] Update the UI to select one or more users from the filter.

[2022-02-22 09:49] pranavrajs opened #4040 "Display trends in the metrics"
### Context

Right now, Chatwoot supports the following metrics

- Total number of Conversations
- Total number of incoming messages
- Total number of outgoing messages
- Average resolution time
- Average first response time
- Resolution count

These are absolute metrics for that particular time period, it doesn't show what has changed from the previous time period.

An example can be seen here.
<

[2022-02-22 09:51] sojan-official commented on #4029
configure the `MAILER_SENDER_EMAIL` env variable

ref: https://www.chatwoot.com/docs/self-hosted/configuration/environment-variables#configure-emails
ref: https://github.com/chatwoot/chatwoot/issues/2522

[2022-02-22 09:53] sojan-official commented on #2522
@bhavyajhaaa could you try with port 465?

ref: https://sendgrid.com/blog/whats-the-difference-between-ports-465-and-587/

[2022-02-22 09:55] punndcoder28 commented on #1669
A small snapshot of the code we are using
[code]
And the response payload is `{'payload': []}`

[2022-02-22 09:59] dominikmukrecki commented on #4022
@sojan-official I finally resolved the issue after running `rails db:chatwoot_prepare` command. It was my mistake - I forgot to run the command due to switching between images and testing all of them. Thanks a lot for the clarification.

[2022-02-22 09:59] #4022 closed

[2022-02-22 10:11] HT-Moh commented on #2522
Thanks, I missed it. now it works
I change `support_email` column on the account table directly, but it didn't work.
I changed the `settings_flag` to 1 as well then I was to see to Support Email on the frontend.

[2022-02-22 10:15] sojan-official commented on #2522
@HT-Moh thanks for the update.

Generic emails like password reset and agent confirmation are sent using the value in an environment variable.
The support email flag is specific for account emails like conversation continuity.

[2022-02-22 10:16] pranavrajs opened #4041 "Display how many conversations are considered for calculation"
For aggregate values, we don't currently display how many conversations are used in the calculation. It would be good to show the number of conversations used in the calculation of resolution time and first response time.

#### Todo

Backend

- [ ] Return the number of conversations as count in each metric aggregate computation

[code]

Frontend

- [ ] Use a mixed chart(Bar & Line) to represent av

[2022-02-22 10:40] pranavrajs opened #4042 "Update chart values to use hr, minutes notation instead of hours"
We are displaying time in hours in reports. Instead of showing 3 minutes, we are displaying it as 0.05Hr. Change this to minutes/hours representation by the following logic.

If the value is < 60 - show the same value as seconds
If the value is > 60, less than 3600 - show the (value/60) as minutes
If the value is > 3600 - show (value / 3600) as hours and (value % 3600) as minutes
If the value is >

[2022-02-22 10:42] bhavyajhaaa commented on #2522
@sojan-official  Tried with port 465 now but the same error shows up.
![image](https://user-images.githubusercontent.com/47248872/155116113-7a4d6e5e-ce98-4afc-a6e2-32cf45cdb9a5.png)

[2022-02-22 11:01] pranavrajs opened #4043 "[CW-2210] Followup Response Time"
For all outgoing messages, create an event with the name 'followup_response_time' if the previous message (except template, activity) is an incoming message.

Exception: If there are are multiple incoming messages without an outgoing message, select the first one for computation.

Compute the average value of followup_response_time.

<sub>[CW-2210](https://linear.app/chatwoot/issue/CW-2210/followu

[2022-02-22 11:28] pranavrajs commented on #3446
- [ ] Add a value_in_business_hours, event_start_time, event_end_time. In the migration, use nil as existing value.
- [ ] Compute value_in_business_hours while creating the event. If all_day, then value = value_in_business_hours. If not all_day, compute the difference in hours
- [ ] Rename events to reporting_events
- [ ] Add toggle near the graph to see values_in_business_hours.

[2022-02-22 14:35] pranavrajs commented on #3944
@fayazara I'm not sure whether I understand this, if we have multi select option is there a problem?

I don't want people to be searching for other values when we only save a specific set of attributes.

[2022-02-22 14:50] vishnu-narayanan opened #4045 "dockerhub builds failing on develop"
**Describe the bug**

dockerhub builds failing on develop after the version update of gems.

**To Reproduce**

Steps to reproduce the behaviour:
1. Go to dockerhub.
2. Click on chatwoot builds.
3. See error.

https://hub.docker.com/repository/docker/chatwoot/chatwoot/builds

**Expected behaviour**

Builds should pass.

**Screenshots**

![image](https://user-images.githubusercontent.com/3526167/155

[2022-02-22 15:39] sojan-official commented on #3704
@vorletzter  feel free to open the issue if it still persists.

[2022-02-22 15:39] #3704 closed

[2022-02-22 16:07] sagararyal opened #4047 "Add a log when a Conversation Transcript is emailed"
**Is your enhancement request related to a problem? Please describe.**
When a user sends a transcript to any email, currently, there is no log in the conversation. Allowing a log would help agents know what has been communicated to the user.

**Describe the solution you'd like**
A variant of the following in the conversation.
<img width="795" alt="Screen Shot 2022-02-22 at 5 04 01 PM" src="https:/

[2022-02-23 03:24] iamsivin opened #4048 "Throwing `TypeError: Cannot set properties of undefined` in console"
**Describe the bug**

When we click to load more conversations in all conversation view throwing `TypeError: Cannot set properties of undefined (setting 'query_operator')` in console

**To Reproduce**

Steps to reproduce the behavior:
1. Go to All conversation view
2. Click on Load more conversation
3. Open dev tools
4. See error

**Screencast**

https://user-images.githubusercontent.com/64252451/

[2022-02-23 06:45] pranavrajs opened #4050 "Investigation: Instagram DMs"
Check if the Instagram DMs work with image/video previews.

[2022-02-23 06:47] pranavrajs commented on #3951
@fayazara Please create a separate ticket for the frontend changes.

[2022-02-23 06:58] aswindevps commented on #3875
Refer: https://developer.twitter.com/en/docs/twitter-api/v1/direct-messages/message-attachments/guides/retrieving-media

[2022-02-23 09:26] fayazara opened #4051 "Automation Enhancement Actions"
Reference - https://github.com/chatwoot/chatwoot/issues/3951

New Actions to add
 Send the email notification to the team (team_ids as an input)
 Assign to an agent (agent_id as an input in the action)
 Send an email transcript to specified email (email as an input in the action)
 Mute conversation (no input)
 Change status to snooze/resolved (no input)
 Send a webhook event to specified URL (webh

[2022-02-23 09:41] fayazara commented on #3951
https://github.com/chatwoot/chatwoot/issues/4051

[2022-02-23 09:50] fayazara commented on #3938
@pranavrajs If we're changing input types based on the filter operator, one conflict thats coming is, its not necessary that each operator will have its own fixed input type.

Example.
`equal to` for email can have input type as a free email field, the same `equal to` can expect a dropdown for selecting an agent or a label.

How do we handle this?

[2022-02-23 10:38] pranavrajs opened #4052 "Notification view update"
- Create a widget for notifications in the sidebar.

### Acceptance:

- [ ] When you click on the bell icon, instead of navigating to a new route you would see a popup that shows unread messages.
- [ ] The popup should only show unread messages
- [ ] There should a button to "Mark read"
- [ ] At the end of the list, there should be a button to view previous notifications. Clicking on the button wo

[2022-02-23 11:00] iamsivin commented on #4052
1. Good to show the name instead of id in the title.
2. Already we are showing the message type as an option but the message also it is showing the notification type.
3. Good to show the name instead of id in the message.

[2022-02-23 11:18] #4048 closed

[2022-02-23 11:23] #3845 closed

[2022-02-23 11:54] #3940 closed

[2022-02-23 11:54] #3943 closed

[2022-02-23 12:10] nithindavid opened #4053 "fix: Show correct error message when agent limit is exceeded"
When feature flag is enabled to limit new agent additions on free plan, we are showing a generic message. We need to show proper error message that is returned from server.

[2022-02-23 12:13] sojan-official commented on #4053
- will need the same change for inboxes page as well

[2022-02-23 12:57] sojan-official commented on #4029
https://github.com/chatwoot/chatwoot/issues/2522#issuecomment-1047633122

[2022-02-23 12:57] #4029 closed

[2022-02-23 13:03] sojan-official commented on #2522
@bhavyajhaaa  could you verify the value of `SMTP_DOMAIN` and make sure that its your verified domain ?

double check that the following environment variables are configured as per below
[code]

if  it doesn't work could you try setting tls as true?
add SMTP_TLS=true environment variable to chatwoot instance.

https://stackoverflow.com/a/49295050/939299

[2022-02-23 13:22] voko3456 opened #4054 "Add automation action send attachment"
Add automation action send attachment

[2022-02-23 13:38] voko3456 commented on #4015
Please add those also :
1-send attachment
2-send message
3-update custom attribute

[2022-02-23 13:42] voko3456 commented on #3784
Hi @sojan-official please any updates on this?

[2022-02-23 13:44] voko3456 commented on #3886
Hi @pranavrajs did you test it I see the PR is merged but still we can't receive csv and pdf and txt and xls

[2022-02-23 14:04] pranavrajs commented on #3846
@tejaswinichile Since the PR for API is merged, can you please make sure that APIs are documented and available for @nithindavid to start working on it.

[2022-02-23 14:17] jean-philippeansel opened #4056 "Add Sender Name in email channel when IMAP/SMTP is enabled"
Currently, messages sent using email channels with IMAP/SMTP enabled  only have the email address in their header. They don't have sender name.
So instead of being sent from John Doe <johndoes@domain.com>, emails are currently sent from johndoes@domain.com.

I think it would be very important to have a new field like "Sender name" in the channel configuration.

[2022-02-23 14:59] pranavrajs opened #4057 "Rename events to reporting_events"
Rename events table to reporting_events for better clarity

https://github.com/chatwoot/chatwoot/pull/4044

[2022-02-23 15:01] jean-philippeansel opened #4058 "Email signature is added to every livechat messages"
**Describe the bug**

Email signature defined in agent profile is automatically added to all messages in Website Channel (Chatwoot 2.2.0)

**To Reproduce**

Steps to reproduce the behavior:
1. Go to agent profile
2. Set a message signature and save
3. Open a chat discussion (website channel)
4. Write a message

**Expected behavior**

The message signature should not be added, since it's a live cha

[2022-02-23 15:07] #4058 closed

[2022-02-23 15:25] vishnu-narayanan commented on #4045
# logs from docker build

<details>
  <summary>Click to expand!</summary>

[code]
</details>

[2022-02-23 15:45] pranavrajs commented on #4045
@vishnu-narayanan @sojan-official Removed the Gemfile.lock and regenerated the file in #4059. Let us see if this works, otherwise close the PR.

[2022-02-23 15:59] vishnu-narayanan commented on #4045
@pranavrajs I also have raised one. I think this should fix it.

[2022-02-23 16:36] bhavyajhaaa commented on #2522
@sojan-official Updating SMTP port to 587 worked. Thank you for helping out!

[2022-02-23 17:02] pranavrajs opened #4062 "Release v2.2.1"
- [x] #4045
- [x] #4053
- [x] #4020
- [x] #4028
- [ ] #2828 (Optional)
- [x] #4025
- [x] https://github.com/chatwoot/chatwoot/issues/3784
- [x] #4070
- [x] https://github.com/chatwoot/product/issues/317

[2022-02-23 17:05] pranavrajs commented on #4053
Closed via https://github.com/chatwoot/chatwoot/pull/4055

[2022-02-23 17:05] #4053 closed

[2022-02-23 17:57] vishnu-narayanan commented on #4045
tar (child): xz: Cannot exec: No such file or directory[¶](https://nokogiri.org/tutorials/installing_nokogiri.html#tar-child-xz-cannot-exec-no-such-file-or-directory)

From the docs

ref: https://nokogiri.org/tutorials/installing_nokogiri.html#tar-child-xz-cannot-exec-no-such-file-or-directory

[2022-02-23 17:57] #4045 closed

[2022-02-24 09:14] ChrisvanChip commented on #3992
@pranavrajs Sorry for my late reply, but this feature request is related to sending a message **to** agents **as** customer.

The other feature request is related to sending a message **to** customers **as** agent. (Triggering campaigns)

[2022-02-24 09:17] ChrisvanChip commented on #3993
Could be merged with #2993.

[2022-02-24 14:39] soyket commented on #1664
Hi,

Though this is old there might be someone who is trying to solve this but is still stuck.
First of all, make sure the identification function is within the below function

`window.addEventListener('chatwoot:ready', function () {
  window.$chatwoot.setUser('youruseridfromsite', {
  email: '<email-address-of-the-user@your-domain.com>',
  name: '<name-of-the-user>',
  identifier_hash: 'identifie

[2022-02-25 05:33] #4020 closed

[2022-02-25 06:40] Christilut opened #4067 "Delete contact without having to type name"
**Is your feature request related to a problem? Please describe.**
Spam users come in through chat or Facebook chat and enter Chatwoot. I want to delete these so I delete the contact by clicking the button. Then a popup shows to ask if I'm sure. Then I have to type the name to confirm. I never type it, but I copy paste instead.

**Describe the solution you'd like**
There is already a confirm popup

[2022-02-25 06:46] Christilut opened #4068 "Resolve should clear selected conversation"
**Is your enhancement request related to a problem? Please describe.**
When resolving a conversation, the conversation does not disappear. That is a bit strange in my opinion. I always press the "All Conversations" button after a resolve so my UI goes back to the initial state.

**Describe the solution you'd like**
Resolving a conversation should go back to "All Conversations". Or maybe the last v

[2022-02-25 07:25] fayazara commented on #3770
@tejaswinichile @aswindevps Can you please look into this.

PS, the `Phone-Contains` filter combo throws a 500, this was tested on app.chatwoot.com.

https://user-images.githubusercontent.com/15716057/155672505-1c7eabf5-b034-4371-a69e-5c4d25139842.mp4

[2022-02-25 07:29] fayazara commented on #3944
@pranavrajs let me know how to proceed on this.

[2022-02-25 07:40] pranavrajs commented on #3944
@fayazara I'm not sure if I understand this completely.

If the custom attribute definition has only one value (eg: Priority attributes with only one accepted value P0), then the multi select also would have one value in the selection.

[2022-02-25 07:42] pranavrajs commented on #4068
@Christilut Are you suggesting that the action should be "Resolve and move to next" instead of just staying in the same view.

The current behaviour is built because the agent might need to add a note for internal team about the conversation after resolving it.

[2022-02-25 07:42] punndcoder28 commented on #1669
Hi @pranavrajs any updates regarding this? Hope I am not troubling you in you busy schedule

[2022-02-25 08:07] Christilut commented on #4068
Yeah moving to the next open conversation (or none if no other open conversation exists) would make the workflow nicer.
I think it's confusing and a bit weird UX that a resolved conversation would still be showing on the page that normally only shows open conversations.

The agent can add a note before closing it right?

[2022-02-25 08:45] pranavrajs commented on #4068
@Christilut 😄 Yeah, they could. This has been a constant debate for some time within the team. I believe a Resolve and move to next action along with resolve should work here.

[2022-02-25 09:22] aswindevps commented on #4042
@pranavrajs Couldn't find lodash function to achieve this logic. So proceeding with custom logic.

[2022-02-25 10:58] pranavrajs commented on #3784
<img width="1114" alt="Screenshot 2022-02-25 at 4 27 29 PM" src="https://user-images.githubusercontent.com/2246121/155703678-aaf6af5f-943c-486c-a41a-aea062500c57.png">

@voko3456 This should be fixed now, can you please login to Crowdin and see if you still cannot see the strings?

[2022-02-25 10:58] #3784 closed

[2022-02-25 11:06] #4025 closed

[2022-02-25 11:19] sojan-official opened #4070 "bug: Issue with automation event loop"
Conversation updated event keeps triggering on empty update transactions

[2022-02-25 11:21] pranavrajs commented on #4042
@aswindevps Sure, can you please try adding it in [@chatwoot/utils](https://github.com/chatwoot/utils)

[2022-02-25 12:31] #4070 closed

[2022-02-25 13:27] giquieu commented on #1973
Hello @pranavrajs , I sent a draft, could you check and validate if it is acceptable to send the PR?
[# ](https://github.com/chatwoot/chatwoot/pull/4064)

[2022-02-25 14:32] cihadturhan commented on #3379
Hi @jean-philippeansel
Were you able to change templates for conversation continuity emails?

[2022-02-25 16:09] Christilut commented on #4068
I think that would work yes. It would be very useful if the UI would remember the last used resolve action. So the big green button would be either `Resolve` or `Resolve and next` depending on which was last used.

[2022-02-26 12:41] aswindevps commented on #4042
@pranavrajs Checks are failing for below PR. How can we fix that?

https://github.com/chatwoot/utils/pull/11

[2022-02-26 14:18] lilsweetkara commented on #3918
Did this fix make it in the latest release I saw a couple of days back? Thank you!

[2022-02-27 11:40] perry commented on #3920
Can confirm this is not working for me either, on a fresh SaaS install. It was working originally, then stopped with no changes to settings.

<img width="1154" alt="Screen Shot 2022-02-27 at 18 39 03" src="https://user-images.githubusercontent.com/952316/155880891-a889223c-accc-499d-b04e-8f28590e5f8f.png">

![IMG_9670](https://user-images.githubusercontent.com/952316/155880929-9ee376aa-d51c-4e5b-8

[2022-02-27 11:43] perry commented on #3920
Very strange, the messages just appeared in the LINE app after ~5 minutes of not appearing.

![IMG_DEEE1D28B854-1](https://user-images.githubusercontent.com/952316/155881011-a1e3affb-944e-4f29-a878-26932ca50f27.jpeg)

[2022-02-27 12:07] perry opened #4073 "LINE Stickers are not rendered"
**Describe the bug**

Stickers sent from LINE are not rendered in Chatwoot, they also cause the chat to display a "X unread messages" bubble which cannot be dismissed.

**To Reproduce**

Steps to reproduce the behavior:

1. Send a sticker from a LINE chat to connected Chatwoot account. 2.
2. The message is not received.

**Expected behavior**

The stickers should be rendered, as there can be a lot

[2022-02-27 12:30] dandju opened #4074 "Add Serbian (latin) translation"
Hello, please add or enable Serbian (latin) for translation at Crowdin. Here to help.

[2022-02-28 04:53] muhsin-k opened #4077 "bug: Adding a random country code breaks the contact details page"
<img width="1440" alt="CleanShot 2022-02-24 at 15 47 32@2x" src="https://user-images.githubusercontent.com/15716057/155505210-8f421fd7-de81-436a-9a88-2b19fb4396ea.png">

[2022-02-28 05:26] #4028 closed

[2022-02-28 06:40] #3599 closed

[2022-02-28 08:03] pranavrajs commented on #3918
@lilsweetkara #4079 should fix this behaviour.

[2022-02-28 08:05] pranavrajs commented on #4074
Added. Please check https://chatwoot.crowdin.com/chatwoot/sr-Latn

[2022-02-28 08:05] #4074 closed

[2022-02-28 08:22] lilsweetkara commented on #3918
Hi,

Ah! Is it already released to the cloud version of chatwoot?

Thank you!!!

Kara

On Mon, 28 Feb 2022, 4:04 pm Pranav Raj S, ***@***.***> wrote:

[2022-02-28 08:23] pranavrajs commented on #4042
@aswindevps I have fixed the PR issues, please make sure you run `yarn lint` next time.

[2022-02-28 09:23] #3963 closed

[2022-02-28 09:45] #4062 closed

[2022-02-28 11:24] #4042 closed

[2022-02-28 11:42] Christilut commented on #3916
I think there might be more going on because I'm on my desktop right now (with 100% stable and reliable internet) and I still saw the "Chatwoot is disconnected" notification. Maybe it was a chatwoot server issue this time, I'm not sure.

I do think adding an automatic reconnect/resync feature is essential here because at the moment I can't rely on Chatwoot showing me the latest conversations so I

[2022-02-28 12:46] #4057 closed

[2022-02-28 14:18] #4077 closed

[2022-02-28 16:12] #3815 closed

[2022-02-28 16:13] #3930 closed

[2022-02-28 16:17] pnhuyduy opened #4083 "Build failed on Ubuntu 20.04 EC2"
I use the install script on Ubuntu 20.04
I use node 14 version, but the log said Got "10.19.0"

Here is the log:

[code]

It does complete the setup but the web page show like this:
![image](https://user-images.githubusercontent.com/46210597/156018247-dfbf52d0-a53b-4c11-97bf-17597cd1761c.png)

[2022-02-28 17:47] vinch opened #4084 "Bug when uploading images in conversations: image not showing"
**Describe the bug**

When uploading an image in a conversation, the image doesn't show, it shows a broken image. After reloading the conversation (Cmd+R in the browser), it works fine. The problem happens with the admin and with the client as well (integration in the website).

We noticed that it seems to be working sometimes with smaller images (<50KB) but definitely fails all the time with bigg

[2022-02-28 20:51] jordan-brough commented on #3233
Same here, also macOS and also following https://www.chatwoot.com/docs/contributing-guide/environment-setup/docker.

[code]

Full output of `docker-compose`:
<details><summary>click here</summary>

[code]
</details>

[2022-02-28 20:55] jordan-brough commented on #3233
Where is `FROM chatwoot:development` supposed to come from? I don't see the `development` tag here:
https://hub.docker.com/r/chatwoot/chatwoot/tags

Is it supposed to be `chatwoot:develop`?

[2022-03-01 05:21] tejaswinichile opened #4085 "Add gmail like label marker in the conversation card"
**Is your enhancement request related to a problem? Please describe.**
When we add labels to the conversation it won't show till we open details or apply the filter to the conversations.

**Describe the solution you'd like**
I want to see all the priority conversations at a glance and if we receive any new message from the particular customer or under the particular label. Similar to how Gmail sho

[2022-03-01 08:14] ChrisvanChip opened #4088 "bug: Impossible to sign in to the super admin dashboard"
**Describe the bug**

When trying to sign in to the `/super_admin` panel, the page just refreshes without error message. I am not logged in either.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to `<domain>/super_admin/sign_in`.
2. Try to log in with super admin credentials.
3. The log-in page refreshes without logging in, and no message shows up.

**Expected behavior**

Just like with

[2022-03-01 09:29] sojan-official commented on #4088
@ChrisvanChip with v2.2 we have unified the credentials of the agent dashboard as well as super admin accounts. So if you use the same email for the super admin and agent dashboard.  You can authenticate to super admin using your agent dashboard credentials.

- [ ] Clear the browser session and give it a try with the dashboard credentials
- [ ] Ensure that database migrations were run

[2022-03-01 10:09] sojan-official commented on #4084
@vinch  could you specify the chatwoot version you are using?
ref: https://github.com/chatwoot/chatwoot/issues/1372

[2022-03-01 11:00] ChrisvanChip commented on #4088
^ Apologies, misclicked it.

@sojan-official I can't log in with my admin credentials into the super admin dashboard. Is there any command I have to execute to run database migrations or suchlike?

I have initially installed Chatwoot on `v2.1.1` and upgraded using the recommended commands since then.

[2022-03-01 11:09] sojan-official commented on #4088
@ChrisvanChip could you open up a rails console and see if there are results for
[code]

[2022-03-01 11:10] sojan-official commented on #4056
@jean-philippeansel  Thanks for reporting, we will take this up for upcoming sprints.
cc: @pranavrajs

[2022-03-01 11:11] ChrisvanChip commented on #4088
It has returned 3 superadmins I had created recently, with IDs 7-9.

[2022-03-01 11:12] sojan-official commented on #4088
@ChrisvanChip  Could you try logging in from an incognito window?

[2022-03-01 11:14] ChrisvanChip commented on #4088
@sojan-official Logging in from an incognito tab doesn't resolve the issue: it still refreshes without error message when attempting a sign in.

I can eventually try an office computer that has never accessed Chatwoot?

[2022-03-01 11:18] sojan-official commented on #4088
@ChrisvanChip It would also be helpful if you could check logs and see what happens when the `signin` request is made to the server.

[2022-03-01 11:19] ChrisvanChip commented on #4088
The `chatwoot-web.1.service` logs are the same as above (first description). I'll record the `chatwoot-worker.1.service` now.

[2022-03-01 11:25] ChrisvanChip commented on #4088
@sojan-official Here are the logs of `journalctl -u chatwoot-worker.1.service -f` during sign in:

[code]

Above section is repeated a few times in the log history.

[2022-03-01 11:27] Christilut commented on #1888
Just ran into the same thing. Would be great if Facebook page messages would be marked done when resolving conversations.

[2022-03-01 11:31] ChrisvanChip commented on #4088
@sojan-official That returns a `Validation failed: Password must contain at least 1 number character  (0..9), Password must contain at least 1 special character  (!@#$%^&*()_+-=[]{}|'"/ ^.,`<>:;?~)`.

I'll try with "NewPassword!1".

[2022-03-01 11:34] ChrisvanChip commented on #4088
@sojan-official That worked 🥳

Thanks for your help!

[2022-03-01 11:39] #4088 closed

[2022-03-01 11:58] sojan-official commented on #3993
closing in favor of https://github.com/chatwoot/chatwoot/issues/2993

[2022-03-01 11:58] #3993 closed

[2022-03-01 12:00] sojan-official commented on #4067
ref: https://github.com/chatwoot/chatwoot-mobile-app/issues/476

[2022-03-01 12:04] sojan-official commented on #1973
@giquieu Thanks for the Draft PR. Let's take it forward over the PR

[2022-03-01 12:08] sojan-official commented on #1669
@punndcoder28 can you check the request logs? Also could you ensure that you are sending the request as json
ref: https://stackoverflow.com/a/9952774/939299

[2022-03-01 12:13] sojan-official commented on #3379
@jean-philippeansel  @cihadturhan at the moment only the agent notification mailers are supported for template customization. We will take up the remaining templates for future sprints.

[2022-03-01 12:16] omercan opened #4089 "If e-mail contains + sign, search is not working on Contacts page."
**Describe the bug**

I am creating the contacts with + sign. For example, omercan+ikas@gmail.com is one of our contact's mail. After that, when I wrote omercan+ikas@gmail.com to the search bar no result comes.

When I check the search API call on the dashboard, query goes like that:

omercan ikas@gmail.com

![Screen Shot 2022-03-01 at 15 16 13](https://user-images.githubusercontent.com/3155992/15

[2022-03-01 12:27] pranavrajs commented on #1669
@punndcoder28 Have you added `label1` and `label2` in the admin dashboard? If it is not defined in the account, you would not be able to add it to the conversation.

[2022-03-01 12:54] sojan-official commented on #3632
@sultanlive could you confirm whether the attachments for 360dialog isn't working for you even on chatwoot cloud?

[2022-03-01 14:34] punndcoder28 commented on #1669
This actually could be the problem. Let me try `json.dumps(request_payload)` and get back.

Yup the corresponding labels are present in the dashboard

[2022-03-01 15:12] jordan-brough commented on #3233
### tl;dr: Increase the memory available to Docker in order to build the `grpc` gem.

[On macOS](https://docs.docker.com/desktop/mac/#resources), or [on Windows](https://docs.docker.com/desktop/windows/#resources).
Increasing `Memory` from 2GB to 4GB fixed the problem for me.

Alternatively: If you don't need `google-cloud-dialogflow` then remove [google-cloud-dialogflow from the Gemfile](https://

[2022-03-01 15:15] sojan-official commented on #3952
closing in favour of https://github.com/chatwoot/chatwoot/issues/3233#issuecomment-1055549136

[2022-03-01 15:15] #3952 closed

[2022-03-01 15:15] sojan-official commented on #3233
@jordan-brough Thanks a lot for reporting back

[2022-03-01 15:17] sojan-official commented on #3852
closing this since there isn't any recent activity on this. Let's reopen if the issue persists in future.

[2022-03-01 15:19] sojan-official commented on #1704
closing in favor of: https://github.com/chatwoot/chatwoot/issues/3233

[2022-03-01 15:19] #1704 closed

[2022-03-01 15:20] #1969 closed

[2022-03-01 15:53] sojan-official opened #4090 "chore: Fix redis deprecation warning from sidekiq cron"
Since the gem isn't actively maintained we might need to create a fork / use a community fork
[code]

ref: https://github.com/ondrejbartas/sidekiq-cron/issues/310

[2022-03-01 16:17] jordan-brough opened #4091 "bug: Docker build fails during yarn install with ENOENT"
### Summary

I tried to build the docker image from `v2.2.1` on my MacBook and the `yarn install` step fails.

### Context
[code]

### Repro

[code]

### Full logs
<details><summary>click here</summary>

[code]
</details>

[2022-03-01 16:38] camagenta opened #4092 "db:migrate failed on self hosted deployment using helm chat on k8s"
**Describe the bug**

NoMethodError: undefined method `+' for nil:NilClass
when doing db:migrate

[code]

when i tried add --trace

[code]

I tried /rake db:chatwoot_prepare

[code]

**To Reproduce**

I install in my cluster using this yaml's file

**helm-relase-chatwoot.yaml**
[code]

**help-repository-chatwoot.yaml**
[code]

**redis-chatwoot.yaml** (without pv)
[code]

ussually we use redis with

[2022-03-01 18:10] tejaswinichile commented on #4015
@fayazara This is the JSON I am expecting with new actions
[code]

[2022-03-01 19:04] tejaswinichile commented on #4050
Normal attachment upload works with preview:
<img width="426" alt="image_preview" src="https://user-images.githubusercontent.com/10827585/156227958-263a9f1b-3838-47a3-8c6d-a095f16beda5.png">

But when we send photos from someone's story/status

<img width="426" alt="preview_no_content" src="https://user-images.githubusercontent.com/10827585/156227934-872efe00-00fc-4a33-9e6d-cd6ef3d39710.png">

To

[2022-03-01 21:57] jegade opened #4094 "character encoding of mails failed in the view"
**Describe the bug**

We are using the mail channel with the relay, if we send some non-ascii-char like äüäß the ui shows only ??? instead.

**To Reproduce**

Steps to reproduce the behavior:

1. Send an email with utf8 characters which are non-ascii like äöüß  to a mail channel
2. The Chat will display the characters as ?

**Expected behavior**

The characters shoud display as send

**Environment

[2022-03-02 01:52] aswindevps commented on #4042
@pranavrajs Sure.

Can we update the [README.md](https://github.com/chatwoot/utils#readme) for the same?

[2022-03-02 01:59] walejandromt commented on #1863
i have this bug:

log web:
![image](https://user-images.githubusercontent.com/14278594/156279932-e47165f3-af81-460b-8256-f554a1f75d33.png)

frontend:
![image](https://user-images.githubusercontent.com/14278594/156280001-36865401-6aa8-49ed-b47c-5e43fdd8b750.png)

![image](https://user-images.githubusercontent.com/14278594/156280062-e66f262b-2f28-46c2-924c-60118790a3b9.png)

i hope i help

[2022-03-02 04:45] pranavrajs commented on #4042
Sure, please go ahead.

[2022-03-02 05:09] tejaswinichile commented on #4050
No permission changes required for this fix.

[2022-03-02 08:35] muhsin-k opened #4096 "[CW-2838] bug: Self tagging in private notes creating a new notification"
**To Reproduce**

Steps to reproduce the behaviour:
1. Go to a conversation
2. Enable `Send push notifications when you mentioned in a conversation in notification settings
3. Send a private note with a self mention
4. You will get a new notification

**Expected behaviour**

Self mention private notes should not create a new notification.

<sub>[CW-2838](https://linear.app/chatwoot/issue/CW-2838/b

[2022-03-02 08:46] #3944 closed

[2022-03-02 09:39] #3961 closed

[2022-03-02 09:51] sojan-official commented on #1863
@walejandromt could you open a new issue as this seems to be unrelated to the original issue.
meanwhile please also describe the steps that you did so that you ended up on this screen.

[2022-03-02 09:58] #4021 closed

[2022-03-02 10:08] sojan-official opened #4097 "feat: Ability to edit scheduled one-off campaigns"
I would like to edit a one-off campaign after it is created.
- should only be possible for the campaigns scheduled for the future.

[2022-03-02 11:34] PyB1l opened #4098 "Prevent conversation creation out of business hours"
Is there an easy way to prevent user (E.g, hide widget, hide message input ) in the scenario where user
tries to chat out of business hours?

I can see that the correct message is displayed, but user can still send messages to this conversation.

[2022-03-02 16:23] walejandromt opened #4101 "Could not connect to Woot Server in Kubernetes Helm"
**Describe the bug**

i installed chatwoot with helm for kubernetes in microk8s

**To Reproduce**

firts install chatwoot in kubernetes microk8s with:
Hell Comand install
[code]

chatwoot-values.yaml

[code]

and when installed its finished i go to website chatwoot.myhost.com and show this screen:
![image](https://user-images.githubusercontent.com/14278594/156401671-3da453fb-68e5-4d9e-82e9-b64cfc8

[2022-03-02 16:24] walejandromt commented on #1863
@sojan-official hi thanks for reponse here a new issue: https://github.com/chatwoot/chatwoot/issues/4101

[2022-03-02 16:58] walejandromt commented on #4101
this issue is due to the cache, I deleted all the files generated in the PersistentVolume of postgresql and redis and work now
![image](https://user-images.githubusercontent.com/14278594/156410099-82ad5277-34de-4987-9da2-112214d2f8d8.png)

[2022-03-02 18:29] sojan-official commented on #4101
@walejandromt  Thanks a lot for reporting back

[2022-03-02 20:49] darkpixel opened #4105 "Getting assets into S3 bucket?"
I'm not a rails guy, so I'm a bit stumped at the moment.
I'm playing around with ChatWoot on a DigitalOcean Kubernetes cluster at the moment.
I had the app deployed using local storage and everything was up and working.

Unfortunately since I had several replicas running and was using local storage, occasionally SMS images wouldn't display because they weren't on the filesystem of the pod that was

[2022-03-02 21:08] darkpixel commented on #4105
I should also mention that the storage appears to be configured properly.  If I send a picture via MMS, ChatWoot receives it and drops it into the bucket.  I just can't get static assets uploaded.

[2022-03-03 04:30] loama commented on #3398
Hi, I got a workaround to this, I am using twilio for whatsapp so I created a function to process the location messages received and send them as text to chatwoot.

Based on this guide: https://www.twilio.com/blog/glorious-food#:~:text=Getting%20Location%20Data%20from%20WhatsApp,and%20an%20address%20if%20available.

Here is my code for the twilio function:

[code]

It sends the location as a text

[2022-03-03 05:23] calebjacobson commented on #1098
I installed the self-hosted server and configured multiple inboxes. I am only seeing the inboxes sorted in the order that they were created (both the inbox management page and the sidebar). Am I missing something?

[2022-03-03 06:18] tejaswinichile commented on #4050
Uploading Screen Recording 2022-03-03 at 11.44.35 AM.mov…

The story mention and shared post is working fine on staging.

[2022-03-03 06:21] tejaswinichile commented on #4050
@sojan-official Please have a look.

[2022-03-03 06:30] aswindevps commented on #4039
@sojan-official do we have swagger doc for csat_responses_controller?

[2022-03-03 10:38] sanjayws commented on #3398
Thank you. Still hopeful it will be made a hotfix or release. It is an important function.

Now I need to figure it out with 360Dialog

Thanks again. 🙏🏾

[2022-03-03 13:24] racquetmaster opened #4107 "Sort / Reorder Inboxes"
**Is your feature request related to a problem? Please describe.**
We have 40+ inboxes (Different SMS phone numbers). It would be nice to be able to put them in a sensible order.

**Describe the solution you'd like**
I'd like for the list of inboxes to either be sorted by name or able to be manually ordered.

**Describe alternatives you've considered**
See above.

**Additional context**
NA

[2022-03-03 17:07] sagararyal commented on #2659
@pranavrajs when implemented does this solve an issue:
where canned responses currently lose line breaks when updated.

https://user-images.githubusercontent.com/5401575/156614365-759a8e7b-81d4-4614-9068-6ff4d43fc536.mov

[2022-03-03 18:52] loama commented on #3632
For me it isn't working on chatwoot self hosted but it is working in chatwoot cloud, using twilio.

Although I can receive media from whatsapp to chatwoot self hosted. And both send and receive from chatwoot website chat widget.

So the only issue seems to be on the post call made to twilio whatsapp for media.
Not sure of how to further debug that

[2022-03-03 22:42] iammattmartin commented on #4107
Nice to add in #1127 too.

[2022-03-04 03:57] aswindevps commented on #4040
@sojan-official We would return the summary response as below.
{
  "current": {
    "conversations_count":10,
    "incoming_messages_count":20,
    "outgoing_messages_count":30,
    "avg_first_response_time":"20",
    "avg_resolution_time":"40",
    "resolutions_count":10
  },
  "previous: {
     "conversations_count":12,
     "incoming_messages_count":20,
     "outgoing_messages_count":30,
     "

[2022-03-04 05:25] pranavrajs commented on #4040
@aswindevps Saving the values would be required. It would be good to show the previous value on hover.

[2022-03-04 05:55] lan894734188 opened #4109 "Error creating a superadmin account"
**Describe the bug**

Error for carete superadmin account

1.i read https://www.chatwoot.com/docs/self-hosted/monitoring/super-admin-sidekiq
2.installed chatwoot at k8s by helm install
3.pods all running
4.use clusterIP for chatwoot-web svc
5.Todo the step1
6.type in chatwoot-web pod console and errors
<img width="377" alt="image" src="https://user-images.githubusercontent.com/16399130/156707517-1

[2022-03-04 08:47] pranavrajs commented on #2659
@sagararyal We have not seen this issue so far, let me see if we can reproduce it.

[2022-03-04 09:18] pranavrajs commented on #3918
@lilsweetkara Yes, it is deployed. Closing this as this is completed via https://github.com/chatwoot/chatwoot/pull/4079

[2022-03-04 09:18] #3918 closed

[2022-03-04 11:49] #4039 closed

[2022-03-04 12:09] ChrisvanChip commented on #714
What discussion is required on this feature? Or, does it require discussion from the Chatwoot team?

[2022-03-04 13:47] sojan-official commented on #714
@ChrisvanChip  Just requires prioritization from the team internally and evaluation of remaining effort.

[2022-03-04 13:57] sojan-official commented on #4092
@camagenta  did you make any changes to the code or installation config file ?

[2022-03-04 13:58] sojan-official commented on #4091
@vishnu-narayanan  could you take a look ?

[2022-03-04 13:59] sojan-official commented on #4098
@PyB1l  At the moment there isn't.

[2022-03-04 14:04] sojan-official commented on #4107
ref: #1098

[2022-03-04 14:09] sojan-official commented on #4109
@lan894734188  the document is slightly outdated. please use

[code]

[2022-03-04 14:13] #1973 closed

[2022-03-04 15:19] rodenp opened #4111 "Browser Language filter does not work"
**Describe the bug**

I created a custom attribute that represents the language of the browser.
If however I filter messages based on ‘Browser Language’ then I get no matches.

**To Reproduce**

Steps to reproduce the behavior:

Create custom attribute called locale.
This should be the equivalent of the filter field ‘Browser Language’
1. On the site that hosts the chat widget, create a script and

[2022-03-04 16:21] azyzio opened #4113 "Bug: Calling /dashboard/audios/ding.mp3 from widget's page"
**Describe the bug**

It seems that PR #3956 introduced a bug.

After every message from the operators, the widget plays a ding sound from /dashboard/audios/ding.mp3. The script is attempting to access this path based on caller url now. We can see lots of requests for this file directly on our server. And the sound doesn't play from the widget.

If the server has some anti-ddos security, the clien

[2022-03-04 18:07] giquieu commented on #3603
Hello,
I would like to implement this behavior.
@sojan-official  Can you assign it to me?

[2022-03-04 18:11] jcomo commented on #4113
This is happening for us as well. @pranavrajs could you please take a look?

It's causing a ton of bloat in our error logging. For now, we are going to redirect the path at the LB level

[2022-03-04 18:33] aribn opened #4114 "In live chat widget, messages are occasionally rendered outside of a closed Chatwoot widget"
**Describe the bug**

Most of the time, the Chatwoot bubble appears in the bottom corner of the website, as expected. On occasion, however, the messages from inside the conversation are visible at load time, even though the menu has not been opened. See screenshot. (My best guess is that there may be some race condition in how I'm initializing the widget.)

**To Reproduce**

Visit webpage with our

[2022-03-06 10:24] WevrLabs opened #4115 "bug: unable to send audio messages on Telegram"
Noticed that when sending any type of audio file (mp3, voice record, etc), it is not received by the user on Telegram, even that on Chatwoot it appears as if the message was sent successfully.

<img width="524" alt="Screen Shot 2022-03-06 at 12 23 07 PM" src="https://user-images.githubusercontent.com/66124192/156919070-d7e0ae56-e2dc-4a8f-988d-8f3c0eb6f9dc.png">

[2022-03-07 01:56] lan894734188 commented on #4109
Then it sad :(Object doesn't support #inspect)

[2022-03-07 06:55] pranavrajs commented on #3996
- How do you ensure that there is visibility on mute on contacts? Accidental blocks

[2022-03-07 09:40] tejaswinichile commented on #2744
MVP:

Add phone number as a custom attribute and show the checked custom attributes in widget pre-chat form, according to the enabled custom attribute.

[2022-03-07 09:44] tejaswinichile commented on #3192
MVP: We can add multiple checks while launching the campaign, right now we just check the time attributes and the URL.

[2022-03-07 11:05] green-globe opened #4117 "Unable to add Messenger Inbox Error: FB.login() called before FB.init() via HEROKU"
**Describe the bug**

After installing the latest self-hosted version 2.2.1 on HEROKU, adding Messenger Inbox does not move beyond the "Authenticating you with Facebook..." text.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Settings
2. Go to Inboxes
3. Add Inbox
4. Select Messenger
5. Click "Continue with Facebook" logo

**Expected behavior**

Be able to login via Facebook Platform

[2022-03-07 11:16] green-globe opened #4118 "feat: Support additional authentication mechanisms for SMTP apart from :login"
## Tasks

- [ ] Ability to select auth mechanism from a drop drown
At the moment the SMTP auth mechanism is hardcoded into chatwoot as :login
ref: https://github.com/chatwoot/chatwoot/blob/73d8073530a7dab8fa95b1deecb7fa3ad8028296/app/helpers/api/v1/inboxes_helper.rb#L33

support additional options : https://docs.ruby-lang.org/en/2.4.0/Net/SMTP.html#class-Net::SMTP-label-SMTP+Authentication

- [ ]

[2022-03-07 11:17] tejaswinichile opened #4119 "Integrate unsend instagram message event"
**Is your enhancement request related to a problem? Please describe.**
Instagram has un-send functionality on that event they trigger one webhook event to delete the message with message-id

**Describe the solution you'd like**
Integrate the un-send event in chatwoot to delete the message.

**Describe alternatives you've considered**
The delete message from Instagram will remain present in the cha

[2022-03-07 11:44] #3873 closed

[2022-03-07 11:48] voko3456 opened #4121 "Add Ability To Use Human Agent Tag by default. For Instagram Messages after 24 hr"
After 24h, businesses can no longer reply to the message. This can be problematic if your business is closed during the weekend and the message goes unnoticed. Luckily, with the Human Agent Tag you can continue messaging the contact within the next 7 days.

[2022-03-07 12:37] manuelmeurer opened #4122 "Widget requests "/dashboard/audios/ding.mp3""
**Describe the bug**

I started seeing these errors in our console recently:

* GET https://uplink.tech/dashboard/audios/ding.mp3 404
* Uncaught (in promise) DOMException: Unable to decode audio data

I'm pretty sure the bug was introduced here:
https://github.com/chatwoot/chatwoot/commit/a3cb26a317694b5d26ff5bc90cd970920422a847#diff-ebe43522c941faad9c0adad4ebb34b9878d0097057789340334323544a0fb056

[2022-03-08 04:04] pranavrajs opened #4124 "Add a confirmation note before deleting a note about a contact"
Right now, deleting a note on the contact does not have a confirmation popup. It leads to accidentally deleting the note which cannot be recovered.

**Todo:**

- [ ] Ask for confirmation before deleting the note.

[2022-03-08 07:13] sojan-official commented on #4122
@manuelmeurer Thanks for the report. We will track this over https://github.com/chatwoot/chatwoot/issues/4113

[2022-03-08 07:13] #4122 closed

[2022-03-08 07:13] sojan-official commented on #4113
Thanks for the reports. Confirming that the team is working on a fix for this

[2022-03-08 07:20] sojan-official commented on #4121
ref: https://github.com/chatwoot/chatwoot/issues/3082#issuecomment-940239211

[2022-03-08 07:57] sojan-official opened #4125 "chore: Add validations for Bandwidth sms channel"
Add validations for bandwidth sms channel

ref:

https://support.bandwidth.com/hc/en-us/articles/360014235473-What-MMS-message-size-limits-must-be-adhered-to-
https://dev.bandwidth.com/docs/messaging/errors/

[2022-03-08 08:55] clanto007 opened #4126 "Integration with autoresponder for Android"
**Describe the solution you'd like**
 there is an app for Android that is named autoresponder.ai and do autoresponses for whatsapp, telegram, viber, facebook messenger, instagram and signal. This app also have API to connect to a server and responde to these apps with a server, I think that can be very useful to integrate this in chatwoot so that we can have more channels quickly and whatsapp busi

[2022-03-08 09:17] voko3456 opened #4127 "Audio Recording Not Delivered to 360dialog user"
Audio Recording Not Delivered to 360dialog user

[2022-03-08 10:27] SebastianBitsch opened #4129 "Chatwoot Dialogflow integration - using region other than global"
**Describe the bug**

When trying to link my Dialogflow-agent to Chatwoot using the native integration (following the steps at: https://www.chatwoot.com/docs/product/channels/live-chat/integrations/dialogflow),
I find that i can connect to an agent which resides in the dialogflow region 'Global' without any issues whatsoever, but when i create an identical agent in another region (eu-w1 for instan

[2022-03-08 11:04] ChrisvanChip commented on #4129
Can confirm that this issue exists. Support for regions would be beneficial for GDPR compliance.

[2022-03-08 11:21] sagararyal opened #4130 "Emails are created multiple times when fetchIMAP email jobs returns an error"
<img width="1246" alt="Screen Shot 2022-03-08 at 12 13 33 PM" src="https://user-images.githubusercontent.com/5401575/157227683-2d11603d-b626-42cd-a9ac-580863d77f5d.png">

Every single time the cron runs, the same emails are fetched over and over again flooding the inbox.

I removed some dead jobs before taking the screenshots, but these pile up very soon.

Log from Papertrail
[code]

[2022-03-08 11:49] ChrisvanChip opened #4131 "bug: No new chat is made after resolving"
I have disabled "Allow messages after conversation resolved". Recently, it seems to just clean the chat history of the customer:

---

![image](https://user-images.githubusercontent.com/31969757/156879815-8ccf63bd-c3cc-4a38-98ea-0f65e891b4b7.png)
_The conversation history for the agent_

---

![image](https://user-images.githubusercontent.com/31969757/156879745-93139cbc-c59d-494f-865a-8486a756e10c

[2022-03-08 11:52] SebastianBitsch commented on #4129
@ChrisvanChip i agree, it is pretty problematic for metting gpdr compliance. Do you know of any good workaround?

[2022-03-08 13:39] pranavrajs commented on #4131
@ChrisvanChip Which version are you on? This should be fixed by https://github.com/chatwoot/chatwoot/pull/4102

[2022-03-08 13:57] kalamchi75 opened #4132 "New installation - Widget not appearing on website"
Hi Guys,

I am new to Chatwoot server. I have installed a self-hosted server following the official documentation.
The server is running in Azure VM with Ubuntu 20.04 , nginx and postgres.

The server is up and accessible.
I am trying to add the chat widget to our website with WordPress.

I have followed the instructions and created an inbox for Web Site. Copied the code to Wordpress snippets, and

[2022-03-08 14:24] vishnu-narayanan commented on #4132
Could you check your browser console and see if there are any error logs ?

[2022-03-08 14:36] kalamchi75 commented on #4132
Something like this :

![image](https://user-images.githubusercontent.com/21124227/157259395-124bfaf4-6c3c-4b6e-9973-9776eba266ef.png)

[2022-03-09 08:22] kalamchi75 commented on #4132
Hi Guys,

Any advice on this ?

Thanks

[2022-03-09 11:08] Startouf opened #4138 "feat: Support rollbar bug tracker"
**Is your enhancement request related to a problem? Please describe.**
Rollbar is a quite popular alternative to sentry https://rollbar.com/

**Describe the solution you'd like**
Add a setup option with Rollbar, so we can add our rollbar token, and items will popup as expected in the bug tracker

[2022-03-09 11:17] Startouf opened #4139 "permission denied to create extension "pg_stat_statements""
**Describe the bug**

Trying to setup a new chatwoot server, and running either db:chatwoot_prepare or db:schema:load

[code]

**To Reproduce**

My PG Setup
[code]
**Expected behavior**

A clear indication on what roles to give to chatwoot in the readme. Also, expecting chatwoot to get superadmin privilegies seems a bit excessive. Is there no other way to configure what you need ?

**Screenshots**

[2022-03-09 11:28] Startouf commented on #4139
How to fix :

[code]

Restart your DB server
login to psql and create the extension (not sure if it had to be done on the admin db or the chatwoot db or both)

[code]

This should be added somewhere in the doc

[2022-03-09 13:16] green-globe commented on #4117
RESOLVED: You need to add the IG and FB environment variables first before proceeding. This isn't clear in the documentation.

[2022-03-09 13:16] #4117 closed

[2022-03-09 16:16] drdaga commented on #3308
can u help i want to integrate chatwoot with botpress

[2022-03-09 16:31] jonas-hoebenreich opened #4140 "[CW-2875] Include email address when sending transcripts"
**Is your enhancement request related to a problem? Please describe.**
When sending a transcript to an email address, the email will only contain the name of the people involved, but not their email.
This makes the forwarding function useless, since the person receiving it can't do anything with it.
Example: Employee X is supposed to take care of the request from john@doe.com, so the transcript of

[2022-03-09 20:12] voko3456 opened #4141 "add ability to group report per hour"
add ability to group report per hour so we can see rush hours

[2022-03-10 03:21] pranavrajs commented on #4067
@Christilut This is an irreversible action, so having a check is important as it deletes the entire data. I guess your issue would be solved if you could select the multiple accounts and delete instead of deleting one user.

[2022-03-10 03:23] pranavrajs commented on #3995
Should be closed by #3951

[2022-03-10 03:23] #3995 closed

[2022-03-10 03:31] pranavrajs commented on #4084
@vinch Closing this as this is not reproducible in the latest releases. Let us know if you find any further issues on this.

[2022-03-10 03:31] #4084 closed

[2022-03-10 03:34] pranavrajs commented on #4089
@omercan This seems like a bug during the initial investigation. @iamsivin The frontend is removing `+` sign while sending the query. Can you please take a look?

[2022-03-10 03:36] pranavrajs commented on #4098
Duplicate https://github.com/chatwoot/chatwoot/issues/273

[2022-03-10 03:36] #4098 closed

[2022-03-10 03:37] pranavrajs commented on #4105
@darkpixel I'm not sure if I understand the issue properly. Are the uploads in the widget/dashboard working properly?

[2022-03-10 03:40] pranavrajs commented on #4111
@rodenp This might be confusion around contact and conversation attributes. In the screenshot, you have set the attribute on contact, and on the filter you are trying to filter a conversation. Let me know if this is the case.

[2022-03-10 03:47] pranavrajs commented on #4118
@green-globe Can you please share the server logs here? If you can share the logs behind the 500 server error, that would help in debugging the error.

[2022-03-10 03:55] pranavrajs commented on #4126
@clanto007 Can you please share the use case you are trying to solve? Are you trying to add more channels to Chatwoot?

[2022-03-10 03:56] pranavrajs commented on #4129
@SebastianBitsch Not sure, what is missing here. I will test it out and post the results.

[2022-03-10 03:57] pranavrajs commented on #4131
@ChrisvanChip Closing this as the issue is solved already, will reopen if it still persists after the next release.

[2022-03-10 03:57] #4131 closed

[2022-03-10 03:59] pranavrajs commented on #4132
@kalamchi75 None of these errors seems like they originate from the widget SDK. Can you please use the official plugin for Wordpress? https://www.chatwoot.com/docs/product/channels/live-chat/integrations/wordpress

[2022-03-10 04:43] iamsivin commented on #4089
Done 👍🏻

[2022-03-10 05:40] clanto007 commented on #4126
Sorry for my bad English and misunderstanding.
Yes adding more channels using this app.

[2022-03-10 05:45] #4089 closed

[2022-03-10 07:09] sojan-official commented on #241
ref: #2443

[2022-03-10 07:15] sojan-official commented on #4115
This behaviour has been reported for 360 Dialog integration as well.

[2022-03-10 07:22] drdaga opened #4146 "Needed to send interactive message via dialgflow to whatsapp"
**Is your enhancement request related to a problem? Please describe.**
I want dialgflow to send interactive message or atleast images,videos or pdf file via chatwoot via whatsapp

[2022-03-10 07:28] sojan-official commented on #4109
@lan894734188  could you try this ?
[code]

[2022-03-10 07:29] sojan-official commented on #4127
ref: #4115

[2022-03-10 07:34] sojan-official commented on #4139
@Startouf  Thanks for reporting this. We will take a look and have it added to the documentation.

[2022-03-10 07:47] sojan-official commented on #4130
notes:

[2022-03-10 07:56] sojan-official commented on #3916
@Christilut Chatwoot receives real-time data via WebSockets. When your browser tab is in an inactive state, chrome ends up disconnecting this connection and hence the notification.

We are looking into ways to resync the information in such cases.

[2022-03-10 08:07] sojan-official commented on #4114
@aribn This is an intended behaviour when a contact has unread messages in the widget. It is to alert the user that they have received new messages from the agent with out taking any extra actions.

[2022-03-10 08:37] sojan-official commented on #4073
@perry The line stickers are not supported at the moment. We will take it up in upcoming iterations.

[2022-03-10 09:08] #2522 closed

[2022-03-10 09:10] kalamchi75 commented on #4132
Hi @pranavrajs , I did actually se the official plugin. Since this is my first Chatwoot server installation, I followed the exact steps in the documentation.
Please see below the code insertion in Wordpress:

![image](https://user-images.githubusercontent.com/21124227/157628210-e75744b9-bb5e-42ea-88c6-96fac4df903c.png)

and the Plugin configuration in Wordpress:

![image](https://user-images.githu

[2022-03-10 09:22] Christilut commented on #4067
Yeah but that is what the confirm popup is for.
The name typing is just a popular anti pattern these days. A big red warning popup should already give pause to a user for a moment and obviously it should say with big letters "Are you sure you want to delete **contact x**?". But having to type it after that is just frustrating.

[2022-03-10 09:23] Christilut commented on #3916
Okay understood. It would be great if it automatically resynced when the connection is restored.
Now I very frequently refresh the chatwoot site because I'm not sure if what I'm looking at is accurate.

[2022-03-10 12:14] green-globe commented on #4118
![image](https://user-images.githubusercontent.com/88571410/157659588-52f4a3fb-d0d4-41e3-b40a-26d48a1ba3f9.png)
@pranavrajs

[2022-03-10 12:50] tejaswinichile opened #4147 "Add authentication for rails active-storage direct upload"
**Is your enhancement request related to a problem? Please describe.**
We have direct upload in place but the auth token check is not present in that particular controller.

**Describe the solution you'd like**
Extend the active-storage direct upload controller and auth token check.
Update the widget direct upload URL
Update the dashboard direct upload URL

**Describe alternatives you've considere

[2022-03-10 14:08] iamsivin opened #4148 "bug: Modal is hidden in iPad view."
**Describe the bug**

The modal (keyboard shortcut, Account selector, Add label) is not able to see properly in responsive view (iPad -view)

**Screenshots**

Keyboard shortcut modal

https://user-images.githubusercontent.com/64252451/157678347-395ff1fd-5c09-4312-b742-e764852e895d.mov

Account selector

https://user-images.githubusercontent.com/64252451/157686600-a45adf56-7fc4-4663-bfd0-03af7339f4

[2022-03-10 14:45] RakeshPotnuru opened #4150 "Inconsistency in button design"
**Describe the bug**

I noticed an inconsistency in button text across the application. Some are title cases, some are sentence cases. See the image below.

**To Reproduce**

Steps to reproduce the behaviour:
1. Go to the app [dashboard](https://app.chatwoot.com/app/accounts/68570/dashboard)
2. Check different buttons

**Expected behaviour**

Be consistence with one case

**Screenshots**

![issue

[2022-03-10 14:46] RakeshPotnuru commented on #4150
If the issue is valid, can I contribute?

[2022-03-10 14:48] pranavrajs opened #4151 "Email Channel Issues"
- [x] Duplicate emails are appearing in the conversation
- [x] If the inbox is in cc, the emails are not appearing in Chatwoot.

----

- [x] cc Emails in the input box are not taken into consideration.
- [x] Mails don't get deleted.

[2022-03-10 15:10] #4113 closed

[2022-03-10 16:02] sojan-official commented on #4067
@Christilut Makes sense. We will remove the requirement to type the names in these boxes.

cc: @iamsivin

[2022-03-10 16:05] Christilut commented on #4067
Awesome, thanks for listening! :)

[2022-03-10 16:19] RakeshPotnuru commented on #4150
@sojan-official
You want them to be title case or sentence case. Also, almost all the buttons are inconsistent, so can I change all the buttons?

[2022-03-10 17:27] darkpixel commented on #4105
There is a setting ```ASSET_CDN_HOST```.  It apparently doesn't have anything to do with ```ACTIVE_STORAGE``` (where things like MMS messages are stored) it just determines where to load static assets (like js and css files).

I don't see a way to "collect" the static files to put them on the CDN.

It seems sorta like the difference between ```STATIC_ROOT``` and ```MEDIA_ROOT``` in Django.  One is

[2022-03-10 18:00] Giszmo opened #4156 "Add received/read checkmarks"
**Is your enhancement request related to a problem? Please describe.**
Often when I reply clients on the spot (same minute) they do not reply back and one kept sending more messages clearly indicating he has not received my messages.

**Describe the solution you'd like**
Just like modern IMs, show checkmarks when server reports back, when client's browser reports back and when that window had focu

[2022-03-10 18:26] calebjacobson commented on #2983
our agents are also having the same problem. The default sound is too quiet, so they are missing many of the incoming messages and not responding as quickly as they should. Any ideas when alternate notifications/notification volume can be user specified?

[2022-03-10 19:43] iammattmartin commented on #4156
Similarly related to #2099 and nearly #1021

[2022-03-11 02:03] Giszmo commented on #4156
Yeah, it's a duplicate of #2099 which I had not found when I searched for existing issues. Frustrating to see it not getting addressed as I suspect bugs preventing clients to receive messages and without indicator I'm blind to this and feel stupid chatting with myself.

[2022-03-11 03:54] mohammedfarish commented on #4109
Super admin sucessfully created with this. But can't log in.

Here's what I see when I try to log in with the Superadmin credentials

![image](https://user-images.githubusercontent.com/62788088/157798887-8efd2c14-7c89-417f-94e0-f5cd19d4efa0.png)

[2022-03-11 04:14] sebypelaez commented on #3972
Why don't we keep it consistent with the private notes like below:
<img width="474" alt="Screen Shot 2022-03-11 at 12 13 14 PM" src="https://user-images.githubusercontent.com/87689902/157800828-7b7c7ee8-10af-44c6-88aa-a3899fcfa6b4.png">

[2022-03-11 10:49] sojan-official commented on #4109
@mohammedfarish  please try Logging in to  `yoururl/superadmin`
- create an account from the accounts tab
- add your super admin as an account user to that account.
- now access the dashboard

[2022-03-11 11:11] vinch commented on #4084
@pranavrajs Sure, thanks! It's fixed after upgrading to v2.

[2022-03-11 11:16] sojan-official commented on #4156
@Giszmo  we have it in our pipeline to add these receipts. Let's keep tracking this over #1021

[2022-03-11 11:16] #4156 closed

[2022-03-11 11:28] aswindevps commented on #4118
@green-globe Currently we support only `LOGIN` as the authentication mechanism. Could you please share the authentication mechanism used by the mail server?

[2022-03-11 11:30] #4067 closed

[2022-03-11 11:41] sojan-official commented on #4105
@darkpixel  please refer: https://guides.rubyonrails.org/asset_pipeline.html#cdns
the ASSET_CDN_HOST configuration is for having the static asset like js and  CSS be served from a CDN without the need of invoking the application server.  the CDN server will fetch the assets from the application server on the first request and from there on it will use the cached version.

----

Now for the attachm

[2022-03-11 11:46] sojan-official commented on #4150
let's go with sentence cases. @RakeshPotnuru

[2022-03-11 11:59] sojan-official opened #4157 "feat: Automatically sync conversations on disconnect with out needing to refresh"
Okay understood. It would be great if it automatically resynced when the connection is restored.
Now I very frequently refresh the chatwoot site because I'm not sure if what I'm looking at is accurate.

_Originally posted by @Christilut in https://github.com/chatwoot/chatwoot/issues/3916#issuecomment-1063840558_

[2022-03-11 12:30] nvlu89 opened #4158 "Returning chats assigned to offline agents"
**Describe the bug**

Clients on returning chats gets assigned back to the last agent they have chatted with regardless if the agent is logged in to the app or not.

**Expected behavior**

Returning chats should be assigned to only agents with an Online status who are logged into the app.

**Environment**

Self hosted installation of Chatwoot
Linux VM

**Desktop (please complete the following info

[2022-03-11 13:42] kalamchi75 commented on #4132
Hi Guys,

Advice please ?

Best Regards

[2022-03-11 13:55] iamsivin opened #4159 "bug: Could not able to create label"
**Describe the bug**

If we are creating a label with the same name that already has It is showing a snack bar message `There was an error, please try again` and The API call is falling. The snack bar message showing is not good in this case.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to label dashboard
2. Click on Add label and add a name that already exists in the label.
3. And op

[2022-03-11 14:50] Giszmo commented on #4156
#1021 mentions only "Facebook/Twitter/Whatsapp/SMS". I hope #2099 is "in the pipeline", too.

[2022-03-11 21:38] drexlma opened #4163 "Prefilled Name and Mail"
Related to this: https://github.com/chatwoot/chatwoot/issues/1131

i will prefilled this fields

like:

g.onload=function(){
			  window.chatwootSDK.run({
				websiteToken: 'xx',
				baseUrl: BASE_URL,
				  fullName: 'xxx',
				  email: 'xxx'
			  })
			}

[2022-03-11 23:42] voko3456 opened #4164 "Add ability to delete user from super admin"
Right now we cannot delete the users from super admin

[2022-03-11 23:48] voko3456 opened #4165 "Make responsive UI for mobli browser"
Right now I can't answer on message and use chatwoot via mobile browser I hope you can make responsive UI for mobile browser
![Screenshot_20220312-024610_Chrome](https://user-images.githubusercontent.com/20530550/157991878-344f165c-a5e8-48f9-ace2-00ef48e7cb1f.jpg)

[2022-03-12 10:52] yairShiloach opened #4166 "email channel not working with mailgun (param is missing or the value is empty: body-mime)"
Hi, we've set up to receive emails using mailgun - everything seems to be set up correctly,
mailgun sends the message to the app via the link:
https://my.app/rails/action_mailbox/mailgun/inbound_emails/mime

And log has an error:
Mar 12 12:40:29 [78632e0e-3df1-4a33-a5fb-ea4e3383c008] ActionController::ParameterMissing (param is missing or the value is empty: body-mime
Mar 12 12:40:29 Did you mean?

[2022-03-12 15:25] mohammedfarish commented on #4109
Please find the attachment below to see what I'm seeing.

![image](https://user-images.githubusercontent.com/62788088/158023842-af944e21-aa19-4ace-a95f-02d3b8455385.png)

[2022-03-13 09:26] sojan-official commented on #4109
it's `super_admin`. my bad.

[2022-03-13 09:30] sojan-official commented on #4163
@drexlma  have you looked at the `set_user` option available in the  SDK
ref: https://www.chatwoot.com/docs/product/channels/live-chat/sdk/setup#set-the-user-in-the-widget

[2022-03-13 09:32] sojan-official commented on #4165
ref: https://github.com/chatwoot/chatwoot/issues/2617

[2022-03-13 09:32] #4165 closed

[2022-03-13 21:13] drexlma commented on #4163
i see the data in the backend but the user ned to insert infos
<img width="359" alt="Bildschirmfoto 2022-03-13 um 22 13 03" src="https://user-images.githubusercontent.com/7121202/158079497-3976847d-8136-431e-b49f-892e5c4457ef.png">

[2022-03-14 03:35] sanjayws opened #4167 "Badge counter next to each inbox"
**Is your enhancement request related to a problem? Please describe.**
It's an enhancement.

**Describe the solution you'd like**
For each inbox, perhaps we can have an unread counter like how we see in emails and other platforms. See example of Gmail below.

<img width="245" alt="image" src="https://user-images.githubusercontent.com/25242465/158100429-62ad9173-8f29-4d88-90e6-82a208ad732c.png">

*

[2022-03-14 07:02] tejaswinichile opened #4168 "[CW-2876] Move Current class under ActiveSupport CurrentAttributes"
Change the implementation of `module Current` according to the ActiveSupport::CurrentAttributes abstract class.
Refer: https://api.rubyonrails.org/classes/ActiveSupport/CurrentAttributes.html

<sub>[CW-2876](https://linear.app/chatwoot/issue/CW-2876/move-current-class-under-activesupport-currentattributes)</sub>

[2022-03-14 07:19] sojan-official opened #4169 "chore: Explore IMAP IDLE"
Instead of polling, let's see if we can come up with a feasible solution using IMAP idle.

ref: https://discord.com/channels/647412545203994635/654017096812068864/952115482222276638

[2022-03-14 07:29] sojan-official commented on #4163
@drexlma  this should be a bug. for identified users the form shouldn't request the email and name again.  We will take a look.
cc: @nithindavid

[2022-03-14 07:36] sojan-official commented on #4158
@nvlu89  at the moment that agent auto-assign works only if the current conversation doesn't have an assigned agent.
We can look into this as a future enhancement

[2022-03-14 07:37] sojan-official commented on #4132
@kalamchi75 could you share the URL where you are loading the widget on `hello@chatwoot.com` so that our team can take a look?

[2022-03-14 07:40] sojan-official commented on #2420
@caseyprovost  ref: https://ogirginc.github.io/en/heroku-redis-ssl-error

[2022-03-14 08:35] kalamchi75 commented on #4132
Hi @sojan-official

you mean the target webage ? or the URL the Chatwoot server from which the widget is loaded ?

Thanks

[2022-03-14 08:36] sojan-official commented on #4132
@kalamchi75 the target webpage where you have the script added.

[2022-03-14 08:39] kalamchi75 commented on #4132
[talia](https://taliacom.wpengine.com/)

The question is, would it work if the chatwoot server and the target webpage are on TWO DIFFERENT domains ?
and, are there and specific ports need to be opened between the two servers other that HTTP, HTTPS, and TCP 3000 ?

Thanks

[2022-03-14 09:18] pranavrajs commented on #4132
@kalamchi75 Thanks for sharing the URL. This is not working because your Chatwoot installation is on HTTP and your website is on HTTPS. Please use SSL with Chatwoot installation, then it would start working.

<img width="545" alt="Screenshot 2022-03-14 at 2 47 41 PM" src="https://user-images.githubusercontent.com/2246121/158141891-ae272bc4-8d00-4fc0-9bf6-ca9281474550.png">

You are trying to load

[2022-03-14 09:18] #4132 closed

[2022-03-14 10:17] cortopy commented on #1600
I'm currently using [Zammad](https://zammad.org/) and considering chatwoot. Showing online availability is very important to us, and it feels to me like the way Zammad handles online statuses for agents is flawless.

If a conversation is assigned to an agent, and the agent doesn't reply within X number of minutes, the agent status is changed to offline automatically. This solves many issues with h

[2022-03-14 11:18] kalamchi75 commented on #4132
Hi @pranavrajs

Thank you very much for the explanation. I will work on that.
Where did you see those errors and how please ? That would be handy for future installation/testing.

Best Regards

[2022-03-14 12:08] sojan-official commented on #4157
closing in favor of https://github.com/chatwoot/chatwoot/issues/995

[2022-03-14 12:09] #4157 closed

[2022-03-14 12:14] sojan-official commented on #1270
a possible candidate for #3195

[2022-03-14 12:30] sojan-official commented on #4132
@kalamchi75 it is available in your browser console
<img width="1851" alt="Screenshot 2022-03-14 at 5 58 45 PM" src="https://user-images.githubusercontent.com/73185/158172299-dcff8df6-3e9e-4d71-9413-ad28f31b28d2.png">

[2022-03-14 12:36] sojan-official opened #4170 "feat: Auto update agent availability based on whether agent is replying"
I'm currently using [Zammad](https://zammad.com/en) and considering chatwoot. Showing online availability is very important to us, and it feels to me like the way Zammad handles online statuses for agents is flawless.

If a conversation is assigned to an agent, and the agent doesn't reply within X number of minutes, the agent status is changed to offline automatically. This solves many issues with

[2022-03-14 12:37] sojan-official commented on #1600
@cortopy  Thanks for the note I have logged #4170  for better visibility.
closing this issue in favour of #4170

[2022-03-14 12:37] #1600 closed

[2022-03-14 12:44] #4148 closed

[2022-03-14 12:45] #4040 closed

[2022-03-14 13:41] sentry opened #4171 "NoMethodError: undefined method `id' for nil:NilClass"
Sentry Issue: [CHATWOOT-1TA](https://sentry.io/organizations/thoughtwoot-04/issues/3041066710/?referrer=github_integration)

[code]

[2022-03-14 13:47] sojan-official commented on #3886
closing in favor of https://github.com/chatwoot/chatwoot/issues/3701

[2022-03-14 13:47] #3886 closed

[2022-03-14 13:51] kalamchi75 commented on #4132
Thank you so much Guys. Moving to HTTPS solved the issue.

![image](https://user-images.githubusercontent.com/21124227/158185886-59dcf186-5fa3-4a9d-916b-6bc07108d2bf.png)

[2022-03-14 13:59] sentry-io[bot] opened #4174 "fix: Errno::ECONNREFUSED: Connection refused mailbox errors"
Sentry Issue: [CHATWOOT-1PN](https://sentry.io/organizations/thoughtwoot-04/issues/2933544958/?referrer=github_integration)

[code]

[2022-03-14 14:10] voko3456 opened #4175 "add ability to secure messages : allow agent to see his assigned messages only and not see all messages"
add ability to secure messages : allow agent to see his assigned messages only and not see all messages

[2022-03-14 14:54] #3938 closed

[2022-03-14 15:20] #1445 closed

[2022-03-14 15:31] #1901 closed

[2022-03-14 15:37] pranavrajs commented on #1976
@Jivings This cookie is required for identify the user when they returns and is essential for the conversation continuity. Closing this as the change is not something we can implement in a short term.

[2022-03-14 15:37] #1976 closed

[2022-03-14 15:39] pranavrajs commented on #2180
@jwld Sorry to missing this issue. Is it possible to explain the use-case here? Do you need to render anything on top of Chatwoot?

[2022-03-14 15:40] pranavrajs commented on #2431
@muhsin-k Is this still an issue? Can we close this issue?

[2022-03-14 15:42] pranavrajs commented on #2458
@sojan-official Wouldn't this work if we set the business hours to 24 hours?

[2022-03-14 15:42] #2458 closed

[2022-03-14 15:43] pranavrajs commented on #2663
Closing this as the issue is not related to Chatwoot but the config in the reverse proxy.

[2022-03-14 15:43] #2663 closed

[2022-03-14 15:47] #2777 closed

[2022-03-14 15:50] pranavrajs commented on #2853
Duplicate https://github.com/chatwoot/chatwoot/issues/2441

[2022-03-14 15:50] #2853 closed

[2022-03-14 15:58] pranavrajs commented on #3484
Closing this as 24 * 7 option is now configurable via UI. Ref: https://github.com/chatwoot/chatwoot/pull/4018

[2022-03-14 15:58] #3484 closed

[2022-03-14 15:59] pranavrajs commented on #3485
@brentco Is this still an issue? Please feel free to reopen if you still face the issue.

[2022-03-14 15:59] #3485 closed

[2022-03-14 16:06] iammattmartin commented on #2431
Yes and no.

I think the visitor still needs to really see the campaign message in context so based on what there is now:

- Customer sees campaign message
- Clicks
- Sees box for name/email
- Then sees original campaign message <<
- Sends message

Right now, the conversation is created at << but probably should only happen after their first message. If you were to capture the message the same tim

[2022-03-14 18:13] sojan-official commented on #4175
closing in favour of https://github.com/chatwoot/chatwoot/issues/2443
ie limit permission of agent to view assigned conversation only

[2022-03-14 18:13] #4175 closed

[2022-03-14 18:15] sojan-official commented on #3712
closing in favor of #241

[2022-03-14 18:17] #3712 closed

[2022-03-14 18:33] muhsin-k opened #4177 "bug: Start conversation is not working in pre-chat form"
**To Reproduce**

Steps to reproduce the behaviour:
1. Enable pre-chat form and CSAT
2. Go to Widget and create conversation
3. Resolve conversation from dashboard
4. Go to widget and click on "Start new conversation"
5. Type message and submit the button

https://user-images.githubusercontent.com/12408980/158233670-1d36a080-168d-44df-b945-3f9012478d8e.mov

[2022-03-14 19:16] vishnu-narayanan commented on #1953
Confirmed the error is still present on FF Android.  FF Nightly for Android does not seem to be affected.

cc: @pranavrajs @tejaswinichile

ref: https://discord.com/channels/897869226579222540/897872477059956839/952952648737382430

[2022-03-15 05:25] Jivings commented on #1976
@pranavrajs Why do you need conversation continuity if the user has never interacted with the chat widget?

[2022-03-15 09:00] #4171 closed, assigned to nobody

[2022-03-15 09:36] pranavrajs opened #4179 "Support conditions based on contacts in conversation/message events."
As a agent, I’m not able to create a workflow based on the contact. For eg: If the contact is from a company, or has a domain eg: google.com, then assign every conversation to a particular team. This requires contact filters/conditions to be added on the conversation/message event.

[2022-03-15 09:47] pranavrajs opened #4180 "Inspect the conversation-update event, include changed parameter in the payload"
The current webhook event does not contain the information about which attribute has changed. It would be helpful to send the present and previous values of the changed params in the payload. This would help to build custom workflow on top of param changes.

[2022-03-15 09:49] pranavrajs opened #4181 "Add rules based on the attribute update"
As an agent, I’m not able to add rules based on an attribute change of a contact or conversation.

For eg: If the conversation Priority (a custom attribute) is changed from P1 to P2, assign it to the P2 Issues team.

Missing event, attribute changed - conversation.updated would work here if the payload has which attribute changed.

[2022-03-15 12:11] sojan-official opened #4183 "fix: File names of attachments"
<img width="379" alt="Screenshot 2022-03-15 at 5 38 24 PM" src="https://user-images.githubusercontent.com/73185/158374794-3786debe-abcd-4190-931d-29cee31801b4.png">

at the moment chatwoot renders a vague file name for attachments from SMS, WhatsApp channel etc.  This is because of the following line.

https://github.com/chatwoot/chatwoot/blob/f405572e5c9fcac4d609517730c2896945aeed07/app/services/

[2022-03-15 12:12] #3701 closed

[2022-03-15 16:37] #2828 closed

[2022-03-15 19:23] ChrisvanChip commented on #3622
My team (and myself) is getting pretty frustrated by this bug. Is there an easy temporary fix while we are waiting on a patch?

[2022-03-15 21:02] jordan-brough opened #4187 "bug: Prevent duplicate account_sid+phone_number for Channel::TwilioSms"
Currently the app permits multiple `Channel::TwilioSms` records with duplicated `account_sid`+`phone_number` values.

However, `Twilio::IncomingMessageService` searches for the correct `Channel::TwilioSms` by `account_sid`+`phone_number`:
https://github.com/chatwoot/chatwoot/blob/796a7805dbc67ff7e0b27e95c6c2bc320b32a856/app/services/twilio/incoming_message_service.rb#L23-L26

If these values are d

[2022-03-16 09:37] muhsin-k opened #4192 "feat: Action cable events for notification creation"
- [ ] Define Action cable events for notification creation
- [ ] Emit events to action cable of the subscribers of these events

[2022-03-16 10:34] kalamchi75 opened #4193 "Verification e-mails for agents not being received"
Hi Guys

**Describe the bug**

Self-hosted server. I have noticed that none of the agent verification emails are being received (I also checked junk e-mails) regardless of the fact that the server confirms "an e-mail has  been sent"
I have created and configured an e-mail inbox, enabled SMTP and IMAP, and tested the channel. It works fine and I can receive e-mails and reply. So the connection betw

[2022-03-16 10:40] rodenp commented on #4111
Thank you @pranavrajs
That makes sense.
But how then do i create a conversation custom attribute that is the equivalent of 'Browser Language'?
Is that possible?

[2022-03-16 16:23] matteomelotti commented on #729
@sojan-official @pranavrajs Hi! Can I take this as my first issue? What are your need? Static 404 or customizable from admin area?

[2022-03-16 17:16] matteomelotti opened #4196 "Create InstallationConfig migration breaks"
**Describe the bug**

Migration '20200510112339_create_installation_config' crashed when launch rails migrations.
Bug introduced with commit 18d3c40fb3a6a2ebec62c4e8fa44f3eb50f6c982.
1. The before_validation: set_lock method inside InstallationConfig model. breaks the migration.
2. If fixed the point before, there are this error can't dump `serialized_value`: was supposed to be a ActiveSupport::Ha

[2022-03-16 17:52] sojan-official commented on #4196
@matteomelotti this is a very old migration so not much value add in fixing that( as the underlying code has changed ). We don't recommend newer installations to run all the migrations from scratch, instead, use ` rake db:chatwoot_prepare`. which is equivalent to the following

[code]

---

we could also consider squashing all the migrations before the last 6 months using gem https://github.com/ja

[2022-03-16 17:55] silvaartur opened #4197 "fet: option to disable delete message function"
For companies compliance and audit is very important. Because of this is important exist a option to disable "delete" button on messages.

Put a variable inside .env or installation_config to disable this option (delete message).

[2022-03-16 18:08] matteomelotti commented on #4196
@sojan-official thank you! Nice gem!
I tried locally before 2021-09 but it gaves me the same two errors from ConfigLoader and InstallationConfig

[2022-03-17 01:32] ammaraslam opened #4198 "Option to create create categories for transcript in setting for context & email organization"
**Is your feature request related to a problem? Please describe.**
So whenever a transcript is being sent to some email, it's just agent's and users messages but we want to know what that chat is all about without going through complete transcript, it would save my team a lot of time considering the volume of chat.

**Describe the solution you'd like**
Ability to select categories for each inbox a

[2022-03-17 01:43] ammaraslam opened #4199 "Ability to get active/Inactive for agents"
**Is your feature request related to a problem? Please describe.**
Currently chats are assigned to everyone added in the inbox - but if someone is logged in, suppose for any other tasks, chats should not be assigned to him until he selects active for chats.

**Describe the solution you'd like**
A small button of "Active for chat" once clicked, chats will strat being assigned to that user till he c

[2022-03-17 01:53] ammaraslam opened #4200 "Agents shouldn't be able to see all contacts if only added in 1 inbox"
**Is your enhancement request related to a problem? Please describe.**
Currently if I make account for agent, that agent would be able to see contacts of everyone even though he's only added to 1 inbox, this behavior enables sensitive data of users in open to be misused.

**Describe the solution you'd like**
It should be like conversation tab, where agents can only see chats of the inbox in which

[2022-03-17 02:01] darkpixel commented on #4105
Doing a bit more digging through the docs, it looks like my configuration is unsupported.

I'm using DigitalOcean Spaces for my CDN.

It expects you to 'push' (upload) the files to the CDN unlike the CloudFront example which appears to grab the assets on the first request.

No worries.  Thanks for the info.

[2022-03-17 02:01] #4105 closed

[2022-03-17 05:22] ArijitWeird opened #4201 "Allow Whatsapp channel to run one-off campaign"
Currently Whatsapp channel are not supported in one-off campaign. This feature can increase usecases of chatwoot to another level.

[2022-03-17 10:09] pranavrajs commented on #4111
@rodenp I'm not sure what you meant by "equivalent of 'Browser Language'". You can create a custom attribute as shown here. https://www.chatwoot.com/docs/user-guide/features/custom-attributes#add-a-new-custom-attribute

[2022-03-17 11:28] kalamchi75 commented on #4193
Any Advice ?

[2022-03-17 11:37] pranavrajs commented on #4193
@kalamchi75 Can you please share any logs from the server (worker logs) to help us debug the issue?

Also, have you set the FRONTEND_URL in the environment variables?

[2022-03-17 11:38] sojan-official commented on #4193
@kalamchi75 you could access  `chatwootinstalaltion/super_admin` -> navigate to sidekiq/dead and see if there are any errors reported over there?

[2022-03-17 12:13] kalamchi75 commented on #4193
Hi @pranavrajs

Where can Find them please ?

    # Replace with the URL you are planning to use for your app
    FRONTEND_URL=https://chatwoot.talia.net

[2022-03-17 12:25] giquieu commented on #4115
@sojan-official I can investigate this case.

[2022-03-17 12:25] tejaswinichile commented on #4193
This shows that connection can not be established for the mailer in particular:

https://github.com/chatwoot/chatwoot/issues/4193#issuecomment-1070846655

Can you check if your mailer setup is done correctly?
Seems like mail notification jobs and conversation reply mailer is also not working means that the mailer setup is now working.

Can you verify if you are able to receive any notification ema

[2022-03-17 12:38] sojan-official commented on #4115
@giquieu  thanks a lot.

[2022-03-17 12:41] kalamchi75 commented on #4193
Hi @tejaswinichile

In fact yes, the Mail inbox (channel) is receiving emails and I can also reply. If that what you mean.
It's just the Agent  verification mails are not going anywhere.

Thanks

[2022-03-17 12:53] tejaswinichile commented on #4179
Add conditions based:

contacts:
1. email [equal_to, not_equal_to, contains, does_not_contain]
2. name  [equal_to, not_equal_to, contains, does_not_contain]
3. custom_attributes :
                   - priority_customer
                   - is_priority_customer

@pranavrajs company_name would also be the additional_attributes/custom_attributes correct?

[2022-03-17 13:00] pranavrajs commented on #4179
@tejaswinichile At the moment, it is in additional_attributes.

[2022-03-17 13:10] sojan-official commented on #729
@matteomelotti  We are looking at adding a static 404 page with Chatwoot Branding.  replacing the default rails 404 page.
But i believe we would need the design part to be completed before this issue can be picked up.

[2022-03-17 13:20] jordan-brough opened #4204 "feat: Twilio: Support receiving and sending with multiple phone numbers in Sender Pool"
We have multiple phone numbers in our Twilio sender pool:
![image](https://user-images.githubusercontent.com/23050/158816472-887cbd86-44ea-4e3a-8fed-0d62ca3b94a5.png)

This means a single `Channel::TwilioSms` needs to:

1. When receiving a message, look up the `Channel::TwilioSms` by the `:MessagingServiceSid` instead of `:To`: https://github.com/chatwoot/chatwoot/blob/796a7805dbc67ff7e0b27e95c6c2

[2022-03-17 13:26] pranavrajs commented on #4204
@jordan-brough I think it would benefit the larger community who are using sender pools. Would you be able to raise a PR? We are happy to take it to the product.

[2022-03-17 13:26] #4192 closed

[2022-03-17 13:29] jordan-brough commented on #4204
Yup, I'll get something working in our own deployment and then circle back here to discuss with what I think might work and then make a PR.

[2022-03-17 14:32] Startouf commented on #2207
I am running my mail server on an instance of mine and I need to use self signed certificate.

On regular rails applications, it's enough to add

[code]

And to add the mailer certificate in there, but it seems like adding this to config/environments/production.rb isn't enough :/

[2022-03-17 15:51] kalamchi75 commented on #4193
Please see below successful email chat:
From server side:

![image](https://user-images.githubusercontent.com/21124227/158839358-36726c77-a9e4-4216-ac82-fac711fed5f6.png)

and from my outlook (as a customer) :

![image](https://user-images.githubusercontent.com/21124227/158839607-2f89d4d5-d742-4142-9210-438c59e40dcf.png)

So basically the connection/authentication into the mail server on SMTP and

[2022-03-17 16:51] sojan-official commented on #4193
@kalamchi75 Did you restart the chatwoot service after updating the environment variables?

[2022-03-18 01:46] aribn commented on #4114
@sojan-official That makes sense, but this is happening at other times, too. (Note that the screenshot shows all past messages, not only new ones.)

[2022-03-18 03:29] pranavrajs opened #4209 "Captcha gets invalidated after submission"
- Password validation is not correct
- If Password doesn't have special characters, submission would not work.
- Captcha would expire after submission. Chatwoot don't refresh the captcha
- Subsequent submission would fail as the captcha is not valid.
- Chatwoot doesn't show the valid error if captcha is invalid.

[2022-03-18 03:40] Deddy-SMSP opened #4210 "Add custom attributes to conversation (not contact) through SDK"
**Is your feature request related to a problem? Please describe.**
I want to save utm data etc to the conversation not the contact - because it can change per conversation

**Describe the solution you'd like**
Just like adding custom attribute to contact using SDK -> window.$chatwoot.setCustomAttributes(newUtm);
I want something like -> window.$chatwoot.conversation.setCustomAttributes(newUtm);

*

[2022-03-18 06:02] pranavrajs opened #4211 "Download CSAT reports"
Problem: Right now, CSAT is only available on the dashboard, cannot be downloaded. It would be good to provide an option for download.

cc: @aswindevps @sojan-official We need further discussion on this to spec it out.

[2022-03-18 09:59] rodenp commented on #4111
Hi @pranavrajs
Basically i wanted to be able to create a conversation custom attribute that relates to the customers browser language.
I can see that you can do this through the web interface.
But there does not seem to be an equivalent to do this through the SDK.
The SDK only seems to create customer level custom attributes.
So is there a way of doing something similar to this, except for the con

[2022-03-18 10:18] sagararyal opened #4213 "Support Contact Search for Transcript Delivery"
**Is your enhancement request related to a problem? Please describe.**
Usually transcripts are sent to users who are part of the team, or existing customers.

Adding customer search would speed the process when the transcript is sent to a different address.

 <img width="606" alt="Screen Shot 2022-03-18 at 11 16 36 AM" src="https://user-images.githubusercontent.com/5401575/158984970-3d5e44fc-342c-

[2022-03-18 10:22] kalamchi75 commented on #4193
As of today, even the E-mail channel that was working before (as seen in my previous comment) stopped working, with IMAP error connection closed.
Trying to recreate the channel fails, and the server is unable to update/save IMAP and SMTP settings.

![image](https://user-images.githubusercontent.com/21124227/158985240-d28f7517-5ede-4dd1-b533-88310cee9c61.png)

I have verified the connection between

[2022-03-18 11:05] silvaartur opened #4214 "bug: when a conversation exists - create a new one for same inbox generate a new conversation"
1. Currently into a conversation
2. Another user or the same user initiate a new conversation same inbox
3. Two conversation active for the same client and inbox
4. Only the first receive responses from the client

Expected behavior: not create a new conversation if exists for this client/inbox

[2022-03-18 11:34] sojan-official commented on #4111
@rodenp  At the moment there isn't a way in the SDK to set conversation level custom events. only custom events on contacts are supported. Its something which we are working on for future releases.

[2022-03-18 11:41] rodenp commented on #4111
@sojan-official Thank you for the heads up. Do you have any idea of when this is likely to be implemented?

[2022-03-18 12:48] silvaartur opened #4215 "bug: update to 2.3.1 doen't enabled "record" button"
As expect and the behavior on new installation the record button doesn't show on conversation.

[2022-03-18 12:48] sojan-official commented on #4111
@rodenp  We don't have an ETA for it yet. let's take this forward over https://github.com/chatwoot/chatwoot/issues/4210

[2022-03-18 12:56] pranavrajs commented on #4215
@silvaartur Can you please share additional information here? Which inbox are you looking at? Can you please share a screencast?

[2022-03-18 12:57] pranavrajs commented on #4214
@silvaartur The issue is not clear, can you please share the details as per the issue template or a screencast which would help to understand the problem you are facing?

[2022-03-18 13:02] silvaartur commented on #4215
Looking at API inbox. Into a new install I see this options (v2.3.0 not update to 2.3.1):

![Captura de Tela 2022-03-18 às 09 57 21](https://user-images.githubusercontent.com/12688324/159006894-178d1091-b37d-47ed-8bf1-6253b449f48d.png)

![Captura de Tela 2022-03-18 às 10 01 31](https://user-images.githubusercontent.com/12688324/159007459-d4b25552-fc15-4d26-a33b-565eac9d7723.png)

From a old one

[2022-03-18 14:06] sojan-official opened #4216 "feat: Custom Roles and Permissions"
At the moment chatwoot comes with predefined roles of `agents` and `administrators` which could be rigid for advanced use cases.

# Changes Proposed
- Ability to define custom roles like `manager`, `participants` etc
- Ability to assign specific abilities to the account users based on the permissions available for the defined roles.

# Permissions
Ability to associate granular permissions for the

[2022-03-18 14:07] #3679 closed

[2022-03-18 14:08] sojan-official commented on #4216
ref: #2443

[2022-03-18 14:09] sojan-official commented on #4197
This will be covered under https://github.com/chatwoot/chatwoot/issues/4216

[2022-03-18 14:26] sojan-official commented on #4196
@matteomelotti  you might have to comment out some of the data migrations to run squasher.  We will take care of this issue, since it has to be worked by someone who would have context about all the migrations.

[2022-03-18 14:38] sojan-official commented on #4201
@ArijitWeird Thanks for the suggestion

- Whatsapp doesn't support outbound messages to existing contacts after 24 hours apart from the approved template.
- The API also states that you need to explicitly get permissions from contacts if you are initiating a conversation without them sending you the first message.

So we are still looking into the ways of how we can implement this.

[2022-03-18 14:43] sojan-official commented on #4198
@ammaraslam  could you give more information about how you are using the transcript functionality?  are you using it for escalation or working over the transcripts in an external system?

Also would the ability to attach a summary note to the transcripts solve the issue?

[2022-03-18 14:46] sojan-official commented on #4199
- When the automatic assignment is enabled, chatwoot would always give priority to the online agents in the system.
- one can mark themselves as busy or offline if they don't want the chats to be assigned to them.
<img width="256" alt="Screenshot 2022-03-18 at 8 15 17 PM" src="https://user-images.githubusercontent.com/73185/159024756-1cef9639-fc8f-446d-81ad-d7f1ed3b0752.png">

note: if none of the

[2022-03-18 14:51] sojan-official commented on #4200
at the moment chatwoot is designed as a collaborative inbox so that contact objects are shared across inboxes.
for example.

- Mr john doe could have the email `john@xyc.com` and a phone number `+9999999`,
- based on chatwoot's design he could be contacted via an email inbox as well as an SMS inbox.

In this case, the system will have only one contact `john doe` tracking conversations across both

[2022-03-18 14:56] sojan-official commented on #4215
@silvaartur  if you are running a Linux installation. please try recompiling the assets.
ref: https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm#if-precompile-fails

also, ensure that you have run yarn while updating to the newer version

[2022-03-18 15:55] sojan-official commented on #4114
@arib that sounds like a bug. let us take a look.

[2022-03-18 15:55] sojan-official commented on #4210
@Deddy-SMSP  thanks for reporting. we will look into this.

[2022-03-18 16:05] sojan-official commented on #4213
@sagararyal you would be looking for a user search here right?  Is there a use case where  you have to send the transcript to another customer ?

[2022-03-18 16:14] mredbishop opened #4218 "Emails are sent using the signin email not the one set on the inbox."
**Describe the bug**

When creating a new inbox for an SMTP account with an email alias e.g. **support@somecompany.com** where the sign in email is different e.g. **sign-in@somecompany.com** the email sender uses the sign in email not the one specified when creating the inbox.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a new SMTP inbox.
2. Specify an email alias of the email add

[2022-03-18 17:56] Startouf commented on #1488
In the meantime, you could patch the source code there in your app : https://github.com/chatwoot/chatwoot/blob/534acfbf96778610b82146cb653b78fdc2a22d5b/app/controllers/api/v1/accounts/integrations/slack_controller.rb#L35

[2022-03-18 18:27] #4199 closed

[2022-03-18 18:31] ammaraslam commented on #4198
@sojan-official every chats transcript is sent to our internal team, what I'm tryna achieve to quick organization of emails and ability to know the issue of visitors without reading the full transcript -- suppose visitor is coming for the pricing issue, and there's category in which pricing issue is selected, my team will instantly send that email to finance department -- Can't say much about the

[2022-03-18 21:20] psschand16 opened #4219 "(Docker setup )chatwoot_base service returns "Switch to inspect mode." when running in production mode"
**Describe the bug**

chatwoot_base service returns "Switch to inspect mode." when running in production mode

**To Reproduce**
follow the setup for docker on windows 11
https://www.chatwoot.com/docs/self-hosted/deployment/docker#running-rails-console

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**
<img width="287" alt="image" src="https://u

[2022-03-18 22:23] ammaraslam opened #4220 "Chat Ended by visitor shouldn't move to resolved tab"
**Is your enhancement request related to a problem? Please describe.**
When a user ends the chat, it shouldn't move the chat to resolve until the agent doesn't resolve it -- chat just disappears to the resolved tab which creates a further delay in sending lead, updating contacts, adding a label, etc.

![image](https://user-images.githubusercontent.com/99071637/159092094-6c831ac9-441d-40ed-859e-1b7

[2022-03-18 22:47] ammaraslam opened #4221 "Status button somewhere which shows total active chats & number of agents active + amounts of chats divided"
**Is your feature request related to a problem? Please describe.**
When the load shoots up, we maybe need to get someone active on the chats but to know the active load, there should be an indicator somewhere.

**Describe the solution you'd like**
Status button above notifications button which shows how many agents are active currently, how many chats are active & what's the load.

**Current load

[2022-03-19 09:35] matteomelotti commented on #4196
ok @sojan-official ! thanks

[2022-03-19 13:06] startshineye commented on #3468
on a self-hosted instance I also encountered such a problem

[2022-03-19 13:08] startshineye commented on #3468
@kodermax Have you solved this problem？

[2022-03-19 13:15] startshineye commented on #3468
https://github.com/chatwoot/chatwoot/issues/1752;

[2022-03-19 16:46] kodermax commented on #3468
Yes, it works

[2022-03-19 23:06] silvaartur commented on #4215
Works @sojan-official. Tks.

[2022-03-19 23:06] #4215 closed

[2022-03-19 23:06] silvaartur commented on #4214
The problem was on my side. Sorry.

[2022-03-19 23:06] #4214 closed

[2022-03-19 23:08] silvaartur opened #4225 "feat: webhook send for contacts too"
Send webhook when creating, updating or deleting a contact. This can increase the interchange of data between systems.

[2022-03-20 07:38] pranavrajs commented on #3468
@kodermax Thanks for confirming. Closing as the issue is solved.

[2022-03-20 07:38] #3468 closed

[2022-03-20 12:08] startshineye commented on #3501
@yangbailiang according the above ；Have you solved this problem?

[2022-03-20 17:45] clanto007 commented on #2152
Can be used also this gateway to connect to signal:
https://gitlab.com/morph027/signal-cli-dbus-rest-api

[2022-03-21 03:16] iamsivin opened #4227 "feat: Design update for Authentication pages"

[2022-03-21 06:01] hashlash commented on #4193
I also encountered a similar issue (I'm using Mailjet).

I've tried to send the email using rails console, and the email is sent ([the log](https://gist.github.com/hashlash/74f952761289ba8c42433073ce7cd8d4#file-rails-console-log)). Perhaps @kalamchi75 can also try to verify using this method:

[code]

I've also made sure to restart the Chatwoot daemon:

[code]

And check both the [`chatwoot-web`](

[2022-03-21 06:16] #4014 closed

[2022-03-21 06:40] pranavrajs opened #4228 "Add an internal name and external name for inboxes"
**Problem statement:**

Right now, the name field in the inbox is used for both internal and external use. This often creates a problem as the clients needs and internal name to identify the inbox and the brand name only to be visible to the customer.

A simple example is the Chatwoot dashboard inbox. The name given to the inbox is "Chatwoot InApp", the customer would receive and email with the na

[2022-03-21 06:46] pranavrajs commented on #4225
@silvaartur Sure, this is a great feature to have, will pick this up in upcoming sprints.

**TODO:**

- [ ] Add events for `contact.created`, `contact.updated`, `contact.destroyed`

Note: We might need to introduce an events attribute in the webhook config so that the users can configure which events they want to subscribe to.

[2022-03-21 06:52] pranavrajs commented on #3979
@sojan-official The WebHook URL is not a mandatory field in the API inbox. Can you please recheck if this is still an issue?

[2022-03-21 07:09] pranavrajs commented on #1992
<img width="308" alt="Screenshot 2022-03-21 at 12 38 10 PM" src="https://user-images.githubusercontent.com/2246121/159217704-e4f675db-1dcf-4413-8b31-e19a9ce541e9.png">

@aekanshpartani Over the last couple of releases, we have made changes around the webhook events, I tested the latest version and it doesn't seem to have the issue. Please feel free to reopen the issue if it is not the case.

cc: @

[2022-03-21 07:09] #1992 closed

[2022-03-21 07:42] #4015 closed

[2022-03-21 11:40] #4119 closed

[2022-03-21 11:51] sultanlive commented on #3632
For the test, I compared the responses from my server and from the Cloud.

![image](https://user-images.githubusercontent.com/47426878/159255526-faf8cfbb-5c20-4de3-b368-a06f7aaef7af.png)
Response differ
How to configure for nginx to work correctly?

[2022-03-21 12:27] sultanlive commented on #3632
My nginx config

[2022-03-21 12:27] sultanlive commented on #3632
![image](https://user-images.githubusercontent.com/47426878/159260804-1feb2b1c-b0a8-4504-9c8e-18bc853a47fc.png)

[2022-03-21 13:12] sojan-official commented on #4228
@pranavrajs should it be an attribute on the channel object instead, only for the channels which have a public-facing component.

[2022-03-21 13:23] pranavrajs commented on #4228
@sojan-official I thought about it but, it creates a broken experience with the customers as the display name becomes conditional.

We have educate people that this is available only in website, email or API channels which oftens creates confusion. One instance from my experience speaking with customers is that they often confuse with the conversation continuity option. Every one expect it to be t

[2022-03-21 14:44] #3979 closed

[2022-03-21 14:51] sojan-official commented on #4114
ref: https://discord.com/channels/647412545203994635/647729576427913228/955057182808870922

[2022-03-21 15:05] sojan-official commented on #3981
fixed by https://github.com/chatwoot/chatwoot/pull/4100

[2022-03-21 15:05] #3981 closed

[2022-03-21 15:09] sojan-official commented on #4225
ref: https://github.com/chatwoot/chatwoot/issues/3140

[2022-03-21 15:15] sojan-official commented on #4198
@ammaraslam will this workflow work in your case?

- the internal team also have access to the chatwoot account. Rather than sending the transcript, the agents can add a private note with the summary and then assign the conversation to the appropriate team.
- You could also additionally tag the conversations with labels.

[2022-03-21 15:19] sojan-official commented on #4218
At the moment, the way email channels are built is in a way that it used the signing email as the sender email whenever SMTP is configured for an email inbox. maybe we should look into having a separate `FROM` address field for SMTP mailboxes?

cc: @aswindevps

[2022-03-21 15:29] mredbishop commented on #4218
Absolutely, this is what we would need as we have a number of aliased
domains in our organisation.

On Mon, 21 Mar 2022 at 15:19, Sojan Jose ***@***.***> wrote:

[2022-03-21 17:02] sojan-official commented on #4193
@hashlash seems like the `MAILER_SENDER_EMAIL` value is empty?

[2022-03-21 18:13] Vadorequest opened #4233 "Providing a bad phone number should not break PATCH for other attributes (email, name, etc.)"
I tried to provide the phone number, but it crashed my whole integration with "422 (Unprocessable Entity)" error.

PATCH https://app.chatwoot.com/api/v1/widget/contact?website_token=DJGn3WJ5dyMCUPh3rQHRJ8r6&cw_conversation=eyJhbGciOiJIUzI1NiJ9.eyJzb3VyY2VfaWQiOiJmMTJjYzhmYy02MmEwLTQ1MjMtYTdmMS1hYmM0MjQ3MzMyZmIiLCJpbmJveF9pZCI6MTI0NDZ9.rIiRaI9CJk69R7mZVdqT1pp63ruw9DZ9X_BU92sdhU4 422 (Unprocessable

[2022-03-21 19:36] muhsin-k commented on #4163
@drexlma Thank you for reporting. @sojan-official This is a confirmed bug. I will take care of this

[2022-03-21 19:58] #4163 closed

[2022-03-21 20:56] sagararyal commented on #4130
@sojan-official
new case today. Same behavior seen for an emails that contains:

Content-Transfer-Encoding: base64 I've forwarded the email to hello@chat.. email.

[2022-03-21 22:22] hashlash commented on #4193
Oh sorry, I forgot to mention that I've actually tried both but still doesn't work.

Updated the `.env` in my issue description to explicitly set the `MAILER_SENDER_EMAIL`.

[2022-03-22 00:44] ammaraslam commented on #4198
It would've, but considering all company contacts are being shown to
agents, which we really don't want to, due to major privacy reasons.

How about sending added label with transcript.

Something like this 👇

Label : Billing Issue

Transcript:

..........
.........

On Mon, Mar 21, 2022, 8:15 PM Sojan Jose ***@***.***> wrote:

[2022-03-22 05:39] azadshaikh commented on #1039
I am also looking for such integration.

[2022-03-22 06:17] pranavrajs commented on #4233
@muhsin-k Please take a look at this change.

[2022-03-22 06:44] #4174 closed

[2022-03-22 07:02] pranavrajs commented on #4233
@Vadorequest Just to make sure that we understand the issue properly.

1. Chatwoot requires you to send the phone number in the specified format. We don't allow duplicate number as well the number in a different format as it would fail the integration we have in place. Changing this constraint might be hard.

2. We will update the documentation for the same.

3. I understand that you would have is

[2022-03-22 07:19] kamran2hameed opened #4235 "Facing issue with Instagram Messages."
1. Created Instagram business account 1.
2. Connected to FB page as an admin.
3. I were able to get the messages in Instagram chatwoot inbox
4. Then I  connected another FB page to chatwoot inbox
5. Added the same Instagram account to the new page, disconnected from the first page.
And now we are not able to receive messages for Instagram chatwoot inbox.

There is a bug in Instagram messages. Plea

[2022-03-22 07:37] sojan-official commented on #4235
@kamran2hameed  could you try deleting both the inboxes in chatwoot and try after reconnecting them ?

[2022-03-22 07:38] Vadorequest commented on #4233
I'm not asking you to change the phone number format, I guess if you chose to use E164 it was for a good reason.

But what you could do, is change your PATCH implementation so that if any of the attribute sent is not valid, it wouldn't invalidate the whole payload, but only the concerned attribute.

For instance, if I send name + phone number, if the phone number is in a bad format, the name shoul

[2022-03-22 07:40] pranavrajs commented on #4233
@sojan-official Thoughts on the above implementation?

[2022-03-22 07:46] sojan-official commented on #4090
explore moving to https://github.com/Moove-it/sidekiq-scheduler
ref: https://github.com/ondrejbartas/sidekiq-cron/issues/310#issuecomment-1068485657

[2022-03-22 07:58] sojan-official commented on #4233
@pranavrajs  I think skipping the invalid attributes would make the integration much more accessible than a hard failure since we are not providing any callbacks to know whether the call was successful.
Some data getting stored would be a better outcome than no data saved.

ref: #https://github.com/chatwoot/chatwoot/issues/1229

[2022-03-22 09:01] SebastianBitsch commented on #4129
Hi @pranavrajs , any updates on this?

[2022-03-22 13:00] mattiamarras opened #4239 "Email: reply to and group by"
Hello, I woul like to disable this replyto feature:

Chatwoot <reply+6bf5928c-9eb9-4f32-b8bc-c37b7c1369a5>

I would like to set a normal email in reply to and group the conversations by sender (customer).

What I can do? I Would also like to remove the agent name from the sender in the email that arrive to the customer.

M.

[2022-03-22 13:14] kalamchi75 commented on #4193
Hi Guys,

Thanks for everybody for their feedback and advises.
Unfortunately, I have to drop this project since it has such issues since the start. I cannot rely on it, and will have to search for different options.

I wish you guys all the success in your endeavor.

[2022-03-22 15:26] tejaswinichile opened #4240 "Add validation on custom and additional attributes"
Steps to fix:

Need to validate each value in the JSON for the custom attributes.
It will require the loop over the custom attribute value and check the length.
This validation will be applied to the custom attribute with the type text and link but for the same case, we would apply for all.

[2022-03-22 15:28] #4240 closed

[2022-03-22 15:30] tejaswinichile commented on #4151
Check the  duplicate `source_id` if already present in the system?

[2022-03-22 16:20] franzvezuli commented on #3140
Hello. Is it possible to `version` the webhook payloads that get sent? A top-level `version` would be good like
[code]
[code]

Or even better yet, if in the dashboard we can subscribe to a specific version of the webhook like so

![image](https://user-images.githubusercontent.com/4238855/159525714-6032fdc7-b1d7-4e1f-962a-b3f8359540f9.png)

I have noticed that multiple payloads are sent to my APIs

[2022-03-22 16:26] sojan-official opened #4241 "epic: Slack integration Improvements"
- [ ] https://github.com/chatwoot/product/issues/632
- [x] #5767
- [ ] https://github.com/chatwoot/chatwoot/issues/1887
- [x] https://github.com/chatwoot/chatwoot/issues/1590
- [x] https://github.com/chatwoot/chatwoot/issues/1487
- [ ] https://github.com/chatwoot/chatwoot/issues/1488
- [ ] https://github.com/chatwoot/chatwoot/issues/4282
- [ ] https://github.com/chatwoot/chatwoot/issues/4339
- [x]

[2022-03-22 17:58] jordan-brough commented on #4204
@pranavrajs here's a draft PR with code that we've been trying out for the past few days:
https://github.com/chatwoot/chatwoot/pull/4242

Would you mind taking a look at the approach there and leaving feedback on it?

[2022-03-22 21:23] jordan-brough opened #4247 "SMTP test failures in bulk_actions_controller_spec.rb"
I'm on f43018e0 and when I run the following:

[code]

I get the following error:
[code]

When I run a debugger to find out what the `500` error was, I get this exception:

[code]

<details><summary>Click here to show full backtrace</summary>

[code]
</details>

Is it expected that an SMTP mailer is being used in the `test` environment?  If so, am I doing something wrong or am I missing some part

[2022-03-22 22:31] WEBudoGT commented on #3622
Hello @pranavrajs
Just wondering if this was fixed?

[2022-03-23 01:40] giquieu commented on #4115
@sojan-official ,
The return of the request for the Telegram Bot is:
{"ok":false,"error_code":400,"description":"Bad Request: failed to get HTTP URL content"}
From what the documentation indicated to me, it is about incompatibility of the audio format.
Everything indicates that Telegram receives as Audio, only .MP3 or .M4A format (https://core.telegram.org/bots/api#sendaudio), or, .OGG file encode

[2022-03-23 03:50] nithindavid opened #4249 "bug: Formatting/rendering breaks when `code` is used in messages"
In our editor if we compose any formatting to add code as a reply and then sends it. The message bubble is rendering incorrectly.

<img width="684" alt="image" src="https://user-images.githubusercontent.com/1277421/159620400-98553af8-5258-4c4d-beab-7a3e5a5e6d90.png">

[2022-03-23 04:48] pranavrajs commented on #4177
@muhsin-k Since this is not bug on the prod/develop branch, can we close it?

[2022-03-23 04:48] #4177 closed

[2022-03-23 06:47] pranavrajs commented on #3622
@WEBudoGT This was an easy fix, but took a while to figure out what was going on. It will be fixed in #4251

[2022-03-23 07:08] ChrisvanChip commented on #3622
Thanks a lot for your help! Our team will appreciate it :)

[2022-03-23 07:24] vishnu-narayanan opened #4252 "bug: conversation and campaign sequences persist in db even after account is deleted"
**Describe the bug**

Conversation(conv_dpid_seq_) and campaign(camp_dpid_seq_) sequences persist in database even after the associated account is deleted.

**To Reproduce**

Steps to reproduce the behaviour:
1. Delete an account.
2. Query the DB to check for the related conversation and campaign sequences.
3. See it exists.

**Expected behaviour**

Conversation and campaign sequences associated w

[2022-03-23 07:57] #3622 closed

[2022-03-23 08:30] hashlash commented on #4193
Sorry to hear that @kalamchi75

For those who need a workaround for the verification process (especially if your agents are invite-only), you can manually set the password and the "confirmed at" fields from the superuser dashboard (`/super_admin/users`) and send the password to the agent.

![image](https://user-images.githubusercontent.com/23237214/159656095-e097c98c-52ff-4f4c-8b12-62598cdf37f7.pn

[2022-03-23 09:10] fobos531 opened #4254 "Conversations API returns wrong information about the sender of a message"
**Describe the bug**

Hello, I noticed that the Conversations API (`https://app.chatwoot.com/api/v1/accounts/{account_id}/conversations/{conversation_id}/messages`) returns wrong information about the sender of a message. Namely, the `sender` field of a given message will **always** provide information about the contact (person who contacted the agent through the web widget), regardless of whether

[2022-03-23 09:16] pranavrajs commented on #4254
@fobos531 Can you please screencast? It seems like you are running a self-hosted Heroku. Have you changed any code on your end?

[2022-03-23 10:02] fobos531 commented on #4254
@pranavrajs Hey, upon further investigation it seems my issue stems from the fact that I may be using the Create message in conversation API incorrectly.

I noticed that if I send a message as an agent through the agent dashboard, the initials and the agent name are indeed correct.

However, I have a use case where I want to use the Chatwoot API directly to send messages on behalf of a given agent

[2022-03-23 10:12] sojan-official commented on #4254
@fobos531  try sending the message without the `message_type` parameter.

[2022-03-23 10:26] fobos531 commented on #4254
Thank you @sojan-official ! That seems to work. Additionally, I figured out the name is inferred from the access_token that I use to authenticate with the API. After I started using the intended user's API token to authenticate myself, the sender's name is now that of the correct agent. Wohoo! I'm closing this, thank you for the help!

[2022-03-23 10:26] #4254 closed

[2022-03-23 12:36] iamsivin opened #4255 "bug: Clipboard paste issue towards Firefox browser"
**Describe the bug**

The Firefox browser copy paste doesn't work as expected if we copy files or images from the finder or try to paste multiple files from the clipboard.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to finder
2. Copy images or files from the finder
3. And open chatwoot app
4. And try to paste with if input filed has focus and also in a blur, both editors. (Rich and s

[2022-03-23 12:52] sojan-official commented on #4247
@jordan-brough  We usually skip the mailers in tests through this method

ref: https://github.com/chatwoot/chatwoot/blob/4a21633a2b3c75ef5d74f3801da8c6276921dcd8/app/mailers/agent_notifications/conversation_notifications_mailer.rb#L13

method definition
ref: https://github.com/chatwoot/chatwoot/blob/4a21633a2b3c75ef5d74f3801da8c6276921dcd8/app/mailers/application_mailer.rb#L21

the method will ski

[2022-03-23 12:55] #4036 closed

[2022-03-23 12:56] iamsivin commented on #4036
**Tested in staging**

1. Chromium-based browser link chrome, edge etc and Safari, will work perfectly in all cases both in macOS and Windows.
2. For firefox not working in a couple of cases  (If we copy directly from google or copy screenshots directly working as expected, tested in macOS)

       If we do copy-paste from the finder (tested in macOS and Windows)-->
         Single image file past

[2022-03-23 13:26] jordan-brough commented on #4247
This PR seems to fix the issue for me: https://github.com/chatwoot/chatwoot/pull/4257
Does that seem OK?

[2022-03-23 13:37] fayazara commented on #4255
Tested cases

Firefox Mac OS (Simple editor and Rich text editor)

1. Single image file paste - Works
2. Multiple Image file paste - Does not work
3. Single PDF file paste - Does not work
4. Image + PDF - Does not work
5. Video paste Does not work
6. Video + Image - Does not work

Firefox Windows (Simple editor and Rich text editor)

1. Single image file paste -
   Works on Simple editor, but thro

[2022-03-23 14:01] jordan-brough commented on #4204
@pranavrajs let me know if that PR looks generally OK? If so, I'll add some tests and take it out of draft mode.

[2022-03-23 15:14] sojan-official commented on #4247
@jordan-brough  #4257 makes sense. let's get it merged.

[2022-03-23 15:16] #4247 closed

[2022-03-23 23:29] hashlash commented on #4193
@sojan-official I can receive the password reset email.

So it must be on the verification email process, right?

[2022-03-24 06:37] 23oijoifsd opened #4263 "(Hosting it in app.chatwoot.com) Always sends as mailer@chatwoot.com despite me adjusting SMTP settings"
**Is your enhancement request related to a problem? Please describe.**
I am hosting chatwoot on app.chatwoot.com (your server). When I send mail through chatwoot, it always sends it as mailer@chatwoot.com despite me adjusting the SMTP settings. I know you can change the sender address when you are self hosting it, but hopefully this feature could be added in your server too, taht we have an option

[2022-03-24 06:43] pranavrajs opened #4264 "Audio notification would not work without a click/action on dashboard"
- If I open the dashboard and have not performed any action on the site. (hit the URL, no further action taken on the tab) The audio alerts are not played if even a new conversation/message is created.
- Audio alerts are played even if I'm active on a chat.

[2022-03-24 07:06] nithindavid commented on #4264
This could be because we are not initiating the audio context on keyboard action. We do have only click as of now.

[2022-03-24 07:09] pranavrajs commented on #4209
https://www.loom.com/share/75a41b06e6f944e08a66be65d3836c73

[2022-03-24 07:14] #3603 closed

[2022-03-24 07:15] pranavrajs commented on #4209
https://github.com/hCaptcha/vue-hcaptcha#methods Reset method is available.

[2022-03-24 08:03] #4252 closed

[2022-03-24 09:09] Azfarrr opened #4267 "Webhook Events: First message from client should send a 'conversation_opened' or 'conversation_status_changed' payload"
As of now, when a new client send first message, as a new contact, it will only trigger the `message_created` event.

It is better if we can have another payload sent as per title, which is the `conversation_opened` or `conversation_status_changed`. I think this makes sense as if the conversation status is basically null or none at first, then it changed to open, a payload will be sent to webhook.

[2022-03-24 09:24] sojan-official commented on #4267
ref: https://github.com/chatwoot/chatwoot/issues/3140

[2022-03-24 09:37] tejaswinichile commented on #4054
The step to consider:

1. Add automation actions "Send attachment" to the automation rule
2. File will be attached to the automation rule via the automation page/API.
3. When an Automation event has been triggered call send_attachment action.
4. Send attachment will create a message with the attached file in the automation rule and send it in the conversation.

Basically, it will act similar to se

[2022-03-24 10:53] vishnu-narayanan opened #4268 "epic: Chatwoot community edition(CE/FOSS) and enterprise edition(EE)"
**Is your feature request related to a problem? Please describe.**

We introduced the `enterprise` folder and dual licensing with https://github.com/chatwoot/chatwoot/pull/3209. The `enterprise` folder can be removed to have a fully MIT compliant version. Make it easy to run fully open-source software.

**Describe the solution you'd like**
Start publishing both CE and EE editions when cutting a re

[2022-03-24 12:58] sojan-official commented on #4124
@substr2837  please go ahead. let us know if you have any questions.

[2022-03-24 13:37] sojan-official commented on #3757
@Soundmagic  could you try the steps mentioned here https://github.com/chatwoot/chatwoot/issues/3304#issuecomment-1043240194 ?

let's track this further over #3304

[2022-03-24 13:37] #3757 closed

[2022-03-24 13:56] pranavrajs commented on #4054
@tejaswinichile Sounds good.

[2022-03-24 14:23] nithindavid opened #4271 "Enhancement: Ability to transfer a service from dialogflow to a specific team."
Requested by a user.

Right now it seems like we do not have ability to transfer a conversation from dialogflow to a specific team.

@sojan-official Can you let me your thoughts on this.

[2022-03-24 16:20] tejaswinichile commented on #4180
@pranavrajs

[code]

@pranavrajs This is how it would look in previous changes hash, it will give the array object with attribute_name as the key and array of the previous value and current value.

Above one is the whole payload that we send to webhook.
Let me know if we need any changes to this.

[2022-03-24 17:19] sojan-official commented on #4271
@nithindavid  at the moment we don't have the ability, but we can implement an action for this. let's prioritise this if we have enough community interest for this feature.
`handoff_team`

ref:     https://github.com/chatwoot/chatwoot/blob/8e153d6350ffc5eab8f8dc2d64492a9500843397/lib/integrations/dialogflow/processor_service.rb#L78

[2022-03-24 18:08] triptronics opened #4274 "Need ability to customize Widget CSS"
Hi there,

We need the ability to reposition the widget on our website and change other CSS such as color and etc. We attempted a possible solution here: https://github.com/chatwoot/chatwoot/issues/1598 but it didn't work - nothing was injected to the head tag for the iframe. The widget is covering our footer when the user scrolls down.

Tawk allows us to customize the widget positioning, colors,

[2022-03-24 18:58] sojan-official opened #4276 "epic: Dialogflow Integration Improvements"
Tracking the issues and feature requests related to dialogflow

- [ ] https://github.com/chatwoot/chatwoot/issues/4271
- [ ] https://github.com/chatwoot/chatwoot/issues/4129
- [x] https://github.com/chatwoot/chatwoot/issues/4004
- [ ] https://github.com/chatwoot/chatwoot/issues/3883 : Ability to add custom attributes from dialogflow
- [ ] https://github.com/chatwoot/chatwoot/issues/3910
- [ ] http