[2022-08-04 07:10] harismateen opened #5196 "Facebook comments reply via Chatwoot"
Hello,

Can integrate Facebook post comments also into chatwoot?

[2022-08-04 08:33] dragma opened #5198 "vuelidate has known security issues"
Hi everyone !

Today, the actual [vuelidate](https://github.com/vuelidate/vuelidate/tree/v0.7.7) component used for chatwoot is not maintained anymore and has [a security vulnerability](https://nvd.nist.gov/vuln/detail/CVE-2021-3794).

The only solution we have is to migrate `vuelidate v0.7.x` to the new packages `@vuelidate/core` and `@vuelidate/validators` which seems no being impacted by any se

[2022-08-04 08:35] dragma opened #5199 "vuex-router-sync has known security issues"
Hi everyone !

Today, the actual version of [vuex-router-sync](https://github.com/vuejs/vuex-router-sync/tree/v4.1.0) used for chatwoot has a high severity security issue of type Cross-site Scripting (XSS).

![image](https://user-images.githubusercontent.com/4975026/182801808-8bad9454-f700-4841-9b5d-283ac657c08f.png)

The only solution we have is to migrate `vuex-router-sync v0.4.2` to version [`6

[2022-08-04 11:14] vishnu-narayanan commented on #5165
Command:
gpg --keyserver hkp://keyserver.ubuntu.com --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3
Response:
gpg: keyserver receive failed: No keyserver available

I am not able to reproduce this issue. As you can see, the `gpg` command is successful.
[code]

So far the instance is working fine, as the result of running the alternative command.

That is perfectly fine. The instance is good t

[2022-08-04 13:34] ammaraslam opened #5203 "Log if the visitor has left/returned to the chat"
**Is your feature request related to a problem? Please describe.**

Currently, we can't know for sure if the visitor is still on our widget or s/he has left the chat.

**Describe the solution you'd like**

Log if the visitor has left/returned to the chat.

![log](https://user-images.githubusercontent.com/99071637/182859801-5dd9418f-3186-4b5b-950a-b7de6352938a.JPG)

[2022-08-04 13:42] ammaraslam opened #5204 "Inclusion of pre-chat components into chat transcript"
**Is your enhancement request related to a problem? Please describe.**

Currently if visitor provides his name, email, phone or selects some option, those details are surely visible on the dashboard but not if we send a transcript to someone.

**Describe the solution you'd like**

Include all the components of pre-chat form into chat transcript.

[2022-08-04 16:12] #5078 closed

[2022-08-04 23:22] HeVictor commented on #3620
Hi, would this feature request still be open for contribution? I'm new to OSS and Chatwoot and was wondering if I could take a stab at it. Thanks!

[2022-08-05 03:44] intelnexoec opened #5207 "WhatsApp 360Dialog - Not send messages"
I identified a bug when I started the conversation in the contacts option and sent an approved template.
The template does reach the recipient but when you click, the conversation reaches chatwoot, chatwoot sends the autoresponder but never reaches the client.

Attached screenshots

WhatsApp Template:

![image](https://user-images.githubusercontent.com/84194459/182997067-7836c40f-7d6d-4246-87bb-b2

[2022-08-05 04:45] lydenn opened #5208 "voice chat audio playback not loading on safari and other browsers on ios device"
**Describe the bug**

unable to play the audio, the audio playback is now loading.

**Screenshots**

reply box
<img width="965" alt="Screen Shot 2022-08-05 at 11 43 36 AM" src="https://user-images.githubusercontent.com/102777811/183003196-29d5d196-e04d-4e51-93b8-5de9bf4a4348.png">

message audio playback
<img width="310" alt="Screen Shot 2022-08-05 at 11 43 47 AM" src="https://user-images.githubus

[2022-08-05 05:27] #5158 closed

[2022-08-05 09:05] sojan-official commented on #3620
@HeVictor, feel free to :) Let us know if you need any help.

[2022-08-05 09:21] JarydX commented on #4129
This problem might happen because of different API Endpoints for all regions? https://cloud.google.com/dialogflow/es/docs/reference/rest/v2-overview#service-endpoint

However, i can reproduce this issue. No other region than global is working right now.

[2022-08-05 13:43] joejordanbrown commented on #2910
Is this still being worked on?

I see `` but can't see any work in any branches.

[2022-08-05 16:05] douglasalves0 opened #5210 "Can't get contact by phone number"
**Describe the bug**

This is not a bug report, I just want some help by getting some contact on my account by him/her phone number (contact filter route), I was trying do that by using the api documentation, but at that I was supposed to send an array on body with the data that I want to filter, and maybe I don't know how to do that, so i want some help on that. thanks in advance.

**Screenshots*

[2022-08-05 18:05] giquieu commented on #5208
@lydenn Can you report the browser version?

[2022-08-06 22:36] intelnexoec opened #5213 "UI - Dashboard Apps v2.7"
When a new "Dashboard" is created, it cannot be edited, deleted and in the web interface it appears like this.

Version 2.7
self-hosted

<img width="1143" alt="Screen Shot 2022-08-06 at 17 36 26" src="https://user-images.githubusercontent.com/84194459/183268000-2d2f21bf-0a47-4215-b90a-64926eff5f3c.png">

[2022-08-07 18:02] pranavrajs commented on #5199
@dragma Can you please post the link to the vulnerability? I couldn't find any relevant discussion in the repo.

[2022-08-08 02:01] lydenn commented on #5208
@giquieu yes, the comment is updated

[2022-08-08 04:47] Askeshine opened #5217 "Error Install"
![image](https://user-images.githubusercontent.com/37356127/183341291-68cf67e3-3f39-4281-ac9f-0499556f7a32.png)

I post last part of log if any want full log i can post i think.

![image](https://user-images.githubusercontent.com/37356127/183341348-16f6f02d-5741-4f13-9694-46db1313d7e0.png)

SO: Ubuntu 20.04.

FULL LOG WHEN START ERRORS:
[code]

[2022-08-08 06:32] #5198 closed

[2022-08-08 08:18] DoctorOnCall commented on #5096
![image](https://user-images.githubusercontent.com/41385546/183350835-77a7530a-0aa0-43f3-a019-6c7bb6d6825d.png)

[2022-08-08 09:19] DoctorOnCall commented on #5096
![image](https://user-images.githubusercontent.com/41385546/183384516-7e86d91b-1d21-4d0d-bd99-91455980c56c.png)
This is what we received on our console logs

[2022-08-08 12:17] sojan-official commented on #5096
@DoctorOnCall  could you share the server logs instead? The browser logs don't have the information about what is triggering the 500 errors on the server side.

[2022-08-08 12:54] vishnu-narayanan commented on #5217
Could you try running the below command and then rerunning the installer?
```sudo ln -s /bin/mkdir /usr/bin/mkdir```

[code]

[2022-08-08 13:50] sentry-io[bot] opened #5223 "NoMethodError: undefined method `email_assigned_conversation_new_message?' for nil:NilClass"
Sentry Issue: [CHATWOOT-15](https://sentry.io/organizations/chatwoot-p3/issues/3253819125/?referrer=github_integration)

[code]

[2022-08-08 13:51] sojan-official commented on #5223
Investigation: This issue occurs when the conversation assignee is removed from an account, but the assignment persists. This leads to an error when we try to fetch the user's notification settings associated with that account.

[2022-08-08 13:55] sojan-official opened #5224 "Chore: Remove assignment if agent is removed from the account"
Investigation: This issue occurs when the conversation assignee is removed from an account, but the assignment persists. This leads to an error when we try to fetch the user's notification settings associated with that account.

_Originally posted by @sojan-official in https://github.com/chatwoot/chatwoot/issues/5223#issuecomment-1208159385_

## notes
- [ ] should we trigger Webhooks ?
- [ ] Shoul

[2022-08-08 15:07] MaoBueno opened #5226 "Unable to start a conversation with a template using WhatsApp Cloud Inbox"
**Describe the bug**

Unable to start a conversation with a template using WhatsApp Cloud Inbox

**To Reproduce**
Steps to reproduce the behavior:
Select an approved whatsapp template and send it

**Expected behavior**

The message reaches the recipient

**Environment**
CapRover
Chatwoot version 2.7.0

[2022-08-08 15:47] dragma commented on #5198
@pranavrajs
This issue is not closed because the vulnerability also exists on version 0.7.7.
We must upgrade to the next version of vuelidate.

[2022-08-08 15:59] pranavrajs commented on #5198
@dragma CVE-2021-3794 is fixed in 0.7.7. Please see this discussion here. https://github.com/vuelidate/vuelidate/issues/959

[2022-08-08 16:01] pranavrajs commented on #5226
@MaoBueno Please share logs/screencasts to help us debug the issue.

[2022-08-08 16:46] weppa-cloud commented on #5226
Same problem here:  I'm not able to start a conversation with a template using the WhatsApp Cloud inbox

[2022-08-08 17:40] MaoBueno commented on #5226
![imagen](https://user-images.githubusercontent.com/50222850/183478756-57dc6754-9741-4ddd-bc94-dfce9f4fb585.png)
This is a whatsapp template but the message does not reach the recipient, the channel is created with Whatsapp Cloud

[2022-08-08 18:13] #5223 closed

[2022-08-09 02:27] lydenn commented on #5208
i think these can be the solutions

1. use vmsg instead of opus recorder: https://collab-project.github.io/videojs-record/#/plugins/vmsg
2. or we can still use the opus recorder and convert the output to mp3 format by using ffmpeg: https://collab-project.github.io/videojs-record/#/plugins/ffmpeg.wasm

[2022-08-09 02:56] h33raj commented on #5096
![image](https://user-images.githubusercontent.com/9161506/183553624-0980cf20-4060-4bad-8bd1-e6b2028ab673.png)

This is what I could get from server logs

[2022-08-09 04:35] arladmin opened #5229 "Ghost notification?"
The notification counter shows a non-zero value even though there aren't any notifications.

![image](https://user-images.githubusercontent.com/64059154/183565069-1792823e-a30c-47af-95e2-7a82d047dd69.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the following information):**
 - D

[2022-08-09 04:38] giquieu commented on #5208
Hello,
Could you add the browser console log?
Another interesting validation, check if there is availability of Media in the Browser, run this and see the result:
navigator.mediaDevices.getUserMedia({audio: true})

Some browsers have discontinued the ScriptProcessorNode which is being used in Wavesurfer, maybe that's your problem. I'm following some issues in the repositories of the libs used...

[2022-08-09 05:43] giquieu commented on #5210
Hello,
I looked at the tests, It seems to me that the documentation is divergent, I can send a PR to adjust...
Wrap your filter with a JSON object called _payload_, example:

`{
	"**payload**":  [
  	{
    	    "attribute_key": "phone_number",
    	    "filter_operator": "equal_to",
    	    "values": [
      	        "5546111111111"
    	    ],
    	    "query_operator": "AND"
  	},
 	{
   	    "

[2022-08-09 07:22] harismateen opened #5231 "feat: Import and Export Chats / Conversations"
Hi,
Is there away to Import and export Chat Conversations?

[2022-08-09 08:26] lydenn commented on #5208
@giquieu i run this navigator.mediaDevices.getUserMedia({audio: true}) and the microphone work just fine.

i think it's the problem of audio file format that we currently use (audio/ogg), safari and ios devices no longer support this file format.
if you have already tried the vmsg plugin, can you share me some example of that since i cannot make the video record work with the vmsg plugin

[2022-08-09 09:30] substr2837 commented on #5067
Can I work on this issue?

[2022-08-09 09:31] substr2837 commented on #4988
Can I work on this issue?

[2022-08-09 09:32] pranavrajs commented on #5067
@substr2837 Sure, please.

[2022-08-09 09:37] substr2837 commented on #5203
Can I work on this issue?

[2022-08-09 10:03] sojan-official commented on #5229
Closing in favor of https://github.com/chatwoot/chatwoot/issues/4285#issuecomment-1078874738
We will track this in #4285

[2022-08-09 10:03] #5229 closed

[2022-08-09 10:11] gib1991 opened #5233 "Installation Script (Linux VM)"
**Describe the bug**

install.sh does not operate with 20:04 LTS download of ubuntu.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to ubuntu - download latest 20:04 LTS image - install fresh in Hyper-V, static IP, pull the install.sh script.
2. Run the ./install.sh with tails open in another terminal
3. Wait a few moments
4. See error "## Your distribution, identified as "jammy", is no

[2022-08-09 10:13] gib1991 commented on #5233
[chatwoot-setup.log](https://github.com/chatwoot/chatwoot/files/9289496/chatwoot-setup.log)

[2022-08-09 10:21] ptd-31 commented on #5148
I have encounterd the same issue. What should i do?

What server log should i looking for?

![image](https://user-images.githubusercontent.com/57672922/183624865-a9527bb7-f98e-4dc0-b72d-150918414610.png)

[2022-08-09 11:07] vishnu-narayanan commented on #5233
@gib1991 Could you share the output of `lsb_release -a` ?

[2022-08-09 11:08] gib1991 commented on #5233
![image](https://user-images.githubusercontent.com/100914854/183633307-a432f348-dbf6-417f-ab1b-741a1e0ae8aa.png)

[2022-08-09 11:10] vishnu-narayanan commented on #5233
The installer is supported and maintained on `Ubuntu 20.04` as of now. Could you please try this on a `Ubuntu 20.04` instance?

[2022-08-09 11:22] gib1991 commented on #5233
I've had an awful morning, first my .iso selection was wrong, then i opted for a minimal install and cried wolf for not checking
![image](https://user-images.githubusercontent.com/100914854/183635591-b36cd56a-2a19-4562-806c-ce2dfeb5eb32.png)
smh - i need coffee IV drip

[2022-08-09 11:22] #5233 closed

[2022-08-09 11:24] vishnu-narayanan commented on #5233
haha no worries 😅 happens to all of us

[2022-08-09 11:50] sojan-official commented on #4285
Upon further investigation, we noticed that there was leftover child data even when we deleted some of the parent objects.

Examples:
1) conversations remain in the system event when the account is deleted.
2) Notification objects remain even when the primary actor ( convesation / message ) is removed.

Case 2 became a concern as the notification page started throwing 500 errors to some customers.

[2022-08-09 12:27] aslamabbas opened #5234 "Emails added in CC and BCC dissappears when you click on "Assign to me" button"
Steps to repeat.

1. Turn off auto assign emails
2. Before starting to type the reply in an email, add email under CC/BCC
3. As soon as you start typing the reply, the assign to me pop up appears.
4. Click on Assign to me
5. The emails in CC/BCC disappear.

[2022-08-09 15:13] iamsivin commented on #5234
@pranavrajs I tried recreating this issue. Couldn't find any issue as mentioned above. You can see it in the attached loom video.
https://www.loom.com/share/82bde82424ce4a6daf212f252e86eb05

[2022-08-09 15:14] msindisi commented on #5217
Im getting the same error.

[2022-08-09 15:23] AniTexs commented on #1941
+1

[2022-08-09 15:46] #3648 closed

[2022-08-09 15:48] voko3456 commented on #4778
No need to use it with automatio better to use it with csml ui bot builder

[2022-08-09 15:48] #4778 closed

[2022-08-09 16:46] MaoBueno commented on #5226
![imagen](https://user-images.githubusercontent.com/50222850/183709670-295b57a2-df3a-4b80-8e95-56fcef346d7b.png)
{"object"=>"whatsapp_business_account", "entry"=>[{"id"=>"***************", "changes"=>[{"value"=>{"messaging_product"=>"whatsapp", "metadata"=>{"display_phone_number"=>"5731**********", "phone_number_id"=>"106706**********", "_aj_hash_with_indifferent_access"=>true}, "contacts"=>[{"pro

[2022-08-09 17:18] sojan-official commented on #5226
@MaoBueno  Thanks for the logs. seems like a duplicate of https://github.com/chatwoot/chatwoot/issues/5128 . lets track it over there

[2022-08-09 17:18] #5226 closed

[2022-08-09 17:20] sojan-official commented on #4546
Closing this since there haven't been recent updates. Let's reopen an issue if it persists in the future.

[2022-08-09 17:20] #4546 closed

[2022-08-09 17:21] sojan-official commented on #5094
Closing this now that we have updated documentation. We will reopen an issue if it still persists

[2022-08-09 17:21] #5094 closed

[2022-08-09 17:54] pranavrajs commented on #5234
@iamsivin Thanks. @aslamabbas Can you please confirm the version and post a screencast of the behavior?

[2022-08-10 07:54] vishnu-narayanan opened #5238 "SMTP authentication issue 535 when different smpt port is provided"
**Describe the bug**

Chatwoot fails to send an email when the default SMTP port is changed from 587 to 25.

**To Reproduce**

Steps to reproduce the behavior:
1. Deploy chatwoot using helm charts
2. Change the SMTP related variables to the following
[code]
The username and password are expected to be empty here and should work as this config is working on other applications.

4. Try to send a pas

[2022-08-10 07:58] vishnu-narayanan commented on #5238
@aswindevps Could you please take a look?
cc: @pranavrajs

[2022-08-10 08:12] harismateen opened #5239 "Conversation takes time to load"
When loading conversation, it taking quite a longer time to load it - and console is showing
"Failed to load resource: the server responded with a status of 404 ()"
https://www.gravatar.com/avatar/7febd4a2c3daa37dd805d0079742d286?d=404

![image](https://user-images.githubusercontent.com/38554929/183849675-e04d2e00-c9a9-4240-a74a-e614c72e73d3.png)
![image](https://user-images.githubusercontent.com/

[2022-08-10 08:20] vishnu-narayanan commented on #5238
@dragma Could you try to update the deployment by removing  SMTP_USERNAME, SMTP_PASSWORD and SMTP_AUTHENTICATION variables and see if that helps?

ref: https://calvin.my/posts/rails-smtp-setting-without-authentication

cc: @pranavrajs

[2022-08-10 09:04] dragma commented on #5238
@vishnu-narayanan You were right !
It seems to be working just fine. Thank you very much  for your help !
I think we can close this issue.

[2022-08-10 09:11] pranavrajs commented on #5238
@dragma Great! Closing this.

[2022-08-10 09:11] #5238 closed

[2022-08-10 11:46] #4285 closed

[2022-08-10 12:35] jordan-brough opened #5241 "Web Widget "End Conversation" button is confusing for users"
The "End Conversation" button has been confusing for our users:
<img width="244" alt="image" src="https://user-images.githubusercontent.com/23050/183902050-539c6eef-b8de-484b-93e4-5870fbece2d7.png">

We've had several of them click that button to close the window, not realizing that they were closing their own issue.

I know there's a preference to disable the button:

<img width="386" alt="image"

[2022-08-10 13:20] aslamabbas commented on #5234
My version is v2.7.0

Please find the attached screen recording showing the issue.
https://user-images.githubusercontent.com/1219448/183911677-011a4a01-dc19-46b7-aabc-9b6925821bce.mov

[2022-08-10 13:36] voko3456 opened #5243 "Bug: when I clone automation rule its become empty"
Bug: when I clone automation rule its become empty

[2022-08-10 14:01] nithindavid opened #5244 "chore: Improve audio notification alerts"
**Is your enhancement request related to a problem? Please describe.**
A lot have reported that the chatwoot's default audio notification is feeble. There's a great chance of missing this notitifcation.

**Describe the solution you'd like**
Change the default audio file and come up with a louder notification tone

[2022-08-10 14:10] pranavrajs commented on #5243
@tejaswinichile @fayazara Can any one of you verify this?

[2022-08-10 14:11] pranavrajs commented on #5243
@voko3456 Would it be possible to share a screencast?

[2022-08-10 14:12] pranavrajs commented on #5241
@jordan-brough Does a confirmation box to end the conversation would work?

[2022-08-10 14:15] pranavrajs commented on #5239
@harismateen There is not much to debug here. Can you please share the logs/traces which show a little more information that would be helpful? The responses can be slow due to network latency or the size of the server, or anything else. Without the information on the time taken for the API response or server logs, it would be hard to come to a judgment.

[2022-08-10 14:16] pranavrajs commented on #5239
Also, 404 errors are fine, it just says that the gravatar URL for the user is not available, it would not cause the delays.

[2022-08-10 14:47] jordan-brough commented on #5241
Yah it seems like that should work. 👍
Might be good to make it look slightly "dangerous"? (button color or warning icon or something?)

[2022-08-10 18:28] nourkagha commented on #5128
After some quick testing, I found out that the problem is actually just with sending the template through the Contacts section. You can still initiate the conversation with a template from the conversation itself after it's opened.

For example:

1. In Contacts, open the contact, click on Send Message, choose the inbox and template and hit Send.
2. Conversation will open with the sent template, bu

[2022-08-10 18:30] Promhize opened #5245 "Question: Does chatwoot's local/hosted setup have an openapi endpoint?"
**Is your enhancement request related to a problem? Please describe.**
I use the OpenAPI specification at https://www.chatwoot.com/developers/api to generate a typed SDK with the endpoint parameters and responses properly typed, but I noticed the return value of some of the endpoints are different from what's in the public [/api](https://www.chatwoot.com/developers/api) documentation. For example,

[2022-08-10 19:28] nourkagha opened #5246 "WhatsApp Cloud inbox: Template management"
**Is your enhancement request related to a problem? Please describe.**

If using the WhatsApp Cloud inbox, all templates are synced automatically and you have to sift through a bunch of sample templates (which unfortunately can't be deleted from WhatsApp Manager through Meta Business Manager) to select and use your own custom templates.

This clutters things up and can be confusing, especially if

[2022-08-10 21:09] tejaswinichile commented on #4595
According to Cloudfare for SaaS document https://developers.cloudflare.com/cloudflare-for-saas/start/

We can provide the SSL certificate under one host.

In our case host is `chatwoot.help` and the SaaS customer site is `customer.site` and we want to provide the portal information on `help.customer.site` domain.

Step 1: point CNAME record help.customer.site to chatwoot.help
Step 2: Add help.cust

[2022-08-10 23:42] Paulov25 opened #5247 "Não consigo assinar o nome do agente"
Não consigo assinar o nome do agente quando envio uma mensagem por chat. Não acusa erro mas tbm não aparece

[2022-08-11 03:54] fayazara commented on #5243
Cloned a few automations with different conditions and actions, cloned succesfully and working.

@voko3456 can you please share any screencast or logs?

[2022-08-11 05:59] SantaCRC commented on #5098
Hi @twhiting9275. I found a solution that worked for me, by default in the facebook app settings the sdk option is disabled so change it and add in the sdk domains your chatwood installation domain.
![imagen_2022-08-10_235528824](https://user-images.githubusercontent.com/35088759/184072252-85894133-de46-47ad-b2e7-7623c4fc69d2.png)

[2022-08-11 09:32] skyblue opened #5248 "When integrate Dialogflow"
sorry, my mistake...

-----------------------
Follow the doc
[dialogflow](https://www.chatwoot.com/docs/product/channels/live-chat/integrations/dialogflow)

**Server logs**

`
I, [2022-08-18T04:22:02.705537 #1]  INFO -- : [ActiveJob] [EventDispatcherJob] [5c0c125a-bc25-41da-8e15-946c0c3e9aa0] Enqueued HookJob (Job ID: 81a9cc17-fbe1-486c-867b-79d4b67e91be) to Sidekiq(integrations) with arguments: #

[2022-08-11 11:36] tejaswinichile commented on #4595
@pranavrajs @sojan-official

This video is about, wow to serve custom-hostname from chatwoot.

https://www.loom.com/share/4b3d0c5018e34c7ea52da1e3b579c539

if you visit https://help.tejaswini.tech/hc/help-support.json it serves as the only portal record that they have with custom-domain "help.tejaswini.tech" and slug "help-support"

[2022-08-11 11:46] tejaswinichile commented on #4595
https://www.loom.com/share/c36a2925eebf40418e8ee61e1eb82f1b

Another test done for test.chatwoot.dev where this client DNS is on AWS and pointing to chatwoot.help

[2022-08-11 13:34] vishnu-narayanan commented on #5217
@msindisi the above solution worked for @Askeshine. Could you please try that?

[2022-08-11 13:34] vishnu-narayanan commented on #5217
@msindisi Please reopen this issue if it is not working for you.

[2022-08-11 13:34] #5217 closed

[2022-08-11 14:08] vpr1982 opened #5251 "Read status not updated in web widget popout mode."
Regular (popup) mode works fine. Tested on Chrome and Safari.

[2022-08-11 16:15] aslamabbas opened #5252 "Notifications that are read, should be automatically unread (marked as done)"
**Is your enhancement request related to a problem? Please describe.**

![Screenshot 2022-08-11 at 9 39 50 PM](https://user-images.githubusercontent.com/1219448/184179806-28f460f2-e01f-453b-96ab-2ef9c3ffc848.png)

The notification widget that shows agent mention, should not show the notifications that are already attended. Even after clicking on a notification, the notification is still shown as u

[2022-08-11 17:27] #5165 closed

[2022-08-12 07:19] pranavrajs commented on #4595
@tejaswinichile Nice work. Please see if there are any limitations to the number of domains that can be added in Cloudflare and Heroku.

[2022-08-12 07:35] tejaswinichile commented on #4595
1. Heroku custom domain limitations: 1000 domains per app
reference: https://devcenter.heroku.com/articles/limits#maximum-custom-domains-per-app

2. for Cloudflare at least 100 custom hostnames are allowed, as mentioned in one blog. The `Enterprise Plan`, is not mentioned anywhere but we will have to reach out to them for the same.

cc @pranavrajs

[2022-08-12 07:43] pranavrajs commented on #4595
@tejaswinichile Thanks, this is good enough for the initial stages.

[2022-08-12 10:00] gib1991 opened #5254 "Multiple Business Hours per day in the same inbox"
**Describe the bug**

Can't set business hours past midnight

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Inboxes, Settings / Business Hours
2. Attempt to set hours for service as 9pm until 2am daily
3. See error Starting time should be before closing time.

**Expected behavior**

Set business hours to match 9pm - 2am daily

**Screenshots**

![image](https://user-images.githubuserc

[2022-08-12 10:36] mariusa opened #5256 "Resolving a conversation should hide it from left pane"
**Is your enhancement request related to a problem? Please describe.**
After resolving a conversation, it still shows in left pane

**Describe the solution you'd like**
On resolve, navigate from conversation detail
https://app.chatwoot.com/app/accounts/68045/inbox/16877/conversations/2
to inbox view
https://app.chatwoot.com/app/accounts/68045/inbox/16877

Thanks!

[2022-08-12 10:41] harismateen opened #5257 "Unable to send / receive messages WhatsApp Cloud API"
Hi,
I have successfully got approval on WhatsApp Number, and via postman, I can send message, but when I am trying to connect WA Cloud Inbox under Chatwoot, it is not working, I cant send message / nor receive message inside chatwoot,

![image](https://user-images.githubusercontent.com/38554929/184338194-81fd2c4a-b61c-4883-88b1-b21752893d13.png)

2022-08-12 18:30:44.168 MYTI, [2022-08-12T10:30:44.

[2022-08-12 11:33] grupale opened #5258 "Messenger Integration: Content from Instagram stores permanently"
**Describe the bug**

When a user mention the connected Instagram page in a story, the content of the story is downloaded in Chatwoot, then if the user deletes the story content persists in the platform.
**To Reproduce**

Steps to reproduce the behavior:
1. Go to Instagram with the tester account, add a story and mention the page that is connected to Chatwoot
2. You will see the notification messa

[2022-08-12 12:37] jordan-brough opened #5259 "Feature request: Support for rich text in canned responses"
## Current state

Right now I use rich text in canned responses if I:

* Create a canned message using markdown syntax
* Go to an inbox that support rich text
* Turn off the rich text editor
* Insert the canned message

Recording:

https://user-images.githubusercontent.com/23050/184354205-cb323ea0-2814-41c7-b8f6-7eaf6ed0748f.mov

However, if I turn _on_ the rich text editor, then the canned respon

[2022-08-12 16:18] pucilpet commented on #5128
That's true. But it's annoying to do the workaround every time.

[2022-08-12 19:11] nihey commented on #4166
Any updates on this? It seems like it could be something to do with rails.

Probably mailgun is sending their webhook HTTP requests in a way that it cannot understand.

[2022-08-12 23:23] nsauk opened #5262 "One-click deploy to Heroku fails"
**Describe the bug**

One-click deploy to Heroku fails on the app building.

**To Reproduce**

0. Create and verify (link a bank card) a Heroku account.
1. Go to https://heroku.com/deploy?template=https://github.com/chatwoot/chatwoot/tree/master
2. Fill the 'App name' input.
3. Change a FRONTEND_URL env variable according to your choice.
4. Click on 'Deploy app' button.

**Expected behavior**

App

[2022-08-13 00:04] nihey commented on #4166
FYI: Solved it by adding the URL at the "forward" field in mailgun, just like stated at: https://github.com/rails/rails/issues/45363#issuecomment-1158576615

[2022-08-13 00:59] Promhize commented on #5245
Found `localhost:3000/swagger`

[2022-08-13 00:59] #5245 closed

[2022-08-13 06:46] sojan-official commented on #4166
@nihey  Thanks a lot for posting back the update.

 @yairShiloach Closing this as we have a solution. Please feel free to reopen if it persists.

[2022-08-13 06:49] #4166 closed

[2022-08-13 09:30] madebyjono opened #5263 "SMTP settings not working "ActionView::Template::Error: Missing host to link to!""
**Describe the bug**

In trying to add agents or send password reset emails to the agents, no emails are sent/received.
I'm using zoho's smtp.

In the Sidekiq logs I'm getting Dead jobs with Error messages:

"ActionView::Template::Error: Missing host to link to! Please provide the :host parameter, set default_url_options[:host], or set :only_path to true"

SMTP-related env vals are set as below:

[2022-08-13 12:55] madebyjono commented on #5263
Apparently the same environment variables needed to be added to the worker as well. I did that and didn't get the error messages anymore. But now its showing
"EOFError (end of file reached)"

[2022-08-13 15:55] hugodeco commented on #5150
Its happend on website chat too.
i tried to set welcome message to "Olá", and an error occurs.
ActionView::Template::Error (incompatible character encodings: ASCII-8BIT and UTF-8):

setting to "Olah !" works.

[2022-08-13 16:08] dpereskokov opened #5264 "Incoming message containing several lines of text not sent to Dialogflow"
If you send not a small message to webchat widget containing several lines of text it is not sent to Dialogflow neither to human agent. It just ignores

**Steps to reproduce the behavior:**
1. open chat widget
2. Type something like:
[code]

3. See nothing happens

**Expected behavior**

This message is sent to Dialogflow

[2022-08-13 17:13] hugodeco opened #5265 "Website Inbox => Get Online Status ?"
Would be greate to have a way to get the online status from Live Chat SDK.
https://www.chatwoot.com/docs/product/channels/live-chat/sdk/setup

We use these status to show or not the chat button.

Online Status => Have Any Agent Available ?

[2022-08-13 17:27] shawshankkumar opened #5266 "[CW-1720] Poor error throwing in conversation filter api"
**Is your enhancement request related to a problem? Please describe.**
https://app.chatwoot.com/api/v1/accounts/{account_id}/conversations/filter When a user hits this route, more often than not the server responds with 500, ISR error. The error should be more descriptive, and proper validation should be put in place to check for attributes, define what the error and help the developer debug the m

[2022-08-13 18:14] iammattmartin commented on #5265
It would be nice if this was natively supported and has been requested before.

[2022-08-13 18:27] hugodeco commented on #5265
Sorry Man ...

https://github.com/chatwoot/chatwoot/issues/2010

[2022-08-13 20:58] sb2050 commented on #1941
+1

[2022-08-14 02:13] madebyjono commented on #5263
Okay don't mind me.
I had set the sender env as MAIL_SENDER_EMAIL instead of MAILER_SENDER_EMAIL.
Check your spelling guys.

[2022-08-14 19:33] HT-Moh opened #5267 "Docker I can not login after upgrading"
After upgrading to the last version, I can not login anymore.
* I pulled the last docker version
* I ran `RAILS_ENV=production bundle exec rails c`

Everything seems to work besides login, the chat from the website seems to be working as well.

![image](https://user-images.githubusercontent.com/34759569/184552006-b3ce92af-bc2c-40b0-94c5-c58bfa295933.png)

[2022-08-15 03:46] harismateen opened #5268 "FB Previous conversations are missing"
Hi,
It seems like for Facebook Channel, we cant see "Previous conversation"
As the screenshot attached, we have closed the conversation, and then started again, and tested three times, but still cant see old convo under "Previous Conversations" Is this expected?

![image](https://user-images.githubusercontent.com/38554929/184578129-59bf7416-ae3d-46ab-96f0-22108fee8d31.png)

[2022-08-15 14:58] ChrisvanChip opened #5272 ""Snooze until reply" on mobile"
In our team, we have to snooze chats until response to keep the inbox clean (it boosts efficiency a lot). Unfortunately, the mobile app doesn't provide this feature in the context menu, which is extremely inconvenient.

**Describe the solution you'd like**
In the chat context menu, there could just be another option to "Snooze conversation until reply".
![SmartSelect_20220815-165539_Chatwoot](http

[2022-08-15 15:00] ChrisvanChip commented on #5272
Also posting this on the mobile app. I don't know which one is preferred, so I'll keep the issue open for now.

[2022-08-15 15:02] ChrisvanChip commented on #5272
Already referenced in [#517](https://github.com/chatwoot/chatwoot-mobile-app/issues/517), closing this one.

[2022-08-15 15:02] #5272 closed

[2022-08-15 15:51] iamsivin commented on #5252
@pranavrajs Tested it and verified

[2022-08-15 16:53] alyssabutler336 opened #5273 "Add enter and exit events when agents enter and exit conversations"
**Is your enhancement request related to a problem? Please describe.**
Not related to a problem

**Describe the solution you'd like**
The enhancement would add enter and exit events when agents enter and exit conversations, with these events being added to the reporting_events database table. This feature would help accurately determine the amount of time the agents spend in converstations (which

[2022-08-16 00:54] iammattmartin commented on #5268
Facebook is one continuous conversation, similar to twitter.

[2022-08-16 00:55] iammattmartin commented on #5268
Facebook is one continuous conversation.

[2022-08-16 04:22] h33raj commented on #5096
Any further updates on this, anyone else facing this issue?

[2022-08-16 04:24] harismateen commented on #5096
@sojan-official Hi sojan - can assist us on above issue please?

[2022-08-16 04:48] sojan-official commented on #5096
@h33raj  it seems like one of the migrations hasn't been run properly. Could you try running `bundle exec rake db:migrate`  in your installation?

[2022-08-16 04:50] sojan-official commented on #5268
as @iammattmartin  mentioned, This is expected behavior for Facebook. Chatwoot maintains only a single thread.

[2022-08-16 04:50] #5268 closed

[2022-08-16 05:34] #5190 closed

[2022-08-16 06:39] tejaswinichile opened #5274 "create new facebook test app and IG integrations"
First create Facebook app with the given steps and do the Facebook channel setup on the new chatwoot self-hosted app:
https://www.chatwoot.com/docs/self-hosted/configuration/features/integrations/facebook-channel-setup

Test the test app if you are able to get the messages in chatwoot from the messenger.

Then follow: https://www.chatwoot.com/docs/self-hosted/configuration/features/integrations/in

[2022-08-16 06:49] #5274 closed

[2022-08-16 09:29] sojan-official commented on #3996
## Proposal  v1

### Acceptance

- Ability to blacklist or block a contact
- Conversations from blocked contacts shouldn't be visible in queues ( muting conversations will prevent this )
- Ability to view blacklisted contacts ( the contacts will still be visible in the CRM module )
- Ability to view conversations from blacklisted contacts ( conversations will be visible in the resolved queue / in

[2022-08-16 09:52] sojan-official opened #5275 "feat: Ability to use Email channel with mail forwarding and SMTP"
@joejordanbrown @0x7466 The current product expectation in Chatwoot is that Email inboxes should be used in either of the following 2 ways

1) Email Forwarding
 - incoming emails come through the forwarded to the email address
 - outgoing emails are sent via the SMTP configuration of the installation

2) SMTP & IMAP
- incoming emails through inbox's IMAP config
- outgoing emails through the inbox'

[2022-08-16 10:08] sojan-official opened #5276 "chore: Remove permission checks for Platform Apps"
PlatformAppPermissible was introduced as an effort to open up the Chatwoot SaaS as a platform for external vendors. Even Since we abandoned the effort, this model remained in the code base and started causing more confusion over the self-hosted installations.  Hence let's remove this model and the associated data to simplify the workflow.

## Acceptance
- Platform Apps should be able to access all

[2022-08-16 10:18] sojan-official commented on #4619
Closed by https://github.com/chatwoot/chatwoot/issues/4619

[2022-08-16 10:18] #4619 closed

[2022-08-16 11:00] voko3456 opened #5278 "support interactive session messages with csml on all channels"
hello right now csml is text base chat bot only and its not look good, can you support interactive session messages on WhatsApp then others channels  with csml

[2022-08-16 11:07] #5213 closed

[2022-08-16 11:28] #4990 closed

[2022-08-16 16:15] MaoBueno commented on #3462
Hello @sojan-official
Is there any update about this contact import issue?

[2022-08-16 17:23] judin opened #5281 "Linux VM installation fails using install.sh script"
Following the instructions https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm on a barebones fresh install of Ubuntu 20.04 on a Linode 8GB.

➥ 1/9 Installing dependencies. This takes a while.
➥ 2/9 Installing databases.
➥ 3/9 Installing webserver.
➥ 4/9 Setting up Ruby
➥ 5/9 Setting up the database.
➥ 6/9 Installing Chatwoot. This takes a long while.
➥ 7/9 Running database migrations.

[2022-08-17 03:51] harismateen opened #5282 "New Langauge to add: Bahasa Melayu"
Hi,

Can we request to add Malaysian local language (bahasa melayu) ?

[2022-08-17 07:25] harismateen commented on #5096
@sojan-official the above solution works but we encountered one more issue now,
We cant add new channel, and network showing 500

PFA as attached screenshot:
![image](https://user-images.githubusercontent.com/38554929/185059414-61c4a29a-ba77-43af-895e-850dd589da2a.png)

[2022-08-17 08:08] vishnu-narayanan commented on #5281
Confirmed Linux installation is breaking for `v2.8.0` install.

ref: https://github.com/chatwoot/chatwoot/runs/7869274506?check_suite_focus=true#step:6:31

[2022-08-17 08:52] vishnu-narayanan commented on #5281
@judin Could you please try this?

[code]

[2022-08-17 09:20] pranavrajs opened #5284 "Chatwook 1-Click Heroku fails deployment"
The Chatwoot 1-Click Heroku install fails at the deployment stage. Could you advise?

[2022-08-17 09:23] pranavrajs opened #5285 "Display Identifier in Contacts"
Show the identifier field in the contact profile.

- A non-editable field on the contact profile would be a good start.

[2022-08-17 09:40] judin commented on #5281
Thanks @vishnu-narayanan. env.example is an empty file. Still the same problems.

I used Ubuntu 20.04 as it was what you used in your example. I can try with Ubuntu 22.04?

[2022-08-17 10:07] sojan-official commented on #5096
@harismateen  make sure the information you provide for the WhatsApp channel is correct.
ref: https://www.chatwoot.com/docs/product/channels/whatsapp/whatsapp-cloud
ref: https://github.com/chatwoot/chatwoot/issues/5094

Closing this issue as original problem is resolved

[2022-08-17 10:07] #5096 closed

[2022-08-17 10:20] vishnu-narayanan commented on #5281
@judin Its `.env.example` under `chatwoot` directory. Could you `cd` after switching to `chatwoot` user?

[code]

[2022-08-17 10:22] vishnu-narayanan commented on #5281
This installer is tested and maintained on `20.04` as of now. If `22.04` is a requirement, you could try out the docker deployment method.

[2022-08-17 10:29] harismateen commented on #5096
@sojan-official we cant even add any channel now, included webchat, whatsapp etc. it throws 500 error. This happened after we upgraded from 2.5 to 2.7

[2022-08-17 10:32] sojan-official commented on #5096
@harismateen, could you share the logs from the server instead? the current screenshots doesn't have enough information to debug.

[2022-08-17 10:57] pranavrajs opened #5286 "After I create a WhatsApp channel, I'm not able to the API provider used in the inbox"
API provider information is not displayed anywhere in the inbox settings.

[2022-08-17 11:19] vishnu-narayanan commented on #5284
<img width="938" alt="image" src="https://user-images.githubusercontent.com/3526167/185105872-0c7ddb74-6f2d-4017-a12e-fb1abd654989.png">

[2022-08-17 11:32] judin commented on #5281
That fixed in on 20.04 - thank you!

[2022-08-17 11:40] vishnu-narayanan commented on #5284
Fresh deployment failing on `hotfix/fix-linux-install` branch

<img width="890" alt="image" src="https://user-images.githubusercontent.com/3526167/185109719-c0af63fb-d168-4e05-83d2-2b53430ab2d4.png">

[2022-08-17 11:41] vishnu-narayanan commented on #5284
![image](https://user-images.githubusercontent.com/3526167/185109843-92e682ab-511a-496b-b61e-250c6e41f0d9.png)

[2022-08-17 11:42] vishnu-narayanan commented on #5284
Not able to fetch release logs as the app is not created since its a fresh deployment.

[code]

[2022-08-17 14:12] sojan-official commented on #5284
Could this be due to the slug size?

[2022-08-17 15:10] judin opened #5288 "SMTP Email Configuration for Postmark"
**Is your feature request related to a problem? Please describe.**
I'm trying to use the instructions Environment Variables to setup SMTP sending with Postmark but having no luck. I'm familiar with setting up Postmark with different apps and trying to make them work.
https://www.chatwoot.com/docs/self-hosted/configuration/environment-variables/

**Describe the solution you'd like**
Please update t

[2022-08-17 16:36] pranavrajs commented on #5284
@sojan-official I don't think so. We have the same warning in the production instance.

[2022-08-17 16:56] pranavrajs opened #5289 "Remove CSV from attachments in the Twilio WhatsApp Channel"
https://www.twilio.com/docs/whatsapp/guidance-whatsapp-media-messages

![image](https://user-images.githubusercontent.com/2246121/185198250-d7759424-4cfc-46e2-926e-616b14d6fcca.png)

- [ ] Remove the option to upload CSV files in the UI for Twilio WhatsApp channel

[2022-08-17 21:02] iammattmartin opened #5290 "WhatsApp Cloud - No Messages"
Using the Facebook API test, the message is received to the phone but after authorising, linking and setting up the webhook, we never seem to get any incoming messages from Whatapp and any that we initiate are never received.

Logs do not show any clear or obvious fault.

Is there a way to debug this further?

[2022-08-17 21:57] iammattmartin commented on #5290
This can be closed.

There appears to be a delay between adding and messages working. All past sends came through in bulk and are now realtime.

[2022-08-17 21:57] #5290 closed

[2022-08-17 23:00] intelnexoec opened #5291 "[CW-41] Message events are not received: CSAT, Greeting Messages and Business Hours in API Channel"
Hello friends, I have detected that I am not receiving the event messages through an api channel:

*Enable channel greeting
*Enable CSAT
*Business Hours

I want to pass those messages to my app using the api channel but it is not passing it.

Automation works fine!

![image](https://user-images.githubusercontent.com/84194459/185257071-e0ac6d78-53d4-4321-b8a0-a9e7e5c2c18b.png)

Self-Hosted
V: 2.7

[2022-08-18 07:10] vishnu-narayanan commented on #5281
Fixed in Chatwoot Release `2.8.1`

[2022-08-18 07:10] #5281 closed

[2022-08-18 07:31] danielroe opened #5295 "Add CORS headers to CDN serving up SDK and widgets"
**Is your enhancement request related to a problem? Please describe.**

[Partytown](https://partytown.builder.io/) is a mechanism for loading 3rd-party scripts in non-blocking way in a web worker. It has the capacity to _dramatically_ improve user experience.

**Describe the solution you'd like**

The key thing that is required for chatwoot to work out-of-the-box with partytown is for _all assets_

[2022-08-18 07:32] pranavrajs commented on #325
Closing as the bulk actions are live.

[2022-08-18 07:32] #325 closed

[2022-08-18 07:41] pranavrajs commented on #3942
Closing as the bulk actions are merged and completed.

[2022-08-18 07:42] #4951 closed

[2022-08-18 07:48] SHELA opened #5296 "Automation not working with Email Inbox"
Message Event can't find text in content of email.

**To Reproduce**

1. Event -> New message
2. Condition -> Message Content Contains "example"
3. Action -> Assign label

Sent Email with text example and label not assigned.

[2022-08-18 07:49] pranavrajs commented on #5295
@fayazara Please take help from @sojan-official for testing the changes. I believe we can remove the CORS `*` policy added to pack/js. We might need some changes or fixes in the CloudFront config. Please see the reference PR here. https://github.com/chatwoot/chatwoot/pull/1182/files

[2022-08-18 07:51] pranavrajs commented on #5291
@sojan-official Is this happening because we block template messages in the webhooks?

[2022-08-18 07:58] pranavrajs commented on #5282
Closing as the language is added to Crowdin.

https://chatwoot.crowdin.com/chatwoot/ms
https://chatwoot.crowdin.com/chatwoot-mobile-app/ms

[2022-08-18 07:58] #5282 closed

[2022-08-18 07:59] danielroe commented on #5295
I might be misunderstanding, but I think this might be less _removing_ the CORS `*` policy for fonts, but rather extending it to all resources and assets.

[2022-08-18 08:00] pranavrajs commented on #5273
@alyssabutler336 Are you suggesting to capture the amount of time a user spent on the dashboard (on a specific conversation)?

[2022-08-18 08:02] SHELA commented on #5296
also if type multi words. also not working in chats.

[2022-08-18 08:02] pranavrajs commented on #5267
@HT-Moh Did you run the migrations? Please see the step here. https://www.chatwoot.com/docs/self-hosted/deployment/docker#upgrading

[2022-08-18 08:04] pranavrajs commented on #5266
@shawshankkumar, Can you please share the payload you sent to the API?

[2022-08-18 08:07] pranavrajs commented on #5264
@dpereskokov Can you please share a screencast of the behavior and the setup? Also, are you using a self-hosted installation? If so, please share the version of the software.

[2022-08-18 08:09] pranavrajs commented on #5263
@madebyjono Closing it as it seems the issue is resolved, let me know if it is not the case.

[2022-08-18 08:09] #5263 closed

[2022-08-18 08:10] #5262 closed

[2022-08-18 08:12] pranavrajs commented on #5256
@mariusa, I couldn't reproduce this. Would you be able to share a screencast of the behavior?

[2022-08-18 08:14] pranavrajs commented on #5254
@gib1991 This is not supported now. As a hack, you can find a timezone other than yours (Your timezone -02:30) and set the values to 06:30 PM to 11:30 PM.

[2022-08-18 08:15] pranavrajs commented on #5251
@iamsivin Can you please investigate whether this works on not?

[2022-08-18 08:17] pranavrajs commented on #5248
@skyblue Can you please share the logs before and after this line?

[2022-08-18 08:20] harismateen commented on #5282
@pranavrajs is this included in mobile app only or web as well?

[2022-08-18 08:21] pranavrajs commented on #5247
@Paulov25 Can you please share the error in detail and follow the template for reporting the bug? Closing this here as the issue is clear enough to debug it.

[2022-08-18 08:21] #5247 closed

[2022-08-18 08:22] pranavrajs commented on #5244
Closing this in favor of #2983

[2022-08-18 08:22] #5244 closed

[2022-08-18 08:23] sojan-official commented on #5289
link: https://github.com/chatwoot/chatwoot/issues/2971

[2022-08-18 08:23] pranavrajs commented on #5243
Closing this as there has been no activity for the last week. @voko3456 Please feel to reopen with the screencast.

[2022-08-18 08:23] #5243 closed

[2022-08-18 08:24] pranavrajs commented on #5239
Closing this as there has been no activity for the last week. Please feel free to reopen with the requested information.

[2022-08-18 08:24] #5239 closed

[2022-08-18 08:26] pranavrajs commented on #5231
@harismateen Can you please give some more context on the expectation of the export? Are you looking at exporting the messages or do you wish to add some other information?

[2022-08-18 08:30] pranavrajs commented on #5210
@tejaswinichile Can you please take a look at this and see there is a miss in the documentation?

[2022-08-18 08:31] pranavrajs commented on #5207
@sojan-official Is it similar to https://github.com/chatwoot/chatwoot/issues/5291?

[2022-08-18 08:32] pranavrajs commented on #5204
@ammaraslam Thanks, this is a nice suggestion.

[2022-08-18 08:33] pranavrajs commented on #5203
@ammaraslam @substr2837 We don't have the concept of leaving the chat. The customer can be online or offline. They can resolve the conversation themselves if they need. Leaving the conversation is a concept in live-chat providers where the session is not persistent. Let me know what you think

[2022-08-18 08:35] pranavrajs commented on #5195
@tejaswinichile Please prioritize this in the next sprint.

[2022-08-18 08:39] pranavrajs commented on #5282
Both in mobile and web app.

[2022-08-18 08:42] muhsin-k opened #5297 "chore: Ability to change default account"
**Problem**
Suppose a user has two accounts. Whenever the user logs into the account, it is always redirected to the account that the user created first.

**Solution**
Add the ability to set the default user account. So that user can access their favorite account in the dashboard

[2022-08-18 08:45] harismateen commented on #5096
@sojan-official PFA I have attached screenshots here,
Here we tried to add live chat and email channel, and still same error.

Pls do let me know if need more logs
![image](https://user-images.githubusercontent.com/38554929/185352178-58ec642f-5988-44b7-a947-cf5d134eff91.png)
![image](https://user-images.githubusercontent.com/38554929/185352224-929ffc2c-4c01-4b05-923c-f4e2b8aceaf4.png)

[2022-08-18 08:47] harismateen commented on #5231
@pranavrajs correct, we would like to export users, messages (conversations)

[2022-08-18 08:48] sojan-official commented on #5096
@harismateen Seems like some of the migrations haven't been properly applied in your setup. Could you watch the logs when you are running `bundle exec rake db:migrate` and see if shows any errors?

Also did you try restarting the instances after running `rake db:migrate`

[2022-08-18 08:51] pranavrajs opened #5298 "Mark WhatsApp Cloud API as active after successful webhook verification"
**Todo:**
- [ ] Check if we can mark an Inbox as active (Update the UI to add this indicator)
- [ ] Can we use the Facebook Callback to confirm the inbox as active?

[2022-08-18 09:32] skyblue commented on #5248
@pranavrajs  The log is updated.

[2022-08-18 09:44] iamsivin commented on #5251
@pranavrajs Tested locally and verified this issue.
https://loom.com/share/ed0a8c28048b4790844da068af9e776c

[2022-08-18 10:25] mariusa commented on #5256
Hi, thanks for looking into it.
With the last conversation in inbox, at https://app.chatwoot.com/app/accounts/68045/inbox/16877/conversations/2
I clicked Resolve.
Conversation subject disappears from left pane, but remains on the right, and URL remains unchanged.
Attaching 2 screens, right before and after clicking Resolve.

![2022-08-18_13-17](https://user-images.githubusercontent.com/1283842/185

[2022-08-18 10:30] sojan-official opened #5299 "feat: APIs to update contact_last_seen_at"
- [ ] Investigate the feasibility of updating contact_last_seen_at from presence_socket_update ( potentially  enqueue a job  if last_seen_at isn't updated for a while )
- [ ] Add a client API to update the value for contact_last_seen_at

[2022-08-18 10:56] tejaswinichile commented on #5258
@grupale This PR https://github.com/chatwoot/chatwoot/pull/5300  changes would help to get the review, please note this is not merged yet and test cases have not been added yet, but for the review purpose you can cherry pick the commit and move on with the Facebook review process.

The deleted story would look like the below.

<img width="877" alt="Screenshot 2022-08-18 at 4 22 45 PM" src="https:/

[2022-08-18 12:06] sojan-official commented on #5207
@intelnexoec, is your auto responder configured via automation ?

Until the contract explicitly sends a message to your WhatsApp number.  Meta doesn't allow sending any other message content than approved templates. In your case, the content of the autoresponder you have configured doesn't match a valid template content. Since it was triggered before the incoming message from the user, it wasn't d

[2022-08-18 12:17] sojan-official commented on #3850
ref: https://developers.facebook.com/docs/whatsapp/on-premises/reference/contacts
<img width="1104" alt="Screenshot 2022-08-18 at 5 46 54 PM" src="https://user-images.githubusercontent.com/73185/185392619-6d7d13f7-819c-4500-9e55-7db45a7537b6.png">

[2022-08-18 12:17] #3850 closed

[2022-08-18 12:35] sojan-official commented on #4481
### Notes

ref: https://github.com/chatwoot/chatwoot/blob/a788e7ac7ab4b8bc358981124694676b413849fd/app/services/whatsapp/providers/whatsapp_360_dialog_service.rb#L81

- [ ] Replace caption with filename when attachment type is document
- [ ] Send message content as a separate message before the attachment ( since whatsapp doesn't support message and attachments attached together )
- [ ] Implement

[2022-08-18 13:43] sojan-official commented on #5291
at the moment we are only delivering `incoming` and `outgoing` messages in the webhooks.

ref: https://github.com/chatwoot/chatwoot/blob/a788e7ac7ab4b8bc358981124694676b413849fd/app/models/concerns/message_filter_helpers.rb#L8

cc: @pranavrajs

[2022-08-18 13:54] alyssabutler336 commented on #5273
Yes that's what our intent is with this modification

On Thu, Aug 18, 2022 at 3:00 AM Pranav Raj S ***@***.***>
wrote:

--
 <https://www.westparkcom.net>
 <https://www.westparkcom.net/>

<https://www.facebook.com/Westparkcom>
<https://plus.google.com/115805397773385459794>
<https://www.linkedin.com/company-beta/854512/>
<https://twitter.com/westparkcom>

Confidentiality Notice: The information
con

[2022-08-18 13:57] sojan-official commented on #5295
When we serve the widget directly from the Chatwoot Application, we add the `Access-Control-Allow-Origin` headers.

<img width="1253" alt="Screenshot 2022-08-18 at 7 20 55 PM" src="https://user-images.githubusercontent.com/73185/185412668-852ed0d8-99bc-4128-9cb2-e2c9fc5f78cd.png">

But in our cloud version, where the assets are delivered through CloudFront, we are missing these.

<img width="1427"

[2022-08-18 16:46] ammaraslam commented on #5203
@pranavrajs just tested the online/offline feature & its working perfectly.

Closing this, thanks.

[2022-08-18 16:46] #5203 closed

[2022-08-18 18:31] sojan-official commented on #5297
## Note

- Account_user object has an attribute `active_at`.  We need to update the value of this attribute through an API call whenever someone switches the account.
   -  introduce a new API endpoint in auth which accepts the account id and mark the corresponding account user object active at set to the current time
 - The dashboard URLs are based on fetching the first element from the accounts

[2022-08-19 03:43] duongvanphung opened #5301 "feat: Reply box should be cleared when conversation context changes"
**Save content chat in reply chatbox of agent**

I'm agent. When i typing in reply chatbox then click to another conversation
Content of typing is not clear. so I may be mistakenly sent to another conversation

![Screenshot_1](https://user-images.githubusercontent.com/49987543/185538890-f0afe4f5-493c-4671-962b-2c3b8bdedfaa.png)
![Screenshot_2](https://user-images.githubusercontent.com/49987543/185

[2022-08-19 03:51] duongvanphung commented on #5301
@sojan-official Thank you very much!

[2022-08-19 05:57] nithindavid opened #5303 "feature: Ability for agents to create a conversation on behalf of a user"
**Is your enhancement request related to a problem? Please describe.**
As of now in chatwoot, A user has to sent a message through any of channel connected to chatwoot. But a common feature most helpdesks offer is to create a conversation on behalf of users.

**Describe the solution you'd like**
We would need a create conversation button in conversations dashbaord, that lets you choose a contact a

[2022-08-19 07:07] sojan-official commented on #5301
ref: #4876

[2022-08-19 07:28] pranavrajs opened #5306 "Allow agents to navigate between images in a conversation"
Consider a case where the user sent multiple attachments (images/videos/audio). If I open one of the attachments, it will open the viewer, which displays the attachment on full screen. To navigate to the next attachment, I have to close the viewer, scroll down and open the next one again. This is painful and unproductive.

To fix this, we need add an option within the viewer to move to the next/pr

[2022-08-19 09:06] ajay01994 opened #5307 "Knowledge book (links or multimedia )"
**Is your feature request related to a problem? Please describe.**
Most of the time  while onboarding new customer support people  takes plenty of time to give Knowledge transfer on when and how to do what , this is tedious since it is repetitive and most people are busy

**Describe the solution you'd like**
 A Knowledge book attached, eg process flow /Notes attached to situation similar to Google

[2022-08-19 09:34] SHELA opened #5308 "Client API Webhook inbox or contact identifiers"
To Create Contact or Conversation or send New Message from Client API need inbox identifier and contact(source) identifier. that hash-string. not integer.
When we get webhook from API Inbox, no any hash identifier. only integers of inbox or contact.

Maybe need also add to webhook string IDs of inbox and contact to match with external API for example. Now need store hash strings and integers IDs.

[2022-08-19 09:36] SHELA commented on #5308
![image](https://user-images.githubusercontent.com/429667/185590695-fd6c51a5-e395-4545-963e-44033f8481b0.png)
![image](https://user-images.githubusercontent.com/429667/185590777-f5d56157-22da-4052-9a13-a0a1f1a27fc5.png)

[2022-08-19 09:43] #5308 closed

[2022-08-19 10:26] HT-Moh commented on #5267
I did `docker exec 94b35f712f7d  sh -c 'RAILS_ENV=production bundle exec rails c'

[2022-08-19 10:31] judin commented on #5288
Sorry - any chance of an update?

[2022-08-19 11:14] sojan-official commented on #5267
@HT-Moh  you need to do  `docker exec 94b35f712f7d sh -c 'RAILS_ENV=production bundle exec rails db:chatwoot_prepare' instead.

`rails c` is so open up the rails console
ref: https://www.chatwoot.com/docs/self-hosted/deployment/docker#upgrading

[2022-08-19 11:51] HT-Moh commented on #5267
@sojan-official  thanks my bad

[2022-08-19 11:58] RuiGuilherme opened #5310 "add the possibility to get user information when creating common reply."
I need create common reply with user name, example:
[code]

{{username}} is the username that requests the support.
{{usermail}} is the user's email

{{module}} is an example of a custom attribute.

[2022-08-19 13:14] azharumar opened #5312 "Unable to install on Ubuntu 20.04"
**Installation terminates at ➥ 6/9 Installing Chatwoot. This takes a long while.**

While trying to install Chatwoot as per the documentation on Linux VM. The installation terminates at
➥ 6/9 Installing Chatwoot. This takes a long while.

`[4/5] Linking dependencies...
warning " > babel-loader@8.2.2" has unmet peer dependency "webpack@>=2".
warning " > foundation-sites@6.5.3" has unmet peer depend

[2022-08-19 14:00] harismateen commented on #5257
@pranavrajs can check if u can suggest something on this?

[2022-08-19 15:02] joejordanbrown commented on #5275
@sojan-official

Thank you for the reply and the insight into the architecture of these features.

We currently use it in this exact setup as we use a dummy IMAP server that never receives emails and then the correct SMTP info that goes through our outbound relay for sending emails.

All incoming emails go through our relay and are routed via our custom Action Mailbox for ChatWoot.

We've not noti

[2022-08-19 17:53] guiqis commented on #5266
@pranavrajs I'm facing the same issue here. I've tried several payloads, here's the last one:

`[
  {
    "attribute_key": "browser_language",
    "filter_operator": "contains",
    "values": [
      "en"
    ]
  }
]`

And it returned:

`{
    "status": 500,
    "error": "Internal Server Error"
}`

[2022-08-19 18:48] 503Dev opened #5314 "cwctl --upgrade Does Not Upgrade Chatwoot Instance"
**Describe the bug**

Running Chatwoot on Ubuntu installed vi cwctl.  When running `sudo cwctl --upgrade` the process completes and no error is shown however the Chatwoot instance is not actually upgrded.

**To Reproduce**

Steps to reproduce the behavior:
1. Install Chatwoot 2.7.0 on Ubuntu via cwctl
2. Attempt upgrade via cwctl
3. Check Chatwoot version after cwctl completes

**Expected behavior

[2022-08-19 20:11] 503Dev commented on #5312
@azharumar This happened to me when running on a VM with inadequate memory.  2GB was not enough, I upgraded to 3 and the same issue.  Finally, at 4GB+ ram everything runs just fine, installer included.  Your issue could be something else but just a thought.

There may be some alternate ways to control memory usage such as those cited here: https://github.com/rails/webpacker/issues/2143

[2022-08-20 08:51] harismateen commented on #5096
@sojan-official Thanks - this is resolved now :)

[2022-08-20 15:46] curufinwefeanor opened #5315 "Chatwoot does not save informations"
Hello everyone,

I installed chatwoot with docker. After typing docker-compose up,  i was redirected to super-admin page. In here, i wrote related informations and i created super-admin.  After that, i logged in chatwoot, i created agents,inboxes, conversations with no problem. But, when i restarted pc, my conversations,agents,contacts were lost and i  was redirected to super-admin page. How can i

[2022-08-21 07:46] DmitryKrylovv commented on #5314
Confirm. ubuntu 20.04. Not updated

[2022-08-21 10:12] azharumar commented on #5312
@503Dev Thanks for the response. Probably that is the issue. This VM i am trying to install on is a 4 vCPU and 8GB RAM.

The one-click install on Digital Ocean recommends  3 nodes / 8GB RAM / 4 CPU / 120GB Disk. This is a 72$/month instance. That is quiet expensive for us. Kinda dropping the whole plan of Chatwoot.

[2022-08-21 12:14] pucilpet commented on #5312
Chatwoot can run on low resources, too. Try to run it on docker or caprover.

[2022-08-22 02:42] harismateen commented on #5257
@sojan-official hey  sojan - could you suggest something on above?
we are using 2.7, selfhosted, kubernetes

[2022-08-22 04:22] harismateen opened #5316 "Missing Facebook inquiries from chaatwoot if user started with "Get Started" button"
Chatwoot wont show the inquiry if user send message from facebook messenger "Get Started"

![image](https://user-images.githubusercontent.com/38554929/185838989-abd70a6d-3dac-49a8-978b-b359c1042e0a.png)

[2022-08-22 04:46] #4791 closed

[2022-08-22 06:23] pranavrajs commented on #5316
@harismateen I'm not sure what this means. Can you please share a screencast and more details on what exactly the issue is?

- Is your Facebook Developer App approved?
- Do you get the webhook events to Chatwoot? Any logs would be helpful.
- Do you have any other bot integration added to the page other than Chatwoot?

[2022-08-22 06:26] pranavrajs commented on #5315
@curufinwefeanor There is not enough information to debug this. Please use the issue template to report a bug/error. Please share logs, versions, and anything that would help debug this further.

[2022-08-22 06:26] #5315 closed

[2022-08-22 06:38] harismateen commented on #5316
@pranavrajs
Yes, all other facebook inquiries we are receiving,
I had a discussion with Tejaswini over discord - and seems like currently chatwoot wont support the the webhook from facebook when the message start from "Get Started"

https://discord.com/channels/647412545203994635/647729604944986124

[2022-08-22 07:47] vishnu-narayanan commented on #5312
@azharumar The above error is when webpacker runs out of memory during the asset pre-compilation stage.

You mentioned that you are getting this error on 4vCPU/8GB RAM machine. 8 GB RAM should have worked. Could you maybe try again and see if it succeeds?

The 3-node recommendation is for a Kubernetes deployment in DigitalOcean(1-click k8s app).

As @pucilpet suggested, you could use the docker-ba

[2022-08-22 07:55] pranavrajs commented on #5316
@harismateen Thanks, I have updated the title to make it clear.

[2022-08-22 08:34] vishnu-narayanan commented on #5314
@503Dev  @DmitryKrylovv  I am not able to reproduce this from my end. Please find the logs for upgrading a `v2.7.0` instance to the latest `v2.8.1` release using `cwctl`.

[code]

[code]
[code]

[2022-08-22 08:39] vishnu-narayanan commented on #5314
@503Dev @DmitryKrylovv  Could you both share the output of the following?

1. `cwctl --version`
2. `curl localhost:3000/api`
3. `lsb_release -a`
4. `sudo -i -u chatwoot` && `cd chatwoot`
4.1 `git branch`
4.2 `git log`
5. `sudo cwctl --upgrade`

[2022-08-22 09:11] sojan-official commented on #5257
@harismateen  it seems like you are already receiving webhook events from WhatsApp properly. Please see if there are any errors in the logs of your sidekiq workers ?

[2022-08-22 09:14] sojan-official commented on #5310
closing in favor of https://github.com/chatwoot/chatwoot/issues/2084

[2022-08-22 09:14] #5310 closed

[2022-08-22 10:21] arstahl commented on #4432
@pranavrajs @sojan-official Hi just wanted to ask, how to handle this issue?
Could you give an update for?

[2022-08-22 11:31] cadao7 commented on #5314
Not Update for me.
All Log.

`sudo cwctl --upgrade -d
Upgrading Chatwoot to v2.8.1
M       app/javascript/dashboard/assets/scss/widgets/_login.scss
M       app/views/layouts/vueapp.html.erb
M       app/views/super_admin/devise/sessions/new.html.erb
M       public/brand-assets/logo.svg
M       public/brand-assets/logo_thumbnail.svg
M       public/favicon-16x16.png
M       public/favicon-32x32.png
M

[2022-08-22 11:42] cadao7 commented on #5314
cwctl --version
cwctl v2.1.0 alpha build
---------------------------------------------------------------------------------------------
curl localhost:3000/api
{"version":"2.7.0","timestamp":"2022-08-22 11:34:09"}
---------------------------------------------------------------------------------------------
lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 20

[2022-08-22 11:46] gaurav-ingalkar opened #5320 "Your distribution, identified as "jammy", is not currently supported during installation"
**Describe the bug**
Not able to install chatwoot on a fresh ubuntu instance.

ruby version - 3.0.2p107
node version - v12.10.0
os - Ubuntu 22.04.1 LTS

![Screenshot 2022-08-22 at 5 17 37 PM](https://user-images.githubusercontent.com/108403643/185914104-8d4950de-7a9a-443f-b0c0-b2fab5c14cce.png)

[2022-08-22 11:52] sojan-official commented on #5320
@gaurav-ingalkar The installer only supports ubuntu 20.04 at the moment.
https://www.chatwoot.com/docs/self-hosted/deployment/requirements#supported-linux-distribution

[2022-08-22 11:52] #5320 closed

[2022-08-22 12:42] hiagodotme commented on #1101
To solve I created a rule in NGINX if it helps in any way, follow the rule.
[code]

[2022-08-22 12:44] iammattmartin commented on #1101
This is effectively what has already been discussed but the thread is more about adding native support in the UI instead of hard-set support in the proxy.

[2022-08-22 14:52] pranavrajs commented on #5314
@cadao7 It seems like you have made some changes in the code. The upgrade commands won't work if there is a difference in the code. Please remove the changes and try again.

<img width="467" alt="Screenshot 2022-08-22 at 8 21 32 PM" src="https://user-images.githubusercontent.com/2246121/185951477-5046e712-75df-4343-b358-36bc24d4e60a.png">

[2022-08-22 15:15] LaszloDev commented on #4593
Could we get an update on the progress? Thx

[2022-08-22 16:36] pranavrajs commented on #4593
@LaszloDev We are expecting a beta release by 2.9.0. The admin panel is almost complete. Working on the public views now.

[2022-08-22 17:30] jordan-brough commented on #3972
We've had the same issue with accidentally sending messages because of confusion around this setting.

For us, the most important aspect is having "enter to send" stay synchronized between Messages and Private Notes (_independent_ of whether the rich text editor is enabled).

Personally I feel like I've seen `command+enter` (macOS) / `control+enter` (Windows/Linux) as the default shortcut most oft

[2022-08-22 17:38] intelnexoec commented on #5207
@sojan-official OK you are right. She hadn't taken it into account. I activated the message from automation

[2022-08-22 17:54] jordan-brough opened #5322 "feature: Allow changing the contact for a conversation"
We'd like to be able to change the contact for a conversation.

Recent example for us:

* Customer emailed our CEO
* Our CEO replied and cc'd our support (Chatwoot) email address
* Chatwoot thinks the conversation was started by our CEO, when it should really be the customer

If we have customer-based actions, or automations, or filtering they will not work correctly.
We don't want to edit the con

[2022-08-22 18:50] it-starts-here opened #5323 "Feat: Export message threads to CSV"
As I user I want to be able to export message threads as CSV data so I can analyze common patterns and trends in customer enquires to diagnose issues/ enhancements within the data to better improve my CX by fixing common problems.

[2022-08-22 19:47] barroscicero commented on #5284
Same here

[2022-08-22 19:47] telesth commented on #5284
I have the same problem! Any updates?

[2022-08-22 20:57] jordan-brough opened #5325 "Adding a private note clears the CC field in an Email inbox"
If you add a private note to an Email Conversation that has CC fields, the CCs disappear from the Reply form.

<img width="581" alt="image" src="https://user-images.githubusercontent.com/23050/186017031-ae198e59-9478-487d-81b0-184aef23d172.png">

# Configs

Chatwoot version 2.7.0

# Repro

1. Send an email into Chatwoot with some CC addresses on the email
2. Open the conversation in Chatwoot and o

[2022-08-23 02:37] harismateen commented on #5257
@sojan-official This is happening only in Kubernetes Helm chart infrastructure .
Could you guys review this?

FYI, i have tested on non-Kubernetes helm chart setup and it works (ie EC2 ubuntu chatwoot)

[2022-08-23 03:29] pranavrajs commented on #5322
@jordan-brough Happy to take a PR. I guess this is similar to https://github.com/chatwoot/chatwoot/issues/5303

[2022-08-23 03:31] harismateen commented on #5257
the above issue has resolved, the issue was due to worker didn't updated earlier.

[2022-08-23 03:31] #5257 closed

[2022-08-23 03:31] duongvanphung commented on #5301
Thank you!

[2022-08-23 03:35] harismateen commented on #5257
@sojan-official the above issue has fixed - it was due to worker didn't updated.

But we got one more issue, the message is doubling under chatwoot (as attached screenshot)
![image](https://user-images.githubusercontent.com/38554929/186063987-17f5a6e5-8127-4cab-b3f2-d5cfb2988182.png)

[2022-08-23 03:57] jeremylwf commented on #1454
Would be great to support Apple Business Channel

[2022-08-23 03:58] jeremylwf commented on #2336
++1 for this feature

[2022-08-23 07:28] clstroem commented on #4129
Hi @pranavrajs
Any updates on this issue?
Thanks😊

[2022-08-23 08:26] Kr00t commented on #3149
This is VK Group - https://vk.company/en/. Biggest IT company in Russia. By [this](https://vk.com/dev/callback_api) link you`ll find DEV API (can change language at footer)

[2022-08-23 11:17] kunthawat opened #5327 "Get unknown file when share link from facebook messager"
**Describe the bug**

I share a link and a post from Facebook via messager. Chatwoot received this share with Unknown file. I try normal picture and it works. Problem is for share the link and the post only.

**To Reproduce**

Steps to reproduce the behavior:

1.  Go to Facebook
2. Click Share button and share by messager.
3. Chatwoot got the link but as an Unknown file. I also can't click the lin

[2022-08-23 11:20] vishnu-narayanan opened #5328 "feat: abort cwctl upgrade if custom code changes detected"
**Is your feature request related to a problem? Please describe.**
`cwctl` upgrade fails without much context if user has modified the code.

**Describe the solution you'd like**
Abort update if custom code changes are present.

**Describe alternatives you've considered**
n/a

**Additional context**
Related: https://github.com/chatwoot/chatwoot/issues/5314

[2022-08-23 13:05] #2971 closed

[2022-08-23 13:05] #5289 closed

[2022-08-23 13:26] #5328 closed

[2022-08-23 13:54] sojan-official commented on #5207
Closing the issue as the investigation is completed

[2022-08-23 13:54] #5207 closed

[2022-08-23 19:23] #5267 closed

[2022-08-24 05:50] sinapse-i-a opened #5330 "Could not connect to Woot Server, Please try again later"
I recently updated the version of Chatwoot on my server. With that I followed all the steps [LINK ](https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm/)that is in the topic UPGRADIN.

Now I can not login, it is showing the message **Could not connect to Woot Server, Please try again later**, but when in SUPER_ADMIN, it is connecting.

I realized it is related to the USER, because inside

[2022-08-24 10:41] ngalai opened #5331 "ERROR POSTBACK EVENT FOR CARD BUTTON NOT WORKING"
I'm using Payload Samples  in **https://www.chatwoot.com/docs/product/others/interactive-messages#2-form**
with **content_type = cards**
Example:
{
   "content": "card message",
   "content_type":"cards",
   "content_attributes":{
      "items":[
         {
            "media_url":"",
            "title":"Welcome to CamCamShop",
            "description":"Running with Nike Shoe 2.0",
            "

[2022-08-24 10:52] voko3456 opened #5332 "Use expanded layout as the default layout in the mobile view"
hi after i test switch layout on mobile browser the view become more responsive can you make the switch layout as default layout on mobile browser

also there's small bug : when switch layout I'm not bale to scroll down

![image](https://user-images.githubusercontent.com/20530550/186400348-c47f58db-6af6-415a-9cad-a5cbf36a8d0c.png)

[2022-08-24 14:42] lectus-developer commented on #4432
@pranavrajs @sojan-official I'm also waiting for this feature.

[2022-08-24 14:44] samirkatyar commented on #4432
@sojan-official @pranavrajs I'm also waiting for this feature. it will add a lot of value. the chatbot will deliver a smooth response.

[2022-08-24 14:47] arstahl commented on #4432
@CelestineAkpanoko waiting for any response from @sojan-official @pranavrajs

[2022-08-24 15:06] ajay01994 opened #5333 "Fast contact search with meilisearch"
Hi guys, the contact search needs to faster as a  dropdown feature  currently it is like this

![image](https://user-images.githubusercontent.com/31235529/186453790-45cb5042-c814-477d-b209-a0beb5240099.png)

with no dropdown ,can you integrate your search with open source Meiliserach

Link -https://www.meilisearch.com/

[2022-08-24 15:13] sinapse-i-a commented on #5330
Guys, I identified that the problem is in the MIGRATIONS. When you update from an older version to newer ones, you are not executing migrations correctly, which causes a lot of system failures.

Is there a method that I can FORCE migrations to run?

Because I'm doing a manual job of getting the migrations and executing them one by one.

Thanks.

[2022-08-24 15:21] samirkatyar commented on #4432
Hey @arstahl ,
is there any way we can implement delay from Dialogflow?

[2022-08-24 22:26] barroscicero commented on #5284
Guys, I found the issue.

Line 398 on schema.rb file should be replaced from
`t.uuid "uuid", default: -> { "public.gen_random_uuid()" }, null: false`
to
`t.uuid "uuid", default: -> { "gen_random_uuid()" }, null: false`

[2022-08-25 03:00] bphan002 commented on #1042
Can I give this a try?

[2022-08-25 09:10] sojan-official commented on #5284
@barroscicero Thanks for the info we will have a look.

[2022-08-25 09:23] sojan-official commented on #4432
@arstahl @samirkatyar We didn't get the chance to work on this issue further. Will share further update once we make more progress.

[2022-08-25 09:25] sojan-official commented on #5330
@sinapse-i-a You must perform the upgrades sequently for the migrations to work correctly. Could you share the following details

- version you are upgrading from
- version you are upgrading to ?

running `rake db:chatwoot_prepare` should migrate all remaining migrations.

[2022-08-25 09:27] sojan-official commented on #5331
closing in favor of https://github.com/chatwoot/chatwoot/issues/1895

[2022-08-25 09:42] sojan-official commented on #4307
Closing this because of the lack of activity. Lets reopen if the issue persisits

[2022-08-25 09:42] #4307 closed

[2022-08-25 09:44] sojan-official opened #5335 "feat: Automation Event - [Label Added]"
ref: https://discord.com/channels/647412545203994635/1011371202834604063

proposing automation events
- Contact Label added
- Conversation Label added

[2022-08-25 11:16] grupale commented on #5258
Hi @tejaswinichile ! Thanks for your comment, how should be the procedure to do that cherry pick of the commit? I've never done it. When do you think it will be merged to production? Thanks

[2022-08-25 14:16] drexlma opened #5336 "Rename "Bot""
Free Name für "Bot"
<img width="374" alt="Bildschirmfoto 2022-08-25 um 16 15 58" src="https://user-images.githubusercontent.com/7121202/186689350-2531976e-cc3a-4f83-999d-2753b36c8768.png">

[2022-08-25 14:24] drexlma opened #5337 "Bug: Inbox -> Required Field enable not work"
It is not possible to activate a required field in an inbo
<img width="977" alt="Eingefügtes_Bild_25_08_22__16_23" src="https://user-images.githubusercontent.com/7121202/186691299-40803365-14ad-4250-b63f-22642a2db988.png">
x

[2022-08-25 20:39] vishnu-narayanan commented on #5284
[code]

https://help.heroku.com/RSBRUH58/removal-of-heroku-free-product-plans-faq

[2022-08-25 20:45] vishnu-narayanan commented on #5284
#5338 failing
<img width="855" alt="image" src="https://user-images.githubusercontent.com/3526167/186765259-219e5d69-375f-4a11-8805-336b076d7fb0.png">

[2022-08-26 04:05] harismateen opened #5339 "Broadcast messages to all channels"
Hi,
Can we request to have broadcast for all channels (which means that not limited to SMS only, but for WhatsApp, Facebook, API Channel etc)

![image](https://user-images.githubusercontent.com/38554929/186818007-4302ca66-3da9-4775-a59d-80a2ba3e059a.png)

[2022-08-26 06:35] cod3master opened #5340 "Make Dialogs Persistent (no autoclose on outside click)"
**Is your enhancement request related to a problem? Please describe.**
Dialogs close automatically when clicked outside, it's really annoing when entering data and it closes itself just because of a missclick. It happends a lot when I select something from a input field and the mouse goes outside of the dialog.

**Describe the solution you'd like**
Make all modal dialogs persistent

[2022-08-26 17:38] guiqis commented on #5291
CSAT would be really import for me! The token or the link for the CSAT would be great!

[2022-08-26 21:19] lowlyocean opened #5344 "Support easy deployment on Heroku competitors"
**Is your feature request related to a problem? Please describe.**
Heroku will be demising their [free compute](https://techcrunch.com/2022/08/25/heroku-announces-plans-to-eliminate-free-plans-blaming-fraud-and-abuse/), so any hobbyists deploying Chatwoot to Heroku via [this approach](https://github.com/chatwoot/chatwoot#heroku-one-click-deploy) will be stuck looking for an alternative.

**Describ

[2022-08-28 07:56] fullbright commented on #5284
Same issue here.

[2022-08-28 20:08] brundles commented on #2011
Hi @pranavrajs - how is it going with this issue? Thank you :-)

[2022-08-29 03:33] sanjayws opened #5345 "Question: Housekeeping suggestions?"
Hi,

Can please suggest where and how we can do housekeeping such as;
1) Attachements
2) Chats
3) Logs
4) Others

For older than n days?

Thanks

[2022-08-29 07:10] #5286 closed

[2022-08-29 08:45] sojan-official opened #5347 "feat: Activity Log"
As an administrator, I want to see the activity log of the customer support agents using the Chatwoot Installation.
This feature will give better insights into the activities and more accountability for the actions.

## Notes
- [ ] Agent online offline status: ref: https://discord.com/channels/647412545203994635/719548300868452362/1012569228517326899

[2022-08-29 09:07] sojan-official commented on #5147
@chenlei9907 apologizes for missing out on this issue. are you still facing it?

There is no difference between the configuration apart from that environment variables have higher priority than the installation config.

[2022-08-29 09:09] sojan-official opened #5348 "feat: Websocket updates for Inbox updates"
Receive inbox update WebSocket events so the state can be refreshed when admin changes inbox settings

[2022-08-29 09:15] sojan-official commented on #5298
### Notes
- [ ] Introduce an attribute to the inbox marking whether it's active
- [ ] Mark the attribute active when a successful Websocketevent is received from the external channel [ Facebook, Instagram, Whatsapp, Line, Telegram, etc.]
- [ ] Modify the Inbox creation last step to redirect the user to the newly created inbox only after it has been marked as active. Provide further faq on if the a

[2022-08-29 09:49] sojan-official commented on #5336
closing in favor of https://github.com/chatwoot/chatwoot/issues/3531

[2022-08-29 09:49] #5336 closed

[2022-08-29 11:19] voko3456 opened #5350 "WhatsApp replay mention not showing"
hi if i send message then the client mention it as replay its not showing in conversation

[2022-08-29 12:07] vishnu-narayanan commented on #5312
Please reopen if the issue persists.

[2022-08-29 12:07] #5312 closed

[2022-08-29 12:07] vishnu-narayanan commented on #5314
Please reopen if the issue persists.

[2022-08-29 12:07] #5314 closed

[2022-08-29 12:36] brundles opened #5351 "Make it easier to set up integrations such as Facebook channels, without having to use environment variables"
**Is your enhancement request related to a problem? Please describe.**
It is frustrating to have to add information to environment variables when you set up new channels, url, etc.

**Describe the solution you'd like**
I understand why the URL as an example is required, but setting up a Facebook Channel as an example should be possible to do only via the setupflow and not require to restart a serv

[2022-08-29 17:09] shivamsinghchahar commented on #5299
Can I take this up?

I did some investigation and found:
- We will need to modify the `RoomChannel#update_presence` method. We can enqueue a job to update `contact_last_seen_at` if the contact is online.
- There is already an API (`Api::V1::Accounts::ConversationsController#update_last_seen`) to update `contact_last_seen_at` which gets triggered whenever a new message is sent from the chat widget.

[2022-08-29 18:00] sojan-official commented on #5337
@drexlma, could you check the browser console and see if there are any errors?
please also provide the chatwoot version that you are using

[2022-08-29 20:52] rihards-simanovics commented on #1125
There should also be a consideration for creating backups using CLI command (for automation) or an ability to use curl or wget to securly download backups using the web protocols (http|https).

In the mean time is there a crude but a way to create backups, meaning specifc folders, files (of course DBs) etc?

[2022-08-30 05:06] Jatin-MYST opened #5354 "Add AWS SNS support for SMS channels"
**Is your enhancement request related to a problem? Please describe.**
Our company already uses AWS quite a lot and we would like to use its SNS service for SMS channel.

**Describe the solution you'd like**
Please add AWS SNS as a sms channel source alongside Twilio and the others.

[2022-08-30 06:09] #5284 closed

[2022-08-30 08:14] brundles opened #5356 "It is not possible to have internal inbox name, without giving the chatwidget the same name."
**Describe the bug**

When I set up an inbox, the inbox name i see internally and the name that is displayed to the customer is the same.

This is very annoying, as I cannot as an example define "Support Germany" and "Support UK" in my settings, without my UK customers having to see "Support UK" in the chat widget window.

This is a small thing, but extremely annoying as it prevents us from gettin

[2022-08-30 08:19] brundles commented on #4228
I am not sure if my https://github.com/chatwoot/chatwoot/issues/5356 is a duplicate of this?

I 100% agree that we need a separation of the internal inbox name and the public displayname. A fallback as @pranavrajs suggests is of course even better.

[2022-08-31 15:02] brundles commented on #3997
I agree - this is very much needed

[2022-08-31 15:02] brundles commented on #4026
Looking forward to this. Do you have any ETA?

[2022-08-31 19:01] #3429 closed

[2022-08-31 23:24] HeVictor commented on #3620
Hi again, firstly a disclaimer that I'm working through this a bit slowly as I'm quite new to push notifications and am currently not able to dedicate too much time for this each day, hope that won't be a problem.

From my research on the issue it does seem like Safari will eventually support the standard `webpush` API from Safari 16 onwards, so I assume that in the future when the minimum support

[2022-09-01 00:05] glauberssoutodossantos opened #5360 "hide the inboxes bar"
**Is your enhancement request related to a problem? Please describe.**

Hello,

I would like the bar that shows the inboxes and bookmarks of the first screen to be hidden.

For accounts that only have 1 inbox and few tags this ends up polluting the screen and taking up a lot of space unnecessarily.

**Describe the solution you'd like**

You can collapse and expand the bar according to the user's p

[2022-09-01 00:08] glauberssoutodossantos opened #5361 "Whatsapp message campaign"
**Is your feature request related to a problem? Please describe.**
Today in chatwoot we can create a campaign for sending bulk SMS messages. This in the USA may even be valid, but in countries like Brazil WhatsApp is much stronger, practically no one uses SMS.

**Describe the solution you'd like**

Being able to bulk send a pre-approved WhatsApp template, according to the segmentation of my contac

[2022-09-01 00:12] glauberssoutodossantos commented on #5350
Hi,

I belive @voko3456 is talking about sothing like the imagens below. It will be very nice if chatwoot could suport replay messages like WhatsApp.

![image](https://user-images.githubusercontent.com/99494469/187806243-ec8be98a-3bff-4681-9105-3e72ae67c409.png)

![image](https://user-images.githubusercontent.com/99494469/187806259-776954e9-37e4-457d-9d43-c06bd2e4d0a4.png)

[2022-09-01 00:26] glauberssoutodossantos commented on #5350
Just out of curiosity, I've been testing and at least the WhatsApp Businnes cloud API sends the context field with the ID of the replied message.

So the field in blue highlighted below is the message I replied about. The one in red is the current message.

In this specific case Chatwoot should save all WhatsApp message IDs (I don't know if this is done).

And you also have to think about how not

[2022-09-01 02:52] ammaraslam opened #5362 "Reassign chats of DC agents."
**Is your feature request related to a problem? Please describe.**

Suppose there are few agents handling chats but one had Internet disconnect issue, now administrator doesn't know who got disconnected & what happened to the chats which were being handled by that agent. Since we know, no one waits more than a minute on the web if there's no reply from the other side considering chats are meant fo

[2022-09-01 06:02] kubre opened #5364 "Tab Order in More Details Panel"
For only a single account Order in which tabs are shown is different. Like the previous conversation is last for everyone else but its the second one for a single account

Not even sure how to reproduce this cause it's only happening for a single account

**Expected behavior**

Order for tabs should be consitant

**Screenshots**

![image](https://user-images.githubusercontent.com/20380094/18784217

[2022-09-01 06:03] kubre commented on #5364
This is consistent no matter which Computer you open it on or what browser you use

[2022-09-01 09:08] iamsivin commented on #5325
@pranavrajs Verified this issue, I Will add a fix for it.

[2022-09-01 10:38] jochenstu opened #5367 "Videos sent over WA (with WhatsApp Business API) does not arrive at recipient"
**Describe the bug**

Using the Chatwoot Cloud, WhatsApp Business API and either, the Chatwoot web client or android app, a test video (.mp4, 3MB, recorded with the stock Camera App on a Pixel 4a, Android 13) will not arrive at the WA client, while images and text both work.

There is no error message. The video upload to chatwoot works (i.e. when I use the chatwoot app to send the video, I can do

[2022-09-01 11:16] sojan-official commented on #3620
@HeVictor Thanks a lot for the investigation. I think it's not worth the effort to support the older APIs since Safari 16 is close to the official release. We can close this issue out after testing the web push with Safari 16 and make any changes if required.

[2022-09-01 11:21] sojan-official commented on #5364
@kubre  This is expected behavior. The sidebar panels can be reorganized via drag and drop. So the account owner should have reconfigured the positions. Feel free to reopen the issue if you find any other disparities.

https://user-images.githubusercontent.com/73185/187901990-3cb79a18-f8b0-412a-881a-8e87335cd615.mov

[2022-09-01 11:21] #5364 closed

[2022-09-01 11:23] kubre commented on #5364
I've never known this. Maybe the account has done it by mistake. Anyway thanks @sojan-official for your quick response

[2022-09-01 11:30] sojan-official commented on #5350
Let's track the conversation over https://github.com/chatwoot/chatwoot/issues/3627

[2022-09-01 11:30] #5350 closed

[2022-09-01 11:42] #5285 closed

[2022-09-01 12:16] #5288 closed

[2022-09-01 14:18] aslamabbas opened #5372 "Easier navigation of tickets through buttons or shortcuts"
**Is your feature request related to a problem? Please describe.**
Going from ticket to next ticket in the new wider Layout means, I have to click on Back and then select the next ticket.
Even so, there is a small chance that I may miss a ticket during such a selection due to human error.

In the narrow (Live chat style) layout, navigation is easier since the tickets always remain on the sidebar.

[2022-09-01 14:24] aslamabbas opened #5374 "Show inbox avatar as icon under Conversations"
**Is your enhancement request related to a problem? Please describe.**

Inbox avatars help to easily identify between inboxes. They should be put to better use by showing them when in the Conversations page.

The inbox avatar that is added here,
<img width="627" alt="Screenshot 2022-09-01 at 7 51 11 PM" src="https://user-images.githubusercontent.com/1219448/187938241-4e6fff2a-50a5-4264-84cd-623d80

[2022-09-01 14:49] hugodeco commented on #4975
For now, would be great if we can search for an "NOT CLOSED" conversations via API.
Today we have to retrieve all conversations of an specific client and than filter a "NOT CLOSED" status to post the new message.
As "NOT CLOSED" means all status code that not means a resolution for a conversation, like "delayed,pending,open" ....

[2022-09-01 15:12] jacsonsantospht opened #5375 "Wrong file type in message when cloud storage is true"
**Describe the bug**

A bug is occurring when I send an audio message.
In tests the bug occurs when DIRECT_UPLOADS_ENABLED is true.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to super_admin
2. Click on installation_configs
3. Alter DIRECT_UPLOADS_ENABLED to true
4. Go to conversations
5. Send audio message
6. See error (the content type is audio but it shows image)

**Expected behav

[2022-09-02 06:31] saraiyakush opened #5380 "Contacts Search API does not search by email"
**Describe the bug**

As per the [documentation of Contacts Search](https://www.chatwoot.com/developers/api/#operation/contactSearch) endpoint, the query parameter `q` can search using contact `name`, `identifier`, `email` or `phone number`. But when I try to search by `email` the api returns 0 results. The api is able to return results if I search by name instead.

**To Reproduce**

Steps to repr

[2022-09-02 12:40] voko3456 opened #5387 "when i delete inbox all automation rules with this inbox is deleted"

[2022-09-02 12:41] #5387 closed, assigned to nobody

[2022-09-02 13:10] BhavyaT-135 commented on #5332
Hi @pranavrajs, can I take up this issue if no one else is working on it? 😊

[2022-09-03 07:03] pranavrajs commented on #5332
@BhavyaT-135 Sure, please go ahead.

[2022-09-03 14:39] nosovk commented on #3870
@sojan-official if it's been removed from 2.8.0 - any plans to include it to 2.10.0?

[2022-09-05 08:21] jeremylwf commented on #5361
+1

[2022-09-05 09:25] iammattmartin commented on #5374
I'd disagree on this. We have 4 inboxes per brand via different channels, all with the same avatar. That would get very confusing.

[2022-09-05 10:38] #5325 closed

[2022-09-05 11:25] muhsin-k commented on #5380
We have checked this from our side, and it is working fine. https://www.loom.com/share/7eefd835579a4e3686c07be70369b1f4
Could you please share screencast?

[2022-09-05 11:48] saraiyakush commented on #5380
Here is the screencast. My first attempt of searching by name works, and the next attempt of searching by email does not.

https://user-images.githubusercontent.com/52939390/188441913-fcbd5ec5-1fe5-4ca9-aa74-f82ca2abc886.mp4

[2022-09-05 16:00] mvaqasuddin opened #5394 "Can I use other API instead of using Twillio?"
**Can I use another API instead of using Twillio?.**
As per my project requirement, I need to integrate  gupshup.io. How I can integrate that one?

Thanks

[2022-09-05 17:17] sojan-official commented on #5394
https://github.com/chatwoot/chatwoot/discussions/2759

[2022-09-05 17:17] sojan-official commented on #5394
https://github.com/chatwoot/chatwoot/discussions/2759

[2022-09-05 17:17] #5394 closed

[2022-09-05 17:18] sojan-official commented on #5394
https://github.com/chatwoot/chatwoot/discussions/2759

[2022-09-05 17:29] sneko opened #5395 "Cordova/Capacitor plugin (or does it exist?)"
Hi,

I would like to integrate Chatwoot into an hybrid application but I was not able to find an official plugin nor someone in the community having done such a plugin.

Do you know if that's something on the roadmap? Or if you already saw somewhere?

If not, I guess it can become a feature request :)

Thank you,

[2022-09-06 03:37] pranavrajs opened #5396 "Emoji picker is not working on the expanded layout"
<img width="346" alt="Screenshot 2022-09-06 at 9 03 04 AM" src="https://user-images.githubusercontent.com/2246121/188541492-b8c1740c-80ae-4710-a841-72cdc1ce5056.png">

[2022-09-06 05:11] #5396 closed

[2022-09-06 08:21] sojan-official opened #5401 "feat: Ability to filter conversation API via status"
For now, would be great if we can search for an "NOT CLOSED" conversations via API.
Today we have to retrieve all conversations of an specific client and than filter a "NOT CLOSED" status to post the new message.
As "NOT CLOSED" means all status code that not means a resolution for a conversation, like "delayed,pending,open" ....

_Originally posted by @hugodeco in https://github.com/chatwoot/chat

[2022-09-06 08:37] sojan-official commented on #5380
@saraiyakush, thanks for the screencast. We will take a look.

[2022-09-06 08:41] sojan-official commented on #5395
At the moment, we don't have a Cordova plugin.
there is a flutter SDK if you are interested: https://github.com/chatwoot/chatwoot-flutter-sdk

[2022-09-06 11:48] QKJIN opened #5402 "I get an error when I put the website widget script to my website."
I have deployed chatwoot in my vm server. It's ok. And I tested in a blank index.html page, it's ok. It's amazing to chat with server agent. But when I put the website widget script to an index page in a complex website, I got an error. Below is the error in detailed.

Uncaught TypeError: i[u].split is not a function
    at Function.i [as set] (js.cookie.js:103:66)
    at B (IFrameHelper.js:37:11)

[2022-09-06 12:43] kubre opened #5403 "Notification Sound does not play sometimes"
**Describe the bug**

When you've selected that you want to be notified by notification sound by either mine or all in profile settings.
The notification sound only plays when the Chatwoot Tab is not in focus and the new conversation comes in but when the tab is in focus or if you're inside a chat then the sound does not play this happens consistently even on the latest version.

**To Reproduce**

[2022-09-06 14:21] sojan-official opened #5404 "feat: Ability to record voice messages from the web widget"
ref: #https://github.com/chatwoot/chatwoot/pull/4064

At the moment, chatwoot lets agents record voice messages. Customers should also be able to send a voice recording to the agents from the chatwoot web widget.

[2022-09-06 15:35] WallacyBR opened #5405 "Include the atendee's name in messages"
**Is your feature request related to a problem? Please describe.**
Sometimes it's important for the customer to know who is participating in their chat, especially when have a transfer between sectors.

**Describe the solution you'd like**
Simply including the atendee's name at the top of each message, like this:

**Describe alternatives you've considered**
It's the most simple and effective solut

[2022-09-07 06:52] #4595 closed

[2022-09-07 07:02] aslamabbas opened #5406 "Search by conversation number"
**Is your enhancement request related to a problem? Please describe.**
Sometimes, we wish to search by conversation number.

**Describe the solution you'd like**
Searching by #100 in the top search bar or in shortcut COMMAND + K, for 100 should show the 100th ticket.

**Additional context**
This became necessary, when we share the whole ticket link to our team. In this scenario, agents share the l

[2022-09-08 04:03] shyjal commented on #5374
For managing multiple inboxes, different icons are much needed.

[2022-09-08 05:24] aslamabbas commented on #5374
@iammattmartin Currently the icons are the same. It's the email icon.

That's where we face confusion. Icon+text combo is the best way to distinguish inboxes.

[2022-09-08 11:24] QKJIN commented on #5402
It seems some conflict with a js file. I have found how to solved them. Markup here.

[2022-09-08 17:33] aslamabbas opened #5408 "Code font needs formatting inside Chatwoot"
**Describe the bug**
<img width="1047" alt="Screenshot 2022-09-08 at 10 58 53 PM" src="https://user-images.githubusercontent.com/1219448/189187427-63cf57fb-7ffa-4e4e-8dd5-edfbbd84ed8f.png">

I have added the HTML code in the mail using code font in the editor.

The message when it gets sent looks like:

<img width="656" alt="Screenshot 2022-09-08 at 10 59 02 PM" src="https://user-images.githubuser

[2022-09-08 20:49] ankwad opened #5409 "SMTP Configuration not working"
tried all things.. but cannot configure SMTP

Can someone tell how to go about it..

keep getting server 500 error

[2022-09-08 22:41] WevrLabs opened #5410 "bug: Dialogflow does not send response when message is not text"
**Describe the bug**

Noticed that when a user sends a type of message other than text (image, file, audio, etc) in a conversation being handled by Dialogflow, then it does not send a response to the user, leaving them hanging and confused.

**To Reproduce**

Steps to reproduce the behavior:
1. Setup Dialogflow on an inbox and initiate a conversation (or change status of existing to pending).
2. S

[2022-09-08 23:44] rsebi opened #5411 "Fresh install on Ubuntu 20 failing"
**Describe the bug**

Trying to deploy chatwoot on ubuntu vm

**To Reproduce**

Run official install script

**Expected behavior**

Deploy chatwoot

**Screenshots**

<img width="949" alt="Screenshot_116" src="https://user-images.githubusercontent.com/102179977/189411247-48ff19d6-7a2d-488b-aa53-fde1766afe3f.png">

**Server logs**

Some error has occured. Check '/var/log/chatwoot-setup.log' for deta

[2022-09-09 09:39] Hricha-Shandily opened #5412 "Redirect changelog.chatwoot.com to chatwoot.com/changelog"
Hey @vishnu-narayanan
Could you take care of this? Please feel free to change the sprint, weight and everything according to your judgement.

[2022-09-09 13:03] nithindavid opened #5413 "enhancement: Include search by email address for message search"
**Is your enhancement request related to a problem? Please describe.**
Currently the top search bar works only for message content. It would be really helpful if one could search with an email address to get the mail address is sent/received/involved to make the best out of search

<img width="596" alt="image" src="https://user-images.githubusercontent.com/1277421/189356005-6d82fff8-84be-4b3d-b4c6

[2022-09-09 15:26] SpiffySCC opened #5414 "Merging Conversations"
**Is your enhancement request related to a problem? Please describe.**
No, currently when multiple conversations come in regarding the same issue there is no way to merge all of them together so that you have all of the documentation in one place.

**Describe the solution you'd like**
Create functionality to select a "Merge" action, this will pull other conversations associated to the same contact

[2022-09-09 16:43] darkpixel opened #5415 "My recent upgrade experience"
I'm up and running now, but the upgrade was a nightmare.

I figured I would toss some information into a bug report to help others that might be running into similar issues and/or the devs might want to make a few tweaks.

I was running Helm Chart 0.8.9 and tried to upgrade all the way to 1.0.2.
The migrate job kept failing.

I started stepping through the updates:
* 0.8.9 to 0.9.0 succeeded
* 0.9

[2022-09-09 17:52] #5411 closed

[2022-09-09 21:26] Vadorequest opened #5416 "Add "refreshSettings" in SDK API (JS)"
**Is your feature request related to a problem? Please describe.**
I need to change the settings of chatwoot depending on the page where it runs, because I want to change the title dynamically.
While I can create a `window.chatwootSettings` that is different for each page, chatwoot doesn't watch those changes and is unaware of the new settings.

**Describe the solution you'd like**
A `refreshSetti

[2022-09-11 16:15] shivamsinghchahar commented on #5401
@sojan-official Can I take this up?

Also, just to confirm, do we need to return all conversations (open, pending, and snoozed) except resolved ones?

[2022-09-11 21:40] hugodeco commented on #5401
for single thread conversations, like whatsapp and telegram, every time that the client respond a thread "not resolved" means an addicted to same conversation:
if "open": means normal flow of a conversation;
"pending": means waiting for something or a message from client;
"snoozed": means that is it for now and talk back on ...... , but the client can continue the thread when they want to.

so, in

[2022-09-11 21:46] hugodeco commented on #5401
better to use "unresolved"

[2022-09-11 21:52] hugodeco commented on #5401
the "delayed" status too, i'm not sure what this means but it comming from api and its important too.

[2022-09-12 04:26] jayachandrab opened #5419 "Chatwoot-Telgram integration chatwoot is running on cloud plotform but after integrating telegram bot messages are not coming and going"
Chatwoot-Telgram integration chatwoot is running on cloud platform but after integrating telegram bot messages are not coming and going. Please do the needful

[2022-09-12 04:45] sojan-official commented on #4147
https://github.com/chatwoot/chatwoot/pull/4160

[2022-09-12 04:45] #4147 closed

[2022-09-12 09:36] WevrLabs opened #5422 "enhancement: Disable notifications from conversations in the Pending status"
## Is your enhancement request related to a problem? Please describe
When changing status of a conversation to pending and handing it over to bot, agent still gets notifications of messages received in that conversation if assigned to them (which is kinda distracting and defies the principle idea of handing a conversation to bot), so another step has to be made by the agent more than simply changi

[2022-09-12 12:33] voko3456 opened #5424 "automation message created event content type is not case sensitive"
hello i test the automation automation message created event and i set content type in uppercase HELLO but its always change the text after save to lower case , it should be i can write upper and lower case like this HeLLo

[2022-09-12 15:30] lwagner-getmomo opened #5425 "Pre Chat Form will ask for full name even it is already provided with `setUser()`"
**Describe the bug**

The Pre Chat Form on the Website will still ask for `fullName` even though `setUser()` has been called correctly. In this case the contact being created by `setUser()` has a `fullName` populated, taken from the `name` tribute passed into `setUser()` (as expected).

Hiding the `emailAddress` Pre Chat Form field for logged in users works as expected.

**To Reproduce**

Steps to

[2022-09-13 08:01] chinyaev opened #5427 "Add Unread feature"
Hi! I'd like to suggest adding a function to make the conversation **unread**. Sometimes I don't want to answer right away or I want my employee to answer, when I click on a conversation, it becomes **read**, I need to make it possible to make it **unread** again.

[2022-09-13 10:41] vishnu-narayanan commented on #4998
Please reopen if the issue persists.

[2022-09-13 10:41] #4998 closed

[2022-09-13 12:23] sentry-io[bot] opened #5428 "ArgumentError: 'unsupported_type' is not a valid file_type"
Sentry Issue: [CHATWOOT-T9](https://sentry.io/organizations/chatwoot-p3/issues/3457631234/?referrer=github_integration)

[code]

[2022-09-13 12:44] pranavrajs commented on #5415
@darkpixel Sorry about the experience. @vishnu-narayanan Can you please take a look at this issue and see if there are any improvements we can pickup in the helm-charts deployment?

[2022-09-13 12:57] pranavrajs commented on #5425
@iamsivin Can you please investigate this issue?

[2022-09-13 12:58] pranavrajs commented on #5424
@voko3456 The queries are case insensitive. For eg: Hello and HELLO are treated similar. Can you please share a use-case where this is required?

[2022-09-13 13:14] pranavrajs commented on #5412
This was easier to do than to explain. Closing as completed.

[2022-09-13 13:14] #5412 closed

[2022-09-13 13:37] sentry-io[bot] opened #5429 "NoMethodError: undefined method `destroy!' for nil:NilClass"
Sentry Issue: [CHATWOOT-4V](https://sentry.io/organizations/chatwoot-p3/issues/3272225503/?referrer=github_integration)

[code]

[2022-09-13 13:38] sentry-io[bot] opened #5430 "TypeError: Cannot read properties of null (reading 'replace')"
Sentry Issue: [CHATWOOT-WH](https://sentry.io/organizations/chatwoot-p3/issues/3479116548/?referrer=github_integration)

[code]

[2022-09-13 13:41] sentry-io[bot] opened #5431 "SocketError: getaddrinfo: No address associated with hostname"
Sentry Issue: [CHATWOOT-G2](https://sentry.io/organizations/chatwoot-p3/issues/3419373296/?referrer=github_integration)

[code]

[2022-09-13 15:07] vishnu-narayanan commented on #5415
@darkpixel Apologies for the inconvenience, and thank you for taking the time to write this up and share.

There were some breaking changes due to switching to a recent version of Postgres and Redis. We are using the `postgres` and `redis` charts packaged by Bitnami which had a couple of breaking changes between versions.

This was mentioned both under the upgrade section on the website (https://w

[2022-09-13 15:32] iamsivin commented on #5425
@pranavrajs Tested it and verified this issue.
https://www.loom.com/share/2f318850d17e4983876881abc950d29c

If we set the name and email through setUser, and the Pre Chat Form is enabled it will still ask again for the name and email.

[2022-09-13 16:43] sojan-official commented on #5401
@shivamsinghchahar, rather than introducing a `not_closed` status. let's look at making   `ConversationFinder` accept an array of statuses instead of a single value. So that the API can act more flexibly, as well as satisfy this use case.

Also, I think @hugodeco is looking at the endpoint of contacts/id/conversations.

## Changes Required
- [ ] Validate if the conversation finder can accept an ar

[2022-09-13 18:50] vagner-dias opened #5432 "Unable to create automation rule based on contact conditions"
Hello,

I am currently using the chatwoot docker installation (V 2.8.1) - self hosted - Installed from scratch 5 days ago.

I found this feature improvement (https://github.com/chatwoot/chatwoot/pull/4230) to create automation rules based on contact conditions which has been implemented in March/2022, but I could not find a way to use it in my installation.

Is this a restricted feature? Or can I

[2022-09-14 04:18] harismateen opened #5433 "WhatsApp Cloud repeated messages issue"
*Describe the bug*

Repeated message

*To Reproduce*

Steps to reproduce the behavior:
1. Go to 'Whatsapp cloud inbox'
2. User send picture
5. See error in the inbox

*Expected behavior*

It does not repeat the same message.

*Screenshots*
as attached
![image](https://user-images.githubusercontent.com/38554929/190058423-ad057abb-7709-455a-bdcf-9b2478a0b6e3.png)
![image](https://user-images.githubu

[2022-09-14 11:54] sojan-official commented on #5085
This should be resolved in https://github.com/chatwoot/chatwoot/pull/5236.
Since we fixed the issues with dependant, destroy of conversations and messages

[2022-09-14 11:54] #5085 closed

[2022-09-14 12:03] sojan-official commented on #5433
@harismateen, Could you check your server logs for any errors? We can't seem to reproduce this issue in our installation.

[2022-09-14 12:04] sojan-official commented on #5419
@jayachandrab, Could you provide a screencast of the behavior?

[2022-09-14 12:16] jayachandrab commented on #5419
as shown in the above screen shot there is not send message option or not receiving any messages sent to bot by other users.

[2022-09-14 13:01] sojan-official commented on #5419
@jayachandrab, you can verify whether your telegram bot is successfully connected to the chatwoot installation by calling the following URL

[code]

If successfully connected,  it will return your installation/webhooks/telegram.
if it is not connected, try deleting the inbox and reconnecting again.

ref: https://www.chatwoot.com/docs/contributing-guide/telegram-channel-setup

[2022-09-14 13:07] jayachandrab commented on #5419
I got the below response
{"ok":true,"result":{"url":"","has_custom_certificate":false,"pending_update_count":7}}
when hit the below url.
https://api.telegram.org/bot{your_bot_token}/getWebhookInfo

[2022-09-14 13:47] sojan-official commented on #5419
@jayachandrab  please refer : https://stackoverflow.com/questions/49308744/telegram-bot-ssl-error-ssl-error-error1416f086ssl-routinestls-process-serve

[2022-09-14 13:51] sojan-official commented on #5402
marking this as resolved since its fixed

[2022-09-14 13:51] #5402 closed

[2022-09-14 13:56] sojan-official commented on #5409
please refer https://www.chatwoot.com/docs/self-hosted/faq#how-to-debug-smtp-email-errors-in-chatwoot

[2022-09-14 14:02] #4954 closed

[2022-09-14 14:05] sojan-official opened #5436 "question: How to auto assign conversations when majority of agents are logged in mobile devices ?"
ref: https://discord.com/channels/647412545203994635/647412545686208527/1018922723319222302

[2022-09-14 14:08] sojan-official commented on #5436
Chatwoot API supports an additional option called `auto_offline` as an attribute to the agents which default to true. You can toggle this setting to false So that Chatwoot wouldn't mark the agents automatically offline.  Agents will go offline only when they explicitly change their status to offline.

ref: https://www.chatwoot.com/developers/api/#tag/Agents/operation/update-agent-in-account

Note:

[2022-09-14 14:15] #5430 closed

[2022-09-15 07:45] lexemekenya opened #5438 "Question: How to send attachment messages using Chatwoot API"
### Discussed in https://github.com/orgs/chatwoot/discussions/1809

<div type='discussions-op-text'>

<sup>Originally posted by **NitinNR** February 19, 2021</sup>
self hosted on linux</div>

Hi, I am still not able to send attachments using the API even after making sure everything is as per the screenshot shared for Postman.

[2022-09-15 08:38] sojan-official commented on #5438
Could you share error messages or more information about the issue?

[2022-09-15 09:27] lexemekenya commented on #5438
Thanks @sojan-official for your quick response. I am actually not sure how to identify where the error is so far all it does in postman is return a response as below but no message arrives in Chatwoot

{
    "id": <READACTED>,
    "content": null,
    "inbox_id": <READACTED>,
    "conversation_id": <READACTED>,
    "message_type": 1,
    "content_type": "text",
    "content_attributes": {},
    "c

[2022-09-15 12:01] vcborsolan opened #5440 "Hacktoberfest 2022"
Hello folks, I'm opening this issue to discuss if this repository will participate in the 2022 digital ocean [hacktoberfest](https://hacktoberfest.com/participation/#maintainers).

If so, let's review the issues and add the labels/tags for valid contributions.

## Issues
- [x] https://github.com/chatwoot/chatwoot/issues/5450
- [ ] https://github.com/chatwoot/chatwoot/issues/3089
- [ ] https://gith

[2022-09-15 12:33] sojan-official commented on #5438
@lexemekenya  could you try generating the curl code for your request so that we can compare it against

[code]

[2022-09-15 13:47] lexemekenya commented on #5438
@sojan-official I have used the curl code you send me and it works!!...thank you let me adopt that, I am not so sure why mine wasn't working but at this point am ok.

[2022-09-15 13:47] #5438 closed

[2022-09-15 15:15] jatosmaime commented on #2898
VOIP is the only missing part!

[2022-09-15 15:22] jatosmaime commented on #1941
+1

[2022-09-15 15:22] jatosmaime commented on #2336
+1

[2022-09-16 08:21] kunthawat opened #5444 "Can't add 2nd Line channel with 402 Error code"
**Describe the bug**

I can add the first Line channel. But 2nd Line channel is not work. Chatwoot show can't save message and the console show 402 error code

**To Reproduce**

Steps to reproduce the behavior:
1. Add New inbox and select Line
2. Fill all information in the field. Ex. Channel Id etc.
3. Click "Create Line Channel"
4. See error

**Expected behavior**

It should save the information

[2022-09-16 08:30] #5444 closed

[2022-09-16 08:31] kunthawat commented on #5444
I found the setting in Super admin page. I need to change the limit of account there.

[2022-09-16 10:21] pmsudhi opened #5445 "Unable to add Whatsapp channel using whatsapp cloud API"
**Describe the bug**

I followed the instructions in the document, but when I added details, I got a message saying, "We are not able to save the whatsapp channel". See the image below
![image](https://user-images.githubusercontent.com/16379528/190617294-88c91af7-f241-4542-b545-e87e4aad6b2d.png)

I tested through postman with the details and was able to send messages successfully.

[2022-09-16 13:13] ali-ocean opened #5446 "Unable to Connect Facebook, Whatsapp, Instagram and Twitter"
**Describe the bug**
On prem Ubuntu20.04 Chatwoot Instance
**Facebook:**
I'm able to authenticate to facebook while creating Inbox, but it doesn't list any FB pages during inbox setup.
**Whatsapp:**
I want to register my own cell number or twillio phone number with whatsapp so whenever someone send message to that number it must be received in chatswood inbox but unable to process this.

**To Repr

[2022-09-16 18:56] pranavrajs commented on #5445
@pmsudhi Can you please share the server side logs?

[2022-09-16 18:57] pranavrajs commented on #5446
@ali-ocean Have you completed the steps mentioned here? https://www.chatwoot.com/docs/self-hosted/configuration/features/integrations/facebook-channel-setup

[2022-09-16 18:57] pranavrajs commented on #5440
@vcborsolan Thanks for opening this issue, we will add more information :)

[2022-09-16 18:59] pranavrajs commented on #5432
@vagner-dias There is an open PR for the frontend which we will be merging soon. https://github.com/chatwoot/chatwoot/pull/4548

[2022-09-16 18:59] #5432 closed

[2022-09-16 21:18] pranavrajs commented on #5425
@iamsivin Thanks. If it is a small fix, let us get it fixed this sprint itself. If not, feel free to move to the next one.

[2022-09-16 22:52] BhavyaT-135 commented on #5332
Hi @pranavrajs, would changing the default value of `isOnExpandedLayout` props, in the `SwitchLayout` file, to `true` be a solution to this issue? Sorry for the late response, had been occupied with college 😅

[2022-09-17 07:37] jochenstu commented on #5367
Yesterday, I managed to send an .mp4.

So now I have two files, one of which is working, consistently, and one of which isn't.

Working:
https://user-images.githubusercontent.com/1176036/190846000-418aba7b-a86d-45ea-a31f-0277124729df.mp4

Not working:
https://user-images.githubusercontent.com/1176036/190846001-53ad73e5-14ed-4ecb-ae6c-759a5850846b.mp4

The most obvious differences:
- "Not working"

[2022-09-17 16:43] movilreup opened #5447 "Issue with Integrate Whatsapp Cloud Api help"
Hi people

I integrate Whatsapp cloud api in the portal but the chatwoot show error
https://support.movilreup.com/webhooks/whatsapp/+14175516050

Error: {"error":"Error; wrong verify token"}

The token configuration is perfect. I send teste message from the meta developer and received in the portal but if is real message no received never in the portal.

any help me with this iddue?

![2022-09-17-

[2022-09-17 17:58] engmsaleh commented on #5436
@sojan-official Ok, currently our agents are using Chatwoot mobile apps, Could you advice how to force set  `auto_offline` to `false` as I understand so that it will always mark agents as `online` unless they set them selfs as `offline` which will happen when they start and end their shift?

[2022-09-18 13:04] sanjayws opened #5448 "bug: Reconnecting Slack breaks integration (from past conversations)"
**Describe the bug**

This is a self hosted Chatwoot instance.

When you have Slack integration for the first time, in a a brand new account or setup, everything works fine. But, if you reconnect Slack by deleting and resetting it up, any messages from old conversations will no longer trigger the proper inbox output as expected in Slack.

For example here. This is what i consider a normal inbox it

[2022-09-18 13:29] WavaAdrian opened #5449 "Is there a way to install chatwoot using nodejs?"
Is there a way to install chatwoot using nodejs?

![image](https://user-images.githubusercontent.com/87927419/190904613-183799ee-f04f-4581-967e-daeec5911ce8.png)

I am using CloudPanel.

[2022-09-18 15:27] #5449 closed

[2022-09-19 04:26] pmsudhi commented on #5445
Sorry to be ignorant, but can you specify the location of the server log file? i searched in chatwoot/log folder but the only file there is scout_apm.log, and the content of that is it is not configured. not able to find any log files there
then I searched on the /var/log folder, and I could find many files, but not able to figure out which file to check

[2022-09-19 07:04] jayachandrab commented on #5419
currently I am getting below error now the ssl corticate error is not comin

{"ok":true,"result":{"url":"https://blai.cloudgaming.my/app/accounts/1/inbox/31","has_custom_certificate":false,"pending_update_count":4,"last_error_date":1663571034,"last_error_message":"Wrong response from the webhook: 404 Not Found","max_connections":40,"ip_address":"52.187.37.182"}}

[2022-09-19 08:38] muhsin-k opened #5450 "bug: Show meaningful error message if user updating CSAT after 14 days"
**To Reproduce**

Steps to reproduce the behavior:

1. Select a conversation that closed before 14 days, and the rating is not updated
2. Open the survey URL
3. Update the rating
4. You will get an error "Could not connect to Woot Server, Please try again later", but he actual error is "You cannot update the CSAT survey after 14 days"

**Screenshot**
![Screenshot 2022-09-19 at 2 08 12 PM](https://

[2022-09-19 10:31] vishnu-narayanan commented on #5445
Hey @pmsudhi, If you are a single VM Linux installation, you should be able to view the logs using `cwctl --logs web`  for rails logs and `cwctl --logs worker` for sidekiq logs.

ref: https://www.chatwoot.com/docs/self-hosted/deployment/chatwoot-ctl#viewing-logs

[2022-09-19 10:57] pmsudhi commented on #5445
Thanks for the update. this is the log from server when I try to add whatsapp number

Sep 19 10:49:16 ec-192-168-211-60-Ubuntu-20-04-dc chatwoot-web.1[203343]: I, [2022-09-19T10:49:16.873362 #203343]INFO -- : [a217774e-9ba4-4239-a489-c4a4253edd51] Started POST "/api/v1/accounts/1/inboxes" for 181.49.284.75 at 2022-09-19 10:49:16 +0000
Sep 19 10:49:16 ec-192-168-211-60-Ubuntu-20-04-dc chatwoot-web.

[2022-09-19 12:55] ramphy opened #5453 "Upgrading from a 2.3.2"
I was upgrading from a 2.3.2 version to the new. I ran sudo `cwctl --upgrade` but

This showed me the error:

cp: cannot stat '/home/chatwoot/chatwoot/deployment/chatwoot': No such file or directory

A clear and concise description of what the bug is.

Steps to reproduce the behavior:
1. Install cwctl in a old version
2. Run cwctl --upgrade
3. Console print: cp: cannot stat '/home/chatwoot/chatwoo

[2022-09-19 13:00] ramphy commented on #5453
I created this issue in case someone needs help. I fixed it using the old guide. It would be nice to put the old manual update guide in the documentation if someone is going to update from a previous version.

`
# Login as Chatwoot user
sudo -i -u chatwoot

# Navigate to the Chatwoot directory
cd chatwoot

# Pull the latest version of the master branch
git checkout master && git pull

# Ensure the

[2022-09-19 15:34] vagner-dias commented on #5128
Hello.

I am facing the exact same issue here. The workaround works as well.

[2022-09-19 16:10] iamsivin commented on #5425
@pranavrajs It's an easy fix, but there is an issue when we click the start conversation button a random name will be generated. So if we add a condition if the name is available to hide the name field we cannot add a name when pre chat form Is enabled.

[2022-09-19 19:47] sojan-official commented on #5419
@jayachandrab  you don't need to manually set the url. if the you fixed the SSL error. just delete the inbox and recreate a new one. Chatwoot will automatically register the appropriate webhook with telegram

[2022-09-19 22:35] #5251 closed

[2022-09-20 00:48] justethales commented on #1039
+1

[2022-09-20 01:14] #4555 closed

[2022-09-20 01:19] sojan-official opened #5457 "bug: Deleting an agent creates unassigned by 'admin' messages"
When I delete an agent from the system,  the system unassigns all the existing conversations assigned to this agent.
This unassignment task creates the message "Conversation unassigned by {admin}" where the admin is the person who deleted the agent.

Instead, the unassignment message copy should state "Conversation unassigned by system" or a similar copy to avoid confusion.

Ref: #5417

[2022-09-20 01:32] jayachandrab commented on #5419
if add a new one again same issue, no messages are coming to inbox and goin from inbox.

[2022-09-20 05:11] pranavrajs opened #5462 "Help Center V1"
This is the placeholder ticket for all help center issues.

### Bugs

- [ ] Add URL validation for the home page link.

[2022-09-20 05:53] pranavrajs opened #5464 "Redirect portal URLs to portal/:default_locale"
If the user opens `{doc-url}/hc/{portal-slug}`, it throws a 404 error. Here we should redirect the user to the default locale  `{doc-url}/hc/{portal-slug}/{default-locale}`.

[2022-09-20 06:20] ali-ocean commented on #5446
Hello @Pranavraj thansk buddy for your reply.
yes i've followed these steps. before this while adding a messenger "inbox" i was getting authentication errors. but now it opens up a popup screen to login to my facebook account. but the pages list showed empty.
moreover if my other mates open chatwoot panel with same user i logged in, and tries to add messenger inbox the login in popup apears with e

[2022-09-20 14:58] lwagner-getmomo opened #5468 "Validation errors for Pre-Chat Form field `phoneNumber` are not being displayed when optional"
**Describe the bug**

When adding an optional phone number to the pre chat form, validation errors are not shown upon entering an invalid phone number, but the user will still be prevented from going forward. Clearing the field allows the user to go forward.

**To Reproduce**

Steps to reproduce the behavior:
1. Set up a live chat as described in https://www.chatwoot.com/docs/product/channels/live

[2022-09-20 14:59] lwagner-getmomo commented on #5425
Thanks a lot for investigating on behalf of our whole team!

[2022-09-20 17:31] #5464 closed

[2022-09-20 19:28] terion-name commented on #5148
same here with api

[2022-09-20 21:37] terion-name commented on #5148
Figured out

@ptd-31 request body has to have a payload key:

[code]

[2022-09-20 22:31] jochenstu commented on #5367
This is caused by me trying to send videos saved as H.265/HEVC, which is not supported by the Clouds API, but confusingly, is supported by WA in general.

(See https://developers.facebook.com/docs/whatsapp/cloud-api/reference/media – "Only H.264 video codec and AAC audio codec is supported")

On my Pixel 4a running Android 13, the video format used for Android video recording (which will also be h

[2022-09-21 02:23] sanjayws opened #5471 "Push notification failing for web/mobile"
Both web and chatwoot app notification doesn't work anymore and i see the following error in console (at least for web push) and i don't get mobile push notification as well when it used to work previously. I am unsure what has changed on my side. I don't think i've changed anything significantly that could effect this.

Any help to point to the right direction for troubleshooting would be much ap

[2022-09-21 03:27] pranavrajs opened #5472 "Article count is not correct if the portal has multiple locales."
To reproduce:

- Create a portal with 2 locales
- Add 1 article on each of the locale
- Refresh the portal page, and you will see the all article count as 2, even though you have selected only one locale

[2022-09-21 08:43] aslamabbas opened #5474 "Forward option needed in Email Inbox"
**Is your enhancement request related to a problem? Please describe.**
An email inbox needs forward ticket option.

**Additional context**
You have a "Send transcript" option. This makes sense in Live chat only. Using this option, details like email subject, From, To etc are not forwarded.

Email inbox needs a proper forward option

[2022-09-21 10:23] jochenstu opened #5475 "Support for WA Message Templates in the (Android) mobile app"
WA message templates, which are the only way to engage with customers outside of the 24h window, are not available in the chatwoot Android app. That's pretty bad, when you work in an industry where you are regularly the one engaging with the customers first (in our example medical, where we are following up with diagnostics or trying to confirm appointments)

The current workaround seems to involv

[2022-09-21 11:59] curufinwefeanor opened #5476 "Chatwoot does not remembers information"
**Describe the bug**

I installed chatwoot by following the steps on https://www.chatwoot.com/docs/self-hosted/deployment/docker and ran it in my local. I logged into the chatwoot environment by creating an admin from the superadmin page. I created users, contacts, conversations without getting any error. After the restarting my pc and running container, I got this:

<img width="773" alt="Screen S

[2022-09-21 17:27] xLixon commented on #486
any new updates?

[2022-09-21 19:14] grupale commented on #5291
Hi @pranavrajs and @sojan-official ! Is there any way to make this work? Like @guiqis this feature would be great in API Channel!

[2022-09-21 21:44] burhankashour commented on #5129
+1

[2022-09-22 01:00] below43 opened #5479 "Enhancement: HMAC Verification doesn't utilise timestamp to prevent spoofing"
**Is your enhancement request related to a problem? Please describe.**
Presently the verification token is generated using an HMAC of the user's identifier and the User Identity Validation key.  The problem with this is it's the same every time, meaning it can be copied and used to "spoof" the user elsewhere, and can end up making it easier to calculate what the validation key is.

**Describe the

[2022-09-22 01:16] pranavrajs commented on #5479
@below43 Thanks for the suggestion. @sojan-offical Tagging you for visibility.

[2022-09-22 01:18] #4594 closed

[2022-09-22 01:19] pranavrajs commented on #567
Closing this as #5420 would cover identity related queries.

[2022-09-22 01:19] #567 closed

[2022-09-22 01:21] pranavrajs commented on #1686
Fixed by https://github.com/chatwoot/chatwoot/pull/5279

[2022-09-22 01:21] #1686 closed

[2022-09-22 03:19] harismateen opened #5481 "Unable to send template message from Contacts --> New Message [WhatsApp Cloud]"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Contacts --> New Contacts --> Add new Contact - Open User
2. Click on --> Send Message --> Selected template message and sent message --> Message sent (but no message recieved by the user unless open conversation and then select the template again)
<img width="480" alt="

[2022-09-22 06:33] fayazara opened #5482 "Bug: Meta tags input in help center clears the input value after clicking outside."
**Describe the bug**
Happens in help center article editor page.  When we add some meta tags and click outside the input, the tags just get cleared on its own.

https://user-images.githubusercontent.com/15716057/191674697-d946530f-2998-4f81-b206-3940bbe9b47b.mov

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Help center
2. Click on "New Article"
3. Add some meta tags and click outsid

[2022-09-22 11:13] KonstantinReido opened #5483 "Ongoing campaigns don't work"
**Describe the bug**

I can't get ongoing campaigns to work 🙁

**To Reproduce**

Steps to reproduce the behavior:
1. Create an outgoing campaign (all fields of form field except "Trigger only during business hours")
2. Visit configured page
3. Nothing happened in a set time

**Expected behavior**

I expect to see a notification on the page.

**Browser logs**

Clear

**Environment**

A self-hosted

[2022-09-22 12:06] drexlma commented on #5337
No Console Errors But:
<img width="1222" alt="image" src="https://user-images.githubusercontent.com/7121202/191742085-da9388af-1271-4a7e-a087-61b61b341694.png">

[2022-09-22 12:15] drexlma commented on #5337
Payload (post data)

`{"channel":{"pre_chat_form_enabled":true,"pre_chat_form_options":{"pre_chat_message":"","pre_chat_fields":[{"name":"emailAddress","type":"email","label":"Email Address","enabled":true,"required":true,"field_type":"standard","placeholder":"Please enter your email address"},{"name":"fullName","type":"text","label":"Full Name","enabled":false,"required":false,"field_type":"stand

[2022-09-22 15:48] pranavrajs commented on #5481
@harismateen Please upgrade to 2.9.0, the latest version and report if you still face the issue.

[2022-09-22 16:26] sojan-official opened #5484 "feat: Enable Lithuanian Language"
- request from crowdin

[2022-09-22 16:32] sojan-official commented on #5483
@KonstantinReido, Could you try loading the page in an incognito window? The campaigns will only get triggered for new contacts and won't get triggered if there is an existing conversation in the widget.

[2022-09-22 16:56] terion-name commented on #3683
+1
very needed for api integrations

[2022-09-22 23:40] guiqis commented on #5447
When you directly click on the link, you'll see this error, because your browser is now sending the token.

Regarding the problem (message is sent only in the tests), check if you're using the same API version for development and tests inside facebook. There are a few versions that does not work with chatwoot.

<img width="996" alt="image" src="https://user-images.githubusercontent.com/15745360/19

[2022-09-23 05:01] muhsin-k commented on #5468
@lwagner-getmomo Thanks for the feedback. So saving the contact without a phone number is a good approach since the field is not mandatory
cc @sojan-official

[2022-09-23 05:04] muhsin-k commented on #5425
@lwagner-getmomo We are working on it. The fix should be available in the upcoming release

[2022-09-23 07:42] SHELA opened #5488 "Ability to create a request to the support from the help portal"
New Help Portal nice!
But will be good to have features like:
- connect chatwoot webchat
- page with contact form

maybe also in menu have link to original site.

[2022-09-23 09:34] duongvanphung opened #5490 "Mobile app not notification when have a new conversation (when active Dialogflow chat bot)"
When I have not activated the dialogFlow chatbot, all notifications on the mobile app work properly.

But when I enable dialogFlow chat bot no longer receive notifications on mobile app.
Specifically, the notification has a new conversation

![bug](https://user-images.githubusercontent.com/49987543/191932599-65c3298c-ab49-4200-8974-a3f9905dc5f2.jpg)

[2022-09-23 11:15] tejaswinichile commented on #5472
@pranavrajs The article count in the sidebar fetches from portal JSON where the search or filter is not working, if we can just change the sidebar fetching to `articles/index.json.jbuilder` it will fix the issue.

Like we have it in the sidebar for category labels

![Uploading Screenshot 2022-09-23 at 4.28.25 PM.png…]()

All article represents all articles and the count beside the category represe

[2022-09-23 12:53] lwagner-getmomo commented on #5468
Thanks a lot for taking care of it!

[2022-09-23 14:40] Higher08 commented on #1592
Currently, there is no action for update assigned agent. How can I do it?

[2022-09-23 22:19] nithindavid opened #5492 "Chatwoot does not update email from profile settings"
**Describe the bug**

Assume your current email is `current@mail.com` and you want to update it to `new.one@mail.com`. To do this you goto your profile settings page and update the email in the first section. Once you click update the app logout and send a confirmation to your new email `new.one@mail.com`. After clicking the confirm link, We will need to login again. If I try my `new.one@mail.com`

[2022-09-23 22:39] jochenstu commented on #5413
For our use case, being able to find find contacts by name would be really useful.

[2022-09-24 09:31] jochenstu commented on #5367
To add on to this, I just confirmed that H.265/HEVC is the default setting on Android 13 (at least with a Pixel 4a)

[2022-09-24 11:57] Lucasvo1 opened #5493 "Geolite2 support for IP geocoding"
At the moment, there is support for Maxmind's GeoIP2 commercial license, but it would be great if there also would be support for their free license, Geolite2. Other free alternatives like ip-api.com would also be great.

[2022-09-24 17:43] sojan-official commented on #5367
@jochenstu Thanks for the investigation. We will disable the video format in upcoming releases and look into the conversation in the future.

[2022-09-25 13:15] spanjeta commented on #4620
any update

[2022-09-25 14:14] Stephen-Lobo commented on #5445
@pranavrajs
@vishnu-narayanan

We are too facing this similar issue with same error log.

It looks there are many users who are facing this WhatsApp cloud API (you will find similar related posts in issues & discussion threads). Hope to find resolution as earliest.

Thanks.

[2022-09-25 14:38] Higher08 opened #5496 "Chatwoot doesn't respect user full name passed in request to create conversation"
**Describe the bug**

I can enable the pre-chat form on the site widget. In it, you can add a request for the user's full name. When the user enters it and the message (starts a conversation), Chatwoot should set the name that the user entered in the contact parameters.

Using developer tools I found why it happens
1. When a user visits the site (even don't open the widget), the widget automatical

[2022-09-25 15:34] cpaybr commented on #5445
Hi!
We also face this problem.

[2022-09-26 08:59] tejaswinichile commented on #5210
@pranavrajs @douglasalves0 This is the missing thing in the document but the filter params should be under the payload hash key. I will be updating the doc for the same.

[2022-09-26 09:10] EthanYWK opened #5498 "Whatsapp inbox quoted reply"
**Is your feature request related to a problem? Please describe.**
The quoted reply feature is missing in whatsapp inbox, causing us unable to know what message they were referring to when the conversation gets too long and complicated

**Describe the solution you'd like**
Whatsapp inbox should have the quoted reply feature

[2022-09-26 11:42] KonstantinReido commented on #5483
@sojan-official is it possible to include users with who we already had a conversation in a campaign?

[2022-09-26 11:53] brundles opened #5499 "See live users visiting the site, allowing for realtime interacting with them (proactive chat)"
**Is your feature request related to a problem? Please describe.**

There can be many visitors on a site, that we do not notice. It would be nice to be able to see all "live" users visiting the site, allowing for realtime interacting with them (proactive chat). Ie. this way if a user was on a page I could manually initiate a proactive chat.

Similar functionality is found at all competitors in thi

[2022-09-26 21:50] movilreup commented on #5447
if my number is approved.  I used it in the script (support board) and it worked perfectly.  the problem is when i do the configuration in chatwoot it stops working. my number and my business account is ready verify by meta. The problem only coming from change to chatwoot

[2022-09-26 21:59] sojan-official commented on #5447
@movilreup Chatwoot also required the user access token to have `manage_business` permissions.
Check if the following URL is working with your access token.  ( replace business account id and access token )

"https://graph.facebook.com/v14.0/{business_account_id}/message_templates?access_token={access_token}"

[2022-09-26 22:00] sojan-official commented on #5445
@pmsudhi  @Stephen-Lobo  @cpaybr Chatwoot also required the user access token to have `manage_business` permissions.
Check if the following URL is working with your access token.  ( replace business account id and access token )

"https://graph.facebook.com/v14.0/{business_account_id}/message_templates?access_token={access_token}"

[2022-09-26 22:30] sojan-official commented on #1444
closing in favor of https://github.com/chatwoot/chatwoot/issues/5499

[2022-09-26 22:30] #1444 closed

[2022-09-26 22:38] cpaybr commented on #5445
Hello,
I did the test as requested and still the same problem, see part of the code:

`{
   "date": [
      {
         "name": "sample_purchase_feedback",
         "components": [
            {
               "type": "HEADER",
               "format": "IMAGE"
            },
            {
               "type": "BODY",
               "text": "Thank you for purchasing {{1}}! We value your feedback a

[2022-09-26 22:42] sojan-official commented on #5445
@cpaybr  do you have any other Whatsapp inboxes configured in your installation with the same phone number?

[2022-09-26 22:43] sojan-official commented on #5483
@KonstantinReido, at the moment, it's not possible. We are looking into it for future releases

[2022-09-26 22:45] cpaybr commented on #5445
Helo @sojan-official I had done a configuration with test api key, and it worked. I deleted it and I'm trying with the permanent key

[2022-09-27 00:09] nithindavid opened #5501 "Editing canned response breaks formatting in reply box"
We have line breaks in the Canned Response message, but once you use the snippet and edit it, all line breaks and formatting breaks.

https://user-images.githubusercontent.com/1277421/192401857-4ddfd810-7dad-4270-beb2-cb19c7f20d53.mov

[2022-09-27 00:30] pranavrajs commented on #5488
Thanks for the suggestion. We have this in our roadmap. We will track this in #5462

[2022-09-27 00:30] #5488 closed

[2022-09-27 00:47] pranavrajs commented on #5484
Closed via https://translate.chatwoot.com/chatwoot/lt

[2022-09-27 00:47] #5484 closed

[2022-09-27 00:50] pranavrajs commented on #5493
@Lucasvo1 The support for the free license is already there. Can you please share if you face any issues? Closing it for now.

[2022-09-27 00:50] #5493 closed

[2022-09-27 00:56] pranavrajs commented on #5446
@ali-ocean Hey Usman, there is not much information to debug this properly. Can you please share the server logs, browser logs, and a screencast?

[2022-09-27 00:58] pranavrajs commented on #5424
@voko3456 I'm not sure if I understand. The automation would work if the user sent 100USD or 100usd.

[2022-09-27 00:59] pranavrajs commented on #5409
Closing the issue as there is no further activity.

[2022-09-27 00:59] #5409 closed

[2022-09-27 01:01] pranavrajs commented on #5410
@WevrLabs, I think you should set up a fallback intent if the message is empty. Otherwise, it wouldn't work. Please reopen the issue after setting a fallback intent and confirming that the issue still exists. https://cloud.google.com/dialogflow/es/docs/intents-default#fallback

[2022-09-27 01:01] #5410 closed

[2022-09-27 01:05] pranavrajs commented on #5403
@kubre This is by design. Sending audio alerts when the browser tab is often chaotic, hence it would trigger the alerts only when you are out of focus.

Please feel to share any additional thoughts here.

[2022-09-27 01:05] #5403 closed

[2022-09-27 01:06] pranavrajs commented on #5395
@sneko Doesn't the web widget code directly work with Corodva?

[2022-09-27 01:13] pranavrajs commented on #5362
@ammaraslam Having action triggered on the user's availability might not be the right approach. Unlike other live-chat providers, we support the chat history to be available in the browser even after the refresh.

We are building SLA (service level agreement) as a feature where you would be able to set the limits of first response time, and resolution time and get an alert if it breaches. I'm clos

[2022-09-27 01:13] #5362 closed

[2022-09-27 01:17] #3131 closed

[2022-09-27 01:18] pranavrajs commented on #3149
Closing this as we would build a plugin system to make it easy to build external inboxes. It doesn't need to be part of the actual product, and can exist as an independent plugin maintained by the community.

[2022-09-27 01:18] #3149 closed

[2022-09-27 01:19] pranavrajs commented on #3148
Closing this as we would build a plugin system to make it easy to build external inboxes. It doesn't need to be part of the actual product, and can exist as an independent plugin maintained by the community.

[2022-09-27 01:19] #3148 closed

[2022-09-27 01:19] #3164 closed

[2022-09-27 01:19] pranavrajs commented on #3495
Closing this as the issue is resolved in recent releases.

[2022-09-27 01:19] #3495 closed

[2022-09-27 01:20] pranavrajs commented on #3725
Closing this as we would not be taking this. Supporting a custom templating engine is an overhead and maintaining the code is not required for the core product.

[2022-09-27 01:20] #3725 closed

[2022-09-27 01:21] pranavrajs commented on #3789
@iammattmartin Please feel free to reopen this if it is still an issue.

[2022-09-27 01:21] pranavrajs commented on #3855
Closing this as there was no activity for a long time.

[2022-09-27 01:21] #3855 closed

[2022-09-27 01:22] pranavrajs commented on #1229
Closing this as there was no activity for a long time.

[2022-09-27 01:22] #1229 closed

[2022-09-27 01:22] pranavrajs commented on #3877
Closing this as there was no activity for a long time.

[2022-09-27 01:22] #3877 closed

[2022-09-27 01:22] pranavrajs commented on #3917
Closing this as there was no activity for a long time.

[2022-09-27 01:22] #3917 closed

[2022-09-27 01:23] pranavrajs commented on #4359
Closing this as there was no activity for a long time.

[2022-09-27 01:23] #4359 closed

[2022-09-27 01:23] pranavrajs commented on #4749
Closing this as there was no activity for a long time.

[2022-09-27 01:23] #4749 closed

[2022-09-27 01:23] pranavrajs commented on #4750
Closing this as there was no activity for a long time.

[2022-09-27 01:23] #4750 closed

[2022-09-27 01:23] pranavrajs commented on #4785
Closing this as there was no activity for a long time.

[2022-09-27 01:23] #4785 closed

[2022-09-27 01:23] pranavrajs commented on #4839
Closing this as there was no activity for a long time.

[2022-09-27 01:23] #4839 closed

[2022-09-27 03:07] sojan-official commented on #5498
closing in favor https://github.com/chatwoot/chatwoot/issues/3627

[2022-09-27 03:07] #5498 closed

[2022-09-27 04:01] movilreup commented on #5447
Yes i have user. Because I coming from Support Board script to chatwoot. And the number work support board but not in chatwoot and if send the receiving in the panel but real message not and i changed all webhook, token , webhook verify message.

And i create one account directly on chatwoot.com and test the number and work perfectly the problem is my self hosted

![Screenshot_20220926-235715_Chro

[2022-09-27 04:53] kubre opened #5502 "Presence Update Event on websocket reports removed agents from the inbox"
**Describe the bug**
Presence Update reports there are three agents in the inbox where inbox_members API only reports two.

Websocket Connection first time you connect gives a presence.update for that inbox which helps to determine whether or not agents are online or offline. But if you remove an agent from the inbox presence.update still reports that the agent is in the inbox. But if you check wi

[2022-09-27 06:32] pmsudhi commented on #5445
@sojan-official , verified and confirmed that all required permissions are set. I don't have any other inboxes configured in the system

[2022-09-27 07:40] WevrLabs opened #5503 "add "None" option in bulk actions assignment menu"
Add a "None" option to the bulk actions assignment menu.

<img width="450" alt="Screen Shot 2022-09-27 at 9 37 29 AM" src="https://user-images.githubusercontent.com/66124192/192464084-e4435f05-8210-475f-927e-82dbbc215819.png">

Something like the one present already in conversation sidebar assignment menu:

<img width="356" alt="Screen Shot 2022-09-27 at 9 39 23 AM" src="https://user-images.github

[2022-09-27 07:48] sneko commented on #5395
@pranavrajs it depends on the JS script used:
* downloading a full script through network is problematic when using a native app
* making it a raw copy locally can be a solution (it depends what the script does... some like the Google ones themselves download other things sometimes...)

In all cases, having the web widget as a NPM package is always better for managing versions locally...

+ having

[2022-09-27 09:24] cpaybr commented on #5445
Good morning @sojan-official, I did not find where to have this option to mark.

[2022-09-27 09:39] jonathanbayme commented on #4651
Yes, seeing all order information (and past order information) for that customer in the sidebar is critical. It'd be super helpful to be able to use macros / predefined replies to trigger ACTIONS in Shopify, all in one click. For example, being able to select a "Refund" predefined reply that populates a message to the customer confirming that a refund has been issued to them for their order ID XYZ

[2022-09-27 10:59] iammattmartin commented on #3789
I've checked on the latest release, this still does not behave correctly.

Sending the name/email on the SDK completely stops the pre-chat message and message box. The only thing renders is shown attached.

![Screenshot 2022-09-27 at 11 58 36 AM](https://user-images.githubusercontent.com/15971590/192508275-7b080b8d-65c1-4d54-89b2-102de6f551bc.png)

It's frustrating when you ask if this still happe

[2022-09-27 11:00] iammattmartin commented on #4424
#3789 is not fixed and still an issue.

[2022-09-27 13:14] pgrandmaison opened #5504 "Would like to be able to have a campaign apply on all pages of a website like URL/*"
**Is your enhancement request related to a problem? Please describe.**
Currently, in order to have a campaign show up on all pages of a website, we must enter individually all website individual pages into chatwoot's system.

**Describe the solution you'd like**
It would be nice if it supported wildcard character like * to match either entire subfolders or an entire website
such as https://website

[2022-09-27 13:23] pgrandmaison commented on #5483
I believe it is not working in Google Chrome. I tested as well with Chrome on Mac and Chrome on Windows, both in incognito and the campaign didn't work. It worked fine on Firefox.

[2022-09-27 13:28] mxsxs2 opened #5505 "Account Suspended after version update"
**Describe the bug**

I updated our self hosted Chatwoot instance  deployed in Kubernetes with helm.  I followed the instructions to upgrade the helm chart version from 0.9.0 to latest. Now when I try to login as a user I get the "Account Suspended" message in the browser. However, this seems to be misleading as in the logs of the pod I have a 500 error.

I can log into superadmin but not to the n

[2022-09-27 13:46] mxsxs2 opened #5506 "Deployment behind SSL terminating proxy"
**Describe the bug**

We have an installation where HAProxy is terminating SSL in front of Kubernetes with (Nginx inc ingress controller) where Chatwoot is deployed. Chatwoot superadmin checks whether the request is coming from the `FRONTEND_URL` or not. This fails as my `FRONTEND_URL` is HTTPS and the request URL is not.

A possible solution could be to allow the HTTP version of the URL or to all

[2022-09-27 15:40] sentry-io[bot] opened #5508 "NoMethodError: undefined method `contact' for 169:Integer"
Sentry Issue: [CHATWOOT-C7](https://sentry.io/organizations/chatwoot-p3/issues/3357412010/?referrer=github_integration)

[code]

[2022-09-27 15:57] no-1ne opened #5511 "Let user choose where to have Conversation continuity rather than forcing email option"
From web widget, Let user choose where to have Conversation continuity rather than forcing email option only which isn't very parent friendly

Currently for first time user the form asks for email,
Have a  feature request, can user provide their number and choose to get responses via other supported channels like whatsapp etc

[2022-09-27 15:59] pranavrajs commented on #5505
@mxsxs2 Please run the database migrations after the update. https://www.chatwoot.com/docs/self-hosted/runbooks/migrate-chatwoot-database

[2022-09-27 15:59] #5505 closed

[2022-09-27 18:33] sojan-official commented on #2739
closing in favor of https://github.com/chatwoot/chatwoot/issues/3192

[2022-09-27 18:33] #2739 closed

[2022-09-27 18:34] sojan-official commented on #5504
closing in favor of https://github.com/chatwoot/chatwoot/issues/3192

[2022-09-27 18:34] #5504 closed

[2022-09-27 19:35] #5472 closed

[2022-09-27 19:36] #5429 closed

[2022-09-28 02:47] intelnexoec opened #5514 "Enable CSAT, Greetings Messages, Out of office message via API Channel"
Please help us by enabling messages through the API.
Currently not receiving messages from:

*Welcome message
*CSAT
*Out of business hours

[2022-09-28 09:22] softmarshmallow opened #5517 "Slack integration not working (won't install without any message)"
On console, integrations, slack, once redirected to slack page, integration failes with no other messages.

Error on console
[code]

Payload
[code]

[2022-09-28 10:56] vishnu-narayanan commented on #5506
@mxsxs2 Could you try adding `proxy_set_header X-Forwarded-Proto https;` config to your nginx ingress controller?

[2022-09-28 11:12] mxsxs2 commented on #5505
I followed those steps a couple of times just from the [Helm chart README](https://github.com/chatwoot/charts/tree/main/charts/chatwoot) and I always got the same results.

However, I got it running with after I slightly altered the upgrade process:

At step 5 I did not reset the `replicaCount` values and installed the new version with that.
Then followed the steps up to 8.

Then I upgraded the co

[2022-09-28 12:30] Higher08 commented on #5496
I can record video of the bug, if you need

[2022-09-28 14:41] mxsxs2 commented on #5506
Unfortunatelly that is not something that one can set on the controller. It is described at: https://github.com/nginxinc/kubernetes-ingress/issues/1284

Therefore, I added it to the ingress itself in the `values.yaml` file i used to install the chart with:
[code]

This generates the following nginx config:
[code]

You can see the above referenced bug adds the `proxy_set_header X-Forwarded-Proto $s

[2022-09-28 14:41] #5506 closed

[2022-09-28 15:40] Lucasvo1 commented on #5493
Hi, it seems there is a problem with the automation rule based on country. If we save an automation with a country as a condition, the condition is not saved when updating the automation rule.

[2022-09-28 16:10] sentry-io[bot] opened #5519 "ArgumentError: wrong number of arguments (given 0, expected 1..2)"
Sentry Issue: [CHATWOOT-XB](https://sentry.io/organizations/chatwoot-p3/issues/3492560792/?referrer=github_integration)

[code]

[2022-09-28 17:08] pranavrajs opened #5521 "Tech Debt - Improve code, fix cosmetic issues"
\# Place holder for https://github.com/chatwoot/chatwoot/issues/5521

- [ ] Fix spelling mistakes
- [ ] Conform to ESLint standards

[2022-09-28 17:23] sojan-official commented on #5506
@vishnu-narayanan can we add this to our docs ?

[2022-09-28 18:00] WevrLabs opened #5522 "Dialogflow is triggered on tweets"
**Describe the bug**

Dialogflow is triggered on tweets.

**To Reproduce**

Steps to reproduce the behavior:
1. Link a twitter account inbox.
3. Configure Dialogflow on this twitter inbox
4. Make a tweet to that account or a retweet any of the tweets
5. See Dialogflow being triggered for the tweet

**Expected behavior**

Dialogflow should not be triggered for tweets, only direct messages.

[2022-09-28 19:00] sojan-official commented on #3462
ref: https://github.com/chatwoot/product/issues/593

[2022-09-28 19:50] #5508 closed

[2022-09-29 00:31] maynorgc21 commented on #5128
I have the same issue.
I send  the first messagge twice.

[2022-09-29 06:10] vishnu-narayanan commented on #5506
@mxsxs2 Happy that you got it working, and thank you for sharing the solution that worked for you.

[2022-09-29 06:34] muhsin-k commented on #5496
@Higher08 Yes. That would be very helpful.

[2022-09-29 06:45] muhsin-k commented on #5483
@pgrandmaison We just tested in chrome and worked as expected. Would you be able to provide a screencast of the behaviour?
https://www.loom.com/share/e6f1fc576315491986c2032057de32e1

[2022-09-29 08:20] KonstantinReido commented on #5483
@pgrandmaison The key point here is to have clear chat in Chatwoot widget (conversation shouldn't exist).

For me, it works well in all browsers but doesn't exist the possibility to communicate with users with who we already had a conversation.

[2022-09-29 08:28] JWesorick opened #5525 "As a user on a website, have the option to recieve push notifications when an agent messages me."
**Is your feature request related to a problem? Please describe.**

- User messages during non-business hours.
- Agent replies back many hours later but the user is no longer on the website.

**Describe the solution you'd like**

- User messages during non-business hours.
- Agent replies back many hours later but the user is no longer on the website.
- User receives push notification allowing them

[2022-09-29 10:19] cpaybr commented on #5445
Hello. Can anyone help us with this issue? Thanks!

[2022-09-29 13:47] mkmk89 opened #5529 "api endpoint for account feature flags"
Is that possible to apply feature flags to account with a use of api?
https://www.chatwoot.com/developers/api/#tag/Accounts/operation/create-an-account

I can see it is possible in super_admin api endpoint, but seems not supported in standard api

[2022-09-29 16:19] pranavrajs commented on #5529
@mkmk89 Features flags are used for internal and billing purposes only, making it public would prevent us from making changes there.

[2022-09-29 16:19] #5529 closed

[2022-09-29 17:22] shivamsinghchahar commented on #5457
Hi @sojan-official Can I take this up?

[2022-09-29 20:12] sojan-official commented on #5483
@KonstantinReido  We are working on supporting multiple conversations in the chat widget. With that available, we will be able to remove this restriction. We have the condition because, at the moment, we only have one conversation open in the widget. If we clear it for the campaign, we might be overwriting an active conversation they are having with an agent.

[2022-09-30 03:00] harismateen opened #5534 "Upgrade chatwoot from 2.7 to 2.9 giving account suspend issue"
**Describe the bug**
Upgrade chatwoot from 2.7 to 2.9 giving account suspend issue
We tried to update from 2.7 to 2.8.2 still having the same account suspend issue.

**Screenshots**

![image](https://user-images.githubusercontent.com/38554929/193180903-f243d827-6044-4d98-9222-d47d805089b7.png)

[2022-09-30 08:38] pranavrajs commented on #5534
@harismateen Please run the database migrations as shown here. https://www.chatwoot.com/docs/self-hosted/runbooks/migrate-chatwoot-database

[2022-09-30 08:38] #5534 closed

[2022-09-30 09:39] adi-uchiha commented on #3086
hey there, I come from reactjs background can I work on this?

[2022-09-30 09:55] tejaswinichile commented on #3086
@adi-uchiha Let us just provide the mockups for this and let us check if this enhancement is still valid, then sure you can work on this.

cc @muhsin-k

[2022-09-30 17:15] dgbauleo opened #5536 "Embed SSO links in iframe"
**Is your feature request related to a problem? Please describe.**
I tried following the steps from [#4316](https://github.com/chatwoot/chatwoot/issues/4316)  and managed to get an SSO link, but it still won't load inside an iframe. From the reply there I assume it should work, right?

**Describe the solution you'd like**
Having an iframe loading with the SSO URL.

**Describe alternatives you've c

[2022-09-30 18:13] #3520 closed

[2022-09-30 18:33] #5519 closed

[2022-09-30 20:57] vizeke commented on #5148
@terion-name I'm having the same problem. Trying to filter with or without the *payload* attribute, using only the *status* key.

[code]

Tried a few variations. Nothing seems to work.

[2022-09-30 21:11] vizeke commented on #5148
Looks like you can't use a *query_operator* on the first item or for standard attributes. Not really sure.

But this will work:
[code]

[2022-09-30 21:21] sojan-official commented on #5148
@tejaswinichile  could you confirm?

[2022-09-30 22:03] #4876 closed

[2022-10-01 15:20] lvanoverberghe opened #5537 "Automation does not save information submitted in country field"
**Description of bug**

The automation rules do not save country filter.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'Automations' and click on 'Add automation rule'
2. Choose "Conversation Created" as Event
3. Add Condition with Country equal to Switzerland
4. Add Action to assign Conversation to a team.
5. Click Create
6. Go back and edit the automation and the country field is

[2022-10-01 15:52] Higher08 commented on #5496
@muhsin-k

[2022-10-03 04:57] sentry-io[bot] opened #5539 "ArgumentError: bad argument (expected URI object or URI string)"
Sentry Issue: [CHATWOOT-NN](https://sentry.io/organizations/chatwoot-p3/issues/3435111000/?referrer=github_integration)

[code]

[2022-10-03 08:35] vishnu-narayanan opened #5540 "Hi, it seems there is a problem with the automation rule based on country. If we save an automation with a country as a condition, the condition is not saved when updating the automation rule."
Hi, it seems there is a problem with the automation rule based on country. If we save an automation with a country as a condition, the condition is not saved when updating the automation rule.

Before saving

![image](https://user-images.githubusercontent.com/109728866/192824017-18e13d6d-5c1f-417f-92b0-ac3896cc357c.png)

After saving

![image](https://user-images.githubusercontent.com/109728866/19

[2022-10-03 08:39] vishnu-narayanan commented on #5493
@Lucasvo1 The automation rules are saved successfully and should work as you would expect them to. I have tried to reproduce this issue and looks like the UI is having an issue displaying it correctly. I have opened #5540 to track this.

[2022-10-03 08:41] vishnu-narayanan commented on #5540
Verified this bug exists. Automation rules are saved successfully and API is returning the intended response. Looks like a UI issue.

cc: @fayazara @iamsivin

[2022-10-03 09:34] Lucasvo1 commented on #5540
Are you sure the automation is working as intended? We have an automation which is supposed to assign conversations to a team based on IP but it's not working.

[2022-10-03 11:02] toshitapandey commented on #5450
@muhsin-k - I wanted to work on this issue. Is it okay if I pick this up? Also, is this a part of Hacktoberfest?

[2022-10-03 12:13] #5143 closed

[2022-10-03 13:22] omercan commented on #4007
@sojan-official On the changelock, I see that: **Email conversation continuity for API channels.**

Is it related to that issue? I tried to send an incoming message from API but got an error: **Incoming messages are only allowed in Api inboxes**

[2022-10-03 16:04] matbgn commented on #3071
Will also be interested in this since in our land they are 4 national languages ;-)

[2022-10-03 19:35] sojan-official commented on #5450
@toshitapandey, feel free to go ahead. Yep, Chatwoot is participating in Hacktoberfest.

[2022-10-03 22:27] #3972 closed

[2022-10-04 00:53] sojan-official commented on #5457
@shivamsinghchahar sure. Please go ahead.

[2022-10-04 04:22] TheRealCasmat opened #5543 "Cannot Install Chatwoot on Oracle Cloud"
Hey guys! I am currently trying to run chatwoot on an oracle cloud server with 2 Ampere A1 Flex CPUs, 12 GB Memory, and 100 GB disk space. I am using cloud flare to manage my dns. I want to install this on chat.casmat.ga . I have pointed the host of chat.casmat.ga in cloudflare using an A record to my instance's ip address: 129.213.192.48 I used the installation guide, but when opening the chat.ca

[2022-10-04 04:29] #4436 closed

[2022-10-04 08:09] marcelstoer commented on #2575
I didn't realize just _how close_ this appears to bring us to an implementation. See my attempt in #5545.

[2022-10-04 08:28] fayazara commented on #5540
@Lucasvo1 Try to reproduce this, will update the ticket asap.

[2022-10-04 22:01] smashah commented on #2587
Hi all,

Seems as though the relevant PR has been merged and integrated into the widget layer of chatwoot but the functionality is missing for the API layer.

If I understand correctly, if the `last seen` of the agent/assignee/contact is below the current timestamp then both ticks are shown. It is quite a presumptuous and non-standard way to handle acknowledgements but nonetheless it is still a so

[2022-10-05 04:01] sojan-official commented on #4975
# Changes to implement

- Enable toggle for channels that requires control for threads, i.e., Channels that only support a single conversation thread. [ Lock to Single conversation ]
    - Messenger
    - Twitter DM
    - SMS
    - Whatsapp
    - Telegram
    -  Line

 -  When Lock to Single conversation is enabled in a channel
    - When creating an outbound conversation to a contact with an exis

[2022-10-05 04:07] nithindavid commented on #5501
Closing in favour of #5533

[2022-10-05 04:07] #5501 closed

[2022-10-05 04:32] sojan-official opened #5552 "feat: Ability to mark conversations as unread"
As a customer service agent, I might often open a conversation and leave it for later to respond. In this case, it is helpful if we can mark the conversation as unread so that other members of the team can pick it up.

[2022-10-05 04:34] iamapinan opened #5553 "Phone ticket support"
**Is your feature request related to a problem? Please describe.**
Our service has a customer support team and there accept cases by chat and phone but they can't open tickets from the backend.

**Describe the solution you'd like**
The agent can open the ticket from the backend using a manual key-in.

[2022-10-05 04:36] sojan-official opened #5554 "feat: Ability to schedule message for later"
Sometimes I would like to schedule my responses for a later time when it is more relevant to the contact.  It would be nice to have that ability in Chatwoot.

[2022-10-05 11:39] vishnu-narayanan opened #5557 "feat: arm64 images for the Chatwoot EE edition"
This PR should enable arm64 builds for the Chatwoot CE edition. We should handle EE edition docker images separately as we rely on docker hub pipelines.

_Originally posted by @vishnu-narayanan in https://github.com/chatwoot/chatwoot/issues/5545#issuecomment-1268316834_

[2022-10-05 11:57] melakhvision opened #5558 ""Phone number should be in e164 format". Where can I customize the phone ?"
Hello,
I want to encrypt the phone number for all users but can't do because phone should be in e164 format.
Where in the API can I remove the requirement of e164 format ?

**To Reproduce**
I have removed the regex of the phone_number in the model but still, get the same error

Steps to reproduce the behavior:

**Environment**

SELF HOSTED

**Desktop (please complete the following information):**

[2022-10-05 12:37] geophilusd commented on #2819
@sojan-official  i would like to work on this

[2022-10-05 15:02] voko3456 opened #5561 "feat: Ability to manage account features from API"
Now we can manage the acount features via super admin ui it will be greate to manage it via api while creating the account

![Screenshot_20221005-175936_Chrome](https://user-images.githubusercontent.com/20530550/194093929-59fff017-7052-4428-8e3e-a215a37f2fda.jpg)

[2022-10-05 21:17] vizeke commented on #5148
There's a specific way to use the *query_operator*. If you have more than one filter you have to send the *query_operator* paramater in all of them, **except the last one**. Any other combination will fail with 500 error.

This will work as intended:
[code]

[2022-10-06 00:24] #2819 closed

[2022-10-06 00:31] #5297 closed

[2022-10-06 00:32] sojan-official commented on #5561
duplicate https://github.com/chatwoot/chatwoot/issues/5529

[2022-10-06 00:32] #5561 closed

[2022-10-06 02:49] harismateen commented on #5481
@pranavrajs Still same - we have updated to v2.9.1, but still unable to send template message

**Actual**:
Click on --> Send Message --> Selected template message and sent message --> Message sent (but no message recieved by the user unless open conversation and then select the template again)

**Expected behavior**
Contacts --> New Contacts --> Add new Contact - Open User
Click on --> Send Messag

[2022-10-06 05:46] pmsudhi commented on #5445
Can any one in the community who was able to successfully integrate WhatsApp cloud API help us to resolve this issue

[2022-10-06 07:19] te-dious opened #5565 "Unable to get email reply on Chatwoot of long thai texts"
**Describe the bug**

Reply emails do not work as expected. Reply emails to some emails are not received in Chatwoot conversation thread.

**To Reproduce**

https://docs.google.com/document/d/1lIcFQ5R7X39H4dzBbYkV8cOhUv31Gax6rAkGOdCJP6A/edit

**Expected behavior**

The sent replies from emails are not received at Chatwoot.

[2022-10-06 10:13] santhosh-chinnasamy commented on #4012
Hi @sojan-official, I can pick this up.

[2022-10-06 13:59] ali-ocean opened #5567 "chatwoot fb inbox showing messages with "john doe" name"
**Describe the bug**

fb page integration is done, messages are coming to chatwoot inbox nicely, but instead of origional names of users, all the messages showing with same title name "john doe" how to fix this this and why its happening?
**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and co

[2022-10-06 14:07] vishnu-narayanan opened #5568 "gh action to publish foss docker images is failing"
**Describe the bug**

gh action to publish foss docker image is failing since enabling multi-arch build.

https://github.com/chatwoot/chatwoot/actions/runs/3194644842/jobs/5214429525#step:10:3615

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to

[2022-10-06 15:32] #5567 closed, assigned to nobody

[2022-10-06 15:33] pranavrajs commented on #5565
@te-dious Can you please update the document access to anyone with the link?

[2022-10-06 15:42] iwex opened #5570 "[CW-1508] Telegram: how to get username?"
Hello! I want to see Telegram usernames in the contact info. How is it possible?

<sub>[CW-1508](https://linear.app/chatwoot/issue/CW-1508/telegram-how-to-get-username)</sub>

[2022-10-06 17:23] te-dious commented on #5565
Updated the access to Anyone with the link

[2022-10-06 19:07] vagner-dias opened #5573 "Prevent agents from deleting messages"
Problem:
Currently, an agent can delete any whatsapp message from chatwoot - this is not good from an conversation auditing standpoint.

Suggestion:
At the user level, there could be an option to allow (or not) the user to delete messages.

[2022-10-06 20:46] BrutalBirdie commented on #5081
I can confirm this as well.
The storage bloats so badly that it grows for a small IMAP inbox multiple GB a day.

[2022-10-06 21:13] BrutalBirdie commented on #5081
Digging and analysis:
The E-Mail was identified. It contained 12MB as attachments.
It was received on the 29.09.2022
This E-Mail is getting added every minute.
12MB * 1440 Minutes (1 Day) = 17280 aka. 17.280 GB/Day.

BoI! Can I back this up with monitoring, sure can do!

![grafik](https://user-images.githubusercontent.com/20840012/194419534-45c51059-3457-45be-b105-04d9d5a660c1.png)

[2022-10-06 21:23] BrutalBirdie commented on #5081
More background for the devs for debugging.

This mail attachment contains:
- 17 elements
- jpg and pdf files
- file names with special chars and spaces like `©` `┬®` `,`

[2022-10-06 21:38] BrutalBirdie commented on #5081
Could this be the culprit?

https://github.com/chatwoot/chatwoot/blob/7ad5ddaf8a60dce7af97874aa0e0311b117399b3/app/models/message.rb#L35

[2022-10-06 21:42] BrutalBirdie commented on #5081
Sorry for the direct ping @vishnu-narayanan but this issue did not get any (real) attention yet.
Hope you don't mind 😬

[2022-10-06 22:08] bfuchs commented on #5081
I checked my problem email again to add some additional information. It contains 31 attachments. All of them are either .jpg or .png. All filenames are properly slugified though, no weird special characters. One file was larger than the others with a size of 1.6 MB and 1663 × 2157 pixels.

[2022-10-07 14:20] cortopy opened #5576 "Checkbox validation is not working in pre-chat form"
**Describe the bug**

I have created a custom attribute called "policies_accepted" as a required checkbox but the validation is not doing anything. Conversation is started when it shouldn't

**To Reproduce**

Steps to reproduce the behavior:
1. Create contact attribute of type `checkbox`
2. Enable attribute in pre-chat form and set it as `required`
3. When new user starts conversation, it doesn't

[2022-10-07 22:37] sojan-official commented on #4922
@voko3456  awesome. Please go ahead.

[2022-10-08 10:13] softmarshmallow commented on #5517
@vishnu-narayanan need support

[2022-10-09 08:12] iammattmartin commented on #980
Is there any progress on this. A link in the email notification would be sufficient so they can go back to the page they started the chat on, or were last on and have the CW ID in the URL string.

Having lots of disjointed conversations because someone reads the message on a different device is getting painful for something raised back in 2020 and really should be considered a basic continuity fea

[2022-10-09 10:01] davodsaraei commented on #5409
@sojan-official
Hi. I have the same issue.

smtp_settings = {
  address: 'smartermail.bertina.us',
  port: '3030',
  user_name: 'info@affili.ir',
  password: 'myPass',
  domain: 'smartermail.bertina.us',
  enable_starttls_auto: 'true',
  tls: 'true',
  ssl: 'false',
  'openssl_verify_mode': 'none',
  'authentication': 'login'
}

![Uploading image.png…]()

[2022-10-09 14:43] davodsaraei opened #5581 "SMTP error"
@sojan-official
Hi. I have an issue with config SMTP.

[code]

I got the following error:

[code]

[2022-10-10 00:39] BHare1985 commented on #273
I also want this feature

[2022-10-10 11:29] kurtsudonumcom opened #5583 "Data Retention on messages and contacts"
**Is your feature request related to a problem? Please describe.**
Users are frustrated when they performing searches and this may result in a timeout their lookup - cause of having too much messages stored.

**Describe the solution you'd like**

Data detention features that includes:
1. an expiry of messages older than a threshold i.e. 30, 90 days etc. and
2. To clear out conversations with no me

[2022-10-10 14:13] tejaswinichile opened #5584 "Macros enhancement"
- [ ]  Admins can see all the macros irrespective of the visibility.
- [ ]  An agent can change the visibility of another agent's macro. Let us disable the edit/delete function if the agent does not create the macro
- [x]  Order of execution of macros is not as per the order in which it is defined.
- [x]  Duplicate activity messages in some cases.
- [x]  Enable Send Email Transcript, Send Attachme

[2022-10-10 15:06] Peaverin commented on #5536
Hello,
I am experiencing the same issue.
Setting the iframe with the SSO URL shows the login screen with the animated loading gif, then it shortly shows a Login Successfully message, but it gets back to the Login screen.

[2022-10-10 23:45] sojan-official commented on #5409
@davodsaraei  check https://stackoverflow.com/questions/61991618/wrong-version-number-opensslsslsslerror-in-simple-ruby-ssl-client .

[2022-10-11 00:31] sojan-official commented on #5581
@davodsaraei check https://stackoverflow.com/questions/61991618/wrong-version-number-opensslsslsslerror-in-simple-ruby-ssl-client .

[2022-10-11 02:11] pranavrajs opened #5590 "Test issue with Github"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, add screenshots to help explain your problem.

**Browser logs**

Share the browse

[2022-10-11 02:12] #5590 closed

[2022-10-11 03:02] sojan-official commented on #4012
@santhosh-chinnasamy  please go ahead

[2022-10-11 03:25] sentry-io[bot] opened #5591 "Password reset is not working"
Sentry Issue: [CHATWOOT-15V](https://sentry.io/organizations/chatwoot-p3/issues/3649262325/?referrer=github_integration)

[code]

[2022-10-11 03:58] punyaikhwan opened #5592 "[CW-42] CSAT Not Showing After Conversation Closed When Connected to External Bot"
**Describe the bug**
I connect the Chatwoot to external bot (RASA).
After the conversation closed, CSAT not showing even in the settings CSAT is enabled.

**To Reproduce**

Steps to reproduce the behavior:
1. Create Inbox.
2. Connect that inbox to external bot like RASA, and activate.
3. Enable CSAT in that inbox
4. Make a conversation and make sure the external bot is active.
5. Close the convers

[2022-10-11 04:14] sojan-official commented on #5330
We are closing this issue since there haven't been any recent updates. Please feel free to open a new one if the problem persists.

[2022-10-11 04:14] #5330 closed

[2022-10-11 07:16] muhsin-k commented on #5576
Thanks for pointing it out. We will prioritize in the next release.

[2022-10-11 08:31] punyaikhwan opened #5594 "Take Screenshot from Widget or Paste Image"
Sometimes client need to show what problem they are facing by sending screenshot.
Currently, to do this they should save it first to disk then select the image using attachment.

**Solution**
It will be better if Chatwoot has internal screenshot tool that the client can use it directly from the widget.

**Alternative**
If the solution above can't be delivered, another alternative is allowing clien

[2022-10-11 09:03] gib1991 commented on #5254
Excellent thank you for this!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Pranav Raj S ***@***.***>
Sent: Thursday, August 18, 2022 9:14:43 AM
To: chatwoot/chatwoot ***@***.***>
Cc: Mark Gibson ***@***.***>; Mention ***@***.***>
Subject: Re: [chatwoot/chatwoot] Multiple Business Hours per day in the same inbox (Issue #5254)

@gib1991<https://github.com/gib199

[2022-10-11 09:04] tejaswinichile commented on #5584
- This is already there; display all the macros in the account for the account admin.

 -  set_visibility/update_visibility is part of the macro update. Should I add it as a separate endpoint, as we can not set different policies in the same method?

@pranavrajs Have doubts about the above two enhancements.

[2022-10-11 13:42] tejaswinichile commented on #5584
https://user-images.githubusercontent.com/10827585/195107216-c305f5fc-5ab2-4cf7-81cc-30ebdd56a273.mov

[2022-10-11 16:28] tejaswinichile commented on #5591
Steps to reproduce:

https://www.loom.com/share/d92aa387693145f9bc303a954fdfa776

[2022-10-11 16:47] pranavrajs commented on #5591
@tejaswinichile It seems to be happening after this commit https://github.com/chatwoot/chatwoot/commit/bd445216e9e8413666deb32b5b09d202e91ec2fe

[2022-10-11 20:44] #5503 closed

[2022-10-11 21:14] nickmonad commented on #3891
Hey folks! This would be a really helpful feature for us as we are planning to migrate our existing customer support platform over to a self-hosted chatwoot instance. We may be able to help by submitting a PR for this, but I wanted to get a quick pulse check on how difficult you think this might be.

[2022-10-11 21:34] nithindavid opened #5597 "bug: Email copy icon on hover looks distorted"
**Describe the bug**

1. Open any conversation in chatwoot dashboard.
2. Add an email to the contact if it's not there.
3. Hover the email address copy icon.
4. The hovered state looks elongated.

https://user-images.githubusercontent.com/1277421/195199729-773c5694-ec82-4529-a768-6fcc7a999b79.mov

**Possible fixes**
-  Use `variant="clear"` instead of `variant="link"`
- Use `size="tiny"`
- Remove

[2022-10-11 21:52] simonpankovski commented on #5597
Hi, I would like to work on this issue. I checked out the problem in my browser and changing the icon's link class results in it appearing as a square similar to the other icons below it. However I noticed that doing this also adds more vertical spacing to the overall email row which might not be desirable, as shown below:

![image](https://user-images.githubusercontent.com/46830637/195204773-441d

[2022-10-11 22:48] sojan-official opened #5598 "feat: Internal Inbox for the team to communicate"

[2022-10-12 03:50] tejaswinichile opened #5601 "Add downcase match for contact-inbox"
refer https://github.com/chatwoot/chatwoot/pull/5211

[2022-10-12 04:43] Nearpeer opened #5602 "Requesting integration of WATI.IO WhatsApp solution with Chatwoot."
Wati.io is one of the most used WhatsApp business solution providers. It will be awesome if we can get 1 click integrations with their system just like Twilio and WhatsApp Cloud API.

[2022-10-12 10:28] vishnu-narayanan commented on #5602
@Nearpeer Please have a look at this.
https://github.com/orgs/chatwoot/discussions/2759

[2022-10-12 18:21] nithindavid commented on #5597
@simonpankovski Sure :) you can work on this.

You might need to add `variant="clear"` after removing the link. Also `size="tiny"` might fix the gap issue

[2022-10-12 20:05] #5602 closed

[2022-10-12 21:00] #5521 closed

[2022-10-12 21:01] sojan-official commented on #4012
@arkadiyayvazyan, push permission to origin is limited to the maintainers alone.
So you will have to fork the repo first. Then push the changes to the branch on your fork and then raise the PR from your fork against Chatwoot.

[2022-10-12 22:05] WevrLabs opened #5615 "[CW-2013] feature: Automation System actions: add options for Pending status / Unassign agent"
**Is your feature request related to a problem? Please describe.**
Currently the below conversation status update actions are available in automations (with agent `Unassign` action also not supported):

<img width="630" alt="Screen Shot 2022-10-13 at 12 00 47 AM" src="https://user-images.githubusercontent.com/66124192/195456226-23ec7819-7ba5-4119-ab8c-2a93ca1325ef.png">

**Describe the solution yo

[2022-10-12 22:30] ankwad commented on #5471
Any update on this one..
This is an essential feature..
Without notification how can we support customers immediately

[2022-10-13 04:27] sojan-official commented on #5576
ref: https://github.com/chatwoot/chatwoot/issues/4960

[2022-10-13 05:05] santhosh-chinnasamy commented on #4012
Hi @arkadiyayvazyan , if you have completed please go ahead and create a PR. I can help you with creating a PR.

[2022-10-13 06:53] pranavrajs commented on #5584
@tejaswinichile I'll create a separate product request for the first 2 with the context.

[2022-10-13 13:58] ssteeltm opened #5622 "Send message with "enter" also do \n"
**Describe the bug**

Send message with "enter" also do \n, when it should only send the message.

**To Reproduce**

Steps to reproduce the behavior:
1. Send message or private message
2. write "something to test"
3. put the cursor on "somethi | ng to test"
4. See error:
somethi \n
ng to test

**Expected behavior**

Should only send the message and not \n too

**Screenshots**
![image](https://user

[2022-10-13 15:14] xvladqt commented on #5476
In my case upgrade helped
https://www.chatwoot.com/docs/self-hosted/deployment/upgrade
specially
[code]

[2022-10-13 18:04] sojan-official commented on #5622
@ssteeltm This should be fixed in the editor fixes that's will be available in our upcoming release

[2022-10-13 18:19] doug1n commented on #5128
same issue

[2022-10-13 20:31] #5539 closed

[2022-10-13 21:39] curufinwefeanor commented on #5476
It did not work. Funny thing is that I can use chatwoot with docker on ubuntu without getting errors. I followed same steps but it did not work on macos

[2022-10-13 22:12] #4680 closed

[2022-10-14 01:19] XuJinNet commented on #5594
+1

[2022-10-14 01:20] panaras10 opened #5629 "Timestamp Won't Update"
Hi there,

We've been running chatwoot for a while now successfully but since the 2.9.1 update we had several issues. One major one is that the chat timestamps won't auto-udpate unless the page is refreshed. They show always "less than a minute ago". See screenshot for reference.

Thanks
<img width="474" alt="Screenshot 2022-10-14 at 9 16 28" src="https://user-images.githubusercontent.com/56270780

[2022-10-14 05:17] nithindavid opened #5630 "[CW-38] bug: Fix border color for CSAT component in widget"
**Prerequisites**
1. This happens for widget channel
2. Enable CSAT for the widget
3. Change the system theme to see dark mode (https://support.apple.com/en-us/HT208976)
4. On dark-mode when a conversation is resolved the below border appears over the tell us more field.

We need to come up with a dark variant colour for this.
Look `app/javascript/shared/assets/stylesheets/colors.scss` file for co

[2022-10-14 09:35] hosnas commented on #980
We really need a way to resume a conversation!

[2022-10-14 10:38] sentry-io[bot] opened #5631 "TypeError: Cannot read properties of undefined (reading 'message_templates')"
Sentry Issue: [CHATWOOT-AG](https://sentry.io/organizations/chatwoot-p3/issues/3345053951/?referrer=github_integration)

[code]

[2022-10-14 14:47] brunosfg opened #5634 "Recipient's profile photo - WhatsApp Cloud API"
A good improvement would be the ability to retrieve and show the recipient's profile picture in the conversation, just like a regular WhatsApp chat would do.

I couldn't find details in the API documentation, so I'm not sure if it is technically possible.

[2022-10-14 15:42] DanielGannage opened #5635 "Could not connect to Woot server"
Upon setting up the Linux VM, the server was running fine. However, when it idled for a day or two (after a series of setup/testing, we cannot sign in).

**The the chatwoot sign in interface said something along the lines of:**
"Cannot connect to Woot server."

**The chatwoot worker logs said:**
"ActiveRecord::ConnectionTimeoutError (could not obtain a connection from the pool within 5.000 seconds

[2022-10-14 18:52] SamalaSumanth0262 commented on #5630
Hi @nithindavid  can i work on this issue ?

[2022-10-14 18:54] nithindavid commented on #5630
Sure @SamalaSumanth0262 :) Assigning to you

[2022-10-14 19:53] SamalaSumanth0262 commented on #5630
@nithindavid  my rails server is up, do we have any micro repository for the front end?

[2022-10-14 19:53] SamalaSumanth0262 commented on #5630
<img width="1139" alt="Screenshot 2022-10-14 at 8 53 35 PM" src="https://user-images.githubusercontent.com/40859181/195930882-c517207c-1876-4b96-8c7c-b0eb14a695ed.png">

[2022-10-14 20:38] #5597 closed

[2022-10-15 03:34] julienmarie commented on #3373
I more than second this. Being able to track start of conversation and messages, identify events (when a customer enters his email address by example), and also when a conversation is resolved is key for us in terms of analytics so we can correlate impact on conversion rate on our e-commerce properties. It's quite a limiting factor and we would need to resort to complicated workarounds without it.

[2022-10-15 20:09] SamalaSumanth0262 commented on #5630
@nithindavid
<img width="1417" alt="Screenshot 2022-10-15 at 9 09 07 PM" src="https://user-images.githubusercontent.com/40859181/196005781-133cc050-e0db-4dab-84a2-d8b7724a947c.png">
My Local setup is done, can you guide me how to create a CSAT widget please ?

[2022-10-15 20:10] steveninety commented on #1598
Agreed. I guess styling is not so important on a generic site. But when the styling doesn't (somewhat) match a branded site, it leaves a really messy impression.

[2022-10-15 20:13] nithindavid commented on #5630
@SamalaSumanth0262 Please see the guides here - https://www.chatwoot.com/docs/product/channels/live-chat/create-website-channel

The issue is only for dark mode, please make sure you test this on both modes.

Once channel is created, you can
1.  Enable CSAT from the settings page of the created inbox.
2.  Visit `http://localhost:3000/widget_tests` to see the demo widget and start a conversation
3.

[2022-10-15 21:30] SamalaSumanth0262 commented on #5630
#5643 Please find the Fix PR, Thanks, and let me know if you want me to look at any p1 or p0 issues.

[2022-10-16 11:40] NitinNi3 opened #5645 "UI not updating with version"
I have successfully updated the chatwoot (linux without cwctl) and still not reflected on UI side but it showing the latest version. Please can you suggest me anything regarding this.

[2022-10-16 23:53] pranavrajs commented on #5645
@NitinNi3 If you are not using cwctl, please make sure that you have executed all the steps, and that they have been completed successfully Also, please restart the server after the upgrade.

https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm#upgrading-to-a-newer-version-of-chatwoot

[2022-10-16 23:54] pranavrajs commented on #5635
[code]

@DanielGannage It seems that Postgres is down. Can you please check if the Postgres database is running properly?

[2022-10-17 04:34] NitinNi3 commented on #5645
Yes i have followed those instructions but still not working and also restarting all the services but not restarting the whole system ! Do I need to restart the whole system?

[2022-10-17 07:36] #5568 closed

[2022-10-17 11:25] tejaswinichile commented on #5428
This is the fix for file_type == story_mention, the issue mentions a different file type, so fixing it in this same issue.

[2022-10-17 11:33] cpaybr commented on #5445
Hi! Can anyone help us with this?

[2022-10-17 11:58] sentry-io[bot] opened #5649 "EncodingError: The buffer passed to decodeAudioData contains an unknown content type."
Sentry Issue: [CHATWOOT-35](https://sentry.io/organizations/chatwoot-p3/issues/3261293905/?referrer=github_integration)

[code]

[2022-10-17 12:03] tejaswinichile commented on #5649
This audio decoding issue appears only on Mozilla firefox https://github.com/chatwoot/chatwoot/issues/5649

There are some related bugs out there https://bugzilla.mozilla.org/show_bug.cgi?id=865553 but they said it seems to be resolved a long time ago.

@iamsivin  I have assigned it to you for the initial investigation.

[2022-10-17 13:32] arielesp opened #5651 "docker not sending emails"
Hi
I am using chatwoot docker version.
Its working ok, aparently... but is not sending emails, like user agent activation

I already stopped docker, and redo smtp data in .env
I tested credentials in external app, and its working .. but not in chatwoot.
I am using sendinblue smtp service.

How to solve this? thanks in advance

**Server logs**
[code]

[2022-10-17 15:29] #5425 closed

[2022-10-17 16:01] te-dious commented on #5565
email thread content ->
[Gmail - ขออโลมพิจารณาปรับเบี้ยประกันภัยปีต่ออายุอีกครั้ง.pdf](https://github.com/chatwoot/chatwoot/files/9802453/Gmail.-.pdf)

[2022-10-17 16:32] ankwad opened #5654 "Push notifications dont come even for conversations assigned"
Can anyone help with Push notification
it doesnt work for new messages for an assigned conversation
also if a team is assigned to a conversation .- why doesnt the team get notification for the new messages
Whats the logic of getting push notifications

Also No notifications come for an API chanel - I have assigned the chanel conversation to an agent - still they dont get any notification

[2022-10-17 18:09] pranavrajs commented on #5654
@ankwad Can you please share the following information?

- Are you using Chatwoot Cloud or self-hosted Chatwoot?
- Did the user enable the notifications for assigned conversations? (Check profile settings)
- Where are you testing the notifications? (On mobile or On web)

[2022-10-17 18:17] pranavrajs commented on #5645
@NitinNi3 You just need to restart the chatwoot services.

Please share any logs that would be helpful to debug this. There is too little information to take any action here. Also, please check this command and see if it helps. https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm#if-precompile-fails

[2022-10-17 18:46] ankwad commented on #5654
Are you using Chatwoot Cloud or self-hosted Chatwoot?
 -- Self hosted
Did the agent enable the notifications for assigned conversations? (Check profile settings)
-- Yes have made sure the agent has enabled the notifications... all of them
Where are you testing the notifications? (On mobile or On the web)
-- Testing the notifications.. both on mobile and web

I am using chatwoot public apps..
I do

[2022-10-17 18:48] arielesp commented on #5651
# docker logs sidekiq

2022-10-17T18:43:09.703Z pid=1 tid=2dgp class=Avatar::AvatarFromUrlJob jid=c64e8341638a81a675f1b40e elapsed=5.025 INFO: done
2022-10-17T18:43:25.545Z pid=1 tid=2dgp class=ActionMailer::MailDeliveryJob jid=107b8ba3812dbea566367d58 INFO: start
I, [2022-10-17T18:43:25.550152 #1]  INFO -- : [ActiveJob] [ActionMailer::MailDeliveryJob] [470c4146-456f-49d2-b496-c543c497ea90] Perfor

[2022-10-17 19:14] pranavrajs opened #5655 "Custom attributes that cannot be edited by the agent"
There are certain custom attributes that should be read only to the agents while they could be edited by the admins/API. This would help the ops to set some attributes like billing information plans etc as read only for agents.

_Quote from a customer:_

To discuss:

- What is the implication in the product once we add this as a feature?
- What are the changes required for the enhancement?

[2022-10-17 19:26] pranavrajs commented on #5651
`Net::OpenTimeout: execution expired` This seems like the SMTP configuration is wrong. Can you please confirm that you have added the variables correctly?

[2022-10-17 19:28] pranavrajs commented on #5654
@ankwad Can you please share a screencast explaining the problem (please include the notification settings you have enabled and the action you are taking in the video)?

[2022-10-17 19:47] arielesp commented on #5651
.env file, this file is in root folder as the docker guide - I dont know if I need setup in another path :
MAILER_SENDER_EMAIL="Chatwoot <livechat@mydomain.com>"
SMTP_DOMAIN=mydomain.com
SMTP_ADDRESS=mysmtphost
SMTP_PORT=587
SMTP_USERNAME=livechat@mydomain.com
SMTP_PASSWORD=mypassword

--
using sendinblue smtp data
--

[2022-10-17 21:19] ankwad commented on #5654
Alrite while trying to reproduce I tried few things and figured it out..

basically even though the inbox is assigned to the agent every new conversation needs to be owned upon receiving first new conversation notification

For the second I was doing the error of sending message_type as outgoing rather as incoming.

[2022-10-17 21:28] #5654 closed

[2022-10-17 21:28] ankwad commented on #5654
closing

[2022-10-18 12:43] vishnu-narayanan commented on #5651
@arielesp Could you verify connectivity to Sendinblue?

[code]

Also,

MAILER_SENDER_EMAIL="Chatwoot [livechat@mydomain.com](mailto:livechat@mydomain.com)"
SMTP_DOMAIN=mydomain.com
SMTP_ADDRESS=mysmtphost

Could you share the value for `SMTP_ADDRESS` ?

[2022-10-18 12:52] arielesp commented on #5651
Hi
I am fixed ... first, I changed to gmail account ... and not sending.. but I received another error ... searching about, the problem was MAILER_SENDER_EMAIL="Chatwoot <livechat@mydomain.com>"

So, I change just to email, like this:
MAILER_SENDER_EMAIL="my@gmail.com"

and now it's working.

[2022-10-18 12:53] #5651 closed

[2022-10-18 19:29] voko3456 opened #5668 "send conversations to agent bot if customer reopen conversation"
The agent bot now is working fine when conversations created its go directly to pending status and agent bot will handle it

The problem is :
After I close the conversation then after some days customer send new message *re open* then the conversations it will not go to agent bot again..

Solution:
If the client reopen the conversation it should go always to agent bot if it's was closed

[2022-10-18 23:08] bonny1992 opened #5670 "Docker: unable to run initial migrations"
**Describe the bug**

Seems to be a really close issue to #4969 , while folowing the instructions on https://www.chatwoot.com/docs/self-hosted/deployment/docker/#steps-to-deploy-chatwoot-using-docker-compose
I can't get the migrations running as I get presented by
[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Follow the instruction until it's needed to run migrations
2. `docker-com

[2022-10-19 08:16] adam-nygate opened #5672 "Including offline agents in auto-assignment"
**Is your feature request related to a problem? Please describe.**
Suppose agents are currently offline when a conversation is created and they aren't notified of the creation of every conversation (as this can be overwhelming). In that case, conversations are created and left unassigned, with no one aware that they're in limbo.

**Describe the solution you'd like**
I'd like for there to be an opt

[2022-10-19 08:37] AndrewNeborsky opened #5673 "Saving chatwoot configuration in a docker container"
**Is your enhancement request related to a problem? Please describe.**
In my project, chatwoot runs with docker-compose.production.yml. Recently, it became necessary to change rate limits, but after restarting the container, the changes return to the default.

**Describe the solution you'd like**
Configuration changes don't revert back to default values after restarting a container.

**Describe al

[2022-10-19 12:11] Azathoth88 opened #5675 "Cannot start base_1 container"
I have done a Docker installation. I noticed that the base_1 container starts and stops immediately. In the logs I only find the message "Switch to inspect mode." What is the container responsible for and why can't it be started "normally".

see screenshot:
https://i.imgur.com/WezYEnZ.png

[2022-10-19 12:38] voko3456 opened #5676 "agent bot doesn't clear memory after i update agen bot"
hi if i create agent bot then i send message from mobile its working fine

the problem is when i update the agent bot config and i send new message from my mobile the agent bot is still responding with the old configuration, but if i send from new number the agent responded with the new configuration

[2022-10-19 12:52] happyDuke96 opened #5677 "Activate agents and change their passwords"
Can you add api to activate the agent? and changing the password using api (reset password)

[2022-10-19 13:18] #5676 closed, assigned to nobody

[2022-10-19 16:05] matthiscock opened #5678 "Installation - Digital Ocean - Ubuntu"
When running the install script the compile fails.
Running ubuntu 20.04 LTS

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Spin up server
2. wget https://get.chatwoot.app/linux/install.sh
chmod +x install.sh

sudo ./install.sh --install

**Expected behavior**

Installation scripts runs and chatwoot setup

**Browser logs**
[code]