[2021-03-13 16:56] iammattmartin opened #1903 "SMTP mail no longer sending"
**Describe the bug**

Outbound messages no longer initiate with the SMTP server set in .env on latest develop.

Checking mail logs, there is no connection attempts to the server.

Our setup has always been, and has not changed since it was last working.

[code]

[2021-03-13 16:57] iammattmartin commented on #1903
Errors in sidekiq

[code]

[2021-03-13 17:00] iammattmartin commented on #1903
Commenting that out and removing the value do not help.

The "none" option is needed where the SMTP server does not need authentication as is the case for when the SMTP server is on localhost.

[2021-03-13 17:14] NitinNR commented on #1899
In panel why can't delete the conversation's messages and why we can't forward messages to another conversation or to another contact?

[2021-03-13 17:17] iammattmartin commented on #1899
I would recommend searching.

#947

A message would always be raised by the contact so I can't see any scope for that to go to a different user. I would recommend raising a feature specifically for that, setting out your use case.

Otherwise, if not already, pay for the enterprise package and ask them for some custom work to develop.

[2021-03-13 17:18] iammattmartin commented on #1903
Even removing the line SMTP_AUTHENTICATION entirely, CW still seems to connect with an AUTH request when it shouldn't be doing so.

`none` appears to be an invalid option for the mailer anyway but the mailer docs say:

[code]

The big take away there is "if your mail server". Which ours does not but there appears to be no way to stop CW trying to use it now.

[2021-03-13 18:02] sojan-official commented on #1903
@iammattmartin  the previous version of chatwoot has some mailer config hardcoded that prevented few users from being able to use their mail servers.

so the config used to look like this
https://github.com/chatwoot/chatwoot/blob/6ba25bae3d4167f34e957b563875a553910be793/config/environments/production.rb#L103
[code]

where the authentication type and `enable_starttls` weren't taking in values from

[2021-03-13 18:46] sojan-official commented on #1887
@psifertex  Thanks for providing all that info.  it's super helpful. We might not be able to get to this for the 1.14. release. But we will try to take this up for our subsequent one.

[2021-03-13 19:17] iammattmartin commented on #1903
No luck with that.

[code]

My config now reads

[code]

[2021-03-13 19:18] iammattmartin commented on #1902
Actually, this has started appearing again in later chats. Closing for now until I can find the cause of those that are missing.

[2021-03-13 19:18] #1902 closed

[2021-03-13 19:23] iammattmartin commented on #1900
Example:
![Screenshot 2021-03-13 at 7 23 25 PM](https://user-images.githubusercontent.com/15971590/111041729-9996e880-8431-11eb-9100-02b6a44d8f79.png)

[2021-03-13 22:23] psifertex commented on #1887
No worries, thanks for the update. Let me know if I can help with anything else. If I get some more time I might take a look at trying some of the libraries out and submitting a PR but it would probably take more time to figure out the deployment/setup process than actually writing the code. 🤣

[2021-03-14 06:15] sivin-git opened #1904 "Fix: Responsive issue in chat list"
**Describe the bug**

Responsive issue in chat list header under 1200 px

<img width="572" alt="Screenshot 2021-03-14 at 11 39 48 AM" src="https://user-images.githubusercontent.com/64252451/111059253-153c7800-84ba-11eb-978b-76e1dc48452a.png">

[2021-03-14 09:06] sojan-official commented on #1887
@psifertex  In case you decide to give it a try, this should help you set up the local installation.  https://www.chatwoot.com/docs/installation-guide-docker

[2021-03-14 09:59] nithindavid opened #1908 "Enhancement: Redirect to inbox config page after creating an inbox"
All the steps and configs are not shown while creating an inbox. So after creating an inbox user could be shown a link to do further setting and configs.

[2021-03-14 10:10] sojan-official commented on #1903
@iammattmartin I have pushed a fix. Could you give it a check?

[2021-03-14 13:37] iammattmartin commented on #1903
Looking good. Queued mail all gone out and new notifications are leaving.

[2021-03-14 13:47] iammattmartin opened #1909 "Translations in the GUI"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Something noted with #1900, sometimes the default text used isn't really suitable.

"We are offline" in this case, for us, sounds bad. We would prefer something like "We'll be back soon", or "We're away right now".

One inflexibility is that many text elements are hard set. It would be prefe

[2021-03-14 16:39] sojan-official commented on #1903
closed in https://github.com/chatwoot/chatwoot/pull/1907

[2021-03-14 16:39] #1903 closed

[2021-03-15 07:08] pranavrajs commented on #1862
@muzammal-murtaza Can you please share server logs after you sent a message to FB Page? There is too little information here to debug the problem.

[2021-03-15 10:05] sivin-git opened #1911 "Fix: Conversation list user name overflow"
**Describe the bug**

The user name in the conversation list is overflowing with long names.

![image](https://user-images.githubusercontent.com/64252451/111135927-3927b880-85a3-11eb-820b-f255ef26b724.png)

[2021-03-15 13:05] #866 closed

[2021-03-15 13:08] #1911 closed

[2021-03-15 13:45] #1877 closed

[2021-03-15 15:53] srameshr opened #1915 "Wrong error message when login fails for non activated accounts"
**Describe the bug**

When I try to re-login into an account after logging out without activating the account via an email, it fails with a confusing error message.

**To Reproduce**

Steps to reproduce the behavior:
1. Signup with a dummy account and go to dashboard but don't activate your account via email auth.
2. Logout of the account
3. Try to login again.
4. You see a "bad password" error me

[2021-03-15 17:53] bijoysijo commented on #1915
@srameshr

When I tried this out,

I visit chatwoot.com -> click on create an account -> fill out my full name, account name and work email -> got redirected to the dashboard (without any prompt asking / telling me that a confirmation email has been sent and that I should set a password using it) -> I sign out -> then try to sign back in with same mail id -> I get asked for a password (this is ano

[2021-03-15 17:57] nithindavid commented on #1869
This isn't fixed with #1849, Will fix in a new PR.

[2021-03-15 18:09] srameshr commented on #1915
I chose the second part. I've added a lot of redundant checks because I don't know if the error will always be an array of strings. Also, by the way how come there is no option anywhere through the app to request a confirmation email once again.
[code]

[2021-03-15 18:11] srameshr commented on #1915
@sojan-official Does this fix work for now?

[2021-03-15 18:39] sojan-official commented on #1216
@Brokray  We don't have anyone working on this at the moment.  If you are interested in contributing, feel free to go ahead :)

[2021-03-15 20:10] IVRYSimon commented on #1655
Im searching since months for good livechat solution embedable for Teams.
Would love to see this feature! :)

[2021-03-16 07:30] pranavrajs opened #1917 "Clicking on a conversatation from teams resets the team filter"
Steps to reproduce:

1. Create a team.
2. Assign a conversation to a team.
3. Click on the team name from the sidebar
4. Click on the conversation from the list.

It will refresh the page and remove the team filter.

[2021-03-16 08:09] pranavrajs opened #1918 "Bug: Cannot save teams with space in the name"
Steps to reproduce:

- Go to teams
- Input value "Customer Support"
- Click on save.

The action fails with a message "Couldn't save the team details. Try again."

[2021-03-16 11:26] srameshr opened #1922 "SSL ERROR: Cant send outbound email on version 1.14.0"
**Describe the bug**

A confirmation email, as well as email inbox, fails with the below logs
[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Create an account and see the worker logs for mail delivery
2. Or
3. Create an inbound email channel and see the logs

**Expected behavior**

As in pervious versions.

**Screenshots**

If applicable, add screenshots to help explain your problem

[2021-03-16 11:48] sojan-official commented on #1922
@srameshr there was some hardcoded environment variables in the previous version, which we have made customizable.
https://github.com/chatwoot/chatwoot/issues/1903#issuecomment-798711893

So could you check whether you have all those environment variable available in production or the value different from whats was set as default?

primarily values for

smtp_authentication
smtp_enable_starttls_aut

[2021-03-16 11:54] srameshr commented on #1922
@sojan-official
These are my environment variables and values for what you asked:

[code]

[2021-03-16 12:00] srameshr commented on #1922
Also, adding an inbox email succeeds but when adding the new mail generated as the forwarding address to my mail account fails with this message to my inbox.

[code]

[2021-03-16 12:42] srameshr commented on #1922
@sojan-official On app.chatwoot.com I can add an inbound email channel and set the forwarding address successfully but I don't receive any emails nor can I send any email to and from the dashboard after adding the channel.

None of the emails sent to the address shows up on the dashboard.

[2021-03-16 14:14] #1917 closed

[2021-03-16 14:16] srameshr opened #1924 "Manually trigger a verification email"
**Is your feature request related to a problem? Please describe.**
Sometimes, after signing up I don't get a verification email and I have no way of requesting a new verification email again from the UI dashboard.

**Describe the solution you'd like**
Next to the agent name, if the account is not verified show a button to "Re-send Verification Email"

**Describe alternatives you've considered**
No

[2021-03-16 14:26] pranavrajs opened #1925 "Delete user account while removing from the account"
If the user is associated with only one account, delete the user record also while removing it from the account.

#### Problem

When a user is removed from an account, we are removing the base user account considering that the user can be present in more than one account. This creates orphan user records in the system if the user is associated with only one account.

#### Solution

Delete user acc

[2021-03-16 17:09] srameshr commented on #1922
@sojan-official
Ok, so I got it. You have set openssl_verify to peer and it's not able to find the SSL certificate path. But setting SSL_CERT_DIR and SSL_CERT_FILE env variables in a generic Ruby application should solve this issue. But on Chatwoot it's not.
Could you revert this change and push a hotfix?

[2021-03-16 17:13] sojan-official commented on #1922
@srameshr  there is a fix that's pushed on current develop.  There is also a couple of bugs that we need to get to.  So we will be cutting a 14.1 soon.

[2021-03-16 17:16] srameshr commented on #1922
@sojan-official Do you know why setting SSL_CERT_DIR and SSL_CERT_FILE is not picking up the cert file path and fixing that SSL error?

[2021-03-17 07:20] shrujan-kirusa opened #1929 "feat: Ability to delete a contact"
**Is your enhancement request related to a problem? Please describe.**
During testing we have created multiple contacts with random e-mail Id's, But now we are unable to delete any of the contact. There is no API to delete a contact or on the web page also we don't see an option to delete a contact.

**Describe the solution you'd like**
It would be better if we can delete contact on webpage as wel

[2021-03-17 09:58] digitalescapade opened #1933 "Line breaks don't render in widget bubbles"
**Describe the bug**

When a message is sent from agent to user and contains line breaks, it renders without any line break in chat widget bubble.

**To Reproduce**

Steps to reproduce the behavior:
1. Send a message that contains line break via createmessage API
2. Read it from js chat widget

**Expected behavior**

Message should display line break.
For example :

instead of

**Environment**

Se

[2021-03-17 17:51] iammattmartin commented on #1929
It may also be better for GDPR/CCPA/etc that for contacts which have no conversations associated or any other data for them to be automatically deleted.

This means only data which is kept matching actual content (chat/message) data is kept.

[2021-03-17 19:47] iammattmartin commented on #1933
May be related to #1730

[2021-03-18 08:35] srameshr opened #1937 "ContactId duplicated across accounts."
**Describe the bug**

I have 2 different accounts and each of those accounts interacts with a customer with the email abc@xyz.com. Now, I expect 2 different contact entries in the contacts table. But, it just overrides existing contact with abc@xyz.com

**To Reproduce**

Steps to reproduce the behavior:
1. Use two browser windows, one in incognito so the session is not maintained.
2. Create new ac

[2021-03-18 09:34] sojan-official commented on #1937
@srameshr  Could you double-check whether the widget belongs to a different account in the test cases you mentioned?

The easiest way to do this is to use different colours for both the widget.

  ---

Chatwoot isolates contact records on a per-account basis, the merge action would only happen between contacts in the same account

ref: https://github.com/chatwoot/chatwoot/blob/54d578676b25383fea9a

[2021-03-18 09:37] sojan-official commented on #1933
seems like this is the same as #1730.  closing this to track the future conversations on a single ticket.

[2021-03-18 09:37] #1933 closed

[2021-03-18 10:52] koudshoorn opened #1940 "Meet Web Content Accessibility Guidelines (WCAG) for the Live Chat client"
**Is your enhancement request related to a problem? Please describe.**
The current chat client that is used for the website channels is not yet accessible for people with certain disabilities (like blindness). Accommodating these people is a requirement that we're trying to uphold for our website. With a number of minor changes, we believe this accessibility requirement could be met.

**Describe t

[2021-03-18 11:19] #1937 closed

[2021-03-18 11:19] srameshr commented on #1915
@sojan-official Do you think this PR will work if I raise one?

[2021-03-18 12:34] pranavrajs opened #1941 "Integration with Discord"
https://news.ycombinator.com/item?id=26501892

As we are using Discord for the community, it would be helpful to have an integration with Discord so that we can reply without leaving Discord

[2021-03-18 17:45] mariusa opened #1942 "Make it obvious for agent there are new messages"
**Is your enhancement request related to a problem? Please describe.**
As an agent, I open https://app.chatwoot.com/app/accounts/3889/inbox/3137 in a tab, then go work in other browser tabs (same window).

When receiving a message from customer, I don't see it unless I go and check the tab page content, where it does show. I can't check every minute.

**Describe the solution you'd like**
1. Have t

[2021-03-18 17:57] mariusa opened #1943 "Please add a few details to README about Engineering details"
Would like to know what languages this is being developed in. eg Frontend is in Vue 2.x, Backend in Ruby (?), using PostgreSQL db.

I saw https://www.chatwoot.com/docs/deployment/architecture, maybe there would be best to put the details for each. The current README link would become "Software & Deployment architecture".

It would also be beneficial to potential contributors.

Thanks!

[2021-03-18 18:15] pranavrajs commented on #1943
We are writing styleguide.chatwoot.com. This would be covered there.

[2021-03-18 18:42] mariusa commented on #1943
Thanks! Didn't see it from README. Feel free to close. Glad you chose Vue

[2021-03-18 18:43] pranavrajs commented on #1943
I will move this ticket to the docs repo.

[2021-03-19 07:25] #1869 closed

[2021-03-19 10:16] sojan-official commented on #1942
@mariusa  you should be able to enable the audio alerts by navigating to your profile setting.

<img width="280" alt="Screenshot 2021-03-19 at 3 46 24 PM" src="https://user-images.githubusercontent.com/73185/111765369-4954d600-88ca-11eb-8817-b9f8cd42d55f.png">

[2021-03-19 10:23] sojan-official commented on #1915
@srameshr  we are planning to revamp the current signup flow to include a password field right at the start.
This looks good for a temporary fix until then.

cc: @nithindavid

[2021-03-19 10:27] srameshr commented on #1915
Should I send a PR for this?

[2021-03-19 10:30] sojan-official commented on #1915
@srameshr  please go ahead

[2021-03-19 10:57] sojan-official commented on #1924
For a temporary workaround, you can use the rails console to trigger a new verification email

[code]

[2021-03-19 17:49] strafrecht opened #1948 "UI not updating when sending/receiving messages"
**Describe the bug**

When using self-hosted chatwoot with docker-compose setup, messages are displaying as "not sent" (i.e. the UI is not updating correctly, meaning the text bubbles remain light blue instead of dark blue) even though the data is sent to the server. The admin interface UI also does not update to show these new messages, and requires a refresh for them to appear.
Restarting the do

[2021-03-19 18:26] irhrhd opened #1949 "Deploy to other websites"

[2021-03-20 00:49] iammattmartin commented on #1949
You've not added any context.

What are you trying to achieve?

[2021-03-20 01:58] irhrhd commented on #1949
Like aws and azure not just heroku

[2021-03-20 02:00] iammattmartin commented on #1949
Well you can deploy anywhere as a base setup with caprover or the manual linux install instructions/docker.

https://caprover.com/
https://www.chatwoot.com/docs/installation-guide-docker
https://www.chatwoot.com/docs/installation-guide-ubuntu

If you want a more structured layout with specific services dealing with each part (i.e db etc), you'd have to do that yourself currently

[2021-03-20 02:24] Jivings opened #1950 "HTML Emails in Conversation view"
**Is your enhancement request related to a problem? Please describe.**

The conversation viewer doesn't display HTML emails (and also doesn't display plain text emails correctly either).

**Describe the solution you'd like**

- Simplest solution is for Chatwoot to handle plain text emails correctly (it looks like it's stripping newlines right now), and even to handle the `format=flowed` [[1]] enco

[2021-03-20 07:17] sojan-official commented on #1949
like @iammattmartin  mentioned. there are no limitations on installation options.
You can use either docker or ubuntu installations to deploy chatwoot on any service that provides a Linux vm/ containers

[2021-03-20 07:17] #1949 closed

[2021-03-20 07:18] nithindavid opened #1952 "Chore: Refactor usage of chat to conversation in vue State"
- We are using chat for conversation across the fe state, which needs to be changed to conversation to consistency

[2021-03-20 07:29] srameshr commented on #1924
Could you expose an API to do this? I would send a PR for the dashboard to hit this from the Agents page.

[2021-03-20 07:32] nithindavid opened #1953 "Bug: Android Firefox not showing chat input box on widget"
Firefox on android doesn't show the chat input box when keyboard is active

![image](https://user-images.githubusercontent.com/1277421/111862567-24b93680-897c-11eb-8b51-36609f592fba.png)

[2021-03-20 07:35] nithindavid opened #1954 "Bug: Fix zooming while input is active on widget"
![image](https://user-images.githubusercontent.com/1277421/111862683-e2dcc000-897c-11eb-8d6a-a6cb379c1034.png)

[2021-03-20 07:37] nithindavid opened #1955 "Bug: Clear search input when page changes"
![image](https://user-images.githubusercontent.com/1277421/111862745-38b16800-897d-11eb-8474-c40b44d7b5c0.png)

[2021-03-20 07:43] sojan-official opened #1956 "bug: Issue in chat on FF mobile for Android"
![Screenshot_20210320-092344 (1)](https://user-images.githubusercontent.com/73185/111862874-166c1a00-897e-11eb-922a-197d9e3eb50e.jpg)

[2021-03-20 08:00] sojan-official commented on #1956
duplicate of #1953

[2021-03-20 08:00] #1956 closed

[2021-03-20 12:14] #1894 closed

[2021-03-20 12:14] #1915 closed

[2021-03-20 14:14] ankan1811 opened #1958 "fix zooming"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, add screenshots to help explain your problem.

**Browser logs**

Share the browse

[2021-03-20 14:14] #1958 closed

[2021-03-20 20:58] sojan-official commented on #1922
@srameshr  I have cut 1.14.1 which should reset automatically setting openssl_verify to peer unless it is specified. let me know if this fixes the issue.

[2021-03-21 04:47] ishitaojha commented on #1042
hey if the issue is still open can you assign it to me ?

[2021-03-21 04:48] ishitaojha commented on #993
Hey ,please  assign this to me as I really want to try this one out , its quite interesting .

[2021-03-21 05:50] muhsin-k commented on #1042
@ishitaojha Please feel free to go ahead.

[2021-03-21 11:28] jtraulle opened #1959 "Email continuity / ActionMailbox with Postal server"
**Is your enhancement request related to a problem? Please describe.**
Per GDPR requirements, I prefer when possible not involve other data processors (like Sendgrid, Mailgun, etc.) and thus I have deployed my own mailserver using Postal.

**Describe the solution you'd like**
It will be great if conversation continuity could work with a postal server but for now, despite my numerous trials, I coul

[2021-03-21 12:36] pranavrajs commented on #1959
@jtraulle I guess this is more of a documentation problem, rather than an issue with the app. Shall I move this to the repo?

[2021-03-21 12:39] mariusa commented on #1600
If there are no business hours setup, would you please consider displaying the status automatically as the 1st message said?
In website chat widget > welcome screen > status is shown online as long as agent has:

* The agent has admin panel open in browser
* The agent has mobile app opened

I don't have a regular work schedule, but would like to show as online when I have the admin panel open in b

[2021-03-21 12:41] mariusa commented on #1600
Actually, after more testing, it seems to work like this, which is great. It took more time (minutes) for online to change to offline after I closed the tab, which is ok.
Would you confirm? Based on the issue history, I thought this was dropped completely and only business hours mattered.

[2021-03-21 13:08] jtraulle commented on #1959
@pranavrajs Yes, feel free to move it to the other repository if you think this is more a documentation problem ;)

[2021-03-21 14:08] psifertex opened #1960 "prune unnecessary database rows"
**Describe the bug**

Running chatwoot with a web-integration causes a contact and conversation to be created for each visitor to a website, even if no conversation is ever initiated. This will pollute the database unnecessarily. For example, right now I have three "contacts" shown in my web UI, but when I check the database, I have 4k rows in the contacts table. This seems unnecessarily wasteful.

[2021-03-21 14:17] psifertex commented on #1960
I'm debating something like the following as a post-process command that I can at least script up to run nightly, but don't know enough about the database structure to know if this is safe or not yet.

[code]

From looking at the scheme it looks like it /should/ be as long as the naming convention is consistent and I'm not missing a reference to contact or contact_inboxes.

[2021-03-21 14:17] psifertex commented on #1960
Sorry, accidentally closed. Leaving open to see if there's plans to properly fix this so post-processing isn't needed.

[2021-03-21 14:45] psifertex commented on #1960
If there's no objections, I can submit a PR to add a rake task for the Heroku scheduler:

[2021-03-21 16:24] pranavrajs commented on #1960
@psifertex That's associated with sessions. If you have 4k unique visitors on the website, you will have 4k session records. We initiate a session when the user first visits the webpage first time to 365 days after the last visit.

[2021-03-21 16:31] sojan-official commented on #1600
@mariusa when you don't have business hours set up. We display the online status based on whether you have agents logged into the system.

at the moment, chatwoot takes around a minute to register an agent to be offline after they logged out.

I can confirm that behaviour.

[2021-03-21 16:46] Luuuuuis opened #1961 "Managing Twitter Events triggering conversations"
**Is your enhancement request related to a problem? Please describe.**
I get spammed with unrelated replies that I'm not interested in.

**Describe the solution you'd like**
A setting to manage all events that can trigger a conversation in the Twitter Inbox settings tab (e.g. DM, reply, mention, ...)

**Describe alternatives you've considered**
Resolving these conversations :/

**Additional contex

[2021-03-21 17:37] mariusa commented on #1600
perfect! Thanks

[2021-03-21 17:37] sojan-official commented on #1959
ref:  https://lcx.wien/blog/rails-actionmailbox-with-postal/

we would need to add an ingress controller to support postal

[2021-03-21 18:15] psifertex commented on #1960
Is it possible to disable session creation until the user actually either 1) opens the chat dialog, or 2) sends a message?

[2021-03-21 19:29] pranavrajs commented on #1960
It can be an enhancement. I'm removing the bug as it is not a bug. I'll let @sojan-official @nithindavid evaluate the work need for the changes you mentioned.

[2021-03-21 19:31] pranavrajs commented on #1961
@Luuuuuis A little bit more context would be helpful. Can you share a screenshot or something?

Right now, the message you get is the ones with mentions or DMs. I didn't completely understand the problem you are facing.

[2021-03-21 19:45] psifertex commented on #1960
Sounds good -- if it's actually tracking useful information I agree it shouldn't be a bug but configuration of it could be considered an enhancement. Let me know about that Suggested PR -- just adding that task would make cleanup easier for those who care.

[2021-03-21 20:06] pranavrajs commented on #1960
@psifertex Please feel free to raise a PR. We are happy to take that in if that helps you.

[2021-03-21 20:08] pranavrajs commented on #1954
@nithindavid I guess this because the font-size is 14px, not 16. If it's not 16px, the browser would auto-zoom. I think we can reconsider the font-sizes.

[2021-03-21 20:09] Luuuuuis commented on #1961
Okay. My problem is that I get tons of replies, but they are completely irrelevant to me. I get them because I have a bot that auto replies with law text triggered by certain key word. But I don't want to get any conversations out of that, because the replies on that law text tweet don't interest me. I only want to get new conversations either when someone tags me in their tweet or when someone wr

[2021-03-21 20:30] manuelmeurer opened #1962 "Slack integration error"
**Describe the bug**

Setting up the Slack integration does not work.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to the integrations page
2. Click on "Connect" for the Slack integration
3. Select the correct Slack workspace and click "Allow"
4. Back on the integrations page, see error 500 in the console. It still says "Connect" next to the Slack integration. Connecting again does th

[2021-03-22 03:49] pranavrajs commented on #1962
@manuelmeurer Thanks for reporting this. We will debug the issue.

[2021-03-22 07:09] rhost commented on #1942
is that possible to get audio notification, only for agent which handling current chat instead notify all active agent?

[2021-03-22 08:58] tharun208 commented on #1955
@nithindavid I like to work on this

[2021-03-22 09:15] sojan-official opened #1963 "chore: Ability to filter contact/id/conversations endpoint"
At the moment, `contact/id/conversations` returns all conversations associated with the contact

I would like the ability to pass filters to this endpoint  and filter this conversation based on
conversation status, inbox, labels

[2021-03-22 10:38] sojan-official opened #1964 "chore: Ability to order the conversation api"
at the moment conversations are ordered by the last active time.
I would like the api to have different order by options

example: order by created_at

[2021-03-22 11:58] nithindavid opened #1965 "Bug: New icon for sidebar items routes to inbox"
the new icon next to label, teams on sidebar leads only to inbox.

[2021-03-22 12:12] pranjal0819 commented on #1710
## I found some issue with contact name like this

1. Time of the message overlaps with the name
![image](https://user-images.githubusercontent.com/40784971/111986652-40673d00-8b34-11eb-94c3-850575009139.png)

2. Email overlaps with name
![image](https://user-images.githubusercontent.com/40784971/111986820-6e4c8180-8b34-11eb-96b3-5daf781d9948.png)

3. Message gone outside of the window
![image](ht

[2021-03-22 12:24] sojan-official commented on #1942
@rhost at the moment the audio notifications work for all the new conversations. We will be adding the ability to specify notification for different alert types

[2021-03-22 12:31] sojan-official commented on #1922
tested in docker images with SendGrid and Mailgun config and the issue seems to be resolved

[2021-03-22 12:31] #1922 closed

[2021-03-22 16:10] Alex2289-king-designs-com opened #1968 "Messaging"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-22 16:36] pranavrajs commented on #1968
Closing as the issue does not have any relevant information.

[2021-03-22 16:36] #1968 closed

[2021-03-22 17:52] danielzzz opened #1969 "docker-compose fails on creating the db and connecting to redis"
I am trying to install chatwoot with docker-compose, but having some troubles making it work.
I suspect it might be because I am using nonstandards ports??

It says it creates the database but then it does not exist..
also it cannot connect to redis but the log from redis says it has started properly.

thanks, cheers, dan

**To Reproduce**

my .env file
[code]

my docker-compose.yaml

[code]

**Ex

[2021-03-22 17:53] luismedicina23 commented on #1969
Where I reclaimed?
Em seg., 22 de mar. de 2021 às 14:52, danielz ***@***.***>
escreveu:

[2021-03-22 17:54] luismedicina23 commented on #1969
My last attention just go away because yesterday we have MMA discussion

Em seg., 22 de mar. de 2021 às 14:52, danielz ***@***.***>
escreveu:

[2021-03-22 17:56] luismedicina23 commented on #1969
To u know...
Everything happened because I’m trying configure a token to doker digital
 assignat

Em seg., 22 de mar. de 2021 às 14:52, danielz ***@***.***>
escreveu:

[2021-03-22 17:58] luismedicina23 commented on #1969
Okay calm is big

Em seg., 22 de mar. de 2021 às 14:52, danielz ***@***.***>
escreveu:

[2021-03-22 17:58] luismedicina23 commented on #1969
I’m Brazilian

Em seg., 22 de mar. de 2021 às 14:52, danielz ***@***.***>
escreveu:

[2021-03-22 22:12] ajarmoszuk commented on #1948
Exact same case happening to me.

[2021-03-22 22:20] asasr commented on #1948
fhad1012@icloud.com

[2021-03-23 03:36] alhazmy13 commented on #1922
@sojan-official i tested this with v1.14.2 docker image using mailgun and it seems the issue still exist.

error:
[code]

[2021-03-23 07:36] nithindavid opened #1972 "Enhancement: User profile is not in sync with twitter api"
**Why**
Contacts created from twitter channel is not getting their bio updated with every interaction to chatwoot.

[2021-03-23 07:57] sojan-official opened #1973 "feat: Ability to send voice message to channel from agent dashboard"
I would like to give my agents the ability to sent voice messages to supported channels from the agent dashboard

## Acceptance
- [ ] Interface to record voice messages in chatwoot
- [ ] attach the message as voice message into conversation
- [ ] Send as voice messages to channels like facebook, whatsapp, telegram, line etc

ref: https://github.com/grishkovelli/vue-audio-recorder

[2021-03-23 08:17] muhsin-k opened #1974 "Widget and dashboard not validating file size on uploads"
- Set max file size in constants
- Add file size check in both widget and dashboard
- Add  file size check in file upload API

[2021-03-23 08:18] amblerkr commented on #1961
The tweet I retweeted will be displayed in the message box. I want to receive only DM.
![image](https://user-images.githubusercontent.com/67187038/112114737-bda9b500-8bfb-11eb-91c1-2a2687d2cd3b.png)

[2021-03-23 08:22] amblerkr commented on #1862
I tried it, but I think there's the same problem. It would be nice to have a guide video. I might have done something wrong.

[2021-03-23 08:36] Jivings opened #1976 "Widget sets a cookie to track the conversation before the widget has ever been opened"
**Describe the bug**

When the Chatwoot widget is loaded it sets a cookie `cw_conversation`. It seems like this is uneccessary, and is only ever needed if the vistor interacts with the widget.

**To Reproduce**

Load the chat widget script on a webpage.

**Expected behavior**

The widget should only set a cookie after the visitor opens/interacts with it as that's when the conversation starts.

**S

[2021-03-23 08:47] sojan-official opened #1977 "feat: Conversation search should redirect to the specific message"
Clicking on the search result in conversation search should redirect the user to the specific message

[2021-03-23 08:51] sojan-official commented on #1922
@alhazmy13  could you check whether your SMTP environment variables are as displayed below. and no other config is set?

![Screenshot_2021-03-22_at_12 51 46_AM](https://user-images.githubusercontent.com/73185/112118956-e8d3da80-8be2-11eb-9d0b-89c3bca82c05.png)

if you have  `smtp_openssl_verify` environment variable, please remove that.

[2021-03-23 08:55] sojan-official commented on #1976
@Jivings one of the features we are working on at the moment is the ability to sent proactive messages based on the pages visited.  This lets the agents send a message like "May I help you ?"  to visitors even before they initiate the conversation.

But we can definitely consider the behaviour: the cookie is set upfront only if proactive messaging is enabled on the account.

[2021-03-23 10:06] nithindavid opened #1979 "Enhancement: Scroll to message in conversation after search"
Currently on clicking the search result message, it goes to the conversation but we have scroll again to find it. Would need to show the exact message from search result.

[2021-03-23 10:07] sojan-official commented on #1977
closing in favor of https://github.com/chatwoot/chatwoot/issues/1979

[2021-03-23 10:07] #1977 closed

[2021-03-23 10:53] Jivings commented on #1976
Ah yeah it makes sense why you want this cookie then. But it would be great if I had the option to not use that and so not set that cookie 😃

[2021-03-23 13:28] Rishav-Saw commented on #1954
yup that might be the case but I probably think that i have to fork it first and then I can modify it I have just made my account here and just know basics of github

[2021-03-23 14:30] nithindavid commented on #1954
@Rishav-Saw You can join our discord channel - https://discord.gg/cJXdrwS to get help.

[2021-03-23 16:07] XuanThuLe commented on #1965
G88-Global Game Pỏtal

[2021-03-23 18:25] nithindavid opened #1980 "Bug: missing cookie data crashes app"
[code]

[2021-03-24 01:54] AlexVKO opened #1981 "CI Proposal"
Hey guys,

I'm building a **managed CI** platform specifically for ruby projects.

This is the run of one of your last commits https://ruby.ci/AlexVKO/chatwoot/60217d8/rspec (from a fork)

I'm asking the biggest open-source Rails projects for support. I'm at a fast pace and adding a lot of new features that really no other CI platform can deliver to the ruby community. (rerun failures, flaky tests

[2021-03-24 03:39] aherrera31 commented on #628
@pranavrajs @muhsin-k -- any update on this feature? Superhuman's keyboard shortcuts could be great inspiration here

[2021-03-24 09:38] nithindavid opened #1983 "Bug: TypeError - Cannot read property 'id' of undefined"
./app/javascript/dashboard/store/modules/conversations/getters.js at line 27:57

[2021-03-24 11:29] sojan-official opened #1984 "chore: Add validations for contact Email"
Add validations for contact email attribute

[2021-03-24 11:40] PyB1l opened #1985 "Website inbox IP or Domain restriction"
Hi there, we are trying to setup a custom installation of chatwoot.
Is there any way to restrict the usage of the web snippet to the actual domain / IP of the site we wnat to integrate?

[2021-03-24 12:40] pranavrajs commented on #1985
Closing as this is a duplicate of #1121

[2021-03-24 15:19] PyB1l commented on #1985
I saw the #1121 , but I am not really interested in GeoIP restrictions, I just want to ensure that the widget I will copy and paste to my site will be from my domain and  / or IP.

[2021-03-24 20:37] iammattmartin commented on #1985
Yes and no.

There is no way to include the widget on a path of an existing domain pointing elsewhere. (#1430)

You can however add multiple vhosts in Nginx (for example) and have them pointing to the same base. Then just change the widget URL to match the additional hostnames pointed at it.

This works fine and we've been doing this against 4-5 vhosts to make the widget appear from that domain, a

[2021-03-24 20:37] edumansky opened #1986 "Fails bundle install due to yanked mime magic 0.3.5"
**Describe the bug**

A clear and concise description of what the bug is.

When running `bundle install` (in my case trying to deploy to Heroku via the deploy button), it fails due to mimemagic 0.3.5 being yanked by the author:

**Additional context**

Looks like a major issue impacting all Rails projects

https://github.com/rails/rails/issues/41750

[2021-03-24 20:43] pranavrajs commented on #1986
@edumansky Yes, we noticed the issue. There was a license change in mimemagic moving it to GPL.

[2021-03-24 20:48] PyB1l commented on #1985
My only concern is how anyone can copy paste the widget code from my website html inspection, embed it elsewhere and generate chat traffic to my agents.
My first instict was if  there was so or mething with IP or Domain restriction,. like other service (i.e google maps) where you have to declare you allowed domains and IP's.

I saw the user identity (HMAC) but as far I understood this is an integr

[2021-03-24 20:50] iammattmartin commented on #1985
OK, so that explains your question a bit better.

I don't believe this is possible currently. @pranavrajs will confirm.

In any case, for the moment, you can see the URL that they have submitted the query via on the GUI.

[2021-03-24 21:18] edumansky commented on #1986
Yeah, that's clearly not ideal for your project. Hopefully Rails team will come up with something workable.

[2021-03-25 07:07] mariusa commented on #1119
For businesses which do have Whatsapp Business API access, it would still be useful to have a native integration vs. having to setup & pay a 3rd party provider.

[2021-03-25 12:51] sojan-official opened #1988 "Investigation: Use local-storage instead of cookies"
investigate the advantages / disadvantages of using local storage for storing widget data

[2021-03-25 13:20] jdaviescoates opened #1989 "Finish creating Cloudron package :)"
Just a little reminder to @sojan-official that it'd be awesome for there to be a Cloudron package for Chatwoot :)

(re https://forum.cloudron.io/post/8887 ) ;)

Thanks!

[2021-03-25 14:52] Giszmo opened #1990 "Make search results more navigable"
**Is your enhancement request related to a problem? Please describe.**

The search is good to find the first hit but when I want to reply to all users that mentioned XY, it's hard to go through quickly.

**Describe the solution you'd like**

* Keep the search results visible while replying to a conversation. It could be an extra tab next to Mine/Unassigned/All/Search
* Organize Search Results hier

[2021-03-25 15:47] iammattmartin commented on #1827
This may need some further review and a re-open @pranavrajs.

Even though that earlier task is resolved. We still see instances where this does not happen.

The message does show on the admin side and if the visitor refreshes the page it appears but it does not do in real time without them reloading the page.

It doesn't always occur but we've managed to replicate it a few times now in testing but

[2021-03-25 16:54] aag1990 commented on #1020
I use this feature on other platforms to send tickets updates to clients. I hope to see this in Chatwoot soon!
A local list can be available for users to add the approved template messages. So we can copy and past the approved template message to Chatwoot!

[2021-03-25 17:19] jrbrasil opened #1991 "Error install chatwoot Ubuntu Linux 20.04"
Hi,
Okay?
See the error below when installing chatwoot on ubuntu linux 20.04

Using /usr/share/rvm/gems/ruby-2.7.2
fatal: destination path 'chatwoot' already exists and is not an empty directory.
Already on 'master'
Your branch is up to date with 'origin/master'.
Fetching gem metadata from https://rubygems.org/.......
Your bundle is locked to mimemagic (0.3.5), but that version could not be found

[2021-03-25 17:58] mohammedfarish commented on #1991
We're now facing an issue with the `mimemagic` package. The developers of the package has made changes with their licensing. You can refer to this link, which is exactly what's causing this. https://github.com/chatwoot/chatwoot/issues/1986

[2021-03-25 18:24] jrbrasil commented on #1986
OK.
Have a solution to solve this problem?
Thanks a lot!!

[2021-03-25 19:39] pranavrajs commented on #1827
Let us re-investigate

[2021-03-25 20:07] sojan-official commented on #1815
@karthik-sivadas

[2021-03-26 04:55] connor4312 commented on #1942
I would love to have [browser notifications](https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API/Using_the_Notifications_API) as well. This is more prominent than an audio alert (especially if I'm listening to music) and also can integrate into OS' notification centers.

[2021-03-26 05:24] aekanshpartani opened #1992 "input_select webhook hit doesn't contain value if we do not select the latest one"
**Describe the bug**

We send user multiple (two in this case) input_select, but when user select first one it gets selected & displayed in panel but webhook hit doesn't contain submitted values.

**To Reproduce**

Steps to reproduce the behavior:
1. Send two or more input_select, select the first one you sent
2. Check for webhook hits and see if you get submitted values
3. It happens most of the

[2021-03-26 06:14] nithindavid opened #1993 "Enhancement: Sort labels in alphabetic order on modal"
**Why**
Difficult to find labels.

![image](https://user-images.githubusercontent.com/1277421/112590248-8704b200-8e28-11eb-945a-dcdd8f886e52.png)

[2021-03-26 11:50] #1993 closed

[2021-03-26 20:16] Luuuuuis commented on #1961
This is my account after 3 days not looking into it :D

![image](https://user-images.githubusercontent.com/45736619/112687891-6a906600-8e78-11eb-8d95-98ecaf91c394.png)

[2021-03-27 13:49] sojan-official commented on #1991
We have added a new release which should fix this
https://github.com/chatwoot/chatwoot/releases/tag/v1.14.3

[2021-03-27 13:49] #1991 closed

[2021-03-27 13:49] sojan-official commented on #1986
We have added a new release which should fix this
https://github.com/chatwoot/chatwoot/releases/tag/v1.14.3

[2021-03-27 13:49] #1986 closed

[2021-03-28 01:02] Jivings opened #2006 "No conversation continuity if customer emails more than once before receiving a reply"
**Describe the bug**

If a customer emails the support channel more than once before the chatwoot agent has had a chance to reply then it appears in the conversation view as two conversations.

**Expected behavior**

I think that since the conversation is being received from the same email address it should be considered as part of the same conversation

**Screenshots**

![image](https://user-imag

[2021-03-28 20:20] niklashaug commented on #1955
@nithindavid if @tharun208 hasn't started working on this yet, I'd like to take over this issue.

[2021-03-29 01:47] mohammedfarish opened #2007 "Installation failure"
**Describe the bug**

Trouble getting the service run, after the installation.

**Screenshots**

I've posted my screenshots to the community support server on discord but I haven't got a resolution from there, yet so here's the repost.![image](https://user-images.githubusercontent.com/62788088/112776251-34a5da00-9050-11eb-93ce-54da97f18700.png)

**Server logs**

![image](https://user-images.github

[2021-03-29 07:27] pranavrajs commented on #2007
@mohammedfarish It looks like the assets building is failing. What is the memory size you are using?

[2021-03-29 08:19] nithindavid opened #2008 "Bug: Email overflows in conversation bubble"
**Expectation**
- Should overflow and show scrollbar if email is long.

![image](https://user-images.githubusercontent.com/1277421/112807280-56758000-9095-11eb-8fba-b5c098c62bf7.png)

[2021-03-29 08:49] ramezrafla opened #2009 "Remove previous messages from email replies"
**Is your enhancement request related to a problem? Please describe.**
When a customer (or an agent) replies to a message via email (conversation continuity), the entire email with its history is shown as a message in the backend and in the chat widget.

**Describe the solution you'd like**
We should trim previous messages.

**Describe alternatives you've considered**
When an agent replies, we rem

[2021-03-29 08:53] tabrza commented on #1942
@sojan-official - i have enabled audio notification in the settings but am not getting any. do i need to do any additionals here?

[2021-03-29 09:47] JennyPrabhu opened #2010 "API to check the list of agents who are online"
**Is your feature request related to a problem? Please describe.**
To know the list of agents available online

**Describe the solution you'd like**
API to check the list agents who are online

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the

[2021-03-29 09:54] mariusa commented on #1942
Audio notifications work for me (at https://www.chatwoot.com/)

[2021-03-29 11:03] sojan-official commented on #1942
Could you give information about the browser you are using?

[2021-03-29 11:56] tabrza commented on #1942
I'm using chrome. Do i need to set any env variables for this?

[2021-03-29 12:22] brundles opened #2011 "Feature: Machine translation of chat via Google translate"
**Is your feature request related to a problem? Please describe.**
It would be a (big help) if it was somehow possible to connect a translation service (ie. Google Translate is preferred, but others might also work) to Chatwoot, to translate all incoming and outgoing chat-messages, making it possible to talk ie. to German visitors even if the chat agent only speaks english.

**Describe the solutio

[2021-03-29 13:36] DiponRoy opened #2013 "Permission issue on linux machine"
**Describe the bug**

While running project on Linux machine faceting error as bellow.

But things are working good with windows machine . On Linux machine doing things as root user.
Using TAG: 1.14.3

**To Reproduce**
docker-compose build
docker-compose run --rm rails bundle exec rails db:reset

[2021-03-29 15:54] mohammedfarish commented on #2007
it's running on a $5 DO Droplet with 1GB of Memory. What's the reccomended system requirment?

[2021-03-29 18:15] jrbrasil commented on #1991
Hi,
The same error occurred.
See below:

root@server-console-wisechat:~/install/mime-magic-0.3.5/chatwoot-1.14.3/deployment# pwd
/root/install/mime-magic-0.3.5/chatwoot-1.14.3/deployment

root@server-console-wisechat:~/install/mime-magic-0.3.5/chatwoot-1.14.3/deployment# ./setup_20.04.sh master

Using /usr/share/rvm/gems/ruby-2.7.2
fatal: destination path 'chatwoot' already exists and is not an em

[2021-03-29 18:43] sojan-official commented on #1991
@josemiguelo  please try the installation on a fresh VM.

[2021-03-29 19:15] sojan-official commented on #2013
@DiponRoy  could you specify which Linux distro you are using?

[2021-03-29 19:17] sojan-official commented on #2007
@mohammedfarish  We usually run our installations on 4GB machines,  you should be able to run on 2 GB as well.  if the compilation fails, try increasing the swap

ref: https://github.com/chatwoot/chatwoot/issues/1700

[2021-03-29 20:06] mohammedfarish commented on #2007
As suggested, I went ahead and scaled up my server to a 4GB Memory Instance and reinstalled the whole package and now it works. Thanks for the support guys! Cheers.

[2021-03-29 20:06] #2007 closed

[2021-03-30 07:48] nithindavid opened #2015 "Fix: Agent collision not working for all channels"
- Frontend is only handling typing indicators for webwidget

[2021-03-30 08:08] PyB1l commented on #1985
I assume the CORS solution would require server side changes per website widget, right?

[2021-03-30 11:14] tabrza opened #2018 "redis connection error upon custom domain setup"
**Describe the bug**
When setting up a deployed chatwoot instance with a custom domain name on namecheap i get the following error

[code]

![image](https://user-images.githubusercontent.com/21217850/112980067-d291c580-9172-11eb-8825-4ebca3b30d59.png)

having removed the custom domains, restarted dynos and even tried a redeployment of the app, i am unable to get rid of this error and the app keeps

[2021-03-30 11:36] pranavrajs commented on #2018
@tabrza What version of Chatwoot are you on?

[2021-03-30 11:42] tabrza commented on #2018
the latest push made yesterday under this commit (show inbox name...)
[code]

[2021-03-30 13:10] brundles commented on #2011
PS: This could also be something you point me to how I can best implement myself?

[2021-03-30 13:13] sojan-official commented on #1955
@tharun208  could you give an update on whether you are still working on this?
If not I will assign this to @niklashaug

[2021-03-30 19:57] mattwright commented on #1700
@pranavrajs -- Any chance this could be added to the docs here:

https://www.chatwoot.com/docs/deployment/deploy-chatwoot-in-linux-vm

I looked around for server requirements before installing and didn't see them. After trying and failing on a 1GB RAM VPS, I stumbled upon this thread.

Thanks!

[2021-03-30 21:37] sojan-official commented on #1700
@mattwright We will add the server requirements to the docs.  Thanks for bringing that up !!!

[2021-03-30 21:40] iammattmartin commented on #1700
Just to note, this is only needed on compile since the change. It runs just fine on 1GB of memory however.

Would be nice to just fix the compile issue that was introduced of late (needing 2GB).

[2021-03-30 21:44] agustinrudas opened #2021 "url broken /super_admin/access_tokens "uninitialized constant PlatformAppPermissibleDashboard""
**Describe the bug**

Hello, Today i noticed.   The "/super_admin/access_tokens" url  is broken.
This error is not critical, all seems to be working.
but we can't access to this link..

**Running**

Chatwoot Version: v1.14.3
Latest Commit:  [42534e1df423abf62efcae16c2202b3418319d22](https://github.com/chatwoot/chatwoot/commit/42534e1df423abf62efcae16c2202b3418319d22)
Commit Date:   Tue Mar 30 18:1

[2021-03-31 00:56] KieranHolroyd commented on #1973
could be done with this presumably, then just simply upload it to the local chatwoot server https://developer.mozilla.org/en-US/docs/Web/API/MediaStream_Recording_API.
https://developers.facebook.com/docs/whatsapp/api/messages/media then based on the audio object here, you simply link to the stored file, via http and that's it i think

[2021-03-31 03:51] ramezrafla opened #2023 "When we reset chat button on website it gets deformed"
**Describe the bug**

When we call `window.$chatwoot.reset()` an extra Chat icon appears in the chat button when it is in expanded mode

**To Reproduce**

Steps to reproduce the behavior:
1. Enabled expanded mode for the website chat button
2. Call `window.$chatwoot.reset()`

**Expected behavior**

The chat button should not change, only the text inside the popup should be cleared

**Environment**

[2021-03-31 05:39] DiponRoy commented on #2013
@sojan-official  5.4.0-48-generic #52-Ubuntu SMP Thu Sep 10 10:58:49 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[2021-03-31 06:32] tabrza commented on #2018
So, when i upgraded redis from hobby - dev to Premium 0, it comes up with the same issue as described above.. any ideas? @sojan-official

[2021-03-31 11:13] marcel-necker commented on #1865
@oTree-org did you set your actual token in your python code above?:

`message = bytes('webwidget.hmac_token', 'utf-8')`

should be something like:
`message = bytes('n73sgh83...', 'utf-8')`

_"The key used to generate HMAC for each webwidget is different and can be copied from Inboxes -> Settings -> Configuration -> Identity Validation -> Copy the token shown there"_
Source: https://www.chatwoot.c

[2021-03-31 12:01] sojan-official commented on #2018
@tabrza  could you try restarting the dynos/doing a redeployment?
I tried doing this on my Heroku account and I couldn't reproduce the issue.

[2021-03-31 12:03] sojan-official commented on #1955
@niklashaug  if you are still interested, please feel free to work on this.

[2021-03-31 13:45] tabrza commented on #2018
I restarted the dynos as well as did a redeploy but found the issue to stay. I have ACM in place and everything works as expected (dynos on professional, postgres upgraded, redis on hobby). However, after setting up with namecheap and the domain works as expected, if i upgrade redis from hobby to premium 0, i get the same issue:
[code]
upon reverting back to hobby, the issue goes away.

[2021-03-31 19:39] niklashaug commented on #1955
@nithindavid The search input already gets cleared when you open another page on the sidebar (e.g. Contacts) so I think you mean that it should get cleared when you change one of the tabs (Mine, Unassigned, All), right? Should it also get cleared when the status type gets updated?

[2021-03-31 19:45] par7133 opened #2030 "Android app and web app don't push notification to Android 6 notification panel"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, add screenshots to help explain your problem.

**Browser logs**

Share the browse

[2021-03-31 20:19] oTree-org commented on #1865
Thanks Marcel. I didn't do that; will try later.

(By the way, from the code sample, it wasn't obvious to me that `'webwidget.hmac_token'` was supposed to be replaced with something, as opposed to being just a string literal.)

[2021-03-31 20:19] #1865 closed

[2021-03-31 22:22] WevrLabs opened #2031 "Enhance Notification Looks"
**Is your enhancement request related to a problem? Please describe.**
The current information displayed in a push notification are less informative. As an agent, it is better if I know the name of the contact (and maybe the inbox where the conversation is happening) (in some cases I might be working on a higher priority conversation and I want to focus on notifications from that conversation in p

[2021-04-01 02:37] ramezrafla commented on #2008
This related to issue #2009, we shouldn't show the trail of previous messages in the chat bubble (or in the backend), just the most recent message is relevant

[2021-04-01 02:39] ramezrafla opened #2032 "Disable "We are away at the moment""
**Is your enhancement request related to a problem? Please describe.**
We are Chatwoot as a continuous and omnichannel contact with our customers. For instance, as a Contact Us form when we are not online. Right now, it shows "We are away at the moment" in the header, which drives people away.

**Describe the solution you'd like**
We should be able to customise the "away" message or hide it altoge

[2021-04-01 03:59] nithindavid commented on #2008
@ramezrafla this is different from the issue you mentioned. This is for non responsive HTML emails and emails with long links/words.

[2021-04-01 06:51] sivin-git opened #2033 "Fix: Reply box overflow issue"
**Describe the issue**

 Reply box content overflowing for a long link without space.

<img width="1680" alt="Screenshot 2021-04-01 at 10 36 24 AM" src="https://user-images.githubusercontent.com/64252451/113254622-777fe000-92e4-11eb-8f73-1add032945f7.png">

[2021-04-01 07:26] sojan-official commented on #2032
@ramezrafla  have you tried configuring the business hours?  You can override availability by defining business hours.

[2021-04-01 07:27] sojan-official commented on #1865
@marcel-necker  Thanks for spotting that
@oTree-org  We will look into the documentation and see how we can improve it.

[2021-04-01 07:41] ramezrafla commented on #2032
@sojan-official
Thanks for your reply
Now it shows "will reply in a few minutes" :)
I would like to if possible, is to have no text at all or to configure it (right now it's all canned responses)
Thanks!

[2021-04-01 07:54] pranavrajs commented on #1822
Closing this as there is no activity on this.

[2021-04-01 07:54] #1822 closed

[2021-04-01 08:52] azyzio opened #2035 "Feat: Out of office autoresponder"
Hi, I just updated chatwoot to the newest version and I can see that the UI for working hours is here :) That is awesome, thanks!!

I noticed that after the feature became available for everyone, it caused some problems such as those in #1827 & #1824 that were fixed in #1842. I notice that there is still a comment to remove the part of the code that I put there, so I think I'm a good person to exp

[2021-04-01 12:34] pranavrajs opened #2037 "Notify via email if Facebook connection is expired"
### Problem

If the Facebook token is expired, there is no indication to the user/admin that the message would not be sent. It would be seen as sent in the dashboard, but the message would fail at Facebook API. Even though the settings panel would show an option to reauthorize, it would not be seen unless and until the user visits the page.

### Solution

To overcome this, we have to notify the ad

[2021-04-01 12:36] pranavrajs opened #2038 "Disallow sending message if the Facebook access token is expired"
This ticket is a part of #2037

If the Facebook token is expired, the messages sent from the dashboard would not be relayed back to the Facebook page.

As a first step to fix this, disallow send messages if the token is expired.

As a future enhancement, we can implement the retry logic.

[2021-04-01 13:46] nithindavid opened #2039 "Bug: Text overflow in assign agent dropdown."
![image](https://user-images.githubusercontent.com/1277421/113303448-b92d7c80-931e-11eb-8001-a37786a29b50.png)

[2021-04-01 14:32] nithindavid opened #2040 "Enhancement: Inbox setting to disable email collect box in widget"
- Way to disable/customise the email collect message "Give them a way to reach"

[2021-04-01 15:27] #1904 closed

[2021-04-01 15:39] #2033 closed

[2021-04-01 16:26] mariusa opened #2041 "notification email A new conversation [ID - 9] has been assigned to you - include customer msg & email"
**Is your enhancement request related to a problem? Please describe.**
sometimes chatwoot loads very slowly, or now not at all (app.chatwoot.com took too long to respond.)
I can't see the message, can't reply :(

**Describe the solution you'd like**
Please include the conversation history and customer email in this notification email.

Set the email reply-to to customer email

Thanks

[2021-04-01 16:33] nithindavid opened #2042 "Bug: pubsub_token issue freezes page"
` Uncaught TypeError: Cannot read property 'pubsub_token' of undefined at Object.getPubSubToken (application-84977fdab63626750f1a.js:2) at Object.init (application-84977fdab63626750f1a.js:2) at window.onload `

[2021-04-01 17:25] nithindavid opened #2043 "Enhancement: Make dropdown component to fit content"
- Right now it depends on fixed width, Ideal case is to have max-width on dropdown--pane and fit content for dropdown
![image](https://user-images.githubusercontent.com/1277421/113331051-16382b00-933d-11eb-8a42-f1d7c64b9bed.png)

[2021-04-02 02:18] iammattmartin commented on #2041
Would need to be optional as that then moves the conversation out of CW and thus continuity.

[2021-04-02 03:55] lovelynitar commented on #1278
Hello, this feature is included in which version of chatwoot?

[2021-04-02 06:44] mariusa commented on #2041
Ah, good point.

[2021-04-02 07:14] pranavrajs opened #2044 "TypeError: t.showAlert is not a function"
https://sentry.io/share/issue/4397fb54f90b4bc98367c5fced72ccb4

[2021-04-02 07:20] nithindavid opened #2045 "Bug: 'sent from: user' is wrong when agent replies from twitter.com"
**Estimation** -

When twitter inbox is connected with chatwoot and if agent replies to a conversation on twitter, the conversation would appear on the chatwoot side. But the messages that appear on the Chatwoot dashboard for the same conversation shows "sent from" incorrectly.

[2021-04-02 09:34] #2023 closed

[2021-04-02 11:29] #2042 closed

[2021-04-03 17:41] mdpdaviadmin opened #2049 "Empty attachments when sending to agent using API Channel"
**Describe the bug**

I am trying to upload an image file like an attachment in a message sent to an agent. I have used this postman template as a reference: https://www.postman.com/collections/050de41bc0ed46e37663. While executing the POST request in postman send the message with the image attachment successfully, using the same request from python (copy the code from Postman working example) end

[2021-04-03 18:36] cromulus opened #2050 "Email without subject throws "No method encoding for nil" error"
Processing an inbound email from gmail without a subject line throws this error:

https://github.com/chatwoot/chatwoot/blob/1d3b1c1ae55333c3df1c45d0989e81026b8eff01/app/presenters/mail_presenter.rb#L72

[code]

[2021-04-05 05:22] #2008 closed

[2021-04-05 05:41] pranavrajs commented on #2050
@cromulus Would you be able to share the email content?

For Gmail use this to get the email with full headers. https://support.google.com/mail/answer/29436?hl=en

[2021-04-05 07:50] tabrza commented on #2018
@sojan-official - hope you had a nice weekend! just wanted to check in to see if you had any ideas on this or suggestions on how to avoid this?

[2021-04-05 13:06] #2044 closed

[2021-04-05 14:18] cromulus commented on #2050
Here's the raw email:
https://gist.github.com/cromulus/ec1c2a33a11680f7662895e5d543e89a

[2021-04-05 14:29] nithindavid opened #2052 "chore: CSS variable support on widget side vue files"
Import the scss files with variables for spacing, color, border etc to the widget side scss root file

[2021-04-05 15:28] muhsin-k opened #2053 "bug: Unable to update profile details without filling change password form values"
**How to reproduce?**
1. Go to the profile settings page
2. Change the display name
3. Press "Update profile"
4. It will show an error "Confirm password should match the password"

**Preview**
<img width="1206" alt="Screenshot 2021-04-05 at 8 49 11 PM" src="https://user-images.githubusercontent.com/12408980/113590613-bb762c00-95e7-11eb-8482-e0e3c1a7a284.png">

[2021-04-05 19:57] pranjal0819 commented on #1632
@pucilpet @nithindavid Can you share a picture or message? I am unable to find them.

[2021-04-06 04:03] nithindavid opened #2055 "Bug: Alignment issue in activity message"
Vertically align the timestamp and message.

![image](https://user-images.githubusercontent.com/1277421/113657201-0a40c600-96bb-11eb-82e8-9b362cd37fed.png)

[2021-04-06 04:13] muhsin-k opened #2056 "[CW-2836] Add the option to check whether the widget is installed or not"
- Add button "Verify widget installation" near messenger script
- Check the widget is added in any website
- Show toast message "Chatwoot has been installed on your website"

<sub>[CW-2836](https://linear.app/chatwoot/issue/CW-2836/add-the-option-to-check-whether-the-widget-is-installed-or-not)</sub>

[2021-04-06 06:26] nithindavid commented on #1632
@pranjal0819 we haven't yet decided on this issue and it's implementation internally. Once finalised I'll update.

[2021-04-06 06:52] sivin-git commented on #2055
Looks fixed in develop branch

<img width="513" alt="Screenshot 2021-04-06 at 12 21 45 PM" src="https://user-images.githubusercontent.com/64252451/113670411-b6da7200-96d2-11eb-8af0-a526b54259cd.png">

[2021-04-06 06:55] nithindavid commented on #1955
@niklashaug On the sidebar there are links to  `labels` and `inboxes`  once clicked the search is expected to clear.

On the Mine, Unassigned tab switching we do not expect to clear the search.

@sojan-official @pranavrajs Any thoughts ?

[2021-04-06 06:57] nithindavid commented on #1980
Fixed in #2046

[2021-04-06 06:57] #1980 closed

[2021-04-06 06:59] nithindavid commented on #1983
Fixed in #1938

[2021-04-06 06:59] #1983 closed

[2021-04-06 09:28] ffroehlcke commented on #1655
This feature would be awesome!

[2021-04-06 09:33] sojan-official commented on #2018
@tabrza  I don't have much insight on this. We use ACM in our production Heroku and run on premium Redis servers and we haven't faced any issues.

just saw this on StackOverflow : https://stackoverflow.com/a/65580824/939299
could you try raising a ticket with Heroku as well?

[2021-04-06 09:44] sojan-official commented on #1655
Could you folks provide more information on how you envision the integration working?

Teams don't support fully threaded conversations like slack -> so pushing the conversation created in chatwoot into Microsoft teams and then letting the agents reply from their team workspace isn't feasible at the moment

A couple of things we can do with the integration are

- authentication to chatwoot via Mic

[2021-04-06 10:42] sojan-official commented on #1955
@nithindavid @niklashaug  let's clear the filters in both cases

- when the user toggles mine unassigned all etc
- when the user applies filter like inbox, labels etc

the way the UI works right now, the search doesn't respect the filters. it runs the query against all conversations.
So retaining the search query text even after the user navigated to a different filter will give the user a false e

[2021-04-06 10:45] sivin-git opened #2058 "Enhancement: Add background hover effect for conversations."
https://user-images.githubusercontent.com/64252451/113699312-0466d700-96f3-11eb-86cf-8668c16f9f49.mov

[2021-04-06 11:40] muhsin-k commented on #1271
The iOS smart app banner is completed in [chatwoot/chatwoot/pull/1531](https://github.com/chatwoot/chatwoot/pull/1531). Will raise a separate PR for Android.

[2021-04-06 14:52] #2058 closed

[2021-04-07 06:58] #2053 closed

[2021-04-07 07:06] IVRYSimon commented on #1655
Hi @sojan-official ,
i just searched my tenant for other chat products, seems like we have a good competitor here: https://www.socialintents.com/
They offer also sending messages. You can find it in teams with this name: "Live Chat" (cyan icon)
The are using a app in teams directly, not a bot.

IMO: A reliable notification feature for Teams would be enough for V1

[2021-04-08 04:42] arladmin commented on #1708
Facing the same issue.

The Twitter setup seems to be okay.
But after authorizing the Twitter app, the same 'Sign in with Twitter' screen opens up. No error displayed.

[2021-04-08 06:14] #1757 closed

[2021-04-08 06:26] defizor opened #2067 "Can't create incoming message through API Channel"
Self hosting, Linux VM

POST to /api/v1/accounts/1/conversations/29/messages for instance returns 200 OK but CONTENT and CONTENT_TYPE stays NULL:

[code]

[code]

I do get a new conversation but it stays blank. account id and conversation ID are correct. Any pointers?

Thank you very much!

[2021-04-08 10:31] #1908 closed

[2021-04-08 11:24] niklashaug opened #2068 "New team is not shown up until user manually refreshes page"
**Describe the bug**

When the user creates a new team it is not shown up in the sidebar until he refreshes the page.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Settings / Teams
2. Create a new team
3. Go back to Home

**Expected behavior**

After having created a new team the user expects the new team to be shown-up as soon as he leaves the settings page.

[2021-04-08 13:13] KonstantinReido opened #2070 "User received message from another conversation"
**Describe the bug**

We faced with a quite strange case. One of our users asked some question, and we answered him, but on the next day in conversation with him appeared message from another user, who told us that this conversation just appears in his browser:
`
Hi! This was mysterious, I have not had this dialogue with you - but it now appeared in chat inside my user. Regards some_user_name
`

C

[2021-04-08 14:12] #2055 closed

[2021-04-08 14:12] #2043 closed

[2021-04-08 14:57] kwkcomputersolutions commented on #1341
Hi guys, well done on a great product so far!

This feature (to "close" the current conversation into an "archive" / clear the history) or at the very least, notify the client that the query has been resolved is very important for our use case. A customer may contact us today with one issue and tomorrow have an unrelated issue. Our agents also work shifts, so the requirement of "unassigning" the c

[2021-04-08 15:56] pranavrajs commented on #2070
@KonstantinReido Is there any additional logs or something which can help us in the debugging this?

[2021-04-08 15:57] pranavrajs commented on #2068
@niklashaug Nice find! We should have updated the UI state automatically.

[2021-04-08 15:59] pranavrajs commented on #2067
@defizor https://github.com/chatwoot/chatwoot/wiki/Creating-Bot-Messages-Types#card-messages

Please use the exact format for card messages.

[2021-04-08 15:59] pranavrajs commented on #2067
If it is still not working, please share the logs while you hit the API.

[2021-04-08 16:07] pranavrajs commented on #2050
@cromulus I can reproduce the error! This is a confirmed bug.

[2021-04-08 16:08] pranavrajs commented on #2049
@mdpdaviadmin Can you please share the logs or the code you are using? It seems like an issue with your end. I couldn't reproduce the error.

[2021-04-08 16:17] pranavrajs commented on #2035
@azyzio The functionality was disabled as we saw a couple of issues with the timezone and the way auto-responder was being executed. Please give me a couple of days, I will come up with issues and possible fixes for the same. We can work together on this to make this live in 1.16.0.

Thanks for the work :)

[2021-04-08 17:10] pranavrajs commented on #1862
Moving this to the discussions as I believe it is not a bug.

@amblerkr Yes, it makes sense to add a guide video.

[2021-04-08 17:11] #1862 closed

[2021-04-08 17:18] defizor commented on #2067
@pranavrajs Hello! Thanks for getting back to me so quickly :)

I've tried the exact format for card and all the others, still getting a 200OK response from the api returning:
[code]
This only happens through API Channel, all other channels work just fine

which log would you like me to share?

[2021-04-08 18:01] defizor commented on #2067
Something interesting I noticed, I did not set the sender. It was supposed to be an incoming message and the sender shouldn't be "Leo", as he is an agent and only be able to produce outgoing messages.

[2021-04-08 18:51] 0x0ece opened #2073 "Integration within Saasform"
**Is your feature request related to a problem? Please describe.**

As per chat in discord, we (@saasform) have got a request to support Intercom chatbot, but we'd really like to turn this into an opportunity to promote open source alternatives.

**Describe the solution you'd like**
We'd like to see if anyone in the community is interested in contributing a PR to [Saasform](https://github.com/saas

[2021-04-09 02:36] defizor commented on #2067
Started fresh and solved the problem, couldn't pin point a reason as to why incoming messages were arriving as outgoing messages. Will check further and update in case I find any real bugs :)

[2021-04-09 02:36] #2067 closed

[2021-04-09 07:08] KonstantinReido commented on #2070
@pranavrajs

1) because of our setup on Heroku, I don't have access to logs related to this event
2) user contacted us (in both cases) via a widget on our website (not sure if it a correct answer to your question)

[2021-04-09 07:14] sojan-official commented on #2070
@KonstantinReido  could you also share whether you use hmac authentication on your chat widget ?

[2021-04-09 10:06] KonstantinReido commented on #2070
@sojan-official Some time ago I added `identifier_hash` to chatwoot widget, but didn't understand how to restrict requests without this hash, so asked a question https://github.com/chatwoot/docs/issues/8, it still without an answer, so my "hmac authentication" is just an `identifier_hash` in options of the widget.

[2021-04-09 10:39] PyB1l opened #2074 "Can I open chatwoot widget directly on new window?"
I have seen the popup flag on widget customization, and i wonder if I can open chatwoot widget immediatly in a new window without the popup extra click.
Is there any workaround for this case?

[2021-04-09 11:14] PyB1l commented on #2074
I also need to clarify that we have a self hosted chatwoot instalation

[2021-04-09 13:24] muhsin-k opened #2075 "TypeError: t.t0.response is undefined"
https://sentry.io/share/issue/2b82f6aac5dc47faa0c3c199ba9be531/

[2021-04-09 14:03] nimitwalia89 opened #2076 "Request for allowing adding select inputs for chat bot form message type"
**Can we have a select input in for message type.**
Having select input will solve a lot use cases.

[2021-04-09 14:06] nimitwalia89 opened #2077 "Allow adding regex validation on form message type inputs."
Currently adding validations is not easy. We basically have to check the users submitted values and send message again with same inputs. It would be easier to developer and better user experience if we allow adding regex for input validations.

[2021-04-10 06:09] snaildos opened #2078 "Fresh Setup: replying from the dashboard doesn't show on the widget?"
**Describe the bug**

Very strange problem, I go on my incognito tab, create a ticket. Then on my dashboard, I reply, it doesn't show on the widget on my incognito tab.

**To Reproduce**

Steps to reproduce the behavior:
1. Setup woochat
2. Reverse proxy
3. Integrate chat with your site.

**Expected behavior**

Should be syncing with the server so replies show up.

**Screenshots**

![image](https:

[2021-04-10 06:10] snaildos commented on #2078
Reloading the page on the client, makes the messages appear?

[2021-04-10 06:17] snaildos commented on #2078
Resolved. I can't read the docs xD. It was a problem on the reverse proxy. Thank you for your time.

[2021-04-10 06:17] #2078 closed

[2021-04-10 10:59] muhsin-k opened #2081 "Enable reply box for whatsapp template message after 24 hour reply window"
Currently the twillio whatsapp support template messages. But the reply box is hidden due to the 24-hour reply restriction.

cc @sojan-official

[2021-04-11 14:46] srameshr opened #2084 "Enable templating for canned responses and replies"
**Is your feature request related to a problem? Please describe.**

While writing a canned response or replying to a customer I want to be able to use template variables to add in my replies.
For example, when I am replying to a conversation I should be able to select template variables that I provide as a JSON object into a popup

**Describe the solution you'd like**

[code]

[2021-04-11 18:08] pranavrajs commented on #2084
@srameshr This is a great suggestion! This would need to spec-ed out properly as the interactions can become quite complex.

[2021-04-11 23:19] g4rry420 commented on #1887
Can I work on this issue ?

[2021-04-12 05:07] pranavrajs opened #2085 "RestClient::ServiceUnavailable response in webhooks should not throw error"
https://sentry.io/share/issue/f85b6ee07f0846ef9cc1a37deada5488/

- Catch `RestClient::ServiceUnavailable` while executing the webhooks.

[2021-04-12 09:16] srameshr commented on #2084
I can create a spec. Do you have any specific format or convention that has to be followed?

[2021-04-12 10:45] #2081 closed

[2021-04-12 11:09] hartois commented on #2070
@KonstantinReido
Perhaps you are facing the problem that I described in https://github.com/chatwoot/chatwoot/issues/1664

[2021-04-12 12:52] sojan-official commented on #2070
@KonstantinReido  apologises for losing track on that one. let's discuss the questions you have over https://github.com/chatwoot/docs/issues/8 .  I will capture the summary of the discussion as documentation towards the end.

[2021-04-13 12:51] #2075 closed

[2021-04-13 13:26] jeremyjh commented on #1655
@sojan-official I'm not sure I understand the problem. Teams has "conversations". You can reply directly to one particular message and in the Teams interface that conversation is grouped together and can be collapsed. I do not think it supports n-level threading but I don't see why we'd need more than a top-level conversation for integration with chatwoot. I'd love to use an open source product he

[2021-04-13 13:49] #2068 closed

[2021-04-13 13:55] #1942 closed

[2021-04-13 16:06] perzian opened #2094 "Add iMessage Business as a channel"
Another communication channel to add to the stack that is growing and important (access to all iOS users).

[2021-04-13 16:59] sojan-official commented on #2094
closing in favour of https://github.com/chatwoot/chatwoot/issues/1454

[2021-04-13 16:59] #2094 closed

[2021-04-13 18:40] brundles commented on #2011
Hi @pranavrajs and @sojan-official - is this something that you can give me a few pointers to, then I could develop it myself.

Ie. I just need to understand the flow of intercepting a message, and modifying it before delivering it to the agent/visitor?

[2021-04-13 18:46] pranavrajs commented on #2011
@brundles Sorry missed this out. Let me work on the specs and some notes which would help you get started. I will share it by this weekend. Thanks for the interest.

[2021-04-13 20:26] Giszmo opened #2095 "When sending images, Private Note is indistinguishable from Message"
As the visual clue to distinguish a sent message from a Private Note is the background color and shared images are used to fill the background, hiding the background color, I now don't know if a shared screenshot is visible to the visitor or not.

**To Reproduce**, send an image as a Private Note

**Expected behavior**: The image gets maybe some margin in the "Private Note" background color.

**Sc

[2021-04-14 05:56] srameshr opened #2096 "New inbox channel: Instagram DM's & FB comments"
**Is your feature request related to a problem? Please describe.**

https://developers.facebook.com/blog/post/2020/10/19/messenger-api-to-support-Instagram/

The messenger API now supports IG DM's as well for approved businesses. We have an approved business and would like to integrate IG DM's as a channel on our Inbox. This is a feature request to support this inbox channel along with FB & IG com

[2021-04-14 06:57] brundles commented on #2011
Hi @pranavrajs - excellent! Thank you - I look forward to this, and will then start working on it :)

[2021-04-14 10:58] mariusa opened #2098 "Duplicate conversations on live chat"
**Describe the bug**

Sometimes there a live chat conversation starts showing as a new one.
This happened twice, I'm not sure if it's a known/unavoidable issue (eg client openeded another browser)

**To Reproduce**

Can't reproduce, but here they are, on the hosted version:
https://app.chatwoot.com/app/accounts/3889/conversations/17
https://app.chatwoot.com/app/accounts/3889/conversations/18

**Ex

[2021-04-14 11:02] mariusa opened #2099 "Display indicator if message was read by customer"
**Is your enhancement request related to a problem? Please describe.**
After replying to a customer (usually on live chat widget channel), it's not clear if the customer saw the message or not. I'm asking myself if I should send an email too.
The only related indicator now is the green "online" badge on the customer icon, in the conversations list view.

**Describe the solution you'd like**
Please

[2021-04-14 16:06] nithindavid opened #2100 "Bug: Switch to normal editor for twitter and others without MD support"
The RichText edit toggle button is hidden but UI is still showing rich text editor for inboxes like twitter.
![image](https://user-images.githubusercontent.com/1277421/114742453-62399580-9d69-11eb-8be1-f516fa75a638.png)

[2021-04-15 02:56] jdy879526487 commented on #1321
I ran into the same problem,  and I set environment on `docker-compose.yaml` , but it not works.

[2021-04-15 05:20] pranavrajs commented on #2099
@mariusa This is a nice suggestion, it would be a good option to consider along with delivery status.

[2021-04-15 05:22] pranavrajs commented on #2100
@nithindavid Please tag the issue with the right labels / severity / project.

[2021-04-15 05:24] pranavrajs commented on #2095
@Giszmo It looks like you are on an older version of Chatwoot. Could you please upgrade to the latest and try this again?

[2021-04-15 09:43] #1678 closed

[2021-04-15 10:55] sojan-official commented on #1321
Also, try setting SMTP_TLS=false

[2021-04-15 11:05] sojan-official commented on #2098
Both the conversations were created by the same contact in different browser sessions.

If you want the contact to have a continuous conversation history, you can look at adding identity validation
https://www.chatwoot.com/docs/website-sdk#identity-validation

[2021-04-15 11:05] #2098 closed

[2021-04-15 11:07] mariusa commented on #2098
Thanks for checking

[2021-04-15 11:15] srameshr opened #2104 "Error messages are generic and not relevant to the error"
**Describe the bug**

The error messages the API throws and one displayed in the UI when the user enters the "Forgot password" page and uses an email that's not registered is completely off.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://chatwoot.myorg.com/app/auth/reset/password
2. Enter an email that's not registered
3. The API response is: ```Uh ho! We could not find any u

[2021-04-15 13:26] muhsin-k commented on #2104
Closing this as it is a duplicate of #1803

[2021-04-15 13:26] #2104 closed

[2021-04-15 14:00] srameshr commented on #2104
@sojanofficial Will you accept a PR for this?

On Thu, Apr 15, 2021, 6:56 PM Muhsin Keloth ***@***.***>
wrote:

[2021-04-15 16:58] #1974 closed

[2021-04-15 20:21] morozover commented on #1341
//When the customer opens up the chat again it is empty just like

I think this implementation will not be useful for customers.
History of communication (messages) is valuable thing.
For example in WhatsApp, Viber, FB Messenger dialogs are saved and agent cannot delete it.

[2021-04-16 07:30] huntr-helper opened #2106 "🚨 Potential Security Vulnerability - huntr.dev"
#### ⚠️ Potential Vulnerability in chatwoot

👋 Hello, @pranavrajs, @sojan-official, @nithindavid - @ranjit-git has disclosed a potential vulnerability in your repository. To validate or invalidate this potential vulnerability, please visit https://huntr.dev/bounties/1-other-chatwoot and join our community in helping secure open-source code.

---

#### ☎️ Need further support?

Come and join us on

[2021-04-16 09:40] muhsin-k opened #2107 "enhancement: Add current password field in change password form"

[2021-04-16 10:49] muhsin-k commented on #1361
Closing this as it is a duplicate of #1878

[2021-04-16 10:49] #1361 closed

[2021-04-16 11:23] sojan-official opened #2109 "Bug: Incorrect avatar icon for twilio sms inbox"
<img width="466" alt="Screenshot 2021-04-16 at 4 52 33 PM" src="https://user-images.githubusercontent.com/73185/115017456-338bfe00-9ed4-11eb-97f1-c5791bf01800.png">

The Twilio SMS inbox shows WhatsApp icons on avatars

[2021-04-16 13:27] snaildos commented on #1341
+1 100% agree with this. Great it is getting added.

[2021-04-16 13:30] snaildos commented on #1093
+1 agree.

[2021-04-16 14:43] Aicha-cher opened #2110 "chatwoot and sidekiq containers are not working"
**Describe the bug**
Hi to all,
Both containers  sidekiq and chatwoot stop after few minutes, i suspected my email setting  so a commented those entries on the env file, but still the same problem
* chatwoot doesnt display any log
* here is the log of  sidekiq:

/usr/local/bundle/gems/bundler-2.2.15/lib/bundler/cli/exec.rb:63:in `load'

/usr/local/bundle/gems/bundler-2.2.15/lib/bundler/cli/exec.rb

[2021-04-16 17:27] pranavrajs opened #2111 "perf: Lighthouse performance issues"
![WhatsApp Image 2021-04-16 at 8 43 50 AM](https://user-images.githubusercontent.com/2246121/115060601-b1b4c880-9f05-11eb-85e4-1cc793cbc2d5.jpeg)
![WhatsApp Image 2021-04-16 at 8 41 51 AM](https://user-images.githubusercontent.com/2246121/115060608-b37e8c00-9f05-11eb-9b33-7babdec82646.jpeg)
![WhatsApp Image 2021-04-16 at 8 42 10 AM](https://user-images.githubusercontent.com/2246121/115060614-b4172

[2021-04-17 03:47] sojan-official commented on #2110
@Aicha-cher  can you provide the full error logs?

[2021-04-17 06:27] muhsin-k opened #2116 "Unable to add emoji exactly where the cursor is at"
**To Reproduce**

Steps to reproduce the behaviour:
1. Go to the agent reply box
2. Type "Hi welcome" message
3. Move the cursor position to Hi
4. Select emoji
5. Emojie append to end of the message

**Expected behaviour**

- User should be able to add emoji exactly where the cursor is at

**Screenshot**

![Screenshot 2021-04-17 at 11 58 25 AM](https://user-images.githubusercontent.com/12408980/11

[2021-04-17 06:44] TechGuyTN commented on #1039
Any hope of reviving this conversation?

[2021-04-17 13:04] Aicha-cher commented on #2110
@sojan-official  here is the full log

`Redis#exists(key)` will return an Integer by default in redis-rb 4.3. The option to explicitly disable this behaviour via `Redis.exists_returns_integer` will be removed in 5.0. You should use `exists?` instead.

I, [2021-04-17T13:00:30.059197 #1]  INFO -- : Raven 3.0.3 configured not to capture errors: No host specified, no public_key specified, no project_i

[2021-04-18 13:05] surajput32 commented on #1965
@nithindavid I can't find where is this 'new' icon. Could you add a screenshot so that it will be more clear?

[2021-04-18 23:38] agustinrudas commented on #2021
The bug persist. can't check the access tokens url window

[2021-04-19 01:46] e-karma opened #2117 "Rails Migrations fail during initial setup."
**Describe the bug**

Migrations fail during initial setup..

undefined local variable or method `locked' for #<InstallationConfig:0x00007fa6e4365140>
Did you mean?  lock!

**Screenshots**
![Screen Shot 2021-04-18 at 9 42 27 PM](https://user-images.githubusercontent.com/6776633/115170749-67f7e980-a08f-11eb-9f0d-be02c9e8130a.png)

If applicable, add screenshots to help explain your problem.

**Brow

[2021-04-19 05:36] muhsin-k opened #2118 "bug: Duplicate keys are detected in snackbar"
Steps to reproduce:

1. Go to a conversation
2. Click on any conversation
3. Change the conversation assignee many times

**Screenshot**

<img width="500" alt="Screenshot 2021-04-19 at 11 05 17 AM" src="https://user-images.githubusercontent.com/12408980/115186336-5bc35a80-a096-11eb-8582-e896f5bd8ee5.png">

[2021-04-19 05:41] nithindavid commented on #1965
@surajput32 The new icon is created dynamically here `app/javascript/dashboard/components/layout/Sidebar.vue:142` by setting `newLink: true` but in the same file there are functions for labels and teams. But when you add `newLink` to `labelSection, teamSection` the new button will be redirecting you only to inbox.
This is because in `app/javascript/dashboard/components/layout/SidebarItem.vue:111`

[2021-04-19 05:43] nithindavid commented on #1965
![image](https://user-images.githubusercontent.com/1277421/115186974-31a68280-a100-11eb-991a-5b9ccc445f55.png)

[2021-04-19 06:22] iamsivin opened #2124 "Bug: Cannot read property 'id' of null"
Steps to reproduce:

1. Go to conversation.
2. Click on contact details.
3. Scroll down to the assigned team and click none .
4. See the error on console.

**Screenshots**

<img width="927" alt="Screenshot 2021-04-19 at 11 43 45 AM" src="https://user-images.githubusercontent.com/64252451/115189987-fd819080-a104-11eb-9d71-c8dbd3802aa9.png">

[2021-04-19 06:26] surajput32 commented on #1965
@nithindavid Thanks for the details. I got the idea. Assign it to me.

[2021-04-19 07:12] sojan-official commented on #2117
please use `rake db:chatwoot_prepare` when you are setting up

[2021-04-19 07:12] #2117 closed

[2021-04-19 08:12] jyjin opened #2125 "Why support all languages for other countries even China's Taiwan but China ! ! !"
We found it support all languages but China? Chatwoot is a very shocking IM communication software. We wanted to pursue cooperation, but this process is really disappointing.
<img width="647" alt="china" src="https://user-images.githubusercontent.com/8912548/115203305-e6a16500-a129-11eb-8051-77e4a09b2456.png">

[2021-04-19 09:38] pranavrajs commented on #2125
@jyjin Thanks for pointing this out. We would enable this in the next release? I believe the translations might not be complete in the last release.

Anyway we will be releasing an intermediate version v1.15.1 which would enable this.

Meanwhile, could you please contribute to the rest of the translations here. https://chatwoot.crowdin.com/chatwoot/zh-CN

[2021-04-19 16:51] #2118 closed

[2021-04-19 18:38] sojan-official commented on #2106
fixed in https://github.com/chatwoot/chatwoot/pull/2112

[2021-04-19 18:38] #2106 closed

[2021-04-19 20:36] Giszmo commented on #2095
Issue is fixed in latest version. thanks.

[2021-04-19 20:36] #2095 closed

[2021-04-20 07:54] #1803 closed

[2021-04-20 11:13] pranavrajs commented on #2125
Closed via #2135

[2021-04-20 11:13] #2125 closed

[2021-04-20 13:24] aherrera31 opened #2137 "Receiving SMS from a contact that has already been created is failing"
Just encountered an issue:

1. Support email came in and triggered new contact creation for Benson.
2. I updated the contact to also include Benson's cell number.
3. Benson texted the Twilio inbox, and Chatwoot rejected it.

We fixed this by:
1. Removing Benson's phone number from the original contact.
2. Then Benson was able to successfully text into Chatwoot.
3.
To add to this, it doesn't matter

[2021-04-20 14:36] pranavrajs commented on #2137
@aherrera31 This should be closed by https://github.com/chatwoot/chatwoot/pull/2134

[2021-04-20 17:29] aherrera31 commented on #2137
@pranavrajs so this is fixed in the latest version?

[2021-04-20 17:45] aherrera31 commented on #2137
Thanks a lot! Great work

[2021-04-20 17:49] #2137 closed

[2021-04-20 19:03] entttom opened #2138 "Bug: Cant display Bot assigned conversations - just loading spinner"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Open a channel
2. Switch opened to bot assigned conversations
3. Wait for loading of the bot assigned conversations
4. No messages appear - just infinite loading circle and error message in browser log ( see below)

Loaded Bot assigned conversations

GET Request seems no

[2021-04-21 06:48] #1892 closed

[2021-04-21 07:19] Hassanelashram commented on #2109
@sojan-official @pranavrajs Hey, looks like something I could look at to get started , can I ?

[2021-04-21 07:21] pranavrajs commented on #2109
@Hassanelashram Sure, please feel to work on it.

[2021-04-21 07:22] pranavrajs commented on #2138
@entttom Can you please share the server error logs you get when you call the API?

[2021-04-21 07:22] pranavrajs commented on #2138
Please share the self-hosted Chatwoot version number as well.

[2021-04-21 08:28] Hassanelashram commented on #2109
@pranavrajs I am unable to start the app unfortunately as I keep getting
[code]

over and over

[2021-04-21 09:00] Hassanelashram commented on #2109
@pranavrajs I cannot get the app running unfortunately as the pg_isready never seems to be true.

(I have no DATABASE_URL variable)

[2021-04-21 12:42] entttom commented on #2138
Its 1.15.1

Found the bug it only appears in the german (de) version.

how to fix it -> app/javascript/dashboard/i18n/locale/de/chatlist.json

change
[code]
to

[code]

after this change the correct GET request is made:
/api/v1/accounts/1/conversations?status=**b**ot&assignee_type=me&page=1 instead of
api/v1/accounts/1/conversations?status=**B**ot&assignee_type=me&page=1

[2021-04-21 20:01] blackyzero commented on #1700
seems the error from node during compile
`FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory`

[2021-04-21 20:02] iammattmartin commented on #1700
That can be fixed by adding more memory.

[2021-04-21 20:23] blackyzero commented on #1700
is that possible to fix without adding memory? i am running VPS with 1G memory + 2G swap.

[2021-04-21 20:24] iammattmartin commented on #1700
Memory sounds all used.

It works fine on 1GB adding a 1GB swap when needed so sounds like you have other issues with memory usage.

[2021-04-21 20:33] blackyzero commented on #1700
i tried on both Debian 10 and Ubuntu 20.04, same issue

[2021-04-22 01:43] aana5i opened #2146 "TypeError: expected str, bytes or os.PathLike object, not NoneType"
**Describe the bug**
When i run:
`docker-compose run --rm rails bundle exec rails db:chatwoot_prepare`
i have th is error:
TypeError: expected str, bytes or os.PathLike object, not NoneType```

**To Reproduce**
The .env file
[code]

docker-compose.yaml
[code]

**Server logs**

[code]

**Environment**

self hosted installation of Chatwoot in aws using a ubuntu 20.04 instances and docker.

**Desktop

[2021-04-22 04:41] bensont1 opened #2147 "chore: Assign outbound conversation to the agent who initiated the conversation"
**Describe the bug**

When sending out emails from an email inbox, the "From" line on the receiving end shows it is from "Notification from Support" where "Support" is the name of the inbox on chatwoot.

To clarify, this issue only occurs when an Agent initiates the conversation from the contacts page.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Contacts, select contact, select Ne

[2021-04-22 07:33] pranavrajs commented on #2147
@bensont1 Thanks for reporting the issue.

@sojan-official I guess we need to auto-assign the conversation to the agent who has created it. Thoughts?

[2021-04-22 07:36] pranavrajs commented on #2138
@entttom Thanks for reporting this. I think the key is getting translated along with the text.

@chatwoot/engineering It might be good to add a check here on the status to make sure that valid keys only will be used in the queries, otherwise, let us default to open.

[2021-04-22 08:28] #1955 closed

[2021-04-22 08:39] sojan-official commented on #2147
@pranavrajs sounds like a good idea.

[2021-04-22 12:01] pranavrajs commented on #2011
@brundles I couldn't prioritize on this, let me try to complete this by the end of this week.

[2021-04-22 12:37] brundles commented on #2011
Thanks @pranavrajs - looking forward to this!

[2021-04-23 11:25] nanu-c opened #2152 "Add a Signal App bridge"
**Is your enhancement request related to a problem? Please describe.**
I want to establish a trustworthy relationship with my customer, especially the ones that care for security and dislike Whatsapp/Facbook

**Describe the solution you'd like**
Let's build a signal bridge with https://pkg.go.dev/github.com/signal-golang/textsecure and their reference implementation for a a cli, that could be exte

[2021-04-23 15:26] aherrera31 commented on #258
I would like to bump this request. In our use case, a user texted into our Chatwoot and it created a contact for him automatically.

Later, the same person emailed in for support. Now we have 2 different contacts created, but for the same person. Ideally I would like to merge the two contacts into one.

[2021-04-24 22:57] duartemvix commented on #780
Chatwoot currently can't properly render all of its assets through Rails `àsset_host` configuration. I'm having broken fonts and my icons can't be rendered. Everything else, seems to be fine. Apart from ActiveStorage uploads which still can't render files aren't hosted locally. Any directions going forward around this?

This is one of the files which is not currently using Rails asset_url helpers

[2021-04-25 04:02] APPX-Studio opened #2154 "hello,Can support preset replies? Support FAQ answers WIKI knowledge?"
Can support preset replies? Support FAQ answers?
Most chats support WIKI knowledge
thank you~

[2021-04-25 05:51] andresyebra commented on #2116
Hi,
I've fixed this issue for "Reply Section" using a textarea element:
![image](https://user-images.githubusercontent.com/10139341/115982311-b578c880-a55f-11eb-99ed-2b65f5ac2795.png)

[2021-04-25 17:47] duartemvix commented on #1680
I was going through a problem like this with ActiveStorage uploads to cloud services. Is it your intention to also cover this?

```https://chatwoot.host.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--197f9b6abffeff1517d87ede094abb03028bf94a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lNTWpVd2VESTFNQVk2QmtWVSIsImV

[2021-04-25 19:22] niklashaug commented on #2124
Hey, can I submit a PR that fixes this issue?

[2021-04-26 04:29] muhsin-k commented on #2124
@niklashaug Please feel free to go ahead

[2021-04-26 05:39] tianlu1677 opened #2156 "in docker env, active storage local service can not service good"
When I use local storage on docker production, use nginx ssl for domain。 The file can load raise 500 error

[2021-04-26 10:00] #2124 closed

[2021-04-26 23:04] leo-goss opened #2162 "Notifications Internal Server Error"
**Describe the bug**

[code]
Returns error 500.

**To Reproduce**

Steps to reproduce the behavior:
1. Log in
2. Click on notifications icon
3. Notification list is empty
4. Console shows Internal Server Error code 500

On a self hosted Linux installation, running latest Chatwoot release.

[2021-04-27 01:01] leo-goss commented on #2162
This is the log output:

[code]

[2021-04-27 02:59] stoneWeaver commented on #2109
May I ask how you solve this problem

[2021-04-27 06:03] pranavrajs commented on #2162
@leo-goss This was an issue that was solved already. Would you please share the version of Chatwoot using?

If you are running on an earlier version, we recommend upgrading it to 1.15.1

[2021-04-27 06:05] pranavrajs commented on #2156
@tianlu1677 Could you please share some more context on the issue. There is too little information on what the error is.

Please share the following.

1. Error logs
2. Screenshots
3. Version of Chatwoot you are using.

[2021-04-27 06:06] pranavrajs commented on #2109
@Hassanelashram Could you please share the document which you are following to set up the dev env?

[2021-04-27 06:11] Hassanelashram commented on #2109
@pranavrajs I am following this [documentation](https://www.chatwoot.com/docs/environment-variables)
I think my issue is with the postgres_url

[2021-04-27 08:29] nivv commented on #253
@pranavrajs Is this implemented for email conversations as well? I can't seem to find the attachment button.

![image](https://user-images.githubusercontent.com/4033930/116210703-67241f00-a743-11eb-9b00-bbdde79f6923.png)

[2021-04-27 08:30] pranavrajs commented on #253
@nivv It might be a bug, can you please raise a separate issue?

[2021-04-27 08:32] nivv commented on #253
@pranavrajs will do! Thanks!

[2021-04-27 08:35] nivv opened #2165 "Attachment button missing for email conversations"
**Describe the bug**

Can't find the attachment button for email conversations.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to a conversation
1. There should be a button for attaching files
2. Can't see the button

**Expected behavior**

There should be an attachment button. (I think)

**Screenshots**

![image](https://user-images.githubusercontent.com/4033930/116211426-13fe9c00-a744

[2021-04-27 09:57] tianlu1677 commented on #2156
[code]

This is my production .env

[2021-04-27 10:30] hexclann opened #2166 "Add inbox info to previous conversations"
Lets say I have several inbox, website live chat and e-mail support. If some customer contacts me on different channels, I can see the previous conversations from that customer in `Contacts` >> `View details` but it does not show which conversation is from which inbox.

![chrome_7uKM0UZ1sD](https://user-images.githubusercontent.com/59732888/116227244-8df94a00-a771-11eb-809f-7522df0900be.png)

Is i

[2021-04-27 11:11] sojan-official commented on #2166
we could also have the avatar indicators.
<img width="360" alt="Screenshot 2021-04-27 at 4 41 07 PM" src="https://user-images.githubusercontent.com/73185/116232176-61483100-a777-11eb-9af3-d75c20ac0ece.png">

[2021-04-27 17:03] mjarmula opened #2169 "Seeds fail due to invalid phone number format"
**Describe the bug**

While seeting up the project on my local env,  I got an error while running seeds because of an invalid phone number format

**To Reproduce**
run `bundle exec rails db:reset`

**Screenshots**
![validation_failed](https://user-images.githubusercontent.com/46462548/116281094-a37a6e00-a789-11eb-897e-27245cc2075e.png)

**Environment**
Local env, Linux 20.04

**Additional context*

[2021-04-27 17:08] sojan-official commented on #2169
@mjarmula  I have added a fix for this in https://github.com/chatwoot/chatwoot/pull/2167 .
Thanks for reporting.

[2021-04-27 17:43] nithindavid opened #2170 "Support google tag manager"
- Test chatwoot script with google tag manager
- add documentation

[2021-04-27 17:51] #2050 closed

[2021-04-27 20:05] leo-goss commented on #2162
upgraded to 1.15.1. The issue persists but logs are different:

[code]

[2021-04-27 20:52] leo-goss commented on #2162
Removed all notifications from DB, seems to have solved the issue and the notifications panel is now working

[2021-04-27 20:52] #2162 closed

[2021-04-28 06:42] #2169 closed

[2021-04-28 07:31] #2156 closed

[2021-04-28 09:33] sojan-official commented on #2156
@tianlu1677  think the issue was with the typo in FRONTEND_URL ?

[2021-04-28 21:29] danjenkins opened #2176 "Add Firebase/Google Cloud Identity Platform as an auth option"
**Is your feature request related to a problem? Please describe.**
Nope

**Describe the solution you'd like**
Firebase / Google Cloud Identity Platform as an Auth Provider

**Describe alternatives you've considered**
Unfortunately Firebase/Google don't provide themselves as a SAML provider - they only ingest providers. You have to use their SDK to gain access

**Additional context**
All in an effo

[2021-04-29 11:15] bsbarkur opened #2178 "Unread event handler"
So where in the chatwoot codebase, unread message event handler has been implemented?
What is the purpose of this function `def unread_messages` in api/v1/accounts/conversations_controller.rb`

**To Reproduce**

Steps to reproduce the behavior:
1. Client connects to chatwoot agent.
2. Client disconnects from chatwoot agent and the conversation is not resolved.
3. Agent sends message reply which is

[2021-04-29 11:52] jwld opened #2180 "feat: Add option to set chatwoot's z-index"
**Is your enhancement request related to a problem? Please describe.**
It's very difficult to control the rendering of the chat widget. Sometimes we want it to render over something, and sometimes under.

**Describe the solution you'd like**
Option to specify the z-index of the widget.

**Describe alternatives you've considered**
At the moment we have to hard code all our z-indexes in relation to

[2021-04-29 17:54] vishal-pandey opened #2182 "Out of office message is not working properly even after setting business hours and setting timezone"
**Describe the bug**

Out of office message is not working properly even after setting business hours and setting timezone

**To Reproduce**

Steps to reproduce the behaviour:
1. Create website inbox
2. Set business hours
3. Start conversation in web widget
4. Out of office message is not sent even when outside outside business hours.

[2021-04-29 18:10] vishal-pandey commented on #2182
https://github.com/chatwoot/chatwoot/blob/b89cc9cf5722611a2090bdea03b969c9e65f62d5/app/services/message_templates/hook_execution_service.rb#L8

Have to un comment this line to test it.

[2021-04-30 05:47] pranavrajs opened #2184 "performance: Fix n+1 queries"
1. Assignable agents

<img width="1527" alt="Screenshot 2021-04-30 at 11 14 00 AM" src="https://user-images.githubusercontent.com/2246121/116653607-2b888f80-a9a5-11eb-8771-ed94033bf700.png">

2. Contactable inboxes
<img width="1675" alt="Screenshot 2021-04-30 at 11 15 32 AM" src="https://user-images.githubusercontent.com/2246121/116653727-638fd280-a9a5-11eb-926e-ba6916a5b44e.png">

3. Contact Conv

[2021-04-30 05:49] pranavrajs commented on #2178
@bsbarkur This seems like a question. Moving it to discussions. Please feel free to reopen it is an error.

On the actual issue, I don't understand what you are trying to solve. If you could explain the context a little bit more, it would be helpful.

[2021-04-30 05:49] #2178 closed

[2021-04-30 08:20] bensont1 opened #2186 "Platform login query param does not support + in email"
**Describe the bug**

Following the steps here (https://github.com/chatwoot/chatwoot/wiki/Building-on-Top-of-Chatwoot:-Platform-APIs) for building a custom login using an existing user database.

Requesting a login URL from GET /platform/api/v1/users/{user_id}/login and using the returned URL will result in a 401 with error  "Invalid login credentials" when there is a `+` within the email, for exa

[2021-04-30 08:21] brundles commented on #2011
Hi @pranavrajs  - I'd really like to start on this if you can give me some pointers :)

[2021-04-30 09:03] bensont1 commented on #2186
Revising this issue, redirect email query param in the URL login does not support `+` alias emails i.e `account+test1@test.com`

[2021-04-30 14:17] pranavrajs opened #2190 "bug: The latest develop branch docker build is broken"
[code]

[2021-04-30 15:24] #2190 closed

[2021-05-02 04:12] bensont1 commented on #2018
@sojan-official @tabrza I also get the same issue, I have a custom domain set on heroku settings pointing to the FRONTEND_URL config. I tried upgrading from Redis hobby -> Redis Premium and see the same errors about SSL. However, downgrading to the Hobby free redis then the issue goes away.

[2021-05-03 12:48] iammattmartin opened #2200 "New reply box loses focus"
Since the most recent change (addition of the "Enter to send" checkbox), when you enter a reply with that selected and press enter, on sending, the focus on the input is lost so you have to manually click within that to send another message.

This behaviour has changed as it always used to retain focus on that input.

v1.15.1

[2021-05-03 12:53] kumarmj commented on #1704
Hey what are we doing to address this issue in documentation?
If anybody have idea, how situation can be improved. I can help code it, could be good first issue for me.

[2021-05-03 14:48] sojan-official commented on #2186
@bensont1  we might need to do a URL encode over the emails before constructing the URL. let me investigate and get back.

[2021-05-03 15:28] sojan-official commented on #2182
ref : https://github.com/chatwoot/chatwoot/issues/2035

[2021-05-03 15:28] pranavrajs commented on #2200
@iammattmartin Thanks for reporting this. This is a confirmed bug.

[2021-05-03 15:29] sojan-official commented on #2182
closing in favor of  #2035

[2021-05-03 15:29] #2182 closed

[2021-05-03 19:09] XuanThuLe commented on #2182
Ok

[2021-05-03 19:09] XuanThuLe commented on #2182
Ok

[2021-05-03 21:54] WevrLabs opened #2206 "Define a limit for maximum message characters for WhatsApp channel"
**Is your enhancement request related to a problem? Please describe.**
Recently, I discovered that a message nearly 1700 characters  failed to be delivered via WhatsApp channed, I doubled checked by resending it, but it wasn't delivered, I went and checked twilio logs, but it wasn't there either, so my guess was that Twilio does not receive messages that exceed a certain limit.

**Describe the sol

[2021-05-03 22:05] WevrLabs commented on #2099
May also leverage Twilio's API on this matter, regarding WhatsApp messages:

https://www.twilio.com/docs/sms/api/message-resource#message-status-values

![Screen Shot 2021-05-04 at 12 04 27 AM](https://user-images.githubusercontent.com/66124192/116939337-74be3500-ac6c-11eb-941f-01629884ca61.png)

[2021-05-03 23:02] poggioni-dot opened #2207 "Error SMTP"
Hello guys, I configured or smtp as in the tutorial using sendgrid, I saw here on git how to create a superadmin and on sidekiq I'm getting this error when sending email. can someone help me?

Devise::Mailer#reset_password_instructions

 {"_aj_globalid"=>"gid://chatwoot/User/4"}, "_DWBuUXy18dioxzKfTyx", {"client_config"=>"default", "_aj_symbol_keys"=>["client_config"]}

  | OpenSSL::SSL::SSLError:

[2021-05-04 07:56] pranavrajs commented on #2011
### Incoming messages

**Problem**

If an user from a different country starts conversation in a different language, the system should auto translate the messages to a language which agent can understand. We would need to accomodate a feature to translate the incoming messages to a preferred language chosen by the agent for ease of understanding.

**Solution**

To overcome this problem, we would a

[2021-05-04 07:58] pranavrajs commented on #2011
@brundles There are 2 parts to the problem, the first one is to translate the incoming message and show it in a relevant format to the agent. The second one is to translate the outgoing message to the user and show it in the correct language.

I have written the doc for the first one, the second one seems to be a little bit more complex. Let me think about it, I will get back to you.

[2021-05-04 08:02] pranavrajs commented on #2206
@WevrLabs We have a limit defined on the message as per the doc here. https://www.chatwoot.com/docs/product/channels/supported-features#maximum-message-size-number-of-characters

I believe this was written by taking the standard Whatsapp API into consideration.

Are you suggesting that 10k character limit is not the right one?

[2021-05-04 08:07] pranavrajs commented on #2207
@poggioni-dot Could you please share a little bit more detail on the logs. Can you also please share the environment variables you are using?

[2021-05-04 08:16] pranavrajs commented on #1704
@kumarmj I didn't understand the context. Could you please explain what you meant by "what are we doing to address this issue in documentation?".

[2021-05-04 09:30] WevrLabs commented on #2206
@pranavrajs very much indeed. I believe it is somewhere around 1600 characters, because also the other day, I recall facing
 a similar issue but this time "receiving" a message that exceeds this limit. This was the alert received from Twilio:

![Screen Shot 2021-05-04 at 11 25 21 AM](https://user-images.githubusercontent.com/66124192/116984840-fabd9880-accb-11eb-9416-ff9e3281bead.png)

[2021-05-04 09:37] pranavrajs commented on #2206
https://support.twilio.com/hc/en-us/articles/360033806753-Maximum-Message-Length-with-Twilio-Programmable-Messaging

This sounds like the case. Let me change the value to it then.

[2021-05-04 13:54] poggioni-dot commented on #2207
SMTP_ADDRESS=smtp.sendgrid.net
SMTP_AUTHENTICATION=plain
SMTP_ENABLE_STARTTLS_AUTO=true
SMTP_PORT=587
SMTP_USERNAME=apikey
SMTP_PASSWORD= KEY API GENERATED ON SENDGRID

how do I access the log to send you?

[2021-05-04 14:01] #2206 closed

[2021-05-04 14:50] poggioni-dot commented on #2207
Would there be any way to approve the agent through the super admin panel or via the ruby ​​console? I installed the system on the digital ocean and for some reason I can't access via ssh, only directly through the digital ocean panel

[2021-05-04 15:45] leo-goss opened #2215 "WootButton is not defined"
After #2139, I've been getting the following when navigating to contact table and the first column is not rendered. Is it still under development or perhaps a bug? Thanks!

[code]

[2021-05-04 15:54] pranavrajs commented on #2215
@nithindavid @muhsin-k Can you please take a look at this?

[2021-05-04 16:18] #2215 closed

[2021-05-05 15:36] #1171 closed

[2021-05-05 20:26] jcsa1986 commented on #2110
I have the exact same issue... Did you solved?

The sidekiq container fails to start with the same errors in the log as your post, and the chatwoot base only says: "Switch to inspect mode".

I manage to get the sidekiq working by not setting a password in the REDIS_PASSWORD environment variable, but the base won't work no matter what I did.

I read somewhere that "Dropping bundle exec, and calling

[2021-05-06 01:52] ahmadhaidarahmad opened #2228 "allow access to uploaded images only to authenticated users"
I need to allow access to uploaded images only to authenticated user and an admin during a conversation to make sure that only the admin and the customer are the only users who are allowed to see the images on the web to make it private and secure
Regards

[2021-05-06 16:53] iammattmartin commented on #2228
Might create a problem for email updates with images....

[2021-05-07 04:48] jbg opened #2238 "Health-check / status endpoint"
**Is your feature request related to a problem? Please describe.**

When deploying behind a load balancer or other frontend, a relatively cheap health-check is desirable that indicates that the application is ready to receive requests but doesn't do heavy things like template rendering.

**Describe the solution you'd like**

An endpoint that simply returns 200 OK if Chatwoot is healthy and ready t

[2021-05-07 05:59] pranavrajs commented on #2238
@jbg We use an endpoint `GET <installation-url>/api` to get the details of the version of the instance. I guess you can use that for now.

[code]

[2021-05-07 08:35] adamsvystun commented on #1120
I see that this feature was not included in v1.8.0, will this be replanned for future releases?

[2021-05-07 09:51] jbg commented on #2238
That's fine, but this seems to return 200 OK no matter whether Chatwoot is working correctly or not. For example, if I block the database or redis connectivity, even after some time, I still get 200 OK from this endpoint.

[2021-05-07 10:36] sojan-official commented on #2238
would be worthwhile to implement a way to health check out sidekiq workers as well

ref: https://github.com/mperham/sidekiq/wiki/Monitoring#sidekiqmon
ref: https://github.com/arturictus/sidekiq_alive

[2021-05-07 10:38] sojan-official commented on #1120
@adamsvystun  if you implement the HMAC authentication, chat history will be persisted across the session

https://www.chatwoot.com/docs/product/channels/live-chat/sdk/setup#identity-validation-using-hmac

[2021-05-07 10:38] #1120 closed

[2021-05-07 11:02] sojan-official commented on #2110
@jcsa1986  @Aicha-cher  are you guys following this doc to run chatwoot ?

https://www.chatwoot.com/docs/self-hosted/deployment/docker

[2021-05-07 12:47] jcsa1986 commented on #2110
Hit here.

Yes. I am... After running docker-compose up -d both containers (sidekiq and base) start and immediately stop.

Regards.

[2021-05-07 12:58] #1710 closed

[2021-05-07 16:26] thundersparkf opened #2242 "Rasa and Twilio simultaneous integration"
From the documentation, I have been able to setup a Twilio WhatsApp inbox.

 However, our use case requires us to integrate an NLP bot(preferably open source) to handle conversations over WhatsApp. Rasa allows integration through a built in Twilio connector.

 If one were to bridge the both and have an architecture that allows users to send messages over WhatsApp, which are first handled by the bo

[2021-05-08 13:36] #1965 closed

[2021-05-09 20:07] Nobinbd commented on #1679
May  9 19:49:45 localhost chatwoot-web.1[33277]: [19f5746a-19a1-48d8-9a4e-45b59e67c939]     2: <html>
May  9 19:49:45 localhost chatwoot-web.1[33277]: [19f5746a-19a1-48d8-9a4e-45b59e67c939]     3:   <head>
May  9 19:49:45 localhost chatwoot-web.1[33277]: [19f5746a-19a1-48d8-9a4e-45b59e67c939]     4:     <title>SuperAdmin | Chatwoot</title>
May  9 19:49:45 localhost chatwoot-web.1[33277]: [19f5746a

[2021-05-09 20:08] Nobinbd commented on #1679
I am facing this same problem and above is my log...
Can you please help me out...
Thanks..

[2021-05-12 09:10] thundersparkf commented on #2242
So I'm a bit confused as to how. Because the [rasa-agent-bot-demo](https://github.com/chatwoot/rasa-agent-bot-demo.git) implements their own frontend. Would that I mean I would need sort of a buffer application between my Twilio message input and rasa backend

[2021-05-12 12:33] sojan-official opened #2257 "Bug: window.$chatwoot.setUser end up creating contacts with out an identifier"
reported on discord: https://discord.com/channels/647412545203994635/647729576427913228/841226913909309461

![unknown](https://user-images.githubusercontent.com/73185/117975412-4a473880-b34c-11eb-92bf-7b84ca3376f7.png)

[code]

[2021-05-12 12:43] sojan-official commented on #2242
@thundersparkf  yes with the agent bot APIs you would need to construct a bridge server between chatwoot and rasa.

[2021-05-13 05:08] thundersparkf commented on #2242
Got it! Thank you. I was able to implement it.

[2021-05-13 05:08] #2242 closed

[2021-05-14 09:03] #1321 closed

[2021-05-15 21:56] ufukayyildiz opened #2265 "visitor can not cancel the chat"
hi

Thanks for this software.

visitor can not cancel the chat, is this normal?

[2021-05-16 09:06] chanukya-y commented on #1216
Hi @sojan-official  @pranavrajs

I was held-up for sometime . Shall i resume working on this issue.

[2021-05-16 09:55] iammattmartin commented on #2265
Yes. Once a chat/message is opened, it remains that way. Even if closed on the admin side, it can still be updated by the visitor.

[2021-05-16 20:01] ufukayyildiz commented on #2265
ok.

but if customer does not use a personel/private pc other users can see the conversions. Even after closed the browser data is still there.

[2021-05-16 20:09] iammattmartin commented on #2265
True. Problem is currently there is no way to restart that chat, if a public conversation.

Has been discussed in #980 but no current way.

[2021-05-17 13:37] sojan-official commented on #2035
@azyzio  we weren't able to pick this up for the v1.16.0 release because of conflicting priorities. But we will take this up for v1.17.0 after specing out the impact areas.

cc: @pranavrajs

[2021-05-17 13:42] sojan-official commented on #2109
@Hassanelashram  were you able to set up the repo?

[2021-05-17 13:57] sojan-official commented on #1684
let's open a new discussion if there are further issues with smtp

[2021-05-17 13:57] #1684 closed

[2021-05-17 14:00] sojan-official commented on #1864
- Provide configuration  to limit sound alerts to only for assigned messages / specific events

[2021-05-17 14:03] sojan-official opened #2270 "feat: Ability to create and edit integration hooks from UI"
- at the moment Dialogflow integration remains as a backend only integrations.
- build UI to create and update integration hooks

[2021-05-17 14:06] sojan-official opened #2271 "feature: Ability to associate events to contacts (CRM)"
- Ability to create and update events from chatwoot settings UI
- Ability to track contact events via chatwoot web SDK
- Ability to view contact events on the upcoming CRM contact page

[2021-05-17 14:16] sojan-official opened #2272 "feat: Ability to create and update Contact custom attributes (CRM)"
- provide UI in chatwoot contact page to create and update custom attributes for the contact

[2021-05-17 14:22] sojan-official opened #2273 "feature: Ability to add labels to contacts (CRM)"
- the ability to add & edit labels to contacts from CRM page

[2021-05-17 14:22] sojan-official opened #2274 "feature: Ability to add labels to contacts (CRM)"
- the ability to add & edit labels to contacts from CRM page

[2021-05-17 14:24] sojan-official commented on #2274
duplicate https://github.com/chatwoot/chatwoot/issues/2273

[2021-05-17 14:24] #2274 closed

[2021-05-17 14:27] sojan-official commented on #1268
closing in favour of : https://github.com/chatwoot/chatwoot/issues/2271

[2021-05-17 14:27] #1268 closed

[2021-05-17 14:29] sojan-official opened #2275 "feature: Ability to add Notes to contacts (CRM)"
- Ability for agents to create and delete notes in chatwoot contact page

[2021-05-17 14:32] sojan-official opened #2276 "feat: APIs to create and update Agent Bots"
- APIs to create and update installation wide agent bots via platform apps
- APIs to create and update account-specific agent bots via admin user tokens

[2021-05-17 14:45] Hassanelashram commented on #2109
@sojan-official I was not unfortunately

[2021-05-17 14:51] sojan-official commented on #2109
@Hassanelashram  if you are still interested in working over the issue. let me try to help you with the set-up.
could you try the set-up using the documents listed over here based on which operating system you are using?

https://www.chatwoot.com/docs/contributing-guide/environment-setup/mac-os
https://www.chatwoot.com/docs/contributing-guide/environment-setup/docker ( docker )

[2021-05-17 15:43] pranavrajs opened #2279 "bug: Disabled ongoing campaigns should not trigger conversations"
**Context**

The ongoing campaigns allow the customer to send outbound messages to their contacts in the website live channel. It is created using the URL and time in seconds. The campaigns will trigger if the user visits the URL and after the time specified in the campaign.

https://www.chatwoot.com/docs/product/features/campaigns

**Problem**

- Create a campaign with time 180s.
- Load the web w

[2021-05-17 15:48] drivasintelnexo commented on #1655
I would love if chatwoot can be integrated with microsoft credentials to allow every user on my o365 services to auth with chatwoot.

This would be awesome!

[2021-05-17 17:07] pranavrajs opened #2281 "feat: Add support for rich content messages in Campaigns"
![Screenshot_2021-05-17 Chatwoot(1)](https://user-images.githubusercontent.com/2246121/118528913-8a4d5780-b760-11eb-8105-66c198ebd8a2.png)

The current message field doesn't support rich content messages in campaigns. Use the rich content editor used in the message layout here as well.

[2021-05-17 17:09] pranavrajs opened #2282 "feat: Assign the new conversation to the sender in campaigns"
If a conversation is created via campaigns, right now it is assigned to a random agent using a round-robin mechanism. Ideally, the sender should be the initial assignee of the conversation.

[2021-05-17 17:50] drivasintelnexo opened #2284 "Unread messages when agent send message to the contact."
**Describe the bug**

I have a frontend chat app consuming 1 API Channel created in my VM Chatwoot, but i notice if the contact received a message from one agent, the unread_message property is not increase. But if the agent receive the message from one contact. Unread_message increases.

**To Reproduce**

Steps to reproduce the behavior:
1. Send a new message from the agent in response to any con

[2021-05-17 20:24] iammattmartin opened #2287 "Capture Name/Email on Campaign message"
**Is your enhancement request related to a problem? Please describe.**
Yes

**Describe the solution you'd like**
When a campaign message is sent, a new conversation is started but then does not capture name/email. It should do this before the chat starts so we know who we are talking to.

Otherwise, this is going to revert back to the old behaviour of getting pointless messages.

I would say this

[2021-05-17 20:29] iammattmartin opened #2288 "Don't create conversation unless clicked with campaign"
**Is your enhancement request related to a problem? Please describe.**
Yes

**Describe the solution you'd like**
Currently, it looks like a new conversation is created when a rule is matched but this might be non-ideal as there will be a high percentage of chats simply with no content (replies) (or where the X (closure) is pressed). It also triggers a new conversation email which isn't ideal.

A c

[2021-05-17 22:09] iammattmartin opened #2289 "Delete Campaigns"
**Is your enhancement request related to a problem? Please describe.**
Yes, unable to delete campaign.

**Describe the solution you'd like**
You should be able to delete (fully) the campaign instead of just disabling it.

i.e now I have some test campaigns that cannot be deleted.

[2021-05-18 06:17] softmarshmallow opened #2292 "Getting 404 on Nextjs localhost"
I get this on console
[code]
![image](https://user-images.githubusercontent.com/16307013/118600541-19ec1800-b7ec-11eb-94e6-0c25b095d69c.png)

pages/some-page.tsx
[code]

[2021-05-18 07:48] aydenbottos commented on #1890
Yes, this would be amazing!

[2021-05-18 07:52] aydenbottos opened #2295 "See what page a customer is on in real time"
Chatwoot doesn't allow agents to see what page a customer is on. This is a problem, as agents constantly need to triage what is happening on a customer's screen. If it came up what page they were on, it would eliminate having to ask. While there is the initiated from URL, this doesn't update as a user moves, so it is not always useful. ZenDesk and Intercom have this feature on their widget, and it

[2021-05-18 07:56] aydenbottos commented on #2292
Just curious: are you using the cloud-hosted version, as your base URL is "app.chatwoot.com" when it should be the actual URL of your application, or did you just change that to protect privacy.

[2021-05-18 07:58] aydenbottos commented on #2289
For now, you could just go to the database and remove the entry manually.

[2021-05-18 08:01] aydenbottos commented on #2207
What process did you use to generate your SSL certificate? Without looking at it too much, that error probably means you generated a self-signed certificate using the OpenSSL client. Instead, you need to use a signed certificate like a Let's Encrypt one.

[2021-05-18 09:05] aydenbottos commented on #2289
Good point. I just thought that this Github repo was only for the self-hosted version, not the cloud one.

[2021-05-18 10:49] docJerem opened #2298 "Freeze screen with Gatsby 2/3 + Safari"
**Describe the bug**

Loading of the **page is frozen on Safari + Gatsby App** (tested on Gatsby v2 & v3) , then it's impossible for the user to click on the chat or any elements.

NB: Tested with the chatwoot plugin for Gatsby and a copy/paste of the script directly in public / index.html.

NB2: Tested with new scaffolded Gatsby apps

**To Reproduce**

Steps to reproduce the behavior:
1. Go on a

[2021-05-18 11:16] docJerem commented on #2298
@sojan-official Yes I am

[2021-05-18 11:56] sojan-official commented on #2298
@docJerem  There was an issue with our 1.16.1 release which caused unnecessary requests to get created.
could you try updating to 1.16.2 and see if the issue is resolved?

[2021-05-18 12:17] docJerem commented on #2298
Thanks @sojan-official, I confirm the 1.16.2 fix the issue  🎉

[2021-05-18 12:18] #2298 closed

[2021-05-18 13:44] sojan-official commented on #2284
@drivasintelnexo this behaviour is intended. The conversation APIs are designed to be consumed from an agent's perspective.  The current unread message counter acts as a prompt for the agents to quickly pick up the conversation where a reply is needed.

the following image indicates where the unread count is used ( green badge )

<img width="468" alt="Screenshot 2021-05-18 at 7 11 36 PM" src="http

[2021-05-18 13:44] #2284 closed

[2021-05-18 13:57] softmarshmallow commented on #2292
Yup. the hosted official version. and the code is from the chatwoot console

[2021-05-18 14:14] pranavrajs commented on #2288
@iammattmartin Thanks for the suggestion, we will update this experience in the next release.

[2021-05-18 14:20] agustinrudas commented on #2021
Hello Awesome Chatwoot Team

The issue persist on the latest commit.
**commit 090b5f46e803b9afe83386f80c6acf4ae12dc1f9
Merge: bc9db36 10c18aa
Author: Sojan <sojan@pepalo.com>
Date:   Tue May 18 16:05:18 2021 +0530

    Merge branch 'release/1.16.2'**

**ERROR:**

` Showing /gems/ruby/2.7.0/gems/administrate-0.16.0/app/views/fields/polymorphic/_index.html.erb where line #21 raised:

uninitialized c

[2021-05-18 15:50] iammattmartin commented on #2295
I've suggested this to the team and I know it is something they're working on to have an overview of all visitors.

I suspect once that is done, it should be easy to extend it out to the user card.

[2021-05-18 16:11] maulikbafalipara commented on #1244
Hello @pranavrajs

I try to create an email channel with Postmark and I am facing the same issue.
can you please let me know email feature is now live or not?

![image](https://user-images.githubusercontent.com/16645207/118686220-7158ab00-b821-11eb-87a0-785ad952f844.png)

Email webhook successfully received but conversation(email ticket) is not created.

[2021-05-19 00:42] aydenbottos commented on #2292
Ah ok. It might be worth contacting Chatwoot support instead because as far as I can see, everything looks ok.

[2021-05-19 09:41] abasit007 opened #2302 "get dialogflow bot messages in chatwoot"
hi there hope everyone is doing fine ..
i am trying to integrate dialogflow in chatwoot but am kind of stuck bot is working fine but cant figure out how bot conversation will be fetched to chatwoot
what i have done so far:
i have setting of chatwood as suggested in => https://github.com/chatwoot/chatwoot/pull/2155
hook =  Inbox.first.hooks.new
hook.account_id = Inbox.first.account_id
hook.type = "

[2021-05-19 11:09] sojan-official opened #2303 "feat: Assign conversation to the first responder when unassigned"
### Conversations should be assigned to the responder

Show an alert to the agents in all conversations if those are not assigned to them and they are trying to reply to it.

- [ ] When the user starts trying (clicks on the reply box) of a particular conversation which is not assigned to them, show a banner with a message "This conversation is not assigned to you, would you like to assign it to yo

[2021-05-19 11:12] sojan-official commented on #2018
ref : https://stackoverflow.com/questions/65834575/how-to-enable-tls-for-redis-6-on-sidekiq
we might need to have an environment variable controlling SSL verify mode for heroku

[2021-05-19 21:30] wflanagan opened #2304 "Trick to use Slack Integration?"
I'm attempting to deploy the Chatwoot app using CapRover. I have configured the Slack app in my account. Further, I've configured as the documentation states in the Chatwoot help.

When I attempt to hit "connect", I receive an error page from Slack stating:

[code]

When I manually add the client_id param to the URL, and hit it.. I get the OAuth dialog. If I complete this, ti returns to Chatwoot,

[2021-05-20 04:42] aherrera31 opened #2305 "Outbound conversations not auto-opening upon response"
we just began sending out new messages using the "add contact" -> "new message" flow in the UI. Once we sent the message out, and the contact responded, it did not move the conversation to the "open" state, so we are missing all of these responses. I worry many other people using this flow are encountering the same thing

**To Reproduce**

Steps to reproduce the behavior:
1. Create a new contact w

[2021-05-20 10:19] sojan-official opened #2306 "feat: Ability to specify a subject line for outbound emails"
ref: #2303

[2021-05-20 13:16] sojan-official commented on #1655
@jeremyjh My understanding of the ms teams interface could be outdated. we will revisit this requirement once the team has some bandwidth.

[2021-05-20 13:32] sojan-official commented on #2302
@abasit007  At the moment there is no support for fulfilment webhooks. The intents have to be configured in Dialogflow itself which provides back a text response or the custom payloads as mentioned in the original PR.

As for the working.  Whenever a conversation message is created in an inbox connected with Dialogflow, a background job will call Dialogflow APIs with the message as the parameter.

[2021-05-20 14:09] abasit007 commented on #2302
@sojan-official i am understanding but without fullfillment i didn't reaceiverd the response

[2021-05-20 14:11] abasit007 commented on #2302
id: 2,
 status: "enabled",
 inbox_id: 3,
 account_id: 1,
 app_id: "dialogflow",
 hook_type: "inbox",
 reference_id: nil,
 access_token: "token that was assigned",
 created_at: Wed, 19 May 2021 07:04:48 UTC +00:00,
 updated_at: Thu, 20 May 2021 09:47:28 UTC +00:00,
 settings:
  {"project_id"=>"we-ror-rsbo",
   "credentials"=>
    {"type"=>"service_account",
     "auth_uri"=>"https://accounts.google

[2021-05-20 14:14] abasit007 commented on #2302
i am unable to get dialogflow response without fullfillment
even if i do
 `bundle exex sidekiq -q integrations `
no background job runs

[2021-05-20 15:42] wflanagan commented on #2304
I'll add that I have a few services that integrate with Slack. And, most have this problem. I think that Slack made a change to their OAuth requirements.

[2021-05-20 15:48] pranavrajs commented on #2304
@wflanagan I can reproduce this in the staging environment. I'm not sure whether something changed recently.

[2021-05-20 18:33] #2304 closed

[2021-05-20 20:57] bensont1 opened #2311 "Add Ability to Send Images from SMS inbox with Twilio"
**Is your feature request related to a problem? Please describe.**
Our support staff need the ability to show users image relating to their account

**Describe the solution you'd like**
Add ability for Agents to send image attachments by selecting a file or pasting an image (a screenshot if in clipboard)

**Describe alternatives you've considered**
We were thinking about a short term solution with

[2021-05-21 04:51] pranavrajs commented on #2311
@bensont1 Thanks for the suggestion, we don't support MMS at the moment. We will consider it in the next releases.

[2021-05-21 06:10] abasit007 commented on #2302
@sojan-official also you can see that hook job for dialog floww is not being called in the pr anywhere [](https://github.com/chatwoot/chatwoot/pull/2155)

[2021-05-21 07:36] abasit007 commented on #2302
@sojan-official i got it working but now when a user sends a message conversation is not created in the inbox

[2021-05-21 09:41] sojan-official commented on #2302
<img width="469" alt="Screenshot 2021-05-21 at 3 10 57 PM" src="https://user-images.githubusercontent.com/73185/119117321-c0cbf080-ba46-11eb-981e-4f7a3f73d9e6.png">

 when Dialogflow is enabled the conversations will initially be created under the bot category

[2021-05-21 10:56] sojan-official commented on #2292
@softmarshmallow I think the url for some reason is coming out as  `sdk.js%22;%20%....` instead of `https://app.chatwoot.com/packs/js/sdk.js` the 404 error is because of that.

@nithindavid  @pranavrajs  thoughts?

[2021-05-21 11:58] sojan-official opened #2318 "bug: API requests due to an undefined parameter passed in the URL"
ref: https://discord.com/channels/647412545203994635/650257251856285707/845039263929466890

[code]

[2021-05-21 13:25] #2110 closed

[2021-05-21 13:39] sojan-official commented on #2110
@jcsa1986 @Aicha-cher  I have added fixes for this issue. let us know if you face any difficulties
You will need to set up redis and postgres passwords in .env and postgres password in docker-compose.yml

[2021-05-21 14:49] aherrera31 commented on #2305
So actually I just sent the outbound message using the reproduction steps above and it was default set to Bot, and when we get a response, it was in bot mode as well. Could this be an error on our end? @pranavrajs

[2021-05-21 14:58] sojan-official commented on #2305
@aherrera31  if you have an agent bot set on the inbox, all conversations will be created in bot status by default.
This doesn't make sense for outbound conversations. We will take this up in our upcoming releases.

[2021-05-21 20:14] wflanagan commented on #2304
@sojan-official Hey, thanks for the docker reference. FYI.. the docker image boots basically stating the following in the logs:

2021-05-21T20:11:38.849972239Z Switch to inspect mode.
2021-05-21T20:11:38.851176267Z
2021-05-21T20:11:45.696337306Z Switch to inspect mode.
2021-05-21T20:11:45.697945289Z
2021-05-21T20:11:52.549161984Z Switch to inspect mode.
2021-05-21T20:11:52.550676445Z
2021-05-21T20

[2021-05-21 22:11] wflanagan opened #2325 "Invited users in limbo"
New agents cannot be invited and gain access to the system.

** To Reproduce **

- When I setup my new on-premise chatwoot server, I go into Teams > Agents, and invite 2 to 3 new people via email.
- They receive an invite.
- Click on the invite link in email.
- They are presented with the login page. If you try to create an account, it says an account is present. If you try to login, the user does

[2021-05-21 23:47] motiko opened #2326 "Add Hebrew support"
**Describe the solution you'd like**
Add hebrew locale support

**Additional context**
Consider full right to left support.
I know arabic is there but seems design is still left to right (at least on the widget).

PS I would be happy to add translations to Crowdin. I already have the widget part translated on my fork.

[2021-05-22 05:44] pranavrajs commented on #2326
@motiko Added the language here https://chatwoot.crowdin.com/chatwoot/he. :)

RTL to LTR design change will be taken in a separate ticket.

[2021-05-22 05:44] #2326 closed

[2021-05-22 05:46] pranavrajs commented on #2325
@wflanagan Would you be able to share the server logs when the reset password API is called?

The most common reason for this error we have found is that the [FRONTEND_URL](https://www.chatwoot.com/docs/self-hosted/configuration/environment-variables#configure-frontend-url) env is not configured properly.

[2021-05-22 11:38] sojan-official commented on #2304
@wflanagan  the images which we provide on the hub are the base images.  Using the base image you will have to build images for the server and worker with the required service

ref: https://github.com/chatwoot/chatwoot/blob/develop/docker-compose.production.yaml
https://www.chatwoot.com/docs/self-hosted/deployment/docker

[2021-05-22 13:31] wflanagan commented on #2325
`2021-05-22T13:23:44.673611417Z I, [2021-05-22T13:23:44.673350 #1] INFO -- : [c4a1a109-9721-43e6-8a27-8f1e3acd5d99] Processing by DeviseOverrides::PasswordsController#update as HTML
2021-05-22T13:23:44.673648255Z I, [2021-05-22T13:23:44.673481 #1] INFO -- : [c4a1a109-9721-43e6-8a27-8f1e3acd5d99] Parameters: {"reset_password_token"=>"[FILTERED]", "password_confirmation"=>"[FILTERED]", "password"=>"

[2021-05-22 13:36] wflanagan commented on #2325
@pranavrajs It wasn't that. It was something with the Secret. I generated a new key and placed it, and now things are operational on that front. Sorry about the noise.

[2021-05-22 13:36] #2325 closed

[2021-05-22 18:00] iammattmartin commented on #1039
It's still alive but probably not that high on the priority list.

[2021-05-22 22:59] pranavrajs commented on #2325
No worries! Glad to see that it is solved.

[2021-05-23 14:53] aherrera31 commented on #2305
Thanks gentlemen @pranavrajs @sojan-official

[2021-05-23 18:12] iammattmartin opened #2328 "Improve widget on page"
**Is your enhancement request related to a problem? Please describe.**
Yes

**Describe the solution you'd like**
Each time you navigate through pages, the widget has to reload on the new page. This happens in-chat as well as when just a button.

Compared to say intercom where if you navigate through pages, it remains in the same place without needing to re-appear each time.

Clearly, this can be d

[2021-05-23 22:40] feconroses commented on #657
This feature would be super helpful. Are there any plans to work on this?

[2021-05-24 05:36] pranavrajs commented on #2328
@iammattmartin If I understand this correctly, the experience you have shared is dependant on how the website is built and live-chat is implemented. If you could provide me with a context on how your website is built, I could help you better.

If you look at chatwoot.com for example. We don't reload the widget on URL change. Please see the screencast below.

![FFwfqXhLeP](https://user-images.githu

[2021-05-24 05:38] pranavrajs commented on #657
@feconroses Yes, this is in the works. We have released a basic outgoing campaign (#2227) in the last release with an option to set a campaign based on the URL and the time on the page.

[2021-05-24 10:16] iammattmartin commented on #2328
Ah ha. In that case, I shall investigate further. :)

[2021-05-24 10:16] #2328 closed

[2021-05-24 12:12] sojan-official opened #2330 "feat: Chat Widget Scroll improvement"
The chatwidget should scroll to the first unseen message.

[2021-05-24 14:23] sojan-official opened #2333 "enhancement: Inconsistent message validations for twilio SMS channel"
ref: https://discord.com/channels/647412545203994635/719548300868452362/845679328213467196

- Increase the character count if 160 isn't relevant
- Set up validation for character count in outbound messages

[2021-05-24 14:24] sojan-official commented on #2302
@abasit007 let us know if you are still facing any issues.

[2021-05-24 14:24] pranavrajs commented on #2333
@sojan-official Character count is valid, the outbound message has to re-use the logic we have in the reply box.

[2021-05-24 14:30] sojan-official commented on #2333
@pranavrajs  Twilio supports concatenation and there isn't an API hard limit at 160 I suppose. so should we enforce the limit?

ref: https://www.twilio.com/docs/glossary/what-sms-character-limit

[2021-05-25 09:13] lucargir opened #2334 "Allow to set bot name in campaigns and/or disable creating new chats until user answers campaign"
**Is your enhancement request related to a problem? Please describe.**
It is an enhancement of the campaigns feature

**Describe the solution you'd like**
When creating a campaign, one can choose to send the campaign on behalf of any of the agents or a bot.

- if the campaign is sent on behalf of an agent, a new chat is created and assigned to them even if the user does not reply to the campaign.

[2021-05-25 09:51] muhsin-k commented on #2334
We will fix this issue in the next release.

It is a good suggestion. We will consider this in the next release

[2021-05-25 12:40] pranavrajs opened #2336 "feat: Google Business Messaging"
- Integrate with Google Business Messaging

https://developers.google.com/business-communications/business-messages

[2021-05-25 12:44] fkohrt commented on #1493
@pixpack, @hartois: Looking at the following two snippets...

https://github.com/chatwoot/chatwoot/blob/3fc646f3308f22644420da47b17e695065a4621b/app/services/message_templates/hook_execution_service.rb#L12

https://github.com/chatwoot/chatwoot/blob/3fc646f3308f22644420da47b17e695065a4621b/app/services/message_templates/hook_execution_service.rb#L37-L39

...just enable the pre chat form for the inb

[2021-05-25 16:11] #2076 closed

[2021-05-25 16:12] iammattmartin commented on #1100
Just want to add more comments on to this.

At lower screen resolutions (i.e 1366x768), the button is disproportionally big compared to the page. Even the content within it (and padding) makes the widget window massive. So big that if you have any text, you can't see the start Start Convo button when you're capturing name/email/message without having to scroll.

That itself is very bad as those wh

[2021-05-25 17:11] sojan-official commented on #2076
sample payload available here : https://github.com/chatwoot/chatwoot/wiki/Creating-Bot-Messages-Types#form-message

[2021-05-25 18:08] iammattmartin commented on #2334
Part of this is dupe of #2288. Just to link the two.

[2021-05-26 04:53] xiaoyunwu commented on #1601
@sojan-official should we still do this with 1.16.2 if we want to use the platform apis in #1456?

[2021-05-26 11:00] iammattmartin opened #2341 "Improve ability to change user accounts"
**Is your enhancement request related to a problem? Please describe.**
Yes.

We've updated our username on twitter and Facebook. There appears to be no way to sync in the new changes in Chatwoot without fully deleting and re-adding which is non-ideal.

Similar to Twilio, you cannot change the name of an Inbox once set.

**Describe the solution you'd like**
Need a way to resync account to pickup ne

[2021-05-26 12:12] XuanThuLe commented on #2341
Ok

[2021-05-26 20:31] Loocos commented on #1969
Hi,

You may need to do :
` docker-compose run --rm rails bundle exec rails db:reset`

[2021-05-27 06:18] sojan-official opened #2343 "feat: Public APIs for API channels"
- Enable a public API interface for API channels which can be toggled on
- The API interface will be similar to that of current website channel
- The APIs should be documented so that custom interfaces can be built on top
- There should be APIs to connect to the chatwoot websockets
- This will enable building custom chat widget / mobile chat interfaces over chatwoot

[2021-05-27 18:23] sojan-official commented on #2146
seems like a python error.  We have recently updated the docker instructions and reverified the installation. lets reopen if the issue still persists.

https://www.chatwoot.com/docs/self-hosted/deployment/docker

[2021-05-27 18:23] #2146 closed

[2021-05-27 18:24] sojan-official commented on #1969
seems like the Redis connection failed while running  `bundle exec rails db:chatwoot_prepare` . could retry with the updated instructions   https://www.chatwoot.com/docs/self-hosted/deployment/docker

ensure that the redis password .env variable is set as well.

[2021-05-28 10:45] gj315 opened #2348 "Gmail SMTP is not working"
Gmail SMTP is not working

These are the keys in the .env file -

MAILER_SENDER_EMAIL=myemail@gmail.com
SMTP_ADDRESS=smtp.gmail.com
SMTP_USERNAME=myemail@gmail.com
SMTP_PASSWORD=gmailPassword
SMTP_PORT=465
SMTP_TLS=true
SMTP_AUTHENTICATION=login
SMTP_ENABLE_STARTTLS_AUTO=true
SMTP_OPENSSL_VERIFY_MODE=peer

I am not getting any email. Please help in this if someone having any idea.

Thank you

[2021-05-28 12:02] azyzio commented on #2035
I am happy to help out, would you be able to provide some context about what was wrong with it? I can work on the fixes

[2021-05-28 12:06] sojan-official commented on #642
@thundersparkf  Internally this is still in our backlog. I don't know anyone from the community working on this at the moment.

If you are interested, feel free to pick it up.

[2021-05-28 12:49] sojan-official commented on #2021
Tested on the latest build and we can't replicate the issue.
Ensure that your chatwoot server is restarted after the latest changes are pulled in.

We will reopen this if it still persists.

[2021-05-28 23:48] ilearnio commented on #2304
This issue still happens for me after I deployed to heroku yesterday using your "One click Heroku deploy" button

[2021-05-29 03:29] ilearnio opened #2351 "Ubuntu 20.04 installtion script failed (Couldn't create 'chatwoot_production' database)"
**Describe the bug**

I run the installation script on a fresh Ubuntu 20.04 and I got the following error (even though setup succeded (but failed to work), and error was skipped):

[code]

Thus after install the web app is showing 500 error

[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Setup a fresh Ubuntu 20.04 server
2. Execute
[code]

3. Scroll up or search for "template datab

[2021-05-29 03:31] ilearnio commented on #2351
Please let me know how can I fix that, thanks!

[2021-05-29 06:52] pranavrajs commented on #2304
@ilearnio Have you configured the Slack app as described here https://www.chatwoot.com/docs/self-hosted/configuration/features/integrations/slack-integration-setup?

[2021-05-29 09:42] ilearnio commented on #2304
@pranavrajs Yes, I did everything exactly as described in that instructions, set the environemtns variables. Tried to restart all dynos, that didn't help.

[code]

[2021-05-29 11:57] Turab commented on #1843
After Whatsapp privacy changes, Telegram had a great deal of increase in the market. Although it may look like there is little interest; Chatwoot shall be ready when it boosts.

[2021-05-29 12:57] pranavrajs commented on #2304
@ilearnio Can you please try deploying the develop branch and see if the issue still persist?

[2021-05-29 22:04] ilearnio commented on #2304
@pranavrajs It fixed the issue! However the Chatwoot Slack app doesn't receive notifications from the website's live chat dialog.

![image](https://user-images.githubusercontent.com/14331216/120085699-f3c75180-c0e2-11eb-8ce2-450850dc4411.png)

![image](https://user-images.githubusercontent.com/14331216/120085687-e1e5ae80-c0e2-11eb-85cf-c13a82b08b2e.png)

[2021-05-30 10:21] rafpaf opened #2354 "Chatwoot widget is mostly invisible in Safari"
The widget is mostly invisible in Safari but visible in Chrome and Firefox.

On Safari: https://ex.plicat.io/bpt/screenshot2.png
On Chrome: https://ex.plicat.io/bpt/screenshot1.png

I checked the CSS. The only styles that affect the invisible elements are in chatwoot's own stylesheets.

I installed Chatwoot via Caprover.

[2021-05-30 12:50] sojan-official commented on #2304
@ilearnio chatwoot will create a channel called customer-conversations, under which it will create threads for all the incoming messages.  Please search amidst the channels to see `customer-conversations` was created

[2021-05-30 12:52] ilearnio commented on #2304
@sojan-official Ah, you're right. It was created but it was hidden in Browse all channels view. Awesome. Thank you!

[2021-05-30 13:48] pranavrajs commented on #2354
@rafpaf Would you be able to share the URL at which the widget is added? This doesn't occur in our production instance. Please see the screenshot below.
<img width="1011" alt="Screenshot 2021-05-30 at 7 17 41 PM" src="https://user-images.githubusercontent.com/2246121/120106689-b5ca3c00-c17b-11eb-99fe-39c20621a401.png">

[2021-05-30 13:49] pranavrajs commented on #2351
@ilearnio `Dropped database 'chatwoot_production'` I don't know why this happened, let me try to deploy it on a Ubuntu machine.

[2021-05-30 13:50] pranavrajs commented on #2348
@gj315 Can you please provide a little more context on what you are trying to do? Are you expecting email messages in Chatwoot or is it that the outgoing emails are not sent via SMTP?

[2021-05-30 15:02] thundersparkf commented on #642
Hey! Yes so I have managed to build a Helm chart but I'm facing an issue. When I deploy the application, it is seemingly skipping the onboarding of the first user. Any reason why that can happen?

[2021-05-30 22:53] iammattmartin commented on #2354
Not seeing the same behaviour on our install on 4 sites, on Safari.

[2021-05-31 05:08] sojan-official commented on #642
@thundersparkf the onboard step works like this
- When you run `rake db:chatwoot_prepare` , we create a Redis key `CHATWOOT_INSTALLATION_ONBOARDING` with the value true
- The application checks for this key on init to decide whether it should redirect users to the onboarding page or whether to the login page
- This step is done only in environments where the RAILS_ENV value is set as `production`

[2021-05-31 05:31] pranavrajs commented on #642
@thundersparkf I just created a repo here https://github.com/chatwoot/helm-chart. If you could raise a PR, we can definitely collaborate on the same. :)

[2021-05-31 05:54] thundersparkf commented on #642
Wonderful! Thanks @sojan-official and @pranavrajs. I'll try to fix this for a while and the raise a PR there!

[2021-05-31 11:21] thundersparkf commented on #642
Hey! I'm a bit new to this. I can't see a clone or a fork button for the helm chart repo. How do I raise a PR?

[2021-05-31 11:31] pranavrajs commented on #642
@thundersparkf Sorry about that, the repository was empty. That's why you couldn't fork it. Please check it out now.

[2021-05-31 13:36] yourbabyscan commented on #1338
Have you considered making the FCM keys changeable via AppConfig (see appconfig.org) which means they could be set on the app from the public App Store using an MDM.

[2021-05-31 23:23] ilearnio commented on #2351
I just tried it again on VirtualBox Ubuntu 20.04, same issue

[2021-06-01 09:34] pranavrajs commented on #2351
@ilearnio Just tried it on an AWS EC2 machine, it is working without issues. Can you please share the following?

1. Complete log while you run the script
2. The machine size (RAM, CPU)

[2021-06-01 11:13] ilearnio commented on #2351
@pranavrajs You can see the gist link I attached to the issue, it contains the entire log, starting from the first SSH login to Ubuntu.

VPS info:
[code]

Also tried on Macos through VirtualBox using Ubuntu 20.04 iso (downloaded from official Ubuntu website).

[2021-06-01 11:57] anew-bhav commented on #2330
@sojan-official I want to take this up.
I have setup the environment successfully. Can you guide me through the next steps to solve this issue?

[2021-06-01 12:45] sojan-official commented on #2351
@ilearnio I think it's an issue with the encoding configuration.
[code]

before running the installation script try running the following steps in your server

[code]

ref: https://ouestcode.com/journal/archive/2014-postgres-rails-the-chosen-lc-ctype-setting-requires-encoding-latin1

[2021-06-01 14:42] dave-apex opened #2355 "Multiple Conversations in Website Widget"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
From my initial tests, it looks like there is only a single conversation thread per user. We are currently Intercom users and the fact that the user can decide to start multiple, separate conversations is very helpful. It lets you thread the conversation for each topic separately.

[2021-06-01 16:10] pranavrajs commented on #2355
@dknapp47 This is under consideration, via the PR #1206

[2021-06-01 17:04] #2276 closed

[2021-06-01 17:22] pranavrajs opened #2357 "Enable Polish language"
Polish language has 85% translation, update the translations from Crowdin and enable the language in language config.

[2021-06-02 04:50] #1542 closed

[2021-06-02 06:05] ilearnio commented on #2351
@sojan-official I did as suggested in the article you sent, but still have the same error. And it happens before encoding error
![image](https://user-images.githubusercontent.com/14331216/120431807-aa486200-c381-11eb-8c71-f6aa9bbe1cbb.png)

[2021-06-02 07:26] NitinNR opened #2358 "trying to use bot message from article you provided but not working"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, add screenshots to help explain your problem.

**Browser logs**

Share the browse

[2021-06-02 07:30] pranavrajs commented on #2358
@NitinNR Can you please provide the payload, the API URL, logs etc so that we can take a look into this?

[2021-06-02 07:35] NitinNR commented on #2358
here is the postman request
![Screenshot (13)](https://user-images.githubusercontent.com/46310938/120442312-15566080-c3a3-11eb-93a5-3c4052b92234.png)

and response:
![Screenshot (14)](https://user-images.githubusercontent.com/46310938/120442393-2ef7a800-c3a3-11eb-8ebf-713769774dbe.png)

[2021-06-02 09:20] sojan-official commented on #2351
@ilearnio  could you try running the install on a fresh VM? the installation script doesn't support reruns at the moment. So if it exited previously with an error, it would leave the installation in a halfway state.

[2021-06-02 10:09] ilearnio commented on #2351
The setup doesn't work on Virtual box Ubuntu either, even though it has correct local config

![image](https://user-images.githubusercontent.com/14331216/120462655-cceb7280-c3a3-11eb-867d-68fdd8a1e037.png)

[2021-06-02 12:22] #2107 closed

[2021-06-02 14:04] jike212 opened #2362 "Incoming email with SendGrid: No template found for ActionMailbox::Ingresses::Sendgrid::InboundEmailsController#create"
I've connected my self-hosted chatwoot to Sendgrid however I receive the following log entry when incoming messages come in and the messages do not appear in the inbox.

[code]

I can't seem to find anything related to this in the documentation

[2021-06-02 16:16] pranavrajs commented on #2362
@jike212 Have you configured `RAILS_INBOUND_EMAIL_SERVICE` env to `sendgrid`?

Please see this doc https://www.chatwoot.com/docs/self-hosted/configuration/features/email-channel/conversation-continuity#configuring-inbound-reply-emails

[2021-06-02 17:10] jike212 commented on #2362
Hi, yes I've done that (I believe that's how it knows to use sendgrid ingress)

[2021-06-02 17:10] yourbabyscan opened #2365 "Inbound e-mails are cropped"
When customers send an e-mail to us (info@mydomain.com), their e-mail is redirected to SendGrid (guid@parse.mydomain.com) which then uses the webhook to add the e-mail to Chatwoot. The new conversation appears. This is sometimes cut off (maybe 50% of the time at the moment, but we don't receive many e-mails directly through this method). Working e-mails have included attachments, but the text of t

[2021-06-02 17:24] pranavrajs commented on #2362
1.31.1 is an old version. Could you please try updating it to 1.16.2 and see if it still persist? (Please note that you would have to update 1.14.0 -> 1.15.0 -> 1.16.2 upgrade, let me know if you need any help)

[2021-06-02 17:25] pranavrajs commented on #2365
@yourbabyscan Thanks for reporting the issue with detailed logs. Could you please add the Chatwoot version you are using? You can see the version in Settings -> Account Settings

[2021-06-02 17:33] #2292 closed

[2021-06-02 17:33] sojan-official commented on #2351
@ilearnio  I tried on a fresh VM in the digital ocean with ubuntu 20.04 and things are working.

If the errors are persisting and you are looking for a production deployment, I would suggest trying our caprover / docker installations. The installation and overhead management are the same.

[2021-06-02 17:34] pranavrajs commented on #2292
@softmarshmallow Added a doc here https://www.chatwoot.com/docs/product/channels/live-chat/integrations/nextjs/ Please take a look.

[2021-06-02 17:37] sojan-official commented on #2330
@pranavrajs  @nithindavid

[2021-06-02 17:41] sojan-official commented on #2358
@NitinNR  In your payload, you are specifying the `message_type` attribute to be incoming. ie messages sent from contact to agents.

There is no support for that. Bot messages can only be `outgoing`. ie send from the bot / agent to a contact.

[2021-06-02 17:41] #2358 closed

[2021-06-02 17:43] jike212 commented on #2362
Just ran the upgrades in that order (currently running 1.16.2) and continuing to get the same error in the logs for incoming emails.

[2021-06-02 17:45] pranavrajs commented on #2330
@anew-bhav

The problem is that when a new message comes in a conversation in the dashboard, the scroll automatically happens to the bottom of the page skipping all the unread messages

In `components/widgets/conversation/MessagesView.vue` there is a method which `scrollToBottom` which scrolls all the way to the bottom of the page. It should actually scroll only to the `unread--toast` div.

Please

[2021-06-02 17:53] pranavrajs commented on #2362
@jike212 Thanks for confirming, we will test it out.

[2021-06-02 17:54] jike212 commented on #2362
Thank you, let me know if there's anything I can share privately as well before I rebuild it again just in case you're able to catch something with a quick glance

[2021-06-02 18:39] NitinNR commented on #2358
It's also not working as outgoing too?

[2021-06-02 18:42] sojan-official commented on #2358
@NitinNR  The bot messages will only be rendered properly in the chat widget,  On the dashboard, they will only appear as normal messages.

[2021-06-02 18:44] NitinNR commented on #2358
Chat widget?I just don't get it.explain

[2021-06-02 20:42] TyCoolidge opened #2367 "Super long emails slow down site (Image error)"
**Is your enhancement request related to a problem? Please describe.**
On our local chatwoot, we received about 14 emails each containing a message with over 100,000+ characters (seems like an image was trying to be sent)

**Describe the solution you'd like**
There should be a way to filter images like this out instead of returning all those characters

**Describe alternatives you've considered**

[2021-06-03 03:57] ilearnio commented on #2351
I've debugged and fixed the issues in the existing server myself. But the issue with locale was the main one. SO thanks for helping me out!

[2021-06-03 03:57] #2351 closed

[2021-06-03 08:42] muhsin-k opened #2369 "Enhancement: force user to type name before inbox/team delete"

[2021-06-03 09:25] pranavrajs commented on #2367
@TyCoolidge If you don't mind, will it be possible to share the email export to debug this issue?

[2021-06-03 09:28] jike212 opened #2371 "Outgoing SendGrid: Verified domain however SMTP 550 error prevents sending"
I'm running a new installation of Chatwoot 1.16.2 and I'm running into an issue with outgoing emails using SendGrid.

I've verified the wildcard sending domain in SendGrid and added the following environment variables"
[code]

The error I get appears in the worker container logs and reflects the following:
[code]

Where is the `from` address set? I can't tell what it's sending to SendGrid

[2021-06-03 09:34] sojan-official commented on #2371
@jike212  Please configure `MAILER_SENDER_EMAIL`  environment variable

[2021-06-03 09:48] jike212 commented on #2371
@sojan-official That did the trick, thank you!

[2021-06-03 10:28] jike212 commented on #2362
After rebuilding everything from scratch, emails now seem to be working fine. Not sure what was causing it previously.

[2021-06-03 10:28] #2362 closed

[2021-06-03 11:58] NitinNR commented on #2358
hello please anyone can tell me whats the issue here?

[2021-06-03 12:02] sojan-official commented on #2358
This is the chatwoot chat widget.  The screenshot you have posted are of our agent dashboard

<img width="474" alt="Screenshot 2021-06-03 at 5 32 06 PM" src="https://user-images.githubusercontent.com/73185/120641755-a0158900-c491-11eb-8417-8e80bd0bc16b.png">

[2021-06-03 12:07] NitinNR commented on #2358
so bot message only support in chat widget that's not fair it should be in website or panel too

[2021-06-03 17:50] #2200 closed

[2021-06-03 23:50] iammattmartin commented on #2358
@NitinNR You can always change the code yourself. Saying "it's not fair" when this project is open source, is a bit rich. You don't *have* to use the software, no doubt, without paying for a support subscription.

[2021-06-04 04:23] jike212 opened #2377 "Adding FB page inbox removes all other inboxes"
Running Chatwoot 1.16.2 on Caprover

I've added a website chat bot as well as an email inbox which are both working fine and showing in the sidebar for agents to respond to.

When attempting to add a Facebook page however, I authenticate under my account, select the page from Chatwoot and write a name for the new inbox and click on the create inbox button.

The page doesn't change and when I refre

[2021-06-04 04:28] NitinNR commented on #2358
Yah yah yah only because I am not paying for this so I don't speak anything about it right just use whatever I have is that you wanna say.

[2021-06-04 04:36] HunterNyan opened #2378 "Validation failed: Phone number should be in e164 format"
**Describe the bug**

Can't handle SMS's sent in with a Text based Number/Shortcode

**To Reproduce**

Steps to reproduce the behavior:
Twilio integration, recieve an SMS which uses TEXT eg: Support as the sender.

**Expected behavior**

webhook fails and a http 500 is returned

**Server logs**

rails_1     | I, [2021-06-04T04:31:48.226866 #1]  INFO -- : [2f31a77a-fde2-49ce-976c-7247d0899c1f] Star

[2021-06-04 04:40] jike212 commented on #2377
This resolved it: https://www.chatwoot.com/docs/self-hosted/configuration/environment-variables#configure-frontend-url

Any chance it can be added to the FB channel page as well so that it's clearer? https://www.chatwoot.com/docs/self-hosted/configuration/features/integrations/facebook-channel-setup

[2021-06-04 04:40] #2377 closed

[2021-06-04 07:59] pranavrajs commented on #2378
@HunterNyan Just to clarify here. Are you sending a message from a number that is a shortcode? `"From"=>"SUPPORT"` seems like you are sending from a short code number. Could you please share the use case here?

[2021-06-04 08:33] pranavrajs commented on #2358
@NitinNR

If something is not working or has to be improved, please feel to create an issue with suggestions. As a community, we try to accept most of the suggestions provided by the community members.

If there is a certain request which doesn't feel in the direction of the product or is not in the immediate pipeline, we ask people to create a fork to solve the use case. It doesn't mean the sugge

[2021-06-04 13:43] HunterNyan commented on #2378
Hey @pranavrajs

Currently, this is just incoming from 3rd party into Chatwoot.

I have set up several a numbers in twilio/ported exisiting ones so that the team could see the SMS's coming in and reply/action them.

With the "From"=>"SUPPORT" I apparantly had the number set up with one of our "Providers Ticketing System" so when their " Support" replied it would send an SMS notification to the num

[2021-06-04 16:50] anew-bhav commented on #2330
I was able to reproduce the issue by send a long text from the agent side to the widget.
I am new to vue, so things can be challenging. Anyhow, I complete the task.
Please assign this issue to me.

[2021-06-04 19:02] AlexVKO commented on #1981
I created this video setting up your project if you guys want to take a look!

https://www.youtube.com/watch?v=l1sjzWpU8Rk

[2021-06-05 09:55] sojan-official commented on #1981
@AlexVKO We will take a look :D

[2021-06-06 11:29] #2270 closed

[2021-06-06 11:32] pranavrajs opened #2383 "Add a fallback to move conversation to open if DialogFlow credentials are invalid"
- If credentials are invalid, change the conversation status to open from bot.

[2021-06-06 12:33] AlexVKO commented on #1981
Example of a Pull Request: https://github.com/AlexVKO/chatwoot/pull/1

[2021-06-07 05:13] muhsin-k opened #2386 "TypeError: cannot read property 'dataFetched' of undefined"
https://sentry.io/share/issue/64ad988dbf5d4fcdaf76fb24f7fce059/

[2021-06-07 05:15] muhsin-k opened #2387 "TypeError: cannot read property 'substring' of null"
https://sentry.io/share/issue/8b63f53bc88c428ea7e1344ef7463cdf/

[2021-06-07 05:17] muhsin-k opened #2388 "TypeError: cannot read property 'focus' of null"
https://sentry.io/share/issue/abebaf95560f48ca86ab5ab0442dc4e0/

[2021-06-07 05:18] muhsin-k opened #2389 "TypeError: Cannot read property 'id' of null"
https://sentry.io/share/issue/fb64b7e0dea943b286ce0807165b9594/

[2021-06-07 05:19] muhsin-k opened #2390 "TypeError: cannot read property 'length' of undefined"
- https://sentry.io/share/issue/2c79044a842d48f9aec163eaa3025eb4/
- https://sentry.io/share/issue/0fd5270196684194bc149215af62c868/

[2021-06-07 06:00] sojan-official commented on #1981
@AlexVKO  We have enabled running rubyci on our PRs. Will keep you posted on our feedback

[2021-06-07 10:10] muhsin-k opened #2392 "Ability to edit inbox name"
- Add inbox input field under inbox settings tab

[2021-06-07 10:14] pranavrajs commented on #2392
Duplicate #2341

[2021-06-07 10:14] #2392 closed

[2021-06-07 10:21] AlexVKO commented on #1981
Awesome, just let me know if you guys need any new features too!

[2021-06-07 17:12] tabrza opened #2397 "download agent reports does nothing"
**Describe the bug**

On the reports page, when clicking download agent reports, nothing happens. Please advise if this is a configuration issue?

[2021-06-07 22:07] iammattmartin commented on #2397
Do you have a popup blocker active?

It works here but you have to allow the popup. A CSV is downloaded once accepted.

[2021-06-07 23:16] DefCon-007 commented on #1020
@pranavrajs Can something like [https://chat-api.com/en/?lang=EN](chat-api) which provides rest api using the whatsapp web be integrated to chatwoot too? With the end user taking the legal responsibility of its use?

[2021-06-08 11:02] #2077 closed

[2021-06-08 14:55] sojan-official commented on #2077
The form text inputs now support the following attributes

`pattern` : standard html attribute that supports regex
`pattern_error` : a custom error message for the regex validation
`required` :  whether field is required

example

[code]

[2021-06-08 17:23] pranavrajs commented on #2397
@tabrza Can you please share a screencast of the behaviour? There is no additional configuration for it to work.

[2021-06-09 08:27] #1298 closed

[2021-06-09 14:52] sojan-official commented on #2038
should be easier to work on this once https://github.com/chatwoot/chatwoot/issues/2038 is merged

inbox JSON will contain the attribute. `reauthoriztion_required`.  We can use that to disable input and show appropriate warnings for facebook inboxes with an expired access token.

[2021-06-09 15:56] #2341 closed

[2021-06-09 21:17] stuartrr opened #2408 "Can't initiate outbound message from contacts screen via Channel::WebWidget if a prior conversation exists"
**Describe the bug**

Endpoint : `/api/v1/accounts/1/contacts/48/contactable_inboxes` doesn't return a Channel::WebWidget when a previous conversation exists.

Due to this line:

https://github.com/chatwoot/chatwoot/blob/864471a21e3f520457bc37f32d81bf50636b01c6/app/services/contacts/contactable_inboxes_service.rb#L24

Note: There is a FIXME on the previous line.

This leads agent confusion when cl

[2021-06-09 21:48] stuartrr commented on #2408
I now see at the bottom of the details page there is a "Previous" conversations list that works really well for our use case. I didn't see it before because we have about 60 custom attributes that pushed it way below the visible scroll area 🤦 .

[2021-06-10 03:29] sojan-official commented on #1020
At the moment you can define your template messages as canned responses in chatwoot and use them.

[2021-06-10 03:32] sojan-official commented on #1020
You could use the API channel to connect the third-party REST APIs.

[2021-06-10 07:28] tabrza commented on #2397
Turning off the popup blocker worked. thank you!
what is the file type though? i changed it to xls and tried opening it with my editor as well but there's no formatting etc.

[2021-06-10 07:28] tabrza commented on #2397
Turning off the popup blocker worked. thank you!
what is the file type though? i changed it to xls and tried opening it with my editor as well but there's no formatting etc.

[2021-06-10 09:34] #2040 closed

[2021-06-10 10:11] iammattmartin commented on #2397
It's a CSV.

[2021-06-10 10:19] pranavrajs opened #2410 "bug: Missing translation string"
<img width="866" alt="Screenshot 2021-06-10 at 3 49 00 PM" src="https://user-images.githubusercontent.com/2246121/121508598-64377200-ca03-11eb-940b-0044a56ee7a6.png">

[2021-06-10 10:41] #2410 closed

[2021-06-10 22:45] #1981 closed

[2021-06-11 10:08] #1257 closed

[2021-06-11 16:24] srameshr opened #2418 "Sometimes, the email channel conversations takes forever to load"
**Describe the bug**

The conversations emerging from an e-mail inbox takes 30 seconds plus to load and fails with a timeout error without any updates in the UI about the data or the error.

**To Reproduce**

Steps to reproduce the behavior:
1. Create an email inbox channel
2. Visit conversations menu item
3. The loader in the conversations just keeps spinning forever.
4. Timeout error in the brow

[2021-06-11 16:57] srameshr opened #2419 "Instagram direct messages inbox channel"
**Is your feature request related to a problem? Please describe.**
Facebook has recently opened the Instagram direct messages API to the public and it would be the most used channel to integrate with.

**Describe the solution you'd like**
The new Instagram DM inbox channel.

**Describe alternatives you've considered**
N/A

**Additional context**
Since this is the most used communication channel I

[2021-06-11 17:58] iammattmartin commented on #2419
This is a duplicate of #2096, raised some time back.

[2021-06-12 04:20] pranavrajs commented on #2419
Closing as it is a duplicate of #2096

[2021-06-12 04:20] #2419 closed

[2021-06-12 14:54] brundles commented on #2011
Hi @pranavrajs - thank you for the first suggestion ;)

Can you try to elaborate on the 2nd? :)

[2021-06-12 14:56] brundles commented on #723
Hi @robson-jardim - is this basically the same as https://github.com/chatwoot/chatwoot/issues/2011 ?

[2021-06-12 17:26] aniravi24 opened #2420 "Redis 6 on Heroku Premium breaks ActionCable config"
**Describe the bug**

Heroku made some SSL/TLS changes with Redis 6, but there's a library called ActionCable which has a config file in the chatwoot project (cable.yml) where I needed to add this same verify mode config that was missing. We've already fixed this issue, but I wanted to put this issue up because it would be great to document this somewhere so other people don't run into this. Herok

[2021-06-12 20:26] aniravi24 commented on #2018
Didn't realize my issue was a duplicate, but in case anyone's wondering how to solve the SSL issue

https://github.com/chatwoot/chatwoot/issues/2420

[2021-06-13 10:26] anew-bhav commented on #2330
@pranavrajs
With respect to what I have observed, I have created a schematic showing difference between the current and the required behavior. Let me know if that is correct.

I am still struggling to understand, how should the `scrollDown` function be modified.
The basic idea is, whenever `scrollDown` is called, the `conversation-panel` should scroll to the first unread message (if any), or the l

[2021-06-13 18:57] dirthex opened #2422 "disable password verification"
i need your help to disable password verification for devise_token_auth.

So whene i send email and password all is ok , but when i need to only use email with using multiple solution seen at internet , i still get the same error .

{"success":false,"errors":["Invalid login credentials. Please try again."]}

so can you please help me to disable password verification at chatwoot and use only email

[2021-06-14 08:27] semsphy opened #2425 "Conversation Reply Mailer ArgumentError: SMTP From address may not be blank: nil"
**Describe the bug**
Failed job in sidekiq:

**Version:** `v1.16.2`
**Queue:** `mailers`
**Job:** `ConversationReplyMailer#reply_with_summary`
**Arguments:** `{"_aj_globalid"=>"gid://chatwoot/Conversation/164"}, "2021-06-13 12:35:55 UTC"`
**Error:** `ArgumentError: SMTP From address may not be blank: nil`

[2021-06-14 09:58] sojan-official commented on #2096
https://developers.facebook.com/docs/messenger-platform/instagram/

Let's track this for July - August releases ( phase 2 ) since the majority of chatwoot users fill fit into the 1k-100k followers bucket.

[2021-06-14 10:46] sojan-official commented on #2420
@aniravi24  Thanks a lot for adding this. We will take this up as a documentation task or an ENV variable configuration since Heroku is a popular option in our community for deployments.

[2021-06-14 11:36] pranavrajs commented on #2425
@semsphy Have you set the MAILER_SENDER_EMAIL environment variable? https://www.chatwoot.com/docs/self-hosted/configuration/environment-variables#configure-emails

[2021-06-14 12:24] pranavrajs opened #2426 "Use a different email for notification and signup"
Right now, in production, we use accounts@chatwoot.com for both account signup and other notifications like a new message in the conversation. This is confusing for the end user. Allow an additional option to configure notification email with a different address.

[2021-06-14 13:41] semsphy commented on #2425
I did set the ENV variable.

### Sidekiq Log
[code]

[2021-06-14 14:20] sojan-official commented on #2272
https://github.com/chatwoot/chatwoot/commit/26ba8e6ff7ab41210f262b2adeb007fe0070f7b8

[2021-06-14 14:20] #2272 closed

[2021-06-14 18:49] ipadmini22 commented on #1318
Are there updates to adding SSO to chatwoot?

[2021-06-15 06:47] sojan-official commented on #2422
@dirthex  could you explain the use case further ?  are you trying to implement a single sign-on?

[2021-06-15 06:49] sojan-official commented on #2425
@semsphy just making sure. You would need to restart the servers and the workers after the changes in environment variables.

[2021-06-15 06:50] sojan-official commented on #2418
@srameshr Could you take a look at the rails server logs and see if there is something helpful?

[2021-06-15 06:53] semsphy commented on #2425
Every time, I made changes, I ran this command `docker-compose up --force-recreate -d`

[2021-06-15 08:45] #2289 closed

[2021-06-15 10:33] srameshr commented on #2418
Il update this bug when I can reproduce the issue again.

[2021-06-15 10:43] anew-bhav commented on #2426
@pranavrajs can I work on this feature development?

[2021-06-15 12:48] sojan-official commented on #2426
@anew-bhav  please go ahead. We would need to introduce an additional environment variable that will be used for notifications emails. when not available it will fall back to  `MAILER_SENDER_EMAIL`

let me know if you have more questions.

[2021-06-15 14:39] #2343 closed

[2021-06-15 14:39] #2288 closed

[2021-06-15 18:04] iammattmartin opened #2430 "Widget scroll with campaign active"
**Describe the bug**

When a user clicks on the campaign message, it opens the full widget to start but then has a long scroll already active.

Scrolling to the bottom shows an empty message window.  Also, it loses focus of the original reply window as attached.

Latest build as a of few minutes ago.

![Screenshot 2021-06-15 at 7 04 16 PM](https://user-images.githubusercontent.com/15971590/1221017

[2021-06-15 18:07] iammattmartin commented on #2288
I see this was pushed and works much better, although, I do see further scope possibly, to only create the conversation when information is entered.

I note that with the campaign, it skills capturing user details, which is probably bad as it reverts to the previous widget behaviour that was quite problematic with conversations started with no valid/usable contact details and it won't stop silly m

[2021-06-15 18:08] pranavrajs commented on #2430
@iammattmartin Can you please try clearing the cache and rebuilding the assets?

[2021-06-15 18:10] pranavrajs commented on #2288
@iammattmartin Yes, this is something which we have been discussing. The behaviour to collect information would be improved in future releases.

[2021-06-15 18:10] iammattmartin commented on #2430
With `rake assets:clobber assets:precompile RAILS_ENV=production`?

If so, we already do that on each update to ensure nothing is left behind.

[2021-06-15 18:12] pranavrajs commented on #2430
Yes, weird. It would be helpful if you could share a screencast about the same.

[2021-06-15 18:12] iammattmartin commented on #2430
I'll ping you over an email shortly.

[2021-06-15 18:13] pranavrajs commented on #2288
It was tricky to enable pre-chat form along with the campaign. We are working on how to achieve that. It's more of a product question and the UX flow. Once that is finalized, we will take that to the sprint.

[2021-06-15 18:16] iammattmartin commented on #2288
Thanks. Looking forward to that improvement.

[2021-06-15 18:22] sojan-official opened #2431 "feat: Show Pre-chat Form before contact can reply to campaign messages"
_Originally posted by @iammattmartin in https://github.com/chatwoot/chatwoot/issues/2288#issuecomment-861721641_

[2021-06-15 18:24] pranavrajs commented on #2430
@iammattmartin Never mind, I could reproduce the error. It was a silly mistake. Thanks for reporting. I will get it merged once the tests are passed.

[2021-06-15 18:26] iammattmartin commented on #2430
:) Did send that over already but glad you've identified it.

[2021-06-15 18:35] #2430 closed

[2021-06-15 20:25] iammattmartin opened #2433 "Only fire campaigns during business hours"
**Is your enhancement request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Currently, campaigns fire at any time, which could be a poor user experience if they invite conversation for that inbox to not be one that responds 24/7.

I'd suggest that there should be a yes/no setting for this to happen but also may improve the experience that if a campaign message i

[2021-06-15 20:27] iammattmartin opened #2434 "Free-form name for campaign sender"
**Is your enhancement request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Currently there is the option of sending as "bot" or a user. In some situations neither may be suitable. We don't want to send as a specific named staff member, but also bot isn't welcome to some.

Similar to how Apple humanised their AI with Siri and Amazon with Alexa, it would be nice

[2021-06-16 09:20] pranavrajs commented on #2434
@sojan-official This can be solved using #2323. We can add a UI to create Agent Bots and allow them to be selected in the campaigns so that the user can customize the name and the avatar of the bot.

[2021-06-16 09:23] pranavrajs commented on #2433
@iammattmartin Thanks for the suggestion. This is a useful one.

[2021-06-16 13:12] sojan-official commented on #1318
Ability to use External sso auth providers are still in our backlog

But you can leverage platform APIs to implement a custom SSO :
https://github.com/chatwoot/chatwoot/wiki/Building-on-Top-of-Chatwoot:-Platform-APIs
https://www.chatwoot.com/developers/api/#operation/get-sso-url-of-a-user

[2021-06-16 15:37] pranavrajs commented on #2357
Closed via #2403

[2021-06-16 15:37] #2357 closed

[2021-06-16 16:18] nithindavid opened #2441 "Live chat widget preview for inbox settings page"
### The problem
Currently there are more than 8 different configuration settings on widget in the form of color, Welcome titles, greetings etc. This could possibly create a confusion when a user is configuring the widget on their website. There is no way to predict how the widget will behave depending on the combination of these settings.

### Proposed solution
To solve this we will have an widget

[2021-06-16 17:49] sojan-official commented on #2273
https://github.com/chatwoot/chatwoot/commit/d21c1c773b26eb87cdc938a3e8bcf596a778c3ab

[2021-06-16 17:49] #2273 closed

[2021-06-16 17:53] sojan-official commented on #1341
Closing this in favour of Multiple Conversations in the website widget

https://github.com/chatwoot/chatwoot/issues/2355

[2021-06-16 17:53] #1341 closed

[2021-06-16 18:09] sojan-official commented on #2397
@tabrza  are you still facing issues ?

[2021-06-16 18:12] sojan-official commented on #1216
At the moments reports allow a specific range. let change this to a date range selector.
<img width="454" alt="Screenshot 2021-06-16 at 11 41 56 PM" src="https://user-images.githubusercontent.com/73185/122270910-72522a80-cefc-11eb-91df-a78a01503b3a.png">

[2021-06-16 20:33] sojan-official opened #2443 "Feat: New User Role - Conversation Participant"
Create a new type of user role `participant` with limited permissions who can only

- View conversations where they have been added as a participant
- Reply to the conversations where they have been added as a participant.
- Receive notifications on updates in conversations in which they are participating
- Use Chatwoot mobile apps

## Additional Changes

- Conversations will have a participants S

[2021-06-16 22:35] crhonox commented on #2420
@aniravi24 did you manage to get it to work on heroku?

Now i get an error with ssl when i try to broadcast a message.
`/app/vendor/ruby-3.0.1/lib/ruby/3.0.0/openssl/ssl.rb:140:in `merge': no implicit conversion of Integer into Hash (TypeError)`

Any ideas?

[2021-06-16 23:53] aniravi24 commented on #2420
@crhonox yes it's working if you do what I described above. Is it because you're using Ruby 3? We're using 2.7

[2021-06-17 04:59] semsphy commented on #2425
@sojan-official , this is the log that I have from `sidekiq`.

[code]

[2021-06-17 06:07] mariusa commented on #273
+1 for this. There's no such setting yet. Thanks!

[2021-06-17 09:40] AL-77 opened #2445 "Edit sent messages"
I would like to be able to edit a message that has already been sent in order to correct anything in the previous messages.

[2021-06-17 13:10] sojan-official commented on #273
@mariusa In our newer version ( v.1.17.1 ), you have the setting to disable the email collect box.

[2021-06-17 13:15] sojan-official commented on #2425
@smes

Is this a one-off error? or none of the emails from chatwoot is going out?

[2021-06-17 13:25] semsphy commented on #2425
Honestly, I'm sure not but I was monitoring it and every time it got error the sidekiq had this log. One more the, mail configuration is ok because when I created an agent, it always sent email to the agent to verify. So, I supposed my configuration is OK.

[2021-06-17 13:33] pranavrajs commented on #1171
@sandys @converso-chat Here is a document on the recently shipped native Dialogflow integration https://www.chatwoot.com/docs/product/channels/live-chat/integrations/dialogflow

[2021-06-17 15:35] thundersparkf commented on #1020
@sojan-official so if a template is approved by WhatsApp separately, we can add it as a canned response to Chatwoot and I just have to use the Canned response and it'll work outside the 24 hour window to send messages on WhatsApp, sorry to repeat all of it, but just wanted clarify

[2021-06-18 06:35] srameshr commented on #2084
@pranavrajs Any updates on this? My PR is ready where I am mapping contact data properties to canned response templates.

[2021-06-18 08:05] sojan-official commented on #2084
@srameshr  If you have the changes feel free to raise a PR. let's iterate over it.

[2021-06-18 08:53] muhsin-k opened #2452 "bug: Showing undefined for sender tooltip in bot messages"
**Preview**
<img width="542" alt="Screenshot 2021-06-18 at 2 19 34 PM" src="https://user-images.githubusercontent.com/12408980/122534668-9c2c4f80-cfd7-11eb-9f87-35eda3c90044.png">

[2021-06-18 11:06] tabrza commented on #2397
All fine now, thank you so much

[2021-06-18 11:06] #2397 closed

[2021-06-18 13:48] mariusa commented on #273
Thanks Sojan,

I did that at https://app.chatwoot.com/app/accounts/3889/settings/inboxes/3137
Enable email collect box: Disabled
Save
Then closed the browser tab.
Waited 1 minute.
Then went to my app having the chat widget -- the chat bubble still shows instead of being hidden.

[2021-06-18 14:42] #2330 closed

[2021-06-18 15:14] pranavrajs commented on #273
@mariusa Can you please try it in the incognito window and see if it is executing the message? If it is already sent, this setting won't hide them.

[2021-06-18 16:47] mariusa commented on #273
I've tested that, the widget still shows. It says "We are away at the moment", so it knows there's no agent online:

[code]

Note, I'm using your cloud, https://app.chatwoot.com/app/accounts/3889/settings/inboxes/3137
Maybe this wasn't updated to v.1.17.1 ? The setting to 'disable the email collect box.' is there and it works, but desired behavior is to hide the widget if no agent is online.

[2021-06-18 18:25] sojan-official opened #2458 "feat: Chat widget Online status when a Bot is connected"
At the moment an inbox connected with an agent bot will still appear offline when none of the human agents is online.
We should look into providing APIs or product settings so that bots can control the presence status.

[2021-06-19 07:51] NitinNR opened #2459 "download agent report issue"
when download the agent reports its shows no format like .xls,.doc or whatever it is associated with why?
![Screenshot (21)](https://user-images.githubusercontent.com/46310938/122635345-f70d9600-d100-11eb-81b8-0330275eb6be.png)

[2021-06-19 09:33] sojan-official commented on #2459
It's a CSV file.  We will look into the downloads missing the extension.

[2021-06-19 21:35] iammattmartin commented on #2459
Looks like this is browser related.

Firefox saves as [rand].csv

[2021-06-20 09:35] jtraulle commented on #1959
Hey :)

Anything I can do to help on this ?

[2021-06-20 13:55] #2452 closed

[2021-06-21 02:04] randhipp opened #2461 "Dialogflow integration for API type inboxes"
**Describe the bug**

No Inbox shown in dropdown when add dialogflow integration, despite inboxes already created with API Type.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to dialogflow integration
2. Add new hook
3. click on inbox select / dropdown
4. no option can be selected

**Expected behavior**

Inboxes shown, and can be set to API type inboxes.

**Screenshots**

![image](http

[2021-06-21 03:22] jbg commented on #1493
The latest version has a setting for the inbox:

"Enable email collect box - Enable or disable email collect box on new conversation"

However, it doesn't work: the setting defaults to Enabled, and after changing it to Disabled and saving the settings, it reverts to Enabled when you return to the settings page.

[2021-06-21 06:41] pranavrajs opened #2463 "Add an option on inbox setting to enable/disable the CSAT Surveys"
Inbox model has `csat_enabled` field which ensure that the CSAT are enabled on the inbox. Allow the administrator to change the value from Inbox Settings.

Note: Enable the setting only for website channel at the moment.

[2021-06-21 06:44] pranavrajs opened #2464 "Create a component to collect CSAT Reponse"
- Add a component to collect the CSAT response and feedback from the users after a conversation is resolved.

[2021-06-21 06:46] pranavrajs opened #2465 "Send CSAT response in the message update API"
- Disable the component after the response is submitted.
- Call the Message update API to pass the CSAT survey params in `submitted_values`.

[2021-06-21 06:50] pranavrajs opened #2466 "Allow the user to create a new conversation if the previous one is resolved"
- If CSAT survey is enabled
  - Disallow user to reply to a resolved conversation, show new conversation button

- If CSAT survey is disabled
  - The behaviour of the input box remains the same.

[2021-06-21 06:53] pranavrajs opened #2467 "Add an option for the user to request a conversation transcript in the widget"
- If the user has shared the email address, show an option to request a conversation transcript on the widget.

[2021-06-21 06:56] pranavrajs opened #2468 "bug: Posthog analytics is not working in production apps"

[2021-06-21 06:58] pranavrajs opened #2469 "bug: Assign screen scroll is not working"

[2021-06-21 07:03] pranavrajs commented on #2466
@muhsin-k I will share the UI mockup by Wednesday.

[2021-06-21 07:05] pranavrajs opened #2470 "Setup CSAT trigger points to send CSAT capture messages on conversation resolve event"

[2021-06-21 07:08] pranavrajs opened #2471 "Display CSAT on agent side"
- If a CSAT message is sent, display the "Sent a CSAT survey" to the agent
- On response
  - Show the feedback and the selected emoji to agent.

[2021-06-21 07:10] pranavrajs opened #2472 "feat: CSAT Responses"
- [x] Add a `csat_response` table to capture the response
      [point, feedback text, converastion_id, assigned_id]
- [x] Add an API to fetch the list of responses
      (paginated - default page size: 25)
      (Date range filter)
- [x] Generate CSAT Records when contact interact with the component

[2021-06-21 07:15] pranavrajs opened #2473 "Sidebar Design"
- Deliver the design for a primary and secondary sidebar.

[2021-06-21 07:19] pranavrajs opened #2474 "Investigate the effect on merging a contact on widget"
- Investigate the side effects of merging a contact on the widget side
  - Do we need to consider handling pubsub token on the widget?

- Do we need to update the existing conversation with the new contact object?
- Do we need to remove the existing contact from the UI store?

[2021-06-21 07:25] pranavrajs commented on #1283
@nithindavid I would come back with the agent permissions by Wednesday.

[2021-06-21 07:26] pranavrajs opened #2475 "Figure out agent permission while deleting a message"

[2021-06-21 07:33] pranavrajs opened #2476 "Update agent/team multiselect styles"

[2021-06-21 07:38] pranavrajs opened #2477 "Improvements in audio notification"
- Add an option to listen only to assigned notifications.

[2021-06-21 07:40] pranavrajs opened #2478 "No gutter space between settings page content and right content sidebar"

[2021-06-21 07:42] pranavrajs opened #2479 "Show timezone along with Place in Business Hours"

[2021-06-21 07:46] pranavrajs commented on #2461
@randhipp Thanks for the suggestion, we are already considering it for other inboxes. The only thing pending is to test out the flow and see if everything is working properly.

[2021-06-21 07:50] pranavrajs commented on #2477
Closing as duplicate of #1864

[2021-06-21 07:50] #2477 closed

[2021-06-21 15:38] iammattmartin commented on #2479
Would there be scope to show the respective time in the visitor's timezone too? as an expand on this.

[2021-06-22 07:31] #2464 closed

[2021-06-22 08:02] pranavrajs opened #2486 "bug: Contact deleted during merge"
- If the base and mergee contact is same, the base contact gets destroyed which destroys the conversation as well.

[2021-06-22 08:05] sojan-official commented on #1493
@jbg  if you are running a self-hosted installation, ensure that the database migrations are run after updating chatwoot.
 Could you also check the logs to see if the setting is saved properly / the save request is successful?

[2021-06-22 08:05] muhsin-k opened #2487 "feat: Inapp notifications when new messages or conversations"

[2021-06-22 08:30] jbg commented on #1493
Yup, always run migrations when upgrading.

[code]

`Can't verify CSRF token authenticity` smells funny, but I would have thought if there was a problem with the CSRF token getting through, it should affect more than just this one setting. All other settings update fine.

[2021-06-22 08:32] mizbanpaytakht commented on #1598
I tried to use customCSS like this but its not working:
`      (function(d,t) {
        var BASE_URL="";
        var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=BASE_URL+"/packs/js/sdk.js";
        s.parentNode.insertBefore(g,s);
        g.onload=function(){
          window.chatwootSDK.run({
            websiteToken: '',
            baseUrl: BASE_URL,
            customCSS:

[2021-06-22 08:56] brentco opened #2488 "A way to close a conversation with a user via API"
**Is your feature request related to a problem? Please describe.**
In a bot context, we would like that at the end of a conversation, the conversation gets closed. Currently, when a user would "finish" a flow, the chat (via widget) just remains there and the user can still type stuff.

**Describe the solution you'd like**
An API endpoint that lets us finalize a conversation where a user can actual

[2021-06-22 10:27] #2486 closed

[2021-06-22 14:36] mariusa opened #2489 "After resolving conversation, go to next conversation or blank if it was the last"
**Is your enhancement request related to a problem? Please describe.**
When the last conversation in Inbox is marked Resolved, the URL remains
https://app.chatwoot.com/app/accounts/3889/conversations/77
and the screen on the right still shows conversation details.
The "Conversations" section on the left is empty, as expected.

**Describe the solution you'd like**
Change URL to
https://app.chatwoot

[2021-06-22 15:08] pranavrajs opened #2490 "Delete related notifications if a conversation is deleted"
Delete associated notifications if a conversation/message is destroyed.

https://sentry.io/share/issue/b27f9e97cdf84e3d875b7daa53497bf3/

[2021-06-22 16:25] ddlogesh opened #2492 "Inbox Settings (Email) - Reply time is not set"
**Inbox Settings (Email) - Reply time is not set in backend**

**Screenshots**

<img width="1440" alt="Screenshot 2021-06-22 at 9 50 00 PM" src="https://user-images.githubusercontent.com/35095700/122963746-30196500-d3a4-11eb-9693-e45ddee1af43.png">

**Environment**

Chatwoot Cloud (app.chatwoot.com)

@sojan-official Please do assign me.

[2021-06-22 18:03] hanzala-sohrab opened #2493 "Error in installing Chatwoot via Linux VM Script"
**Describe the bug**

The script fails to setup a Chatwoot instance on an Ubuntu VPS.

**To Reproduce**

Steps to reproduce the behavior:
Follow the instructions mentioned here : https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm
**Expected behavior**

Chatwoot Installation should be accessible at http://{your_ip_address}:3000

**Screenshots**

![image](https://user-images.githubusercon

[2021-06-22 20:25] sojan-official commented on #2493
Could you share the logs from your rails server?

ref: https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm#viewing-logs

[2021-06-23 05:51] hanzala-sohrab commented on #2493
[code]

[2021-06-23 05:51] hanzala-sohrab commented on #2493
[code]

[2021-06-23 06:15] muhsin-k opened #2495 "NoMethodError: undefined method `inbox' for nil:NilClass"
https://sentry.io/share/issue/6b7d5a487c8e486aaa7a34a8cd452eae/

[2021-06-23 13:59] #2470 closed

[2021-06-23 15:16] fundup commented on #1700
Facing same issue with EC2 t3a.small , my only solution was to compile localy and push assets on my fork.

[2021-06-23 15:17] iammattmartin commented on #1700
Did you add a swap?

[2021-06-23 15:24] pranavrajs commented on #1700
@fundup We are making it better by downloading the compiled assets based on the tags and removing the compilation step on the machines. This would be up in the next couple of releases.

[2021-06-23 16:47] pranavrajs opened #2499 "Add ability to create custom views in the dashboard"
- Allow users to create custom views in the dashboard
  - For eg: All conversations assigned to me which is an inbox name "Customer support" and created in the last 2 days.

This is the ticket to create APIs for the same.

[2021-06-23 18:06] johackim opened #2502 "Botpress application integration"
**Is your feature request related to a problem? Please describe.**

Integrate an open-source bot to auto-reply messages : https://github.com/botpress/botpress/

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

When a message is sended to chatwoot via the livechat, botpress receive the message and automatically reply to the end-user.

[2021-06-23 20:48] iammattmartin commented on #2502
This looks really good.

[2021-06-24 00:30] pucilpet opened #2504 "Emails not delivered when case does not match"
**Describe the bug**

When a customer sends an email to the email channel, the email does not get delivered to the channel. This happens when they use an uppercase email address. So if we have support@company.com the customer has to use exactly that address, including case. So SUPPORT@company.com would not work. For email the case should not matter (that is the convention).

**To Reproduce**

Step