[2022-05-23 20:56] sojan-official commented on #1645
ref: https://github.com/chatwoot/chatwoot/pull/4540 chatwoot now support subscribing to specific webhook events

[2022-05-23 21:00] sojan-official opened #4732 "[CW-1928] feat: Ability to supply auth info for all webhooks ( API channel, agent bot etc )"
ref: https://discord.com/channels/647412545203994635/735079512701665280/978401381906014228

Ability to supply auth info for all webhook endpoints
- webhook integrations
- API channel
- agent bots

<sub>[CW-1928](https://linear.app/chatwoot/issue/CW-1928/feat-ability-to-supply-auth-info-for-all-webhooks-api-channel-agent)</sub>

[2022-05-23 21:34] sojan-official commented on #4335
@fobos531 @fifi98 Thanks for reporting. We will take a look

[2022-05-23 21:35] sojan-official commented on #4729
@psifertex Thanks for the feedback, We will have it in our pipeline for the future releases.

[2022-05-23 21:38] sojan-official commented on #4726
@iprithvitharun  thanks for reporting. We will have it updated

[2022-05-24 01:10] guiqis opened #4733 "question: How to Assign Agent Bot to inbox ?"
Is it possible to assign an Agent Bot to an inbox via the API?

I've created the Bot using the Super admin console but I need to assign it to my inbox now so it can work (and I can't find a solution to do it).

I tried to create it using the rails console, but I receive the error:

[code]

How can I do it via the API (or any other screen)?

[2022-05-24 05:06] sojan-official commented on #4733
@guiqis  use this API https://www.chatwoot.com/developers/api/#operation/updateAgentBot

------
when connecting to the rails console use the following command to connect to production database
[code]

[2022-05-24 08:21] pranavrajs opened #4735 "Pre-chat form overwrites the name of the contact"
**Context:**
https://github.com/chatwoot/chatwoot/pull/4421/files#r880180551

**To Reproduce:**
- Create a contact with an email address.
- Provide the same email in the pre-chat form and a different name.

[2022-05-24 10:52] vocuzi opened #4736 "Buttons and other interactive messages for Telegram ?"
Does this feature exists on current Chatwoot version, if yes where can I find the documentation for it ?

[2022-05-24 12:47] vishnu-narayanan opened #4737 "Improve linux installation experience"
**Is your feature request related to a problem? Please describe.**
Improve the Linux installation script user experience.

**Describe the solution you'd like**
Modify the script to support
- [x] reduce verboseness of the script
- [x] persist installation logs for debugging
- [x] fail if not run as root
- [x] exit script if the installation fails midway
- [ ] allow the user to re-run SSL/TLS cert g

[2022-05-24 12:52] sojan-official commented on #4736
@vocuzi  interactive messages are not supported in telegram at the moment

[2022-05-24 13:17] sojan-official commented on #4578
@iammattmartin The error displayed in the console should be harmless. it's not specific to this behavior.
We will keep an eye on reports on our SaaS and update the thread with further findings.

[2022-05-24 13:20] sojan-official commented on #4547
@Vadorequest  thanks for the feedback, we will look further into how we can improve the product documentation for this.

[2022-05-24 13:21] sojan-official commented on #4728
@Vadorequest  thanks for creating the issue. We will have it prioritized.

[2022-05-24 13:26] sojan-official commented on #4728
ref: https://github.com/chatwoot/chatwoot/issues/2811

[2022-05-24 14:29] ammad-fareed commented on #4546
@pranavrajs sorry for the delay. The logs are normal(no errors to see):

`2022-05-24T14:28:23.000000+00:00 app[postgres.2941260]: [BLUE] [12-1]  sql_error_code = 00000 time_ms = "2022-05-24 14:28:23.326 UTC" pid="332687" proc_start_time="2022-05-24 14:28:23 UTC" session_id="628ceb87.5138f" vtid="" tid="0" log_line="3" database="dc0saefjp2a5of" connection_source="52.72.79.52(37819)" user="postgres"

[2022-05-24 18:17] sojan-official opened #4740 "[CW-1852] feat: Show too many conversations warning when server returns 429"
rack attack will prevent conversation creation when a contact creates more than 6 conversations in 12 hours.
In such cases, no warnings are shown to the contact. We should display a too many requests error message in the widget when this happens

<sub>[CW-1852](https://linear.app/chatwoot/issue/CW-1852/feat-show-too-many-conversations-warning-when-server-returns-429)</sub>

[2022-05-24 18:29] jhambach commented on #4735
Is this issue related to not being able to change the pre-chat form? After we upgraded to the latest, we can't change the pre-chat form greeting or enable the option to require a name and email.

[2022-05-24 18:31] pranavrajs commented on #4735
@jhambach Can you please share a screencast for the same? I don't think it is related.

[2022-05-24 18:45] jhambach commented on #4735
https://share.snapcom.com/2Num1N8y

The pre-chat message and the email/name requirement checkbox settings don't save properly.

[2022-05-24 20:09] sojan-official commented on #4735
@jhambach  if you have upgraded to 2.5 the UI for the pre-chat form should be different. Please try recompiling assets

https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm#if-precompile-fails

[code]

[2022-05-24 21:02] guiqis commented on #4733
@sojan-official thank you!! Solved all my issues. Just a last question. I'm using Dialogflow, but the bot name appears as 'Bot', not the name that I used when creating the bot (that is assigned to the inbox using Dialogflow).

Any ideas of how I can solve it?

[2022-05-25 06:44] sojan-official opened #4742 "bug: Turbo + Stimulus issues."
ref: https://discord.com/channels/647412545203994635/647729773723779073/971483250470060102

![unknown](https://user-images.githubusercontent.com/73185/170197258-e8c494e5-6bfb-4286-84e5-5ce2cde86a26.png)

You can reproduce it as follows. Enter ment.cl. Now you can see that the chat loads correctly. Then click on any link, for example, "Empezar". The form to create an account should appear, but the

[2022-05-25 07:00] vishnu-narayanan opened #4743 "bug: rails core dumped during asset compilation"
**Describe the bug**

Rails asset precompilation stage is failing with core dumped error. Machine spec is 8vCPU with 16GB ram running Ubuntu 20.04. Got this 3/5 times on fresh machines.

**To Reproduce**

Steps to reproduce the behavior:
1. Spin up a new machine
2. Run the install script
3. See if it fails at asset precompile stage
4. See error

**Expected behavior**

Asset compilation should be s

[2022-05-25 07:08] #4735 closed

[2022-05-25 07:16] sojan-official opened #4744 "feat: Average Response Time of an Agent in Report"
### Discussed in https://github.com/chatwoot/chatwoot/discussions/4739

<div type='discussions-op-text'>

<sup>Originally posted by **hosanak** May 24, 2022</sup>
hi all,

I have been trying to find in the internet, in this github, and also in the documentation, but there is only "First Response Time". I could not find the statistics of "Average Response Time" of an agent. Wondering whether it is

[2022-05-25 07:18] #4744 closed

[2022-05-25 07:21] sojan-official commented on #4546
@ammad-fareed @AmmarAlbar  please check if 360dialog is sending the WhatsApp events correctly to Chatwoot webhook endpoint.  If it is you could see requests being made to the endpoint `'webhooks/whatsapp/:phone_number` in your logs.

If it is not sending please check with the 360DialogCustomer support.

[2022-05-25 07:23] sojan-official opened #4745 "feat: Ability to customise the sender name of dialogflow messages"

[2022-05-25 07:24] sojan-official commented on #4733
@guiqis  it is not supported at the moment. I have added https://github.com/chatwoot/chatwoot/issues/4745 to track the same.

[2022-05-25 07:24] #4733 closed

[2022-05-25 07:27] sojan-official commented on #4721
@NitinNR are there any customizations made in the code? there weren't any changes in Dialogflow between 2.4 and 2.5

[2022-05-25 07:58] sojan-official commented on #4535
@hploscar  The working of `USE_USE_INBOX_AVATAR_FOR_BOT` is slightly different that what you have described.  if you have this environment variable configuration.  it will render the avatar of inbox for messages with out a sender

ie the automated messages like greeting messages, business hour messages, etc.

------

In the case of agent bots, you can directly configure an avatar for the agent bot

[2022-05-25 09:18] Robinjoeh opened #4746 "enhancement: Merge from address to CC"
**Is your feature request related to a problem? Please describe.**
The list of CC:ed emails is always empty and the agent has to add the CC:ed contacts to every reply.

If the conversation is started by person A, and that person CC:s person B, when replying to the original conversation Chatwoot will now reply to person A whilst automatically CC:ing person B.

However, when person B replies (and CC

[2022-05-25 09:54] sojan-official commented on #4746
@Robinjoeh Thanks for the feedback, We will keep it in our backlog for prioritization.
We will share further updates once the team starts working on this.

[2022-05-25 10:00] ammad-fareed opened #4747 "Can't add social media inboxes"
@pranavrajs @sojan-official When we try to connect the social media accounts(Twitter, Facebook, Instagram), we are just redirected back to the connect your account page after oath process. Moreover, the existing linked twitter account is not able to send or receive messages as well. Below are the logs. Kindly assist.
[code]

[2022-05-25 10:14] sojan-official commented on #4747
did you finish setting up the required environment variables?

https://www.chatwoot.com/docs/self-hosted/configuration/features/integrations/facebook-channel-setup
https://www.chatwoot.com/docs/self-hosted/configuration/features/integrations/instagram-channel-setup
https://www.chatwoot.com/docs/self-hosted/configuration/features/integrations/twitter-channel-setup

[2022-05-25 10:19] iammattmartin commented on #4578
Thanks. Is there anyway we can try and debug the cause further? Simply because we're getting lots of duplicate messages and it is causing some level of frustration.

[2022-05-25 10:40] ammad-fareed commented on #4747
Yes, they are set up.

[2022-05-25 10:51] fayazara commented on #4742
Ref - https://github.com/fayazara/hotwired-turbo-test

[2022-05-25 11:03] sojan-official commented on #4747
Could you provide the following details :

- Chatwoot Version:
- Have you made any customization to the code:
- Chatwoot Installation Environment:
- Have you performed an upgrade recently:

[2022-05-25 12:58] voko3456 opened #4749 "Not able to hear incoming audio on iPhone Google chrome"

[2022-05-25 12:59] voko3456 opened #4750 "When we send mp4 video via iPhone in Google crhome end user can't receive it"

[2022-05-25 13:37] miamicityman opened #4752 "When creating FB inbox, it loads "Authenticating with facebook" and does not proceed?"
**Describe the bug**

Self hosted version; 2.5.0; all else is fine with installation; connected with Twilio; all is working as expected. However ...

**Expected behavior**

A pop-up window to connect to FB to choose our respective pages to connect to our instance of Chatwoot never appears. It just hangs.

**Screenshots**

![Screenshot_1](https://user-images.githubusercontent.com/57761794/170274963

[2022-05-25 13:59] iammattmartin commented on #4752
Check the logs for errors (both browser and server).

[2022-05-25 14:16] jersonjunior commented on #4683
Works fine now using doc: https://www.chatwoot.com/docs/self-hosted/deployment/docker/ and docker-compose.production.yaml file of github.

[2022-05-25 14:18] pranavrajs commented on #4749
@voko3456 Is it possible to share a screencast explaining the problem?

[2022-05-25 16:12] sojan-official commented on #4683
@jersonjunior  Thanks for reporting back.
closing this issue as it seems to be resolved.

[2022-05-25 16:12] #4683 closed

[2022-05-25 16:52] rodenp commented on #2502
Is there any progress on this integration?

[2022-05-25 21:53] brunoprietog commented on #4742
[Here](https://github.com/brunoprietog/hotwire-chatwoot-bug) you can reproduce the bug. Only run `rails s` after `bundle install`. Thanks!

[2022-05-26 05:19] aswindevps commented on #4643
@pranavrajs please update the issue description once the UX design is ready.

[2022-05-26 08:38] digitall-it commented on #4712
+1

[2022-05-26 10:46] sojan-official commented on #4742
@fayazara  could you take a look?

[2022-05-26 10:49] sojan-official commented on #4752
@miamicityman  have you configured the Facebook app as described over here?

[2022-05-26 11:38] miamicityman commented on #4752
No, still working on it. Will advise here when/if successful.

[2022-05-26 13:35] #4689 closed

[2022-05-26 13:42] sojan-official commented on #4646
ref: https://discord.com/channels/647412545203994635/654017096812068864/979338014994083841

[2022-05-26 14:06] sojan-official commented on #2502
@rodenp it's still in our backlog.  The team isn't actively working on this at the moment.

[2022-05-26 14:09] sojan-official commented on #2271
ref: https://github.com/chatwoot/chatwoot/discussions/4754

[2022-05-26 14:53] #4532 closed

[2022-05-26 15:29] voko3456 commented on #4750
@pranavrajs i send it to hello@chatwoot.com please have a look

[2022-05-26 15:29] voko3456 commented on #4749
@pranavrajs i send it to hello@chatwoot.com please have a look

[2022-05-26 16:30] juanfrancisco-18 commented on #4712
para cuando estará lista?

[2022-05-26 18:27] digitall-it commented on #4712
There is no ETA at the moment, but if you check ticket #4512 you can see that they are doing a sprint on that, and that is at at 3 steps over 18 of progress. It will need to finish, they need to make some unit and functional testing (it’s not easy to test connection to external services) and meanwhile try to find a way to make all sort of message templates and variable substitutions work out from

[2022-05-27 12:03] #4658 closed

[2022-05-27 22:54] Rarora86 commented on #4489
Hi Team,
This issue got resolved in early May. We managed to get 'Chatfuel' disconnected from our FB account and that resolved the issue.
My apologies I could not update you all earlier.
Thank you for all the help. I really appreciate it.

[2022-05-27 22:54] #4489 closed

[2022-05-28 10:59] mark47jacobs opened #4758 "Number of Accounts under a single Platform App"
@pranavrajs From API docs, I understand that there is no limitation on the number of accounts that can be created under a single platform app. So when using the [account creation API](https://www.chatwoot.com/developers/api/#operation/create-an-account), should an upper limit be enforced for the number of accounts under a single platform app for optimal cache and DB performance? If that is the cas

[2022-05-29 08:27] kshitijkna opened #4759 "/api/v1/accounts/1/conversations Returning 500 resulting in Chatwoot not loading"
**Describe the bug**

The main inbox (which is an API inbox) isn't loading and in the networks tab I can see 500 being returned in the "/api/v1/accounts/1/conversations" API

**To Reproduce**

Not sure how exactly to reproduce this as the app was working fine and suddenly it stopped working. One thing that I had done was create 4 agent bots in the account after which it started to break. Now I can

[2022-05-30 05:19] pranavrajs commented on #4759
@kshitijkna Can you please see if you can get the logs by logging into your EC2 instance and executing the following commands? https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm#viewing-logs

[2022-05-30 07:39] peejmio opened #4762 "Facebook upgraded its API to v14"
cannot downgrade to v13

![image](https://user-images.githubusercontent.com/29750198/170941561-39f81be6-b7aa-4dee-a2cc-681cc7d8ed90.png)
![image](https://user-images.githubusercontent.com/29750198/170941677-d57ed6f6-b56b-4633-b830-405473ed0ea7.png)
![image](https://user-images.githubusercontent.com/29750198/170941816-b9012486-51c6-450d-b10e-3424ccff0d7c.png)

[2022-05-30 14:59] sentry-io[bot] opened #4765 "Sentry - TypeError: Cannot read properties of null (reading 'substring')"
Sentry Issue: [CHATWOOT-E](https://sentry.io/organizations/chatwoot-p3/issues/3253026175/?referrer=github_integration)

[code]

[2022-05-30 15:56] MatthiasReinholz commented on #4315
This may help to specify more closely what would be needed:

Many email providers with SMTP support offer auth which is not connected to the sender address.
You can use AWS SES, Gmail, Sendinblue... with one login but then specify and authenticate various sender email addresses that have nothing to do with your login email.

Currently, Chatwoot uses the SMTP login email as the sender address.
It w

[2022-05-30 16:13] pranavrajs opened #4767 "Fallback message type is not rendered in the UI"
Fallback message type from Facebook is not handled in the UI/backend.

https://developers.facebook.com/docs/messenger-platform/reference/webhook-events/messages

- Fallback title or external URL is not set properly.

[2022-05-30 16:22] fayazara opened #4768 "Feat: Attribute Change Trigger in Automations"
Support "Custom Attribute Changed/Mutated" trigger in automation.

Ref
![image](https://user-images.githubusercontent.com/15716057/171031153-1a11cae3-0b8e-4a30-b4e0-d633bcb2c214.png)

[2022-05-30 16:35] voko3456 commented on #4768
@fayazara som times we don't know the value that it will be changed example : if we receive shipping number we don't know the shipping number of the customer so we want to trigger only when it's updated so we will send webhook action to respond to him about shipping status

[2022-05-30 20:58] juanfrancisco-18 commented on #4712
cuando estará listo tengo mucha ansiedad de probar esa api me gutaria participar en el desarrollo

[2022-05-31 04:03] seaner90 opened #4769 "widget ding.mp3 is blocking event at the first page load in Chrome"
**Describe the bug**

Create a empty page with widget and a button with onclick event, open the page with Chrome, when the page first load, if you click button, widget will trying to fetch ding.mp3, and then continue the event, which will block the page for about 1~2 seconds

**Expected behavior**

The page should not be frozen

**Additional context**

If this behavior can not be changed due to br

[2022-05-31 04:56] alexliyu7352 commented on #2425
The solution is, you have to modify the postgresql database, and update the domain and support email fields in the accounts table to fix this error.

This should be a bug in the program, because there is no webui that can modify these two fields.

[2022-05-31 11:08] #4765 closed

[2022-05-31 11:29] shivamsinghchahar commented on #4555
@pranavrajs Can I pick this up?

[2022-05-31 11:48] iammattmartin opened #4770 "Pre-chat options not saving"
Pre-chat field options do not save.

This was reported by another user in #4735 and we too are seeing this.

Running `RAILS_ENV=production rake assets:clean assets:clobber assets:precompile` as directed works but fails:

[code]

[2022-05-31 11:49] iammattmartin commented on #4770
after doing this, CW does not load.

[code]

[2022-05-31 12:21] iammattmartin commented on #4770
Further update. This was largely due to the assets very large memory use when compiling. I know this was raised some years ago now that to compile requires such a large amount of RAM for such a basic process.

So for the other poster of the referenced case, that could be related and closing for now  along with #4578 which this resolved.

[2022-05-31 12:21] #4770 closed

[2022-05-31 12:21] iammattmartin commented on #4578
Closing due to unrelated fix found from #4770.

[2022-05-31 12:21] #4578 closed

[2022-05-31 12:50] fayazara commented on #4768
The `from` and `to` fields will be optional, which will fit your use case.

[2022-05-31 19:59] iammattmartin opened #4773 "401 auth errors on AgentBot via Rasa PHP"
When using the Rasa PHP option (https://github.com/chatwoot/implementation-examples/blob/main/rasa-agent-bot-demo/rasa-router/index.php), we can see the attempts made but when the PHP tries to return it get a 401 error.

[code]

The Agent Bot has the correct URLs as seen in the logs and the hash is correct, confirmed in the database.

Is there another way to debug this?

[2022-05-31 20:01] iammattmartin commented on #4773
CW does get the message back from Rasa.

[code]

But it does return the 401 as confirmed on the other end.

[2022-06-01 06:36] XuJinNet commented on #567
+1 OAuth2 and OIDC

[2022-06-01 12:46] jordan-brough opened #4775 "Contact model silently discards invalid attributes as of v2.5.0"
In #4519 the Contact model was updated to silently ignore invalid phone numbers and email addresses, in order to address #4233.

I think this is surprising behavior at the model level, and unusual for a Rails app.  If I call `contact.update!(phone: 'invalid')` I expect to get an error if my change is invalid, rather than having my command to update be silently ignored.  i.e. when I tell the app to

[2022-06-01 17:17] voko3456 opened #4778 "Add Automation Action: Wait for Answer"
I want to ask customer about shipping number and wait for his answer then I will search via webhook for his shipping number .

Also I want to set conditions like input type = number and length = 6 and max retries for answer and fallback action if input is incorrect

[2022-06-02 04:48] pranavrajs commented on #4775
@jordan-brough The concern seems valid, @tejaswinichile / @sojan-official can you comment on this?

[2022-06-02 07:29] sojan-official commented on #4555
@shivamsinghchahar  please go ahead.

[2022-06-02 09:58] sojan-official opened #4779 "[CW-1733] feat: Ability to snooze a conversation until a specific time"
@sojan-official @pranavrajs Please add Snooze until Your own time (calendar with time) in UI

_Originally posted by @sultanlive in https://github.com/chatwoot/chatwoot/issues/1582#issuecomment-1140737295_

<sub>[CW-1733](https://linear.app/chatwoot/issue/CW-1733/feat-ability-to-snooze-a-conversation-until-a-specific-time)</sub>

[2022-06-02 10:23] sojan-official opened #4780 "feat (ee): round-robin should consider auto-offline false configuration"
at the moment round-robin logic doesn't give priority to users who have configured auto offline as false to make themselves available on the widget.  The logic should consider these users to be online agents for round-robin assignment.

[2022-06-02 11:20] kshitijkna opened #4782 "Favicon not changing on self hosted chatwoot"
**Describe the bug**

The favicon for our self-hosted (hosted at https://cx.bitespeed.co) isn't changing even after changing the InstallationConfig's "LOGO_THUMBNAIL" parameter to "https://cdn.bitespeed.co/logo-lg.png". The favicon appearing on the tab is still the original Chatwoot favicon. We had also changed the "LOGO" variable and its change reflected perfectly fine.

**To Reproduce**

I logge

[2022-06-02 11:42] vishnu-narayanan commented on #4737
https://github.com/chatwoot/chatwoot/pull/4783

[2022-06-02 11:45] kshitijkna opened #4784 "AWS SES Email not working"
**Describe the bug**

Not receiving confirmation emails (checked spam folders as well) when adding a new agent to an account. It is stuck at verification pending. It seems like an issue with the AWS SES configuration because those emails aren't received and also the SES console shows 0 mails. I have added both the .env file config (in the environment section) and AWS dashboard metrics (in the scre

[2022-06-02 12:48] tejaswinichile commented on #4782
Hey @kshitijkna I got your issue.
Instead of considering `LOGO_THUMBNAIL`, it's considering the `android-icon-192x192.png` in the original icon's meta header. Can you verify that DISPLAY_MANIFEST is set to false in your configuration?

[2022-06-02 13:17] tejaswinichile commented on #4445
completed this by getting the review for HUMAN_AGENT for chatwoot and social-bot

[2022-06-02 13:17] #4445 closed

[2022-06-02 13:27] tejaswinichile commented on #4415
@iammattmartin We do send messages to the chatwoot account admin if the FB session is expired during sending or receiving messages between Facebook chatwoot account.

https://github.com/chatwoot/chatwoot/blob/develop/app/builders/messages/facebook/message_builder.rb#L125

And I think this new change would resolve your concern https://github.com/chatwoot/chatwoot/pull/4695

[2022-06-02 14:17] #4782 closed, assigned to nobody

[2022-06-02 14:20] #1098 closed

[2022-06-02 14:24] pranavrajs commented on #1481
Closed via https://github.com/chatwoot/chatwoot/pull/4031

[2022-06-02 14:24] #1481 closed

[2022-06-02 14:25] pranavrajs commented on #1375
Closing this here as there was no activity for a long time. Please feel free to reopen it if it still exist.

[2022-06-02 14:28] pranavrajs commented on #1586
Closed via https://github.com/chatwoot/chatwoot/pull/2839

[2022-06-02 14:28] #1586 closed

[2022-06-02 14:29] #1490 closed

[2022-06-02 14:30] pranavrajs commented on #1587
Closing this via #4761

[2022-06-02 14:30] #1587 closed

[2022-06-02 14:31] #1607 closed

[2022-06-02 14:34] pranavrajs commented on #1802
This option can be partially achieved using `LOGOUT_REDIRECT_LINK` param. Let us reopen if there is a significant interest.

[2022-06-02 14:34] #1802 closed

[2022-06-02 14:35] #1952 closed

[2022-06-02 14:38] pranavrajs commented on #1886
Closing in favour of https://github.com/chatwoot/chatwoot/issues/2084

[2022-06-02 14:38] #1886 closed

[2022-06-02 14:47] pranavrajs commented on #2228
@ahmadhaidarahmad The images have a short-lived expiry token attached to them. This makes sure that the images are not publicly available to everyone every time.

Closing this as there is no further action expected here.

[2022-06-02 14:47] #2228 closed

[2022-06-02 14:47] #2184 closed

[2022-06-02 14:49] pranavrajs commented on #2390
Closing this as the links are not available due to Sentry account migration.

[2022-06-02 14:49] #2390 closed

[2022-06-02 14:50] #2386 closed

[2022-06-02 14:50] #2387 closed

[2022-06-02 14:50] #2389 closed

[2022-06-02 14:51] pranavrajs commented on #2735
@sojan-official Do we need to keep this open?

[2022-06-02 14:51] #2669 closed

[2022-06-02 14:52] pranavrajs commented on #2616
Closing this as the button is removed and doesn't exist anymore in the platform.

[2022-06-02 14:52] #2616 closed

[2022-06-02 14:52] pranavrajs commented on #2530
Closing this as the design is already implemented.

[2022-06-02 14:52] #2530 closed

[2022-06-02 14:57] pranavrajs commented on #2656
Closed via https://github.com/chatwoot/chatwoot/pull/2982

[2022-06-02 14:58] pranavrajs commented on #2594
Closing this as the link is not accessible due to Sentry account migration.

[2022-06-02 14:58] #2594 closed

[2022-06-02 15:01] pranavrajs commented on #2800
Closed via https://github.com/chatwoot/chatwoot/pull/3874

[2022-06-02 15:01] #2800 closed

[2022-06-02 15:02] pranavrajs commented on #2848
Closing this as there was no activity for a couple of months.

[2022-06-02 15:02] #2848 closed

[2022-06-02 15:03] pranavrajs commented on #2884
<img width="337" alt="Screenshot 2022-06-02 at 8 33 13 PM" src="https://user-images.githubusercontent.com/2246121/171660012-39fb1b6f-af97-4d09-8c0a-c7e57201ee24.png">

Closing this as the feedback is already incorporated.

[2022-06-02 15:03] #2884 closed

[2022-06-02 15:11] pranavrajs commented on #3452
<img width="887" alt="Screenshot 2022-06-02 at 8 40 37 PM" src="https://user-images.githubusercontent.com/2246121/171661480-2be96248-fe0b-485f-af26-789629cfe37d.png">

Please use the advanced filters to get the conversations in a time frame.

[2022-06-02 15:14] #3607 closed

[2022-06-03 00:39] voarsh2 commented on #1039
+1

[2022-06-03 04:53] pranavrajs commented on #4784
@kshitijkna This seems like an issue with the SMTP credentials. Can you please double-check the configuration?

[2022-06-03 05:42] #3846 closed

[2022-06-03 06:11] Camouflagge opened #4785 "Webchat reload website , Chat closed"
If someone opens the chat and changes this page, the opened chat will be deleted again.
Is there a solution to that?

Is there some code I can paste my HTML into.

It probably works with the session method.

[2022-06-03 07:45] Promhize opened #4786 "Deploy API only"
### Question

Is it possible to deploy the API only without the frontend application?

[2022-06-03 08:56] sojan-official commented on #4786
ref: https://github.com/chatwoot/ui#run-chatwoot-api-server

[2022-06-03 09:45] 23sergej opened #4787 "Can't get SMTP to work with Mailgun"
**Describe the bug**

Can't get SMTP working with Mailgun.

It works when I'm testing it with [mailtrap.io](https://mailtrap.io) SMTP credentials.

**Environment settings**
[code]

Question about TLS/SSL settings. When I set it to `TRUE` it does not work even with [mailtrap.io](https://mailtrap.io), and there is no information in the documentation what values should I set...
[code]

[2022-06-03 09:46] vishnu-narayanan commented on #4784
@kshitijkna Could you please confirm if you are using the IAM username/password as SMTP username/password. This is not identical and won't work.

To get your SMTP username/password for SES, please follow this guide.
https://docs.aws.amazon.com/ses/latest/dg/smtp-credentials.html

[2022-06-03 11:11] kshitijkna commented on #4784
@vishnu-narayanan I am using the SMTP username/password. I created another one using the link that you shared and replaced those credentials in the .env file. I used the credentials that I got from the following screen:

![Screenshot 2022-06-03 at 4 39 07 PM](https://user-images.githubusercontent.com/43352138/171842944-c8ecca1f-29e5-4071-9135-fa2556e2197f.png)

Still not receiving the emails

[2022-06-03 13:01] MaoBueno opened #4788 "feat: Export contacts from the dashboard"
**Is your feature request related to a problem? Please describe.**
I want to export the contacts from the chatwoot dashboard

**Describe the solution you'd like**
I would like to be able to export all the contacts or the result of a contact filter from the dashboard in cvs format

**Describe alternatives you've considered**
I have thought that through the API to obtain the list of contacts and exp

[2022-06-03 13:55] grupale opened #4789 "feat: Hide Unnasigned and All tab for Agent Role"
Hello! I would like to know if theres a way to hide the unnasigned and all tab in the inbox section for users with the role Agent.

Thanks

[2022-06-03 15:22] iprithvitharun commented on #4726
@sojan-official PR raised already https://github.com/chatwoot/chatwoot/pull/4727

[2022-06-03 19:45] jordan-brough opened #4791 "Use case-insensitive comparison for "Message Created - Message Content" Automation Rule conditions"
(I'm not sure whether this is a "bug" or a "feature request")

It seems like the Automation Message Content comparisons ought to be case insensitive.

E.g. we tried setting up an Automation Rule that responded to the keyword "demo" (so users could text us "demo" to get an example of some text messaging features).  However, some phones autocorrect `demo` to `Demo`, and some users send `DEMO` instea

[2022-06-03 22:12] arthrcarvalho commented on #4789
up

[2022-06-04 02:59] arthrcarvalho opened #4792 "Policy"
Can I run the chatwoot application with another logo and name and offer it to my customers? If yes, where should I set the credits in application?

[2022-06-04 03:58] pranavrajs commented on #4785
@Camouflagge Can you please share a screencast? This is not intended behavior.

[2022-06-04 04:00] #4786 closed

[2022-06-04 14:35] jersonjunior commented on #4662
The url works only in development?

[2022-06-04 19:05] iammattmartin commented on #4785
Could this be related to #4770 and #4578?

[2022-06-05 15:00] mattiamarras commented on #4762
same problem, following

[2022-06-05 23:09] Riz0 opened #4794 "Add custom field names in the SMS body"
Hi guys,

 Can someone please tell me if it's possible to insert a field into sms body when starting a campaign? For example, a field/variable ($Firstname) that would auto insert contact's first name into sms body before being sent out to multiple contacts in preformatted message. Thanks

[2022-06-05 23:34] Riz0 commented on #4794
@pranavrajs @sojan-official

Sorry if I missed this in the documentation, but I tried playing around with custom attributes to no avail. Any help is appreciated.

[2022-06-06 05:31] vishnu-narayanan commented on #4784
@kshitijkna That should have worked. Could you try a password reset while watching the worker(sidekiq) logs and see what happens when Chatwoot tries to send the email?

[2022-06-06 05:53] pranavrajs commented on #4794
@Riz0 This is not supported right now.

[2022-06-06 05:56] pranavrajs commented on #4791
@tejaswinichile Thoughts?

[2022-06-06 06:00] pranavrajs commented on #4791
@jordan-brough The current implementation is set to use the exact match for Equal To. I think it makes sense to have a lowercase comparison as well. IMO the lowercase fits with CONTAINS filter rather than EQUAL TO filter.

@sojan-official / @tejaswinichile Thoughts?

[2022-06-06 06:07] kshitijkna commented on #4784
@vishnu-narayanan  Similar logs like last time.

`Jun 06 06:05:55 ip-10-0-2-21 chatwoot-worker.1[90322]: 2022-06-06T06:05:55.202Z pid=90322 tid=14ie class=ActionMailer::MailDeliveryJob jid=0278987126e2c41afe75f89d INFO: start
Jun 06 06:05:55 ip-10-0-2-21 chatwoot-worker.1[90322]: I, [2022-06-06T06:05:55.205948 #90322]  INFO -- : [ActiveJob] [ActionMailer::MailDeliveryJob] [37e15b56-e960-43cd-9445-

[2022-06-06 06:07] kshitijkna commented on #4784
@vishnu-narayanan Would it be possible to jump on a quick call today to sort this out?

[2022-06-06 06:07] tejaswinichile commented on #4791
@pranavrajs Yes, It does make sense for contains the related filter. I will be adding change for the same with the upcoming automation changes

[2022-06-06 07:19] sultanlive commented on #4779
@sojan-official @pranavrajs Hello, is it possible to do it faster for a fee? We really need this functionality, how soon can we implement it?

[2022-06-06 08:09] SHrebeniuk opened #4796 "setUser name don't update conversation title"
After `setUser` sometimes conversation name doesn't set, but `setCustomAttributes` work 100%

[code]
![Screenshot 2022-06-06 at 14 23 59](https://user-images.githubusercontent.com/56641669/172152482-1b05756a-7e90-4102-a7a4-bcd10d462872.png)

[2022-06-06 08:23] sojan-official commented on #4662
@jersonjunior yes the URL is only accessible in development mode.

[2022-06-06 10:40] eltodi opened #4797 "Chatwoot (docker) problem with Dialogflow"
Hi there,
Since I have the latest update, chatwoot only shows the first text response.
I've got a self hosted chatwoot server.
If I try my dialogflow on chatwoot cloud, it's run without problem, but the same config on docker, only show the first text response.
Example:

- TEXT RESPONSE 1
    -  Alternative 1
    - Alternative 2
    - Alternative 3
- TEXT RESPONSE 2
    - Alternative 1
    - ... ..

[2022-06-06 13:12] jordan-brough commented on #4791
Being able to choose either case-sensitive or case-insensitive seems reasonable.

However in our case "contains" wouldn't cover it - we wanted an exact (but case-insensitive) match. E.g. we wanted to send a certain automated reply when someone sent `Demo` (or `demo`, `DEMO`, etc), but not when someone sent e.g. `I have a question about the demo`.

To make sure I understand:  Do we have any scenari

[2022-06-06 13:26] SimonHausdorf opened #4798 "Identity validation via API"
**Describe the bug**

I am trying to make use of identity validation using the api.

**To Reproduce**

Steps to reproduce the behavior:
1. I am getting the hmac key for my inbox from the database. `wyHVRZzzJhjPMKR2h7LpeJVy`2.
2. I am creating the identifier_hash for user `test` with it: `45e289a669fbb7b4f7c09b3c68734dd9c52d508aba109dc7543c8133e0ec98be`
3. I am sending identifier_hash and identifie

[2022-06-06 15:07] pranavrajs commented on #4642
Closing this issue as there was no response for more than 2 weeks. @beeyev Please feel free to reopen if the issue is still there and you can provide more information.

[2022-06-06 15:07] #4642 closed

[2022-06-06 17:35] jersonjunior commented on #4662
Any plans to go into production? And the question of transferring to chatwoot, it would be very good for the community

[2022-06-07 03:05] juanfrancisco-18 commented on #4512
el desarrollo está  muy complicado?

[2022-06-07 04:03] pranavrajs opened #4799 "Bulk actions - Followup"
### Enhancements

- [x] Add Snooze, reopen option to bulk actions.
- [x] Remove the resolve option if all selected conversations are resolved
- [x] Remove the reopen option if all selected conversations are in the open state
- [x] Remove the snoozed option if all selected conversations are in snoozed state

### Bugs

- [ ] If the conversations are selected in a random order, "Select all" will not

[2022-06-07 04:14] pranavrajs commented on #4267
@Azfarrr Along with the `message_created` event, a `conversation_created` event is triggered when a new conversation is created.
https://www.chatwoot.com/docs/product/others/webhook-events#conversation_created

Let us know if it doesn't work. Please feel free to reopen if it doesn't solve your usecase.

[2022-06-07 04:14] #4267 closed

[2022-06-07 04:15] pranavrajs commented on #1645
Closing this here as we have added support for event subscriptions. We will not be able to add support for single inboxes based subscriptions.

[2022-06-07 04:15] #1645 closed

[2022-06-07 04:22] pranavrajs commented on #4728
Proposed fix: If a session with another identified user is already available, the system should recreate the session and discard the previous history. It should not attempt to merge these contacts.

[2022-06-07 05:14] pranavrajs opened #4800 "Allow custom sort options for conversations in the API"
Support the following sort options in conversation API and filter APIs.

- **created_at**: Sort conversations based on created time. Allows agents to prioritize long-running conversations.
- **last_user_message_at**: Sort based on the last incoming message. Along with the unattended filter, this sort option allows agents to look at conversations where users are waiting for a long time.
- **last_ac

[2022-06-07 05:29] 23sergej commented on #4784
I've opened similar ticket: https://github.com/chatwoot/chatwoot/issues/4787

I'm using Mailgun SMTP and getting pretty much same logs information as @kshitijkna

[2022-06-07 06:29] KevinEduardo commented on #3853
Same, gravatar also kinda sucks tbh

[2022-06-07 06:49] pranavrajs opened #4801 "Installation issues - Linux VM 20.04 script"
- [ ] The log command is failing `tail -f /var/log/chatwoot`
- [ ] Newline missing in the logs `1/9 -> 2/9` `➥ 1/9 Installing dependencies. This takes a while.➥ 2/9 Installing databases`
- [ ] Required ruby-3.0.4 is not installed. To install do: 'rvm install "ruby-3.0.4"'
- [ ] 3/9 - Add log for Skipping the installation

[2022-06-07 07:11] pranavrajs opened #4802 "Add a dashboard API to return all articles/edit/destroy in a category, all agents who have access to the portal can create/edit/destroy/view an article"

[2022-06-07 07:12] pranavrajs opened #4803 "List all articles that are linked to the current article"
Add a param in the article - associated_article_id.

- List all the articles which are associated with the current articles.
- Create an association for the article

Case: I'm associate es with fr.
- If fr has an associated article, put associated article id directly to es.
- If fr associated_article is nil, put fr id as associated_id for es.

[code]

[2022-06-07 07:20] pranavrajs commented on #4599
Closing this via #4633

[2022-06-07 07:20] #4599 closed

[2022-06-07 07:31] #4181 closed

[2022-06-07 08:41] SimonHausdorf opened #4804 "Show HMAC and enforcement for identity validation for API inbox"
**Is your enhancement request related to a problem? Please describe.**
In certain cases it can be important to know if the user is identified via HMAC token to provide required support. As example if the user has a problem with his user account on the platform the agent can make sure that the user is really the owner of the account in question.

**Describe the solution you'd like**
Same as for the

[2022-06-07 08:41] #4798 closed

[2022-06-07 08:47] sojan-official commented on #1682
@SimonHausdorf for users chatting on website inbox, without identity validated. we show a warning like shown below.
![Screenshot 2022-06-07 at 2 14 48 PM](https://user-images.githubusercontent.com/73185/172337825-f87d2f84-9045-432f-a460-13c3ad44c7fa.png)

[2022-06-07 08:48] sojan-official commented on #4804
@SimonHausdorf  Thanks for the feedback, We will keep it in our backlog for prioritization.
We will share further updates once the team starts working on this.

[2022-06-07 09:12] SimonHausdorf opened #4805 "Random identifier_hash identifies user as verified identity"
**Describe the bug**

When providing a random `identifier_hash`, the warning icon, that the user is not identified isn't show. When not providing the `identifier_hash`, then the warning is shown.

**To Reproduce**

This user will show as verified (not verified badge is not visible)
[code]

**Expected behavior**

2 possible options:
1. To avoid confusion with other inboxes a badge should only be sh

[2022-06-07 10:03] voko3456 opened #4806 "bug: automation action send attachment can send only images but cant pdf files"
hi we try to send automation action send attachment its working with images but cant pdf files

[2022-06-07 12:03] #4709 closed

[2022-06-07 14:26] mxsxs2 commented on #4611
This happens for us for all form submission in the super_admin area. The log is also very similar. We have the WARN line where the website is HTTPS but the request comes from HTTP. Which i think leads to the InvalidAuthenticityToken Error:
[code]

[2022-06-07 18:07] Vadorequest commented on #4728
Works for me, sound like exactly what I need :)

[2022-06-08 05:06] JarydX commented on #3545
I agree to this requests. Our users are in Google Workspace at home, a bot-channel in Google Chat to contact us with ease would bei great!

[2022-06-08 05:23] mark47jacobs commented on #4758
@pranavrajs we essentially do not want to limit the number of accounts under a platform app. Still, if creating many accounts under the same platform app would result in poor cache/DB performance we would want to limit the number of accounts. Either way, keeping a single platform app is easier for implementation on our end as well, so I just want to know your thoughts on that.

[2022-06-08 05:28] pranavrajs commented on #4758
@mark47jacobs I'm not sure if I understand. Is there an issue with performance if there are a large (please specify the number) number of accounts under a single platform app on your installation? We have not seen/experienced such an issue yet.

[2022-06-08 06:11] sentry-io[bot] opened #4809 "SocketError: getaddrinfo: Name or service not known"
Sentry Issue: [CHATWOOT-9](https://sentry.io/organizations/chatwoot-p3/issues/3252867124/?referrer=github_integration)

[code]

[2022-06-08 06:11] sentry-io[bot] opened #4810 "ActiveRecord::RecordInvalid: Validation failed: Source invalid source id for Email inbox. valid Regex (?-mix:\A[^@\s]+@[^@\s]+\z)"
Sentry Issue: [CHATWOOT-4M](https://sentry.io/organizations/chatwoot-p3/issues/3270620517/?referrer=github_integration)

[code]

[2022-06-08 06:11] sentry-io[bot] opened #4811 "NoMethodError: undefined method `save!' for nil:NilClass"
Sentry Issue: [CHATWOOT-94](https://sentry.io/organizations/chatwoot-p3/issues/3321824945/?referrer=github_integration)

[code]

[2022-06-08 06:12] sentry-io[bot] opened #4812 "Net::IMAP::ByeResponseError: IMAP4rev1 Server logging out"
Sentry Issue: [CHATWOOT-99](https://sentry.io/organizations/chatwoot-p3/issues/3323547766/?referrer=github_integration)

[code]

[2022-06-08 06:12] sentry-io[bot] opened #4813 "EOFError: end of file reached"
Sentry Issue: [CHATWOOT-42](https://sentry.io/organizations/chatwoot-p3/issues/3265651657/?referrer=github_integration)

[code]

[2022-06-08 06:12] sentry-io[bot] opened #4814 "Net::IMAP::NoResponseError: Authentication failed."
Sentry Issue: [CHATWOOT-27](https://sentry.io/organizations/chatwoot-p3/issues/3256418138/?referrer=github_integration)

[code]

[2022-06-08 06:15] sentry-io[bot] opened #4815 "Errno::ECONNREFUSED: Connection refused - connect(2) for ip:143"
Sentry Issue: [CHATWOOT-7K](https://sentry.io/organizations/chatwoot-p3/issues/3301527242/?referrer=github_integration)

[code]

[2022-06-08 06:17] sentry-io[bot] opened #4816 "Net::SMTPFatalError: 553 <Notifications from Inbox Name <mailer@chatwootmail.com> Invalid email address."
Sentry Issue: [CHATWOOT-4D](https://sentry.io/organizations/chatwoot-p3/issues/3269235931/?referrer=github_integration)

[code]

[2022-06-08 07:49] M-Zuber commented on #2998
Are there any workarounds in the meantime?
Our use case is we have errors that we want to expose specific information to the user as part of a support conversation

[2022-06-08 08:20] vishnu-narayanan commented on #4787
@23sergej Could you try quoting("") the SMTP username and password if not already doing it?

[2022-06-08 08:22] vishnu-narayanan commented on #4784
The issue was resolved after quoting the SMTP credentials and switching the SMTP_PORT to `587`.

[2022-06-08 08:22] #4784 closed

[2022-06-08 08:39] tejaswinichile commented on #4803
[ ] Add the authorization for article
[ ] Add authorization for category

[2022-06-08 11:43] pranavrajs commented on #2998
@M-Zuber Doesn't [setUser](https://www.chatwoot.com/docs/product/channels/live-chat/sdk/setup#set-the-user-in-the-widget) and [setCustomAttributes](https://www.chatwoot.com/docs/product/channels/live-chat/sdk/setup#set-custom-attributes) method solve this requirement?

[2022-06-08 12:13] M-Zuber commented on #2998
no
what I am looking for is for [this method](https://www.chatwoot.com/developers/api/#operation/create-a-new-message-in-a-conversation) (or whatever is more relevant) to be exposed from the sdk

[2022-06-08 12:57] voko3456 opened #4817 "bug : WhatsApp template UI not working with templates that not including variable"
WhatsApp template UI not working with templates that not including variable

[2022-06-08 13:41] fayazara opened #4819 "Whatsapp templates - Handle no variable templates"
Remove validation for tempaltes which dont have tempaltes

[2022-06-08 13:57] pranavrajs commented on #4817
Duplicate #4819

[2022-06-08 16:42] jersonjunior opened #4823 "Development environment - Docker"
After run docker-compose build

=> ERROR [chatwoot-webpack:development internal] load metadata for docker.io/library/chatwoot:development                                                                                                0.6s
 => CANCELED [chatwoot:development internal] load metadata for docker.io/library/ruby:3.0.4-alpine

[2022-06-08 17:22] pranavrajs opened #4824 "Upgrade eslint, cleanup eslint configs"
- [ ] Upgrade eslint configs to the latest version.
- [ ] Fix eslint issues to match airbnb / vue:recommended standards.

[2022-06-08 19:18] jimmyheaddon opened #4827 "API message payload field 'created_at' is not in ISO 8601 date/time format"
Hello, I've noticed that the `created_at` field in the API response for messages does not follow the ISO 8601 format that you see with other date/time fields.  Other APIs also appear to follow the standard ISO format, and I'm not sure what the EPOCH for the `created_at` field is, or if it should also follow the ISO formatting?

**To Reproduce**
Steps to reproduce the behavior:
1. Query any convers

[2022-06-08 21:08] nosovk opened #4828 "Pagespeed improvements"
When we analyze our site via pagespeed we got [report about loaded bundles](https://googlechrome.github.io/lighthouse/treemap/?gzip=1#H4sIAAAAAAAACu1d64/cxpH/V4z9cLgA5g672XwZCBxZtmPhpNiIVsklh0DgkD271HLIOT52tTb8v183ObPLYlX1jB7JJch8sOTVktXd1dVVv3o1f7mobtqLr365aPX/DrrrdfGmrS6+urjp+1331Wq1zcoqv9H57WXerC6+vNiUdVa5H8mGouw7S7PL23LXe32r9TbbeUXWZ/afy8K8Tf3uy4u+7Cttfvt6/O0XV9Nvv/h2+m2hp7fKpjbPvOl08cWmab/Y0/

[2022-06-08 21:11] nosovk commented on #4828
It seems that @pranavrajs and @tasn make the same proposal year ago https://github.com/chatwoot/chatwoot/issues/2111
Probably would be nice to add alternate installation script for people who concern about speed/size.

[2022-06-08 21:12] nosovk commented on #3870
Any additional information needed for investigation?

[2022-06-09 08:26] 23sergej commented on #4787
@vishnu-narayanan Thank you for your answer.

I've played with quoting and finally solved my problem.

In my case, the problem was with:
[code]

The solution was to **remove the quotes** and leave following:
[code]

Because when I was trying to add quotes to the `SMTP_USERNAME` and `SMTP_PASSWORD` I was getting following error:
`Net::SMTPAuthenticationError (501 Username used for auth is not valid

[2022-06-09 08:48] sojan-official commented on #4787
@23sergej  thanks a lot for posting back.

[2022-06-09 09:27] 23sergej commented on #4816
Can this be related to this issue: https://github.com/chatwoot/chatwoot/issues/4787 ?

[2022-06-09 11:22] grupale commented on #4762
Hi there! Any news or workaround about this? I'm unable to integrate Facebook because of this. 2.5Version using docker

[2022-06-09 12:23] vishnu-narayanan commented on #4737
https://github.com/chatwoot/chatwoot/issues/4801

[2022-06-09 12:51] grupale opened #4832 "Spanish translation pendings"
Hi! I would like to know how can I contribute to the Spanish translation, there are several objects that are not translated when I change to Spanish language.

Thanks!

[2022-06-09 12:52] grupale commented on #4789
Any workaround about this?

[2022-06-09 13:26] sojan-official commented on #4789
At the moment, it is not possible.

Thanks for the feedback, We will keep this in our backlog for prioritization.
We will share further updates when the team starts working on this.

[2022-06-09 13:46] sojan-official commented on #4788
Thanks for the feedback, We will keep this in our backlog for prioritization.
We will share further updates when the team starts working on this.

[2022-06-09 13:54] vishnu-narayanan commented on #4832
@grupale Hello, thank you for your interest in contributing to Chatwoot. Please take a look at our translation guidelines.

We use a service called Crowdin to manage the same.

https://www.chatwoot.com/docs/contributing-guide/translation-guidelines/

[2022-06-09 14:20] pranavrajs commented on #4832
Closing this here as this is not an issue/bug.

[2022-06-09 14:20] #4832 closed

[2022-06-09 14:24] pranavrajs commented on #4827
@jimmyheaddon Thanks for sharing this.

We follow epoch timings in some parts of the codebase. It needs standardization.

[2022-06-09 14:39] sojan-official commented on #3545
Thanks for the feedback, We will keep this in our backlog for prioritization.
We will share further updates when the team starts working on this.

[2022-06-09 16:05] #4819 closed

[2022-06-09 17:29] #1515 closed

[2022-06-09 17:55] iammattmartin commented on #4827
Based on the posted time, `1654797279` is now as I post this.

So it would be seconds since `1970-01-01T00:00:00Z`

[2022-06-09 19:22] grupale commented on #4832
Hi there! I've just ended the suggestions for the missing translations. When you approve it, I'll need to do an update? I have a docker installation.
![image](https://user-images.githubusercontent.com/10934794/172926671-e6a9033a-cb6e-4e03-a571-f205544f315a.png)

I couldn't translate the Unassigned string from the Inbox section. I didn't find the string in Crowdin. Can you tell me where to find it

[2022-06-10 05:06] pranavrajs commented on #4827
@jimmyheaddon The time is Unix time format. Please see the following code for conversion.

https://github.com/chatwoot/chatwoot/blob/c5c89449dd46e63fedf6ca7e59898152af592249/app/javascript/dashboard/mixins/time.js#L7-L10

[2022-06-10 06:56] #4762 closed

[2022-06-10 09:55] harismateen commented on #4779
Appreciate to implement this functionality on the next release - this is really important.

Thanks in advance,

[2022-06-10 10:36] mattiamarras commented on #4762
Hi, how can i update ma installation with this upgrade? There is a git command?

[2022-06-10 10:58] sojan-official commented on #2998
@M-Zuber  tracking this over : https://github.com/chatwoot/chatwoot/issues/3992

[2022-06-10 11:45] sojan-official commented on #4611
@mxsxs2 @MaoBueno  could you check the FRONTEND_URL environment configuration and see if you have configured the https version?

[2022-06-10 11:50] sojan-official commented on #4823
@jersonjunior could you link the doc that you are following?

ref: https://www.chatwoot.com/docs/contributing-guide/environment-setup/docker

[2022-06-10 12:05] sojan-official commented on #4315
@MatthiasReinholz In the recent versions of chatwoot, for the SMTP email channel, the email address used to create the inbox is used as from email address than the SMTP login email.  So you should be able to create multiple email inboxes which each of the required email addresses but with the same SMTP credentials.

[2022-06-10 12:33] sojan-official commented on #4797
closing in favor of https://github.com/chatwoot/chatwoot/issues/4721

[2022-06-10 12:33] #4797 closed

[2022-06-10 12:35] sojan-official commented on #4662
@jersonjunior  the widget_test url is to debug development issues. in production, you can embed chatwidget on pages using the provided javascript.

https://www.chatwoot.com/docs/product/channels/live-chat/create-website-channel

[2022-06-10 12:36] sojan-official commented on #4662
closing the original issue since there hasn't been any further activity over the reported error

[2022-06-10 12:36] #4662 closed

[2022-06-10 12:45] sojan-official commented on #567
Thanks for the feedback, We will keep this in our backlog for prioritization.
We will share further updates when the team starts working on this.

[2022-06-10 12:48] sojan-official commented on #4773
@iammattmartin  the 401 error means that the chatwoot server isn't receiving the correct `api_access_token`.
if you have Nginx configured in front of your ubuntu installation. please make sure to turn on `underscores_in_headers`

[code]

ref: https://www.chatwoot.com/docs/self-hosted/deployment/caprover#api-requests-failing-with-you-need-to-sign-in-or-sign-up-before-continuing

[2022-06-10 13:27] SHrebeniuk commented on #4796
@sojan-official i try this, but still not working and interesting that attributes working
work well in my local and staging server, but in production have problems
test it with throttling but no results

can be a problem when we setCustomAttributes() without user unique id?
maybe it's create some user and setUser() are missing with new params???

[2022-06-10 18:34] MaoBueno commented on #4611
Yes, the FRONTEND_URL variable is set to https

[2022-06-11 04:37] nithindavid opened #4839 "Enhancement: Support partial string match for custom attributes"
A contact with custom attribute which will show up in filter results only if it's a full match. Partial string match for contact custom attributes not working for search and advanced filters.

![image](https://user-images.githubusercontent.com/1277421/173172183-54f47708-2c26-48c4-94fb-195086917c57.png)
![image](https://user-images.githubusercontent.com/1277421/173172188-c3ab0ec3-8854-40eb-b526-e7e

[2022-06-11 10:47] jordan-brough commented on #4091
#4693 fixes the issue! Thank you!

[2022-06-11 10:47] #4091 closed

[2022-06-12 03:30] jersonjunior commented on #4823
I'm using the link you mentioned!

[2022-06-13 00:29] #4121 closed

[2022-06-13 06:44] #4799 closed

[2022-06-13 06:45] sultanlive commented on #4546
@sojan-official 360 dialog seems to have changed the format of webhooks

[2022-06-13 06:56] pranavrajs opened #4845 "Add custom_attributes field in the API documentation"
Conversation API is missing the attribute custom_attributes in the API documentation.

<img width="413" alt="Screenshot 2022-06-13 at 12 25 01 PM" src="https://user-images.githubusercontent.com/2246121/173296650-a69174ad-43d7-49dc-879f-19eb71c9cfb7.png">

[2022-06-13 07:17] jimmyheaddon commented on #4827
Thanks @iammattmartin and @pranavrajs that worked a treat.  I'll keep an ear out for if the APIs converge on a single format, but otherwise feel free to close this ticket.

[2022-06-13 07:25] jimmyheaddon opened #4846 "feat: Add the ability to PATCH custom_attribute values in conversations and contacts"
**Is your enhancement request related to a problem? Please describe.**
This may just require a documentation update, but currently I'm not able to assign custom attributes to conversations (I wonder if it's a similar issue to [this ticket](https://github.com/chatwoot/chatwoot/issues/1678)?).  I would like to periodically update the attributes as the values change over time, a PATCH operation (like

[2022-06-13 07:43] aslamabbas opened #4847 "Image broken inside Email ticket"
Images do not load properly inside Email inbox tickets. They appear broken.

Example: https://imgur.com/a/cUj3BPt

We can download the images. But we not see them inside the mails, in the way they were sent.

[2022-06-13 07:46] aslamabbas opened #4848 "Change title "Account Settings" to "Profile Settings""
<img width="566" alt="Screenshot 2022-06-13 at 1 14 32 PM" src="https://user-images.githubusercontent.com/1219448/173304879-566dab13-986b-4c2a-99d1-946d9252e8a7.png">
<img width="676" alt="Screenshot 2022-06-13 at 1 13 57 PM" src="https://user-images.githubusercontent.com/1219448/173304892-0f019eb3-5d3a-47c2-b41c-586d5d5767d9.png">

Currently in two places you have "Account Settings". One should b

[2022-06-13 10:38] aslamabbas opened #4849 "Add email validation in the email field of New Contact"
<img width="469" alt="Screenshot 2022-06-13 at 4 08 40 PM" src="https://user-images.githubusercontent.com/1219448/173336285-d85cce44-0d36-484c-9efd-bc38ef72062e.png">

[2022-06-13 12:40] vishnu-narayanan commented on #4823
@jersonjunior Please use the [issue template](https://github.com/chatwoot/chatwoot/blob/develop/.github/ISSUE_TEMPLATE/bug_report.md) when creating/reporting issues.

Could you share the output of `docker version`, `docker info` and `docker-compose --version`?

[2022-06-13 14:52] NusretOzates opened #4851 "Documentation Fix in the Updating Inbox Member Section"
**Is your enhancement request related to a problem? Please describe.**
When I tried to update agents in an inbox, I get a 404 not found error. The problem was, that the documentation [here](https://www.chatwoot.com/developers/api/#operation/update-agents-in-inbox) was wrong.

**Describe the solution you'd like**
The url example https://app.chatwoot.com/api/v1/accounts/{account_id}/inbox_members/{i

[2022-06-13 16:42] fayazara opened #4853 "Feat - Bulk assign labels"
Allow bulk assigning labels to conversations

[2022-06-13 16:51] tejaswinichile commented on #4845
Handled in #4852

[2022-06-13 19:29] pranavrajs commented on #4851
@tejaswinichile Could you do take this one too in #4852

[2022-06-13 20:40] grupale commented on #4832
Hi @pranavrajs sorry to bother, were you able to check the translations mentioned? Where is located the "Unnasigned" string? Thanks

[2022-06-13 20:41] grupale commented on #4789
All right! Thanks

[2022-06-13 22:22] voko3456 opened #4855 "feat: Ability to Set Account Language When Creating Account Via API"
Ability to Set Account Language When Creating Account Via API

[2022-06-13 22:29] voko3456 commented on #1318
hi @sojan-official when I get SSO login URL its always redirect to /dashboard can I redirect to /settings/inboxes/new or /mentions/conversations

[2022-06-14 05:05] #4583 closed

[2022-06-14 05:05] #4845 closed

[2022-06-14 05:05] #4851 closed

[2022-06-14 05:25] #4848 closed

[2022-06-14 06:10] tejaswinichile commented on #4800
@pranavrajs

Few doubts:
1. These sort-options, will it be applicable in the mentioned conversations too?
2. Will it be applicable over conversation filters?
3. last_user_message_at filter ideally should work only on open status conversations, for other filters, it doesn't make sense, correct?

[2022-06-14 07:05] pranavrajs commented on #4800
@tejaswinichile As discussed over the call.

Yes, it is available in both conversation finder service and filter service.

It is useful in open and snoozed cases, but I think we shouldn't restrict it in the API. If needed, we can hide that option for the resolved status.

No new APIs are added here, updates to existing API params are only done.

[2022-06-14 19:08] RuiGuilherme commented on #2811
I have a curious situation, I don't know if it will enter on this issue.

I have 2 systems for different locations (States), and I can have the same user registered in two states and can have the same e-mail.

Considering the e-mail duplicity, my client is able to see the message on both systems.
Look: https://youtu.be/D3QqpRZY_qw

'Identifier' has the same problem:

**System 1**
|id|username|pass

[2022-06-15 04:50] benjichat commented on #1941
+1

[2022-06-15 08:33] gk7700 opened #4865 "Grammatical errors in the help text under Inboxes --> Choose a channel"
Grammatical errors in the help text under Inboxes --> Choose a channel

![image](https://user-images.githubusercontent.com/40832072/173782059-8fe11172-e356-408b-83aa-be6e2551336c.png)

[2022-06-15 08:48] #4853 closed

[2022-06-15 08:54] pranavrajs commented on #4865
@gk7700 Can you please share what is wrong in the text?

[2022-06-15 10:50] #4809 closed

[2022-06-15 10:50] #4815 closed

[2022-06-15 10:50] #4811 closed

[2022-06-15 10:50] #4814 closed

[2022-06-15 11:12] sojan-official opened #4866 "chore: ability to disable sentry transactions"

[2022-06-15 11:51] xLixon opened #4869 "idea: WhatsApp CloudAPI Support"
Hi

https://developers.facebook.com/docs/whatsapp/cloud-api/

This is the new WhatsApp API of Facebook.
It would be great if following things get addet to ChatWoot:

- a WebHook for Recieving the Messages
- >> Sorting of the Messages to Contacts and Chats like WhatsAppWeb

- For Sending WebHooks
- >> The token should automaticly renew (if it isnt permanent)
- >> Also the Messages should be shown i

[2022-06-15 12:11] juanfrancisco-18 commented on #4712
pense que la 2.6.0 sale api cloud whattsap

[2022-06-15 12:25] pranavrajs commented on #4869
Duplicate #4712

[2022-06-15 12:25] #4869 closed

[2022-06-15 12:52] gk7700 opened #4871 "Grammatical error in the Inbox help-text description"
Grammatical error in the Inbox help-text description

![image](https://user-images.githubusercontent.com/40832072/173831237-92746746-2e98-4a1c-a0fe-6fabae94d2f8.png)

[2022-06-15 13:12] #4788 closed

[2022-06-15 13:13] sojan-official commented on #1545
note from #4788

[2022-06-15 17:47] lengmiguel opened #4875 "Tables are not displayed correctly in the mail"
**Is your enhancement request related to a problem? Please describe.**
Every time an email arrives that contains tables, it becomes disordered and the email is not displayed correctly

**Describe the solution you'd like**
It should load the tables in the mail correctly.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions you've considered.

**A

[2022-06-16 02:20] grupale commented on #4762
Hello, any update about this?

[2022-06-16 06:46] aslamabbas opened #4876 "Auto-save replies as drafts in conversations"
**Is your feature request related to a problem? Please describe.**
When we decide to reply a customer later, we jot down points or draft a reply that has to be filled in and sent later after collecting appropriate information. These notes/draft content is lost when we visit the dashboard again.

**Describe the solution you'd like**
A "Save Draft" button or auto-save the replies for the conversatio

[2022-06-16 08:07] pranavrajs commented on #4876
@aslamabbas This would be fixed via #4440

[2022-06-16 08:08] pranavrajs commented on #4875
@lengmiguel We are stripping the styles in Chatwoot. This could be a reason for this behavior. Let us investigate this further.

[2022-06-16 08:09] pranavrajs commented on #4849
@iamsivin Let us ship a fix for this in the next sprint.

[2022-06-16 08:10] pranavrajs commented on #4847
This is similar to https://github.com/chatwoot/chatwoot/issues/4875. This issue could've happened due to style removal during rendering. Let us investigate this further.

[2022-06-16 08:13] pranavrajs commented on #4846
@jimmyheaddon This should be already there as we are updating the contact/conversation attributes in the UI. It is quite possible that this is a separate API due to the complexity of updating contacts. We will add the documentation for the same.

[2022-06-16 08:13] pranavrajs commented on #4846
@tejaswinichile Let us investigate this and update the documentation in the next sprint.

[2022-06-16 08:15] pranavrajs commented on #4839
@nithindavid I'm not sure if I understand the problem properly. The string seems similar here. Are you looking at a fuzzy search implementation?

[2022-06-16 08:16] pranavrajs commented on #4828
@nosovk I don't think we transfer 600KB, it should be compressed using gzip/brotli based on the web server used. However, there is a scope to improve the load by code splitting and improving the image rendering. We will take it up in the upcoming sprints.

[2022-06-16 08:32] jimmyheaddon commented on #4846
Thanks @pranavrajs , much appreciated!  Shout if there's any feedback or examples I can provide that would help

[2022-06-16 09:41] harismateen opened #4877 "SMTP email notification unable to send"
**Describe the bug**
We have setup chatwoot over GCP by using Kubernetes, and configured the SMTP by using AWS, but we are getting this error and email notifications are not sending

**OpenSSL::SSL::SSLError: SSL_connect returned=1 errno=0 state=error: wrong version number**
--

SMTP_ADDRESS: email-smtp.ap-southeast-1.amazonaws.com
SMTP_AUTHENTICATION: plain
SMTP_ENABLE_STARTTLS_AUTO: true
SMTP_PA

[2022-06-16 10:35] voko3456 opened #4878 "automation api rule suddenly stop working"
hi please see this below image i try automation rules api before it was working now its stop not working
 i also try to change /automation_rules -- to /automation_rule_definitions in url but same issue

![image](https://user-images.githubusercontent.com/20530550/174051976-b98e6b50-7258-4567-aeab-50e0daf2f0fd.png)

[2022-06-16 14:05] pranavrajs commented on #4878
@voko3456 There is an error in the URL, it should be `<installation-url>/api/v1/accounts/<account-id>/automation_rules` not `<installation-url>/v1/accounts/<account-id>/automation_rules`. `/api` is missing.

Hope this helps.

[2022-06-16 14:05] #4878 closed

[2022-06-16 14:36] CelestineAkpanoko opened #4881 "How to get chatwoot to start a conversation"
**Is your feature request related to a problem? Please describe.**
I am attempting to get the Chatwoot to start a conversation after the user clicks on the widget. Also, with the Email Collect Prompt functionality of the inbox, how can I enforce the user to type their email in.

**Describe the solution you'd like**
How to get the Chatwoot bot to start a conversation or send a message after the use

[2022-06-16 14:50] guiqis opened #4882 "My email channels stopped receiving new emails"
I have no idea why, but my email channels are not receiving new emails anymore.

I've received the "Your email inbox has been disconnected. Please update the credentials for SMTP/IMAP" email, but nothing has changed. No user or password. And I have updated all the settings more than one time.

Any idea if that's a problem with Gmail or if I need to perform any action to get the channel running aga

[2022-06-16 16:24] pranavrajs commented on #4882
@guiqis The email channel is disconnected due to some issue.

1. Please update the SMTP/IMAP config in the email channel. Saving it again would work.
2. Please update to 2.6.0. We have made some changes to avoid these issues.

Let me know how it goes.

[2022-06-16 16:27] pranavrajs opened #4884 "Document keep-alive/read-timeout configuration for a load balancer"
The default read time out is the 30s for some of the load balancer config. This would create an issue with Chatwoot as the websocket would keep reconnecting again and might miss messages in real-time.

The fix here is to update the keep-alive or read-time out to 3600s instead of the 30s so that the disconnection message would not appear frequently.

[2022-06-16 16:27] pranavrajs commented on #4884
@vishnu-narayanan Please take a look at this and write a document for the same whenever you have some time.

[2022-06-16 18:40] juanfrancisco-18 commented on #4712
?

[2022-06-16 19:11] guiqis commented on #4882
@pranavrajs I saved all the channels a lot of times, but the emails weren't coming. Now that I've updated to 2.6.0 it seems to be solved for one channel, but I'll keep an eye in the other's and update this issue here. Thank you!

[2022-06-16 19:54] arstahl commented on #4432
@sojan-official
Hi Sojan, wanted just to ask how often this task will be delay?
I mean this function has a high impact on customers satisfaction.
Thanks and regards

[2022-06-16 20:41] xLixon commented on #4712
@juanfrancisco-18 As i know, right now there isnt any test version yet....

[2022-06-16 22:05] juanfrancisco-18 commented on #4712
entonces para cuando sale?

[2022-06-16 22:07] pucilpet commented on #4828
I agree, the initial loading speed should probably be optimized.

It's been a while but we dropped the chat widget from a gatsbyjs site due to the script being quite heavy.

[2022-06-16 22:16] rsat commented on #4712
Hey conoces lo que es un proyecto de código abierto? Si estas tan apurado impleméntalo tu y luego haces un pull request. Pero tu manera de preguntar e insistir deja bastante que desear. Si no te responden es por algo, partiendo por que quizás deberías preguntar en inglés. Ten claro que ellos deben querer implementar lo antes posible ya que es una funcionalidad que sin duda le hará bien al proyecto

[2022-06-16 22:34] axiliquint opened #4885 "Heroku Deployment Error on 2.6.0 Upgrade"
**Describe the bug**

Heroku deployment error occurs when trying to upgrade from Chatwoot 2.5.0 to 2.6.0.

**To Reproduce**

Steps to reproduce the behavior:
1. Provision an on-click Heroku instance of Chatwoot on 2.5.0.
2. Upgrade to 2.6.0.
4. See error.

**Expected behavior**

The deployment succeeds, and revision is made.

**Server logs**

Deployment logs are available here: https://www.toptal.

[2022-06-16 22:55] juanfrancisco-18 commented on #4712
Rsat si señor entiendo  tengo basico en pogramacion me gustaria hacer ese reto entonces que tengo que hacer? por donde empieso usted me puede dar una idea?

[2022-06-17 03:38] drdaga commented on #4712
if u want to impltement u can get started with following ruby sdk which can help u to integrate with chatwoot
https://github.com/ignacio-chiazzo/whatsapp_sdk

[2022-06-17 05:58] pranavrajs commented on #4885
@axiliquint There doesn't seem to be an error in the logs you shared. Would you be able to share some more information to debug this?

[2022-06-17 07:33] nosovk commented on #4828
@pucilpet You can manually modify init script to use onLoad.
https://github.com/MailCheck-co/mailcheck.site/commit/a3e2cc45917a070419991a623cd8cfb16186b34f
Here is an example, now it's excluded from page init.

[2022-06-17 11:03] pranavrajs commented on #4828
@nosovk Reducing the widget size might limit us from building more features on Chatwoot. Putting a hard constraint is not ideal. To improve page load and TTI, we can add a check to load Chatwoot SDK only after the page becomes interactive using [document.readyState](https://developer.mozilla.org/en-US/docs/Web/API/Document/readyState).

Let me know how that sounds.

[2022-06-17 12:06] nosovk commented on #4828
Yep, it sound good. We make almost the same at https://github.com/chatwoot/chatwoot/issues/4828#issuecomment-1158583278 and it fixed issue with Pagespeed.

[2022-06-17 13:22] sojan-official commented on #2979
should be closed in https://github.com/chatwoot/chatwoot/pull/2812

[2022-06-17 13:22] #2979 closed

[2022-06-17 14:18] vishnu-narayanan commented on #4877
@harismateen Could you set the `SMTP_PORT` variable to be `465` and try again?

ref: https://docs.aws.amazon.com/ses/latest/dg/smtp-connect.html

[2022-06-17 14:26] harismateen commented on #4877
@vishnu-narayanan tried with 465 and 587 as well. But still same.
Also tried with gmail smtp, but still same error

[2022-06-17 18:29] GKG4 commented on #2983
Is it possible to add a custom sound like a ring or something, every time a new conversation is created and keeps ringing until click accepted or something?
This way, if the agent is not on his/her seat, can actually hear that sound and come back to reply.

[2022-06-17 18:48] sojan-official commented on #2811
@RuiGuilherme contacts in chatwoot are shared across inboxes.  This lets us show conversations from various channels like WhatsApp, Email, etc under a single contact in chatwoot.

In your case, you could try the following

- Instead of using the identifier,  use the customer email as the identifier in your setUser call.
- create separate website inboxes for each system.
- the customer will have se

[2022-06-17 18:49] sojan-official commented on #2811
closing this issue in favor of https://github.com/chatwoot/chatwoot/issues/4728

[2022-06-17 18:49] #2811 closed

[2022-06-17 22:40] axiliquint commented on #4885
Sorry - let me provide some more info. I agree that by looking at the logs the build did succeed, however, the line of: `Release command declared: this new release will not be available until the command succeeds.` makes it seems like something failed silently. Additionally, my Heroku dash shows that the deployment failed because the "Release command failed".![image](https://user-images.githubuser

[2022-06-17 22:42] axiliquint commented on #4885
After looking a bit further, it looks like the actual deployment failed, not the build. Editing to show that info.
![image](https://user-images.githubusercontent.com/99619198/174409587-5ce9bdcd-0001-4129-a72c-6a58f981aa8f.png)

[2022-06-18 00:45] grupale commented on #4216
#4789

[2022-06-18 09:06] harismateen opened #4889 "Feedback wont working on custom channel"
Hi,

We have added Custom Channel, and seems like Feedback/ Rating wont working, getting 404 error

Below are the screenshots

<img width="699" alt="image" src="https://user-images.githubusercontent.com/38554929/174430850-991d6708-de53-463e-afbf-f04dc3f5bfcb.png">

![image](https://user-images.githubusercontent.com/38554929/174430855-e974ffd2-f857-4ec7-9884-b3ca09d46c16.png)

[2022-06-18 09:42] crapthings commented on #431
s = SuperAdmin.new(email: "admin@xyc.com", password: "yourpassword")

(Object doesn't support #inspect)

[2022-06-18 10:12] chetan2796 commented on #4849
If this issue is fixed or not

[2022-06-18 10:15] iamsivin commented on #4849
No, will ship a fix by next sprint.

[2022-06-18 10:23] chetan2796 commented on #4849
Actually I am new in open source i want to try.

[2022-06-18 15:41] RuiGuilherme commented on #4728
It is not so simple to have two chatwoot instances for each of the systems.

it's inconvenient for the support team to have to be logged into two accounts (the team is the same for both cases), and will generating two separate reports which can complicate some things.

I can't use e-mail as identifier, for example: One client can have two accounts on different systems with the same email and one o

[2022-06-18 17:16] zudheer opened #4890 "reply_to seems not working."
Hi
I am trying to integrate inbound emails using mailpace.
I have tried
MAILER_INBOUND_EMAIL_DOMAIN="reply@inbound.mailer.mydomain.in"

The email is sent from the email set in
MAILER_SENDER_EMAIL=ChatConnect <notify@mailer.mydomain.in>

There is no reply_to option.

Any help is appreciated
As per the docs in
https://www.chatwoot.com/docs/self-hosted/configuration/features/email-channel/conversatio

[2022-06-19 04:06] pranavrajs opened #4891 "Recreate index in custom_attribute_definitions table"
Some of the self-hosted installations seem to have invalid indexes on custom attribute definitions. (The index attribute_model, attribute_key exists, possibly due to the existing migrations didn't work properly).

**Todo:**
- [ ] Remove all indexes on table
- [ ] Add index on account_id
- [ ] Add a unique index on (attribute_model, attribute_key, account_id)

[2022-06-20 08:46] #4687 closed

[2022-06-20 09:13] pranavrajs opened #4892 "Agent thumbnails are not displayed in the bulk action selector"
- Agent thumbnails are not shown in the agent selector option in the bulk actions.

<img width="399" alt="Screenshot 2022-06-20 at 2 42 29 PM" src="https://user-images.githubusercontent.com/2246121/174568166-2c538b06-3fcd-41c1-899c-3ed87a0c75c2.png">

[2022-06-20 10:34] #4892 closed

[2022-06-20 10:53] ippezshelby opened #4894 "Project Setup on Local environment"
Hey all,
I have been trying to setup chatwoot on my local machine for days now but am still failing. Am using the documentations on https://www.chatwoot.com/docs/contributing-guide/project-setup for local setup and testing.

**Environments**

- ruby 3.0.4p208
- Windows 11
- Composer version 2.2.9
- Yarn 1.22.18
- Docker version 20.10.16, build aa7e414
- docker-compose version 1.29.2, build 5becea4

[2022-06-20 11:02] kanawutc commented on #3038
Hello @gvdseype gvdseype

When will you going to finish this?

[2022-06-20 11:16] #4552 closed

[2022-06-20 11:33] MiLaDTechS commented on #686
is there any plans to implement this feature ?

[2022-06-20 12:37] tejaswinichile commented on #4597
Pending work:

- Category self-association found one issue for many-to-many associations for the linked category
- Parent-child category association and handling have been done.

[2022-06-20 12:49] reckerswartz opened #4895 "Whatsapp 360dialog Vue js broken"
**Describe the bug**
Whatsapp 360dialog not allowing messages to send

**To Reproduce**
Fresh installation on Heroku

**Screenshots**
![image](https://user-images.githubusercontent.com/16918568/174604830-74ec4065-d0d3-4841-8a95-b1eb47d093de.png)

**Browser logs**

TypeError: i.filter is not a function
    getWhatsAppTemplates inboxes.js:67
    whatsAppTemplateMessages TemplatesPicker.vue:70
    Vu

[2022-06-20 14:01] harismateen commented on #4877
@vishnu-narayanan yup, all good and no errors.

I have entered GMAIL SMPT also. Buy still having the same issue.

FYI - i am using kubertenes helm chart

[2022-06-20 14:26] sojan-official opened #4897 "chore: Improve one-off campaigns performance"

[2022-06-20 14:59] vishnu-narayanan commented on #4877
That should be fine.

Could you share your charts version and chatwoot version? Are you running helm with any changes or vanilla install?

[2022-06-20 15:41] harismateen commented on #4877
@vishnu-narayanan we installed it from here recently, no changes has made, just run these two commands from here,
https://www.chatwoot.com/docs/self-hosted/deployment/helm-charts

Chatwoot: v2.5.0
Helm Chart Version:"v3.5.0

[2022-06-20 16:11] sojan-official commented on #686
@MiLaDTechS @mohammad362 This is still in our backlog for prioritization.
We will share further updates when the team starts working on this.

[2022-06-20 16:24] fayazara opened #4899 "Text overflowing in Bulk actions label selector"
Text overflows in the popover

![image](https://user-images.githubusercontent.com/15716057/174644453-81657132-37cf-4507-bb63-5a6203156bec.png)

[2022-06-20 16:36] glauberssoutodossantos opened #4900 "Improvements in whatsapp templates"
**Is your enhancement request related to a problem? Please describe.**

Hi guys, how are you?

First, thank you very much for the whatsapp message templates search feature in version 2.6.0. It got pretty interesting.

However, it brought up another issue that could be improved.
On facebook there are some sample templates that are created automatically, but they are not useful.

![image](https://us

[2022-06-20 17:10] #4899 closed

[2022-06-20 19:48] jersonjunior commented on #4823
Ubuntu: 22.04 LTS
Client: Docker Engine - Community
 Version:           20.10.17
 API version:       1.41
 Go version:        go1.17.11
 Git commit:        100c701
 Built:             Mon Jun  6 23:03:23 2022
 OS/Arch:           linux/amd64
 Context:           default
Docker-Compose: 2.6

[2022-06-21 00:44] glauberssoutodossantos opened #4902 "Dialogflow - Possibility to "read" the user's phone number and name without having to ask the user for this information again"
**Is your feature request related to a problem? Please describe.**
I'm developing an application in dialogflow to interact with users via whatsapp.

I would like the dialogflow itself to have an integration/path where I can read the user's phone number and name, without having to ask the client for this information again.

[2022-06-21 07:12] vishnu-narayanan commented on #4877
@harismateen I am not able to reproduce this in our clusters. Would you be able to try out the same credentials on a DigitalOcean Cluster? We have Chatwoot as a 1-click k8s marketplace app over there.

https://github.com/chatwoot/chatwoot#digitalocean-1-click-kubernetes-deployment

[2022-06-21 13:49] voko3456 opened #4903 "Add validation for 360Dialog API keys"
Right now if I add wrong api key in 360dialog it will accept it

[2022-06-21 13:51] voko3456 commented on #3772
Any update on this because we are not able to get api key Evan via api

[2022-06-21 18:17] #4813 closed

[2022-06-21 19:30] #4823 closed

[2022-06-22 03:22] aaxx255 opened #4907 "how can i receive attachment message on api"
https://www.chatwoot.com/developers/api/#operation/create-a-message

I'm using this api, but it only accepts text messages. Is there anywhere to receive attachment messages?
![image](https://user-images.githubusercontent.com/49965566/174936638-01edde76-84c2-4de2-a038-cca31541a84d.png)

[2022-06-22 03:59] harismateen opened #4908 "Can I check if custom channel wont support feedback / Rating?"
We have added custom channel, but whenever user click on feedback URL, they are getting "Could not connect to woot server" and the API is giving 404 error as in below screenshot,

![image](https://user-images.githubusercontent.com/38554929/174940448-353e583f-75c1-496a-b287-e7e2c97b0dfb.png)

[2022-06-22 05:06] pranavrajs commented on #4908
Duplicate #4889

[2022-06-22 05:06] #4908 closed

[2022-06-22 05:07] pranavrajs commented on #4889
@harismateen We support CSAT in all channels. Once the response is submitted, it would not be able to share the response again.

[2022-06-22 05:25] harismateen commented on #4889
@pranavrajs for the first time also its not working. Ussr received feedback -- open URL - and cant submit their rating as on above screenshot

[2022-06-22 05:34] #4800 closed

[2022-06-22 10:56] sojan-official commented on #4907
please refer: https://github.com/chatwoot/chatwoot/discussions/1809

[2022-06-22 10:56] #4907 closed

[2022-06-22 13:20] aaxx255 opened #4910 "Can I send html formatted response from api channel?"
use:https://www.chatwoot.com/developers/api/#operation/create-a-message
I also want to know the length of the characters sent and how to set it. thanks.
Last question Thanks a lot to Sojan Jose for great advice.
![image](https://user-images.githubusercontent.com/49965566/175038879-38b22f07-3a5f-400a-9f96-714f100a6bd5.png)

[2022-06-22 14:12] #4910 closed, assigned to nobody

[2022-06-22 14:35] tejaswinichile commented on #4597
@pranavrajs Assuming this should be the restrictions:

1. Parent and child category should belong to the same portal
2. Linked categories should also belong to the same portal.

[2022-06-22 21:09] #4816 closed

[2022-06-22 21:15] zeluspudding commented on #1795
Didn't see anything in the [api docs](https://www.chatwoot.com/developers/api/) regarding the ability to create a custom status. Did I overlook?

[2022-06-22 21:21] zeluspudding commented on #1270
Definitely interested in this. In general, being able to call any of the API integrations (for SMS, Custom one for Email, etc) would be amazing via a schedule.

[2022-06-22 21:39] zeluspudding opened #4914 "feature: Ability to set the user id at time of creation"
For external systems integrating chatwoot using the platform APIs, having the ability to set a user ID to their current user's ID would be simplify to synchronize both systems.

example: add user in external system to chatwoot with the same (string or integer) ID, so that chatwoot user records could be directly looked ups without having to sync chatwoot user ids back into the external system.

[2022-06-23 08:35] #4877 closed, assigned to vishnu-narayanan

[2022-06-23 08:44] harismateen opened #4915 "Chatwoot dashboard Disconnected from Chatwoot after few mints"
Hello,
We are using GCP with Helm Chart chatwoot server,
After few mints, the dashboard get disconnected. we have increase the timeout also from 30 seconds to 300 seconds, but still the disconnected popup is there.

Screenshots:
<img width="467" alt="image" src="https://user-images.githubusercontent.com/38554929/175256769-722b709a-13cf-441f-a935-32391f506683.png">

[2022-06-23 09:51] jean-philippeansel opened #4916 "Error 500 on /api/v1/accounts/3/conversations - Caprover"
I'm using Chatwoot 2.6.0 on caprover and I'm currently unable to load conversations.
It occurred suddenly.
I answered a conversation, and then I was unable to load unassigned conversations.

[2022-06-23 10:18] #4728 closed

[2022-06-23 13:47] vishnu-narayanan commented on #4877
@harismateen Were you able to solve this?

[2022-06-23 13:49] vishnu-narayanan commented on #4915
@harismateen Could you try setting it to 3600?

[2022-06-23 13:52] #4849 closed

[2022-06-23 14:02] lengmiguel opened #4917 "Add support for location & contact group messages"
Good morning, I report some details that I have seen in the whatsapp tray are the following:

When a location is sent by whatsapp, the platform is shown on the client side but the message never arrives in the tray.

whatsapp Movil
![image](https://user-images.githubusercontent.com/22181854/175316537-02d21c1f-2153-4701-ba81-cb2e4c597966.png)

inbox whatsapp chatwoot
![image](https://user-images.git

[2022-06-23 14:07] giquieu commented on #4004
@sojan-official
Hi, any news about this? Can I help investigate?

[2022-06-23 15:27] calebjacobson commented on #3996
We have also noticed spam messages in our SMS channels (we have 42 of them). Being able to blacklist certain numbers would be beneficial. We use Twilio to manage SMS communications, and they do not allow us to blacklist numbers there, leaving it up to the client to manage that.

[2022-06-23 15:47] mattv8 opened #4921 "Feature: Ability to add individual contacts to SMS one-off campaign"
**Introduction**
Hi! 👋 I'm a long time Chatwoot user, first time "poster"... I want to use Chatwoot for a high school's SMS alert system, particularly by using the fantastic Twilio SMS channel feature and one-off campaigns feature.

**Here's the solution we'd like to see:**
My test environment has been received very well by the administration; however, we would really like to have the ability to a

[2022-06-23 17:59] mattv8 commented on #4921
Looks like others may have similar ideas. A colleague of mine referred me to [issue #316](https://github.com/chatwoot/chatwoot/issues/316) which describes a similar feature, but this was removed from the milestones.

[2022-06-23 20:35] sojan-official commented on #4916
@jean-philippeansel  could you share the logs for the request?

[2022-06-23 20:36] sojan-official commented on #4004
@giquieu We haven't gotten a chance to look at this yet. It would be super helpful if you could take a look.

[2022-06-23 22:23] voko3456 opened #4922 "Add Flowy or GoJS to gnerate CSML bot config code"
it's easy for devolpers to gnerate csml bot config code but it's hard for end user ,
So we can use Flowy or GoJS or other flow chart framework to let end users draw his own bot via ui  then we can gnerate csml bot config code via Flowy or GoJS and submit it to agent bot

ref: https://github.com/alyssaxuu/flowy

[2022-06-24 00:46] harismateen commented on #4877
Thanks, the issue were from GCP configuration. And it has resolved.

On Thu, 23 Jun 2022 at 9:47 PM, Vishnu Narayanan ***@***.***>
wrote:

--
Sent from Gmail Mobile

[2022-06-24 03:25] harismateen commented on #4915
@vishnu-narayanan is it correct to change it from here under load balancer? or i have to update config file?

![image](https://user-images.githubusercontent.com/38554929/175455933-51b60c52-f68c-4140-8141-b0a7181e7e18.png)

[2022-06-24 05:42] drdaga commented on #4895
it can be due to api key problem
its not getting templates to sync

[2022-06-24 07:00] vishnu-narayanan commented on #4877
@harismateen Awesome. If possible, please share what went wrong and how you fixed it 😅 It will help someone in the future.

[2022-06-24 07:01] vishnu-narayanan commented on #4915
@harismateen Please change it from the GCP console.

[2022-06-24 10:44] pranavrajs commented on #1020
Closing this as the feature is complete.

[2022-06-24 10:44] #1020 closed

[2022-06-24 10:45] geongeorge opened #4925 "Custom triggers and revamp campaign UI"
Hi, I love this project. I think this enhancement will make is even more powerful.

### The Problem

Currently, when you're creating a campaign, the UI shows a URL box. (Which was confusing to me at first. I was expecting a way to set up a trigger). Now, this opening URL is the only way to trigger a chat box open with that campaign. This is well and good for simple static websites. But for a websi

[2022-06-24 10:46] pranavrajs commented on #3538
Closing this as the template messages are supported now. You can create a button template in 360Dialog and send it from Chatwoot.

[2022-06-24 10:46] #3538 closed

[2022-06-24 10:46] pranavrajs commented on #3643
Closing this as there was no activity for a long time. Please feel free to reopen this issue.

[2022-06-24 10:46] #3643 closed

[2022-06-24 10:49] pranavrajs commented on #4126
@clanto007 Closing this issue as the proposed solution doesn't seem to have APIs. We will publish a framework to push plugins in Chatwoot soon, you can make use of that to extend Chatwoot.

[2022-06-24 10:49] #4126 closed

[2022-06-24 13:35] harismateen commented on #4915
@vishnu-narayanan still same :(
![image](https://user-images.githubusercontent.com/38554929/175546861-1e5a3fef-4e94-4d2f-9dd6-1d7aa7b9b1f1.png)

[2022-06-25 10:22] digitall-it commented on #4512
6 over 18! Go go, Power Rangers!

[2022-06-26 00:29] Apesy commented on #2898
VoIP, Hold Music, IVR, Customer History, all encompassed under Chatwoot would make definitely make this a good alternative to Zendesk. Unfortunately due to COVID-19 having Omnichannel Support Solutions such as Zendesk, Zoho, Freshdesk, etc, have become unaffordable due to their ridiculous high prices. If Chatwoot could implement most features that these other major companies have and STILL remain

[2022-06-26 07:57] jean-philippeansel commented on #4916
Thanks @sojan-official, here is the log:

`2022-06-26T07:38:09.209632661Z I, [2022-06-26T07:38:09.209514 #19] INFO -- : [35ca8ce6-7d25-4de8-883d-e29453eac66e] Started GET "/api/v1/accounts/3/conversations?status=open&assignee_type=unassigned&page=1" for 82.66.76.119 at 2022-06-26 07:38:09 +0000

2022-06-26T07:38:09.217136112Z I, [2022-06-26T07:38:09.216652 #19] INFO -- : [35ca8ce6-7d25-4de8-883d-e

[2022-06-26 08:48] srameshr opened #4929 "502 internal server error on deploying version 2.6.0 via Docker. undefined local variable or method `auto_assignment_config'"
**Describe the bug**
Updated our instance of self-hosted chatwoot to 2.6.0 today. The local dev env works fine which is run using Procfile.dev and not Docker. But, on deploying to our AWS server the deployment fails with the 502  bad gateway errors as shown under the server logs error.

**Expected behavior**

The migrations on deployment should work.

**Browser logs**

N/A

**Server logs**

[code]

[2022-06-26 18:21] giquieu commented on #4922
Hello,
As another draw flow option:

https://jerosoler.github.io/Drawflow/

<img width="1246" alt="image" src="https://user-images.githubusercontent.com/9892674/175828485-61e4f5ca-5bb1-4b3d-9cf5-2b33d28a9098.png">

[2022-06-27 07:06] harismateen commented on #4915
@vishnu-narayanan is there any other suggestion to fix this out?

[2022-06-27 07:34] karzounapp opened #4930 "Not getting messages for FB inbox even after configuring through given facebook guide on site"
![Screenshot 2022-06-27 103532](https://user-images.githubusercontent.com/107565124/175885251-79a17a86-4d60-4f0e-b48a-05d898e27552.png)
Hello
i have problem with facebook messages
I can't receive messages after configuring
I did everything right
I linked the page and gave it the required permissions
![Screenshot 2022-06-27 103352](https://user-images.githubusercontent.com/107565124/175885076-f7d74

[2022-06-27 07:42] saikat-here opened #4931 "Contact search wouldn't work with spaces at the beginning and the end"
I have a contact names Mohan.

There is no result if I search with "Mohan " with a space on the right.

There should be left and right trim on the search.

[2022-06-27 09:21] sentry-io[bot] opened #4932 "NoMethodError: undefined method `utc' for nil:NilClass"
Sentry Issue: [CHATWOOT-AB](https://sentry.io/organizations/chatwoot-p3/issues/3344153436/?referrer=github_integration)

[code]

[2022-06-27 12:37] paulm17 opened #4933 "Ubuntu VM installer simply does not work"
**Describe the bug**

Deployment from https://www.chatwoot.com/docs/self-hosted/deployment/linux-vm

Does not work, it never completes.  Gets stuck at the chatwoot install function.

A clear and concise description of what the bug is.

[code]

[2022-06-27 15:00] fayazara opened #4934 "Dashboard apps UI"
UI for creating, updating, and deleting dashboard apps.

[2022-06-27 18:57] SherefAbolmagd opened #4935 "CSAT for custom channels"
getting 404 when try to use the API for updating the CSAT for custom channel

<img width="1006" alt="Screen Shot 2022-06-27 at 8 56 28 PM" src="https://user-images.githubusercontent.com/40181573/176015173-cab1530f-da19-4fda-87fe-975bf4c0ea19.png">

[2022-06-28 01:12] AllanSiqueira opened #4936 "Docker tag set as chatwoot:development, but this tag do not exist on chatwoot's docker hub"
**Describe the bug**

When running `docker compose build` I'm getting this error:
[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Run the `docker compose build --no-cache` command
2. The error should happen

**Expected behavior**

Build the project to local development

**Screenshots**

**Browser logs**

**Server logs**

**Environment**

Describe whether you are using Chatwoot Cloud

[2022-06-28 02:36] srameshr commented on #4929
@sojan-official From 1.22.0. My self-hosted version was on 1.22.0 and the latest master pull I took was from 2.6.0 which I merged with no errors and runs fine locally.

[2022-06-28 05:06] pranavrajs commented on #4929
@srameshr You cannot update it directly from 1.22.0 to 2.6.0, please update to 2.0 -> 2.1 -> 2.2 and so on. You would need to do it sequentially to make sure that the migrations are properly run. Closing this here as the issue is not a bug, but the steps taken in the update.

[2022-06-28 05:06] #4929 closed

[2022-06-28 05:08] pranavrajs commented on #3242
Closed via https://github.com/chatwoot/chatwoot/pull/4027/files

[2022-06-28 05:08] #3242 closed

[2022-06-28 05:17] pranavrajs commented on #4889
@harismateen Closing this here as the team tested this functionality and the behavior could not be reproduced. Please feel free to reopen the issue with a screencast.

[2022-06-28 05:17] #4889 closed

[2022-06-28 05:26] pranavrajs commented on #4935
"404 Not found" is returned if the id you are passing is an invalid identifier. Please make sure that the identifier is valid. Closing this as I have tested the APIs with a valid conversation-uuid and is working fine.

Please feel free to reopen the issue with a screencast/logs if needed.

[2022-06-28 05:26] #4935 closed

[2022-06-28 05:53] #4597 closed

[2022-06-28 07:22] pranavrajs commented on #4915
@harismateen There is too little information to debug here. Would you be able to share a screencast of the behavior? Explain the conditions under which the issue is being shown.

[2022-06-28 08:12] SherefAbolmagd commented on #4935
May I know where exactly to get the identifier because i use the contact_inbox.source_id when the conv is resolved i get this request from the webhook
![6a7ebea3-ff8d-4ba4-80a0-78935607c435](https://user-images.githubusercontent.com/40181573/176128274-470f5b04-9868-448e-9d06-e56dbf703c8f.jpeg)
and i use the contact_inbox.source_id to add rating but it return not found
<img width="1009" alt="Screen

[2022-06-28 08:16] SherefAbolmagd opened #4937 "May I know where exactly to get the identifier because i use the contact_inbox.source_id when the conv is resolved i get this request from the webhook"
May I know where exactly to get the identifier for csat because i use the contact_inbox.source_id when the conv is resolved i get this request from the webhook
![6a7ebea3-ff8d-4ba4-80a0-78935607c435](https://user-images.githubusercontent.com/40181573/176128274-470f5b04-9868-448e-9d06-e56dbf703c8f.jpeg)

and i use the contact_inbox.source_id to add rating but it return not found

<img width="1009"

[2022-06-28 08:32] srameshr commented on #4929
@pranavrajs Have you deleted the older branches? Cant seem to pull from those branches.

[2022-06-28 08:34] srameshr commented on #4929
@pranavrajs But, looks like you have deleted old branches. How can I pull from that specific branch or release now?

[2022-06-28 09:00] pageartcz commented on #4933
I had a problem installing on Ubuntu 22.04 but 20.04 is working properly.

[2022-06-28 09:06] paulm17 commented on #4933
lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.4 LTS
Release:	20.04
Codename:	focal

[2022-06-28 09:44] srameshr commented on #4929
Got it. Il do it via cherrypicking commits on each release

[2022-06-28 16:16] pranavrajs commented on #4935
@SherefAbolmagd The unique key is `conversation.uuid`.

[2022-06-28 16:20] pranavrajs commented on #4933
@paulm17 Would it be possible to share the full log?

[2022-06-28 17:07] paulm17 commented on #4933
@pranavrajs My bad!  I was setting the VM to 4gb and since I was watching the log this time, I caught:

I upped the memory to 8gb and now it installs.

If you can, I suggest adding a line about the configuration of the VM and having a minimum of 8gb.

Thanks

[2022-06-28 19:14] MatthiasReinholz opened #4941 "Enable custom URLs for GCS bucket storage"
**Is your enhancement request related to a problem? Please describe.**
Currently, when using GCS as storage in Chatwoot, the attachment URLs (e.g. of images within conversations) are formatted as `storage.googleapis.com/{BUCKET-NAME}/{FILENAME}?GoogleAccessId=.....`.

However, GCS allows to access a bucket via a custom URL (e.g. `bucket.example.com`).

The advantage would be that the file URLs can

[2022-06-28 20:10] jschaf opened #4942 "ReferenceError: Can't find variable: AudioContext on Safari before desktop version 14.1 and mobile version 14.5"
**Describe the bug**

window.AudioContext isn't defined on versions of desktop Safari prior to 14.1 and Mobile Safari prior to 14.5 [MDN](https://developer.mozilla.org/en-US/docs/Web/API/AudioContext). The older versions use the prefixed form instead: `window.webkitAudioContext`.

The problem is that installing Chatwoot on a page means every user interaction will cause a console error.

<img width

[2022-06-28 22:28] SherefAbolmagd opened #4943 "Can use attachment link with send message attachment API"
attachment store on external vendor and want to pass it to chatwoot using links instead of uploading to form

<img width="1012" alt="Screen Shot 2022-06-29 at 12 23 15 AM" src="https://user-images.githubusercontent.com/40181573/176314677-10b17639-b66b-4790-bfe9-43d113c656b3.png">

[2022-06-29 03:13] tejaswinichile commented on #4604
1. Add public APIs for article index with the search

[2022-06-29 06:22] #3772 closed

[2022-06-29 07:58] jimmyheaddon opened #4945 "Helper scripts to create/migrate external databases like Google Cloud SQL"
Hello, and thanks again!

**Is your feature request related to a problem? Please describe.**
I am self-hosting Chatwoot in Google Cloud Platform, and I am using a Compute Engine VM instance for this.  However, I would like to use Google Cloud SQL to host the PostgreSQL instance, with Redis still hosted on the VM (I have no need for this to be external).

**Describe the solution you'd like**
I am n

[2022-06-29 13:22] MaoBueno opened #4947 "Does not send messages after migrating project to CapRover"
After deploying chatwoot in caprover, migrating the database and configuring the environment variables, messages are not sent in any channel.

Chatwoot version 2.6.0
Environment: Cap Rover

I was checking and found this
![error caprover](https://user-images.githubusercontent.com/50222850/176446832-bf94de6b-ef67-4f06-8093-63aea8642c20.png)

[2022-06-29 13:48] lumacode opened #4948 "Create email channel don't work via REST API"
**Describe the bug**

When I try to create new email channel via REST API return error 500

**To Reproduce**

Steps to reproduce the behavior:
1. Request {{baseUrl}}/api/v1/accounts/2/inboxes
2. Body: {
    "name" : "Test-Email",
    "channel": {
        "type" :"email"

    }
}
3. Response: {
    "status": 500,
    "error": "Internal Server Error"
}

[2022-06-30 05:12] harismateen opened #4950 "Intagram as channel to add"
**Is your enhancement request related to a problem? Please describe.**
To connect Instagram and received messages from IG and reply via chatwoot,

[2022-06-30 05:26] SimonHausdorf commented on #3328
@roshanjonah would be nice if you would have let us know what the issue was.

[2022-06-30 05:34] pranavrajs commented on #4950
Please see these guides:

Self-hosted App setup instructions: https://www.chatwoot.com/docs/self-hosted/configuration/features/integrations/instagram-channel-setup
Connect your Instagram Account: https://www.chatwoot.com/docs/product/channels/instagram

[2022-06-30 05:34] #4950 closed

[2022-06-30 05:35] SimonHausdorf opened #4951 "Re-adding an agent doesn't trigger activation email"
**Describe the bug**

If an agent got deleted and added again, he is not receiving an activation email.

**To Reproduce**

Steps to reproduce the behavior:
1. add agent
2. delete agent
3. add agent again

**Expected behavior**

Agent should receive an activation email

[2022-06-30 07:05] aslamabbas opened #4953 "[CW-2377] Different email signature for different inboxes"
**Is your feature request related to a problem? Please describe.**
Each inbox is the customer support for a particular product/service. Each requires a signature that is unique to that product/service.

**Describe the solution you'd like**
A setting in the Inbox, for the agent to set their email signature for that particular inbox.

**Describe alternatives you've considered**
None

**Additional co

[2022-06-30 08:13] aslamabbas opened #4954 "Auto assign tickets to the first agent who responds to it"
**Is your enhancement request related to a problem? Please describe.**
Currently, we have disabled the "Auto assignment" option in the Inbox settings. That feature should actually be named as "Distribute conversations among agents".

And when tickets come under the "Unassigned" tab in inbox, the agent responds to it. A tiny grey box pops up asking if the conversation has to be assigned to the agen

[2022-06-30 09:43] CelestineAkpanoko commented on #4432
Hi, @sojan-official! Has this been implemented? I am really looking forward to having a delay in the messages and also show typing to the users.

[2022-06-30 14:27] #4948 closed

[2022-06-30 18:04] vitos88 opened #4956 "Invalid access token PlatformApi"
when registering a user using api, it gives an error that the token is not correct.
got a token with
`app = PlatformApp.create(name: 'name')
app.access_token.token `
Nginx 1.18.0
Chatwoot linux lv
Linux Ubuntu 20

[2022-06-30 18:16] glauberssoutodossantos opened #4957 "Dashboard Apps - embed an entire system like Hubspot"
Hey guys.

About dashboard apps I've realized is that I can embed an entire system, like Hubspot. See in the video below that it was super interesting to work with a single screen.

https://www.vidline.com/share/V00O6HG68K/9a2fedeab64692695a497fccc7d5d518

Only thing is that it always reloads to homepage.

It would be interesting for the dashboard apps in the future to save the last page accessed

[2022-06-30 18:53] sojan-official commented on #4957
Throwing thoughts here, We could evaluate URLs with dynamic params.

[code]

So one could configure the identifier as an attribute to the contact.

[2022-06-30 19:29] sojan-official commented on #4947
@MaoBueno  is this a new installation? or are you trying to move data from an old database?

[2022-06-30 19:34] ammaraslam opened #4958 "Dashboard apps for different Inbox"
**Describe the solution you'd like**

Ability to embed a separate dashboard app with a separate inbox.

**Context**

A user has many inboxes of completely different industries and has a need to embed separate app with separate inbox to pass the information to it's users.

Currently, It's not possible considering we're at V1 (development).

[2022-07-01 03:19] prononext opened #4960 "Validation is not working for links/checkbox in pre-chat form"
When using the Live Chat widget on a Website and customizing the pre-chat-form via custom attributes I noticed that it does not support any links.

Also when adding a required link or checkbox field it lets the user in the chat even if he has not clicked the link or checked the box.

[2022-07-01 03:22] prononext opened #4961 "Compliance on Live Chat Widget"
As many countries have Data Protection Regulations it is mandatory to give the user information about your Compliance before he is making any data transmission like writing a chat.

The Live Chat Widget of Chatwoot does not have this possibility.
The pre-chat-form cannot be customized to show the user a short text with a link with a mandatory accept button to begin the chat.

It would be really ni

[2022-07-01 03:26] prononext commented on #1598
Are there any plans to inject custom CSS finally on the Live Chat Widget? That would be a dream.

There are countless posts about customizing the live chat widget and instead of making it possible through GUI, with long development overhead, allowing users to inject their custom CSS would be the way to go.

Please make it possible.

[2022-07-01 03:27] prononext commented on #2859
Development here would be really nice.

[2022-07-01 03:28] prononext commented on #4287
Just letting users inject their custom CSS would be the easy way to go first.

[2022-07-01 03:35] prononext opened #4962 "Delete Users"
There is no way to delete users on the Chatwoot Dashboard nore the Chatwoot Super Admin.

I wonder why users cannot be deleted, because Accounts can be destroyed completely but users will stay.

Is there any way to delete a user completely from a chatwoot instance?

[2022-07-01 05:40] ammaraslam opened #4963 "Connect Google Analytics with CW"
**Is your feature request related to a problem? Please describe.**

No.

**Describe the solution you'd like**

Ability to connect Chatwoot Account/Specific Inbox with Google Analytics.

[2022-07-01 06:35] nithindavid commented on #4524
Closing this as the feature is completed.

[2022-07-01 06:35] #4524 closed

[2022-07-01 06:36] #4525 closed

[2022-07-01 07:01] jean-philippeansel commented on #4916
Hi @sojan-official, any news on this ?
I had to stop using Chatwoot because no message can be loaded.

[2022-07-01 07:01] SherefAbolmagd commented on #4935
@pranavrajs I'm unable to find the conversation uuid in my payload

<img width="1013" alt="Screen Shot 2022-07-01 at 8 58 34 AM" src="https://user-images.githubusercontent.com/40181573/176841581-de8a8850-a768-4b94-9a33-194c09908ce8.png">

{
    "meta": {
        "sender": {
            "additional_attributes": {},
            "availability_status": "offline",
            "email": null,

[2022-07-01 07:57] sojan-official commented on #4961
closing in favor of https://github.com/chatwoot/chatwoot/issues/1231

[2022-07-01 07:57] #4961 closed

[2022-07-01 15:15] MaoBueno commented on #4947
Thanks for answering
I am trying to move the database from an installation that was on heroku, the storage in s3 works and the database loads normally but messages are not sent in any channel

[2022-07-01 18:31] glauberssoutodossantos commented on #4957
That would be very interesting.

See the hubspot case below. The user ID goes at the end of the url.

![image](https://user-images.githubusercontent.com/99494469/176950453-bf40249a-98bb-4e2b-8fc8-30187c5b5cbd.png)

When I open this lead in chatwoot, see how interesting it is to work in a single interface.

The only problem is that today every time I click on a new conversation I have to do all the

[2022-07-01 18:32] fsalomon opened #4964 "Why is access control code inbox-centric?"
Hi,

while scrolling through the code I've had trouble understanding why you chose to make just about all access control code inbox-centric, e.g. delegating conversation access directly to InboxPolicy, bypassing ConversationPolicy altogether. I understand that you currently have access _config_ based around inboxes but that does not mean you should make your _code_ follow this assumption. Even wor

[2022-07-01 20:49] sojan-official commented on #4712
We have a PR up for WhatsApp cloud support. If anyone wants to test it early. Please use the branch
https://github.com/chatwoot/chatwoot/pull/4938

[2022-07-01 22:39] WevrLabs commented on #4712
Pretty nice.

Observations so far:

On Chatwoot:
- Sending voice notes (or audio files in general) seems not working.

On WhatsApp app:
- sending location or contact cards seems not working.

[2022-07-02 10:35] #3698 closed

[2022-07-02 10:41] sojan-official commented on #4964
@fsalomon, the reasons are primarily historical. If you look at the story of chatwoot ( ref: https://www.chatwoot.com/docs/handbook/about-chatwoot/history#2016-the-beginning-of-chatwoot ), The open-source code base evolved from the original version, which was meant to manage multiple Facebook pages under a single dashboard, where we had inbox centric permissions. Even as the product involved, the

[2022-07-02 10:43] sojan-official commented on #4712
@WevrLabs  location and contacts card support is something that we need to work on across all channels separately.
I will take a look at voice notes.

Thanks a lot for the feedback

[2022-07-02 10:55] fsalomon commented on #4964
Yes, I figured this might be legacy related. I suspect that a large percentage of accounts are actually configured "free for all" i.e. all user access have access to all inboxes; indicating a clear misalignment between access config and real-world usage.

My issue is mostly about refactoring, the changes can come in later. For example I found
[code]

in `InboxesController`. So it seems you are alr

[2022-07-02 11:15] fsalomon commented on #4964
It all comes down to the migration path between where access control is now and where it might be in the future. Keeping your frontend as agnostic as possible should make that easier.

For what it's worth, I will post how I "fixed" access control for my use case. I'm eager to hear what others think about this.
- So my scenario requires certain agents (actually a team of agents but that is just a s

[2022-07-02 11:50] fsalomon commented on #4964
https://github.com/chatwoot/chatwoot/issues/2710: This is a workflow nuisance I have as well but I consider it low priority because it can be fixed with a script or an human chore
https://github.com/chatwoot/chatwoot/issues/4216: Would require a mayor overhaul of the access control, should be done in steps given how rudimentary access control is now
https://github.com/chatwoot/chatwoot/issues/1588

[2022-07-02 20:10] ammaraslam commented on #4216
Great to see that this is being prioritized, just wanted to provide a bit of feedback on the role's permission.

**Participant**

- Should access things in which s/he's added (If added in 1 inbox, shouldn't be able to see contacts of other inboxes)
- Excluded from round robin assignment (Chat will only be assigned, if it's done manually by a team member)

**Manager**

- Access to conversation, con

[2022-07-04 04:10] iamsivin commented on #4942
@pranavrajs We are using both `window.AudioContext & window.webkitAudioContext`. You can se it here https://cs.github.com/chatwoot/ui/blob/959082f75576ab85841b7e3b59efa16b67b592a1/src/shared/helpers/AudioNotificationHelper.js#L7

[2022-07-04 05:39] pranavrajs commented on #4916
@jean-philippeansel It seems like there is not enough to debug the issue. Would it be possible to share the following as well?

- What is the storage you are using? Did you make any recent changes?
- Did you make any customizations in code?
- Have tried rebooting the container?

If this doesn't help, we would be happy to understand the issue, please schedule a call here. https://calendly.com/chatw

[2022-07-04 10:02] WevrLabs commented on #4712
@sojan-official

Can you also please take a look at implementing message status update? WhatsApp already pushes this information to Chatwoot via the webhook, so I guess all it takes is just a simple code to  capture the payload of the request and update statuses of messages with the corresponding `source_id` value.

<img width="398" alt="Screen Shot 2022-07-04 at 12 01 17 PM" src="https://user-ima

[2022-07-04 11:43] vishnu-narayanan commented on #4936
@AllanSiqueira The tags used in the docker-compose.yml file are relative to your local builds. For local builds, we are not fetching images from dockerhub.

[2022-07-04 11:51] semaf commented on #2712
As I can see you are moving to contacts to give a reply. Is it not possible to reply directly below the incoming message?

[2022-07-04 11:53] sojan-official commented on #4712
@WevrLabs  We have this in the plan for the next iteration 👍

[2022-07-04 12:34] vishnu-narayanan commented on #4945
@jimmyheaddon

You can answer `no` to the database setup question during installation. After the installation is complete, modify the `.env` file under the `chatwoot` directory with the credentials for your managed Google Cloud SQL database and run the migrations from the command-line.

[code]

This will create the databases, tables and run the migrations.

[2022-07-04 13:42] fsalomon commented on #4712
Some feedback:

- Chatwoot's webhook URL is currently `/webhooks/whatsapp/[phone number]`. I should be just `/webhooks/whatsapp` because Facebook allows multiple phone numbers in the same app, but only a single "Callback URL" per app. ![FireShot Capture 126 - Maki Messaging - WhatsApp - Facebook for Developers - developers facebook com](https://user-images.githubusercontent.com/4098510/177164743-9

[2022-07-04 13:47] sojan-official commented on #4712
@fsalomon thanks a lot for testing the changes. We will have this addressed in the PR

[2022-07-04 14:59] #4803 closed

[2022-07-04 17:02] gonzalo opened #4969 "Docker: unable to run initial migrations"
**Describe the bug**

I'm following instructions to set up a docker-compose production environment to test chatwoot as it's shown on https://www.chatwoot.com/docs/self-hosted/deployment/docker/ but fails on step 4 migrating the DB fails during executions -> "rails not found"

$docker-compose run --rm rails bundle exec rails db:chatwoot_prepare

It seems that bundle install is unable to write on /r

[2022-07-04 23:12] glauberssoutodossantos opened #4971 "suport for google messages - GMB - maps"
**Describe the solution you'd like**
Suport for chat that google my business has in google maps.

**Describe alternatives you've considered**

![image](https://user-images.githubusercontent.com/99494469/177224370-d8825279-390c-4c29-9f33-42054adb4f6d.png)

**Additional context**
https://developers.google.com/business-communications/business-messages/guides
https://businessmessages.google/
https://s

[2022-07-05 09:28] pranavrajs opened #4973 "Macros"
A macro is a set of saved actions that help the customer services agents easily complete a task. The agents can define a set of actions like tagging a conversation with a label, sending an email transcript, updating a custom attribute, etc and they can run these actions in a single click. When the agents run the macro, the actions would be performed automatically in a sequential in which they are

[2022-07-05 09:41] pranavrajs commented on #4971
Duplicate #2336

[2022-07-05 09:41] #4971 closed

[2022-07-05 09:42] pranavrajs commented on #4969
@vishnu-narayanan Can you please take a look?

[2022-07-05 09:43] pranavrajs commented on #4963
@ammaraslam It doesn't seem like something Chatwoot can do.

[2022-07-05 09:47] pranavrajs opened #4974 "Dashboard Apps Improvements"
From the feedback from the community around the dashboard app, I have compiled the following list of items that can be considered for future enhancement.

- [ ] Disable dashboard apps for a team or an inbox.
- [ ] Allow development only dashboard apps, which are visible for certain set of users only.
- [ ] Allow additional params in the URL

[2022-07-05 09:47] pranavrajs commented on #4957
@glauberssoutodossantos We will track it in https://github.com/chatwoot/chatwoot/issues/4974

[2022-07-05 09:47] #4957 closed

[2022-07-05 09:48] pranavrajs commented on #4958
Closing this, we will track it here https://github.com/chatwoot/chatwoot/issues/4974

[2022-07-05 09:48] #4958 closed

[2022-07-05 09:49] pranavrajs commented on #4960
@muhsin-k Can you please take a look at this?

[2022-07-05 09:59] pranavrajs commented on #4900
@glauberssoutodossantos It seems like we cannot distinguish between the default templates and the templates added by the user. Closing it for now.

[2022-07-05 09:59] #4900 closed

[2022-07-05 10:01] pranavrajs commented on #4895
Closing this as this issue cannot be reproduced. @reckerswartz Please feel free to reopen with logs that would help us debug this.

[2022-07-05 10:01] #4895 closed

[2022-07-05 10:04] pranavrajs commented on #4881
@CelestineAkpanoko Please listen to webwidget.triggered event in webhook and create a conversation with the APIs.

Please use [pre-chat](https://www.chatwoot.com/docs/user-guide/features/pre-chat-form) forms for this.

[2022-07-05 10:04] #4881 closed

[2022-07-05 10:05] pranavrajs commented on #4885
@axiliquint Closing this as the issue seems to be resolved. Please feel free to reopen the issue if it is not the case.

[2022-07-05 10:05] #4885 closed

[2022-07-05 10:10] pranavrajs commented on #4943
@SherefAbolmagd Please use the template to create the issue, it is not clear what the issue is.

[2022-07-05 10:10] #4943 closed

[2022-07-05 10:18] pranavrajs commented on #4536
Closed via https://github.com/chatwoot/chatwoot/pull/4702

[2022-07-05 10:18] #4536 closed

[2022-07-05 10:19] #4602 closed

[2022-07-05 10:19] #4603 closed

[2022-07-05 10:19] #4628 closed

[2022-07-05 10:21] pranavrajs commented on #4611
[code]

It seems like this is an issue in the configuration. You cannot access the Chatwoot super_admin in any other URL than the configured FRONTEND_URL.

Please feel free to reopen with more information if it is not the case.

[2022-07-05 10:21] #4611 closed

[2022-07-05 10:22] pranavrajs commented on #4612
Closing this as there is no activity for a long time. Please feel free to reopen if the issue is not solved.

[2022-07-05 10:22] #4612 closed

[2022-07-05 10:29] pranavrajs commented on #4624
Closing this chore as we have done one round of refactor during the last feature request.

[2022-07-05 10:29] #4624 closed

[2022-07-05 10:32] pranavrajs commented on #4962
Duplicate https://github.com/chatwoot/chatwoot/issues/4164

[2022-07-05 10:32] #4962 closed

[2022-07-05 10:48] pranavrajs commented on #4805
@SimonHausdorf The HMAC validation will if an invalid identifier_hash is provided. Please free to reopen the issue with more information if it is not the case.

<img width="520" alt="Screenshot 2022-07-05 at 5 44 45 PM" src="https://user-images.githubusercontent.com/2246121/177311161-0be7b242-9b9b-4d32-87e6-000248797df8.png">

[2022-07-05 10:48] #4805 closed

[2022-07-05 10:58] pranavrajs commented on #4915
Closing this as it is not reproducible from our end.

[2022-07-05 10:58] #4915 closed

[2022-07-05 11:00] pranavrajs commented on #4759
Closing this as the issue has been resolved via a call.

[2022-07-05 11:00] #4759 closed

[2022-07-05 11:00] pranavrajs commented on #4752
Closing this as there is no activity for a long time. Please feel free to reopen if the issue is not solved.

[2022-07-05 11:00] #4752 closed

[2022-07-05 11:00] pranavrajs commented on #4747
Closing this as there is no activity for a long time. Please feel free to reopen if the issue is not solved.

[2022-07-05 11:00] #4747 closed

[2022-07-05 15:30] sojan-official opened #4975 "feat: Retain only a single conversation thread for channels like WhatsApp / SMS"
ref: https://github.com/chatwoot/chatwoot/pull/4906

Currently, the new conversation option in the contacts panel creates a whole new conversation for Channels like SMS & Whatsapp. Should We append it to the same thread if an existing conversation exists rather than creating a new conversation thread as the underlying Channels are only retaining a single conversation thread?

Before building furth

[2022-07-05 15:44] pranavrajs commented on #4769
@seaner90 Sorry for missing this out. Would it be possible to share a screencast?

[2022-07-05 15:48] pranavrajs commented on #4954
@aslamabbas Thanks for the suggestion. It seems like this could be possible automation rather than an option in the inbox settings.

[2022-07-05 15:54] pranavrajs commented on #4936
@AllanSiqueira Please if this thread is helpful. https://github.com/docker/compose/issues/8449#issuecomment-892881479

It doesn't seem to be chatwoot-related. Closing this issue, for now, please feel free to reopen if it is not the case.

[2022-07-05 15:54] #4936 closed

[2022-07-05 17:16] muhsin-k commented on #4960
@prononext Could you please share more context about the issue (Screencast would be better) ?

[2022-07-05 17:32] iammattmartin commented on #4975
On new, maybe but for existing, that should be optional. i.e if conversation is resolved, some may want any new messages to appear as a new conversation.

Maybe the option to merge to a previous convo of the same channel would be useful!

[2022-07-06 00:32] glauberssoutodossantos opened #4977 "Dialogflow - Transfer from bot to specific agent or team"
**Is your feature request related to a problem? Please describe.**
Today dialogflow cannot handover to a specific agent (or even team).

**Describe the solution you'd like**
I have a chatbot made in dialogflow where the user chooses which area of ​​the company he wants to talk to. Something like:

1 - Commercial
2 - Support
3 - Financial
4 - Others

Depending on the option chosen, I would like to

[2022-07-06 00:43] glauberssoutodossantos opened #4978 "Automations - Assign to a specific agent"
**Is your feature request related to a problem? Please describe.**

Today automations allow you to assign a chat to a team.

**Describe the solution you'd like**
It would be interesting if I could assign the chat to a specific agent, as below.

![image](https://user-images.githubusercontent.com/99494469/177439108-4f7bc799-b079-470b-8f63-ff41664d75d7.png)

**Describe alternatives you've considered*

[2022-07-06 08:24] #4977 closed

[2022-07-06 13:08] vishnu-narayanan opened #4981 "chatwoot ctl video + docs"
- [x] create a video on installing chatwoot with the latest version of the install script
- [x] demo chatwoot ctl features
- [x] update documentation to mention chatwoot ctl

[2022-07-06 13:08] vishnu-narayanan opened #4982 "chatwoot ctl improvements"
- [x] Fix non-zero exit on `cwctl --logs` option
- [x] fix exit handler when no options given
- [ ] --install should install master branch
- [ ] Add -I to support installing custom branch

[2022-07-06 13:09] vishnu-narayanan opened #4983 "optimize posthog k8s + review config vars"
- [x] optimize posthog k8s
- [x] review config vars
- [x] upgrade posthog to latest version 1.37.1

[2022-07-06 13:27] vishnu-narayanan commented on #4969
@gonzalo You are on older version of docker engine and docker compose. Could you please try this on a recent version of docker and docker-compose?

ref 1: https://www.chatwoot.com/docs/self-hosted/deployment/docker#pre-requisites
ref 2: https://github.com/chatwoot/chatwoot/issues/2845

[2022-07-06 15:51] sojan-official commented on #4712
@fsalomon having multiple numbers under the same Facebook app is also supported, you can inbox for each number In chatwoot. but need to configure the webhook URL for only one of the inboxes in your Facebook app

[2022-07-06 19:41] vitos88 opened #4985 "Invalid token Platform API"
can't create registration using API
received the token using the command
app = PlatformApp.create(name: 'name')
app.access_token.token
token Nv8RQAfYFXFmdV5MYt4x3hVP1
  I use in postman

curl --location --request
    POST 'https://chatwoot.
    gotoguybot.ru/platform/
    api/v1/accounts' \
--header 'Content-Type:
    application/json' \
--header 'api_access_token:
    Nv8RQAfYFXFmdV5MYt4x3hVP'

[2022-07-06 19:47] #4804 closed

[2022-07-07 05:37] Jatin-MYST opened #4986 "Compile failed on step "rake assets:precompile RAILS_ENV=production""
**Describe the bug**

Tried to follow the self hosted linux VM setup steps.
Compile failed on step "rake assets:precompile RAILS_ENV=production". See log file.
[chatwoot-setup.log](https://github.com/chatwoot/chatwoot/files/9060639/chatwoot-setup.log)

I have tried terminating and trying on another of the same instance but no luck - getting the same error.

**To Reproduce**

Steps to reproduce the

[2022-07-07 06:45] pranavrajs commented on #4986
Relevant part in the logs:

[code]

[2022-07-07 07:41] ammaraslam commented on #4043
@pranavrajs I'm also looking for this, average response time of an agent on weekly/monthly or on custom dates.

Would be great if it's incorporated.

[2022-07-07 07:55] ammaraslam opened #4988 "Ability to auto end chat session in minutes/hours"
**Describe the solution you'd like**

Ability to auto end the chat session in minutes/hours instead of days if there's no activity.

**Describe alternatives you've considered**

An alternative would be to add this in automation with input so that it can end the sessions, but this approach would be lengthy and time consuming.

[2022-07-07 09:32] Vadorequest commented on #4728
I've tested the fix applied a few weeks ago. It works like a charm, I haven't noticed any issue so far. 👍

Regarding @RuiGuilherme comment, I wonder if it is really related to this feature request, as I don't see any obvious link (was it posted in the wrong issue?)

[2022-07-07 10:56] vishnu-narayanan commented on #4981
rough draft of the video
----
- log in to a fresh instance
- get IP and add DNS records
- get chatwoot ctl
- start installation
- open up another terminal and tail chatwoot-setup log
- describe what is happening at various stages of installation
- wait for the installation to complete
- open up the chatwoot URL and complete onboarding
- show other functionalities of cwctl
  - `--upgrade`
  - `--lo

[2022-07-07 13:52] gonzalo commented on #4969
You're right, running in a recent docker/docker-compose version solves the problem.

Regards

[2022-07-07 13:52] #4969 closed

[2022-07-07 14:09] sojan-official opened #4990 "feat: Enable Capacity Config UI"
@pranavrajs  Accommodating the last two conditions with retaining support for existing behavior will require significant changes for the round-robin services. So let's merge this PR with the UI for capacity config disabled.

Will open up a follow-up PR with the config to control assignment behavior for offline agents and let's introduce the capacity feature over that.

_Originally posted by @sojan

[2022-07-07 14:11] sojan-official commented on #1198
Phase 1 will be completed by  https://github.com/chatwoot/chatwoot/issues/4990

[2022-07-07 14:13] harismateen opened #4991 "Import contact, attachament not working"
Hi,

We are using Helm cart kubernetes GCP.
Two issues which we are facing,
1. Unable to import users from csv (even tried sample file also, and still same)
2. Unable to download attachment, throwing error "page can’t be found"

I have attached screenshots here

![image](https://user-images.githubusercontent.com/38554929/177794832-a31de6d8-148a-47ba-aaae-81b84c7695ce.png)
![image](https://user-ima

[2022-07-07 14:26] SimonHausdorf opened #4992 "Websocket, FileMessage size is 0"
When a agent uploads a file, the size is reported as 0 in the response in the websocket.

[2022-07-07 15:07] #4866 closed

[2022-07-07 15:11] b0k5on opened #4993 "Pre chat form - custom checkbox field issue if required"
Hi, if a custom checkbox field in the pre chat form is marked as required, you can still go through the form whit unchecked box

[2022-07-07 18:01] prononext commented on #4960
Just go to and create a custom attribute:

![image](https://user-images.githubusercontent.com/24569958/177838377-b16f588c-dc47-4ccd-a364-17f5d7e40bd7.png)

Then activate that attribute in a inbox pre-chat-form:

![image](https://user-images.githubusercontent.com/24569958/177838523-4c50e597-4ea6-4c35-8762-26bb92eee07c.png)
![image](https://user-images.githubusercontent.com/24569958/177839577-55486c

[2022-07-07 18:20] pucilpet opened #4995 "Whatsapp template missing variables for header and call to action urls"
**Describe the bug**

We can't send template messages with a variable in the header or in the call to action url. Should add the header variables at least because I think those are used a lot with the template messages.

Missing header object and button object from the spec.

Ref:
https://github.com/chatwoot/chatwoot/blob/a6c609f43db296ed55aecbc28503ddb4c96651a1/spec/services/whatsapp/providers/wh

[2022-07-07 23:05] giquieu commented on #4922
This one is very interesting. The ease of creating nodes is really cool.
Several possibilities with this flow builder.
Nice that it's done in Vue.js.

https://github.com/newcat/baklavajs

![image](https://user-images.githubusercontent.com/9892674/177885719-c44e856a-eeb6-4980-8405-98607e2edc16.png)

[2022-07-08 05:33] leoniscsem opened #4998 "application won't restart after upgrade"
**Describe the bug**

After upgrading Chatwoot to the latest version (2.6.0) and Ruby to 4.0.4, the system would not start anymore via systemd, as the journal log says there is already a server running.

**To Reproduce**

Steps to reproduce the behavior:
1. `sudo systemctl restart chatwoot.target`
2. go to domain
3. find nginx throwing an error 502

**Expected behavior**

Starting the systemd shou

[2022-07-08 05:42] p1slave commented on #1704
Same problem here. I can access postgre service from inside the postgre container and also from the host but the rails container seems to have trouble accessing the host port (I set it to 5433) that is bonded to the postgre service in the container.

[2022-07-08 06:59] vishnu-narayanan commented on #4991
This is resolved after setting up ActiveStorage to GCS[1].

1. https://www.chatwoot.com/docs/self-hosted/deployment/storage/supported-providers#using-google-gcs

[2022-07-08 06:59] #4991 closed

[2022-07-08 07:10] #4884 closed

[2022-07-08 08:28] #4775 closed

[2022-07-08 08:29] kylemclaren opened #4999 "[APM and Tracing] Add support for Elastic APM"
Add support for [Elastic APM](https://www.elastic.co/observability/application-performance-monitoring)

The Ruby gem is well-documented [here](https://www.elastic.co/guide/en/apm/agent/ruby/current/index.html).

[2022-07-08 08:34] vishnu-narayanan commented on #4986
Related #4743

[2022-07-08 08:39] sojan-official commented on #4993
closing in favor of #4960

[2022-07-08 08:39] #4993 closed

[2022-07-08 08:40] vishnu-narayanan commented on #4986
@Jatin-MYST This has been occurring randomly on our end as well. Could you try this out on a c-type instance? Say `c5.xlarge`?

[2022-07-08 08:43] sojan-official commented on #1704
you can follow https://www.chatwoot.com/docs/contributing-guide/environment-setup/docker

[2022-07-08 08:46] vishnu-narayanan commented on #4998
@leoniscsem Some processes must have crashed. Could you try to kill the rails server process manually and then restart the `chatwoot` service?

[code]

[2022-07-08 08:55] #4934 closed, assigned to fayazara

[2022-07-08 09:05] vishnu-narayanan opened #5000 "[CW-1570] feat: add makefile"
**Is your enhancement request related to a problem? Please describe.**
add a makefile to make local development easier

**Describe the solution you'd like**
make commands for local dev actions

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

<sub>[CW-1570](https://linear.app/chatwoot/issue/CW-1570/feat-add-makefile)</sub>

[2022-07-08 09:39] #4810 closed

[2022-07-08 10:24] grupale opened #5002 "Account number in URL"
I would like to know if the following behavior is correct
When I login with agent user "A" the URL to the dashboard is like "mydomain.com/app/accounts/1/dashboard"
Then if I enter with another agent user "B" the dashboard URL is also "mydomain.com/app/accounts/1/dashboard"

For inboxes, the URL defines a number for each, eg "/inbox/13", "/inbox/12" shouldn't it do the same for each user account? e

[2022-07-08 10:27] sojan-official commented on #3853
Thanks a lot for the feedback. We will introduce an environment variable, which lets you disable gravatar once https://github.com/chatwoot/chatwoot/pull/4719/ is merged

[2022-07-08 10:30] sojan-official commented on #5002
`Account` in Chatwoot refers to an organization
User in Chatwoot is scoped under a different model `User`

Since you are accessing the inboxes within the same account `1` in this case, Even though the users are different, the URL doesn't change. We don't have references to the user Id in any part of the URL.

[2022-07-08 10:30] #5002 closed

[2022-07-08 11:13] #4932 closed

[2022-07-08 11:54] #4604 closed

[2022-07-08 12:50] #4204 closed

[2022-07-08 13:48] gonzalo commented on #4969
Also can confirm that Docker version 18.09.9, build 039a7df9ba its enough to run it

[2022-07-09 08:39] seaner90 commented on #4769
@pranavrajs Hi, thanks for look into this issue, I realize that I haven't find a reliable reproduce yet, it appears randomly, maybe it's my problem, will get back to here if I confirmed.

but the widget indeed only load https://app.chatwoot.com/audio/widget/ding.mp3 after first click on the page, not when the widget is ready.

[2022-07-09 09:22] kylemclaren commented on #3233
For anyone running into this, if you're running `docker-compose`, try `docker compose`. And vice versa.

As per comment [here](https://github.com/docker/compose/issues/8449#issuecomment-914174592).

[2022-07-10 00:13] cgb commented on #3316
@pranavrajs Hey there just touching base about this, something today reminded me of this feature request so I thought I'd check in... :)

[2022-07-10 00:25] cgb commented on #2999
@muhsin-k Wondering if anything has developed on this?  Thanks!

[2022-07-11 04:29] Jatin-MYST commented on #4986
I tried on c-type instance and it worked. Thanks for the suggestion @vishnu-narayanan .
Don't quite understand why it would work on one type of instance and not the other.

Switched it back to t3a after it was done setting up though. Will that be a problem?

[2022-07-11 06:07] tejaswinichile opened #5012 "Add an API to create macros"

[2022-07-11 06:07] tejaswinichile opened #5013 "Add an API to execute macros"

[2022-07-11 12:15] tejaswinichile commented on #4791
@sojan-official For message `contains` we do case insensitive match. Maybe we can introduce the matched filter for the case exact insensitive match just for the message-content based filter.

Equal-to do the exact match because it works on other attributes too, so we can't change that.

[2022-07-11 12:30] voko3456 opened #5014 "360dialog templates not synchronized with chatwoot"
after we add template in 360 dialog we cant see the template in chatwoot we wait more than 24 hour but templates not loaded

[2022-07-11 16:04] vishnu-narayanan commented on #4986
@Jatin-MYST T-type instances are burstable instances. The CPU credits might have been used up during the compilation stage. That might be the reason.

[2022-07-11 16:07] vishnu-narayanan commented on #4983
Migrated the posthog workload from c5.2xlarge nodegroup to c5.xlarge node group. Brought down the number of instances in the cluster as well. This should bring the k8s cost by 75% for this cluster.

Upgrade the posthog deployment to latest version viz `1.37.1`.

[2022-07-11 16:07] #4983 closed

[2022-07-11 16:26] voarsh2 opened #5015 "No support for Redis Cluster?"
I migrated the data from the internal standalone Redis cluster because it's not highly available, I found that the environment variables didn't update the secret for the external password/host and url, saw things like "<not set>"

[code]

When setting the proper secret settings manualy, it appears Chatwoot doesn't play nice with a cluster:
[code]
https://stackoverflow.com/questions/64374113/replye

[2022-07-11 16:27] sojan-official commented on #2502
please follow some of the community integrations:

https://github.com/chatwoot/implementation-examples/tree/main/chatwoot-botpress-bridge
https://github.com/weunlearn/Chatwoot-Botpress-Bridge
https://github.com/douglara/chatwoot-botpress-bridge

[2022-07-11 20:52] nourkagha commented on #3316
Related: #1839

[2022-07-12 06:14] Jatin-MYST commented on #4986
@vishnu-narayanan There is no limit on CPU credits.
Oh well its installed now for me, so upto you guys if you want the issue to stay open for a permanent fix.

[2022-07-12 08:03] #3428 closed

[2022-07-12 08:14] vishnu-narayanan commented on #4986
@Jatin-MYST Yeah, you are right. T3 instances now have unlimited mode. I will try to reproduce this issue.

[2022-07-12 08:47] muhsin-k commented on #4960
@prononext I am not sure whether I understand your question correctly. The Link is used for collecting URLs from the end-user. The admin can see the URL in the dashboard if the user inputs a valid URL.

https://user-images.githubusercontent.com/12408980/178449694-df6411d8-6b4e-4c97-b840-86f90410cc5d.mov

[2022-07-12 08:52] sojan-official commented on #3870
@nosovk not at the moment. It's just that we haven't been able to prioritize this yet.

[2022-07-12 09:03] sojan-official commented on #4960
@prononext are you trying to configure something like #1231  ?  the pre-chat form at the moment isn't suited for that.

[2022-07-12 09:34] #1825 closed

[2022-07-12 13:29] voko3456 opened #5025 "bug: import contact, import the phone number as custom attribute"
hi we download the csv sample and we edit the phone numbers and emails but when we upload it the phone number is showing as custom attribute not as contact phone number

![image](https://user-images.githubusercontent.com/20530550/178501054-35295f18-d8b5-4a21-b83a-3298dce2f34e.png)

[2022-07-12 13:30] voko3456 opened #5026 "feat: add bulk action for contacts to send bulk template message via to contacts WhatsApp"

[2022-07-12 13:31] sojan-official commented on #5025
tracking over https://github.com/chatwoot/chatwoot/issues/3462

[2022-07-12 16:52] nosovk commented on #3870
Ok, I just thought that it's common case when company splits functionality across domains
https://www.chatwoot.com/
https://app.chatwoot.com/
You can't track users between your own domains…, It means starting ticket on documentation page is bad idea, if you want to continue in app dashboard,

[2022-07-12 19:47] prononext commented on #1231
👍 👍 👍

[2022-07-12 19:48] prononext commented on #4960
Nice one, the "LINK" is used to collect "URLs" from the end-user.

Better Call it "URL" than, because it is linking no one to nowhere 👍

But there is still the problem with the Checkbox validation.

@sojan-official Yes I am trying to configure something like this, because it would be much easier to just let the user use the pre, chat form to configure that consent than make a whole other project o

[2022-07-13 04:30] harismateen commented on #1758
@pranavrajs Can check if this functionality is available to suspend the agent instead of delete?

[2022-07-13 07:20] f10atin9 opened #5029 "No path to create initial account"
**Describe the bug**

I built my own chatwoot, when I want to log in to the web site there is no account to log in, and there is no portal to create an account

**To Reproduce**

Steps to reproduce the behavior:
1.Install the latest version of chatwoot via helm
2.Login to chatwoot-website
3.Jump to the login page directly

**Expected behavior**
I see the official installation video will jump to th

[2022-07-13 07:24] vishnu-narayanan commented on #5029
@f10atin9 Looks like you missed the onboarding page. This is usually when migrations are not run. Could you please confirm your installation setup?

[2022-07-13 07:46] f10atin9 commented on #5029
I followed the [doc](https://www.chatwoot.com/docs/self-hosted/deployment/helm-charts)
[code]

The ` chatwoot-worker ` and ` chatwoot-web ` deployments are working fine, do you have any troubleshooting ideas?

The chatwoot-web log is as follows, looks like no problem?
[code]

[2022-07-13 10:49] aslamabbas opened #5030 "View all notifications is broken"
**Describe the bug**

Text overflow in View all Notifications

**To Reproduce**

Send a long private note to another agent.

**Expected behavior**

Truncated text or show full text on hover.

**Screenshots**
![Screenshot 2022-07-13 at 4 17 00 PM](https://user-images.githubusercontent.com/1219448/178716686-060678d3-0690-4202-aa5e-510b913f0e94.png)

[2022-07-13 10:51] aslamabbas opened #5031 "Using bold for unread notifications"
**Is your enhancement request related to a problem? Please describe.**
Currently, it is not clear, if a notification is read or not.

**Describe the solution you'd like**
Just like the bold text of conversations, please add the same for notifications.
Bold = Unread
Normal = read

**Describe alternatives you've considered**
None

[2022-07-13 11:28] harismateen commented on #258
@pranavrajs can i ask of merge contact already in prod?

[2022-07-13 11:30] sojan-official commented on #258
yes you can
<img width="394" alt="Screenshot 2022-07-13 at 1 30 14 PM" src="https://user-images.githubusercontent.com/73185/178723888-aea3de3d-4146-4bd2-a2ca-6df237704f06.png">

[2022-07-13 12:25] pranavrajs commented on #5030
@iamsivin Can you please take a look at this and see if you can reproduce the issue?

[2022-07-13 12:27] iamsivin commented on #5030
Sure

[2022-07-13 18:08] yuri-mish commented on #3870
We have the same issue, otk.in.ua and lab.otk.in.ua. We can't track users across domains :(

[2022-07-14 03:02] weixingp opened #5038 "Single conversation for API inbox"
**Is your feature request related to a problem? Please describe.**
Difficult to produce single conversation behaviors in the API inbox.

**Describe the solution you'd like**
A single conversation option just like SMS / WhatsApp.

- UI: Has the option to decide if a new conversation should append to an existing conversation. (VS starting a new conversation)
- UI: Has the option to continue resolved

[2022-07-14 08:45] vishnu-narayanan commented on #4982
https://github.com/chatwoot/chatwoot/pull/5037

[2022-07-14 12:58] glauberssoutodossantos opened #5044 "send email to customer from automations"
**Is your enhancement request related to a problem? Please describe.**
I would like to send an email directly to the customer's email, without depending on the attendant.

Today our attendant, when closing a service, needs to send the transcript to the customer, through the service/chat page itself. But that depends on a human, who can forget to do it.

**Describe the solution you'd like**
In the

[2022-07-14 15:33] jimmybrancaccio opened #5046 "Unable To Create Label With Emoji"
**Describe the bug**

It appears one is not able to create a label that includes an emoji. I was attempting to create a label of '🤮 Spam' and when I click on the create button is says 'Title invalid'.

**To Reproduce**

Steps to reproduce the behavior:
1. Login as a user that can create labels.
2. Click on Settings > Labels.
3. Click on the 'Add Label' button.
4. Set the 'Label Name' to be 🤮 Spam.

[2022-07-14 16:41] jimmybrancaccio commented on #1795
This is definitely something I would like to see as well. At present if I get spam sent to an inbox, I have mark it as resolved when I'd rather mark it as closed or mark it as spam. As of now when I mark it as resolved it also sends a CSAT survey request email to the spammer which is less than ideal. If there was a Mark as Spam option it should just close out the conversation and do nothing.

[2022-07-14 16:44] jimmybrancaccio commented on #3972
Just tossing in my 'I hit Enter instead of Enter + Shift' for a new line and it sent an email to the end-user 😝. I too would love to see a toggle for this so one could pick between hitting Enter or Enter + Shift for a new line.

[2022-07-15 08:20] sojan-official opened #5049 "chore: Enable breakman and fix the issues"
- enable breakman in the pipeline
- fix the issues reported

[2022-07-15 09:27] #5030 closed

[2022-07-15 10:47] #4982 closed

[2022-07-17 09:15] jimmyheaddon commented on #4846
Hello @pranavrajs, I've had a look through the controllers and API YAML files, and it doesn't look like PATCH operations exist for updating custom_attributes in a conversation.

Let me know if you need a hand with some usecases/demo API calls 👍

https://github.com/chatwoot/chatwoot/blob/develop/swagger/paths/index.yml#L90

[2022-07-17 17:45] ChadBurggraf commented on #4281
I'm seeing this in Bugsnag as well:

[code]

Reviewing the source, I'm not sure I understand what the point of the `try/catch` block is, as it's not handling errors thrown in the promise.

I think it could be re-written as:

[code]

[2022-07-17 23:36] Xsmael commented on #450
as of now, some hosting providers, allow ruby apps in cPanels. Can this now be possible ?

[2022-07-18 03:23] napter commented on #2966
Hey - is there any way to do this now? Is this doable with the Chatwoot API? If so, even just a script to connect to the FB and Chatwoot API to do this would be great.

[2022-07-18 05:45] vishnu-narayanan commented on #4981
final --> https://drive.google.com/file/d/15_WH7EQiPnTR41Uc7cY9V-4b4k9QSJtj/view?usp=sharing

[2022-07-18 05:45] vishnu-narayanan commented on #4981
cc: @pranavrajs

[2022-07-18 05:52] aslamabbas opened #5053 "Add "Hi <ContactName>" to replies in Email Inbox"
**Is your enhancement request related to a problem? Please describe.**
Typing "Hi Name" is a repetitive process during email replies.

**Describe the solution you'd like**
Automatically add "Hi <contactName>" to the start of the conversation.

**Describe alternatives you've considered**

[2022-07-18 11:10] iammattmartin commented on #5053
This would have to be selective as not everyone will be sending a message with Hi or a greeting such as this. I know for us, any follow-up messages have no greeting as they don't require one because it is not an email conversation.

[2022-07-18 13:21] #4992 closed

[2022-07-18 17:55] Jarrodsz opened #5057 "Chat widget modifications?"
**Is your enhancement request related to a problem? Please describe.**

Need some modifications to the chat widget. Since its build in next would it be possible to custom build the widget or can the widget be placed in a seperate coddebase? I need it to look more like intercom no full screen widget expansion etc.

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-07-19 03:29] #4281 closed

[2022-07-19 05:09] aslamabbas commented on #5053
@iammattmartin Yes ,this may only makes sense in Email Inbox and my request is to add the same only in Email Inbox

[2022-07-19 05:22] pranavrajs commented on #5038
@weixingp I don't think there is a limitation in Chatwoot to achieve this. You can use it for both single-threaded and multi-threaded conversations. You can save the conversation_id on your end instead of searching in contact_conversations. This use case is too specific to be provided as an option.

Please feel free to reopen the conversation if you have further thoughts.

[2022-07-19 05:22] #5038 closed

[2022-07-19 05:24] pranavrajs commented on #5014
@voko3456 Can you please check if it is happening regularly or share any further information?

[2022-07-19 05:25] pranavrajs commented on #4995
@pucilpet Does it show such templates? I believe we filter those set of WhatsApp templates in the UI.

[2022-07-19 05:36] pranavrajs commented on #4985
Closing this as there are clear steps to reproduce the issue. Please feel free to reopen using the issue template.

[2022-07-19 05:36] #4985 closed

[2022-07-19 05:39] pranavrajs commented on #4930
Closing this as the review is complete.

[2022-07-19 05:39] #4930 closed

[2022-07-19 08:13] sojan-official commented on #4742
ref : https://discord.com/channels/647412545203994635/996811932487122955/997442742252732418

[code]

[2022-07-19 08:23] noezdev opened #5062 "Add new language: German Informal"
**Is your enhancement request related to a problem? Please describe.**
On a website that is formulated in German informally, i.e. addressing by "Du", the Chatwoot widget with the more polite "Sie" address looks completely out of place. However, more and more German websites, especially from the startup sector, are being formulated informally.

**Describe the solution you'd like**
Add a new languag

[2022-07-19 08:26] noezdev opened #5063 "Hide widgets if all agents are offline"
**Is your feature request related to a problem? Please describe.**
Some operators use Chatwoot only as a pure, instant live chat and not for continuous communication. Outside of agent online hours, some Chatwoot operators may want the customer to use an alternative contact method on the website and not send any further messages in the chat, as the user may then be frustrated by the lack of a respo

[2022-07-19 08:56] sentry-io[bot] opened #5064 "[CW-2234] Koala::Facebook::ClientError: No profile available for User"
Sentry Issue: [CHATWOOT-1S](https://sentry.io/organizations/chatwoot-p3/issues/3255202593/?referrer=github_integration)

[code]
https://developers.facebook.com/docs/messenger-platform/identity/user-profile

<sub>[CW-2234](https://linear.app/chatwoot/issue/CW-2234/koalafacebookclienterror-no-profile-available-for-user)</sub>

[2022-07-19 11:38] sojan-official commented on #5063
Tracking this over here: https://github.com/chatwoot/chatwoot/issues/273

[2022-07-19 11:38] #5063 closed

[2022-07-19 11:47] noezdev commented on #273
Almost 3 years since it has been reported. Are there any news on this issue?

[2022-07-19 12:06] sojan-official commented on #2966
@napter if you are building over an API channel in chatwoot, you can import the conversations; otherwise, it's not possible at the moment.

[2022-07-19 12:07] #5012 closed

[2022-07-19 13:47] jersonjunior commented on #3597
Any news?

[2022-07-19 14:34] saikat-here opened #5067 "Conversation rating on email"
**Describe the bug**

This is the notification users are receiving on email after resolving an conversion.

![image](https://user-images.githubusercontent.com/2095290/179776538-bb8f0ad4-df52-4fc4-85da-27484c2313a6.png)

There is no rating smiles to click.

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Sc

[2022-07-19 22:49] pucilpet commented on #4995
@pranavrajs Yes, those templates with the header variables are shown.

Some templates are missing though, but those are at the end of the list (so maybe there's a limit on how many we can get).

[2022-07-20 03:19] harismateen opened #5072 "Chat Widget to include Other Channels"
Hi,
Can add other channels also inside the Chat widget? Eg WhatsApp, Telegram etc?

<img width="371" alt="image" src="https://user-images.githubusercontent.com/38554929/179888976-30276eb9-b54f-48de-adcb-1e3f0bd6318c.png">

[2022-07-20 07:45] fayazara opened #5074 "Context menu for conversations"
A right click menu which allows you to
1. Resolve conversations
2. Reopen conversations
3. Mark conversations as pending
4. Snooze - Until next reply, Until tomorrow, Until Next week
5. Assign agents
6. Assign labels

[2022-07-20 07:58] #4596 closed

[2022-07-20 07:59] #4605 closed

[2022-07-20 09:11] #5031 closed

[2022-07-20 12:28] pranavrajs commented on #5072
@harismateen This could be an improvement. Thanks for the suggestion.

[2022-07-20 12:59] kubre commented on #2983
Any updates over here?

[2022-07-21 06:41] noezdev opened #5076 "Safari Auto-Away"
**Describe the bug**

When logged into Safari as an agent (Mac OS) and Chatwoot is in a tab that is not in the foreground, the status changes to Offline after a short time. You can prevent this by setting the auto_offline status of the agent to "false" via API (there is no option for this in the GUI?). However, this only shifts the problem, because now the status switches after a short time, altho

[2022-07-21 07:04] noezdev opened #5077 "Handoff Push"
**Is your feature request related to a problem? Please describe.**
For example, if you have set up a bot via Dialogflow, an agent will no longer receive a push notification about a new conversation. In this respect, this also makes sense, since the bot can solve the problem on its own if necessary. However, such a push notification should be sent at the latest after the bot sets the chat to handof

[2022-07-21 07:23] vishnu-narayanan commented on #4981
https://www.youtube.com/watch?v=vu_61D1VFAk

[2022-07-21 07:23] #4981 closed

[2022-07-21 07:32] sojan-official opened #5078 "bug: Sending Audio messages not working in Whatsapp Cloud"

[2022-07-21 07:37] sojan-official commented on #4917
@lengmiguel  closing this in favor of https://github.com/chatwoot/chatwoot/issues/3398
Also, group messages are not supported by the Whatsapp APIs. so at the moment there is no workaround for that

[2022-07-21 07:37] #4917 closed

[2022-07-21 08:17] noezdev opened #5079 "After contact has been deleted setUser won't take effect anymore"
**Describe the bug**

If you identify a contact with "setUser", chat with him and delete him afterwards, he cannot identify himself afterwards with "setUser" as long as the name is identical with the previous one.

**To Reproduce**

1. create a file "testwidget.html" and install your livechat there. Also set an "identifier" and name there using $chatwoot.setuser.

2. now you chat with the customer

[2022-07-21 08:32] pranavrajs commented on #5079
@noezdev This is an edge case that we have not thought about (IMO unusual as well 😅). The `setUser` calls are limited to once per session. We cache this data on the browser and block future calls if no change in the payload is done to avoid unnecessary setUser calls.

What happens here is that the browser doesn't recognize that the contact has been deleted, so the frontend cache is not deleted, he

[2022-07-21 08:33] noezdev opened #5080 "Duplicate zombie Session if double-click at chat too fast"
**Describe the bug**

If a customer, as in the test due to a slow Internet connection, presses the button several times when starting the chat, this results in a duplicate chat session which is confusing and incorrect.

The agent will then have 2 chat windows open with exactly the same "random name". In this case "Broken-Night-295".

No matter in which of the two chat sessions the agent answers, i

[2022-07-21 08:44] pranavrajs commented on #5076
@noezdev, A couple of points here.

1. The online status of agents is decided based on whether they have an active session in a browser or an app. This is done mostly by their active websocket connection. Since you are using the self-hosted installation, you might need to update the config to ensure that the server doesn't block long living connections. Please see more information here. https://ww

[2022-07-21 08:54] noezdev commented on #5076
Hello,

I understand. However, I assume that since it only occurs with Safari, that Safari simply won't let a background tab send anything. The problem also occurs on app.chatwoot. The back and forth with the online status, as long as iOS is running in addition, will probably be due to the interval of iOS reporting "Hey, the agent is here", but the session in Safari acts as "away". Difficult to de

[2022-07-21 10:09] voko3456 commented on #5014
@pranavrajs its happened with more than 1 account we have account ID 58 he have only 3 templates in his account but in 360dialog have around 10 templates

[2022-07-21 12:04] bfuchs opened #5081 "Email & attachments gets fetched again and again but no conversation is created"
**Describe the bug**

A specific email gets fetched by an email inbox via IMAP but no conversation will be created. The worker will create the attachments in storage. The next time the worker fetches the email, all attachments will be created again and again.

**Steps To Reproduce**

Not sure whats wrong with the specific email. It is a newsletter email with lots of html and lots of images with a

[2022-07-21 12:07] sojan-official commented on #4546
@sultanlive  Could you share a sample payload/links something?

[2022-07-21 12:25] noezdev opened #5082 "feat: Make Chatwoot truly multilingual based on browser language or other alternatives"
**Is your enhancement request related to a problem? Please describe.**
Chatwoot already has a multilingual widget. This can be controlled via the "locale". But there are hard contents in the following which can not be translated.

Among them title & subtitle as well as the welcome message and the "Out of office hours" message. Even via the SDK, such messages are not adjustable.

If you now create

[2022-07-21 12:54] MaoBueno opened #5083 "Send images and files with dialogFlow in the whatsapp channel"
**Describe the bug**

Is it possible to send files in whatsapp channel with dialogflow bot?

**To Reproduce**
How can I send files with dialogflow in chatwoot and have it recorded in the conversation in the whatsapp channel?

**Expected behavior**

Being able to send files such as images, video, audio, and others in the whatsapp channel with the dialogflow bot in chatwoot

**Environment**
Caprover

[2022-07-21 13:25] noezdev opened #5084 "Auto re-popup widget"
**Is your feature request related to a problem? Please describe.**
A customer browsing the website starts a chat. If he clicks on the first subpage, the chat disappears again at the bottom as a small bubble. Yes, the customer is informed about new messages, but the flow is still disturbed by it.

**Describe the solution you'd like**
If an active conversation is open and the customer's page reloads

[2022-07-21 13:46] noezdev opened #5085 "Wrong report count"
**Describe the bug**

If you have a conversation and then delete the contact, the sent messages still count in the report. However, the number of conversations and incoming messages are displayed correctly.

**To Reproduce**

Steps to reproduce the behavior:
1. Chat with a contact (Send 100 messages (in/out for example)
2. Delete the contact
3. Go to reports

**Screenshots**

X
**Browser logs**

X

[2022-07-21 13:56] bfuchs commented on #5081
I can reproduce the bug on your cloud hosted platform.

I created an account on the Chatwoot cloud platform and created an email inbox. I did not use IMAP this time. I just used the forwarding address provided by the email inbox.

I sent a test email with just text which created a new conversation and worked as it should. Then I sent the email that could not get fetched to the forwarding address a

[2022-07-21 17:27] #3853 closed

[2022-07-21 17:37] psifertex commented on #4109
Is this still valid? When I try this, I get:
[code]

[2022-07-21 17:47] hugodeco opened #5088 "bug: API Channel Greetings isn't following to web-hook"
We have an API Channel using Greetings and CSAT, but these messages won't follow the configured webhook.

[2022-07-22 06:37] noezdev opened #5089 "Missing translation in widget"
**Describe the bug**

If you had a conversation and open a new one as a contact you'll see a form which has a text, that is not translated.

"Share your queries or comments here."

**To Reproduce**

Steps to reproduce the behavior:
1. Open a conversation
2. Chat
3. Close
4. Open a new one

**Screenshots**

**Browser logs**

**Server logs**

**Environment**
app.chatwoot & self hosted linux

**Deskt

[2022-07-22 08:06] karzounapp commented on #4712
hello team
i have problem withe add WhatsApp cloud channel
erorr (We were not able to save the WhatsApp channel)
any issuse please
![Screenshot 2022-07-22 110455](https://user-images.githubusercontent.com/107565124/180393529-bd7ad71d-c106-448d-9549-8c91bc7d1f9d.png)

[2022-07-22 09:39] #4999 closed

[2022-07-22 12:36] jean-philippeansel commented on #4916
Hi @pranavrajs !
I investigated further, and the error 500 is because of a particular conversation that Chatwoot is not able to load. I was able to export the conversation for you as insert queries:

[code]

Is there something here that can cause an error ? account_id, inbox_id, assignee_id and contact_id do exist in the database.

[2022-07-22 14:07] WevrLabs opened #5093 "enhancement: Twitter channel: option to disable greeting and away messages for incoming tweets"
**Is your enhancement request related to a problem? Please describe.**
Right now, the greeting and away messages are triggered for incoming tweets and DMs, which may sound inconvenient in the case of tweets.

**Describe the solution you'd like**
Add an option to disable greeting and away messages when the incoming conversation is a tweet.

**Describe alternatives you've considered**
Completely dis

[2022-07-22 14:38] voko3456 commented on #5093
@pranavrajs If this really happened it should be fixed asap and disable greeting and away message for tweets otherwise the Twitter app will be restricted from Twitter and will not work again because it's vaioliting the twitter app policy

[2022-07-22 14:47] #5093 closed

[2022-07-22 14:47] sojan-official commented on #5093
@WevrLabs, which version of Chatwoot are you using?
Greeting and away messages won't get triggered for tweets.

[2022-07-22 15:42] sergioadofaci opened #5094 "Unable to create Whatsapp Cloud API Inbox"
**Describe the bug**

We are not able to create a Whatsapp Inbox with Cloud API.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Settings
2. Click on Inboxes, Add Inbox
3. Complete the required information.
4. See error

**Expected behavior**

The inbox should be created.

**Screenshots**

<img width="442" alt="image" src="https://user-images.githubusercontent.com/14948700/180474542-e

[2022-07-22 15:50] CosmoAbdon commented on #5094
+1
This just happened with me too.
Using: 360Dialog

[2022-07-22 15:55] CosmoAbdon commented on #5094
UPDATE: Using an NGROK, and re-setting that on my .env.

[code]
I was able to create my WhatsApp Inbox with 360Dialog :)

[2022-07-22 17:04] harismateen opened #5096 "After upgrade 2.7, unable to load chats"
Hi,
we are using GCP Helm Charts, after we upgraded from 2.5 to 2.7, somehow it stuck and unable to load the chats, but we can see the contacts.
I have attached screenshots also -

<img width="1206" alt="chatwoot stuck on loading" src="https://user-images.githubusercontent.com/38554929/180489046-c6c255ae-8071-4ea6-af6d-67fd03b6e225.png">

Logs -
![image](https://user-images.githubusercontent.com/3

[2022-07-22 17:58] sergioadofaci commented on #5094
In my case, running db:chatwoot_prepare didn't fix the issue.

[2022-07-22 20:33] sergioadofaci commented on #5094
Just migrated to a docker install, same issue happened.

[2022-07-23 10:16] sojan-official commented on #5094
Please see if you have the correct keys, following this documentation

[2022-07-24 15:16] danghung-dev commented on #4210
Do we have any update on this issue?
We can create a Conversation attribute, but we cannot set custom attribute to Conversation.

[2022-07-24 15:25] twhiting9275 opened #5098 "Facebook just spinning when trying to add a new inbox"
**Describe the bug**

On self hosted instances, when trying to create a new 'inbox' for messenger, clicking the facebook button just sits there and spins and spins

**To Reproduce**
1: Go into chatwoot
2: attempt to create a Facebook inbox
3: Watch the spinny

**Expected behavior**
Facebook dialog page should show up, allowing user to enter necessary credentials

**Browser logs**

Upon launching t

[2022-07-24 15:55] danghung-dev commented on #4639
I have the same issue when upload image from slack.
I am using version 2.7.0

![image](https://user-images.githubusercontent.com/5670932/180655621-9e44d9bc-482e-405b-b95d-e2fffa4fc3c7.png)

[2022-07-24 20:16] nikkuexe commented on #4791
Perhaps another way to solve this would be to introduce a regex filter for automation rules? That would allow for various matching patterns, including case sensitivity.

[2022-07-24 20:18] nikkuexe commented on #5098
Did you follow these steps? https://www.chatwoot.com/docs/self-hosted/configuration/features/integrations/facebook-channel-setup

[2022-07-24 22:27] giji opened #5099 "Georgian language"
hi, I would happy to translate interface to Georgian language (https://en.wikipedia.org/wiki/Georgian_language) , could you please add it  to translation project

Thank you

[2022-07-25 04:46] giquieu commented on #4004
@sojan-official
I did several tests and could not reproduce the situation reported.
I get correct result, from Dialogflow and API Hook.

IMHO, that is no longer occurring.

I configured the integration with Dialogflow, as suggested by the documentation.
https://www.chatwoot.com/docs/product/channels/live-chat/integrations/dialogflow
And following the steps for communication through the API:
https:

[2022-07-25 04:49] giquieu commented on #5078
@sojan-official
Anyone working on this? I can investigate if needed.

[2022-07-25 06:36] Ysajid opened #5100 "Allow case insentitive start phrase for private notes from Slack integration"
**Is your enhancement request related to a problem? Please describe.**
I used capital-lettered "Note:" to have a private note to the team on a customer query from slack. But unfortunately, it was sent as an email.

**Describe the solution you'd like**
Allow both "Note:" and "Private:" to leave an internal msg from Slack.

**Describe alternatives you've considered**
N/A

**Additional context**
If t

[2022-07-25 07:56] sojan-official commented on #5078
@giquieu  not at the moment. That would be super helpful. ❤️

[2022-07-25 08:16] vishnu-narayanan commented on #5029
@f10atin9 Were you able to resolve the issue?

[2022-07-25 08:18] f10atin9 commented on #5029
I deleted all the data and reinstalled and solved it

[2022-07-25 12:31] sojan-official commented on #4004
@giquieu  Thanks a lot for the findings. Let's close this out and reopen it in case it reoccurs.

@aldhielman   note: Dialogflow intent detection max text length is 256 characters. In cases where its more, it wouldn't return a result.

ref: https://cloud.google.com/dialogflow/quotas

[2022-07-25 12:31] #4004 closed

[2022-07-25 12:32] sojan-official commented on #5100
@Ysajid  Sure. Please go ahead.

[2022-07-25 12:53] sojan-official commented on #4639
@tejaswinichile  This was fixed in https://github.com/chatwoot/chatwoot/pull/3022, right ? could you check if the APIs changed?

[2022-07-25 13:05] substr2837 commented on #5085
Can I work on this issue?

[2022-07-25 13:17] substr2837 commented on #4931
Can I work on this issue?

[2022-07-25 13:21] substr2837 commented on #4651
Can I work on this issue?

[2022-07-25 13:36] sojan-official commented on #4651
@substr2837  Since this issue doesn't have detailed spec. Please share the approaches you considering before writing a significant amount of code so that there wouldn't be any confusion.

[2022-07-25 13:41] sojan-official commented on #5099
Enabled Georgian in Crowdin
ref: https://chatwoot.crowdin.com/chatwoot/ka

let us know if you need further help.

[2022-07-25 13:41] #5099 closed

[2022-07-25 13:44] sojan-official commented on #5096
@harismateen, the error noted in the screenshot looks unrelated.  Could you go to the network console in your browser and see if there are any errors there while loading the /conversations endpoints ?

[2022-07-25 15:17] darkpixel commented on #4639
I just upgraded to the lasted Helm release and images are still not coming through to Slack.

[2022-07-25 15:19] sojan-official commented on #4639
@darkpixel Thanks for the update. We will take a look and get back.

[2022-07-25 16:49] uhlhosting commented on #4916
I also got issues in latest release using it from caprover with minio. I just upgraded to latest release and managed to finally make minio work. So it works well when I send images from within the mobile app. Yet it fails with 422 when I try ti send it from web browser widget.

[2022-07-25 17:03] clairton commented on #1021
Hello @sojan-official,  could I do this?

[2022-07-26 03:14] pranavrajs opened #5107 "Scroll resets to bottom when a new conversation is created"
Scroll in the message view resets to the bottom when a new conversation is created even though there is no new message in the currently active conversation. This is annoying behavior if you get a lot of conversations in the application. The scroll would reset every 10-15s.

**Expected**: Scroll to the bottom would only occur if a new message is sent from the reply box or a new message is received

[2022-07-26 04:15] JWesorick opened #5109 "Easy way to delete records"
**Is your feature request related to a problem? Please describe.**
Growing database and cluttered list of Contacts.

We have a lot of visitors who don't interact with the chat but a Contact is still creating in Chatwoot. If a campaign triggers for them there is also a Conversation. Even conversations we do have we don't need to keep beyond a few days. This results in a growing database of stuff we

[2022-07-26 04:26] JWesorick opened #5110 "feat: "User has sent a message" filter on Conversations list"
**Is your feature request related to a problem? Please describe.**
We have a Campaign running. When people click it it creates a conversation, but they rarely begin/continue the conversation. This creates a ton of clutter on the conversation view with lots of dead end conversations that are just the initial Campaign message. Each conversation must be manually resolved to remove it from the view.

[2022-07-26 04:30] JWesorick opened #5111 "feat: Auto-resolve conversations"
**Is your feature request related to a problem? Please describe.**
Our number of open Conversations can become very large to the point where resolving all the stale conversations is a chore.

**Describe the solution you'd like**
Auto-resolving conversations if there has been no activity on them for X days.

[2022-07-26 05:10] #5107 closed

[2022-07-26 05:17] #5074 closed

[2022-07-26 05:21] pranavrajs commented on #5089
<img width="619" alt="Screenshot 2022-07-26 at 10 51 32 AM" src="https://user-images.githubusercontent.com/2246121/180929423-3e3fad42-5124-4cb0-9a00-9d0d7efd9d55.png">

@noezdev This content can be edited in Inbox Settings.

[2022-07-26 05:22] #5089 closed

[2022-07-26 06:22] fayazara opened #5112 "Fix : overflowing submenus in conversation context menus"
Very long sub menus overflow out of the screen

[2022-07-26 06:27] harismateen commented on #5096
@sojan-official we received 500 status code, with internal server error

[2022-07-26 06:58] pranavrajs commented on #5111
<img width="539" alt="Screenshot 2022-07-26 at 12 28 05 PM" src="https://user-images.githubusercontent.com/2246121/180943404-34901a92-b87e-495b-96f6-2f88d5d5b0b2.png">

Please configure this option in the account settings.

[2022-07-26 06:58] #5111 closed

[2022-07-26 07:11] #5013 closed

[2022-07-26 07:46] JWesorick commented on #5111
Thanks! Sorry I missed it.

[2022-07-26 07:56] sojan-official commented on #1021
@clairton  Sure please go ahead.

[2022-07-26 11:00] devmato opened #5115 "Function to assign a conversation to different contact after creation"
**Is your feature request related to a problem? Please describe.**
every time a new conversation is started trough the website inbox a new contact with a random name is generated. i couldn't find any possibility to reassign the new conversation to an existing contact wich has been previously imported from our CRM (by api)

The only way i could find is to use the "merge contact" function in the web

[2022-07-26 12:18] sojan-official commented on #5115
have you explored using `setUser` method in our SDK .
 https://www.chatwoot.com/docs/product/channels/live-chat/sdk/setup/#set-the-user-in-the-widget

[2022-07-26 12:20] sojan-official commented on #5096
@harismateen Could you share the error logs of that?  The logs currently shared are of dashboard apps, which seem different.

[2022-07-26 13:31] devmato commented on #5115
Yes i know the setUser  method over the Javascript SDK, but unfortunately this isn't usable for us, because our backend isn't accessible over the public internet and the website where the chat widget is embedded is just a regular static page.

As i have mentioned before chatwoot is just a secondery system for us and i have considered the following workflow:
- Customer starts a chat on our website

[2022-07-26 14:33] sojan-official commented on #5115
@devmato conversations can't be moved between contacts. But maybe you can make this work using the merge contact.

Merge contact functionality works with the current contact as the base contact.
In your case, during step 2: After you find or create the appropriate contact in Chatwoot Database via API,  just merge the contact id with a random name into the contact you found over API?  This merge ca

[2022-07-26 17:12] #4855 closed

[2022-07-27 05:06] devinellis commented on #4929
FWIW I had the same issue but found this solution on Discord first: https://discord.com/channels/647412545203994635/650257251856285707/990972847306465290

```bundle exec rails db:chatwoot_prepare ; bundle exec rails db:migrate```

Interesting that the migration didn't run automatically when the latest image was pulled and started?

[2022-07-27 05:49] Ysajid commented on #5100
@sojan-official I've submitted a PR for this.

[2022-07-27 06:28] devmato commented on #5115
i will try to resolve my problem by using the contact_merge API. thank you!

Anyway i think this two features would be very helpful for similar use cases. Are they planned to be added at sometime to Chatwoot?
- Choose direction when merging contacts via webui
- Assign conversations to different contact at least via api

[2022-07-27 06:58] genonioff opened #5124 "Plesk and Docker"
Hello, how are you? I would like to know if your tool is available and functional on servers using Plesk & Docker? Thanks

[2022-07-27 07:30] vishnu-narayanan commented on #5124
@genonioff

We don't officially support running on Plex. We publish official docker images which you can use with your favourite orchestration tool.

 Please find the list of officially supported deployment options at https://www.chatwoot.com/deploy/

[2022-07-27 07:41] drdaga commented on #5078
i checked actually audio file type should not pass caption parameter

i written simple if else

`def send_attachment_message(phone_number, message)

    attachment = message.attachments.first
    type = %w[image audio video].include?(attachment.file_type) ? attachment.file_type : 'document'
    attachment_url = attachment.download_url
    if type == "audio"
      response = HTTParty.post(
      "#

[2022-07-27 09:14] noezdev commented on #5089
Then you should convert my request into a bug report. Because the message is still shown also if you have disabled pre-chat form when a guest is opening a new conversation after a previous conversation has been resolved.

[2022-07-27 09:46] pranavrajs commented on #5089
Can you please share a screenshot?

[2022-07-27 10:21] RodolfoMonge commented on #1704
Same issue.

docker-compose run --rm rails bundle exec rails db:chatwoot_prepare
....
+ pg_isready -h localhost -p 5432 -U postgres
localhost:5432 - no response
+ sleep 2

Unable to prepare/migrate Postgres DB.

From my local host, I have access to postgres DB:
root@localhost:/software/chatwoot# psql -h localhost -p 5432 -U postgres
Password for user postgres:
psql (14.4 (Ubuntu 14.4-0ubuntu0.22.0

[2022-07-27 10:30] pucilpet opened #5128 "Whatsapp cloud - can't start a conversation with a template"
**Describe the bug**

When I try to start a new conversation with a template in the whatsapp cloud api channel, nothing gets send to the contact. Only when the conversation is started and I send the template message again, the message is sent to the contact.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a new contact (or use an existing one, same difference)
2. Start a new conversa

[2022-07-27 10:44] voko3456 opened #5129 "whatsapp cloud api and 360dialog templates not loaded in chatwoot after approved and wait more than 24 hr"
i have identified the issue that only if i create template via api it will not load in chatwoot but when i create it via whatsapp manager it load after 15 minutes this case is only for cloud api but for 360dialog its not load even if i create it from 360dialog gui its better to make cron job to call message_templates endpoint and load them in chatwoot write now i think its load template via templa

[2022-07-27 14:15] substr2837 commented on #4651
Here are my approaches:
1) Add the integration page for Shopify. That page will be used to store the API key and API secret of Shopify
2) If the customer sends the message that contains the keyword "Shopify Order", the application will automatically reply that chat with a text box and ask the customer the order number
The order number will be stored on DB.
3) This order number will be used to rece

[2022-07-27 14:17] hiagodotme opened #5131 "Infinite looping with mailboxes with no-reply addresses"
**Is your feature request related to a problem? Please describe.**
When an email arrives and the reply is set to a no-reply box, chatwoot and the server that originated the message keep exchanging messages non-stop. Literally an "infinite loop". This is because chatwoot inbox has auto reply setting.

**Describe the solution you'd like**
A solution would be to analyze the subjects and the email add

[2022-07-27 14:42] pranavrajs commented on #5131
@hiagodotme Can you please share the version of Chatwoot you are using?

[2022-07-27 16:14] sojan-official commented on #5078
@drdaga Thanks for the findings. Would you be interested in raising a PR? or should we take it up?

[2022-07-27 18:34] twhiting9275 commented on #5098
After doing that, the popup window shows up. Unfortunately, it's just blank, so obviously that documentation (like the Twitter documentation) is incorrect somewhere, or something is missing

[2022-07-27 20:03] nourkagha commented on #5128
Just set up a WhatsApp Cloud inbox and having the same issue. My templates also haven't synced to Chatwoot and I just have the sample templates.

[2022-07-27 21:10] jemilu2 opened #5134 "Password reset request api error message"
**Background**
The current api at (/auth/password) returns the following error message
`{"message":"Uh ho! We could not find any user with the specified email."}`.

That reveals information about users on a particular chatwoot instance.

The current best practice is to make the request appear to have succeeded
regardless of whether a user was found or not.

**Feature Request**

- Change the error

[2022-07-27 22:28] giquieu commented on #5078
@drdaga @sojan-official
If you don't mind, I sent the PR.
As we send the media type as audio, Whatsapp renders it as a single audio file. To render as a recording, we would need to change the media type to voice to send as a voice recording.

[2022-07-28 02:56] drdaga commented on #5078
abt Twilio & D360 they are hosted whatsapp api so even if we send caption they will ignore it
and cloud whatsapp api it its send directly to meta server so it will have an error
@giquieu u can send the pr no problem as i dont knw much abt coding its jst as hobby by profession i am doctor implemented chatwoot for our hospital and our consulting doctors so using chatwoot

[2022-07-28 02:58] drdaga commented on #5078
also abt .amr its jst dont playback within chatwoot inteference
even .amr files gets uploaded bt doesnt playbacks thats only issue remaining
if we jst convert of even change .amr filename to .mp3 it can be played

[2022-07-28 04:12] duongvanphung opened #5136 "We need real time typing"
We want chatwoot team to develop real time typing feature. Show the customer's typing content in real time instead of just showing "typing..."

[2022-07-28 04:27] #5100 closed

[2022-07-28 05:01] pranavrajs commented on #5049
@sojan-official Can we close this issue?

[2022-07-28 06:09] noezdev commented on #5089
Sure,

![Bildschirmfoto 2022-07-28 um 08 08 50](https://user-images.githubusercontent.com/21970985/181432911-c38f05f1-a990-4959-a659-56cb1d3b80bf.png)

[2022-07-28 06:25] duongvanphung commented on #4353
i need #1137

[2022-07-28 06:26] duongvanphung commented on #1137
The feature looks like a must. Really helpful.

[2022-07-28 06:47] sojan-official commented on #5136
closing in favor of https://github.com/chatwoot/chatwoot/issues/1137

[2022-07-28 06:47] #5136 closed

[2022-07-28 06:53] sojan-official commented on #5049
@pranavrajs We are still working on it. Breakman isn't enabled yet on CI since there are pending issues reported by it.

[2022-07-28 09:48] sojan-official commented on #4651
@substr2837 That's a good start. How about this approach?

1. Add the integration page for Shopify. That page will be used to store the API key and API secret of Shopify
2. Once the integration is added, a job is initiated that will sync all the customers in the Shopify store to Chatwoot as contacts ( matching them with email and phone number ) ( the shopify_id can be added to the additional attri

[2022-07-28 09:50] sojan-official commented on #1704
@RodolfoMonge Could you link the documentation page you are following for the setup?

[2022-07-28 11:13] substr2837 commented on #4651
I think is its better approach @sojan-official . Huge thanks for reviewing my approaches and for sharing a really good thoughts. I will start working on this feature then.

[2022-07-28 11:35] sojan-official commented on #4651
@substr2837  no problem. Let us know if you need any help.

[2022-07-28 12:35] KubesDavid opened #5138 "Replace some packages with native functions"
**Is your enhancement request related to a problem? Please describe.**
Some of the packages used can be easily replaced by native JS functions. This will reduce the overall size.

**Describe the solution you'd like**
Replace 'copy-text-to-clipboard', 'country-code-emoji' and 'query-string' packages with native functions.

[2022-07-28 13:23] RodolfoMonge commented on #1704
Hi.
Thanks for your answer.
I was finally able to configure.
The problem was that I put localhost in the POSTGRES_HOSTNAME variable, when the correct setting is POSTGRES_HOSTNAME=postgres (since that is the name of the container that has the database).

Documentation followed for configuration:
Docker Chatwoot Production deployment guide | Chatwoot

|
|
|
|  |  |

 |

 |
|
|  |
Docker Chatwoot Pro

[2022-07-28 13:36] jeovajireh opened #5139 "Automation does not stop even after the message is assigned to a team of agents"
Automation does not stop even after the message is assigned to a team of agents

Hi! Using automation, even after transferring to an agent, any message typed by the user in whatsapp automation is displayed again.

I open Twilio's WhatsApp

I say hi

I get a menu

Enter the option below:

1 - For Finance
2 - Secretary
3 - Talk to support.

I type 3, I receive the message that I am being transferred

[2022-07-28 14:00] #5124 closed

[2022-07-28 14:04] pranavrajs commented on #5134
@jemilu2 I'm not sure whether this would be helpful. The system would throw an error when the user signs up, and the same information is available in that API.

Also, we have a rate limit configured so that a random script cannot scrape this information.

I'm not sure what this means. Can you please elaborate?

Closing this as the reply solves the query. Please feel free to reopen this if it is no

[2022-07-28 14:04] #5134 closed

[2022-07-28 15:16] jean-philippeansel commented on #5128
I'm have the same issue as well.

[2022-07-28 19:52] KubesDavid opened #5143 "Improve Nginx settings for speed and security"
**Is your enhancement request related to a problem? Please describe.**
There is plenty of room for speed and security improvements in the current Nginx configuration.

**Describe the solution you'd like**
Improve the existing Nginx setup by removing unnecessary directives and adding new ones. This will improve overall speed and security.

[2022-07-28 21:24] voarsh2 commented on #3489
I don't see where this super admin dashboard is? How do I get it? I am the "super admin"

[2022-07-28 21:35] aiuoe commented on #4109
ActionView::Template::Error (undefined method `super_admin_super_admins_path' for #<ActionView::Base:0x0000000003f4d0>

[2022-07-29 03:45] muhsin-k opened #5145 "chore: Portal API improvements"
**1. Add more meta information in portal end point**

API URL —> `{{host}}/{{api_version}}/accounts/{{account_id}}/portals`

API Method —> `GET`

- Add `archived_articles_count`, `published_articles_count` and `draft_articles_count` and `mine_articles_count` in the meta object.

**Payload format**
[code]
**2.  Support author_id and status (draft, archived, & published) filter params in article end

[2022-07-29 06:13] chenlei9907 opened #5147 "stop at linking with Facebook"
I am setuping up with Facebook,
Chatwoot run in docker-compose dev mode, self hosted.

In FB app side, i have setup Handover Protocol to use my App as primary. All APP id/secret/verify token has setup on both FB side and Chatwoot env side. Also turn on the "Require app secret" in FB APP adv settings.

When i add messager as Inbox in Chatwoot,  normal login FB, everything looks good. Until FB windo

[2022-07-29 09:59] SherefAbolmagd opened #5148 "conversation identifier filter giving 500 internal server error"
conversation filter using conversation identifier is returning 500 internal server error on self hosted server

Steps to reproduce the behavior:
1. after login
2. click on the filter icon beside the conversation title
3. choose filter with Conversation Identifier and set the condition to be contain and set a random value
4. click apply filter

**Expected behavior**

to show the conversation with t

[2022-07-29 13:18] andredanner commented on #2898
I have a **startup running that does chat- and voicebots** for specific sme use cases. The only reason that I am currently reluctant to offer my customers chatwoot as fully flechted contact center approach including bot integration is the missing VOIP Part.
More than happy to follow the discussion and/or to start into the design discussion. As I am not really feeling familiar with the chatwoot arc

[2022-07-29 13:22] hiagodotme commented on #5131
@pranavrajs the last version `2.7.0-ce`.

[2022-07-29 16:28] hugodeco opened #5150 "General Encoding Problem"
Error on send an EMail with latin ASCII caracters as á or ã.

To reproduce, just write an e-mail response with these caracters, subject is not affected, suject is ok.
The problem is on body.

Sidekiq log:

ConversationReplyMailer#email_reply | {"_aj_globalid"=>"gid://chatwoot/Message/8084"} | ActionView::Template::Error: "\xC3" from ASCII-8BIT to UTF-8

[2022-07-30 14:30] clairton commented on #1021
Hello guys, this PR in fine?

[2022-07-31 15:48] drexlma commented on #742
try this https://github.com/chatwoot/chatwoot/blob/develop/app/views/widget_tests/index.html.erb

[2022-07-31 18:07] sojan-official commented on #1021
@clairton  Could you create a pull request against chatwoot#develop using the appropriate branch where you have made the changes?

You should be able to do it from here :

https://github.com/chatwoot/chatwoot/compare/develop...clairton:chatwoot:b2.7.0

[2022-07-31 20:10] aiuoe opened #5155 "screen share in inbox of type website"
I can add request screen share feature to website type inbox, please let me know if you are interested, I have done it before for a company I work for

- [ ] add feature of share screen on inbox of type website

[2022-08-01 09:08] clairton commented on #1021
https://github.com/chatwoot/chatwoot/pull/5157

[2022-08-01 09:53] fayazara opened #5158 "Assign teams option in context menu"
Add a assign teams option to conversation context menu

[2022-08-01 10:20] voko3456 opened #5159 "feat: Ability to Set Account limits When Creating Account Via API"

[2022-08-01 12:14] sojan-official commented on #5148
@SherefAbolmagd  could you share the server logs for the same?

[2022-08-01 12:40] kurtsudonumcom opened #5161 "Search requests timeouts, backing up other requests in queue."
**Describe the bug**

Wanted to report a possible issue with the frontend search utilising the the `api/v1/conversation/search/` endpoint.

We have over ~4M messages, and what we experience when agents hit the search endpoint to frequently, there seems to be a delay and eventual timeout - looking at the logs the tasks exceeds the 15s and timesout, and subsequent requests such as `toggle_status` or

[2022-08-01 13:32] #4780 closed

[2022-08-01 13:37] tejaswinichile commented on #4595
Self-notes

Going forward with the below documents:
1. Caddy https://caddy.community/t/https-for-dynamic-subdomains-and-custom-domains/7921
2. Cloudfare https://developers.cloudflare.com/dns/zone-setups/partial-setup/setup/

I will be testing both the setup on staging and will check which is easy for further setup when an actual client will use this.

[2022-08-01 14:29] #4931 closed

[2022-08-01 15:10] clanto007 opened #5163 "Share phone number with Telegram"
**Is your feature request related to a problem? Please describe.**
When someone contacts us via telegram we do not have their telephone number. It is difficult to recognize a person who is pretending to be another.

**Describe the solution you'd like**
The Telegram bot can ask for your location and phone number, so when you click on the button your phone number is sent. It would be perfect if thro

[2022-08-01 19:28] TuxADN opened #5165 "gpg: keyserver receive failed: no keyserver available"
**Describe the bug**

I'm trying to install Chatwoot on a fresh ubuntu 20.04 but I'm receiving this error in the installation log:

gpg: keyserver receive failed: no keyserver available

The installation stops and exits to the console.

Please advise how to resolve this situation.

**To Reproduce**

Just plain brand new installation in a fresh Ubuntu server, following instructions described here:

[2022-08-02 07:34] #4287 closed

[2022-08-02 09:47] sentry-io[bot] opened #5168 "ArgumentError: comparison of Integer with String failed"
Sentry Issue: [CHATWOOT-RW](https://sentry.io/organizations/chatwoot-p3/issues/3438668961/?referrer=github_integration)

[code]

[2022-08-02 09:58] #5145 closed

[2022-08-02 10:05] #5168 closed

[2022-08-02 12:31] vishnu-narayanan commented on #5165
Could you please confirm the version of the install script you are using?

[code]

[2022-08-02 13:54] vishnu-narayanan opened #5170 "epic: self-hosted docker enhancements"
- [x] improve the overall installation experience
- [x] https://github.com/chatwoot/docs/issues/263
- [x] https://github.com/chatwoot/chatwoot/issues/4894
- [x] https://github.com/chatwoot/chatwoot/issues/4278
- [x] https://github.com/chatwoot/chatwoot/issues/3407
- [ ] explore docker swarm support
- [ ] explore portainer support

[2022-08-02 13:59] tejaswinichile opened #5171 "Add lockable devise fucntionality"
**Is your enhancement request related to a problem? Please describe.**
Lock the account after maximum login attempts

**Describe the solution you'd like**
Set maximum_attempts configuration in the devise setting and get the maximum attempts constant from the environment file

**Describe alternatives you've considered**
The way it works now, we don't have maximum_login_attempts check.

**Additional

[2022-08-02 14:09] jainkv107 opened #5172 "Helm chart with multiple worker process"
Hello - We have used Helm chart to deploy in GCP environment.  Chat woot is up and running.  However, real time updates are not coming either on the website or the mobile application.  We have to refresh the page to get the update.

After debugging we found the issue with web sockets.   When there are two worker process and they get started at the same time, both of them are not sending web socket

[2022-08-02 14:38] TuxADN commented on #5165
Hello, this is the output:

cwctl v2.1.0 alpha build

Thanks
R

On Tue, Aug 2, 2022 at 6:32 AM Vishnu Narayanan ***@***.***>
wrote:

[2022-08-02 15:58] pranavrajs opened #5173 "Support an option to block an account"
If an account violates ToS, there should be an option to block the account.

[2022-08-02 16:31] TuxADN commented on #5165
I've comment out lines related to keyserver (# 242 and 243)
Then issued these commands at the console
apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3
apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 7D2BAF1CF37B13E2069D6956105BD0E739499BDB

They were successfully applied.
But not sure if this will work fine, please advise.

[2022-08-02 16:32] pranavrajs opened #5175 "bug: Styles are broken in the editor"
<img width="503" alt="Screenshot 2022-08-02 at 10 01 45 PM" src="https://user-images.githubusercontent.com/2246121/182426491-be1621a4-9a43-4afb-989e-6d27ad10cde5.png">

[2022-08-02 16:34] pranavrajs opened #5176 "bug: Avatar renders incorrect symbol if emoji is given as input"
<img width="331" alt="Screenshot 2022-08-02 at 10 02 49 PM" src="https://user-images.githubusercontent.com/2246121/182426678-bbda3aaf-bad9-479c-b1d3-883ae4fa4fab.png">

<img width="188" alt="Screenshot 2022-08-02 at 10 03 34 PM" src="https://user-images.githubusercontent.com/2246121/182426785-27008fe1-b03c-4e83-a3ec-e5cd2aaa691d.png">

[2022-08-02 18:37] smitmartijn opened #5178 "bug: Email replies use support email instead of inbox email"
**Describe the bug**

Hi, I'm in the process of setting up Chatwoot for a few projects, which have different incoming email inboxes with different email addresses. When replying from any inbox, it always uses the `MAILER_SENDER_EMAIL` variable.

The code tries to figure out whether to use the `MAILER_SENDER_EMAIL` or use the inbox email address, but I believe the code is reversed. I've included th

[2022-08-03 01:20] aiuoe opened #5181 "ALLOW_END_CONVERSATION locale es, it's in german"
**Describe the bug**
The translation of this phrase is in German instead of Spanish

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to app/javascript/dashboard/i18n/locale/es/inboxMgmt.json
2. Line 423
4. See error: "ALLOW_END_CONVERSATION": "Benutzern erlauben, Konversationen über das Widget zu beenden"

**Expected behavior**
"ALLOW_E

[2022-08-03 03:20] julienmarie opened #5182 "Auto Reconnect WebSocket Connection"
**Is your enhancement request related to a problem? Please describe.**
If there is a network interruption, the websocket connection is breaking up and needs to be manually restored. Which means that if the Agent is not monitoring at that moment his window ( which can happen when working on other tasks ), he could be missing tickets.

**Describe the solution you'd like**
If the software could try t

[2022-08-03 05:05] pranavrajs commented on #5182
@julienmarie Are you using a self-hosted installation?

[2022-08-03 05:07] julienmarie commented on #5182
Hi @pranavrajs . Yes it's self hosted via Docker-Compose on ubuntu 20.04, version v2.7.0.

[2022-08-03 06:10] #5173 closed

[2022-08-03 08:41] #5176 closed

[2022-08-03 09:34] #5175 closed

[2022-08-03 10:38] vishnu-narayanan commented on #5165
@TuxADN I just tried to replicate this and was unable to. The installation went fine. I assume the keyservers must have timed out or something when you ran.

apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3
apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 7D2BAF1CF37B13E2069D6956105BD0E739499BDB
They were successfully appli

[2022-08-03 11:00] vishnu-narayanan commented on #5172
@jainkv107 Could you confirm your timeout settings in the GCP load balancer?
https://www.chatwoot.com/docs/self-hosted/deployment/troubleshooting#disconnected-from-chatwoot

[2022-08-03 11:19] vishnu-narayanan opened #5190 "feat: add nightly to verify linux installer is working and stable"
**Is your feature request related to a problem? Please describe.**
Linux installer script can fail due to a multitude of upstream failures.

**Describe the solution you'd like**
Run a nightly to ensure the installer is working on supported operating systems.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-08-03 11:38] #5138 closed

[2022-08-03 12:59] SHELA commented on #3725
Agree with @teawithfruit that need any customizer of email templates.

[2022-08-03 14:05] tejaswinichile commented on #4595
Self-notes:

1. We create CNAME records pointing to our domain server.
2. Find out about the SAN certificate the multidomain

[2022-08-03 14:28] hugodeco opened #5193 "Small Screen Resolution => Tab PopUp"
This Tab is not useful for agents, and should be popup or collapsed on small screen resolutions.
This will improve the conversations view tab.

This is not an issue on wide screen resolutions.

![2022-08-03](https://user-images.githubusercontent.com/2934665/182632778-a128571d-a7d8-4ffd-89aa-fa6d97ac87d3.png)

Maybe, popup this tab on click at chatwoot logo ?!

[2022-08-03 14:44] intelnexoec opened #5194 "Provide a preview for the links in messages"
Please your help with the configuration of a new option to be able to preview the urls inside the response panel.

![image](https://user-images.githubusercontent.com/84194459/182637282-e410d77f-2949-4eab-a6e0-97fc025489a2.png)

[2022-08-03 15:50] danilo-dreia commented on #4639
Yeah I'm on 2.7.0 and even 2.3 didn't work.

[2022-08-03 22:46] destring commented on #3870
This is much needed feature. we were using smartsupp which had this feature and users were able to continue the chat while navigating the site including subdomains...

I think using custom values for cookie domain will do... https://docs.smartsupp.com/chat-box/configuration/#sub-domains-integration

[2022-08-04 05:07] TuxADN commented on #5165
If one try to run the related command, listed in the installation script in the lines 242 and 243

Command:
gpg --keyserver hkp://keyserver.ubuntu.com --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3

Response:
gpg: keyserver receive failed: No keyserver available

BUT, if I run the above mentioned command that I found as an alternative:
apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --

[2022-08-04 06:28] pranavrajs opened #5195 "Add support for future date filter"
**Context:**

Right now, we support the `X days before` filter. One of our customers asked for the support of a future date filter. They have a follow-up date (a custom attribute) on each conversation. They need to filter the conversations with a follow-up date tomorrow or in the next X days. Saving this as a custom view would greatly help them improve their workflow.

**Suggestions for filters:**