[2020-04-04 07:25] pranavrajs commented on #592
Closed via #659

[2020-04-04 07:25] #592 closed

[2020-04-04 17:33] pranavrajs opened #666 "Investigation: ISO 639-3 Codes"
Do we really need to use ISO 639-3 codes? Isn't ISO 639-1 sufficient?

[2020-04-05 03:25] sojan-official commented on #666
https://iso639-3.sil.org/about/relationships

just chose it after the idea that ISO 639-3 is more intended for computer systems. there isn't any strong argument for either when you are dealing with around 20 -30 languages.

[2020-04-05 06:41] #663 closed

[2020-04-05 16:41] #350 closed

[2020-04-06 06:13] sojan-official opened #668 "Enhancement: Text area should expand when i am typing a large message on dashboard"
**Is your enhancement request related to a problem? Please describe.**
It's really hard to type a message containing multiple sentences.

**Describe the solution you'd like**
The text area should expand once agent types a lengthy message

**Describe alternatives you've considered**
none

**Additional context**
none

[2020-04-06 10:59] aermike commented on #661
This is from docker install
| /gems/ruby/2.7.0/gems/activerecord-6.0.2.2/lib/active_record/type/adapter_specific_registry.rb:9: warning: The called method `add_modifier' is defined here
rails_1     | Puma starting in single mode...
rails_1     | * Version 4.3.3 (ruby 2.7.0-p0), codename: Mysterious Traveller
rails_1     | * Min threads: 5, max threads: 5
rails_1     | * Environment: development
**

[2020-04-06 11:43] pranavrajs commented on #661
@aermike You have to run it in production mode if you want to use it in a website.

Please see this doc.
https://www.chatwoot.com/docs/installation-guide-docker#production-environment

[2020-04-06 16:47] #494 closed

[2020-04-06 17:33] #307 closed

[2020-04-06 18:52] sojan-official commented on #307
@zgagne  we have merged in template german translation for an example. feel free to raise a PR with french :)

[2020-04-06 18:54] sojan-official commented on #415
@egorsmkv  @fr0der1c  We just released v1.3.0 which contains settings to change the chatwoot language.  There is a german translation added as an example.  If you guys could contribute by proofreading or adding another language that be awesome.

Any feedback you have is welcome as well.

[2020-04-07 03:02] sojan-official opened #673 "Enhancement: The web-widget should be translated"
**Is your enhancement request related to a problem? Please describe.**
The chatwoot translation settings don't seem to be working in the web widget

**Describe the solution you'd like**
I would like the text in my web widget to be translated

**Describe alternatives you've considered**
none

**Additional context**
none

[2020-04-07 03:03] sojan-official commented on #666
closing this since are using both the codes internally now.

[2020-04-07 03:03] #666 closed

[2020-04-07 03:05] sojan-official commented on #460
settings enabled in dockerhub now.

[2020-04-07 03:05] #460 closed

[2020-04-07 03:06] sojan-official commented on #180
fixed in https://github.com/chatwoot/chatwoot/pull/647

[2020-04-07 03:06] #180 closed

[2020-04-07 03:06] sojan-official commented on #39
fixed in https://github.com/chatwoot/chatwoot/pull/647

[2020-04-07 03:06] #39 closed

[2020-04-07 03:08] sojan-official commented on #118
fixed in #478

[2020-04-07 03:08] #118 closed

[2020-04-07 03:09] sojan-official commented on #138
@d-mo  we are taking this up the April release ( v1.4.0 ) .

[2020-04-07 03:15] sojan-official commented on #252
merged in https://github.com/chatwoot/chatwoot/pull/659

[2020-04-07 03:15] #252 closed

[2020-04-07 03:17] sojan-official commented on #335
fb v5.0 api calls are supported in chatwoot v1.3.0

[2020-04-07 03:17] #335 closed

[2020-04-07 03:45] sojan-official opened #675 "Chore: APIs for Agent Bot"
I would like to have APIs
- to  connect and disconnect an Agent Bot to an inbox
- to list all the agent bots available

[2020-04-07 05:43] sojan-official opened #677 "Feature: Ability to use chatwoot with multiple languages"
**Is your feature request related to a problem? Please describe.**
I use chatwoot across multiple regions and hence I should be able to use chatwoot in multiple languages.

**Describe the solution you'd like**

- [ ]   Accounts can have multiple allowed languages apart from the primary language
- [ ]   if users browser settings give any of the values in the allowed languages, we will show the widg

[2020-04-07 05:47] sojan-official opened #678 "Feature: Language Setting for Agents"
**Is your feature request related to a problem? Please describe.**
I use chatwoot across multiple regions and hence the agents should be able to use the system in their preferred language

**Describe the solution you'd like**
- [ ]  If Agent has a language set, the dashboard will be shown in that language else in the default language
- [ ] Agent emails should be based on their language settings

*

[2020-04-07 06:33] sojan-official opened #679 "Enhancement: Translate Agent Emails based on account language setting"
**Is your enhancement request related to a problem? Please describe.**
Even if I change the account language setting, Emails are not translated accordingly

**Describe the solution you'd like**
Translate Agent Emails based on the account language setting

**Describe alternatives you've considered**
none

**Additional context**
ref: #307

[2020-04-07 06:34] sojan-official opened #680 "Chore: Clean up the agent bot & Inbox Tech debit"
- [x] remove name from channel model
- [x] migrate attachments to inbox from channel model
- [x] migrate name to inbox from channel model
- [x] Ability to edit web widget name
- [ ] Make message sender type polymorphic and save the agent bot as the sender

[2020-04-07 06:43] sojan-official opened #681 "Feature: Notifications Page"
**Is your feature request related to a problem? Please describe.**
Agents need to have a page where they can view all the incoming notifications

**Describe the solution you'd like**
We need to implement a notifications page for each agent so that while using chatwoot, they are in the

- [ ] Notification model and APIs
- [ ] Create notification objects along with the email triggers for events like

[2020-04-07 11:46] tabrza opened #682 "feat: Ability to have automated QnA for repetitive questions"
**Is your feature request related to a problem? Please describe.**
Live agents face a lot of repetitive questions. In order to avoid having to deal with this, the bot could provide the ability for the administrator to set either QnA or decision tree questions (clickable questions that drive you down to your answer). If the user still is not satisfied, could be transferred to a live agent

**Descri

[2020-04-07 16:56] sojan-official opened #683 "Chore: Fix the design on conversation summary email"
**Is your enhancement request related to a problem? Please describe.**
The conversation summary email becomes unreadable when long messages are sent

**Describe the solution you'd like**
Fix the layout of the conversation summary email. Probably format it into bubbles

**Describe alternatives you've considered**
none

**Additional context**.
none

[2020-04-07 17:01] #181 closed

[2020-04-08 14:52] sojan-official opened #684 "Feature: Add catalan language"
Feature: Add catalan language

[2020-04-08 14:52] sojan-official opened #685 "Feature: Add spanish language"
Feature: Add spanish language

[2020-04-08 14:53] sojan-official opened #686 "Feature: Implement RTL language support"
- Feature: Add Arabic language
- Implement RTL support

# implementation

 - add the RTL attribute to the language config.
-  Append the html with `dir="rtl"` based on the config.
- iron out the layout breakages and css fixes

[2020-04-08 14:53] sojan-official opened #687 "Feature: Add Dutch language"
Feature: Add Dutch language

[2020-04-08 14:54] sojan-official opened #688 "Feature: Add French language"
Feature: Add French language

[2020-04-08 14:54] sojan-official opened #689 "Feature: Add Hindi language"
Feature: Add Hindi language

[2020-04-08 14:54] sojan-official opened #690 "Feature: Add Italian language"
Feature: Add Italian language

[2020-04-08 14:55] sojan-official opened #691 "Feature: Add Japanese language"
Feature: Add Japanese language

[2020-04-08 14:55] sojan-official opened #692 "Feature: Add Korean language"
Feature: Add Korean language

[2020-04-08 14:55] sojan-official opened #693 "Feature: Add Portuguese language"
Feature: Add Portuguese language

[2020-04-08 14:57] sojan-official opened #694 "Feature: Add Russian language"
Feature: Add Russian language

[2020-04-08 14:57] sojan-official opened #695 "Feature: Add Chinese language"
Feature: Add Chinese language

[2020-04-08 15:27] robson-jardim commented on #693
I'd like to work on this feature. What is the best way to contribute?

[2020-04-08 15:33] pranavrajs commented on #693
@robson-jardim Thanks for taking an interest in the contribution. I will try to write a guideline on how to contribute to languages by tonight.

Meanwhile, you can start with the following.

The dashboard uses the language files in the directory app/javascript/dashboard/i18n/locale

https://github.com/chatwoot/chatwoot/tree/develop/app/javascript/dashboard/i18n/locale

Backend uses https://github.

[2020-04-08 15:43] robson-jardim commented on #693
Great! I'll be starting right now!

I'd like to become part of the ChatWoot team. I think we have a great space to grow in Brazil.

How can I be part of that?

[2020-04-08 16:25] kimus commented on #693
please distinguish between `pt` (`pt-pt`) and `pt-br`.

[2020-04-08 16:32] aermike commented on #661
Modifiyng Procfile.dev
backend: bin/rails s -p 3000 **-b 0.0.0.0**

[2020-04-08 16:32] #661 closed

[2020-04-08 16:52] aermike opened #697 "add romanian language"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-08 17:02] sojan-official commented on #697
@aermike  would you be able to contribute to this ? :)

[2020-04-08 17:05] aermike commented on #697
Yes

[2020-04-08 17:39] pranavrajs commented on #693
@kimus We were not aware of this variant. Thanks for informing this. We will add the variants also in the supported list of languages.

[2020-04-08 17:41] pranavrajs commented on #693
@robson-jardim Could you please schedule a call here? https://calendly.com/chatwoot

We would like to chat about how we can take this forward.

[2020-04-08 17:51] sojan-official opened #698 "Feature: Integration to zendesk"
**Is your feature request related to a problem? Please describe.**
Integrate chatwoot to zendesk

**Describe the solution you'd like**
Build an integration with zendesk

[2020-04-08 18:19] whiteyhat opened #699 "Cant launch on docker on latest version (v.1.3.0)"
**Describe the bug**
The sideqik service & the chatwoot service do not launch with the docker image. None of the report any helpful logs. The behaviour is like the service starts running and then it fails...

### Sideqik Service logs
[code]

### Chatwoot Service logs
[code]

[2020-04-08 20:00] whiteyhat opened #700 "Cant login after importing old DB"
## Information
I imported my previous DB and now I can not actually log in. It prints the notification:
[code]

If I put a wrong password it detects the password does not match.

I have already tried:
[code]
And it works again. But I wanna use my backup database...

I have also tried, but it did not work:
[code]

## Version
v1.2.2

[2020-04-08 20:17] whiteyhat commented on #699
The only version that works is v1.2.2

[2020-04-09 06:05] sojan-official commented on #700
could you run `bundle exec rails db:migrate` after importing the old database. if the issue is persisting can we take a look at the application server logs?

[2020-04-09 08:51] tabrza commented on #700
If you're on heroku, would be worth double checking the redis is provisioned

[2020-04-09 12:39] whiteyhat commented on #700
@sojan-official  It did not make a difference... There are literally no error logs...
[code]

@tabrza This a soccer swarm stack available at #625

IMO, the problem is that wen the service is up and running it does not connect to the `db`, I have to manually do either a `bundle exec rails db:reset` or ``bundle exec rails db:setup` to manually seed the database with the default data... Then it works

[2020-04-09 13:01] pranavrajs commented on #699
[code]

This looks like production.log is not generated or it is not available.

Could you please try setting `RAILS_LOG_TO_STDOUT` env variable to true and see if this works?

[2020-04-09 13:02] whiteyhat commented on #699
@pranavrajs you guys missed to include the directory log on last docker images releases...

I fixed by manually entering in both containers (sidekiq + chatwoot front web). This also solved the issue #700

`docker exec -it <CONTAINER_ID> sh` and then `mkdir log`

[2020-04-09 13:02] #699 closed

[2020-04-09 13:04] whiteyhat commented on #700
It had to be a compatibility data issues between database versions, by solving #699 on the latest version everything worked fine

[2020-04-09 13:04] #700 closed

[2020-04-09 13:23] pranavrajs opened #701 "Review logging"
- [ ] v1.3.0 throws an error with logging

[code]

### Options to review:

1. Update documentation to use `RAILS_LOG_TO_STDOUT `
2. Review and update the log rotate mechanism.

References: #699

[2020-04-09 13:23] pranavrajs commented on #699
@whiteyhat Thanks for reporting this. We will review the logging mechanism in #701

[2020-04-09 13:28] whiteyhat opened #702 "Inbox client handshake failing"
## ℹ️ Information
When updating the database values about `Accounts` (So I add my project instead of `Acme.inc`) and other values that are not critical the handshake to reveal who's online fails

## 💻 Logs
### Code Implemented
![Captura de pantalla 2020-04-09 a las 15 26 42](https://user-images.githubusercontent.com/31220861/78900029-8a1b5c80-7a76-11ea-8e13-44628e95a1a1.png)

### Client logs
<img

[2020-04-09 13:30] whiteyhat commented on #702
@pranavrajs this is quite weird... because If I create a new inbox and attach it to the browser it works, but my previous ones are corrupted...

Any recommended tables/data to look up in the **database** or **commands** to execute to proceed forward with the issue resolution?

[2020-04-09 13:44] pranavrajs commented on #702
It looks like there was an error in data migration, the last release had a critical change in the way we setup users. If you have run rake db:migrate after importing old data, it should be working fine.

@whiteyhat Could you see if you pull up any log by setting `LOG_LEVEL` to `debug` in environment variables?

[2020-04-09 14:09] whiteyhat opened #703 "Sound notifications"
## Information
Is it possible to have sound alerts as well as email notifications? for real-time quick response, this will be highly beneficial

[2020-04-09 14:11] whiteyhat commented on #702
@pranavrajs `rake:db migrate` did not solve it, but it put out these logs:
[code]

[2020-04-09 14:33] pranavrajs commented on #703
@whiteyhat Autoplay sounds are blocked by most of the browsers, we had this discussion in the community before, instead of sounds we will be adding push notifications.

The issue #681 in this sprint would cover this piece.

Email notifications are already present, you can go to your profile screen and enable the email notifications you need.

[2020-04-09 14:34] pranavrajs commented on #702
@whiteyhat These are warning from rails core, which is not an issue at the moment.

@sojan-official / @sony-mathew Please take a look at this issue.

[2020-04-09 14:46] #703 closed

[2020-04-09 14:56] subintp commented on #702
@whiteyhat  Can you share the log for the 500 response for inbox members API ?

[2020-04-09 15:08] whiteyhat commented on #702
@subintp from what service `sidekiq` or `rails`?

[2020-04-09 15:13] subintp commented on #702
Please share from rails for the 500 response

[2020-04-09 15:15] whiteyhat commented on #702
[code]

[2020-04-09 15:26] subintp commented on #702
@whiteyhat Which version you were using before upgrading to 1.3.0 ?

[2020-04-09 15:47] whiteyhat commented on #702
I think 1.2.4

[2020-04-09 15:59] subintp commented on #702
@whiteyhat  We are not able to reproduce the issue till now. As a quick fix can you try to reset inbox_members?. Step are given below

1. Go to rails console `bundle exec rails c`
2. Run the snippet
`a = Account.find_by_name("Acme Inc")
a.users.each do |u|
  u.inbox_members.destroy_all
end`

PS: This will clear all the inbox members for the given account.

[2020-04-09 17:01] whiteyhat commented on #702
That command did not work.

## SOLUTION
But I just delete all entries from the table `inbox_members` and assign the members again from the `rails web app` and it worked!

[2020-04-09 17:01] #702 closed

[2020-04-09 18:39] josephjoice opened #704 "X-Frame-options has invalid value "ALLOWALL""
**Describe the bug**

Websocket is not working and agent messages are not received at the widget side.
This is what I see in the console.
`Invalid X-Frame-Options: “ALLOWALL” header from “http://localhost:3000/widget?website_token=wwc2hHmZdXZvZr28uG8SZB4S” loaded into “http://localhost:3000/widget_tests”.`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:3000/widget_tes

[2020-04-09 18:45] josephjoice commented on #704
`ALLOWALL` is not a valid header option according to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options.

https://github.com/chatwoot/chatwoot/blob/6c0076665a7c4a9eb4038a7fbd744261f8ed3e53/config/application.rb#L30-L31

To allow the iframe to be loaded in different origin,
[code]
I cleared the `SAMEORIGIN` set by rails, as X-Frame-Options not set means allow the iframe to be

[2020-04-12 07:45] sojan-official opened #706 "Feature: API to create incoming messages from contact"
**Is your enhancement request related to a problem? Please describe.**
I use chatwoot to manage customer messages from my app. i want to create an incoming message inside chatwoot when a customer sent me a message

**Describe the solution you'd like**
I would like to have an API to create incoming messages from a contact

**Describe alternatives you've considered**
none

**Additional context**
non

[2020-04-12 08:43] debmaj2 commented on #361
This would be very beneficial. We wanted to develop Auth, Video Calling and a Forms on top of Chatwoot. However, our cloud resources are with DigitalOcean

[2020-04-12 08:52] vishnu-narayanan opened #707 "Feature: Add Malayalam language"
Feature: Add Malayalam language

മലയാളം ഇല്ലാതെ എന്ത് ആഘോഷം ? :)

[2020-04-12 11:27] pranavrajs commented on #361
@debmaj2 You don't need this ticket to get Chatwoot deployed to DigitalOcean, although this ticket makes it easier to do it in a click. If you want some help to get it deployed to DigitalOcean with docker, our team will be happy to assist.

[2020-04-12 18:40] MrSaints opened #709 "Unable to add an agent due to `undefined method `selected_email_flags='`"
**Describe the bug**

This is on `chatwoot/chatwoot:v1.3.0`.

When adding an agent, the following exception is triggered:

[code]

And occasionally, it also shows up as:

[code]

I believe it is related #654. I have followed the recommendations in that issue, but to no avail.

**To Reproduce**

Steps to reproduce the behavior:

- Start `chatwoot/chatwoot:v1.3.0` server, and sidekiq (both connected

[2020-04-12 18:50] sojan-official commented on #709
if you are upgrading an existing installation of chatwoot. could you run the following command?

[code]

this should be done after all the version upgrades, sorry for the lack of documentation on this. we are working on an update instructions documentation.

[2020-04-12 18:51] MrSaints commented on #709
Hey @sojan-official ! Thanks for the very prompt response. It's a fresh installation. But I'll give `rake db:migrate` a shot.

[2020-04-12 18:59] MrSaints commented on #709
No luck so far.

[code]

This is with `rake db:migrate` alone, and with `bundle exec rails db:setup` followed by `bundle exec rails db:migrate`.

[2020-04-12 19:02] sojan-official commented on #709
@MrSaints  Thanks for the update. let me debug this at my end. I will get back for more info if I can't reproduce.

[2020-04-13 02:16] tramal228228 opened #710 "HD chat"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-04-13 02:20] tramal228228 commented on #710
- [ ]

- [ ] **@`[

1. #361

- [ ]

]()`** @video

[2020-04-13 02:20] tramal228228 commented on #710
Anal

[2020-04-13 02:21] tramal228228 commented on #710
###

-

- **

1.

- [ ]

**

[2020-04-13 02:21] tramal228228 commented on #710
Duplicate of #

[2020-04-13 03:13] #710 closed

[2020-04-13 04:18] tabrza commented on #236
@pranavrajs - hope you had a great weekend!
i've been trying to change some of the colors on the color picker but can't for the life of me figure out from where. it all appears in the node modules which of course is in the gitignore..

[2020-04-13 12:31] sojan-official opened #712 "Chore: Explore Utilising crowdin in context translations"
As we will be using crowdin to manage our translations. Let's explore the effort required to integrate this

https://support.crowdin.com/enterprise/in-context-setup/

[2020-04-13 13:10] aditzasv commented on #697
I will help too

[2020-04-13 13:11] sojan-official commented on #709
@MrSaints  I was trying to reproduce this and had a hard time making it happen.  Can we give it one more try from scratch and if it's persisting our team will get on a call to help you out.

Steps:
- Delete the existing database
- let's use  the latest image for setting up : `chatwoot/chatwoot:latest`
- After you have everything in place, run  `rake db:setup` this should take care of the seeding a

[2020-04-13 13:33] sojan-official commented on #697
Hey guys, we are in the process of setting up crowdin to make this process easier for you guys. If you aren't comfortable with the raising PR workflow, I will share the details of it once we finish the set up.

[2020-04-13 13:52] MrSaints commented on #709
@sojan-official Thank you so much for putting so much time, and effort into helping us. I can confirm that it is now working thanks to your recommendations.

We have altered our Kubernetes `spec` to look like this:

[code]

It is also using the `latest` image.

Upon launching it, we ran `rake db:setup`.

We then deleted the pod (essentially restarting).

And it all works now. Thanks again for your

[2020-04-13 13:52] #709 closed

[2020-04-13 15:44] #707 closed

[2020-04-13 17:51] sojan-official commented on #307
@zgagne we have launched chatwoot on crowdin : http://translate.chatwoot.com/

[2020-04-13 18:03] sojan-official commented on #697
https://translate.chatwoot.com/  is available in case you want to work using a UI to do translations.

[2020-04-13 18:04] sojan-official commented on #693
https://translate.chatwoot.com/ is available in case someone wants to work on this using a UI tool.

[2020-04-14 06:18] sojan-official commented on #677
https://phrase.com/blog/posts/rails-i18n-setting-and-managing-locales/

[2020-04-14 10:32] sojan-official opened #714 "epic: Build FAQs into chatwoot ( knowledge base articles )"
**Is your feature request related to a problem? Please describe.**
Often the questions that come up in chatwoot are the same. Solve with via an FAQ option in chatwoot

**Describe the solution you'd like**
 if the agents can create FAQs that the user can search for in the chat widget. that will be great.

## Tasks

- [ ]  feat: Crud API endpoints for articles
- [ ]  feat: Crud API endpoints for fol

[2020-04-14 15:47] sojan-official commented on #262
closed in https://www.youtube.com/watch?v=E4xUHyAAktY

[2020-04-14 15:47] #262 closed

[2020-04-14 20:27] aermike opened #716 "Can't send any mail"
**Describe the bug**
A clear and concise description of what the bug is.
Set smtp account, but
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'agent->reset passw0rd
2. Click on '....'reset passw0rd
3. Scroll down to '....'
4. See error
Is in screen shot. Mail is not send
**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applic

[2020-04-15 04:15] vfasoulas opened #717 "Add Greek Language"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-15 05:34] sojan-official commented on #717
https://translate.chatwoot.com/ is available in case anyone is picking this up

[2020-04-15 12:14] pranavrajs opened #718 "Feature: Typing Indicator on widget"
- [ ] Add a typing indicator on the widget if a bot or an agent types a message.

[2020-04-15 12:14] pranavrajs opened #719 "Feature: Typing Indicator on dashboard"
- [ ] Add a typing indicator on dashboard to see if the user or any other agent is typing a message.

[2020-04-15 12:15] pranavrajs opened #720 "Feature: Typing indicator APIs"
- [ ] API to toggle typing indicator

[2020-04-15 12:21] pranavrajs commented on #716
![image](https://user-images.githubusercontent.com/2246121/79336645-bb49d000-7f41-11ea-8144-f9a4ee027d1a.png)

It shows wrong authentication, could you please check the password?

[2020-04-15 16:59] aermike commented on #716
Try on other smtp server and it works
ticket can be closed.

[2020-04-15 16:59] #716 closed

[2020-04-15 17:00] bfitec commented on #703
@pranavrajs I think audio alerts are crucial to the success of our team. We've found that if we take longer then 3 minutes to respond to a request the probability of closing a sales goes down 80%. We used Drift previously and the way they handled the autoplay issue was to request the user to click a button on a popup to enable audio notifications each time they log in. Generally browsers block aud

[2020-04-15 17:40] pranavrajs commented on #703
@bfitec Adding autoplay sounds which are blocked by browser seems to be a hacky fix for this. We want to do it right, we will be adding a notification centre and browser notifications in the release 1.4.0. Please see the issue #681

[2020-04-15 17:44] whiteyhat commented on #703
@bfitec an alternative in the meantime is using a discord webhook. That worked for me

[2020-04-15 17:46] aermike commented on #714
Try with Articulate
Link may be made with webhooks
https://github.com/samtecspg/articulate

[2020-04-15 17:58] bfitec commented on #703
@whiteyhat Yeah we're using Slack right now and it is working very well – while it works for initial notification it just isn't ideal for ongoing conversations. Our support team muted the support slack channel because of all the spam – which doesn't work long term. I think the push notifications may solve that.

[2020-04-15 21:59] robson-jardim commented on #693
It's done! Pls, let me know if it's ok.
Best Regards.

[2020-04-15 22:00] robson-jardim commented on #693
Done! Pls, let me know if it's ok.
Best Regards.

[2020-04-16 05:07] robson-jardim opened #722 "ERROR in ./node_modules/chart.js/src/elements/element.arc.js"
**Describe the bug**
Every time that I stop the server and try to restart I'm getting this error

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/chatwoot/chatwoot.git
2. $ cp .env.example .env
3. $ docker-compose build
4. $ docker-compose run --rm rails bundle exec rails db:reset
5. $ docker-compose up
6. Ctrl+C
7. $ docker-compose build
8. $ docker-compose run -

[2020-04-16 05:30] robson-jardim opened #723 "Realtime chat translation"
**Is your feature request related to a problem? Please describe.**
Enable conversation between two people that speak in different languages.

**Describe the solution you'd like**
Let's take an example where a US company I'd run business in Brazil. To improve the customer experience the US company could offer Portuguese support once all the notes was translated before being presented to the custome

[2020-04-16 05:33] robson-jardim opened #724 "Chatwoot Power Ups"
**Is your feature request related to a problem? Please describe.**
Create an API for 3 parties to create Power-Ups to improve chat capabilities. Each Power-Up could be free or billable.

**Describe the solution you'd like**
Similar to Trello (www.trello.com)
![image](https://user-images.githubusercontent.com/10334548/79418211-65e5e100-7f8a-11ea-9f80-9f1373e0efaa.png)

**Describe alternatives you'v

[2020-04-16 09:14] tabrza opened #725 "Feature: Add custom colors to color picker"
**Is your feature request related to a problem? Please describe.**
Website may want to match color to certain font color or logo etc.

**Describe the solution you'd like**
As a user, I would like to be able to select a color outside of the suggested color picker solutions.

**Describe alternatives you've considered**
Couldn't see where to adjust color in the code..

[2020-04-16 09:31] pranavrajs commented on #725
We just went ahead with the default color swatch, let us see we can do a `Sketch` like color-picker

[2020-04-16 09:58] #684 closed

[2020-04-16 11:10] tabrza commented on #725
Cool. Could perhaps also use this as a chance to edit the welcome message and chatbot font?

[2020-04-16 11:23] sony-mathew opened #727 "Chore: Message should be able to support multiple attachments"
**Problem Definition**
As it stands today, a message supports only one attachment. And in many places, we assume that a message can have either some content or is just an attachment. The message model is bonded to the attachment model by a `has_one` relationship. Because of this implementation, when we add channels and have incoming channels supporting a message with multiple attachments, we might

[2020-04-16 11:27] tabrza opened #728 "Create an agent for inbox and enable access"
**Is your feature request related to a problem? Please describe.**
Currently when playing with a direct deploy to heroku, only one agent has access to an inbox. The agent can't add another agent without an email with password and verification being sent. As such, if SMTP has not been set agent cannot gain access even if verified through rails console.

Is there a way around this? Perhaps through a

[2020-04-16 11:52] sojan-official opened #729 "[CW-1922] Custom 404 page"
Chatwoot currently display the rails 404 page. Lets add a custom 404 page in chatwoot.

<sub>[CW-1922](https://linear.app/chatwoot/issue/CW-1922/custom-404-page)</sub>

[2020-04-16 14:29] pranavrajs commented on #722
looks like yarn command has not run, @robson-jardim Are you sure that the steps followed are as per the doc?

[2020-04-17 04:25] sony-mathew commented on #727
@pranavrajs  @muhzi4u This could potentially affect all the API clients that we have including our mobile apps.

[2020-04-17 04:47] pranavrajs opened #731 "Chore: Add pending message in dashboard"
Now the messages sent from the dashboard are displayed only after the API call is a success. Change this to have a temporary message in frontend and update the status when the API call is a success.

[2020-04-17 06:20] pranavrajs opened #732 "Chore: Update babel dependencies"
- [x] Update babel to use the latest version
- [ ] Add optional chaining example in codebase
- [x] Cleanup babel.config.js config

[2020-04-17 09:07] pranavrajs opened #733 "Bug: Widget not rendering correctly in IE"
<img width="809" alt="Screenshot 2020-04-17 at 2 37 15 PM" src="https://user-images.githubusercontent.com/2246121/79552707-01756f80-80b9-11ea-9631-7e074a6f26f7.png">

[2020-04-17 10:04] sony-mathew commented on #534
Taking this up.

[2020-04-17 10:18] #534 closed

[2020-04-17 11:44] #733 closed

[2020-04-17 13:02] sojan-official opened #737 "Chore: Twitter Profile images are not stored to the inbox"
Chatwoot usually stores an avatar for each of the inboxes connect, this is missing for the twitter inboxes.

to get the user avatar we might need to make a separate API call to https://developer.twitter.com/en/docs/accounts-and-users/follow-search-get-users/api-reference/get-users-show

hence the method will have to be added to https://github.com/chatwoot/twitty

[2020-04-17 13:29] pranavrajs commented on #732
Closed via #736

[2020-04-17 13:29] #732 closed

[2020-04-17 14:35] muhzi4u commented on #727
Ath onnum oru prashnamey alla ;)

[2020-04-17 15:45] #727 closed

[2020-04-18 15:05] aermike commented on #697
It's done

[2020-04-18 16:18] sojan-official commented on #697
@aermike  we will merge in the translations to the codebase over this week :)
 thanks a lot for the contribution.

[2020-04-18 16:33] aermike commented on #697
Ypu're welcome
Thanks for this application

[2020-04-19 03:38] BhaveshSGupta opened #741 "Local setup failing when using docker"
Hello,
**Describe the bug**
I am trying to setup this project locally on my system using docker.  It is failing to setup. I have tried setting it up on develop.
I have been following this [guide](https://www.chatwoot.com/docs/installation-guide-docker).

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/chatwoot/chatwoot.git
2. cp .env.example .env
3. Add password f

[2020-04-19 04:44] vishnu-narayanan commented on #741
Is step 4 `docker-compose build` successful ?

[2020-04-19 05:22] vishnu-narayanan commented on #741
Looks like this might be due to EOL difference between Linux and Windows. Could you change the EOLs from CRLF to LF and try again ?

Ref: https://stackoverflow.com/questions/51508150/standard-init-linux-go190-exec-user-process-caused-no-such-file-or-directory

[2020-04-19 06:03] pranavrajs opened #742 "Bug: Website SDK not working"
what i am doing wrong  ???

(function(d,t) {
    var BASE_URL = "http://chatwoot.hmu.gr";
    var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src= BASE_URL + "/packs/js/sdk.js";
    s.parentNode.insertBefore(g,s);
    g.onload=function(){

      window.chatwootSDK.run({
        websiteToken: 'PJLMrAsk9sUQYLm9wVhzPPCg',
        baseUrl: BASE_URL
      });

      setTimeout(
        f

[2020-04-19 06:05] pranavrajs commented on #742
@vfasoulas Could you please post the console errors if there are any?

[2020-04-19 08:44] vfasoulas commented on #742
not any console errors.
But I noticed that if I remove line window.chatwoot$.reset(); works as expected.
Also the problem reapears if I call setUser directly without using setTimeout.

[2020-04-19 10:24] pranavrajs commented on #742
[code]

This should be used only when the user logouts of your web application.

This must because the SDK has not loaded yet, we will provide a listener to see if the SDK is ready in the next release.

[2020-04-19 16:16] BhaveshSGupta commented on #741
Hi @vishnu-narayanan,
Thank you for the help, this turned out to be bummer, I need to configure in git to use LR line endings.

After changing to LR now when I am trying to run I get this error.
![image](https://user-images.githubusercontent.com/4209637/79693252-2e777d00-8287-11ea-9f98-edf32451178d.png)

I think I have done something wrong in configuration,

But I have been following https://www.c

[2020-04-19 17:59] vishnu-narayanan opened #743 "Bug: Project ruby version does not match documentation"
**Describe the bug**
Project ruby version does not match documentation

**To Reproduce**
n/a

**Expected behavior**
n/a

**Screenshots**
n/a

**Desktop (please complete the following information):**
n/a

**Smartphone (please complete the following information):**
n/a

**Additional context**
Add any other context about the problem here.

[2020-04-19 18:11] #743 closed

[2020-04-19 18:14] jtraulle commented on #688
I can work on this :slightly_smiling_face:

[2020-04-19 18:19] sojan-official commented on #688
@jtraulle  thanks a lot for offering your help. we use crowdin to manage the translations now and believe we have received some help over there already. could you double-check the translations over there before we can bring it into the codebase ?

https://translate.chatwoot.com/chatwoot/fr

[2020-04-19 18:35] jtraulle commented on #688
@sojan-official Thanks, I registered on crowdin and I am currently reviewing current translations :wink:

[2020-04-19 19:25] jtraulle commented on #688
Is it possible to slightly increase the width of the sidebar from 23rem to 26rem ? "Canned response" is translated into "Réponses pré-enregistrées" or, shorter by "Réponses standardisées". But 23rem is not enough. As well as "Account Settings" -> "Paramètres du compte" and "Inboxes" -> "Boîtes de réception"

|                  | 23rem | 26rem |
|------------------|---------|--------|
| **Main** si

[2020-04-19 21:20] jtraulle commented on #688
I just finished the review :tada:

[2020-04-21 12:10] bobmulder commented on #282
Hi there!

Is there any documentation about how to deploy Chatwoot for production? https://www.chatwoot.com/docs/quick-setup seems to be meant for development and https://www.chatwoot.com/docs/installation-guide-ubuntu too...

[2020-04-21 14:56] vishnu-narayanan commented on #282
Hi @bobmulder, We understand it's a little rough around the edges :sweat_smile: and are working on a much more accessible documentation detailing production setup. It should be live soon. Thank you.

[2020-04-22 07:34] pranavrajs opened #749 "Bug: Events are not triggered when the user opens the chatwoot widget"
The event `webwidget.triggered` should be sent to the webhook if a user opens the web widget.

[2020-04-22 07:44] #749 closed

[2020-04-22 07:50] aermike opened #751 "Can't send an email with exterior smtp server"
**Describe the bug**
A clear and concise description of what the bug is.
Started POST "/auth/password" for 10.0.x.y. at 2020-04-22 10:33:51 +0300
Cannot render console from 10.0.x.y! Allowed networks: 127.0.0.0/127.255.255.255, ::1
Processing by DeviseOverrides::PasswordsController#create as HTML
  Parameters: {"email"=>"admin@domain", "password"=>{"email"=>"admin@domain"}}
Can't verify CSRF token

[2020-04-22 08:00] pranavrajs commented on #741
@sojan-official / @sony-mathew Could you please look into this?

[2020-04-22 15:53] robson-jardim commented on #693
Hello @pranavrajs , could you tell me if the translation was ok?

Best Regards.

[2020-04-23 04:19] pranavrajs commented on #693
@robson-jardim We will bring that up to the codebase and see if something is missing.

[2020-04-23 05:52] pranavrajs opened #753 "Bug: Links in onboarding flow is not working"
Links in the onboarding flow are not account scoped.

[2020-04-23 06:06] bobmulder commented on #282
Thank you for your reply @vishnu-narayanan, I understand completely. Chatwoot looks promising (one of the best open-source alternatives available), but as you said, _it's a little rough around the edges_. All the best and I'll keep following you guys :)

[2020-04-23 06:33] robson-jardim commented on #693
Thanks a lot!

[2020-04-23 06:51] #753 closed

[2020-04-23 06:56] KasunAssetDidital opened #755 "docker-compose run --rm rails bundle exec rails db:reset"
**Describe the bug**
After run "docker-compose build" or "docker-compose up" or "docker-compose down" i'm having following error
_________________________________________________________________________________________________________
Removing chatwoot_webpack_1
ERROR: container b7e98b6bb6f5d61de8978cc2df64a94884466b9f80e42195877fd3d64c94dabd: driver "overlay2" failed to remove root filesystem: un

[2020-04-23 07:03] pranavrajs commented on #755
@vishnu-narayanan / @sojan-official Could you please look into this?

[2020-04-23 07:08] KasunAssetDidital commented on #755
![bandicam 2020-04-23 12-37-58-694](https://user-images.githubusercontent.com/64188066/80069670-5c96de80-855f-11ea-8e0f-cde03b51b82b.jpg)

[2020-04-23 08:14] aermike commented on #751
add in .env file parameter
SMTP_AUTHENTICATION=login
SMTP_ENABLE_STARTTLS_AUTO=true
openssl_verify_mode=NONE

but get this error
Error performing ActionMailer::MailDeliveryJob (Job ID: 9e5f98fc-01cd-49a3-9a47-4c6b6441d1c8) from Sidekiq(mailers) in 129.49ms: OpenSSL::SSL::SSLError (hostname "domain" does not match the server certificate):

[2020-04-23 08:36] KasunAssetDidital commented on #755
i think this
![bandicam 2020-04-23 14-05-35-456](https://user-images.githubusercontent.com/64188066/80077778-97067880-856b-11ea-848b-50a06c6099ac.jpg)
 will be the cause for the issue

[2020-04-23 08:49] vishnu-narayanan commented on #755
@KasunAssetDidital Hello, Could you share the output of `docker version`, `docker-compose version` and `docker info` ?

[2020-04-23 08:53] KasunAssetDidital commented on #755
Docker version 19.03.8, build afacb8b
docker-compose version 1.25.5, build 8a1c60f6

here is my docker and compose versions

[2020-04-23 08:54] KasunAssetDidital commented on #755
**Docker Info**
Client:
 Debug Mode: false

Server:
 Containers: 7
  Running: 0
  Paused: 0
  Stopped: 7
 Images: 27
 Server Version: 19.03.8
 Storage Driver: overlay2
  Backing Filesystem: <unknown>
  Supports d_type: true
  Native Overlay Diff: true
 Logging Driver: json-file
 Cgroup Driver: cgroupfs
 Plugins:
  Volume: local
  Network: bridge host ipvlan macvlan null overlay
  Log: awslogs flue

[2020-04-23 09:45] pranavrajs commented on #751
@aermike We will investigate if something is missing in SMTP authentication, the config we have right should work with most of the providers.

[2020-04-23 09:46] aermike commented on #751
Thank you

[2020-04-23 09:53] KasunAssetDidital opened #756 "ENV Force https Not Working(Request block by browser)"
**Describe the bug**
I change my .env to send request through https but its not working
![bandicam 2020-04-23 15-00-23-050](https://user-images.githubusercontent.com/64188066/80085838-6e37b080-8576-11ea-947d-3edddbcdb6b2.jpg)

[2020-04-23 09:54] KasunAssetDidital commented on #756
![https error](https://user-images.githubusercontent.com/64188066/80085880-81e31700-8576-11ea-9dc6-0594756a28a4.jpg)

[2020-04-23 10:30] sojan-official commented on #756
@KasunAssetDidital  could you check the value for the `FRONTEND_URL` and ensure that is set with `https://` as well ?

[2020-04-23 10:31] sojan-official commented on #741
@BhaveshSGupta  we are having a hard time replicating this issue. is it still persisting?

[2020-04-23 10:42] sojan-official commented on #751
@aermike  while noticing the params just spotted that `Parameters: {"email"=>"admin@domain"}`

`admin@domain` doesn't seem like a valid email. could you double-check?

[2020-04-23 10:45] vishnu-narayanan commented on #755
@KasunAssetDidital This might have to do with your kernel version and is a known issue.

The docker-compose is not able to bring the container down the filesystem have leaked.

You should be able to fix this in two ways:
1. Find the processes that owns the filesystem and kill that process.
2. or restart the docker daemon if you can afford it. (`sudo service docker restart`)

Ref: https://github.co

[2020-04-23 12:04] aermike commented on #751
Hi
admin@domain was an example
domain =3clicks.ro
so mail is
admin@3clicks.ro

[2020-04-23 12:30] wwwbruno commented on #612
I would like to take this issue as my first contribution 😄

[2020-04-23 13:57] sojan-official commented on #751
ref:

https://github.com/mikel/mail/issues/550

https://stackoverflow.com/questions/27795484/sslerror-hostname-w-x-y-z-does-not-match-the-server-certificate

https://serverfault.com/questions/908410/opensslsslsslerror-hostname-smtp-gmail-com-does-not-match-the-server-cert

[2020-04-23 17:16] sojan-official commented on #502
closed in https://github.com/chatwoot/chatwoot/pull/738

[2020-04-23 17:16] #502 closed

[2020-04-23 18:11] sojan-official commented on #675
https://github.com/chatwoot/chatwoot/pull/676.

[2020-04-23 18:11] #675 closed

[2020-04-24 06:54] KasunAssetDidital commented on #755
Thank you for helping me,Some how it works,but not completely removed running containers,following are remain as it is.

- chatwoot_redis_1

- chatwoot_postgres_1

After i execute "**docker-compose run --rm rails bundle exec rails db:reset**" i still get following error

Creating network "chatwoot_default" with the default driver
Starting chatwoot_postgres_1 ... error
Starting chatwoot_redis_1

[2020-04-24 06:54] #755 closed

[2020-04-24 06:59] KasunAssetDidital commented on #756
Hi Sojan,

I also tried that way but didn't work for me,Is that required to install SSL Certificate on this app,If so tell me how to do that?

[2020-04-24 07:13] KasunAssetDidital opened #758 "Mail Configuration Not Working(Agent Verification Pending)"
**Describe the bug**
Even I Configured .env file mails not working,
01.How do i get agent verification email?
02.Can i verify agent manually inside chatwoot dashboard?

this is my .env Configuration
![bandicam 2020-04-24 12-37-45-033](https://user-images.githubusercontent.com/64188066/80184919-18701080-8629-11ea-967b-cf7adeb0c650.jpg)

[2020-04-24 08:19] pranavrajs opened #759 "Enhancement: Use inbox avatar URL as bot image if agent bot image is not available"
Instead of providing a random bot image as the sender, use inbox avatar url as bot image if agent bot has not configured an image.

[2020-04-24 08:23] pranavrajs commented on #758
You have to configure the variables required, I think you have configured everything. Could you please see if there is any error in the console.

Please see if this helps.
https://github.com/chatwoot/chatwoot/issues/638#issuecomment-605420967

[2020-04-24 08:56] KasunAssetDidital commented on #758
@pranavrajs  how do i execute this `u = User.find_by(email: 'youremailaddress')` command on my CLI
actually i really new to this rails,Could u tell me

I tried this `docker-compose run rails -it chatwoot bin/rails c u = User.find_by(email: 'myemail@email.com')`

but didn't work

[2020-04-24 09:25] andreipopovici opened #760 "Remove deprecated scope from Facebook channel flow"
https://github.com/chatwoot/chatwoot/blob/5736f687e8bbbe9e4b61a256ad5bc90248dcbb79/app/javascript/dashboard/routes/dashboard/settings/inbox/channels/Facebook.vue#L199

See:

![Screen Shot 2020-04-24 at 12 24 23](https://user-images.githubusercontent.com/1143417/80196920-a5659a80-8626-11ea-820e-34bf71ff6d99.png)

[2020-04-24 09:25] andreipopovici commented on #760
Guess deadline would be June 30, 2020 🤷‍♂️

[2020-04-24 09:31] tabrza opened #762 "Chatbot shake"
**Describe the bug**
When mousing over the chatbot it shakes. The issue appears I believe due to the overflow: hidden being appended to the body..
Appears to hide the scroll bar resulting in this issue

**To Reproduce**
Scroll on edge of chatbot when window open

[2020-04-24 09:43] tabrza opened #763 "Agent online/offline"
**Is your enhancement request related to a problem? Please describe.**
If agent online send a pre-defined response, otherwise send another type of response

**Describe the solution you'd like**
If agent is online, let user the know that agent x would be with them shortly.
If agent is offline, let user know that there are no agents currently online and collect user data.

When bot sends a message,

[2020-04-24 09:44] tabrza commented on #728
Can be done through rails console. Cheers

[2020-04-24 09:44] #728 closed

[2020-04-24 09:45] KasunAssetDidital commented on #762
hey @tabrza how do i run u = User.find_by(email: 'my@email.com') on docker CLI could you tel me

[2020-04-24 10:12] tabrza commented on #762
@KasunAssetDidital - i've been working on this with heroku. for that, in your command line pls do the following

heroku run rails c -a "app name"
u = User.find_by(email: 'a@b.com')

[2020-04-24 10:17] KasunAssetDidital commented on #762
I run this command,but nothing changed
` docker-compose run rails -it **MyappName** bin/rails c -a 'u = User.find_by(email: 'my@email.com')'`

Thank you

[2020-04-24 10:33] KasunAssetDidital commented on #758
Hi @pranavrajs
 I'm using Dedicated Server to run this application on linux ,rails with docker
 could u help me to configure mail server or verify agent manually  if it possible

[2020-04-24 10:59] tabrza commented on #762
solved the issue by appending overflow-y scroll to the html tag
[code]

if there is a cleaner solution to this kindly pls do let me know

[2020-04-24 11:32] sojan-official commented on #763
ref : #718

[2020-04-24 16:27] sojan-official commented on #758
@KasunAssetDidital  You will have to connect to the Docker container that is running rails first.
the following command on a machine will give you the container id
[code]
using the id obtained  run
[code]
start rails console by typing the following in the shell
[code]
Now you can try the user.find command inside the console.

Let us know if you need more help.

[2020-04-24 16:32] pranavrajs commented on #762
@tabrza Thanks for reporting this, I'm not sure whether there is a conflicting overflow with the parent website'd body. I'll do some test around it to see I can reproduce this.

[2020-04-24 16:33] pranavrajs commented on #760
@andreipopovici Thanks for the issue and PR. FB was developed long back, it might have some unused scope, thanks for the cleanup.

[2020-04-24 16:34] pranavrajs commented on #763
@tabrza We are working on to improve this flow, typing indicator would be added soon.

[2020-04-24 16:47] sojan-official commented on #756
@KasunAssetDidital  depends on your set up. One of the solutions is having a ngnix web server handling the incoming traffic and routing the traffic to the port 3000 at which chatwoot runs.

You can have the SSL certificate installed at the Nginx side.

[2020-04-24 19:22] somedayrainbows commented on #668
would like to claim this please 😺

[2020-04-25 02:40] sojan-official commented on #668
@somedayrainbows  have assigned it to you. thanks a lot for picking it up 😃

[2020-04-25 16:57] sojan-official opened #765 "Chore: Make chatwoot available on caprover"
Enabling Chatwoot as a one-click app on caprover will help us to make deploying Chatwoot into production easier. This might need us to make some changes in our current docker file we publish to docker hub.

ref: https://github.com/caprover/one-click-apps/issues/109

[2020-04-25 17:13] #760 closed

[2020-04-25 17:42] pranavrajs commented on #235
@sojan-official not doing a DB field, it will be config in the frontend settings.

[2020-04-25 17:48] #235 closed

[2020-04-25 18:53] meaziz commented on #497
Is that issue still there, would like to have a look at it. and @sojan-official can you describe the idea about the meta endpoint.

[2020-04-25 19:00] meaziz commented on #359
just want to make sure that "New Conversations." also means that conversations that were marked resolve but the user triggered it again.

[2020-04-26 02:39] sojan-official commented on #359
@meaziz  we will have notifications for reopened conversations as well. ie, when a conversation marked resolved gets a new message.

[2020-04-26 02:45] sojan-official commented on #497
@meaziz yes, if you would like to work on it will assign it to you.
As described in the issue, it has to do with this particular header.

![Screenshot 2020-02-15 at 3 21 34 AM](https://user-images.githubusercontent.com/73185/74570355-6a017c80-4fa2-11ea-9c0a-bebb9cd219f3.png)

so every time we get an event in our WebSockets,  we will have to send an API request to the backend to fetch the count of

[2020-04-26 14:37] sojan-official commented on #765
ref: https://github.com/caprover/one-click-apps/pull/163

[2020-04-26 18:34] pranavrajs opened #769 "Enhancement: Ask for password in signup screen"
We don't ask for a password in the signup, it creates a confusing UX around users. We should accept password in signup and use confirm flow to just confirm the account.

[2020-04-26 19:19] sojan-official commented on #765
Merged to caprover https://github.com/caprover/one-click-apps/commit/37abf28c342eee9dab8054fa4d4bb1862c2958c4

[2020-04-26 19:19] #765 closed

[2020-04-26 20:11] aermike commented on #758
Hi
I have same problem with manual install  #751
Resolved with help of @sojan-official (Thanks)
ref:

mikel/mail#550

https://stackoverflow.com/questions/27795484/sslerror-hostname-w-x-y-z-does-not-match-the-server-certificate

https://serverfault.com/questions/908410/opensslsslsslerror-hostname-smtp-gmail-com-does-not-match-the-server-cert
Conrect:
put in .env at mail setup last line
openssl_veri

[2020-04-26 20:12] aermike commented on #751
It wotks after modify .env with
openssl_verify_mode=NONE

[2020-04-26 20:12] #751 closed

[2020-04-26 21:32] aermike commented on #756
And another solution?

[2020-04-27 03:24] KasunAssetDidital commented on #758
Hi @sojan-official
It worked. thank you soo much. Could You help me to configure the mail server if you can? I think that would be the best way to work with "chatwoot".

[2020-04-27 09:36] pranavrajs opened #771 "Bug: Confirmation urls not redirected to password setting screen"
Right now, the password is set during the confirmation flow. After confirmation, the user is redirected to the dashboard without setting a password.

[2020-04-27 09:45] #771 closed

[2020-04-27 15:28] AniketBajpai opened #774 "How do I understand the codebase?"
Hello. I am looking to contribute to this repo. I have deployed the code locally and have gone through the docs but am not able to find any link to understand the codebase. Please could anyone point me in the right direction? Thanks!

[2020-04-27 16:41] tabrza commented on #763
cool!

[2020-04-27 16:52] sojan-official opened #775 "Feature: Avoid Agent collision"
**Is your feature request related to a problem? Please describe.**
When I have multiple agents in my system, there is a chance that agents end up working on the same ticket.

**Describe the solution you'd like**
We need typing indicator above the input area showing that another agent is working on the conversation.

**Describe alternatives you've considered**
none

**Additional context**
none

[2020-04-27 23:26] meaziz commented on #497
If I may propose an alternative.
Instead of sending an API Call every time we get an event in our WebSocket
Why don't we send the data through over with the socket message?

or at least send a property with each socket message advising the Front-end whether it need to go fetch the data or not.

[2020-04-28 02:50] KasunAssetDidital commented on #758
Hi @sojan-official it worked for me. Thank you soo much and @aermike thank you too for trying to help me. I really appreciate it.

[2020-04-28 02:50] #758 closed

[2020-04-28 02:52] KasunAssetDidital commented on #756
@sojan-official I'm working on I'll let you know if I make any progress

[2020-04-28 06:18] pranavrajs commented on #497
@meaziz Please let me know your thoughts on the following one.

We thought about this approach initially, later figured that this will not work. There are a couple of reasons for this.

1. The counters in the frontend are dependant on the user, the type of filter the user has applied on the frontend.

We don't save the filters in the backend, so when we send the socket event, we don't have context

[2020-04-28 07:19] sojan-official commented on #701
when in docker you will have to set env variable `RAILS_LOG_TO_STDOUT` to be true. we will add this as the default value.

[2020-04-28 08:44] sojan-official commented on #756
@KasunAssetDidital  we no have chatwoot available as a one-click installation on caprover. you can explore that as well. https://caprover.com/docs/get-started.html

this automates everything for you, the Nginx part and event the cert management using letsencrypt.

[2020-04-28 09:23] tabrza commented on #763
If you could point me to certain files I can see about experimenting with this feature?

[2020-04-28 12:00] sojan-official commented on #774
Hey @AniketBajpai  thanks for your interest in Chatwoot.  I totally understand your pain when it comes to docs and its something which we are working hard to improve. while we are at it let me try to give a quick brief.

if you have the code up and running locally, I would suggest you explore the features and UI first, understand the business cases we are solving.
https://www.chatwoot.com/develope

[2020-04-28 16:50] andreipopovici commented on #359
Might I suggest a timer-based escalation method used by a large player in the market?

Once a new message comes in, show a dashboard notification (optionally a tasteful audio chirp). If it's not acknowledged for 1 minute, send a mobile push notification. If that's not read for ~5 minutes, send a notification email for that conversation.

This would require keeping track of each notification trigge

[2020-04-29 07:00] sojan-official commented on #359
@andreipopovici thanks for the suggestion. We will keep it in mind as we add more features to the notification system in upcoming releases. But taking a cue from your suggestion in the current release we are evaluating a following case.

if a user has both email and push notification subscribed, we will trigger the push notification immediately and only if it hasn't been acknowledged in the next f

[2020-04-29 10:51] sony-mathew opened #777 "Move the email ingress method in config to an environment variable"
*Problem Description*
Right now the email provider for the inbound emails is set as hardcoded in the rails config settings for each environment. Because of this if people need to use a different one, they need to make a change in code before deploying. This becomes more problematic for people using pre-built Docker containers for deploying the Chatwoot platform.

*Proposed Solution*
We can move th

[2020-04-29 10:55] sony-mathew opened #778 "Add documentation on email settings under account settings"
**Problem**
As of now, when a user has to configure inbound emails, there are some settings related to this under the account settings page. This is confusing and does not really say anything more about each of the settings.

**Solution**
Required more documentation on guiding a user to configure this.

[2020-04-29 14:33] sojan-official opened #780 "Chore: Ability to serve the application css and js from CDN"
**Is your enhancement request related to a problem? Please describe.**
 Ability to serve the application css and js from cloudfron

**Describe the solution you'd like**
would like to serve the rails app assets from a CDN

**Describe alternatives you've considered**
none

**Additional context**
none

[2020-04-29 16:06] lybtt opened #781 "I want to know how to run production mode with docker"
hi, chatwoot is very good, but it's docment may not be perfect.
I want to run production mode with docker,and I edit **RAILS_ENV=production** and **SECRET_KEY_BASE=secret** in .env, then I run docker-compose up,but it doesn't work.
What should I do?

[2020-04-29 18:03] sojan-official commented on #781
@lybtt we are working on improving the production deployment documentation. meanwhile, You could you give it a try with caprover ?

https://caprover.com/docs/get-started.html

the installation takes a couple of steps and chatwoot is available as a one-click install app inside that.

Meanwhile, if you want to debug the current error, could you post the logs?

[2020-04-29 20:39] sojan-official opened #782 "Enhancement: Open up api to create outgoing messages"
**Is your enhancement request related to a problem? Please describe.**
I want to use chatwoot as a message store/relay service. I need an API to create outgoing messages.

**Describe the solution you'd like**
I want chatwoot to have an outgoing messages API

**Describe alternatives you've considered**
none

**Additional context**
The current messages API only support incoming messages creation and

[2020-04-29 23:31] sojan-official opened #784 "Chore: Squash Migrations"
Evaluate whether it makes sense to squash the migrations up till 3 months back.

https://blog.usejournal.com/how-to-keep-your-activerecord-migrations-clean-6d135730e076

[2020-04-30 01:06] lybtt commented on #781
Right now, I just want to know how to run chatwoot in production mode with docker.

I follow the document, [https://www.chatwoot.com/docs/installation-guide-docker](https://www.chatwoot.com/docs/installation-guide-docker).

I already set **SECRET_KEY_BASE** and **RAILS_ENV** environment variable in my .env file and then run the below commands:

[code]

![image](https://user-images.githubuserconten

[2020-04-30 01:25] sojan-official commented on #781
@lybtt could you ensure the `.env` file contain the following value as true `RAILS_LOG_TO_STDOUT`  before running docker commands.

There is a bug that causes docker images to fail with the environment variable is not present, This will be addressed in our upcoming release.

[2020-04-30 01:41] lybtt commented on #781
@sojan-official after I set **RAILS_LOG_TO_STDOUT=true**, I have another problem.

![image](https://user-images.githubusercontent.com/38394058/80663453-8bb0d100-8ac6-11ea-8cd1-797f9c925825.png)

![image](https://user-images.githubusercontent.com/38394058/80663309-32e13880-8ac6-11ea-8bfd-6c37ee810707.png)

this is my .env:

[code]

[2020-04-30 10:10] muhzi4u opened #785 "Chore: Add sender and assignee details in conversation messages API"
Working on [chatwoot-mobile-app/issues/90](https://github.com/chatwoot/chatwoot-mobile-app/issues/90).

`API URL --> <BASE_URL>/api/v1/accounts/:accountId/conversations/:id/messages`

API Method —> `GET`

- Add the missing details assignee and sender in the meta object.
- Add `agent_last_seen_at`

For example:

[code]

<img width="377" alt="Screenshot 2020-04-30 at 3 36 00 PM" src="https://user-im

[2020-04-30 10:33] muhzi4u opened #786 "Enhancement: Setup apple-app-site-association file for universal linking"
Working on [chatwoot-mobile-app/issues/141](https://github.com/chatwoot/chatwoot-mobile-app/issues/141).

In order to work Universal Linking  (Allow app to launch from a link within an email or text message,) in iOS, we need some kind of association configuration in the server.
Universal links work through a relationship between the app’s capabilities and your server apple-app-site-association fil

[2020-04-30 13:15] andreipopovici commented on #359
I'll just leave this here as a warning against over-complicating things 🤣

https://pbs.twimg.com/media/C6ROe0mU0AEmpzz?format=jpg

[2020-04-30 14:50] #138 closed

[2020-04-30 23:25] Mardiie commented on #85
You can't really speak of an installation guide if you only help people with setting up dependencies. I'm pretty sure most people are able to install ruby or nodejs. I do not think that most people know how to actually get YOUR project up and running. And for that no info is available at all.

[2020-05-01 06:12] pranavrajs commented on #85
@Mardiie https://www.chatwoot.com/docs/quick-setup/ Please see if this helps.

[2020-05-01 06:15] #685 closed

[2020-05-01 06:17] pranavrajs opened #789 "Chore: Enable available languages in account settings"
Enable all available languages in account settings.

[2020-05-01 06:54] pranavrajs opened #792 "Bug: pt-PT and pt-BR are overwritten by Crowdin"
Crowdin supports pt-PT and pt-BR while exporting the files are merged in random order.

[2020-05-01 08:23] Mardiie commented on #85
I have read everything and repeat my statement. You only install dependencies

[2020-05-01 09:07] sojan-official commented on #85
@Mardiie Installation of the rails app and seeding the default data is usually enough for a chatwoot to be up and running. you can further customize the installation via environment variables https://www.chatwoot.com/docs/environment-variables

If you could share the areas which you found difficult in terms of setting up chatwoot, the team can work on improving it.

[2020-05-01 09:07] JijeshP opened #794 "Feature: API Channel"
**Is your feature request related to a problem? Please describe.**
how can we create a new channel  ?

[2020-05-01 12:00] sojan-official commented on #794
@JijeshP  at the moment we only support the default enabled channels in chatwoot.  Custom channels that can be used for API integration are on our roadmap.

Let me know if that's the use case you are looking for.

[2020-05-01 12:45] #785 closed

[2020-05-01 14:24] Mardiie commented on #85
At what point of your quick setup do you point to your own files on github and what to do with those?
I know what ruby is, i know you use it in your app, thats about it.
How am i going to setup your application without that information?
I get a source from github, help with installing dependencies, but no information about what to do with your source next to were to setup the environmental variabl

[2020-05-01 15:08] JijeshP commented on #794
Yes @sojan-official, option to integrate any channels using APIs and web-hooks.

[2020-05-01 17:35] sojan-official commented on #701
close via #787

[2020-05-01 17:35] #701 closed

[2020-05-01 20:16] aermike opened #799 "Canned responses settings and use for domain"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
As an agent on an domain, I'd like to set up my canned responses, and use for domain which I serve
Now canned respomses ar visible by all agents, on all domain
**Describe the solution you'd like**
A clear and concise description of what

[2020-05-02 03:06] Xolsurf3r commented on #450
Is there a possibility of automated script using bash scripting? Some sort of execution wizard through CLI.
 Or Something similar to what 'OpenProject' have done. I wonder if chatwoot & OP use similar s/w stack.
They created repo for Centos/Debian and setup by just one command:
`sudo openproject configure`
Once this is executed the setup asks for host name to database creation & web server and lin

[2020-05-02 04:05] pranavrajs commented on #450
@rjroot We did an initial investigation on this ticket and figured it will be hard to use it in CPanel, as an alternative, we made the app available on CapRover(https://caprover.com).

If you install Caprover in your VM, you will be able to install Chatwoot with a button click.

[2020-05-02 04:52] muhsin-k opened #800 "Enhancement: Show the date in today, yesterday or other date format in widget"

[2020-05-02 07:37] pranavrajs opened #802 "Bug: Reports chart starts from the lowest value"
Reports chart start from lowest value, instead it should start from 0.

[2020-05-02 09:32] sojan-official commented on #794
@JijeshP  we will take this up for the next release.

[2020-05-02 09:33] #802 closed

[2020-05-02 13:54] sojan-official commented on #799
@aermike this sort of isolation should be done through multiple accounts. We are working on enabling multiple accounts for users and the ability to switch between accounts in our upcoming release.

[2020-05-02 17:59] #777 closed

[2020-05-03 06:46] #786 closed

[2020-05-03 08:47] pranavrajs commented on #662
@nithindavid Is this something which is still required?

[2020-05-03 09:15] #664 closed

[2020-05-03 09:21] pranavrajs commented on #662
Closing as it is done

[2020-05-03 09:21] #662 closed

[2020-05-03 14:22] sojan-official commented on #799
@aermike could you also share more information on your use case here.  So we will be able to support your workflow better in our implementation.

[2020-05-03 16:33] pranavrajs opened #812 "Feature: Integrate typing indicators in Facebook channel"
Integrate Typing indicators with Facebook

[2020-05-03 17:09] aermike commented on #799
hi
I think about an domain www.examle1.com with agent1 alocated to him, and www.example2.com with agent2 allocated to him.
In that ase agent1 must have his canned response ande agent2 his canned response.
For example: an canned response is named "hello" with  "Greetings to be on www.example1.com"
Canned response "hello" is not usable by agent2 because his assigment is on example2.
 Agent 2 see can

[2020-05-04 11:08] sojan-official commented on #792
fixed the issue in crowdin config by setting a custom code mapping for pt-BR.
since we were using two-letter codes in integration. the pt & pt-BR was getting merged.

[2020-05-04 11:08] #792 closed

[2020-05-04 11:12] sojan-official commented on #792
ref : https://support.crowdin.com/configuration-file/#language-mapping

[2020-05-04 13:37] #673 closed

[2020-05-04 13:43] sony-mathew opened #814 "Feature: Feature flags on accounts"
**Problem**
As of now, everything is out there in the open. But soon when we are building bigger features phase by phase, we do not want that to be enabled for all the users until it's finished. It might be confusing for people if we open up parts of a half baked feature when they update the system.

**Proposed Solution**
Solutions :
1. To bypass this problem, I propose we start using the feature

[2020-05-04 17:36] #814 closed

[2020-05-04 17:37] #718 closed

[2020-05-05 04:22] pranavrajs commented on #282
Reopening this as the documentation is not added, only the scripts were added.

[2020-05-05 07:53] pranavrajs opened #817 "Feature: Typing Indicator to Twitter"
- [ ] Use use typing event to toggle Typing indicator in Twitter
- [ ] Use Twitter API webhook events to display user typing indicator in agent dashboard

[2020-05-05 07:54] pranavrajs opened #818 "UX: Improve tweet layouts in conversation views"
- [ ] Handle the UX for multiple tweet threads in the same conversation

[2020-05-05 07:56] pranavrajs opened #819 "Chore: Review attachment handling in Twitter."
- [ ] Verify that the media type are handled properly in Twitter integration

[2020-05-05 08:01] pranavrajs opened #820 "Feature: Update icon to Feather Icons"
Use feather icons in UI

https://feathericons.com/

### Why is this change required?

As we add more features, we feel Ionicons (we use an older version now) does not have enough set of icons we need.

### Why not newer version of Ionicons?

Ionicons have a different set of icons for android and iOS, it creates confusion on whether to use a filled or line icon. Instead of having different styles o

[2020-05-05 08:08] pranavrajs commented on #725
With 1.4.0 release, we have added a feature to customise the welcome message and welcome title.

Chatbot font can be a separate ticket, we can discuss how and what all things are going to be customised.

[2020-05-05 08:10] pranavrajs commented on #742
Closing this as a separate ticket would be added for onListener

[2020-05-05 08:10] #742 closed

[2020-05-05 08:11] pranavrajs opened #821 "Chore: Provide an onReady listener for the website SDK"
Provide a callback to the user when the website SDK is loaded and ready to use.

[2020-05-05 08:13] pranavrajs commented on #774
Closing this as no further action is required.

[2020-05-05 08:13] #774 closed

[2020-05-05 08:14] pranavrajs commented on #762
Closing this as the issue is not reproducible.  @tabrza Please feel free to re-open this if you have demo where we can see the error.

[2020-05-05 08:14] #762 closed

[2020-05-05 08:15] pranavrajs commented on #756
@sojan-official @KasunAssetDidital Is there any additional info/action required here, otherwise please close this ticket.

[2020-05-05 08:16] pranavrajs commented on #741
Closing this as the issue is not reproducible.

@BhaveshSGupta Please feel free to re-open if you still face any issue.

[2020-05-05 08:16] #741 closed

[2020-05-05 08:17] pranavrajs commented on #722
@robson-jardim Closing this as there is no response from your end. Please feel free to re-open if you have additional information.

[2020-05-05 08:17] #722 closed

[2020-05-05 08:18] pranavrajs commented on #720
Closed via #811

[2020-05-05 08:18] #720 closed

[2020-05-05 08:20] pranavrajs commented on #781
@sojan-official Is this ticket still needed? I guess the issue has been merged to develop

[2020-05-05 08:34] BhaveshSGupta commented on #741
@pranavrajs , okay
As of now I am not getting same error. But I was not able to set-it up and running on my system.

[2020-05-05 10:09] sojan-official commented on #781
fix for this is merged

[2020-05-05 10:09] #781 closed

[2020-05-05 10:12] sojan-official commented on #756
let's reopen this if the issue persists.

[2020-05-05 10:12] #756 closed

[2020-05-05 15:05] sojan-official opened #822 "Chore: Send full conversation info in webhook payloads"
Chore: Send full conversation info in webhook payloads

[2020-05-05 15:09] sojan-official opened #823 "Chore: Support postgres SSL CA cert"
Chore: Support  postgres SSL CA cert

[2020-05-05 18:30] sojan-official opened #824 "Bug: Translations settings bug on account settings page"
**Describe the bug**
erratic behavior on account settings page post changing language

**To Reproduce**
Steps to reproduce the behavior:
- go to account settings
- change language
- go to home page
- click on account settings
- the account settings page alone appears in old language again.

**Expected behavior**
the account settings should appear in selected language

**Screenshots**
If applicable

[2020-05-05 18:40] #681 closed

[2020-05-06 08:08] #789 closed

[2020-05-06 08:09] pranavrajs commented on #719
Closed via #807

[2020-05-06 08:09] #719 closed

[2020-05-06 08:53] sojan-official commented on #824
fixed in https://github.com/chatwoot/chatwoot/commit/c7120e9637e08e68f3ebf04e7f61d190936eeca6

[2020-05-06 08:53] #824 closed

[2020-05-06 09:01] sojan-official commented on #359
closed in https://github.com/chatwoot/chatwoot/commit/e9131ea55862a49994bb582458631179e2277d5b

[2020-05-06 09:01] #359 closed

[2020-05-06 14:02] mzch opened #828 "Unable to upload a user avataor"
**Describe the bug**
Trying to upload a user avatar, but always failed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Profile Setting'
2. Click 'Select file' and select a .png file
3. Click 'Update Profile'
4. Reload page on the browser
5. No change

**Expected behavior**
Change an avatar successfuly.

**Screenshots**
<img width="1393" alt="ScreenShot01" src="https://user-images.git

[2020-05-06 14:40] sojan-official commented on #828
@mzch  have you configured the storage correctly?  https://www.chatwoot.com/docs/configuring-cloud-storage
could you also provide us the logs on the server when you are trying to updates the picture?

[2020-05-06 14:43] sojan-official opened #829 "Bug: Widget breaking on text containing single quote"
![widget](https://user-images.githubusercontent.com/73185/81190793-e5892d80-8fd5-11ea-8d3e-639f5f540217.png)

[2020-05-06 14:53] mzch commented on #828
I set `ACTIVE_STORAGE_SERVICE="local"` but not shown.

[code]

[2020-05-06 15:21] mzch commented on #828
Oh, sorry, I failed to install imagemagick. I reinstalled it, then an avatar is shown successfully,
Thanks!

[2020-05-06 15:21] #828 closed

[2020-05-06 19:15] vfasoulas opened #830 "set default locale"
**Is your enhancement request related to a problem? Please describe.**
I can not specify locale for login screen, other than english

**Describe the solution you'd like**
define default locale as enviroment variable for example DEFAULT_LOCALE .

**Describe alternatives you've considered**
using system variable for example LC_ALL.

**Additional context**
Also it seems that agent locale is allways e

[2020-05-07 06:50] pranavrajs commented on #712
Closing as Crowding is setup

[2020-05-07 06:50] #712 closed

[2020-05-07 13:26] chinyaev opened #832 "Email channel"
Hello! You write in 1.4 version "Conversation continuity through Email (αlpha)", I understand correctly that this is an email channel? I install chatwoot via Docker, but don't see the email channel in the settings (https://imgur.com/a/9z8fJDF)

[2020-05-07 14:19] sojan-official commented on #830
@vfasoulas  we will explore a solution for this in the upcoming release

[2020-05-07 15:28] pranavrajs opened #833 "Bug: The icons in widget are not aligned"
<img width="458" alt="Screenshot 2020-05-07 20 57 36" src="https://user-images.githubusercontent.com/2246121/81313405-7418b000-90a5-11ea-94c5-5dcb4e7d0970.png">

Browser: Firefox 76.0

[2020-05-08 06:58] pranavrajs commented on #832
@chinyaev This is under a feature flag, we were expecting it to be beta tested this month and release publically in the next release. There were some issues with some type of attachments, so we figured we will iron out those.

Hope that helps.

[2020-05-08 06:58] #832 closed

[2020-05-08 10:13] pranavrajs opened #835 "Improve first load time"
- [ ] Dashboard loads 1.5 MB worth of assets on first load
- [ ] Font consist of around 700kb, review the usage of font-weights, use another icon font
- [ ] Review the favicon load time

[2020-05-08 10:14] pranavrajs commented on #835
https://github.com/rsms/inter/issues/53#issuecomment-366497133

[2020-05-08 21:22] matthewwwillard opened #836 "Unable to create database"
**Describe the bug**
Unable to run 'bundle exec rake db:create'

**To Reproduce**
Following instructions on Quick Setup

**Expected behavior**
Init database

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Ubuntu Server (Latest as of 5/8)
RAILS_ENV set to production.
[db_results.txt](https://github.com/chatwoot/chatwoot/files/4601702/db_results.

[2020-05-09 04:44] pranavrajs commented on #836
@matthewwwillard

1. What is the version of Chatwoot you are using?
2. Did you complete the dependency installation step? https://www.chatwoot.com/docs/quick-setup#install-ruby-dependencies

[2020-05-09 16:32] #759 closed

[2020-05-09 16:51] matthewwwillard commented on #836
@pranavrajs

1. Latest, pulled yesterday.
2. Yep! Followed the quick setup!
![Screen Shot 2020-05-09 at 12 51 26 PM](https://user-images.githubusercontent.com/30221119/81479837-d5e73000-91f3-11ea-9f75-3d95782f4d43.png)

[2020-05-09 17:06] pranavrajs commented on #836
@sojan-official Can you please take a look at this?

[code]

[2020-05-10 01:29] RonWalker22 commented on #316
Hey guys, I'm thinking about building this feature for my own use case.

[2020-05-10 02:43] RonWalker22 opened #837 "Private notes displayed in the conversation email that is sent to customer"
**Describe the bug**

Private notes are displayed in the conversation email that the customer signs up for when they being a new chat.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new chat as a customer. Sign up for the conversation to be emailed to you.
2. Add a private note and a few messages in the chat as an agent.

**Expected behavior**
Private notes should not be included in

[2020-05-10 03:25] RonWalker22 commented on #837
Looking at the schema, private messages are just messages with `private` attribute set to `true`. So they are the same model.

The issue with this is that every time you pass the messages around you have to remember to filter out the private ones.

Here's another idea. It might be better to have `private_message` as a separate model(different table). So when you interact with the `message` model y

[2020-05-10 06:22] pranavrajs commented on #837
@RonWalker22 This seems to be a bug, we will have a fix for it soon.

[2020-05-10 06:24] pranavrajs commented on #316
@RonWalker22 This sounds good, let us know if you need any help from our part.

[2020-05-10 06:37] sojan-official commented on #837
@RonWalker22  thanks for bringing this up. we will add a default_scope to the messages table so that private messages are always filtered out.
We can override the filter explicitly whenever fetching private messages are required. This will save us for now,  without doing much rework.

[2020-05-10 06:55] sojan-official commented on #836
@matthewwwillard just found this -> https://github.com/rails/rails/issues/36158  while investigating. This could be a problem with the installation somehow. can you check the GEM_PATH that's being set ?

btw if you are intending to use in production, I would suggest using caprover .  we also have a ubuntu installation script https://github.com/chatwoot/chatwoot/blob/develop/deployment/setup.sh , t

[2020-05-10 11:07] sony-mathew commented on #837
Hey @RonWalker22, considering the severity of this issue, we took this on priority and have resolved this. We have created a dedicated release for this: https://github.com/chatwoot/chatwoot/releases/tag/v1.4.1

Thank you so much for bringing this to our attention and reporting the issue. On a side note, we appreciate your pointers on how to go about resolving this issue. For now, because of the se

[2020-05-10 11:07] #837 closed

[2020-05-10 14:47] sony-mathew opened #839 "Global Installation Config"
## Problem
While going in the direction with a hosted version and requiring different things to be customized for different customers when they self-host Chatwoot installations, the current path that we have taken is to deal with account-level feature flags and environment variables. This is not a scalable way, going forward.

This can cause a variety of issues, as the primary being tackling all t

[2020-05-10 17:10] #839 closed

[2020-05-11 02:32] fabiocmazzo opened #842 "404 error in Reports"
** 404 error in reports page **
I'm using a docker version 1.4.1 of chatwoot and when i open reports numbers dont update.
I check network conections and get 404 errors in this URLs:

`/api/v1/accounts/3/reports/1/account_summary?since=1588636800&until=1589241599`

and

`/api/v1/accounts/3/reports/account?metric=conversations_count&since=1588636800&until=1589241599`

I checked code and found accoun

[2020-05-11 06:21] pranavrajs commented on #842
@fabiocmazzo This has been fixed and released as a separate release v1.4.2

[2020-05-11 06:21] #842 closed

[2020-05-11 09:23] sony-mathew opened #844 "Need for accessing global/installation config in more easy way"
**Problem**
At present to access an installation config anywhere in the app, it needs to be queried with config key from the DB directly using InstallationConfig model. This is very inconvenient in many ways.
1. Every time a config key and value needs to be accessed, there is a DB hit
2. For every single config key, you need to query separately, there is no way to get a bunch config keys and value

[2020-05-11 13:30] #844 closed

[2020-05-11 15:01] RonWalker22 commented on #316
I looked it over, I would have to change too much. The current Conversation model is so tightly coupled to a single customer. I don't have not enough time.

[2020-05-11 15:58] matthewwwillard commented on #836
Thanks for the updates! I'll try giving caprover a try!

I tried the install script and it seems that RVM is having issues in sudo, as well as issues with the GEM_PATHs. Checking that out!

[2020-05-11 18:12] sojan-official opened #846 "Chore: Ensure the ability to lock installation configurations"
There is a chance that installation configuration could be overwritten via a migration based on the current API design. we will introduce a lock attribute to the table to skip this behavior.

[2020-05-11 20:26] matthewwwillard commented on #836
So dropping down to Ubuntu Server 18.04 LTS from 20.04 LTS seems to have resolved this issue.

[2020-05-12 00:32] RonWalker22 commented on #316
I think I may have found a way to add this feature without too much pain.

I'm going to create a join table, `Guest`, that links a `Contact`(customer) with a `Conversation`.

[code]

The `Conversation` model along with all of it's attributes don't have to change.

Also the workflow for a contact(customer) who is first to initiate the conversation, will not change. But we will add a guest for any a

[2020-05-12 05:46] sojan-official commented on #316
@RonWalker22  this sounds aligned with our thoughts.  Probably on the naming part, let's try something like  `ConversationParticipants` ( better ideas are welcome ) since `Guest` sounds a bit generic.  But this sounds like a good direction.
At a later stage, we could migrate the contact attribute from conversation entirely to the new table. We could also add an additional attribute `primary` to th

[2020-05-12 05:46] sojan-official commented on #836
@matthewwwillard  thanks for reporting this. we will debug the script over a 20.04 machine.

[2020-05-12 08:15] sojan-official opened #849 "Enhancement: Show the visitor online status across the dashboard"
At the moment the green online indicator appears on contact avatar, online in the show details section, I would like to see this indicator being shown even in the conversations list and also on conversation header so that I can prioritize my replies accordingly.

[2020-05-12 08:16] sojan-official opened #850 "Feature: Send push notifications when new messages come in assigned conversation"
- Ability to receive push notifications when messages come into my assigned conversation

### Acceptance criteria

- Create a setting in profile setting for push notification
- Add a new flag name in flagshitzu
- Implement the logic to send the message as a push notification

[2020-05-12 09:06] sojan-official opened #851 "Enhancement: Store typing indictors in redis"
the current implementation of conversation typing indicators is relying messages via WebSockets. If another agent logs in after the current agent started typing on a conversation the agent will miss the typing indicator.

so let's also store the typing indicator status to Redis and expose it in the conversation API end points.

[2020-05-12 12:44] RonWalker22 commented on #316
Maybe `Interlocutor`?
https://en.wikipedia.org/wiki/Interlocutor_(linguistics)

Although I never heard of the word before, it perfectly describes the model. But, if we need to provide the definition to others, perhaps, it's not the best word to use.

I'll stick with ` ConversationParticipants` for now

[2020-05-13 13:55] sojan-official opened #854 "Feature: System should translate incoming chat messages into accounts default language"
If the chatwoot installation receives an incoming message in a language other then the account language, a translated text should appear alongside.

[2020-05-13 16:34] RonWalker22 commented on #833
@nithindavid have you already started working on this?

[2020-05-13 17:54] pranavrajs commented on #833
@RonWalker22 Nope, if you want to pick it up, you can do that :)

[2020-05-13 17:56] RonWalker22 commented on #833
@pranavrajs  Yes, I'll take it. Thanks!

[2020-05-13 18:53] sojan-official opened #856 "Chore: JS Sdk should only make api calls when there is a change in contact data"
right now the js sdk makes api calls whenever the update contact method is called.  we should limit the hits to app server by making this happen only on contact data change

[2020-05-13 20:02] sojan-official commented on #316
`Interlocutor` :D
the wiki link was really handy

[2020-05-14 06:12] #833 closed

[2020-05-14 08:13] #612 closed

[2020-05-15 00:11] fabiocmazzo opened #864 "Facebook Integration not Receive Messages"
**Version 1.4.2**
I'm integrate with Facebook following instructions and a valid Facebook Application. Facebook validates webhook em my_end_poing/bot.

After create inbox and trying receive a message, inbox dont receive the message and i view in log this messages:

`Ignoring read (no hook registered)
Ignoring message (no hook registered)`
![Screenshot from 2020-05-14 21-10-27](https://user-images.

[2020-05-15 05:50] pranavrajs commented on #864
@fabiocmazzo What is the API version you are using? We are debugging the issue with v7.0. API version until v6.0 works fine.

[2020-05-15 10:53] sojan-official opened #866 "Feature: Organize Agents into teams"
It's difficult to manage agents in chatwoot system if the number of agents is huge. Let's introduce teams/permission management at a higher level to mitigate this.

todo: explore the idea further.

[2020-05-15 12:16] sojan-official opened #867 "Feature: Ability to mute contacts"
Use Case
-------------
Sometimes the agents might get spam messages through the widget. In order for it to not affect the productivity of the agent, the system should give the ability to temporarily block the contact.

Acceptance Criteria
--------------
When an agent blocks a conversation,  the conversation should get marked as resolved.  Any new incoming messages to the conversation wouldn't reop

[2020-05-15 14:58] fabiocmazzo commented on #864
@pranavrajs I'm using version v7.0, i'm go back to v6.0 to test.

[2020-05-15 15:01] fabiocmazzo commented on #864
Same result :(

[2020-05-15 18:11] sojan-official commented on #864
@fabiocmazzo  we have a fix for this in work. it should be merged in by today/tomorrow.

[2020-05-16 13:25] whiteyhat opened #868 "V.1.4.2 fails the web widget fetch (500 error code)"
**Describe the bug**
When updating to the new version it fails to fetch the web inbox from the client.

**Expected behaviour**
It should fetch the web inox widget without any errors.

**Screenshots**
![Captura de pantalla 2020-05-16 a las 15 25 19](https://user-images.githubusercontent.com/31220861/82120899-7e176e80-9789-11ea-9425-3ec43e232ef0.png)

[2020-05-16 13:33] whiteyhat commented on #868
LOGS
[code]

[2020-05-16 13:34] whiteyhat commented on #868
It seems like the critical changes in the DB have taken place...

[2020-05-16 13:38] whiteyhat commented on #868
## FIXED
`bundle exec rails migrate`

[2020-05-16 13:38] #868 closed

[2020-05-16 15:14] pranavrajs opened #869 "Investigation: Auto-assignment fails after an agent is removed from the account"
- Auto assignment fails when agent is removed.

[2020-05-16 17:03] pranavrajs opened #870 "Provide an option to set locale in web-widget"
Provide an option to set locale in `chatwootSettings` in SDK. If the locale is changed, switch the text used in the widget to the newer language.

[2020-05-17 08:40] pranavrajs opened #872 "Unread message indicator for widget"
Unread message indicator for widget

### Premise

If user closes the widget and agent has responded to his query, there is no way for the user to know that.

### Solution

Provide a small popup above the bubble to display the last unread messages.

![Group](https://user-images.githubusercontent.com/2246121/82139800-1bd17300-9848-11ea-82cb-6af420820775.png)

### Acceptance Criteria

- Show only the

[2020-05-17 10:45] #870 closed

[2020-05-18 04:58] pranavrajs commented on #864
Fixed via #863

[2020-05-18 04:58] #864 closed

[2020-05-18 12:55] pranavrajs commented on #864
@fabiocmazzo Could you please try the develop branch build, there was an error with auto_loading. Now the feature is working fine and is upgraded to use v7.0 API

[2020-05-19 13:13] Darth-Mader opened #879 "Broken link in confirmation/password reset mails"
I have deployed a chatwoot instance on a standalone VPS (not docker) through the git clone.

After setting the SMTP service to work the links in the mails i get are pointing to localhost:3000 instead of the public IP of my machine.

For example the link in a password reset mail will point to
`http://localhost:3000/app/auth/password/edit?reset_password_token=RwnzR_P6ybHpkrdq7QLx`
instead of the wan

[2020-05-19 13:38] sojan-official commented on #879
@Darth-Mader  did you restart the server after setting the value in .env file ?

[2020-05-19 13:38] #687 closed

[2020-05-19 13:38] #688 closed

[2020-05-19 13:39] #693 closed

[2020-05-19 13:39] #697 closed

[2020-05-19 13:39] #717 closed

[2020-05-19 19:37] sojan-official commented on #879
@Darth-Mader  also ensure that the 'RAILS_ENV' value is set to production in .env file

[2020-05-20 07:09] Darth-Mader commented on #879
Now after changing the value to production the server won't start as I'm immediately getting this error:
`frontend.1 | webpack dev_server configuration not found in /home/rchatwok42/domains/chatwoot.test/public_html/chatwoot/config/webpacker.yml[production]`

How can I safely move into production?

[2020-05-20 07:59] sojan-official commented on #879
@Darth-Mader  I think the set up that you followed was the one meant for development purposes. You don't need to run webpack dev server in production.

currently, I guess you would be starting the server using something like `foreman start Procfile.dev` instead of .dev Procfile . just use the  `forman start -f Procfile`

for production set up, you can also use something like caprover which makes t

[2020-05-20 19:00] kadir96 commented on #867
@sojan-official  Is there any implementation details, acceptance criteria regarding this feature? I might be interested in working on this feature.

[2020-05-21 02:41] sojan-official commented on #869
closing this since no existing issues were found. will reopen if reported again.

[2020-05-21 02:41] #869 closed

[2020-05-21 03:01] sojan-official commented on #867
@kadir96 I have updated the issue with acceptance criteria and an implementation guideline. But feel free to explore better approaches at your discretion.
Feel free to ask additional questions if you have any.

[2020-05-21 10:44] kadir96 commented on #867
@sojan-official Thanks for the details! As you know, you can start new conversation using incognito mode. What should we do if someone muted starts new conversation through incognito mode?

[2020-05-21 11:59] pranavrajs commented on #867
@kadir96 This has to be dealt with IP address blocking. At the moment we are not including that in the scope considering the privacy policy updates required. This can be done once the steps for GDPR/CCPA compliance measures are in place.

[2020-05-22 09:18] sony-mathew opened #883 "Conversation Continuity: parse quoted text separately"
## Problem
In conversation replies when an email is sent to the customer and customer replies to that conversation, the content that gets appended in chatwoot has the quoted text along with the reply. This is highly un-readable.

## Proposed Solution
We have to parse the content and identify reply and quoted text separately. As the conversations reply add only the content without quoted text. Also

[2020-05-22 11:54] sony-mathew opened #885 "Conversation Continuity: Thread replies in email client"
**Problem**
Currently, when an email is sent out to the customer when an agent replies, each new email sent out starts a new thread or appears to be a new email rather than as a thread. This doesn't look good from a customers perspective due to the fact that each time a new mail comes in without the previous context of the conversation thread.

**Proposed solution**
Maybe make use of and set appro

[2020-05-22 12:17] sony-mathew opened #887 "Flaky failure in test for Super admin users controller"
**Describe the bug**
Flaky test failure rspec ./spec/controllers/super_admin/users_controller_spec.rb:17

**To Reproduce**
Steps to reproduce the behaviour:
1. Run `rspec ./spec/controllers/super_admin/users_controller_spec.rb:17` multiple times
2. It fails on `expect(response.body).to include(user.name)`

**Expected behaviour**
This shouldn't happen. Tests should consistently pass how many ever t

[2020-05-22 12:27] sony-mathew commented on #140
A couple of email related issues:

[] Conversation Continuity: parse quoted text separately #883
[] Conversation Continuity: Thread replies in email client #885

[2020-05-22 12:28] #887 closed

[2020-05-22 12:37] #883 closed

[2020-05-22 12:44] #885 closed

[2020-05-24 08:43] sojan-official commented on #879
@Darth-Mader  closing this out for now. let us know if you face any issues
also the fix in : https://github.com/chatwoot/chatwoot/commit/f6a9f791cfa87411ce184ee14ed97c05d25a152e should take front end URL even in development environments.

[2020-05-24 08:43] #879 closed

[2020-05-24 12:33] kadir96 commented on #867
@sojan-official @pranavrajs Is unmuting also in the scope?

[2020-05-24 13:26] sojan-official commented on #867
@kadir96  let's take that up in the next iteration. With the way the current block link is positioned, the chances of accidental blocking seem to be very less.
So let's get on with an MVP and work over it based on the feedback.

[2020-05-24 13:46] kadir96 commented on #867
Sure! I just completed the backend logic and started implementing frontend logic. Most Probably I will PR tomorrow.

[2020-05-25 18:48] pranavrajs opened #892 "Enhancement: Auto-assign closed conversation to last assigned agent while re-opening"
If a conversation is opened by the system, auto-assign the conversation to the last agent who has interacted to the customer.

@sojan-official Thoughts?

[2020-05-26 12:14] #867 closed

[2020-05-26 13:32] kadir96 commented on #892
Would like to implement this if you decide to have this enhancement.

[2020-05-26 14:05] kadir96 opened #893 "Feature: Support MinIO as Storage"
Currently chatwoot supports cloud storages from AWS, GCP, Azure and this means the users are required the pay for storage. There is a project called [MinIO](https://github.com/minio/minio) and it is a S3 compatible storage service. I was thinking that if a MinIO service deployed along with other services, there would be no need for payment for storage. What do you think?

[2020-05-26 14:46] #893 closed

[2020-05-26 17:02] pranavrajs commented on #892
We are still working on the acceptance criteria, I was just throwing out the idea as an when I saw this issue. If you can look at any other issue, that would be great.

[2020-05-26 17:08] #402 closed

[2020-05-26 17:13] kadir96 commented on #892
Yeah I know its just an idea now. This is why I put the `if` in my comment :)

[2020-05-26 17:20] pranavrajs commented on #893
@kadir96 Does this work automatically?

[2020-05-26 17:32] kadir96 commented on #893
@pranavrajs Yes it does work automatically since it is s3 compatible but there is no need for supporting MinIO. I did not know Chatwoot uses local disk by default for storage while thinking about this issue so I closed

[2020-05-27 12:07] pranavrajs opened #895 "Enhancement: Add a notification for new messages in the conversation assigned to you"
**Problem**

I'm getting alerts whenever a new conversation is assigned to me or a new one is created. However, I do not when a new message is received in the conversation which I'm handling.

**Solution**

Add a push/email notification when a new message is received in the assigned conversations

**Acceptance Criteria**

<img width="806" alt="Screenshot 2020-05-27 at 5 36 26 PM" src="https://user

[2020-05-28 06:42] OfficialCRUGG commented on #854
In my opinion, this should be an optional feature. And if not, it should be clearly shown that that is an optional feature.

[2020-05-28 17:45] pranavrajs opened #897 "Website Name is not updated from inbox settings"
website_name is missing in API payload.

[2020-05-29 07:16] pranavrajs opened #900 "Feature: Show a setup installation page when no superadmin/accounts are available"
**Problem**

The current installation process in Heroku/any other provider is hard. After the installation is up and running user has to go to DB to create an admin account.

**Solution**

To make this process easier, create a setup page where the user can provide an email address and password.

[2020-05-29 07:16] pranavrajs commented on #340
Closing as the super admin console is complete.

Created a new ticket for initial setup. https://github.com/chatwoot/chatwoot/issues/900

[2020-05-29 07:16] #340 closed

[2020-05-29 10:59] sojan-official opened #902 "Feature: Add agent away message functionality to other channels"
currently, the automated away messages are only available in the web widget channel, let's extend this to other channels as well.

[2020-05-30 11:58] #725 closed

[2020-05-31 10:46] #237 closed

[2020-05-31 11:05] #829 closed

[2020-05-31 14:07] pranavrajs opened #907 "Access token is not displayed in the profile settings page"
- Access token was displayed under profile settings, it is not displayed now.

[2020-05-31 14:40] pranavrajs commented on #897
Closed via https://github.com/chatwoot/chatwoot/pull/905

[2020-05-31 14:40] #897 closed

[2020-05-31 15:57] pranavrajs opened #909 "Widget input box height does not reset after a message is sent."
**Describe the bug**
Widget input box height does not reset after a message is sent.

**To Reproduce**
 - Open a widget, send a long text message
 - After sending the message, the textarea does not reset it's height

**Expected behaviour**
- Text area does not reset its height.

**Screenshots**
<img width="449" alt="Screenshot 2020-05-31 at 9 26 49 PM" src="https://user-images.githubusercontent.co

[2020-05-31 17:40] #907 closed

[2020-06-01 17:04] pranavrajs opened #912 "Bug: SuperAdmin Invite user - undefined method `account_id' for nil:NilClass"
undefined method `account_id' for nil:NilClass

[code]

[2020-06-01 20:10] RonWalker22 opened #914 "Bug: Typing indicator out of position when agent did not send last message"
**Describe the bug**

Within the web widget, the typing indicator is out of position when the agent did not send last message. So, the widget is not automatically scrolling to the correct position.

**To Reproduce**
Steps to reproduce the behavior:

See video.

**Expected behavior**
When the agent is typing the contact should be able see the indicator without manually scrolling down regardless of

[2020-06-02 05:03] sojan-official opened #915 "Feature: Ability for the logged in user to create a new account"
Since chatwoot supports multiple accounts, a logged-in user should be to create a new account from dashboard.

- Account switcher should give the option to create a new account
- On clicking the button modal shows a form asking for the account name
- clicking save redirects to new account/show validation errors

## Notes
- Account switcher appear only when you have multiple accounts
- Use super ad

[2020-06-02 05:05] nithindavid commented on #915
I would prefer making `Create new account` as button text and `Create` instead of `submit`.

[2020-06-02 05:17] sojan-official opened #916 "Bug: Dashboard breaks for a user without associated accounts logs in"
**Describe the bug**
- Given  an agent/administrator in chatwoot account
- and an administrator removes the agent/administrator from the account
- When the agent/administrator logs into the chatwoot account
- the application throws a blank page

Possible fixes:
- show a screen showing you don't have access to any chatwoot accounts
- show create a new account screen as per #915

[2020-06-02 09:07] AdityaAnand1 commented on #282
Any updates on this?

Right now I'm stuck on this with no idea where to go

![image](https://user-images.githubusercontent.com/13274079/83501840-5987fa00-a4de-11ea-83c0-e8fbdb924bc3.png)

And here also, I arrived only by random trial and error, my client and backend are both glitching out, getting stuck. Server randomly 500-ing.

Definitely not the experience we want. Can we fast track the documen

[2020-06-02 09:09] AdityaAnand1 opened #917 "Server 500-ing"
![image](https://user-images.githubusercontent.com/13274079/83502132-cac7ad00-a4de-11ea-95d1-005ab9a344e3.png)

Any idea what this is about? Is this project defunct? If so, it should be mentioned in the readme/archived. I just deployed to heroku, not sure where to go as there's no documentation anywhere.

[2020-06-02 09:38] pranavrajs commented on #917
@AdityaAnand1
1. Have you set up the required environment variables? https://www.chatwoot.com/docs/environment-variables

2. Would you share the server logs or logs of the 500 error response?

3. Please check if the services are up and running.

<img width="1239" alt="Screenshot 2020-06-02 at 3 07 54 PM" src="https://user-images.githubusercontent.com/2246121/83505010-d7e69b00-a4e2-11ea-8aef-603d1d

[2020-06-02 15:28] BTRajan opened #918 "Translation: Tamil Language support."
Eventhough we can add it on our self-hosted instances, native support would be good.

May be if required we can either do the translation or proof read.

please add.

[2020-06-02 17:23] sojan-official opened #919 "Bug: Cross site cookie error on chrome"
Assess the impact and address the following issue reported by chrome

[code]

## Screenshots

![Screenshot 2020-06-02 at 10 49 49 PM](https://user-images.githubusercontent.com/73185/83549986-c2459580-a523-11ea-8b15-3cd621809e1b.png)

[2020-06-02 17:39] sojan-official commented on #918
We have enabled Tamil support in crowdin
http://translate.chatwoot.com/

if you guys could contribute, we would love to have Tamil added.

[2020-06-02 17:42] AdityaAnand1 commented on #917
Which exact bare minimum environment variables are needed with heroku deploys?

* Hasn't it configured DB access automatically? And redis too?
* Do I have to setup a SMTP server myself? Is there a recommended approach or provider?

There should really be a minimal getting started document 😅, I suspect most people using this just want a quick and dirty plug and play intercom alternative for their w

[2020-06-02 17:44] AdityaAnand1 commented on #917
Much of the documentation seems to be about building and running and developing the project rather than deploying as a plug and play self hosted chat service.

[2020-06-02 17:45] RonWalker22 opened #920 "Feature: Toggle web widget between full screen and the current minimized version"
**Is your feature request related to a problem? Please describe.**
When the conversation goes beyond a few questions, it frustrating not to be able to transition into full screen mode. Especially if the contextually information from the website itself, is not needed.

**Describe the solution you'd like**
Allow the contact to toggle the widget between full screen and the current minimized version

[2020-06-02 18:20] #912 closed

[2020-06-02 18:23] pranavrajs commented on #419
Closed via #908

[2020-06-02 18:23] #419 closed

[2020-06-02 22:27] arschrier opened #922 "Bug: Deploy to Heroku using button fails"
**Describe the bug**
When deploying to Heroku using the button provided, the app builds but fails when running scripts and scaling dynos.

**To Reproduce**
Steps to reproduce the behavior:
1. Click Deploy to Heroku button
2. Set RACK_ENV and RAILS_ENV to production
3. Click Deploy app
4. See error log

**Screenshots**
<img width="671" alt="Screen Shot 2020-06-02 at 5 18 22 PM" src="https://user-im

[2020-06-03 03:20] RonWalker22 opened #923 "Bug: email submit button extends outside of the chat bubble"
**Describe the bug**
Within the web widget the email submit button extends outside of the chat bubble

**Screenshots**

![Screen Shot 2020-06-02 at 8 00 38 PM](https://user-images.githubusercontent.com/18250094/83591255-63c0ed00-a50c-11ea-80fa-487e645487fb.png)

**Desktop (please complete the following information):**
Browser [e.g. chrome, safari]
Firefox Developer Edition -v 77.0b9

**Additional

[2020-06-03 04:27] BTRajan commented on #918
Thanks Sojan.

[2020-06-03 06:10] pranavrajs commented on #922
@arschrier This seems unlikely, we will test it out and will update the findings here.

[2020-06-04 14:09] pranavrajs commented on #917
@AdityaAnand1 That's the experience that we are aiming but that would take couple more sprints.

[2020-06-04 16:19] AdityaAnand1 commented on #917
No issues, all good things take time :)

In the meantime, let's get back to this issue.

Which exact bare minimum environment variables are needed with heroku deploys?

* Hasn't it configured DB access automatically? And redis too?
* Do I have to setup a SMTP server myself? Is there a recommended approach or provider?

[2020-06-04 16:42] pranavrajs commented on #917
This would be done automatically.

You can use any of the providers like Amazon SES, Sendgrid, MailChimp or Mailgun. Make sure you set the variables correctly.

[2020-06-04 17:43] #922 closed

[2020-06-04 17:50] sojan-official commented on #922
@arschrier thanks for bringing this up. we have fixed this in our latest update.

[2020-06-05 10:26] kristiandrucker opened #925 "Feature: Redis Sentinel support"
**Is your feature request related to a problem? Please describe.**
I would like to ask if it would be possible to have Redis Sentinel support. I'm running a Sentinel cluster and Chatwoot doesn't want to connect to it.

**Describe the solution you'd like**
I would like to have Redis Sentinel support.

**Describe alternatives you've considered**
As an alternative I've set the sentinel master ip addr

[2020-06-05 11:17] mzch opened #926 "[HELP] `Login to null` on login page"
**Describe the bug**
On login page, `Login to null` is shown.
And `<title>` tag has empty comtent.
What and where should I put?

**To Reproduce**
Steps to reproduce the behavior:
1. `bundle install`
2. `yarn install`
3. `RAILS_ENV=production bundle exec rake db:migrate`
4. `RAILS_ENV=production bundle exec rake webpacker:compile`
5. Setup Passenger
6. Start sidekiq
7. Go to Login page

**Expected

[2020-06-05 12:20] pranavrajs commented on #926
[code]
This should have set the required config.

Can you run `ConfigLoader.new.process` and see if fixes it.

[2020-06-05 12:38] mzch commented on #926
I have done `rake db:reset` and cleared browser's cache but there is no change.
Could you please how to run `ConfigLoader.new.process`?

[2020-06-05 12:54] pranavrajs commented on #926
@mzch Login to rails console using `bundle exec rails c` and run `ConfigLoader.new.process`

[2020-06-05 13:12] mzch commented on #926
Thanks @pranavrajs , I've just done and restart passenger, but no change...
`select * from installation_configs;` is as below:

[code]

[2020-06-05 13:31] RonWalker22 commented on #926
I'm also experiencing this.

[2020-06-05 14:21] pranavrajs commented on #926
@mzch @RonWalker22 Can you try `GlobalConfig.clear_cache` in rails console?

[2020-06-05 14:28] RonWalker22 commented on #926
@pranavrajs Yup, that worked for me(using master branch)

[2020-06-05 14:28] pranavrajs commented on #926
Closing as the commands are working :) @sony-mathew We might need to add a fallback if redis keys return nil

[2020-06-05 14:28] #926 closed

[2020-06-05 14:52] mzch commented on #926
@petebytes , It works well. Thanks!

[2020-06-07 18:30] sojan-official opened #936 "Bug: Add validation for twilio phone number input field"
- Twilio inbox creation page accepts spaces in between the phone number which will cause breakages.
- Add a validation that will remove the spaces upon saving.

[2020-06-08 03:40] iammattmartin opened #937 "Ability required to unmute muted contacts."
**Is your enhancement request related to a problem? Please describe.**
Yes, when you mute a contact, there is no way to undo this action.

**Describe the solution you'd like**
Once the mute has been clicked, link should change to unmute to undo.

**Describe alternatives you've considered**
There are no alternatives.

[2020-06-08 03:42] iammattmartin opened #938 "Re-open "resolved" conversations"
**Is your enhancement request related to a problem? Please describe.**
Yes, when you resolve a conversation, if someone then adds an update. It remains resolved.

**Describe the solution you'd like**
The conversation should re-open again if opened. An ideal situation would be that once resolved, they can either update it within a specific time period, or a new conversation is forced. (admin select

[2020-06-08 03:45] iammattmartin opened #939 "Twitter public tweets and DM improvements"
**Is your enhancement request related to a problem? Please describe.**
Yes, at the moment if you are having a conversation with someone from a tweet, and they then DM you, this appears in the same conversation but when you reply, it is public tweet.

This is bad as you could be replying assuming it would go via DM.

**Describe the solution you'd like**
Each tweet should be related to the same root

[2020-06-08 03:48] iammattmartin opened #940 "Typing indicator shows activity on mouse action"
**Describe the bug**
In the customer widget, a simple mouse over/click on the staff side will generate the typing indicator. This should not happen.

**To Reproduce**
Go to the conversation
Click mouse in to text box
View widget to see typing indicator

**Expected behavior**
I would say that the typing indicator should only show when there is actual typing instead of just focus on the text area wi

[2020-06-08 11:31] pranavrajs commented on #939
@iammattmartin Can you please share a screencast of the behaviour, we have considering DMs and tweets as separate it will not be merged in a single conversation.

[2020-06-08 11:34] pranavrajs commented on #938
@iammattmartin The conversations should reopen if the user messages from the widget/any channel, but if the agent replies after a conversation is resolved, the status would not be updated. Are you suggesting to reopen the conversation whenever any party sends a message?

[2020-06-08 11:36] pranavrajs commented on #937
We have considered this option, will be adding it as an enhancement. At the moment, the muted contact can send a message after 6 hours.

[2020-06-08 13:11] pranavrajs opened #941 "The socket is reconnected when user send a reply in widget"
- [x] When the user send a reply using message.update event, the socket is reconnected, which leads to missing messages in the UI.

[2020-06-08 13:43] #941 closed

[2020-06-08 15:57] iammattmartin commented on #937
Thanks for confirming.

This looks like it it may have been a browser issue as tried another machine and it was not happening. Cleared out the cookies on the first and now this seems OK.

[2020-06-08 15:58] iammattmartin commented on #938
Thanks for confirming.

This looks like it it may have been a browser issue as tried another machine and it was not happening. Cleared out the cookies on the first and now this seems OK.

[2020-06-08 15:58] #938 closed

[2020-06-08 19:36] pranavrajs commented on #497
@meaziz @sojan-official I'm taking this up

[2020-06-08 20:34] iammattmartin opened #945 "Enable Electron as a supported browser (for notifications)"
**Is your enhancement request related to a problem? Please describe.**
Not related to a problem as such. Using Electron (prior to any official app) via WebCatalog (Mac) to create an app. Notifications can't be enabled as CW believes it is a non-supported browser.

**Describe the solution you'd like**
Allow CW to consider Electron as a supported browser to enable notifications.

**Additional contex

[2020-06-09 04:18] iammattmartin commented on #939
As requested.

I tweeted one of our brands. It appeared.
I replied from the brand, this was sent to the user publicly.
The user then DM'd the brand, this was received in the existing conversation (with nothing visual to know it was a DM).
I replied from the brand, this was then done as a public tweet, not linked to any other.

https://www.dropbox.com/s/jdvcfaxvp3ni1jw/Screen%20Recording%202020-06-

[2020-06-09 06:34] pranavrajs commented on #939
@iammattmartin You can remove the recording. I have understood the flow. Let me test it out.

[2020-06-09 07:29] pranavrajs opened #946 "Duplicate messages if I repeatedly press enter button"
- Duplicate messages are sent if the network is slow and I repeatedly press enter on the reply box

[2020-06-09 10:56] #497 closed

[2020-06-09 13:39] iammattmartin opened #947 "[CW-1868] Ability to delete conversations"
**Is your feature request related to a problem? Please describe.**
No, not related to a current problem.

**Describe the solution you'd like**
There isn't any ability to delete conversations (or old staff from the master admin login). This may be required in certain circumstances where sensitive information is received and cannot be stored, the message is spam, or due to GDPR, the data must be rem

[2020-06-09 18:55] #939 closed

[2020-06-10 09:33] pranavrajs commented on #947
@iammattmartin Thanks for the suggestion. We will take it up in the current sprint itself.

To start with we will add a feature to delete the conversation from SuperAdmin console.

[2020-06-10 09:36] pranavrajs commented on #945
@iammattmartin I'm not sure whether this is possible without adding code on electron, we are following WebPush protocol right now. Let us investigate this.

[2020-06-10 09:38] pranavrajs commented on #902
Closed via #927

[2020-06-10 09:38] #902 closed

[2020-06-11 12:44] AdityaAnand1 commented on #917
Really sorry, but I don't have time to do so much configuration to get this set up.

I went with drift chat instead, they have a decent free plan. Took maybe 5 minutes to onboard and deploy.

Really hope this project achieves true one click deployment some day. Good luck!

This project could do really well if it focused solely on quality and dev experience, even at the expense of certain features

[2020-06-11 12:44] #917 closed

[2020-06-11 13:16] sojan-official commented on #917
@AdityaAnand1 if you weren't particularly looking for a self-hosted solution, you could always try out the cloud version of chatwoot at https://app.chatwoot.com/

On the self-hosted front, we are always working on improving the deployment experience. It's an iterative process primarily based on user feedback. So thanks for that.
Just that it would take a couple more sprints as Pranav stated above

[2020-06-11 17:04] #282 closed

[2020-06-11 19:19] sojan-official opened #950 "Bug: Message Bubbles breaking in widget on long conversation"
Lengthy messages breaking the widget message bubbles.

![Screenshot 2020-06-11 at 11 41 37 PM](https://user-images.githubusercontent.com/73185/84429720-472c5f80-ac46-11ea-9d0e-746ab8b983b4.png)

[2020-06-11 20:11] sojan-official commented on #660
documentation to update Heroku instances  is now available here: https://www.chatwoot.com/docs/deployment/deploy-chatwoot-with-heroku

we have also added the release step so that heroku handles the `db:migration` automatically.

[2020-06-11 20:11] #660 closed

[2020-06-12 12:02] sojan-official opened #951 "Chore: Enhance the heroku one click deploy experience"
After deploying chatwoot to Heroku, one would have to configure mailer and storage as a minimum requirement for chatwoot to function.

Let's make use of the available add ons like Cloudinary and mailgun to automate this process, so it will be truly one click.

Steps
-----

- update app.json  to include cloudinary and mailgun add ons
- add the required environment variables as default values in app

[2020-06-13 02:31] iammattmartin opened #953 "Better Locale Support for Dates"
**Is your enhancement request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Currently the date format is Mon DD, YYYY. This isn't correct for some locales. (Ours for example is DDxx Mon YYYY, i.e 13th June 2020.

Having the ability to set per chat group would be good or automatically generate based on the locale of the user. Would need to be a master list of lo

[2020-06-13 05:59] neymarsabin commented on #946
@pranavrajs Can I take this one?

[2020-06-13 10:13] nithindavid opened #954 "Improve scrolling on widget"
- Current implementation adds `overflow: hidden` which creates a jump when widget is hovered

[2020-06-13 11:45] pranavrajs commented on #946
@neymarsabin Please feel free to do it, assigning this to you.

[2020-06-13 14:06] pranavrajs commented on #953
@iammattmartin This is a good suggestion, let us investigate the best practices for the same.

[2020-06-13 15:02] pranavrajs opened #956 "Bug: FileBubble doesnot honor widget brand color"
<img width="418" alt="Screenshot 2020-06-13 20 30 55" src="https://user-images.githubusercontent.com/2246121/84572025-f1c29080-adb4-11ea-9cba-4de740af55d7.png">

User file bubble background color is blue always.

[2020-06-13 15:03] #954 closed

[2020-06-13 16:59] #936 closed

[2020-06-14 03:34] neymarsabin commented on #946
@pranavrajs I think we need to have a loader/indicator whether the messages are being sent or not. That would be a good enhancement. For this issue, I just cleared the state of the message and it worked.

[2020-06-14 05:29] nithindavid opened #959 "Widget message Input has height issues"
<img width="449" alt="Screenshot 2020-06-14 at 10 49 11 AM" src="https://user-images.githubusercontent.com/1277421/84585508-1eff5500-ae2e-11ea-98bf-b1074a937709.png">

[2020-06-14 05:58] #959 closed

[2020-06-14 07:07] pranavrajs opened #961 "Chore: Conversation cleanup"
- [ ] Remove unused methods/state variables
- [ ] Move conversationStats to a new module
- [ ] Move messages to a new module

[2020-06-14 07:10] pranavrajs commented on #946
@neymarsabin I think that should be enough, you don't need to wait for a message to be sent to send another one. A pending message in UI would fix that UX, this is handled in https://github.com/chatwoot/chatwoot/pull/852

[2020-06-14 08:42] enderahmetyurt commented on #830
I can do something about it.

[2020-06-14 08:44] pranavrajs commented on #830
@enderahmetyurt Please feel free to take it.

[2020-06-14 10:11] enderahmetyurt commented on #830
I want to ask making clear the issue. The user can change the locale when she is loggedin but we talk about in here login page. How can we understand the user's locale which set before? Should we use system locale? For example, the user chould have chosen german for their account, but she use her browser in english. Which language will she on login page?

[2020-06-14 10:43] pranavrajs commented on #830
@enderahmetyurt Sorry about being unclear about the expectations.

Yes, this is correct. We are only talking about non-authenticated pages. Login/Signup/ResetPassword/SetNewPassword

I've updated the acceptance criteria in the issue.

[2020-06-14 10:45] pranavrajs commented on #830
@enderahmetyurt Please let me know your thoughts on Acceptance Criteria, if you think it is too much, let us create smaller issues on top of this issue.

[2020-06-14 12:31] enderahmetyurt commented on #830
`DEFAULT_LOCALE` should be in `application.yml` or `/config/installation_config.yml`?

[2020-06-14 13:19] sojan-official commented on #830
@enderahmetyurt  should be .env file. So it's easily changeable on a chatwoot installation.

[2020-06-15 07:36] pranavrajs opened #964 "Feature: Email a copy of the chat transcript"
When a conversation is resolved, I might need the entire transcript for documenting purposes. There should be an option to send

1. a mail to the user involved in the conversation
2. a mail to the agent handling the conversation
3. a mail to a email address which can be specified from the ui.

- Sidebar has email this conversation form (Irrespective of resolved/open status of the conversation)
- R

[2020-06-15 08:05] #956 closed

[2020-06-15 14:05] lucasilverentand commented on #893
Hi, I would very much like to see this feature. As I'm using DigitalOcean Spaces which is S3 compatible and it just requires chatwoot to use a different endpoint for accessing the buckets.

[2020-06-16 07:04] petebytes opened #967 "bot responds even when agent is available"
**Describe the bug**
Agent shows available.
When user sends message the Bot responds with Agent away message

**To Reproduce**
Steps to reproduce the behavior:
1. Click on buble to open chat
2. Ensure Agent is 'available'
3. Send a message
4. See Bot responce

**Expected behavior**
The bot should not respond if the agent status available

**Screenshots**
![image](https://user-images.githubusercont

[2020-06-16 15:22] pranavrajs opened #968 "Feature: Support for DigitalOcean Spaces"
- Add support for digital ocean spaces

[2020-06-16 15:23] pranavrajs commented on #893
https://github.com/chatwoot/chatwoot/issues/968

@lucasilverentand I've created an issue for it, let us track the progress there.

[2020-06-16 15:59] lucasilverentand commented on #893
@pranavrajs Thank you very much 👍

[2020-06-16 16:02] lucasilverentand commented on #968
The solution is fairly simple you basically need to support changing the endpoint to which you make calls, this should be one variable in the config. At the moment I'm not familiar with the source code of chatwoot so it would take me some time to dig in. Maybe someone else that has more knowledge of the codebase could add this within half an hour. Otherwise, I'd be glad to have a look into it.

[2020-06-16 23:17] iammattmartin commented on #964
Might need to factor in here what happens when someone re-opens a convo? We'd not want the whole thing emailed again.

As conversations can't be closed (i.e new chat messages will constantly re-open), these cold get excessively long and so could that email.

[2020-06-17 08:18] pranavrajs commented on #964
@iammattmartin Yeah, this is a conceptual rather than an implementation one. We are trying to do it as follows

1. **WebChannel**: At present, widget supports only a single view of conversations, we will be adding support for multiple conversations which would resolve this problem.

2. **Facebook/Twitter/Whatsapp/SMS**: There is no concept of multiple conversations here. Event if Chatwoot treats i

[2020-06-17 11:00] pranavrajs commented on #967
@petebytes There is some flaky behaviour with the way keys are set to expire now, this should be fixed in #874

[2020-06-17 18:21] iammattmartin commented on #964
I think for FB, Twitter, Whatsapp, SMS - these would need to be treated differently.

Social/WA/SMS; a time out after X period. Other people like KLM and Barclays do this so if they've not heard from you for a while, a new conversation is started. A few days would be reasonably but having this user defined to their inbox is best.

For things like threaded Facebook posts and Twitter threads instead

[2020-06-18 09:47] #668 closed

[2020-06-18 09:47] #950 closed

[2020-06-18 12:26] grumpygordon opened #970 "Adding additional info for all type of events in webhooks for bot"
**Is your enhancement request related to a problem? Please describe.**
Having ability to check browser version when user is triggering chat for the first time, e.g. not sending any message. Currently there is not a lot of info coming when event `webwidget_triggered` is sent.

**Describe the solution you'd like**
Add all/relevant metainfo to all type of events in case they might be utilized.

**Des

[2020-06-19 07:43] pranavrajs opened #971 "Ability to disable emoji and attachments in the web widget"
Depending on the use case and based on the brand, the administrator should be able to disable the emojis and attachments in each website inbox.

#### Acceptance criteria

- Add a DB field to save the flags to enable/disable attachments/emojis
- Update the inbox settings view to add toggle checkbox
- Disable the buttons in widget based on the settings

[2020-06-19 07:48] pranavrajs opened #972 "Ability to set first name, last name, nick name on user profile"
Currently, we support only a single field to save the agent name, this looks like a bad UX as the end-user in the widget is seeing the full name of the user.

To fix this, split the name to first name and last name, use a nickname field, this would be displayed to the end-user.

#### Acceptance criteria

- Migrate from full name to first name, last name
- Use a public name (nickname) field, use th

[2020-06-20 16:25] pranavrajs opened #973 "Fix Redis warnings in console"
[code]

[2020-06-21 03:16] JazabC commented on #937
Can I work on this?

[2020-06-21 06:51] pranavrajs commented on #909
Closed via #969

[2020-06-21 06:51] #909 closed

[2020-06-21 12:42] sojan-official commented on #937
@JazabC  please go ahead. I have added you as the assignee. let us know if you have any questions

[2020-06-22 00:40] justinclift commented on #973
Out of curiosity, which version of Redis are you seeing this with?

[2020-06-22 01:06] justinclift opened #976 "How to allow connection from non-localhost network?"
**Bug description**

Taking a look at Chatwoot in a local VM (CentOS 7 x64).

For testing purposes, I've adjusted `Procfile.dev` so it tells Rails to bind to all network interfaces (on purpose):

[code]

This way, I can connect to the server in the VM from my local desktop.

However, when going to the website in a browser, an exception is shown instead of the expected entry page:

![Chatwoot_testi

[2020-06-22 06:27] sojan-official commented on #976
@justinclift I think this particular is unrelated to network settings but a bug in the code. the params which the function accepts should be `ex` instead of `expiry`. let me put in a hotfix for this.

[2020-06-22 06:36] sojan-official commented on #976
@justinclift  please give it a try with the latest version and let us know if you face any issues.

[2020-06-22 06:41] sojan-official commented on #973
@justinclift  In my local, I am running 6.0.5

[2020-06-22 06:44] sojan-official commented on #970
@grumpygordon  if a conversation already exists we always include it in metadata. Your assumption on the first event is correct. With the current api, if you want to trigger a conversation on `webwidget_triggered` you have to create a conversation before sending the message.

The dashboard only creates a conversation on the first message from the contact.

[2020-06-22 07:50] pranavrajs commented on #324
Closed via #974

[2020-06-22 07:50] #324 closed

[2020-06-22 09:04] alfredfrancis commented on #706
any update on this ?

[2020-06-22 09:41] justinclift commented on #973
Interesting.  The Redis (v5.0.8) console here shows the same things.  Looks like it's not entirely a "new version of Redis" problem. :smile:

[2020-06-22 09:45] justinclift commented on #976
Thanks heaps @sojan-official.  I'll give that a go in the next few hours.

If it doesn't work, an alternative approach would probably be to set up Nginx on the VM, and use that for proxying from the localhost address.  Saw some info in the Chatwoot docs directory about it, so shouldn't be too hard. :smile:

[2020-06-22 09:55] justinclift commented on #976
Yep, that looks to have fixed things.  The portal is showing up now:

![Chatwoot_screenshot_2](https://user-images.githubusercontent.com/406299/85274437-47d4b980-b4c2-11ea-97db-f484590a3437.png)

Time to experiment... :smile:

[2020-06-22 09:55] #976 closed

[2020-06-22 10:41] justinclift commented on #704
Yeah.  That above line in `config/application.rb` seems like it should be replaced. :smile:

[2020-06-22 11:52] sojan-official commented on #706
@alfredfrancis  We are still trying to spec this out along with the API channel. Might make it to the cut for `1.6.0` or the subsequent release.

[2020-06-22 11:53] sojan-official commented on #704
@josephjoice  @justinclift will take this for the upcoming release.

[2020-06-23 00:36] iammattmartin opened #978 "Markup / Styling of outbound messages"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
To provide an enhanced user experience, it would be helpful to be able to make text **bold**, _italic_, underlined, even [linked to other content](#), as well as lists and `maybe code`. Essentially standard markdown support.

[2020-06-23 06:49] pranavrajs commented on #978
@iammattmartin We support links right now. If you paste http/https link, it will be detected automatically. Rest of the rich content support will be available when the email channel is available.

[2020-06-23 20:37] iammattmartin commented on #978
Thanks.

In regard to links, I mean over and above that in that formatting texts to links instead of just showing the raw link. Just a better user experience.

[2020-06-23 20:43] iammattmartin opened #980 "Better way to resume conversations"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
The user gives their name so they can get updates via email. This is good, but taking replies via email and injecting in that conversation so they appear as one never works really well. Some of the SaaS providers do this and you get a whole host of previous message with indents and signature

[2020-06-24 10:03] pranavrajs commented on #820
Moving it out of the sprint as it is of lesser priority.

[2020-06-24 11:11] divyesh2506 commented on #915
Would like to work on this.

[2020-06-24 11:14] sojan-official commented on #915
@divyesh2506   feel free to go ahead. i have assigned the issue to you. let us know if you have any questions :)

[2020-06-24 12:47] divyesh2506 commented on #915
@sojan-official we do need to ask for domain and support_email in the input box along with Account name, right?

[2020-06-24 12:54] sojan-official commented on #915
@divyesh2506 thanks for bringing that up. they can configure these settings later in the account settings page. These settings might not be relevant for all users.
So in this flow lets focus on collecting the bare minimum fields needed for an account ( same fields as signup )

[2020-06-25 15:34] #246 closed

[2020-06-25 18:05] #704 closed

[2020-06-25 18:16] justinclift commented on #973
Looks like the comment in #979 didn't automatically close this issue.  May need to be manually closed.

[2020-06-26 03:20] iammattmartin opened #982 "Tweets from other users in conversation"
**Describe the bug**
When someone tweets you and others, whilst our replies will appear in the same thread, if someone else also replies in that thread, it appears in the conversation in CW as from the person who originally tweeted us (and started the conversation).

**To Reproduce**
Steps to reproduce the behaviour:
Tweet in to CW from one user.
Another user should then tweet in to that thread.
B

[2020-06-26 07:52] pranavrajs commented on #982
@iammattmartin

The contact shown at the top is the person who has created the parent tweet, rest of them are the replies to that particular tweet. If you hover the message, it should be showing the user who has sent that tweet. The concept of conversation participants was recently added and was not available before. This is the reason for this UX difficulty.

To be honest, in the current UI, it i

[2020-06-26 07:56] pranavrajs commented on #980
This is a great suggestion.

However, I could see a potential risk of overwriting an existing session if the user load the url with an older session identifier. The product spec needs to be clear about how this is going to be implemented. I would like to hear thoughts from @sojan-official / @sony-mathew on this.

[2020-06-26 08:04] pranavrajs commented on #978
<img width="363" alt="Screenshot 2020-06-26 at 1 32 27 PM" src="https://user-images.githubusercontent.com/2246121/85834717-7d72ee80-b7b1-11ea-8fb2-36934fa36f1b.png">

This is the current message bubble UI. Are you suggesting something like a preview of the link as shown below?
<img width="530" alt="Screenshot 2020-06-26 at 1 34 14 PM" src="https://user-images.githubusercontent.com/2246121/85834872

[2020-06-26 08:09] pranavrajs commented on #953
@iammattmartin Asking for a suggestion here. Looking at the current implementation of dates, it would not be possible to standardize every date format to use locale based format in a single shot.

I would like to split it into 2 parts.

1. Standardizing the dates based on a DB field (either stored on inbox or account). Would it good to provide you with an option on the account settings to choose a

[2020-06-26 13:20] sojan-official commented on #822
Closed in https://github.com/chatwoot/chatwoot/blob/f9e8bb8e104f405a360b8de046fa3367d6237cf6/app/models/conversation.rb#L110

[2020-06-26 13:20] #822 closed

[2020-06-26 13:23] sojan-official commented on #244
Elastic search can be implemented with the seachkick gem without additional complications in the rails app side. But it would add up an additional layer in infra set up, which would be an added complication. so for the initial search, we will go with postgres full-text search .

We will explore this later if required.

[2020-06-26 13:23] #244 closed

[2020-06-26 13:35] iammattmartin commented on #982
Sounds good. Right now a hover does not work on messages as far as I can see? Looking in the code too there is nothing on the specific `<li>`, or within the generate that.

We're using this more for Twitter now and this has happened twice in the last two days so is quite confusing.

[2020-06-26 13:36] iammattmartin commented on #978
Link previews could work if there was only ONE link but if there were many, which we want to build in to content. i.e a set of instructions, being able to put a link specific to text (which would be `<a href="link">text for link</a> would be better.

[2020-06-26 13:38] iammattmartin commented on #953
I'd say that it depends on how it is used.

For us at least, we have a brand in the UK, which needs UK date formatting and one in the US, which can use the current formatting. It will use different in boxes for each brand and thus be selectable on each inbox.

Using the users locale however would be even better as the date is formatted based on their location (or browser) which just makes the user

[2020-06-26 14:17] iammattmartin commented on #980
I agree.

Maybe one way would be that when they enter their email, it can find they've got this on record already and offer to send them a one time passcode so link up their message history.

It's a bit clunky though and relies on them having working email.

In the way originally mentioned, maybe when using a link, the widget could then merge their existing chat session with any historic ones to a

[2020-06-26 21:49] incraigulous opened #983 "API auth documentation"
Documentation for authenticating with the API needs to be added. It's possible it's already available somewhere, but I couldn't find it. I was able to find my access-token, but I'm not sure how to compose my request.

My current requests looks like:

[code]
That gets a 401 Unauthorized. I pulled the access token from the admin user profile, and I got the client from the javascript embed, but I'm s

[2020-06-27 04:22] sojan-official commented on #983
@incraigulous  we have merged the commit for the documentation. https://github.com/chatwoot/chatwoot/blob/4f83d5451ebfa4eac865588f5b1b8c07e2201bf9/swagger/swagger.json#L31
but didn't get a chance to update the website yet, will do over this weekend.

the access token is supposed to be in the header with the key `api_access_token`.

[2020-06-27 13:26] sojan-official commented on #983
@incraigulous  we have updated the website with authentication documentation
https://www.chatwoot.com/developers/api/#section/Authentication

[2020-06-27 13:26] #983 closed

[2020-06-27 13:55] incraigulous commented on #983
Wow @sojan-official, you are fast!

[2020-06-27 14:49] iammattmartin opened #984 "Twitter expansions to search and new tweets"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Twitter implementation to reply to tweets and DMs is great but to increase the scope, it would be good to be able to add the ability to add search terms that you want to monitor. Some people could use your brand band but not @ reply you. Picking up that interaction could provide much improve

[2020-06-27 15:02] pranavrajs commented on #978
Oh! Okay, that comes down to the availability of a rich content editor. We will make that available soon along with email channel.

[2020-06-27 16:04] #680 closed

[2020-06-28 05:39] divyesh2506 commented on #915
#985

[2020-06-28 10:25] neymarsabin commented on #946
@pranavrajs opened a [PR - 987](https://github.com/chatwoot/chatwoot/pull/987)

[2020-06-29 20:59] AlessandraFrancez opened #988 "What is the source_id and what is the proper way to create a new conversation?"
I apologize if this isn't the proper forum for questions. I'm trying to integrate Chatwoot with my own project, which already handles conversations with users from many channels. As such, I'm looking for a purely API-based implementation.

I've been studying the APIs and from what I can tell, to start a conversation I should use:

POST /accounts/:account_id/contacts to create a new user
POST /acco

[2020-06-30 03:49] pranavrajs commented on #988
@AlessandraFrancez

`source_id` represents the session identifier of the user. Our APIs are not suited to create conversations via API now. We are making some changes to it for enabling an API based channel.

This is not supported fully yet. This will be available in future releases. Please join our discord channel https://discord.gg/cJXdrwS, our team will be able to help you better.

Closing this

[2020-06-30 03:49] #988 closed

[2020-06-30 17:29] pranavrajs commented on #984
@iammattmartin

This seems like a useful feature, however we are concerned with a lot of conversations being created which may be irrelevant to you. Let us explore the best ways to do this.

This is more like social media management which may not align with the product roadmaps. We will get back on this.

[2020-06-30 17:32] iammattmartin commented on #984
On the first count, maybe a page with recent tweets matching that search term instead of one conversation created for each match. In the search list, you could have a button where you can create a new conversation based on that tweet.

Overall it would venture a bit in to social management but at the heart it is still a support tool to find and assist customers. This will set it apart from similar

[2020-06-30 17:37] pranavrajs commented on #984
Yes, I totally agree with this. The vision of Chatwoot itself is to become a central repository for your customer data which can be used to provide contextual support. In that sense, every piece of information about the customer is relevant. We will think this through and will get back to you here.

[2020-06-30 20:07] mohmmd256 opened #990 "Enhancement of Arabic characters"
**Is your enhancement request related to a problem? Please describe.**
No

**Describe the solution you'd like**
By adding the generic Tahoma font, this will provide better readability for operators and also for users engaged via the live chat widget.

**Describe alternatives you've considered**
None.

**Additional context**
## Before (harder to read):
![Screen Shot 2020-06-30 at 10 04 36 PM](https

[2020-07-01 08:46] #990 closed

[2020-07-01 15:15] pranavrajs opened #993 "Image messages with content doesnot have correct padding"
<img width="361" alt="Screenshot 2020-07-01 19 58 35" src="https://user-images.githubusercontent.com/2246121/86255931-5bc09f80-bbd5-11ea-96ed-a12adcc56c7d.png">

### To reproduce

Send an image message with content through Whatsapp channel

[2020-07-02 01:58] neymarsabin commented on #916
@pranavrajs @sojan-official I would like to work on this.

[2020-07-02 06:28] #946 closed

[2020-07-02 13:32] sojan-official commented on #916
@neymarsabin feel free to go ahead.

[2020-07-02 13:41] sojan-official opened #995 "Enhancement: Identify a way to deliver action-cable message in case of a temporary disconnect"
while using the chatwoot dashboard, if the action cable gets terminated because of a network issue for a couple of seconds and get reconnected right after. The messages delivered from the back end would be missed during this period.

The end-user who is using the system might be unaware of this change and might be having an inconsistent state with respect to the backend. Either alert the user to r

[2020-07-03 17:48] nithindavid opened #996 "Add icon show last reply is from agent on conversation list"

[2020-07-03 17:55] #996 closed

[2020-07-04 06:12] #763 closed

[2020-07-04 06:13] pranavrajs commented on #457
Fixed via #874

[2020-07-04 06:13] #457 closed

[2020-07-04 07:36] nithindavid opened #998 "Add a visual feedback to show reply box is focused on dashboard"

[2020-07-04 14:36] #998 closed

[2020-07-04 14:37] nithindavid opened #1003 "Enhancement - Improve interaction on conversation list with css animations"

[2020-07-04 18:03] iammattmartin opened #1005 "JS Outputting chatwoot.com variables/logo/context."
**Describe the bug**
In the JS output of the script when running self-hosted. Part of the globalConfig is outputting chatwoot.com variables

**Expected behavior**
Such values should either be set per install, or where widgets are set across brands, specific to each widget. In any case, chatwoot.com should not be referred upon for self-installs with as far as I can see, no way to set without changi

[2020-07-04 18:07] iammattmartin opened #1006 "Assign agent to Inbox but not show on widget (make optional)."
**Is your enhancement request related to a problem? Please describe.**
No

**Describe the solution you'd like**
When assigning an agent to an inbox, the widget automatically assumes it should then show this as "Name is available". The two should not be mutually exclusive.

You may want to assign agents to the Inbox to get notices and sort work but you may not want staff to appear on the widget for

[2020-07-04 19:35] iammattmartin opened #1007 "Block visitors by IP/Session/Cookie"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Muting a contact is good for that purpose but what if you don't want them to be able to even start a conversation due to abuse/spam and so on? You could block the session/cookie but they could use a different computer/browser etc. Being able to block all three things means they would have to

[2020-07-04 19:42] iammattmartin opened #1008 "Outbound Emails - Customise Sender and Content"
**Is your enhancement request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Currently CW sends emails based on a hard-set from address of the install as well as a hard-set name in a template. When using multiple inboxes, or even accounts, this causes confusion as to who the mail is from.

In reality, the From: name should be able to be set against the Inbox, as

[2020-07-04 19:52] iammattmartin opened #1009 "WhatsApp Improvements due to timeout (templates?)"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
WhatApp (via Twilio) has a limit on that you can only send another outbound message if the last inbound message was within 24 hours. It would be helpful to have a timer or CW simply not allowing another message which you can't tell the user didn't get.

Adding support to send a template from

[2020-07-04 22:13] petebytes commented on #968
@lucasilverentand I made what I think are the necessary changes, would you be able to test the draft PR I have opened?

PR https://github.com/chatwoot/chatwoot/pull/1011

[2020-07-05 06:48] pranavrajs commented on #1005
@iammattmartin I don't understand the problem here. This wouldn't displayed to the user right? It is a config with which we show `Powered by Chatwoot` in the widget.

[2020-07-05 06:50] pranavrajs commented on #1009
This is a general rule for both Whatsapp and Facebook integrations, you cannot send a message after 24 hours past last inbound messages.

For Whatsapp, you can send template messages approved by the Whatsapp team after this time period. For now we are not supporting template message, but I think it would be good to block the normal messages if the time period is exceeded. For delivery status, we a

[2020-07-05 06:57] pranavrajs commented on #1007
Mute contacts work by blocking the session/cookie for next 6 hours. I understand that blocking by IP is also required in case the user starts from a new browser. This is an enhancement which can be considered.

[2020-07-05 07:02] pranavrajs commented on #1008
In reality, the From: name should be able to be set against the Inbox, as well as the From: address.

@iammattmartin I think this would be fixed when you start using conversation continuity option.

Customisations on email templates are planned based on account. Our idea to group everything under one business in an account. If you have a different business, creating a new account would be the righ

[2020-07-05 07:11] pranavrajs commented on #1009
On second thought, the template messages will be easier to implement when combined with canned message UX. @sojan-official / @nithindavid Any thoughts on this?

[2020-07-05 13:29] iammattmartin commented on #1007
The improvement here is that the widget should not show to the visitor when blocked and then the block time should be user set instead of only defined as 6 hours.

If you're blocking someone (opposed to muting), you want to block their ability to send you messages at all. Otherwise, it looks like you're just ignoring them which if that person is abusive or has been blocked for a specific reason; i

[2020-07-05 13:34] iammattmartin commented on #1008
Noted. The only constraint there is when you're managing lots of brands, you'd have to keep switching between accounts. Could get quite cumbersome.

Likewise (related to the live view discussed in email), this would render such functionally a bit unworkable.

I am aware that some businesses have one main company but several brands which would mean all inboxes on the same account as logically corre

[2020-07-06 07:09] pranavrajs commented on #830
Moving this to the next sprint as it will not completed by EOD today.

[2020-07-06 07:21] pranavrajs commented on #970
Moving this to the next sprint as it wouldn't be completed by EOD today.

[2020-07-06 08:00] pranavrajs commented on #296
Closed via #1014

[2020-07-06 08:00] #296 closed

[2020-07-06 12:34] thg303 opened #1016 "Translation: Persian/Farsi support"
**Is your enhancement request related to a problem? Please describe.**
It would be great to have Persian / Farsi language in translations. it would help native speakers a lot.

[2020-07-06 12:44] #923 closed

[2020-07-07 18:34] #872 closed

[2020-07-08 18:03] pranavrajs opened #1020 "Feature: Whatsapp template messages"
Add support to send a template from a drop-down where it could initiate a simple message like: "We want to give you an update, please reply so we can do so" etc.

---

This messages have to be approved by Whatsapp. Investigate if there is an API to bring in the approved template messages.

[2020-07-08 18:06] pranavrajs opened #1021 "Feature: Read/Delivered status for Facebook/Twitter/Whatsapp/SMS messages"
- Investigate the APIs needed to fetch the delivered status of a message in Facebook/Twitter/Whatsapp/Twilio

---

- Integrate read/delivered API/webhooks
- Provide an indication at the frontend to indicate that the message has been delivered.

[2020-07-08 18:08] pranavrajs commented on #1009
@iammattmartin Splitting this to 3 different tickets

1 - Building the UX to prevent messages after 24-hour time window
2 - Whatsapp template messages #1020
3 - Read/delivered/undelivered status on messages #1021

[2020-07-08 18:10] pranavrajs commented on #1006
@iammattmartin In our latest release v1.6.x, the users can set themselves as busy. Those users would not be displayed to the user as available. Please let me know if that fixes your issue.

[2020-07-08 18:18] pranavrajs commented on #677
Closing this as we already support multiple languages.

[2020-07-08 18:18] #677 closed

[2020-07-08 18:18] pranavrajs commented on #794
Duplicate #430

[2020-07-08 18:19] #794 closed

[2020-07-09 06:19] pranavrajs opened #1022 "Feature: Activity message for label addition/deletion"
Create an activity message of label addition/deletion.

Acceptance criteria:

1. Whenever a new label is added to the conversation, create a message

[code]

2. Whenever a label is removed to the conversation, create a message

[code]

[2020-07-09 15:23] caseyjhol commented on #140
Do you guys have an estimated target release for this?

[2020-07-09 16:16] pranavrajs commented on #1006
Yes, the user will get the email notifications. Yes, This setting will be remembered between logins.

[2020-07-09 17:46] caseyjhol commented on #620
I'm getting a similar error after deploying to a Linux VM using the deployment script:

[code]

`FRONTEND_URL` is set.

Chatwoot v1.6.1
Ubuntu 18.04

[2020-07-09 17:48] sojan-official commented on #620
@caseyjhol  could you share the URL at `hello@chatwoot.com` so the team can take a look ?

[2020-07-09 18:00] caseyjhol commented on #620
@sojan-official Thanks for the quick response - email sent.

[2020-07-10 13:54] pranavrajs opened #1026 "Feature: Files storage"
Most of the time the customer support person has to share a PDF or doc file to provide more information to the user. Right now, the user has to upload the document every time from his computer.

### Suggestion

Create a separate page for agents/administrator to upload documents used frequently. On the reply box, provide an option to select the file from the already uploaded list instead of asking

[2020-07-10 14:35] pranavrajs commented on #140
@caseyjhol We already have a feature called conversation continuity which does the exact same thing as email channel. There needs to be a thorough QA on the feature as there are a lot of edge cases of email which we saw in our previous experience. I would say v1.8 would be a good point to expect this feature.

[2020-07-10 15:58] pranavrajs opened #1027 "Feature: Update notification on Super Admin panel"
Acceptance criteria:

- Show the current version of Chatwoot on account settings
- Add an Info tab in the super admin panel, show the current version details (possibly release notes as well)
- Provide an update notification if a new version is released. (Make an API call to app.chatwoot.com/info to get the latest version details)

[2020-07-11 16:22] vfasoulas opened #1029 "Agent Availiability not Working"
**Describe the bug**
if I change availabilty in profile/settings nothing change

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Profile Settings'
2. Click on Availability Combobox
3. Select Busy
4. Refresh Page
5. Nothing changes

[2020-07-11 16:24] pranavrajs commented on #1029
@vfasoulas You save the profile using 'Update Profile' button.

<img width="175" alt="Screenshot 2020-07-11 at 9 53 32 PM" src="https://user-images.githubusercontent.com/2246121/87228771-f7fe5980-c3c0-11ea-8fe9-7daf76b24e39.png">

I understand it's confusing, we will improve that UX in future releases.

[2020-07-12 00:01] caseyjhol commented on #140
Seems it's not currently possible to create a new email ticket, correct? Is that something that would be part of the email channel feature?

[2020-07-12 03:42] vfasoulas commented on #1029
It is not working even then.
PS: I m using Greek  Language in My Profile Settigns

[2020-07-12 07:03] pranavrajs commented on #1029
@vfasoulas Then it might something else, we will check it out.

[2020-07-12 11:57] sojan-official commented on #140
@caseyjhol  that is correct, at the moment we only have the functionality to continue through email a conversation initiated over widget. With the email channel feature, conversations will be created from new emails to the added email address.

[2020-07-12 12:01] sojan-official opened #1031 "Chore: Update postgresql version to 12"
In some of our supported installation options, we are using PostgreSQL 9.x
let's migrate everything to 12 to stay consistent

- [ ] update heroku deployments
- [x] create a pull request in caprover one clicks apps
- [ ] update docker files
- [ ] update documentation as required

[2020-07-12 14:16] pranavrajs commented on #1029
@vfasoulas Can you please share a screencast of the behaviour? I did a quick round of testing and everything seems good.

[2020-07-12 17:30] sojan-official commented on #919
ref : https://github.com/rails/rails/pull/28297

[2020-07-12 20:15] iammattmartin commented on #982
Another consideration here is how data from third users is stored (i.e those replying to mid-thread tweets).

Currently they still all appear in the original tweet authors thread.

It would be pertinent to be able to split out a single authors message so when you reply to them and they reply to you, it is consider its own thread.

[2020-07-13 11:21] pranavrajs commented on #1016
Closing this as the associated ticket is merged.

[2020-07-13 11:21] #1016 closed

[2020-07-13 12:10] anubhav8421 opened #1033 "Not able to create an account with an email with hey.com as host address"
**Describe the bug**
I was creating an account on https://app.chatwoot.com/app/auth/signup
Used <my-name>@hey.com as the email address
Negative Validation occurred

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://app.chatwoot.com/app/auth/signup
2. In the email field add, type any email with host as hey.com address
3. Click on the enter password field
4. See error 'Email Invalid

[2020-07-13 13:42] sojan-official commented on #1033
@anubhav8421  the way current flow works is for creating the account you just need an `account name` and `email` . The password is set on the confirmation step

![Screenshot 2020-07-13 at 7 10 15 PM](https://user-images.githubusercontent.com/73185/87311321-b8f51300-c53c-11ea-83e0-5814b7c62f13.png)

there isn't a specific error for @hey.com . But we will reevaluate the UX here since you find it con

[2020-07-13 13:51] anubhav8421 commented on #1033
  🤦🏻‍♂️ This was instinctive. I didn't read the label. Just entered email in the first field and entered the password in the second field.

[2020-07-13 13:51] #1033 closed

[2020-07-14 06:09] #1031 closed

[2020-07-14 13:58] timgl opened #1037 "Deploy to Heroku is broken"
**Describe the bug**

When clicking 'Deploy to Heroku' (or even manually pushing from git repo) the build fails. If you use the button, it won't give you any error. Manually pushing it gave me this:
![image](https://user-images.githubusercontent.com/1727427/87434392-b81aba80-c5ea-11ea-8e49-fda94c70081d.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Click 'deploy to heroku'
2. Build the

[2020-07-14 14:08] pranavrajs commented on #1037
Seems to be related to #1036. We are running db:prepare, so it should not break due to any migration, let me quickly deploy it to Heroku and see.

[2020-07-14 14:18] mohmmd256 opened #1038 "New messages from other channels do not appear as "Unread""
**Describe the bug**
When a user sends a new message to a previously initiated conversation from Facebook or Twitter, then these new messages won't get indicated as "Unread". New messages on conversations from chat widget behave as expected with no issues noticed.

**To Reproduce**
Steps to reproduce the behavior:
1. Initiate a conversation from Facebook or Twitter.
2. Go to 'Conversations' in Cha

[2020-07-14 14:59] Rid opened #1039 "Feature: Integrate Chatwoot into Mattermost"
**Is your feature request related to a problem? Please describe.**
First of all, thanks for an amazing product! It's always great to see new self-hosted projects with a great level of design and development. In this spirit I'd like to suggest Mattermost integration. I'm sure many people such as myself who are using this product are proponents of self-hosting which isn't possible with Slack, so I t

[2020-07-14 16:22] Rid opened #1040 "Self-hosted Twitter integration results in "Sign in with Twitter" loop"
**Describe the bug**
After setting up twitter integration on our self-hosted install using the instructions from https://www.chatwoot.com/docs/twitter-app-setup the "Sign in with Twitter" button takes us to the "Authorize app to access your account?" twitter page, upon clicking authorize, you are then taken back to the `/app/accounts/<ID>/settings/inboxes/new/twitter` page which still displays the

[2020-07-14 16:26] pranavrajs commented on #1040
Most of the people miss this step thinking that this is for development setup. Have you done https://www.chatwoot.com/docs/twitter-app-setup#create-a-dev-environment and do you have access to Business APIs?

[2020-07-14 16:31] Rid commented on #1040
@pranavrajs Thanks for the tip, I had setup a dev environment but assigned it to the wrong app. All working now.

[2020-07-14 16:31] #1040 closed

[2020-07-14 16:33] pranavrajs commented on #1037
@timgl This should be fixed in the latest master. Please check this out.

[2020-07-14 16:33] #1037 closed

[2020-07-14 22:38] iammattmartin commented on #1039
I've also mentioned this, and support for Rocket.chat would be ideal as well.

[2020-07-14 22:40] iammattmartin opened #1042 "feat: Dark Mode"
**Is your enhancement request related to a problem? Please describe.**
No

**Describe the solution you'd like**
A dark mode theme for the staff interface.

**Describe alternatives you've considered**
Can use alternative hacks but these often break notifications on some platforms.

**Additional context**
This would help with late night working whereas most OSs support dark mode for applications whe

[2020-07-14 23:53] iammattmartin opened #1043 "Twitter creating conversation for originated tweets"
**Describe the bug**
If the twitter account added tweets a newly created message, CW creates this as a conversation. Generally this is not required because we know the tweet having created it but it also means that replies will go do that tweet instead of the actual user.

**To Reproduce**
Steps to reproduce the behavior:
1) Tweet from account
2) View new tweet as conversation in CW.

**Expected b

[2020-07-15 01:29] sam-suresh opened #1044 "Default Admin Password for heroku deployment"
Hey

I just deployed to Heroku dyno and the Chatwoot app its pre-installed. However, I can't find the default admin login credentials to the chatwoot app. I did not install and configure it as its already preinstalled on this stack.

Any help appreciated.

[2020-07-15 01:35] sam-suresh commented on #1044
Ok found out I just need to create a new account

[2020-07-15 01:35] #1044 closed

[2020-07-15 05:30] xenera-zhangtao opened #1045 "It not works in subdirectory"
**Is your enhancement request related to a problem? Please describe.**
I deployed chatwoot in subdirectory of my domain, but it not works.
https://mydomian.com/sub-directory/
Because the js and css file can not be read(404 error).
the js and css path is the following
https://mydomian.com/packs/js/application-bec4331ea7ac1866afd7.js

https://mydomian.com/sub-directory/packs/js/application-bec4331ea

[2020-07-15 05:41] pranavrajs commented on #456
Done via #1015

[2020-07-15 05:41] #456 closed

[2020-07-15 05:46] pranavrajs opened #1046 "Feature: Show re-authorize screen for Facebook if the page access token is expired/invalid"
When the users change their Facebook password, the page access token gets invalidated. To overcome this, ask the user to reauthorize the Facebook connection

### Acceptance Criteria

- [ ] Run a cronjob every day to find the invalid token, mark the integration as invalid/needs-reauthorization
- [ ] If the flag is set, show a message in the frontend to reauthorize

https://developers.facebook.com/d

[2020-07-15 05:52] pranavrajs commented on #1039
@iammattmartin / @Rid The current slack integration allows you to reply from Slack, you can create threads and reply from Slack itself. I'm not sure that kind of integration is easy to build. If it is just to post the messages to Mattermost/Rocket.chat, this would be an easy one.

[2020-07-15 05:53] pranavrajs commented on #1038
@mohmmd256 I couldn't reproduce this issue, Can you please a screen-cast of the behaviour?

[2020-07-15 05:54] pranavrajs commented on #1043
@iammattmartin Got the same feedback from other people as well, we will take it up along with other Twitter issues this sprint.

[2020-07-15 06:02] pranavrajs commented on #849
Closed via #874

[2020-07-15 06:02] #849 closed

[2020-07-15 06:09] pranavrajs commented on #918
Closing this as the language is enabled in the version 1.6.x

[2020-07-15 06:09] #918 closed

[2020-07-15 06:36] dixytudla opened #1047 "Attachment capability in Facebook Messenger integration"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I've asked this question to the wonderful founders of Chatwoot and I already have an answer. I'm just logging it in as a formal request in the hopes that it may be added in the future.

It would be nice if the Facebook Messenger integratio

[2020-07-15 07:48] Rid commented on #1039
@pranavrajs For me just posting messages to Mattermost would suffice. At the moment I’m using Slack just for notifications on replies and notifications on iOS. However if those were options in the iOS app, I guess that would make the Mattermost integration redundant.

[2020-07-15 08:20] CL545740896 commented on #620
Error during WebSocket handshake: Unexpected response code: 404

[2020-07-15 10:41] sony-mathew opened #1048 "[Enhancement] Ability to send out an email without summary (just the reply)"
**Is your enhancement request related to a problem? Please describe.**
Right now as part of conversation continuity we are using the ConversationReplyMailer which sends a summary of messages including the incoming messages when an agent replies. Ideally, we want to sent only the reply of that agent and not a summary when Conversation continuity is enabled. Also if we bring in a replay feature to t

[2020-07-15 10:44] sony-mathew commented on #140
Hey guys, I'm aggregating all the email related issues under this thread for the easiness to manage. Gonna keep adding here once I find more issues.

Ability to send out an email without summary (just the reply): https://github.com/chatwoot/chatwoot/issues/1048

[2020-07-15 10:55] vfasoulas commented on #1029
from log file

Started PUT "/api/v1/profile" for 127.0.0.1 at 2020-07-15 03:50:53 -0700
Processing by Api::V1::ProfilesController#update as JSON
  Parameters: {"profile"=>{"name"=>"Φασουλάς Βασίλης", "email"=>"
vfasoulas@hmu.gr", "availability"=>"στη γραμμή"}}
Can't verify CSRF token authenticity.
Completed 500 Internal Server Error in 25ms (ActiveRecord: 1.9ms |
Allocations: 1233)

ArgumentError

[2020-07-15 11:03] #1048 closed

[2020-07-15 11:17] pranavrajs commented on #1029
@vfasoulas The keys were also translated, I've added those to keys to the translation ignore list. #1050 should fix the issue.

[2020-07-15 12:59] sojan-official commented on #620
@CL545740896  have you set the environment variable for `FRONTEND_URL`

[2020-07-15 14:57] iammattmartin commented on #1039
@pranavrajs Same. Being able to get notifications of new conversations, when things are assigned (even being able to set the users slack/mattermost/rocket username so they can be @ replied and also then posts of updated conversations would do just fine.

[2020-07-15 17:25] #1029 closed

[2020-07-15 20:52] mohmmd256 commented on #1038
![ezgif-4-2fba1c1b7a43](https://user-images.githubusercontent.com/7905931/87594515-5ee77f80-c6ed-11ea-8b10-cc9b1dda04cf.gif)

[2020-07-16 03:09] CL545740896 commented on #620
Yes, i had set the FRONTEND_URL  in   .env  file

[2020-07-16 06:24] pranavrajs commented on #1038
@mohmmd256 That's a weird behaviour, we will take a look at it.

[2020-07-16 08:11] sojan-official commented on #620
@CL545740896  could you ping us the installation URL  at `hello@chatwoot.com`. the team can take a look

[2020-07-16 08:33] CL545740896 commented on #620
i had send email to u , and could u have any chat tools ? i can chat with u

[2020-07-16 09:58] sony-mathew commented on #1045
Hey @xenera-zhangtao , Can you try setting `FRONTEND_URL` environment variable's value as `https://mydomian.com/sub-directory/`?

Ref: https://www.chatwoot.com/docs/environment-variables

@pranavrajs Please advise.

[2020-07-16 13:06] sojan-official commented on #620
@CL545740896  you can either use the webchat or connect with us on discord https://discord.gg/cJXdrwS

[2020-07-16 13:08] sojan-official commented on #1045
@xenera-zhangtao using chatwoot on a subdirectory is not advised.   please use a domain/subdomain since we are building features based on that assumption.

[2020-07-16 13:08] #1045 closed

[2020-07-16 19:02] #1047 closed

[2020-07-17 05:47] robinWongM commented on #36
Hi, I'd love to work on it but I ran into a problem. (Sorry that I'm not quite familiar with RoR) Is there anything like abstract channel interface in ChatWoot? If so, I could extend it as a WeChat channel rather than from scratch.

[2020-07-17 05:51] pranavrajs commented on #36
@sojan-official would be able to help. Can you please join our Discord channel for discussions (https://discord.gg/cJXdrwS)?

[2020-07-17 06:48] pranavrajs opened #1053 "Who uses Chatwoot?"
If your company is using Chatwoot as your customer support tool, please let us know.

- Share your company name
- Share your logo
- Share a link to your website
- What kind of company? How large is the team?

[2020-07-17 22:08] WevrLabs commented on #1053
Very much indeed!

- WevrLabs Hosting

![Logo](https://cdn.wevrlabs.xyz/wp-content/uploads/logo-web-solutions-2020.svg)

- [https://wevrlabs.net](https://wevrlabs.net)
- Web hosting industry (9 staff members)

[2020-07-17 22:18] WevrLabs opened #1055 "Enhancement: Notifications for new messages of the same conversation"
**Is your enhancement request related to a problem?**
Browser notifications are triggered (if already enabled) whenever a new conversation is **_created_** or _**assigned**_. However, when new messages arrive at that conversation at a later time, no notifications will be sent, which may cause delays in replying back due to missing out on these new messages at the time they were sent.

**Describe t

[2020-07-18 04:00] CL545740896 opened #1057 "Filter chain halted as :authenticate_user! rendered or redirected"
**Describe the bug**
1. POST "/api/v1/accounts/{account_id}/conversations/{conversation_id}/messages"
2. Can't verify CSRF token authenticity.
3. Filter chain halted as :authenticate_user! rendered or redirected
4. Completed 401 Unauthorized
5. return {
    "errors": [
        "You need to sign in or sign up before continuing."
    ]
}

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '.

[2020-07-18 04:04] CL545740896 commented on #983
#1057
It is  not work in  create message api
https://app.chatwoot.com/api/v1/accounts/1/conversations/2/messages

[2020-07-18 05:22] CL545740896 commented on #1057
Mybe  The Crsf  Problem , So  , I think  it just check the api_acess_token  is enough ! , It doesn't use Crsf

[2020-07-18 06:32] pranavrajs commented on #1055
This is the duplicate of https://github.com/chatwoot/chatwoot/issues/895. Closing this one to track the changes there.

[2020-07-18 06:32] #1055 closed

[2020-07-18 08:04] WevrLabs commented on #1008
Maybe also formatting email messages by adding a little more clarity by enhancing the looks for the agent and client messages, like this example here:

<img width="754" alt="Screen Shot 2020-07-18 at 10 00 16 AM" src="https://user-images.githubusercontent.com/66124192/87848171-dc71e200-c8dd-11ea-9299-c097d5ae9898.png">

[2020-07-18 10:35] WevrLabs commented on #980
Can this also support cross-domain sessions by default?
On widget settings, adding a field to enter domains associated with this channel, and then those domains will share the "Website Token" in the JS script. This will also prevent loading the widget on unauthorized domains.

[2020-07-18 15:02] iammattmartin commented on #1008
If the template is customisable, you could easily do that yourself.

The issue with software generally is forcing you to do something in a set way. For example, we'd not be keen on that kind of lay out whereas others may be.

Giving control over the template and maybe some logic such as defining {if}'s to allow code to be defined on if the visitor or staff and so on.

[2020-07-18 23:21] iammattmartin opened #1058 "Popout Window alternative to in-frame"
**Is your enhancement request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Only having the option to keep the conversation on the website isn't liked by some customers. Many other chat/messenger solutions allow the chat to "popout". That being just a small popout window, no tool bars, just the chat in a new window. Allows the user to continue a chat whilst bein

[2020-07-18 23:28] iammattmartin opened #1059 "Captured data via widget (name/other)"
**Is your enhancement request related to a problem? Please describe.**
No

**Describe the solution you'd like**
As well as ask the users email, their name too to avoid the random names that CW assigns.

Expanding this further, would be good to capture additional data which could be set per inbox. Custom datafields; inputs; dropdown; text area etc.

**Describe alternatives you've considered**
None

[2020-07-19 09:09] pranavrajs opened #1061 "Use name with the email in the reply emails sent from Chatwoot"
<img width="1130" alt="Screenshot 2020-07-19 14 37 39" src="https://user-images.githubusercontent.com/2246121/87871423-ba578d00-c9cd-11ea-8839-af016d264fcf.png">

- Use agent name with email `Name <reply+random_id@reply.verifieddomain.com>` instead `mailer_sender_email`

[2020-07-19 09:11] pranavrajs opened #1062 "The quoted text is shown in the second incoming reply from the user."
<img width="356" alt="Screenshot 2020-07-19 14 40 39" src="https://user-images.githubusercontent.com/2246121/87871449-fee32880-c9cd-11ea-9598-e8063fef9774.png">

Email quoted text is shown in the second incoming reply email from the user.

[2020-07-19 09:12] pranavrajs opened #1063 "[CW-1718] chore: Inline images are shown as attachments in email Channel"
Inline images in the email are shown
<img width="356" alt="Screenshot 2020-07-19 14 40 39" src="https://user-images.githubusercontent.com/2246121/87871476-2f2ac700-c9ce-11ea-90be-29dc2a49a855.png">
 as attachments. It would good to display it inline.

<sub>[CW-1718](https://linear.app/chatwoot/issue/CW-1718/chore-inline-images-are-shown-as-attachments-in-email-channel)</sub>

[2020-07-19 09:15] pranavrajs commented on #533
@sojan-official Is this still required?

[2020-07-19 10:05] #1061 closed

[2020-07-19 13:47] sojan-official commented on #533
haven't seen this is a long while. let's reopen if this occurs.

[2020-07-19 13:47] #533 closed

[2020-07-19 18:06] sojan-official commented on #972
we will be retaining full name as it is easier to manage than first name and last name. Since some names could have multiple middle names as well.
We will be renaming nickname to display name

[2020-07-19 19:09] pranavrajs opened #1069 "Account signups are broken in develop"
[code]

[2020-07-19 19:19] iammattmartin commented on #972
That should work.

Will these variables be exposed to email templates, so we can opt to use either full name or display name as needed?

[2020-07-20 06:24] sojan-official commented on #1057
based on the investigation, it turned out the reason was Nginx skipping the `api_access_token` header.

# Missing (disappearing) HTTP Headers¶

If you do not explicitly set underscores_in_headers on;, NGINX will silently drop HTTP headers with underscores (which are perfectly valid according to the HTTP standard). This is done in order to prevent ambiguities when mapping headers to CGI variables a

[2020-07-20 07:17] #1069 closed

[2020-07-20 12:58] #970 closed

[2020-07-20 12:58] #1057 closed

[2020-07-20 18:12] WevrLabs opened #1073 "Private Note image (or attachment) message is sent to user"
**Describe the bug**
When making a private note in the form of an image or other type of attachment, that message is actually sent to the user as well (observed in Widget and WhatsApp channels)!

**To Reproduce**
Steps to reproduce the behavior:
1. Start a chat from widget or WhatsApp.
2. On Dashboard reply box, switch to Private Note.
3. Select an attachment and send it.
4. See error

**Expected

[2020-07-20 18:25] WevrLabs commented on #1008
Can we weigh in here as well, @sojan-official ?
The observed behavior is that if the agent is the last one to send a message or a reply, the outbound email notification is triggered, even though the user may have read the message in the chatbox already, which I believe there's no need to still send out a notification in this case.

[2020-07-20 18:26] iammattmartin commented on #1008
This would be an entirely different issue and not related to customising that message.

If that happens, would recommend you open a new issue.

[2020-07-20 18:28] WevrLabs commented on #1008
Noted. I'll move it to a separate issue.

[2020-07-20 18:29] pranavrajs commented on #1073
@WevrLabs Can reproduce this issue, we will provide a hot fix for this issue.

[2020-07-20 18:33] pranavrajs opened #1074 "Email replies attach files as links, does not attach as attachment."
![image](https://github.com/chatwoot/chatwoot/assets/2246121/42f80511-9d7c-417f-9483-404bbe3a3024)

Instead of `attachment [Click here to view]` see the possibility to have images as inline to the message.

<sub>From [SyncLinear.com](https://synclinear.com) | [CW-2851](https://linear.app/chatwoot/issue/CW-2851/enhancement-email-replies-doesnot-attach-files)</sub>

[2020-07-20 18:46] WevrLabs opened #1075 "[Enhancement] disable sending out "New messages email notification" if the user already read the message in widget"
**Is your enhancement request related to a problem? Please describe.**
The observed behavior is that if the agent is the last one to send a message or a reply, the outbound email notification is triggered after a short moment to the user, even though the user may have already read the message in the chatbox, which I believe there's no need to still send out an email notification in this case.

**D

[2020-07-21 05:33] pranavrajs opened #1077 "Copy for self-assignment"
Change the copy from "Assigned to Pranav to Pranav" to "Pranav self-assigned this ticket."

<img width="333" alt="Screenshot 2020-07-21 10 59 40" src="https://user-images.githubusercontent.com/2246121/88016687-974dea00-cb41-11ea-8da4-183e2f4fdec4.png">

@sojan-official Thoughts?

[2020-07-21 06:50] #1062 closed

[2020-07-21 07:25] sojan-official commented on #706
@alfredfrancis  we have merged #1052  which should take care of this.

[2020-07-21 07:25] #706 closed

[2020-07-21 07:25] sojan-official commented on #430
merged #1052  which covers this use case.

[2020-07-21 07:25] #430 closed

[2020-07-21 09:58] mr-karan opened #1079 "Enhancement: Docker setup cleanup"
**Is your enhancement request related to a problem? Please describe.**
The Docker setup + docs are **really** confusing for a newcomer to this project. A few problems:

So, if I want to setup a chatwoot server with `Docker` what docs should I be looking at? [This](https://www.chatwoot.com/docs/installation-guide-docker), [this](https://www.chatwoot.com/docs/quick-setup#docker-for-production) or [t

[2020-07-21 10:54] mr-karan opened #1080 "Bug: Wrong directory for volumes in docker compose"
**Describe the bug**

[Here](https://github.com/chatwoot/chatwoot/blob/develop/docker-compose.production.yaml#L47) the path specified for Postgres data is `/data/postgres` which is some random path. Since `PGDATA` variable is unchanged, the path where data should actually be: `/var/lib/postgresql/data`.

Edit: While creating the above issue, I noticed the `Redis` path is wrong as well. According t

[2020-07-21 11:26] pranavrajs commented on #1079
@mr-karan Thanks for the suggestions. I understand the documentation is rough, we are trying to make it better. As a starting point let me split the documents into "Contribution guide" and "Deployment docs" so that the environment setup and project setup can be moved to "Contribution guide" which would make it a little bit and start working from there.

[2020-07-21 11:27] pranavrajs commented on #1080
@sony-mathew / @vishnu-narayanan Can you guys please take a look at this?

[2020-07-21 11:28] pranavrajs commented on #1075
@WevrLabs You are right, we are not considering the user_last_seen_at attribute before sending the email. We will take this as an enhancement.

[2020-07-21 11:31] pranavrajs commented on #1059
@iammattmartin As per the conversation we already had, we would be creating a question-answer bot which can be configured with custom questions and create workflows.

[2020-07-21 11:32] pranavrajs commented on #1058
@iammattmartin We have seen a similar feature in other chat solutions, we will investigate the effort required for it. Taking it as an investigation ticket for the next sprint.

[2020-07-21 15:46] WevrLabs opened #1081 "[Bug] (Conversation Continuity) Email replies do not parse Arabic or UTF characters correctly."
**Describe the bug**
When a user replies back to a conversation via email, if for example they use the Arabic language or put some emojis, it seems they are not interpreted correctly and show as "?????? ???? ????" instead.

**To Reproduce**
Steps to reproduce the behavior (Assuming Conversation Continuity is already enabled and set):
1. Initiate a conv. from chatbox and provide email for the bot.

[2020-07-21 15:54] pranavrajs commented on #1081
We know what we were getting into 😁. That's why we put it under a feature flag. This must be something to do with the encoding in the plain text version of the email. @WevrLabs Can you send a similar content which broke the UI to hello@chatwoot.com

[2020-07-21 16:11] WevrLabs commented on #1081
Noted 👍🏼. Will send you a test message in a bit.

[2020-07-21 21:56] WevrLabs commented on #1081
Update (new observations):
Not sure if it's the intended behavior, but I noticed if a user replies back without quoting the previous messages, then we receive an empty reply on the Dashboard.

[2020-07-22 00:58] iammattmartin commented on #1077
or maybe "Name took ownership" or "Name claimed conversation"

Are they called tickets or conversations? Keeping consistency with working in the UI might be better.

[2020-07-22 05:19] sojan-official commented on #1077
@pranavrajs We can stick with `conversation` since everything in the product is modeled under that name. so my suggestion is. `Pranav self-assigned this conversation` or `Assigned to self by Pranav`

@iammattmartin  using an alternative wording, we will also have to change the text for the case `assigned to user a by user b` . Also the action text of the dropdown is `Assign`, so I would be in favo

[2020-07-22 06:23] #968 closed

[2020-07-22 06:42] mr-karan commented on #1079
@pranavrajs I'd love to help you out with this :) Also, I apologize if the above message sounded rant-y or too harsh. Please know that my intention was most definitely not that.

As a first, I reformatted the `production` docker-compose.yml. The changes:

- Uses `tagged` releases from DockerHub. Doesn't require people to build images locally
- Uses `mounts` with correct path (as mentioned in https

[2020-07-22 09:19] pranavrajs commented on #1079
@mr-karan Thanks for the comment. I really appreciate the effort you took to make it better.

The reason why we used `docker-compose build` instead of using a predefined tag, was to test whether the app is working fine in production. We were having issues which broke the docker builds in production only(like https://github.com/chatwoot/chatwoot/issues/458). production YAML file was introduced as a

[2020-07-22 12:32] kang28ivan opened #1083 "Error Installer on Caprover"
Hi,
I am a new user who has just tried chatwoot.
I do not know whether this is a bug or not, but I have tried several times to install on the caprover it always fails with logs like this.

Is there something wrong with the installation? because I only use one click installer from Caprover

Thank you

[2020-07-22 13:30] pranavrajs commented on #1083
@kang28ivan Can you please try v1.6.3 in version field and see if the error is still there?

<img width="541" alt="Screenshot 2020-07-22 at 6 59 40 PM" src="https://user-images.githubusercontent.com/2246121/88182183-81c5e680-cc4d-11ea-9a8d-8fb0907cf30d.png">

[2020-07-22 13:33] kang28ivan commented on #1083
I already try install from v1.6.0 up to v1.6.3 still same error
I do not understand what is causing the error because the logs only get messages like the one above

is there an easy way to install ubuntu vps?

Thank you.

[2020-07-22 13:38] kang28ivan commented on #1083
Eh, is working now on v1.6.3 before I installed it did not work and an error and now I can't login with  'john@acme.inc' and '123456'
what is the default email and password?

[2020-07-22 14:05] pranavrajs commented on #1083
@kang28ivan You can signup for a new account. Closing this ticket as it is resolved.

[2020-07-22 14:05] #1083 closed

[2020-07-22 18:14] sojan-official commented on #137
closed in https://github.com/chatwoot/chatwoot/commit/8079bf50a0f656c5e3120919e34df3eb5ee25140

[2020-07-22 18:14] #137 closed

[2020-07-22 18:20] sojan-official commented on #485
Closing this as we have other issues tracking this

[2020-07-22 18:20] #485 closed

[2020-07-22 18:43] sojan-official commented on #782
api channel supports this functionality : https://github.com/chatwoot/chatwoot/commit/8079bf50a0f656c5e3120919e34df3eb5ee25140

[2020-07-22 18:43] #782 closed

[2020-07-23 11:09] sojan-official commented on #972
@iammattmartin  yes, the variables will be exposed in email templates

for the first iteration, we will be going in with using display names throughout the platform. But on the dashboard side in the agent's section, the full names will be displayed.

ie.
- full names won't be exposed to customers unless someone doesn't have a display name set or display name is set same as full name
- in the dashb

[2020-07-23 14:39] CL545740896 opened #1086 "would like to add an api to set nicknames for customers"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions you've considered.

**Additional

[2020-07-23 16:15] pranavrajs commented on #1086
Does this doc help?
https://www.chatwoot.com/docs/website-sdk#to-set-the-user-in-the-widget

[2020-07-23 23:41] CL545740896 commented on #1086
Yes  Nice

[2020-07-24 04:49] #1086 closed

[2020-07-24 05:21] sojan-official commented on #988
Note:

- Chatwoot now supports API channels: https://github.com/chatwoot/chatwoot/commit/8079bf50a0f656c5e3120919e34df3eb5ee25140

the flow for creating a conversation via API goes like this
- create a contact, with inbox_id and source_id in params
  ( if source id isn't provided. chatwoot will automatically generate a source id )
- use the source id to create a conversation on behalf of the conta

[2020-07-24 07:12] CL545740896 opened #1089 "Maybe It can add a input to search keyword of chat msg"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions you've considered.

**Additional

[2020-07-24 07:32] CL545740896 commented on #1089
And  Then , we can setting the chat widgets  height  and  width  in sdk , is friendly

[2020-07-24 18:04] #1079 closed

[2020-07-25 06:16] mr-karan commented on #1080
I guess this can be closed now :)

[2020-07-25 06:16] #1080 closed

[2020-07-25 16:24] #821 closed

[2020-07-25 17:24] #1009 closed

[2020-07-25 17:25] pranavrajs commented on #1073
This was closed via #1084

[2020-07-25 17:25] #1073 closed

[2020-07-25 21:25] a7medo778 opened #1093 "Chat tickets"
**Is your feature request related to a problem? Please describe.**
well some times an agent receives a request in the chat that he have to involve other team members to discuss intenally and take action accordingly

**Describe the solution you'd like**
like the "Assign" button, have a "Turn into a ticket" button that will create a ticket in a tickets section that everyone can see and work with

**

[2020-07-26 07:24] #915 closed

[2020-07-26 08:25] WevrLabs commented on #1093
Our workaround for this was by creating a label called "Tickets" and if a conversation needs further collaboration, it would be assigned that label, and later other agents can filter "Tickets" conversations and participate utilizing the private notes feature. But I agree, having the ability to assign more than or mention other agents in a conversation would be a plus.

[2020-07-26 08:34] sojan-official commented on #1093
Conversations are essentially tickets in chatwoot.  Down the road rather than one assignee the conversation would have multiple participants so that notifications are delivered to each participant.
As for immediate changes, we have the ability to tag other agents in private notes coming up sooner in our pipeline.

[2020-07-26 17:19] pranavrajs commented on #1027
Now the current version will be shown as follows:

Dashboard:
<img width="1192" alt="Screenshot 2020-07-26 at 10 48 55 PM" src="https://user-images.githubusercontent.com/2246121/88485262-30da2900-cf92-11ea-8a4d-200b5f938c48.png">

Super admin panel:
<img width="229" alt="Screenshot 2020-07-26 at 10 49 10 PM" src="https://user-images.githubusercontent.com/2246121/88485265-39cafa80-cf92-11ea-894f-43

[2020-07-26 17:57] pranavrajs commented on #967
@petebytes The message has been renamed to greeting message which is meant to be sent for all users. The use case which you are suggesting would be covered via #234. You would be able to set a time when you will be available and a different message if you are unavailable.

[2020-07-26 18:48] petebytes commented on #967
Ah! that makes sense.
This project is crazy active - keep up the amazing job.

[2020-07-26 18:48] #967 closed

[2020-07-26 22:52] kristinh12 commented on #1022
@pranavrajs
👋 I'm new to the project, is it alright if I work on this issue?

[2020-07-27 05:26] pranavrajs commented on #1022
@kristinh12 Feel free to take it 👍

[2020-07-27 16:49] #972 closed

[2020-07-27 23:58] iammattmartin opened #1098 "Inbox tree sorting"
**Is your enhancement request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Currently if you have lots of Inboxes, there is no sort order to them which can make management difficult. It would be nice to be able to group them by type (i.e facebook), or alphabetically... or even custom sort order (i.e we'd group them in brands).

[2020-07-28 05:52] rocketkittens opened #1099 "Docker documentation is unclear"
The documentation for this project is poor, which is really unfortunate it looks good based on the screenshot and i like open source. However, i spent two nights trying to start the app and now i'm giving up until there is an improvement in the documentation for this project.

Hope to contribute in the future if i can get the app to run.

[2020-07-28 06:42] sojan-official commented on #1099
@rocketkittens could you detail what errors prevented you from getting the app to run?  are you trying out to run the app in your local machines or on a VM for production?

to try it out in local you could use : https://www.chatwoot.com/docs/installation-guide-docker#production-environment
[code]

we are also available on discord if you need support getting it to run https://discord.gg/cJXdrwS

[2020-07-28 06:43] sojan-official commented on #1098
@iammattmartin is it for the inbox management page or where its shown on the sidebar?

[2020-07-28 07:39] rocketkittens commented on #1099
I'll give it another shot and try to provide details, give me some time, and thank you for providing the resources.

[2020-07-28 09:20] iammattmartin commented on #1098
This was referring to the side panel but I guess if you're applying a sort, it may as well just be used on both pages for consistency.

[2020-07-29 21:38] ngokevin commented on #411
For anyone else with this issue using Heroku, I had to enable the queue dyno in Heroku, it was disabled by default.

[2020-07-29 23:49] iammattmartin opened #1100 "Customise Widget per Inbox"
**Is your enhancement request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Currently the widget looks the same for all sites (except colours and logos). Being able to change the font to match the site, including the colours and size as well as the background colours and each element of the widget.

Also being able to set the widget blob icon via the Inbox setti

[2020-07-30 00:28] iammattmartin opened #1101 "IP Restricted Logins"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Similar to #486, it would be good for security to limit logins to specific IP addresses or even the admin interface entirely.

[2020-07-31 06:57] pranavrajs commented on #1046
`Facebook::Messenger::FacebookError: Error validating access token: The session has been invalidated because the user changed their password or Facebook has changed the session for security reasons.`

[2020-07-31 07:07] pranavrajs opened #1105 "undefined method `available_name' for nil:NilClass"
ConversationReplyMailer#reply_with_summary

[code]

[2020-07-31 10:27] #1105 closed

[2020-07-31 22:16] iammattmartin opened #1109 "feat: Widget to retain state ( chat screen / knowledge article page )"
**Is your enhancement request related to a problem? Please describe.**
No

**Describe the solution you'd like**
If a user has the widget open and chatting, if they move between pages, the widget should retain state. i.e if it was open before, it should remain open. Otherwise the user has to keep opening it between pages. Likewise, if closed, should remain closed.

This will be helped with the #105

[2020-08-01 14:45] iammattmartin opened #1111 "Webhooks Image Missing"
**Describe the bug**
On the webhooks page, it links to an image which appears missing on later builds.

/assets/dashboard/integrations/cable.svg

**To Reproduce**
Go to webhooks page in the control panel.

**Screenshots**
![Screenshot 2020-08-01 at 3 44 58 PM](https://user-images.githubusercontent.com/15971590/89104018-fb0fc700-d40d-11ea-8036-844d3ebf0e25.png)

[2020-08-01 14:52] pranavrajs commented on #1109
@iammattmartin I'm not sure about the right practice here. Let me investigate.

[2020-08-02 15:46] pranavrajs commented on #1038
@WevrLabs Did you use our mobile app?

[2020-08-02 16:09] WevrLabs commented on #1038
Hi @pranavrajs !
Yes, I've been trying it for the past couple of weeks (Android version).

[2020-08-02 16:31] pranavrajs commented on #1038
Thanks for confirming that.

[2020-08-02 19:22] iammattmartin commented on #972
Just wanted to add to this, in the 1.7.0 release added on our end.

The "Display Name" also shows on the admin side when I think many would expect to see the full staff name "internally" but the display name "externally".

You may want to show a limited name in public i.e "Matt" but want to show the full name internally to identify the staff member when you have more than one with the same name et

[2020-08-02 21:41] shaharyar-shamshi opened #1116 "This project is interesting I want to contribute to it"
This project is very much interesting and I want to contribute to it as open source developer can anybody help me with code walkthrough for better understanding

[2020-08-03 05:52] pranavrajs commented on #1098
I think we can start with sort the alphabetical order and work from there.

[2020-08-03 07:52] #1111 closed

[2020-08-03 08:10] #1038 closed

[2020-08-03 10:21] sojan-official opened #1118 "Enhancement: Limit email continuity to web-widget and email channels"
implement conditions before sending the email
- whether the last message was through email
- check whether the message is from web widget and its a case of conversation continuity ( ie user gave email and went offline )

for future: Indication on the UI whether the message will be sent to the widget or to email

[2020-08-03 10:26] converso-chat opened #1119 "WhatsApp Gupshup Integration"
** Is your feature request related to a problem? Please describe. **
This is not a problem. I would like to suggest the integration of Gupshup WhatsApp. The rates are much more attractive than Twilio, in addition to having interactive buttons in the message templates.

** Describe the solution you'd like **
Integrate gupshup.io

** Describe alternatives you've considered **
Gupshup API is much bet

[2020-08-03 13:14] sojan-official commented on #1116
@shaharyar-shamshi  Thanks a lot for your interest in contributing to Chatwoot. We don't have a code walkthrough video at the moment, its something which we are working on.

But you can get started right away if you have some experience in Ruby on Rails & Vue.js.

If you are new to either of those, the following links should help you get started.
https://vuejs.org/v2/guide/
https://www.learnenough

[2020-08-03 23:29] WevrLabs commented on #1118
Thanks for the prompt response in adding this to the To-Do!

------------
I want to add a note on this point here,

Maybe the condition for triggering the email could be the "read" status, rather than the "online/offline" status? This is because in some cases a user would have the window open but not focused or minimized, etc, and if there were new messages added, they may get missed if the user c

[2020-08-04 07:28] #1116 closed

[2020-08-04 12:13] Nancy-Chauhan commented on #1042
I would like to pick this issue. Is this open? @pranavrajs @iammattmartin

[2020-08-04 12:46] pranavrajs commented on #1042
@Nancy-Chauhan please feel free to take it.

[2020-08-04 14:17] amesas commented on #657
This is a must to compete with intercom!

[2020-08-04 22:36] danirolopes opened #1120 "Chat history from $chatwoot.setUser()"
**Is your enhancement request related to a problem? Please describe.**
I don't if this is a bug or an enhancement, but...

I'm trying to use the $chatwoot.setUser function on the website SDK.
As you say in the docs, I do use $chatowoot.reset every time the user logs out.

But, when the user logs in again, the chat history is lost for him. Is this the intended behavior (the conversation is only ava

[2020-08-05 01:11] iammattmartin commented on #1119
The better solution would be native integration with WhatsApp.

Otherwise, you'll see lots of "please integrate with X to get Y".

[2020-08-05 01:14] iammattmartin opened #1121 "Country Restricted Widget"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
For one of our brands, it attracts a specific type of customer profile from higher risk countries. We would like the widget to just not show on the page.

**Describe alternatives you've considered**
We could integrate with some geo IP lookup on the page but there are places where this is no

[2020-08-05 10:53] pranavrajs commented on #1119
@iammattmartin Some businesses might not have the Whatsapp Business API access, it is advised to go through a vendor to get the access. This is one of the reasons why didn't go with the actual Whatsapp API implementation rather selected a vendor that works for most of the countries.

[2020-08-05 10:55] iammattmartin commented on #1119
I agree. My comment was more inferring that CW may opt to integrate direct and become the gateway than have to integrate with every possible aggregator like Twilio or Gupshub etc.

[2020-08-05 11:04] pranavrajs opened #1122 "Display location, IP of the user who have initiated the conversation"
- Display location (Place, Country)
- Display IP address on the sidebar

[2020-08-05 11:10] pranavrajs commented on #1121
@iammattmartin There are 2 different requests in the issues

1. Block the user based on IP / Location
2. View the users IP & Location

I moved the second one to https://github.com/chatwoot/chatwoot/issues/1122, we will do that as part of CRM capabilities in the next sprint.

To restrict the conversations from a particular country/location, we might need to add IP based filter which is mostly depen